USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SCREENGROUPD]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_SCREENGROUPD]
	@HeaderID bigint = 0, 
	@ScreenID varchar(50) = '', 
	@CanView char(1) = 0, 
	@CanInsert char(1) = 0, 
	@CanUpdate char(1) = 0, 
	@CanDelete char(1) = 0, 
	@CanExport char(1) = 0, 
	@CanUpload char(1) = 0, 
	@NeedApproval char(1) = 0, 
	@UpdatedBy varchar(50) = '', 
	@UpdatedHost varchar(20) = ''
AS
	UPDATE tblM_ScreenGroupDetail 
	SET CanView = @CanView, 
		CanInsert = @CanInsert, 
		CanUpdate = @CanUpdate, 
		CanDelete = @CanDelete, 
		CanExport = @CanExport, 
		CanUpload = @CanUpload, 
		NeedApproval = @NeedApproval, 
		UpdatedBy = @UpdatedBy, 
		UpdatedHost = @UpdatedHost, 
		UpdatedDate = GETDATE() 
	WHERE ScreenGroupID = @HeaderID 
		AND ScreenID = @ScreenID

GO
