USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_AFTERRSCRIPT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_AFTERRSCRIPT]      
(      
 @MODEL_ID BIGINT       
)      
AS                          
BEGIN        
  
 DELETE IFRS_MULT_LINEAR_REGR_RESULT_TEMP WHERE MODEL_ID = @MODEL_ID  
      
 INSERT INTO IFRS_MULT_LINEAR_REGR_RESULT_TEMP(      
  MODEL_ID,      
  MODEL_SEQ,      
  RESIDUAL_STD_ERR,      
  DEG_OF_FREEDOM,      
  MULT_R_SQUARED,      
  ADJ_R_SQUARED,      
  F_STATISTIC,      
  P_VALUE,      
  RESIDUAL_MIN,      
  RESIDUAL_1Q,      
  RESIDUAL_MEDIAN,      
  RESIDUAL_3Q,      
  RESIDUAL_MAX,      
  DF_REGR,      
  DF_RESD,      
  DF_TOTAL,      
  SUM_OF_SQR_REGR,      
  SUM_OF_SQR_RESD,      
  SUM_OF_SQR_TOTAL,      
  MEAN_SUM_OF_SQR_REGR,      
  MEAN_SUM_OF_SQR_RESD,     
  SELECTED_FLAG)      
 SELECT       
  MODEL_ID,      
  MODEL_SEQ,      
  RESIDUAL_STD_ERR,      
  DEG_OF_FREEDOM,      
  MULT_R_SQUARED,      
  ADJ_R_SQUARED,      
  F_STATISTIC,      
  P_VALUE,      
  RESIDUAL_MIN,      
  RESIDUAL_1Q,      
  RESIDUAL_MEDIAN,      
  RESIDUAL_3Q,      
  RESIDUAL_MAX,      
  DF_REGR,      
  DF_RESD,      
  DF_TOTAL,      
  SUM_OF_SQR_REGR,      
  SUM_OF_SQR_RESD,      
  SUM_OF_SQR_TOTAL,      
  MEAN_SUM_OF_SQR_REGR,      
  MEAN_SUM_OF_SQR_RESD,      
  0      
 FROM TMP_IFRS_MULT_LINEAR_REGR_RESU      
 WHERE MODEL_ID = @MODEL_ID      
  
 SELECT 1 AS SUCCESS  
              
END
GO
