USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_DEFRATE_AVG]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_PD_DEFRATE_AVG]  
(  
 @RuleID int=0,  
 @Period date = '1900-01-01'  
)  
as  
begin  
 Select distinct 
  A.EFF_DATE as PERIOD, 
  CASE WHEN A.BUCKET_ID < C.MAX_BUCKET_ID THEN  
	ISNULL(B.SUB_BUCKET_GROUP, B.BUCKET_NAME)
  ELSE 
    'TOTAL'
  END as BUCKET,  
  A.DEFAULT_RATE_AVG * 100 as AVERAGE  
 From IFRS_PD_DEFAULT_RATE_AVG A   
 JOIN IFRS_IMPC_BUCKET_PARAM B   
 ON A.BUCKET_GROUP = B.BUCKET_GROUP   
 AND A.BUCKET_ID = B.BUCKET_ID   
 AND A.DR_RULE_ID = @RuleID   
 AND A.EFF_DATE = @Period  
 JOIN VW_IFRS_MAX_BUCKET C
 ON A.BUCKET_GROUP = C.BUCKET_GROUP
end 

GO
