USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOGEDINUSER]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOGEDINUSER]        
(        
 @UserId varchar(36)        
 ,@Host varchar(20)        
)         
as          
SELECT *           
FROM tblT_LogedInUser           
WHERE UserId = @UserId        
AND Host = @Host          
AND DATEDIFF(mi, LastActivity, GETDATE()) > (SELECT ISNULL(CommonUsage, 20) FROM tblM_CommonCodeHeader WHERE CommonCode = 'AP012')






GO
