USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_NCDMODULEJOURNALIMPAIR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_NCDMODULEJOURNALIMPAIR]
(
    @DDATE_MAID VARCHAR(50)=''
)
AS
BEGIN
   
	SELECT A.DOWNLOAD_DATE,
               A.ACCOUNT_NUMBER AS ACCOUNT_NUMBER,
			   A.BRANCH_CODE,
			   PRD_CODE,
			   '' TRX_CODE,
			   EXCHANGE_RATE,
               GL_ACCOUNT,
               JOURNAL_TYPE,
               JOURNAL_DESC,
               A.CURRENCY,
               TXN_TYPE AS DB_CR,
               AMOUNT,
               REVERSAL_FLAG AS REVERSE,
			   AMOUNT_IDR AS AMOUNT_BASE
        FROM IFRS_IMP_JOURNAL_DATA A
		LEFT JOIN IFRS_MASTER_ACCOUNT B ON B.MASTER_ACCOUNT_CODE = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))
			AND B.DOWNLOAD_DATE <= CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10), 111)
			AND A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER
        WHERE A.ACCOUNT_NUMBER = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))
            AND A.DOWNLOAD_DATE <= CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10), 111)
    ORDER BY DOWNLOAD_DATE,JOURNAL_TYPE,CURRENCY,REVERSAL_FLAG DESC,DB_CR DESC; 
    
END;


GO
