USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_FUNDINGREPORTRECON]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_FUNDINGREPORTRECON]
(
	@DOWNLOAD_DATE as date = '01-Jan-2000',
	@ACCOUNT_NUMBER as varchar(50) = ''
)
AS
BEGIN

		SELECT
			DOWNLOAD_DATE AS "Download Date"
			,ACCOUNT_NUMBER AS "Account Number"
			,PRODUCT_CODE AS "Product Code"
			,CCY AS "Currency"
			,(UNAMORT_GL_FEE_AMT + UNAMORT_GL_COST_AMT) AS "Unamortized Amount"
			,INITIAL_GL_COST_AMT AS "Initial Cost"
			,UNAMORT_GL_COST_AMT AS "Unamortized Cost"
			,AMORT_GL_COST_AMT AS "Amort Cost"
			,MTD_AMORT_GL_COST_AMT AS "MTD Amort Cost"
			,YTD_AMORT_GL_COST_AMT AS "YTD Amort Cost"
			,COUNTER_CHECK_COST AS "Counter Check Cost"
			,COUNTER_CHECK_COST AS "Counter Check Movement Cost"
			,'' AS "Reclass Impact"
		FROM IFRS_LI_LOAN_REPORT_RECON
		WHERE DOWNLOAD_DATE = @DOWNLOAD_DATE
			AND ACCOUNT_NUMBER LIKE '%'+@ACCOUNT_NUMBER+'%'

END

GO
