USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADFORECASTRESULT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_LOADFORECASTRESULT]            
(         
 @ME_CODE VARCHAR(100),
 @CREATEDBY VARCHAR(36)
)            
AS            
BEGIN            
            
	SELECT       
		ROW_NUMBER() OVER(ORDER BY FL_PERIOD) AS NO,      
		FL_PERIOD AS FL_PERIOD,      
		CASE WHEN REMARKS = 'UPLOAD' THEN ME_CODE_UPLOAD ELSE ME_CODE END AS ME_CODE,      
		FL_VAL AS FL_VAL,
		CASE WHEN ME_CODE <> ME_CODE_UPLOAD THEN 'Variable does not exist' END AS STATUS
	FROM IFRS_ME_FORECAST_DETAIL_TEMP A
	WHERE ME_CODE = @ME_CODE
		AND CREATEDBY = @CREATEDBY
		
END; 

GO
