USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ACBMHEADER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_ACBMHEADER]  
AS  
BEGIN  

 --CREATE TABLE #TABLE_TEMP(
 -- PKID  BIGINT,
 -- SPPI_CLASS VARCHAR(MAX),
 -- EFFECTIVE_DATE DATE,
 -- BM_RSLT VARCHAR(100),
 -- STATUS VARCHAR(100)
 --) 

 --INSERT INTO #TABLE_TEMP
 
SELECT * FROM (SELECT A.PKID,
 A.BM_NAME,
  --B.CLASSNAME AS SPPI_CLASS,
  A.EFFECTIVE_DATE,
  CASE A.BM_RSLT
  WHEN 'AFS' THEN 'Hold to Collect and Sell'
  WHEN 'HTM' THEN 'Hold to Collect'
  WHEN 'TRADE' THEN 'Others'
  END AS BM_RSLT,
  A.STATUS,
  CASE WHEN A.UPDATEDDATE IS NULL
	THEN A.CREATEDDATE
	ELSE A.UPDATEDDATE
 END AS DATE,
 USERS.USERNAME
 FROM IFRS_AC_BM_HEADER A  
 --LEFT JOIN IFRS_AC_SPPI_HEADER B ON 1 = 1
 INNER JOIN TBLM_USER USERS
 ON A.CREATEDBY = USERS.PKID
 WHERE ISNULL(A.IS_DELETE,0) = 0) X
 ORDER BY X.DATE DESC
 --AND b.PKID IN(
 --(SELECT ISNULL(iif(VALUE = '','',VALUE),'') FROM dbo.STRING_SPLIT((     
 --  SELECT DISTINCT List_Output FROM    (      SELECT STUFF((SELECT ',' + CAST(SPPI_CLASS AS VARCHAR(MAX)) [text()] FROM IFRS_AC_BM_HEADER where IS_DELETE = 0     FOR XML PATH(''), TYPE)     .value('.','NVARCHAR(MAX)'),1,1,'') List_Output    FROM IFRS_AC_BM_HEADER    )
 --c  
 -- ), ',')))

  --SELECT DISTINCT PKID, SPPI_CLASS = 
  --  STUFF((SELECT ', ' + SPPI_CLASS
  --         FROM #TABLE_TEMP b 
  --         WHERE b.PKID = a.PKID
  --        FOR XML PATH('')), 1, 2, '') 
		--  ,EFFECTIVE_DATE,BM_RSLT,STATUS
		--   FROM #TABLE_TEMP A
	 

  --DROP TABLE #TABLE_TEMP

  --SELECT * FROM IFRS_AC_BM_HEADER
END

GO
