USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_LIGHT_MODEL_DETAIL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPS_PD_LIGHT_MODEL_DETAIL]
(
	@PKID bigint = 0
)
as
begin
	select * from IFRS_LIGHT_PD_CONFIG	
	where PKID = @PKID
end

GO
