USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMCOAPL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPD_PARAMCOAPL]
(
	@PKID bigint = 0
)          
AS
BEGIN  

	DELETE FROM GL_PARAM_COA_PL_HO
	WHERE PKID = @PKID

END

GO
