USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPROVEDREJECTEDLOGUPLOAD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_APPROVEDREJECTEDLOGUPLOAD]
@UserID VARCHAR(36) = ''
AS
BEGIN
	
	SELECT TOP 2000
		CASE WHEN STATUS = 'APPROVED' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
		,'UPLOAD' AS "ACTION"
		,r.MAPPINGDESCRIPTION AS "MODULE_NAME"
		,s.Title AS "SCREEN_NAME"
		,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.APPROVEDBY) as "UPDATED_BY"
		,A.APPROVEDDATE AS "UPDATED_DATE"
		,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.CREATEDBY) AS "UPLOADED_BY"
		,A.CREATEDDATE AS "UPLOADED_DATE"
		,A.CREATEDHOST AS "UPLOADED_HOST"
		,A.UPLOADID AS PKID
	FROM TBLT_UPLOAD_POOL A
	INNER JOIN tblM_User u WITH (NOLOCK) ON u.PKID = A.CREATEDBY AND u.PKID = @UserID
	INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'PARTIAL_UPLOAD'       
	INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
	INNER JOIN TBLM_MAPPINGRULEHEADER_NEW r WITH (NOLOCK) ON A.MAPPINGID = r.PKID
	WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
		AND A.STATUS IN ('APPROVED','REJECTED')
		AND A.APPROVEDDATE >
			(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
				AND CAST(USERID AS varchar(36)) = @UserID)
	ORDER BY A.UPDATEDDATE DESC
	
END

GO
