USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_FUNTRANSFEECOSTMONITORING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPR_FUNTRANSFEECOSTMONITORING]  
(  
@DOWNLOAD_DATE_FROM date = '1/1/2000'  
,@DOWNLOAD_DATE_TO date = '1/1/2000'  
,@AMORTIZATION_TYPE varchar(10) = ''  
)  
AS  
BEGIN  
declare @QUERY varchar(max)  
  
if @AMORTIZATION_TYPE = 'EYR'  
 set @AMORTIZATION_TYPE = 'EIR'  
else if @AMORTIZATION_TYPE = 'BOT'  
 set @AMORTIZATION_TYPE = ''  
  
 SELECT  
  DOWNLOAD_DATE AS "Download Date"  
  ,DOWNLOAD_DATE "Transaction Date"  
  ,DATASOURCE "Data Source"  
  ,CIFNO "Customer Number"  
  ,ACCTNO "Account Number"  
  ,PRD_CODE "Product Code"  
  ,BRCODE "Branch Code"  
  ,TRX_CODE "Transaction Code"  
  ,CASE WHEN FLAG_CF = 'C' THEN 'COST' ELSE'FEE' END "Transaction Classification"  
  ,CCY "Currency"  
  --,'' "DB/CR" 
  ,FLAG_REVERSE "Flag Reverse" 
  ,AMOUNT "Transaction Cost"  
  ,METHOD "Amortization Type"  
  ,STATUS "Account Status"  
  ,'' "Remarks"  
 FROM IFRS_LI_ACCT_COST_FEE  
 WHERE DOWNLOAD_DATE between @DOWNLOAD_DATE_FROM and @DOWNLOAD_DATE_TO  
  and METHOD like '%'+@AMORTIZATION_TYPE+'%'  
   
END

GO
