USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCCYBYINSTCLSSPRDTP1]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPCCYBYINSTCLSSPRDTP1]
(
	@INST_CLS_VALUE VARCHAR(10) = ''
	--,@PRD_TYPE1 VARCHAR(100) = ''
)
AS
BEGIN

	SELECT DISTINCT CCY,  
		CCY "Currency" 
	FROM IFRS_MASTER_PRODUCT_PARAM
	WHERE INST_CLS_VALUE = @INST_CLS_VALUE
		--AND ASSET_TYPE_PRODUCT1 = @PRD_TYPE1

END

GO
