USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PROCESSEDPRODUCT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_PROCESSEDPRODUCT]  
 @CLASSID int  
AS  
select --PKID,
DATA_SOURCE,
 SPPI_Level,
 Key_Value,
 Info1,
 info2,
 info3,
 info4   
from [IFRS_AC_SYNC_LIST_VALUE] A  
JOIN (SELECT VALUE FROM dbo.STRING_SPLIT((SELECT PRODUCT_CODE FROM IFRS_AC_SPPI_HEADER WHERE PKID = @CLASSID), ','))B ON A.KEY_VALUE = B.Value  
WHERE A.INST_CLS_VALUE = 'A'  
-- AND ISNULL(A.IS_DELETE,0) = 0  

GO
