USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPMODELNAME]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROC [dbo].[USPS_LOOKUPMODELNAME]    
 @PKID int = 0,  
 @STATUS char ='V'  
AS    
BEGIN    
IF @PKID = 0  
BEGIN  
 select PKID VALUE_FIELD,MODEL_NAME TEXT_FIELD    
 from IFRS_MACRO_ECONOMIC_MODEL      
 WHERE STATUS = @STATUS  AND IS_DELETE = 0   
END  
ELSE  
BEGIN  
 select PKID VALUE_FIELD,MODEL_NAME TEXT_FIELD    
 from IFRS_MACRO_ECONOMIC_MODEL      
 WHERE PKID = @PKID AND IS_DELETE = 0   
END  
END  


GO
