USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IFRS_ME_FORECAST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_IFRS_ME_FORECAST]
(         
 @ME_CODE VARCHAR(100),
 @CreatedBy AS VARCHAR(100)
)            
AS            
BEGIN
DECLARE @INPUT INT
DECLARE @ACTION VARCHAR(30)

IF EXISTS(SELECT * FROM IFRS_ME_FORECAST WHERE ME_CODE = @ME_CODE)
	SET @ACTION = 'UPDATE_WO_APPROVAL'
ELSE
	SET @ACTION = 'INSERT_WO_APPROVAL'

SET @INPUT = (SELECT ISNULL(MAX(INPUT), 0) + 1 FROM IFRS_ME_FORECAST_HIST WHERE ME_CODE = @ME_CODE)
	
		IF EXISTS(SELECT * FROM IFRS_ME_FORECAST WHERE ME_CODE = @ME_CODE AND ISNULL(IS_DELETE, 0) = 0)
		BEGIN
			UPDATE A
				SET METHOD = B.METHOD,
				FL_PERIOD = B.FL_PERIOD,
				FL_PERIOD_FROM = B.FL_PERIOD_FROM,
				FL_PERIOD_TO = B.FL_PERIOD_TO,
				UPDATEDBY = B.CREATEDBY,
				UPDATEDDATE = B.CREATEDDATE,
				UPDATEDHOST = B.CREATEDHOST
			FROM IFRS_ME_FORECAST A
			LEFT JOIN IFRS_ME_FORECAST_TEMP B ON A.ME_CODE = B.ME_CODE AND B.CREATEDBY = @CreatedBy
			WHERE A.ME_CODE = @ME_CODE

			DELETE FROM IFRS_ME_FORECAST_DETAIL WHERE ME_CODE = @ME_CODE
			INSERT INTO IFRS_ME_FORECAST_DETAIL
			(
				[ME_CODE],
				[FL_PERIOD],
				[FL_VAL],
				[REMARKS],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			)
			SELECT
				[ME_CODE],
				[FL_PERIOD],
				[FL_VAL],
				[REMARKS],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			FROM IFRS_ME_FORECAST_DETAIL_TEMP
			WHERE ME_CODE = @ME_CODE
				AND CREATEDBY = @CreatedBy
			ORDER BY FL_PERIOD
		END
		ELSE
		BEGIN
			DELETE FROM IFRS_ME_FORECAST WHERE ME_CODE = @ME_CODE
			INSERT INTO IFRS_ME_FORECAST
			(
				[ME_CODE],
				[METHOD],
				[FL_PERIOD],
				[FL_PERIOD_FROM],
				[FL_PERIOD_TO],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			)
			SELECT
				[ME_CODE],
				[METHOD],
				[FL_PERIOD],
				[FL_PERIOD_FROM],
				[FL_PERIOD_TO],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			FROM IFRS_ME_FORECAST_TEMP
			WHERE ME_CODE = @ME_CODE
				AND CREATEDBY = @CreatedBy

			--HIST
			INSERT INTO IFRS_ME_FORECAST_HIST
			(
				[ME_CODE],
				[METHOD],
				[FL_PERIOD],
				[FL_PERIOD_FROM],
				[FL_PERIOD_TO],
				[INPUT],
				[APPROVAL_REMARKS],
				[STATUS],
				[ACTION],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST],
				[UPDATEDBY],
				[UPDATEDDATE],
				[UPDATEDHOST],
				[APPROVEDBY],
				[APPROVEDDATE],
				[APPROVEDHOST]
			)
			SELECT
				A.[ME_CODE],
				A.[METHOD],
				A.[FL_PERIOD],
				A.[FL_PERIOD_FROM],
				A.[FL_PERIOD_TO],
				@INPUT,
				'',
				'APPROVED',
				@ACTION,
				A.[CREATEDBY],
				A.[CREATEDDATE],
				A.[CREATEDHOST],
				A.[UPDATEDBY],
				A.[UPDATEDDATE],
				A.[UPDATEDHOST],
				NULL,
				NULL,
				NULL
			FROM IFRS_ME_FORECAST_TEMP A
			WHERE A.ME_CODE = @ME_CODE
				AND A.CREATEDBY = @CreatedBy

			DELETE FROM IFRS_ME_FORECAST_DETAIL WHERE ME_CODE = @ME_CODE
			INSERT INTO IFRS_ME_FORECAST_DETAIL
			(
				[ME_CODE],
				[FL_PERIOD],
				[FL_VAL],
				[REMARKS],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			)
			SELECT
				[ME_CODE],
				[FL_PERIOD],
				[FL_VAL],
				[REMARKS],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			FROM IFRS_ME_FORECAST_DETAIL_TEMP
			WHERE ME_CODE = @ME_CODE
				AND CREATEDBY = @CreatedBy
			ORDER BY FL_PERIOD
		END
	
	UPDATE IFRS_ME_FORECAST SET FL_PERIOD_FROM = NULL, FL_PERIOD_TO = NULL WHERE ME_CODE = @ME_CODE AND METHOD = 'UPLOAD'

	--INSERT HISTORY
	INSERT INTO IFRS_ME_FORECAST_HIST
	(
		[ME_CODE],
		[METHOD],
		[FL_PERIOD],
		[FL_PERIOD_FROM],
		[FL_PERIOD_TO],
		[INPUT],
		[APPROVAL_REMARKS],
		[STATUS],
		[ACTION],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)
	SELECT
		A.[ME_CODE],
		A.[METHOD],
		A.[FL_PERIOD],
		A.[FL_PERIOD_FROM],
		A.[FL_PERIOD_TO],
		@INPUT,
		'',
		'APPROVED',
		@ACTION,
		A.[CREATEDBY],
		A.[CREATEDDATE],
		A.[CREATEDHOST],
		B.[CREATEDBY],
		B.[CREATEDDATE],
		B.[CREATEDHOST],
		NULL,
		NULL,
		NULL
	FROM IFRS_ME_FORECAST_TEMP A
	LEFT JOIN IFRS_ME_FORECAST B ON A.ME_CODE = B.ME_CODE
	WHERE A.ME_CODE = @ME_CODE
		AND A.CREATEDBY = @CreatedBy

	INSERT INTO IFRS_ME_FORECAST_DETAIL_HIST
	(
		[ME_CODE],
		[FL_PERIOD],
		[FL_VAL],
		[REMARKS],
		[INPUT],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	)
	SELECT
		[ME_CODE],
		[FL_PERIOD],
		[FL_VAL],
		[REMARKS],
		@INPUT,
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	FROM IFRS_ME_FORECAST_DETAIL_TEMP
	WHERE ME_CODE = @ME_CODE
		AND CREATEDBY = @CreatedBy
	ORDER BY FL_PERIOD

	--DELETE PENDING
	DELETE FROM IFRS_ME_FORECAST_TEMP WHERE ME_CODE = @ME_CODE AND CREATEDBY = @CreatedBy
	DELETE FROM IFRS_ME_FORECAST_DETAIL_TEMP WHERE ME_CODE = @ME_CODE AND CREATEDBY = @CreatedBy
            
END; 

GO
