USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_EADSEGMENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_EADSEGMENT]    
    
AS    
BEGIN    
    
    SELECT     
        RULE_NAME AS SEGMENTATION_ID,    
        RULE_NAME as Portfolio     
    FROM IFRS_SCENARIO_RULES_HEADER     
    WHERE RULE_TYPE = 'EAD';     
END; 

GO
