USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_SYNC_WO_UPLOAD]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[SP_IFRS_IMP_SYNC_WO_UPLOAD]   
@DOWNLOAD_DATE DATE = NULL         
AS         
 DECLARE @V_CURRDATE DATE    
BEGIN   

 SET NOCOUNT ON;	

 IF(@DOWNLOAD_DATE IS NULL)  
 BEGIN   
 SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE    
 END  
 ELSE  
 BEGIN  
 SELECT @V_CURRDATE = @DOWNLOAD_DATE  
 END


/** KONDISI UNTUK CEK DATA UPLOAD CF PADA @CURRDATE, JIKA ADA DATA, WO & RECOVERY AKAN MENGGUNAKAN DATA UPLOAD **/ 
DECLARE @ROWCF INT
	SELECT @ROWCF = COUNT(*) FROM IFRS9..TBLU_WO_CF(NOLOCK)  WHERE EOMONTH(DOWNLOAD_DATE) = @V_CURRDATE AND EOMONTH(WO_DATE) = @V_CURRDATE

IF @ROWCF > 0
BEGIN
	DELETE IFRS_MASTER_WO WHERE EOMONTH(DOWNLOAD_DATE) = @V_CURRDATE AND SOURCE_TABLE = 'STG_M_WO_CF'       
	DELETE IFRS_MASTER_WO_RECOVERY WHERE EOMONTH(DOWNLOAD_DATE) = @V_CURRDATE AND SOURCE_TABLE = 'STG_M_RECOVERY_CF' 
END

DELETE IFRS_MASTER_WO WHERE DOWNLOAD_DATE = @V_CURRDATE AND CREATEDBY IN ('WO_UPLOAD') AND SOURCE_TABLE NOT IN ('IFRS_MASTER_WO_MB')       
DELETE IFRS_MASTER_WO_RECOVERY WHERE DOWNLOAD_DATE = @V_CURRDATE AND CREATEDBY IN ('WO_UPLOAD') AND SOURCE_TABLE NOT IN ('IFRS_MASTER_WO_MB')    
  
   
 ------------ START OF WO SECTION -----------         
 ------------- MITRA BISNIS / MB ------------     
 INSERT INTO IFRS_MASTER_WO    
 (    
  DOWNLOAD_DATE    
  ,MASTERID    
  ,CUSTOMER_NUMBER    
  ,ACCOUNT_NUMBER    
  ,ACCOUNT_STATUS    
  ,DATA_SOURCE    
  ,PRODUCT_CODE  
  ,EXCHANGE_RATE    
  ,CURRENCY    
  ,WRITEOFF_DATE    
  ,OUTSTANDING_WO     
  ,CO_FLAG    
  ,BI_COLLECTABILITY  
  ,WRITEOFF_FLAG    
  ,PRODUCT_ENTITY    
  ,NPL_FLAG    
  ,SOURCE_TABLE    
  ,CREATEDBY    
 )    
 SELECT    
  EOMONTH(DOWNLOAD_DATE) AS DOWNLOAD_DATE  
  ,CONCAT(LTRIM(RTRIM(CUSTOMER_NUMBER)), '_', LTRIM(RTRIM(ACCOUNT_NUMBER)), '_', LTRIM(RTRIM(PRODUCT_CODE))) AS MASTERID     
  ,LTRIM(RTRIM(CUSTOMER_NUMBER)) AS CUSTOMER_NUMBER   
  ,LTRIM(RTRIM(ACCOUNT_NUMBER)) AS ACCOUNT_NUMBER    
  ,'W' AS ACCOUNT_STATUS    
  ,'LOAN' AS DATA_SOURCE    
  ,LTRIM(RTRIM(PRODUCT_CODE)) AS PRODUCT_CODE  
  ,1 AS EXCHANGE_RATE    
  ,CURRENCY    
  ,WO_DATE AS WRITEOFF_DATE    
  ,WO_AMOUNT AS OUTSTANDING_WO  
  ,CO_FLAG    
  ,5 AS BI_COLLECTABILITY  
  ,1 AS WRITEOFF_FLAG    
  ,'C' AS PRODUCT_ENTITY    
  ,1 AS NPL_FLAG    
  ,'TBLU_WO_MB' AS SOURCE_TABLE    
  ,'WO_UPLOAD' AS CREATEDBY    
 FROM TBLU_WO_MB    
 WHERE EOMONTH(DOWNLOAD_DATE) = @V_CURRDATE         
 AND EOMONTH(WO_DATE) = @V_CURRDATE    
    
 ------------- CONSUMER FINANCE / CF ------------          
 INSERT INTO IFRS_MASTER_WO    
 (    
  DOWNLOAD_DATE    
  ,MASTERID    
  ,CUSTOMER_NUMBER    
  ,ACCOUNT_NUMBER    
  ,ACCOUNT_STATUS    
  ,DATA_SOURCE    
  ,PRODUCT_CODE    
  ,EXCHANGE_RATE   
  ,CURRENCY    
  ,WRITEOFF_DATE    
  ,OUTSTANDING_WO  
  ,CO_FLAG    
  ,BI_COLLECTABILITY  
  ,WRITEOFF_FLAG    
  ,PRODUCT_ENTITY    
  ,NPL_FLAG    
  ,SOURCE_TABLE    
  ,CREATEDBY    
 )    
 SELECT  
  EOMONTH(DOWNLOAD_DATE) AS DOWNLOAD_DATE   
  ,CONCAT(LTRIM(RTRIM(CUSTOMER_NUMBER)), '_', LTRIM(RTRIM(ACCOUNT_NUMBER)), '_', LTRIM(RTRIM(PRODUCT_CODE))) AS MASTERID     
  ,LTRIM(RTRIM(CUSTOMER_NUMBER)) AS CUSTOMER_NUMBER   
  ,LTRIM(RTRIM(ACCOUNT_NUMBER)) AS ACCOUNT_NUMBER    
  ,'W' AS ACCOUNT_STATUS    
  ,'LOAN' AS DATA_SOURCE    
,LTRIM(RTRIM(PRODUCT_CODE)) AS PRODUCT_CODE     
  ,1 AS EXCHANGE_RATE   
  ,CURRENCY    
  ,WO_DATE AS WRITEOFF_DATE    
 ,WO_AMOUNT AS OUTSTANDING_WO  
  ,CO_FLAG    
  ,5 AS BI_COLLECTABILITY   
  ,1 AS WRITEOFF_FLAG    
  ,'C' AS PRODUCT_ENTITY    
  ,1 AS NPL_FLAG    
  ,'TBLU_WO_CF' AS SOURCE_TABLE    
  ,'WO_UPLOAD' AS CREATEDBY    
 FROM TBLU_WO_CF    
 WHERE EOMONTH(DOWNLOAD_DATE) = @V_CURRDATE        
 AND EOMONTH(WO_DATE) = @V_CURRDATE  
 
 ------------- JENIUS ------------     
 INSERT INTO IFRS_MASTER_WO    
 (    
  DOWNLOAD_DATE    
  ,MASTERID    
  ,CUSTOMER_NUMBER    
  ,ACCOUNT_NUMBER    
  ,ACCOUNT_STATUS    
  ,DATA_SOURCE    
  ,PRODUCT_CODE  
  ,EXCHANGE_RATE    
  ,CURRENCY    
  ,WRITEOFF_DATE    
  ,OUTSTANDING_WO     
  ,CO_FLAG    
  ,BI_COLLECTABILITY  
  ,WRITEOFF_FLAG    
  ,PRODUCT_ENTITY    
  ,NPL_FLAG    
  ,SOURCE_TABLE    
  ,CREATEDBY    
 )    
 SELECT    
  EOMONTH(DOWNLOAD_DATE) AS DOWNLOAD_DATE  
  ,CONCAT(LTRIM(RTRIM(CUSTOMER_NUMBER)), '_', LTRIM(RTRIM(ACCOUNT_NUMBER)), '_', LTRIM(RTRIM(PRODUCT_CODE))) AS MASTERID     
  ,LTRIM(RTRIM(CUSTOMER_NUMBER)) AS CUSTOMER_NUMBER   
  ,LTRIM(RTRIM(ACCOUNT_NUMBER)) AS ACCOUNT_NUMBER    
  ,'W' AS ACCOUNT_STATUS    
  ,'LOAN' AS DATA_SOURCE    
  ,LTRIM(RTRIM(PRODUCT_CODE)) AS PRODUCT_CODE  
  ,1 AS EXCHANGE_RATE    
  ,CURRENCY    
  ,WO_DATE AS WRITEOFF_DATE    
  ,WO_AMOUNT AS OUTSTANDING_WO  
  ,CO_FLAG    
  ,5 AS BI_COLLECTABILITY  
  ,1 AS WRITEOFF_FLAG    
  ,'C' AS PRODUCT_ENTITY    
  ,1 AS NPL_FLAG    
  ,'TBLU_WO_JENIUS' AS SOURCE_TABLE    
  ,'WO_UPLOAD' AS CREATEDBY    
 FROM TBLU_WO_JENIUS    
 WHERE EOMONTH(DOWNLOAD_DATE) = @V_CURRDATE         
 AND EOMONTH(WO_DATE) = @V_CURRDATE    
    
 ------------ END OF WO SECTION -----------         
   
 ------------ START OF RECOVERY SECTION -----------         
 ---------------- MITRA BISNIS / MB ---------------          
 INSERT INTO IFRS_MASTER_WO_RECOVERY    
 (    
 DOWNLOAD_DATE  
 ,MASTERID  
 ,ACCOUNT_NUMBER  
 ,ACCOUNT_STATUS     
 ,EXCHANGE_RATE  
 ,CURRENCY  
 ,CUSTOMER_NUMBER  
 ,DATA_SOURCE  
 ,BI_COLLECTABILITY  
 ,OUTSTANDING_WO  
 ,PRODUCT_CODE  
 ,RECOVERY_DATE  
 ,RECOVERY_AMOUNT  
 ,TOTAL_RECOVERY  
 ,SOURCE_TABLE  
 ,CREATEDBY    
 )    
 SELECT    
  EOMONTH(DOWNLOAD_DATE) AS DOWNLOAD_DATE   
  ,CONCAT(LTRIM(RTRIM(CUSTOMER_NUMBER)), '_', LTRIM(RTRIM(ACCOUNT_NUMBER)), '_', LTRIM(RTRIM(PRODUCT_CODE))) AS MASTERID     
  ,LTRIM(RTRIM(ACCOUNT_NUMBER)) AS ACCOUNT_NUMBER    
  ,'W' AS ACCOUNT_STATUS     
  ,1 AS EXCHANGE_RATE    
  ,CURRENCY  
  ,LTRIM(RTRIM(CUSTOMER_NUMBER)) AS CUSTOMER_NUMBER  
  ,'LOAN' AS DATA_SOURCE   
  ,5 AS BI_COLLECTABILITY   
  ,NULL AS OUTSTANDING_WO  
  ,LTRIM(RTRIM(PRODUCT_CODE)) AS PRODUCT_CODE  
  ,RECOVERY_DATE AS RECOVERY_DATE  
  ,RECOVERY_AMOUNT  
  ,RECOVERY_AMOUNT AS TOTAL_RECOVERY  
  ,'TBLU_RECOVERY_MB' AS SOURCE_TABLE    
  ,'WO_UPLOAD' AS CREATEDBY    
 FROM TBLU_RECOVERY_MB A          
 WHERE EOMONTH(DOWNLOAD_DATE) = @V_CURRDATE       
 AND EOMONTH(RECOVERY_DATE) = @V_CURRDATE      
     
 ---------------- CONSUMER FINANCE / CF ---------------        
 INSERT INTO IFRS_MASTER_WO_RECOVERY    
 (    
 DOWNLOAD_DATE  
 ,MASTERID  
 ,ACCOUNT_NUMBER  
 ,ACCOUNT_STATUS  
 ,EXCHANGE_RATE  
 ,CURRENCY  
 ,CUSTOMER_NUMBER  
 ,DATA_SOURCE  
 ,BI_COLLECTABILITY  
 ,OUTSTANDING_WO  
 ,PRODUCT_CODE  
 ,RECOVERY_DATE  
 ,RECOVERY_AMOUNT  
 ,TOTAL_RECOVERY  
 ,SOURCE_TABLE  
 ,CREATEDBY    
 )    
 SELECT   
  EOMONTH(DOWNLOAD_DATE) AS DOWNLOAD_DATE   
  ,CONCAT(LTRIM(RTRIM(CUSTOMER_NUMBER)), '_', LTRIM(RTRIM(ACCOUNT_NUMBER)), '_', LTRIM(RTRIM(PRODUCT_CODE))) AS MASTERID     
  ,LTRIM(RTRIM(ACCOUNT_NUMBER)) AS ACCOUNT_NUMBER   
  ,'W' AS ACCOUNT_STATUS  
  ,1 AS EXCHANGE_RATE    
  ,CURRENCY      
  ,LTRIM(RTRIM(CUSTOMER_NUMBER)) AS CUSTOMER_NUMBER    
  ,'LOAN' AS DATA_SOURCE   
  ,5 AS BI_COLLECTABILITY   
  ,NULL AS OUTSTANDING_WO  
  ,LTRIM(RTRIM(PRODUCT_CODE)) AS PRODUCT_CODE  
  ,RECOVERY_DATE AS RECOVERY_DATE  
  ,RECOVERY_AMOUNT  
  ,RECOVERY_AMOUNT AS TOTAL_RECOVERY  
  ,'TBLU_RECOVERY_CF' AS SOURCE_TABLE    
  ,'WO_UPLOAD' AS CREATEDBY   
 FROM TBLU_RECOVERY_CF    
 WHERE EOMONTH(DOWNLOAD_DATE) = @V_CURRDATE       
 AND EOMONTH(RECOVERY_DATE) = @V_CURRDATE   

---------------- JENIUS ---------------          
 INSERT INTO IFRS_MASTER_WO_RECOVERY    
 (    
 DOWNLOAD_DATE  
 ,MASTERID  
 ,ACCOUNT_NUMBER  
 ,ACCOUNT_STATUS     
 ,EXCHANGE_RATE  
 ,CURRENCY  
 ,CUSTOMER_NUMBER  
 ,DATA_SOURCE  
 ,BI_COLLECTABILITY  
 ,OUTSTANDING_WO  
 ,PRODUCT_CODE  
 ,RECOVERY_DATE  
 ,RECOVERY_AMOUNT  
 ,TOTAL_RECOVERY  
 ,SOURCE_TABLE  
 ,CREATEDBY    
 )    
 SELECT    
  EOMONTH(DOWNLOAD_DATE) AS DOWNLOAD_DATE   
  ,CONCAT(LTRIM(RTRIM(CUSTOMER_NUMBER)), '_', LTRIM(RTRIM(ACCOUNT_NUMBER)), '_', LTRIM(RTRIM(PRODUCT_CODE))) AS MASTERID     
  ,LTRIM(RTRIM(ACCOUNT_NUMBER)) AS ACCOUNT_NUMBER    
  ,'W' AS ACCOUNT_STATUS     
  ,1 AS EXCHANGE_RATE    
  ,CURRENCY  
  ,LTRIM(RTRIM(CUSTOMER_NUMBER)) AS CUSTOMER_NUMBER  
  ,'LOAN' AS DATA_SOURCE   
  ,5 AS BI_COLLECTABILITY   
  ,NULL AS OUTSTANDING_WO  
  ,LTRIM(RTRIM(PRODUCT_CODE)) AS PRODUCT_CODE  
  ,RECOVERY_DATE AS RECOVERY_DATE  
  ,RECOVERY_AMOUNT  
  ,RECOVERY_AMOUNT AS TOTAL_RECOVERY  
  ,'TBLU_RECOVERY_JENIUS' AS SOURCE_TABLE    
  ,'WO_UPLOAD' AS CREATEDBY    
 FROM TBLU_RECOVERY_JENIUS A          
 WHERE EOMONTH(DOWNLOAD_DATE) = @V_CURRDATE       
 AND EOMONTH(RECOVERY_DATE) = @V_CURRDATE      
 
 ------------ END OF RECOVERY SECTION -----------         
     
 -- UPDATING IFRS_MASTER_WO AND IFRS_MASTER_WO_RECOVERY PRODUCT_TYPE & PRODUCT_GROUP --  
 UPDATE A SET A.PRODUCT_TYPE = B.PRD_TYPE, A.PRODUCT_GROUP = B.PRD_GROUP  
 FROM IFRS_MASTER_WO A  
 LEFT JOIN (SELECT * FROM IFRS_MASTER_PRODUCT_PARAM WHERE IS_DELETE = 0) B  
 ON A.PRODUCT_CODE = B.PRD_CODE  
 WHERE EOMONTH(A.DOWNLOAD_DATE) = @V_CURRDATE       
       
 UPDATE A SET A.PRODUCT_TYPE = B.PRD_TYPE, A.PRODUCT_GROUP = B.PRD_GROUP  
 FROM IFRS_MASTER_WO_RECOVERY A  
 LEFT JOIN (SELECT * FROM IFRS_MASTER_PRODUCT_PARAM WHERE IS_DELETE = 0) B 
 ON A.PRODUCT_CODE = B.PRD_CODE  
 WHERE EOMONTH(A.DOWNLOAD_DATE) = @V_CURRDATE   
 -- END UPDATING IFRS_MASTER_WO AND IFRS_MASTER_WO_RECOVERY PRODUCT_TYPE & PRODUCT_GROUP -- 
 
 ------ SYNC RESTRU_SURVIVE      
 EXEC SP_IFRS_SYNC_RESTRU_SURVIVE @V_CURRDATE   

 ------ SYNC DATA WO FROM EFS & TBLU
 EXEC SP_IFRS_IMP_SYNC_WO_DATA @V_CURRDATE
 
 ------ SYNC DATA REC FROM EFS & TBLU
 EXEC SP_IFRS_IMP_SYNC_REC_DATA @V_CURRDATE
  
END
GO
