USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_AMORTIZATIONFACDETAIL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_AMORTIZATIONFACDETAIL]
AS
BEGIN

	SELECT
		DOWNLOAD_DATE AS "Download Date",
		DATA_SOURCE AS "Data Source",
		BRANCH_CODE AS "Branch Code",
		CUSTOMER_NUMBER AS "Customer Number",
		FACILITY_NUMBER AS "Facility Number",
		ACCOUNT_NUMBER AS "Account Number",
		MASTERID AS "Master Account ID",
		LOAN_START_DATE AS "Loan Start Date",
		LOAN_DUE_DATE AS "Loan Due Date",
		PRD_CODE AS "Product Code",
		CCY AS "Currency",
		EXC_RATE_ACC_TO_IDR AS "Exchange Rate",
		ORG_CCY_AMT AS "Initial Amount",
		TRX_CODE AS "Transaction Code",
		INITIAL_OUTSTANDING AS "Initial Outstanding"
	FROM IFRS_TRX_FACILITY_DETAIL
	ORDER BY DOWNLOAD_DATE,
			DATA_SOURCE,
			MASTERID

END
GO
