USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECK_LOADED_DATA]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CHECK_LOADED_DATA] AS  

BEGIN

	UPDATE IFRS_LI_STG_TRANSACTION_DAILY
	SET TERMINATE_FLAG = 'N'
	WHERE TERMINATE_FLAG IS NULL OR TERMINATE_FLAG NOT IN ('Y','N')

	UPDATE IFRS_LI_STG_MASTER_ACCOUNT
	SET ACCOUNT_STATUS = 'A'
	WHERE ACCOUNT_STATUS IS NULL OR ACCOUNT_STATUS NOT IN ('A','O')

END







GO
