USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_APPROVALD]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_APPROVALD]
	@HeaderID bigint = 0,  
	@GroupPKID bigint = 0,  
	@FieldName varchar(50) = '',  
	@NewValue varchar(max) = '',  
	@OldValue varchar(max) = '',  
	@RowSequence int = 0  
AS
BEGIN

	INSERT INTO tblT_ApprovalDetail
	(
		HeaderID,
		GroupPKID,
		FieldName,
		NewValue,
		OldValue,
		RowSequence
	)  
	VALUES
	(
		@HeaderID,
		@GroupPKID,
		@FieldName,
		@NewValue,
		@OldValue,
		@RowSequence
	)  

END

GO
