USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_ModelMacroEconomic]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_ModelMacroEconomic]
(
    @ModelId int=0
)
AS
BEGIN
    DECLARE @v_Query VARCHAR (3000);
 
SET NOCOUNT ON;

    IF @ModelId > 0 BEGIN
        SET @v_Query =
        'SELECT A.PKID,
            A.MODEL_NAME,
			A.CORRELATION_PERIOD_FROM,
			A.CORRELATION_PERIOD_END,
			A.SEASONAL_ADJUSTMENT,
			ISNULL(B.FULLNAME, A.CREATEDBY) AS CREATEDBY, A.CREATEDDATE
        FROM IFRS_MACRO_ECONOMIC_MODEL A
		LEFT JOIN TBLM_USER B
		ON cast(B.PKID as varchar(36)) = A.CREATEDBY
        WHERE A.PKID = ' + cast(@ModelId as varchar)
        + ' ORDER BY UPPER(A.MODEL_NAME)';
    END
    ELSE BEGIN
        SET @v_Query =
        'SELECT A.PKID,
            A.MODEL_NAME,
			A.CORRELATION_PERIOD_FROM,
			A.CORRELATION_PERIOD_END,
			A.SEASONAL_ADJUSTMENT,
			ISNULL(B.FULLNAME, A.CREATEDBY) AS CREATEDBY, A.CREATEDDATE
        FROM IFRS_MACRO_ECONOMIC_MODEL A
		LEFT JOIN TBLM_USER B
		ON cast(B.PKID as varchar(36)) = A.CREATEDBY
        ORDER BY UPPER(A.MODEL_NAME)';
    END 

    EXECUTE (@v_Query);
              
END;

GO
