USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_BI_SEGMENTLOANS]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_BI_SEGMENTLOANS](
@SEGMENT_LOANS_DESC VARCHAR(50) = '',
@PRODUCT_CODE VARCHAR(2000) = '',
@CreatedBy varchar(36) = '',               
@CreatedHost varchar(30) = ''
)               
AS
BEGIN

	INSERT INTO IFRS_SEGMENT_LOANS
	(
		SEGMENT_LOANS_DESC,
		PRODUCT_CODE,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)
	VALUES
	(
		LTRIM(RTRIM(@SEGMENT_LOANS_DESC)),
		@PRODUCT_CODE,
		@CreatedBy,
		GETDATE(),
		@CreatedHost
	)
	
	TRUNCATE TABLE IFRS9_REPORT.DBO.IFRS_SEGMENT_LOANS

	INSERT INTO IFRS9_REPORT.DBO.IFRS_SEGMENT_LOANS
	(
		SEGMENT_LOANS_ID,
		SEGMENT_LOANS_DESC,
		PRODUCT_CODE
	)
	SELECT
		PKID,
		SEGMENT_LOANS_DESC,
		value AS PRODUCT_CODE
	FROM IFRS_SEGMENT_LOANS
	CROSS APPLY STRING_SPLIT(PRODUCT_CODE,';')
	WHERE ISNULL(IS_DELETE, 0) = 0
	ORDER BY PKID

END

GO
