USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_ME_MODEL_DESELECT_DERIVED_VARIABLE]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_ME_MODEL_DESELECT_DERIVED_VARIABLE]  
 @modelId bigint  
AS  
BEGIN  
 --update TMP_IFRS_MODEL_FILTER_CORTEST set VARIABLE_SELECTION = 0 where MODEL_ID = @modelId  

	UPDATE TMP_IFRS_1MEVLM_RESULT_DTL SET VARIABLE_SELECTION = 0 WHERE MODEL_ID = @modelId

END 
GO
