USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_COMMONCODEH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_COMMONCODEH]    
(    
	@Type CHAR(1)  
)    
AS    
BEGIN

	SELECT C.PKID,
		MODULEID,
		COMMONCODE,
		PARENTCODE,
		COMMONNAME,
		COMMONDESC,
		COMMONUSAGE,
		TYPE,
		UC.USERNAME AS CREATEDBY,
		C.CREATEDDATE,
		UU.USERNAME AS UPDATEDBY,
		C.UPDATEDDATE
	FROM tblM_CommonCodeHeader C
		LEFT JOIN TBLM_USER UC ON CAST(UC.PKID AS VARCHAR(36)) = CAST(C.CREATEDBY AS VARCHAR(36))
		LEFT JOIN TBLM_USER UU ON CAST(UU.PKID AS VARCHAR(36)) = CAST(C.UPDATEDBY AS VARCHAR(36))
	WHERE Type = @Type   
	ORDER BY CommonCode 
	
END

GO
