USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LAST_REVIEW_DETAIL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LAST_REVIEW_DETAIL]                   
(                    
 @MASTERID VARCHAR(100) = NULL        
)                  
AS                  
BEGIN                  
       
 SELECT * FROM IFRS_IMP_IA_MASTER WHERE MASTERID = @MASTERID      
    
 --insert into table TEMP    
 --make sure TEMP is empty  
 TRUNCATE TABLE TBLT_PAYMENTEXPECTED_TEMP  
 TRUNCATE TABLE TBLT_PAYMENTEXPECTEDH_TEMP
 TRUNCATE TABLE IFRS_IMP_OVERRIDE_COLLATERAL_TEMP  
  
 INSERT INTO TBLT_PAYMENTEXPECTED_TEMP(    
 DCFID,    
 TEMPID,    
 UPLOADID,    
 DOWNLOADDATE,    
 MASTERID,    
 CUSTOMER_NUMBER,    
 EFFECTIVE_DATE,    
 EFFECTIVE_DATE_FD,    
 EIR_PERCENT,    
 PRINCIPAL_PAYMENT,    
 NPV_MONTH,    
 NPV,    
 BEGINNING_BALANCE,    
 ENDING_BALANCE,    
 UNWINDING_AMOUNT,    
 CREATEDBY,    
 CREATEDDATE,    
 CREATEDHOST,    
 UPDATEDBY,    
 UPDATEDDATE,    
 UPDATEDHOST)    
 SELECT     
 DCFID,    
 TEMPID,    
 UPLOADID,    
 DOWNLOADDATE,    
 MASTERID,    
 CUSTOMER_NUMBER,    
 EFFECTIVE_DATE,    
 EFFECTIVE_DATE_FD,    
 EIR_PERCENT,    
 PRINCIPAL_PAYMENT,    
 NPV_MONTH,    
 NPV,    
 BEGINNING_BALANCE,    
 ENDING_BALANCE,    
 UNWINDING_AMOUNT,    
 CREATEDBY,    
 CREATEDDATE,    
 CREATEDHOST,    
 UPDATEDBY,    
 UPDATEDDATE,    
 UPDATEDHOST     
 FROM TBLT_PAYMENTEXPECTED_HIST    
 WHERE MASTERID = @MASTERID AND DCFID = (SELECT MAX(DCFID) FROM TBLT_PAYMENTEXPECTED_HIST WHERE MASTERID = @MASTERID)    
    
 INSERT INTO TBLT_PAYMENTEXPECTEDH_TEMP(    
 DCFID,    
 UPLOADID,    
 ROW_NUMBER,    
 CUSTOMER_NUMBER,    
 MASTERID,    
 FACILITY_NUMBER,    
 EFFECTIVE_DATE,    
 EIR_PERCENT,    
 PRINCIPAL,    
 INTEREST,    
 UNPAID_INTEREST,    
 COLLATERAL,    
 COLLATERAL_COST,    
 CREATEDBY,    
 CREATEDDATE,    
 CREATEDHOST,    
 UPDATEDBY,    
 UPDATEDDATE,    
 UPDATEDHOST)    
 SELECT     
 DCFID,    
 UPLOADID,    
 ROW_NUMBER,    
 CUSTOMER_NUMBER,    
 MASTERID,    
 FACILITY_NUMBER,    
 EFFECTIVE_DATE,    
 EIR_PERCENT,    
 PRINCIPAL,    
 INTEREST,    
 UNPAID_INTEREST,    
 COLLATERAL,    
 COLLATERAL_COST,    
 CREATEDBY,    
 CREATEDDATE,    
 CREATEDHOST,    
 UPDATEDBY,    
 UPDATEDDATE,    
 UPDATEDHOST    
 FROM TBLT_PAYMENTEXPECTEDH_HIST    
 WHERE MASTERID = @MASTERID AND DCFID = (SELECT MAX(DCFID) FROM TBLT_PAYMENTEXPECTEDH_HIST WHERE MASTERID = @MASTERID) 
 
 INSERT INTO IFRS_IMP_OVERRIDE_COLLATERAL_TEMP(    
 DCFID,    
 MASTERID,    
 INFORMATION,    
 COLLATERAL_TYPE,    
 MARKET_VALUE,    
 LIQUIDATED_VALUE,    
 REMARKS,    
 CREATEDBY,    
 CREATEDDATE,    
 CREATEDHOST,    
 UPDATEDBY,    
 UPDATEDDATE,    
 UPDATEDHOST)    
 SELECT     
 DCFID,    
 MASTERID,    
 INFORMATION,    
 COLLATERAL_TYPE,    
 MARKET_VALUE,    
 LIQUIDATED_VALUE,    
 REMARKS,    
 CREATEDBY,    
 CREATEDDATE,    
 CREATEDHOST,    
 UPDATEDBY,    
 UPDATEDDATE,    
 UPDATEDHOST     
 FROM IFRS_IMP_OVERRIDE_COLLATERAL_HIST    
 WHERE MASTERID = @MASTERID AND DCFID = (SELECT MAX(DCFID) FROM IFRS_IMP_OVERRIDE_COLLATERAL_HIST WHERE MASTERID = @MASTERID)   
      
END; 
GO
