USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPFLPDTERM]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPFLPDTERM]  
AS    
BEGIN    
SET NOCOUNT ON;    
     
 SELECT 0 AS ME_MODEL_ID,'No Model' AS MODEL_NAME  
 UNION ALL  
 SELECT  
  ME_MODEL_ID  
  ,MODEL_NAME  
 FROM IFRS_FL_SCALAR_CONFIG A  
 LEFT JOIN IFRS_MACRO_ECONOMIC_MODEL B ON A.ME_MODEL_ID = B.PKID  
   
END 


GO
