USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAPLISTAPPROVALPENDING]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IAPLISTAPPROVALPENDING](
@USERID varchar(36))
AS
BEGIN

	SELECT
		CAST(DOWNLOAD_DATE AS varchar(10)) + '_' + CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) AS DATE_CIF_SEGMENT
		,A.SEGMENT
		,CUSTOMER_NUMBER
		,CUSTOMER_NAME
		,DAY_PAST_DUE
		,BI_COLLECTABILITY
		,OUTSTANDING
		,COLLATERAL_LIQUIDATION_VALUE
		,WORKOUT_PERIOD_MODE
		,WORKOUT_PERIOD
		,EIR
		,COLLECTION_COST
		,DISC_CASH_FLOW
		,IIP_AMOUNT
		,MOVEMENT_IIP_AMOUNT
		,A.UPDATEDDATE
	FROM IFRS_IAP_LIST_PENDING A
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SUB_SEGMENT = B.SUB_SEGMENT
		AND IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
	LEFT JOIN TBLM_REPORTTO C ON A.CREATEDBY = C.USERID
	WHERE C.REPORTTO = @USERID
		AND APPROVAL_STATUS = 'P'

END

GO
