USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMMARKETRATE]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_PARAMMARKETRATE]              
(              
@PKID bigint
,@EFF_DATE DATE=''        
,@PRD_CODE varchar(20)=''
,@CCY varchar(5)=''
,@MKT_RATE float=0
,@UpdatedBy varchar(36)=''              
,@UpdatedHost varchar(30)=''
)              
AS              
BEGIN   
              
UPDATE [dbo].[IFRS_MASTER_MARKETRATE_PARAM]              
   SET [EFF_DATE] = @EFF_DATE
		,[PRD_CODE] = @PRD_CODE
		,[CCY] = @CCY
		,[MKT_RATE] = @MKT_RATE
		,[UPDATEDBY] = @UpdatedBy              
		,[UPDATEDDATE] = GETDATE()              
		,[UPDATEDHOST] = @UpdatedHost              
 WHERE PKID = @PKID AND IS_DELETE = 0        
              
END


GO
