USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALARINDEPENDENTVARIABLEH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALARINDEPENDENTVARIABLEH]  
(                
	@SCALAR_ID int  
)                
AS                
BEGIN

	SELECT
		SCENARIO_NO,
		SCENARIO_NAME AS "Scenario Name"
	FROM IFRS_ME_SCALAR_DETAIL
	WHERE SCALAR_ID = @SCALAR_ID
	ORDER BY SCENARIO_NO

END
GO
