USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADHISTORYD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADHISTORYD]
(
	@UploadID BIGINT,
	@TableName VARCHAR(100)
)
AS
BEGIN

	DECLARE @Query VARCHAR(MAX);
	DECLARE @ColumnName VARCHAR(MAX);

	SELECT @ColumnName = COALESCE(@ColumnName + ',', '') + COLUMN_NAME
	FROM INFORMATION_SCHEMA.COLUMNS
	WHERE TABLE_NAME = @TableName
		AND COLUMN_NAME NOT IN ('UPLOADID','UPLOADBY','UPLOADDATE','UPLOADHOST','APPROVEDBY','APPROVEDDATE','APPROVEDHOST')
	ORDER BY ORDINAL_POSITION;

	SET @Query =
		'SELECT ' + @ColumnName + ' 
		FROM ' + @TableName + ' 
		WHERE UPLOADID = ' + CAST(@UploadID AS VARCHAR(50));

	PRINT @Query;

	EXEC(@Query);

END;

GO
