USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IAPLISTPENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IAPLISTPENDING](
@ID bigint,
@DATE_CIF_SEGMENT varchar(100),
@DOWNLOAD_DATE date,
@MASTERID varchar(100),
@CUSTOMER_NUMBER varchar(50),
@CUSTOMER_NAME varchar(150),
@BI_COLLECTABILITY int,
@GROUP_SEGMENT varchar(50),
@SEGMENT varchar(100),
@SUB_SEGMENT varchar(50),
@OUTSTANDING decimal(32, 6),
@EIR float,
@COLLATERAL_LIQUIDATION_VALUE decimal(32, 6),
@COLLATERAL_LIQUIDATION_VALUE_OVERRIDE decimal(32, 6),
@COLLECTION_COST float,
@WORKOUT_PERIOD_MODE varchar(50),
@WORKOUT_PERIOD varchar(50),
@PROBABILITY_WEIGHTED float,
@IIP_AMOUNT decimal(32, 6),
@IIP_AMOUNT_OVERRIDE decimal(32, 6),
@DISC_CASH_FLOW decimal(32, 6),
@DISC_CASH_FLOW_OVERRIDE decimal(32, 6),
@IMPAIRED_FLAG char(1),
@IAP_PARAM_HEADERID bigint,
@DAY_PAST_DUE smallint,
@CREATEDBY varchar(36),
@CREATEDHOST varchar(30))
AS
BEGIN

	INSERT INTO IFRS_IAP_LIST_PENDING
	([ID],[DATE_CIF_SEGMENT],[DOWNLOAD_DATE],[MASTERID],[CUSTOMER_NUMBER],[CUSTOMER_NAME]
      ,[BI_COLLECTABILITY],[GROUP_SEGMENT],[SEGMENT],[SUB_SEGMENT],[OUTSTANDING],[EIR]
      ,[COLLATERAL_LIQUIDATION_VALUE],[COLLATERAL_LIQUIDATION_VALUE_OVERRIDE],[COLLECTION_COST]
	  ,[WORKOUT_PERIOD_MODE],[WORKOUT_PERIOD],[IAP_EXCLUSION_FLAG],[PROBABILITY_WEIGHTED],[IIP_AMOUNT]
	  ,[IIP_AMOUNT_OVERRIDE],[DISC_CASH_FLOW],[DISC_CASH_FLOW_OVERRIDE],[IMPAIRED_FLAG],[APPROVAL_STATUS]
	  ,[IAP_PARAM_HEADERID],[DAY_PAST_DUE_CIF],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])
	VALUES
	(@ID,@DATE_CIF_SEGMENT,@DOWNLOAD_DATE,@MASTERID,@CUSTOMER_NUMBER,@CUSTOMER_NAME
      ,@BI_COLLECTABILITY,@GROUP_SEGMENT,@SEGMENT,@SUB_SEGMENT,@OUTSTANDING,@EIR
      ,@COLLATERAL_LIQUIDATION_VALUE,@COLLATERAL_LIQUIDATION_VALUE_OVERRIDE,@COLLECTION_COST
	  ,@WORKOUT_PERIOD_MODE,@WORKOUT_PERIOD,0,@PROBABILITY_WEIGHTED,@IIP_AMOUNT
	  ,@IIP_AMOUNT_OVERRIDE,@DISC_CASH_FLOW,@DISC_CASH_FLOW_OVERRIDE,@IMPAIRED_FLAG,'I'
	  ,@IAP_PARAM_HEADERID,@DAY_PAST_DUE,@CREATEDBY,GETDATE(),@CREATEDHOST);

END

GO
