USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPROVALUPLOADHBYUSER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_APPROVALUPLOADHBYUSER]    
 @userid varchar(50),            
 @status varchar(10),          
 @module varchar(50)          
as            

 select distinct a.PKID,c.ModuleID,d.DatabaseName, ModuleName = d.Description, CreatedBy=b.UserName, c.Title,             
  a.MasterID,a.ScreenID,a.Action,a.Note,a.Query, a.CreatedDate,a.CreatedHost ,DF.FileName, DF.FullFileName           
 from tblT_ApprovalHeader a            
 left join tblT_DownloadFile DF on DF.approvalID=a.pkid         
 inner join tblM_User b on a.CreatedBy = b.PKID            
 inner join tblM_Screen c on c.ScreenID = a.screenid            
 inner join tblM_Module d on c.ModuleID = d.ModuleID            
 inner join tblm_reportto e on e.ReportTo = @userid   
  and a.CreatedBy = e.UserID and e.Active = 1            
 where a.Status = @status            
 --and a.ModuleID=@module          
 and a.MasterID = 0        
 and a.ScreenID = 'PARTIAL_UPLOAD'
 order by a.CreatedDate desc  





GO
