USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADSPPIREVIEW_HIST]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOADSPPIREVIEW_HIST]  
 @CLASSID int =0  
AS  
BEGIN  
  
 SELECT A.SECTIONID,ITEMCODE, QUESTION, B.DESCRIPTION,C.SELECTED_VALUE,'' REMARK,SCOREYES,SCORENO,A.[RULE],A.THRESHOLD  
     ,D.VALUE1 RES,B.PKID,C.CLASSID,E.CLASSNAME,E.SPPI_RSLT,E.OVERRIDE_FLG,E.OVERRIDE_RSLT,E.OVERRIDE_REMARKS,E.PRODUCT_CODE,  
     F.PKID AS PKID_HEADER  
   from IFRS_AC_SPPI_SECTION A  
   JOIN IFRS_AC_SPPI_QUESTIONS B  
   ON  A.SECTIONID = B.SECTIONID  
   JOIN IFRS_AC_SPPI_DETAIL_HIST C  
   ON  B.PKID = C.QUESTIONID  
   JOIN TBLM_COMMONCODEDETAIL D  
   ON  A.DETERMINEID = D.PKID  
   JOIN IFRS_AC_SPPI_HEADER_HIST E  
   ON  C.CLASSID = E.PKID  
   JOIN IFRS_AC_SPPI_HEADER F  
   ON E.PKID_HEADER = F.PKID  
 WHERE CLASSID = @CLASSID
 AND ISNULL(A.IS_DELETE,0)  = 0
 ORDER BY A.SECTIONID, ITEMCODE
  
END
GO
