USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_USER_MODULES]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_USER_MODULES]
(
	@UserID VARCHAR(36) = ''
)
AS
BEGIN

	SELECT A.MODULEID AS "ModuleID",
		B.DESCRIPTION AS "Description"
	FROM TBLM_USERMODULE A
		JOIN TBLM_MODULE B ON A.MODULEID = b.MODULEID
	WHERE CAST(A.USERID AS VARCHAR(36)) = @UserID

END

GO
