USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_MAA_ENR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_MAA_ENR] (
   @Period          DATE='1900-01-01',
   @ProdGroup       int=0
   )
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE	@V_Query   VARCHAR(MAX);
	DECLARE @V_ColumnName VARCHAR(MAX);

	SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + SUB_BUCKET_GROUP
	FROM IFRS_PD_MAA_ENR A
	JOIN IFRS_IMPC_BUCKET_PARAM B
	ON A.BUCKET_GROUP = B.BUCKET_GROUP
	AND A.BUCKET_FROM = B.BUCKET_ID
	AND A.PD_RULE_ID = @ProdGroup
	AND A.EFF_DATE = @Period
	GROUP BY B.SUB_BUCKET_GROUP;

	SET @V_Query = 'SELECT A.*, B.Total FROM 
					(
						Select * FROM 
						(
							Select distinct 
								B.SUB_BUCKET_GROUP AS BUCKET_FROM,
								C.SUB_BUCKET_GROUP AS BUCKET_TO,
								A.CALC_AMOUNT
							FROM IFRS_PD_MAA_ENR A
							JOIN IFRS_IMPC_BUCKET_PARAM B
							ON A.BUCKET_GROUP = B.BUCKET_GROUP
							AND A.BUCKET_FROM = B.BUCKET_ID
							JOIN IFRS_IMPC_BUCKET_PARAM C
							ON A.BUCKET_GROUP = C.BUCKET_GROUP
							AND A.BUCKET_TO = C.BUCKET_ID
							JOIN IFRS_PD_TRANS_MATRIX_CONFIG D
							ON A.PD_RULE_ID = D.PKID
							AND A.PD_RULE_ID = ' + CAST(@ProdGroup AS VARCHAR(MAX)) + '
							AND A.EFF_DATE =''' + CAST(@Period AS VARCHAR(10)) + ''' 
						) TMP
						pivot 
						( sum(CALC_AMOUNT)
							for BUCKET_TO IN ('+ @V_ColumnName +')
						) PVT
					) A
					JOIN 
					(
						Select BUCKET_FROM, 
							SUM(CALC_AMOUNT) AS TOTAL
						FROM
						(
							Select   
								B.SUB_BUCKET_GROUP AS BUCKET_FROM,
								A.CALC_AMOUNT
							FROM IFRS_PD_MAA_ENR A
							JOIN IFRS_IMPC_BUCKET_PARAM B
							ON A.BUCKET_GROUP = B.BUCKET_GROUP
							AND A.BUCKET_FROM = B.BUCKET_ID
							JOIN IFRS_PD_TRANS_MATRIX_CONFIG D
							ON A.PD_RULE_ID = D.PKID
							AND A.PD_RULE_ID = ' + CAST(@ProdGroup AS VARCHAR(MAX)) + '
							AND A.EFF_DATE =''' + CAST(@Period AS VARCHAR(10)) + '''
							GROUP BY B.SUB_BUCKET_GROUP, 
								A.CALC_AMOUNT 
						) TMP2
						GROUP BY BUCKET_FROM
					) B ON A.BUCKET_FROM = B.BUCKET_FROM';
	--print @V_Query;
	exec (@V_Query);
END

GO
