USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDESEARCHCIF]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_DCFOVERRIDESEARCHCIF]
(
	@DOWNLOAD_DATE DATE = NULL,
	@CUSTOMER_NUMBER VARCHAR(50) = '%',
	@CUSTOMER_NAME VARCHAR(2000) = '%'
)
AS
BEGIN
	
	DECLARE @Query VARCHAR(2000);
	DECLARE @Currency VARCHAR(5);

	IF @DOWNLOAD_DATE IS NULL
	BEGIN
		SELECT @DOWNLOAD_DATE = CURRDATE FROM IFRS_PRC_DATE;
	END

	-- Get individual currency by Header
	SELECT @Currency = COMMONUSAGE FROM TBLM_COMMONCODEHEADER WHERE COMMONCODE = 'B87'
		
	SELECT IIO.CHECKLISTID,
		IIO.DOWNLOAD_DATE,
		IIO.CUSTOMER_NUMBER,
		IIO.CUSTOMER_NAME,
		DRT.CURRENCY AS CURRENCY,
		SUM(IIO.OUTSTANDING * IMER.RATE_AMOUNT / DRT.RATE_AMOUNT) AS OUTSTANDING,
		SUM(IIO.EAD_AMOUNT * IMER.RATE_AMOUNT / DRT.RATE_AMOUNT) AS EAD_AMOUNT,
		MAX(BI_COLLECT_IMPAIR) AS BI_COLLECT_IMPAIR,
		CASE WHEN IIO.CHECKLISTSTATUS = 'A'
			THEN 'Approved'
		WHEN IIO.CHECKLISTSTATUS = 'R'
			THEN 'Rejected'
		WHEN IIO.CHECKLISTSTATUS = 'P'
			THEN 'Need Approval'
			ELSE ''
		END AS CHECKLISTSTATUS,
		BEING_EDITED_CIF
	FROM IFRS_IMP_OVERRIDE IIO
		LEFT JOIN IFRS_MASTER_EXCHANGE_RATE IMER
			ON IIO.CURRENCY = IMER.CURRENCY
			AND IIO.DOWNLOAD_DATE = IMER.DOWNLOAD_DATE
		LEFT JOIN (
			SELECT * FROM IFRS_MASTER_EXCHANGE_RATE
			WHERE DOWNLOAD_DATE = @DOWNLOAD_DATE
			AND CURRENCY = @Currency
			)DRT
	ON IIO.DOWNLOAD_DATE = DRT.DOWNLOAD_DATE
	WHERE IIO.DOWNLOAD_DATE = @DOWNLOAD_DATE
		AND FLAG_IMPAIRMENT = 'I'
		AND LOWER(IIO.CUSTOMER_NUMBER) LIKE '%' + LOWER(RTRIM(LTRIM(@CUSTOMER_NUMBER))) + '%'
		AND LOWER(IIO.CUSTOMER_NAME) LIKE '%' + LOWER(RTRIM(LTRIM(@CUSTOMER_NAME))) + '%'
	GROUP BY IIO.CHECKLISTID,
		IIO.DOWNLOAD_DATE,
		IIO.CUSTOMER_NUMBER,
		IIO.CUSTOMER_NAME,
		DRT.CURRENCY,
		IIO.CHECKLISTSTATUS,
		BEING_EDITED_CIF
		
END;

GO
