USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_OS_WEIGHT_RATE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_LGD_OS_WEIGHT_RATE]
(
	@CURRDATE datetime = '1900-01-01'
)
as
begin
	select 
	A.GROUP_ORR_REPORTING, 
	A.CURRENCY, 
	ISNULL(A.OUTSTANDING,0) AS OUTSTANDING,
	A.OS_INTEREST_RATE, 
	A.OS_WEIGHTED_INTEREST_RATE, 
	A.CURRDATE
	from IFRS_LGD_OS_WEIGHTED_INT_RATE A
	where A.CURRDATE = @CURRDATE
end

GO
