USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_FACILITY_RPT_RECON]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_FACILITY_RPT_RECON]   
AS   
BEGIN   
 DECLARE @V_CURRDATE DATE   
  ,@V_PREVDATE DATE     
  ,@V_ROUND INTEGER    
  ,@V_FUNCROUND INTEGER   
  ,@ISBOM INTEGER     
  ,@ISBOY INTEGER     
   
 SELECT @V_CURRDATE = MAX(CURRDATE)    
  ,@V_PREVDATE = MAX(PREVDATE)    
 FROM IFRS_PRC_DATE_AMORT;    
    
 SET @V_ROUND = 2;   
 SET @V_FUNCROUND = 1;   
  
 INSERT INTO IFRS_AMORT_LOG (   
  DOWNLOAD_DATE      
  ,DTM     
  ,OPS    
  ,PROCNAME   
  ,REMARK   
  )    
 VALUES (   
  @V_CURRDATE   
  ,CURRENT_TIMESTAMP    
  ,'START'   
  ,'SP_IFRS_FACILITY_RPT_RECON'   
  ,''   
  )   
  
 SELECT @ISBOM = CASE   
   WHEN CONVERT(VARCHAR(6), @V_CURRDATE, 112) <> CONVERT(VARCHAR(6), @V_PREVDATE, 112)   
    THEN 1   
   ELSE 0    
   END   
  ,@ISBOY = CASE   
   WHEN CONVERT(VARCHAR(4), @V_CURRDATE, 112) <> CONVERT(VARCHAR(4), @V_PREVDATE, 112)    
    THEN 1       
   ELSE 0       
   END       
             
 /* MOVING TO SP ARCHIVING..   
  SET @V_DAY_RETENTION = 10 ;   
  
        SET @V_RETENTION_DATE = DATEADD(DAY, -1 * @V_DAY_RETENTION,@V_CURRDATE) ;   
  */    
 SELECT @V_ROUND = B.VALUE1   
  ,@V_FUNCROUND = B.VALUE2    
 FROM TBLM_COMMONCODEHEADER A      
  ,TBLM_COMMONCODEDETAIL B      
 WHERE A.COMMONCODE = B.COMMONCODE        
  AND A.COMMONCODE = 'SCM003'   
   
 INSERT INTO IFRS_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS    
  ,PROCNAME    
  ,REMARK      
  )   
 VALUES (   
  @V_CURRDATE   
  ,CURRENT_TIMESTAMP    
  ,'DEBUG'   
  ,'SP_IFRS_FACILITY_RPT_RECON'   
  ,'CLEANUP'   
  )    
    
 DELETE IFRS_FACILITY_REPORT_RECON     
 WHERE DOWNLOAD_DATE >= @V_CURRDATE;     
   
 EXECUTE ('TRUNCATE TABLE TMP_JOURNAL_PARAM');   
   
 INSERT INTO IFRS_AMORT_LOG (    
  DOWNLOAD_DATE   
  ,DTM    
  ,OPS    
  ,PROCNAME       
  ,REMARK    
  )    
 VALUES (   
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'DEBUG'    
  ,'SP_IFRS_FACILITY_RPT_RECON'    
  ,'INSERT TMP_JOURNAL_PARAM'    
  )   
    
 INSERT INTO TMP_JOURNAL_PARAM (    
  GL_CONSTNAME    
  ,TRX_CODE    
  ,FLAG_CF    
  ,JOURNALCODE    
  ,DRCR    
  ,GLNO    
  ,GL_INTERNAL_CODE    
  ,COSTCENTER    
  ,JOURNAL_DESC    
  ,CCY    
  )    
 SELECT GL_CONSTNAME    
  ,TRX_CODE    
  ,FLAG_CF    
  ,JOURNALCODE    
  ,DRCR    
  ,GLNO    
  ,GL_INTERNAL_CODE    
  ,COSTCENTER    
  ,JOURNAL_DESC    
  ,CCY    
 FROM IFRS_JOURNAL_PARAM    
 WHERE JOURNALCODE IN (    
   'ITRCGF','AMORTF'     
   );    
    
 EXECUTE ('TRUNCATE TABLE TMP_FAC_JOURNAL');    
    
 INSERT INTO IFRS_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS    
  ,PROCNAME    
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'DEBUG'    
  ,'SP_IFRS_FACILITY_RPT_RECON'    
  ,'INSERT TMP_FAC_JOURNAL'    
 )    
  
 INSERT INTO TMP_FAC_JOURNAL (    
  DOWNLOAD_DATE    
  ,FACNO    
  ,DATASOURCE    
  ,PRDTYPE    
  ,PRDCODE    
  ,TRXCODE    
  ,BRANCH    
  ,CCY    
  ,JOURNALCODE    
  ,DRCR                 
  ,FLAG_CF    
  ,REVERSE    
  ,VALCTR_CODE    
  ,GLNO    
  ,AMOUNT    
  )    
 SELECT @V_CURRDATE    
  ,GL.FACNO  
  ,GL.DATASOURCE    
  ,GL.PRDTYPE    
  ,GL.PRDCODE    
  ,GL.TRXCODE    
  ,GL.BRANCH    
  ,GL.CCY    
  ,GL.JOURNALCODE    
  ,GL.DRCR    
  ,GL.FLAG_CF    
  ,GL.REVERSE    
  ,GL.VALCTR_CODE    
  ,GL.GLNO    
  ,SUM(CASE     
    WHEN GL.DRCR = 'C'    
     THEN GL.N_AMOUNT    
    ELSE GL.N_AMOUNT * - 1    
END) AS AMOUNT    
 FROM IFRS_ACCT_JOURNAL_DATA GL      
 INNER JOIN (SELECT DISTINCT FACILITY_NUMBER,TRX_CODE FROM IFRS_TRX_FACILITY_HEADER_HIST WHERE DOWNLOAD_DATE <= @V_CURRDATE) TRX  
 ON GL.FACNO = TRX.FACILITY_NUMBER  
 AND GL.TRXCODE = TRX.TRX_CODE  
 WHERE GL.DOWNLOAD_DATE = @V_CURRDATE                
 AND GL.TRXCODE <> 'BENEFIT'          
 AND ((GL.MASTERID = GL.FACNO AND GL.JOURNALCODE IN ('ITRCGF','AMORTF')) OR (GL.JOURNALCODE IN ('ITRCG','ITRCG_SL','DEFA0')))  
 GROUP BY GL.FACNO                  
  ,GL.DATASOURCE    
  ,GL.PRDTYPE    
  ,GL.PRDCODE    
  ,GL.TRXCODE    
  ,GL.BRANCH             
  ,GL.CCY    
  ,GL.JOURNALCODE    
  ,GL.DRCR    
  ,GL.FLAG_CF    
  ,GL.REVERSE    
  ,GL.VALCTR_CODE    
  ,GL.GLNO  
   
 EXECUTE ('TRUNCATE TABLE TMP_FACILITY_REPORT_RECON');    
    
 INSERT INTO IFRS_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS              
  ,PROCNAME    
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'DEBUG'    
  ,'SP_IFRS_FACILITY_RPT_RECON'    
  ,'INSERT TMP_FACILITY_REPORT_RECON CURR'    
  )    
    
 --INSERT CURRENT DATE DATA          
 INSERT INTO TMP_FACILITY_REPORT_RECON (    
  DOWNLOAD_DATE  
  ,FACILITY_NUMBER  
  ,DATA_SOURCE  
  ,PRODUCT_CODE  
  ,TRANSACTION_CODE  
  ,CCY  
  ,FLAG_CF  
  ,INITIAL_GL_FEE_AMT  
  ,INITIAL_GL_COST_AMT  
  ,UNALOC_GL_FEE_AMT  
  ,UNALOC_GL_COST_AMT    
  )    
 SELECT A.DOWNLOAD_DATE    
  ,A.FACNO             
  ,A.DATASOURCE  
  ,A.PRDCODE             
  ,A.TRXCODE  
  ,A.CCY    
  ,A.FLAG_CF  
  ,SUM(CASE     
    WHEN A.JOURNALCODE = 'ITRCGF' AND FLAG_CF = 'F'    
     AND A.GLNO = X1.GLNO  
     THEN A.AMOUNT    
    ELSE 0    
    END) AS INITIAL_GL_FEE_AMT    
  ,SUM(CASE     
    WHEN A.JOURNALCODE = 'ITRCGF' AND FLAG_CF = 'C'                   
     AND A.GLNO = X3.GLNO    
     THEN A.AMOUNT    
    ELSE 0    
    END) AS INITIAL_GL_COST_AMT    
  ,SUM(CASE     
    WHEN A.FLAG_CF = 'F'    
     AND A.GLNO = X2.GLNO    
     THEN A.AMOUNT    
    ELSE 0    
    END) AS UNALOC_GL_FEE_AMT    
  ,SUM(CASE     
    WHEN A.FLAG_CF = 'C'    
     AND A.GLNO = X4.GLNO    
     THEN A.AMOUNT    
    ELSE 0    
    END) AS UNALOC_GL_COST_AMT    
 FROM TMP_FAC_JOURNAL A    
 LEFT JOIN (    
  SELECT DISTINCT GLNO    
  FROM TMP_JOURNAL_PARAM    
  WHERE JOURNALCODE IN (    
    'ITRCGF'    
    )    
   AND DRCR = 'C'    
   AND FLAG_CF = 'F'    
  ) X1 ON A.GLNO = X1.GLNO    
 --UNAMORT FEE GL                
 LEFT JOIN (    
  SELECT DISTINCT GLNO    
  FROM TMP_JOURNAL_PARAM    
  WHERE JOURNALCODE IN (    
    'AMORTF'    
    )    
   AND DRCR = 'D'    
   AND FLAG_CF = 'F'    
  ) X2 ON A.GLNO = X2.GLNO    
 --INITIAL COST GL               
 LEFT JOIN (    
  SELECT DISTINCT GLNO    
  FROM TMP_JOURNAL_PARAM    
  WHERE JOURNALCODE IN (    
    'ITRCGF'    
    )    
   AND DRCR = 'D'    
   AND FLAG_CF = 'C'    
  ) X3 ON A.GLNO = X3.GLNO   
 --UNAMORT COST GL   
 LEFT JOIN (   
  SELECT DISTINCT GLNO    
  FROM TMP_JOURNAL_PARAM    
  WHERE JOURNALCODE IN (   
    'AMORTF'   
    )    
   AND DRCR = 'C'    
   AND FLAG_CF = 'C'    
  ) X4 ON A.GLNO = X4.GLNO   
 GROUP BY A.DOWNLOAD_DATE    
  ,A.FACNO  
  ,A.DATASOURCE  
  ,A.PRDCODE   
  ,A.TRXCODE   
  ,A.CCY  
  ,A.FLAG_CF;    
    
/*   
 INSERT INTO IFRS_AMORT_LOG (   
  DOWNLOAD_DATE   
  ,DTM   
  ,OPS   
  ,PROCNAME    
  ,REMARK    
  )     
 VALUES (     
  @V_CURRDATE             
  ,CURRENT_TIMESTAMP     
  ,'DEBUG'    
  ,'SP_IFRS_FACILITY_RPT_RECON'    
  ,'INSERT TMP_IFRS_RECON FROM ACCT CF CURR'    
  )   
    
--INSERT CURRENT DATE FROM FEE COST   
INSERT  INTO TMP_LOAN_REPORT_RECON   
        ( DOWNLOAD_DATE,   
          MASTERID,   
          ACCOUNT_NUMBER,   
          CCY    
        )    
SELECT DISTINCT DOWNLOAD_DATE,MASTERID,ACCTNO,CCY   
FROM IFRS_ACCT_COST_FEE    
WHERE DOWNLOAD_DATE = @V_CURRDATE    
AND STATUS IN ('ACT','PNL')   
*/   
 INSERT INTO IFRS_AMORT_LOG (   
  DOWNLOAD_DATE     
  ,DTM    
  ,OPS    
  ,PROCNAME   
  ,REMARK   
  )   
 VALUES (   
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'DEBUG'   
  ,'SP_IFRS_FACILITY_RPT_RECON'   
  ,'INSERT TMP_IFRS_RECON PREV'   
  )   
   
 --INSERT PREVIOUS DATE DATA    
 INSERT INTO TMP_FACILITY_REPORT_RECON (   
  DOWNLOAD_DATE  
  ,FACILITY_NUMBER  
  ,DATA_SOURCE  
  ,PRODUCT_CODE  
  ,TRANSACTION_CODE  
  ,CCY  
  ,FLAG_CF  
  ,INITIAL_GL_FEE_AMT  
  ,INITIAL_GL_COST_AMT  
  ,UNALOC_GL_FEE_AMT  
  ,UNALOC_GL_COST_AMT    
  )   
 SELECT @V_CURRDATE    
  ,A.FACILITY_NUMBER   
  ,A.DATA_SOURCE  
  ,A.PRODUCT_CODE   
  ,A.TRANSACTION_CODE   
  ,A.CCY        
  ,A.FLAG_CF  
  ,A.INITIAL_GL_FEE_AMT   
  ,A.INITIAL_GL_COST_AMT   
  ,A.UNALOC_GL_FEE_AMT    
  ,A.UNALOC_GL_COST_AMT    
 FROM IFRS_FACILITY_REPORT_RECON A    
 WHERE A.DOWNLOAD_DATE = @V_PREVDATE;   
    
 INSERT INTO IFRS_AMORT_LOG (   
  DOWNLOAD_DATE   
  ,DTM    
  ,OPS     
  ,PROCNAME   
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE      ,CURRENT_TIMESTAMP     
  ,'DEBUG'    
  ,'SP_IFRS_FACILITY_RPT_RECON'   
  ,'INSERT PSAK_RECON'   
  )   
  
 --INSERT INTO IFRS_FACILITY_REPORT_RECON    
 INSERT INTO IFRS_FACILITY_REPORT_RECON (    
  DOWNLOAD_DATE    
  ,FACILITY_NUMBER   
  ,DATA_SOURCE   
  ,PRODUCT_CODE     
  ,TRANSACTION_CODE   
  ,CCY    
  ,FLAG_CF  
  ,INITIAL_GL_FEE_AMT    
  ,INITIAL_GL_COST_AMT   
  ,UNALOC_GL_FEE_AMT    
  ,UNALOC_GL_COST_AMT   
  )     
 SELECT X.DOWNLOAD_DATE   
  ,X.FACILITY_NUMBER     
  ,X.DATA_SOURCE   
  ,X.PRODUCT_CODE    
  ,X.TRANSACTION_CODE   
  ,X.CCY    
  ,X.FLAG_CF  
  ,SUM(INITIAL_GL_FEE_AMT)    
  ,SUM(INITIAL_GL_COST_AMT)   
  ,SUM(X.UNALOC_GL_FEE_AMT)   
  ,SUM(X.UNALOC_GL_COST_AMT)   
 FROM TMP_FACILITY_REPORT_RECON X    
 WHERE X.DOWNLOAD_DATE = @V_CURRDATE   
 GROUP BY X.DOWNLOAD_DATE   
  ,X.FACILITY_NUMBER   
  ,X.DATA_SOURCE   
  ,X.PRODUCT_CODE    
  ,X.TRANSACTION_CODE   
  ,X.CCY   
  ,X.FLAG_CF  
   
    
 INSERT INTO IFRS_AMORT_LOG (   
  DOWNLOAD_DATE   
  ,DTM   
  ,OPS    
  ,PROCNAME   
  ,REMARK    
  )   
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP   
  ,'DEBUG'   
  ,'SP_IFRS_FACILITY_RPT_RECON'   
  ,'UPD FACILITY RECON'   
  )   
    
 /*REMARKS  
 /*UPDATE DATA FROM PREV DATE*/   
 UPDATE A    
 SET A.BRANCH_CODE = B.BRANCH_CODE   
  ,A.DATA_SOURCE = B.DATA_SOURCE   
  ,A.PRODUCT_CODE = B.PRODUCT_CODE   
  ,A.PRODUCT_TYPE = B.PRODUCT_TYPE   
  ,A.JF_FLAG = B.JF_FLAG   
  --A.CURRENCY = B.CURRENCY,   
  ,A.EXCHANGE_RATE = B.EXCHANGE_RATE   
  --A.DEPARTMENT = B.DEPARTEMEN,   
  --A.SEGMENTATION = B.FACILITY_DESC,   
  ,A.BI_COLLECTABILITY = B.BI_COLLECTABILITY   
  ,A.DAY_PAST_DUE = B.DAY_PAST_DUE   
  ,A.INTEREST_RATE = B.INTEREST_RATE   
  ,A.EIR = B.EIR   
  ,A.LOAN_START_DATE = B.LOAN_START_DATE   
  ,A.LOAN_DUE_DATE = B.LOAN_DUE_DATE   
  ,A.OUTSTANDING = B.OUTSTANDING   
  ,A.OUTSTANDING_JF = B.OUTSTANDING_JF   
  ,A.OUTSTANDING_BANK = B.OUTSTANDING_BANK   
  ,A.PLAFOND = B.PLAFOND   
  ,A.METHOD = B.METHOD    
 FROM IFRS_FACILITY_REPORT_RECON A   
 JOIN IFRS_FACILITY_REPORT_RECON B ON A.FACILITY_NUMBER = B.FACILITY_NUMBER  
  AND A.CCY = B.CCY   
  AND A.DOWNLOAD_DATE = @V_CURRDATE   
  AND B.DOWNLOAD_DATE = @V_PREVDATE   
    
   
 --UPDATE FIELDS FROM MASTER ACCOUNT FROM CURRDATE   
MERGE INTO IFRS_FACILITY_REPORT_RECON A   
 USING IFRS_TRX_FACILITY_HEADER B   
  ----USING IFRS9_HISTORICAL..IFRS_MASTER_ACCOUNT_ACV B   
  ON (   
    A.MASTERID = B.MASTERID   
    AND A.DOWNLOAD_DATE = @V_CURRDATE   
    AND B.DOWNLOAD_DATE = @V_CURRDATE   
    )   
 WHEN MATCHED   
  THEN   
   UPDATE   
   SET A.MASTER_ACCOUNT_CODE = B.MASTER_ACCOUNT_CODE   
    ,A.FACILITY_NUMBER = B.FACILITY_NUMBER   
    ,A.CUSTOMER_NAME = B.CUSTOMER_NAME   
    ,A.BRANCH_CODE = B.BRANCH_CODE   
    ,A.DATA_SOURCE = B.DATA_SOURCE   
    ,A.PRODUCT_CODE = B.PRODUCT_CODE   
    ,A.PRODUCT_TYPE = B.PRODUCT_TYPE   
    ,A.JF_FLAG = B.JF_FLAG   
    --A.CURRENCY = B.CURRENCY,   
    ,A.EXCHANGE_RATE = B.EXCHANGE_RATE   
    --A.DEPARTMENT = B.DEPARTEMEN,   
    --A.SEGMENTATION = B.FACILITY_DESC,   
    ,A.BI_COLLECTABILITY = B.BI_COLLECTABILITY   
    ,A.DAY_PAST_DUE = B.DAY_PAST_DUE   
    ,A.INTEREST_RATE = B.INTEREST_RATE   
    ,A.EIR = B.EIR   
    ,A.LOAN_START_DATE = B.LOAN_START_DATE   
    ,A.LOAN_DUE_DATE = B.LOAN_DUE_DATE   
    ,A.OUTSTANDING = B.OUTSTANDING    
    ,A.OUTSTANDING_JF = B.OUTSTANDING_JF    
    ,A.OUTSTANDING_BANK = B.OUTSTANDING_BANK   
    ,A.PLAFOND = B.PLAFOND    
    ,A.UNAMORT_MASTER_FEE_AMT = ISNULL(B.UNAMORT_FEE_AMT, 0)   
    ,A.UNAMORT_MASTER_FEE_NONEIR_AMT = ISNULL(B.UNAMORT_FEE_AMT_JF, 0)   
    ,A.UNAMORT_MASTER_COST_AMT = ISNULL(B.UNAMORT_COST_AMT, 0)   
    ,A.UNAMORT_MASTER_COST_NONEIR_AMT = ISNULL(B.UNAMORT_COST_AMT_JF, 0)   
    ,A.METHOD = B.AMORT_TYPE;    
  END REMARKS*/   
    
  INSERT INTO IFRS_AMORT_LOG (   
  DOWNLOAD_DATE   
  ,DTM   
  ,OPS   
  ,PROCNAME   
  ,REMARK   
  )   
   VALUES (   
   @V_CURRDATE   
   ,CURRENT_TIMESTAMP   
   ,'DEBUG'   
   ,'SP_IFRS_FACILITY_RPT_RECON'   
   , 'UPD INITIAL RECON'   
   )   
   
   
  --INITIAL TRX AMOUNT & UNALOC   
    UPDATE  A   
    SET   A.INITIAL_TRX_FEE_AMT = ISNULL(C.FEE_AMOUNT,0) + ISNULL(B.INITIAL_TRX_FEE_AMT,0),   
            A.INITIAL_TRX_COST_AMT = ISNULL(C.COST_AMOUNT,0) + ISNULL(B.INITIAL_TRX_COST_AMT,0),   
   /*REMARKS 20191007
   A.UNALOC_TRX_FEE_AMT = ISNULL(C.UNALOC_FEE_AMOUNT,B.UNALOC_TRX_FEE_AMT), 
   A.UNALOC_TRX_COST_AMT = ISNULL(C.UNALOC_COST_AMOUNT,B.UNALOC_TRX_COST_AMT)  
   END REMARKS 20191007*/
   A.UNALOC_TRX_FEE_AMT = ISNULL(C.UNALOC_FEE_AMOUNT,0), 
   A.UNALOC_TRX_COST_AMT = ISNULL(C.UNALOC_COST_AMOUNT,0)  
    FROM IFRS_FACILITY_REPORT_RECON A   
    LEFT JOIN IFRS_FACILITY_REPORT_RECON B ON A.FACILITY_NUMBER = B.FACILITY_NUMBER   
          AND A.DATA_SOURCE = B.DATA_SOURCE   
    AND A.PRODUCT_CODE = B.PRODUCT_CODE   
    AND A.TRANSACTION_CODE = B.TRANSACTION_CODE   
    AND A.CCY = B.CCY   
    AND B.DOWNLOAD_DATE = @V_PREVDATE   
    LEFT JOIN ( SELECT  TRX.FACILITY_NUMBER,   
      TRX.DATA_SOURCE,   
      TRX.TRX_CODE,   
                  TRX.PRD_CODE,   
                  TRX.CCY,   
      SUM(CASE WHEN FLAG_CF = 'F' AND TRX.TRX_DATE = @V_CURRDATE 
			THEN TRX.TRX_AMOUNT * CASE WHEN STATUS = 'REV' THEN -1 ELSE 1 END
			ELSE 0 
		END) AS FEE_AMOUNT,   
      SUM(CASE WHEN FLAG_CF = 'C' AND TRX.TRX_DATE = @V_CURRDATE 
			THEN TRX.TRX_AMOUNT * CASE WHEN STATUS = 'REV' THEN -1 ELSE 1 END
			ELSE 0 
		END) AS COST_AMOUNT,   
      SUM(CASE WHEN FLAG_CF = 'F' THEN TRX.UNALOC  * CASE WHEN STATUS = 'REV' THEN -1 ELSE 1 END ELSE 0 END) AS UNALOC_FEE_AMOUNT,   
      SUM(CASE WHEN FLAG_CF = 'C' THEN TRX.UNALOC  * CASE WHEN STATUS = 'REV' THEN -1 ELSE 1 END ELSE 0 END) AS UNALOC_COST_AMOUNT   
    FROM    IFRS_TRX_FACILITY_HEADER_HIST TRX ( NOLOCK )    
    WHERE   TRX.DOWNLOAD_DATE = @V_CURRDATE   
    GROUP BY TRX.FACILITY_NUMBER,TRX.DATA_SOURCE,TRX.PRD_CODE,TRX.CCY,TRX.TRX_CODE   
    ) C ON A.FACILITY_NUMBER = C.FACILITY_NUMBER   
 AND A.DATA_SOURCE = C.DATA_SOURCE   
    AND A.PRODUCT_CODE = C.PRD_CODE   
    AND A.TRANSACTION_CODE = C.TRX_CODE   
    AND A.CCY = C.CCY   
    WHERE   A.DOWNLOAD_DATE = @V_CURRDATE   
   



   
 INSERT INTO IFRS_AMORT_LOG (   
  DOWNLOAD_DATE   
  ,DTM   
  ,OPS   
  ,PROCNAME   
  ,REMARK   
  )   
 VALUES (   
  @V_CURRDATE   
  ,CURRENT_TIMESTAMP   
  ,'DEBUG'   
  ,'SP_IFRS_FACILITY_RPT_RECON'   
  ,'UPD COUNTER RECON'   
  )   
   
 --UPDATE COUNTER CHECK FACILITY   
 UPDATE A   
 SET A.COUNTER_CHECK_FEE = CASE   
   WHEN A.FLAG_CF = 'F'   
    THEN ((INITIAL_TRX_FEE_AMT - UNALOC_TRX_FEE_AMT) - (INITIAL_GL_FEE_AMT - UNALOC_GL_FEE_AMT))   
   ELSE 0   
   END   
  ,A.COUNTER_CHECK_COST = CASE   
   WHEN A.FLAG_CF = 'C'   
    THEN ((INITIAL_TRX_COST_AMT - UNALOC_TRX_COST_AMT) + (INITIAL_GL_COST_AMT - UNALOC_GL_COST_AMT))   
   ELSE 0   
   END   
 FROM IFRS_FACILITY_REPORT_RECON A   
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE   
   
 INSERT INTO IFRS_AMORT_LOG (   
  DOWNLOAD_DATE   
  ,DTM   
  ,OPS   
  ,PROCNAME   
  ,REMARK   
  )   
 VALUES (   
  @V_CURRDATE   
  ,CURRENT_TIMESTAMP   
  ,'END'   
  ,'SP_IFRS_FACILITY_RPT_RECON'   
  ,''   
  )   
END;
GO
