USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_INDIVIDUAL_REVIEW_COLLATERAL_DCFID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_INDIVIDUAL_REVIEW_COLLATERAL_DCFID](         
 @MASTERID VARCHAR(100),  
 @DCFID BIGINT  
)                                    
AS                                    
BEGIN                                    
      
  SELECT * FROM IFRS_IMP_OVERRIDE_COLLATERAL_TEMP WHERE MASTERID = @MASTERID AND DCFID = @DCFID  
                        
END
GO
