USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LIFETIMMIGRATIONACCOUNT_D]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_LIFETIMMIGRATIONACCOUNT_D](
@LIFETIME_RULE_ID BIGINT = 0,
@DOWNLOAD_DATE DATE = '01/01/2000',
@BUCKET_FROM VARCHAR(20) = '')  
AS  
BEGIN
	
SET NOCOUNT ON;  
	
	SELECT DISTINCT A.PREV_DATE "Previous Date",  
		A.CURR_DATE "Current Date",  
		A.LIFETIME_UNIQUE_ID "Account Number",  
		A.OUTSTANDING "Outstanding",  
		B.BUCKET_NAME "Bucket From",  
		C.BUCKET_NAME "Bucket To"
	FROM IFRS_LT_MIGRATION_DETAIL A  
	JOIN IFRS_BUCKET_DETAIL B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_FROM = B.BUCKET_ID  
	JOIN IFRS_BUCKET_DETAIL C ON A.BUCKET_GROUP = C.BUCKET_GROUP AND A.BUCKET_TO = C.BUCKET_ID  
	JOIN IFRS_LIFETIME_RULES_CONFIG D ON A.LIFETIME_RULE_ID = D.PKID AND A.LIFETIME_RULE_ID = @LIFETIME_RULE_ID  
		AND A.CURR_DATE = @DOWNLOAD_DATE  AND B.BUCKET_NAME = @BUCKET_FROM
 ORDER BY A.LIFETIME_UNIQUE_ID, A.CURR_DATE;  

END;
GO
