USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_OVERRIDE_CUSTOMER_DETAIL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_OVERRIDE_CUSTOMER_DETAIL](
 @CIF VARCHAR(100),
 @BUSINESS_UNIT VARCHAR(20),
 @DOWNLOAD_DATE VARCHAR(100)
)
AS
BEGIN

	SELECT
		A.DOWNLOAD_DATE,
		CUSTOMER_NUMBER,
		MAX(ISNULL(CUSTOMER_NAME,' ')) as CUSTOMER_NAME,
		MAX(MASTER_ACCOUNT_CODE) as MASTERID,
		MAX(PRODUCT_GROUP) AS PRODUCT_GROUP,
		CASE WHEN A.DATA_SOURCE = 'LIMIT_T24' THEN SUM(ISNULL(UNUSED_AMOUNT,0) * B.RATE_AMOUNT)
			ELSE SUM(ISNULL(OUTSTANDING,0) * B.RATE_AMOUNT) END OUTSTANDING,
		MAX(ISNULL(PLAFOND,0) * B.RATE_AMOUNT) PLAFOND,
		MAX(ISNULL(PLAFOND_CIF,0) * B.RATE_AMOUNT) PLAFOND_CIF,
		MAX(LOAN_DUE_DATE) LOAN_DUE_DATE,
		MAX(BI_COLLECTABILITY) BI_COLLECTABILITY,
		MAX(DAY_PAST_DUE) DAY_PAST_DUE,
		MAX(DPD_CIF) DPD_CIF,
		RATING_CODE
	FROM IFRS_MASTER_ACCOUNT A
	LEFT JOIN IFRS_MASTER_EXCHANGE_RATE B ON ISNULL(A.LIMIT_CURRENCY, 'IDR') = B.CURRENCY AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE
	WHERE CUSTOMER_NUMBER = @CIF
		AND A.DOWNLOAD_DATE = @DOWNLOAD_DATE
		AND DATA_SOURCE <> 'LIMIT'
		AND DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND PARENTCOMMONCODEVALUE = @BUSINESS_UNIT AND ISNULL(IS_DELETE,0) = 0)
	GROUP BY A.DOWNLOAD_DATE,
		CUSTOMER_NUMBER,
		RATING_CODE,
		A.DATA_SOURCE

END
GO
