USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_PD_FL_YEAR_TO_MONTH]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_IMP_PD_FL_YEAR_TO_MONTH]
@DOWNLOAD_DATE DATE = ''    
AS    
BEGIN    
    
DECLARE @V_CURRDATE DATE    
DECLARE @V_PREVDATE DATE    
DECLARE @V_PREVMONTH DATE    
    
IF @DOWNLOAD_DATE <> ''        
BEGIN        
SET @V_CURRDATE = @DOWNLOAD_DATE      
SET @V_PREVDATE = DATEADD(DAY, -1, @V_CURRDATE)        
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH, -1, @V_CURRDATE))        
END        
ELSE        
BEGIN         
SELECT @V_CURRDATE = CURRDATE        
 FROM IFRS_PRC_DATE        
 SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
 SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))    
END        
 
 DELETE A FROM [IFRS_IMP_PD_FL_TERM_STRUCTURE] A
 INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID
 WHERE DOWNLOAD_DATE = @V_CURRDATE
  AND B.ACTIVE_FLAG = 1 AND B.IS_DELETE = 0
  
  
INSERT INTO  [IFRS_IMP_PD_FL_TERM_STRUCTURE] 
(
 DOWNLOAD_DATE
,PD_EFFECTIVE_DATE
,SCALAR_EFFECTIVE_DATE
,ECL_MODEL_ID
,SEGMENTATION_ID
,PD_RULE_ID
,PD_RULE_NAME
,ME_MODEL_ID
,BUCKET_GROUP
,BUCKET_ID
,BUCKET_NAME
,FL_SEQ
,FL_MONTH
,FL_YEAR
,PD_FINAL
,CREATEDBY
,CREATEDDATE
,PD_RATE   
,SCALAR
,PD_SCALAR
,CUMULATIVE_PD_SCALAR
)
SELECT @V_CURRDATE AS DOWNLOAD_DATE
,B.EFF_DATE AS PD_EFFECTIVE_DATE
,B.SCALAR_EFF_DATE
,B.ECL_MODEL_ID
,B.SEGMENTATION_ID AS SEGMENTATION_ID
,PD_RULE_ID
,PD_RULE_NAME
,ME_MODEL_ID
,C.BUCKET_GROUP
,BUCKET_ID
,BUCKET_NAME
,FL_SEQ
,C.FL_MONTH
,C.FL_YEAR
,NULL AS PD_FINAL
,'SYSTEM' AS CREATEDBY
,GETDATE() AS  CREATEDDATE
,PD_RATE
,ISNULL(D.SCALAR_FINAL,1)
,CASE WHEN E.BUCKET_GROUP IS NOT NULL AND FL_SEQ = 1 THEN 1 
 WHEN PD_RATE* ISNULL(D.SCALAR_FINAL,1) > 1 THEN 1 
ELSE PD_RATE* ISNULL(D.SCALAR_FINAL,1) END AS PD_FINAL
,NULL AS CUMULATIVE_PD_SCALAR
FROM IFRS_ECL_MODEL_HEADER A 
INNER JOIN IFRS_ECL_MODEL_DETAIL_PD B ON A.PKID = B.ECL_MODEL_ID 
INNER JOIN IFRS_PD_TERM_STRUCTURE_NOFL C ON B.PD_MODEL_ID = C.PD_RULE_ID AND B.EFF_DATE = C.DOWNLOAD_DATE
LEFT JOIN IFRS_ME_FL_SCALAR_RESULT D ON B.ME_MODEL_ID = D.MODEL_ID AND B.SCALAR_EFF_DATE = D.PERIOD_DATE AND C.FL_YEAR = D.FL_YEAR
LEFT JOIN [VW_IFRS_MAX_BUCKET] E ON C.BUCKET_GROUP = E.BUCKET_GROUP AND C.BUCKET_ID = E.MAX_BUCKET_ID
WHERE  A.IS_DELETE = 0 AND A.ACTIVE_STATUS = 1


--- NEW RULE FOR CUMMULATIVE PD NOT EXCEED 100 %
IF OBJECT_ID ('TEMPDB.DBO.#CUMMULATIVE_PD') IS NOT NULL DROP TABLE #CUMMULATIVE_PD
SELECT *, 
CASE WHEN SUM(PD_SCALAR) OVER (PARTITION BY DOWNLOAD_DATE,ECL_MODEL_ID, PD_RULE_ID,BUCKET_ID,SEGMENTATION_ID ORDER BY FL_SEQ)  > 1 THEN CAST( 1 AS FLOAT) 
ELSE CAST(SUM(PD_SCALAR) OVER (PARTITION BY DOWNLOAD_DATE,ECL_MODEL_ID, PD_RULE_ID,BUCKET_ID,SEGMENTATION_ID ORDER BY FL_SEQ) AS FLOAT) END  AS CUMULATIVE_PD_SCALAR2 
INTO #CUMMULATIVE_PD
FROM [IFRS_IMP_PD_FL_TERM_STRUCTURE] WHERE DOWNLOAD_DATE = @V_CURRDATE

IF OBJECT_ID ('TEMPDB.DBO.#PD_FINAL') IS NOT NULL DROP TABLE #PD_FINAL
SELECT *,
CAST(ISNULL(CUMULATIVE_PD_SCALAR2,0) AS FLOAT) - CAST(ISNULL(LAG(CUMULATIVE_PD_SCALAR2) OVER (PARTITION BY DOWNLOAD_DATE,ECL_MODEL_ID, PD_RULE_ID,BUCKET_ID,SEGMENTATION_ID ORDER BY FL_SEQ),0) AS FLOAT)   AS PD_FINAL2
INTO #PD_FINAL
FROM #CUMMULATIVE_PD
WHERE DOWNLOAD_DATE = @V_CURRDATE

UPDATE A
SET  PD_FINAL = B.PD_FINAL2
,CUMULATIVE_PD_SCALAR = B.CUMULATIVE_PD_SCALAR2
FROM [IFRS_IMP_PD_FL_TERM_STRUCTURE] A 
INNER JOIN #PD_FINAL B  ON A.ECL_MODEL_ID = B.ECL_MODEL_ID AND A.SEGMENTATION_ID = B.SEGMENTATION_ID AND A.PD_RULE_ID = B.PD_RULE_ID 
AND A.BUCKET_ID = B.BUCKET_ID AND A.FL_SEQ = B.FL_SEQ
 INNER JOIN IFRS_PD_RULES_CONFIG C ON A.PD_RULE_ID = C.PKID
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE
  AND C.ACTIVE_FLAG = 1 AND C.IS_DELETE = 0

--- NEW RULE FOR CUMMULATIVE PD NOT EXCEED 100 %


END

GO
