USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULEEIRCURRENTCHART]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOANMODULEEIRCURRENTCHART]  
(  
    @DDATE_MAID VARCHAR(50)=''  
)  
AS  
 /*add */  
 DECLARE @DATE DATE;  
 DECLARE @DATE2 DATE;  
 DECLARE @MASTERID VARCHAR(100);  
 /*add */      
BEGIN  
  
SET @DATE = CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID,1,10),111);            
SET @MASTERID = SUBSTRING(@DDATE_MAID,11,len(@DDATE_MAID));  
  
SELECT @DATE2=MAX(DOWNLOAD_DATE)  
FROM IFRS_ACCT_EIR_ECF (NOLOCK)   
WHERE MASTERID = @MASTERID         
AND DOWNLOAD_DATE <= @DATE;  
  
IF (@DATE2 = NULL)  
 SET @DATE2 = '1900/01/01';  
  
        SELECT CONVERT(VARCHAR,PMT_DATE, 106) AS EFFDATE,  
            N_INT_PAYMENT AS INTEREST,  
            N_EFF_INT_AMT AS EIR_AMOUNT,  
            NOCF_EFF_INT_AMT,  
            N_COST_AMORT_AMT AS AMORT_TXN_COST,  
            N_FEE_AMORT_AMT AS AMORT_ORG_FEE  
        FROM IFRS_ACCT_EIR_ECF (NOLOCK)   
        WHERE MASTERID = @MASTERID  
        AND DOWNLOAD_DATE = @DATE2  
        /* remarks  
         MASTERID = SUBSTR(v_DDATE_MAID,11,length(v_DDATE_MAID))  
            AND AMORTSTOPDATE IS NULL    
        */   
        ORDER BY PMT_DATE ASC;  
  
END;

GO
