USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMMACROECONOMIC]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMMACROECONOMIC]  
(  
    @Where VARCHAR(4000) = ' '  
)  
AS  
BEGIN  
  
    DECLARE @Query VARCHAR (3000);  
  
    SET @Query =  
  'SELECT *  
  , CONVERT(varchar, PKID) as UPLOADID   
  FROM tblM_Macro_Economic'  
  + ISNULL(CASE WHEN @Where <> ' ' THEN  
   ' WHERE ' + ISNULL(@Where, '')  
  END, '')  
  + ' ORDER BY ME_CODE ASC';  
  
    EXECUTE  (@Query);  
      
END;  
  
GO
