USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FCAST_LIGHT_OVERRIDE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_FCAST_LIGHT_OVERRIDE]
(
	@PKID BIGINT
)
AS
BEGIN
	SELECT
		A.PERIOD, 
		A.LIGHT_ID,
		C.LIGHT_COLOR,
		A.OVERRIDE_LIGHT_ID,
		C.IMAGE_URL
	FROM TMP_IFRS_ME_FORECAST_SCORE A
	JOIN IFRS_LIGHT_PD_CONFIG B 
	ON A.LIGHT_PD_MODEL_ID = B.PKID
	JOIN IFRS_IMP_LIGHT_SCEN_PARAM C 
	ON C.LIGHT_GROUP = B.LIGHT_GROUP 
		AND C.LIGHT_ID = A.LIGHT_ID
	WHERE B.PKID=@PKID
	ORDER BY A.PERIOD;
END

GO
