USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPDATASOURCEBYINSCLAS]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPDATASOURCEBYINSCLAS]
(
	@INST_CLS_VALUE VARCHAR(10) = ''
)
AS
BEGIN

	SELECT DISTINCT DATA_SOURCE,  
		DATA_SOURCE "Data Source" 
	FROM IFRS_MASTER_PRODUCT_PARAM
	WHERE INST_CLS_VALUE = @INST_CLS_VALUE AND IS_DELETE = 0

END;


GO
