USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_TMP_AVG_HIST_ME_LIGHT]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPU_TMP_AVG_HIST_ME_LIGHT]
(
	@LightPDModelId bigint = 0,
	@LightId int=0,
	@OverrideLightId float=0,
	@UpdatedBy varchar(36)='',
	@UpdatedHost varchar(36)=''
)
as
begin
	update TMP_IFRS_LIGHT_AVG_HIST_ME
	set OVERRIDE_AVG_LIGHT_ID = @OverrideLightId
	where LIGHT_PD_MODEL_ID = @LightPDModelId
	and AVG_LIGHT_ID = @LightId
end

GO
