USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TRADEMODULETOTALTRANS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_TRADEMODULETOTALTRANS]  
(  
  @DDATE_MAID VARCHAR(100)= ''  
)  
AS  
   
BEGIN  
  
      SELECT ABS(AMOUNT_FEE + AMORT_FEE) UNAMORT_FEE  ,  
             ABS(AMORT_FEE) AMORT_FEE  ,  
             ABS(AMOUNT_COST + AMORT_COST) UNAMORT_COST  ,  
             ABS(AMORT_COST) AMORT_COST    
        FROM IFRS_ACCT_COST_FEE_SUMM (NOLOCK)   
        WHERE 
              MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))  
                AND DOWNLOAD_DATE = CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10) , 111)  
        
END;

GO
