USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMIMPAIRCABUCK]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_PARAMIMPAIRCABUCK]          
(          
 @BUCKET_ID INT,          
 @BUCKET_NAME VARCHAR(100),          
 @SUB_BUCKET_NAME VARCHAR(30),          
 @BUCKET_DESCRIPTION VARCHAR(200),          
 @OPTION_GROUP VARCHAR(10),          
 @BUCKET_GROUP VARCHAR(25),          
 @RANGE_START INT,          
 @RANGE_END INT,          
 @FULLY_PAID bit,      
 @WO_FLAG bit,    
 @CLOSE_FLAG bit,         
 @MINIMUM_PD float,          
 @MAXIMUM_PD float,       
 @CreatedBy VARCHAR(36),          
 @CreatedHost VARCHAR(30)          
)          
AS          
BEGIN      
      
declare @flag as int      
set @flag = 0      
      
IF EXISTS(SELECT * FROM IFRS_BUCKET_HEADER WHERE BUCKET_GROUP = @BUCKET_GROUP AND IS_DELETE = 0)      
BEGIN      
	set @flag = @flag + 1      
END      
      
IF @OPTION_GROUP = 'BIC'      
BEGIN      
	SET @RANGE_START = @BUCKET_ID;      
	SET @RANGE_END   = @BUCKET_ID;      
END;      
--ELSE IF @OPTION_GROUP IN ('IR','ER') AND ISNULL(@SUB_BUCKET_NAME,'') != ''      
--BEGIN      
--     IF EXISTS (
--		SELECT TOP 1 1
--		FROM IFRS_BUCKET_DETAIL      
--		WHERE BUCKET_GROUP = @BUCKET_GROUP      
--			AND SUB_BUCKET_GROUP = @SUB_BUCKET_NAME
--			AND ISNULL(IS_DELETE, 0) = 0)
   
--	   SELECT @BUCKET_ID = MIN(BUCKET_ID)      
--	   FROM IFRS_BUCKET_DETAIL      
--	   WHERE BUCKET_GROUP = @BUCKET_GROUP      
--			AND SUB_BUCKET_GROUP = @SUB_BUCKET_NAME
--			AND ISNULL(IS_DELETE, 0) = 0;      
--	ELSE IF EXISTS (
--		SELECT TOP 1 1
--		FROM IFRS_BUCKET_DETAIL      
--		WHERE BUCKET_GROUP = @BUCKET_GROUP
--			AND ISNULL(IS_DELETE, 0) = 0)      
		
--		SELECT @BUCKET_ID = MAX(BUCKET_ID) + 1      
--		FROM IFRS_BUCKET_DETAIL      
--		WHERE BUCKET_GROUP = @BUCKET_GROUP
--			AND ISNULL(IS_DELETE, 0) = 0;      
--	ELSE      
--	SELECT @BUCKET_ID = 1;      
-- END;      
          
      
 IF @flag = 0      
 BEGIN      
  INSERT INTO IFRS_BUCKET_HEADER          
  (          
   BUCKET_GROUP,          
   BUCKET_DESCRIPTION,      
   OPTION_GROUPING,      
   INCLUDE_CLOSE_FLAG,      
   INCLUDE_WO_FLAG,      
   INCLUDE_FULLYPAID_FLAG,      
   IS_DELETE,      
   CreatedBy,          
   CreatedDate,          
   CreatedHost          
  )          
  VALUES          
  (          
   @BUCKET_GROUP,                 
   @BUCKET_DESCRIPTION,          
   @OPTION_GROUP,      
   @CLOSE_FLAG,      
   @WO_FLAG,      
   @FULLY_PAID,      
   0,          
   @CreatedBy,          
   GETDATE(),          
   @CreatedHost          
  )      
 END      
      
 INSERT INTO IFRS_BUCKET_DETAIL          
 (          
  BUCKET_GROUP,          
  BUCKET_ID,          
  BUCKET_NAME,          
  SUB_BUCKET_GROUP,            
  RANGE_START,          
  RANGE_END,        
  MINIMUM_PD,      
  MAXIMUM_PD,      
  CreatedBy,          
  CreatedDate,          
  CreatedHost          
 )          
 VALUES          
 (          
  @BUCKET_GROUP,          
  @BUCKET_ID,          
  @BUCKET_NAME,          
  @SUB_BUCKET_NAME,           
  @RANGE_START,          
  @RANGE_END,       
  @MINIMUM_PD,      
  @MAXIMUM_PD,       
  @CreatedBy,          
  GETDATE(),          
  @CreatedHost          
 )          
          
END 

GO
