USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_JOURNAL_GAIN_LOSS]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_JOURNAL_GAIN_LOSS]  
AS  
BEGIN   
DECLARE @V_CURRDATE DATE            
 ,@V_PREVDATE DATE            
 ,@V_PREVMONTH DATE                 
                 
 SELECT @V_CURRDATE = MAX(CURRDATE)            
  ,@V_PREVDATE = MAX(PREVDATE)            
 FROM IFRS_PRC_DATE_AMORT              
 SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH, - 1, @V_CURRDATE))           
  
  
IF @V_CURRDATE = EOMONTH(@V_CURRDATE)  
BEGIN  
--------------------------------------------------------------- FVTPL --------------------------------------------------------------------------  
  
-- ITRCG JOURNAL  
INSERT INTO IFRS_ACCT_JOURNAL_DATA  
 (DOWNLOAD_DATE  
,MASTERID  
,FACNO  
,CIFNO  
,ACCTNO  
,DATASOURCE  
,PRDTYPE  
,PRDCODE  
,TRXCODE  
,CCY  
,JOURNALCODE  
,JOURNALCODE2  
,STATUS  
,REVERSE  
,FLAG_CF  
,DRCR  
,GLNO  
,N_AMOUNT  
,N_AMOUNT_IDR  
,SOURCEPROCESS  
,INTMID  
,BRANCH  
,NOREF  
,VALCTR_CODE  
,JOURNAL_DESC  
,CREATEDDATE  
,CREATEDBY  
,GL_INTERNAL_CODE  
,METHOD  
,ACCOUNT_TYPE  
,CUSTOMER_TYPE  
 )  
 SELECT   
 @V_CURRDATE AS DOWNLOAD_DATE  
,B.MASTERID AS MASTERID  
,B.FACILITY_NUMBER AS FACNO  
,B.CUSTOMER_NUMBER AS CIFNO  
,B.ACCOUNT_NUMBER AS ACCTNO  
,B.DATA_SOURCE AS DATASOURCE  
,B.PRODUCT_TYPE AS PRDTYPE  
,B.PRODUCT_CODE AS PRDCODE  
,NULL AS TRXCODE  
,B.CURRENCY AS CCY  
,C.IFRS_ACCT_TYPE AS JOURNALCODE  
,C.IFRS_ACCT_TYPE  AS JOURNALCODE2  
,'ACT' AS STATUS  
,'N' AS REVERSE  
,IFRS_COST_VALUE AS FLAG_CF  
,LEFT(TXN_TYPE,1) AS DRCR  
,C.GL_CODE AS GLNO  
,ABS(A.OUTSTANDING) AS N_AMOUNT  
,ABS(A.OUTSTANDING*ISNULL(EXCHANGE_RATE,1)) AS N_AMOUNT_IDR  
,'GAIN_LOSS' AS SOURCEPROCESS  
,NULL AS INTMID  
,B.BRANCH_CODE AS BRANCH  
,CASE WHEN LEFT(TXN_TYPE,1) = 'D' THEN '601' ELSE '602' END  AS NOREF  
,NULL AS VALCTR_CODE  
,C.REMARKS AS JOURNAL_DESC  
,GETDATE() AS CREATEDDATE  
,'SYSTEM' AS CREATEDBY  
,NULL AS GL_INTERNAL_CODE  
,B.AMORT_TYPE AS METHOD  
,B.ACCOUNT_TYPE AS ACCOUNT_TYPE  
,B.CUSTOMER_TYPE AS CUSTOMER_TYPE  
FROM IFRS_EIR_ADJUSTMENT A   
INNER JOIN IFRS_IMA_AMORT_CURR B   
ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE= B.DOWNLOAD_DATE  
INNER JOIN IFRS_MASTER_JOURNAL_PARAM C   
ON  B.GL_CONSTNAME = C.GL_CONSTNAME  
AND C.IFRS_ACCT_TYPE  IN ('ITRCG_PL')  
 AND (C.CCY = B.CURRENCY  OR C.CCY = 'ALL')
 AND C.IS_DELETE  = 0            
WHERE A.DOWNLOAD_DATE = @V_CURRDATE  
AND A.IFRS9_CLASS = 'FVTPL'  
  
-- GAIN JOURNAL   
 INSERT INTO IFRS_ACCT_JOURNAL_DATA  
 (DOWNLOAD_DATE  
,MASTERID  
,FACNO  
,CIFNO  
,ACCTNO  
,DATASOURCE  
,PRDTYPE  
,PRDCODE  
,TRXCODE  
,CCY  
,JOURNALCODE  
,JOURNALCODE2  
,STATUS  
,REVERSE  
,FLAG_CF  
,DRCR  
,GLNO  
,N_AMOUNT  
,N_AMOUNT_IDR  
,SOURCEPROCESS  
,INTMID  
,BRANCH  
,NOREF  
,VALCTR_CODE  
,JOURNAL_DESC  
,CREATEDDATE  
,CREATEDBY  
,GL_INTERNAL_CODE  
,METHOD  
,ACCOUNT_TYPE  
,CUSTOMER_TYPE  
 )  
 SELECT   
 @V_CURRDATE AS DOWNLOAD_DATE  
,B.MASTERID AS MASTERID  
,B.FACILITY_NUMBER AS FACNO  
,B.CUSTOMER_NUMBER AS CIFNO  
,B.ACCOUNT_NUMBER AS ACCTNO  
,B.DATA_SOURCE AS DATASOURCE  
,B.PRODUCT_TYPE AS PRDTYPE  
,B.PRODUCT_CODE AS PRDCODE  
,NULL AS TRXCODE  
,B.CURRENCY AS CCY  
,C.IFRS_ACCT_TYPE AS JOURNALCODE  
,C.IFRS_ACCT_TYPE  AS JOURNALCODE2  
,'ACT' AS STATUS  
,'N' AS REVERSE  
,IFRS_COST_VALUE AS FLAG_CF  
,LEFT(TXN_TYPE,1) AS DRCR  
,C.GL_CODE AS GLNO  
,ABS(A.TOT_ADJUST) AS N_AMOUNT  
,ABS(A.TOT_ADJUST*ISNULL(EXCHANGE_RATE,1)) AS N_AMOUNT_IDR  
,'GAIN_LOSS' AS SOURCEPROCESS  
,NULL AS INTMID  
,B.BRANCH_CODE AS BRANCH  
,CASE WHEN LEFT(TXN_TYPE,1) = 'D' THEN '701' ELSE '702' END  AS NOREF  
,NULL AS VALCTR_CODE  
,C.REMARKS AS JOURNAL_DESC  
,GETDATE() AS CREATEDDATE  
,'SYSTEM' AS CREATEDBY  
,NULL AS GL_INTERNAL_CODE  
,B.AMORT_TYPE AS METHOD  
,B.ACCOUNT_TYPE AS ACCOUNT_TYPE  
,B.CUSTOMER_TYPE AS CUSTOMER_TYPE  
FROM IFRS_EIR_ADJUSTMENT A   
INNER JOIN IFRS_IMA_AMORT_CURR B   
ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE= B.DOWNLOAD_DATE  
INNER JOIN IFRS_MASTER_JOURNAL_PARAM C   
ON  B.GL_CONSTNAME = C.GL_CONSTNAME  
AND C.IFRS_ACCT_TYPE  IN ('GAIN_PL')  
 AND (C.CCY = B.CURRENCY  OR C.CCY = 'ALL')        
 AND C.IS_DELETE  = 0    
WHERE A.DOWNLOAD_DATE = @V_CURRDATE  
AND A.IFRS9_CLASS = 'FVTPL'  
AND A.TOT_ADJUST > 0  
  
  
-- LOSS JOURNAL   
 INSERT INTO IFRS_ACCT_JOURNAL_DATA  
 (DOWNLOAD_DATE  
,MASTERID  
,FACNO  
,CIFNO  
,ACCTNO  
,DATASOURCE  
,PRDTYPE  
,PRDCODE  
,TRXCODE  
,CCY  
,JOURNALCODE  
,JOURNALCODE2  
,STATUS  
,REVERSE  
,FLAG_CF  
,DRCR  
,GLNO  
,N_AMOUNT  
,N_AMOUNT_IDR  
,SOURCEPROCESS  
,INTMID  
,BRANCH  
,NOREF  
,VALCTR_CODE  
,JOURNAL_DESC  
,CREATEDDATE  
,CREATEDBY  
,GL_INTERNAL_CODE  
,METHOD  
,ACCOUNT_TYPE  
,CUSTOMER_TYPE  
 )  
 SELECT   
 @V_CURRDATE AS DOWNLOAD_DATE  
,B.MASTERID AS MASTERID  
,B.FACILITY_NUMBER AS FACNO  
,B.CUSTOMER_NUMBER AS CIFNO  
,B.ACCOUNT_NUMBER AS ACCTNO  
,B.DATA_SOURCE AS DATASOURCE  
,B.PRODUCT_TYPE AS PRDTYPE  
,B.PRODUCT_CODE AS PRDCODE  
,NULL AS TRXCODE  
,B.CURRENCY AS CCY  
,C.IFRS_ACCT_TYPE AS JOURNALCODE  
,C.IFRS_ACCT_TYPE  AS JOURNALCODE2  
,'ACT' AS STATUS  
,'N' AS REVERSE  
,IFRS_COST_VALUE AS FLAG_CF  
,LEFT(TXN_TYPE,1) AS DRCR  
,C.GL_CODE AS GLNO  
,ABS(A.TOT_ADJUST) AS N_AMOUNT  
,ABS(A.TOT_ADJUST*ISNULL(EXCHANGE_RATE,1)) AS N_AMOUNT_IDR  
,'GAIN_LOSS' AS SOURCEPROCESS  
,NULL AS INTMID  
,B.BRANCH_CODE AS BRANCH  
,CASE WHEN LEFT(TXN_TYPE,1) = 'D' THEN '711' ELSE '712' END  AS NOREF  
,NULL AS VALCTR_CODE  
,C.REMARKS AS JOURNAL_DESC  
,GETDATE() AS CREATEDDATE  
,'SYSTEM' AS CREATEDBY  
,NULL AS GL_INTERNAL_CODE  
,B.AMORT_TYPE AS METHOD  
,B.ACCOUNT_TYPE AS ACCOUNT_TYPE  
,B.CUSTOMER_TYPE AS CUSTOMER_TYPE  
FROM IFRS_EIR_ADJUSTMENT A   
INNER JOIN IFRS_IMA_AMORT_CURR B   
ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE= B.DOWNLOAD_DATE  
INNER JOIN IFRS_MASTER_JOURNAL_PARAM C   
ON  B.GL_CONSTNAME = C.GL_CONSTNAME  
AND C.IFRS_ACCT_TYPE  IN ('LOSS_PL')  
 AND (C.CCY = B.CURRENCY  OR C.CCY = 'ALL')            
 AND C.IS_DELETE  = 0
WHERE A.DOWNLOAD_DATE = @V_CURRDATE  
AND A.IFRS9_CLASS = 'FVTPL'  
AND A.TOT_ADJUST < 0  
--------------------------------------------------------------- FVTPL --------------------------------------------------------------------------  
--------------------------------------------------------------- FVOCI --------------------------------------------------------------------------  
  
-- ITRCG JOURNAL  
INSERT INTO IFRS_ACCT_JOURNAL_DATA  
 (DOWNLOAD_DATE  
,MASTERID  
,FACNO  
,CIFNO  
,ACCTNO  
,DATASOURCE  
,PRDTYPE  
,PRDCODE  
,TRXCODE  
,CCY  
,JOURNALCODE  
,JOURNALCODE2  
,STATUS  
,REVERSE  
,FLAG_CF  
,DRCR  
,GLNO  
,N_AMOUNT  
,N_AMOUNT_IDR  
,SOURCEPROCESS  
,INTMID  
,BRANCH  
,NOREF  
,VALCTR_CODE  
,JOURNAL_DESC  
,CREATEDDATE  
,CREATEDBY  
,GL_INTERNAL_CODE  
,METHOD  
,ACCOUNT_TYPE  
,CUSTOMER_TYPE  
 )  
 SELECT   
 @V_CURRDATE AS DOWNLOAD_DATE  
,B.MASTERID AS MASTERID  
,B.FACILITY_NUMBER AS FACNO  
,B.CUSTOMER_NUMBER AS CIFNO  
,B.ACCOUNT_NUMBER AS ACCTNO  
,B.DATA_SOURCE AS DATASOURCE  
,B.PRODUCT_TYPE AS PRDTYPE  
,B.PRODUCT_CODE AS PRDCODE  
,NULL AS TRXCODE  
,B.CURRENCY AS CCY  
,C.IFRS_ACCT_TYPE AS JOURNALCODE  
,C.IFRS_ACCT_TYPE  AS JOURNALCODE2  
,'ACT' AS STATUS  
,'N' AS REVERSE  
,IFRS_COST_VALUE AS FLAG_CF  
,LEFT(TXN_TYPE,1) AS DRCR  
,C.GL_CODE AS GLNO  
,A.OUTSTANDING AS N_AMOUNT  
,A.OUTSTANDING*ISNULL(EXCHANGE_RATE,1) AS N_AMOUNT_IDR  
,'GAIN_LOSS' AS SOURCEPROCESS  
,NULL AS INTMID  
,B.BRANCH_CODE AS BRANCH  
,CASE WHEN LEFT(TXN_TYPE,1) = 'D' THEN '611' ELSE '612' END  AS NOREF  
,NULL AS VALCTR_CODE  
,C.REMARKS AS JOURNAL_DESC  
,GETDATE() AS CREATEDDATE  
,'SYSTEM' AS CREATEDBY  
,NULL AS GL_INTERNAL_CODE  
,B.AMORT_TYPE AS METHOD  
,B.ACCOUNT_TYPE AS ACCOUNT_TYPE  
,B.CUSTOMER_TYPE AS CUSTOMER_TYPE  
FROM IFRS_EIR_ADJUSTMENT A   
INNER JOIN IFRS_IMA_AMORT_CURR B   
ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE= B.DOWNLOAD_DATE  
INNER JOIN IFRS_MASTER_JOURNAL_PARAM C   
ON  B.GL_CONSTNAME = C.GL_CONSTNAME  
AND C.IFRS_ACCT_TYPE  IN ('ITRCG_OCI')  
AND C.IS_DELETE  = 0
 AND (C.CCY = B.CURRENCY  OR C.CCY = 'ALL')            
WHERE A.DOWNLOAD_DATE = @V_CURRDATE  
AND A.IFRS9_CLASS = 'FVOCI'  
  
-- GAIN JOURNAL   
 INSERT INTO IFRS_ACCT_JOURNAL_DATA  
 (DOWNLOAD_DATE  
,MASTERID  
,FACNO  
,CIFNO  
,ACCTNO  
,DATASOURCE  
,PRDTYPE  
,PRDCODE  
,TRXCODE  
,CCY  
,JOURNALCODE  
,JOURNALCODE2  
,STATUS  
,REVERSE  
,FLAG_CF  
,DRCR  
,GLNO  
,N_AMOUNT  
,N_AMOUNT_IDR  
,SOURCEPROCESS  
,INTMID  
,BRANCH  
,NOREF  
,VALCTR_CODE  
,JOURNAL_DESC  
,CREATEDDATE  
,CREATEDBY  
,GL_INTERNAL_CODE  
,METHOD  
,ACCOUNT_TYPE  
,CUSTOMER_TYPE  
 )  
 SELECT   
 @V_CURRDATE AS DOWNLOAD_DATE  
,B.MASTERID AS MASTERID  
,B.FACILITY_NUMBER AS FACNO  
,B.CUSTOMER_NUMBER AS CIFNO  
,B.ACCOUNT_NUMBER AS ACCTNO  
,B.DATA_SOURCE AS DATASOURCE  
,B.PRODUCT_TYPE AS PRDTYPE  
,B.PRODUCT_CODE AS PRDCODE  
,NULL AS TRXCODE  
,B.CURRENCY AS CCY  
,C.IFRS_ACCT_TYPE AS JOURNALCODE  
,C.IFRS_ACCT_TYPE  AS JOURNALCODE2  
,'ACT' AS STATUS  
,'N' AS REVERSE  
,IFRS_COST_VALUE AS FLAG_CF  
,LEFT(TXN_TYPE,1) AS DRCR  
,C.GL_CODE AS GLNO  
,ABS(A.TOT_ADJUST) AS N_AMOUNT  
,ABS(A.TOT_ADJUST*ISNULL(EXCHANGE_RATE,1)) AS N_AMOUNT_IDR  
,'GAIN_LOSS' AS SOURCEPROCESS  
,NULL AS INTMID  
,B.BRANCH_CODE AS BRANCH  
,CASE WHEN LEFT(TXN_TYPE,1) = 'D' THEN '721' ELSE '722' END  AS NOREF  
,NULL AS VALCTR_CODE  
,C.REMARKS AS JOURNAL_DESC  
,GETDATE() AS CREATEDDATE  
,'SYSTEM' AS CREATEDBY  
,NULL AS GL_INTERNAL_CODE  
,B.AMORT_TYPE AS METHOD  
,B.ACCOUNT_TYPE AS ACCOUNT_TYPE  
,B.CUSTOMER_TYPE AS CUSTOMER_TYPE  
FROM IFRS_EIR_ADJUSTMENT A   
INNER JOIN IFRS_IMA_AMORT_CURR B   
ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE= B.DOWNLOAD_DATE  
INNER JOIN IFRS_MASTER_JOURNAL_PARAM C   
ON  B.GL_CONSTNAME = C.GL_CONSTNAME  
AND C.IFRS_ACCT_TYPE  IN ('GAIN_OCI')  
 AND (C.CCY = B.CURRENCY  OR C.CCY = 'ALL')            
 AND C.IS_DELETE  = 0
WHERE A.DOWNLOAD_DATE = @V_CURRDATE  
AND A.IFRS9_CLASS = 'FVOCI'  
AND A.TOT_ADJUST > 0  
  
  
-- LOSS JOURNAL   
 INSERT INTO IFRS_ACCT_JOURNAL_DATA  
 (DOWNLOAD_DATE  
,MASTERID  
,FACNO  
,CIFNO  
,ACCTNO  
,DATASOURCE  
,PRDTYPE  
,PRDCODE  
,TRXCODE  
,CCY  
,JOURNALCODE  
,JOURNALCODE2  
,STATUS  
,REVERSE  
,FLAG_CF  
,DRCR  
,GLNO  
,N_AMOUNT  
,N_AMOUNT_IDR  
,SOURCEPROCESS  
,INTMID  
,BRANCH  
,NOREF  
,VALCTR_CODE  
,JOURNAL_DESC  
,CREATEDDATE  
,CREATEDBY  
,GL_INTERNAL_CODE  
,METHOD  
,ACCOUNT_TYPE  
,CUSTOMER_TYPE  
 )  
 SELECT   
 @V_CURRDATE AS DOWNLOAD_DATE  
,B.MASTERID AS MASTERID  
,B.FACILITY_NUMBER AS FACNO  
,B.CUSTOMER_NUMBER AS CIFNO  
,B.ACCOUNT_NUMBER AS ACCTNO  
,B.DATA_SOURCE AS DATASOURCE  
,B.PRODUCT_TYPE AS PRDTYPE  
,B.PRODUCT_CODE AS PRDCODE  
,NULL AS TRXCODE  
,B.CURRENCY AS CCY  
,C.IFRS_ACCT_TYPE AS JOURNALCODE  
,C.IFRS_ACCT_TYPE  AS JOURNALCODE2  
,'ACT' AS STATUS  
,'N' AS REVERSE  
,IFRS_COST_VALUE AS FLAG_CF  
,LEFT(TXN_TYPE,1) AS DRCR  
,C.GL_CODE AS GLNO  
,ABS(A.TOT_ADJUST) AS N_AMOUNT  
,ABS(A.TOT_ADJUST*ISNULL(EXCHANGE_RATE,1)) AS N_AMOUNT_IDR  
,'GAIN_LOSS' AS SOURCEPROCESS  
,NULL AS INTMID  
,B.BRANCH_CODE AS BRANCH  
,CASE WHEN LEFT(TXN_TYPE,1) = 'D' THEN '731' ELSE '732' END  AS NOREF  
,NULL AS VALCTR_CODE  
,C.REMARKS AS JOURNAL_DESC  
,GETDATE() AS CREATEDDATE  
,'SYSTEM' AS CREATEDBY  
,NULL AS GL_INTERNAL_CODE  
,B.AMORT_TYPE AS METHOD  
,B.ACCOUNT_TYPE AS ACCOUNT_TYPE  
,B.CUSTOMER_TYPE AS CUSTOMER_TYPE  
FROM IFRS_EIR_ADJUSTMENT A   
INNER JOIN IFRS_IMA_AMORT_CURR B   
ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE= B.DOWNLOAD_DATE  
INNER JOIN IFRS_MASTER_JOURNAL_PARAM C   
ON  B.GL_CONSTNAME = C.GL_CONSTNAME  
AND C.IFRS_ACCT_TYPE  IN ('LOSS_OCI')  
 AND (C.CCY = B.CURRENCY  OR C.CCY = 'ALL')         
 AND C.IS_DELETE  = 0   
WHERE A.DOWNLOAD_DATE = @V_CURRDATE  
AND A.IFRS9_CLASS = 'FVOCI'  
AND A.TOT_ADJUST < 0  
--------------------------------------------------------------- FVOCI --------------------------------------------------------------------------  
  
  
--------------------------------------------------------------- REVERSAL LAST MONTH--------------------------------------------------------------  
  
INSERT INTO IFRS_ACCT_JOURNAL_DATA (DOWNLOAD_DATE  
,MASTERID  
,FACNO  
,CIFNO  
,ACCTNO  
,DATASOURCE  
,PRDTYPE  
,PRDCODE  
,TRXCODE  
,CCY  
,JOURNALCODE  
,JOURNALCODE2  
,STATUS  
,REVERSE  
,FLAG_CF  
,DRCR  
,GLNO  
,N_AMOUNT  
,N_AMOUNT_IDR  
,SOURCEPROCESS  
,INTMID  
,BRANCH  
,NOREF  
,VALCTR_CODE  
,JOURNAL_DESC  
,CREATEDDATE  
,CREATEDBY  
,GL_INTERNAL_CODE  
,METHOD  
,ACCOUNT_TYPE  
,CUSTOMER_TYPE)  
SELECT DOWNLOAD_DATE  
,MASTERID  
,FACNO  
,CIFNO  
,ACCTNO  
,DATASOURCE  
,PRDTYPE  
,PRDCODE  
,TRXCODE  
,CCY  
,JOURNALCODE  
,JOURNALCODE2  
,STATUS  
,'Y' AS REVERSE  ,FLAG_CF  
,CASE WHEN DRCR = 'D' THEN 'C' ELSE 'D' END  DRCR  
,GLNO  
,N_AMOUNT  
,N_AMOUNT_IDR  
,SOURCEPROCESS  
,INTMID  
,BRANCH  
,NOREF  
,VALCTR_CODE  
,JOURNAL_DESC  
,CREATEDDATE  
,CREATEDBY  
,GL_INTERNAL_CODE  
,METHOD  
,ACCOUNT_TYPE  
,CUSTOMER_TYPE  
FROM  IFRS_ACCT_JOURNAL_DATA   
WHERE DOWNLOAD_DATE = @V_PREVMONTH   
AND JOURNALCODE IN  ('ITRCG_PL','LOSS_PL','GAIN_PL','ITRCG_OCI','LOSS_OCI','GAIN_OCI')
  
--------------------------------------------------------------- REVERSAL LAST MONTH--------------------------------------------------------------  
  
END   
  
END



GO
