USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_ACCT_EIR_UPD_UNAMRT]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[SP_IFRS_ACCT_EIR_UPD_UNAMRT]  
AS  
DECLARE @V_CURRDATE DATE  
 ,@V_PREVDATE DATE  
  
BEGIN  
 SELECT @V_CURRDATE = MAX(CURRDATE)  
  ,@V_PREVDATE = MAX(PREVDATE)  
 FROM IFRS_PRC_DATE_AMORT  
  
 INSERT INTO IFRS_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'START'  
  ,'SP_IFRS_ACCT_EIR_UPD_UNAMORT'  
  ,''  
  )  
  
 --GET ACTIVE ECF  
 TRUNCATE TABLE TMP_B1  
  
 INSERT INTO TMP_B1 (MASTERID)  
 SELECT DISTINCT MASTERID  
 FROM IFRS_ACCT_EIR_ECF  
 WHERE AMORTSTOPDATE IS NULL  
  
 -- CLEAN UP ALREADY DONE ON SP_PSAK_ACCT_SL_UPD_UNAMORT  
 --GET LAST ACF ID  
 TRUNCATE TABLE TMP_P1  
  
 INSERT INTO TMP_P1 (ID)  
 SELECT MAX(ID) ID  
 FROM IFRS_ACCT_EIR_ACF  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
  AND MASTERID IN (  
   SELECT MASTERID  
   FROM TMP_B1  
   )  
 GROUP BY MASTERID  
  
 TRUNCATE TABLE TMP_U1  
  
 INSERT INTO TMP_U1 (  
  DOWNLOAD_DATE  
  ,MASTERID  
  ,N_UNAMORT_FEE  
  ,N_UNAMORT_COST  
  ,ECFDATE  
  ,ACCTNO  
  ,ENDAMORTDATE  
  )  
 SELECT B.DOWNLOAD_DATE  
  ,B.MASTERID  
  ,B.N_UNAMORT_FEE  
  ,B.N_UNAMORT_COST  
  ,B.ECFDATE  
  ,B.ACCTNO  
  ,E.ENDAMORTDATE  
 FROM IFRS_ACCT_EIR_ACF B  
 JOIN TMP_P1 C ON C.ID = B.ID  
 LEFT JOIN IFRS_ACCT_EIR_ECF E ON E.MASTERID = B.MASTERID  
  AND E.PREV_PMT_DATE = E.PMT_DATE  
  AND E.DOWNLOAD_DATE = B.ECFDATE  
  
 -- UPDATE TO MASTER ACCT --SELECT * FROM IFRS_ACCT_EIR_ACF  
 UPDATE IFRS_IMA_AMORT_CURR  
 SET  
  --UNAMORT_AMT_TOTAL = X.N_UNAMORT_FEE + X.N_UNAMORT_COST,  
  UNAMORT_FEE_AMT = X.N_UNAMORT_FEE  
  ,UNAMORT_COST_AMT = X.N_UNAMORT_COST  
  ,FAIR_VALUE_AMOUNT = IFRS_IMA_AMORT_CURR.OUTSTANDING + X.N_UNAMORT_FEE + X.N_UNAMORT_COST  
  ,  
  --FAIR_VALUE_AMOUNT = IFRS_IMA_AMORT_CURR.OUTSTANDING_JF + X.N_UNAMORT_FEE + X.N_UNAMORT_COST, --20160510   
  LOAN_START_AMORTIZATION = X.ECFDATE  
  ,LOAN_END_AMORTIZATION = X.ENDAMORTDATE  
  ,AMORT_TYPE = 'EIR'  
 FROM TMP_U1 X  
 WHERE X.MASTERID = IFRS_IMA_AMORT_CURR.MASTERID  
  AND X.ACCTNO = IFRS_IMA_AMORT_CURR.ACCOUNT_NUMBER  
  
 UPDATE IFRS_MASTER_ACCOUNT  
 SET  
  --UNAMORT_AMT_TOTAL = B.UNAMORT_AMT_TOTAL,  
  UNAMORT_FEE_AMT = B.UNAMORT_FEE_AMT  
  ,UNAMORT_COST_AMT = B.UNAMORT_COST_AMT  
  ,FAIR_VALUE_AMOUNT = B.FAIR_VALUE_AMOUNT  
  ,LOAN_START_AMORTIZATION = B.LOAN_START_AMORTIZATION  
  ,LOAN_END_AMORTIZATION = B.LOAN_END_AMORTIZATION  
  ,AMORT_TYPE = B.AMORT_TYPE  
 FROM IFRS_IMA_AMORT_CURR B  
 WHERE IFRS_MASTER_ACCOUNT.DOWNLOAD_DATE = @V_CURRDATE
  AND IFRS_MASTER_ACCOUNT.MASTERID = B.MASTERID  
  AND IFRS_MASTER_ACCOUNT.DOWNLOAD_DATE = B.DOWNLOAD_DATE   
--  AND IFRS_MASTER_ACCOUNT.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER  -- REMARK SAID 20190802 BTPN TUNING PURPOSES
  AND B.AMORT_TYPE = 'EIR'  
  
 -- UPDATE EIR TO PMA 20151124 BY RIS  
 UPDATE IFRS_MASTER_ACCOUNT  
 SET EIR = B.N_EFF_INT_RATE  
 FROM (  
  SELECT MASTERID  
   ,MAX(N_EFF_INT_RATE) N_EFF_INT_RATE  
  FROM IFRS_ACCT_EIR_ECF  
  WHERE AMORTSTOPDATE IS NULL  
   AND PREV_PMT_DATE = PMT_DATE  
  GROUP BY MASTERID  
  ) B  
 WHERE IFRS_MASTER_ACCOUNT.MASTERID = B.MASTERID  
  AND IFRS_MASTER_ACCOUNT.DOWNLOAD_DATE = @V_CURRDATE  
  
 INSERT INTO IFRS_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'END'  
  ,'SP_IFRS_ACCT_EIR_UPD_UNAMORT'  
  ,''  
  )  
END  
GO
