USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_OVERRIDE_INDIVIDUAL_IMPAIR_REJECT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPP_OVERRIDE_INDIVIDUAL_IMPAIR_REJECT](              
	@CUSTOMER_NUMBER VARCHAR(50),           
	@BUSINESS_UNIT VARCHAR(20),
	@RejectedBy VARCHAR(36),                    
	@RejectedHost VARCHAR(30)
)              
AS              
BEGIN  

DECLARE @PKIDActivity bigint
DECLARE @PKIDApproval bigint
DECLARE @CREATEDBY VARCHAR(36)
DECLARE @CREATEDHOST VARCHAR(30)       

	SELECT TOP 1 @CREATEDBY = CREATEDBY, @CREATEDHOST = @CREATEDHOST FROM IFRS_IMP_IA_MASTER_PEND
	WHERE CUSTOMER_NUMBER = @CUSTOMER_NUMBER
		AND DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND PARENTCOMMONCODEVALUE = @BUSINESS_UNIT AND ISNULL(IS_DELETE,0) = 0)
       
	--TABEL HISTORY      
	INSERT INTO IFRS_IMP_IA_MASTER_HIST
	(
		MASTERID,       
		DOWNLOAD_DATE,       
		EFFECTIVE_DATE,       
		DATA_SOURCE,
		CUSTOMER_NUMBER,      
		CUSTOMER_NAME,      
		PRODUCT_GROUP, 
		PRODUCT_CODE,     
		MATURITY_DATE,      
		CURRENCY,      
		INTEREST_RATE,      
		EIR,   
		AVG_EIR,     
		OUTSTANDING,      
		PLAFOND,      
		DAY_PAST_DUE,      
		BI_COLLECTABILITY,      
		IMPAIRED_FLAG,
		DPD_CIF,
		RESTRUCTURE_COLLECT_FLAG,
		BI_COLLECT_CIF,      
		METHOD,      
		REMARKS,      
		REMARKS_A,      
		REMARKS_B,      
		REMARKS_C,      
		REMARKS_D,      
		REMARKS_E,      
		REMARKS_E1,      
		REMARKS_E2,      
		REMARKS_F,      
		REMARKS_F1,      
		STATUS,      
		BEING_EDITED,      
		OVERRIDE_FLAG,    
		RATING_CODE,  
		CREATEDBY,      
		CREATEDDATE,      
		CREATEDHOST
	)
	SELECT       
		MASTERID,       
		DOWNLOAD_DATE,       
		EFFECTIVE_DATE,  
		DATA_SOURCE,     
		CUSTOMER_NUMBER,      
		CUSTOMER_NAME,      
		PRODUCT_GROUP,
		PRODUCT_CODE,      
		MATURITY_DATE,      
		CURRENCY,      
		INTEREST_RATE,      
		EIR,  
		AVG_EIR,      
		OUTSTANDING,      
		PLAFOND,      
		DAY_PAST_DUE,      
		BI_COLLECTABILITY,      
		IMPAIRED_FLAG,
		DPD_CIF,
		RESTRUCTURE_COLLECT_FLAG,
		BI_COLLECT_CIF,            
		METHOD,      
		REMARKS,      
		REMARKS_A,      
		REMARKS_B,      
		REMARKS_C,      
		REMARKS_D,      
		REMARKS_E,      
		REMARKS_E1,      
		REMARKS_E2,      
		REMARKS_F,      
		REMARKS_F1,      
		'REJECT_OVERRIDE',      
		0,      
		OVERRIDE_FLAG,      
		RATING_CODE,
		CREATEDBY,      
		CREATEDDATE,      
		CREATEDHOST      
	FROM IFRS_IMP_IA_MASTER_PEND WHERE CUSTOMER_NUMBER = @CUSTOMER_NUMBER
		AND DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND PARENTCOMMONCODEVALUE = @BUSINESS_UNIT AND ISNULL(IS_DELETE,0) = 0)
      
	DELETE FROM IFRS_IMP_IA_MASTER_PEND WHERE CUSTOMER_NUMBER = @CUSTOMER_NUMBER
		AND DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND PARENTCOMMONCODEVALUE = @BUSINESS_UNIT AND ISNULL(IS_DELETE,0) = 0)

	--Update IFRS_IMP_IA_MASTER BEING_EDITED = 0        
	UPDATE IFRS_IMP_IA_MASTER
		SET BEING_EDITED = '0'        
	WHERE CUSTOMER_NUMBER = @CUSTOMER_NUMBER
		AND DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND PARENTCOMMONCODEVALUE = @BUSINESS_UNIT AND ISNULL(IS_DELETE,0) = 0)
	
	--INSERT ACTIVITYLOG    
	EXEC uspI_ActivityLogs @CREATEDBY,'INSERT_WI_APPROVAL','IND_IMP_MANUAL_OVERRIDE','IFRS9',@CREATEDHOST

	SELECT TOP 1 @PKIDActivity = PKID FROM TBLT_ACTIVITYLOGS WHERE SCREENID = 'IND_IMP_MANUAL_OVERRIDE' ORDER BY PKID DESC    
     
	EXEC USPI_AUDITTRAIL @PKIDActivity,'CUSTOMER_NUMBER',@CUSTOMER_NUMBER,@CUSTOMER_NUMBER
	EXEC USPI_AUDITTRAIL @PKIDActivity,'BUSINESS_UNIT',@BUSINESS_UNIT,@BUSINESS_UNIT

	--INSERT APPROVALLOG
	EXEC USPI_APPROVALH 0,'IND_IMP_MANUAL_OVERRIDE','INSERT','R',NULL,'','IFRS9','ID',@CREATEDBY,@CREATEDHOST
	
	SELECT TOP 1 @PKIDApproval = PKID FROM TBLT_APPROVALHEADER WHERE SCREENID = 'IND_IMP_MANUAL_OVERRIDE' ORDER BY PKID DESC    

	UPDATE TBLT_APPROVALHEADER
		SET UPDATEDDATE = GETDATE(),          
			UPDATEDHOST = @RejectedHost,          
			UPDATEDBY = @RejectedBy
	WHERE PKID = @PKIDApproval

	EXEC USPI_APPROVALD @PKIDApproval,NULL,'CUSTOMER_NUMBER',@CUSTOMER_NUMBER,@CUSTOMER_NUMBER,0
	EXEC USPI_APPROVALD @PKIDApproval,NULL,'BUSINESS_UNIT',@BUSINESS_UNIT,@BUSINESS_UNIT,0

END

GO
