USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_FL_ME_SCALAR_RESULT]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_FL_ME_SCALAR_RESULT] @DOWNLOAD_DATE DATE = NULL, @MODEL_ID INT = 35 
AS
BEGIN 
DECLARE @V_CURRDATE DATE 
DECLARE @V_PREVMONTH DATE    

BEGIN    
        
IF @DOWNLOAD_DATE = ''        
BEGIN        
 SELECT 
	@V_CURRDATE = EOMONTH(CURRDATE),
	@V_PREVMONTH = EOMONTH(DATEADD(M,-1,CURRDATE)) 
 FROM IFRS_PRC_DATE        
 END        
 ELSE         
 BEGIN    
  set @V_CURRDATE = EOMONTH(@DOWNLOAD_DATE )    
  set @V_PREVMONTH = EOMONTH(DATEADD(M,-1,@DOWNLOAD_DATE))      
 END     
END 


 DECLARE @PERIOD_SCALAR DATE
 DECLARE @PD_RULE_ID INT
 SELECT @PERIOD_SCALAR = PERIOD, @PD_RULE_ID = RULE_ID FROM IFRS_ME_SCALAR_HEADER WHERE  MODEL_ID = @MODEL_ID AND IS_DELETE = 0 AND ACTIVE_FLAG = 1


DELETE [IFRS_ME_FL_SCALAR_RESULT] WHERE MODEL_ID = @MODEL_ID --AND PERIOD_DATE = @PERIOD_SCALAR 

------- FINAL SCALAR (WEIGHTED SCALAR) ------------ 

insert into [dbo].[IFRS_ME_FL_SCALAR_RESULT] (PERIOD_DATE
,BASE_PERIOD_FORECAST
,SCALAR_ID
,MODEL_ID
,MODEL_SEQ
,FL_YEAR
,SCALAR_FINAL
,CREATEDBY
,CREATEDDATE)
SELECT 
A.PERIOD_DATE
,A.BASE_PERIOD_FORECAST
,A.SCALAR_ID
,A.MODEL_ID
,A.MODEL_SEQ
,A.FL_YEAR
,SUM(A.SCALAR* (B.WEIGHTED_VALUE/100)) AS SCALAR_FINAL
,'SYSTEM' AS CREATEDBY
,GETDATE() AS CREATEDDATE
FROM [IFRS_ME_FL_SCALAR_MODELLED_ODR] A
INNER JOIN IFRS_ME_SCALAR_DETAIL B ON A.SCALAR_ID = B.SCALAR_ID AND A.SCENARIO_NO = B.SCENARIO_NO
WHERE A.MODEL_ID = @MODEL_ID AND PERIOD_DATE = @PERIOD_SCALAR
GROUP BY A.PERIOD_DATE
,A.BASE_PERIOD_FORECAST
,A.SCALAR_ID
,A.MODEL_ID
,A.MODEL_SEQ
,A.FL_YEAR



END
GO
