USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_SEGMENTATIONSETTINGS]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_SEGMENTATIONSETTINGS]        
(      
 @PKID bigint = 0      
)      
AS           
BEGIN      
  UPDATE IFRS_MSTR_SEGMENT_RULES_HEADER SET IS_DELETE = 1  
  WHERE PKID = @PKID      
     
END   
  
GO
