USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FL_METHOD_ECL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_FL_METHOD_ECL]    
(    
   @BUCKET_GROUP VARCHAR(50),     
   @PD_RULE_NAME VARCHAR(50)    
)    
AS    
    DECLARE @PD_RULE_ID INT;    
BEGIN    
    
    SELECT @PD_RULE_ID=PKID    
    FROM IFRS_PD_RULES_CONFIG_9   
    WHERE PD_RULE_NAME = @PD_RULE_NAME;    
    
    SELECT DISTINCT    
        BUCKET_GROUP,    
        BUCKET_ID AS BUCKET    
        --MODEL_ID AS METHOD    
    FROM IFRS_PD_MACRO_ECONOMIC_MODEL    
    WHERE BUCKET_GROUP = @BUCKET_GROUP     
        AND PD_RULE_ID = @PD_RULE_ID    
    ORDER BY BUCKET_ID;    
    
END; 

GO
