USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMMACROECONOMIC]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPU_PARAMMACROECONOMIC]  
(  
 @ME_CODE        VARCHAR(100) = '',  
 @ME_SOURCE_TABLE VARCHAR(100) = '',  
 @ME_DESC        VARCHAR(100) = '',  
 @ME_SOURCE_PERIOD_COLUMN VARCHAR(30) = '',  
 @ME_SOURCE  VARCHAR(100) = '',  
 @ME_SOURCE_VALUE_COLUMN VARCHAR(30) = '',  
 @ME_SOURCE_FILTER BIGINT = 0,  
 @ME_SOURCE_URL  VARCHAR(100) = '',  
 @ME_TIME_SERIES VARCHAR(100) = '',  
 @ME_TYPE VARCHAR(50) = '',
 --@TableName varchar(30)=NULL,  
 --@PeriodColName varchar(30)=NULL,  
 --@ValueColName varchar(30)=NULL,  
 --@UploadID  FLOAT = 0,  
 @UpdatedBy      VARCHAR(4000) = ' ',  
 @UpdatedHost    VARCHAR(4000) = ' ',  
 @PKID           FLOAT = 0)  
AS  
BEGIN  
  
	UPDATE tblM_Macro_Economic  
	SET ME_CODE = LTRIM(RTRIM(@ME_CODE)),
		ME_SOURCE_TABLE = @ME_SOURCE_TABLE,
		ME_DESC = LTRIM(RTRIM(@ME_DESC)),
		ME_SOURCE_PERIOD_COLUMN = @ME_SOURCE_PERIOD_COLUMN,
		ME_SOURCE = @ME_SOURCE,
		ME_SOURCE_VALUE_COLUMN = @ME_SOURCE_VALUE_COLUMN,
		ME_SOURCE_FILTER = CASE WHEN (@ME_SOURCE = 'Upload' AND @ME_TYPE = 'DEPENDENT') THEN @PKID ELSE @ME_SOURCE_FILTER END,
		ME_SOURCE_URL = @ME_SOURCE_URL,
		ME_TIME_SERIES = @ME_TIME_SERIES,
		ME_TYPE = @ME_TYPE,
		ME_SOURCE_FILTER_COLUMN = CASE WHEN @ME_SOURCE = 'Table' THEN 'PD_RULE_ID'
										WHEN @ME_SOURCE = 'Upload' THEN 'HEADERID' END
		--,ME_SOURCE_TABLE = @TableName  
		--  ME_SOURCE_PERIOD_COLUMN = @PeriodColName,  
		--  ME_SOURCE_VALUE_COLUMN = @ValueColName,  
		,UpdatedBy = @UpdatedBy  
		,UpdatedDate = GETDATE()  
		,UpdatedHost = @UpdatedHost  
    WHERE PKID = @PKID;  

    --yg data lama  
      --UPDATE ifrs_macro_economic set headerID = 0 where headerID=v_PKID;  
       
    --yg data baru  
  --   UPDATE ifrs_macro_economic   
  --SET headerID = @PKID   
  --WHERE uploadID=@UploadID;  
  
END;

GO
