USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMJOURNAL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_PARAMJOURNAL]    
(
@GL_CONSTNAME varchar(50)=''   
,@INST_CLS_VALUE varchar(10)=''   
--,@ASSET_TYPE_PRODUCT1 varchar(100)= ''    
,@TRX_CODE varchar(20)= ''    
,@DRCR varchar(2)= ''    
,@CCY varchar(5)= ''    
,@FLAG_CF varchar(10) = ''
,@JOURNALCODE varchar(20) = ''
,@GLNO varchar(20) = '' 
,@JOURNAL_DESC varchar(200) = ''
,@CreatedBy varchar(36) = ''   
,@CreatedHost varchar(30)=''    
)    
AS    
BEGIN    
    
INSERT INTO [dbo].[IFRS_MASTER_JOURNAL_PARAM]    
(  
	[GL_CONSTNAME]
     ,[INST_CLS_VALUE]
	 --,[ASSET_TYPE_PRODUCT1]
	 ,[TRX_CODE]
	 ,TXN_TYPE
	 ,[CCY]
	 ,[IFRS_COST_VALUE]
	 ,[IFRS_ACCT_TYPE]
	 ,[GL_CODE]
	 ,[REMARKS]
	 ,[CREATEDBY]
	 ,[CREATEDDATE]
	 ,[CREATEDHOST]
	 ,IS_DELETE
)    
VALUES    
(
	@GL_CONSTNAME
	,@INST_CLS_VALUE
	--,''
	,@TRX_CODE
	,@DRCR
	,@CCY
	,@FLAG_CF
	,@JOURNALCODE
	,LTRIM(RTRIM(@GLNO))
	,LTRIM(RTRIM(@JOURNAL_DESC))
	,@CreatedBy    
    ,GETDATE()    
    ,@CreatedHost   
	,0 
)    

END

GO
