USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSPPIBYNAME]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPSPPIBYNAME]
(
@SPPINAME VARCHAR(1000) = ''
)
AS
BEGIN
SELECT PKID FROM IFRS_AC_SPPI_HEADER WHERE CLASSNAME = @SPPINAME
AND IS_DELETE = 0
END
GO
