USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMIMPAIRCABUCK]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPD_PARAMIMPAIRCABUCK]   
    @BUCKET_GROUP VARCHAR(50)        
AS
BEGIN  
 UPDATE IFRS_BUCKET_HEADER SET IS_DELETE=1    
 WHERE BUCKET_GROUP = @BUCKET_GROUP
 UPDATE IFRS_BUCKET_DETAIL SET IS_DELETE=1    
 WHERE BUCKET_GROUP = @BUCKET_GROUP
END
GO
