USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_BI_SEGMENTEXPOSURE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPD_BI_SEGMENTEXPOSURE](
@PKID BIGINT = 0
)               
AS
BEGIN

	UPDATE IFRS_SEGMENT_EXPOSURE
	SET
		IS_DELETE = 1
	WHERE PKID = @PKID
	
	TRUNCATE TABLE IFRS9_REPORT.DBO.IFRS_SEGMENT_EXPOSURE

	INSERT INTO IFRS9_REPORT.DBO.IFRS_SEGMENT_EXPOSURE
	(
		SEGMENT_EXPOSURE_ID,
		SEGMENT_EXPOSURE_DESC,
		PRODUCT_CODE
	)
	SELECT
		PKID,
		SEGMENT_EXPOSURE_DESC,
		value AS PRODUCT_CODE
	FROM IFRS_SEGMENT_EXPOSURE
	CROSS APPLY STRING_SPLIT(PRODUCT_CODE,';')
	WHERE ISNULL(IS_DELETE, 0) = 0
	ORDER BY PKID

END

GO
