USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_TMPBOOTSTRAPDETAIL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USPD_TMPBOOTSTRAPDETAIL]
(
    @BOOTSTRAP_ID BIGINT=0
)
AS
BEGIN
	DELETE TMP_IFRS_PD_BOOTSTRAP_DETAIL
	WHERE BOOTSTRAP_ID = @BOOTSTRAP_ID
END

GO
