USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR7_CREDITQUALITY]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USPR7_CREDITQUALITY]
(
	@Download_Date Datetime='01/01/2000'	
)
as
begin
	select
		A.DOWNLOAD_DATE,
		A.DATA_SOURCE,
		A.PRODUCT_CODE,
		PRODUCT_GROUP,
		A.ACCOUNT_STATUS,
		A.CURRENCY,
		b.GEN1_SORT,
		b.GEN1_SORT + ' - ' + b.GEN1_DESC as GEN1_DESC,
		b.GEN2_SORT,
		b.GEN2_DESC ,
		round(SUM(isnull(A.OUTSTANDING, 0)),0) AS TOT_OS,
		round(SUM(isnull(A.OUTSTANDING, 0) * isnull(A.EXCHANGE_RATE,1)),0) AS TOT_OS_IDR,
		round(SUM(isnull(A.UNAMORT_FEE_AMT,0)),0) AS UNAMORT_FEE_AMOUNT,
		round(SUM(isnull(A.PIP_AMOUNT, 0)),0) AS TOT_PIP,
		round(SUM(isnull(A.PIP_AMOUNT, 0) * isnull(A.EXCHANGE_RATE,1)),0) AS TOT_PIP_IDR
	from IFRS_MASTER_ACCOUNT_MONTHLY a
	--left join IFRS_MASTER_PRODUCT_PARAMETER impp
	--	on a.PRODUCT_CODE = impp.PRD_CODE
	--	LEFT OUTER JOIN IFRS_SCENARIO_RULES_HEADER pd
	--	ON A.PD_SEGMENT = pd.RULE_CODE
	left join tblM_RepDimPastdueImpaired b
		on (
			isnull(a.day_past_due,0)>=b.dpd_low
			and isnull(a.day_past_due,0)<=b.dpd_high
			and case when impaired_flag='I' then 'Y' else 'N' end =b.impaired
		)
		or
		(
			(case when a.day_past_due>90 then 'Y' else 'N' end)=b.impaired
		)
	where a.download_date = @Download_Date
	group by
		A.DOWNLOAD_DATE,A.DATA_SOURCE,A.PRODUCT_CODE , 
        A.PRODUCT_GROUP,A.ACCOUNT_STATUS,
        A.CURRENCY,b.GEN1_SORT,b.GEN1_DESC,b.GEN2_SORT,b.GEN2_DESC,
        A.BI_COLLECTABILITY, A.RATING_CODE

end

GO
