USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_QUERYPARAMBYFKEY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_QUERYPARAMBYFKEY]  
    @CountryID VARCHAR(10) ,  
    @ModuleID VARCHAR(50) ,  
    @QueryID VARCHAR(100)  
AS  
BEGIN 
    SELECT  [PKID] ,  
            [CountryID] ,  
            [ModuleID] ,  
            [QueryID] ,  
            [ParamName] ,  
            [DataType] ,  
            [CreatedBy] ,  
            [CreatedDate] ,  
            [CreatedHost] ,  
            [UpdatedBy] ,  
            [UpdatedDate] ,  
            [UpdatedHost]  
    FROM    [dbo].[tblM_QueryParameter]  
    WHERE   ( [CountryID] = @CountryID  
              AND [ModuleID] = @ModuleID  
              AND [QueryID] = @QueryID  
            )

END




GO
