USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GLDAYSLOOP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_GLDAYSLOOP]
(
	@loop int = 0
)
AS
BEGIN

	IF @loop > 0
	BEGIN
		WITH Numbers (daysloop) AS (
			SELECT 1 UNION ALL
			SELECT 1 + daysloop FROM Numbers WHERE daysloop < @loop 
		)
		SELECT daysloop FROM Numbers WHERE daysloop <= (SELECT CommonUsage FROM tblM_CommonCodeHeader WHERE CommonCode = 'B48')
	END

END

GO
