USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_POW_AVERAGE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LGD_POW_AVERAGE](  
   @Period          DATE='1900-01-01',  
   @ProdGroup       int=0  
   )  
AS  
BEGIN

select 
	EFF_DATE "Period",
	CAST(EAD_DEFAULT as decimal(32, 2)) "Total Outstanding at Default"
	, CAST(EAD_CURED as decimal(32, 2)) "Total Cured/Closed"
	, CAST(POC*100 as decimal(32, 2)) "PoC(%)"
	, CAST(POW*100 as decimal(32, 2)) "PoW(%)"
from IFRS_LGD_POW_HEADER where EFF_DATE = @period and LGD_RULE_ID = @ProdGroup


END

GO
