USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UNPROCESSEDPRODUCT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_UNPROCESSEDPRODUCT]        
AS        
select PKID,      
DATA_SOURCE,      
 SPPI_Level,      
 Key_Value,      
 Info1,      
 info2,      
 info3,      
 info4         
from [IFRS_AC_SYNC_LIST_VALUE]         
WHERE   Key_Value not in(        
  (SELECT isnull(VALUE,'') FROM dbo.STRING_SPLIT((           
   SELECT DISTINCT List_Output FROM    (      SELECT STUFF((SELECT ',' + CAST(PRODUCT_CODE AS VARCHAR(MAX)) [text()] FROM IFRS_AC_SPPI_HEADER  WHERE IS_DELETE=0  FOR XML PATH(''), TYPE)     .value('.','NVARCHAR(MAX)'),1,1,'') List_Output    FROM IFRS_AC_SPPI_HEADER  WHERE IS_DELETE=0  )
  
    
      
A        
  ), ',')))        
  AND Key_Value NOT IN(        
  (SELECT isnull(VALUE,'') FROM dbo.STRING_SPLIT((           
   SELECT DISTINCT List_Output FROM    (      SELECT STUFF((SELECT ',' + CAST(PRODUCT_CODE AS VARCHAR(MAX)) [text()] FROM IFRS_AC_SPPI_HEADER_PENDING   WHERE STATUS='PENDING'   FOR XML PATH(''), TYPE)     .value('.','NVARCHAR(MAX)'),1,1,'') List_Output   
  
 FROM IFRS_AC_SPPI_HEADER_PENDING  WHERE STATUS='PENDING'    )A        
  ), ',')))        
AND INST_CLS_VALUE = 'A'  
AND TABLE_NAME = 'IFRS_MASTER_PRODUCT_PARAM'        
ORDER BY CREATEDDATE DESC
GO
