USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_OVERRIDECHECKLISTHISTORY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_OVERRIDECHECKLISTHISTORY]
(
	@CID INT
)
AS
BEGIN
	
	SELECT a.UPDATEDDATE,
		b.USERNAME UPDATEDBY,
		FILENAME,
		PATH,
		LEFT(REMARKS, 15) AS REMARKS15,
		REMARKS,
		CASE WHEN CHECKLISTSTATUS = 'A'
			THEN 'Approved'
			ELSE 'Rejected'
		END [STATUS]
	FROM IFRS_IMP_OVERRIDECHECKLIST_HIST a
		JOIN TBLM_USER b ON a.UPDATEDBY = b.PKID
	WHERE CHECKLISTID = @CID
	ORDER BY DOWNLOAD_DATE DESC;

END;

GO
