USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_DEFAULT_RATE_NOLAG]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_IMP_DEFAULT_RATE_NOLAG] @DOWNLOAD_DATE DATE = '',                                           
 @MODEL_ID BIGINT = 0             
 AS            
 BEGIN             
 DECLARE @V_CURRDATE   DATE                                                                            
 DECLARE @V_PREVDATE   DATE              
 DECLARE @V_PREVMONTH DATE            
 DECLARE @LAST_YEAR DATE             
            
                                        
IF @DOWNLOAD_DATE <> ''            
BEGIN            
SET @V_CURRDATE = EOMONTH(@DOWNLOAD_DATE)       -- NO LAG    
SET @V_PREVDATE = DATEADD(DAY,-1,@DOWNLOAD_DATE)            
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE))            
SET @LAST_YEAR = EOMONTH(DATEADD(YEAR,-1,@V_CURRDATE))            
END            
ELSE            
BEGIN             
SELECT @V_CURRDATE = EOMONTH(CURRDATE)               
FROM IFRS_PRC_DATE            
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)            
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))       
SET @LAST_YEAR = EOMONTH(DATEADD(YEAR,-1,@V_CURRDATE))            
END            
            
IF OBJECT_ID ('TEMPDB.DBO.#MAX_BUCKET') IS NOT NULL DROP TABLE #MAX_BUCKET            
SELECT BUCKET_GROUP, MAX(BUCKET_ID) AS MAX_BUCKET INTO #MAX_BUCKET FROM IFRS_BUCKET_DETAIL GROUP BY BUCKET_GROUP          

IF OBJECT_ID ('TEMPDB.DBO.#PD_SCENARIO') IS NOT NULL DROP TABLE #PD_SCENARIO 
SELECT  DOWNLOAD_DATE         	AS	DOWNLOAD_DATE
,MAX(PD_RULE_ID)	AS	PD_RULE_ID
,MAX(PD_RULE_NAME)	AS	PD_RULE_NAME
,MAX(DEFAULT_RULE_ID)	AS	DEFAULT_RULE_ID
,MAX(BUCKET_GROUP)	AS	BUCKET_GROUP
,MAX(MASTERID)	AS	MASTERID
,MAX(SEGMENT)	AS	SEGMENT
,MAX(SUB_SEGMENT)	AS	SUB_SEGMENT
,MAX(GROUP_SEGMENT)	AS	GROUP_SEGMENT
,MAX(ACCOUNT_NUMBER)	AS	ACCOUNT_NUMBER
,MAX(CUSTOMER_NUMBER)	AS	CUSTOMER_NUMBER
,MAX(PD_METHOD)	AS	PD_METHOD
,MAX(CALC_METHOD)	AS	CALC_METHOD
,SUM(CALC_AMOUNT)	AS	CALC_AMOUNT
,MAX(BUCKET_ID)	AS	BUCKET_ID
,SUM(OUTSTANDING)	AS	OUTSTANDING
,MAX(IMPAIRED_FLAG)	AS	IMPAIRED_FLAG
,MAX(CASE WHEN DEFAULT_FLAG = 1 THEN 1 ELSE 0 END)	AS	DEFAULT_FLAG
,MAX(LIFETIME)	AS	LIFETIME
,SUM(FAIR_VALUE_AMOUNT)	AS	FAIR_VALUE_AMOUNT
,MAX(BI_COLLECTABILITY)	AS	BI_COLLECTABILITY
,MAX(RATING_CODE)	AS	RATING_CODE
,MAX(DAY_PAST_DUE)	AS	DAY_PAST_DUE
,MAX(CREATEDBY)	AS	CREATEDBY
,MAX(CREATEDDATE)	AS	CREATEDDATE
,PD_UNIQUE_ID	AS	PD_UNIQUE_ID
,MAX(CASE WHEN NEXT_12M_DEFAULT_FLAG = 1 THEN 1 ELSE 0 END)	AS	NEXT_12M_DEFAULT_FLAG
,MAX(DPD_CIF)	AS	DPD_CIF
,MAX(BUCKET_ID_ORIG)	AS	BUCKET_ID_ORIG
INTO #PD_SCENARIO 
FROM IFRS_PD_SCENARIO_DATA_NOLAG WHERE DOWNLOAD_DATE = @LAST_YEAR GROUP BY DOWNLOAD_DATE,PD_UNIQUE_ID
   
            
DELETE FROM IFRS_IMP_DEFAULT_RATE_NOLAG WHERE DOWNLOAD_DATE = @LAST_YEAR            
            
INSERT INTO IFRS_IMP_DEFAULT_RATE_NOLAG (DOWNLOAD_DATE            
,PROJECTION_DATE            
,PD_RULE_ID            
,PD_RULE_NAME            
,SEGMENT            
,CALC_METHOD            
,TOTAL_ACCOUNT            
,TOTAL_PERFORMING            
,TOTAL_12M_DEFAULT            
,TOTAL_OS            
,TOTAL_OS_PERFORMING            
,TOTAL_OS_12M_DEFAULT            
,ODR_RATE            
,CREATEDBY            
,CREATEDDATE)            
SELECT DOWNLOAD_DATE            
,@V_CURRDATE AS PROJECTION_DATE            
,PD_RULE_ID            
,MAX(PD_RULE_NAME)            
,MAX(SEGMENT)            
,MAX(A.CALC_METHOD)            
,COUNT(1) AS TOTAL_ACCOUNT            
,SUM(CASE WHEN BUCKET_ID = 0 OR BUCKET_ID = B.MAX_BUCKET THEN 0 ELSE 1 END)  TOTAL_PERFORMING            
,SUM (CASE WHEN NEXT_12M_DEFAULT_FLAG = 1 AND A.BUCKET_ID <> MAX_BUCKET AND BUCKET_ID <> 0  THEN 1  ELSE 0 END)  AS TOTAL_12M_DEFAULT            
,SUM (OUTSTANDING) TOTAL_OS            
,SUM(CASE WHEN BUCKET_ID = 0 OR BUCKET_ID = B.MAX_BUCKET  THEN 0 ELSE A.OUTSTANDING END) TOTAL_OS_PERFORMING            
,SUM (CASE WHEN NEXT_12M_DEFAULT_FLAG = 1 AND A.BUCKET_ID <> MAX_BUCKET  AND BUCKET_ID <> 0  THEN A.OUTSTANDING ELSE 0 END) AS TOTAL_OS_12M_DEFAULT            
,NULL AS ODR_RATE            
,'SP_IFRS_IMP_DEFAULT_RATE_NOLAG' AS CREATEDBY            
,GETDATE() AS  CREATEDDATE             
FROM #PD_SCENARIO A            
INNER JOIN #MAX_BUCKET B ON A.BUCKET_GROUP = B.BUCKET_GROUP            
WHERE DOWNLOAD_DATE = @LAST_YEAR            
GROUP BY DOWNLOAD_DATE,PD_RULE_ID            
            
            
UPDATE A            
SET ODR_RATE = CASE WHEN  TOTAL_PERFORMING = 0 THEN 0 ELSE  CAST(TOTAL_12M_DEFAULT AS FLOAT)/CAST(TOTAL_PERFORMING AS FLOAT)     END     
FROM IFRS_IMP_DEFAULT_RATE_NOLAG A             
INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID  = B.PKID            
WHERE A.DOWNLOAD_DATE = @LAST_YEAR       
 
 update  IFRS_IMP_DEFAULT_RATE_NOLAG
	SET ODR_RATE = 0.0003
 where DOWNLOAD_DATE = @LAST_YEAR AND ODR_RATE < 0.0003
  
  
-- INSERT TO TABLE ODR IMP DEFAULT RATE LAG  
  
DELETE FROM IFRS_IMP_DEFAULT_RATE WHERE DOWNLOAD_DATE = @LAST_YEAR and CREATEDBY = 'SP_IFRS_IMP_DEFAULT_RATE_NOLAG'  
  
INSERT INTO IFRS_IMP_DEFAULT_RATE (DOWNLOAD_DATE  
,PROJECTION_DATE  
,PD_RULE_ID  
,PD_RULE_NAME  
,SEGMENT  
,CALC_METHOD  
,TOTAL_ACCOUNT  
,TOTAL_PERFORMING  
,TOTAL_12M_DEFAULT  
,TOTAL_OS  
,TOTAL_OS_PERFORMING  
,TOTAL_OS_12M_DEFAULT  
,ODR_RATE  
,CREATEDBY  
,CREATEDDATE  
,CREATEDHOST  
,UPDATEDBY  
,UPDATEDDATE  
,UPDATEDHOST)  
select DOWNLOAD_DATE  
,PROJECTION_DATE  
,PD_RULE_ID  
,PD_RULE_NAME  
,SEGMENT  
,CALC_METHOD  
,TOTAL_ACCOUNT  
,TOTAL_PERFORMING  
,TOTAL_12M_DEFAULT  
,TOTAL_OS  
,TOTAL_OS_PERFORMING  
,TOTAL_OS_12M_DEFAULT  
,ODR_RATE  
,CREATEDBY  
,CREATEDDATE  
,CREATEDHOST  
,UPDATEDBY  
,UPDATEDDATE  
,UPDATEDHOST  
FROM IFRS_IMP_DEFAULT_RATE_NOLAG WHERE  DOWNLOAD_DATE = @LAST_YEAR and CREATEDBY = 'SP_IFRS_IMP_DEFAULT_RATE_NOLAG'  
            
            
 END

GO
