USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_SYNC_TREASURY]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LI_SYNC_TREASURY] AS  
BEGIN  
 DECLARE @CURRDATE DATE
 SELECT @CURRDATE = CURRDATE FROM IFRS_LI_PRC_DATE_AMORT  
   
 BEGIN TRANSACTION  
    
  --INSERT FROM TABLE IFRS_STG_MASTER_ACCOUNT_TRS_BND  
  INSERT INTO IFRS_MASTER_ID (MASTER_ACCOUNT_CODE,ACCOUNT_NUMBER,IAS_CLASS,EFFDATE,CREATED_DATE)  
  SELECT DEAL_NO,  
    SECURITY_CODE,  
    AL_FLAG AS IAS_CLASS,  
    @CURRDATE,  
    GETDATE()  
  FROM IFRS_STG_MASTER_ACCOUNT_TRS_BND A  
  WHERE NOT EXISTS (SELECT TOP(1)1 FROM IFRS_MASTER_ID B WHERE A.DEAL_NO = B.MASTER_ACCOUNT_CODE) AND A.AL_FLAG = 'L'  

  INSERT INTO IFRS_LI_MASTER (DOWNLOAD_DATE, MASTERID, MASTER_ACCOUNT_CODE,   
  DATA_SOURCE, CUSTOMER_NUMBER, CUSTOMER_NAME, ACCOUNT_NUMBER, ACCOUNT_STATUS,   
  IAS_CLASS, INTEREST_RATE, PRODUCT_CODE, BRANCH_CODE, CURRENCY, EXCHANGE_RATE,   
  OUTSTANDING, LOAN_START_DATE, LOAN_DUE_DATE, FAIR_VALUE_AMOUNT, SOURCE_PROCESS, CREATEDBY, CREATEDDATE  
  )  
  SELECT CONVERT(DATE, A.DOWNLOAD_DATE,112) AS DOWNLOAD_DATE  
    ,CONVERT(VARCHAR, B.MASTERID) AS MASTERID  
    ,A.DEAL_NO AS MASTER_ACCOUNT_CODE  
    ,A.DATA_SOURCE  
    ,A.CUSTOMER_NUMBER  
    ,A.CUSTOMER_NAME  
    ,A.SECURITY_CODE  
    ,A.ACCOUNT_STATUS  
    ,A.AL_FLAG AS IAS_CLASS  
    ,CONVERT(FLOAT, A.INTEREST_RATE) AS INTEREST_RATE  
    ,A.PRODUCT_CODE  
    ,A.BRANCH_CODE  
    ,A.CURRENCY  
    ,CONVERT(FLOAT, A.EXRATE_TO_LCY) AS EXCHANGE_RATE  
    ,CONVERT(DECIMAL(32,6), A.AMOUNT) AS OUTSTANDING  
    ,CONVERT(DATE, A.START_DATE, 112) AS START_DATE  
    ,CONVERT(DATE, A.MATURITY_DATE, 112) AS END_DATE  
    ,CONVERT(DECIMAL(32,6), A.FAIR_VALUE_BALANCE) AS FAIR_VALUE_AMOUNT 
    ,'SP_IFRS_LI_SYNC_TREASURY' AS SOURCE_PROCESS  
    ,'SYSTEM' AS CREATEDBY  
    ,GETDATE() AS CREATEDDATE  
  FROM IFRS_STG_MASTER_ACCOUNT_TRS_BND A  
   INNER JOIN IFRS_MASTER_ID B ON A.DEAL_NO = B.MASTER_ACCOUNT_CODE  
  WHERE A.DOWNLOAD_DATE = @CURRDATE AND A.AL_FLAG = 'L'  
  
  --INSERT FROM TABLE IFRS_STG_MASTER_ACCOUNT_TRS_FX  
  INSERT INTO IFRS_MASTER_ID (MASTER_ACCOUNT_CODE,ACCOUNT_NUMBER,IAS_CLASS,EFFDATE,CREATED_DATE)  
  SELECT DEAL_NO,  
    '' AS SECURITY_CODE,  
    AL_FLAG AS IAS_CLASS,  
    @CURRDATE,  
    GETDATE()  
  FROM IFRS_STG_MASTER_ACCOUNT_TRS_FX A  
  WHERE NOT EXISTS (SELECT TOP(1)1 FROM IFRS_MASTER_ID B WHERE A.DEAL_NO = B.MASTER_ACCOUNT_CODE) AND A.AL_FLAG = 'L'  
    
  INSERT INTO IFRS_LI_MASTER (DOWNLOAD_DATE, MASTERID, MASTER_ACCOUNT_CODE, DATA_SOURCE,  
  CUSTOMER_NUMBER, CUSTOMER_NAME, IAS_CLASS, PRODUCT_CODE, PRODUCT_TYPE, BRANCH_CODE,  
  EXCHANGE_RATE, FAIR_VALUE_AMOUNT, SOURCE_PROCESS, CREATEDBY, CREATEDDATE)  
  SELECT CONVERT(DATE, A.DOWNLOAD_DATE,112) AS DOWNLOAD_DATE  
    ,CONVERT(VARCHAR, B.MASTERID) AS MASTERID  
    ,A.DEAL_NO AS MASTER_ACCOUNT_CODE  
    ,A.DATA_SOURCE  
    ,A.CUSTOMER_NUMBER  
    ,A.CUSTOMER_NAME  
    ,A.AL_FLAG AS IAS_CLASS  
    ,A.PRODUCT_CODE  
    ,A.PRD_TYPE  
    ,A.BRANCH_CODE 
    ,CONVERT(FLOAT, A.EXRATE_TO_LCY) AS EXCHANGE_RATE  
    ,CONVERT(DECIMAL(32,6), ISNULL(A.UNREALIZED_GAIN_LOSS_AMOUNT, 0)) AS FAIR_VALUE_AMOUNT  
    ,'SP_IFRS_LI_SYNC_TREASURY' AS SOURCE_PROCESS  
    ,'SYSTEM' AS CREATEDBY  
    ,GETDATE() AS CREATEDDATE  
  FROM IFRS_STG_MASTER_ACCOUNT_TRS_FX A  
   INNER JOIN IFRS_MASTER_ID B ON A.DEAL_NO = B.MASTER_ACCOUNT_CODE  
  WHERE A.DOWNLOAD_DATE = @CURRDATE AND A.AL_FLAG = 'L'  
  
  --INSERT FROM TABLE IFRS_STG_MASTER_ACCOUNT_TRS_MM  
  INSERT INTO IFRS_MASTER_ID (MASTER_ACCOUNT_CODE,ACCOUNT_NUMBER,IAS_CLASS,EFFDATE,CREATED_DATE)  
  SELECT DEAL_NO,  
    '' AS SECURITY_CODE,  
    AL_FLAG AS IAS_CLASS,  
    @CURRDATE,  
    GETDATE()  
  FROM IFRS_STG_MASTER_ACCOUNT_TRS_MM A  
  WHERE NOT EXISTS (SELECT TOP(1) 1 FROM IFRS_MASTER_ID B WHERE A.DEAL_NO = B.MASTER_ACCOUNT_CODE) AND A.AL_FLAG = 'L'  
    
  INSERT INTO IFRS_LI_MASTER (DOWNLOAD_DATE, MASTERID, MASTER_ACCOUNT_CODE,   
  DATA_SOURCE, CUSTOMER_NUMBER, CUSTOMER_NAME, ACCOUNT_STATUS, IAS_CLASS,  
  PRODUCT_CODE, BRANCH_CODE, CURRENCY, INTEREST_RATE, EXCHANGE_RATE, OUTSTANDING,  
  INTEREST_ACCRUED, LOAN_DUE_DATE, FAIR_VALUE_AMOUNT, SOURCE_PROCESS, CREATEDBY, CREATEDDATE  
  )  
  SELECT CONVERT(DATE, A.DOWNLOAD_DATE, 112) AS DOWNLOAD_DATE  
    ,CONVERT(VARCHAR, B.MASTERID) AS MASTERID  
    ,A.DEAL_NO AS MASTER_ACCOUNT_CODE  
    ,A.DATA_SOURCE  
    ,A.CUSTOMER_NUMBER  
    ,A.CUSTOMER_NAME  
    ,A.ACCOUNT_STATUS   
    ,A.AL_FLAG AS IAS_CLASS  
    ,A.PRODUCT_CODE  
    ,A.BRANCH_CODE  
    ,A.CURRENCY  
    ,CONVERT(FLOAT, ISNULL(A.INTEREST_RATE, 0)) AS INTEREST_RATE  
    ,CONVERT(FLOAT, ISNULL(A.EXRATE_TO_LCY, 0)) AS EXCHANGE_RATE  
    ,CONVERT(DECIMAL, ISNULL(A.AMOUNT, 0)) AS OUTSTANDING  
    ,A.ACCRUED_INTEREST  
    ,CONVERT(DATE, A.MATURITY_DATE, 112) AS LOAN_DUE_DATE 
    ,CONVERT(DECIMAL(32,6), ISNULL(A.CARRYING_AMOUNT, 0)) AS FAIR_VALUE_AMOUNT  
    ,'SP_IFRS_LI_SYNC_TREASURY' AS SOURCE_PROCESS  
    ,'SYSTEM' AS CREATEDBY  
    ,GETDATE() AS CREATEDDATE  
  FROM IFRS_STG_MASTER_ACCOUNT_TRS_MM A  
   INNER JOIN IFRS_MASTER_ID B ON A.DEAL_NO = B.MASTER_ACCOUNT_CODE  
  WHERE A.DOWNLOAD_DATE = @CURRDATE AND A.AL_FLAG = 'L'  

  --INSERT FROM TABLE IFRS_STG_MASTER_ACCOUNT_TRS_NCD  
  INSERT INTO IFRS_MASTER_ID (MASTER_ACCOUNT_CODE,ACCOUNT_NUMBER,IAS_CLASS,EFFDATE,CREATED_DATE)  
  SELECT DEAL_NO,  
    '' AS SECURITY_CODE,  
    AL_FLAG AS IAS_CLASS,  
    @CURRDATE,  
    GETDATE()  
  FROM IFRS_STG_MASTER_ACCOUNT_TRS_NCD A  
  WHERE NOT EXISTS (SELECT TOP(1)1 FROM IFRS_MASTER_ID B WHERE A.DEAL_NO = B.MASTER_ACCOUNT_CODE) AND A.AL_FLAG = 'L'  
    
  INSERT INTO IFRS_LI_MASTER (DOWNLOAD_DATE, MASTERID, MASTER_ACCOUNT_CODE,   
  DATA_SOURCE, CUSTOMER_NUMBER, CUSTOMER_NAME, IAS_CLASS, INTEREST_RATE, PRODUCT_CODE,  
  BRANCH_CODE, CURRENCY, EXCHANGE_RATE, OUTSTANDING, LOAN_START_DATE, LOAN_DUE_DATE,  
  INTEREST_CALCULATION_CODE, INTEREST_ACCRUED, SOURCE_PROCESS, CREATEDBY, CREATEDDATE  
  )  
  SELECT CONVERT(DATE, A.DOWNLOAD_DATE,112) AS DOWNLOAD_DATE  
    ,CONVERT(VARCHAR, B.MASTERID) AS MASTERID  
    ,A.DEAL_NO AS MASTER_ACCOUNT_CODE  
    ,A.DATA_SOURCE  
    ,A.CUSTOMER_NUMBER  
    ,A.CUSTOMER_NAME  
    ,A.AL_FLAG AS IAS_CLASS  
    ,CONVERT(FLOAT, A.INTEREST_RATE) AS INTEREST_RATE  
    ,A.PRODUCT_CODE  
    ,A.BRANCH_CODE  
    ,A.CURRENCY  
    ,CONVERT(FLOAT, A.EXRATE_TO_LCY) AS EXCHANGE_RATE  
    ,CONVERT(DECIMAL(32,6), A.AMOUNT) AS OUTSTANDING  
    ,CONVERT(DATE, A.START_DATE, 112) AS START_DATE  
    ,CONVERT(DATE, A.MATURITY_DATE, 112) AS LOAN_DUE_DATE  
    ,A.INTEREST_CALCULATION_CODE  
    ,A.ACCRUED_INTEREST 
    ,'SP_IFRS_LI_SYNC_TREASURY' AS SOURCE_PROCESS  
    ,'SYSTEM' AS CREATEDBY  
    ,GETDATE() AS CREATEDDATE  
  FROM IFRS_STG_MASTER_ACCOUNT_TRS_NCD A  
   INNER JOIN IFRS_MASTER_ID B ON A.DEAL_NO = B.MASTER_ACCOUNT_CODE  
  WHERE A.DOWNLOAD_DATE = @CURRDATE AND A.AL_FLAG = 'L'  
  
  --INSERT FROM TABLE IFRS_STG_MASTER_ACCOUNT_TRS_REPO  
  INSERT INTO IFRS_MASTER_ID (MASTER_ACCOUNT_CODE,ACCOUNT_NUMBER,IAS_CLASS,EFFDATE,CREATED_DATE)  
  SELECT DEAL_NO,  
    '' AS SECURITY_CODE,  
    AL_FLAG AS IAS_CLASS,  
    @CURRDATE,  
    GETDATE()  
  FROM IFRS_STG_MASTER_ACCOUNT_TRS_REPO A  
  WHERE NOT EXISTS (SELECT TOP(1)1 FROM IFRS_MASTER_ID B WHERE A.DEAL_NO = B.MASTER_ACCOUNT_CODE) AND A.AL_FLAG = 'L'  
    
  INSERT INTO IFRS_LI_MASTER (DOWNLOAD_DATE, MASTERID, MASTER_ACCOUNT_CODE,   
  DATA_SOURCE, CUSTOMER_NUMBER, CUSTOMER_NAME, IAS_CLASS, INTEREST_RATE, PRODUCT_CODE,  
  BRANCH_CODE, CURRENCY, ACCOUNT_NUMBER, ACCOUNT_STATUS, LOAN_DUE_DATE,  
  OUTSTANDING, FAIR_VALUE_AMOUNT, SOURCE_PROCESS, CREATEDBY, CREATEDDATE  
  )  
  SELECT CONVERT(DATE, A.DOWNLOAD_DATE,112) AS DOWNLOAD_DATE  
    ,CONVERT(VARCHAR, B.MASTERID) AS MASTERID  
    ,A.DEAL_NO AS MASTER_ACCOUNT_CODE  
    ,A.DATA_SOURCE  
    ,A.CUSTOMER_NUMBER  
    ,A.CUSTOMER_NAME  
    ,A.AL_FLAG AS IAS_CLASS  
    ,CONVERT(FLOAT, A.INTEREST_RATE) AS INTEREST_RATE  
    ,A.PRODUCT_CODE  
    ,A.BRANCH_CODE  
    ,A.CURRENCY
	,A.ACCOUNT_NUMBER
    ,A.ACCOUNT_STATUS  
    ,CONVERT(DATE, A.MATURITY_DATE, 112) AS LOAN_DUE_DATE 
    ,CONVERT(DECIMAL(32,6), ISNULL(A.FIRST_SETTLEMENT, 0)) AS OUTSTANDING  
    ,CONVERT(DECIMAL(32,6), ISNULL(A.FIRST_SETTLEMENT, 0)) AS FAIR_VALUE_AMOUNT  
    ,'SP_IFRS_LI_SYNC_TREASURY' AS SOURCE_PROCESS  
    ,'SYSTEM' AS CREATEDBY  
    ,GETDATE() AS CREATEDDATE  
  FROM IFRS_STG_MASTER_ACCOUNT_TRS_REPO A  
   INNER JOIN IFRS_MASTER_ID B ON A.DEAL_NO = B.MASTER_ACCOUNT_CODE  
  WHERE A.DOWNLOAD_DATE = @CURRDATE AND A.AL_FLAG = 'L'  
  
 COMMIT TRANSACTION  
  
END  
GO
