USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCOMMONCODE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPCOMMONCODE]  
(@value varchar(50),  
 @text varchar(50),
 @type varchar(1)='',
 @commoncode varchar(50)='')

AS
	declare @query as varchar(MAX)  
BEGIN
	IF (@commoncode <> '')
	BEGIN
		SELECT @type=[TYPE] FROM TBLM_COMMONCODEHEADER WHERE COMMONCODE=@commoncode
	END
	
	SET @query = 
		'SELECT *  
            FROM (  
                SELECT '''' AS "' + @value  
                    + '" , '' '' AS "'  
                    + @text  
                    + '"   
                UNION 
				select COMMONCODE as "' + @value
		+ '" , COMMONCODE+'' - ''+COMMONNAME as "' + @text
		+ '" from TBLM_COMMONCODEHEADER  
		where TYPE=''' + @type + '''
			)A order by [' + @text + ']'

	exec (@query)  
	print @query
 
end;

GO
