USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_MAA_FLOWRATE_SUM]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_MAA_FLOWRATE_SUM] (  
   @Period          DATE='1900-01-01',  
   @ProdGroup       int=0  
   )  
AS  
BEGIN  
SET NOCOUNT ON;  
 DECLARE @V_Query   VARCHAR(MAX);  
 DECLARE @V_ColumnName VARCHAR(MAX);
 DECLARE @V_ColumnNamePercent VARCHAR(MAX);
  
 SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + QUOTENAME(BUCKET_NAME,'[')  
 FROM IFRS_PD_MAA_FLOWRATE_SUM A  
 JOIN IFRS_BUCKET_DETAIL B  
 ON A.BUCKET_GROUP = B.BUCKET_GROUP  
 AND A.BUCKET_FROM = B.BUCKET_ID  
 AND A.PD_RULE_ID = @ProdGroup  
 AND A.EFF_DATE = @Period  
 GROUP BY B.BUCKET_ID,B.BUCKET_NAME  
 ORDER BY B.BUCKET_ID;  

 SELECT @V_ColumnNamePercent = REPLACE(@V_ColumnName,']','(%)]')
  
 SET @V_Query = 'SELECT A.PD_MODEL_NAME as "PD Model Name",A.PERIOD as "Period",A.BUCKET_FROM as "Bucket Name",' + @V_ColumnNamePercent + ', B.Total FROM   
     (  
      Select * FROM   
      (  
       Select distinct   
           D.TM_RULE_NAME AS PD_MODEL_NAME,  
        A.EFF_DATE AS PERIOD,  
        B.BUCKET_ID,  
        B.BUCKET_NAME+''(%)'' AS BUCKET_FROM,  
        C.BUCKET_NAME+''(%)'' AS BUCKET_TO,
		--CONVERT(decimal, CAST((A.FLOWRATE * 100) AS money), 1) as FLOWRATE  
        A.FLOWRATE * 100 AS FLOWRATE  
       FROM IFRS_PD_MAA_FLOWRATE_SUM A  
       JOIN IFRS_BUCKET_DETAIL B  
       ON A.BUCKET_GROUP = B.BUCKET_GROUP  
       AND A.BUCKET_FROM = B.BUCKET_ID  
       JOIN IFRS_BUCKET_DETAIL C  
       ON A.BUCKET_GROUP = C.BUCKET_GROUP  
       AND A.BUCKET_TO = C.BUCKET_ID  
       JOIN IFRS_PD_RULES_CONFIG D  
       ON A.PD_RULE_ID = D.PKID  
       AND A.PD_RULE_ID = ' + CAST(@ProdGroup AS VARCHAR(MAX)) + '  
       AND A.EFF_DATE =''' + CAST(@Period AS VARCHAR(10)) + '''   
      ) TMP  
      pivot   
      ( sum(FLOWRATE)  
       for BUCKET_TO IN ('+ @V_ColumnNamePercent +')  
      ) PVT  
     ) A  
     JOIN   
     (  
      Select BUCKET_FROM,   
	  --SUM(CONVERT(decimal, CAST(FLOWRATE AS money), 1)) AS TOTAL
       SUM(FLOWRATE) AS TOTAL  
      FROM  
      (  
       Select     
        B.BUCKET_NAME+''(%)'' AS BUCKET_FROM,  
        A.FLOWRATE * 100 AS FLOWRATE  
       FROM IFRS_PD_MAA_FLOWRATE_SUM A  
       JOIN IFRS_BUCKET_DETAIL B  
       ON A.BUCKET_GROUP = B.BUCKET_GROUP  
       AND A.BUCKET_FROM = B.BUCKET_ID  
       JOIN IFRS_PD_RULES_CONFIG D  
       ON A.PD_RULE_ID = D.PKID  
       AND A.PD_RULE_ID = ' + CAST(@ProdGroup AS VARCHAR(MAX)) + '  
       AND A.EFF_DATE =''' + CAST(@Period AS VARCHAR(10)) + '''  
       GROUP BY B.BUCKET_NAME,   
        A.FLOWRATE   
      ) TMP2  
      GROUP BY BUCKET_FROM  
     ) B ON A.BUCKET_FROM = B.BUCKET_FROM ORDER BY A.BUCKET_ID';  
   
 IF (@V_ColumnName IS NULL)  
  SET @V_Query = 'SELECT D.TM_RULE_NAME as "PD Model Name",A.EFF_DATE as "Period",A.BUCKET_FROM as "Bucket Name"  
      FROM IFRS_PD_MAA_FLOWRATE_SUM A  
       JOIN IFRS_BUCKET_DETAIL B  
       ON A.BUCKET_GROUP = B.BUCKET_GROUP  
       AND A.BUCKET_FROM = B.BUCKET_ID  
       JOIN IFRS_BUCKET_DETAIL C  
       ON A.BUCKET_GROUP = C.BUCKET_GROUP  
       AND A.BUCKET_TO = C.BUCKET_ID  
       JOIN IFRS_PD_RULES_CONFIG D  
       ON A.PD_RULE_ID = D.PKID  
       AND A.PD_RULE_ID = ' + CAST(@ProdGroup AS VARCHAR(MAX)) + '  
       AND A.EFF_DATE =''' + CAST(@Period AS VARCHAR(10)) + '''
	   WHERE D.IS_DELETE = 0';  
  
 print @V_Query;  
 exec (@V_Query);  
END


GO
