USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_BMA_DETAIL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_BMA_DETAIL]                            
(                            
 @BMID bigint = 0,  
 @QUESTIONID varchar(20) = '',  
 @VALUE varchar(20) = '', 
 @REMARK VARCHAR(4000) = '', 
 @SUPPORTING_DOC varchar(1000) = '',  
 @PKID_HEADER_OLD bigint = 0,  
 @PKID_DETAIL_OLD bigint = 0,  
 @UPDATEDBY varchar(36) = '',               
 @UPDATEDHOST varchar(30) = ''               
)              
AS    
BEGIN
DECLARE @BMIDHIST bigint = 0  

--UPDATE BMA DETAIL  
 UPDATE IFRS_AC_BM_DETAIL  
   SET [QUESTIONID] = @QUESTIONID, [VALUE] = @VALUE, [REMARK] = @REMARK, [SUPPORTING_DOC] = @SUPPORTING_DOC  
    ,[UPDATEDBY] = @UPDATEDBY, [UPDATEDDATE] = GETDATE(), [UPDATEDHOST] = @UPDATEDHOST  
  WHERE PKID = @PKID_DETAIL_OLD
    
 --GET BMID HIST  
 SELECT @BMIDHIST = MAX(PKID) FROM IFRS_AC_BM_HEADER_HIST WHERE PKID_HEADER = @BMID
  
 --INSERT INTO SPPI DETAIL HISTORY  
 INSERT INTO IFRS_AC_BM_DETAIL_HIST([BMID],[QUESTIONID],[VALUE],[REMARK],[SUPPORTING_DOC],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])  
      SELECT @BMIDHIST,@QUESTIONID,@VALUE,@REMARK,@SUPPORTING_DOC,@UPDATEDBY,GETDATE(),@UPDATEDHOST  
   
 --GENERATE RESULT  
 EXEC SP_IFRS_AC_GENERATE_RESULT @BMID  
  
END;  

GO
