USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEREGRESSIONRESULTH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC  [dbo].[USPS_MEREGRESSIONRESULTH](            
@MODEL_ID INT = 0            
,@IS_SIMULATION BIT = 0)            
AS            
BEGIN            
            
IF (@IS_SIMULATION = 1)            
BEGIN            
	select
		MODEL_RESULT_HEADER.*,
		case when MODEL_RESULT_HEADER.SIGNIFICANCY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.AUTOCORRELATION_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.HOMOSCEDASTICITY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.NORMALITY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.MULTICOLLINEARITY_RESULT = 'TRUE' then 1 else 0 end
		as COUNTER_TRUE
	from
	(
		select
			a.model_seq as REGRESS_MODEL_ID,
			b.model_formula as REGRESS_MODEL_COMPONENT,
			a.P_VALUE,
			a.ADJ_R_SQUARED,
			case when c.sig_flag='Y' then 'TRUE'else 'FALSE'end as SIGNIFICANCY_RESULT,
			d.P_VALUE as "AUTOCORRELATION_P_VALUE",
			case when d.FINAL_RESULT like 'Reject Null Hypothesis%' then 'FALSE' else 'TRUE' end as "AUTOCORRELATION_RESULT",
			e.P_VALUE as "HOMOSCEDASTICITY_P_VALUE",
			case when e.FINAL_RESULT like '%Failed to Reject Null Hypothesis%' then 'TRUE' else 'FALSE' end as "HOMOSCEDASTICITY_RESULT",
			f.P_VALUE as "NORMALITY_P_VALUE",
			case when f.FINAL_RESULT like '%Failed to Reject Null Hypothesis%' then 'TRUE' else 'FALSE' end as "NORMALITY_RESULT",
			case when g.VIFVALUE<5.00 then 'TRUE'else 'FALSE'end as "MULTICOLLINEARITY_RESULT",
			SELECTED_FLAG,
			CASE WHEN h.EXPECTED_TREND_RESULT = 1 THEN 'TRUE' ELSE 'FALSE' END 'EXPECTED_TREND_RESULT'
		from IFRS_MULT_LINEAR_REGR_RESULT_TEMP a
		left join TMP_IFRS_ME_MODEL_SCENARIO b on a.model_id=b.model_id and a.model_seq=b.model_seq
		left join (select min(sig_flag) sig_flag, model_id,model_seq from TMP_IFRS_MULT_LINEAR_REGR_COEF group by model_id,model_seq) c
			on a.model_id=c.model_id and a.model_seq=c.model_seq
		left join TMP_IFRS_LINREG_STATS d on a.MODEL_ID=d.MODEL_ID and a.MODEL_SEQ=d.MODEL_SEQ and d.TEST_NAME='DurbinWatson Test'
		left join TMP_IFRS_LINREG_STATS e on a.MODEL_ID=e.MODEL_ID and a.MODEL_SEQ=e.MODEL_SEQ and e.TEST_NAME='White Test'
		left join TMP_IFRS_LINREG_STATS f on a.MODEL_ID=f.MODEL_ID and a.MODEL_SEQ=f.MODEL_SEQ and f.TEST_NAME='Anderson-Darling normality test'
		left join (select max(VIFVALUE) VIFVALUE, model_id,model_seq from TMP_IFRS_LINREG_VIF_DTL group by model_id,model_seq) g
			on a.model_id=g.model_id and a.model_seq=g.model_seq
		left join (
			SELECT DISTINCT MODEL_ID,MODEL_SEQ, MAX(EXPECTED_TREND_TEST) AS EXPECTED_TREND_RESULT
			FROM
			(
				SELECT
					A.MODEL_ID,A.MODEL_SEQ,A.COEFF_NAME,A.ESTIMATE_VAL,D.IMPACT_TO_DEPENDENT,
					CASE WHEN (IMPACT_TO_DEPENDENT = '+' AND ESTIMATE_VAL >= 0) 
					OR (IMPACT_TO_DEPENDENT = '+/-' ) 
					OR (IMPACT_TO_DEPENDENT = '-' AND ESTIMATE_VAL < 0) THEN 1 ELSE 0 END 'EXPECTED_TREND_TEST'
				FROM TMP_IFRS_MULT_LINEAR_REGR_COEF A
				JOIN TMP_IFRS_LINREG_VIF_DTL B ON A.MODEL_ID = B.MODEL_ID AND A.MODEL_SEQ = B.MODEL_SEQ AND A.COEFF_NAME = B.VARNAME
				LEFT JOIN (SELECT DISTINCT ME_CODE, DERIVED_TYPE FROM IFRS_ME_DERIVED_VARIABLE) C ON A.COEFF_NAME = C.DERIVED_TYPE
				LEFT JOIN IFRS_INDEPENDENT_VARIABLE D ON A.MODEL_ID = D.MODEL_ID AND C.ME_CODE = D.MACRO_ECONOMIC_CODE
			)TEMP GROUP BY MODEL_ID, MODEL_SEQ) h on a.MODEL_ID = h.MODEL_ID and a.MODEL_SEQ = h.MODEL_SEQ
		where a.model_id = @MODEL_ID
	) MODEL_RESULT_HEADER
	where
	(
		case when MODEL_RESULT_HEADER.SIGNIFICANCY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.AUTOCORRELATION_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.HOMOSCEDASTICITY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.NORMALITY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.MULTICOLLINEARITY_RESULT = 'TRUE' then 1 else 0 end
	)>=3
	order by COUNTER_TRUE desc,
		ADJ_R_SQUARED desc,
		REGRESS_MODEL_ID asc            
END            
ELSE            
BEGIN            
	select
		MODEL_RESULT_HEADER.*,
		case when MODEL_RESULT_HEADER.SIGNIFICANCY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.AUTOCORRELATION_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.HOMOSCEDASTICITY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.NORMALITY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.MULTICOLLINEARITY_RESULT = 'TRUE' then 1 else 0 end
		as COUNTER_TRUE
	from
	(
		select
			a.model_seq as REGRESS_MODEL_ID,
			b.model_formula as REGRESS_MODEL_COMPONENT,
			a.P_VALUE,
			a.ADJ_R_SQUARED,
			case when c.sig_flag='Y' then 'TRUE'else 'FALSE'end as SIGNIFICANCY_RESULT,
			d.P_VALUE as "AUTOCORRELATION_P_VALUE",
			case when d.FINAL_RESULT like 'Reject Null Hypothesis%' then 'FALSE' else 'TRUE' end as "AUTOCORRELATION_RESULT",
			e.P_VALUE as "HOMOSCEDASTICITY_P_VALUE",
			case when e.FINAL_RESULT like '%Failed to Reject Null Hypothesis%' then 'TRUE' else 'FALSE' end as "HOMOSCEDASTICITY_RESULT",
			f.P_VALUE as "NORMALITY_P_VALUE",
			case when f.FINAL_RESULT like '%Failed to Reject Null Hypothesis%' then 'TRUE' else 'FALSE' end as "NORMALITY_RESULT",
			case when g.VIFVALUE<5.00 then 'TRUE'else 'FALSE'end as "MULTICOLLINEARITY_RESULT",
			SELECTED_FLAG,
			CASE WHEN h.EXPECTED_TREND_RESULT = 1 THEN 'TRUE' ELSE 'FALSE' END 'EXPECTED_TREND_RESULT'
		from IFRS_MULT_LINEAR_REGR_RESULT a
		left join IFRS_ME_MODEL_SCENARIO b on a.model_id=b.model_id and a.model_seq=b.model_seq
		left join (select min(sig_flag) sig_flag, model_id,model_seq from IFRS_MULT_LINEAR_REGR_COEF group by model_id,model_seq) c
			on a.model_id=c.model_id and a.model_seq=c.model_seq
		left join IFRS_LINREG_STATS d on a.MODEL_ID=d.MODEL_ID and a.MODEL_SEQ=d.MODEL_SEQ and d.TEST_NAME='DurbinWatson Test'
		left join IFRS_LINREG_STATS e on a.MODEL_ID=e.MODEL_ID and a.MODEL_SEQ=e.MODEL_SEQ and e.TEST_NAME='White Test'
		left join IFRS_LINREG_STATS f on a.MODEL_ID=f.MODEL_ID and a.MODEL_SEQ=f.MODEL_SEQ and f.TEST_NAME='Anderson-Darling normality test'
		left join (select max(VIFVALUE) VIFVALUE, model_id,model_seq from IFRS_LINREG_VIF_DTL group by model_id,model_seq) g
			on a.model_id=g.model_id and a.model_seq=g.model_seq
		left join (
			SELECT DISTINCT MODEL_ID,MODEL_SEQ, MAX(EXPECTED_TREND_TEST) AS EXPECTED_TREND_RESULT
			FROM
			(
				SELECT
					A.MODEL_ID,A.MODEL_SEQ,A.COEFF_NAME,A.ESTIMATE_VAL,D.IMPACT_TO_DEPENDENT,
					CASE WHEN (IMPACT_TO_DEPENDENT = '+' AND ESTIMATE_VAL >= 0) 
						OR (IMPACT_TO_DEPENDENT = '+/-' )
						OR (IMPACT_TO_DEPENDENT = '-' AND ESTIMATE_VAL < 0) THEN 1 ELSE 0 END 'EXPECTED_TREND_TEST'
				FROM IFRS_MULT_LINEAR_REGR_COEF A
				JOIN IFRS_LINREG_VIF_DTL B ON A.MODEL_ID = B.MODEL_ID AND A.MODEL_SEQ = B.MODEL_SEQ AND A.COEFF_NAME = B.VARNAME
				LEFT JOIN (SELECT DISTINCT ME_CODE, DERIVED_TYPE FROM IFRS_ME_DERIVED_VARIABLE) C ON A.COEFF_NAME = C.DERIVED_TYPE
				LEFT JOIN IFRS_INDEPENDENT_VARIABLE D ON A.MODEL_ID = D.MODEL_ID AND C.ME_CODE = D.MACRO_ECONOMIC_CODE
			)TEMP GROUP BY MODEL_ID, MODEL_SEQ) h on a.MODEL_ID = h.MODEL_ID and a.MODEL_SEQ = h.MODEL_SEQ
		where a.model_id = @MODEL_ID
	) MODEL_RESULT_HEADER
	where
	(
		case when MODEL_RESULT_HEADER.SIGNIFICANCY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.AUTOCORRELATION_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.HOMOSCEDASTICITY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.NORMALITY_RESULT = 'TRUE' then 1 else 0 end
		+
		case when MODEL_RESULT_HEADER.MULTICOLLINEARITY_RESULT = 'TRUE' then 1 else 0 end
	)>=3
	order by COUNTER_TRUE desc,
		ADJ_R_SQUARED desc,
		REGRESS_MODEL_ID asc   
END            
	    
END 

GO
