USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspU_ParamEADModelH]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspU_ParamEADModelH]                       
(                      
 @PKID BIGINT,                      
 @EAD_RULE_NAME    VARCHAR(100) ,            
 @SEGMENTATION_ID bigint,  
 @EAD_SEGMENT varchar(100),            
 @EAD_BALANCE VARCHAR(250),      
 @CCF_FLAG bit,      
 @CCF_RULES_ID VARCHAR(100),        
 @PREPAYMENT_FLAG bit,      
 @PREPAYMENT_RULES_ID VARCHAR(100),        
 @UpdatedBy VARCHAR(36) ='',                  
 @UpdatedHost VARCHAR(30) =''                       
)                      
AS                      
BEGIN                      
            
    UPDATE IFRS_EAD_RULES_CONFIG                      
 SET EAD_RULE_NAME = @EAD_RULE_NAME,                      
  SEGMENTATION_ID = @SEGMENTATION_ID,  
  EAD_BALANCE = @EAD_BALANCE,  
  CCF_FLAG = @CCF_FLAG,  
  CCF_RULES_ID = @CCF_RULES_ID,  
  PREPAYMENT_FLAG = @PREPAYMENT_FLAG,  
  PREPAYMENT_RULES_ID = @PREPAYMENT_RULES_ID,  
  UPDATEDBY = @UpdatedBy ,                  
  UPDATEDDATE = getdate() ,                  
  UPDATEDHOST = @UpdatedHost                                 
    WHERE PKID = @PKID;                      
                      
END; 
GO
