USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADFORECASTRESULTPEND]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOADFORECASTRESULTPEND]
(         
 @ME_CODE VARCHAR(100)        
)            
AS            
BEGIN            
            
	SELECT       
		ROW_NUMBER() OVER(ORDER BY FL_PERIOD) AS NO,      
		FL_PERIOD AS FL_PERIOD,      
		ME_CODE AS ME_CODE,      
		FL_VAL AS FL_VAL       
	FROM IFRS_ME_FORECAST_DETAIL_PEND
	WHERE ME_CODE = @ME_CODE        
            
END; 
GO
