USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_SEGMENTSETTINGSD]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_SEGMENTSETTINGSD]
(@PKID bigint   )
AS
BEGIN
	DELETE [IFRS_MSTR_SEGMENT_RULES_DETAIL] WHERE PKID=@PKID
END

GO
