USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMIMPAIRCABUCK]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPU_PARAMIMPAIRCABUCK]      
(      
 @PKID BIGINT,  
 @BUCKET_ID INT,      
 @BUCKET_NAME VARCHAR(100),      
 @SUB_BUCKET_NAME VARCHAR(30),      
 @BUCKET_DESCRIPTION VARCHAR(200),      
 @OPTION_GROUP VARCHAR(10),      
 @BUCKET_GROUP VARCHAR(25),      
 @RANGE_START INT,      
 @RANGE_END INT,      
 @FULLY_PAID bit,      
 @WO_FLAG bit,
 @CLOSE_FLAG bit,     
 @MINIMUM_PD float,      
 @MAXIMUM_PD float,  
 @UpdatedBy VARCHAR(36),      
 @UpdatedHost VARCHAR(30)     
)        
AS      
BEGIN  
      
	UPDATE IFRS_BUCKET_HEADER      
		SET INCLUDE_FULLYPAID_FLAG = @FULLY_PAID,  
			INCLUDE_WO_FLAG = @WO_FLAG,
			INCLUDE_CLOSE_FLAG = @CLOSE_FLAG,  
			UPDATEDBY = @UpdatedBy,      
			UPDATEDDATE = GETDATE(),      
			UPDATEDHOST = @UpdatedHost      
	WHERE BUCKET_GROUP = @BUCKET_GROUP      
  
	UPDATE IFRS_BUCKET_DETAIL      
		SET BUCKET_ID = @BUCKET_ID,
			BUCKET_NAME = @BUCKET_NAME,      
			SUB_BUCKET_GROUP = @SUB_BUCKET_NAME,      
			RANGE_START = @RANGE_START,      
			RANGE_END = @RANGE_END,  
			MINIMUM_PD = @MINIMUM_PD,  
			MAXIMUM_PD = @MAXIMUM_PD,  
			UPDATEDBY = @UpdatedBy,      
			UPDATEDDATE = GETDATE(),      
			UPDATEDHOST = @UpdatedHost      
	WHERE BUCKET_GROUP = @BUCKET_GROUP      
		AND PKID = @PKID  
      
END

GO
