USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[ima_to_schd]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ima_to_schd]  
as  
DECLARE @V_CALC_IDAYS INT = 1                                  
  ,@V_CURRDATE DATE                                    
  ,@V_PREVDATE DATE                                  
  ,@PARAM_CALC_TO_LASTPAYMENT INT                               
  ,@V_PARAM_EIR_THRESHOLD INT = 0                               
  ,@V_PARAM_INT_THRESHOLD INT = 0     
begin  
       
 SELECT @V_CURRDATE = CURRDATE                                    
  ,@V_PREVDATE = PREVDATE                                    
 FROM IFRS_PRC_DATE_AMORT;   
  
 TRUNCATE TABLE IFRS_IMA_AMORT_CURR    
  
  INSERT  INTO IFRS_IMA_AMORT_CURR            
 (              
  DOWNLOAD_DATE,            
  MASTERID,            
  PRODUCT_ENTITY,            
  JF_FLAG,            
  DATA_SOURCE,            
  PRODUCT_TYPE,            
  PRODUCT_CODE,            
  PRODUCT_GROUP,            
  BRANCH_CODE,            
  CURRENCY,            
  ACCOUNT_NUMBER,            
  PREVIOUS_ACCOUNT_NUMBER,            
  CUSTOMER_NUMBER,            
  CUSTOMER_NAME,            
  GLOBAL_CUSTOMER_NUMBER,            
  EXCHANGE_RATE,            
  MARKET_RATE,            
  INITIAL_OUTSTANDING,            
  OUTSTANDING,            
  OUTSTANDING_JF,            
  OUTSTANDING_BANK,            
  OUTSTANDING_PASTDUE,            
  OUTSTANDING_IDC,            
  PLAFOND,            
  PLAFOND_CASH,            
  UNUSED_AMOUNT,            
  DOWN_PAYMENT_AMOUNT,            
  INTEREST_RATE,            
  ACCOUNT_STATUS,            
  FACILITY_NUMBER,            
  LOAN_START_DATE,            
  LOAN_DUE_DATE,            
  INSTALLMENT_GRACE_PERIOD,                 
  LOAN_START_AMORTIZATION,            
  LOAN_END_AMORTIZATION,            
  AMORT_TYPE,            
  NEXT_PAYMENT_DATE,            
  LAST_PAYMENT_DATE,            
  FIRST_INSTALLMENT_DATE,            
  TENOR,          PAYMENT_CODE,            
  PAYMENT_TERM,            
  INTEREST_PAYMENT_TERM,            
  EIR_STATUS,            
  ECF_STATUS,            
  INTEREST_CALCULATION_CODE,            
  EIR,            
  EIR_AMOUNT,            
  FAIR_VALUE_AMOUNT,            
  UNAMORT_COST_AMT,            
  UNAMORT_FEE_AMT,            
  DAILY_AMORT_AMT,            
  DAY_PAST_DUE,            
  ORIGINAL_COLLECTABILITY,                 
  BI_COLLECTABILITY,            
  GL_CONSTNAME,            
  SEGMENT,            
  PD_SEGMENT,            
  LGD_SEGMENT,            
  IMPAIRED_FLAG,            
  IS_IMPAIRED,            
  CA_UNWINDING_AMOUNT,            
  IA_UNWINDING_AMOUNT,            
  BEGINNING_BALANCE,            
  ENDING_BALANCE,            
  WRITEBACK,            
  CHARGE,            
  WRITEOFF_FLAG,            
  WRITEOFF_DATE,            
  OUTSTANDING_WO,            
  RESTRUCTURE_DATE,            
  RESTRUCTURE_FLAG,            
  STAFF_LOAN_FLAG,            
  BELOW_MARKET_FLAG,            
  COMMITTED_FLAG,            
  INSTALLMENT_AMOUNT,            
  INITIAL_UNAMORT_TXN_COST,            
  INITIAL_UNAMORT_ORG_FEE,            
  IAS_CLASS,            
  REVOLVING_FLAG,            
  BUCKET_ID,            
  PRODUCT_TYPE_GROUP,            
  NPL_DATE,            
  NPL_FLAG,            
  BRANCH_CODE_OPEN,            
  UNAMORT_AMT_TOTAL_JF,            
  UNAMORT_FEE_AMT_JF,            
  UNAMORT_COST_AMT_JF,            
  IFRS9_CLASS,             
  SPPI_RESULT,              
  BM_RESULT,              
  INTEREST_ACCRUED,            
  ACCOUNT_TYPE,            
  CUSTOMER_TYPE,      
  PRODUCT_TYPE_1,      
  CCF,      
  CCF_RULE_ID,      
  CCF_EFF_DATE,      
  ECL_AMOUNT_BFL,      
  AVG_EIR,         
  SEGMENTATION_ID,      
  DEFAULT_RULE_ID,      
  DPD_CIF,      
  BI_COLLECT_CIF,      
  RESTRUCTURE_COLLECT_FLAG,      
  PLAFOND_CIF                  
 )            
 SELECT            
  DOWNLOAD_DATE,            
  MASTERID,            
  PRODUCT_ENTITY,            
  JF_FLAG,            
  DATA_SOURCE,            
  PRODUCT_TYPE,            
  PRODUCT_CODE,            
  PRODUCT_GROUP,           
  BRANCH_CODE,            
  CURRENCY,            
  ACCOUNT_NUMBER,            
  PREVIOUS_ACCOUNT_NUMBER,            
  CUSTOMER_NUMBER,            
  CUSTOMER_NAME,            
  GLOBAL_CUSTOMER_NUMBER,            
  EXCHANGE_RATE,            
  MARKET_RATE,            
  INITIAL_OUTSTANDING,            
  OUTSTANDING,            
  OUTSTANDING_JF,            
  OUTSTANDING_BANK,            
  OUTSTANDING_PASTDUE,            
  OUTSTANDING_IDC,            
  PLAFOND,            
  PLAFOND_CASH,            
  UNUSED_AMOUNT,            
  DOWN_PAYMENT_AMOUNT,            
  INTEREST_RATE,            
  ACCOUNT_STATUS,            
  FACILITY_NUMBER,            
  LOAN_START_DATE,            
  LOAN_DUE_DATE,            
  INSTALLMENT_GRACE_PERIOD,            
  LOAN_START_AMORTIZATION,            
  LOAN_END_AMORTIZATION,            
  AMORT_TYPE,            
  NEXT_PAYMENT_DATE,            
  LAST_PAYMENT_DATE,            
  FIRST_INSTALLMENT_DATE,            
  TENOR,            
  PAYMENT_CODE,            
  PAYMENT_TERM,            
  INTEREST_PAYMENT_TERM,            
  EIR_STATUS,            
  ECF_STATUS,            
  INTEREST_CALCULATION_CODE,            
  EIR,            
  EIR_AMOUNT,            
  FAIR_VALUE_AMOUNT,            
  UNAMORT_COST_AMT,            
  UNAMORT_FEE_AMT,            
  DAILY_AMORT_AMT,            
  DAY_PAST_DUE,            
  ORIGINAL_COLLECTABILITY,            
  BI_COLLECTABILITY,            
  GL_CONSTNAME,            
  SEGMENT,            
  PD_SEGMENT,            
  LGD_SEGMENT,            
  IMPAIRED_FLAG,            
  IS_IMPAIRED,            
  CA_UNWINDING_AMOUNT,            
  IA_UNWINDING_AMOUNT,            
  BEGINNING_BALANCE,            
  ENDING_BALANCE,            
  WRITEBACK_AMOUNT,            
  CHARGE_AMOUNT,            
  WRITEOFF_FLAG,            
  WRITEOFF_DATE,            
  OUTSTANDING_WO,            
  RESTRUCTURE_DATE,            
  RESTRUCTURE_FLAG,            
  CASE WHEN STAFF_LOAN_FLAG = 1 THEN 'Y' ELSE 'N' END,            
  BELOW_MARKET_FLAG,            
  COMMITTED_FLAG,            
  INSTALLMENT_AMOUNT,            
  INITIAL_UNAMORT_TXN_COST,            
  INITIAL_UNAMORT_ORG_FEE,            
  IAS_CLASS,            
  REVOLVING_FLAG,            
  BUCKET_ID,            
  NULL PRODUCT_TYPE_GROUP,            
  NPL_DATE,            
  NPL_FLAG,            
  BRANCH_CODE_OPEN,            
  UNAMORT_AMT_TOTAL_JF,            
  UNAMORT_FEE_AMT_JF,            
  UNAMORT_COST_AMT_JF,            
  IFRS9_CLASS,             
  SPPI_RESULT,              
  BM_RESULT,              
  INTEREST_ACCRUED,            
  ACCOUNT_TYPE,            
  CUSTOMER_TYPE,      
  PRODUCT_TYPE_1,      
  CCF,      
  CCF_RULE_ID,      
  CCF_EFF_DATE,      
  ECL_AMOUNT_BFL,      
  AVG_EIR,       
  SEGMENTATION_ID,      
  DEFAULT_RULE_ID,      
  DPD_CIF,      
  BI_COLLECT_CIF,      
  RESTRUCTURE_COLLECT_FLAG,      
  PLAFOND_CIF                  
 FROM    IFRS_MASTER_ACCOUNT            
 WHERE   DOWNLOAD_DATE = @V_CURRDATE  
   
 SELECT @V_PARAM_EIR_THRESHOLD = COMMONUSAGE                                     
  FROM TBLM_COMMONCODEHEADER                                      
  WHERE COMMONCODE = 'SCM009'                     
                              
  SELECT @V_PARAM_INT_THRESHOLD = COMMONUSAGE                                     
  FROM TBLM_COMMONCODEHEADER                                      
  WHERE COMMONCODE = 'SCM015'                              
                                 
DECLARE  @TMP1 TABLE  (MASTERID VARCHAR(100))                                  
 ---- INTEREST CALCULATION CODE = 6 ===> 30 /360                                  
 ---- O  =  30                                   
 ---- 1  =  WITH FUCTION FN_CNT_DAYS_30_360 (COUNTER 1 ALWAYS ACTUAL)                                                                     
                                  
  SELECT @V_CALC_IDAYS = COMMONUSAGE                                     
 FROM TBLM_COMMONCODEHEADER                                      
 WHERE COMMONCODE = 'SCM002'                                    
                                  
  SELECT @PARAM_CALC_TO_LASTPAYMENT = CASE                                     
   WHEN COMMONUSAGE = 'Y'                                    
    THEN 1                                    
   ELSE 0                                    
   END                                    
 FROM TBLM_COMMONCODEHEADER                                    
 WHERE COMMONCODE = 'SCM005'     
  
 /*******   DELETE IFRS_PAYM_SCHD  *******/                                    
  DELETE                                  
  FROM IFRS_PAYM_SCHD                                  
  WHERE  DOWNLOAD_DATE = @V_CURRDATE                                   
  AND MASTERID IN                              
  (                              
 SELECT DISTINCT MASTERID                               
 FROM IFRS_STG_PAYM_SCHD (nolock)                                 
    WHERE DOWNLOAD_DATE = @V_CURRDATE                              
   )                                                         
                              
/*******   RESET HISTORY  *******/                                    
  DELETE                                    
  FROM [dbo].[IFRS_PAYM_SCHD_ALL]                                    
  WHERE DOWNLOAD_DATE >= @V_CURRDATE                                    
                                    
  UPDATE [dbo].[IFRS_PAYM_SCHD_ALL]                                    
  SET STATUS = 'A'                                    
   ,END_DATE = NULL                                    
  WHERE END_DATE >= @V_CURRDATE                                                        
                                    
 /*******   UPDATE STATUS TO CLOSE  *******/                                   
  DELETE FROM @TMP1                                 
  INSERT INTO @TMP1 (MASTERID)                                    
  SELECT DISTINCT MASTERID                                    
  FROM [dbo].[IFRS_PAYM_SCHD] (nolock)                              
  WHERE DOWNLOAD_DATE = @V_CURRDATE                                    
  ORDER BY MASTERID ASC                                    
                                    
  UPDATE [dbo].[IFRS_PAYM_SCHD_ALL]                                    
  SET STATUS = 'C'                                    
   ,END_DATE = @V_CURRDATE                                    
   ,CREATED_DATE = GETDATE()                              
  WHERE MASTERID IN (                                    
    SELECT MASTERID                                    
    FROM @TMP1                                    
    )                                    
   AND END_DATE IS NULL                                    
                                  
                                  
    /*******   UPDATE STATUS TO CLOSE  *******/                                  
  DELETE FROM @TMP1                                   
  INSERT INTO @TMP1 (MASTERID)                                    
  SELECT DISTINCT MASTERID                                    
  FROM [dbo].[IFRS_STG_PAYM_SCHD] (nolock)                                   
  WHERE DOWNLOAD_DATE = @V_CURRDATE                                    
  ORDER BY MASTERID ASC                                    
                             
  UPDATE [dbo].[IFRS_PAYM_SCHD_ALL]                                    
  SET STATUS = 'C'                                    
   ,END_DATE = @V_CURRDATE                                    
   ,CREATED_DATE = GETDATE()                                    
  WHERE MASTERID IN (                                    
    SELECT MASTERID                                    
    FROM @TMP1                                    
    )                                    
   AND END_DATE IS NULL                                
                                   
 /*******   INSERT INTO HISTORY  *******/                                   
                                  
  INSERT INTO [dbo].[IFRS_PAYM_SCHD_ALL] (        
    [DOWNLOAD_DATE]                                    
   ,[MASTERID]                                    
   ,[PMTDATE]                                    
   ,[INTEREST_RATE]                                    
   ,[OSPRN]                                    
   ,[PRINCIPAL]                                    
   ,[INTEREST]                                    
   ,[DISB_PERCENTAGE]                                    
   ,[DISB_AMOUNT]                                    
   ,[PLAFOND]                                    
   ,[I_DAYS]                                    
   ,[COUNTER]                                    
   ,[ICC]                                    
   ,[OUTSTANDING]                                    
   ,[SOURCE_PROCESS]                                    
   ,[SCH_FLAG]        
   ,[GRACE_DATE]                                    
   ,[STATUS]                                    
   ,[CREATED_DATE]                                    
   )                                    
  SELECT [DOWNLOAD_DATE]                                    
   ,[MASTERID]                
   ,[PMTDATE]                                    
   ,[INTEREST_RATE]                                    
   ,[OSPRN]                                    
   ,[PRINCIPAL]                                    
   ,[INTEREST]                                    
   ,[DISB_PERCENTAGE]                                    
 ,[DISB_AMOUNT]                                    
   ,[PLAFOND]                                    
   ,[I_DAYS]                                    
   ,[COUNTER]                                    
   ,[ICC]                                    
   ,[OUTSTANDING]                                    
   ,[SOURCE_PROCESS]                                    
,[SCH_FLAG]                                    
   ,[GRACE_DATE]                                    
   ,'A'                                    
   ,GETDATE()                                    
  FROM [dbo].[IFRS_PAYM_SCHD] (nolock)                              
  WHERE DOWNLOAD_DATE = @V_CURRDATE                                                                  
                                  
  INSERT INTO [dbo].[IFRS_PAYM_SCHD_ALL]                                  
  (                                  
     [DOWNLOAD_DATE]                    
    ,[MASTERID]                                  
    ,[PMTDATE]                                  
    ,[INTEREST_RATE]                                  
    ,[OSPRN]                                  
    ,[PRINCIPAL]                                  
    ,[INTEREST]                                  
    ,[DISB_PERCENTAGE]                                  
    ,[DISB_AMOUNT]                                  
    ,[PLAFOND]                                  
    ,[I_DAYS]                                  
    ,[COUNTER]                                  
    ,[ICC]                                  
    ,[OUTSTANDING]                                  
    ,[SOURCE_PROCESS]                                  
    ,[SCH_FLAG]                                  
    ,[GRACE_DATE]                                  
    ,[STATUS]                                    
    ,[CREATED_DATE]                                   
  )                                  
  SELECT A.DOWNLOAD_DATE                              
   ,A.[MASTERID]                                  
   ,A.[PMTDATE] [PMT_DATE]                                  
   ,B.INTEREST_RATE [INTEREST_RATE]                                  
   ,A.[OSPRN]                                  
   ,A.[PRINCIPAL]                                  
   ,A.[INTEREST]                                  
   ,0.000000 [DISB_PERCENTAGE]                                  
 ,0.000000 [DISB_AMOUNT]                                  
   ,B.PLAFOND [PLAFOND]                                  
   ,CASE                                   
    WHEN B.INTEREST_CALCULATION_CODE = 6                                  
     THEN CASE                                   
       WHEN @V_CALC_IDAYS = 0             
        THEN CASE                                   
          WHEN (                                  
            ROW_NUMBER() OVER (PARTITION BY A.MASTERID ORDER BY PMTDATE) - 1) = 1                                  
           THEN CASE                                   
             WHEN DATEDIFF(MONTH, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE) = 0                                  
             THEN 30                                  
             ELSE DATEDIFF(MONTH, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE) * 30                                  
        END                                  
          ELSE DATEDIFF(MONTH, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE) * 30                                  
          END                                  
       WHEN @V_CALC_IDAYS = 1                                  
        THEN dbo.FN_CNT_DAYS_30_360(ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE)                                  
       ELSE dbo.FN_CNT_DAYS_30_360(ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE)                                  
       END                                  
    ELSE ISNULL(DATEDIFF(DAY, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE),0)                                  
    END [I_DAYS]                                  
   ,(ROW_NUMBER() OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY PMTDATE)) [COUNTER]                                  
   ,B.INTEREST_CALCULATION_CODE [ICC]                                  
   ,B.OUTSTANDING [OUTSTANDING]                                  
   ,'DWH' [SOURCE_PROCESS]                                  
   ,'Y'  [SCH_FLAG]            
   ,NULL [GRACE_DATE]                                  
   ,'A'  [STATUS]                                    
   ,GETDATE() [CREATED_DATE]                                   
  FROM IFRS_STG_PAYM_SCHD A (nolock)                                 
  INNER JOIN IFRS_IMA_AMORT_CURR B (nolock) ON A.MASTERID = B.MASTERID                                  
  AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE                                  
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE                                  
                                        
  /*******  INSERT TO AMORTISASI  *******/                                   
  INSERT INTO [dbo].[IFRS_PAYM_SCHD]                                  
   ([DOWNLOAD_DATE]                                  
      ,[MASTERID]                                  
      ,[PMTDATE]                           
      ,[INTEREST_RATE]                                  
      ,[OSPRN]                                  
      ,[PRINCIPAL]                                  
      ,[INTEREST]                                  
      ,[DISB_PERCENTAGE]                                  
      ,[DISB_AMOUNT]                                  
      ,[PLAFOND]                                  
      ,[I_DAYS]                                  
      ,[COUNTER]                                  
      ,[ICC]                                  
      ,[OUTSTANDING]                                  
      ,[SOURCE_PROCESS]                                  
      ,[SCH_FLAG]                                  
      ,[GRACE_DATE])                                  
   SELECT                                   
    @V_CURRDATE                                  
      ,A.[MASTERID]                                  
      ,A.[PMTDATE]                                  
      ,A.[INTEREST_RATE]                                  
      ,A.[OSPRN]                                  
      ,A.[PRINCIPAL]                                  
      ,A.[INTEREST]                                  
      ,A.[DISB_PERCENTAGE]                                  
      ,A.[DISB_AMOUNT]                                  
      ,A.[PLAFOND]                                  
      ,A.[I_DAYS]                               
      ,A.[COUNTER]                                  
      ,A.[ICC]                                  
      ,A.[OUTSTANDING]                                  
      ,A.[SOURCE_PROCESS]                                  
      ,A.[SCH_FLAG]                                  
      ,A.[GRACE_DATE]                                  
  FROM IFRS_PAYM_SCHD_ALL A (nolock)                                  
  INNER JOIN IFRS_IMA_AMORT_CURR B (nolock)                                  
  ON A.MASTERID = B.MASTERID AND A.STATUS = 'A'                                  
  LEFT JOIN IFRS_PAYM_SCHD C (nolock)                                  
  ON A.MASTERID = C.MASTERID AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE                                  
  WHERE  C.MASTERID IS NULL AND B.ECF_STATUS = 'Y'                                  
  AND A.PMTDATE > @V_CURRDATE                                                            
                                  
  DECLARE @TMP3 TABLE                                  
 (                              
 DOWNLOAD_DATE DATE,                              
 MASTERID VARCHAR(100),                               
 START_AMORTIZATION_DATE  DATE                              
 )                              
                                  
 DELETE FROM @TMP3                                  
 INSERT INTO @TMP3                                  
 SELECT PMA.DOWNLOAD_DATE,PMA.MASTERID,CASE                                     
    WHEN @PARAM_CALC_TO_LASTPAYMENT = 0                                    
  THEN @V_CURRDATE                                    
    ELSE                                   
 CASE                                     
   WHEN PYM.MASTERID IS NOT NULL                                    
    THEN PYM.LAST_PAYMENT_DATE_PYM                                    
   ELSE CASE                                     
     WHEN ISNULL(PMA.LAST_PAYMENT_DATE, PMA.LOAN_START_DATE) <=  PMA.LOAN_START_DATE                                    
   THEN  PMA.LOAN_START_DATE                                    
     WHEN PMV.MASTERID IS NULL                                    
   THEN PMA.LOAN_START_DATE                                    
     ELSE CASE                                     
    WHEN PMA.LAST_PAYMENT_DATE >= ISNULL(PMA.LOAN_END_AMORTIZATION, PMA.LOAN_DUE_DATE)                                    
     THEN DATEADD(MONTH, - 1, ISNULL(PMA.LOAN_END_AMORTIZATION, PMA.LOAN_DUE_DATE))                                   
    ELSE PMA.LAST_PAYMENT_DATE                                    
    END                                    
     END                                    
   END                                    
    END START_AMORTIZATION_DATE                                    
    FROM IFRS_MASTER_ACCOUNT AS PMA (nolock)                              
   INNER JOIN IFRS_IMA_AMORT_CURR PMC (nolock)                              
  ON PMA.MASTERID = PMC.MASTERID AND PMA.DOWNLOAD_DATE = PMC.DOWNLOAD_DATE                                    
   LEFT JOIN IFRS_IMA_AMORT_PREV PMV (nolock)                              
  ON PMC.MASTERID = PMV.MASTERID AND PMV.DOWNLOAD_DATE = @V_PREVDATE                                    
   LEFT JOIN (                                    
  SELECT MASTERID,MAX(PMTDATE) LAST_PAYMENT_DATE_PYM                                   
  FROM IFRS_PAYM_SCHD_ALL (nolock)                              
  WHERE STATUS = 'A' AND PMTDATE <= @V_CURRDATE                                   
  GROUP BY MASTERID                                    
  ) PYM ON PYM.MASTERID = PMA.MASTERID                                    
   WHERE PMA.DOWNLOAD_DATE = @V_CURRDATE                                    
   AND PMC.ECF_STATUS = 'Y'                                    
   AND PMA.ACCOUNT_STATUS = 'A'                      
   AND PMA.IAS_CLASS = 'A'          
   AND PMA.LOAN_DUE_DATE > @V_CURRDATE                                    
   AND PMA.AMORT_TYPE = 'EIR'                                    
                                  
   --DELETE TOP                                  
   DELETE FROM IFRS_PAYM_SCHD                                  
   WHERE PMTDATE <= @V_CURRDATE                                  
                                  
   --DELETE BOTTOM                                  
   DELETE A                                  
   FROM IFRS_PAYM_SCHD A                                  
   INNER JOIN                                   
  (SELECT MASTERID, MIN(PMTDATE) AS MAX_PMTDATE                               
  FROM IFRS_PAYM_SCHD (nolock)                              
  WHERE OSPRN = 0 GROUP BY MASTERID) B                                  
  ON A.MASTERID = B.MASTERID                                  
  AND A.PMTDATE > B.MAX_PMTDATE                               
  
 --INSERT INITIAL                                  
   INSERT INTO [dbo].[IFRS_PAYM_SCHD]                                  
   ([DOWNLOAD_DATE]                                  
    ,[MASTERID]                                  
    ,[PMTDATE]                                  
    ,[INTEREST_RATE]                                  
    ,[OSPRN]                                  
    ,[PRINCIPAL]                                  
    ,[INTEREST]                                  
 ,[DISB_PERCENTAGE]                                  
    ,[DISB_AMOUNT]                                  
    ,[PLAFOND]                                  
    ,[I_DAYS]                                  
    ,[COUNTER]                                  
    ,[ICC]                                  
    ,[OUTSTANDING]                                  
    ,[SOURCE_PROCESS]                                  
    ,[SCH_FLAG]                                  
    ,[GRACE_DATE])                                  
  SELECT                                   
     A.[DOWNLOAD_DATE]                                  
    ,A.[MASTERID]                                    
 ,C.START_AMORTIZATION_DATE [PMTDATE]                                  
    ,A.[INTEREST_RATE]                                  
    ,(A.[OSPRN]  +  A.[PRINCIPAL] ) AS OSPRN                                  
    ,0.000000 AS [PRINCIPAL]                                  
    ,0.000000 AS [INTEREST]                                  
    ,0.000000 AS [DISB_PERCENTAGE]                                  
    ,(A.[OSPRN]  +  A.[PRINCIPAL] ) AS [DISB_AMOUNT]                                  
    ,A.[PLAFOND]                                  
    ,0 AS [I_DAYS]                                  
    ,0 AS [COUNTER]                                  
    ,A.[ICC]                                  
    ,A.[OUTSTANDING]                                  
    ,A.[SOURCE_PROCESS]                                  
    ,A.[SCH_FLAG]                                  
    ,A.[GRACE_DATE]                                  
   FROM IFRS_PAYM_SCHD A (nolock)                              
   INNER JOIN IFRS_IMA_AMORT_CURR B (nolock) ON A.MASTERID = B.MASTERID  AND B.ECF_STATUS = 'Y'                                  
   INNER JOIN @TMP3 C ON A.MASTERID = C.MASTERID AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE                                  
   INNER JOIN                                   
   (                              
 SELECT MASTERID, MIN(COUNTER) COUNTER                              
 FROM IFRS_PAYM_SCHD (nolock)                                   
 GROUP BY MASTERID                              
   )D ON A.MASTERID = D.MASTERID AND A.COUNTER = D.COUNTER                                 
                          
  
end
GO
