USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ME_MODEL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPS_ME_MODEL]
as
begin
select pkid "MODEL_ID", MODEL_NAME from IFRS_MACRO_ECONOMIC_MODEL
end

GO
