USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETMAXDATEFROMJOBHISTORY]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETMAXDATEFROMJOBHISTORY]
AS
BEGIN

	SELECT MAX(PeriodDate) 'Period_Date'  
	FROM tblT_JobHistory WITH (NOLOCK);

END

GO
