USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SCREENGROUPH]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_SCREENGROUPH]
	@PKID bigint=0,      
	@ScreenGroupID varchar(50)='',            
	@CountryID varchar(10)='',            
	@ModuleID varchar(50)='',            
	@Description varchar(100)='',                
	@UpdatedBy varchar(36)='',                
	@UpdatedHost varchar(20) =''               
as           
     
	UPDATE tblM_ScreenGroupHeader                
	SET [Description] = @Description,                
		UpdatedBy = @UpdatedBy,                
		UpdatedHost = @UpdatedHost,                
		UpdatedDate = GETDATE()                
	WHERE PKID = @PKID

GO
