USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_TMPBOOTSTRAPDETAIL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_TMPBOOTSTRAPDETAIL]
(
    @BOOTSTRAP_ID BIGINT=0,
	@ME_CODE VARCHAR(50),
    @BOOTSTRAP_PERIOD_FROM date,
    @BOOTSTRAP_PERIOD_TO date,
    @MODEL_ID BIGINT,
    @CreatedBy VARCHAR(36),
    @CreatedHost VARCHAR(36)
)
AS
BEGIN

    INSERT INTO TMP_IFRS_PD_BOOTSTRAP_DETAIL
    (
        BOOTSTRAP_ID,
        ME_CODE,
		BOOTSTRAP_PERIOD_FROM,
		BOOTSTRAP_PERIOD_TO,
        MODEL_ID,
        CreatedBy,
        CreatedDate,
        CreatedHost
    )
    VALUES
    (
		@BOOTSTRAP_ID,
		@ME_CODE,
		DATEADD(day, -day(@BOOTSTRAP_PERIOD_FROM) + 1, @BOOTSTRAP_PERIOD_FROM),
		DATEADD(day, -day(@BOOTSTRAP_PERIOD_TO) + 1, @BOOTSTRAP_PERIOD_TO),
		@MODEL_ID,
        @CreatedBy,
        getdate(),
        @CreatedHost
    );
END

GO
