USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADDATAJOURNAL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOADDATAJOURNAL]
(    
	@GL_DATE DATE,    
	@DATA_SOURCE varchar(200) = '',
	@PRD_GROUP varchar(500) = ''   
)    
AS
BEGIN
/* change log
author: Frans Darmawan
5-Dec-2017
change item: change join to imp_journal_data add download_date clause to prevent duplication

edited by: Julian Wesley
27-Mar-2018
change item: Add union from IFRS_ACCT_JOURNAL_DATA to the query

edited by: Julian Wesley
1-JUN-2018
change item: Remove union from IFRS_ACCT_JOURNAL_DATA
*/
	DECLARE @Query VARCHAR(MAX);

	SET @Query = 
		'SELECT A.DOWNLOAD_DATE AS "GL DATE", 
			A.BRANCH_CODE AS "Branch ID", 
			TC.VALUE2 AS "Branch Desc", 
			A.CUSTOMER_NUMBER AS "Customer Number", 
			A.ACCOUNT_NUMBER AS "Account Number", 
			A.PRD_CODE AS "Product Code", 
			C.PRD_GROUP AS "Product Group", 
			A.GL_ACCOUNT AS "Debit GL", 
			B.GL_ACCOUNT AS "Credit GL", 
			A.JOURNAL_TYPE AS "Journal Type", 
			A.JOURNAL_DESC AS "Journal Desc Debit", 
			B.JOURNAL_DESC AS "Journal Desc Credit", 
			A.REVERSAL_FLAG AS "Reversal Flag", 
			A.CURRENCY AS "CCY", 
			(ISNULL(A.AMOUNT_IDR,0)/ISNULL(A.AMOUNT, 0)) AS "Exchange Rate", 
			ISNULL(A.AMOUNT,0) AS "Amount ORI", 
			ISNULL(A.AMOUNT_IDR,0) AS "Amount IDR" 
		FROM IFRS_IMP_JOURNAL_DATA A 
			JOIN 
			(
				SELECT DISTINCT PRD_GROUP, DATA_SOURCE, PRD_CODE from IFRS_MASTER_PRODUCT_PARAMETER
			) C ON A.DATA_SOURCE = C.DATA_SOURCE AND A.PRD_CODE = C.PRD_CODE
			JOIN 
			(
				SELECT DOWNLOAD_DATE,GL_ACCOUNT, ACCOUNT_NUMBER, JOURNAL_TYPE, REVERSAL_FLAG, JOURNAL_DESC from IFRS_IMP_JOURNAL_DATA  where TXN_TYPE = ''CR''
			) B ON A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER
				AND A.JOURNAL_TYPE = B.JOURNAL_TYPE 
				AND A.REVERSAL_FLAG = B.REVERSAL_FLAG
				AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE
			LEFT JOIN (SELECT * FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''B10'')TC ON TC.VALUE1 = A.BRANCH_CODE
		WHERE A.TXN_TYPE = ''DB'' 
			AND A.DOWNLOAD_DATE = ''' + CAST(@GL_DATE AS VARCHAR(500)) + ''''
			+ CASE WHEN ISNULL(@DATA_SOURCE, '') <> ''
				THEN ' AND A.DATA_SOURCE = ''' + CAST(@DATA_SOURCE AS VARCHAR(500)) + ''''
				ELSE ''
			END
			+ CASE WHEN ISNULL(@PRD_GROUP, '') <> ''
				THEN ' AND C.PRD_GROUP IN (' + @PRD_GROUP + ')'
				ELSE ''
			END;

	EXEC(@Query);
			
END;

GO
