USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSICRPORTF]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPSICRPORTF]

AS
BEGIN


      SELECT DISTINCT 
            PKID AS "RULE_CODE"  ,
            RULE_NAME "SICR"  
        FROM IFRS_SCENARIO_RULES_HEADER
        WHERE RULE_TYPE = 'STAGE';
END;

GO
