USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_COMMONCODEH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USPI_COMMONCODEH]        
 -- Add the parameters for the stored procedure here        
    @CommonCode CHAR(10) ='',        
    @ModuleID VARCHAR(50) ='',        
    @ParentCode VARCHAR(50) ='',        
    @CommonName VARCHAR(200) ='',        
    @CommonDesc VARCHAR(200) ='',        
    @CommonUsage VARCHAR(MAX) ='',        
    @Type CHAR(1) ='',        
    @CreatedBy VARCHAR(36) ='',        
    @CreatedHost VARCHAR(30)  =''      
AS         
BEGIN        
   declare @CountryID VARCHAR(10)     
   set @CountryID = 'ID'        
        
    -- Insert statements for procedure here        
        INSERT  INTO [dbo].[tblM_CommonCodeHeader]        
                ( [CommonCode] ,        
                  [CountryID] ,        
                  [ModuleID] ,        
                  [ParentCode] ,        
                  [CommonName] ,        
                  [CommonDesc] ,        
                  [CommonUsage] ,
				  [CODETYPE],        
                  [Type],        
                  [CreatedBy] ,        
                  [CreatedDate] ,        
                  [CreatedHost]         
                )        
        VALUES  ( @CommonCode ,        
                  @CountryID ,        
                  @ModuleID ,        
                  @ParentCode ,        
                  @CommonName ,        
                  @CommonDesc ,        
                  @CommonUsage ,
				  @Type,        
                  @Type,        
                  @CreatedBy ,        
                  getdate() ,        
                  @CreatedHost         
                )        
                      
          
    END  

GO
