USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CMBECLMODELRESULTSEGMENT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CMBECLMODELRESULTSEGMENT]          
AS    
BEGIN    
    
SELECT
	'ALL' AS SEGMENT
UNION ALL
SELECT
	DISTINCT(SEGMENT)
FROM IFRS_MSTR_SEGMENT_RULES_HEADER
WHERE IS_DELETE = 0
AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
    
END;
GO
