USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_REVIEW_GRID_DETAIL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_REVIEW_GRID_DETAIL]        
(      
 @DCFID INT,  
 @MASTERID VARCHAR(100)      
)      
AS      
BEGIN      
 SELECT      
  A.MASTERID,      
  EOMONTH(A.EFFECTIVE_DATE) AS EFFECTIVE_DATE,      
  A.PRINCIPAL,      
  A.INTEREST,      
  A.UNPAID_INTEREST,      
  A.COLLATERAL,    
  A.COLLATERAL_COST/100 AS COLLATERAL_COST,      
  B.NPV_MONTH,      
  B.NPV,      
  B.UNWINDING_AMOUNT,      
  B.BEGINNING_BALANCE,      
  B.ENDING_BALANCE      
 FROM TBLT_PAYMENTEXPECTEDH_TEMP A      
 JOIN TBLT_PAYMENTEXPECTED_TEMP B ON EOMONTH(A.EFFECTIVE_DATE) = EOMONTH(B.EFFECTIVE_DATE_FD) AND A.DCFID = B.DCFID AND A.UPLOADID = B.UPLOADID      
 WHERE A.MASTERID = @MASTERID AND A.DCFID = @DCFID AND A.UPLOADID = (SELECT MAX(UPLOADID) FROM TBLT_PAYMENTEXPECTEDH_TEMP WHERE MASTERID = @MASTERID AND DCFID = @DCFID)    
 ORDER BY EFFECTIVE_DATE;      
END      
GO
