USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_GENERATEMISSDCFUPLOAD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_GENERATEMISSDCFUPLOAD]    
(    
 @uploadID INT ,
 @CreatedBy VARCHAR(100) = '',
 @CreatedHost VARCHAR(100) = ''   
)    
AS    
BEGIN    
    
 --REGION Generates Missing Months    
    
 DECLARE @DTBEGIN DATE;  
 DECLARE @DTEND DATE;  
 DECLARE @ESTPERCENT NUMERIC(32,6);  
 DECLARE @DCFID INT;  
 DECLARE @MASTERID VARCHAR(100);  
    
 SELECT @DTBEGIN = EOMONTH(CAST(MIN(EFFECTIVE_DATE) + '01' AS DATE)),  
  @DTEND = EOMONTH(CAST(MAX(EFFECTIVE_DATE) + '01' AS DATE)),  
  @ESTPERCENT = MAX(EIR_PERCENT),  
  @DCFID = MAX(DCFID),  
  @MASTERID = MASTERID  
 FROM TBLU_DCF_DETAIL  
 WHERE UPLOADID = @uploadID  
 GROUP BY MASTERID;  
     
 -- Insert to HeaderTemp table    
 -- OUTSTANDING di-insert 0, karena generated dari tanggal yang loncat2    
 -- ROW_NUMBER nanti akan di ganti setelah berhasil ter-insert    
 -- EDIT: ROW_NUNMBER di set 0 juga, untuk tau bahwa file tersebut adalah file yang di generate dari process SP    
 -- Create CTE Table for generate total gap months    
 ;WITH CTE (startdate, tempdate, enddate) AS  
 (  
  SELECT @DTBEGIN, @DTBEGIN AS tempdate, @DTEND  
   UNION ALL  
  SELECT startdate, EOMONTH (DATEADD (MONTH, 1, tempdate)) AS pmtdate, enddate  
  FROM CTE  
  WHERE tempdate < enddate  
 )  
  
 INSERT TBLT_PAYMENTEXPECTEDH_TEMP  
 (  
  DCFID,  
  UPLOADID,  
  ROW_NUMBER,  
  EFFECTIVE_DATE,  
  EIR_PERCENT,  
  PRINCIPAL,  
  INTEREST,  
  UNPAID_INTEREST,  
  COLLATERAL,  
  COLLATERAL_COST,  
  MASTERID,
  CREATEDBY,
  CREATEDDATE,
  CREATEDHOST  
 )  
 SELECT @DCFID,  
  @uploadID,  
  0,  
  DT.tempdate,  
  @ESTPERCENT,  
  0,  
  0,  
  0,  
  0,  
  0,  
  @MASTERID,
  @CreatedBy,
  GETDATE(),
  @CreatedHost  
 FROM CTE DT  
  LEFT JOIN TBLU_DCF_DETAIL DCF ON DT.tempdate = EOMONTH (CAST (DCF.EFFECTIVE_DATE + '01' AS DATE))  
   AND DCF.UPLOADID = @uploadID  
 WHERE DCF.TEMPID IS NULL  
 OPTION (MAXRECURSION 500); -- Default 100 Recursion  
     
 ;WITH CTE (startdate, tempdate, enddate) AS  
 (  
  SELECT @DTBEGIN, @DTBEGIN AS tempdate, @DTEND  
   UNION ALL  
  SELECT startdate, EOMONTH (DATEADD (MONTH, 1, tempdate)) AS pmtdate, enddate  
  FROM CTE  
  WHERE tempdate < enddate  
 )  
    
 INSERT INTO tblU_DCF_Detail  
 (  
  DCFID,  
  UPLOADID,  
  ROW_NUMBER,  
  EFFECTIVE_DATE,  
  EIR_PERCENT,  
  PRINCIPAL,  
  INTEREST,  
  UNPAID_INTEREST,  
  COLLATERAL,  
  COLLATERAL_COST,  
  MASTERID,
  CREATEDBY,
  CREATEDDATE,
  CREATEDHOST  
 )  
 SELECT @DCFID,  
  @uploadID,  
  0,  
  CONVERT(VARCHAR(6), DT.tempdate, 112), -- Convert to yyyymm  
  @ESTPERCENT,  
  0,  
  0,  
  0,  
  0,  
  0,  
  @MASTERID,
  @CreatedBy,
  GETDATE(),
  @CreatedHost
 FROM CTE DT  
  LEFT JOIN TBLU_DCF_DETAIL DCF ON DT.tempdate = EOMONTH(CAST(DCF.EFFECTIVE_DATE + '01' AS DATE))  
   AND DCF.UPLOADID = @uploadID  
 WHERE DCF.TEMPID IS NULL  
 OPTION (MAXRECURSION 500);  
      
 -- END REGION    
    
END;
GO
