USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPREPAYMENTMODEL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPPREPAYMENTMODEL]  
AS      
BEGIN    
    
 SELECT PKID AS PREPAYMENT_RULE_ID, PREPAYMENT_RULE_NAME  
 FROM IFRS_PREPAYMENT_RULES_CONFIG ORDER BY PREPAYMENT_RULE_NAME  
    
END; 
GO
