USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADINDIVIDUALIMPREVIEW]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOADINDIVIDUALIMPREVIEW]            
(            
@userid varchar(100) = ''            
)            
AS            
BEGIN            
    
SELECT     
 A.MASTERID, 
 A.DCFID,   
 B.USERNAME AS CREATEDBY,    
 A.CREATEDDATE    
FROM            
 (SELECT     
  DISTINCT MASTERID,
  DCFID,     
  CREATEDBY,     
  CREATEDDATE     
 FROM IFRS_IMP_IA_MASTER_PEND            
 WHERE CREATEDBY IN (SELECT USERID FROM TBLM_REPORTTO WHERE REPORTTO = @userid)     
 AND STATUS = 'PENDING_REVIEW') A    
JOIN TBLM_USER B ON A.CREATEDBY = B.PKID    
            
END
GO
