USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_GL_IS_CURRENCY]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_GL_IS_CURRENCY]
(
	@Download_Date date = '01/01/2000',      
	@Currency varchar(5) = '',
	@Branch_Code varchar(20) = '',
	@Balance_Format varchar(10) = 'LOCAL' 
)
AS
BEGIN

	DECLARE @Query VARCHAR (MAX);
	DECLARE @PrevEOM DATE, @PrevEOM2 DATE;

	SET @PrevEOM = EOMONTH(DATEADD(MONTH, -1, @Download_Date));
	SET @PrevEOM2 = EOMONTH(DATEADD(MONTH, -2, @Download_Date));

	SET @Query = '
		SELECT CURR.GEN8_DESC AS "DESCRIPTION", 
			COALESCE(SUM(LAST.BAIFRS), 0) AS LASTYTD,
			COALESCE(SUM(CURR.BAIFRS), 0) AS CURRYTD, 
			COALESCE(SUM(LAST.BAIFRS), 0) - COALESCE(SUM(LAST2.BAIFRS), 0) AS LASTMTD,
			COALESCE(SUM(CURR.BAIFRS), 0) - COALESCE(SUM(LAST.BAIFRS), 0) AS CURRMTD,
			CURR.GEN7_DESC AS LEVEL7,
			CURR.GEN6_DESC AS LEVEL6,
			CURR.GEN5_DESC AS LEVEL5,
			CURR.GEN4_DESC AS LEVEL4,
			CURR.GEN3_DESC AS LEVEL3,
			CURR.GEN2_DESC AS LEVEL2,
			CURR.GEN1_DESC AS LEVEL1,
			CURR.FSCODE AS ITEM_CODE,
			CURR.GEN8_CODE AS DESCRIPTION_CODE,
			CURR.GEN7_CODE AS LEVEL7CODE,	
			CURR.GEN6_CODE AS LEVEL6CODE,	
			CURR.GEN5_CODE AS LEVEL5CODE,
			CURR.GEN4_CODE AS LEVEL4CODE,
			CURR.GEN3_CODE AS LEVEL3CODE,
			CURR.GEN2_CODE AS LEVEL2CODE,
			CURR.GEN1_CODE AS LEVEL1CODE,
			CURR.DATASOURCE
		FROM GL_FS_FINAL CURR
			LEFT JOIN 
			(
				SELECT SUM(BAIFRS) as BAIFRS, 
					CURRENCY,
					BRANCH_CODE,
					GL_CODE,
					DATASOURCE,
					SOURCE
				FROM GL_FS_FINAL
				WHERE (UPPER(GEN1_DESC) LIKE ''%INCOME%'')
					AND DOWNLOAD_DATE = ''' + CAST(@PrevEOM AS VARCHAR) + '''
					AND SOURCE = ''IS_HO''
				GROUP BY 	CURRENCY,
					BRANCH_CODE,
					GL_CODE,
					DATASOURCE,
					SOURCE
			) LAST ON CURR.CURRENCY = LAST.CURRENCY
				AND CURR.BRANCH_CODE = LAST.BRANCH_CODE
				AND CURR.GL_CODE=LAST.GL_CODE
				AND CURR.DATASOURCE=LAST.DATASOURCE
				AND CURR.SOURCE=LAST.SOURCE
			LEFT JOIN 
			(
				SELECT SUM(BAIFRS) as BAIFRS, 
					CURRENCY,
					BRANCH_CODE,
					GL_CODE,
					DATASOURCE,
					SOURCE
				FROM GL_FS_FINAL
				WHERE (UPPER(GEN1_DESC) LIKE ''%INCOME%'')
					AND DOWNLOAD_DATE = ''' + CAST(@PrevEOM2 AS VARCHAR) + '''
					AND SOURCE = ''IS_HO''
				GROUP BY 	CURRENCY,
					BRANCH_CODE,
					GL_CODE,
					DATASOURCE,
					SOURCE
			) LAST2 ON CURR.CURRENCY = LAST2.CURRENCY
				AND CURR.BRANCH_CODE = LAST2.BRANCH_CODE
				AND CURR.GL_CODE=LAST2.GL_CODE
				AND CURR.DATASOURCE=LAST2.DATASOURCE
				AND CURR.SOURCE=LAST2.SOURCE
		WHERE (UPPER(GEN1_DESC) LIKE ''%INCOME%'')
			AND CURR.DOWNLOAD_DATE = ''' + CAST(@Download_Date AS VARCHAR) + ''' 
			AND CURR.SOURCE = ''IS_HO'' '
			+ CASE WHEN @Currency = 'FCY'
				THEN 'AND CURR.CURRENCY <> ''IDR'' '
			WHEN @Currency = 'LCY'
				THEN 'AND CURR.CURRENCY = ''IDR'' '
				ELSE ''
			END
			+ 'AND CURR.BRANCH_CODE LIKE ''%' + @Branch_Code + '%''
		GROUP BY GEN8_DESC, GEN7_DESC, GEN6_DESC, GEN5_DESC, GEN4_DESC, GEN3_DESC, GEN2_DESC, GEN1_DESC, CURR.DATASOURCE, CURR.FSCODE, GEN8_CODE, GEN7_CODE, GEN6_CODE, GEN5_CODE, GEN4_CODE, GEN3_CODE, GEN2_CODE, GEN1_CODE';

	EXEC (@Query);
	
END

GO
