USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CMBAVERAGEEIRSEGMENT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CMBAVERAGEEIRSEGMENT]              
AS          
BEGIN    

	SELECT 'ALL' AS SUB_SEGMENT
	UNION ALL 
	SELECT SUB_SEGMENT FROM IFRS_MSTR_SEGMENT_RULES_HEADER
	WHERE SEGMENT_TYPE='EIR_SEGMENT'
	AND IS_DELETE=0
     
END;  
  
GO
