USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPDESCRIPTIONONLY]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPDESCRIPTIONONLY]
(
	@value VARCHAR(50),
	@text VARCHAR(50),
	@filter VARCHAR(200)
)
AS
BEGIN

	DECLARE @Query VARCHAR(MAX);

	SET @Query = 
		'SELECT CAST(VALUE1 AS VARCHAR(100)) AS "' + @value + '",
			DESCRIPTION AS "' + @text + '"
		FROM TBLM_COMMONCODEDETAIL
		WHERE ' + @filter + '
		ORDER BY SEQUENCE';
		
	EXECUTE(@Query);

END;

GO
