USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_MODEL_ECL_TOP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_MODEL_ECL_TOP]      
(      
    @PKID bigint      
)      
AS      
BEGIN  
  
    SELECT PKID,  
		TM_RULE_NAME,  
		SEGMENTATION_ID,  
		PD_METHOD,  
		CALC_METHOD, 
		BUCKET_GROUP, 
		EXPECTED_LIFE,
		INCREMENT_PERIOD,   
		HISTORICAL_DATA,  
		TRANSITION_DATA,  
		POPULATION_MONTH,  
		IA_FLAG,  
		DEFAULT_RULE_ID,
		THRESHOLD,  
		CUT_OFF_DATE,  
		MIG_LOSS_BUCKET,
		ACTIVE_FLAG, 
		LAG_1MONTH_FLAG,
		RUNNING_STATUS,
		BUCKET_GROUP2,
		DEFAULT_RATIO_BY
    FROM IFRS_PD_RULES_CONFIG    
    WHERE PKID = @PKID;      
      
END;
GO
