USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ASSETCLASSHEADER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_ASSETCLASSHEADER]
(
    @Asset_ID FLOAT = 0
)
AS
BEGIN
    
    IF @Asset_ID > 0 
	BEGIN
        SELECT * FROM IFRS_ASSET_CLASS_HEADER WHERE PKID = @Asset_ID;
    END
    ELSE BEGIN
         SELECT * FROM IFRS_ASSET_CLASS_HEADER;
    END 

END;

GO
