USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_AC_APPROVESPPI_UPDATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_AC_APPROVESPPI_UPDATE]
(  
 @PKID bigint = 0,
 @APPROVAL_REMARKS varchar(2000) = '',
 @APPROVEDBY varchar(36) = '',
 @APPROVEDHOST varchar(30) = ''
)  
AS  
BEGIN
DECLARE @CLASSID bigint = 0
DECLARE @CLASSIDHIST bigint = 0
	
	--GET PKID SPPI HEADER
	SELECT @CLASSID = PKID_OLD FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = @PKID

	--UPDATE SPPI HEADER
	UPDATE A
			SET [CLASSNAME] = B.[CLASSNAME], [EFFECTIVE_DATE] = B.[EFFECTIVE_DATE], [PRODUCT_CODE] = B.[PRODUCT_CODE]
				,[SPPI_RSLT] = B.[SPPI_RSLT], [INTEREST_TYPE] = B.[INTEREST_TYPE], [STATUS] = 'APPROVED'
				,[OVERRIDE_FLG] = B.[OVERRIDE_FLG], [OVERRIDE_RSLT] = B.[OVERRIDE_RSLT], [OVERRIDE_REMARKS] = B.[OVERRIDE_REMARKS]
				,[UPDATEDBY] = B.[CREATEDBY], [UPDATEDDATE] = B.[CREATEDDATE], [UPDATEDHOST] = B.[CREATEDHOST]
				,[APPROVEDBY] = @APPROVEDBY, [APPROVEDDATE] = GETDATE(), [APPROVEDHOST] = @APPROVEDHOST
		FROM IFRS_AC_SPPI_HEADER A
		JOIN IFRS_AC_SPPI_HEADER_PENDING B ON A.PKID = B.PKID_OLD
		WHERE B.PKID = @PKID

	--INSERT INTO SPPI HEADER HISTORY
	INSERT INTO IFRS_AC_SPPI_HEADER_HIST([PKID_HEADER],[CLASSNAME],[EFFECTIVE_DATE],[PRODUCT_CODE],[SPPI_RSLT],[INTEREST_TYPE],[STATUS],[OVERRIDE_FLG]
			,[OVERRIDE_RSLT],[OVERRIDE_REMARKS],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST],[APPROVEDBY]
			,[APPROVEDDATE],[APPROVEDHOST])
		SELECT @CLASSID,[CLASSNAME],[EFFECTIVE_DATE],[PRODUCT_CODE],[SPPI_RSLT],[INTEREST_TYPE],'APPROVED',[OVERRIDE_FLG],[OVERRIDE_RSLT]
			,[OVERRIDE_REMARKS],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST],[APPROVEDBY]
			,[APPROVEDDATE],[APPROVEDHOST]
		FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = @PKID
	
	--UPDATE SPPI DETAIL
	UPDATE C
			SET [CLASSID] = D.[CLASSID_OLD], [QUESTIONID] = D.[QUESTIONID], [SELECTED_VALUE] = D.[SELECTED_VALUE], [REMARK] = D.[REMARK]
				,[UPDATEDBY] = D.[CREATEDBY], [UPDATEDDATE] = D.[CREATEDDATE], [UPDATEDHOST] = D.[CREATEDHOST]
		FROM IFRS_AC_SPPI_DETAIL C
		JOIN IFRS_AC_SPPI_DETAIL_PENDING D ON C.PKID = D.PKID_DETAIL_OLD
		WHERE D.CLASSID_OLD = @CLASSID AND D.CLASSID = @PKID
	
	--GET CLASSID HIST
	SELECT @CLASSIDHIST = MAX(PKID) FROM IFRS_AC_SPPI_HEADER_HIST

	--INSERT INTO SPPI DETAIL HISTORY
	INSERT INTO IFRS_AC_SPPI_DETAIL_HIST([CLASSID],[QUESTIONID],[SELECTED_VALUE],[REMARK],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])
      SELECT @CLASSIDHIST,[QUESTIONID],[SELECTED_VALUE],[REMARK],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]
	  FROM IFRS_AC_SPPI_DETAIL_PENDING WHERE CLASSID = @PKID
	 --CLASSID_OLD =  @CLASSID AND CLASSID = @PKID
	
	--GENERATE SPPI
	EXEC SP_IFRS_AC_GENERATE_RESULT_SPI @CLASSID

	--UPDATE STATUS PENDING
	UPDATE IFRS_AC_SPPI_HEADER_PENDING
		SET STATUS = 'APPROVED'
			,APPROVAL_REMARKS = @APPROVAL_REMARKS
			,APPROVEDBY = @APPROVEDBY
			,APPROVEDDATE = GETDATE()
			,APPROVEDHOST = @APPROVEDHOST
		WHERE PKID = @PKID

END

GO
