USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADMECANCEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPP_UPLOADMECANCEL]
(
	@canceledBy VARCHAR(36) = ' ',
	@UploadID FLOAT = NULL 
)
AS
BEGIN

	DELETE tblU_MACRO_ECONOMIC_TEMP
	WHERE CreatedBy = @canceledBy
		OR UPLOADID = @UploadID;

END;

GO
