USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SYSTEMPARAMETER]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_SYSTEMPARAMETER]
(
	@ParamDate datetime
)
AS
BEGIN

	UPDATE tblM_System_Parameter  
	SET Param_Date = @ParamDate, 
		Download_Date = @ParamDate 

END

GO
