USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMTRANSLIST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_PARAMTRANSLIST]  
(    
 @Where VARCHAR(4000) = NULL,    
 --@pageNumber int,    
 --@pageSize int,  
 @SortColumn as varchar(100)= ''    
)  
AS  
BEGIN   
 SET NOCOUNT ON;       
 DECLARE @Query VARCHAR (3000);    
 if @SortColumn = ''      
 Begin      
    set @SortColumn = '[CREATEDDATE] DESC,[INST_CLS_VALUE], [DATA_SOURCE], [PRD_TYPE], [PRD_CODE], [TRX_CODE]'      
 End      
     
 SET @Query =  
  '  
  SELECT * FROM (  
  SELECT ROW_NUMBER() OVER(ORDER BY ' + @SortColumn + ') AS [ROW], *  
  FROM   
  (  
   SELECT   
     [PKID]      
    ,[INST_CLS_VALUE],
	CASE INST_CLS_VALUE
  WHEN '+ '''O''' + ' THEN ' + '''OFF BALANCE SHEET''' + ' '
  + 'WHEN '+ '''L''' + ' THEN ' + '''LIABILITES''' + ' '
  + 'WHEN '+ '''A''' + ' THEN ' + '''ASSETS''' + ' '
  + 'END AS INST_CLS_VALUE2
    ,[DATA_SOURCE]  
    ,[PRD_CODE]  
    ,[PRD_TYPE]  
    ,[TRANSACTION_DESC]  
    ,[PRD_TYPE_1] AS [PRODUCT_TYPE]  
    ,[TRX_CODE]  
    ,[IFRS_TXN_CLASS]  
    ,CASE WHEN  
     [AMORTIZATION_FLAG] = 1 THEN ''True''  
     ELSE ''False''  
     END AS [AMORTIZATION_FLAG]  
    ,[CCY]  
    ,[AMORT_TYPE]  
    ,[GL_CODE]  
    --,[GL_DESCRIPTION]  
    ,[TXN_COST_MAT_TYPE]  
    ,[TXN_COST_MAT_AMT]  
    ,[ORG_FEE_MAT_TYPE]  
    ,[ORG_FEE_MAT_AMT]  
    ,ISNULL([TENOR_AMORTIZATION],0) AS TENOR_AMORTIZATION  
    ,ISNULL([SL_EXP_LIFE],0) AS SL_EXP_LIFE  
    ,[CREATEDBY]      
    ,[CREATEDDATE]      
    ,[CREATEDHOST]      
    ,[UPDATEDBY]      
    ,[UPDATEDDATE]      
    ,[UPDATEDHOST]
	,[IS_DELETE]
   FROM dbo.IFRS_MASTER_TRANS_PARAM WHERE IS_DELETE = 0'    
  + ') A ) TableConstraint  
  WHERE IS_DELETE = 0 '
  + CASE WHEN @Where IS NOT NULL  
    THEN ' AND ' + @Where  
    ELSE ''  
    END   
  + ' ORDER BY CREATEDDATE DESC';    
  
 --PRINT @Query;  
 EXEC (@Query);  
  
END
GO
