USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TRADEMODULEJOURNALEIR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_TRADEMODULEJOURNALEIR]  
(  
    @DDATE_MAID VARCHAR(50)=''
)  
AS
BEGIN  
  
	SELECT A.DOWNLOAD_DATE,  
		ACCTNO AS ACCOUNT_NUMBER,  
		GLNO AS GL_ACCOUNT,  
		CASE WHEN JOURNALCODE = 'AMORT' THEN JOURNALCODE ELSE JOURNALCODE2 END AS JOURNAL_TYPE, 
		JOURNAL_DESC,
		CCY,  
		DRCR AS DB_CR,  
		REVERSE,
		N_AMOUNT AS AMOUNT
	FROM IFRS_ACCT_JOURNAL_DATA A (NOLOCK)
	LEFT JOIN IFRS_MASTER_ACCOUNT B (NOLOCK) ON B.MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))  
		AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE
		AND A.MASTERID = B.MASTERID  
    WHERE A.MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))  
		AND A.DOWNLOAD_DATE <= CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10), 111)  
	ORDER BY  A.download_date,JOURNAL_TYPE DESC, FLAG_CF DESC, reverse DESC,  
		NOREF ASC;   
     
END;

GO
