USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_INDVECLREPORTD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_INDVECLREPORTD]
(
	@DETAILPKID VARCHAR(50) = ''
)
AS  
BEGIN
	
	DECLARE @CURRDATE DATETIME;  
	
	SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE;  
	
	SELECT DISTINCT RPT_FAC.FACILITY_NUMBER AS "Facility No",  
		RPT_FAC.CURRENCY AS "Currency", 
		RPT_FAC.EAD_AMOUNT AS "EAD Amount",
		RPT_FAC.EAD_AMOUNT_LCY AS "EAD Amount LCY",
		RPT_FAC.ECL_AMOUNT AS "ECL Amount", 
		RPT_FAC.ECL_AMOUNT_LCY AS "ECL Amount LCY", 
		RPT_FAC.ECL_AMOUNT_LCY_PREV AS "ECL Amount LCY Prev Month", 
		RPT_FAC.ADDITIONAL_REVERSAL AS "Additional (Reversal)",
		RPT_FAC.ADDITIONAL_REVERSAL_LCY AS "Additional (Reversal) LCY",
		CASE WHEN RPT_FAC.DCFSTATUS = 'A'
			THEN 'Approved'
			ELSE 'Need Approval'
		END AS "Status"
	FROM IFRS_IMP_OVERRIDE IIO
	INNER JOIN
	(
		SELECT RPT.FACILITY_NUMBER AS FACILITY_NUMBER, 
			RPT.DCFSTATUS AS DCFSTATUS, 
			RPT.CURRENCY AS CURRENCY, 
			RPT.EAD_AMOUNT AS EAD_AMOUNT,
			RPT.EAD_AMOUNT_LCY AS EAD_AMOUNT_LCY,
			RPT.ECL_AMOUNT AS ECL_AMOUNT, 
			RPT.ECL_AMOUNT_LCY AS ECL_AMOUNT_LCY,
			IMAH.ECL_AMOUNT_LCY_PREV AS ECL_AMOUNT_LCY_PREV,
			RPT.ECL_AMOUNT - IMAH.ECL_AMOUNT_PREV AS ADDITIONAL_REVERSAL,
			RPT.ECL_AMOUNT_LCY - IMAH.ECL_AMOUNT_LCY_PREV AS ADDITIONAL_REVERSAL_LCY
		FROM
		(
			-- APPROVED
			SELECT IMA.FACILITY_NUMBER AS FACILITY_NUMBER, 
				'A' AS DCFSTATUS, 
				IMA.CURRENCY AS CURRENCY, 
				SUM(IIIM.SUM_EAD) AS EAD_AMOUNT,
				SUM(IIIM.SUM_EAD * IMER.RATE_AMOUNT) AS EAD_AMOUNT_LCY,
				SUM(IIIM.SUM_IIP) AS ECL_AMOUNT, 
				SUM(IIIM.SUM_IIP * IMER.RATE_AMOUNT) AS ECL_AMOUNT_LCY
			FROM (SELECT DISTINCT DOWNLOAD_DATE, FACILITY_NUMBER, IMPAIRED_FLAG, CURRENCY FROM IFRS_MASTER_ACCOUNT WHERE DOWNLOAD_DATE = @CURRDATE) IMA
				INNER JOIN 
				(
					SELECT IIIM.FACILITY_NUMBER, MAX(IIIM.DOWNLOAD_DATE) AS APP_DATE
					FROM IFRS_IMP_IA_MASTER IIIM
					GROUP BY FACILITY_NUMBER
				) IA_App ON IMA.FACILITY_NUMBER = IA_App.FACILITY_NUMBER
				INNER JOIN 
				(
				SELECT IIIM.FACILITY_NUMBER, IIIM.DOWNLOAD_DATE, IIOH.CURRENCY, SUM(IIOH.EAD_AMOUNT) AS SUM_EAD, SUM(SUM_IIP) AS SUM_IIP
					    FROM 
						(SELECT DCFID,FACILITY_NUMBER, DOWNLOAD_DATE, SUM(IIP_AMOUNT) AS SUM_IIP
						FROM IFRS_IMP_IA_MASTER 
						GROUP BY DCFID, FACILITY_NUMBER, DOWNLOAD_DATE)	IIIM 
						INNER JOIN IFRS_IMP_OVERRIDE IIOH ON IIIM.DCFID = IIOH.DCFID
							AND DCFSTATUS = 'A'
					GROUP BY IIIM.FACILITY_NUMBER,
						IIIM.DOWNLOAD_DATE,
						IIOH.CURRENCY
				) IIIM ON IIIM.DOWNLOAD_DATE = IA_App.APP_DATE
					AND IIIM.FACILITY_NUMBER= IMA.FACILITY_NUMBER
					AND IIIM.CURRENCY = IMA.CURRENCY
				INNER JOIN IFRS_MASTER_EXCHANGE_RATE IMER ON IMER.CURRENCY = IMA.CURRENCY
					AND IMER.DOWNLOAD_DATE = IA_App.APP_DATE
			WHERE IMA.DOWNLOAD_DATE = @CURRDATE
				AND IMA.IMPAIRED_FLAG = 'I'
				AND IMA.FACILITY_NUMBER NOT IN (SELECT FACILITY_NUMBER FROM IFRS_IMP_OVERRIDE_PENDING WHERE DCFSTATUS = 'P')
			GROUP BY IMA.FACILITY_NUMBER,
				IMA.CURRENCY
			UNION
			-- APPROVED HISTORY
			SELECT IMA.FACILITY_NUMBER AS FACILITY_NUMBER, 
				'A' AS DCFSTATUS, 
				IMA.CURRENCY AS CURRENCY, 
				SUM(IIIM.SUM_EAD) AS EAD_AMOUNT,
				SUM(IIIM.SUM_EAD * IMER.RATE_AMOUNT) AS EAD_AMOUNT_LCY,
				SUM(IIIM.SUM_IIP) AS ECL_AMOUNT, 
				SUM(IIIM.SUM_IIP * IMER.RATE_AMOUNT) AS ECL_AMOUNT_LCY
			FROM (SELECT DISTINCT DOWNLOAD_DATE, FACILITY_NUMBER, IMPAIRED_FLAG, CURRENCY FROM IFRS_MASTER_ACCOUNT WHERE DOWNLOAD_DATE = @CURRDATE) IMA
				INNER JOIN 
				(
					SELECT IIIM.FACILITY_NUMBER, MAX(IIIM.DOWNLOAD_DATE) AS APP_DATE
					FROM IFRS_IMP_IA_MASTER_HIST IIIM
					GROUP BY FACILITY_NUMBER
				) IA_App ON IMA.FACILITY_NUMBER = IA_App.FACILITY_NUMBER
				INNER JOIN 
				(
					SELECT IIIM.FACILITY_NUMBER, IIIM.DOWNLOAD_DATE, IIOH.CURRENCY, SUM(IIOH.EAD_AMOUNT) AS SUM_EAD, SUM(SUM_IIP) AS SUM_IIP
						FROM (SELECT DCFID,FACILITY_NUMBER, DOWNLOAD_DATE, SUM(IIP_AMOUNT) AS SUM_IIP
								FROM IFRS_IMP_IA_MASTER_HIST 
								GROUP BY DCFID, FACILITY_NUMBER, DOWNLOAD_DATE)IIIM 
						INNER JOIN
							(
								SELECT IIIMH.FACILITY_NUMBER, MAX(IIIMH.DOWNLOAD_DATE) AS APP_DATE
								FROM IFRS_IMP_IA_MASTER_HIST IIIMH
								GROUP BY FACILITY_NUMBER
							) A ON IIIM.FACILITY_NUMBER = A.FACILITY_NUMBER
						INNER JOIN IFRS_IMP_OVERRIDE_HISTORY IIOH ON IIIM.DCFID = IIOH.DCFID
							AND DCFSTATUS = 'A'
							AND CAST(IIOH.CHECKEDDATE AS DATE) = A.APP_DATE
						GROUP BY IIIM.FACILITY_NUMBER,
								IIIM.DOWNLOAD_DATE,
								IIOH.CURRENCY
				) IIIM ON IIIM.DOWNLOAD_DATE = IA_App.APP_DATE
					AND IIIM.FACILITY_NUMBER= IMA.FACILITY_NUMBER
					AND IIIM.CURRENCY = IMA.CURRENCY
				INNER JOIN IFRS_MASTER_EXCHANGE_RATE IMER ON IMER.CURRENCY = IMA.CURRENCY
					AND IMER.DOWNLOAD_DATE = IA_App.APP_DATE
			WHERE IMA.DOWNLOAD_DATE = @CURRDATE
				AND IMA.IMPAIRED_FLAG = 'I'
				AND IMA.FACILITY_NUMBER NOT IN (SELECT FACILITY_NUMBER FROM IFRS_IMP_OVERRIDE_PENDING WHERE DCFSTATUS = 'P')
				AND IMA.FACILITY_NUMBER NOT IN (SELECT FACILITY_NUMBER FROM IFRS_IMP_IA_MASTER)
			GROUP BY IMA.FACILITY_NUMBER,
				IMA.CURRENCY
			UNION
			-- NEED APPROVAL
			SELECT IIOP.FACILITY_NUMBER, 
				IIOP.DCFSTATUS, 
				IIOP.CURRENCY, 
				IIOP.EAD_AMOUNT, 
				IIOP.EAD_AMOUNT * IMER.RATE_AMOUNT AS EAD_AMOUNT_LCY,
				(IIOP.EAD_AMOUNT - TPP.SUM_NPV) AS ECL_AMOUNT, 
				(IIOP.EAD_AMOUNT - TPP.SUM_NPV) * IMER.RATE_AMOUNT AS ECL_AMOUNT_LCY
			FROM IFRS_IMP_OVERRIDE_PENDING IIOP
				INNER JOIN (
					SELECT A.DCFID, A.UPLOADID, A.DCFSTATUS, A.FACILITY_NUMBER, A.CURRENCY, SUM(A.NPV) AS SUM_NPV FROM TBLT_PAYMENTEXPECTED_PENDING A
					INNER JOIN (
						SELECT DCFID, 
							DCFSTATUS, 
							MAX(UPLOADID) AS MAX_UPLOADID 
						FROM TBLT_PAYMENTEXPECTED_PENDING 
						WHERE DCFSTATUS = 'P'
						GROUP BY DCFID, DCFSTATUS
					) B ON A.DCFID = B.DCFID
						AND A.UPLOADID = B.MAX_UPLOADID
						AND A.DCFSTATUS = B.DCFSTATUS
					GROUP BY  A.DCFID, A.UPLOADID, A.DCFSTATUS,  A.CURRENCY, A.FACILITY_NUMBER
				) TPP ON IIOP.FACILITY_NUMBER = TPP.FACILITY_NUMBER
					AND IIOP.DCFID = TPP.DCFID
					AND IIOP.DCFSTATUS = TPP.DCFSTATUS
					AND IIOP.CURRENCY = TPP.CURRENCY
				INNER JOIN IFRS_MASTER_EXCHANGE_RATE IMER ON IMER.CURRENCY = IIOP.CURRENCY
					AND IMER.DOWNLOAD_DATE = IIOP.DOWNLOAD_DATE
		) RPT
		LEFT JOIN 
		(
			SELECT FACILITY_NUMBER, CURRENCY, SUM(ECL_AMOUNT * EXCHANGE_RATE) AS ECL_AMOUNT_LCY_PREV, SUM(ECL_AMOUNT) AS ECL_AMOUNT_PREV
			FROM IFRS_MASTER_ACCOUNT_MONTHLY 
			WHERE IMPAIRED_FLAG = 'I'
				AND ACCOUNT_STATUS = 'A'
				AND DOWNLOAD_DATE = EOMONTH(DATEADD(MONTH, -2, DATEADD(DAY, 1, EOMONTH(@CURRDATE))))
			GROUP BY FACILITY_NUMBER,
				CURRENCY
		) IMAH ON IMAH.FACILITY_NUMBER = RPT.FACILITY_NUMBER
			AND IMAH.CURRENCY = RPT.CURRENCY
	) RPT_FAC ON IIO.FACILITY_NUMBER = RPT_FAC.FACILITY_NUMBER
	WHERE CUSTOMER_NUMBER = @DETAILPKID;


	-- Remarks by JU 1-Feb-2018
	--SELECT "Reporting Date",
	--	"Customer Number",
	--	"Facility Number",
	--	"BI Collectability",
	--	XX."Currency",
	--	SUM("EAD Amount") AS "EAD Amount",
	--	SUM("EAD Amount LCY") AS "EAD Amount LCY",
	--	SUM("EAD Amount") - SUM(NPV) AS "ECL Amount",
	--	SUM("EAD Amount" * "Exchange Rate" ) - SUM(NPV * "Exchange Rate") AS "ECL Amount LCY",
	--	SUM("ECL Amount LCY Previous Month") AS "ECL Amount LCY Previous Month",
	--	(SUM("EAD Amount" * "Exchange Rate" ) - SUM(NPV * "Exchange Rate"))  - 	SUM("ECL Amount LCY Previous Month") AS "Additional (Reversal)",
	--	CASE WHEN "Status" = 'A'
	--			THEN 'Approved'
	--			ELSE 'Need Approval'
	--		END "Status"		
	--FROM
	--(
	--	SELECT "Reporting Date",
	--		"Customer Number",
	--		"Facility Number",
	--		"BI Collectability",
	--		"Currency",
	--		MAX("Exchange Rate") AS "Exchange Rate",
	--		SUM("EAD Amount") "EAD Amount",
	--		SUM("EAD Amount LCY") "EAD Amount LCY",
	--		SUM("ECL Amount LCY Previous Month") "ECL Amount LCY Previous Month",
	--		"Status"
	--	FROM
	--	(
	--		SELECT IMA.DOWNLOAD_DATE as "Reporting Date",
	--			IMA.CUSTOMER_NUMBER as "Customer Number",
	--			IMA.FACILITY_NUMBER as "Facility Number",
	--			IMA.BI_COLLECTABILITY as "BI Collectability",
	--			IMA.CURRENCY as "Currency",
	--			IMA.EXCHANGE_RATE as "Exchange Rate",
	--			ISNULL(IMA.EAD_AMOUNT,0) AS "EAD Amount" ,
	--			ISNULL(IMA.EAD_AMOUNT,0) * IMA.EXCHANGE_RATE AS "EAD Amount LCY",			
	--			ISNULL(IMAH.ECL_AMOUNT,0)  * ISNULL(IMAH.EXCHANGE_RATE,0) AS "ECL Amount LCY Previous Month",
	--			COALESCE(IIO.DCFSTATUS, 'A') AS "Status"
	--		FROM IFRS_MASTER_ACCOUNT IMA
	--			LEFT JOIN IFRS_IMP_IA_MASTER IIIM ON IMA.MASTER_ACCOUNT_ID = IIIM.MASTER_ACCOUNT_ID
	--				AND IMA.DOWNLOAD_DATE = IIIM.DOWNLOAD_DATE
	--			LEFT JOIN IFRS_IMP_IA_MASTER_HIST IIIMH ON IMA.MASTER_ACCOUNT_ID = IIIMH.MASTER_ACCOUNT_ID
	--				AND IMA.DOWNLOAD_DATE = IIIMH.DOWNLOAD_DATE
	--			LEFT JOIN IFRS_IMP_OVERRIDE IIO ON IMA.FACILITY_NUMBER = IIO.FACILITY_NUMBER
	--				AND IMA.CURRENCY = IIO.CURRENCY
	--				AND IMA.DOWNLOAD_DATE = IIO.DOWNLOAD_DATE
	--			LEFT JOIN 
	--			(
	--				SELECT * FROM IFRS_MASTER_ACCOUNT_MONTHLY 
	--				WHERE IMPAIRED_FLAG = 'I'
	--					AND ACCOUNT_STATUS = 'A'
	--					AND DOWNLOAD_DATE = EOMONTH(DATEADD(MONTH, -2, DATEADD(DAY, 1, EOMONTH(@CURRDATE))))
	--			) IMAH ON IMAH.MASTER_ACCOUNT_ID = IMA.MASTER_ACCOUNT_ID
	--		WHERE IMA.DOWNLOAD_DATE = @CURRDATE
	--			AND IMA.IMPAIRED_FLAG = 'I'
	--			AND IMA.ACCOUNT_STATUS = 'A'
	--			AND IMA.EAD_AMOUNT > 0
	--			AND IMA.FACILITY_NUMBER IS NOT NULL
	--			AND IMA.CUSTOMER_NUMBER = @DETAILPKID
	--	) X 	
	--	GROUP BY "Reporting Date",
	--		"Customer Number",
	--		"Facility Number",
	--		"BI Collectability",
	--		"Currency",
	--		"Status"
	--) XX
	--LEFT JOIN 
	--(
	--	SELECT SUM(YY.NPV) NPV, YY.FACILITY_NUMBER, YY.CURRENCY
	--	FROM TBLT_PAYMENTEXPECTED_PENDING YY
	--	INNER JOIN 
	--	(
	--		SELECT  FACILITY_NUMBER, CURRENCY, MAX(UPLOADID) AS UPLOADID FROM TBLT_PAYMENTEXPECTED_PENDING
	--		GROUP BY FACILITY_NUMBER, CURRENCY
	--	) ZZ ON YY.FACILITY_NUMBER = ZZ.FACILITY_NUMBER
	--		AND YY.CURRENCY = ZZ.CURRENCY
	--		AND YY.UPLOADID = ZZ.UPLOADID
	--	GROUP BY YY.FACILITY_NUMBER, YY.CURRENCY					
	--) B ON XX."Facility Number" = B.FACILITY_NUMBER
	--	AND XX."Currency" = B.CURRENCY
	--	WHERE "Status" IN ('A','P')
	--GROUP BY "Reporting Date",
	--	"Customer Number",
	--	"Facility Number",
	--	"BI Collectability",
	--	XX."Currency",
	--	"Status"

	-- Remarks by JU 23-Jan-2018
	--SELECT IMA.DOWNLOAD_DATE as "Reporting Date",
	--	IMA.CUSTOMER_NUMBER as "Customer Number",
	--	IMA.FACILITY_NUMBER as "Facility Number",
	--	IMA.BI_COLLECTABILITY as "BI Collectability",
	--	IMA.CURRENCY as "Currency",
	--	SUM(ISNULL(IMA.EAD_AMOUNT,0)) AS "EAD Amount" ,
	--	SUM(ISNULL(IMA.EAD_AMOUNT,0) * EXCHANGE_RATE) AS "EAD Amount LCY",
	--	SUM((CASE WHEN IMA.DOWNLOAD_DATE = EOMONTH( @CURRDATE ) 
	--		THEN IMA.ECL_AMOUNT
	--		ELSE ISNULL(IIIM.IIP_AMOUNT,IMA.ECL_AMOUNT)
	--	END) ) AS "ECL Amount",
	--	SUM((CASE WHEN IMA.DOWNLOAD_DATE = EOMONTH( @CURRDATE ) 
	--		THEN IMA.ECL_AMOUNT
	--		ELSE ISNULL(IIIM.IIP_AMOUNT,IMA.ECL_AMOUNT)
	--	END) * EXCHANGE_RATE) AS "ECL Amount LCY"
	--FROM IFRS_MASTER_ACCOUNT IMA
	--	LEFT JOIN IFRS_IMP_IA_MASTER IIIM ON IMA.MASTER_ACCOUNT_ID = IIIM.MASTER_ACCOUNT_ID
	--		AND IMA.DOWNLOAD_DATE = IIIM.DOWNLOAD_DATE
	--WHERE IMA.DOWNLOAD_DATE = @CURRDATE
	--	AND IMPAIRED_FLAG = 'I'
	--	AND ACCOUNT_STATUS = 'A'
	--	AND EAD_AMOUNT > 0
	--	AND IMA.CUSTOMER_NUMBER = @DETAILPKID
	--GROUP BY 
	--	IIIM.DCFID,
	--	IMA.DOWNLOAD_DATE,
	--	IMA.CUSTOMER_NUMBER,
	--	IMA.CURRENCY,
	--	IMA.FACILITY_NUMBER,
	--	IMA.BI_COLLECTABILITY;

END;

GO
