USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKMESTATUS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CHECKMESTATUS]
(
    @PKID int=0
)
AS
BEGIN
	declare @count int;
	select @count = count(pkid) from IFRS_MACRO_ECONOMIC_MODEL
	where PKID = @PKID
	if @count > 0 
		SELECT	STATUS 
		FROM	IFRS_MACRO_ECONOMIC_MODEL
		WHERE	PKID = @PKID		
	ELSE
		SELECT	STATUS 
		FROM	TMP_IFRS_MACRO_ECONOMIC_MODEL
		WHERE	PKID = @PKID		
END;

GO
