USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspU_InvalidPasswordCounter]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspU_InvalidPasswordCounter] (@PKID varchar(36))    
AS    
    
DECLARE @PasswordAttemptCounter int, @MaxPasswordCounter int    
    
UPDATE tblM_User    
	SET PasswordAttemptCounter = ISNULL(PasswordAttemptCounter, 0) + 1    
WHERE PKID = @PKID
	AND USERNAME != 'SYS_ADM'   
    
SELECT @PasswordAttemptCounter = ISNULL(PasswordAttemptCounter,0) FROM tblM_User WHERE PKID = @PKID    
SELECT @MaxPasswordCounter = ISNULL(CommonUsage, 0) FROM tblM_CommonCodeHeader WHERE CommonCode = 'AP011'    
  
IF (@PasswordAttemptCounter >= @MaxPasswordCounter)    
BEGIN    
	UPDATE tblM_User SET IsUserLocked = 'TRUE' WHERE PKID=@PKID    
END

GO
