USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BUCKETGENERATENEWPKID]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_BUCKETGENERATENEWPKID]
AS
BEGIN

	SELECT ISNULL(IDENT_CURRENT('IFRS_IMPC_BUCKET_PARAM') + IDENT_INCR('IFRS_IMPC_BUCKET_PARAM'), 1) - 1;

END;

GO
