USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMMACROECONOMIC]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_PARAMMACROECONOMIC]
(
   @PKID FLOAT = 0
)
AS
BEGIN

	-- Delete from detail first
	DELETE IFRS_Macro_Economic
	WHERE ME_CODE = (SELECT ME_CODE FROM TBLM_MACRO_ECONOMIC WHERE PKID = @PKID);

	-- proc untuk delete 1 row dari table ?
	DELETE tblM_Macro_Economic
	WHERE PKID = @PKID;

END;

GO
