USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LIFETIME_MODEL_ECL_TOP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LIFETIME_MODEL_ECL_TOP]                
(                
    @PKID bigint                
)                
AS                
BEGIN            
            
    SELECT PKID,            
   LIFETIME_RULE_NAME,            
   SEGMENTATION_ID,            
   CALC_METHOD,            
   EXP_LIFE,            
   HISTORICAL_DATA,            
   CUT_OFF_DATE,            
   ACTIVE_FLAG,           
   INCREMENT_PERIOD,           
   BUCKET_GROUP,    
   DEFAULT_RULE_ID    
    FROM IFRS_LIFETIME_RULES_CONFIG              
    WHERE PKID = @PKID;                
                
END; 
GO
