USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPECLBREAKPRODUCTTYPE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPECLBREAKPRODUCTTYPE]
AS  
BEGIN

	SELECT DISTINCT PRD_TYPE "PRODUCT_TYPE",
		PRD_TYPE "Product Type"
	FROM IFRS_MASTER_PRODUCT_PARAMETER
	WHERE CUSTOMER_TYPE = 'RETAIL';

END;

GO
