USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_FEECOSTPRORATEMONITORING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_FEECOSTPRORATEMONITORING]
(
	@PeriodFrom DATE = '1-Jan-2000',
	@PeriodTo DATE = '1-Jan-2000',
	@TransactionLevel VARCHAR(50) = ''
)
AS
BEGIN


	IF @TransactionLevel = 'LVL001'
	BEGIN
		-- Facility
		SELECT CAST(TRX_EFFDATE AS VARCHAR(50)) + '~' + CAST(ITF.PKID AS VARCHAR(50)) + '~' + @TransactionLevel AS DD_ID_LEVEL,
			TRX_EFFDATE AS "Download Date",
			TRX_FACILITY_NO AS "Parent Facility Number",
			FACILITY_EXPIRED_DATE AS "Facility Expired Date",
			TRX_CCY AS "Currency",
			FACILITY_PLAFOND AS "Plafond",
			TRX_AMOUNT AS "Transaction Cost Amount",
			TRANSACTION_DESC AS "Transaction Cost Type",
			REMAINING AS "Remaining",
			CASE WHEN (IMTP.IFRS_TXN_CLASS='FEE' and TRX_DR_CR='D') or (IMTP.IFRS_TXN_CLASS='COST' and TRX_DR_CR='C') THEN 
				CASE WHEN REVID is null THEN 'Reversal - Not Found'
				ELSE 'Reversal - Processed'
				END
			WHEN [STATUS] ='P' THEN 'Processed'
			ELSE 'Not Processed'
			END
			AS "Status"
		FROM IFRS_TRX_FACILITY ITF
			JOIN IFRS_MASTER_TRANS_PARAM IMTP ON ITF.TRX_CODE = IMTP.TRX_CODE
				AND (ITF.TRX_CCY = IMTP.CCY OR IMTP.CCY = 'ALL')
		WHERE TRX_EFFDATE BETWEEN @PeriodFrom AND @PeriodTo;
	END
	ELSE IF @TransactionLevel = 'LVL002'
	BEGIN
		-- EmployerID
		SELECT CAST(TRX_EFFDATE AS VARCHAR(50)) + '~' + CAST(ITE.PKID AS VARCHAR(50)) + '~' + @TransactionLevel AS DD_ID_LEVEL,
			TRX_EFFDATE AS "Download Date",
			TRX_EMPLOYER_ID AS "Employer ID",
			TRX_PERIOD AS "Transaction Cost Period",
			TRX_CCY AS "Currency",
			TRX_AMOUNT AS "Transaction Cost Amount",
			TRANSACTION_DESC AS "Transaction Cost Type",
			CASE WHEN (IMTP.IFRS_TXN_CLASS='FEE' and TRX_DR_CR='D') or (IMTP.IFRS_TXN_CLASS='COST' and TRX_DR_CR='C') THEN 
				CASE WHEN REVID is null THEN 'Reversal - Not Found'
				ELSE 'Reversal - Processed'
				END
			WHEN [STATUS] ='P' THEN 'Processed'
			ELSE 'Not Processed'
			END
			AS "Status"
		FROM IFRS_TRX_EMPLOYERID ITE
			JOIN IFRS_MASTER_TRANS_PARAM IMTP ON ITE.TRX_CODE = IMTP.TRX_CODE
				AND (ITE.TRX_CCY = IMTP.CCY OR IMTP.CCY = 'ALL')
		WHERE TRX_EFFDATE BETWEEN @PeriodFrom AND @PeriodTo;
	END
	ELSE IF @TransactionLevel = 'LVL003'
	BEGIN
		-- Product Type
		SELECT CAST(TRX_EFFDATE AS VARCHAR(50)) + '~' + CAST(ITPT.PKID AS VARCHAR(50)) + '~' + @TransactionLevel AS DD_ID_LEVEL,
			TRX_EFFDATE AS "Download Date",
			TRX_PRD_TYPE AS "Product Type",
			TRX_PERIOD AS "Transaction Cost Period",
			TRX_CCY AS "Currency",
			TRX_AMOUNT AS "Transaction Cost Amount",
			TRANSACTION_DESC AS "Transaction Cost Type",
			CASE WHEN (IMTP.IFRS_TXN_CLASS='FEE' and TRX_DR_CR='D') or (IMTP.IFRS_TXN_CLASS='COST' and TRX_DR_CR='C') THEN 
				CASE WHEN REVID is null THEN 'Reversal - Not Found'
				ELSE 'Reversal - Processed'
				END
			WHEN [STATUS] ='P' THEN 'Processed'
			ELSE 'Not Processed'
			END
			AS "Status"
		FROM IFRS_TRX_PRODUCT_TYPE ITPT
			JOIN IFRS_MASTER_TRANS_PARAM IMTP ON ITPT.TRX_CODE = IMTP.TRX_CODE
				AND (ITPT.TRX_CCY = IMTP.CCY OR IMTP.CCY = 'ALL')
		WHERE TRX_EFFDATE BETWEEN @PeriodFrom AND @PeriodTo;
	END

END;

GO
