USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BI_SEGMENTEXPOSURE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_BI_SEGMENTEXPOSURE]                  
AS
BEGIN

	SELECT                         
		PKID,
		SEGMENT_EXPOSURE_DESC,
		PRODUCT_CODE
	FROM IFRS_SEGMENT_EXPOSURE
	WHERE IS_DELETE = 0
	ORDER BY SEGMENT_EXPOSURE_DESC

END

GO
