USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETDATASOURCE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_GETDATASOURCE]

AS
BEGIN

select distinct DATA_SOURCE FROM IFRS_MASTER_PRODUCT_PARAMETER 

END;

GO
