USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_APPROVAL_HEADER]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_ECL_APPROVAL_HEADER]
	@PKID bigint
AS
	SELECT
		ECL_MODEL_NAME
		,[ACTION] AS PROCESS_STATUS
		,(SELECT USERNAME from TBLM_USER s where s.PKID = m.CREATEDBY ) REQUEST_USER
		,CREATEDDATE
	FROM IFRS_ECL_MODEL_HEADER_PENDING m 
	WHERE m.PKID = @PKID

GO
