USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCREENGROUPHBYSCREENGRPID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCREENGROUPHBYSCREENGRPID]      
	@SCREENGROUPID varchar(50)
AS
BEGIN
	
	SELECT *       
	FROM tblM_ScreenGroupHeader        
	WHERE SCREENGROUPID =  @SCREENGROUPID

END

GO
