USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_ACCT_SL_LAST_ACF]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[SP_IFRS_LI_ACCT_SL_LAST_ACF]  
AS  
DECLARE @V_CURRDATE DATE  
 ,@V_PREVDATE DATE  
  
BEGIN  
 SELECT @V_CURRDATE = MAX(CURRDATE)  
 FROM IFRS_LI_PRC_DATE_AMORT  
  
 SELECT @V_PREVDATE = MAX(PREVDATE)  
 FROM IFRS_LI_PRC_DATE_AMORT  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'START'  
  ,'SP_IFRS_LI_ACCT_SL_LAST_ACF'  
  ,''  
  )  
  
 -- DO THIS AFTER ACCRUAL PROCESS TO FULLY AMORTIZATION OF SPECIFIC ACCOUNT  
 -- CLOSED ACCOUNTS SUBJECT TO THIS CONDITION  
 -- GET CLOSED MASTERID WITH ACTIVE ECF  
 TRUNCATE TABLE TMP_LI_T1  
  
 INSERT INTO TMP_LI_T1 (MASTERID)  
 SELECT DISTINCT A.MASTERID  
 FROM IFRS_LI_ACCT_CLOSED A  
 JOIN IFRS_LI_ACCT_SL_ACF B ON B.DOWNLOAD_DATE = @V_PREVDATE  
  AND B.MASTERID = A.MASTERID  
 JOIN IFRS_LI_ACCT_SL_ECF C ON C.AMORTSTOPDATE IS NULL  
  AND C.MASTERID = A.MASTERID  
  AND C.PREVDATE = C.PMTDATE  
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE  
  
 -- GET MAX ID OF ACF  
 TRUNCATE TABLE TMP_LI_P1  
  
 INSERT INTO TMP_LI_P1(ID)  
 SELECT MAX(ID) ID  
 FROM IFRS_LI_ACCT_SL_ACF  
 WHERE DOWNLOAD_DATE = @V_PREVDATE  
  AND MASTERID IN (  
   SELECT MASTERID  
   FROM TMP_LI_T1  
   )  
 GROUP BY MASTERID  
  
 --AMORT ACRUED  
 UPDATE IFRS_LI_ACCT_SL_ACCRU_PREV  
 SET STATUS = CONVERT(VARCHAR(8), @V_CURRDATE, 112)  
  ,CREATEDBY = 'SL_LAST_ACF'  
 WHERE STATUS = 'ACT'  
  AND MASTERID IN (  
   SELECT MASTERID  
   FROM TMP_LI_T1  
   )  
  
 -- INSERT LAST ACF FOR FULL AMORT  
 INSERT INTO IFRS_LI_ACCT_SL_ACF (  
  DOWNLOAD_DATE  
  ,FACNO  
  ,CIFNO  
  ,ACCTNO  
  ,DATASOURCE  
  ,ECFDATE  
  ,MASTERID  
  ,BRANCH  
  ,N_UNAMORT_FEE  
  ,N_AMORT_FEE  
  ,N_ACCRU_FEE  
  ,N_ACCRUFULL_FEE  
  ,N_UNAMORT_COST  
  ,N_AMORT_COST  
  ,N_ACCRU_COST  
  ,N_ACCRUFULL_COST  
  ,N_ACCRU_PREV_FEE  
  ,N_ACCRU_PREV_COST  
  ,DO_AMORT  
  ,CREATEDDATE  
  ,CREATEDBY  
  ,ACF_CODE 
  ,FLAG_AL 
  )  
 SELECT @V_CURRDATE  
  ,FACNO  
  ,CIFNO  
  ,ACCTNO  
  ,DATASOURCE  
  ,ECFDATE  
  ,MASTERID  
  ,BRANCH  
  ,0  
  ,N_AMORT_FEE + N_UNAMORT_FEE  
  ,CASE   
   WHEN DO_AMORT = 'Y'  
    THEN N_AMORT_FEE - N_UNAMORT_FEE  
   ELSE - N_UNAMORT_FEE + N_ACCRU_FEE  
   END  
  ,CASE   
   WHEN DO_AMORT = 'Y'  
    THEN N_AMORT_FEE - N_UNAMORT_FEE  
   ELSE - N_UNAMORT_FEE + N_ACCRU_FEE  
   END  
  ,0 AS N_UNAMORT_COST2  
  ,N_AMORT_COST + N_UNAMORT_COST  
  ,CASE   
   WHEN DO_AMORT = 'Y'  
    THEN N_AMORT_COST - N_UNAMORT_COST  
   ELSE - N_UNAMORT_COST + N_ACCRU_COST  
   END  
  ,CASE   
   WHEN DO_AMORT = 'Y'  
    THEN N_AMORT_COST - N_UNAMORT_COST  
   ELSE - N_UNAMORT_COST + N_ACCRU_COST  
   END  
  ,0  
  ,0  
  ,'Y' AS DO_AMORT2  
  ,CURRENT_TIMESTAMP CREATEDDATE2  
  ,'SP_SL_LAST_ACF' CREATEDBY2  
  ,'9'  
  ,FLAG_AL
 FROM IFRS_LI_ACCT_SL_ACF  
 WHERE DOWNLOAD_DATE = @V_PREVDATE  
  AND ID IN (  
   SELECT ID  
   FROM TMP_LI_P1  
   )  
  
 -- STOP SL ECF  
 UPDATE IFRS_LI_ACCT_SL_ECF  
 SET AMORTSTOPDATE = @V_CURRDATE  
  ,AMORTSTOPREASON = 'CLOSED'  
 WHERE MASTERID IN (  
   SELECT MASTERID  
   FROM TMP_LI_T1  
   )  
  AND AMORTSTOPDATE IS NULL  
  
 -- FULLY AMORT ABNORMAL FEE ON ACF  
 TRUNCATE TABLE TMP_LI_T2  
  
 INSERT INTO TMP_LI_T2 (MASTERID)  
 SELECT MASTERID  
 FROM IFRS_LI_ACCT_SL_ACF  
 WHERE CASE   
   WHEN (  
     N_UNAMORT_FEE > 0  
     OR N_UNAMORT_COST < 0  
     )  
    AND COALESCE(FLAG_AL, 'A') = 'A'  
    THEN 1  
   WHEN (  
     N_UNAMORT_FEE < 0  
     OR N_UNAMORT_COST > 0  
     )  
    AND COALESCE(FLAG_AL, 'A') <> 'A'  
    THEN 1  
   ELSE 0  
   END = 1  
  AND ACF_CODE = '2'  
  AND DOWNLOAD_DATE = @V_CURRDATE  
  
 UPDATE IFRS_LI_ACCT_SL_ACF  
 SET N_UNAMORT_FEE = 0  
  ,N_AMORT_FEE = N_AMORT_FEE + N_UNAMORT_FEE  
  ,N_ACCRU_FEE = CASE   
   WHEN DO_AMORT = 'Y'  
    THEN N_AMORT_FEE - N_UNAMORT_FEE  
   ELSE - N_UNAMORT_FEE + N_ACCRU_FEE  
   END  
  ,N_ACCRUFULL_FEE = CASE   
   WHEN DO_AMORT = 'Y'  
    THEN N_AMORT_FEE - N_UNAMORT_FEE  
   ELSE - N_UNAMORT_FEE + N_ACCRU_FEE  
   END  
  ,N_UNAMORT_COST = 0  
  ,N_AMORT_COST = N_AMORT_COST + N_UNAMORT_COST  
  ,N_ACCRU_COST = CASE   
   WHEN DO_AMORT = 'Y'  
    THEN N_AMORT_COST - N_UNAMORT_COST  
   ELSE - N_UNAMORT_COST + N_ACCRU_COST  
   END  
  ,N_ACCRUFULL_COST = CASE   
   WHEN DO_AMORT = 'Y'  
    THEN N_AMORT_COST - N_UNAMORT_COST  
   ELSE - N_UNAMORT_COST + N_ACCRU_COST  
   END  
  ,N_ACCRU_PREV_FEE = 0  
  ,N_ACCRU_PREV_COST = 0  
  ,DO_AMORT = 'Y'  
  ,CREATEDDATE = CURRENT_TIMESTAMP  
  ,CREATEDBY = 'SP_SL_LAST_ACF_ABN'  
 WHERE CASE   
   WHEN (  
     N_UNAMORT_FEE > 0  
     OR N_UNAMORT_COST < 0  
     )  
    AND COALESCE(FLAG_AL, 'A') = 'A'  
    THEN 1  
   WHEN (  
     N_UNAMORT_FEE < 0  
     OR N_UNAMORT_COST > 0  
     )  
    AND COALESCE(FLAG_AL, 'A') <> 'A'  
    THEN 1  
   ELSE 0  
   END = 1  
  AND ACF_CODE = '2'  
  AND DOWNLOAD_DATE = @V_CURRDATE  
  
 UPDATE IFRS_LI_ACCT_SL_ECF  
 SET AMORTSTOPDATE = @V_CURRDATE  
  ,AMORTSTOPREASON = 'ABN'  
 WHERE MASTERID IN (  
   SELECT MASTERID  
   FROM TMP_LI_T2  
   )  
  AND AMORTSTOPDATE IS NULL  
  
 UPDATE IFRS_LI_ACCT_SL_ACCRU_PREV  
 SET STATUS = CONVERT(VARCHAR(8), @V_CURRDATE, 112)  
  ,CREATEDBY = 'SL_LAST_ACF_ABN'  
 WHERE STATUS = 'ACT'  
  AND MASTERID IN (  
   SELECT MASTERID  
   FROM TMP_LI_T2  
   )  
  
 -- STOP SL ECF END TODAY  
 UPDATE IFRS_LI_ACCT_SL_ECF  
 SET AMORTSTOPDATE = @V_CURRDATE  
  ,AMORTSTOPREASON = 'END'  
 WHERE AMORTENDDATE = @V_CURRDATE  
  AND AMORTSTOPDATE IS NULL  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'END'  
  ,'SP_IFRS_LI_ACCT_SL_LAST_ACF'  
  ,''  
  )  
END  

GO
