USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DERIVEDLGDRULENAME]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DERIVEDLGDRULENAME]
(
	@RuleName VARCHAR(100) = ''   
)  
AS
BEGIN

	SELECT * 
	FROM IFRS_LGD_RULES_CONFIG_9 
	WHERE LGD_RULE_NAME != @RuleName    

END;

GO
