USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_JOBHISTDETAIL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_JOBHISTDETAIL]  
(  
	@ReportID int,     
	@Status varchar(50),     
	@PeriodDate datetime    
)  
AS
BEGIN

	SELECT b.* 
	FROM tblT_ProcessTransformDetail a (nolock)  
		left join tblT_JobHistory b on a.JobID = b.JobId  
	where DATEDIFF(DAY, b.PeriodDate, @PeriodDate) = 0   
		and a.ReportID = @ReportID  
		and b.Status = @Status  

END

GO
