USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPEADSEGMENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
        
CREATE PROC [dbo].[USPS_LOOKUPEADSEGMENT]     
        
--AS        
--BEGIN        
        
-- create table #COMBOEAD          
-- (      
--     [PKID] VARCHAR(5),      
--  [EAD SEGMENT] varchar(100)          
-- )      
       
-- INSERT INTO #COMBOEAD       
--    SELECT DISTINCT        
--            PKID,      
--   SUB_SEGMENT       
--        FROM IFRS_MSTR_SEGMENT_RULES_HEADER where SEGMENT_TYPE = 'EAD_SEGMENT'      
      
-- SELECT * FROM #COMBOEAD      
-- DROP TABLE #COMBOEAD      
              
--END;         
                
as                    
          
 declare @query as varchar(MAX)                
 DECLARE @value as varchar(50)          
 DECLARE @text as varchar(50)          
 DECLARE @FILTER as varchar(200)        
           
           
begin                    
 SET @value='EAD_SEGMENT' SET @text='EAD Subsegment'  SET @FILTER='''EAD_SEGMENT'''        
           
               
 BEGIN                
        SET @query =                
            'SELECT CAST(PKID AS VARCHAR(100)) AS "' + @value                
            + '" ,CAST(SUB_SEGMENT AS VARCHAR(100)) AS "' + @text + '"                
            FROM IFRS_MSTR_SEGMENT_RULES_HEADER                    
            WHERE SEGMENT_TYPE ='+ @FILTER+ ' AND IS_DELETE = 0 ORDER BY PKID '                 
    END                
                
 --PRINT @QUERY                
 exec (@query)                
                
 end       
      
-- select *   FROM IFRS_MSTR_SEGMENT_RULES_HEADER   
GO
