USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_BACKTEST_RESULT]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_IMP_BACKTEST_RESULT] @DOWNLOAD_DATE DATE = ''        
AS        
BEGIN         
DECLARE @V_CURRDATE DATE         
DECLARE @V_PREVMONTH DATE            
        
BEGIN            
                
IF @DOWNLOAD_DATE = ''                
BEGIN                
 SELECT         
 @V_CURRDATE = EOMONTH(CURRDATE),        
 @V_PREVMONTH = EOMONTH(DATEADD(M,-1,CURRDATE))         
 FROM IFRS_PRC_DATE                
 END                
 ELSE                 
 BEGIN            
  set @V_CURRDATE = EOMONTH(@DOWNLOAD_DATE )            
  set @V_PREVMONTH = EOMONTH(DATEADD(M,-1,@DOWNLOAD_DATE))              
 END             
END         
        
        
        
IF OBJECT_ID ('tempdb.dbo.#MODEL_BASE') IS NOT NULL DROP TABLE  #MODEL_BASE        
SELECT @V_CURRDATE as DOWNLOAD_DATE,        
B.PERIOD AS PERIOD_DATE,        
B.MODEL_ID AS MODEL_ID,        
D.MODEL_SEQ AS MODEL_SEQ,        
B.RULE_ID AS PD_RULE_ID,        
E.ME_PERIOD,        
SUM(E.ME_VAL*D.ESTIMATED_VALUE) AS LOGIT_FITTED_ODR        
INTO #MODEL_BASE        
FROM IFRS_MACRO_ECONOMIC_MODEL A        
INNER JOIN IFRS_ME_SCALAR_HEADER B ON  A.PKID  = B.MODEL_ID AND A.STATUS = 'M' AND A.IS_DELETE = 0  AND B.IS_DELETE = 0         
INNER JOIN IFRS_ME_SCALAR_DETAIL C ON B.PKID = C.SCALAR_ID AND ADJUSTMENT_VALUE = 0        
INNER JOIN [IFRS_ME_FL_SELECTED] D ON A.PKID = D.MODEL_ID AND D.FL_YEAR = 0 AND C.SCENARIO_NO = D.SCENARIO_NO AND B.PERIOD = D.PERIOD_DATE        
INNER JOIN [IFRS_ME_COMPLETE_DERIVED] E ON A.PKID = E.MODEL_ID AND D.ME_CODE = E.ME_CODE AND C.SCENARIO_NO = E.SCENARIO_NO        
WHERE E.ME_PERIOD  >= A.IN_SAMPLE_START_DATE AND E.ME_PERIOD < EOMONTH(DATEADD(YEAR,-1,@V_CURRDATE))        
GROUP BY         
B.PERIOD         
,B.MODEL_ID         
,D.MODEL_SEQ         
,B.RULE_ID          
,E.ME_PERIOD        
        
        
IF OBJECT_ID ('tempdb.dbo.#INTERCEPT_VAL') IS NOT NULL DROP TABLE  #INTERCEPT_VAL        
SELECT B.PERIOD AS PERIOD_DATE,B.MODEL_ID AS MODEL_ID,D.MODEL_SEQ AS MODEL_SEQ,B.RULE_ID AS PD_RULE_ID,ESTIMATED_VALUE         
INTO #INTERCEPT_VAL        
FROM IFRS_MACRO_ECONOMIC_MODEL A        
INNER JOIN IFRS_ME_SCALAR_HEADER B ON  A.PKID  = B.MODEL_ID AND A.STATUS = 'M' AND A.IS_DELETE = 0  AND B.IS_DELETE = 0         
INNER JOIN IFRS_ME_SCALAR_DETAIL C ON B.PKID = C.SCALAR_ID AND ADJUSTMENT_VALUE = 0        
INNER JOIN [IFRS_ME_FL_SELECTED] D ON A.PKID = D.MODEL_ID AND D.FL_YEAR = 0 AND C.SCENARIO_NO = D.SCENARIO_NO         
AND D.ME_CODE LIKE '%INTERCEPT%' AND B.PERIOD = D.PERIOD_DATE        
        
IF OBJECT_ID ('tempdb.dbo.#FITTED_VALUE') IS NOT NULL DROP TABLE  #FITTED_VALUE        
SELECT DOWNLOAD_DATE,A.MODEL_SEQ,A.MODEL_ID,A.PD_RULE_ID, A.PERIOD_DATE,A.ME_PERIOD, LOGIT_FITTED_ODR+B.ESTIMATED_VALUE AS LOGIT_FITTED_ODR        
INTO #FITTED_VALUE        
FROM #MODEL_BASE A         
INNER JOIN #INTERCEPT_VAL B ON A.MODEL_ID = B.MODEL_ID  AND A.MODEL_SEQ = B.MODEL_SEQ AND A.PERIOD_DATE = B.PERIOD_DATE AND A.PD_RULE_ID = B.PD_RULE_ID        
        
TRUNCATE TABLE IFRS_BACKTEST_ODR_RESULT       
    
    
----------------------------------- ODR FROM TABLE ----------------------------     
INSERT INTO IFRS_BACKTEST_ODR_RESULT (DOWNLOAD_DATE        
,MODEL_ID        
,PD_RULE_ID        
,MODEL_SEQ        
,PERIOD        
,FITTED_PD_LOG        
,ACTUAL_PD_LOG        
,PDLOG_SQRD_ERR        
,FITTED_PD_RATE        
,ACTUAL_PD_RATE        
,PDRATE_SQRD_ERR        
,PDLOG_MAPE        
,PDRATE_MAPE        
,CREATEDBY        
,CREATEDDATE)        
SELECT @V_CURRDATE  AS DOWNLOAD_DATE        
,B.MODEL_ID        
,C.PD_RULE_ID        
,D.MODEL_SEQ        
,D.ME_PERIOD AS PERIOD        
,D.LOGIT_FITTED_ODR AS FITTED_PD_LOG        
--UPDATE LOGIC WHEN ODR_RATE = 1 THEN 1
,CASE WHEN C.ODR_RATE = 0 THEN 0 WHEN C.ODR_RATE = 1 THEN 1 ELSE LOG(C.ODR_RATE/(1-C.ODR_RATE)) END  AS ACTUAL_PD_LOG         
,CASE WHEN C.ODR_RATE = 0 THEN 0 WHEN C.ODR_RATE = 1 THEN 1 ELSE power((LOG(C.ODR_RATE/(1-C.ODR_RATE))) - D.LOGIT_FITTED_ODR,2) END  AS PDLOG_SQRD_ERR          
--UPDATE LOGIC WHEN ODR_RATE = 1 THEN 1
, 1/(1+EXP(D.LOGIT_FITTED_ODR*-1)) AS FITTED_PD_RATE          
,C.ODR_RATE AS ACTUAL_PD_RATE          
,power(C.ODR_RATE - (1/(1+EXP(D.LOGIT_FITTED_ODR*-1))),2) AS PDRATE_SQRD_ERR          
--UPDATE LOGIC WHEN ODR_RATE = 1 THEN 1
,CASE WHEN C.ODR_RATE = 1 THEN 1 WHEN (C.ODR_RATE = 0 OR LOG(C.ODR_RATE/(1-C.ODR_RATE)) = 0)THEN 0 ELSE  abs(((LOG(C.ODR_RATE/(1-C.ODR_RATE))) - D.LOGIT_FITTED_ODR)/(LOG(C.ODR_RATE/(1-C.ODR_RATE)))) END AS PDLOG_MAPE          
--UPDATE LOGIC WHEN ODR_RATE = 1 THEN 1
,CASE WHEN C.ODR_RATE = 0 THEN 0 ELSE abs((C.ODR_RATE - (1/(1+EXP(D.LOGIT_FITTED_ODR*-1))))/C.ODR_RATE) END AS PDRATE_MAPE          
,'SYSTEM' AS CREATEDBY          
,GETDATE() AS CREATEDDATE          
FROM  IFRS_MACRO_ECONOMIC_MODEL A        
INNER JOIN IFRS_ME_SCALAR_HEADER B ON  A.PKID  = B.MODEL_ID AND A.STATUS = 'M' AND A.IS_DELETE = 0  AND B.IS_DELETE = 0  AND B.ACTIVE_FLAG = 1        
INNER JOIN IFRS_IMP_DEFAULT_RATE C ON  B.RULE_ID = C.PD_RULE_ID AND C.DOWNLOAD_DATE < EOMONTH(DATEADD(YEAR,-1,@DOWNLOAD_DATE))        
INNER JOIN #FITTED_VALUE D ON  B.MODEL_ID = D.MODEL_ID AND B.PERIOD = D.PERIOD_DATE AND B.RULE_ID = D.PD_RULE_ID AND C.DOWNLOAD_DATE = D.ME_PERIOD        
/* Penambahan kondisi untuk treasury dari data tidak masuk odr backtest */     
INNER JOIN IFRS_PD_RULES_CONFIG E ON E.PKID = B.RULE_ID    
WHERE E.PD_METHOD <> 'EXT'      
      
---------------------------ODR FROM UPLOAD ---------------------------------------------------------------------------------------------------      
      
   IF OBJECT_ID ('TEMPDB.DBO.#UPLOAD_ODR') IS NOT NULL DROP TABLE #UPLOAD_ODR    
 SELECT A.ME_CODE,B.ME_PERIOD,B.ME_VAL AS ODR_RATE INTO #UPLOAD_ODR    
 FROM TBLM_MACRO_ECONOMIC A     
 INNER JOIN  IFRS_MACRO_ECONOMIC B ON A.PKID = B.HEADERID    
 WHERE ME_TYPE = 'DEPENDENT' AND ME_SOURCE = 'UPLOAD'    
    
    
 INSERT INTO IFRS_BACKTEST_ODR_RESULT (DOWNLOAD_DATE        
,MODEL_ID        
,PD_RULE_ID        
,MODEL_SEQ        
,PERIOD        
,FITTED_PD_LOG        
,ACTUAL_PD_LOG        
,PDLOG_SQRD_ERR        
,FITTED_PD_RATE        
,ACTUAL_PD_RATE        
,PDRATE_SQRD_ERR        
,PDLOG_MAPE        
,PDRATE_MAPE        
,CREATEDBY        
,CREATEDDATE)        
SELECT @V_CURRDATE  AS DOWNLOAD_DATE        
,B.MODEL_ID        
,B.RULE_ID        
,D.MODEL_SEQ        
,D.ME_PERIOD AS PERIOD        
,D.LOGIT_FITTED_ODR AS FITTED_PD_LOG        
--UPDATE LOGIC WHEN ODR_RATE = 1 THEN 1
,CASE WHEN C.ODR_RATE = 0 THEN 0 WHEN C.ODR_RATE = 1 THEN 1 ELSE LOG(C.ODR_RATE/(1-C.ODR_RATE)) END  AS ACTUAL_PD_LOG         
,CASE WHEN C.ODR_RATE = 0 THEN 0 WHEN C.ODR_RATE = 1 THEN 1 ELSE power((LOG(C.ODR_RATE/(1-C.ODR_RATE))) - D.LOGIT_FITTED_ODR,2) END  AS PDLOG_SQRD_ERR          
--UPDATE LOGIC WHEN ODR_RATE = 1 THEN 1
, 1/(1+EXP(D.LOGIT_FITTED_ODR*-1)) AS FITTED_PD_RATE          
,C.ODR_RATE AS ACTUAL_PD_RATE          
,power(C.ODR_RATE - (1/(1+EXP(D.LOGIT_FITTED_ODR*-1))),2) AS PDRATE_SQRD_ERR       
 --UPDATE PDLOG_MAPE CASE WHEN LOG(C.ODR_RATE/(1-C_ODR_RATE)=0 RESTRU COVID PHASE 2 Indra  --UPDATE LOGIC WHEN ODR_RATE = 1 THEN 1
,CASE WHEN C.ODR_RATE = 1 THEN 1 WHEN C.ODR_RATE = 1 THEN 1 WHEN (C.ODR_RATE = 0 OR LOG(C.ODR_RATE/(1-C.ODR_RATE)) = 0)THEN 0 ELSE  abs(((LOG(C.ODR_RATE/(1-C.ODR_RATE))) - D.LOGIT_FITTED_ODR)/(LOG(C.ODR_RATE/(1-C.ODR_RATE)))) END AS PDLOG_MAPE          
,CASE WHEN C.ODR_RATE = 0 THEN 0 ELSE abs((C.ODR_RATE - (1/(1+EXP(D.LOGIT_FITTED_ODR*-1))))/C.ODR_RATE) END AS PDRATE_MAPE          
,'SYSTEM' AS CREATEDBY          
,GETDATE() AS CREATEDDATE          
FROM  IFRS_MACRO_ECONOMIC_MODEL A        
INNER JOIN IFRS_ME_SCALAR_HEADER B ON  A.PKID  = B.MODEL_ID AND A.STATUS = 'M' AND A.IS_DELETE = 0  AND B.IS_DELETE = 0  AND B.ACTIVE_FLAG = 1        
INNER JOIN #UPLOAD_ODR C ON  A.DV_VALUE = C.ME_CODE AND C.ME_PERIOD < EOMONTH(DATEADD(YEAR,-1,@V_CURRDATE))        
INNER JOIN #FITTED_VALUE D ON  B.MODEL_ID = D.MODEL_ID AND B.PERIOD = D.PERIOD_DATE AND B.RULE_ID = D.PD_RULE_ID AND C.ME_PERIOD = D.ME_PERIOD        
    
      
--------------------------------- BACJTEST RESULT HIST -----------------------------------        
DELETE IFRS_BACKTEST_ODR_RESULT_HIST WHERE DOWNLOAD_DATE = @V_CURRDATE        
        
INSERT INTO IFRS_BACKTEST_ODR_RESULT_HIST (DOWNLOAD_DATE        
,MODEL_ID        
,PD_RULE_ID        
,MODEL_SEQ        
,PERIOD        
,FITTED_PD_LOG        
,ACTUAL_PD_LOG        
,PDLOG_SQRD_ERR        
,FITTED_PD_RATE        
,ACTUAL_PD_RATE        
,PDRATE_SQRD_ERR        
,PDLOG_MAPE        
,PDRATE_MAPE        
,CREATEDBY        
,CREATEDDATE)        
SELECT        
DOWNLOAD_DATE        
,MODEL_ID        
,PD_RULE_ID        
,MODEL_SEQ        
,PERIOD        
,FITTED_PD_LOG        
,ACTUAL_PD_LOG        
,PDLOG_SQRD_ERR        
,FITTED_PD_RATE        
,ACTUAL_PD_RATE        
,PDRATE_SQRD_ERR        
,PDLOG_MAPE        
,PDRATE_MAPE        
,CREATEDBY        
,CREATEDDATE        
 FROM IFRS_BACKTEST_ODR_RESULT WHERE DOWNLOAD_DATE = @V_CURRDATE        
        
END     
GO
