USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SERVICEJOBSDETAIL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPI_SERVICEJOBSDETAIL]
(
    @HeaderID BIGINT, 
    @ParameterName VARCHAR(50), 
    @ParameterValue VARCHAR(MAX), 
    @CreatedBy VARCHAR(50) = '', 
    @CreatedHost VARCHAR(20) = '' 
)
AS
BEGIN

    SET NOCOUNT ON;

    INSERT INTO tblT_ServiceJobsDetail 
    ( 
		[HeaderID],  
        [ParameterName],  
        [ParameterValue],  
        [CreatedBy],  
        [CreatedDate],  
        [CreatedHost]  
    )  
    SELECT @HeaderID,  
		@ParameterName,  
		@ParameterValue,  
		@CreatedBy,  
		CURRENT_TIMESTAMP,  
		@CreatedHost;

END;

GO
