USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSEDATATYPE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPSEDATATYPE]  
(  
@TABLE_NAME varchar(30),
@COLUMN_NAME varchar(30)
)  
as      
begin      
   SELECT UPPER(DATA_TYPE) AS DATA_TYPE
   FROM Information_Schema.Columns
   WHERE TABLE_NAME = @TABLE_NAME
	AND COLUMN_NAME = @COLUMN_NAME
end



GO
