USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_ASSETCLASSHEADERPEND]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_ASSETCLASSHEADERPEND]
(
    @ClassName		VARCHAR(100) = '',
    @Class_Level	VARCHAR(20) = '', 
    @Class_ID		VARCHAR(50) = '', 
    @SPPI_Result	VARCHAR(50) = '',
    @BMResult		VARCHAR(50) = '',
    @Effective_Date DATETIME = '1-JAN-2000',
    @AssetClass		VARCHAR(50) = '',
	@AssetClassOri	VARCHAR(50) = '',
    @UpdatedBy		VARCHAR(36) = '',
    @UpdatedHost	VARCHAR(30) = '',
    @PKID			BIGINT = NULL
)
AS
BEGIN

	declare @count int;

	select @count=count(*) from IFRS_ASSET_CLASS_HEADER_PEND where PKID = @PKID;

	if(@count=0)
	begin
	update IFRS_ASSET_CLASS_HEADER set STATUS='PENDING' WHERE PKID = @PKID;

	SET IDENTITY_INSERT dbo.IFRS_ASSET_CLASS_HEADER_PEND ON
	INSERT INTO IFRS_ASSET_CLASS_HEADER_PEND (
		PKID,CLASS_NAME, CLASS_LEVEL, CLASS_ID, EFFECTIVE_DATE, STATUS, SPPI_RSLT, BM_RSLT, ASSET_CLASS,
		ASSET_CLASS_ORI, RESULT_STATUS, CREATEDBY, CREATEDDATE, CREATEDHOST, UPDATEDBY,UPDATEDDATE,UPDATEDHOST,
		APPROVEDBY, APPROVEDDATE, APPROVEDHOST, ACTIONS)
	SELECT 
		@PKID,@ClassName, @Class_Level, @Class_ID, @Effective_Date, 'PENDING', @SPPI_Result, @BMResult, @AssetClass,
		@AssetClassOri, RESULT_STATUS, CREATEDBY, CREATEDDATE, CREATEDHOST, @UpdatedBy, GETDATE(), @UpdatedHost,
		APPROVEDBY,APPROVEDDATE,APPROVEDHOST,'U'
	FROM IFRS_ASSET_CLASS_HEADER
	WHERE PKID=@PKID;
    end

END;

GO
