USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADMEVALIDATION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_UPLOADMEVALIDATION]
(
	@uploadID BIGINT,
	@MEcode VARCHAR(100),
	@METimeSeries varchar(50)
)
AS
BEGIN
    
	DELETE tblU_ME_MessageError 
	WHERE Upload_ID = @uploadID;
    
	IF EXISTS
	(
		SELECT TOP 1 1
		FROM tblU_MACRO_ECONOMIC_TEMP
		WHERE UploadID = @uploadID
		AND UPPER(ME_CODE) <> UPPER(@MEcode)
	)
	BEGIN
		INSERT INTO tblU_ME_MessageError 
		(
			UPLOAD_ID, 
			TEMP_ID, 
			FIELD_NAME, 
			ERROR_MSG
		)
		SELECT @uploadID,
			ROW_NUMBER,
			'CODE',
			'Macro Economic Code uploaded different than input'
		FROM tblU_MACRO_ECONOMIC_TEMP
		WHERE UploadID = @uploadID
			AND UPPER(ME_CODE) <> UPPER(@MEcode);
	END;
	ELSE IF EXISTS 
	(
		SELECT ME_PERIOD, COUNT(*) 
		FROM TBLU_MACRO_ECONOMIC_TEMP
		WHERE UPLOADID = @uploadID
		GROUP BY ME_PERIOD
		HAVING COUNT(*) > 1
	)
	BEGIN
		INSERT INTO tblU_ME_MessageError 
		(
			UPLOAD_ID, 
			TEMP_ID, 
			FIELD_NAME, 
			ERROR_MSG
		)
		SELECT @uploadID,
			[ROW_NUMBER],
			'PERIOD',
			'Duplicate Period found in the uploaded data'
		FROM TBLU_MACRO_ECONOMIC_TEMP
		WHERE UPLOADID = @uploadID 
		AND ME_PERIOD IN 
		(
			SELECT ME_PERIOD 
			FROM TBLU_MACRO_ECONOMIC_TEMP
			WHERE UPLOADID = @uploadID
			GROUP BY ME_PERIOD
			HAVING COUNT(*) > 1
		);
	END;
	ELSE IF EXISTS 
	(
		SELECT TOP 1 1
		FROM TBLU_MACRO_ECONOMIC_TEMP
		WHERE UPLOADID = @uploadID
		AND @METimeSeries = 'quarterly'
		AND DAY(ME_PERIOD) != 1
	)
	BEGIN
		INSERT INTO tblU_ME_MessageError 
		(
			UPLOAD_ID, 
			TEMP_ID, 
			FIELD_NAME, 
			ERROR_MSG
		)
		SELECT @uploadID,
			[ROW_NUMBER],
			'PERIOD',
			'Date must be in ''YYYYMM01'' format if the time series data is quarterly'
		FROM TBLU_MACRO_ECONOMIC_TEMP
		WHERE UPLOADID = @uploadID
		AND @METimeSeries = 'quarterly'
		AND DAY(ME_PERIOD) != 1
		;
	END;
	ELSE IF EXISTS 
	(
		SELECT DATEADD(day, -day(ME_PERIOD) + 1, ME_PERIOD), COUNT(*) 
		FROM TBLU_MACRO_ECONOMIC_TEMP
		WHERE UPLOADID = @uploadID
		AND @METimeSeries = 'quarterly'
		GROUP BY DATEADD(day, -day(ME_PERIOD) + 1, ME_PERIOD)
		HAVING COUNT(*) > 1
	)
	BEGIN
		INSERT INTO tblU_ME_MessageError 
		(
			UPLOAD_ID, 
			TEMP_ID, 
			FIELD_NAME, 
			ERROR_MSG
		)
		SELECT @uploadID,
			[ROW_NUMBER],
			'PERIOD',
			'Only one data point allowed in the uploaded data if the time series data is quarterly'
		FROM TBLU_MACRO_ECONOMIC_TEMP
		WHERE UPLOADID = @uploadID
		AND @METimeSeries = 'quarterly' 
		AND DATEADD(day, -day(ME_PERIOD) + 1, ME_PERIOD) IN 
		(
			SELECT DATEADD(day, -day(ME_PERIOD) + 1, ME_PERIOD) 
			FROM TBLU_MACRO_ECONOMIC_TEMP
			WHERE UPLOADID = @uploadID
			GROUP BY DATEADD(day, -day(ME_PERIOD) + 1, ME_PERIOD)
			HAVING COUNT(*) > 1
		);
	END;
	ELSE IF EXISTS 
	(
		SELECT TOP 1 1 
		FROM TBLU_MACRO_ECONOMIC_TEMP
		WHERE UPLOADID = @uploadID
		AND @METimeSeries = 'quarterly'
		AND MONTH(ME_PERIOD) % 3 != 0
	)
	BEGIN
		INSERT INTO tblU_ME_MessageError 
		(
			UPLOAD_ID, 
			TEMP_ID, 
			FIELD_NAME, 
			ERROR_MSG
		)
		SELECT @uploadID,
			[ROW_NUMBER],
			'PERIOD',
			'Invalid quarterly period'
		FROM TBLU_MACRO_ECONOMIC_TEMP
		WHERE UPLOADID = @uploadID
		AND @METimeSeries = 'quarterly' 
		AND MONTH(ME_PERIOD) % 3 != 0;
	END;
	ELSE IF EXISTS 
	(
		SELECT TOP 1 1 FROM TBLU_MACRO_ECONOMIC_TEMP A
		RIGHT JOIN
		(
			SELECT DATEADD(day, -day(AA.EOM) + 1, AA.EOM) PERIOD
			FROM TBLM_PERIOD AA
			JOIN
			(
				SELECT MAX(ME_PERIOD) MAX_ME_PERIOD,
					MIN(ME_PERIOD) MIN_ME_PERIOD 
				FROM TBLU_MACRO_ECONOMIC_TEMP
				WHERE UPLOADID = @uploadID
			) BB ON DATEADD(day, -day(AA.EOM) + 1, AA.EOM) 
			BETWEEN DATEADD(day, -day(BB.MIN_ME_PERIOD) + 1, BB.MIN_ME_PERIOD) 
			AND DATEADD(day, -day(BB.MAX_ME_PERIOD) + 1, BB.MAX_ME_PERIOD) 
			AND MONTH(AA.EOM) % CASE WHEN @METimeSeries = 'quarterly' THEN 3 ELSE MONTH(AA.EOM) END = 0
		) B
		ON A.ME_PERIOD = B.PERIOD
		WHERE A.ME_PERIOD IS NULL
	)
	BEGIN
		INSERT INTO tblU_ME_MessageError 
		(
			UPLOAD_ID, 
			TEMP_ID, 
			FIELD_NAME, 
			ERROR_MSG
		)
		SELECT @uploadID,
			NULL,
			'PERIOD',
			'There are some missing data periods';
	END;

	SELECT COUNT (*) AS countInvalid 
	FROM tblU_ME_MessageError e
		INNER JOIN tblU_MACRO_ECONOMIC_TEMP d ON e.TEMP_ID = d.ROW_NUMBER
	WHERE d.UPLOADID = @uploadID;
END;

GO
