USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_ECL_MODEL_H]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPD_ECL_MODEL_H]  
 (  
  @ECL_ID int = 0  
 )  
as  
begin  
	update	IFRS_ECL_MODEL_HEADER   set active_flag = 0 
	where	PKID = @ECL_ID  
end

GO
