USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_INDIVIDUAL_REVIEW_HISTORY_ID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_INDIVIDUAL_REVIEW_HISTORY_ID](                            
 @PKID bigint                
)                            
AS                            
BEGIN                            
        
  SELECT MASTERID, DCFID FROM IFRS_IMP_IA_MASTER_HIST WHERE PKID = @PKID    
                
END
GO
