USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IMP_IMPAIRFLAG_TEMP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IMP_IMPAIRFLAG_TEMP](  
 @CIF VARCHAR(50),  
 @FLAG_IMPAIRED VARCHAR(1),  
 @METHOD VARCHAR(50),  
 @REMARKS VARCHAR(200)  
)  
AS  
BEGIN  
 DELETE FROM IFRS_IMP_IMPAIRFLAG_TEMP WHERE CIF = @CIF  
  
 INSERT INTO IFRS_IMP_IMPAIRFLAG_TEMP(CIF,FLAG_IMPAIRED,METHOD,REMARKS)  
 VALUES(@CIF,@FLAG_IMPAIRED,@METHOD,@REMARKS)  
  
END  
GO
