USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_DETAIL_PF]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_ECL_DETAIL_PF]  
(    
 @ECL_MODEL_ID int = 0    
)    
as  
 select A.PF_SEGMENT_ID as RULE_ID, GROUP_SEGMENT , SEGMENT , SUB_SEGMENT    
 from IFRS_ECL_MODEL_DETAIL_PF A  
 JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B  
 ON  A.PF_SEGMENT_ID = B.PKID  
 WHERE SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'  AND  
   A.ECL_MODEL_ID = @ECL_MODEL_ID    
   AND ISNULL(IS_DELETE,0) = 0

GO
