USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETMESAMPLEDATE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_GETMESAMPLEDATE]  
	@PKID int = 0
AS  
BEGIN  
	
	SELECT IN_SAMPLE_START_DATE
		,IN_SAMPLE_END_DATE
		,OUT_SAMPLE_START_DATE
		,OUT_SAMPLE_END_DATE
	FROM IFRS_MACRO_ECONOMIC_MODEL WHERE PKID = @PKID

END
GO
