USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SPPI_HEADER_PENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_SPPI_HEADER_PENDING]                          
(                          
 @CLASSNAME varchar(100) = '',
 @EFFECTIVE_DATE date = '2000/01/01',
 @PRODUCT_CODE varchar(max) = '',
 @STATUS varchar(50) = '',
 @SPPI_RSLT varchar(50) = '',
 @OVERRIDE_FLG bit= 0,
 @OVERRIDE_RSLT varchar(50) = '',
 @OVERRIDE_REMARKS varchar(2000) = '',
 @ACTION varchar(10) = '',
 @PKID_OLD bigint = 0,
 @CREATEDBY varchar(36) = '',             
 @CREATEDHOST varchar(30) = ''             
)            
AS  
BEGIN  
	
 IF @OVERRIDE_FLG = 1
 BEGIN	    
 INSERT INTO [dbo].[IFRS_AC_SPPI_HEADER_PENDING]
 (            
	CLASSNAME,
	EFFECTIVE_DATE,
	PRODUCT_CODE,
	STATUS,
	SPPI_RSLT,
	OVERRIDE_FLG,
	OVERRIDE_RSLT,
	OVERRIDE_REMARKS,
	ACTION,
	PKID_OLD,
	CLASSNAME_OLD,
	EFFECTIVE_DATE_OLD,
	PRODUCT_CODE_OLD,
	STATUS_OLD,
	SPPI_RSLT_OLD,
	OVERRIDE_FLG_OLD,
	OVERRIDE_RSLT_OLD,
	OVERRIDE_REMARKS_OLD,
	CREATEDBY,
    CREATEDDATE,
    CREATEDHOST
 )                          
 VALUES                          
 (     
	 @CLASSNAME
	,@EFFECTIVE_DATE
	,@PRODUCT_CODE
	,@STATUS
	,@SPPI_RSLT
	,@OVERRIDE_FLG
	,@OVERRIDE_RSLT
	,@OVERRIDE_REMARKS
	,@ACTION
	,@PKID_OLD
	,(SELECT CLASSNAME FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT EFFECTIVE_DATE FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT PRODUCT_CODE FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT STATUS FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT SPPI_RSLT FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT OVERRIDE_FLG FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT OVERRIDE_RSLT FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT OVERRIDE_REMARKS FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,@CREATEDBY            
	,GETDATE()            
	,@CREATEDHOST
 )
 END
 ELSE
 BEGIN
 INSERT INTO [dbo].[IFRS_AC_SPPI_HEADER_PENDING]
 (            
	CLASSNAME,
	EFFECTIVE_DATE,
	PRODUCT_CODE,
	STATUS,
	SPPI_RSLT,
	OVERRIDE_FLG,
	OVERRIDE_RSLT,
	OVERRIDE_REMARKS,
	ACTION,
	PKID_OLD,
	CLASSNAME_OLD,
	EFFECTIVE_DATE_OLD,
	PRODUCT_CODE_OLD,
	STATUS_OLD,
	SPPI_RSLT_OLD,
	OVERRIDE_FLG_OLD,
	OVERRIDE_RSLT_OLD,
	OVERRIDE_REMARKS_OLD,
	CREATEDBY,
    CREATEDDATE,
    CREATEDHOST
 )                          
 VALUES                          
 (     
	 @CLASSNAME
	,@EFFECTIVE_DATE
	,@PRODUCT_CODE
	,@STATUS
	,@SPPI_RSLT
	,@OVERRIDE_FLG
	,''
	,''
	,@ACTION
	,@PKID_OLD
	,(SELECT CLASSNAME FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT EFFECTIVE_DATE FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT PRODUCT_CODE FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT STATUS FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT SPPI_RSLT FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT OVERRIDE_FLG FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT OVERRIDE_RSLT FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,(SELECT OVERRIDE_REMARKS FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD)
	,@CREATEDBY            
	,GETDATE()            
	,@CREATEDHOST
 )
 END
SELECT MAX(PKID) AS PKID FROM IFRS_AC_SPPI_HEADER_PENDING

END;

GO
