USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOAD_MACROVARIABLE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_UPLOAD_MACROVARIABLE]
AS

BEGIN

UPDATE A SET A.ME_VAL = B.ME_VAL FROM IFRS_MACRO_ECONOMIC A JOIN TBLU_MACRO_ECONOMIC_TEMP B ON A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = B.ME_PERIOD

DELETE TBLU_MACRO_ECONOMIC_TEMP FROM TBLU_MACRO_ECONOMIC_TEMP B JOIN IFRS_MACRO_ECONOMIC A ON A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = B.ME_PERIOD

--SELECT B.ME_CODE, B.ME_PERIOD FROM IFRS_MACRO_ECONOMIC A JOIN TBLU_MACRO_ECONOMIC_TEMP B ON A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = B.ME_PERIOD

--declare @code as varchar(50)
--declare @period as varchar(50)

--set @code = SELECT * FROM (SELECT A.ME_CODE FROM TBLU_MACRO_ECONOMIC_TEMP A, IFRS_MACRO_ECONOMIC B where  A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = B.ME_PERIOD) A
--set @period = (SELECT A.ME_PERIOD FROM TBLU_MACRO_ECONOMIC_TEMP A, IFRS_MACRO_ECONOMIC B where  A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = B.ME_PERIOD)

--print @code
--print @period

INSERT INTO IFRS_MACRO_ECONOMIC (ME_CODE, ME_PERIOD, ME_VAL)
select ME_CODE, ME_PERIOD, ME_VAL from TBLU_MACRO_ECONOMIC_TEMP

END


GO
