USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_AC_OVERRIDE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_AC_OVERRIDE] 
(
	@DOWNLOAD_DATE date='2000/01/01'
	,@EFFECTIVE_DATE date='2000/01/01'
	,@CUSTOMER_NUMBER varchar(50)=''
	,@MASTER_ACCOUNT_ID varchar(100)=''
	,@ASSET_CLS varchar(50)=''
	,@CreatedBy varchar(50) = ''
	,@CreatedHost varchar(20) = ''
	,@UpdatedBy varchar(36) = ''
	,@UpdatedHost varchar(36) = ''
)
AS
BEGIN
	DECLARE @COUNT int
	DECLARE @newDate datetime

	select @newDate = GETDATE()

	SELECT @COUNT = COUNT(*)
	FROM IFRS_AC_OVERRIDE WHERE CUSTOMER_NUMBER = @CUSTOMER_NUMBER AND MASTERID = @MASTER_ACCOUNT_ID;
	
	IF (@COUNT > 0)
		BEGIN
			DELETE FROM IFRS_AC_OVERRIDE
			WHERE CUSTOMER_NUMBER = @CUSTOMER_NUMBER AND MASTERID = @MASTER_ACCOUNT_ID
		END
	       
	INSERT INTO IFRS_AC_OVERRIDE(DOWNLOAD_DATE,EFFECTIVE_DATE,CUSTOMER_NUMBER,MASTERID,ASSET_CLS,CREATEDBY,CREATEDDATE,CREATEDHOST)
	VALUES(@DOWNLOAD_DATE,@EFFECTIVE_DATE,@CUSTOMER_NUMBER,@MASTER_ACCOUNT_ID,@ASSET_CLS,@CreatedBy,@newDate,@CreatedHost);
	
	INSERT INTO IFRS_AC_OVERRIDE_HIST(DOWNLOAD_DATE,EFFECTIVE_DATE,CUSTOMER_NUMBER,MASTERID,ASSET_CLS,CREATEDBY,CREATEDDATE,CREATEDHOST)
	VALUES(@DOWNLOAD_DATE,@EFFECTIVE_DATE,@CUSTOMER_NUMBER,@MASTER_ACCOUNT_ID,@ASSET_CLS,@CreatedBy,@newDate,@CreatedHost);

END
GO
