USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKEADPARAMETER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKEADPARAMETER]                     
(                    
	@PKID BIGINT,                    
	@EAD_RULE_NAME    VARCHAR(100) ,          
	@SEGMENTATION_ID bigint,
	@EAD_SEGMENT varchar(100),          
	@EAD_BALANCE VARCHAR(250),    
	@CCF_FLAG bit,    
	@CCF_RULES_ID VARCHAR(100),      
	@PREPAYMENT_FLAG bit,    
	@PREPAYMENT_RULES_ID VARCHAR(100),      
	@UpdatedBy VARCHAR(36) ='',                
	@UpdatedHost VARCHAR(30) =''                     
)                    
AS                    
BEGIN               

	SELECT * FROM IFRS_EAD_RULES_CONFIG WHERE 
		EAD_RULE_NAME = @EAD_RULE_NAME AND
		SEGMENTATION_ID = @SEGMENTATION_ID AND
		EAD_BALANCE = @EAD_BALANCE AND
		CCF_FLAG = @CCF_FLAG AND
		CCF_RULES_ID = @CCF_RULES_ID AND
		PREPAYMENT_FLAG = @PREPAYMENT_FLAG AND
		PREPAYMENT_RULES_ID = @PREPAYMENT_RULES_ID
          
	
END; 

GO
