USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_SYNC_CUSTOMER_RATING]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IFRS_SYNC_CUSTOMER_RATING] AS

BEGIN

	DECLARE @CURRDATE DATE

	SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE_AMORT
	

	BEGIN TRANSACTION

		--DELETE FROM IFRS_MASTER_CUSTOMER_RATING
		--WHERE DOWNLOAD_DATE = @CURRDATE

		INSERT INTO IFRS_MASTER_CUSTOMER_RATING (DOWNLOAD_DATE, GLOBAL_CUSTOMER_NUMBER, CUSTOMER_NUMBER, RATING_CODE_1)
		SELECT	DISTINCT
				DOWNLOAD_DATE,
				CUSTOMER_NUMBER,
				CUSTOMER_NUMBER,
				CUSTOMER_GRADE
		FROM IFRS_STG_MASTER_ACCOUNT
		WHERE DOWNLOAD_DATE = @CURRDATE

	COMMIT TRANSACTION

END

/**/




GO
