USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IFRS_ME_FORECAST_MOVE_TO_TEMP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_IFRS_ME_FORECAST_MOVE_TO_TEMP]      
(      
 @ME_CODE AS VARCHAR(100),  
 @CreatedBy AS VARCHAR(100)  
)      
AS       
BEGIN      
  
 DELETE IFRS_ME_FORECAST_DETAIL_TEMP WHERE ME_CODE = @ME_CODE AND CREATEDBY = @CreatedBy
  
 INSERT INTO IFRS_ME_FORECAST_DETAIL_TEMP(  
  ME_CODE,  
  FL_PERIOD,  
  FL_VAL,  
  CREATEDBY,  
  CREATEDDATE)  
 SELECT  
  VARIABLE_NAME,  
  FCST_PERIOD,  
  FCST_VALUE,  
  @CreatedBy,  
  GETDATE()  
 FROM TMP_IFRS_R_ARIMA_MODEL_FCST  
 WHERE VARIABLE_NAME = @ME_CODE  
    
END

GO
