USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_ECLRetailResultSummary]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_ECLRetailResultSummary]              
(              
 @Download_Date datetime='01/01/2000',            
 @ProdType varchar(1000)=''        
)    
AS    
  
BEGIN          
      
 DECLARE @MAPCODE VARCHAR(2000)    
 SET @MAPCODE = '''' + REPLACE(@ProdType,',',''',''') + ''''    
    
  
 DECLARE @QUERY VARCHAR(5000)    
 SET @QUERY = '    
 SELECT ROW_NUMBER() OVER (ORDER BY PRODUCT_TYPE,STAGE,BUCKET_ID,TENOR) as PKID,  
  TBL.*  
 FROM  
 (select   
 PRODUCT_TYPE,   
 STAGE,   
 BUCKET_ID,   
 BUCKET_GROUP,   
 TENOR,  
 COUNT(ACCOUNT_NUMBER) as NOA,  
 SUM(ISNULL(ECL_AMOUNT,0) * ISNULL(EXCHANGE_RATE,0)) as LOCAL_ECL,  
  SUM(ISNULL(ECL_AMOUNT,0) - (CASE WHEN ISNULL(CA_UNWINDING_AMOUNT, 0)  < 0 THEN 0   
  ELSE ISNULL(CA_UNWINDING_AMOUNT, 0) END +  
  CASE WHEN ISNULL(IA_UNWINDING_SUM_AMOUNT, 0)  < 0 THEN 0   
  ELSE ISNULL(IA_UNWINDING_SUM_AMOUNT, 0) END)  * EXCHANGE_RATE) as LOCAL_ECL_NET  
 from IFRS_MASTER_ACCOUNT_MONTHLY  
 where SEGMENT = ''RETAIL''  
 AND ACCOUNT_STATUS=''A''  
 AND PRODUCT_TYPE IN (' + @MAPCODE + ')  
 and DOWNLOAD_DATE = ''' + convert(varchar(10),@Download_Date,101) + '''  
 GROUP BY PRODUCT_TYPE, STAGE, BUCKET_ID, BUCKET_GROUP, TENOR  
 ) TBL order by ROW_NUMBER() OVER (ORDER BY PRODUCT_TYPE,STAGE,BUCKET_ID,TENOR)  
 '    
  
 exec (@QUERY)    
     
END  
GO
