USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_VARSELEDITOR]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_VARSELEDITOR]        
 @PKID int,         
 @MODEL_NAME varchar(100),        
 @SELECTION_TYPE varchar(50),        
 @FILTER_METHOD varchar(50),        
 @CORR_THRESHOLD float = 0,        
 @SELECTION_VALUE_1 float = 0,        
 @SELECTION_VALUE_2 smallint = 0,        
 @STAT_FLAG bit,        
 @P_VALUE float = 0,        
 @STAT_METHOD varchar(50),        
 @APPLY_TO int,        
 @DV_VALUE varchar(50),        
 @IN_SAMPLE_START_DATE date,        
 @IN_SAMPLE_END_DATE date,        
 @OUT_SAMPLE_START_DATE date = NULL,        
 @OUT_SAMPLE_END_DATE date = NULL,        
 @CREATEDBY varchar(50),        
 @CREATEDHOST varchar(50)        
AS        
BEGIN        
IF NOT EXISTS(SELECT * FROM IFRS_MACRO_ECONOMIC_MODEL WHERE PKID = @PKID)        
BEGIN        
	INSERT IFRS_MACRO_ECONOMIC_MODEL     
	(
		PKID,
		MODEL_NAME,
		SELECTION_TYPE,
		FILTER_METHOD,
		CORR_THRESHOLD,
		SELECTION_VALUE_1,
		SELECTION_VALUE_2,
		STAT_FLAG,
		P_VALUE,
		STAT_METHOD,
		STAT_APPLY_TO,
		DV_VALUE,
		STATUS,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		IS_DELETE,       
		IN_SAMPLE_START_DATE,
		IN_SAMPLE_END_DATE,
		OUT_SAMPLE_START_DATE,       
		OUT_SAMPLE_END_DATE
	)
	VALUES
	(        
		@PKID,        
		@MODEL_NAME,        
		@SELECTION_TYPE ,        
		@FILTER_METHOD,        
		@CORR_THRESHOLD,
		@SELECTION_VALUE_1,        
		@SELECTION_VALUE_2,        
		@STAT_FLAG,        
		@P_VALUE,        
		@STAT_METHOD,
		@APPLY_TO ,        
		@DV_VALUE,
		'I',        
		@CREATEDBY,
		GETDATE(),        
		@CREATEDHOST,         
		0,        
		@IN_SAMPLE_START_DATE,        
		@IN_SAMPLE_END_DATE,        
		@OUT_SAMPLE_START_DATE,        
		@OUT_SAMPLE_END_DATE)        
END        
ELSE        
BEGIN        
	UPDATE IFRS_MACRO_ECONOMIC_MODEL       
	SET MODEL_NAME = @MODEL_NAME,
		SELECTION_TYPE = @SELECTION_TYPE,
		FILTER_METHOD = @FILTER_METHOD,
		CORR_THRESHOLD = @CORR_THRESHOLD,
		SELECTION_VALUE_1 = @SELECTION_VALUE_1,
		SELECTION_VALUE_2 = @SELECTION_VALUE_2,
		STAT_FLAG = @STAT_FLAG,
		P_VALUE = @P_VALUE,
		STAT_METHOD = @STAT_METHOD,
		STAT_APPLY_TO = @APPLY_TO,
		DV_VALUE = @DV_VALUE,
		STATUS = 'I',
		CREATEDBY = @CREATEDBY,
		CREATEDDATE = GETDATE(),
		CREATEDHOST = @CREATEDHOST,
		IS_DELETE = 0,
		IN_SAMPLE_START_DATE = @IN_SAMPLE_START_DATE,
		IN_SAMPLE_END_DATE = @IN_SAMPLE_END_DATE,
		OUT_SAMPLE_START_DATE = @OUT_SAMPLE_START_DATE,
		OUT_SAMPLE_END_DATE = @OUT_SAMPLE_END_DATE        
	WHERE PKID = @PKID        
END        
        
EXEC USPI_IV_ACC @PKID        

END

GO
