USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ASSETCLASSHEADER]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPI_ASSETCLASSHEADER]
(
    @ClassName		VARCHAR(100) = '',
    @Class_Level	VARCHAR(20) = '', 
    @Class_ID		VARCHAR(50) = '', 
    @EffectiveDate	DATE = '1-JAN-2000',
    @SPPI_Result    VARCHAR(50) = '',
    @BMResult       VARCHAR(50) = '',
    @AssetClass     VARCHAR(50) = '',
	@AssetClassOri	VARCHAR(50) = '',
    @CreatedBy      VARCHAR(36) = '',
    @CreatedHost    VARCHAR(30) = '',
    @NewPKID		BIGINT OUT
)
AS
BEGIN

    INSERT INTO IFRS_ASSET_CLASS_HEADER
    (
        Class_Name, 
        CLASS_LEVEL,
		CLASS_ID,
        EFFECTIVE_DATE,
        STATUS,
        SPPI_RSLT, 
        BM_RSLT, 
        ASSET_CLASS, 
		ASSET_CLASS_ORI,
        CREATEDBY, 
        CREATEDDATE, 
        CREATEDHOST
    )
    VALUES 
    (
		@ClassName,
		@Class_Level,
		@Class_ID,
		@EffectiveDate,
		'PENDING',
		@SPPI_Result,
		@BMResult,
		@AssetClass,
		@AssetClassOri,
		@CreatedBy,
        GETDATE(), 
        @CreatedHost
    );

    SET @NewPKID = SCOPE_IDENTITY();

END;

GO
