USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCURRENCYBYPRDCODE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPCURRENCYBYPRDCODE]  
(  
	@PRD_CODE VARCHAR(20)=''  
)  
as     
-- proc untuk get list lookup table destination list      
begin      
		select distinct A.CCY as "CCY", 
		CCY +' - '+	(Select distinct CCY_DESC from tblM_Currency where CCY = A.CCY) AS "Currency"
		from IFRS_MASTER_PRODUCT_PARAMETER A
		WHERE A.PRD_CODE = @PRD_CODE
		order by CCY 

end


GO
