USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_CONFIG_ECL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_LGD_CONFIG_ECL]    
  (    
   @ECL_MODEL_ID int = 0    
  )    
  as    
  begin    
   if @ECL_MODEL_ID > 0    
   begin    
    select A.PKID as RULE_ID, LGD_GROUP_NAME as RULE_NAME,  
 RECOVERY_SEGMENT = (select SUB_SEGMENT from IFRS_MASTER_SEGMENT_RULES_HEADER where PKID = RECOVERY_SEGMENT_ID),  
 CRR_SEGMENT = (select SUB_SEGMENT from IFRS_MASTER_SEGMENT_RULES_HEADER where PKID = CRR_SEGMENT_ID),  
 URR_SEGMENT = (select SUB_SEGMENT from IFRS_MASTER_SEGMENT_RULES_HEADER where PKID = URR_SEGMENT_ID),  
 CURE_RATE_SEGMENT = (select SUB_SEGMENT from IFRS_MASTER_SEGMENT_RULES_HEADER where PKID = CURE_RATE_SEGMENT_ID)    
    from IFRS_LGD_RULES_CONFIG_9 A    
    WHERE A.PKID NOT IN    
     (    
      select LGD_RULE_ID    
      from IFRS_ECL_MODEL_DETAIL_LGD    
      where ECL_MODEL_ID = @ECL_MODEL_ID    
     ) AND A.IS_DELETE =0
   end    
   else    
   begin    
    select A.PKID as RULE_ID,   
   LGD_GROUP_NAME as RULE_NAME,  
   RECOVERY_SEGMENT = (select SUB_SEGMENT from IFRS_MASTER_SEGMENT_RULES_HEADER where PKID = RECOVERY_SEGMENT_ID),  
   CRR_SEGMENT = (select SUB_SEGMENT from IFRS_MASTER_SEGMENT_RULES_HEADER where PKID = CRR_SEGMENT_ID),  
   URR_SEGMENT = (select SUB_SEGMENT from IFRS_MASTER_SEGMENT_RULES_HEADER where PKID = URR_SEGMENT_ID),  
   CURE_RATE_SEGMENT = (select SUB_SEGMENT from IFRS_MASTER_SEGMENT_RULES_HEADER where PKID = CURE_RATE_SEGMENT_ID)    
    from IFRS_LGD_RULES_CONFIG_9 A    WHERE A.IS_DELETE =0
   end    
  end
  

GO
