USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADSPPIREVIEW]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOADSPPIREVIEW]      
 @CLASSID int =0      
AS      
BEGIN      
 IF @CLASSID =0      
  BEGIN      
   SELECT A.SECTIONID,ITEMCODE, QUESTION, B.DESCRIPTION,-1 SELECTED_VALUE,'' REMARK,SCOREYES,SCORENO,      
   A.[RULE],A.THRESHOLD,C.VALUE1 RES,B.PKID,0 AS PKID_DETAIL, B.SEQUENCE, '' CLASSNAME, B.IS_DELETE      
   FROM IFRS_AC_SPPI_SECTION A      
   JOIN IFRS_AC_SPPI_QUESTIONS B      
   ON  A.SECTIONID = B.SECTIONID      
   JOIN TBLM_COMMONCODEDETAIL C      
   ON  A.DETERMINEID = C.PKID      
   WHERE ISNULL(B.IS_DELETE,0) = 0 AND ISNULL(A.IS_DELETE,0) = 0      
   ORDER BY SECTIONID, B.PKID, ITEMCODE      
  END      
 ELSE      
  BEGIN  
    
 DECLARE @CREATEDBY AS VARCHAR(100)  
 DECLARE @CREATEDHOST AS VARCHAR(100)  
 DECLARE @UPDATEDBY AS VARCHAR(100)  
 DECLARE @UPDATEDHOST AS VARCHAR(100)    
      
 SELECT TOP 1   
 @CREATEDBY =  CREATEDBY,  
 @CREATEDHOST = CREATEDHOST,  
 @UPDATEDBY = UPDATEDBY,  
 @UPDATEDHOST = UPDATEDHOST   
 FROM IFRS_AC_SPPI_DETAIL   
 WHERE CLASSID = @CLASSID   
     
 MERGE IFRS_AC_SPPI_DETAIL AS TARGET  
 USING (SELECT * FROM IFRS_AC_SPPI_QUESTIONS WHERE IS_DELETE = 0) AS SOURCE  
 ON(TARGET.QUESTIONID = SOURCE.PKID AND TARGET.CLASSID = @CLASSID)  
 WHEN NOT MATCHED BY TARGET THEN  
 INSERT (CLASSID, QUESTIONID, SELECTED_VALUE, REMARK, CREATEDBY, CREATEDDATE, CREATEDHOST,UPDATEDBY,UPDATEDDATE, UPDATEDHOST,IS_DELETE)  
 VALUES (@CLASSID, SOURCE.PKID, '-1', NULL, @CREATEDBY,GETDATE(),@CREATEDHOST, @UPDATEDBY, GETDATE(), @UPDATEDHOST, 0);   
   
 UPDATE IFRS_AC_SPPI_DETAIL  
 SET IS_DELETE = 1  
 WHERE   
 QUESTIONID IN   
   ( SELECT PKID FROM IFRS_AC_SPPI_QUESTIONS  
     WHERE IS_DELETE = 1  
   )  
 AND CLASSID = @CLASSID  
     
  
  
   SELECT A.SECTIONID, B.ITEMCODE, B.QUESTION, B.DESCRIPTION,C.SELECTED_VALUE,'' REMARK,SCOREYES,SCORENO,A.[RULE],A.THRESHOLD      
   ,D.VALUE1 RES,B.PKID,C.CLASSID,E.CLASSNAME,E.SPPI_RSLT,E.OVERRIDE_FLG,E.OVERRIDE_RSLT,E.OVERRIDE_REMARKS,E.PRODUCT_CODE,      
   C.PKID AS PKID_DETAIL, B.SEQUENCE, B.IS_DELETE      
   FROM IFRS_AC_SPPI_SECTION A      
   JOIN IFRS_AC_SPPI_QUESTIONS B      
   ON  A.SECTIONID = B.SECTIONID      
   JOIN IFRS_AC_SPPI_DETAIL C      
   ON  C.QUESTIONID  = B.PKID    
   JOIN TBLM_COMMONCODEDETAIL D      
   ON  A.DETERMINEID = D.PKID      
   JOIN IFRS_AC_SPPI_HEADER E      
   ON  C.CLASSID = E.PKID      
   WHERE CLASSID = @CLASSID      
   AND A.IS_DELETE = 0      
   AND B.IS_DELETE = 0      
   AND C.IS_DELETE = 0     
   ORDER BY SECTIONID, B.PKID, ITEMCODE    
         
  END      
END  
  
  
  
  
  
  
  
GO
