USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_COLLECTIVEGRP_PORTF]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_COLLECTIVEGRP_PORTF] (  
   @USERID VARCHAR(18)  
)  
AS  
BEGIN  
  
        SELECT   
            A.PKID,  
            A.RULE_NAME "RULE_CODE",  
            A.RULE_NAME "SICR"  
              
        FROM IFRS_SCENARIO_RULES_HEADER A   
        WHERE RULE_TYPE = 'SEGMENT'  
        AND A.PKID NOT IN (SELECT COLL_GROUP FROM IFRS_ECL_PORT_PENDING WHERE USERID = @USERID);  
END;  

GO
