USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LIGHTSCENARIOH]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LIGHTSCENARIOH]  
as  
begin  
  
 SELECT DISTINCT COUNT(LIGHT_GROUP) CNT,  
 LIGHT_GROUP,  
 LIGHT_DESCRIPTION  
 FROM IFRS_IMP_LIGHT_SCEN_PARAM   
 GROUP BY LIGHT_GROUP, LIGHT_DESCRIPTION  
 ORDER BY LIGHT_GROUP  
end 


GO
