USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPROCESSEDSPPIGRID_HIST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPPROCESSEDSPPIGRID_HIST] 
 @PKID BIGINT  
AS
BEGIN  
select PKID,
CLASSNAME,
SPPI_RSLT,
PRODUCT_CODE  
from [IFRS_AC_SPPI_HEADER] A  
JOIN (SELECT VALUE FROM dbo.STRING_SPLIT((SELECT SPPI_CLASS FROM IFRS_AC_BM_HEADER_HIST WHERE PKID = @PKID), ','))B ON A.PKID = B.Value  
WHERE ISNULL(A.IS_DELETE,0) = 0 
END 
GO
