USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMTRANS]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_PARAMTRANS]     
(     
 -- parameter input untuk kolom helper    
 @PKID bigint = 0    
)     
AS     
BEGIN     
 -- proc untuk delete 1 row dari table ?    
 --DELETE FROM dbo.IFRS_MASTER_TRANS_PARAM    
 --WHERE PKID = @PKID  
 
 UPDATE IFRS_MASTER_TRANS_PARAM SET IS_DELETE = 1 WHERE PKID = @PKID  
   
END






GO
