USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_GROUPVALUECENTER]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_GROUPVALUECENTER]  
(
	@PKID bigint = 0
)
AS     
BEGIN

	DELETE FROM dbo.IFRS_MASTER_VALCTR_GROUP
	WHERE PKID = @PKID
   
END

GO
