USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADPENDINGFACILITYFEECOST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [dbo].[USPS_UPLOADPENDINGFACILITYFEECOST]
(@UploadID int = 0)
AS
BEGIN
       
    SELECT
         FACILITY_NUMBER,
		 PRD_CODE,
		 TRX_CODE,
		 TRANSACTION_DATE,
		 CCY,
		 DEBIT_CREDIT_FLAG,
		 TRY_CONVERT(FLOAT, TRANSACTION_AMOUNT) AS TRANSACTION_AMOUNT
    FROM TBLU_FACILITY_FEECOST_PENDING WHERE UPLOADID = @UploadID
       

END
GO
