USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_TRANS_MATRIX_ACTIVE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPS_PD_TRANS_MATRIX_ACTIVE]
as
begin
	select PKID as TM_ID, TM_RULE_NAME from IFRS_PD_TRANS_MATRIX_CONFIG where ACTIVE_FLAG = 1
end

GO
