USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PENDINGJOBS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_PENDINGJOBS]
AS
BEGIN

	SET NOCOUNT ON;

	SELECT * FROM TblT_ServiceJobsHeader a
		LEFT JOIN tblt_applicationlog b ON a.pkid = b.jobid
	WHERE b.jobid IS NULL
		AND a.[Status] = 'Queued'
	ORDER BY pkid;

END;

GO
