USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_MAA_FLOWRATE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_MAA_FLOWRATE] (
   @Period          DATE='1900-0-01',
   @ProdGroup       int=0
   )
AS
BEGIN
	Select distinct D.TM_RULE_NAME,
		A.EFF_DATE,
		B.SUB_BUCKET_GROUP AS BUCKET_FROM,
		C.SUB_BUCKET_GROUP AS BUCKET_TO,
		A.FLOWRATE * 100 AS FLOWRATE
	FROM IFRS_PD_MAA_FLOWRATE A
	JOIN IFRS_IMPC_BUCKET_PARAM B
	ON A.BUCKET_GROUP = B.BUCKET_GROUP
	AND A.BUCKET_FROM = B.BUCKET_ID
	JOIN IFRS_IMPC_BUCKET_PARAM C
	ON A.BUCKET_GROUP = C.BUCKET_GROUP
	AND A.BUCKET_TO = C.BUCKET_ID
	JOIN IFRS_PD_TRANS_MATRIX_CONFIG D
	ON A.PD_RULE_ID = D.PKID
	AND A.PD_RULE_ID = @ProdGroup
	AND A.EFF_DATE = @Period;

END

GO
