USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MOVE_CLUSTER_SELECTION]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USPS_MOVE_CLUSTER_SELECTION]            
 (            
 @MODEL_ID int,            
 @CREATED_BY varchar(50),            
 @CREATED_HOST varchar(50)            
 )            
 AS            
 BEGIN    

 IF((SELECT STATUS FROM IFRS_MACRO_ECONOMIC_MODEL WHERE PKID = @MODEL_ID) <> 'M')
 BEGIN
	UPDATE IFRS_MACRO_ECONOMIC_MODEL SET STATUS = 'V' WHERE PKID = @MODEL_ID   
 END         
             
 --DELETE FROM IFRS_PD_ZFAC WHERE MODEL_ID = @MODEL_ID;            
 --INSERT INTO IFRS_PD_ZFAC(            
 -- [EFF_DATE]            
 -- ,[MODEL_ID]            
 -- ,[PD_RULE_ID]            
 -- ,[BASE_DATE]            
 -- ,[SEQ],[RHO]            
 -- ,[ZFAC_VAL]            
 -- ,[COSTFAC])            
 --SELECT            
 -- [ME_PERIOD]            
 -- ,@MODEL_ID            
 -- ,[PD_RULE_ID]            
 -- ,[ME_PERIOD]            
 -- ,[SEQNUM]            
 -- ,[CORRELATION_VAL]            
 -- ,[ZFAC_VAL]            
 -- ,[COST_VAL]            
 --FROM TMP_IFRS_ZFAC_RESULT_DTL WHERE MODEL_ID = @MODEL_ID            
 --DELETE FROM TMP_IFRS_ZFAC_RESULT_DTL WHERE MODEL_ID =  @MODEL_ID            
            
 --DELETE FROM IFRS_ME_DERIVED_VARIABLE WHERE MODEL_ID = @MODEL_ID          
 --INSERT INTO IFRS_ME_DERIVED_VARIABLE(          
 -- [MODEL_ID],          
 -- [ME_CODE],            
 -- [ME_PERIOD],            
 -- [DERIVED_TYPE],            
 -- [ME_VAL],            
 -- [SEASONAL_ADJUSTMENT],            
 -- [CREATEDBY],            
 -- [CREATEDDATE],            
 -- [CREATEDHOST])            
 --SELECT          
 -- MODEL_ID,          
 -- ME_CODE,            
 -- PERIOD,            
 -- ME_CODE,            
 -- CASE WHEN ME_VALUE = 'inf' THEN 0 ELSE CAST(ME_VALUE AS float) END AS ME_VALUE,            
 -- 0,            
 -- @CREATED_BY,            
 -- GETDATE(),            
 -- @CREATED_HOST            
 --FROM TMP_IFRS_ME_DERIVED_VARIABLE WHERE MODEL_ID = @MODEL_ID          
 --DELETE FROM TMP_IFRS_ME_DERIVED_VARIABLE WHERE MODEL_ID = @MODEL_ID       
 DELETE FROM IFRS_ME_DERIVED_VARIABLE WHERE MODEL_ID = @MODEL_ID          
 INSERT INTO IFRS_ME_DERIVED_VARIABLE(          
  [MODEL_ID],          
  [ME_CODE],            
  [ME_PERIOD],            
  [DERIVED_TYPE],            
  [ME_VAL],            
  [SEASONAL_ADJUSTMENT],            
  [CREATEDBY],            
  [CREATEDDATE],            
  [CREATEDHOST])            
 SELECT          
  MODEL_ID,          
  ME_CODE,            
  ME_PERIOD,            
  DERIVED_TYPE,            
  ME_VAL,            
  0,            
  @CREATED_BY,            
  GETDATE(),            
  @CREATED_HOST            
 FROM IFRS_ME_DERIVED_VARIABLE_TEMP WHERE MODEL_ID = @MODEL_ID          
 DELETE FROM IFRS_ME_DERIVED_VARIABLE_TEMP WHERE MODEL_ID = @MODEL_ID             
            
 --DELETE FROM IFRS_ME_MODEL_CORRELATION WHERE MODEL_ID = @MODEL_ID            
 --INSERT INTO IFRS_ME_MODEL_CORRELATION(            
 -- [MODEL_ID],            
 -- [ME_CODE],            
 -- [DERIVED_TYPE],            
 -- [EXPECTED_TREND],            
 -- [IN_SAMPLE_SET],            
 -- [CORRELATION_VALUE],            
 -- [ADJ_CORRELATION],            
 -- [IS_CHOSEN])            
 --SELECT            
 -- [MODEL_ID],            
 -- LOOKUPINITIAL,            
 -- VARIABLENAME,            
 -- EXPECTED_TREND,            
 -- IN_SAMPLE_SET,            
 -- [CORRELATION_VAL],            
 -- [ADJ_CORRELATION],            
 -- VARIABLE_SELECTION            
 --FROM TMP_IFRS_MODEL_FILTER_CORTEST WHERE MODEL_ID = @MODEL_ID            
 --DELETE FROM TMP_IFRS_MODEL_FILTER_CORTEST WHERE MODEL_ID = @MODEL_ID            
            
            
 --DELETE FROM IFRS_VARCLUS_CLUSTER_SUMM WHERE MODEL_ID = @MODEL_ID            
 --INSERT INTO IFRS_VARCLUS_CLUSTER_SUMM(            
 -- [MODEL_ID],            
 -- [CLUSTER_NO],            
 -- [NO_OF_MEMBERS],            
 -- [VARIATION_EXPL],            
 -- [PROPORTION_EXPL],            
 -- [SECOND_EIGENVAL])            
 --SELECT            
 -- [MODEL_ID],            
 -- [CLUSTER],            
 -- [MEMBERS],            
 -- [VAR_EXPL],            
 -- [PROP_EXPL],            
 -- [SECOND_EIGV]            
 --FROM TMP_IFRS_VARCLUS_CLUSTER_SUMM WHERE MODEL_ID = @MODEL_ID            
 --DELETE FROM TMP_IFRS_VARCLUS_CLUSTER_SUMM WHERE MODEL_ID = @MODEL_ID            
            
 --DELETE FROM IFRS_VARCLUS_CLUSTER_DTL WHERE MODEL_ID = @MODEL_ID            
 --INSERT INTO IFRS_VARCLUS_CLUSTER_DTL(            
 -- [MODEL_ID],            
 -- [CLUSTER],            
 -- [VARIABLENAME],            
 -- [PC1],            
 -- [PC2],         
 -- [R_SQUARE_OWN],            
 -- [R_SQUARE_NEXT],            
 -- [R_SQUARE_RATIO],            
 -- [VAR_IDX])            
 --SELECT            
 -- [MODEL_ID],            
 -- [CLUSTER],            
 -- [VARIABLENAME],            
 -- [PC1],            
 -- [PC2],            
 -- [R_SQUARE_OWN],            
 -- [R_SQUARE_NEXT],            
 -- [R_SQUARE_RATIO],            
 -- [VAR_IDX]            
 --FROM TMP_IFRS_VARCLUS_CLUSTER_DTL WHERE MODEL_ID = @MODEL_ID            
 --DELETE FROM TMP_IFRS_VARCLUS_CLUSTER_DTL WHERE MODEL_ID = @MODEL_ID  
        
 DELETE FROM IFRS_R_ADF_TEST_DTL WHERE MODEL_ID = @MODEL_ID            
 INSERT INTO IFRS_R_ADF_TEST_DTL(            
  [MODEL_ID],            
  [MODEL_SEQ],            
  [DIFFERENCING_LAG],            
  [ADF_STATISTIC],            
  [PVALUE],            
  [LAGORDER],  
  [NULLHYPOTHESIS],  
  [ALTHYPOTHESIS],  
  [FINALRESULT])            
 SELECT            
  [MODEL_ID],            
  [MODEL_SEQ],            
  [DIFFERENCING_LAG],            
  [ADF_STATISTIC],            
  [PVALUE],            
  [LAGORDER],  
  [NULLHYPOTHESIS],  
  [ALTHYPOTHESIS],  
  [FINALRESULT]          
 FROM TMP_IFRS_R_ADF_TEST_DTL WHERE MODEL_ID = @MODEL_ID            
 DELETE FROM TMP_IFRS_R_ADF_TEST_DTL WHERE MODEL_ID = @MODEL_ID     
  
  
 DELETE FROM IFRS_R_TS_MODEL_ERROR WHERE MODEL_ID = @MODEL_ID            
 INSERT INTO IFRS_R_TS_MODEL_ERROR(            
  [MODEL_ID],            
  [MODEL_SEQ],            
  [MACRO_VARNAME],            
  [ERROR_MSG],            
  [ERROR_REMARKS])            
 SELECT            
  [MODEL_ID],            
  [MODEL_SEQ],            
  [MACRO_VARNAME],            
  [ERROR_MSG],            
  [ERROR_REMARKS]          
 FROM TMP_IFRS_R_TS_MODEL_ERROR WHERE MODEL_ID = @MODEL_ID            
 DELETE FROM TMP_IFRS_R_TS_MODEL_ERROR WHERE MODEL_ID = @MODEL_ID    
  
  
 DELETE FROM IFRS_MODEL_FILTER_DTL WHERE MODEL_ID = @MODEL_ID            
 INSERT INTO IFRS_MODEL_FILTER_DTL(            
  [MODEL_ID],            
  [CORRELATION_VAL],  
  [VARIABLENAME],            
  [EXPECTED_TREND],            
  [IN_SAMPLE_SET],  
  [CORR_SIGN],  
  [CORR_GT_FLG],  
  [PASS],  
  [VARIABLE_SELECTION],  
  [LOOKUPINITIAL],  
  [TRANSFORM_C],  
  [TRANSFORM_M],  
  [SUM_TRANSFORM],  
  [ABS_CORRELATION],  
  [ADJ_CORRELATION],  
  [ADF_STATISTIC_NC],  
  [ADF_PVALUE_NC],  
  [ADF_STATISTIC_C],  
  [ADF_PVALUE_C],  
  [ADF_STATISTIC_CT],  
  [ADF_PVALUE_CT])            
 SELECT            
  [MODEL_ID],            
  [CORRELATION_VAL],  
  [VARIABLENAME],            
  [EXPECTED_TREND],            
  [IN_SAMPLE_SET],  
  [CORR_SIGN],  
  [CORR_GT_FLG],  
  [PASS],  
  [VARIABLE_SELECTION],  
  [LOOKUPINITIAL],  
  [TRANSFORM_C],  
  [TRANSFORM_M],  
  [SUM_TRANSFORM],  
  [ABS_CORRELATION],  
  [ADJ_CORRELATION],  
  [ADF_STATISTIC_NC],  
  [ADF_PVALUE_NC],  
  [ADF_STATISTIC_C],  
  [ADF_PVALUE_C],  
  [ADF_STATISTIC_CT],  
  [ADF_PVALUE_CT]  
 FROM TMP_IFRS_MODEL_FILTER_DTL WHERE MODEL_ID = @MODEL_ID            
 DELETE FROM TMP_IFRS_MODEL_FILTER_DTL WHERE MODEL_ID = @MODEL_ID  
  
  
 DELETE FROM IFRS_1MEVLM_RESULT_DTL WHERE MODEL_ID = @MODEL_ID            
 INSERT INTO IFRS_1MEVLM_RESULT_DTL(            
  [MODEL_ID],            
  [ADJRSQ],  
  [RSQ],            
  [AIC],            
  [BIC],  
  [SSE],  
  [VARIABLENAME],  
  [COEFF_ESTM],  
  [STDERR],  
  [TVALUE],  
  [PROBT],  
  [EXP_TREND],  
  [VARIABLE_PASS],  
  [VARIABLE_SELECTION],  
  [LOOKUPINITIAL],  
  [STATISTIC_NC],  
  [PVALUE_NC],  
  [STATISTIC_C],  
  [PVALUE_C],  
  [STATISTIC_CT],  
  [PVALUE_CT])            
 SELECT            
  [MODEL_ID],            
  [ADJRSQ],  
  [RSQ],            
  [AIC],            
  [BIC],  
  [SSE],  
  [VARIABLENAME],  
  [COEFF_ESTM],  
  [STDERR],  
  [TVALUE],  
  [PROBT],  
  [EXP_TREND],  
  [VARIABLE_PASS],  
  [VARIABLE_SELECTION],  
  [LOOKUPINITIAL],  
  [STATISTIC_NC],  
  [PVALUE_NC],  
  [STATISTIC_C],  
  [PVALUE_C],  
  [STATISTIC_CT],  
  [PVALUE_CT]  
 FROM TMP_IFRS_1MEVLM_RESULT_DTL WHERE MODEL_ID = @MODEL_ID            
 DELETE FROM TMP_IFRS_1MEVLM_RESULT_DTL WHERE MODEL_ID = @MODEL_ID  
  
END
GO
