USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPFUNDINGDATASOURCE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPFUNDINGDATASOURCE]
(
	@DDATE_MAID VARCHAR(100) = ''
)
AS
BEGIN

	SELECT DISTINCT DATA_SOURCE,  
		DATA_SOURCE "Data Source" 
	FROM IFRS_MASTER_PRODUCT_PARAM
	WHERE DATA_SOURCE IN ('FCUBS');

END;

GO
