USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_MAA_ENR_SUM]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_MAA_ENR_SUM] (  
   @Period          DATE='1900-01-01',  
   @ProdGroup       int=0  
   )  
AS  
BEGIN  
 SET NOCOUNT ON;  
 DECLARE @V_Query   VARCHAR(MAX);  
 DECLARE @V_ColumnName VARCHAR(MAX);  
  
 SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + BUCKET_NAME  
 FROM IFRS_PD_MAA_ENR_SUM A  
 JOIN IFRS_BUCKET_DETAIL B  
 ON A.BUCKET_GROUP = B.BUCKET_GROUP  
 AND A.BUCKET_FROM = B.BUCKET_ID  
 AND A.PD_RULE_ID = @ProdGroup  
 AND A.EFF_DATE = @Period  
 GROUP BY B.BUCKET_NAME;  
  
 SET @V_Query = 
	'SELECT A.*, B.Total FROM(  
			Select TM_RULE_NAME AS ''PD Model Name'','''+CONVERT(varchar(20),@Period,113)+''' AS ''Period''
			,BUCKET_FROM AS ''Bucket Name'','+@V_ColumnName+' FROM(  
					Select distinct   
					B.BUCKET_NAME AS BUCKET_FROM,  
					C.BUCKET_NAME AS BUCKET_TO,  
					A.CALC_AMOUNT,  
					--CONVERT(decimal, CAST(A.CALC_AMOUNT AS money), 1) as CALC_AMOUNT
					D.TM_RULE_NAME
					FROM IFRS_PD_MAA_ENR_SUM A  
					JOIN IFRS_BUCKET_DETAIL B  
					ON A.BUCKET_GROUP = B.BUCKET_GROUP  
					AND A.BUCKET_FROM = B.BUCKET_ID  
					JOIN IFRS_BUCKET_DETAIL C  
					ON A.BUCKET_GROUP = C.BUCKET_GROUP  
					AND A.BUCKET_TO = C.BUCKET_ID  
					JOIN IFRS_PD_RULES_CONFIG D  
					ON A.PD_RULE_ID = D.PKID  
					AND A.PD_RULE_ID = ' + CAST(@ProdGroup AS VARCHAR(MAX)) + '  
					AND A.EFF_DATE =''' + CAST(@Period AS VARCHAR(10)) + '''   
			)TMP  
			pivot( 
				sum(CALC_AMOUNT)  
				for BUCKET_TO IN ('+ @V_ColumnName +')  
			)PVT  
		)A  
     JOIN   
     (  
			Select BUCKET_FROM,   
			--SUM(CONVERT(decimal, CAST(CALC_AMOUNT AS money), 1)) AS TOTAL
			SUM(CALC_AMOUNT) AS TOTAL  
			FROM  
			(  
				Select     
				B.BUCKET_NAME AS BUCKET_FROM,  
				A.CALC_AMOUNT  
				FROM IFRS_PD_MAA_ENR_SUM A  
				JOIN IFRS_BUCKET_DETAIL B  
				ON A.BUCKET_GROUP = B.BUCKET_GROUP  
				AND A.BUCKET_FROM = B.BUCKET_ID  
				JOIN IFRS_PD_RULES_CONFIG D  
				ON A.PD_RULE_ID = D.PKID  
				AND A.PD_RULE_ID = ' + CAST(@ProdGroup AS VARCHAR(MAX)) + '  
				AND A.EFF_DATE =''' + CAST(@Period AS VARCHAR(10)) + '''  
				GROUP BY B.BUCKET_NAME,   
				A.CALC_AMOUNT   
			) TMP2  
			GROUP BY BUCKET_FROM  
     ) B ON A.[Bucket Name] = B.BUCKET_FROM';  
 print (@V_Query);  
 exec (@V_Query);  
END  

GO
