USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADREJECTFEECOSTLIAB]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_UPLOADREJECTFEECOSTLIAB]
(
@uploadID int,
@Remarks varchar(200),
@rejectedBy varchar(36),
@rejectedHost varchar(30)
)
AS
BEGIN TRAN
		
		--UPDATE TBLU_FEECOST_INFO
		UPDATE TBLU_FEECOST_INFO
		SET [Status] = 'REJECTED'
			,Remarks = @Remarks
            ,UpdatedBy = @rejectedBy
            ,UpdatedDate = getdate()
            ,UpdatedHost = @rejectedHost
		WHERE UploadID = @uploadID

		--DELETE TBLU_TRANS_LIAB_PENDING
		DELETE FROM TBLU_TRANS_LIAB_PENDING WHERE UPLOADID=@uploadID

		--DELETE TBLU_TRANS_LIAB_TEMP
		DELETE FROM TBLU_TRANS_LIAB_TEMP WHERE UPLOADID = @uploadID
       
IF @@ERROR <> 0                  
	ROLLBACK TRAN
ELSE     
	COMMIT TRAN

GO
