USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USP_IFRS_CHECKING_DATA]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_IFRS_CHECKING_DATA]
	@STATUS CHAR(1) OUTPUT
AS  
BEGIN  
SET NOCOUNT ON  
     
DECLARE @COUNT INT  
 , @BATCH VARCHAR(20)    
 , @CURRDATE DATETIME    
 , @STEP_NO VARCHAR(4)    
 , @ERRDESC NVARCHAR(4000)    
 , @SCCDESC NVARCHAR(4000)    
  
 SET @STATUS = 'T'    
 SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE_AMORT (NOLOCK)  
 SELECT @BATCH = COMMONUSAGE FROM TBLM_COMMONCODEHEADER (NOLOCK) WHERE COMMONCODE = 'AP992'  
  
 DELETE A  
 FROM IFRS_EXCEPTION_ACCOUNT A  
 WHERE A.DOWNLOAD_DATE = @CURRDATE  
   
 /* VALIDATION PRODUCT NOT FOUND IN SETTING PRODUCT PARAMETER */  
 ---------------------------------------------------------------  
 SET @STEP_NO = '1000'  
 SET @ERRDESC = 'VALIDATION PRODUCT NOT FOUND IN SETTING PRODUCT PARAMETER'  
 SET @SCCDESC = 'VALIDATION SUCCESS FOR SETTING PRODUCT PARAMETER'  
  
 SELECT @COUNT = COUNT(1)  
 FROM IFRS_MASTER_ACCOUNT A (NOLOCK)  
  LEFT OUTER JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)  
   ON A.PRODUCT_CODE = B.PRD_CODE  
   AND A.PRODUCT_TYPE = B.PRD_TYPE  
   AND A.DATA_SOURCE = B.DATA_SOURCE  
 WHERE A.DOWNLOAD_DATE = @CURRDATE   
  AND B.PRD_CODE IS NULL   
    
 IF @COUNT > 0  
 BEGIN  
  SET @STATUS ='F'  
    
  INSERT INTO IFRS_EXCEPTION_ACCOUNT (  
   DOWNLOAD_DATE,   
   EXCEPTION_ID,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   TABLE_NAME,   
   FIELD_NAME,   
   VALUE,   
   CREATEDBY,   
   CREATEDDATE,   
   CUSTOMER_NAME,   
   DATA_SOURCE,   
   PRODUCT_GROUP  
  )  
  SELECT  
   A.DOWNLOAD_DATE,   
   ISNULL(C.PKID, 0) AS EXCEPTION_ID,  
   A.MASTERID,  
   A.ACCOUNT_NUMBER,  
   'IFRS_MASTER_ACCOUNT' AS TABLE_NAME,  
   'PRD_CODE' AS FIELD_NAME,  
   A.PRODUCT_CODE AS VALUE,  
   'SYSTEM' AS CREATEDBY,  
   GETDATE() AS CREATEDDATE,  
   A.CUSTOMER_NAME,  
   A.DATA_SOURCE,  
   A.PRODUCT_GROUP  
  FROM IFRS_MASTER_ACCOUNT A (NOLOCK)  
   LEFT OUTER JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)  
    ON A.PRODUCT_CODE = B.PRD_CODE  
    AND A.PRODUCT_TYPE = B.PRD_TYPE  
    AND A.DATA_SOURCE = B.DATA_SOURCE  
   LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK)  
    ON EXCEPTION_CODE = 'IMA_PRODUCT'  
  WHERE A.DOWNLOAD_DATE = @CURRDATE   
   AND B.PRD_CODE IS NULL  
 END  
    
 /* VALIDATION LOAN_START_DATE > LOAN_DUE_DATE */    
 ------------------------------------------------    
 SET @STEP_NO = '1001'  
 SET @ERRDESC = 'VALIDATION ERROR FOR LOAN START DATE > LOAN DUE DATE'  
 SET @SCCDESC = 'VALIDATION SUCCESS FOR LOAN START DATE > LOAN DUE DATE'  
  
 SELECT @COUNT = COUNT(1)
 FROM IFRS_MASTER_ACCOUNT A (NOLOCK)
 INNER JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)
   ON A.PRODUCT_CODE = B.PRD_CODE
   AND A.PRODUCT_TYPE = B.PRD_TYPE
   AND ISNULL(B.REPAY_TYPE_VALUE, ' ') <> 'REV'
 WHERE A.LOAN_START_DATE > A.LOAN_DUE_DATE
  AND A.DOWNLOAD_DATE = @CURRDATE
  AND A.DOWNLOAD_DATE = A.LOAN_START_DATE
  
 IF @COUNT > 0  
 BEGIN  
  SET @STATUS = 'F'  
  
  INSERT INTO IFRS_EXCEPTION_ACCOUNT(  
   DOWNLOAD_DATE,   
   EXCEPTION_ID,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   TABLE_NAME,   
   FIELD_NAME,   
   VALUE,   
   CREATEDBY,   
   CREATEDDATE,   
   CUSTOMER_NAME,   
   DATA_SOURCE,   
   PRODUCT_GROUP  
  )  
  SELECT   
   A.DOWNLOAD_DATE,   
   ISNULL(C.PKID, 0) AS EXCEPTION_ID,  
   A.MASTERID,  
   A.ACCOUNT_NUMBER,  
   'IFRS_MASTER_ACCOUNT' AS TABLE_NAME,  
   'LOAN_START_DATE' AS FIELD_NAME,  
   A.PRODUCT_CODE AS VALUE,  
   'SYSTEM' AS CREATEDBY,  
   GETDATE() AS CREATEDDATE,  
   A.CUSTOMER_NAME,  
   A.DATA_SOURCE,  
   A.PRODUCT_GROUP  
  FROM IFRS_MASTER_ACCOUNT A (NOLOCK)
   INNER JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)    
    ON A.PRODUCT_CODE = B.PRD_CODE
    AND A.PRODUCT_TYPE = B.PRD_TYPE
    AND ISNULL(B.REPAY_TYPE_VALUE, ' ') <> 'REV'
   LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK)  
    ON EXCEPTION_CODE = 'IMA_LOAN_DATE'
  WHERE A.LOAN_START_DATE > A.LOAN_DUE_DATE    
    AND A.DOWNLOAD_DATE = @CURRDATE    
    AND A.DOWNLOAD_DATE = A.LOAN_START_DATE
 END  
  
 /* VALIDATION BATCH NUMBER */    
 -----------------------------     
  
   
 /* VALIDATION INTEREST_RATE */  
 ------------------------------    
 SET @STEP_NO = '1002'  
 SET @ERRDESC = 'VALIDATION ERROR FOR INTEREST RATE LESS THAN 0 OR INTEREST RATE IS NULL '  
 SET @SCCDESC = 'VALIDATION SUCCESS FOR INTEREST RATE'  
  
 SELECT @COUNT = COUNT(1)  
 FROM IFRS_MASTER_ACCOUNT A (NOLOCK)  
  INNER JOIN IFRS_MASTER_PRODUCT_PARAM B  
   ON A.PRODUCT_CODE = B.PRD_CODE  
   AND A.PRODUCT_TYPE = B.PRD_TYPE     
   AND ISNULL(B.REPAY_TYPE_VALUE, ' ') <> 'REV'
 -- WHERE ISNULL(LTRIM(RTRIM(CONVERT(INT,INTEREST_RATE))),0) <= 0 AND A.DOWNLOAD_DATE = @currDate  
 WHERE ISNULL(A.INTEREST_RATE, 0) <= 0  
  AND A.DOWNLOAD_DATE = @CURRDATE  
  AND ISNULL(B.PRD_GROUP, ' ') <> ' '  
  /*Add more filter 20150601*/  
  AND CASE WHEN A.RESTRUCTURE_FLAG = 1 THEN 'Y' ELSE 'N' END <> 'Y'  
  /*Add more filter 20150601*/  
    
 IF @COUNT > 0  
 BEGIN  
  SET @STATUS = 'F'  
  
  INSERT INTO IFRS_EXCEPTION_ACCOUNT(  
   DOWNLOAD_DATE,   
   EXCEPTION_ID,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   TABLE_NAME,   
   FIELD_NAME,   
   VALUE,   
   CREATEDBY,   
   CREATEDDATE,   
   CUSTOMER_NAME,   
   DATA_SOURCE,   
   PRODUCT_GROUP  
  )  
  SELECT   
   A.DOWNLOAD_DATE,   
   ISNULL(C.PKID, 0) AS EXCEPTION_ID,  
   A.MASTERID,  
   A.ACCOUNT_NUMBER,  
   'IFRS_MASTER_ACCOUNT' AS TABLE_NAME,  
   'INTEREST_RATE' AS FIELD_NAME,  
   A.PRODUCT_CODE AS VALUE,  
   'SYSTEM' AS CREATEDBY,  
   GETDATE() AS CREATEDDATE,  
   A.CUSTOMER_NAME,  
   A.DATA_SOURCE,  
   A.PRODUCT_GROUP  
  FROM IFRS_MASTER_ACCOUNT A (NOLOCK)  
   INNER JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)  
    ON A.PRODUCT_CODE = B.PRD_CODE  
    AND A.PRODUCT_TYPE = B.PRD_TYPE  
    AND ISNULL(B.REPAY_TYPE_VALUE, ' ') <> 'REV'  
   LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK)  
    ON EXCEPTION_CODE = 'IMA_INTEREST_RATE'  
  WHERE ISNULL(A.INTEREST_RATE,0) <= 0   
   AND A.DOWNLOAD_DATE = @CURRDATE   
   AND ISNULL(B.PRD_GROUP, ' ') <> ' '  
   /*Add more filter 20150601*/     
   AND CASE WHEN A.RESTRUCTURE_FLAG = 1 THEN 'Y' ELSE 'N' END <> 'Y'  
   /*Add more filter 20150601*/  
 END  
  
    
 /* VALIDATION INTEREST_CALCULATION_CODE */    
 ------------------------------------------    
 SET @STEP_NO = '1003'  
 SET @ERRDESC = 'VALIDATION ERROR FOR INTEREST CALCULATION CODE NOT IN 2 or 6 '  
 SET @SCCDESC = 'VALIDATION SUCCESS FOR INTEREST CALCULATION CODE'  
    
 SELECT @COUNT = COUNT(1)    
 FROM IFRS_MASTER_ACCOUNT A (NOLOCK)     
  INNER JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)  
   ON A.PRODUCT_CODE = B.PRD_CODE  
   AND A.PRODUCT_TYPE = B.PRD_TYPE  
   AND ISNULL(REPAY_TYPE_VALUE, ' ') <> 'REV'  
 WHERE ISNULL(LTRIM(RTRIM(INTEREST_CALCULATION_CODE)),'0') NOT IN ('2','6')  
  AND A.DOWNLOAD_DATE = @CURRDATE  
  
 IF @COUNT > 0  
 BEGIN  
  SET @STATUS = 'F'  
  
  INSERT INTO IFRS_EXCEPTION_ACCOUNT(  
   DOWNLOAD_DATE,   
   EXCEPTION_ID,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   TABLE_NAME,   
   FIELD_NAME,   
   VALUE,   
   CREATEDBY,   
   CREATEDDATE,   
   CUSTOMER_NAME,   
   DATA_SOURCE,   
   PRODUCT_GROUP  
  )  
  SELECT   
   A.DOWNLOAD_DATE,   
   ISNULL(C.PKID, 0) AS EXCEPTION_ID,  
   A.MASTERID,  
   A.ACCOUNT_NUMBER,  
   'IFRS_MASTER_ACCOUNT' AS TABLE_NAME,  
   'INTEREST_CALCULATION_CODE' AS FIELD_NAME,  
   A.PRODUCT_CODE AS VALUE,  
   'SYSTEM' AS CREATEDBY,  
   GETDATE() AS CREATEDDATE,  
   A.CUSTOMER_NAME,  
   A.DATA_SOURCE,  
   A.PRODUCT_GROUP  
  FROM IFRS_MASTER_ACCOUNT A (NOLOCK)    
   INNER JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)  
    ON A.PRODUCT_CODE = B.PRD_CODE  
    AND A.PRODUCT_TYPE = B.PRD_TYPE     
    AND ISNULL(REPAY_TYPE_VALUE, ' ') <> 'REV'  
   LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK)  
    ON EXCEPTION_CODE = 'IMA_INT_CALC_CODE'  
  WHERE (INTEREST_CALCULATION_CODE NOT IN ('2','6') OR INTEREST_CALCULATION_CODE IS NULL)
   AND A.DOWNLOAD_DATE = @CURRDATE  
 END  
                          
 /* VALIDATION PAYMENT_CODE */  
 SET @STEP_NO = '1004'  
 SET @ERRDESC = 'VALIDATION ERROR FOR PAYMENT CODE NOT IN 0 OR 1 OR 2 OR 6 '  
 SET @SCCDESC = 'VALIDATION SUCCESS FOR PAYMENT CODE'  
  
 SELECT @COUNT = COUNT(1)    
 FROM IFRS_MASTER_ACCOUNT A (NOLOCK)  
  INNER JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)  
   ON A.PRODUCT_CODE = B.PRD_CODE     
   AND A.PRODUCT_TYPE = B.PRD_TYPE     
   AND ISNULL(REPAY_TYPE_VALUE, ' ') <> 'REV'  
 WHERE ISNULL(LTRIM(RTRIM(PAYMENT_CODE)),'A')NOT IN('1','2','6','0')  
  AND A.DOWNLOAD_DATE = @CURRDATE  
    
 IF @COUNT > 0  
 BEGIN  
  SET @STATUS = 'F'  
    
  INSERT INTO IFRS_EXCEPTION_ACCOUNT(  
   DOWNLOAD_DATE,   
   EXCEPTION_ID,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   TABLE_NAME,   
   FIELD_NAME,   
   VALUE,   
   CREATEDBY,   
   CREATEDDATE,   
   CUSTOMER_NAME,   
   DATA_SOURCE,   
   PRODUCT_GROUP  
  )  
  SELECT   
   A.DOWNLOAD_DATE,   
   ISNULL(C.PKID, 0) AS EXCEPTION_ID,  
   A.MASTERID,  
   A.ACCOUNT_NUMBER,  
   'IFRS_MASTER_ACCOUNT' AS TABLE_NAME,  
   'PAYMENT_CODE' AS FIELD_NAME,  
   A.PRODUCT_CODE AS VALUE,  
   'SYSTEM' AS CREATEDBY,  
   GETDATE() AS CREATEDDATE,  
   A.CUSTOMER_NAME,  
   A.DATA_SOURCE,  
   A.PRODUCT_GROUP  
  FROM IFRS_MASTER_ACCOUNT A (NOLOCK)     
   INNER JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)  
    ON A.PRODUCT_CODE = B.PRD_CODE     
    AND A.PRODUCT_TYPE = B.PRD_TYPE     
    AND ISNULL(REPAY_TYPE_VALUE, ' ') <>'REV'  
    AND A.DOWNLOAD_DATE = @CURRDATE  
   LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK)  
    ON EXCEPTION_CODE = 'IMA_PAYMENT_CODE'  
  WHERE ISNULL(LTRIM(RTRIM(PAYMENT_CODE)),'A') NOT IN('1','2','6','0')  
   AND A.DOWNLOAD_DATE = @CURRDATE  
 END  
  
 /* VALIDATION PAYMENT_TERM */    
 -----------------------------    
 SET @STEP_NO = '1005'  
 SET @ERRDESC = 'VALIDATION ERROR FOR PAYMENT TERM NOT IN 1 or 3 or 6 or 12 '  
 SET @SCCDESC = 'VALIDATION SUCCESS FOR PAYMENT TERM '  
  
 SELECT @COUNT = COUNT(1)     
 FROM IFRS_MASTER_ACCOUNT A (NOLOCK)  
  INNER JOIN IFRS_MASTER_PRODUCT_PARAM B   
   ON A.PRODUCT_CODE = B.PRD_CODE   
   AND A.PRODUCT_TYPE = B.PRD_TYPE   
   AND ISNULL(REPAY_TYPE_VALUE, ' ') <> 'REV'  
 WHERE ISNULL(LTRIM(RTRIM(PAYMENT_TERM)),'0') NOT IN ('1','3','6','12', 'M', 'Q', 'H','Y','0')  
  AND A.DOWNLOAD_DATE = @CURRDATE  
    
 IF @COUNT > 0  
 BEGIN  
  SET @STATUS = 'F'  
    
  INSERT INTO IFRS_EXCEPTION_ACCOUNT(  
   DOWNLOAD_DATE,   
   EXCEPTION_ID,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   TABLE_NAME,   
   FIELD_NAME,   
   VALUE,   
   CREATEDBY,   
   CREATEDDATE,   
   CUSTOMER_NAME,   
   DATA_SOURCE,   
   PRODUCT_GROUP  
  )  
  SELECT   
   A.DOWNLOAD_DATE,   
   ISNULL(C.PKID, 0) AS EXCEPTION_ID,  
   A.MASTERID,  
   A.ACCOUNT_NUMBER,  
   'IFRS_MASTER_ACCOUNT' AS TABLE_NAME,  
   'PAYMENT_TERM' AS FIELD_NAME,  
   A.PRODUCT_CODE AS VALUE,  
   'SYSTEM' AS CREATEDBY,  
   GETDATE() AS CREATEDDATE,  
   A.CUSTOMER_NAME,  
   A.DATA_SOURCE,  
   A.PRODUCT_GROUP  
  FROM IFRS_MASTER_ACCOUNT A (NOLOCK)  
   INNER JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)  
    ON A.PRODUCT_CODE = B.PRD_CODE  
    AND A.PRODUCT_TYPE = B.PRD_TYPE    
    AND ISNULL(REPAY_TYPE_VALUE, ' ') <> 'REV'  
   LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK)  
    ON EXCEPTION_CODE = 'IMA_PAYMENT_TERM'  
  WHERE ISNULL(LTRIM(RTRIM(PAYMENT_TERM)),'0') NOT IN ('1','3','6','12', 'M', 'Q', 'H','Y','0')  
   AND A.DOWNLOAD_DATE = @CURRDATE  
 END  
  
 /* TRANSACTION PARAMETER FEE NOT DEFINED YET */    
 -----------------------------    
 SET @STEP_NO = '1006'  
 SET @ERRDESC = 'VALIDATION ERROR FOR TRANSACTION PARAMETER FEE NOT DEFINED YET'  
 SET @SCCDESC = 'VALIDATION SUCCESS FOR TRANSACTION PARAMETER FEE'  
  
 SELECT @COUNT = COUNT(1)   
 FROM IFRS_TRANSACTION_DAILY X      
  LEFT JOIN IFRS_MASTER_TRANS_PARAM B     
   ON (X.DATA_SOURCE = B.DATA_SOURCE OR ISNULL(B.DATA_SOURCE, 'ALL') = 'ALL')    
   AND (X.PRD_TYPE = B.PRD_TYPE OR ISNULL(B.PRD_TYPE, 'ALL') = 'ALL')     
   AND (X.PRD_CODE = B.PRD_CODE OR ISNULL(B.PRD_CODE, 'ALL') = 'ALL')    
   AND X.TRX_CODE = B.TRX_CODE      
   AND (X.CCY = B.CCY  OR B.CCY = 'ALL')     
 LEFT JOIN IFRS_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_TRX01'      
 WHERE B.TRX_CODE IS NULL   
  AND X.DOWNLOAD_DATE = @CURRDATE  
  
 IF @COUNT > 0  
 BEGIN  
  SET @STATUS = 'F'  
    
  INSERT INTO IFRS_EXCEPTION_ACCOUNT(  
   DOWNLOAD_DATE,   
   EXCEPTION_ID,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   TABLE_NAME,   
   FIELD_NAME,   
   VALUE,   
   CREATEDBY,   
   CREATEDDATE,   
   CUSTOMER_NAME,  
   DATA_SOURCE,   
   PRODUCT_GROUP  
  )  
  SELECT   
   A.DOWNLOAD_DATE,   
   ISNULL(C.PKID, 0) AS EXCEPTION_ID,  
   A.MASTERID,  
   A.ACCOUNT_NUMBER,  
   'IFRS_TRANSACTION_DAILY' AS TABLE_NAME,  
   'TRX_CODE' AS FIELD_NAME,  
   A.PRD_CODE AS VALUE,  
   'SYSTEM' AS CREATEDBY,  
   GETDATE() AS CREATEDDATE,  
   D.CUSTOMER_NAME,  
   A.DATA_SOURCE,  
   D.PRODUCT_GROUP  
  FROM IFRS_TRANSACTION_DAILY A  
   LEFT JOIN IFRS_MASTER_TRANS_PARAM B     
    ON (A.DATA_SOURCE = B.DATA_SOURCE OR ISNULL(B.DATA_SOURCE, 'ALL') = 'ALL')    
    AND (A.PRD_TYPE = B.PRD_TYPE OR ISNULL(B.PRD_TYPE, 'ALL') = 'ALL')     
    AND (A.PRD_CODE = B.PRD_CODE OR ISNULL(B.PRD_CODE, 'ALL') = 'ALL')    
    AND A.TRX_CODE = B.TRX_CODE      
    AND (A.CCY = B.CCY  OR B.CCY = 'ALL')  
   LEFT JOIN IFRS_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_TRX01'  
   JOIN IFRS_MASTER_ACCOUNT D ON A.DOWNLOAD_DATE = D.DOWNLOAD_DATE AND A.MASTERID = D.MASTERID  
  WHERE B.TRX_CODE IS NULL   
   AND A.DOWNLOAD_DATE = @CURRDATE  
 END  
      
 /* TRANSACTION REF NUMBER NOT FOUND */  
 -----------------------------    
 SET @STEP_NO = '1007'  
 SET @ERRDESC = 'VALIDATION ERROR FOR TRANSACTION REF NUMBER NOT FOUND'  
 SET @SCCDESC = 'VALIDATION SUCCESS FOR TRANSACTION REF NUMBER'  
  
 SELECT @COUNT = COUNT(1)   
 FROM IFRS_TRANSACTION_DAILY A     
 LEFT JOIN IFRS_MASTER_EXCEPTION B ON B.EXCEPTION_CODE = 'AMT_TRX03'      
 WHERE A.TRX_REFERENCE_NUMBER IS NULL   
  AND A.DOWNLOAD_DATE = @CURRDATE  
  
 IF @COUNT > 0  
 BEGIN  
  SET @STATUS = 'F'  
    
  INSERT INTO IFRS_EXCEPTION_ACCOUNT(  
   DOWNLOAD_DATE,   
   EXCEPTION_ID,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   TABLE_NAME,   
   FIELD_NAME,   
   VALUE,   
   CREATEDBY,   
   CREATEDDATE,   
   CUSTOMER_NAME,  
   DATA_SOURCE,   
   PRODUCT_GROUP  
  )  
  SELECT   
   A.DOWNLOAD_DATE,   
   ISNULL(C.PKID, 0) AS EXCEPTION_ID,  
   A.MASTERID,  
   A.ACCOUNT_NUMBER,  
   'IFRS_TRANSACTION_DAILY' AS TABLE_NAME,  
   'TRX_CODE' AS FIELD_NAME,  
   A.PRD_CODE AS VALUE,  
   'SYSTEM' AS CREATEDBY,  
   GETDATE() AS CREATEDDATE,  
   C.CUSTOMER_NAME,  
   A.DATA_SOURCE,  
   C.PRODUCT_GROUP  
  FROM IFRS_TRANSACTION_DAILY A     
   LEFT JOIN IFRS_MASTER_EXCEPTION B ON B.EXCEPTION_CODE = 'AMT_TRX03'  
   JOIN IFRS_MASTER_ACCOUNT C ON A.DOWNLOAD_DATE = C.DOWNLOAD_DATE AND A.MASTERID = C.MASTERID  
  WHERE A.TRX_REFERENCE_NUMBER IS NULL   
   AND A.DOWNLOAD_DATE = @CURRDATE  
 END  
  
 /* MASTERID NOT FOUND IN IMA */  
 -----------------------------    
 SET @STEP_NO = '1008'  
 SET @ERRDESC = 'VALIDATION ERROR FOR MASTERID NOT FOUND IN IMA'  
 SET @SCCDESC = 'VALIDATION SUCCESS FOR MASTERID'  
  
 SELECT @COUNT = COUNT(1)  
 FROM IFRS_TRANSACTION_DAILY A  
  LEFT JOIN IFRS_MASTER_ACCOUNT B ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE  
  LEFT JOIN IFRS_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_TRX04'      
 WHERE A.MASTERID NOT IN (SELECT MASTERID FROM IFRS_MASTER_ACCOUNT)  
  AND A.DOWNLOAD_DATE = @CURRDATE  
  
 IF @COUNT > 0  
 BEGIN  
  SET @STATUS = 'F'  
    
  INSERT INTO IFRS_EXCEPTION_ACCOUNT(  
   DOWNLOAD_DATE,   
   EXCEPTION_ID,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   TABLE_NAME,   
   FIELD_NAME,   
   VALUE,   
   CREATEDBY,   
   CREATEDDATE,   
   CUSTOMER_NAME,  
   DATA_SOURCE,   
   PRODUCT_GROUP  
  )  
  SELECT   
   A.DOWNLOAD_DATE,   
   ISNULL(C.PKID, 0) AS EXCEPTION_ID,  
   A.MASTERID,  
   A.ACCOUNT_NUMBER,  
   'IFRS_TRANSACTION_DAILY' AS TABLE_NAME,  
   'TRX_CODE' AS FIELD_NAME,  
   A.PRD_CODE AS VALUE,  
   'SYSTEM' AS CREATEDBY,  
   GETDATE() AS CREATEDDATE,  
   B.CUSTOMER_NAME,  
   A.DATA_SOURCE,  
   B.PRODUCT_GROUP  
  FROM IFRS_TRANSACTION_DAILY A  
   LEFT JOIN IFRS_MASTER_ACCOUNT B ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE  
   LEFT JOIN IFRS_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_TRX04'  
  WHERE A.MASTERID NOT IN (SELECT MASTERID FROM IFRS_MASTER_ACCOUNT)  
   AND A.DOWNLOAD_DATE = @CURRDATE  
 END

 /* IFRS9 CLASSIFICATION NOT FOUND IN IMA */  
 -----------------------------    
 SET @STEP_NO = '1009'  
 SET @ERRDESC = 'VALIDATION ERROR FOR IFRS9 CLASSIFICATION NOT FOUND IN IMA'  
 SET @SCCDESC = 'VALIDATION SUCCESS FOR IFRS9 CLASSIFICATION'  
  
 SELECT @COUNT = COUNT(1)  
 FROM IFRS_MASTER_ACCOUNT A
  JOIN VW_AC_PRODUCT_CLASS B ON A.PRODUCT_CODE = B.PRD_CODE
  JOIN IFRS_AC_OVERRIDE C ON A.MASTERID = C.MASTERID AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE
  LEFT JOIN IFRS_MASTER_EXCEPTION D ON D.EXCEPTION_CODE = 'AMT_IFRS9CLASS'
 WHERE B.ASSET_CLASS IS NULL AND C.ASSET_CLS IS NULL
  AND A.DOWNLOAD_DATE = @CURRDATE
  
 IF @COUNT > 0  
 BEGIN  
  SET @STATUS = 'F'  
    
  INSERT INTO IFRS_EXCEPTION_ACCOUNT(  
   DOWNLOAD_DATE,   
   EXCEPTION_ID,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   TABLE_NAME,   
   FIELD_NAME,   
   VALUE,   
   CREATEDBY,   
   CREATEDDATE,   
   CUSTOMER_NAME,  
   DATA_SOURCE,   
   PRODUCT_GROUP  
  )  
  SELECT   
   A.DOWNLOAD_DATE,   
   ISNULL(C.PKID, 0) AS EXCEPTION_ID,  
   A.MASTERID,  
   A.ACCOUNT_NUMBER,  
   'IFRS_TRANSACTION_DAILY' AS TABLE_NAME,  
   'TRX_CODE' AS FIELD_NAME,  
   A.PRODUCT_CODE AS VALUE,  
   'SYSTEM' AS CREATEDBY,  
   GETDATE() AS CREATEDDATE,  
   A.CUSTOMER_NAME,  
   A.DATA_SOURCE,  
   A.PRODUCT_GROUP  
  FROM IFRS_MASTER_ACCOUNT A
   JOIN VW_AC_PRODUCT_CLASS B ON A.PRODUCT_CODE = B.PRD_CODE
   JOIN IFRS_AC_OVERRIDE C ON A.MASTERID = C.MASTERID AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE
   LEFT JOIN IFRS_MASTER_EXCEPTION D ON D.EXCEPTION_CODE = 'AMT_IFRS9CLASS'
  WHERE B.ASSET_CLASS IS NULL AND C.ASSET_CLS IS NULL
   AND A.DOWNLOAD_DATE = @CURRDATE
 END
  
-- Added by Johan 25 Oct 2012: Enhance PD-LGD    
/* VALIDATION PD-LGD */    
----------------------------------------------  
  
IF @STATUS = 'F'  
 BEGIN    
  RAISERROR ('VALIDATION ERROR', 16, 1)    
 RETURN    
 END    
END






GO
