USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_LBM_SYNC_PAYM_CORE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_LBM_SYNC_PAYM_CORE]
AS
BEGIN
	TRUNCATE TABLE IFRS_LBM_PAYM_CORE_SRC

	INSERT INTO IFRS_LBM_PAYM_CORE_SRC
	SELECT B.*
	FROM (
		SELECT *
		FROM IFRS_IMA_AMORT_CURR
		WHERE (
				STAFF_LOAN_FLAG = 'Y'
				OR BELOW_MARKET_FLAG = 1
				)
		) A
	LEFT JOIN IFRS_PAYM_CORE_SRC B ON A.MASTERID = B.MASTERID
END

GO
