USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GL_EXCEPTION_REPORT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GL_EXCEPTION_REPORT]
	@DOWNLOAD_DATE [date] = '01/01/2000',
	@EXCEPTION_VALUE varchar(3) = '',
	@Exception varchar(50) = ''
AS
BEGIN
	
	SELECT DOWNLOAD_DATE as "Download Date",
		EXCEPTION_CODE as "Exception Code",
		EXCEPTION_VALUE as "Mapping Type",
		FIELD_NAME as "Exception",
		FIELD_VALUE as "Field Value",
		REMARKS as "Remarks"
	FROM GL_EXCEPTION_REPORT
    WHERE DOWNLOAD_DATE = @DOWNLOAD_DATE
		AND EXCEPTION_CODE like '%' + @Exception + '%'
		AND EXCEPTION_VALUE like '%' + @EXCEPTION_VALUE + '%'
		  
END

GO
