USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPFAFTERFL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPPFAFTERFL]
AS        
BEGIN      
	
	SELECT
		A.SEGMENTATION_ID,
		B.SUB_SEGMENT
	FROM IFRS_ECL_MODEL_DETAIL_PD A
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID
	WHERE ECL_MODEL_ID IN (SELECT PKID FROM IFRS_ECL_MODEL_HEADER WHERE ACTIVE_STATUS=1 AND IS_DELETE=0)
	ORDER BY B.SUB_SEGMENT
      
END;   
GO
