USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPFUNDINGPRODUCTTYPE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPFUNDINGPRODUCTTYPE]
(
	@datasource VARCHAR(50)
)
AS  
BEGIN

	DECLARE @Query VARCHAR(5000);

	SET @Query = 
		'SELECT DISTINCT PRD_TYPE "PRODUCT_TYPE",
			PRD_TYPE "Product Type"
		FROM IFRS_MASTER_PRODUCT_PARAM
		WHERE '
		+ CASE WHEN @datasource = ''
			THEN 'DATA_SOURCE IN (''FCUBS'') '
			ELSE 'DATA_SOURCE LIKE ''%' + @datasource + '%'' '
		END;

	EXEC (@Query);

END; 

GO
