USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADVALUECOLUMN]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOADVALUECOLUMN]    
AS    
BEGIN    
    
	SELECT
		DISTINCT VALUE1 ME_SOURCE_VALUE_COLUMN,      
		[DESCRIPTION] "Value Column",
		SEQUENCE,
		PARENTCOMMONCODEVALUE
	FROM TBLM_COMMONCODEDETAIL    
	WHERE COMMONCODE = 'B114'
		AND ISNULL(IS_DELETE, 0) = 0
	ORDER BY SEQUENCE   
    
END 

GO
