USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOADLGDANALYSISLEGEND]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC  [dbo].[USPR_LOADLGDANALYSISLEGEND]      
(
	@PKID BIGINT,
	@DOWNLOAD_DATE DATE
)
AS      
BEGIN    
 
 SELECT
	(SELECT B.DESCRIPTION FROM TBLM_COMMONCODEDETAIL B WHERE B.COMMONCODE = 'B71' AND B.VALUE1 = A.LGD_METHOD) AS LGD_METHOD,
	A.CALC_METHOD,
	CASE WHEN A.EXCLUDE_RESTRUCTURE_FLAG = 1
		THEN 'YES'
		ELSE 'NO'
	END AS EXCLUDE_RESTRUCTURE_FLAG,
	CASE WHEN A.WORKOUT_PERIOD = 0
		THEN 'N/A'
		ELSE CAST(A.WORKOUT_PERIOD AS VARCHAR(5))
	END AS WORKOUT_PERIOD,
	A.LGW_HISTORICAL_DATA,
	LGD_METHOD AS LGD_METHOD_CODE
FROM IFRS_LGD_RULES_CONFIG A
WHERE A.PKID = @PKID

END 

GO
