USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_RECONCILE_GL_OUTPUT]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LI_RECONCILE_GL_OUTPUT]    
AS    
BEGIN    
  
 DECLARE @DayBeforeReportDate DATETIME,@REPORTINGDATE DATETIME,@Prevdate DATETIME    
    
 select  @REPORTINGDATE = CURRDATE    
 from IFRS_PRC_DATE (nolock);    
    
 --SET @REPORTINGDATE = '2014-09-30'    
 SET @DayBeforeReportDate = DATEADD(DAY,-1,@REPORTINGDATE)    
 SET @Prevdate = DBO.FN_LASTDAY(DATEADD(MONTH,-1,@REPORTINGDATE))    
     
 TRUNCATE TABLE IFRS_LI_RECON_GL_OUTPUT    
     
 CREATE TABLE #IFRS_LI_JOURNAL_DATA_RECON (    
  TRANS_DATETIME [date] NULL,    
  ACCNT_CODE [varchar](30) NULL,    
  BR_CODE [varchar](50) NULL,    
  AMOUNT [decimal](32, 6) NULL    
 )    
     
 CREATE TABLE #IFRS_LI_JOURNAL_DATA_SUM (    
  TRANS_DATETIME [date] NULL,    
  ACCNT_CODE [varchar](30) NULL,    
  BR_CODE [varchar](50) NULL,    
  AMOUNT [decimal](32, 6) NULL    
 )    
     
 CREATE TABLE #IFRS_LI_JOURNAL_OUTPUT_RECON (    
  TRANS_DATETIME [date] NULL,    
  ACCNT_CODE [varchar](30) NULL,    
  BR_CODE [varchar](50) NULL,    
  AMOUNT [decimal](32, 6) NULL    
 )    
     
 -- GL NOT IMPAIRMENT    
 --insert into #IFRS_JOURNAL_DATA_RECON    
 INSERT INTO #IFRS_LI_JOURNAL_DATA_RECON    
 (    
  TRANS_DATETIME,    
  ACCNT_CODE,    
  BR_CODE,    
  AMOUNT    
 )    
 SELECT TRANS_DATETIME,    
        ACCNT_CODE,    
        ANAL_T1,    
        SUM(CASE WHEN D_C = 'D' THEN -1 * AMOUNT ELSE AMOUNT END)    
 FROM    
 (    
 SELECT   
  A.DOWNLOAD_DATE    
  ,A.DOWNLOAD_DATE AS TRANS_DATETIME    
  ,A.GLNO AS ACCNT_CODE    
  ,RIGHT('00' + LTRIM(CONVERT(VARCHAR(2),MONTH(A.DOWNLOAD_DATE))),3) + CONVERT(CHAR(4),YEAR(A.DOWNLOAD_DATE)) AS PERIOD    
  ,A.N_AMOUNT_IDR AS AMOUNT    
  ,CASE WHEN DRCR IN ('CR','C')    
  THEN 'C'    
  ELSE 'D'    
  END AS D_C    
  ,A.JOURNALCODE AS JRNAL_TYPE    
  ,'' AS JRNAL_SRCE    
  ,'' AS JRNAL_REF_NUM    
  ,A.JOURNAL_DESC    
  ,A.DOWNLOAD_DATE AS ENTRY_DATETIME    
  ,'' AS ENTRY_PERIOD    
  ,'' AS DUE_DATETIME    
  ,A.CCY AS CONV_CODE    
  ,B.EXCHANGE_RATE AS CONV_RATE    
  ,A.N_AMOUNT AS OTHER_AMT    
  ,'12' AS ANAL_T0    
  ,A.BRANCH AS ANAL_T1    
  ,A.PRDCODE AS ANAL_T3     
  ,'' AS ANAL_T6    
  ,'' AS ANAL_T7    
  ,'' AS ANAL_T8    
  ,'' AS ANAL_T9    
  ,0 AS REPORT_RATE    
  ,0 AS REPORT_AMT    
  ,0 AS MEMO_AMT    
  ,'' AS LINK_REFERENCE1   
 FROM IFRS_LI_ACCT_JOURNAL_DATA (NOLOCK) A JOIN IFRS_LI_MASTER_ACCOUNT B ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE ) A    
 WHERE A.DOWNLOAD_DATE = @REPORTINGDATE AND ISNULL(A.AMOUNT,0) <> 0    
 GROUP BY TRANS_DATETIME,ACCNT_CODE,ANAL_T1    
    
 --INSERT JOURNAL DATA SUMMARY    
 insert into #IFRS_LI_JOURNAL_DATA_SUM (TRANS_DATETIME,ACCNT_CODE,BR_CODE,AMOUNT)    
 select  TRANS_DATETIME,ACCNT_CODE,BR_CODE,sum(ISNULL(AMOUNT,0)) as AMOUNT    
 from #IFRS_LI_JOURNAL_DATA_RECON    
 group by TRANS_DATETIME,ACCNT_CODE,BR_CODE    
     
     
 --INSERT JOURNAL DATA OUTPUT    
 INSERT INTO #IFRS_LI_JOURNAL_OUTPUT_RECON    
 (    
  TRANS_DATETIME,    
  ACCNT_CODE,    
  BR_CODE,    
  AMOUNT    
 )    
 SELECT TRANS_DATETIME,ACCNT_CODE,ANAL_T1,SUM(CASE WHEN D_C = 'D' THEN -1 * AMOUNT ELSE AMOUNT END)    
 FROM IFRS_LI_JOURNAL_DATA_OUTPUT A (NOLOCK)    
 WHERE A.TRANS_DATETIME = @REPORTINGDATE    
 GROUP BY TRANS_DATETIME,ACCNT_CODE,ANAL_T1    
     
     
 INSERT INTO IFRS_LI_RECON_GL_OUTPUT    
 (    
  REPORT_DATE,    
  GL_ACCNT_CODE,    
  GL_BR_CODE,    
  TXT_ACCNT_CODE,    
  TXT_BR_CODE,    
  GL_AMOUNT,    
  TXT_AMOUNT    
 )    
 SELECT   
  @REPORTINGDATE AS REPORT_DATE,    
     GL.ACCNT_CODE AS GL_ACCNT_CODE,    
     GL.BR_CODE AS GL_BR_CODE,    
     TXT.ACCNT_CODE AS TXT_ACCNT_CODE,    
     TXT.BR_CODE AS TXT_BR_CODE,    
     ISNULL(GL.AMOUNT,0) AS GL_AMOUNT,    
     ISNULL(TXT.AMOUNT,0) AS TXT_AMOUNT    
 FROM #IFRS_JOURNAL_DATA_SUM GL    
 FULL JOIN #IFRS_JOURNAL_OUTPUT_RECON AS TXT    
 ON GL.TRANS_DATETIME = TXT.TRANS_DATETIME    
 AND GL.ACCNT_CODE = TXT.ACCNT_CODE    
 AND GL.BR_CODE = TXT.BR_CODE    
 WHERE ISNULL(GL.AMOUNT,0) <> ISNULL(TXT.AMOUNT,0)    
     
 DROP TABLE #IFRS_LI_JOURNAL_DATA_RECON    
 DROP TABLE #IFRS_LI_JOURNAL_OUTPUT_RECON    
 DROP TABLE #IFRS_LI_JOURNAL_DATA_SUM    
     
 IF EXISTS (SELECT TOP 1 REPORT_DATE FROM IFRS_RECON_GL_OUTPUT)    
 BEGIN    
    RAISERROR ('GL VS OUTPUT DIFFERENT', 16, 1)
    RETURN   
 END    
    
END 


GO
