USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_ASSETSPPI_BM]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPD_ASSETSPPI_BM]
(
    @Asset_ID  FLOAT = NULL
)
AS
BEGIN

    DELETE FROM IFRS_ASSET_CLASS_SPPI_DETAIL WHERE ASSET_ID = @Asset_ID;
    DELETE FROM IFRS_ASSET_CLASS_BM_DETAIL WHERE ASSET_ID = @Asset_ID;

END;

GO
