USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_INDIVIDUAL_REVIEW_COLLATERAL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_INDIVIDUAL_REVIEW_COLLATERAL](     
 @PKID BIGINT                  
)                                
AS                                
BEGIN                                
  
  DELETE FROM IFRS_IMP_OVERRIDE_COLLATERAL_TEMP WHERE PKID = @PKID  
                    
END
GO
