USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_LOGEDINUSER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_LOGEDINUSER]
(
@UserID varchar(36)='', 
@Host varchar(20)=''
)                
AS                
                
--CLEAR USER-LOGEDIN RECORDS                
EXEC uspD_LogedInUser @UserId                
DELETE FROM tblT_LogedInUser WHERE Host = @Host                
                
INSERT INTO tblT_LogedInUser                
 (UserId, Host, LastActivity)                
VALUES                
 (@UserId, @Host, GETDATE())           
           
 -- RESET PASSWORD ATTEMP                
--EXEC uspU_ResetPasswordCounter @UserId                
          
 UPDATE tblM_User SET           
 LastLoginDate = GETDATE(),                      
 --LastLoginHost = @Host,          
 PasswordAttemptCounter=0      
 --,generatesitemap = 0                      
 where PKID=@UserID






GO
