USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCOANAME]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_LOOKUPCOANAME](
@COA varchar(20)='')
AS
BEGIN

 SELECT MAX(GL_NAME) AS GL_NAME
 FROM IFRS_MASTER_GL
	WHERE DOWNLOAD_DATE = (select currdate from GL_PRC_DATE)
		and GL_CODE = @COA

END

GO
