USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETBACKTESTRESULT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETBACKTESTRESULT](
@MODEL_ID bigint = 0,
@IN_SAMPLE_START_DATE date,
@IN_SAMPLE_END_DATE date)
AS        
BEGIN      
      
	SELECT
		B.MODEL_SEQ,
		C.MODEL_FORMULA,
		A.DV_VALUE,
		A.IN_SAMPLE_START_DATE,
		A.IN_SAMPLE_END_DATE
	FROM IFRS_MACRO_ECONOMIC_MODEL A
	JOIN IFRS_MULT_LINEAR_REGR_RESULT B ON A.PKID = B.MODEL_ID AND B.SELECTED_FLAG = 1
	JOIN IFRS_ME_MODEL_SCENARIO C ON B.MODEL_ID = C.MODEL_ID AND B.MODEL_SEQ = C.MODEL_SEQ
	WHERE A.PKID = @MODEL_ID
      
END;   

GO
