USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKMECODE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[USPS_CHECKMECODE]  
 @ME_CODE varchar(100)  
AS   
BEGIN  
 SELECT distinct ME_CODE FROM TBLM_MACRO_ECONOMIC WHERE ME_CODE=LTRIM(RTRIM(UPPER(@ME_CODE)))  
END


GO
