USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_FUNDDASHBOARD_EIR_IFRS9]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_FUNDDASHBOARD_EIR_IFRS9]  
(  
 @PeriodYear INT,  
 @AmortMethod VARCHAR(20),  
 @Screen VARCHAR(1)  
)  
AS  
BEGIN  
  
    SELECT DOWNLOAD_DATE,  
  SUM(INITIAL_FEE) AS "INITIAL_FEE",  
  SUM(INITIAL_COST) AS "INITIAL_COST",  
  SUM(UNAMORT_FEE) AS "UNAMORT_FEE",  
  SUM(UNAMORT_COST) AS "UNAMORT_COST",  
  SUM(AMORT_FEE) AS "AMORT_FEE",  
  SUM(AMORT_COST) AS "AMORT_COST",  
  SUM(AMORT_FEE_MTD) AS "MTD_AMORT_FEE",  
  SUM(AMORT_COST_MTD) AS "MTD_AMORT_COST",  
  SUM(AMORT_FEE_YTD) AS "YTD_AMORT_FEE",  
  SUM(AMORT_COST_YTD) AS "YTD_AMORT_COST"  
 FROM IFRS_LI_NOMINATIF_MONTHLY A  
  JOIN IFRS_MASTER_PRODUCT_PARAM B ON A.PRODUCT_CODE = B.PRD_CODE  
   AND A.DATA_SOURCE = B.DATA_SOURCE  
   AND INST_CLS_VALUE = @Screen  
    WHERE YEAR(DOWNLOAD_DATE) = @PeriodYear  
  AND A.AMORT_TYPE = @AmortMethod  
    GROUP BY DOWNLOAD_DATE  
    ORDER BY DOWNLOAD_DATE DESC;  
  
END;  

GO
