USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETALLMODULEPERUSER]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETALLMODULEPERUSER] @UserID VARCHAR(36)  
AS  
BEGIN  
  
 SELECT ModuleID FROM tblM_UserModule WHERE UserID=@UserID  
  
END





GO
