USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULEINDVIMPAIR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOANMODULEINDVIMPAIR]     
(    
   @DDATE_MAID VARCHAR(50) = ''    
)    
AS    
BEGIN    
    
SELECT A.DOWNLOAD_DATE AS "PERIOD",    
	   A.MASTERID AS MASTERID,    
	   A.ACCOUNT_NUMBER AS "ACCOUNT_NUMBER",    
	   A.CURRENCY AS CURRENCY,    
	   'I' AS "IMPAIR_FLAG" ,    
	   A.DAY_PAST_DUE AS DPD,    
	   A.BI_COLLECTABILITY AS "BI_COLLECTABILITY",    
	 --ROUND (B.INTEREST_RATE, 6) AS "INTEREST_RATE",
	   0 AS "INTEREST_RATE",    
	   COALESCE (EAD_AMOUNT, 0) AS "EAD_AMOUNT",    
	 --COALESCE (TTL_GROSS_PROCEED, 0) AS "TOTAL_ESTIMATED_CASHFLOW",    
	 --COALESCE (TTL_NPV, 0) AS "PV_ESTIMATED_CASHFLOW",
	   0 AS "TOTAL_ESTIMATED_CASHFLOW",
	   B.NPV_AMOUNT AS "PV_ESTIMATED_CASHFLOW",
	   COALESCE (A.ECL_AMOUNT, 0) AS "INDIVIDUAL_PROVISION",    
	   COALESCE (BEGINNING_BALANCE, 0) AS "BEGINNING_BALANCE",
	   0 AS "CHARGE",
	   0 AS "WRITEBACK",
	   COALESCE (ENDING_BALANCE, 0) AS "ENDING_BALANCE",
	   A.RATING_CODE
FROM IFRS_MASTER_ACCOUNT A (NOLOCK)    
JOIN IFRS_IMP_IA_MASTER B (NOLOCK) ON A.MASTERID = B.MASTERID  
WHERE A.DOWNLOAD_DATE <= CONVERT(VARCHAR, SUBSTRING(@DDATE_MAID, 1, 10), 111)    
AND A.MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))
AND A.IMPAIRED_FLAG = 'I'   
      
END; 

GO
