USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_LookupFLType]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_LookupFLType]
AS
BEGIN

    
        SELECT VALUE1 AS "FL_TYPE",
            ISNULL(VALUE1, '') + ' - ' + ISNULL(DESCRIPTION, '') AS "DESC"
        FROM TBLM_COMMONCODEDETAIL 
        WHERE CommonCode = 'B74'
        AND VALUE1 = 'DFL';
    
END;

GO
