USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPTREASURYDATASOURCE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPTREASURYDATASOURCE]
AS  
BEGIN

	SELECT DISTINCT DATA_SOURCE,  
		DATA_SOURCE "Data Source" 
	FROM IFRS_MASTER_PRODUCT_PARAM
	WHERE DATA_SOURCE = 'OPICS'

END; 

GO
