USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GLADJUSTMENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GLADJUSTMENT]
(
	@DOWNLOAD_DATE datetime = '1/1/2000',
	@BRANCH_CODE varchar(10) = '',
	@CCY varchar(3) = ''
)
AS
BEGIN

	IF (@DOWNLOAD_DATE = '1/1/2000') 
	BEGIN
		SELECT @DOWNLOAD_DATE = CURRDATE FROM GL_PRC_DATE
	END

	SELECT PKID,
		DOWNLOAD_DATE,
		BRANCH_CODE,
		BRANCH_CODE AS Branch,
		CURRENCY AS "CCY",
		GL_CODE,
		AMOUNT,
		REMARKS
    FROM SRC_GL_ADJUST
    WHERE DOWNLOAD_DATE = @DOWNLOAD_DATE 
		AND BRANCH_CODE LIKE @BRANCH_CODE + '%' 
		AND CURRENCY LIKE @CCY + '%'
	ORDER BY DOWNLOAD_DATE;

END

GO
