USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKCOMMONCODE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_CEKCOMMONCODE](
@cekCode varchar(50) = '',
@cekType varchar(1) = ''
)
as

begin


select * from TBLM_COMMONCODEHEADER where COMMONCODE = @cekCode and TYPE = @cekType;

end;

GO
