USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_NOMINATIF]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROCEDURE [dbo].[SP_IFRS_LI_NOMINATIF]    
AS    
BEGIN    
 DECLARE @V_CURRDATE DATE, @V_PREVDATE DATE    
    
 SELECT @V_CURRDATE = MAX(CURRDATE), @V_PREVDATE = MAX(PREVDATE)    
 FROM IFRS_LI_PRC_DATE_AMORT;    
    
 TRUNCATE TABLE TMP_LI_LOAN_REPORT
 
 INSERT INTO TMP_LI_LOAN_REPORT (    
  MASTERID    
  ,ACCOUNT_NUMBER    
  ,FACILITY_NUMBER    
  ,CUSTOMER_NAME    
  ,DATA_SOURCE    
  ,PRODUCT_CODE    
  ,CCY    
  ,EXCHANGE_RATE    
  ,INTEREST_RATE    
  ,EIR    
  ,BRANCH_CODE    
  ,OUTSTANDING    
  ,AMORT_TYPE    
  ,INITIAL_FEE    
  ,INITIAL_COST    
  ,UNAMORT_FEE    
  ,UNAMORT_COST    
  ,AMORT_FEE    
  ,AMORT_COST    
  ,OTHER_COST_AMT
  ,OTHER_FEE_AMT
  ,ACCUMULATIVE_ACCRU
  ,UNAMORT_AMT_TOTAL
  --INITIAL_FEE_MTD,    
  --INITIAL_COST_MTD,    
  ,AMORT_FEE_MTD    
  ,AMORT_COST_MTD    
  ,AMORT_FEE_YTD    
  ,AMORT_COST_YTD    
  )    
 SELECT A.MASTERID    
  ,A.ACCOUNT_NUMBER    
  ,A.FACILITY_NUMBER    
  ,A.CUSTOMER_NAME    
  ,A.DATA_SOURCE    
  ,A.PRODUCT_CODE    
  ,A.CCY    
  ,A.EXCHANGE_RATE    
  ,A.INTEREST_RATE    
  ,A.EIR    
  ,A.OUTSTANDING    
  ,A.BRANCH_CODE    
  ,A.METHOD    
  ,SUM(A.INITIAL_TRX_FEE_AMT) AS INITIAL_FEE    
  ,SUM(A.INITIAL_TRX_COST_AMT) AS INITIAL_COST    
  ,SUM(A.UNAMORT_GL_FEE_AMT) AS UNAMORT_FEE    
  ,SUM(A.UNAMORT_GL_COST_AMT) AS UNAMORT_COST    
  ,SUM(A.AMORT_GL_FEE_AMT) AS AMORT_FEE    
  ,SUM(A.AMORT_GL_COST_AMT) AS AMORT_COST    
  ,AMORT_OTH_GL_COST_AMT AS OTHER_COST_AMT
  ,AMORT_OTH_GL_FEE_AMT AS OTHER_FEE_AMT
  ,A.AMORT_GL_COST_AMT + A.AMORT_GL_FEE_AMT AS ACCUMULATIVE_ACCRUED
  ,A.UNAMORT_GL_COST_AMT + A.UNAMORT_GL_FEE_AMT AS UNAMORT_AMT_TOTAL
  --SUM(A.MTD_INITIAL_FEE) AS INITIAL_FEE_MTD,    
  --SUM(A.MTD_INITIAL_COST) AS INITIAL_FEE_MTD,    
  ,SUM(A.MTD_AMORT_GL_FEE_AMT) AS AMORT_FEE_MTD    
  ,SUM(A.MTD_AMORT_GL_COST_AMT) AS AMORT_COST_MTD    
  ,SUM(A.YTD_AMORT_GL_FEE_AMT) AS AMORT_FEE_YTD    
  ,SUM(A.YTD_AMORT_GL_COST_AMT) AS AMORT_COST_YTD    
 FROM IFRS_LI_LOAN_REPORT_RECON A    
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE    
 GROUP BY A.MASTERID    
  ,A.ACCOUNT_NUMBER    
  ,A.FACILITY_NUMBER    
  ,A.CUSTOMER_NAME    
  ,A.DATA_SOURCE    
  ,A.PRODUCT_CODE    
  ,A.CCY    
  ,A.EXCHANGE_RATE    
  ,A.INTEREST_RATE    
  ,A.EIR    
  ,A.OUTSTANDING    
  ,A.BRANCH_CODE    
  ,A.METHOD
  ,A.AMORT_OTH_GL_COST_AMT
  ,A.AMORT_OTH_GL_FEE_AMT
  ,A.AMORT_GL_COST_AMT
  ,A.AMORT_GL_FEE_AMT
  ,A.UNAMORT_GL_COST_AMT
  ,A.UNAMORT_GL_FEE_AMT
    
 --TMP_LI_LOAN_REPORT    
 DELETE IFRS_LI_NOMINATIF_MONTHLY    
 WHERE DOWNLOAD_DATE = EOMONTH(@V_CURRDATE);    
    
 INSERT INTO IFRS_LI_NOMINATIF_MONTHLY (    
  DOWNLOAD_DATE    
  ,MASTERID    
  ,ACCOUNT_NUMBER    
  ,FACILITY_NUMBER    
  ,CUSTOMER_NUMBER    
  ,CUSTOMER_NAME    
  ,DATA_SOURCE    
  ,PRODUCT_TYPE    
  ,PRODUCT_CODE    
  ,MASTER_ACCOUNT_CODE
  ,IIP_AMOUNT
  ,PIP_AMOUNT
  --PRODUCT_NAME,    
  ,BRANCH_CODE    
  ,ACCOUNT_STATUS    
  ,STAFF_LOAN_FLAG    
  ,CURRENCY    
  ,EXCHANGE_RATE    
  ,INTEREST_RATE    
  ,EIR    
  ,OUTSTANDING    
  ,FAIR_VALUE    
  ,INITIAL_FEE    
  ,INITIAL_COST    
  ,UNAMORT_FEE    
  ,UNAMORT_COST    
  ,AMORT_FEE    
  ,AMORT_COST
  --INITIAL_FEE_MTD,    
  --INITIAL_COST_MTD,    
  ,AMORT_FEE_MTD    
  ,AMORT_COST_MTD    
  ,AMORT_FEE_YTD    
  ,AMORT_COST_YTD    
  --,RATING_CODE    
  ,BI_COLLECTABILITY    
  ,DAY_PAST_DUE    
  ,IMPAIRED_FLAG    
  ,SEGMENT    
  ,BUCKET_ID    
  ,EAD    
  --,PD_RATE    
  --,LGD_RATE
  --LIP_RATE,    
  --CKPN_RATE,    
  ,CKPN_AMOUNT    
  ,UNWINDING_AMOUNT    
  ,BEGINNING_BALANCE    
  ,ENDING_BALANCE    
  ,WRITEBACK    
  ,CHARGE    
  ,AMORT_TYPE    
  ,INTEREST_ACCRUED
  )
 SELECT EOMONTH(@V_CURRDATE)    
  ,IMA.MASTERID    
  ,IMA.ACCOUNT_NUMBER    
  ,IMA.FACILITY_NUMBER    
  ,IMA.CUSTOMER_NUMBER    
  ,IMA.CUSTOMER_NAME    
  ,IMA.DATA_SOURCE    
  ,IMA.PRODUCT_TYPE    
  ,IMA.PRODUCT_CODE    
  ,IMA.MASTER_ACCOUNT_CODE
  ,CASE WHEN IMA.IMPAIRED_FLAG = 'I'
    THEN IMA.ECL_AMOUNT
      ELSE 0
    END AS IIP_AMOUNT
  ,CASE WHEN IMA.IMPAIRED_FLAG = 'C'
    THEN IMA.ECL_AMOUNT
      ELSE 0
    END AS PIP_AMOUNT
  --IMA.PRODUCT_NAME,    
  ,IMA.BRANCH_CODE    
  ,IMA.ACCOUNT_STATUS    
  ,IMA.STAFF_LOAN_FLAG    
  ,IMA.CURRENCY    
  ,IMA.EXCHANGE_RATE    
  ,IMA.INTEREST_RATE    
  ,IMA.EIR    
  ,IMA.OUTSTANDING
  ,IMA.FAIR_VALUE_AMOUNT
  ,CASE     
   WHEN IMA.IAS_CLASS = 'L'    
    THEN ISNULL(ILR.INITIAL_FEE, 0)    
   ELSE ISNULL(ILR.INITIAL_FEE, 0) * - 1    
   END AS INITIAL_FEE 
  ,CASE     
   WHEN IMA.IAS_CLASS = 'L'    
    THEN ISNULL(ILR.INITIAL_COST, 0) * - 1    
   ELSE ISNULL(ILR.INITIAL_COST, 0)    
   END AS INITIAL_COST 
  ,CASE     
   WHEN IMA.IAS_CLASS = 'L'    
    THEN ISNULL(ILR.UNAMORT_FEE, 0)    
   ELSE ISNULL(ILR.UNAMORT_FEE, 0) * - 1    
   END AS UNAMORT_FEE 
  ,CASE     
   WHEN IMA.IAS_CLASS = 'L'    
    THEN ISNULL(ILR.UNAMORT_COST, 0) * - 1    
   ELSE ISNULL(ILR.UNAMORT_COST, 0)    
   END AS UNAMORT_COST
  ,ISNULL(ILR.AMORT_FEE, 0) AS AMORT_FEE 
  ,ISNULL(ILR.AMORT_COST, 0) * - 1 AS AMORT_COST
  --ISNULL(ILR.INITIAL_FEE_MTD, 0),    
  --ISNULL(ILR.INITIAL_COST_MTD, 0) * -1,    
  ,ISNULL(ILR.AMORT_FEE_MTD, 0) AS AMORT_FEE_MTD
  ,ISNULL(ILR.AMORT_COST_MTD, 0) * - 1 AS AMORT_COST_MTD 
  ,ISNULL(ILR.AMORT_FEE_YTD, 0) AS AMORT_FEE_YTD 
  ,ISNULL(ILR.AMORT_COST_YTD, 0) * - 1 AS AMORT_COST_YTD
  --,IMA.RATING_CODE    
  ,IMA.BI_COLLECTABILITY    
  ,IMA.DAY_PAST_DUE    
  ,IMA.IMPAIRED_FLAG    
  ,IMA.SEGMENT    
  ,IMA.BUCKET_ID    
  ,ISNULL(IMA.FAIR_VALUE_AMOUNT, IMA.OUTSTANDING) AS EAD    
  --,IMA.PD_RATE    
  --,IMA.LGD_RATE    
  ,    
  --IMA.LIP_RATE,    
  --IMA.EL_RATE,    
  ISNULL(IMA.ECL_AMOUNT, 0) AS CKPN_AMOUNT    
  ,CASE     
   WHEN IMA.IMPAIRED_FLAG = 'C'    
    THEN ISNULL(IMA.CA_UNWINDING_AMOUNT, 0)    
   ELSE ISNULL(IMA.IA_UNWINDING_SUM_AMOUNT, 0)    
   END AS UNWINDING_AMOUNT    
  ,IMA.BEGINNING_BALANCE    
  ,IMA.ENDING_BALANCE     
  ,IMA.WRITEBACK_AMOUNT    
  ,IMA.CHARGE_AMOUNT    
  ,IMA.AMORT_TYPE    
  ,IMA.INTEREST_ACCRUED
 FROM IFRS_LI_MASTER_ACCOUNT IMA    
 LEFT JOIN TMP_LI_LOAN_REPORT ILR ON IMA.MASTERID = ILR.MASTERID
 WHERE IMA.DOWNLOAD_DATE = @V_CURRDATE    
  AND IMA.PRODUCT_GROUP <> 'STAFF_LOAN'    
    
 INSERT INTO IFRS_LI_NOMINATIF_MONTHLY (    
  DOWNLOAD_DATE    
  ,MASTERID    
  ,ACCOUNT_NUMBER    
  ,FACILITY_NUMBER    
  ,CUSTOMER_NAME    
  ,DATA_SOURCE    
  ,PRODUCT_TYPE    
  ,PRODUCT_CODE    
  ,BRANCH_CODE    
  ,ACCOUNT_STATUS    
  ,CURRENCY    
  ,EXCHANGE_RATE    
  ,INTEREST_RATE    
  ,EIR    
  ,OUTSTANDING
  ,FAIR_VALUE
  ,INITIAL_FEE    
  ,INITIAL_COST    
  ,UNAMORT_FEE    
  ,UNAMORT_COST    
  ,AMORT_FEE    
  ,AMORT_COST
  ,OTHER_COST_AMT
  ,OTHER_FEE_AMT
  ,AMORT_FEE_MTD    
  ,AMORT_COST_MTD    
  ,AMORT_FEE_YTD    
  ,AMORT_COST_YTD    
  ,AMORT_TYPE    
  ,INTEREST_ACCRUED
  )    
 SELECT EOMONTH(@V_CURRDATE)    
  ,ILR.MASTERID    
  ,ILR.ACCOUNT_NUMBER    
  ,ILR.FACILITY_NUMBER    
  ,ILR.CUSTOMER_NAME    
  ,ILR.DATA_SOURCE    
  ,IMP.PRD_TYPE    
  ,ILR.PRODUCT_CODE    
  ,ILR.BRANCH_CODE    
  ,'C' AS ACCOUNT_STATUS    
  ,ILR.CCY    
  ,ILR.EXCHANGE_RATE    
  ,ILR.INTEREST_RATE    
  ,ILR.EIR    
  ,ILR.OUTSTANDING
  ,CASE WHEN CCD.VALUE1 IS NULL
   THEN(ISNULL(ILR.OUTSTANDING, 0) + ISNULL(ILR.UNAMORT_AMT_TOTAL, 0))
	ELSE ILR.OUTSTANDING
   END AS FAIR_VALUE_AMOUNT
  ,ISNULL(ILR.INITIAL_FEE, 0) AS INITIAL_FEE  
  ,ISNULL(ILR.INITIAL_COST, 0) * - 1 AS INITIAL_COST
  ,ISNULL(ILR.UNAMORT_FEE, 0) AS UNAMORT_FEE 
  ,ISNULL(ILR.UNAMORT_COST, 0) * - 1 AS UNAMORT_COST 
  ,ISNULL(ILR.AMORT_FEE, 0) AS AMORT_FEE 
  ,ISNULL(ILR.AMORT_COST, 0) * - 1 AS AMORT_COST
  ,ISNULL(ILR.OTHER_COST_AMT, 0) AS OTHER_COST_AMT
  ,ISNULL(ILR.OTHER_FEE_AMT, 0) AS OTHER_FEE_AMT
  --ISNULL(ILR.INITIAL_FEE_MTD, 0),    
  --ISNULL(ILR.INITIAL_COST_MTD, 0) * -1,    
  ,ISNULL(ILR.AMORT_FEE_MTD, 0)  AS AMORT_FEE_MTD 
  ,ISNULL(ILR.AMORT_COST_MTD, 0) * - 1 AS AMORT_COST_MTD    
  ,ISNULL(ILR.AMORT_FEE_YTD, 0) AS AMORT_FEE_YTD 
  ,ISNULL(ILR.AMORT_COST_YTD, 0) * - 1 AS AMORT_COST_YTD  
  ,ILR.AMORT_TYPE
  ,ISNULL(ILR.ACCUMULATIVE_ACCRU, 0)
 FROM TMP_LI_LOAN_REPORT ILR    
 LEFT JOIN IFRS_LI_PRODUCT_PARAM IMP ON ILR.DATA_SOURCE = IMP.DATA_SOURCE AND ILR.PRODUCT_CODE = IMP.PRD_CODE 
 LEFT JOIN TBLM_COMMONCODEDETAIL CCD ON COMMONCODE = 'S1022' AND ILR.DATA_SOURCE = CCD.VALUE1 AND ILR.PRODUCT_CODE = CCD.VALUE2
 WHERE ILR.MASTERID NOT IN (    
   SELECT MASTERID    
   FROM IFRS_LI_MASTER_ACCOUNT    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
   )    
  AND IMP.PRD_TYPE <> 'STAFF_LOAN';    
END;    
  


GO
