USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALARINDEPENDENTVARIABLED2]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALARINDEPENDENTVARIABLED2]  
(                
	@SCALAR_ID int,
	@SCENARIO_NO int,
	@ME_CODE varchar(100)
)                
AS                
BEGIN

DECLARE @COLS AS VARCHAR(MAX)  
DECLARE @QUERY AS VARCHAR(MAX)
DECLARE @TABLE AS VARCHAR(50)

  
	SELECT @COLS = STUFF((
							SELECT ',' + QUOTENAME(ME_CODE)
							FROM IFRS_ME_COMPLETE_DERIVED
							WHERE SCALAR_ID = @SCALAR_ID
								AND SCENARIO_NO = @SCENARIO_NO
								AND ME_CODE_ORIG = @ME_CODE  
							GROUP BY ME_CODE  
							ORDER BY ME_CODE
					FOR XML PATH(''), TYPE).value('.', 'VARCHAR(MAX)'),1,1,'')  
  
	--SELECT @COLS  
  
	SET @QUERY =
		'SELECT
			ME_PERIOD,' + @COLS + '
			FROM   
            (  
				SELECT DISTINCT
					ME_PERIOD,
					ME_CODE,
					ME_VAL  
                FROM IFRS_ME_COMPLETE_DERIVED
				WHERE SCALAR_ID = ' + CAST(@SCALAR_ID AS VARCHAR(5)) + '
					AND SCENARIO_NO = ' + CAST(@SCENARIO_NO AS VARCHAR(5)) + '
					AND ME_CODE_ORIG = ''' + @ME_CODE + '''   
            ) X  
            PIVOT   
            (  
				SUM(ME_VAL) FOR ME_CODE IN (' + @COLS + ')  
            ) P   
		ORDER BY ME_PERIOD'  
  
--PRINT(@QUERY)  
EXEC(@QUERY)

END
GO
