USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_BACKTESTRESULTH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPR_BACKTESTRESULTH](
@MODEL_ID bigint = 0,
@IN_SAMPLE_START_DATE date,
@IN_SAMPLE_END_DATE date)
AS        
BEGIN    
  
    SELECT
		@IN_SAMPLE_START_DATE AS "Backtest Period From",
		@IN_SAMPLE_END_DATE AS "Backtest Period To",
		MODEL_NAME AS "FL Model Name",
		AVG(PDLOG_MAPE) * 100 AS "Logit ODR MAPE(%)",
		AVG(PDRATE_MAPE) * 100 AS "ODR MAPE(%)",
		AVG(PDLOG_SQRD_ERR) * 100 AS "Logit ODR MSE(%)",
		AVG(PDRATE_SQRD_ERR) * 100 AS "ODR MSE(%)"
	FROM IFRS_BACKTEST_ODR_RESULT A
	JOIN IFRS_MACRO_ECONOMIC_MODEL B ON A.MODEL_ID = B.PKID
	WHERE MODEL_ID = @MODEL_ID
		AND PERIOD BETWEEN @IN_SAMPLE_START_DATE AND @IN_SAMPLE_END_DATE
	GROUP BY MODEL_NAME
	  
END;   

GO
