USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IMP_OVERRIDE_PENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IMP_OVERRIDE_PENDING]  
(  
 @DOWNLOAD_DATE DATE,   
 @EFFECTIVE_DATE DATE,   
 @OVERRIDE_NO BIGINT,   
 @CIF VARCHAR(50),   
 @CUSTOMER_NAME VARCHAR(100),   
 @MAID VARCHAR(50),   
 @BIC INT = 0,   
 @CRG VARCHAR(5) = '',  
 @AQAD_TYPE VARCHAR(20) = '',   
 @PRODUCT_ENTITY VARCHAR(1) = '',   
 @CURRENCY VARCHAR(5) = '',   
 @OS DECIMAL(32, 6) = 0,   
 @IPW DECIMAL(32, 6) = 0,   
 @DPD INT,   
 @IMPAIRED_FLAG VARCHAR(1),   
 @REMARKS VARCHAR(2000) = '',   
 @DCFSTATUS VARCHAR(1),  
 @CREATEDBY VARCHAR(36) = '',   
 @CREATEDHOST VARCHAR(30) = ''   
)  
AS  
BEGIN  
/*
DCFSTATUS
1 = Approved
2 = Need Approval Preview
3 = Need Approval Prod / EOM
4 = Reject
*/
 DECLARE @STR VARCHAR(MAX);  
  
 INSERT INTO IFRS_IMP_OVERRIDE_PENDING    
 (  
  DOWNLOAD_DATE,   
  EFFECTIVE_DATE,   
  OVERRIDE_NO,   
  CUSTOMER_NUMBER,   
  CUSTOMER_NAME,   
  MASTER_ACCOUNT_ID,   
  BI_COLLECTABILITY,  
  RATING_CODE,  
  AQAD_TYPE,  
  PRODUCT_ENTITY,  
  CURRENCY,  
  OUTSTANDING,   
  IPW_AMOUNT,  
  DAY_PAST_DUE,  
  IMPAIRED_FLAG,  
  REMARKS,  
  CREATEDBY,  
  CREATEDHOST,  
  DCFSTATUS  
 )    
 VALUES     
 (  
  @DOWNLOAD_DATE,   
  @EFFECTIVE_DATE,   
  @OVERRIDE_NO,   
  @CIF,   
  @CUSTOMER_NAME,   
  @MAID,   
  @BIC,   
  @CRG,   
  @AQAD_TYPE,  
  @PRODUCT_ENTITY,   
  @CURRENCY,   
  @OS,   
  @IPW,   
  @DPD,   
  @IMPAIRED_FLAG,   
  @REMARKS,  
  @CREATEDBY,  
  @CREATEDHOST,  
  @DCFSTATUS  
 );  
  
 -- Set DCFSTATUS to mark the overrided CIF need approval if already exists  
 UPDATE IFRS_IMP_OVERRIDE    
 SET DCFSTATUS = @DCFSTATUS,  
  UPDATEDBY = @CREATEDBY,   
  UPDATEDHOST = @CREATEDHOST    
 WHERE CUSTOMER_NUMBER = @CIF  
  AND PRODUCT_ENTITY = @PRODUCT_ENTITY  
  AND CURRENCY = @CURRENCY  
  AND AQAD_TYPE = @AQAD_TYPE
  --AND DCFSTATUS = '1';  
  
END;

GO
