USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SCALARCONFIG_D]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_SCALARCONFIG_D]  
 @SCALAR_ID int,  
 @SC_NO int,  
 @SC_NAME varchar(50),  
 @SC_ADJ float,  
 @SC_Impact varchar(2),  
 @APPROVAL bit = 1  
AS  
BEGIN  
 IF @APPROVAL = 1  
 BEGIN  
  INSERT IFRS_ME_SCALAR_DETAIL_PENDING (SCALAR_ID,SCENARIO_NO,SCENARIO_NAME,ADJUSTMENT_VALUE,ECONOMY_IMPACT)  
  VALUES(@SCALAR_ID,@SC_NO,@SC_NAME,@SC_ADJ,CASE WHEN @SC_Impact = '+' THEN 1 ELSE 0 END)  
 END  
 ELSE   
 BEGIN  
  INSERT IFRS_ME_SCALAR_DETAIL(SCALAR_ID,SCENARIO_NO,SCENARIO_NAME,ADJUSTMENT_VALUE,ECONOMY_IMPACT)  
  VALUES(@SCALAR_ID,@SC_NO,@SC_NAME,@SC_ADJ,CASE WHEN @SC_Impact = '+' THEN 1 ELSE 0 END)  
 END  
END
GO
