USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_PREPAYMENTANALYSIS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_PREPAYMENTANALYSIS](  
@PREPAYMENT_RULE_ID BIGINT = 0,  
@DOWNLOAD_DATE DATE = '01/01/2000')    
AS    
BEGIN  
   
 SELECT  
  MASTERID AS "Account Number"  
  ,EFF_DATE AS "Prepayment Date"  
  ,PREPAYMENT AS "Prepayment Amount"  
  ,OS_PRN AS "Schedule Principal"  
  ,OS_IMA AS "Outstanding"  
  ,PREV_OS_IMA AS "Previous Outstanding"  
  ,ISNULL(SMM,0) * 100 AS "SMM(%)"  
 FROM IFRS_EAD_PREPAYMENT_DETAIL  
 WHERE PREPAYMENT_RULE_ID = @PREPAYMENT_RULE_ID  
  AND EFF_DATE = @DOWNLOAD_DATE  
  
END;
GO
