USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECLMODELBYACCOUNT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ECLMODELBYACCOUNT] 
(
	@AccountNo  VARCHAR(100),
	@Period     DATE
)
AS
BEGIN
	
	SELECT A.*,
		PD_RATE/100 * LGD_RATE/100 * EAD_RATE/100 * EAD_AMOUNT AS ECL_AMOUNT
	FROM (
		SELECT a.YEAR,
			MAX(CASE WHEN a.RATE_TYPE = 'PD' THEN (a.RATE)*100-(isnull(c.RATE,0)*100) ELSE 0 END) PD_RATE,
			MAX(b.RATE*100) LGD_RATE,
			MAX(CASE WHEN a.RATE_TYPE = 'EAD' THEN (a.RATE)*100 ELSE 0 END) EAD_RATE,
			SUM(a.EAD_AMOUNT) EAD_AMOUNT
		FROM IFRS_ECL_RETAIL_DETAIL A
		LEFT JOIN
		(SELECT * from IFRS_ECL_RETAIL_DETAIL B where rate_type='LGD') B
		on a.ACCOUNT_NUMBER=b.ACCOUNT_NUMBER
		and a.DOWNLOAD_DATE=b.DOWNLOAD_DATE
		LEFT JOIN
		(SELECT * from IFRS_ECL_RETAIL_DETAIL B where rate_type='PD') C
		on a.ACCOUNT_NUMBER=c.ACCOUNT_NUMBER
		and a.DOWNLOAD_DATE=c.DOWNLOAD_DATE
		and a.YEAR=c.YEAR+1
		WHERE a.ACCOUNT_NUMBER = @AccountNo
			AND a.RATE_TYPE<>'LGD'
			AND a.DOWNLOAD_DATE = @Period
		GROUP BY a.YEAR
	) A

		
END;

GO
