USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_ECLMODELRESULTDETAILBYACCOUNT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_ECLMODELRESULTDETAILBYACCOUNT]         
(      
 @DOWNLOAD_DATE DATE,     
 @MASTERID VARCHAR(100)    
)      
AS           
BEGIN       
    
 SELECT     
  SEQ,    
  FL_YEAR,    
  FL_MONTH,    
  OUTSTANDING,    
  INTEREST_ACCRUED,    
  UNUSED_AMOUNT,   
  COLL_AMOUNT,   
  EIR/100 AS EIR,    
  EAD,    
  DISC_EAD,    
  CCF,    
  PD_BFL,    
  PD,    
  LGD,    
  ECL_BFL,    
  ECL    
 FROM IFRS_ECL_RESULT_DETAIL    
 WHERE DOWNLOAD_DATE = @DOWNLOAD_DATE AND MASTERID = @MASTERID    
 ORDER BY SEQ    
      
END;  
GO
