USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKINDUSTRYSECTORS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_CEKINDUSTRYSECTORS]  
(  
 @cekEconomicSectors varchar(50) = '',   
 --@cekProductCode varchar(20) = '',   
 @cekPKID bigint = 0  
)  
AS  
BEGIN

	SELECT
	(SELECT ECONOMIC_SECTOR
	FROM IFRS_DIM_INDUSTRY_SECTORS
	WHERE UPPER(ECONOMIC_SECTOR) = UPPER(LTRIM(RTRIM(@cekEconomicSectors)))
		AND PKID <> @cekPKID  
		AND ISNULL(IS_DELETE,0) = 0) AS ECONOMIC_SECTOR,
   
 --  (SELECT value AS PRODUCT_CODE
	--FROM IFRS_SEGMENT_LOANS
	--CROSS APPLY STRING_SPLIT(PRODUCT_CODE,';')
	--WHERE value IN (SELECT VALUE FROM dbo.STRING_SPLIT((@cekProductCode), ';'))
	--	AND PKID <> @cekPKID
	--	AND ISNULL(IS_DELETE, 0) = 0) AS PRODUCT_CODE,

	(SELECT ECONOMIC_SECTOR FROM
	(SELECT HEADERID, ECONOMIC_SECTOR
		FROM  (SELECT ISNULL(NEWVALUE,OLDVALUE) AS VALUE, FIELDNAME, HEADERID  
				FROM TBLT_APPROVALDETAIL  WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER   WHERE SCREENID = 'INDUSTRY_SECTORS_PARAMETER' 
		AND STATUS='P') )d  pivot  (max(value) for FIELDNAME in (ECONOMIC_SECTOR)) piv)A  
	WHERE ECONOMIC_SECTOR = @cekEconomicSectors) AS ECONOMIC_SECTOR_PENDING--,
    
	--(SELECT TOP 1 VALUE FROM
	--(SELECT *
	--	FROM  (SELECT ISNULL(NEWVALUE,OLDVALUE) AS VALUE, FIELDNAME, HEADERID  
	--			FROM TBLT_APPROVALDETAIL  WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER   WHERE SCREENID = 'SEGMENT_LOANS_PARAMETER'
	--	AND STATUS='P') )d  pivot  (max(value) for FIELDNAME in (PRODUCT_CODE)) piv CROSS APPLY STRING_SPLIT(PRODUCT_CODE,';')) A
	--WHERE VALUE IN (SELECT VALUE FROM dbo.STRING_SPLIT((@cekProductCode), ';'))) AS PRODUCT_CODE_PENDING
  
END;

GO
