USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ACODBIFORMPARAM]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_ACODBIFORMPARAM]                          
(                       
	 @ACOD varchar(10) = '',
	 @BI_FORM varchar(10) = '',
	 @PRODUCT_ENTITY char(1),
	 @OFF_BS_FLAG bit,
	 @CreatedBy varchar(36) = '',               
	 @CreatedHost varchar(30) = ''                     
)            
AS  
BEGIN       
            
	INSERT INTO [dbo].[IFRS_ACOD_BIFORM_PARAM]            
	(         
		  [ACOD]            
		, [BI_FORM]
		, [PRODUCT_ENTITY]
		, [OFF_BS_FLAG]
		, [CreatedBy]            
		, [CreatedDate]              
		, [CreatedHost]                 
	)                          
	VALUES                          
	(            
		 @ACOD
		,@BI_FORM
		,@PRODUCT_ENTITY
		,@OFF_BS_FLAG
		,@CreatedBy              
		,GETDATE()              
		,@CreatedHost              
	)  
  
END;

GO
