USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ASSETSPPI]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPI_ASSETSPPI]
(
    @Asset_ID		BIGINT = NULL,
    @ComCodeDetId	VARCHAR(50) = ' ',
    @ComCodeValue	VARCHAR(50) = ' ',
    @Selected		BIT = '0',
    @Remark			VARCHAR(4000) = ' ',
    @CreatedBy		VARCHAR(36) = ' ',
    @CreatedHost	VARCHAR(30) = ' '
)
AS
BEGIN

    INSERT INTO IFRS_ASSET_CLASS_SPPI_DETAIL
    (
        ASSET_ID, 
        COMMONCODE_DTL, 
        COMMONCODE_VALUE1, 
        SELECTED_VALUE, 
        REMARK, 
        CREATEDBY, 
        CREATEDDATE, 
        CREATEDHOST
    )
    VALUES 
    (
        @Asset_ID,
        @ComCodeDetId,
        @ComCodeValue, 
        @Selected,
        @Remark,
        @CreatedBy,
        GETDATE(),
        @CreatedHost
    );
    
END;

GO
