USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMTRANS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_PARAMTRANS]              
(              
	 @INST_CLS_VALUE varchar(10)=''        
	,@DATA_SOURCE varchar(20)='' 
	,@PRD_CODE varchar(20)=''
	,@PRD_TYPE varchar(50)=''
	,@TRANSACTION_DESC varchar(50)=''
	--,@ASSET_TYPE_PRODUCT1 varchar(100)=''
	,@TRX_CODE varchar(20)=''
	,@IFRS_TXN_CLASS varchar(5)=''
	,@AMORTIZATION_FLAG bit=0
	,@CCY varchar(5)=''
	,@AMORT_TYPE varchar(10)=''
	,@GL_CODE VARCHAR(50) = ''
	--,@TXN_COST_MAT_TYPE varchar(10)=''
	--,@TXN_COST_MAT_AMT decimal(32,6)=0
	--,@ORG_FEE_MAT_TYPE varchar(10)=''
	--,@ORG_FEE_MAT_AMT decimal(32,6)=0
	--,@TENOR_AMORTIZATION int=0
	--,@SL_EXP_LIFE int=0
	,@CreatedBy varchar(36)=''              
	,@CreatedHost varchar(30)=''
)           
AS              
BEGIN      
INSERT INTO dbo.[IFRS_MASTER_TRANS_PARAM]             
            ([INST_CLS_VALUE]
			,[DATA_SOURCE]  
			,[PRD_CODE]
			,[PRD_TYPE]
			,[TRANSACTION_DESC]       
			--,[PRD_TYPE_1]
			,[TRX_CODE]
			,[IFRS_TXN_CLASS]
			,[AMORTIZATION_FLAG]
			,[CCY]
			,[AMORT_TYPE]
			,[GL_CODE]
			--,[TXN_COST_MAT_TYPE]
			--,[TXN_COST_MAT_AMT]
			--,[ORG_FEE_MAT_TYPE]
			--,[ORG_FEE_MAT_AMT]
			--,[TENOR_AMORTIZATION]
			--,[SL_EXP_LIFE]
			,[CREATEDBY]            
			,[CREATEDDATE]
			,[CREATEDHOST]              
			,[IS_DELETE]
           )              
     VALUES              
           (        
			 @INST_CLS_VALUE
			,@DATA_SOURCE
			,@PRD_CODE
			,@PRD_TYPE
			,LTRIM(RTRIM(@TRANSACTION_DESC))
			--,@ASSET_TYPE_PRODUCT1
			,LTRIM(RTRIM(@TRX_CODE))
			,@IFRS_TXN_CLASS
			,@AMORTIZATION_FLAG
			,@CCY
			,@AMORT_TYPE
			,LTRIM(RTRIM(@GL_CODE))
			--,@TXN_COST_MAT_TYPE
			--,@TXN_COST_MAT_AMT
			--,@ORG_FEE_MAT_TYPE
			--,@ORG_FEE_MAT_AMT
			--,CASE WHEN @TENOR_AMORTIZATION = '0' THEN '' ELSE @TENOR_AMORTIZATION END
			--,@SL_EXP_LIFE
			,@CreatedBy              
		    ,GETDATE()              
		    ,@CreatedHost   
			,0           
           )                
END

GO
