USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_STATISTICFINALRUNIMP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_STATISTICFINALRUNIMP](
@CURRDATE DATE
)
AS    
BEGIN
	
	SELECT DISTINCT REMARK FROM IFRS_STATISTIC
	WHERE PRC_NAME = 'IMP'
		AND DOWNLOAD_DATE = @CURRDATE
       
END
GO
