USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_JOBHISTORYPROCESSJOB]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPI_JOBHISTORYPROCESSJOB]
(
	@JobNo INT, 
	@Status VARCHAR(20), 
	@PeriodDate DATE, 
	@jobid INT, 
	@CreatedBy VARCHAR(36) = '', 
	@CreatedHost VARCHAR(32)='', 
	@Message VARCHAR(MAX) = NULL
)
AS
BEGIN
    
    SET NOCOUNT ON;
    
    DECLARE @Status_Text VARCHAR(200),
		@Period VARCHAR(20);            
    
    SELECT @Period = Period
    FROM dbo.tblM_Job
    WHERE JobNo = @JobNo
    
    IF @Status = 'P'
    BEGIN
		SET @Status_Text = 'Progress';
    END
	ELSE IF @Status = 'F'
    BEGIN
        SET @Status_Text = 'Failed';
    END
	ELSE IF @Status = 'S'
	BEGIN
        SET @Status_Text = 'Success';
    END;
    
    DELETE dbo.tblT_JobHistory
    WHERE JobNo = @JobNo
	    AND PeriodDate = @PeriodDate
    
	INSERT INTO dbo.tblT_JobHistory
	(
		JobNo, 
        PeriodDate, 
        Period, 
        Status, 
        UpdatedDate, 
        jobid, 
        CreatedBy, 
        CreatedDate, 
		Msg
    )            
    VALUES
	(
		@JobNo, 
        @PeriodDate, 
        @Period, 
        @Status_Text, 
        CURRENT_TIMESTAMP, 
        @jobid, 
		@CreatedBy, 
		GETDATE(), 
		@Message
     );

END;

GO
