USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPROVEDREJECTEDLOG]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_APPROVEDREJECTEDLOG]    
 @UserID VARCHAR(36) = ''    
AS    
BEGIN    
     
 SELECT TOP 2000 CASE WHEN STATUS = 'A' THEN 'APPROVE' ELSE 'REJECT' END AS APPROVED_REJECTED,    
  --NOTE,    
  --Action,     
  --u.UserName + '-' + u.FullName 'Username',     
  --s.Title 'ScreenName',     
  --m.[Description] 'ModuleName',     
  --A.UPDATEDDATE,     
  --A.UPDATEDHOST,     
  --A.PKID,     
  --u.UserName as UserID    
  NOTE,
		Action, 
		u.UserName + '-' + u.FullName 'Username', 
		s.Title 'ScreenName', 
		m.[Description] 'ModuleName', 
		A.UPDATEDDATE, 
		--(SELECT CREATEDHOST FROM TBLT_ACTIVITYLOGS WHERE PKID = (SELECT HEADERID FROM TBLT_AUDITTRAIL WHERE NEWVALUE = CAST(A.PKID AS varchar))) AS UPDATEDHOST, 
		A.UPDATEDHOST,
		A.PKID, 
		--(SELECT HEADERID FROM TBLT_AUDITTRAIL WHERE NEWVALUE = CAST(A.PKID AS varchar)),
		0,
		--(SELECT FULLNAME FROM TBLM_USER WHERE PKID = (SELECT USERID FROM TBLT_ACTIVITYLOGS WHERE SCREENID = 'APPROVAL' AND PKID = (SELECT HEADERID FROM TBLT_AUDITTRAIL WHERE NEWVALUE = CAST(A.PKID AS varchar)))) as UserID
		(SELECT FULLNAME FROM TBLM_USER WHERE PKID = A.UPDATEDBY) as UserID
 FROM TBLT_APPROVALHEADER A WITH (NOLOCK)    
  INNER JOIN tblM_User u WITH (NOLOCK) ON u.PKID = A.CREATEDBY                  
  INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = A.ScreenID                  
  INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = A.ModuleID                  
 WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'      
  AND A.STATUS <> 'P'    
  AND A.UPDATEDDATE >    
   (SELECT MAX(CREATEDDATE) FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'    
    AND CAST(USERID AS varchar(36)) = CAST(u.PKID AS varchar(36)))    
 ORDER BY A.UPDATEDDATE DESC                  
    
END 
GO
