USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_MODEL_HDR_ACTIVE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ECL_MODEL_HDR_ACTIVE]  
AS  
BEGIN  
  
        SELECT PKID
        FROM IFRS_ECL_MODEL_HEADER  
        WHERE ACTIVE_STATUS = 1  
END;  
GO
