USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DOWNLOADDOCUMENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_DOWNLOADDOCUMENT]  
AS
BEGIN
	SELECT FULLFILENAME AS "FullFileName", [DESCRIPTION] AS "Description", CODE AS "Code", 0 AS "MAPPING"
	FROM tblM_DownloadDocument
	UNION ALL
	SELECT FILENAME AS "FullFileName", MAPPINGDESCRIPTION AS "Description",TABLEDESTINATION AS "Code", 1 AS "MAPPING"
	FROM TBLM_MAPPINGRULEHEADER_NEW
END

GO
