USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_MACRO_TEMP]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_MACRO_TEMP]

AS
BEGIN
	TRUNCATE TABLE tblU_MACRO_ECONOMIC_TEMP
END 

GO
