USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADQUERYRISK]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOADQUERYRISK]  
(        
 @PERIOD DATE='01-JAN-2000',        
 @DATA_SOURCE varchar(200) = '',  
 @PRODUCT_GROUP VARCHAR(500) = '',  
 @ACCOUNT_STATUS varchar(3)='' ,  
 @SEGMENT VARCHAR(200) = ''  
)        
AS        
BEGIN        
      
DECLARE @SQL nvarchar(max)  
  
SET @SQL =  
 'SELECT   
      A.DOWNLOAD_DATE "DOWNLOAD DATE",  
   A.BRANCH_CODE "BRANCH ID",  
   TC.VALUE2 "BRANCH DESC",  
   A.CUSTOMER_NUMBER "CUSTOMER NUMBER",       
   A.CUSTOMER_NAME "CUSTOMER NAME",      
   A.FACILITY_NUMBER "FACILITY NUMBER",  
   A.ACCOUNT_NUMBER "ACCOUNT NUMBER",  
   A.ACCOUNT_STATUS "ACCOUNT STATUS",  
   A.SEGMENT "SEGMENT",   
   A.PRODUCT_GROUP "PRODUCT GROUP",  
   A.ASSET_TYPE_PRODUCT1 "ASSET TYPE PRODUCT1",  
   A.ASSET_TYPE_PRODUCT2 "ASSET TYPE PRODUCT2",  
   A.ORR_INITIAL AS "ORR INITIAL",  
   A.ORR_REPORTING AS "ORR REPORTING",  
   A.BI_COLLECTABILITY "BI COLLECTABILITY",  
   A.IMPAIRED_FLAG "IMPAIRED FLAG",  
   A.LOAN_START_DATE "LOAN START DATE",  
   A.LOAN_DUE_DATE "LOAN DUE DATE",  
   A.PD_METHOD "PD METHOD",  
   A.LGD_METHOD "LGD METHOD",  
   A.ORIGINAL_TENOR "ORIGINAL TENOR",  
   A.RESIDUAL_TENOR "RESIDUAL TENOR",  
   A.DELTA_PD "DELTA PD",  
   A.STAGE as "STAGE",  
   A.INITIAL_STAGE "INITIAL STAGE",  
   A.CURRENCY "CURRENCY",  
   A.EXCHANGE_RATE "EXCHANGE RATE",  
   ISNULL(A.OUTSTANDING,0) "OUTSTANDING",  
   (ISNULL(A.OUTSTANDING,0) * ISNULL(A.EXCHANGE_RATE, 0))  "OUTSTANDING LCY",  
   ISNULL(A.EAD_AMOUNT,0) "EAD AMOUNT",  
   (ISNULL(A.EAD_AMOUNT,0) * ISNULL(A.EXCHANGE_RATE, 0)) "EAD AMOUNT LCY",  
   A.PD_RATE "PD RATE",  
   A.LGD_RATE "LGD RATE",  
   ISNULL(A.ECL_AMOUNT,0) "ECL AMOUNT",  
   (ISNULL(A.ECL_AMOUNT,0) * ISNULL(A.EXCHANGE_RATE, 0)) "ECL AMOUNT LCY",   
   CASE WHEN ISNULL(A.ECL_AMOUNT,0)<0 THEN 0 ELSE ISNULL(A.ECL_AMOUNT,0) END - CASE WHEN ISNULL(A.CA_UNWINDING_AMOUNT, 0)  < 0 THEN 0   
   ELSE ISNULL(A.CA_UNWINDING_AMOUNT, 0) END -  
   CASE WHEN ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0)  < 0 THEN 0   
   ELSE ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0) END "ECL AMOUNT - NET"  
  FROM IFRS_MASTER_ACCOUNT_MONTHLY A  
  LEFT JOIN (SELECT * FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''B10'')TC ON TC.VALUE1 = A.BRANCH_CODE  
 WHERE A.DOWNLOAD_DATE = ''' + CAST(@PERIOD AS VARCHAR(500)) + ''''  
   + CASE WHEN ISNULL(@DATA_SOURCE, '') <> ''  
    THEN ' AND A.DATA_SOURCE = ''' + CAST(@DATA_SOURCE AS VARCHAR(500)) + ''''  
    ELSE ''  
   END  
   + CASE WHEN ISNULL(@PRODUCT_GROUP, '') <> ''  
    THEN ' AND A.PRODUCT_GROUP IN ( ' + @PRODUCT_GROUP  + ')'  
    ELSE ''  
   END  
   + CASE WHEN ISNULL(@ACCOUNT_STATUS, '') <> ''  
    THEN ' AND A.ACCOUNT_STATUS IN ( ' + @ACCOUNT_STATUS  + ')'  
    ELSE ''  
   END  
   + CASE WHEN ISNULL(@SEGMENT, '') <> ''  
    THEN ' AND A.SEGMENT IN ( ' + @SEGMENT  + ')'  
    ELSE ''  
   END  
  + '  
  ORDER BY A.ACCOUNT_NUMBER ASC,   
   A.CUSTOMER_NUMBER';  
   
print @SQL  
EXEC sp_executesql @SQL  
  
END;  
GO
