USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_INSERT_ME_SIM_RESULT_ORI]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_INSERT_ME_SIM_RESULT_ORI]
(
    @PKID BIGINT=0
	--@CreatedBy varchar(36),
	--@CreatedHost varchar(36)
)
AS
BEGIN
	DECLARE @V_MODEL_ID BIGINT;
	DECLARE @V_EXISTS BIGINT;
    
    SELECT @V_MODEL_ID = COUNT(PKID)  
    FROM IFRS_MACRO_ECONOMIC_MODEL
    WHERE PKID = @PKID;
    
    IF @V_MODEL_ID = 0 
	BEGIN
        SELECT @V_EXISTS = COUNT(*)
        FROM IFRS_MACRO_ECONOMIC_MODEL A
        JOIN TMP_IFRS_MACRO_ECONOMIC_MODEL B
        ON A.MODEL_NAME = B.MODEL_NAME
            AND B.PKID = @PKID;
        
        IF ( @V_EXISTS > 0)
		BEGIN
            DELETE TMP_IFRS_MACRO_ECONOMIC_MODEL
            WHERE PKID = @PKID;
            
            DELETE TMP_IFRS_DEPENDENT_VARIABLE
            WHERE MODEL_ID = @PKID;
            
            DELETE TMP_IFRS_INDEPENDENT_VARIABLE
            WHERE MODEL_ID = @PKID;
            
			RAISERROR (N'MODEL NAME ALREADY EXISTS', -- Message text.  
						10, -- Severity,  
						1); -- Second argument. 

		END;
    END;
	ELSE
	BEGIN
        --SELECT @V_MODEL_ID = ISNULL(IDENT_CURRENT('IFRS_MACRO_ECONOMIC_MODEL') + IDENT_INCR('IFRS_MACRO_ECONOMIC_MODEL'),1)

		MERGE INTO IFRS_MACRO_ECONOMIC_MODEL A
		USING TMP_IFRS_MACRO_ECONOMIC_MODEL B
		ON (A.PKID = B.PKID AND B.PKID = @PKID)
		WHEN MATCHED THEN
		UPDATE SET A.CORRELATION_PERIOD_FROM = B.CORRELATION_PERIOD_FROM,
			A.CORRELATION_PERIOD_END = B.CORRELATION_PERIOD_END,
			A.SEASONAL_ADJUSTMENT = B.SEASONAL_ADJUSTMENT,
			A.UPDATEDBY = B.CREATEDBY,
			A.UPDATEDDATE = B.CREATEDDATE,
			A.UPDATEDHOST = B.CREATEDHOST
		WHEN NOT MATCHED THEN INSERT
		(
			MODEL_NAME, 
			CORRELATION_PERIOD_FROM,
			CORRELATION_PERIOD_END,
			SEASONAL_ADJUSTMENT
			--CREATEDBY,
			--CREATEDDATE,
			--CREATEDHOST
		)
		VALUES
		(
			B.MODEL_NAME,
			B.CORRELATION_PERIOD_FROM,
			B.CORRELATION_PERIOD_END,
			B.SEASONAL_ADJUSTMENT
			----@CreatedBy,
			--getdate(),
			--@CreatedBy
		);

		SET @V_MODEL_ID = ISNULL(@@IDENTITY,@PKID);

		DELETE TMP_IFRS_MACRO_ECONOMIC_MODEL
		WHERE PKID = @PKID;
    
		MERGE INTO IFRS_DEPENDENT_VARIABLE A
		USING (SELECT * FROM TMP_IFRS_DEPENDENT_VARIABLE WHERE MODEL_ID = @PKID) B
		ON (A.MODEL_ID = B.MODEL_ID AND A.MACRO_ECONOMIC_CODE = B.MACRO_ECONOMIC_CODE)
		WHEN MATCHED THEN
		UPDATE SET 
			A.UPDATEDBY = B.CREATEDBY,
			A.UPDATEDDATE = B.CREATEDDATE,
			A.UPDATEDHOST = B.CREATEDHOST
		WHEN NOT MATCHED THEN INSERT
		(
			MODEL_ID,
			MACRO_ECONOMIC_CODE,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		)
		VALUES
		(   
			@V_MODEL_ID,
			B.MACRO_ECONOMIC_CODE,
			B.CREATEDBY,
			B.CREATEDDATE,
			B.CREATEDHOST
		);
    
		DELETE TMP_IFRS_DEPENDENT_VARIABLE
		WHERE MODEL_ID = @PKID;
    
		MERGE INTO IFRS_INDEPENDENT_VARIABLE A
		USING (SELECT * FROM TMP_IFRS_INDEPENDENT_VARIABLE WHERE MODEL_ID = @PKID) B
		ON (A.MODEL_ID = B.MODEL_ID AND A.MACRO_ECONOMIC_CODE = B.MACRO_ECONOMIC_CODE)
		WHEN MATCHED THEN
		UPDATE SET 
			A.IMPACT_TO_DEPENDENT = B.IMPACT_TO_DEPENDENT,
			A.UPDATEDBY = B.CREATEDBY,
			A.UPDATEDDATE = B.CREATEDDATE,
			A.UPDATEDHOST = B.CREATEDHOST
		WHEN NOT MATCHED THEN INSERT    
		(
			MODEL_ID,
			MACRO_ECONOMIC_CODE,
			IMPACT_TO_DEPENDENT,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		)
		VALUES
		(   
			@V_MODEL_ID,
			B.MACRO_ECONOMIC_CODE,
			B.IMPACT_TO_DEPENDENT,
			B.CREATEDBY,
			B.CREATEDDATE,
			B.CREATEDHOST
		);
   
		DELETE TMP_IFRS_INDEPENDENT_VARIABLE
		WHERE MODEL_ID = @PKID;
    
		DELETE IFRS_ME_MODEL_CORRELATION
		WHERE MODEL_ID = @PKID;
    
		INSERT INTO IFRS_ME_MODEL_CORRELATION
		(
			MODEL_ID,
			ME_CODE,
			DERIVED_TYPE,
			CORRELATION_VALUE,
			IS_CHOSEN
		)
		SELECT 
			MODEL_ID,
			ME_CODE,
			DERIVED_TYPE,
			CORRELATION_VALUE,
			IS_CHOSEN
		FROM TMP_IFRS_ME_MODEL_CORRELATION
		WHERE MODEL_ID = @PKID;
    
		DELETE TMP_IFRS_ME_MODEL_CORRELATION
		WHERE MODEL_ID = @PKID;

		DELETE IFRS_ME_SEASONAL_ADJUSTMENT
		WHERE MODEL_ID = @PKID;
    
		INSERT INTO IFRS_ME_SEASONAL_ADJUSTMENT
		(
			MODEL_ID,
			ME_CODE,
			ME_PERIOD,
			DERIVED_TYPE,
			ME_VAL,
			SEASONAL_ADJUSTMENT
		)
		SELECT 
			MODEL_ID,
			ME_CODE,
			ME_PERIOD,
			DERIVED_TYPE,
			ME_VAL,
			SEASONAL_ADJUSTMENT
		FROM TMP_IFRS_ME_SEASONAL_ADJ
		WHERE MODEL_ID = @PKID;

		DELETE TMP_IFRS_ME_SEASONAL_ADJ
		WHERE MODEL_ID = @PKID;
    END;
END;

GO
