USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADFEECOSTVALIDATION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPP_UPLOADFEECOSTVALIDATION](          
@uploadID INT)          
AS          
begin tran          
          
declare @tokenCpy     INTEGER          
declare @cntTokenDt   INTEGER          
declare @uploadedby varchar(36)          
declare @count int          
          
 SELECT @uploadedby=CreatedBy  FROM [dbo].[TBLU_TRANS_ASSET_TEMP] WHERE UploadID = @uploadID          
           
 DELETE TBLU_FEECOST_MESSAGEERROR WHERE CreatedBy = @uploadedby          
          
 --checking: Data Source null          
 --INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
 -- select [ROW_NUMBER], 'DATA_SOURCE','DATA_SOURCE can not be empty', CreatedBy, @uploadID,'LENDING'          
 -- FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
 --  where UPLOADID = @uploadID          
 --   and DATA_SOURCE = ''          
 --   print '1'          
           
 --checking: Data Source not exist in product parameter          
 --INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
 -- select [ROW_NUMBER], 'DATA_SOURCE','DATA_SOURCE does not exist in Product parameter', CreatedBy, @uploadID, 'LENDING'          
 -- FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
 --  where UPLOADID = @uploadID          
 --   and DATA_SOURCE not in (select distinct DATA_SOURCE from IFRS_MASTER_PRODUCT_PARAM)          
 --   and DATA_SOURCE <> ''          
 --   print '2'          
          
 --checking : Account Number null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'ACCOUNT_NUMBER','ACCOUNT_NUMBER cannot be empty', CreatedBy, @uploadID, 'LENDING'          
  FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
  WHERE UploadID = @uploadID          
    AND ACCOUNT_NUMBER = ''          
    print '3'          
          
 --checking : Product Code null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'PRODUCT_CODE','PRODUCT_CODE cannot be empty', CreatedBy, @uploadID, 'LENDING'          
  FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
  WHERE UploadID = @uploadID          
    AND PRD_CODE = ''          
    print '4'          
          
 --checking: Product Code not exist in product parameter          
 --INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
 -- select [ROW_NUMBER], 'PRODUCT_CODE','PRODUCT_CODE does not match with data source in Product parameter', CreatedBy, @uploadID, 'LENDING'          
 -- FROM [dbo].[TBLU_TRANS_ASSET_TEMP] T          
 --  where T.UPLOADID = @uploadID          
 --   and T.PRD_CODE not in (select distinct PRD_CODE from IFRS_MASTER_PRODUCT_PARAM where DATA_SOURCE = T.DATA_SOURCE)          
 --   and T.PRD_CODE <> ''          
 --   print '5'          
          
 --checking : Transaction Code null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_CODE','TRANSACTION_CODE cannot be empty', CreatedBy, @uploadID, 'LENDING'          
  FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
  WHERE UploadID = @uploadID          
    AND TRX_CODE = ''          
    print '6'          
          
 --checking : Transaction Code does not exist in transaction parameter          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_CODE','TRANSACTION_CODE does not exist in Transaction Parameter', CreatedBy, @uploadID, 'LENDING'          
  FROM [dbo].TBLU_TRANS_ASSET_TEMP T          
  WHERE T.UploadID = @uploadID          
    AND T.TRX_CODE not in (select distinct TRX_CODE from IFRS_MASTER_TRANS_PARAM where TRX_CODE = T.TRX_CODE)        
    AND  T.TRX_CODE <> ''          
    print '7'          
          
 --checking : Facility Number null          
 --INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
 -- SELECT [ROW_NUMBER],'FACILITY_NUMBER','FACILITY_NUMBER cannot be empty', CreatedBy, @uploadID, 'LENDING'          
 -- FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
 -- WHERE UploadID = @uploadID          
 --   AND FACILITY_NUMBER = ''          
 --   print '8'         
           
 --checking Transaction Date          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR](TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_DATE','TRANSACTION_DATE must consist of 8 characters with format yyyyMMdd', CreatedBy, @uploadID, 'LENDING'          
  FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
  WHERE UPLOADID = @uploadID          
   AND LEN(isnull(TRANSACTION_DATE,'')) <> 8          
   AND TRANSACTION_DATE <> ''          
 print '9'          
          
 --checking: Transaction Date whether there is month bigger than 12 or less than 1          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_DATE', 'month must between 1..12', CreatedBy, @uploadID, 'LENDING'          
        FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
  WHERE isnull (substring (TRANSACTION_DATE, 5, 2), '00') not between '01' and '12'          
             AND UPLOADID = @uploadID          
    AND TRANSACTION_DATE <> ''          
 print '10'          
           
 --checking: Transaction Date whether there is day bigger than or less than          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
	SELECT [ROW_NUMBER],'TRANSACTION_DATE', 'Day not in range', CreatedBy, @uploadID, 'LENDING'          
	FROM
	(
		SELECT *
			FROM TBLU_TRANS_ASSET_TEMP
		WHERE UPLOADID = @uploadID
	) A
	WHERE A.TRANSACTION_DATE <> ''          
		AND DAY(CAST(A.TRANSACTION_DATE AS DATE)) not between '01' and          
			DAY(EOMONTH(CAST(TRANSACTION_DATE AS DATE)))        
 print '11'          
          
 --checking: Transaction Date must > currdate ifrs_prc_date_amort          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_DATE', 'Transaction Date must be greater than or equal current process date', CreatedBy, @uploadID, 'LENDING'          
  FROM [dbo].[TBLU_TRANS_ASSET_TEMP] T          
  WHERE --isnull(TRANSACTION_DATE,'21991231')          
  isnull(CAST(TRANSACTION_DATE AS INT),0)           
  < (select replace(CURRDATE,'-','') from IFRS_PRC_DATE_AMORT)          
    AND UPLOADID = @uploadID          
    AND TRANSACTION_DATE <> ''          
 print '12'          
          
 --checking Effective Date          
 --INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR](TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
 -- SELECT [ROW_NUMBER],'EFFECTIVE_DATE','EFFECTIVE_DATE must consist of 8 characters with format yyyyMMdd', CreatedBy, @uploadID, 'LENDING'          
 -- FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
 -- WHERE UPLOADID = @uploadID          
 --  AND LEN(isnull(EFFECTIVE_DATE,'')) <> 8          
 --  AND EFFECTIVE_DATE <> ''          
 --print '13'          
          
 --checking: Effective Date whether there is month bigger than 12 or less than 1          
 --INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
 -- SELECT [ROW_NUMBER],'EFFECTIVE_DATE', 'month must between 1..12', CreatedBy, @uploadID, 'LENDING'          
 --       FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
 -- WHERE isnull (substring (EFFECTIVE_DATE, 5, 2), '00') not between '01' and '12'          
 --            AND UPLOADID = @uploadID          
 --   AND EFFECTIVE_DATE <> ''          
 --print '14'          
           
 --checking: Effective Date whether there is day bigger than or less than          
 --INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
 -- SELECT [ROW_NUMBER],'EFFECTIVE_DATE', 'Day not in range', CreatedBy, @uploadID, 'LENDING'          
 --       FROM [dbo].[TBLU_TRANS_ASSET_TEMP] T          
 -- WHERE isnull (substring (T.EFFECTIVE_DATE, 7, 2), '00') not between '01' and          
 --  --(select substring(cast(eomonth(substring(TRANSACTION_DATE,1,6)+'01') as varchar(10)),9,2)          
 --  (select substring(cast(eomonth(EFFECTIVE_DATE) as varchar(10)),9,2)          
 --   from TBLU_TRANS_ASSET_TEMP where UPLOADID= @uploadID and PKID = T.PKID)          
 --            AND UPLOADID = @uploadID          
 --   AND T.EFFECTIVE_DATE <> ''          
 --print '15'          
          
 --checking: Effective Date must > currdate ifrs_prc_date_amort          
 --INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
 -- SELECT [ROW_NUMBER],'EFFECTIVE_DATE', 'EFFECTIVE_DATE must be greater than current process date', CreatedBy, @uploadID, 'LENDING'          
 -- FROM [dbo].[TBLU_TRANS_ASSET_TEMP] T          
 -- WHERE --isnull(TRANSACTION_DATE,'21991231')          
 -- isnull(CAST(EFFECTIVE_DATE AS INT),0)           
 -- <= (select replace(CURRDATE,'-','') from IFRS_PRC_DATE_AMORT)          
 --   AND UPLOADID = @uploadID          
 --   AND EFFECTIVE_DATE <> ''          
 --print '16'          
          
 --checking : CCY null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'CCY','CCY cannot be empty', CreatedBy, @uploadID, 'LENDING'          
  FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
  WHERE UploadID = @uploadID          
    AND CURRENCY = ''          
    print '17'          
          
 --checking : CCY does not match with data transaction code in transaction parameter          
 --DECLARE @CurrencyTemp AS VARCHAR(10);          
 --SELECT DISTINCT @CurrencyTemp = CCY           
 --FROM IFRS_MASTER_TRANS_PARAM          
 --WHERE TRX_CODE IN (SELECT TRX_CODE FROM TBLU_TRANS_ASSET_TEMP WHERE UPLOADID = @uploadID)          
          
 --IF @CurrencyTemp != 'ALL'          
 --BEGIN          
 --INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
 -- SELECT [ROW_NUMBER],'CCY','CCY does not match with transaction code in transaction parameter', CreatedBy, @uploadID, 'LENDING'          
 -- FROM [dbo].[TBLU_TRANS_ASSET_TEMP] T          
 -- WHERE T.UploadID = @uploadID          
 --   AND T.CURRENCY not in (select distinct CCY from IFRS_MASTER_TRANS_PARAM where TRX_CODE = t.TRX_CODE)          
 --   AND T.CURRENCY <> ''          
 --   print '18'          
 --END          
 --checking : Debet Credit Flag null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'DEBIT_CREDIT_FLAG','DEBIT_CREDIT_FLAG cannot be empty', CreatedBy, @uploadID, 'LENDING'          
  FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
  WHERE UploadID = @uploadID          
    AND DEBIT_CREDIT_FLAG = ''          
    print '19'          
          
 --checking : Debet Credit only DR/CR          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'DEBIT_CREDIT_FLAG','DEBIT_CREDIT_FLAG only DR/CR', CreatedBy, @uploadID, 'LENDING'          
  FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
  WHERE UploadID = @uploadID          
    AND DEBIT_CREDIT_FLAG not in ('D','C')          
    AND DEBIT_CREDIT_FLAG <> ''          
    print '20'          
          
 --checking : Transaction Amount null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_AMOUNT','TRANSACTION_AMOUNT cannot be empty', CreatedBy, @uploadID, 'LENDING'          
  FROM [dbo].[TBLU_TRANS_ASSET_TEMP]          
  WHERE UploadID = @uploadID          
    AND TRANSACTION_AMOUNT = ''          
    print '21'          
          
 --checking : transaction amount can not minus          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  select [ROW_NUMBER], 'TRANSACTION_AMOUNT','TRANSACTION_AMOUNT can not be minus', CreatedBy, @uploadID, 'LENDING'          
  from [TBLU_TRANS_ASSET_TEMP]          
  where UPLOADID = @UploadID          
   and cast(TRANSACTION_AMOUNT as numeric(32,6)) < 0          
   and TRANSACTION_AMOUNT <> ''          
 print '22'          
          
 --checking: rule           
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy,UPLOAD_ID, MODULE)          
  select [ROW_NUMBER], 'ACCOUNT_NUMBER','ACCOUNT_NUMBER have same rule', CreatedBy, @uploadID, 'LENDING'          
  from [TBLU_TRANS_ASSET_TEMP] T          
   inner join           
   (select DATA_SOURCE, ACCOUNT_NUMBER, PRD_CODE, TRANSACTION_DATE, TRX_CODE, CURRENCY, DEBIT_CREDIT_FLAG, FACILITY_NUMBER          
    from [TBLU_TRANS_ASSET_TEMP] where UPLOADID = @uploadID          
    group by DATA_SOURCE, ACCOUNT_NUMBER, PRD_CODE, TRANSACTION_DATE, TRX_CODE, CURRENCY, DEBIT_CREDIT_FLAG, FACILITY_NUMBER          
    having count(*) > 1) P          
   on T.DATA_SOURCE = P.DATA_SOURCE          
    and T.ACCOUNT_NUMBER = P.ACCOUNT_NUMBER          
    and T.PRD_CODE = P.PRD_CODE          
    and T.TRANSACTION_DATE = P.TRANSACTION_DATE          
    and T.TRX_CODE = P.TRX_CODE          
    and T.FACILITY_NUMBER = P.FACILITY_NUMBER          
   where T.UPLOADID = @uploadID          
    print '23'          
           
          
 ----checking : can upload          
 --INSERT INTO [dbo].[tblU_FEECOST_MessageError] (TEMP_ID, FIELD_NAME, ERROR_MSG, MODULE, CreatedBy, UPLOADID)          
 -- select [ROW_NUMBER], 'GL_NUMBER','GL_NUMBER can not be upload because is not set as "Can Upload" in Transaction Parameter', 'Fee/Cost EYR', T.CreatedBy, @uploadID          
 -- from tblU_IFRS_AMORT_FEECOST_TEMP T          
 -- left join IFRS_MASTER_TRANS_PARAM M          
 -- on T.TRANSACTION_CODE = M.TRX_CODE --and T.PRODUCT_CODE = M.PRD_CODE          
 -- where isnull(M.CAN_UPLOAD,'N') = 'N'          
 -- and T.UPLOADID = @UploadID          
 -- and TRX_CODE not in (select distinct TRX_CODE from IFRS_MASTER_TRANS_PARAM where CAN_UPLOAD='Y')          
 -- and T.TRANSACTION_CODE <> ''          
 -- group by [ROW_NUMBER],T.TRANSACTION_CODE, T.CreatedBy          
 --   print '18'          
          
          
 ----checking : transaction amount round 2          
 -- INSERT INTO [dbo].[tblU_FEECOST_MessageError] (TEMP_ID, FIELD_NAME, ERROR_MSG, MODULE, CreatedBy, UPLOADID)          
 --  select [ROW_NUMBER], 'TRANSACTION_AMOUNT','TRANSACTION_AMOUNT must round 2', 'Fee/Cost EYR', CreatedBy, @uploadID          
 --  from tblU_IFRS_AMORT_FEECOST_TEMP          
 --  where UPLOADID = @UploadID          
 --   --and len(substring(TRANSACTION_AMOUNT, charindex('.',TRANSACTION_AMOUNT)+1,          
 --    --len(TRANSACTION_AMOUNT) - len(charindex('.',TRANSACTION_AMOUNT))))           
 --   --> 2          
 --   and charindex('.',transaction_amount) > 0          
 --   and len(transaction_amount)-charindex('.',transaction_amount) > 2          
 --   and TRANSACTION_AMOUNT <> ''          
 -- print '20'          
           
 SELECT COUNT (*)  as countInvalid           
 FROM    [dbo].[TBLU_FEECOST_MESSAGEERROR] e          
 INNER JOIN [dbo].[TBLU_TRANS_ASSET_TEMP] d          
  ON e.TEMP_ID = d.ROW_NUMBER          
 WHERE d.UPLOADID = @uploadID          
  AND e.UPLOAD_ID = @uploadID          
 print '24'          
          
if @@ERROR <> 0                            
 rollback tran                             
else                            
 commit tran 

GO
