USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_USERUNLOCK]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_USERUNLOCK]              
(@UserID varchar(36))             
as             
BEGIN         
 IF ( LTRIM(RTRIM(@UserID)) <>'')    
 BEGIN    
  SELECT  *,    
  case when IsUserLocked=0 then 1 else 0 end as ISUSERUNLOCKED    
  from tblM_User where IsUserActive=1 and IsUserLocked=1  and pkid<>@UserID    
 END    
 ELSE    
 BEGIN    
  SELECT  *,    
  case when IsUserLocked=0 then 1 else 0 end as ISUSERUNLOCKED    
  from tblM_User where IsUserActive=1 and IsUserLocked=1     
 END    
    
END

GO
