USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_CORP_RECOV_CHART]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_ECL_CORP_RECOV_CHART]
(
	@LGDMethod varchar(50)='',
	@Period datetime='1900-01-01',
	@LGDRuleID int=0
)
as
begin
	if @LGDMethod = 'INTERNAL'
		begin
			select RECOVERY_YEAR, RECOVERY_RATE * 100 as RECOVERY_RATE
			from IFRS_LGD_RECOVERY_RATE 
			where LGD_RULE_ID = @LGDRuleID
			and CURRDATE = (select MAX(LGD_EFF_DATE) from IFRS_ECL_EFFECTIVE_DATE_CTBC where period=@Period) 

		end
	else
		begin
				select LIEN_POSITION, RECOVERY_RATE * 100 as RECOVERY_RATE
				from IFRS_LGD_EXTERNAL_RECOVERY
				where EFF_DATE = @Period
		End

end

GO
