USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADDEPENDENTDETAIL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOADDEPENDENTDETAIL](    
 @ME_CODE VARCHAR(1000),           
 @TABLE VARCHAR(1000),  
 @PERIODCOL VARCHAR(1000),  
 @VALUECOL VARCHAR(1000),  
 @FILTERCOL VARCHAR(1000),  
 @FILTER VARCHAR(1000)           
)                                                
AS                                                
BEGIN                                                
              
 DECLARE @QUERY VARCHAR(MAX)  
  
 SET @QUERY = 'DECLARE @ME VARCHAR(1000) = ''' + @ME_CODE + ''' SELECT @ME AS ME_CODE, ' + @PERIODCOL + ' AS DOWNLOAD_DATE, ' + @VALUECOL + ' AS VALUE FROM ' + @TABLE + ' WHERE ' + @FILTERCOL + ' = ' + @FILTER + ' ORDER BY ' + @PERIODCOL  
 EXEC(@QUERY)  
 PRINT(@QUERY)  
                                    
END
GO
