USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_DEFAULT_RATE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SP_IFRS_IMPCR_DEFAULT_RATE]   
@DOWNLOAD_DATE DATE = '',  
@RULE_ID BIGINT = 0  
AS  
BEGIN  
 DECLARE @V_CURRDATE DATE             
 DECLARE @V_PREVDATE DATE   
 DECLARE @V_PREVMONTH DATE  
 DECLARE @LAST_YEAR DATE           
  
 IF @DOWNLOAD_DATE <> ''  
 BEGIN  
  SET @V_CURRDATE = EOMONTH(DATEADD(M,-1,@DOWNLOAD_DATE))             
  SET @V_PREVDATE = DATEADD(DAY,-1,@DOWNLOAD_DATE)  
  SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE))  
  SET @LAST_YEAR = EOMONTH(DATEADD(YEAR,-1,@V_CURRDATE))  
 END  
 ELSE  
 BEGIN  
  SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE)) FROM IFRS_PRC_DATE  
  SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)  
  SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))         
  SET @LAST_YEAR = EOMONTH(DATEADD(YEAR,-1,@V_CURRDATE))  
 END  
  
 IF OBJECT_ID ('TEMPDB.DBO.#MAX_BUCKET') IS NOT NULL DROP TABLE #MAX_BUCKET  
 SELECT BUCKET_GROUP, MAX(BUCKET_ID) AS MAX_BUCKET   
 INTO #MAX_BUCKET   
 FROM IFRS_BUCKET_DETAIL   
 GROUP BY BUCKET_GROUP  
  
 DELETE IFRS_IMP_DEFAULT_RATE   
 WHERE DOWNLOAD_DATE = @LAST_YEAR  
 AND CREATEDBY =  'SP_IFRS_IMP_DEFAULT_RATE'  
 AND PD_RULE_ID = @RULE_ID  
  
 INSERT INTO IFRS_IMP_DEFAULT_RATE  
 (  
  DOWNLOAD_DATE  
  ,PROJECTION_DATE  
  ,PD_RULE_ID  
  ,PD_RULE_NAME  
  ,SEGMENT  
  ,CALC_METHOD  
  ,TOTAL_ACCOUNT  
  ,TOTAL_PERFORMING  
  ,TOTAL_12M_DEFAULT  
  ,TOTAL_OS  
  ,TOTAL_OS_PERFORMING  
  ,TOTAL_OS_12M_DEFAULT  
  ,ODR_RATE  
  ,CREATEDBY  
  ,CREATEDDATE  
 )  
 SELECT   
  DOWNLOAD_DATE  
  ,@V_CURRDATE AS PROJECTION_DATE  
  ,PD_RULE_ID  
  ,MAX(PD_RULE_NAME)  
  ,MAX(SEGMENT)  
  ,MAX(A.CALC_METHOD)  
  ,COUNT(1) AS TOTAL_ACCOUNT  
  ,SUM(CASE WHEN BUCKET_ID = 0 OR BUCKET_ID = B.MAX_BUCKET THEN 0 ELSE 1 END)  TOTAL_PERFORMING  
  ,SUM (CASE WHEN NEXT_12M_DEFAULT_FLAG = 1 AND A.BUCKET_ID <> MAX_BUCKET AND BUCKET_ID <> 0  THEN 1  ELSE 0 END)  AS TOTAL_12M_DEFAULT  
  ,SUM (OUTSTANDING) TOTAL_OS  
  ,SUM(CASE WHEN BUCKET_ID = 0 OR BUCKET_ID = B.MAX_BUCKET  THEN 0 ELSE A.OUTSTANDING END) TOTAL_OS_PERFORMING  
  ,SUM (CASE WHEN NEXT_12M_DEFAULT_FLAG = 1 AND A.BUCKET_ID <> MAX_BUCKET AND BUCKET_ID <> 0  THEN A.OUTSTANDING ELSE 0 END) AS TOTAL_OS_12M_DEFAULT  
  ,NULL AS ODR_RATE  
  ,'SP_IFRS_IMP_DEFAULT_RATE' AS CREATEDBY  
  ,GETDATE() AS  CREATEDDATE  
 FROM IFRS_PD_SCENARIO_DATA A  
 INNER JOIN #MAX_BUCKET B ON A.BUCKET_GROUP = B.BUCKET_GROUP  
 WHERE DOWNLOAD_DATE = @LAST_YEAR  
 AND A.PD_RULE_ID = @RULE_ID  
 GROUP BY DOWNLOAD_DATE, PD_RULE_ID  
  
 -- SEMENTARA BLOM BISA UNTUK CUSTOMER LEVEL NANTI AKAN DITAMBAHKAN  
 UPDATE A  
 SET ODR_RATE = CASE WHEN  TOTAL_PERFORMING = 0 THEN 0 ELSE  CAST(TOTAL_12M_DEFAULT AS FLOAT)/CAST(TOTAL_PERFORMING AS FLOAT)     END       
 FROM IFRS_IMP_DEFAULT_RATE A  
 INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID  = B.PKID  
 WHERE A.DOWNLOAD_DATE = @LAST_YEAR  
 AND A.CREATEDBY =  'SP_IFRS_IMP_DEFAULT_RATE'  
 AND A.PD_RULE_ID = @RULE_ID     
  
 END
GO
