USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMRETENTION]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_PARAMRETENTION]      
(     
    @PKID bigint  
    ,@TABLE_SRC varchar(100)=''  
    ,@CATALOG_SRC varchar(100)=''     
    ,@SCHEMA_SRC varchar(100)=''    
    ,@CATALOG_DEST varchar(100)=''     
    ,@SCHEMA_DEST varchar(100)=''      
    ,@RETENTION_DAYS int = 0    
    ,@COL_NAME_DATE varchar(50)= ''  
    ,@EOM BIT = 0  
    ,@LAG_1MONTH_FLAG BIT = 0  
    ,@UpdatedBy varchar(36)=''      
    ,@UpdatedHost varchar(30)=''      
)      
AS      
BEGIN      
      
    UPDATE [dbo].[IFRS_ARCHIVE_MASTER]      
    SET     
        TABLE_SRC = @TABLE_SRC
        ,CATALOG_SRC = @CATALOG_SRC  
        ,SCHEMA_SRC = @SCHEMA_SRC  
        ,TABLE_DEST = @TABLE_SRC + '_ACV'  
        ,CATALOG_DEST = @CATALOG_DEST  
        ,SCHEMA_DEST = @SCHEMA_DEST  
        ,COL_NAME_DATE = @COL_NAME_DATE  
        ,RETENTION_DAYS = @RETENTION_DAYS  
        ,EOM = @EOM
        ,LAG_1MONTH_FLAG = @LAG_1MONTH_FLAG   
    WHERE PKID = @PKID AND IS_DELETE = 0    
          
END    
GO
