USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_NEXTSCALAR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_NEXTSCALAR]  
AS      
BEGIN      
    --UPDATE tblm_sequence set SEQUENCES=0 where SEQUENCE_NAME = 'ME_SCALAR_HEADER'      
 UPDATE tblm_sequence set SEQUENCES=SEQUENCES+1 where SEQUENCE_NAME = 'ME_SCALAR_HEADER'    
 SELECT SEQUENCES FROM tblm_sequence where SEQUENCE_NAME = 'ME_SCALAR_HEADER'    
END;
GO
