USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDECIFBYACC]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_DCFOVERRIDECIFBYACC]                  
AS                      
BEGIN                      
          
 SELECT           
  A.MASTERID,  
  A.MASTERID AS MASTERID2,      
  A.CUSTOMER_NUMBER,        
  A.CUSTOMER_NAME,  
  A.DOWNLOAD_DATE,        
  A.EFFECTIVE_DATE,          
  A.OUTSTANDING,          
  A.PLAFOND,       
  A.PLAFOND_CIF,   
  A.DAY_PAST_DUE,
  A.DPD_CIF,          
  A.BI_COLLECTABILITY,
  A.BI_COLLECT_CIF,        
  A.OVERRIDE_FLAG,
  A.DATA_SOURCE,
  A.RATING_CODE,
  A.BEING_EDITED     
 FROM IFRS_IMP_IA_MASTER A --WHERE A.BEING_EDITED <> 1        
      
END;

GO
