USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_METIMESERIES]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_METIMESERIES](    
@MODEL_ID int  
,@IS_SIMULATION bit)  
AS  
BEGIN  
  
 IF (@IS_SIMULATION = 1)  
 BEGIN  
  SELECT  
   ME_PERIOD  
   ,CORRELATION_VAL  
   ,ZFAC_VAL  
   ,MODEL_ID  
   ,@IS_SIMULATION AS IS_SIMULATION  
  FROM TMP_IFRS_ZFAC_RESULT_DTL  
  WHERE MODEL_ID = @MODEL_ID  
  ORDER BY ME_PERIOD  
 END  
 ELSE  
 BEGIN  
  SELECT  
   EFF_DATE AS ME_PERIOD  
   ,RHO AS CORRELATION_VAL  
   ,ZFAC_VAL  
   ,MODEL_ID  
   ,@IS_SIMULATION  AS IS_SIMULATION  
  FROM IFRS_PD_ZFAC  
  WHERE MODEL_ID = @MODEL_ID  
  ORDER BY ME_PERIOD  
 END  
    
END  
GO
