USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKPARAMHIERARCHY]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_CHECKPARAMHIERARCHY]
(
	@GEN1_CODE decimal(32, 6),
	@GEN1_DESC varchar(100),
	@GEN2_CODE decimal(32, 6),
	@GEN2_DESC varchar(100),
	@GEN3_CODE decimal(32, 6),
	@GEN3_DESC varchar(100),
	@GEN4_CODE decimal(32, 6),
	@GEN4_DESC varchar(100),
	@GEN5_CODE decimal(32, 6),
	@GEN5_DESC varchar(100),
	@GEN6_CODE decimal(32, 6),
	@GEN6_DESC varchar(100),
	@GEN7_CODE decimal(32, 6),
	@GEN7_DESC varchar(100),
	@GEN8_CODE decimal(32, 6),
	@GEN8_DESC varchar(100),
	@PKID bigint = 0
)
AS
BEGIN

	DECLARE @Count int;
	DECLARE @CountSame int;
	DECLARE @ItemCode varchar(20);

	IF (@GEN8_CODE = 0 AND @GEN7_CODE = 0 AND @GEN6_CODE = 0 AND @GEN5_CODE = 0 AND @GEN4_CODE = 0 AND @GEN3_CODE = 0 AND @GEN2_CODE = 0)
	BEGIN           
		Set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10))
	END
	ELSE IF (@GEN8_CODE = 0 AND @GEN7_CODE = 0 AND @GEN6_CODE = 0 AND @GEN5_CODE = 0 AND @GEN4_CODE = 0 AND @GEN3_CODE = 0)
	BEGIN           
		Set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10))+'-'+cast(cast(@GEN2_CODE as int) as varchar(10))
	END
	ELSE IF (@GEN8_CODE = 0 AND @GEN7_CODE = 0 AND @GEN6_CODE = 0 AND @GEN5_CODE = 0 AND @GEN4_CODE = 0)
	BEGIN           
		Set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10))+'-'+cast(cast(@GEN2_CODE as int) as varchar(10))+'-'+cast(cast(@GEN3_CODE as int) as varchar(10))
	END
	ELSE IF (@GEN8_CODE = 0 AND @GEN7_CODE = 0 AND @GEN6_CODE = 0 AND @GEN5_CODE = 0)
	BEGIN           
		Set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10))+'-'+cast(cast(@GEN2_CODE as int) as varchar(10))+'-'+cast(cast(@GEN3_CODE as int) as varchar(10))+'-'+cast(cast(@GEN4_CODE as int) as varchar(10))
	END
	ELSE IF (@GEN8_CODE = 0 AND @GEN7_CODE = 0 AND @GEN6_CODE = 0)
	BEGIN           
		Set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10))+'-'+cast(cast(@GEN2_CODE as int) as varchar(10))+'-'+cast(cast(@GEN3_CODE as int) as varchar(10))+'-'+cast(cast(@GEN4_CODE as int) as varchar(10))+'-'+cast(cast(@GEN5_CODE as int) as varchar(10))
	END
	ELSE IF (@GEN8_CODE = 0 AND @GEN7_CODE = 0)
	BEGIN           
		Set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10))+'-'+cast(cast(@GEN2_CODE as int) as varchar(10))+'-'+cast(cast(@GEN3_CODE as int) as varchar(10))+'-'+cast(cast(@GEN4_CODE as int) as varchar(10))+'-'+cast(cast(@GEN5_CODE as int) as varchar(10))+'-'+cast(cast(@GEN6_CODE as int) as varchar(10))
	END
	ELSE IF (@GEN8_CODE = 0)
	BEGIN           
		Set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10))+'-'+cast(cast(@GEN2_CODE as int) as varchar(10))+'-'+cast(cast(@GEN3_CODE as int) as varchar(10))+'-'+cast(cast(@GEN4_CODE as int) as varchar(10))+'-'+cast(cast(@GEN5_CODE as int) as varchar(10))+'-'+cast(cast(@GEN6_CODE as int) as varchar(10))+'-'+cast(cast(@GEN7_CODE as int) as varchar(10))
	END
	ELSE
	BEGIN           
		Set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10))+'-'+cast(cast(@GEN2_CODE as int) as varchar(10))+'-'+cast(cast(@GEN3_CODE as int) as varchar(10))+'-'+cast(cast(@GEN4_CODE as int) as varchar(10))+'-'+cast(cast(@GEN5_CODE as int) as varchar(10))+'-'+cast(cast(@GEN6_CODE as int) as varchar(10))+'-'+cast(cast(@GEN7_CODE as int) as varchar(10))+'-'+cast(cast(@GEN8_CODE as int) as varchar(10))
	END

	DECLARE @COUNT_DISTINCT INT;
	DECLARE @DIFF varchar(5);

	CREATE TABLE #DIFF_TEMP(
		DIFFERENT varchar(5)
	)

	IF (@GEN1_CODE <> 0)
	BEGIN
		INSERT INTO #DIFF_TEMP
		SELECT A.DIFFERENT
		FROM (
			SELECT DISTINCT GEN1_CODE, 
				GEN1_DESC,
				CASE WHEN UPPER(LTRIM(RTRIM(GEN1_DESC))) = UPPER(LTRIM(RTRIM(@GEN1_DESC))) THEN 'TRUE' ELSE 'FALSE' END DIFFERENT
			FROM GL_PARAM_HIERARCHY_HO 
			WHERE GEN1_CODE = @GEN1_CODE
			) A
	END
	IF (@GEN2_CODE <> 0)
	BEGIN
		INSERT INTO #DIFF_TEMP
		SELECT A.DIFFERENT
		FROM (
			SELECT DISTINCT GEN2_CODE, 
				GEN2_DESC,
				CASE WHEN UPPER(LTRIM(RTRIM(GEN2_DESC))) = UPPER(LTRIM(RTRIM(@GEN2_DESC))) THEN 'TRUE' ELSE 'FALSE' END DIFFERENT
			FROM GL_PARAM_HIERARCHY_HO 
			WHERE GEN1_CODE = @GEN1_CODE 
				AND GEN2_CODE = @GEN2_CODE
			) A
	END
	IF (@GEN3_CODE <> 0)
	BEGIN
		INSERT INTO #DIFF_TEMP
		SELECT A.DIFFERENT
		FROM (
			SELECT DISTINCT GEN3_CODE, 
				GEN3_DESC, 
				CASE WHEN UPPER(LTRIM(RTRIM(GEN3_DESC))) = UPPER(LTRIM(RTRIM(@GEN3_DESC))) THEN 'TRUE' ELSE 'FALSE' END DIFFERENT
			FROM GL_PARAM_HIERARCHY_HO 
			WHERE GEN1_CODE = @GEN1_CODE 
				AND GEN2_CODE = @GEN2_CODE 
				AND GEN3_CODE = @GEN3_CODE
			) A
	END
	IF (@GEN4_CODE <> 0)
	BEGIN
		INSERT INTO #DIFF_TEMP
		SELECT A.DIFFERENT
		FROM (
			SELECT DISTINCT GEN4_CODE, 
				GEN4_DESC,
				CASE WHEN UPPER(LTRIM(RTRIM(GEN4_DESC))) = UPPER(LTRIM(RTRIM(@GEN4_DESC))) THEN 'TRUE' ELSE 'FALSE' END DIFFERENT
			FROM GL_PARAM_HIERARCHY_HO 
			WHERE GEN1_CODE = @GEN1_CODE 
				AND GEN2_CODE = @GEN2_CODE 
				AND GEN3_CODE = @GEN3_CODE 
				AND GEN4_CODE = @GEN4_CODE
			) A
	END
	IF (@GEN5_CODE <> 0)
	BEGIN
		INSERT INTO #DIFF_TEMP
		SELECT A.DIFFERENT
		FROM (
			SELECT DISTINCT GEN5_CODE, 
				GEN5_DESC, 
				CASE WHEN UPPER(LTRIM(RTRIM(GEN5_DESC))) = UPPER(LTRIM(RTRIM(@GEN5_DESC))) THEN 'TRUE' ELSE 'FALSE' END DIFFERENT
			FROM GL_PARAM_HIERARCHY_HO 
			WHERE GEN1_CODE = @GEN1_CODE 
				AND GEN2_CODE = @GEN2_CODE 
				AND GEN3_CODE = @GEN3_CODE 
				AND GEN4_CODE = @GEN4_CODE 
				AND GEN5_CODE = @GEN5_CODE
			) A
	END
	IF (@GEN6_CODE <> 0)
	BEGIN
		INSERT INTO #DIFF_TEMP
		SELECT A.DIFFERENT
		FROM (
			SELECT DISTINCT GEN6_CODE, 
				GEN6_DESC, 
				CASE WHEN UPPER(LTRIM(RTRIM(GEN6_DESC))) = UPPER(LTRIM(RTRIM(@GEN6_DESC))) THEN 'TRUE' ELSE 'FALSE' END DIFFERENT
			FROM GL_PARAM_HIERARCHY_HO 
			WHERE GEN1_CODE = @GEN1_CODE 
				AND GEN2_CODE = @GEN2_CODE 
				AND GEN3_CODE = @GEN3_CODE 
				AND GEN4_CODE = @GEN4_CODE 
				AND GEN5_CODE = @GEN5_CODE 
				AND GEN6_CODE = @GEN6_CODE
			) A
	END
	IF (@GEN7_CODE <> 0)
	BEGIN
		INSERT INTO #DIFF_TEMP
		SELECT A.DIFFERENT
		FROM (
			SELECT DISTINCT GEN7_CODE, 
				GEN7_DESC,
				CASE WHEN UPPER(LTRIM(RTRIM(GEN7_DESC))) = UPPER(LTRIM(RTRIM(@GEN7_DESC))) THEN 'TRUE' ELSE 'FALSE' END DIFFERENT
			FROM GL_PARAM_HIERARCHY_HO 
			WHERE GEN1_CODE = @GEN1_CODE 
				AND GEN2_CODE = @GEN2_CODE 
				AND GEN3_CODE = @GEN3_CODE 
				AND GEN4_CODE = @GEN4_CODE 
				AND GEN5_CODE = @GEN5_CODE 
				AND GEN6_CODE = @GEN6_CODE 
				AND GEN7_CODE = @GEN7_CODE
			) A
	END
	IF (@GEN8_CODE <> 0)
	BEGIN
		INSERT INTO #DIFF_TEMP
		SELECT A.DIFFERENT
		FROM (
			SELECT DISTINCT GEN8_CODE, 
				GEN8_DESC,
				CASE WHEN UPPER(LTRIM(RTRIM(GEN8_DESC))) = UPPER(LTRIM(RTRIM(@GEN8_DESC))) THEN 'TRUE' ELSE 'FALSE' END DIFFERENT
			FROM GL_PARAM_HIERARCHY_HO 
			WHERE GEN1_CODE = @GEN1_CODE 
				AND GEN2_CODE = @GEN2_CODE 
				AND GEN3_CODE = @GEN3_CODE 
				AND GEN4_CODE = @GEN4_CODE 
				AND GEN5_CODE = @GEN5_CODE 
				AND GEN6_CODE = @GEN6_CODE 
				AND GEN7_CODE = @GEN7_CODE 
				AND GEN8_CODE = @GEN8_CODE
			) A
	END

	SELECT @COUNT_DISTINCT = COUNT(*) FROM #DIFF_TEMP WHERE DIFFERENT = 'FALSE'

	IF @COUNT_DISTINCT > 0
	BEGIN
		SELECT --*,
			'' ITEM_CODE,
			NULL GEN1_CODE,NULL GEN1_DESC,NULL GEN2_CODE,NULL GEN2_DESC,NULL GEN3_CODE,NULL GEN3_DESC,NULL GEN4_CODE,NULL GEN4_DESC,
			NULL GEN5_CODE,NULL GEN5_DESC,NULL GEN6_CODE,NULL GEN6_DESC,NULL GEN7_CODE,NULL GEN7_DESC,NULL GEN8_CODE,NULL GEN8_DESC,
			'Description is different from the same code' as MessageError
			/*FROM GL_PARAM_HIERARCHY
			WHERE ITEM_CODE = @ItemCode
				AND PKID <> @PKID*/
	END
	ELSE
	BEGIN
		SELECT
			@CountSame = COUNT(*)
			FROM GL_PARAM_HIERARCHY_HO
			WHERE ITEM_CODE = @ItemCode
				AND PKID <> @PKID

		IF @CountSame > 0
		BEGIN
		 SELECT *,
			ITEM_CODE,'Data already exist' as MessageError
			FROM GL_PARAM_HIERARCHY_HO
			WHERE ITEM_CODE = @ItemCode
				AND PKID <> @PKID
		END

		ELSE
		BEGIN
			SELECT
				@Count = COUNT(*)
				FROM GL_PARAM_HIERARCHY_HO
				WHERE ITEM_CODE like @ItemCode+'%'
					AND PKID <> @PKID

			IF @Count > 0
			BEGIN
			 SELECT *,
				ITEM_CODE,'Children Item Code already exist' as MessageError
				FROM GL_PARAM_HIERARCHY_HO
				WHERE ITEM_CODE like @ItemCode+'%'
					AND PKID <> @PKID
			END
			ELSE
			BEGIN
				SELECT *,
				ITEM_CODE,'Parent Code already exist' as MessageError
				FROM GL_PARAM_HIERARCHY_HO
				WHERE @ItemCode like ITEM_CODE+'-'+'%'
					AND PKID <> @PKID
			END
		END
	END

END

GO
