USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FUNDINGCONTRACTATTR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_FUNDINGCONTRACTATTR]    
(    
 @DDATE_MAID VARCHAR(100) = ''    
)    
AS    
BEGIN    
    
    SELECT REPLACE(CONVERT(VARCHAR, IMA.DOWNLOAD_DATE, 106), ' ', '-') DOWNLOAD_DATE,    
  IMA.DATA_SOURCE,    
        IMA.CUSTOMER_NAME,    
        IMA.CUSTOMER_NUMBER,    
        IMA.ACCOUNT_NUMBER,    
        IMA.ACCOUNT_STATUS,    
        REPLACE(CONVERT(VARCHAR, IMA.LOAN_START_DATE, 106), ' ', '-') LOAN_START_DATE,    
        REPLACE(CONVERT(VARCHAR, IMA.LOAN_DUE_DATE, 106), ' ', '-') LOAN_DUE_DATE,    
        IMA.BRANCH_CODE,    
  IMA.PRODUCT_CODE,    
        IMA.CURRENCY,    
  CASE WHEN IMA.INTEREST_RATE <> 0    
            THEN ISNULL(IMA.INTEREST_RATE, 0)    
            ELSE '0'    
        END INTEREST_RATE,    
        CASE WHEN IMA.EIR <> 0    
            THEN ISNULL(IMA.EIR, 0)    
            ELSE '0'    
        END EIR,    
        CASE WHEN IMA.OUTSTANDING <> 0    
            THEN ISNULL(IMA.OUTSTANDING, 0)    
            ELSE '0'    
        END OUTSTANDING,    
  CASE WHEN IMA.INTEREST_ACCRUED <> 0    
            THEN ISNULL(IMA.INTEREST_ACCRUED, 0)    
            ELSE '0'    
        END INTEREST_ACCRUED,    
  CASE WHEN IMA.INITIAL_UNAMORT_ORG_FEE <> 0    
            THEN ISNULL(IMA.INITIAL_UNAMORT_ORG_FEE, 0)    
            ELSE '0'    
        END INITIAL_UNAMORT_ORG_FEE,    
        CASE WHEN IMA.INITIAL_UNAMORT_TXN_COST <> 0    
            THEN ISNULL(IMA.INITIAL_UNAMORT_TXN_COST, 0)    
            ELSE '0'    
        END INITIAL_UNAMORT_TXN_COST,    
        IMA.INTEREST_CALCULATION_CODE,    
  IMA.COMPOUND_FLAG,    
  IMA.MASTER_ACCOUNT_CODE AS MASTER_ACCOUNT_ID,    
  PAR.LIABILITES_CLASSIFICATION,    
  PAR.PRD_TYPE_1 AS ASSET_TYPE_PRODUCT1,    
  IMA.PRODUCT_TYPE,
  IMA.PRODUCT_GROUP,    
  IMA.TENOR    
    FROM IFRS_LI_MASTER_ACCOUNT IMA    
  LEFT JOIN (SELECT * FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B10')TC ON TC.VALUE1 = IMA.BRANCH_CODE    
  LEFT JOIN IFRS_MASTER_PRODUCT_PARAM PAR ON IMA.DATA_SOURCE = PAR.DATA_SOURCE AND IMA.PRODUCT_TYPE = PAR.PRD_TYPE    
   AND IMA.PRODUCT_CODE = PAR.PRD_CODE    
    WHERE IMA.ACCOUNT_NUMBER = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))    
        AND IMA.DOWNLOAD_DATE = CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10) , 111)    
    
END; 

GO
