USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SCALARREJECT]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_SCALARREJECT]  
 @SCALAR_ID int  
AS  
BEGIN  
 DELETE FROM IFRS_ME_SCALAR_HEADER_PENDING WHERE PKID = @SCALAR_ID  
 DELETE FROM IFRS_ME_SCALAR_DETAIL_PENDING WHERE SCALAR_ID = @SCALAR_ID  
END
GO
