USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GET_LGD_SEGMENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_GET_LGD_SEGMENT]
as
begin

	select distinct PKID as LGD_ID, LGD_RULE_NAME from IFRS_LGD_RULES_CONFIG
end

GO
