USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_MESCALARCONFIG]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_MESCALARCONFIG](            
@PKID bigint = 0        
,@MODEL_ID int = 0        
,@ADJ_TYPE varchar(10) = ''        
,@SCALAR_APPLY varchar(10) = ''        
,@RULE_ID int = 0      
,@PERIOD date = NULL      
,@SCENARIO_NO int = 0        
,@SCENARIO_NAME varchar(50) = ''        
,@ADJUSTMENT_VALUE float = 0        
,@ECONOMY_IMPACT bit        
,@WEIGHTED_VALUE float = 0      
,@UpdatedBy VARCHAR(36)        
,@UpdatedHost VARCHAR(30)               
)            
AS            
BEGIN        
        
 IF (@MODEL_ID <>  0)        
 BEGIN        
  UPDATE IFRS_ME_SCALAR_HEADER        
  SET        
   MODEL_ID = @MODEL_ID        
   ,ADJ_TYPE = @ADJ_TYPE        
   ,SCALAR_APPLY = @SCALAR_APPLY        
   ,RULE_ID = @RULE_ID      
   ,PERIOD = @PERIOD        
   ,UPDATEDBY = @UpdatedBy        
   ,UPDATEDDATE = GETDATE()        
   ,UPDATEDHOST = @UpdatedHost        
  WHERE PKID = @PKID        
 END           
        
  UPDATE IFRS_ME_SCALAR_DETAIL        
  SET        
   ADJUSTMENT_VALUE = @ADJUSTMENT_VALUE        
   ,ECONOMY_IMPACT = @ECONOMY_IMPACT        
   ,WEIGHTED_VALUE = @WEIGHTED_VALUE      
  WHERE SCALAR_ID = @PKID        
   AND SCENARIO_NAME = @SCENARIO_NAME    
   
   DECLARE @MODELID BIGINT  
 SET @MODELID = (SELECT DISTINCT(MODEL_ID) FROM IFRS_ME_SCALAR_HEADER WHERE PKID = @PKID)    
       
   --ADD BY SEPTIAN 08072019 EXEC 4 SP MAS SAID   
   IF @SCENARIO_NO = 3  
   BEGIN   
 EXEC USPP_AFTERRSUBMITSCALAR @MODELID, @PERIOD       
   END
        
END
GO
