USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKCOUNTBUCKGROUP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CHECKCOUNTBUCKGROUP]  
 @BUCKET_Group varchar(25)  
AS  
BEGIN  
  
 SET NOCOUNT ON;  
    SELECT COUNT(*) C  
  FROM [IFRS_BUCKET_HEADER]  
  WHERE BUCKET_GROUP like @BUCKET_Group  + '_%'
  AND IS_DELETE = 0;  
    
END
GO
