USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULENONEIRCURRENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOANMODULENONEIRCURRENT]  
(  
    @DDATE_MAID VARCHAR(50)=''  
)  
AS  
  
 DECLARE @DATE DATE;  
 DECLARE @DATE2 DATE;  
 DECLARE @MASTERID VARCHAR(100);  
  
BEGIN  
  
 SET @DATE = CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID,1,10),111);            
 SET @MASTERID = SUBSTRING(@DDATE_MAID,11,LEN(@DDATE_MAID));  
  
 SELECT @DATE2=MAX(DOWNLOAD_DATE)  
 FROM IFRS_ACCT_SL_ECF (NOLOCK)   
 WHERE MASTERID = @MASTERID         
 AND DOWNLOAD_DATE <= @DATE;  
  
 IF (@DATE2 = NULL)  
  SET @DATE2 = '1900/01/01'  
  
        SELECT PMTDATE AS PERIOD,  
            COALESCE (N_AMORT_COST, 0) + COALESCE (N_AMORT_FEE, 0) AS "AMORTIZATION_TOTAL",  
            COALESCE (N_UNAMORT_COST, 0) + COALESCE (N_UNAMORT_FEE, 0) AS "UNAMORT_AMT_TOTAL",  
            COALESCE (N_AMORT_COST, 0) AS "AMORT_TXN_COST",  
            COALESCE (N_AMORT_FEE, 0) AS "AMORT_ORG_FEE",  
            COALESCE (N_UNAMORT_FEE, 0) AS "UNAMORT_ORG_FEE",  
            COALESCE (N_UNAMORT_COST, 0) AS "UNAMORT_TXN_COST",  
   0 AS CARRYING_AMOUNT  
        FROM IFRS_ACCT_SL_ECF (NOLOCK)  
        WHERE MASTERID = @MASTERID  
        AND DOWNLOAD_DATE <= @DATE2  
		AND AMORTSTOPDATE IS NULL
        /* remarks  
         MASTERID = SUBSTR(v_DDATE_MAID,11,length(v_DDATE_MAID))  
            AND AMORTSTOPDATE IS NULL    
        */   
        ORDER BY PMTDATE ASC;  
  
END;

GO
