USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOADLGDRESULT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC  [dbo].[USPR_LOADLGDRESULT]      
(
	@PKID BIGINT,
	@DOWNLOAD_DATE DATE
)
AS      
BEGIN    
DECLARE @LGD_METHOD VARCHAR(50)

SELECT @LGD_METHOD = LGD_METHOD FROM IFRS_LGD_RULES_CONFIG WHERE PKID = @PKID

IF (@LGD_METHOD = 'CR x LGL')
BEGIN
	SELECT
		DOWNLOAD_DATE AS 'Period',
		LGD_RULE_NAME AS 'LGD Model Name',
		CURE_COUNT AS 'Cure Count',
		LIQPEN_COUNT AS 'Liqpen Count',
		TOTAL_CURE_LIQPEN AS 'Total Count',
		CURE_RATE AS 'Cure Rate (%)',
		AVG_LGL AS 'Average LGL (%)',
		DISC_AVG_LGL AS 'Average Discounted LGL (%)',
		LGD AS 'LGD (%)'
	FROM IFRS_LGD_CURE_LGL_HEADER
	WHERE LGD_RULE_ID = @PKID
		AND DOWNLOAD_DATE = @DOWNLOAD_DATE
END
ELSE IF (@LGD_METHOD = 'EXPECTED RECOVERY')
BEGIN
	SELECT
		DOWNLOAD_DATE AS 'Period',
		LGD_RULE_NAME AS 'LGD Model Name',
		ISNULL(RECOVERY_RATE, 0) * 100 AS 'Recovery Rate (%)',
		ISNULL(LGD, 0) * 100 AS 'LGD (%)'
	FROM IFRS_LGD_ER_HEADER
	WHERE LGD_RULE_ID = @PKID
		AND DOWNLOAD_DATE = @DOWNLOAD_DATE
END 
ELSE IF (@LGD_METHOD = 'EXTERNAL')
BEGIN
	SELECT
		D.DOWNLOAD_DATE AS 'Period',
		D.LGD_RULE_NAME AS 'LGD Model Name',
		ISNULL(RECOVERY_RATE, 0) * 100 AS 'Recovery Rate (%)',
		ISNULL(LGD, 0) * 100 AS 'LGD (%)'
	FROM IFRS_RECOVERY_RATE_TREASURY A
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENT = B.SEGMENT AND B.SEGMENT_TYPE = 'LGD_SEGMENT'
	LEFT JOIN IFRS_LGD_RULES_CONFIG C ON B.PKID = C.SEGMENTATION_ID AND ISNULL(C.IS_DELETE, 0) = 0
	LEFT JOIN IFRS_LGD_TERM_STRUCTURE D ON C.PKID = D.LGD_RULE_ID
	WHERE D.LGD_RULE_ID = @PKID  AND A.DOWNLOAD_DATE = D.DOWNLOAD_DATE
		AND D.DOWNLOAD_DATE = @DOWNLOAD_DATE
END

END  

GO
