USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPBRANCH]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPBRANCH]
(
	@blank bit
)
AS
BEGIN

	CREATE TABLE #branch
	(
		Branch_Code varchar(10),
		Branch_Name varchar(200),
		[Branch] varchar(200)
	)

	IF (@blank = 1)
	BEGIN
		INSERT INTO #branch (Branch_Code, Branch_Name, [Branch]) 
		VALUES ('', 'All Branch', 'All Branch')
	END

	INSERT INTO #branch
	SELECT VALUE1 AS "BRANCH_CODE",
		VALUE1 + ' - ' + VALUE2 AS "Branch_Name",
		VALUE1 + ' - ' + VALUE2 AS "Branch"
	FROM TBLM_COMMONCODEDETAIL
	WHERE COMMONCODE = 'B10'

	SELECT * FROM #branch

	DROP TABLE #branch

END

GO
