USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_SYNC_TRANS_DAILY]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_SYNC_TRANS_DAILY]  
AS  
  
BEGIN  
  
 DECLARE @CURRDATE DATE  
  
 SELECT @CURRDATE = CURRDATE FROM DBO.IFRS_PRC_DATE_AMORT  
   
 BEGIN TRANSACTION  
  
  DELETE FROM DBO.IFRS_TRANSACTION_DAILY  
  WHERE DOWNLOAD_DATE = @CURRDATE  
  
  INSERT INTO IFRS_TRANSACTION_DAILY (  
    DOWNLOAD_DATE,   
    EFFECTIVE_DATE,   
    MATURITY_DATE,   
    MASTERID,   
    ACCOUNT_NUMBER,  
    FACILITY_NUMBER,   
    CUSTOMER_NUMBER,   
    BRANCH_CODE,   
    DATA_SOURCE,   
    PRD_TYPE,   
    PRD_CODE,  
    TRX_CODE,   
    CCY,   
    --EVENT_CODE,   
    TRX_REFERENCE_NUMBER,   
    ORG_CCY_AMT,   
    EQV_LCY_AMT,   
    DEBET_CREDIT_FLAG  
    --,TRX_SOURCE  
  )  
  SELECT A.DOWNLOAD_DATE,  
    A.EFFECTIVE_DATE,  
    CASE WHEN CONVERT(DATE, A.MATURITY_DATE) IS NULL    
     THEN DATEADD(MONTH, D.EXP_LIFE, ISNULL(A.EFFECTIVE_DATE, A.TRANSACTION_DATE))    
     ELSE A.MATURITY_DATE  
    END AS MATURITY_DATE,  
    B.MASTERID,  
    C.ACCOUNT_NUMBER,  
    A.FACILITY_NUMBER,  
    C.CUSTOMER_NUMBER,  
    A.BRANCH_CODE,  
    C.DATA_SOURCE,  
    D.PRD_TYPE,  
    A.PRD_CODE,  
    A.TRX_CODE,  
    A.CURRENCY,  
    --'' AS EVENT_CODE,  
    A.TRX_REFERENCE_NO,  
    A.AMOUNT AS ORG_CCY_AMT,  
    A.AMOUNT * C.EXCHANGE_RATE AS EQV_LCY_AMT,  
    A.DEBIT_CREDIT_FLAG  
    --,'' AS TRX_SOURCE  
  FROM IFRS_STG_TRANSACTION_DAILY A  
   INNER JOIN IFRS_MASTER_ID B ON A.MASTER_ACCOUNT_ID = B.MASTER_ACCOUNT_CODE  
   JOIN IFRS_MASTER_ACCOUNT C ON A.MASTER_ACCOUNT_ID = C.MASTER_ACCOUNT_CODE  
   JOIN IFRS_MASTER_PRODUCT_PARAM D ON A.PRD_CODE = D.PRD_CODE AND A.DATA_SOURCE = D.DATA_SOURCE AND   
   (A.CURRENCY = D.CCY or D.CCY='ALL')  
  WHERE A.DOWNLOAD_DATE = @CURRDATE AND D.INST_CLS_VALUE = 'A'  
   AND ISNULL(A.MASTER_ACCOUNT_ID,'') <> ''  
  
 COMMIT TRANSACTION  
  
END  
  
/**/  
GO
