USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LoadLGDRuleName]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[USPS_LoadLGDRuleName]    
AS    
BEGIN  
 SELECT PKID, LGD_RULE_NAME FROM IFRS_LGD_RULES_CONFIG WHERE IS_DELETE = 0
END  
GO
