USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_REVIEW_SUBMIT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPI_REVIEW_SUBMIT]                  
(                  
 @MASTERID VARCHAR(100),                  
 @IMPAIRED_FLAG CHAR,                   
 @METHOD VARCHAR(20),                   
 @REMARKS VARCHAR(MAX),                   
 @DCFID INT,                   
 @MANAGER_NAME VARCHAR(50),                   
 @MANAGER_TELEPHONE VARCHAR(20),                   
 @MANAGER_HANDPHONE VARCHAR(20),                  
 @REMARKS_A VARCHAR(MAX),                  
 @REMARKS_B VARCHAR(MAX),                  
 @REMARKS_C VARCHAR(MAX),                  
 @REMARKS_D VARCHAR(MAX),                  
 @REMARKS_E VARCHAR(MAX),                  
 @REMARKS_E1 VARCHAR(MAX),                  
 @REMARKS_E2 VARCHAR(MAX),                  
 @REMARKS_F VARCHAR(MAX),                  
 @REMARKS_F1 VARCHAR(MAX),                  
 @CREATEDBY VARCHAR(50),                  
 @CREATEDHOST VARCHAR(50)                  
)                  
AS                  
BEGIN                  
 DECLARE @OUTSTANDING FLOAT              
 DECLARE @NPV_AMOUNT FLOAT              
 DECLARE @UNWINDING_AMOUNT FLOAT              
 DECLARE @ECL_AMOUNT FLOAT            
 DECLARE @CURRDATE DATE        
         
 SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE          
              
 SELECT               
	@OUTSTANDING = OUTSTANDING              
 FROM IFRS_IMP_IA_MASTER              
 WHERE MASTERID = @MASTERID              
              
 SELECT              
  @NPV_AMOUNT = SUM(NPV),              
  @UNWINDING_AMOUNT = SUM(UNWINDING_AMOUNT),              
  @ECL_AMOUNT = @OUTSTANDING-@NPV_AMOUNT              
 FROM TBLT_PAYMENTEXPECTED_TEMP              
 WHERE MASTERID = @MASTERID              
	AND DCFID = @DCFID             
            
            
 --Update BEING_EDITED di IFRS_IMP_IA_MASTER menjadi 1                  
 UPDATE IFRS_IMP_IA_MASTER SET BEING_EDITED = 1 WHERE MASTERID = @MASTERID;                  
                  
 --Insert IFRS_IMP_IA_MASTER_PEND                  
    INSERT INTO IFRS_IMP_IA_MASTER_PEND
	(                  
		MASTERID,                
		DCFID,                   
		DOWNLOAD_DATE,                   
		EFFECTIVE_DATE,                   
		DATA_SOURCE,
		CUSTOMER_NUMBER,                   
		CUSTOMER_NAME,                   
		PRODUCT_GROUP,            
		PRODUCT_CODE,                   
		MATURITY_DATE,                   
		CURRENCY,                   
		INTEREST_RATE,                   
		EIR,                   
		OUTSTANDING,                   
		PLAFOND,                   
		DAY_PAST_DUE,                  
		BI_COLLECTABILITY,                  
		IMPAIRED_FLAG,            
		DPD_CIF,            
		RESTRUCTURE_COLLECT_FLAG,            
		BI_COLLECT_CIF,                  
		METHOD,                  
		REMARKS,      
		RATING_CODE,            
		MANAGER_NAME,                  
		MANAGER_TELEPHONE,                  
		MANAGER_HANDPHONE,                  
		REMARKS_A,                  
		REMARKS_B,                  
		REMARKS_C,                  
		REMARKS_D,                  
		REMARKS_E,                  
		REMARKS_E1,                  
		REMARKS_E2,                  
		REMARKS_F,                  
		REMARKS_F1,                  
		STATUS,                  
		OVERRIDE_FLAG,                  
		NPV_AMOUNT,                  
		ECL_AMOUNT,                  
		UNWINDING_AMOUNT,                  
		CREATEDBY,                  
		CREATEDDATE,                  
		CREATEDHOST)                  
 SELECT                   
		MASTERID,                 
		@DCFID,                  
		@CURRDATE,                   
		EFFECTIVE_DATE,                   
		DATA_SOURCE,
		CUSTOMER_NUMBER,                   
		CUSTOMER_NAME,                   
		PRODUCT_GROUP,            
		PRODUCT_CODE,                   
		MATURITY_DATE,                   
		CURRENCY,                   
		INTEREST_RATE,                   
		EIR,                   
		OUTSTANDING,                   
		PLAFOND,                   
		DAY_PAST_DUE,                  
		BI_COLLECTABILITY,                  
		@IMPAIRED_FLAG,            
		DPD_CIF,            
		RESTRUCTURE_COLLECT_FLAG,            
		BI_COLLECT_CIF,                  
		@METHOD,                  
		@REMARKS,                  
		RATING_CODE,
		@MANAGER_NAME,                  
		@MANAGER_TELEPHONE,                  
		@MANAGER_HANDPHONE,                  
		@REMARKS_A,                  
		@REMARKS_B,                  
		@REMARKS_C,                
		@REMARKS_D,                  
		@REMARKS_E,                  
		@REMARKS_E1,                  
		@REMARKS_E2,                  
		@REMARKS_F,                  
		@REMARKS_F1,                  
		'PENDING_REVIEW',                  
		OVERRIDE_FLAG,                  
		@NPV_AMOUNT,                  
		/*req dewi*/
		--CASE WHEN @ECL_AMOUNT < 0 THEN OUTSTANDING ELSE @ECL_AMOUNT END AS ECL_AMOUNT,                  
		CASE WHEN @ECL_AMOUNT < 0 THEN 0 ELSE @ECL_AMOUNT END AS ECL_AMOUNT,                  
		/*end*/
		@UNWINDING_AMOUNT,                  
		@CREATEDBY,                  
		GETDATE(),                  
		@CREATEDHOST                  
	FROM IFRS_IMP_IA_MASTER                  
	WHERE MASTERID = @MASTERID;                  
                   
 --Insert TBLT_PAYMENTEXPECTEDH_PENDING ambil dari TBLT_PAYMENTEXPECTEDH_TEMP                  
 INSERT INTO TBLT_PAYMENTEXPECTEDH_PENDING(                  
  DCFID,                  
  UPLOADID,                  
  ROW_NUMBER,                  
  CUSTOMER_NUMBER,                  
  MASTERID,                  
  FACILITY_NUMBER,                  
  EFFECTIVE_DATE,                  
  EIR_PERCENT,                  
  PRINCIPAL,                  
  INTEREST,            
  UNPAID_INTEREST,                  
  COLLATERAL,                  
  COLLATERAL_COST,                  
  CREATEDBY,                  
  CREATEDDATE,                  
  CREATEDHOST,                  
  UPDATEDBY,                  
  UPDATEDDATE,                  
  UPDATEDHOST)                   
 SELECT                   
  DCFID,                  
  UPLOADID,                  
  ROW_NUMBER,                  
  CUSTOMER_NUMBER,                  
  MASTERID,                  
  FACILITY_NUMBER,                  
  EFFECTIVE_DATE,                  
  EIR_PERCENT,                  
  PRINCIPAL,                  
  INTEREST,                  
  UNPAID_INTEREST,                  
  COLLATERAL,                  
  COLLATERAL_COST,                  
  CREATEDBY,                  
  CREATEDDATE,                  
  CREATEDHOST,                  
  UPDATEDBY,                  
  UPDATEDDATE,                  
  UPDATEDHOST                  
 FROM TBLT_PAYMENTEXPECTEDH_TEMP WHERE UPLOADID = (SELECT MAX(UPLOADID) FROM TBLT_PAYMENTEXPECTEDH_TEMP WHERE DCFID = @DCFID);                  
                  
 --Insert TBLT_PAYMENTEXPECTED_PENDING ambil dari TBLT_PAYMENTEXPECTED_TEMP                  
 INSERT INTO TBLT_PAYMENTEXPECTED_PENDING(                  
  DCFID,                  
  TEMPID,                  
  UPLOADID,                  
  DOWNLOADDATE,                  
  MASTERID,                  
  CUSTOMER_NUMBER,                  
  EFFECTIVE_DATE,                  
  EFFECTIVE_DATE_FD,                  
  EIR_PERCENT,                  
  PRINCIPAL_PAYMENT,                  
  NPV_MONTH,                  
  NPV,                  
  BEGINNING_BALANCE,                 
  ENDING_BALANCE,                  
  UNWINDING_AMOUNT,                  
  CREATEDBY,                  
  CREATEDDATE,                  
  CREATEDHOST,                  
  UPDATEDBY,                  
  UPDATEDDATE,                  
  UPDATEDHOST)                  
 SELECT                   
  DCFID,                  
  TEMPID,                  
  UPLOADID,                  
  DOWNLOADDATE,                  
  MASTERID,                  
  CUSTOMER_NUMBER,                  
  EFFECTIVE_DATE,                  
  EFFECTIVE_DATE_FD,                  
  EIR_PERCENT,                  
  PRINCIPAL_PAYMENT,                  
  NPV_MONTH,                  
  NPV,                  
  BEGINNING_BALANCE,                 
  ENDING_BALANCE,                  
  UNWINDING_AMOUNT,                  
  CREATEDBY,                  
  CREATEDDATE,                  
  CREATEDHOST,                  
  UPDATEDBY,                  
  UPDATEDDATE,                  
  UPDATEDHOST                   
 FROM TBLT_PAYMENTEXPECTED_TEMP WHERE UPLOADID = (SELECT MAX(UPLOADID) FROM TBLT_PAYMENTEXPECTED_TEMP WHERE DCFID = @DCFID);    
     
 --Insert IFRS_IMP_OVERRIDE_COLLATERAL_PEND ambil dari IFRS_IMP_OVERRIDE_COLLATERAL_TEMP                  
 INSERT INTO IFRS_IMP_OVERRIDE_COLLATERAL_PEND(                  
  DCFID,                  
  MASTERID,                  
  INFORMATION,                  
  COLLATERAL_TYPE,                  
  MARKET_VALUE,                  
  LIQUIDATED_VALUE,                  
  REMARKS,                  
  CREATEDBY,                  
  CREATEDDATE,                  
  CREATEDHOST,                  
  UPDATEDBY,                  
  UPDATEDDATE,                  
  UPDATEDHOST)                  
 SELECT                   
  @DCFID,                  
  MASTERID,                  
  INFORMATION,                  
  COLLATERAL_TYPE,                  
  MARKET_VALUE,                  
  LIQUIDATED_VALUE,                  
  REMARKS,                  
  CREATEDBY,                  
  CREATEDDATE,                  
  CREATEDHOST,                  
  UPDATEDBY,                  
  UPDATEDDATE,                  
  UPDATEDHOST                   
 FROM IFRS_IMP_OVERRIDE_COLLATERAL_TEMP;          
       
 TRUNCATE TABLE TBLT_PAYMENTEXPECTED_TEMP      
 TRUNCATE TABLE TBLT_PAYMENTEXPECTEDH_TEMP    
 TRUNCATE TABLE IFRS_IMP_OVERRIDE_COLLATERAL_TEMP              
                    
END; 

GO
