USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_FILL_SIT_DEFAULTRATE_FRANS]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[EXEC_FILL_SIT_DEFAULTRATE_FRANS] 
AS
BEGIN

if OBJECT_ID('FRANS_SIT_DEFAULT_MURUNSECURED','U') is not null drop table FRANS_SIT_DEFAULT_MURUNSECURED;
if OBJECT_ID('FRANS_SIT_DEFAULT_MURSECURED','U') is not null drop table FRANS_SIT_DEFAULT_MURSECURED;
if OBJECT_ID('FRANS_SIT_DEFAULT_PURPENSION','U') is not null drop table FRANS_SIT_DEFAULT_PURPENSION;
if OBJECT_ID('FRANS_SIT_DEFAULT_PURNONPENSION','U') is not null drop table FRANS_SIT_DEFAULT_PURNONPENSION;

select a.DOWNLOAD_DATE as SNAPSHOT,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 0
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 then 5
else b.BUCKET_ID 
end
as BUCKET_ID,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 'FP'
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 then 'NPL'
else b.BUCKET_NAME 
end
as BUCKET_NAME,count(*) as NOA,sum(a.OUTSTANDING) as TOTAL_OS
,sum(d.DEFAULT_PDLGD_PUR_CF) as DEFAULT_NEXT1Y
into FRANS_SIT_DEFAULT_PURPENSION
from ifrs_master_account_monthly a
left join
IFRS_BUCKET_DETAIL b
on 
b.BUCKET_GROUP='DPD_5_001'
and
a.DAY_PAST_DUE between b.RANGE_START and b.RANGE_END
left join IFRS_IMP_DEFAULT_STATUS c
on a.DOWNLOAD_DATE=c.DOWNLOAD_DATE
and a.MASTERID=c.MASTERID
left join IFRS_IMP_DEFAULT_STATUS_FRANS_SIT d
on a.MASTERID=d.MASTERID
and a.DOWNLOAD_DATE=d.DOWNLOAD_DATE
where a.DOWNLOAD_DATE between '31-jan-2012' and '30-jun-2017'
and a.PRODUCT_GROUP='PURNA BAKTI'
and a.PRODUCT_TYPE in ('BTPN','KPR PENSIUN','POS')
group by a.DOWNLOAD_DATE,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 0
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 then 5
else b.BUCKET_ID 
end,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 'FP'
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 then 'NPL'
else b.BUCKET_NAME 
end;

select a.DOWNLOAD_DATE as SNAPSHOT,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 0
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 then 5
else b.BUCKET_ID 
end
as BUCKET_ID,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 'FP'
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 then 'NPL'
else b.BUCKET_NAME 
end
as BUCKET_NAME,count(*) as NOA,sum(a.OUTSTANDING) as TOTAL_OS
,sum( d.DEFAULT_PDLGD_PUR_CF) as DEFAULT_NEXT1Y
into FRANS_SIT_DEFAULT_PURNONPENSION
from ifrs_master_account_monthly a
left join
IFRS_BUCKET_DETAIL b
on 
b.BUCKET_GROUP='DPD_5_001'
and
a.DAY_PAST_DUE between b.RANGE_START and b.RANGE_END
left join IFRS_IMP_DEFAULT_STATUS c
on a.DOWNLOAD_DATE=c.DOWNLOAD_DATE
and a.MASTERID=c.MASTERID
left join IFRS_IMP_DEFAULT_STATUS_FRANS_SIT d
on a.MASTERID=d.MASTERID
and a.DOWNLOAD_DATE=d.DOWNLOAD_DATE
where a.DOWNLOAD_DATE between '31-jan-2012' and '30-jun-2017'
and a.PRODUCT_GROUP='PURNA BAKTI'
and a.PRODUCT_TYPE in ('AE','CO','KPR NON PENSIUN','PRA PENSION')
group by a.DOWNLOAD_DATE,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 0
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 then 5
else b.BUCKET_ID 
end,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 'FP'
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 then 'NPL'
else b.BUCKET_NAME 
end;

select a.DOWNLOAD_DATE as SNAPSHOT,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 0
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 or c.BI_COLLECTABILITY>=3 then 5
else b.BUCKET_ID 
end
as BUCKET_ID,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 'FP'
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 or c.BI_COLLECTABILITY>=3 then 'NPL'
else b.BUCKET_NAME 
end
as BUCKET_NAME,count(*) as NOA,sum(a.OUTSTANDING) as TOTAL_OS
,sum( d.DEFAULT_PDLGD_MUR) as DEFAULT_NEXT1Y
into FRANS_SIT_DEFAULT_MURSECURED
from ifrs_master_account_monthly a with (NOLOCK)
left join
IFRS_BUCKET_DETAIL b with (NOLOCK)
on 
b.BUCKET_GROUP='DPD_5_001'
and
a.DAY_PAST_DUE between b.RANGE_START and b.RANGE_END
left join  IFRS_IMP_DEFAULT_STATUS c with (NOLOCK)
on a.DOWNLOAD_DATE=c.DOWNLOAD_DATE
and a.MASTERID=c.MASTERID
left join IFRS_IMP_DEFAULT_STATUS_FRANS_SIT d with (NOLOCK)
on a.MASTERID=d.MASTERID
and a.DOWNLOAD_DATE=d.DOWNLOAD_DATE
where a.DOWNLOAD_DATE between '31-jan-2012' and '30-jun-2017'
and a.PRODUCT_TYPE in ('KRL','MENENGAH','MAPAN','PALM REPLANTING','KUR')
group by a.DOWNLOAD_DATE,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 0
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 or c.BI_COLLECTABILITY>=3 then 5
else b.BUCKET_ID 
end,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 'FP'
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 or c.BI_COLLECTABILITY>=3 then 'NPL'
else b.BUCKET_NAME 
end;

select a.DOWNLOAD_DATE as SNAPSHOT,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 0
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 or c.BI_COLLECTABILITY>=3 then 5
else b.BUCKET_ID 
end
as BUCKET_ID,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 'FP'
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 or c.BI_COLLECTABILITY>=3 then 'NPL'
else b.BUCKET_NAME 
end
as BUCKET_NAME,count(*) as NOA,sum(a.OUTSTANDING) as TOTAL_OS
,sum( d.DEFAULT_PDLGD_MUR) as DEFAULT_NEXT1Y
into FRANS_SIT_DEFAULT_MURUNSECURED
from ifrs_master_account_monthly a with (NOLOCK)
left join
IFRS_BUCKET_DETAIL b with (NOLOCK)
on 
b.BUCKET_GROUP='DPD_5_001'
and
a.DAY_PAST_DUE between b.RANGE_START and b.RANGE_END
left join  IFRS_IMP_DEFAULT_STATUS c with (NOLOCK)
on a.DOWNLOAD_DATE=c.DOWNLOAD_DATE
and a.MASTERID=c.MASTERID
left join IFRS_IMP_DEFAULT_STATUS_FRANS_SIT d with (NOLOCK)
on a.MASTERID=d.MASTERID
and a.DOWNLOAD_DATE=d.DOWNLOAD_DATE
where a.DOWNLOAD_DATE between '31-jan-2012' and '30-jun-2017'
and a.PRODUCT_TYPE in ('BEBAS','LIQUIDATING - MITRA USAHA RAKYAT','FLEKSI')
group by a.DOWNLOAD_DATE,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 0
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 or c.BI_COLLECTABILITY>=3 then 5
else b.BUCKET_ID 
end,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 'FP'
when a.DAY_PAST_DUE>90 or c.WO_FLAG=1 or c.RESTRU_SIFAT_FLAG=1 or c.BI_COLLECTABILITY>=3 then 'NPL'
else b.BUCKET_NAME 
end


END
GO
