USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETJOBINFO]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETJOBINFO]
(
	@JobNo INT
)
AS
BEGIN

    SET NOCOUNT ON;
  
    SELECT JobName, 
		Period 
    FROM dbo.tblM_Job
    WHERE JobNo = @JobNo 

END;

GO
