USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SEGMENTATIONSETTINGS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_SEGMENTATIONSETTINGS]                          
(         
	 @GROUP_SEGMENT varchar(50) = '',    
	 @SEGMENT varchar(50) = '',    
	 @SUB_SEGMENT varchar(50) = '',    
	 @SEGMENT_TYPE varchar(50) = '',
	 --@SEQUENCE int = 0,
	 @CreatedBy varchar(36) = '',               
	 @CreatedHost varchar(30) = ''                     
)            
AS  
BEGIN       
            
	INSERT INTO [dbo].[IFRS_MSTR_SEGMENT_RULES_HEADER]            
	(         
		 [GROUP_SEGMENT]
		,[SEGMENT]
		,[SUB_SEGMENT]
		,[SEGMENT_TYPE]
		--,[SEQUENCE]
		--,[IS_NEW]
		,[CreatedBy]              
		,[CreatedDate]              
		,[CreatedHost]                 
	)                          
	VALUES                          
	(            
		 @GROUP_SEGMENT
		,@SEGMENT
		,@SUB_SEGMENT
		,@SEGMENT_TYPE
		--,@SEQUENCE
		--,1
		,@CreatedBy              
		,GETDATE()              
		,@CreatedHost              
	)  
  
END;
GO
