USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BI_SMBCCLASS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_BI_SMBCCLASS]
AS  
BEGIN  
  
	SELECT                           
		PKID,  
		SMBC_CLASS_NAME,  
		SMBC_CLASS_GROUP  
	FROM IFRS_DIM_SMBC_CLASS  
	WHERE IS_DELETE = 0  
	ORDER BY SMBC_CLASS_GROUP  
  
END

GO
