USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPREPORTTO]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPREPORTTO]        
as        
begin   
  select UPPER(cast(PKID as varchar(36))) as [ReportTo], UserName as [ReportToName] from tblM_User where IsUserActive=1       
  order by UserName     
 end




GO
