USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPIMAMONTHPERIOD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPIMAMONTHPERIOD]  
AS  
BEGIN  
  
 SELECT DISTINCT DOWNLOAD_DATE a , REPLACE(CONVERT(VARCHAR, DOWNLOAD_DATE, 106), ' ', '-') DOWNLOAD_DATE  
 FROM IFRS_MASTER_ACCOUNT_MONTHLY  
 group by DOWNLOAD_DATE
 ORDER BY A DESC;  
  
END;  

  
GO
