USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_QUERYPARAM]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_QUERYPARAM]​
(
	@CountryID varchar(50) = null,
	@ModuleID varchar(50) = null,
	@QueryID varchar(50) = null,
	@ParamName varchar(50) = null,
	@DataType varchar(50) = null,
	@CreatedBy varchar(50) = null,
	@CreatedHost varchar(50) = null 
)
AS
BEGIN

	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	INSERT INTO tblM_QueryParameter (CountryID, ModuleID, QueryID, ParamName, DataType, CreatedBy, CreatedDate, CreatedHost)
	VALUES (@CountryID , @ModuleID , @QueryID , @ParamName , @DataType , @CreatedBy , SYSDATETIME () , @CreatedHost);

END

GO
