USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPLOANPRODUCTTYPE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUPLOANPRODUCTTYPE]  
(  
 @datasource VARCHAR(50)
 --,@productgroup VARCHAR(50)  
)  
AS    
BEGIN  
  
 DECLARE @Query VARCHAR(5000);  
  
 SET @Query =   
  'SELECT DISTINCT PRD_TYPE "PRODUCT_TYPE",  
   PRD_TYPE "Product Type",
   DATA_SOURCE
  FROM IFRS_MASTER_PRODUCT_PARAM
  WHERE ISNULL(IS_DELETE, 0) = 0 AND
  '  
  + CASE WHEN @datasource = ''  
   THEN 'DATA_SOURCE LIKE ''%LOAN%'' '  
   ELSE 'DATA_SOURCE LIKE ''%' + @datasource + '%'' '  
  END  
  --+ CASE WHEN @productgroup <> ''  
  -- THEN 'AND PRD_GROUP LIKE ''%' + @productgroup  + '%'''  
  -- ELSE ''  
  --END;  
  
 EXEC (@Query);  
  
END;

GO
