USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SELECTSCREENGROUPID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SELECTSCREENGROUPID]
(
	@SCREENGROUPID varchar(50) = ''
)

AS

BEGIN
	select * from TBLM_SCREENGROUPHEADER where SCREENGROUPID = @SCREENGROUPID
END

GO
