USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MODULEAPPROVALPEND]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MODULEAPPROVALPEND]  
(  
 @UserID varchar(50)      
)  
AS  
BEGIN  
  
 /*select  COUNT(1) as ModuleCount      
 from tblT_ApprovalHeader a with (nolock)               
 inner join tblm_reportto e with (nolock) on e.ReportTo = @UserID               
 and a.CreatedBy = e.UserID and e.Active = 1                  
 where a.Status = 'p'                         
 and a.MasterID = 0  
 */  
 SELECT SUM(ModuleCount) as ModuleCount  
 FROM  
 (  
  SELECT COUNT(1) as ModuleCount  
  --h.PKID,h.MasterID,h.ScreenID,h.Action,h.Status,h.Note,h.OldBinary,h.Query,h.ModuleID,h.CountryID,h.CreatedBy,  
  --h.CreatedDate,h.CreatedHost,h.UpdatedBy,h.UpdatedDate,h.UpdatedHost,h.RefPKId,r.ID,r.UserID,r.Username,r.ReportTo,r.Active,r.CreatedBy,r.CreatedDate,r.CreatedHost,r.UpdatedBy,r.UpdatedDate,r.UpdatedHost  
  --/*u.PKID,u.UserName,isnull(r.ReportTo,u.pkid) as ReportTo,isnull(r.UserID,u.PKID) as UserID */  
  FROM tblm_user u  
  LEFT JOIN tblM_ReportTo r on r.UserID = u.PKID  
  INNER JOIN tblT_ApprovalHeader h on h.CreatedBy = u.PKID  
  WHERE h.Status = 'P'  
  --edited by Gardyan Santoso  
      AND h.SCREENID <> 'ASSET_CLASSIFICATION_HEADER'   
   AND (isnull(r.ReportTo,u.PKID)) = @UserID  
   AND h.MasterID = 0
   --UNION ALL
   --SELECT COUNT(1) AS ModuleCount
   --FROM IFRS_AC_BM_HEADER_PENDING
   --WHERE STATUS = 'PENDING' AND CREATEDBY = @UserID
   --UNION ALL
   --SELECT COUNT(1) AS ModuleCount
   --FROM IFRS_AC_SPPI_HEADER_PENDING
   --WHERE STATUS = 'PENDING' AND CREATEDBY = @UserID  
  /*UNION ALL  
  /* REMARKS BY JULIAN 12-27-2017 */  
  --SELECT COUNT(1) as ModuleCount  
  --FROM tblm_user u  
  --LEFT JOIN tblM_ReportTo r on r.UserID = u.PKID    
  --JOIN tblU_PDLGDLIP_Info h on h.CreatedBy = u.PKID  
  --where h.Status = 'PENDING'  
  -- AND (ISNULL(r.ReportTo,u.pkid)) = @UserID --'3904D1ED-8012-44E6-BB94-20167FE42CB6'  
  --UNION ALL  
  SELECT COUNT(1) as ModuleCount  
  FROM tblm_user u  
  LEFT JOIN tblM_ReportTo r on r.UserID = u.PKID  
  JOIN tblU_FEECOST_Info h on h.CreatedBy = u.PKID  
  WHERE h.Status = 'PENDING'  
   AND (isnull(r.ReportTo,u.pkid)) = @UserID --'3904D1ED-8012-44E6-BB94-20167FE42CB6'*/  
 ) x  
  
END; 
GO
