USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_DetailByUploadID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[uspS_DetailByUploadID]  
(  
 @uploadid int = 0  
)  
AS  
BEGIN  
 select   
 ISNULL(ME_CODE, '') ME_CODE,  
 ISNULL(ME_DESC, '') ME_DESC,  
 ISNULL(ME_SOURCE, '') ME_SOURCE,   
 ISNULL(ME_SOURCE_TABLE, '') ME_SOURCE_TABLE  
 from TBLM_MACRO_ECONOMIC where PKID = @uploadid  
END
GO
