USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_DEFAULTRATECONFIG]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPD_DEFAULTRATECONFIG]  
(  
	@PKID BIGINT  
)  
AS  
BEGIN  
  
	DELETE FROM IFRS_PD_DEFAULT_RATE_CONFIG  
	WHERE PKID = @PKID;  
  
END;

GO
