USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_FEECOSTPRORATEMONITORINGD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_FEECOSTPRORATEMONITORINGD]
(
	@DD_ID_LEVEL VARCHAR (200)
)
AS
BEGIN

	IF dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 3) = 'LVL001'
	BEGIN
		-- Facility
		SELECT 
			DOWNLOAD_DATE "Download Date",
			FACILITY_NUMBER "Facility Number",
			ACCOUNT_NUMBER "Account Number",
			CCY "Currency",
			EXC_RATE_TRX_TO_IDR "Exchange Rate From Facility Level to IDR",
			EXC_RATE_ACC_TO_IDR "Exchange Rate From Account Level to IDR",
			ORG_INITIAL_OS_AMT "Initial OS in Original Currency",
			ORG_INITIAL_OS_AMT * EXC_RATE_ACC_TO_IDR / EXC_RATE_TRX_TO_IDR "Initial OS in Facility Currency",
			ORG_INITIAL_OS_AMT * EXC_RATE_ACC_TO_IDR / EXC_RATE_TRX_TO_IDR / ITF.FACILITY_PLAFOND "Percentage Disbursement",
			ORG_CCY_AMT * EXC_RATE_ACC_TO_IDR / EXC_RATE_TRX_TO_IDR "Trx Amount in Facility Currency",
			ORG_CCY_AMT "Trx Amount in Account Currency"
		FROM TMP_IFRS_TRANSACTION_DAILY TITD
			LEFT JOIN IFRS_TRX_FACILITY ITF
			ON TITD.TRX_REFERENCE_NUMBER = CONCAT(ITF.TRX_CODE, '_', ITF.PKID)
		WHERE TITD.TRX_LEVEL = 'FAC'
			AND TITD.TRX_REFERENCE_NUMBER = CONCAT(TITD.TRX_CODE, '_', dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 2))
		ORDER BY DOWNLOAD_DATE,ACCOUNT_NUMBER
	END
	ELSE IF dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 3) = 'LVL002'
	BEGIN
		-- EmployerID
		SELECT 
			DOWNLOAD_DATE "Download Date",
			ACCOUNT_NUMBER "Account Number",
			LOAN_START_DATE "Start Date",
			LOAN_DUE_DATE "Due Date",
			CCY "Currency",
			EXC_RATE_TRX_TO_IDR "Exchange Rate From Transaction Level to IDR",
			EXC_RATE_ACC_TO_IDR "Exchange Rate From Account Level to IDR",
			ORG_INITIAL_OS_AMT "Initial OS in Original Currency",
			ORG_INITIAL_OS_AMT * EXC_RATE_ACC_TO_IDR / EXC_RATE_TRX_TO_IDR "Initial OS in Transaction Currency",
			ORG_INITIAL_OS_AMT * EXC_RATE_ACC_TO_IDR / EXC_RATE_TRX_TO_IDR / A.TOTAL_OS "Percentage Disbursement",
			EQV_LCY_AMT / EXC_RATE_TRX_TO_IDR "Trx Amount in Trx Original Currency",
			ORG_CCY_AMT "Trx Amount in Account Currency"
		FROM TMP_IFRS_TRANSACTION_DAILY TITD
			LEFT JOIN (SELECT TRX_REFERENCE_NUMBER, SUM(ORG_INITIAL_OS_AMT * EXC_RATE_ACC_TO_IDR / EXC_RATE_TRX_TO_IDR) AS TOTAL_OS FROM TMP_IFRS_TRANSACTION_DAILY
						WHERE TRX_LEVEL = 'EMPID'
						AND TRX_REFERENCE_NUMBER = CONCAT(TRX_CODE, '_', dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 2))
						GROUP BY TRX_REFERENCE_NUMBER
						)A
			ON TITD.TRX_REFERENCE_NUMBER = A.TRX_REFERENCE_NUMBER
		WHERE TITD.TRX_LEVEL = 'EMPID'
			AND TITD.TRX_REFERENCE_NUMBER = CONCAT(TRX_CODE, '_', dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 2))
	END
	ELSE IF dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 3) = 'LVL003'
	BEGIN
		-- Product Type
		SELECT 
			DOWNLOAD_DATE "Download Date",
			ACCOUNT_NUMBER "Account Number",
			LOAN_START_DATE "Start Date",
			LOAN_DUE_DATE "Due Date",
			CCY "Currency",
			EXC_RATE_TRX_TO_IDR "Exchange Rate From Transaction Level to IDR",
			EXC_RATE_ACC_TO_IDR "Exchange Rate From Account Level to IDR",
			ORG_INITIAL_OS_AMT "Initial OS in Original Currency",
			ORG_INITIAL_OS_AMT * EXC_RATE_ACC_TO_IDR / EXC_RATE_TRX_TO_IDR "Initial OS in Transaction Currency",
			ORG_INITIAL_OS_AMT * EXC_RATE_ACC_TO_IDR / EXC_RATE_TRX_TO_IDR / A.TOTAL_OS "Percentage Disbursement",
			EQV_LCY_AMT / EXC_RATE_TRX_TO_IDR "Trx Amount in Trx Original Currency",
			ORG_CCY_AMT "Trx Amount in Account Currency"
		FROM TMP_IFRS_TRANSACTION_DAILY TITD
			LEFT JOIN (SELECT TRX_REFERENCE_NUMBER, SUM(ORG_INITIAL_OS_AMT * EXC_RATE_ACC_TO_IDR / EXC_RATE_TRX_TO_IDR) AS TOTAL_OS FROM TMP_IFRS_TRANSACTION_DAILY
						WHERE TRX_LEVEL = 'PRDTP'
						AND TRX_REFERENCE_NUMBER = CONCAT(TRX_CODE, '_',dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 2))
						GROUP BY TRX_REFERENCE_NUMBER
						)A
			ON TITD.TRX_REFERENCE_NUMBER = A.TRX_REFERENCE_NUMBER
		WHERE TITD.TRX_LEVEL = 'PRDTP'
			AND TITD.TRX_REFERENCE_NUMBER = CONCAT(TRX_CODE, '_', dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 2))
	END

END;

GO
