USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_MOVETEMPTOSAVEDMETABLES]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_MOVETEMPTOSAVEDMETABLES](
	@modelId BIGINT,
	@CREATEDBY varchar(36),
	@CREATEDHOST varchar(36)
)
AS
BEGIN

INSERT INTO IFRS_MACRO_ECONOMIC_MODEL
SELECT *
FROM [dbo].[TMP_IFRS_MACRO_ECONOMIC_MODEL]
where PKID = @modelId

--SCENARIO
INSERT INTO [IFRS_DEPENDENT_VARIABLE]([MODEL_ID]
      ,[PD_RULE_ID]
      ,[CREATEDBY]
      ,[CREATEDDATE]
      ,[CREATEDHOST]
	  )
SELECT [MODEL_ID]
      ,[PD_RULE_ID]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST

	  from [TMP_IFRS_DEPENDENT_VARIABLE]
WHERE model_id = @modelId

INSERT INTO IFRS_INDEPENDENT_VARIABLE(
		[MODEL_ID]
      ,[MACRO_ECONOMIC_CODE]
      ,[IMPACT_TO_DEPENDENT]
      ,[LAG_VARIABLE]
      ,[CREATEDBY]
      ,[CREATEDDATE]
      ,[CREATEDHOST]

)
SELECT [MODEL_ID]
      ,[MACRO_ECONOMIC_CODE]
      ,[IMPACT_TO_DEPENDENT]
      ,[LAG_VARIABLE]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST

  FROM [dbo].[TMP_IFRS_INDEPENDENT_VARIABLE]
WHERE model_id = @modelId

INSERT INTO [IFRS_ME_MODEL_SCENARIO](
       [MODEL_ID]
      ,[MODEL_SEQ]
      ,[MODEL_FORMULA]
      ,[CREATEDBY]
      ,[CREATEDDATE]
      ,[CREATEDHOST])
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[MODEL_FORMULA]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_ME_MODEL_SCENARIO]
WHERE model_id = @modelId
---------------------------------------------------------


--tab 1
INSERT INTO IFRS_ME_MODEL_CORRELATION(
		[MODEL_ID]
      ,[ME_CODE]
      ,[DERIVED_TYPE]
      ,[CORRELATION_VALUE]
      ,[IS_CHOSEN]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[ME_CODE]
      ,[DERIVED_TYPE]
      ,[CORRELATION_VALUE]
      ,[IS_CHOSEN]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_ME_MODEL_CORRELATION]
WHERE model_id = @modelId AND IS_CHOSEN = 1


INSERT INTO IFRS_ME_MODEL_DERIVED_VARIABLE(
	[MODEL_ID]
      ,[ME_CODE]
      ,[ME_PERIOD]
      ,[DERIVED_TYPE]
      ,[ME_VAL]
      ,[SEASONAL_ADJUSTMENT]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[ME_CODE]
      ,[ME_PERIOD]
      ,[DERIVED_TYPE]
      ,[ME_VAL]
      ,[SEASONAL_ADJUSTMENT]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_ME_MODEL_DERIVED_VAR] -- IFRS_ME_MODEL_DERIVED_VARIABLE
WHERE model_id = @modelId

INSERT INTO [IFRS_ME_MODEL_PREDICTED_PD](
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[PREDICTED_PD]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[PREDICTED_PD]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_ME_MODEL_PREDICTED_PD]
WHERE model_id = @modelId


INSERT INTO IFRS_ME_MODEL_SCALING_FACTOR(
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[SCALING_FACTOR]
      ,[IS_SELECTED]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[SCALING_FACTOR]
      ,[IS_SELECTED]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_ME_MODEL_SCALING_FACT] -- IFRS_ME_MODEL_SCALING_FACTOR
WHERE model_id = @modelId and IS_SELECTED = 1

INSERT INTO IFRS_LINREG_STATS(
	[MODEL_ID]
      ,[MODEL_SEQ]
      ,[TEST_NAME]
      ,[TEST_DESCR]
      ,[STATS_VALUE]
      ,[P_VALUE]
      ,[NULL_HYPOTHESIS]
      ,[ALTER_HYPOTHESIS]
      ,[FINAL_RESULT]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[TEST_NAME]
      ,[TEST_DESCR]
      ,[STATS_VALUE]
      ,[P_VALUE]
      ,[NULL_HYPOTHESIS]
      ,[ALTER_HYPOTHESIS]
      ,[FINAL_RESULT]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_LINREG_STATS]
WHERE model_id = @modelId

INSERT INTO IFRS_LINREG_VIF_DTL(
	[MODEL_ID]
	,[MODEL_SEQ]
	,[VARNAME]
	,[VIFVALUE]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
	,[MODEL_SEQ]
	,[VARNAME]
	,[VIFVALUE]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
FROM [dbo].[TMP_IFRS_LINREG_VIF_DTL]
WHERE model_id = @modelId

INSERT INTO IFRS_MULT_LINEAR_REGR_COEF(
		[MODEL_ID],[MODEL_SEQ],[COEFF_NAME],[ESTIMATE_VAL],[STD_ERROR],[T_VALUE],[PR_GT_T_VAL],[SIG_FLAG],[SIG_LEVEL]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
  SELECT [MODEL_ID],[MODEL_SEQ],[COEFF_NAME],[ESTIMATE_VAL],[STD_ERROR],[T_VALUE],[PR_GT_T_VAL],[SIG_FLAG],[SIG_LEVEL]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_MULT_LINEAR_REGR_COEF]
  WHERE model_id = @modelId


INSERT INTO IFRS_MULT_LINEAR_REGR_RESULT(
	   [MODEL_ID],[MODEL_SEQ],[RESIDUAL_STD_ERR],[DEG_OF_FREEDOM],[MULT_R_SQUARED],[ADJ_R_SQUARED],[F_STATISTIC],[P_VALUE],[RESIDUAL_MIN],[RESIDUAL_1Q],[RESIDUAL_MEDIAN]
      ,[RESIDUAL_3Q],[RESIDUAL_MAX],[DF_REGR],[DF_RESD],[DF_TOTAL],[SUM_OF_SQR_REGR],[SUM_OF_SQR_RESD],[SUM_OF_SQR_TOTAL],[MEAN_SUM_OF_SQR_REGR],[MEAN_SUM_OF_SQR_RESD]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID],[MODEL_SEQ],[RESIDUAL_STD_ERR],[DEG_OF_FREEDOM],[MULT_R_SQUARED],[ADJ_R_SQUARED],[F_STATISTIC],[P_VALUE],[RESIDUAL_MIN],[RESIDUAL_1Q],[RESIDUAL_MEDIAN]
      ,[RESIDUAL_3Q],[RESIDUAL_MAX],[DF_REGR],[DF_RESD],[DF_TOTAL],[SUM_OF_SQR_REGR],[SUM_OF_SQR_RESD],[SUM_OF_SQR_TOTAL],[MEAN_SUM_OF_SQR_REGR],[MEAN_SUM_OF_SQR_RESD]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_MULT_LINEAR_REGR_RESULT]
WHERE model_id = @modelId



-- BACKTEST IN SAMPLE
INSERT INTO IFRS_BACKTEST_IN_SAMPLE (
	MODEL_ID, MODEL_SEQ, AVG_FITTED_PD_LOG, SD_FITTED_PD_LOG, COR_PD_LOG, MIN_FITTED_PD_LOG, MAX_FITTED_PD_LOG, SUM_PDLOG_SQRDERR, MSE_PD_LOG, NORM_MSE, 
        AVG_ACTUAL_PD_LOG, SD_ACTUAL_PD_LOG, MIN_ACTUAL_PD_LOG, MAX_ACTUAL_PD_LOG, AVG_FITTED_PD_RATE, SD_FITTED_PD_RATE, COR_PD_RATE, MIN_FITTED_PD_RATE, MAX_FITTED_PD_RATE, 
        SUM_PDRATE_SQRDERR, MSE_PD_RATE, AVG_ACTUAL_PD_RATE, SD_ACTUAL_PD_RATE, MIN_ACTUAL_PD_RATE, MAX_ACTUAL_PD_RATE, PDLOG_MAPE, PDRATE_MAPE
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT	MODEL_ID, MODEL_SEQ, AVG_FITTED_PD_LOG, SD_FITTED_PD_LOG, COR_PD_LOG, MIN_FITTED_PD_LOG, MAX_FITTED_PD_LOG, SUM_PDLOG_SQRDERR, MSE_PD_LOG, NORM_MSE, 
        AVG_ACTUAL_PD_LOG, SD_ACTUAL_PD_LOG, MIN_ACTUAL_PD_LOG, MAX_ACTUAL_PD_LOG, AVG_FITTED_PD_RATE, SD_FITTED_PD_RATE, COR_PD_RATE, MIN_FITTED_PD_RATE, MAX_FITTED_PD_RATE, 
        SUM_PDRATE_SQRDERR, MSE_PD_RATE, AVG_ACTUAL_PD_RATE, SD_ACTUAL_PD_RATE, MIN_ACTUAL_PD_RATE, MAX_ACTUAL_PD_RATE, PDLOG_MAPE, PDRATE_MAPE
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
FROM    TMP_IFRS_BACKTEST_IN_SAMPLE
WHERE model_id = @modelId

INSERT INTO IFRS_BACKTEST_IN_SAMPLE_DTL(
	[MODEL_ID]
      ,[MODEL_SEQ]
      ,[PERIOD]
      ,[FITTED_PD_LOG]
      ,[ACTUAL_PD_LOG]
      ,[PDLOG_SQRD_ERR]
      ,[FITTED_PD_RATE]
      ,[ACTUAL_PD_RATE]
      ,[PDRATE_SQRD_ERR]
      ,[PDLOG_MAPE]
      ,[PDRATE_MAPE]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[PERIOD]
      ,[FITTED_PD_LOG]
      ,[ACTUAL_PD_LOG]
      ,[PDLOG_SQRD_ERR]
      ,[FITTED_PD_RATE]
      ,[ACTUAL_PD_RATE]
      ,[PDRATE_SQRD_ERR]
      ,[PDLOG_MAPE]
      ,[PDRATE_MAPE]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_BACKTEST_IN_SAMPLE_DTL]
WHERE model_id = @modelId


INSERT INTO [IFRS_BACKTEST_IN_SAMPLE_ME_DTL](
[MODEL_ID]
      ,[MODEL_SEQ]
      ,[COEFF_NAME]
      ,[ESTIMATE_VAL]
      ,[VIF_VALUE]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[COEFF_NAME]
      ,[ESTIMATE_VAL]
      ,[VIF_VALUE]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_BACKTEST_IN_SAMPLE_ME_DTL]
WHERE model_id = @modelId
------------------------------------------------------


-- BACKTEST OUT SAMPLE
INSERT INTO [IFRS_BACKTEST_OUT_SAMPLE](
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[SUM_PDLOG_SQRD_ERR]
      ,[SUM_PDRATE_SQRD_ERR]
      ,[AVG_PDLOG_SQRD_ERR]
      ,[AVG_PDRATE_SQRD_ERR]
      ,[AVG_PDLOG_MAPE]
      ,[AVG_PDRATE_MAPE]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[SUM_PDLOG_SQRD_ERR]
      ,[SUM_PDRATE_SQRD_ERR]
      ,[AVG_PDLOG_SQRD_ERR]
      ,[AVG_PDRATE_SQRD_ERR]
      ,[AVG_PDLOG_MAPE]
      ,[AVG_PDRATE_MAPE]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_BACKTEST_OUT_SAMPLE]
WHERE model_id = @modelId


INSERT INTO [IFRS_BACKTEST_OUT_SAMPLE_DTL](
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[PERIOD]
      ,[FITTED_PD_LOG]
      ,[ACTUAL_PD_LOG]
      ,[PDLOG_SQRD_ERR]
      ,[FITTED_PD_RATE]
      ,[ACTUAL_PD_RATE]
      ,[PDRATE_SQRD_ERR]
      ,[PDLOG_MAPE]
      ,[PDRATE_MAPE]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[PERIOD]
      ,[FITTED_PD_LOG]
      ,[ACTUAL_PD_LOG]
      ,[PDLOG_SQRD_ERR]
      ,[FITTED_PD_RATE]
      ,[ACTUAL_PD_RATE]
      ,[PDRATE_SQRD_ERR]
      ,[PDLOG_MAPE]
      ,[PDRATE_MAPE]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_BACKTEST_OUT_SAMPLE_DTL]
WHERE model_id = @modelId

INSERT INTO [IFRS_BACKTEST_OUT_SAMPLE_ME_DTL](
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[COEFF_NAME]
      ,[ESTIMATE_VAL]
      ,[VIF_VALUE]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[COEFF_NAME]
      ,[ESTIMATE_VAL]
      ,[VIF_VALUE]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_BACKTEST_OUT_SAMPLE_ME_DTL]
WHERE model_id = @modelId
--------------------------------------------------------

INSERT INTO [IFRS_R_ADF_TEST_DTL](
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[DIFFERENCING_LAG]
      ,[ADF_STATISTIC]
      ,[PVALUE]
      ,[LAGORDER]
      ,[NULLHYPOTHESIS]
      ,[ALTHYPOTHESIS]
      ,[FINALRESULT]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[DIFFERENCING_LAG]
      ,[ADF_STATISTIC]
      ,[PVALUE]
      ,[LAGORDER]
      ,[NULLHYPOTHESIS]
      ,[ALTHYPOTHESIS]
      ,[FINALRESULT]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_R_ADF_TEST_DTL]
WHERE model_id = @modelId


INSERT INTO [IFRS_R_ARIMA_MODEL_COEFF](
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[METHOD_DESCR]
      ,[ARCOEFFNAME]
      ,[ARCOEFFVAL]
      ,[ARCOEFFSE]
      ,[MACOEFFNAME]
      ,[MACOEFFVAL]
      ,[MACOEFFSE]
      ,[SARCOEFFNAME]
      ,[SARCOEFFVAL]
      ,[SARCOEFFSE]
      ,[SMACOEFFNAME]
      ,[SMACOEFFVAL]
      ,[SMACOEFFSE]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[METHOD_DESCR]
      ,[ARCOEFFNAME]
      ,[ARCOEFFVAL]
      ,[ARCOEFFSE]
      ,[MACOEFFNAME]
      ,[MACOEFFVAL]
      ,[MACOEFFSE]
      ,[SARCOEFFNAME]
      ,[SARCOEFFVAL]
      ,[SARCOEFFSE]
      ,[SMACOEFFNAME]
      ,[SMACOEFFVAL]
      ,[SMACOEFFSE]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_R_ARIMA_MODEL_COEFF]
WHERE model_id = @modelId

INSERT INTO [IFRS_R_ARIMA_MODEL_FCST](
	[MODEL_ID]
      ,[MODEL_SEQ]
      ,[MODEL_NAME]
      ,[VARIABLE_NAME]
      ,[FCST_PERIOD]
      ,[FCST_VALUE]
      ,[FCST_LOWER80]
      ,[FCST_UPPER80]
      ,[FCST_LOWER95]
      ,[FCST_UPPER95]
      ,[FCST_PERCENTAGE]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[MODEL_NAME]
      ,[VARIABLE_NAME]
      ,[FCST_PERIOD]
      ,[FCST_VALUE]
      ,[FCST_LOWER80]
      ,[FCST_UPPER80]
      ,[FCST_LOWER95]
      ,[FCST_UPPER95]
      ,[FCST_PERCENTAGE]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_R_ARIMA_MODEL_FCST]
WHERE model_id = @modelId

INSERT INTO [IFRS_R_ARIMA_MODEL_STATS](
	   [MODEL_ID]
      ,[MODEL_SEQ]
      ,[METHOD_DESCR]
      ,[ARIMAORDER]
      ,[SEASONALARIMA]
      ,[SIGMASQEST]
      ,[LOGLIK]
      ,[AIC]
      ,[ERR_ME]
      ,[ERR_RMSE]
      ,[ERR_MAE]
      ,[ERR_MPE]
      ,[ERR_MAPE]
      ,[ERR_MASE]
      ,[ERR_ACF1]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[METHOD_DESCR]
      ,[ARIMAORDER]
      ,[SEASONALARIMA]
      ,[SIGMASQEST]
      ,[LOGLIK]
      ,[AIC]
      ,[ERR_ME]
      ,[ERR_RMSE]
      ,[ERR_MAE]
      ,[ERR_MPE]
      ,[ERR_MAPE]
      ,[ERR_MASE]
      ,[ERR_ACF1]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_R_ARIMA_MODEL_STATS]
WHERE model_id = @modelId

INSERT INTO IFRS_R_TIMESERIES_MODEL(
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[MACRO_VARNAME]
      ,[MACRO_DESCR]
      ,[DATA_FREQ]
      ,[FORECAST_PERIOD]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[MACRO_VARNAME]
      ,[MACRO_DESCR]
      ,[DATA_FREQ]
      ,[FORECAST_PERIOD]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_R_TIMESERIES_MODEL]
WHERE model_id = @modelId

INSERT INTO IFRS_R_TIMESERIES_MODEL_ERROR(
	[MODEL_ID]
      ,[MODEL_SEQ]
      ,[MACRO_VARNAME]
      ,[ERROR_MSG]
      ,[ERROR_REMARKS]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [MODEL_ID]
      ,[MODEL_SEQ]
      ,[MACRO_VARNAME]
      ,[ERROR_MSG]
      ,[ERROR_REMARKS]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_R_TIMESERIES_MODEL_ERROR]
WHERE model_id = @modelId


INSERT INTO IFRS_VARCLUS_CLUSTER_DTL(
		[model_id]
      ,[CLUSTER_NO]
      ,[VARIABLE_NAME]
      ,[prin_comp1]
      ,[prin_comp2]
      ,[rsqrd_own]
      ,[rsqrd_next]
      ,[rsqrd_ratio]
      ,VARIABLE_INDEX
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [model_id]
      ,[clus_no]
      ,[var_name]
      ,[prin_comp1]
      ,[prin_comp2]
      ,[rsqrd_own]
      ,[rsqrd_next]
      ,[rsqrd_ratio]
      ,[var_indx]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_VARCLUS_CLUSTER_DTL]
WHERE model_id = @modelId


INSERT INTO [IFRS_VARCLUS_CLUSTER_SUMM](
	[model_id]
      ,[CLUSTER_NO]
      ,[no_of_members]
      ,VARIATION_EXPL
      ,[PROPORTION_EXPL]
      ,[SECOND_EIGENVAL]
      ,[REPRESENT_VARIABLE]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [model_id]
      ,[clus_no]
      ,[no_of_members]
      ,[var_expl]
      ,[prop_expl]
      ,[second_eigv]
      ,[rep_var]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_VARCLUS_CLUSTER_SUMM]
WHERE model_id = @modelId

INSERT INTO [IFRS_VARCLUS_GRAND_SUMM](
	[model_id]
      ,[NO_OF_CLUSTERS]
      ,[TOT_VAR_EXPLAINED]
      ,[PROPORTION_VAR_EXPL]
      ,[MIN_PROPORTION_EXPL]
      ,[MAX_2ND_EIGENVAL]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [model_id]
      ,[no_of_clust]
      ,[tot_var_expl]
      ,[prop_var_expl]
      ,[min_prop_expl]
      ,[max_2nd_eigv]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_VARCLUS_GRAND_SUMM]
WHERE model_id = @modelId

INSERT INTO [IFRS_VARCLUS_INTER_CLUSTER_CORR](
		[model_id]
      ,FROM_CLUSTER
      ,TO_CLUSTER
      ,CORRELATION_VAL
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [model_id]
      ,[from_clust]
      ,[to_clust]
      ,[corr_val]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_VARCLUS_INTER_CLUSTER_CORR]
WHERE model_id = @modelId

INSERT INTO IFRS_VARCLUS_MASTER(
		[model_id]
      ,[PORTFOLIO_SEGMENT]
      ,[MODEL_DESC]
      ,[MODEL_REMARKS]
	  ,CREATEDBY
	  ,CREATEDDATE
	  ,CREATEDHOST
)
SELECT [model_id]
      ,[portfolio_seg]
      ,[model_desc]
      ,[model_rem]
	  ,@CREATEDBY CREATEDBY
	  ,GETDATE() CREATEDDATE
	  ,@CREATEDHOST CREATEDHOST
  FROM [dbo].[TMP_IFRS_VARCLUS_MASTER]
WHERE model_id = @modelId

END


GO
