USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_QUESTION_SPPI]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_QUESTION_SPPI]                 
(                  
	@PKID bigint,       
	@SECTIONID int,   
	@ITEMCODE varchar(20) = '',          
	@QUESTION varchar(4000) = '',
	@DESCRIPTION varchar(4000) = '',
	@SCOREYES int,
	@SCORENO int,
	@REQUIRED bit,
	@UpdatedBy varchar(36) = '',
	@UpdatedHost varchar(30) = ''
)
AS
BEGIN

	UPDATE [IFRS_AC_SPPI_QUESTIONS]              
	SET 
		 SECTIONID = @SECTIONID
		,ITEMCODE = @ITEMCODE
		,QUESTION = @QUESTION
		,DESCRIPTION = @DESCRIPTION
		,SCOREYES = @SCOREYES
		,SCORENO = @SCORENO
		,REQUIRED = @REQUIRED
		,[UPDATEDBY] = @UpdatedBy                  
		,[UPDATEDDATE] = GETDATE()                  
		,[UPDATEDHOST] = @UpdatedHost                  
	WHERE PKID = @PKID 
 
END

GO
