USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECLPENDINGPF]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_ECLPENDINGPF]      
@PKID bigint      
AS       
     
 SELECT    
  A.PKID AS RULE_ID    
  ,C.GROUP_SEGMENT    
  ,C.SEGMENT    
  ,C.SUB_SEGMENT    
  --,B.UPSIDE_VALUE    
  --,B.BASE_VALUE    
  --,B.DOWNSIDE_VALUE    
  --,B.UPSIDE_PROB_OUTCOME    
  --,B.BASE_PROB_OUTCOME    
  --,B.DOWNSIDE_PROB_OUTCOME    
  --,B.OVERLAY_AMOUNT    
  --,D.LIFETIME_RULE_NAME    
  --,D.EXP_LIFE    
  ,E.RULE_NAME  
  ,F.BUCKET_GROUP  
  ,G.RULE_NAME DEFAULT_RULE_NAME   
 FROM IFRS_ECL_MODEL_HEADER_PENDING A    
 LEFT JOIN IFRS_ECL_MODEL_DETAIL_PF_PEND B ON A.PKID = B.ECL_MODEL_ID    
 LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER C ON B.SEGMENTATION_ID = C.PKID    
 LEFT JOIN IFRS_LIFETIME_RULES_CONFIG D ON B.LT_RULE_ID = D.PKID    
 LEFT JOIN IFRS_SCENARIO_RULES_HEADER E ON B.SICR_RULE_ID = E.PKID   
 LEFT JOIN IFRS_BUCKET_HEADER F ON B.BUCKET_GROUP = F.BUCKET_GROUP   
 LEFT JOIN IFRS_SCENARIO_RULES_HEADER G ON B.DEFAULT_RULE_ID = G.PKID  
 WHERE A.PKID = @PKID
 ORDER BY C.GROUP_SEGMENT    
		,C.SEGMENT    
		,C.SUB_SEGMENT

GO
