USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAPLIST]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IAPLIST]
AS
BEGIN
DECLARE @CURRDATE DATE

SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE
	
	SELECT
		CAST(A.DOWNLOAD_DATE AS varchar(10)) + '_' + A.CUSTOMER_NUMBER + '_' + CAST(B.SEGMENTATION_ID AS varchar(10)) AS DATE_CIF_SEGMENT
		,A.SEGMENT
		,A.CUSTOMER_NUMBER
		,A.CUSTOMER_NAME
		,MAX(A.DAY_PAST_DUE_CIF) AS DAY_PAST_DUE
		,MAX(A.BI_COLLECTABILITY) AS BI_COLLECTABILITY
		,SUM(ISNULL(A.OUTSTANDING,0)) AS OUTSTANDING
		,SUM(ISNULL(A.COLLATERAL_LIQUIDATION_VALUE,0)) AS COLLATERAL_LIQUIDATION_VALUE
		,A.WORKOUT_PERIOD_MODE
		,A.WORKOUT_PERIOD
		,MAX(A.EIR) AS EIR
		,A.COLLECTION_COST
		,SUM(ISNULL(A.DISC_CASH_FLOW,0)) AS DISC_CASH_FLOW
		,SUM(ISNULL(A.IIP_AMOUNT,0)) AS IIP_AMOUNT
		,SUM(ISNULL(A.MOVEMENT_IIP_AMOUNT,0)) AS MOVEMENT_IIP_AMOUNT
		,A.UPDATEDDATE
		,A.APPROVAL_STATUS
		,CASE WHEN (A.APPROVAL_STATUS = 'A') THEN 'Approved' ELSE
			CASE WHEN (A.APPROVAL_STATUS = 'R') THEN 'Rejected' ELSE
			'Initial' END END "STATUS"
	FROM IFRS_IAP_LIST A
	LEFT JOIN IFRS_IAP_PARAM B ON A.IAP_PARAM_HEADERID = B.PKID
	WHERE A.IMPAIRED_FLAG = 'I'
		AND A.IAP_EXCLUSION_FLAG = 0
		AND A.DOWNLOAD_DATE = '2017-12-31'--EOMONTH(@CURRDATE)
		--AND A.CUSTOMER_NUMBER='00197166'
		AND A.CUSTOMER_NUMBER NOT IN (SELECT CUSTOMER_NUMBER FROM IFRS_IAP_LIST_PENDING WHERE APPROVAL_STATUS = 'I')
	GROUP BY A.DOWNLOAD_DATE,B.SEGMENTATION_ID,A.SEGMENT,A.CUSTOMER_NUMBER,A.CUSTOMER_NAME
		,A.WORKOUT_PERIOD_MODE
		,A.WORKOUT_PERIOD,A.COLLECTION_COST
		,A.UPDATEDDATE,A.APPROVAL_STATUS
	
	UNION ALL
	SELECT
		CAST(A.DOWNLOAD_DATE AS varchar(10)) + '_' + A.CUSTOMER_NUMBER + '_' + CAST(B.SEGMENTATION_ID AS varchar(10)) AS DATE_CIF_SEGMENT
		,A.SEGMENT
		,A.CUSTOMER_NUMBER
		,A.CUSTOMER_NAME
		,MAX(A.DAY_PAST_DUE_CIF) AS DAY_PAST_DUE
		,MAX(A.BI_COLLECTABILITY) AS BI_COLLECTABILITY
		,SUM(ISNULL(A.OUTSTANDING,0)) AS OUTSTANDING
		,SUM(ISNULL(A.COLLATERAL_LIQUIDATION_VALUE_OVERRIDE,0)) AS COLLATERAL_LIQUIDATION_VALUE
		,A.WORKOUT_PERIOD_MODE
		,A.WORKOUT_PERIOD
		,MAX(A.EIR) AS EIR
		,A.COLLECTION_COST
		,SUM(ISNULL(A.DISC_CASH_FLOW_OVERRIDE,0)) AS DISC_CASH_FLOW
		,SUM(ISNULL(A.IIP_AMOUNT_OVERRIDE,0)) AS IIP_AMOUNT
		,SUM(ISNULL(A.MOVEMENT_IIP_AMOUNT,0)) AS MOVEMENT_IIP_AMOUNT
		,MAX(A.CREATEDDATE) AS UPDATEDDATE
		,A.APPROVAL_STATUS
		,CASE WHEN (A.APPROVAL_STATUS = 'A') THEN 'Approved' ELSE
			CASE WHEN (A.APPROVAL_STATUS = 'R') THEN 'Rejected' ELSE
			'Initial' END END "STATUS"
	FROM IFRS_IAP_LIST_PENDING A
	LEFT JOIN IFRS_IAP_PARAM B ON A.IAP_PARAM_HEADERID = B.PKID
	WHERE A.APPROVAL_STATUS = 'I'
		AND A.ID IN (SELECT ID FROM
			(SELECT DISTINCT CUSTOMER_NUMBER,MAX(ID) AS ID
			FROM IFRS_IAP_LIST_PENDING WHERE APPROVAL_STATUS = 'I' GROUP BY CUSTOMER_NUMBER)Z)
	GROUP BY A.DOWNLOAD_DATE,B.SEGMENTATION_ID,A.SEGMENT,A.CUSTOMER_NUMBER,A.CUSTOMER_NAME
		,A.WORKOUT_PERIOD_MODE
		,A.WORKOUT_PERIOD,A.COLLECTION_COST
		,A.UPDATEDDATE,A.APPROVAL_STATUS

END

GO
