USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CCF_FL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_CCF_FL]          
AS        
BEGIN    
    
   SELECT  
 99999 AS RULE_ID,  
 'none' AS RULE_NAME
 UNION ALL
 SELECT        
  A.PKID RULE_ID        
  ,A.CCF_RULE_NAME RULE_NAME      
 FROM IFRS_CCF_RULES_CONFIG A       
  WHERE A.IS_DELETE = 0   
        
END
GO
