USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_BI_SEGMENTLOANS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPU_BI_SEGMENTLOANS](
@PKID BIGINT = 0,
@SEGMENT_LOANS_DESC VARCHAR(50) = '',
@PRODUCT_CODE VARCHAR(2000) = '',
@UpdatedBy varchar(36) = '',               
@UpdatedHost varchar(30) = ''
)               
AS
BEGIN

	UPDATE IFRS_SEGMENT_LOANS
	SET
		SEGMENT_LOANS_DESC = LTRIM(RTRIM(@SEGMENT_LOANS_DESC)),
		PRODUCT_CODE = @PRODUCT_CODE,
		UPDATEDBY = @UpdatedBy,
		UPDATEDDATE = GETDATE(),
		UPDATEDHOST = @UpdatedHost
	WHERE PKID = @PKID
	
	TRUNCATE TABLE IFRS9_REPORT.DBO.IFRS_SEGMENT_LOANS

	INSERT INTO IFRS9_REPORT.DBO.IFRS_SEGMENT_LOANS
	(
		SEGMENT_LOANS_ID,
		SEGMENT_LOANS_DESC,
		PRODUCT_CODE
	)
	SELECT
		PKID,
		SEGMENT_LOANS_DESC,
		value AS PRODUCT_CODE
	FROM IFRS_SEGMENT_LOANS
	CROSS APPLY STRING_SPLIT(PRODUCT_CODE,';')
	WHERE ISNULL(IS_DELETE, 0) = 0
	ORDER BY PKID

END

GO
