USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMPRCDATE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMPRCDATE]    
AS    
BEGIN
   
	SELECT
		CURRDATE,
		PREVDATE,
		BATCH_STATUS AS BATCH_STATUS_IMPAIR,
		(SELECT BATCH_STATUS FROM IFRS_PRC_DATE_AMORT WITH (NOLOCK)) AS BATCH_STATUS_AMORT,
		(SELECT BATCH_STATUS FROM IFRS9_STG.[dbo].STG_PRC_DATE WITH (NOLOCK)) AS BATCH_STATUS_STG
	FROM IFRS_PRC_DATE WITH (NOLOCK)
           
END
GO
