USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_INITOVERRIDECHECKLIST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_INITOVERRIDECHECKLIST]
(
	@CID BIGINT,
	@CreatedBy VARCHAR(36),
	@CreatedHost VARCHAR(30)
)
AS
BEGIN

	-- Clean if exists
	DELETE FROM IFRS_IMP_OVERRIDECHECKLIST_TEMP
	WHERE PKID = @CID;

	-- Insert into temporary
	INSERT INTO IFRS_IMP_OVERRIDECHECKLIST_TEMP
	(
		PKID,
		CUSTOMER_NUMBER,
		DOWNLOAD_DATE,
		REMARKS,
		FILENAME,
		PATH,
		CHECKLISTSTATUS,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST
	)
	SELECT PKID,
		CUSTOMER_NUMBER,
		(SELECT CURRDATE FROM IFRS_PRC_DATE),
		REMARKS,
		FILENAME,
		PATH,
		'T',
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		@CreatedBy,
		GETDATE(),
		@CreatedHost
	FROM IFRS_IMP_OVERRIDECHECKLIST 
	WHERE PKID = @CID;

END;

GO
