USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDEACCOUNTEDIT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERRIDEACCOUNTEDIT]  
(  
 @DCFID INT  
)  
AS  
BEGIN  
  
 SELECT *  
 FROM IFRS_IMP_OVERRIDE_DETAIL  
 WHERE DCFID = @DCFID  
  
END;  
GO
