USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ASSETCLASSBM]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_ASSETCLASSBM]
(
	@Class_Level VARCHAR(20), 
    @Class_ID VARCHAR(50), 
    @Asset_ID FLOAT = 0 
)
AS
BEGIN
    
    IF @Asset_ID > 0 
	BEGIN
		SELECT A.COMMONCODE, 
			A.VALUE1, 
			A.DESCRIPTION, 
			C.SELECTED_VALUE, 
			C.REMARK
		FROM TBLM_COMMONCODEDETAIL A
			JOIN IFRS_ASSET_CLASS_BM_DETAIL C ON A.COMMONCODE = C.COMMONCODE_DTL 
		WHERE C.Asset_ID = @Asset_ID
			AND PARENTCOMMONCODE = 'B72'
		ORDER BY A.SEQUENCE;
    END
    ELSE 
	BEGIN
        SELECT A.COMMONCODE, 
			A.VALUE1, 
			A.DESCRIPTION,
			'' AS SELECTED_VALUE, 
			'' AS REMARK
        FROM TBLM_COMMONCODEDETAIL A
        WHERE PARENTCOMMONCODE = 'B72'
		ORDER BY A.SEQUENCE;
    END 

END;

GO
