USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMMACROECONOMICDERIVEDVAR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_PARAMMACROECONOMICDERIVEDVAR]
(  
 @PKID BIGINT = 0,  
 @UPLOADID bigint=0  
)  
AS  
BEGIN  
 DECLARE @ME_CODE varchar(100);
 SELECT @ME_CODE = ME_CODE 
 FROM	IFRS_Macro_Economic  
 WHERE	HeaderID = @PKID  

 SELECT ME_PERIOD, DERIVED_TYPE,ME_VAL
 FROM	IFRS_ME_DERIVED_VARIABLE B 
 WHERE	ME_CODE = @ME_CODE 
 ORDER BY ME_PERIOD DESC;  
END;  

GO
