USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_SYNC_AC_PRODUCT_CLASS]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IFRS_SYNC_AC_PRODUCT_CLASS]
AS

BEGIN

	DECLARE @CURRDATE DATE

	SELECT @CURRDATE = CURRDATE FROM DBO.IFRS_PRC_DATE_AMORT

	INSERT INTO IFRS_AC_PRODUCT_CLASS
	SELECT VALUE, B.ASSET_CLASS
	FROM IFRS_AC_SPPI_HEADER A JOIN IFRS_AC_MAPPING B ON A.PKID = B.SPPIID AND A.SPPI_RSLT = B.SPPI_RSLT
	CROSS APPLY DBO.STRING_SPLIT (A.PRODUCT_CODE, ',')
	WHERE EFFECTIVE_DATE <= @CURRDATE

END

GO
