USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_ASSETCLASSHEADER]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_ASSETCLASSHEADER]
(
    @ClassName		VARCHAR(100) = '',
    @Class_Level	VARCHAR(20) = '', 
    @Class_ID		VARCHAR(50) = '', 
    @SPPI_Result	VARCHAR(50) = '',
    @BMResult		VARCHAR(50) = '',
    @Effective_Date DATETIME = '1-JAN-2000',
    @AssetClass		VARCHAR(50) = '',
	@AssetClassOri	VARCHAR(50) = '',
    @UpdatedBy		VARCHAR(36) = '',
    @UpdatedHost	VARCHAR(30) = '',
    @PKID			BIGINT = NULL
)
AS
BEGIN

    UPDATE IFRS_ASSET_CLASS_HEADER
    SET Class_Name = @ClassName, 
        CLASS_LEVEL = @Class_Level,
		CLASS_ID = @Class_ID,
        SPPI_RSLT = @SPPI_Result, 
        BM_RSLT = @BMResult, 
        EFFECTIVE_DATE = @Effective_Date,
        ASSET_CLASS = @AssetClass, 
		ASSET_CLASS_ORI = @AssetClassOri,
        UpdatedBy = @UpdatedBy, 
        UpdatedDate = GETDATE(),
        UpdatedHost = @UpdatedHost
    WHERE PKID = @PKID;
    
END;

GO
