USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGDGRP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[USPS_LGDGRP] (  
   @USERID VARCHAR(18)  
)  
AS  
BEGIN  
  
        SELECT   
            A.PKID,  
            A.RULE_NAME "RULE_CODE",  
            A.RULE_NAME "SICR"  
             
        FROM IFRS_SCENARIO_RULES_HEADER A   
        JOIN IFRS_ECL_PORT_PENDING B ON B.COLL_GROUP = A.PKID  
        WHERE RULE_TYPE = 'SEGMENT'  
        AND USERID = @USERID  
        AND A.PKID NOT IN (SELECT COLL_GROUP FROM IFRS_LGDCONF_LST_PENDING WHERE USERID = @USERID);  
END;  

GO
