USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SETUP_SPPI]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_SETUP_SPPI]                 
(                  
	@PKID bigint,       
	--@SECTIONNAME varchar(50) = '',   
	@SECTIONID varchar(50) = '',          
	@ORDER varchar(50) = '',
	@THRESHOLD varchar(50) = '',
	@RULE varchar(100) = '',
	@DETERMINEID varchar(50) = '',
	@UpdatedBy varchar(36) = '',
	@UpdatedHost varchar(30) = ''
)
AS
BEGIN

	UPDATE [IFRS_AC_SPPI_SECTION]              
	SET 
		 --SECTIONNAME = @SECTIONNAME
		 SECTIONID = @SECTIONID
		,SEQUENCE = @ORDER
		,THRESHOLD = @THRESHOLD
		,[RULE] = @RULE
		,DETERMINEID = @DETERMINEID
		,[UPDATEDBY] = @UpdatedBy                  
		,[UPDATEDDATE] = GETDATE()                  
		,[UPDATEDHOST] = @UpdatedHost                  
	WHERE PKID = @PKID 
 
END

GO
