USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADFEECOSTCANCEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_UPLOADFEECOSTCANCEL]
(
	@Module varchar(20) ='' , 
	@canceledBy varchar(36) =''
)
AS
BEGIN

	IF @Module = 'LENDING'
		DELETE [TBLU_IFRS_AMORT_FEECOST_TEMP] WHERE CreatedBy=@canceledBy
	ELSE IF @Module = 'LIABILITIES'
		DELETE [TBLU_TRANS_LIAB_TEMP] WHERE CreatedBy=@canceledBy
	
END

GO
