USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMJFPORTIONLISTCOUNT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMJFPORTIONLISTCOUNT]  
(  
    @Where VARCHAR(4000) = NULL  
)  
AS  
	DECLARE @Query VARCHAR (3000);  
   
	SET NOCOUNT ON;  
  
	SET @Query =   
		'SELECT COUNT(*)  
		FROM IFRS_JF_PORTION_PARAM IFJ LEFT JOIN IFRS_MASTER_PRODUCT_PARAM IMP
		ON IFJ.PRODUCT_CODE = IMP.PRD_CODE WHERE IMP.IS_DELETE = 0'  
		+ CASE WHEN @Where IS NOT NULL  
			THEN ' AND ' + @Where  
			ELSE ''  
		END;  
  
	EXEC (@Query);

GO
