USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_COMMONCODEDBYCODEBYVALUE1]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_COMMONCODEDBYCODEBYVALUE1]       
@CommonCode varchar(20)=''
,@ParentCommonCodeValue varchar(50)=''      
,@Value1 varchar(100)=''
,@Value2 varchar(100)=''
,@Value3 varchar(100)=''     
,@PKID bigint=0   
AS         
BEGIN        
DECLARE @COUNT INT      
DECLARE @COUNTPENDING INT      
       
	SELECT @COUNT = COUNT(*)      
	FROM [dbo].[tblM_CommonCodeDetail] a        
	WHERE CommonCode = @CommonCode      
		AND VALUE1 = @Value1  
		AND VALUE2 = @Value2  
		AND VALUE3 = @Value3      
		AND PARENTCOMMONCODEVALUE = @ParentCommonCodeValue
		AND ISNULL(IS_DELETE,0) = 0      
		AND PKID <> @PKID  
      
 IF EXISTS(SELECT * FROM TBLT_APPROVALDETAIL WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER WHERE STATUS = 'P') AND NEWVALUE = @CommonCode)    
 BEGIN    
	SELECT @COUNT = COUNT(*) FROM
	(SELECT PARENTCOMMONCODE, VALUE1, VALUE2, VALUE3, CCY
		FROM
		(
			SELECT ISNULL(OLDVALUE,NEWVALUE) AS VALUE, FIELDNAME, HEADERID
			FROM TBLT_APPROVALDETAIL 
			WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER
					WHERE SCREENID='SETTING_COMMON_CODE_D' AND STATUS='P')
		)d
		pivot
		(
			max(value)
			for FIELDNAME in (PARENTCOMMONCODE, VALUE1, VALUE2, VALUE3, CCY)
		) piv)A
		WHERE PARENTCOMMONCODE = @ParentCommonCodeValue
			AND VALUE1 = @Value1
			AND VALUE2 = @Value2
			AND VALUE3 = @Value3
 END    
 ELSE    
 BEGIN    
	SET @COUNTPENDING = 0    
 END    
      
 SELECT @COUNT AS VALUE1, @COUNTPENDING AS VALUE1_PENDING;      
      
END  

GO
