USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_REVIEW_LEGAL_CONDITION]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPD_REVIEW_LEGAL_CONDITION]
(
 @PKID VARCHAR(5) = ''
)
AS 
BEGIN
	
	DELETE FROM IFRS_IMP_OVERRIDE_COLLATERAL
	WHERE PKID = @PKID
END
GO
