USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDEACCUPLOADH]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERRIDEACCUPLOADH]    
(    
 @uploadID INT,  
 @dcfID INT    
)    
AS    
BEGIN    
 DECLARE @CURRDATE DATETIME;  
     
 SET NOCOUNT ON;  
 SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE;  
    
 SELECT ISNULL(CONVERT(VARCHAR, @dcfID), '') + '_' + ISNULL(CONVERT(VARCHAR,PMA.MASTERID), '') AS "DETAILPKID",  
  ISNULL    
  (    
   ISNULL (IND.EFFECTIVE_DATE, IND2.EFFECTIVE_DATE),    
   (SELECT EOMONTH (CURRDATE) FROM IFRS_PRC_DATE)    
  ) AS "Effective Date",    
  PMA.MASTERID AS "Account Number",    
  PMA.CUSTOMER_NUMBER AS "Customer Number",    
  PMA.CUSTOMER_NAME AS "Customer Name",    
  PMA.CURRENCY AS "Currency",    
  PDG.PMA_IND_EIR AS "EIR Percent",    
  PMA.OUTSTANDING AS "Outstanding",    
  -- COALESCE (PMA.FAIR_VALUE_AMOUNT, PMA.OUTSTANDING, 0) AS "Fair Value", REMARKED BY ARI   
   ISNULL(PMA.OUTSTANDING, 0) + ISNULL(PMA.UNAMORT_FEE_AMT,0)  AS "Fair Value",   
  
  SUM(PDG.NPV) "NPV",  
  --PMA.OUTSTANDING - sum(PDG.NPV) AS "CKPN" REMARKED BY ARI   
  (ISNULL(PMA.OUTSTANDING, 0) + ISNULL(PMA.UNAMORT_FEE_AMT,0)) - sum(PDG.NPV) AS "CKPN"   
  
 FROM IFRS_MASTER_ACCOUNT PMA    
  INNER JOIN TBLT_PAYMENTEXPECTED_TEMP PDG ON PMA.MASTERID = PDG.MASTERID    
  LEFT JOIN IFRS_IMP_IA_MASTER IND ON PMA.MASTERID = IND.MASTERID    
  AND IND.UNWINDING_FLAG = 'Y'    
  AND IND.IMP_STATUS = 'N'    
  LEFT JOIN IFRS_IMP_IA_MASTER IND2 ON PMA.MASTERID = IND2.MASTERID    
  AND IND2.UNWINDING_FLAG = 'Y'    
  AND IND2.IMP_STATUS = 'A'    
 WHERE PMA.DOWNLOAD_DATE = @CURRDATE     
  AND PDG.DCFID = @dcfID    
 GROUP BY PMA.MASTERID ,    
  PMA.CURRENCY,    
  PDG.PMA_IND_EIR,    
  PMA.CUSTOMER_NUMBER,    
  PMA.CUSTOMER_NAME,    
  PMA.OUTSTANDING,   
  PMA.UNAMORT_FEE_AMT,
  IND.EFFECTIVE_DATE,    
  IND2.EFFECTIVE_DATE,    
  PMA.FAIR_VALUE_AMOUNT  
 ORDER BY PMA.MASTERID  
    
END;  
GO
