USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_AVG_DEF_RATE_LIGHT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_AVG_DEF_RATE_LIGHT](@PKID BIGINT=0)
AS 
BEGIN
	SET NOCOUNT ON;

	SELECT A.LIGHT_ID "Light" , 
		B.IMAGE_URL LIGHT_COLOR ,
		A.OVERRIDE_DEFAULT_RATE * 100 "Default Rate (%)", 
		A.SAMPLES "Samples",  
		A.OVERRIDE_DEFAULT_RATE * 100 OVERRIDE_DEFAULT_RATE
	FROM TMP_IFRS_LIGHT_AVG_DEF_RATE A
	JOIN IFRS_IMP_LIGHT_SCEN_PARAM B
	ON A.LIGHT_ID = B.LIGHT_ID
	JOIN TMP_IFRS_LIGHT_PD_CONFIG C
	ON B.LIGHT_GROUP = C.LIGHT_GROUP
	AND A.LIGHT_PD_MODEL_ID = C.PKID
	WHERE A.LIGHT_PD_MODEL_ID = @PKID;
END;

GO
