USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMRETENTIONLIST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_PARAMRETENTIONLIST]     
AS      
BEGIN    
  
	SELECT
		[PKID]
      ,[TABLE_SRC]
      ,[CATALOG_SRC]
      ,[SCHEMA_SRC]
      ,[TABLE_DEST]
      ,[CATALOG_DEST]
      ,[SCHEMA_DEST]
      ,[COL_NAME_DATE]
      ,[RETENTION_DAYS]
      ,ISNULL([EOM], 0) AS [EOM]
      ,[IS_DELETE]
      ,[CREATEDBY]
      ,[CREATEDDATE]
      ,[CREATEDHOST]
      ,[UPDATEDBY]
      ,[UPDATEDDATE]
      ,[UPDATEDHOST]
      ,ISNULL([LAG_1MONTH_FLAG], 0) AS [LAG_1MONTH_FLAG]
	FROM [dbo].[IFRS_ARCHIVE_MASTER] 
	WHERE IS_DELETE = 0  
	ORDER BY TABLE_SRC   
  
END

GO
