USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETERRORBY_PKID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETERRORBY_PKID]
(
	@PKID INT
)          
AS
BEGIN  

	select count(*) as countnum from TBLT_ERROR_MESSAGES WHERE PKID = @PKID and (ERR_MESSAGES <> '' or ERR_MESSAGES <> null);
	TRUNCATE TABLE [dbo].[TBLT_ERROR_MESSAGES];

END

GO
