USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LIGHTALLBYBUCK]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LIGHTALLBYBUCK]
(
	@LIGHT_GROUP VARCHAR(25)  =''
)
AS
BEGIN

	SELECT [LIGHT_ID], 
		[LIGHT_NAME], 
		[RANGE_START] [SCORE_START], 
		[RANGE_END] [SCORE_END], 
		[LIGHT_GROUP], 
		[LIGHT_COLOR], 
		[IMAGE_URL], 
		[CreatedBy], 
		[CreatedDate], 
		[CreatedHost], 
		[UpdatedBy], 
		[UpdatedDate], 
		[UpdatedHost] 
    FROM IFRS_IMP_LIGHT_SCEN_PARAM
	WHERE LIGHT_GROUP = @LIGHT_GROUP
    ORDER BY LIGHT_ID ASC

END

GO
