USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_USERUNEXPIRED]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_USERUNEXPIRED]         
(  
	@PKID varchar(50),  
	@UpdatedBy varchar(36)='',        
	@UpdatedHost varchar(30)  =''                                    
)         
as         
BEGIN     

	declare @Password varchar(50)         
	select @Password = CommonUsage from tblM_CommonCodeHeader where CommonCode = 'AP000'        
	
	UPDATE tblM_User
      SET IsUserExpired = 0,
          IsUserActive = 1,
          IsUserLocked = 0,
          IsPasswordExpired = 1--dipaksa change password
          ,
          PasswordAttemptCounter = 0,
          PASSWORD = @Password,
          UpdatedBy = @UpdatedBy,
          UpdatedHost = @UpdatedHost,
          UpdatedDate = GETDATE() 
      WHERE PKID = @PKID;

	--UTK USER TER-DELETE
	UPDATE tblm_reportto
	SET ACTIVE = 1,
		UpdatedDate = GETDATE() ,
		UpdatedBy = @UpdatedBy,
		UpdatedHost = @UpdatedHost
	WHERE userid = @PKID
	OR ReportTo = @PKID;

END



GO
