USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCLASSID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPCLASSID]
AS
BEGIN

	SELECT DISTINCT PRD_GROUP AS ClassIDValue,
		PRD_GROUP AS ClassIDText
	FROM IFRS_MASTER_PRODUCT_PARAMETER;

END;

GO
