USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_AC_OVERRIDE_MASTERACCOUNT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_AC_OVERRIDE_MASTERACCOUNT](  
@CUSTOMER_NUMBER varchar(50)=''  
,@MASTERID varchar(100)='')  
AS      
BEGIN      
  
   SELECT  
  ROW_NUMBER() OVER(ORDER BY A.CUSTOMER_NUMBER, A.MASTERID ASC)-1 AS RowNumber  
  ,A.PKID  
  ,A.DOWNLOAD_DATE  
  ,A.CUSTOMER_NUMBER  
  ,A.MASTERID  
  ,B.ASSET_CLS as IFRS9_CLASS  
  ,'' AS IFRS9_CLASS_OVERRIDE   
   FROM IFRS_MASTER_ACCOUNT A LEFT JOIN IFRS_AC_OVERRIDE B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER AND A.MASTERID = B.MASTERID --B.MASTERID  
   WHERE A.DOWNLOAD_DATE = (SELECT CURRDATE FROM IFRS_PRC_DATE)  
 AND UPPER(A.CUSTOMER_NUMBER) LIKE '%'+UPPER(@CUSTOMER_NUMBER)+'%'  
 AND UPPER(A.MASTERID) LIKE '%'+UPPER(@MASTERID)+'%'  
 ORDER BY A.CUSTOMER_NUMBER, A.MASTERID ASC  
     
END; 
GO
