USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMIMPAIRCABUCK_VALID]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_PARAMIMPAIRCABUCK_VALID]
(    
	@PKID BIGINT,
	@BUCKET_NAME VARCHAR(100),
	@BUCKET_GROUP VARCHAR(25),
	@ReturnCode SMALLINT = 0 OUT
)      
AS    
BEGIN

	-- If any row is changed
	IF EXISTS 
	(
		SELECT TOP 1 1 FROM IFRS_IMPC_BUCKET_PARAM
		WHERE BUCKET_GROUP = @BUCKET_GROUP
		AND BUCKET_NAME = @BUCKET_NAME
		AND PKID != @PKID
	)
		SET @ReturnCode = 1;
	ELSE IF EXISTS -- If row not changed in current bucket
	(
		SELECT TOP 1 1 FROM IFRS_IMPC_BUCKET_PARAM
		WHERE BUCKET_GROUP = @BUCKET_GROUP
		AND BUCKET_NAME = @BUCKET_NAME
		AND PKID = @PKID
	)
		SET @ReturnCode = 0;
	ELSE
		SET @ReturnCode = 2;
    
END;

GO
