USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ACTIVITYLOGS]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_ACTIVITYLOGS]  
 @UserID varchar(36)='',  
 @UserActivityID varchar(50)='',  
 @ScreenID varchar(100)='',  
 @ModuleID varchar(50)='',  
 --@CreatedDate datetime,  
 @CreatedHost varchar(30) =''  
as  
 insert into tblt_activitylogs(UserID,UserActivityID,ScreenID,ModuleID,CreatedDate,CreatedHost)  
 values(@UserID,@UserActivityID,@ScreenID,@ModuleID,GETDATE(),@CreatedHost)

 select id_header = @@IDENTITY  





GO
