USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_REJECTEDFORECASTRESULT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_REJECTEDFORECASTRESULT]
(         
 @ME_CODE VARCHAR(100),
 @REMARKS VARCHAR(MAX),
 @REJECTEDBY VARCHAR(36),
 @REJECTEDHOST VARCHAR(30)
)            
AS            
BEGIN
DECLARE @INPUT INT

SET @INPUT = (SELECT ISNULL(MAX(INPUT), 0) + 1 FROM IFRS_ME_FORECAST_HIST WHERE ME_CODE = @ME_CODE)

	--HIST
		INSERT INTO IFRS_ME_FORECAST_HIST
		(
			[ME_CODE],
			[METHOD],
			[FL_PERIOD],
			[FL_PERIOD_FROM],
			[FL_PERIOD_TO],
			[INPUT],
			[APPROVAL_REMARKS],
			[STATUS],
			[ACTION],
			[CREATEDBY],
			[CREATEDDATE],
			[CREATEDHOST],
			[UPDATEDBY],
			[UPDATEDDATE],
			[UPDATEDHOST],
			[APPROVEDBY],
			[APPROVEDDATE],
			[APPROVEDHOST]
		)
		SELECT
			A.[ME_CODE],
			A.[METHOD],
			A.[FL_PERIOD],
			A.[FL_PERIOD_FROM],
			A.[FL_PERIOD_TO],
			@INPUT,
			@REMARKS,
			'REJECTED',
			ACTION,
			A.[CREATEDBY],
			A.[CREATEDDATE],
			A.[CREATEDHOST],
			B.[CREATEDBY],
			B.[CREATEDDATE],
			B.[CREATEDHOST],
			@REJECTEDBY,
			GETDATE(),
			@REJECTEDHOST
		FROM IFRS_ME_FORECAST_PEND A
		LEFT JOIN IFRS_ME_FORECAST B ON A.ME_CODE = B.ME_CODE
		WHERE A.ME_CODE = @ME_CODE

		--HIST
		INSERT INTO IFRS_ME_FORECAST_DETAIL_HIST
		(
			[ME_CODE],
			[FL_PERIOD],
			[FL_VAL],
			[REMARKS],
			[INPUT],
			[CREATEDBY],
			[CREATEDDATE],
			[CREATEDHOST]
		)
		SELECT
			[ME_CODE],
			[FL_PERIOD],
			[FL_VAL],
			[REMARKS],
			@INPUT,
			[CREATEDBY],
			[CREATEDDATE],
			[CREATEDHOST]
		FROM IFRS_ME_FORECAST_DETAIL_PEND
		WHERE ME_CODE = @ME_CODE
		ORDER BY FL_PERIOD

	DELETE FROM IFRS_ME_FORECAST_PEND WHERE ME_CODE = @ME_CODE
	DELETE FROM IFRS_ME_FORECAST_DETAIL_PEND WHERE ME_CODE = @ME_CODE
END
GO
