USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMJOURNAL]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_PARAMJOURNAL]  
(  
@PKID bigint  
,@GL_CONSTNAME varchar(50)=''
,@INST_CLS_VALUE varchar(10)='' 
--,@ASSET_TYPE_PRODUCT1 varchar(100)= ''    
,@TRX_CODE varchar(20)= ''    
,@DRCR varchar(2)= ''    
,@CCY varchar(5)= ''    
,@FLAG_CF varchar(10) = ''
,@JOURNALCODE varchar(20) = ''
,@GLNO varchar(20) = '' 
,@JOURNAL_DESC varchar(200) = ''  
,@UpdatedBy varchar(36)=''  
,@UpdatedHost varchar(30)=''  
)  
AS  
BEGIN  
  
UPDATE [dbo].[IFRS_MASTER_JOURNAL_PARAM]  
   SET
		[GL_CONSTNAME] = @GL_CONSTNAME
      ,[INST_CLS_VALUE] = @INST_CLS_VALUE
	  --,[ASSET_TYPE_PRODUCT1] = ''
	  ,[TRX_CODE] = @TRX_CODE
	  ,[TXN_TYPE] = @DRCR
	  ,[CCY] = @CCY
	  ,[IFRS_COST_VALUE] = @FLAG_CF
	  ,[IFRS_ACCT_TYPE] = @JOURNALCODE
	  ,[GL_CODE] = LTRIM(RTRIM(@GLNO))
	  ,[REMARKS] = LTRIM(RTRIM(@JOURNAL_DESC))
      ,[UPDATEDBY] = @UpdatedBy  
      ,[UPDATEDDATE] = GETDATE()  
      ,[UPDATEDHOST] = @UpdatedHost  
 WHERE PKID = @PKID  
      
END

GO
