USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DEFAULT_RULE_ECL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DEFAULT_RULE_ECL]    
            
AS            
BEGIN            
            
   SELECT PKID RULE_ID, RULE_NAME DEFAULT_RULE_NAME
   FROM IFRS_SCENARIO_RULES_HEADER 
   WHERE RULE_TYPE LIKE 'DEFAULT_RULE_ECL%' AND IS_DELETE=0    
              
END; 
GO
