USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMLGDMODEL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_PARAMLGDMODEL]    
(    
    @PKID integer    
)    
AS    
BEGIN    
        
    DELETE FROM IFRS_LGD_RULES_CONFIG    
    WHERE PKID = @PKID;    
        
    
END; 
GO
