USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_QUERYPARAM]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPD_QUERYPARAM] 
--@PKID BIGINT    
(
    
    @QueryID VARCHAR(100)  ,
	@CountryID VARCHAR(10)='ID',
	@ModuleID VARCHAR(50)='IAS'
)
AS  
BEGIN
    SET NOCOUNT ON       DELETE  FROM [dbo].[tblM_QueryParameter]    
    WHERE   --[PKID] = @PKID 
      [CountryID] = @CountryID    
            AND [ModuleID] = @ModuleID    
            AND [QueryID] = @QueryID
END






GO
