USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCENARIORULEHBYCODE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[USPS_SCENARIORULEHBYCODE]  
(@RULE_ID varchar(50))  
as  
BEGIN  
 SELECT * FROM [dbo].[IFRS_SCENARIO_RULES_HEADER]  
 WHERE PKID=@RULE_ID  AND IS_DELETE = 0
END

GO
