USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_TMP_LIGHT_FORECAST_DATA]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPI_TMP_LIGHT_FORECAST_DATA]
(
	
		@LightPDId int=0,
		@MECode varchar(50)='',
		@ForecastYear smallint=0,
		@ForecastVal float = 0,
		@CreatedBy varchar(36)='',
		@CreatedHost varchar(36)=''
)
as
begin
	INSERT INTO TMP_IFRS_ME_FORECAST_DATA
		(LIGHT_PD_MODEL_ID, ME_CODE, FORECAST_YEAR, FORECAST_VAL, CREATEDBY, CREATEDHOST, CREATEDDATE)
	VALUES
		(
			@LightPDId,
			@MECode,
			@ForecastYear,
			@ForecastVal,
			@CreatedBy,
			@CreatedHost,
			getdate()
		)
end

GO
