USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_AC_GENERATE_RESULT_SPI]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_AC_GENERATE_RESULT_SPI] @SPPI_ID BIGINT
AS
BEGIN
	
	UPDATE MAP
		SET SPPI_RSLT = CASE WHEN ISNULL(A.OVERRIDE_RSLT,'') != '' THEN A.OVERRIDE_RSLT ELSE A.SPPI_RSLT END
	FROM IFRS_AC_MAPPING MAP
	LEFT JOIN IFRS_AC_SPPI_HEADER A ON MAP.SPPIID = A.PKID
	WHERE MAP.SPPIID = @SPPI_ID

	UPDATE MAP  
		SET ASSET_CLASS = (  
		  SELECT DISTINCT ASSET_CLASS FROM IFRS_AC_MAIN_MAPPING  
		  WHERE SPPI_RSLT = MAP.SPPI_RSLT  
		   AND BM_RSLT = MAP.BM_RSLT  
		   AND FV_OPTION = MAP.FV_OPTION  
		 )  
		FROM IFRS_AC_MAPPING MAP
		WHERE  
		 SPPIID = @SPPI_ID

END

GO
