USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEBACKTESTRESULTMASTER]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USPS_MEBACKTESTRESULTMASTER]
(
	@modelId int
)
as
begin
	declare @count int ;
	select  @count = COUNT(a.PKID) 
	from	IFRS_BACKTEST_IN_SAMPLE a JOIN
				IFRS_BACKTEST_OUT_SAMPLE b ON a.MODEL_SEQ = b.MODEL_SEQ
	WHERE	a.MODEL_ID = @modelid and b.MODEL_ID = @modelid
	if @count > 0  -- select data from final table 
		select	DISTINCT a.MODEL_ID, a.MODEL_SEQ, MSE_PD_LOG, MSE_PD_RATE , AVG_PDLOG_SQRD_ERR , AVG_PDRATE_SQRD_ERR 
		from	IFRS_BACKTEST_IN_SAMPLE a JOIN
				IFRS_BACKTEST_OUT_SAMPLE b ON a.MODEL_SEQ = b.MODEL_SEQ
		WHERE	a.MODEL_ID = @modelid and b.MODEL_ID = @modelid
	else	
		select DISTINCT a.MODEL_ID, a.MODEL_SEQ, MSE_PD_LOG, MSE_PD_RATE , AVG_PDLOG_SQRD_ERR , AVG_PDRATE_SQRD_ERR 
		from	TMP_IFRS_BACKTEST_IN_SAMPLE a JOIN
				TMP_IFRS_BACKTEST_OUT_SAMPLE b ON a.MODEL_SEQ = b.MODEL_SEQ
		WHERE a.MODEL_ID = @modelid and b.MODEL_ID = @modelid
end

GO
