USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_COUNT_SAVED_DCF]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_COUNT_SAVED_DCF]    
(    
 @CIF VARCHAR(50)  
)      
AS      
BEGIN      
    
 SELECT COUNT(*)  C  
 FROM IFRS_IMP_OVERRIDE_DETAIL_TEMP   
 WHERE CUSTOMER_NUMBER = @CIF  
 AND DCFSTATUS = 'NO DCF'  
 AND DOWNLOAD_DATE = (select currdate from IFRS_PRC_DATE)  
END  
GO
