USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SCENARIORULEH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_SCENARIORULEH]  
(  
 @RULE_NAME varchar(250)=''  
 ,@RULE_TYPE varchar(50)=''  
 ,@UPDATED_TABLE varchar(30)  
 ,@UPDATED_COLUMN varchar(30)  
 ,@VALUE varchar(50)=''  
 ,@SEQUENCE int=0  
 ,@CreatedBy varchar(36)=''  
 ,@CreatedHost varchar(3)=''  
)  
AS  
BEGIN  
 INSERT INTO [dbo].[IFRS_SCENARIO_RULES_HEADER]  
           ([RULE_NAME]  
           ,[RULE_TYPE]  
           ,[UPDATED_TABLE]  
           ,[UPDATED_COLUMN]  
           ,[CreatedBy]  
           ,[CreatedDate]  
           ,[CreatedHost]  
     ,[VALUE]  
     ,[SEQUENCE]  
     ,[IS_DELETE])  
 VALUES  
  ( @RULE_NAME  
           ,@RULE_TYPE  
           ,(SELECT DISTINCT(VALUE1)
    FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B27' AND PARENTCOMMONCODE = 'B26' AND PARENTCOMMONCODEVALUE = @RULE_TYPE AND IS_DELETE = 0)  
           ,(SELECT DISTINCT(VALUE2)
    FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B27' AND PARENTCOMMONCODE = 'B26' AND PARENTCOMMONCODEVALUE = @RULE_TYPE AND IS_DELETE = 0)  
     ,@CreatedBy  
           ,GETDATE()  
           ,@CreatedHost  
     ,@VALUE  
     ,@SEQUENCE  
     ,0)  
   
END  
GO
