USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMJFPORTION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_PARAMJFPORTION]                
(  
  @PRD_GROUP varchar(100)=''                
 ,@PRD_TYPE varchar(50)=''  
 ,@PRODUCT_CODE varchar(20)=''  
 ,@PRINCIPAL_PORTION VARCHAR(100)= ''  
 ,@INTEREST_PORTION VARCHAR(100)=''  
 ,@TRANSACTION_FEE_PORTION VARCHAR(100)='' 
 ,@TRANSACTION_COST_PORTION VARCHAR(100)=''  
 ,@CreatedBy varchar(36)=''                
 ,@CreatedHost varchar(30)=''  
)             
AS                
BEGIN        
INSERT INTO dbo.[IFRS_JF_PORTION_PARAM]               
            (  
   PRODUCT_CODE  
   ,PRINCIPAL_PORTION  
   ,INTEREST_PORTION  
   ,TRANSACTION_FEE_PORTION
   ,TRANSACTION_COST_PORTION  
   ,[CREATEDBY]              
   ,[CREATEDDATE]  
   ,[CREATEDHOST]                
           )                
     VALUES                
           (          
    @PRODUCT_CODE  
   ,CAST(REPLACE(@PRINCIPAL_PORTION,',','.') AS DECIMAL(32,6))  
   ,CAST(REPLACE(@INTEREST_PORTION,',','.') AS DECIMAL(32,6))  
   ,CAST(REPLACE(@TRANSACTION_FEE_PORTION,',','.') AS DECIMAL(32,6))
   ,CAST(REPLACE(@TRANSACTION_COST_PORTION,',','.') AS DECIMAL(32,6))  
   ,@CreatedBy                
      ,GETDATE()                
      ,@CreatedHost            
           )                  
END  
  

GO
