USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_FL_ME_COMPLETE]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_FL_ME_COMPLETE] @DOWNLOAD_DATE DATE = NULL, @MODEL_ID INT = 35 
AS
BEGIN 
DECLARE @V_CURRDATE DATE 

IF @DOWNLOAD_DATE = NULL 
SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE
ELSE 
SET @V_CURRDATE = @DOWNLOAD_DATE

IF OBJECT_ID ('TEMPDB.DBO.#MASTER') IS NOT NULL  DROP TABLE #MASTER
SELECT A.PKID AS MODEL_ID, A.MODEL_NAME, MACRO_ECONOMIC_CODE,IMPACT_TO_DEPENDENT,EOMONTH(ME_PERIOD) AS ME_PERIOD,ME_VAL, CAST(0 AS INT) AS FORECAST_FLAG INTO #MASTER FROM IFRS_MACRO_ECONOMIC_MODEL A 
INNER JOIN IFRS_INDEPENDENT_VARIABLE B ON A.PKID = B.MODEL_ID
INNER JOIN IFRS_MACRO_ECONOMIC C ON B.MACRO_ECONOMIC_CODE = C.ME_CODE
WHERE A.PKID  = @MODEL_ID AND A.IS_DELETE = 0

IF OBJECT_ID ('TEMPDB.DBO.#MAX_PERIOD') IS NOT NULL  DROP TABLE #MAX_PERIOD
SELECT MODEL_ID,MACRO_ECONOMIC_CODE,EOMONTH(MAX(ME_PERIOD)) AS MAX_PERIOD INTO #MAX_PERIOD  FROM #MASTER GROUP BY MODEL_ID,MACRO_ECONOMIC_CODE

--- UNION FORECAST AND ACTUAL
INSERT INTO   #MASTER (MODEL_ID,MODEL_NAME,MACRO_ECONOMIC_CODE, IMPACT_TO_DEPENDENT,ME_PERIOD,ME_VAL,FORECAST_FLAG)
SELECT A.PKID AS MODEL_ID, A.MODEL_NAME, B.MACRO_ECONOMIC_CODE,IMPACT_TO_DEPENDENT,EOMONTH(C.FL_PERIOD) AS FL_PERIOD,C.FL_VAL, 1 AS FORECAST_FLAG 
 FROM IFRS_MACRO_ECONOMIC_MODEL A 
INNER JOIN IFRS_INDEPENDENT_VARIABLE B ON A.PKID = B.MODEL_ID
INNER JOIN IFRS_ME_FORECAST_DETAIL C ON B.MACRO_ECONOMIC_CODE = C.ME_CODE
INNER JOIN #MAX_PERIOD D ON A.PKID = D.MODEL_ID AND B.MACRO_ECONOMIC_CODE = D.MACRO_ECONOMIC_CODE
WHERE A.PKID  = @MODEL_ID AND A.IS_DELETE = 0 AND EOMONTH(C.FL_PERIOD) > EOMONTH(D.MAX_PERIOD)


DELETE IFRS_ME_COMPLETE WHERE  MODEL_ID = @MODEL_ID

INSERT INTO IFRS_ME_COMPLETE (SCALAR_ID
,MODEL_ID
,ME_CODE
,ME_CODE_ORIG
,SCENARIO_NO
,SCENARIO_NAME
,ME_PERIOD
,ME_VAL
,FORECAST_FLAG
,CREATEDBY
,CREATEDDATE
,ME_TIME_SERIES)
SELECT B.PKID AS SCALAR_ID
, A.MODEL_ID AS MODEL_ID
,A.MACRO_ECONOMIC_CODE AS ME_CODE
,A.MACRO_ECONOMIC_CODE AS ME_CODE_ORIG
,C.SCENARIO_NO AS SCENARIO_NO
,C.SCENARIO_NAME AS SCENARIO_NAME
,A.ME_PERIOD AS ME_PERIOD
,CASE WHEN IMPACT_TO_DEPENDENT LIKE '+%' AND ECONOMY_IMPACT = 1 THEN ME_VAL*(1-(ADJUSTMENT_VALUE/100))
	WHEN IMPACT_TO_DEPENDENT LIKE '-' AND ECONOMY_IMPACT = 1 THEN ME_VAL*(1+(ADJUSTMENT_VALUE/100))
	WHEN IMPACT_TO_DEPENDENT LIKE '+%' AND ECONOMY_IMPACT = 0 THEN ME_VAL*(1+(ADJUSTMENT_VALUE/100))
	WHEN IMPACT_TO_DEPENDENT LIKE '-' AND ECONOMY_IMPACT = 0 THEN ME_VAL*(1-(ADJUSTMENT_VALUE/100)) 
	END AS ME_VAL
,A.FORECAST_FLAG
,'SP_IFRS_FL_ME_COMPLETE' AS CREATEDBY
,GETDATE() AS CREATEDDATE
,D.ME_TIME_SERIES AS ME_TIME_SERIES
FROM #MASTER A 
INNER JOIN  IFRS_ME_SCALAR_HEADER  B ON A.MODEL_ID = B.MODEL_ID AND IS_DELETE = 0 AND ACTIVE_FLAG = 1
INNER JOIN IFRS_ME_SCALAR_DETAIL C ON B.PKID = C.SCALAR_ID AND B.IS_DELETE = 0
LEFT JOIN TBLM_MACRO_ECONOMIC D ON A.MACRO_ECONOMIC_CODE = D.ME_CODE AND D.IS_DELETE = 0


END










GO
