USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMPREPAYMENTMODEL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMPREPAYMENTMODEL]        
(        
    @Where VARCHAR = ' '        
)        
AS        
BEGIN        
        
 DECLARE @Query VARCHAR (3000);        
    SET @Query='        
         
 SELECT *  
  FROM  IFRS_PREPAYMENT_RULES_CONFIG A    
  LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID    
  WHERE ISNULL(A.IS_DELETE,0)=''0''    
 '        
 +CASE WHEN @Where <> ' '        
  THEN 'AND ' + @Where        
  ELSE ''        
  END        
 + ' ORDER BY PREPAYMENT_RULE_NAME;';        
            
 EXECUTE (@Query);        
 PRINT(@QUERY);      
END

GO
