USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKUSERBYNAME]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_CHECKUSERBYNAME]                        
 @UserName varchar(50)                           
AS                           
BEGIN
	
	SELECT USERNAME,ISUSERACTIVE,0 AS 'ISPENDING' FROM TBLM_USER WHERE USERNAME = @UserName
	UNION ALL
	SELECT NEWVALUE,1,1 AS 'ISPENDING' FROM TBLT_APPROVALDETAIL
	WHERE
		HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER WHERE STATUS = 'P'
			AND SCREENID = 'USER_MANAGEMENT' AND ACTION = 'INSERT')
		AND FIELDNAME = 'USERNAME'
		AND NEWVALUE = @UserName

END

GO
