USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspD_ParamEADModelH]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspD_ParamEADModelH]    
(     
  @PKID BIGINT     
)    
AS    
    
BEGIN    
     
   --DELETE   
   UPDATE IFRS_EAD_RULES_CONFIG    
   SET IS_DELETE = '1'  
     WHERE PKID = @PKID;    
  
END;      
GO
