USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_CHECKLISTREJECT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_CHECKLISTREJECT]
(
	@CID BIGINT,
	@CreatedBy VARCHAR(30),
	@CreatedHost VARCHAR(30)
)
AS
BEGIN

	DECLARE @Status VARCHAR(1);
	SET @Status = 'R'
	
	-- Insert into IFRS_IMP_OVERRIDECHECKLIST_HIST
	INSERT INTO IFRS_IMP_OVERRIDECHECKLIST_HIST
	(
		CHECKLISTID,
		CUSTOMER_NUMBER,
		DOWNLOAD_DATE,
		REMARKS,
		FILENAME,
		PATH,
		CHECKLISTSTATUS,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST,
		CHECKEDBY,
		CHECKEDDATE,
		CHECKEDHOST
	)
	SELECT PKID,
		CUSTOMER_NUMBER,
		DOWNLOAD_DATE,
		REMARKS,
		FILENAME,
		PATH,
		@Status,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST,
		@CreatedBy,
		GETDATE(),
		@CreatedHost
	FROM IFRS_IMP_OVERRIDECHECKLIST_PEND
	WHERE PKID = @CID;

	-- Update status into 'R' in IFRS_IMP_OVERRIDECHECKLIST_PEND table
	UPDATE IFRS_IMP_OVERRIDECHECKLIST_PEND
	SET CHECKLISTSTATUS = @Status
	WHERE PKID = @CID
		AND CHECKLISTSTATUS = 'P';

	-- Update CHECKLISTSTATUS & BEING_EDITED_CIF to IFRS_IMP_OVERRIDE table
	UPDATE IFRS_IMP_OVERRIDE
	SET CHECKLISTSTATUS = @Status,
		BEING_EDITED_CIF = 0
	WHERE CHECKLISTID = @CID;

END;



GO
