USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GRIDCOLUMNSDATASOURCE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GRIDCOLUMNSDATASOURCE]
(    
 @gridid varchar(50)      
)    
AS    
begin     
   
 SELECT * FROM tblS_GridColumns nolock where GridID = @gridid and DataSourceID is not null and DataSourceID <> ''
  order by sequence
           
end

GO
