USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LBM_ACCT_EIR_SWITCH]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROCEDURE [dbo].[SP_IFRS_LBM_ACCT_EIR_SWITCH]    
AS    
DECLARE @V_CURRDATE DATE    
 ,@V_PREVDATE DATE    
 ,@V_NUM INT    
    
BEGIN    
 SELECT @V_CURRDATE = MAX(CURRDATE)    
  ,@V_PREVDATE = MAX(PREVDATE)    
 FROM IFRS_PRC_DATE_AMORT    
    
 INSERT INTO IFRS_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS    
  ,PROCNAME    
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'START'    
  ,'SP_IFRS_LBM_ACCT_EIR_SWITCH'    
  ,''    
  )    
  
 --RESET    
 UPDATE IFRS_LBM_ACCT_EIR_COST_FEE_PREV    
 SET STATUS = 'ACT'    
 WHERE STATUS = 'REV'    
  AND CREATEDBY = 'EIR_SWITCH'    
  AND DOWNLOAD_DATE = @V_CURRDATE    
    
 UPDATE IFRS_LBM_ACCT_EIR_COST_FEE_PREV    
 SET STATUS = 'ACT'    
 WHERE STATUS = 'REV2'    
  AND CREATEDBY = 'EIR_SWITCH'    
  AND DOWNLOAD_DATE = @V_PREVDATE    
    
 -- EXIST PROC IF NO NEED TO PROCESS EIR SWITCH    
 SELECT @V_NUM = COUNT(*)    
 FROM IFRS_LBM_ACCT_SWITCH    
 WHERE DOWNLOAD_DATE = @V_CURRDATE    
  AND PREV_EIR_ECF = 'Y'    
    
 IF @V_NUM <= 0    
 BEGIN    
  INSERT INTO IFRS_AMORT_LOG (    
   DOWNLOAD_DATE    
   ,DTM    
   ,OPS    
   ,PROCNAME    
   ,REMARK    
   )    
  VALUES (    
   @V_CURRDATE    
   ,CURRENT_TIMESTAMP    
   ,'END'    
   ,'SP_IFRS_LBM_ACCT_EIR_SWITCH'    
   ,''    
   )    
    
  RETURN    
 END    
    
 -- COPY ECF FROM OLD TO NEW ACCTNO    
 INSERT INTO IFRS_LBM_ACCT_EIR_ECF (    
  DOWNLOAD_DATE    
  ,MASTERID    
  ,N_LOAN_AMT    
  ,N_INT_RATE    
  ,N_EFF_INT_RATE    
  ,STARTAMORTDATE    
  ,ENDAMORTDATE    
  ,GRACEDATE    
  ,PAYMENTCODE    
  ,INTCALCCODE    
  ,PAYMENTTERM    
  ,ISGRACE    
  ,PREV_PMT_DATE    
  ,PMT_DATE    
  ,I_DAYS    
  ,I_DAYS2    
  ,N_OSPRN_PREV    
  ,N_INSTALLMENT    
  ,N_PRN_PAYMENT    
  ,N_INT_PAYMENT    
  ,N_OSPRN    
  ,N_FAIRVALUE_PREV    
  ,N_EFF_INT_AMT    
  ,N_FAIRVALUE    
  ,N_UNAMORT_AMT_PREV    
  ,N_AMORT_AMT    
  ,N_UNAMORT_AMT    
  ,N_COST_UNAMORT_AMT_PREV    
  ,N_COST_AMORT_AMT    
  ,N_COST_UNAMORT_AMT    
  ,N_FEE_UNAMORT_AMT_PREV    
  ,N_FEE_AMORT_AMT    
  ,N_FEE_UNAMORT_AMT    
  ,AMORTSTOPDATE    
  ,AMORTSTOPMSG    
  ,N_DAILY_AMORT_COST    
  ,N_DAILY_AMORT_FEE    
  ,N_EFF_INT_AMT0    
  ,N_EFF_INT_RATE0    
  ,N_DAILY_INT_ADJ_AMT    
  ,N_INT_ADJ_AMT    
  -- SWITCH ADJUST CARRY FORWARD    
  ,SW_ADJ_COST    
  ,SW_ADJ_FEE    
  ,NOCF_OSPRN    
  ,NOCF_OSPRN_PREV    
  ,NOCF_INT_RATE    
  ,NOCF_PRN_PAYMENT    
  ,NOCF_EFF_INT_AMT    
  ,NOCF_UNAMORT_AMT_PREV    
  ,NOCF_AMORT_AMT    
  ,NOCF_UNAMORT_AMT    
  )    
 SELECT @V_CURRDATE    
  ,A.MASTERID    
  ,B.N_LOAN_AMT    
  ,B.N_INT_RATE    
  ,B.N_EFF_INT_RATE    
  ,B.STARTAMORTDATE    
  ,B.ENDAMORTDATE    
  ,B.GRACEDATE    
  ,B.PAYMENTCODE    
  ,B.INTCALCCODE    
  ,B.PAYMENTTERM    
  ,B.ISGRACE    
  ,B.PREV_PMT_DATE    
  ,B.PMT_DATE    
  ,B.I_DAYS    
  ,B.I_DAYS2    
  ,B.N_OSPRN_PREV    
  ,B.N_INSTALLMENT    
  ,B.N_PRN_PAYMENT    
  ,B.N_INT_PAYMENT    
  ,B.N_OSPRN    
  ,B.N_FAIRVALUE_PREV    
  ,B.N_EFF_INT_AMT    
  ,B.N_FAIRVALUE    
  ,B.N_UNAMORT_AMT_PREV    
  ,B.N_AMORT_AMT    
  ,B.N_UNAMORT_AMT    
  ,B.N_COST_UNAMORT_AMT_PREV    
  ,B.N_COST_AMORT_AMT    
  ,B.N_COST_UNAMORT_AMT    
  ,B.N_FEE_UNAMORT_AMT_PREV    
  ,B.N_FEE_AMORT_AMT    
  ,B.N_FEE_UNAMORT_AMT    
  ,B.AMORTSTOPDATE    
  ,'EIR_SWITCH_2'    
  ,B.N_DAILY_AMORT_COST    
  ,B.N_DAILY_AMORT_FEE    
  ,B.N_EFF_INT_AMT0    
  ,B.N_EFF_INT_RATE0    
  ,B.N_DAILY_INT_ADJ_AMT    
  ,B.N_INT_ADJ_AMT    
  -- SWITCH ADJUST CARRY FORWARD    
  ,B.SW_ADJ_COST    
  ,B.SW_ADJ_FEE    
  ,B.NOCF_OSPRN    
  ,B.NOCF_OSPRN_PREV    
  ,B.NOCF_INT_RATE    
  ,B.NOCF_PRN_PAYMENT    
  ,B.NOCF_EFF_INT_AMT    
  ,B.NOCF_UNAMORT_AMT_PREV    
  ,B.NOCF_AMORT_AMT    
  ,B.NOCF_UNAMORT_AMT    
 FROM IFRS_LBM_ACCT_SWITCH A    
 JOIN IFRS_LBM_ACCT_EIR_ECF B ON B.AMORTSTOPDATE IS NULL    
  AND B.MASTERID = A.PREV_MASTERID    
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE    
  AND A.PREV_EIR_ECF = 'Y'    
    
 -- COPY OLD COST FEE ECF TO NEW ACCT  
 INSERT INTO IFRS_LBM_ACCT_EIR_COST_FEE_ECF (    
  DOWNLOAD_DATE    
  ,ECFDATE    
  ,MASTERID    
  ,BRCODE    
  ,CIFNO    
  ,FACNO    
  ,ACCTNO    
  ,DATASOURCE    
  ,CCY    
  ,PRDCODE    
  ,TRXCODE    
  ,FLAG_CF    
  ,FLAG_REVERSE    
  ,METHOD    
  ,STATUS    
  ,SRCPROCESS    
  ,AMOUNT    
  ,CREATEDDATE    
  ,CREATEDBY    
  ,SEQ    
  ,AMOUNT_ORG    
  ,ORG_CCY    
  ,ORG_CCY_EXRATE    
  ,PRDTYPE    
  ,CF_ID    
  )    
 SELECT C.DOWNLOAD_DATE    
  ,@V_CURRDATE    
  ,A.MASTERID    
  ,A.BRCODE    
  ,A.CIFNO    
  ,A.FACNO    
  ,A.ACCTNO    
  ,A.DATASOURCE    
  ,C.CCY    
  ,A.PRDCODE    
  ,C.TRXCODE    
  ,C.FLAG_CF    
  ,C.FLAG_REVERSE    
  ,C.METHOD    
  ,C.STATUS    
  ,C.SRCPROCESS    
  ,C.AMOUNT    
  ,CURRENT_TIMESTAMP    
  ,'EIR_SWITCH'    
  ,C.SEQ    
  ,C.AMOUNT_ORG    
  ,C.ORG_CCY    
  ,C.ORG_CCY_EXRATE    
  ,A.PRDTYPE    
  ,C.CF_ID    
 FROM IFRS_LBM_ACCT_SWITCH A    
 JOIN IFRS_LBM_ACCT_EIR_ECF B ON B.AMORTSTOPDATE IS NULL    
  AND B.MASTERID = A.PREV_MASTERID    
  AND B.PREV_PMT_DATE = B.PMT_DATE    
  AND B.DOWNLOAD_DATE < @V_CURRDATE -- ADD FILTER FOR BRANCH CHANGE    
 JOIN IFRS_LBM_ACCT_EIR_COST_FEE_ECF C ON C.ECFDATE = B.DOWNLOAD_DATE    
  AND C.MASTERID = B.MASTERID  AND C.STATUS = 'ACT'
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE    
  AND A.PREV_EIR_ECF = 'Y'    
  
    
 --REV OLD COST FEE PREV  
 UPDATE IFRS_LBM_ACCT_EIR_COST_FEE_PREV    
 SET STATUS = CASE     
   WHEN IFRS_LBM_ACCT_EIR_COST_FEE_PREV.DOWNLOAD_DATE = @V_CURRDATE    
    THEN 'REV'    
   ELSE 'REV2'    
   END    
  ,CREATEDBY = 'EIR_SWITCH'    
 FROM (    
  SELECT C.MASTERID    
   ,C.DOWNLOAD_DATE    
   ,C.SEQ    
  FROM IFRS_LBM_ACCT_SWITCH A    
  JOIN IFRS_PRC_DATE_AMORT P ON P.CURRDATE = A.DOWNLOAD_DATE    
  JOIN VW_LBM_LAST_EIR_CF_PREV C ON C.MASTERID = A.PREV_MASTERID    
  WHERE A.PREV_EIR_ECF = 'Y'    
  ) C    
 WHERE IFRS_LBM_ACCT_EIR_COST_FEE_PREV.DOWNLOAD_DATE = C.DOWNLOAD_DATE    
  AND IFRS_LBM_ACCT_EIR_COST_FEE_PREV.MASTERID = C.MASTERID    
  AND IFRS_LBM_ACCT_EIR_COST_FEE_PREV.SEQ = C.SEQ    
    
 --COPY OLD COST FEE PREV TO NEW ACCT    
 INSERT INTO IFRS_LBM_ACCT_EIR_COST_FEE_PREV (    
  DOWNLOAD_DATE    
  ,ECFDATE    
  ,MASTERID    
  ,BRCODE    
  ,CIFNO    
  ,FACNO    
  ,ACCTNO    
  ,DATASOURCE    
  ,CCY    
  ,PRDCODE    
  ,TRXCODE    
  ,FLAG_CF    
  ,FLAG_REVERSE    
  ,METHOD    
  ,STATUS    
  ,SRCPROCESS    
  ,AMOUNT    
  ,CREATEDDATE    
  ,CREATEDBY    
  ,ISUSED    
  ,SEQ    
  ,AMOUNT_ORG    
  ,ORG_CCY    
  ,ORG_CCY_EXRATE    
  ,PRDTYPE    
  ,CF_ID    
  )    
 SELECT @V_CURRDATE    
  ,@V_CURRDATE    
  ,A.MASTERID    
  ,A.BRCODE    
  ,A.CIFNO    
  ,A.FACNO    
  ,A.ACCTNO    
  ,A.DATASOURCE    
  ,D.CCY    
  ,A.PRDCODE    
  ,D.TRXCODE    
  ,D.FLAG_CF    
  ,D.FLAG_REVERSE    
  ,D.METHOD    
  ,'ACT' STATUS    
  ,D.SRCPROCESS    
  ,D.AMOUNT    
  ,CURRENT_TIMESTAMP    
  ,'EIR_SWITCH'    
  ,D.ISUSED    
  ,'0' SEQ_NEW    
  ,D.AMOUNT_ORG    
  ,D.ORG_CCY    
  ,D.ORG_CCY_EXRATE    
  ,A.PRDTYPE    
  ,D.CF_ID    
 FROM IFRS_LBM_ACCT_SWITCH A    
 JOIN VW_LBM_LAST_EIR_CF_PREV C ON C.MASTERID = A.PREV_MASTERID    
 JOIN IFRS_LBM_ACCT_EIR_COST_FEE_PREV D ON D.DOWNLOAD_DATE = C.DOWNLOAD_DATE    
  AND D.MASTERID = C.MASTERID    
  AND D.SEQ = C.SEQ    
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE    
  AND A.PREV_EIR_ECF = 'Y'    
    
 -- STOP OLD ECF    
 UPDATE IFRS_LBM_ACCT_EIR_ECF    
 SET AMORTSTOPDATE = @V_CURRDATE    
  ,AMORTSTOPMSG = 'EIR_SWITCH'    
 WHERE AMORTSTOPDATE IS NULL    
  AND DOWNLOAD_DATE < @V_CURRDATE -- ADD FILTER FOR BRANCH CHANGE    
  AND MASTERID IN (    
   SELECT PREV_MASTERID    
   FROM IFRS_LBM_ACCT_SWITCH    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND PREV_EIR_ECF = 'Y'    
   )    
    
 -- HANDLE ACF THAT IS DOING ACCRU YESTERDAY    
 TRUNCATE TABLE TMP_T1    
    
 INSERT INTO TMP_T1 (MASTERID)    
 SELECT PREV_MASTERID AS MASTERID    
 FROM IFRS_LBM_ACCT_SWITCH    
 WHERE DOWNLOAD_DATE = @V_CURRDATE    
  AND PREV_EIR_ECF = 'Y'    
    
 -- NO ACCRU IF YESTERDAY IS DOING AMORT    
 TRUNCATE TABLE TMP_T2    
    
 INSERT INTO TMP_T2 (MASTERID)    
 SELECT DISTINCT MASTERID    
 FROM IFRS_LBM_ACCT_EIR_ACF    
 WHERE DOWNLOAD_DATE = @V_PREVDATE    
  AND DO_AMORT = 'Y'    
    
 TRUNCATE TABLE TMP_T3    
    
 INSERT INTO TMP_T3 (MASTERID)    
 SELECT A.MASTERID    
 FROM TMP_T1 A    
    
 --LEFT JOIN TMP_T2 B ON B.MASTERID=A.MASTERID    
 --WHERE B.MASTERID IS NULL    
 -- GET LAST ACF WITH DO_AMORT=N    
 TRUNCATE TABLE TMP_P1    
    
 INSERT INTO TMP_P1 (ID)    
 SELECT MAX(ID) AS ID    
 FROM IFRS_LBM_ACCT_EIR_ACF    
 WHERE MASTERID IN (    
   SELECT MASTERID    
   FROM TMP_T3    
   )    
  AND DO_AMORT = 'N'    
 GROUP BY MASTERID    
     
 --UPDATE SW ADJ COST/FEE FOR LBM  
 UPDATE IFRS_LBM_ACCT_SWITCH    
 SET SW_ADJ_COST = B.N_ACCRU_COST    
  ,SW_ADJ_FEE = B.N_ACCRU_FEE    
 FROM (    
  SELECT B.MASTERID    
   ,B.ACCTNO    
   ,B.N_ACCRU_COST    
   ,B.N_ACCRU_FEE    
   ,C.CURRDATE    
  FROM IFRS_LBM_ACCT_EIR_ACF B    
  CROSS JOIN IFRS_PRC_DATE_AMORT C    
  WHERE B.ID IN (    
    SELECT ID    
    FROM TMP_P1    
    )    
  ) B    
 WHERE IFRS_LBM_ACCT_SWITCH.DOWNLOAD_DATE = B.CURRDATE    
  AND IFRS_LBM_ACCT_SWITCH.PREV_EIR_ECF = 'Y'    
  AND IFRS_LBM_ACCT_SWITCH.PREV_MASTERID = B.MASTERID    
  AND IFRS_LBM_ACCT_SWITCH.PREV_ACCTNO = B.ACCTNO    
  --END ADD LBM 20180823  
  
 -- GET FEE SUMMARY    
 TRUNCATE TABLE TMP_TF    
    
 INSERT INTO TMP_TF (    
  SUM_AMT    
  ,DOWNLOAD_DATE    
  ,MASTERID    
  )    
 SELECT SUM(A.N_AMOUNT) AS SUM_AMT    
  ,A.DOWNLOAD_DATE    
  ,A.MASTERID    
 FROM (    
  SELECT CASE     
    WHEN A.FLAG_REVERSE = 'Y'    
     THEN - 1 * A.AMOUNT    
    ELSE A.AMOUNT    
    END AS N_AMOUNT    
   ,A.ECFDATE DOWNLOAD_DATE    
   ,A.MASTERID    
  FROM IFRS_LBM_ACCT_EIR_COST_FEE_ECF A    
  WHERE A.MASTERID IN (    
    SELECT MASTERID    
    FROM TMP_T3    
    )    
   AND A.STATUS = 'ACT'    
   AND A.FLAG_CF = 'F'    
   AND A.METHOD = 'EIR'    
  ) A    
 GROUP BY A.DOWNLOAD_DATE    
  ,A.MASTERID    
    
 -- GET COST SUMMARY    
 TRUNCATE TABLE TMP_TC    
    
 INSERT INTO TMP_TC (    
  SUM_AMT    
  ,DOWNLOAD_DATE    
  ,MASTERID    
  )    
 SELECT SUM(A.N_AMOUNT) AS SUM_AMT    
  ,A.DOWNLOAD_DATE    
  ,A.MASTERID    
 FROM (    
  SELECT CASE     
    WHEN A.FLAG_REVERSE = 'Y'    
     THEN - 1 * A.AMOUNT    
    ELSE A.AMOUNT    
    END AS N_AMOUNT    
   ,A.ECFDATE DOWNLOAD_DATE    
   ,A.MASTERID    
  FROM IFRS_LBM_ACCT_EIR_COST_FEE_ECF A    
  WHERE A.MASTERID IN (    
    SELECT MASTERID    
    FROM TMP_T3    
    )    
   AND A.STATUS = 'ACT'    
   AND A.FLAG_CF = 'C'    
   AND A.METHOD = 'EIR'    
  ) A    
 GROUP BY A.DOWNLOAD_DATE    
  ,A.MASTERID    
    
 --INSERT FEE 1    
 INSERT INTO IFRS_LBM_ACCT_EIR_ACCRU_PREV (    
  FACNO    
  ,CIFNO    
  ,DOWNLOAD_DATE    
  ,ECFDATE    
  ,DATASOURCE    
  ,PRDCODE    
  ,TRXCODE    
  ,CCY    
  ,AMOUNT    
  ,STATUS    
  ,CREATEDDATE    
  ,ACCTNO    
  ,MASTERID    
  ,FLAG_CF    
  ,FLAG_REVERSE    
  ,AMORTDATE    
  ,SRCPROCESS    
  ,ORG_CCY    
  ,ORG_CCY_EXRATE    
  ,PRDTYPE    
  ,CF_ID    
  )    
 SELECT A.FACNO    
  ,A.CIFNO    
  ,@V_CURRDATE    
  ,A.ECFDATE    
  ,A.DATASOURCE    
  ,B.PRDCODE    
  ,B.TRXCODE    
  ,B.CCY    
  ,CAST(CAST(CASE     
     WHEN B.FLAG_REVERSE = 'Y'    
      THEN - 1 * B.AMOUNT    
     ELSE B.AMOUNT    
     END AS FLOAT) / CAST(C.SUM_AMT AS FLOAT) AS NUMERIC(32, 20)) * A.N_ACCRU_FEE AS N_AMOUNT    
  ,B.STATUS    
  ,CURRENT_TIMESTAMP    
  ,A.ACCTNO    
  ,A.MASTERID    
  ,B.FLAG_CF    
  ,'N'    
  ,NULL AS AMORTDATE    
  ,'SW'    
  ,B.ORG_CCY    
  ,B.ORG_CCY_EXRATE    
  ,B.PRDTYPE    
  ,B.CF_ID    
 FROM IFRS_LBM_ACCT_EIR_ACF A    
 JOIN IFRS_LBM_ACCT_EIR_COST_FEE_ECF B ON B.ECFDATE = A.ECFDATE    
  AND A.MASTERID = B.MASTERID    
  AND B.FLAG_CF = 'F'   
  AND B.STATUS = 'ACT' --ADD LBM 20180823  
 JOIN TMP_TF C ON C.DOWNLOAD_DATE = A.ECFDATE    
  AND C.MASTERID = A.MASTERID    
 WHERE A.ID IN (    
   SELECT ID    
   FROM TMP_P1    
   )    
    
 /*    
AND A.MASTERID NOT IN (    
  SELECT MASTERID FROM IFRS_ACCT_EIR_ECF    
  WHERE PMT_DATE = @V_CURRDATE    
  AND AMORTSTOPDATE IS NULL    
 )    
    
*/    
 --COST 1    
 INSERT INTO IFRS_LBM_ACCT_EIR_ACCRU_PREV (    
  FACNO    
  ,CIFNO    
  ,DOWNLOAD_DATE    
  ,ECFDATE    
  ,DATASOURCE    
  ,PRDCODE    
  ,TRXCODE    
  ,CCY    
  ,AMOUNT    
  ,STATUS    
  ,CREATEDDATE    
  ,ACCTNO    
  ,MASTERID    
  ,FLAG_CF    
  ,FLAG_REVERSE    
  ,AMORTDATE    
  ,SRCPROCESS    
  ,ORG_CCY    
  ,ORG_CCY_EXRATE    
  ,PRDTYPE    
  ,CF_ID    
  )    
 SELECT A.FACNO    
  ,A.CIFNO    
  ,@V_CURRDATE    
  ,A.ECFDATE    
  ,A.DATASOURCE    
  ,B.PRDCODE    
  ,B.TRXCODE    
  ,B.CCY    
  ,CAST(CAST(CASE     
     WHEN B.FLAG_REVERSE = 'Y'    
      THEN - 1 * B.AMOUNT    
     ELSE B.AMOUNT    
     END AS FLOAT) / CAST(C.SUM_AMT AS FLOAT) AS NUMERIC(32, 20)) * A.N_ACCRU_COST AS N_AMOUNT    
  ,B.STATUS    
  ,CURRENT_TIMESTAMP    
  ,A.ACCTNO    
  ,A.MASTERID    
  ,B.FLAG_CF    
  ,'N'    
  ,NULL AS AMORTDATE    
  ,'SW'    
  ,B.ORG_CCY    
  ,B.ORG_CCY_EXRATE    
  ,B.PRDTYPE    
  ,B.CF_ID    
 FROM IFRS_LBM_ACCT_EIR_ACF A    
 JOIN IFRS_LBM_ACCT_EIR_COST_FEE_ECF B ON B.ECFDATE = A.ECFDATE    
  AND A.MASTERID = B.MASTERID    
  AND B.FLAG_CF = 'C'   
  AND B.STATUS = 'ACT' --ADD LBM 20180823  
 JOIN TMP_TC C ON C.DOWNLOAD_DATE = A.ECFDATE    
  AND C.MASTERID = A.MASTERID    
 WHERE A.ID IN (    
   SELECT ID    
   FROM TMP_P1    
   )    
    
 --STOP OLD ACCRU BEFORE CURRDATE    
 UPDATE IFRS_LBM_ACCT_EIR_ACCRU_PREV    
 SET STATUS = CONVERT(VARCHAR(8), @V_CURRDATE, 112)    
 WHERE STATUS = 'ACT'    
  --AND DOWNLOAD_DATE<V_CURRDATE    
  AND MASTERID IN (    
   SELECT PREV_MASTERID    
   FROM IFRS_LBM_ACCT_SWITCH    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND PREV_EIR_ECF = 'Y'    
   )    
    
 -- SW ADJ COST FEE TO NEW ECF    
 TRUNCATE TABLE TMP_SW1    
    
 INSERT INTO TMP_SW1 (    
  MASTERID    
  ,PMTDATE    
  )    
 SELECT A.MASTERID    
  ,MIN(A.PMT_DATE) AS PMTDATE    
 FROM IFRS_LBM_ACCT_EIR_ECF A    
 JOIN IFRS_LBM_ACCT_SWITCH B ON B.MASTERID = A.MASTERID    
  AND B.DOWNLOAD_DATE = @V_CURRDATE    
  AND B.PREV_EIR_ECF = 'Y'    
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE    
  AND A.AMORTSTOPDATE IS NULL    
  AND A.PMT_DATE >= @V_CURRDATE    
  AND A.PMT_DATE <> A.PREV_PMT_DATE    
 GROUP BY A.MASTERID    
    
 UPDATE IFRS_LBM_ACCT_EIR_ECF    
 SET SW_ADJ_COST = COALESCE(IFRS_LBM_ACCT_EIR_ECF.SW_ADJ_COST, 0) + X.SW_ADJ_COST    
  ,SW_ADJ_FEE = COALESCE(IFRS_LBM_ACCT_EIR_ECF.SW_ADJ_FEE, 0) + X.SW_ADJ_FEE    
 FROM (    
  SELECT A.*    
   ,B.SW_ADJ_COST    
   ,B.SW_ADJ_FEE    
   ,C.CURRDATE    
  FROM TMP_SW1 A    
  JOIN IFRS_LBM_ACCT_SWITCH B ON B.MASTERID = A.MASTERID    
   AND B.DOWNLOAD_DATE = @V_CURRDATE    
   AND B.PREV_EIR_ECF = 'Y'    
  CROSS JOIN IFRS_PRC_DATE_AMORT C    
  ) X    
 WHERE IFRS_LBM_ACCT_EIR_ECF.DOWNLOAD_DATE = X.CURRDATE    
  AND IFRS_LBM_ACCT_EIR_ECF.MASTERID = X.MASTERID    
  AND IFRS_LBM_ACCT_EIR_ECF.PMT_DATE = X.PMTDATE    
    
 /*FOR LBM NO NEED UPDATE TO IFRS_ACCT_COST_FEE_SUMM 20180823  
 -- UPDATE COST FEE SUMM    
 UPDATE IFRS_ACCT_COST_FEE_SUMM    
 SET AMOUNT_FEE = COALESCE(IFRS_ACCT_COST_FEE_SUMM.AMOUNT_FEE, 0) + COALESCE(IFRS_ACCT_COST_FEE_SUMM.AMORT_FEE, 0)    
  ,AMOUNT_COST = COALESCE(IFRS_ACCT_COST_FEE_SUMM.AMOUNT_COST, 0) + COALESCE(IFRS_ACCT_COST_FEE_SUMM.AMORT_COST, 0)    
  ,CREATEDBY = 'EIR_SWITCH'    
 FROM (    
  SELECT B.DOWNLOAD_DATE    
   ,B.MASTERID    
  FROM IFRS_LBM_ACCT_SWITCH B    
  WHERE B.DOWNLOAD_DATE = @V_CURRDATE    
   AND B.MASTERID IN (    
    SELECT MASTERID    
    FROM IFRS_LBM_ACCT_SWITCH    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND PREV_EIR_ECF = 'Y'    
    )    
  ) X    
 WHERE IFRS_ACCT_COST_FEE_SUMM.DOWNLOAD_DATE = X.DOWNLOAD_DATE    
  AND IFRS_ACCT_COST_FEE_SUMM.MASTERID = X.MASTERID    
*/  
  
 INSERT INTO IFRS_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS    
  ,PROCNAME    
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'END'    
  ,'SP_IFRS_LBM_ACCT_EIR_SWITCH'    
  ,''    
  )    
END 

GO
