USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPALLMENU]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPALLMENU]
(
    @ModuleID VARCHAR(50)= '',
    @ParentID VARCHAR(50)= ''
)
AS
BEGIN
    SELECT ModuleID,
        ScreenID,
        Url,
        Title
    FROM TBLM_SCREEN
    WHERE isnull(ParentID, ' ') = @ParentID AND
        ModuleID = @ModuleID AND
        Active = 1
    ORDER BY Sequence;

END;

GO
