USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_TmpModelMEIndependent]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_TmpModelMEIndependent]      
(      
    @MACRO_ECONOMIC_CODE varchar(50)='',      
    @LAG_VARIABLE smallint=0,      
    @PKID bigint= 0,      
 @IMPACT varchar(5)='',      
    @CreatedBy varchar(36)='',      
    @CreatedHost varchar(36)=''      
)      
AS      
BEGIN      
              
    INSERT INTO TMP_IFRS_INDEPENDENT_VARIABLE      
    (      
        MODEL_ID,      
        MACRO_ECONOMIC_CODE,      
        LAG_VARIABLE,      
  IMPACT_TO_DEPENDENT,      
        CreatedBy,      
        CreatedDate,      
        CreatedHost      
    )      
    VALUES      
    (      
        @PKID,      
        @MACRO_ECONOMIC_CODE,      
        @LAG_VARIABLE,      
  @IMPACT,      
        @CreatedBy,      
        getdate(),      
        @CreatedHost      
    );      
END 
GO
