USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADPENDINGAPPROVAL_LIAB]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_UPLOADPENDINGAPPROVAL_LIAB]  
(  
 @userID VARCHAR(36)  
)  
AS  
BEGIN  
  
 SELECT UPLOADID,  
  A.MODULE MAPPINGNAME,  
  (SELECT FULLNAME FROM TBLM_USER U WHERE A.CREATEDBY = U.PKID) UploadedBy,  
  A.CREATEDDATE UploadedDate  
 FROM TBLU_FEECOST_INFO A  
  LEFT JOIN TBLM_REPORTTO R ON A.CREATEDBY = R.USERID  
 WHERE ISNULL(REPORTTO, A.CREATEDBY) = @userID  
  AND STATUS = 'PENDING'  
 ORDER BY UploadedDate DESC;
  
END;

GO
