USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMPRODUCTLIST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_PARAMPRODUCTLIST]            
(            
  @Where VARCHAR(4000) = NULL,            
  --@pageNumber int,            
  --@pageSize int ,      
  @SortColumn as varchar(100)= ''         
)            
AS      
BEGIN      
       
DECLARE @Query VARCHAR (3000);     
              
if @SortColumn = ''      
Begin      
	set @SortColumn = 'CREATEDDATE DESC,DATA_SOURCE, PRD_TYPE, PRD_CODE'      
End           
    
SET @Query =             
	'SELECT *            
	FROM             
	(            
		SELECT
			ROW_NUMBER() OVER(ORDER BY ' + @SortColumn + ') AS [ROW],                 
			PKID,            
			DATA_SOURCE,  
			PRD_TYPE,  
			PRD_TYPE_1,  
			PRD_DESC,  
			PRD_CODE,  
			PRD_GROUP,  
			PRD_CATEGORY,  
			ORG_FEE_MAT_AMT,  
			ORG_FEE_MAT_TYPE,
			CASE ORG_FEE_MAT_TYPE
				WHEN '+ '''ABS''' + ' THEN ' + '''ABSOLUTE OF AMOUNT''' + ' '
				+ 'WHEN '+ '''POS''' + ' THEN ' + '''PERCENTAGE OF OS''' + ' '
				+ 'END AS ORG_FEE_MAT_TYPE2,  
			CCY,  
			AMORT_TYPE,  
			TXN_COST_MAT_TYPE,
			CASE TXN_COST_MAT_TYPE
				WHEN '+ '''ABS''' + ' THEN ' + '''ABSOLUTE OF AMOUNT''' + ' '
				+ 'WHEN '+ '''POS''' + ' THEN ' + '''PERCENTAGE OF OS''' + ' '
				+ 'END AS TXN_COST_MAT_TYPE2,  
			TXN_COST_MAT_AMT,  
			EXP_LIFE,
			INST_CLS_VALUE,  
			CASE INST_CLS_VALUE
				WHEN '+ '''O''' + ' THEN ' + '''OFF BALANCE SHEET''' + ' '
				+ 'WHEN '+ '''L''' + ' THEN ' + '''LIABILITES''' + ' '
				+ 'WHEN '+ '''A''' + ' THEN ' + '''ASSETS''' + ' '
				+ 'END AS INST_CLS_VALUE2,
			REPAY_TYPE_VALUE,  
			CASE REPAY_TYPE_VALUE
				WHEN '+ '''NON REV''' + ' THEN ' + '''NON REVOLVING''' + ' '
				+ 'WHEN '+ '''NON-REV''' + ' THEN ' + '''NON REVOLVING''' + ' '
				+ 'WHEN '+ '''REV''' + ' THEN ' + '''REVOLVING''' + ' '
				+ 'END AS REPAY_TYPE_VALUE2,  
			STAFF_LOAN_IND,  
			MKT_INT_RATE,
			TENOR_TYPE,  
			CASE TENOR_TYPE
				WHEN '+ '''C''' + ' THEN ' + '''CONTRACTUAL''' + ' '
				+ 'WHEN '+ '''E''' + ' THEN ' + '''EXPECTED LIFE TIME''' + ' '
				+ 'END AS TENOR_TYPE2,  
			ISNULL(IS_IMPAIRED,0) AS IS_IMPAIRED,  
			WORKING_PERIOD,  
			LIABILITES_CLASSIFICATION,  
			SMBC_GROUP_SEGMENT,
			CreatedBy,            
			CreatedDate,            
			CreatedHost,            
			UpdatedBy,            
			UpdatedDate,            
			UpdatedHost,
			IS_DELETE                      
		FROM IFRS_MASTER_PRODUCT_PARAM'                 
		+ ') TableConstraint            
		WHERE '
		+ ' ISNULL(IS_DELETE,0) = 0 '
		+ CASE WHEN @Where IS NOT NULL            
		THEN  ' AND '+ @Where            
		ELSE ''            
		END      
   -- + CASE WHEN @Where IS NOT NULL            
   --THEN ' AND ISNULL(IS_DELETE,0) = 0 '            
   --ELSE ' WHERE ISNULL(IS_DELETE,0) = 0'            
   --END      ;
   --[ROW] BETWEEN ' + cast(@pageNumber as varchar) + ' AND ' + cast(@pageSize as varchar)         
 
 EXEC (@Query);       
 print @Query;  
      
END;

GO
