USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMHIERARCHY]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_PARAMHIERARCHY]
(
	@PKID bigint = 0,
	@GEN1_CODE decimal(32, 6)=0,
	@GEN1_DESC varchar(100)='',
	@GEN2_CODE decimal(32, 6)=0,
	@GEN2_DESC varchar(100)='',
	@GEN3_CODE decimal(32, 6)=0,
	@GEN3_DESC varchar(100)='',
	@GEN4_CODE decimal(32, 6)=0,
	@GEN4_DESC varchar(100)='',
	@GEN5_CODE decimal(32, 6)=0,
	@GEN5_DESC varchar(100)='',
	@GEN6_CODE decimal(32, 6)=0,
	@GEN6_DESC varchar(100)='',
	@GEN7_CODE decimal(32, 6)=0,
	@GEN7_DESC varchar(100)='',
	@GEN8_CODE decimal(32, 6)=0,
	@GEN8_DESC varchar(100)='',
	@SIGN_NORM integer =0,
	@UpdatedBy varchar(36)='',         
	@UpdatedHost varchar(30)=''
)          
AS
Declare @ItemCode varchar(100)
BEGIN

	set @GEN1_CODE = isnull(@GEN1_CODE,0)
	set @GEN2_CODE = isnull(@GEN2_CODE,0)
	set @GEN3_CODE = isnull(@GEN3_CODE,0)
	set @GEN4_CODE = isnull(@GEN4_CODE,0)
	set @GEN5_CODE = isnull(@GEN5_CODE,0)
	set @GEN6_CODE = isnull(@GEN6_CODE,0)
	set @GEN7_CODE = isnull(@GEN7_CODE,0)
	set @GEN8_CODE = isnull(@GEN8_CODE,0)

	if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE <> 0 and @GEN5_CODE <> 0 and @GEN6_CODE <> 0 and @GEN7_CODE <> 0 and @GEN8_CODE <> 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN4_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN5_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN6_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN7_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN8_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE <> 0 and @GEN5_CODE <> 0 and @GEN6_CODE <> 0 and @GEN7_CODE <> 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN4_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN5_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN6_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN7_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE <> 0 and @GEN5_CODE <> 0 and @GEN6_CODE <> 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN4_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN5_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN6_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE <> 0 and @GEN5_CODE <> 0 and @GEN6_CODE = 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN4_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN5_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE <> 0 and @GEN5_CODE = 0 and @GEN6_CODE = 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN4_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE = 0 and @GEN5_CODE = 0 and @GEN6_CODE = 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE = 0 and @GEN4_CODE = 0 and @GEN5_CODE = 0 and @GEN6_CODE = 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE = 0 and @GEN3_CODE = 0 and @GEN4_CODE = 0 and @GEN5_CODE = 0 and @GEN6_CODE = 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10))

	UPDATE [dbo].[GL_PARAM_HIERARCHY_HO]
	SET ITEM_CODE = @ItemCode
		,[GEN1_CODE] = case when @GEN1_CODE = 0 then NULL else @GEN1_CODE end
		,[GEN1_DESC] = ltrim(rtrim(@GEN1_DESC))
		,[GEN2_CODE] = case when @GEN2_CODE = 0 then NULL else @GEN2_CODE end
		,[GEN2_DESC] = ltrim(rtrim(@GEN2_DESC))
		,[GEN3_CODE] = case when @GEN3_CODE = 0 then NULL else @GEN3_CODE end
		,[GEN3_DESC] = ltrim(rtrim(@GEN3_DESC))
		,[GEN4_CODE] = case when @GEN4_CODE = 0 then NULL else @GEN4_CODE end
		,[GEN4_DESC] = ltrim(rtrim(@GEN4_DESC))
		,[GEN5_CODE] = case when @GEN5_CODE = 0 then NULL else @GEN5_CODE end
		,[GEN5_DESC] = ltrim(rtrim(@GEN5_DESC))
		,[GEN6_CODE] = case when @GEN6_CODE = 0 then NULL else @GEN6_CODE end
		,[GEN6_DESC] = ltrim(rtrim(@GEN6_DESC))
		,[GEN7_CODE] = case when @GEN7_CODE = 0 then NULL else @GEN7_CODE end
		,[GEN7_DESC] = ltrim(rtrim(@GEN7_DESC))
		,[GEN8_CODE] = case when @GEN8_CODE = 0 then NULL else @GEN8_CODE end
		,[GEN8_DESC] = ltrim(rtrim(@GEN8_DESC))
		,[SIGN_NORM] = @SIGN_NORM
		,[UpdatedBy] = @UpdatedBy
		,[UpdatedDate] = GETDATE()
		,[UpdatedHost] = @UpdatedHost
	WHERE PKID = @PKID

END

GO
