USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SEGMENTSETTINGSDBYPKID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SEGMENTSETTINGSDBYPKID]  
(  
 @PKID BIGINT  
)  
AS  
BEGIN  
   
 SELECT * FROM [dbo].[IFRS_MSTR_SEGMENT_RULES_DETAIL]  
 WHERE PKID=@PKID  
 ORDER BY QUERY_GROUPING, SEQUENCE, PKID;  
  
END
GO
