USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MODELLED_PD_ALPHA_BETA]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_MODELLED_PD_ALPHA_BETA]
(
@PD_RULE_ID AS BIGINT,
@PERIOD AS DATE
)
AS 
BEGIN
SELECT B.BUCKET_NAME AS [BUCKET], CONVERT(DECIMAL(32,6),A.ALPHA_PARAM) AS [ALPHA PARAM], 
CONVERT(DECIMAL(32,6),A.BETA_PARAM) AS [BETA PARAM], 
CONVERT(DECIMAL(32,6),A.CONVERGENCE_VALUE) AS RMSE 
FROM
IFRS_PD_CHR_GAMMA_PARAM A
INNER JOIN IFRS_BUCKET_DETAIL B
ON  A.BUCKET_ID = B.PKID
WHERE A.PD_RULE_ID = @PD_RULE_ID
AND A.DOWNLOAD_DATE = @PERIOD
END


GO
