USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_COMMONCODEH]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_COMMONCODEH]    
 -- Add the parameters for the stored procedure here    
    @PKID BIGINT    
AS     
    BEGIN    

 declare @commoncode varchar(20)  
 select top 1 @commoncode = CommonCode from tblM_CommonCodeHeader where PKID= @PKID  
   
    -- Insert statements for procedure here    
        DELETE  FROM [dbo].[tblM_CommonCodeHeader]    
        WHERE   PKID = @PKID    
          
        DELETE  FROM [dbo].[tblM_CommonCodeDetail]    
        WHERE   CommonCode = @commoncode    
         
    
    END





GO
