USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETCOMMONTABLELINK]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETCOMMONTABLELINK]
AS
BEGIN
       
	SELECT a.JobNo, ISNULL(b.ProcessID, -1) AS ProcessID  
    FROM tblm_commontable a      
		LEFT JOIN tblm_commontabledetail b ON a.JobNo = b.JobNo      
    ORDER BY a.JobNo;

END

GO
