USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMCCFMODEL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMCCFMODEL]      
(      
    @Where VARCHAR = ' '      
)      
AS      
BEGIN      
      
 DECLARE @Query VARCHAR (3000);      
    SET @Query='      
       
 SELECT *
  FROM  IFRS_CCF_RULES_CONFIG A  
  LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID  
  LEFT JOIN IFRS_SCENARIO_RULES_HEADER C ON A.DEFAULT_RULE_ID = C.PKID
  WHERE 
  B.SEGMENT_TYPE = ' + '''CCF_SEGMENT'''
  + 
  ' AND ISNULL(A.IS_DELETE,0)=''0''  
 '      
 +CASE WHEN @Where <> ' '      
  THEN 'AND ' + @Where      
  ELSE ''      
  END      
 + ' ORDER BY CCF_RULE_NAME;';      
          
 EXECUTE (@Query);      
 PRINT(@QUERY);    
END

GO
