USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BOOTSTRAP_MODEL_DETAIL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_BOOTSTRAP_MODEL_DETAIL]
(
    @PKID BIGINT=0
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT A.PKID,
	    A.ME_CODE AS VARIABLE,
		A.BOOTSTRAP_PERIOD_FROM,
		A.BOOTSTRAP_PERIOD_TO,
		B.MIN_PERIOD,
		B.MAX_PERIOD
	FROM TMP_IFRS_PD_BOOTSTRAP_DETAIL A
	JOIN 
	(	SELECT AA.MODEL_ID, 
			AA.DERIVED_TYPE,
			MIN(ME_PERIOD) MIN_PERIOD, 
			MAX(ME_PERIOD) MAX_PERIOD
		FROM IFRS_ME_SEASONAL_ADJUSTMENT AA
		JOIN IFRS_ME_MODEL_CORRELATION BB
		ON AA.MODEL_ID = BB.MODEL_ID
		AND BB.IS_CHOSEN = 1
		AND AA.DERIVED_TYPE = BB.DERIVED_TYPE
		AND AA.SEASONAL_ADJUSTMENT IS NOT NULL
		GROUP BY AA.MODEL_ID,
			AA.DERIVED_TYPE
	) B ON A.MODEL_ID = B.MODEL_ID 
		AND A.ME_CODE = B.DERIVED_TYPE
	WHERE BOOTSTRAP_ID = @PKID; 
              
END;

GO
