USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IMP_TRIGGER_D_PENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IMP_TRIGGER_D_PENDING]
(
	@DOWNLOAD_DATE DATE,
	@EFFECTIVE_DATE DATE,
	@OVERRIDE_NO BIGINT,
	@TRIGGERID VARCHAR(10),
	@FLAG_TRIGGER TINYINT,
	@REMARK VARCHAR(2000),
	@DCFSTATUS VARCHAR(1),
	@CREATEDBY VARCHAR(36),
	@CREATEDHOST VARCHAR(30)
)
AS
BEGIN

	INSERT INTO IFRS_IMP_OVERRIDETRIGGERD_PEND
	(
		DOWNLOAD_DATE,
		EFFECTIVE_DATE,
		OVERRIDE_NO,
		TRIGGERID,
		FLAG_TRIGGER,
		REMARK,
		DCFSTATUS,
		CREATEDBY,
		CREATEDHOST
	)
	VALUES
	(
		@DOWNLOAD_DATE,
		@EFFECTIVE_DATE,
		@OVERRIDE_NO,
		@TRIGGERID,
		@FLAG_TRIGGER,
		@REMARK,
		@DCFSTATUS,
		@CREATEDBY,
		@CREATEDHOST
	)

END

GO
