USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SEGMENTSETTINGSD]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_SEGMENTSETTINGSD]  
(  
 --@RULE_TYPE varchar(50)  
 @RULE_ID varchar(50)  
 ,@TABLE_NAME varchar(30)  
 ,@COLUMN_NAME varchar(100)  
 ,@DATA_TYPE varchar(15)=''  
 ,@OPERATOR varchar(10)=''  
 ,@VALUE1 varchar(MAX)  
 ,@VALUE2 varchar(MAX)  
 ,@AND_OR_CONDITION varchar(3)=''  
 ,@QUERY_GROUPING int=0  
 ,@SEQUENCE int=0  
 ,@UpdatedBy varchar(36)=''            
 ,@UpdatedHost varchar(30)=''  
 ,@PKID bigint    
)  
AS  
BEGIN  
 UPDATE [dbo].[IFRS_MSTR_SEGMENT_RULES_DETAIL]  
 SET  [RULE_ID] = @RULE_ID  
      ,[TABLE_NAME] = @TABLE_NAME  
      ,[COLUMN_NAME] = @COLUMN_NAME  
      ,[DATA_TYPE] = @DATA_TYPE  
      ,[OPERATOR] = @OPERATOR  
      ,[VALUE1] = @VALUE1  
      ,[VALUE2] = @VALUE2  
      ,[AND_OR_CONDITION] = @AND_OR_CONDITION  
      ,[QUERY_GROUPING] = @QUERY_GROUPING  
   ,[SEQUENCE] = @SEQUENCE  
      ,[UpdatedBy] = @UpdatedBy  
      ,[UpdatedDate] = GETDATE()  
      ,[UpdatedHost] = @UpdatedHost  
 WHERE PKID=@PKID  
  
END
GO
