USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADLIABPENDWITHAPPR]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADLIABPENDWITHAPPR](  
 @UploadID as int)  
AS  
BEGIN  
   
 INSERT INTO TBLU_TRANS_LIAB_PENDING(  
  DATA_SOURCE  
  ,ACCOUNT_NUMBER  
  ,PRD_CODE  
  ,TRX_CODE  
  ,TRX_REF_NUMBER  
  ,TRANSACTION_DATE  
  ,EFFECTIVE_DATE  
  ,END_DATE  
  ,CURRENCY  
  ,DEBIT_CREDIT_FLAG  
  ,INITIAL_COST_AMOUNT  
  ,CreatedBy  
  ,CreatedDate  
  ,CreatedHost  
  ,UPLOADID)  
 SELECT  
  DATA_SOURCE  
  ,ACCOUNT_NUMBER  
  ,PRD_CODE  
  ,TRX_CODE  
  ,TRX_REF_NUMBER  
  ,CONVERT(date,TRANSACTION_DATE,103)   
  ,EFFECTIVE_DATE  
  ,END_DATE  
  ,CURRENCY  
  ,DEBIT_CREDIT_FLAG  
  ,INITIAL_COST_AMOUNT  
  ,CreatedBy  
  ,CreatedDate  
  ,CreatedHost  
  ,UPLOADID  
 FROM TBLU_TRANS_LIAB_TEMP P  
 WHERE P.UPLOADID = @UploadID  
 ORDER BY ROW_NUMBER  
  
 DELETE FROM TBLU_TRANS_LIAB_TEMP WHERE UPLOADID = @UploadID  
  
 UPDATE TBLU_FEECOST_INFO set Status = 'PENDING' WHERE UploadID = @UploadID  
  
END  
GO
