USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSECTIONIDD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[USPS_LOOKUPSECTIONIDD]     
                      
as                    
          
begin                    
   SELECT CAST(VALUE1 AS VARCHAR(100)) AS SECTIONID, CAST(DESCRIPTION AS VARCHAR(100)) AS "Section ID"  
            FROM TBLM_COMMONCODEDETAIL where COMMONCODE = 'B108'              
end 

GO
