USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_REVIEW_SUBMIT_COLLECTIVE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_REVIEW_SUBMIT_COLLECTIVE]                      
(                      
 @MASTERID VARCHAR(100),  
 @DATA_SOURCE VARCHAR(20),                    
 @IMPAIRED_FLAG CHAR,                       
 @REMARKS VARCHAR(MAX),                    
 @CREATEDBY VARCHAR(50),                      
 @CREATEDHOST VARCHAR(50)                      
)                      
AS                      
BEGIN          
     
DECLARE @CURRDATE DATE     
    
SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE    
                
--Update BEING_EDITED di IFRS_IMP_IA_MASTER menjadi 1                      
UPDATE IFRS_IMP_IA_MASTER SET BEING_EDITED = 1 
WHERE CUSTOMER_NUMBER = (SELECT CUSTOMER_NUMBER FROM IFRS_IMP_IA_MASTER WHERE MASTERID = @MASTERID)
	AND ISNULL(DATA_SOURCE, '') IN 
		(SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND PARENTCOMMONCODEVALUE IN
			(SELECT DISTINCT PARENTCOMMONCODEVALUE FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND VALUE1 = @DATA_SOURCE AND ISNULL(IS_DELETE, 0) = 0)
			AND ISNULL(IS_DELETE, 0) = 0
		)
                      
--Insert IFRS_IMP_IA_MASTER_PEND                      
	INSERT INTO IFRS_IMP_IA_MASTER_PEND
	(                      
		MASTERID,                      
		DOWNLOAD_DATE,                       
		EFFECTIVE_DATE,  
		DATA_SOURCE,                     
		CUSTOMER_NUMBER,                       
		CUSTOMER_NAME,                       
		PRODUCT_GROUP,                
		PRODUCT_CODE,                       
		MATURITY_DATE,                       
		CURRENCY,                       
		INTEREST_RATE,                       
		EIR,                       
		OUTSTANDING,                       
		PLAFOND,                       
		DAY_PAST_DUE,                      
		BI_COLLECTABILITY,                      
		IMPAIRED_FLAG,                
		DPD_CIF,                
		RESTRUCTURE_COLLECT_FLAG,                
		BI_COLLECT_CIF,                      
		REMARKS,                    
		STATUS,                      
		OVERRIDE_FLAG, 
		RATING_CODE,                  
		CREATEDBY,                      
		CREATEDDATE,                      
		CREATEDHOST
	)
	SELECT                       
		MASTERID,                      
		@CURRDATE,                       
		EFFECTIVE_DATE,   
		DATA_SOURCE,                    
		CUSTOMER_NUMBER,                       
		CUSTOMER_NAME,                       
		PRODUCT_GROUP,                
		PRODUCT_CODE,                       
		MATURITY_DATE,                       
		CURRENCY,                       
		INTEREST_RATE,                       
		EIR,                       
		OUTSTANDING,                       
		PLAFOND,                       
		DAY_PAST_DUE,                      
		BI_COLLECTABILITY,                      
		@IMPAIRED_FLAG,                
		DPD_CIF,                
		RESTRUCTURE_COLLECT_FLAG,                
		BI_COLLECT_CIF,                      
		@REMARKS,                       
		'PENDING_OVERRIDE',                      
		'M',   
		RATING_CODE,                  
		@CREATEDBY,                      
		GETDATE(),                      
		@CREATEDHOST                      
	FROM IFRS_IMP_IA_MASTER                      
	WHERE CUSTOMER_NUMBER = (SELECT CUSTOMER_NUMBER FROM IFRS_IMP_IA_MASTER WHERE MASTERID = @MASTERID)
		AND ISNULL(DATA_SOURCE, '') IN
			(SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND PARENTCOMMONCODEVALUE IN
				(SELECT DISTINCT PARENTCOMMONCODEVALUE FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND VALUE1 = @DATA_SOURCE AND ISNULL(IS_DELETE, 0) = 0)
				AND ISNULL(IS_DELETE, 0) = 0
			)
   
 --DELETE FROM IFRS_IMP_IA_MASTER WHERE CUSTOMER_NUMBER = (SELECT CUSTOMER_NUMBER FROM IFRS_IMP_IA_MASTER WHERE MASTERID = @MASTERID)  
                        
END;
GO
