USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_OVERRIDE_PENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_OVERRIDE_PENDING](                      
 @CUSTOMER_NUMBER VARCHAR(50),                      
 @BUSINESS_UNIT VARCHAR(20),
 @DOWNLOAD_DATE VARCHAR(50),                      
 @CreatedBy VARCHAR(50),                      
 @CreatedHost VARCHAR(50)                      
)                      
AS                      
BEGIN             
    
 DECLARE @CURRDATE DATE    
 SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE             
                  
 INSERT INTO IFRS_IMP_IA_MASTER_PEND                 
 (
	MASTERID,                              
	EFFECTIVE_DATE, 
	DATA_SOURCE,               
	CUSTOMER_NUMBER,                 
	CUSTOMER_NAME,                 
	PRODUCT_GROUP,        
	PRODUCT_CODE,                
	MATURITY_DATE,                 
	CURRENCY,                
	INTEREST_RATE,                
	EIR,          
	AVG_EIR,                
	OUTSTANDING,                
	PLAFOND,                
	DAY_PAST_DUE,                
	BI_COLLECTABILITY,              
	OVERRIDE_FLAG,        
	IMPAIRED_FLAG,        
	DPD_CIF,        
	RESTRUCTURE_COLLECT_FLAG,        
	BI_COLLECT_CIF,              
	RATING_CODE,
	CREATEDBY,              
	CREATEDDATE,              
	CREATEDHOST,              
	STATUS,              
	BEING_EDITED
 )                  
 SELECT                 
	MASTERID,                 
	@CURRDATE,  
	DATA_SOURCE,               
	CUSTOMER_NUMBER,                 
	ISNULL(CUSTOMER_NAME, ''),                 
	PRODUCT_GROUP,         
	PRODUCT_CODE,                
	LOAN_DUE_DATE,                 
	CURRENCY,                
	INTEREST_RATE,                
	EIR,          
	AVG_EIR,                
	CASE WHEN DATA_SOURCE = 'LIMIT_T24' THEN UNUSED_AMOUNT ELSE OUTSTANDING END OUTSTANDING,
	PLAFOND,                
	DAY_PAST_DUE,                
	BI_COLLECTABILITY,        
	'M',        
	'I',        
	DPD_CIF,        
	RESTRUCTURE_COLLECT_FLAG,        
	BI_COLLECT_CIF,        
	RATING_CODE,
	@CreatedBy,              
	SYSDATETIME(),              
	@CreatedHost,              
	'PENDING_OVERRIDE',              
	1                
 FROM IFRS_MASTER_ACCOUNT                  
 WHERE CUSTOMER_NUMBER = @CUSTOMER_NUMBER
	AND DOWNLOAD_DATE = @DOWNLOAD_DATE
	AND DATA_SOURCE <> 'LIMIT'
	AND DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND PARENTCOMMONCODEVALUE = @BUSINESS_UNIT AND ISNULL(IS_DELETE,0) = 0);                 
                  
END

GO
