USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMPREPAYMENTMODEL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_PARAMPREPAYMENTMODEL]    
(    
    @PKID integer    
)    
AS    
BEGIN    
        
    UPDATE IFRS_PREPAYMENT_RULES_CONFIG SET IS_DELETE = 1  
    WHERE PKID = @PKID;    
        
END;  

GO
