USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOADCCFANALYSIS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPR_LOADCCFANALYSIS]    
(    
 @PKID BIGINT,    
 @DOWNLOAD_DATE DATE    
)    
AS     
BEGIN
DECLARE @CALC_METHOD VARCHAR(20)

SELECT @CALC_METHOD = CALC_METHOD FROM IFRS_CCF_RULES_CONFIG WHERE PKID = @PKID

	IF @CALC_METHOD = 'Facility'
	BEGIN
		 SELECT    
		  CUSTOMER_NAME,    
		  FACILITY_NUMBER AS METHOD,
		  DOWNLOAD_DATE,    
		  EQV_AT_DEFAULT,    
		  EQV_PLAFOND_AT_DEFAULT,    
		  EQV_PLAFOND_AT_DEFAULT-EQV_AT_DEFAULT AS UNUSED_COMMITMENT,    
		  EQV_OS_12M_BEFORE_DEFAULT,    
		  EQV_PLAFOND_12M_BEFORE_DEFAULT,    
		  ROUND(DRAWDOWN, 6) AS DRAWDOWN,    
		  ROUND(HEADROOM, 6) AS HEADROOM,    
		  ROUND(CCF, 6) AS CCF,
		  EXCLUDE
		 FROM IFRS_EAD_CCF_DETAIL_FACILITY    
		 WHERE CCF_RULE_ID = @PKID    
			AND DOWNLOAD_DATE <= @DOWNLOAD_DATE
	END
	ELSE
	BEGIN
		SELECT    
		  CUSTOMER_NAME,    
		  CUSTOMER_NUMBER AS METHOD,    
		  DOWNLOAD_DATE,    
		  EQV_AT_DEFAULT,    
		  EQV_PLAFOND_AT_DEFAULT,    
		  EQV_PLAFOND_AT_DEFAULT-EQV_AT_DEFAULT AS UNUSED_COMMITMENT,    
		  EQV_OS_12M_BEFORE_DEFAULT,    
		  EQV_PLAFOND_12M_BEFORE_DEFAULT,    
		  ROUND(DRAWDOWN, 6) AS DRAWDOWN,    
		  ROUND(HEADROOM, 6) AS HEADROOM,    
		  ROUND(CCF, 6) AS CCF,
		  EXCLUDE
		 FROM IFRS_EAD_CCF_DETAIL_CIF    
		 WHERE CCF_RULE_ID = @PKID    
			AND DOWNLOAD_DATE <= @DOWNLOAD_DATE
	END
END;

GO
