USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETPERIOD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETPERIOD]
AS
BEGIN

	DECLARE @CurrDate DATE;

	SELECT @CurrDate = CURRDATE FROM IFRS_PRC_DATE;
	
	-- SELECT 10 Years of Periods
	SELECT TOP 120 [PKID] AS [VALUE], 
		[PERIOD] AS [TEXT] 
	FROM TBLM_PERIOD
	WHERE EOM > EOMONTH(@CurrDate);

END;



GO
