USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_JOBASSEMBLY]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_JOBASSEMBLY]
(
	@Name VARCHAR(50)
)  
AS  
BEGIN  

	SET NOCOUNT ON;
    
	SELECT * FROM TblM_JobsActivator WITH (NOLOCK) WHERE Name = @Name;

END;

GO
