USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SETUPBMADETAIL]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_SETUPBMADETAIL] 
(
	@PKID bigint = 0
	,@QUESTION_TYPE int = 0
	,@QUESTION_DESC varchar(100) = ''
	,@OPTION_NUMBER int = 0 
	,@OPTION_ID bigint = 0
	,@OPTION_DESC varchar(100) = ''
	,@UpdatedBy varchar(50) = ''
	,@UpdatedHost varchar(20) = ''
)
AS
BEGIN
	
	UPDATE [IFRS_AC_BM_MASTER_QUEST_D]
		SET OPTION_DESC = @OPTION_DESC
			,UPDATEDBY = @UpdatedBy
			,UPDATEDDATE = GETDATE()
			,UPDATEDHOST = @UpdatedHost
	WHERE PKID = @PKID

END

GO
