USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_USERUNLOCKWITHOUTRESET]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_USERUNLOCKWITHOUTRESET]         
(  
	@PKID varchar(50),  
	@UpdatedBy varchar(36)='',        
	@UpdatedHost varchar(30)  =''                                    
)         
as         
BEGIN     

	 UPDATE tblM_User
      SET IsUserLocked = 0,
          PasswordAttemptCounter = 0,
          UpdatedBy = @UpdatedBy,
          UpdatedHost = @UpdatedHost,
          UpdatedDate = GETDATE()
      WHERE PKID = @PKID;

END



GO
