USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKVARIABLESOURCE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CHECKVARIABLESOURCE](             
 @PKID BIGINT         
)                                              
AS                                              
BEGIN                                              
            
 SELECT * FROM TBLM_MACRO_ECONOMIC WHERE PKID = @PKID  
                                  
END
GO
