USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_LOOKUP]  
(  
 @value varchar(50),  
 @text varchar(50),  
 @filter varchar(200),  
 @blank bit  
)  
as      
 declare @query as varchar(MAX)  
begin      
 IF ( @blank=1 )   
 BEGIN  
        SET @query =  
            'SELECT *  
            FROM (  
                SELECT '' '' AS "' + @value  
                    + '" , ''ALL'' AS "'  
                    + @text  
                    + '", -1 AS "Sequence"   
                UNION  
                    SELECT CAST(Value1 AS VARCHAR(100)) AS "' + @value  
                + '",   
                CASE WHEN Description <> '' '' THEN  
                    (CAST(Value1 AS VARCHAR(100)) + '' - '' + Description)  
                ELSE  
                    CAST(Value1 AS VARCHAR(100))  
                END AS "'  
                + @text  
                + '"   
                , Sequence  
                FROM tblM_CommonCodeDetail      
                WHERE '  
                + @filter  
                + ' ) A WHERE A.IS_DELETE = 0 
            ORDER BY Sequence'   
 END
 ELSE IF CHARINDEX('CA02',@filter) > 0
 BEGIN
	SET @query =  
            'SELECT CAST(Value1 AS VARCHAR(100)) AS "' + @value  
            + '" , DESCRIPTION AS ' 
            + @text  
            + '  
            FROM tblM_CommonCodeDetail      
            WHERE '  
            + @filter  
            + ' AND IS_DELETE = 0 ORDER BY Sequence '
 END
 ELSE IF (@filter IN ('COMMONCODE = ''BI005''','COMMONCODE = ''BI006''','COMMONCODE = ''BI007'''))
 BEGIN  
        SET @query =  
            'SELECT CAST(Value1 AS VARCHAR(100)) AS "' + @value  
            + '" ,  
            CASE WHEN Description <> '' '' THEN   
                (CAST(Value1 AS VARCHAR(100)) + '' - '' + Description)  
            ELSE  
                CAST(Value1 AS VARCHAR(100))  
            END AS "'  
            + @text  
            + '"  
            FROM tblM_CommonCodeDetail      
            WHERE '  
            + @filter  
            + ' AND IS_DELETE = 0 ORDER BY VALUE1 '   
END     
 ELSE  
 BEGIN  
        SET @query =  
            'SELECT CAST(Value1 AS VARCHAR(100)) AS "' + @value  
            + '" ,  
            CASE WHEN Description <> '' '' THEN   
                (CAST(Value1 AS VARCHAR(100)) + '' - '' + Description)  
            ELSE  
                CAST(Value1 AS VARCHAR(100))  
            END AS "'  
            + @text  
            + '"  
            FROM tblM_CommonCodeDetail      
            WHERE '  
            + @filter  
            + ' AND IS_DELETE = 0 ORDER BY Sequence '   
END  
  
 PRINT @QUERY  
 exec (@query)  
  
 end

GO
