USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADMESUBMITWIAPP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[USPP_UPLOADMESUBMITWIAPP]  
(  
 @UploadID BIGINT = NULL  
)  
AS  
BEGIN  
  
 INSERT INTO tblU_MACRO_ECONOMIC_PENDING   
 (  
  ME_CODE,  
  ME_PERIOD,  
  ME_VAL,  
  STATUS, 
  HEADERID, 
  CreatedBy,  
  CreatedDate,  
  CreatedHost,  
  UPLOADID  
 )  
 SELECT ME_CODE,  
  EOMONTH(ME_PERIOD),  
  ME_VAL,  
  'PENDING',
  HEADERID,  
  CreatedBy,  
  CreatedDate,  
  CreatedHost,  
  UPLOADID  
  FROM tblU_MACRO_ECONOMIC_TEMP P  
  WHERE P.UPLOADID = @UploadID;  
  
 DELETE tblU_MACRO_ECONOMIC_TEMP  
 WHERE UPLOADID = @UploadID;  
  
 UPDATE tblU_MACRO_ECONOMIC_Info  
 SET STATUS = 'PENDING'  
 WHERE UploadID = @UploadID;  
  
END;  
GO
