USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADFEECOSTTEMP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADFEECOSTTEMP]
(
@uploadID int,
@xlsRowNum int,
@DATA_SOURCE varchar(20),
@ACCOUNT_NUMBER varchar(100),
@PRD_CODE varchar(20),
@TRANSACTION_CODE varchar(20),
@FACILITY_NUMBER varchar(50),
@TRANSACTION_DATE varchar(20),
@EFFECTIVE_DATE varchar(20),
@CCY varchar(5),
@DEBIT_CREDIT_FLAG char(1),
@TRANSACTION_AMOUNT varchar(50),
@CreatedBy varchar(36),
@CreatedHost varchar(30)
)
as	
begin 

	INSERT INTO TBLU_TRANS_ASSET_TEMP(
		UPLOADID
		,[ROW_NUMBER]
		--,[DATA_SOURCE]
		,[ACCOUNT_NUMBER]
		,[PRD_CODE]
		,[TRX_CODE]
		,[FACILITY_NUMBER]
		,[TRANSACTION_DATE]
		--,[EFFECTIVE_DATE]
		,[CURRENCY]
		,[DEBIT_CREDIT_FLAG]
		,[TRANSACTION_AMOUNT]
		,CREATEDBY
		,CREATEDDATE
		,CREATEDHOST)
	values(
		@uploadID
		,@xlsRowNum
		--,LTRIM(RTRIM(UPPER(@DATA_SOURCE)))
		,LTRIM(RTRIM(UPPER(@ACCOUNT_NUMBER)))
		,LTRIM(RTRIM(UPPER(@PRD_CODE)))
		,LTRIM(RTRIM(UPPER(@TRANSACTION_CODE)))
		,LTRIM(RTRIM(UPPER(@FACILITY_NUMBER)))
		,@TRANSACTION_DATE
		--,@EFFECTIVE_DATE
		,LTRIM(RTRIM(UPPER(@CCY)))
		,LTRIM(RTRIM(UPPER(@DEBIT_CREDIT_FLAG)))
		,@TRANSACTION_AMOUNT
		,@CreatedBy
		,getdate()
		,@CreatedHost)

	select max(PKID) as PKID from [TBLU_TRANS_ASSET_TEMP]

end

GO
