USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BI_SEGMENTLOANS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_BI_SEGMENTLOANS]
AS
BEGIN

	SELECT                         
		PKID,
		SEGMENT_LOANS_DESC,
		PRODUCT_CODE
	FROM IFRS_SEGMENT_LOANS
	WHERE IS_DELETE = 0
	ORDER BY SEGMENT_LOANS_DESC

END

GO
