USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IAPLISTSUBMITPENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IAPLISTSUBMITPENDING](
@DATE_CIF_SEGMENT varchar(100),
@CREATEDBY varchar(36),
@CREATEDHOST varchar(30))
AS
BEGIN
DECLARE @ID bigint
DECLARE @IDNEW bigint

	SELECT @ID = ISNULL(MAX(ID),0) FROM IFRS_IAP_LIST_PENDING WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT
	
	SELECT @IDNEW = ISNULL(MAX(ID),0) + 1 FROM IFRS_IAP_LIST_PENDING

	IF (@ID > 0)
	BEGIN
		UPDATE IFRS_IAP_LIST_PENDING SET APPROVAL_STATUS = 'P'
		WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT
			AND ID = @ID
	END
	ELSE
	BEGIN
		--INSERT INTO IFRS_IAP_LIST_PENDING
		INSERT INTO IFRS_IAP_LIST_PENDING
		([ID],[DATE_CIF_SEGMENT]
		  ,[DOWNLOAD_DATE],[MASTERID],[CUSTOMER_NUMBER],[CUSTOMER_NAME]
		  ,[BI_COLLECTABILITY],[GROUP_SEGMENT],[SEGMENT],[SUB_SEGMENT],[OUTSTANDING],[EIR]
		  ,[COLLATERAL_LIQUIDATION_VALUE],[COLLATERAL_LIQUIDATION_VALUE_OVERRIDE],[COLLECTION_COST]
		  ,[WORKOUT_PERIOD_MODE],[WORKOUT_PERIOD],[IAP_EXCLUSION_FLAG],[PROBABILITY_WEIGHTED],[IIP_AMOUNT]
		  ,[IIP_AMOUNT_OVERRIDE],[DISC_CASH_FLOW],[DISC_CASH_FLOW_OVERRIDE],[APPROVAL_STATUS]
		  ,[IAP_PARAM_HEADERID],[DAY_PAST_DUE_CIF],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])
		SELECT @IDNEW,CAST(DOWNLOAD_DATE AS varchar(10)) + '_' + CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) AS DATE_CIF_SEGMENT
		  ,[DOWNLOAD_DATE],[MASTERID],[CUSTOMER_NUMBER],[CUSTOMER_NAME]
		  ,[BI_COLLECTABILITY],A.[GROUP_SEGMENT],A.[SEGMENT],A.[SUB_SEGMENT],[OUTSTANDING],[EIR]
		  ,[COLLATERAL_LIQUIDATION_VALUE],[COLLATERAL_LIQUIDATION_VALUE],[COLLECTION_COST]
		  ,[WORKOUT_PERIOD_MODE],[WORKOUT_PERIOD],[IAP_EXCLUSION_FLAG],[PROBABILITY_WEIGHTED],[IIP_AMOUNT]
		  ,[IIP_AMOUNT],[DISC_CASH_FLOW],[DISC_CASH_FLOW],'P'
		  ,[IAP_PARAM_HEADERID],[DAY_PAST_DUE_CIF],@CREATEDBY,GETDATE(),@CREATEDHOST
		FROM IFRS_IAP_LIST A
		LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SUB_SEGMENT = B.SUB_SEGMENT
			AND IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
		WHERE IMPAIRED_FLAG = 'I'
			AND IAP_EXCLUSION_FLAG = 0
			AND CAST(DOWNLOAD_DATE AS varchar(10)) + '_' + CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) = @DATE_CIF_SEGMENT

		--INSERT INTO IFRS_IAP_LIST_SCENARIO
		INSERT INTO IFRS_IAP_LIST_SCENARIO_PENDING
		([ID],[DATE_CIF_SEGMENT]
		  ,[DOWNLOAD_DATE],[CUSTOMER_NUMBER],[SCENARIO_ID],[SCENARIO_NAME]
		  ,[PROBABILITY_OUTCOME],[PROBABILITY_OUTCOME_OVERRIDE],[RECOVERY_RATE]
		  ,[IAP_PARAM_HEADERID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])
		SELECT @IDNEW,CAST(A.DOWNLOAD_DATE AS varchar(10)) + '_' + A.CUSTOMER_NUMBER + '_' + CAST(E.PKID AS varchar(10))
		  ,A.[DOWNLOAD_DATE],A.[CUSTOMER_NUMBER],A.[SCENARIO_ID],A.[SCENARIO_NAME]
		  ,A.[PROBABILITY_OUTCOME],A.[PROBABILITY_OUTCOME],A.[RECOVERY_RATE]
		  ,A.[IAP_PARAM_HEADERID],@CREATEDBY,GETDATE(),@CREATEDHOST
		FROM IFRS_IAP_LIST_SCENARIO A
		LEFT JOIN IFRS_IAP_LIST B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE
		LEFT JOIN IFRS_IAP_PARAM_SCENARIO C ON A.IAP_PARAM_HEADERID = C.PKID
		LEFT JOIN IFRS_IAP_PARAM D ON C.HEADER_ID = D.PKID
		LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER E ON E.PKID = D.SEGMENTATION_ID
			AND D.IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
		WHERE CAST(A.DOWNLOAD_DATE AS varchar(10)) + '_' + A.CUSTOMER_NUMBER + '_' + CAST(E.PKID AS varchar(10)) = @DATE_CIF_SEGMENT
		ORDER BY A.SCENARIO_ID ASC
	END

	--UPDATE IFRS_IAP_LIST APPROVAL_STATUS KE 'P'
	UPDATE A
	SET APPROVAL_STATUS = 'P'
	FROM IFRS_IAP_LIST A
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SUB_SEGMENT = B.SUB_SEGMENT
		AND IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
	WHERE IMPAIRED_FLAG = 'I'
		AND IAP_EXCLUSION_FLAG = 0
		AND CAST(DOWNLOAD_DATE AS varchar(10)) + '_' + CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) = @DATE_CIF_SEGMENT

END

GO
