USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IAPSCENARIO]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IAPSCENARIO]    
(    
	@SUB_SEGMENT VARCHAR(100) = '',   
	@MIN_THRESHOLD INT = 0,    
	@COST FLOAT = 0,
	@PERIOD_MODE VARCHAR(100) = '',
	@PERIOD_MONTH INT = 0,
	@LGD VARCHAR(100) = '', 
	@Scenario_ID INT,    
	@SCENARIO_NAME VARCHAR(100),  
	@PROBABILITY VARCHAR(100),
	@RECOVERY VARCHAR(100),
	@CreatedBy VARCHAR(36),    
	@CreatedHost VARCHAR(30)    
)    
AS    
BEGIN

	declare @pkid as int

	IF @SUB_SEGMENT <>  ''

	BEGIN

		INSERT INTO IFRS_IAP_PARAM    
		(    
			SEGMENTATION_ID,    
			MIN_OS_VALUE,    
			COLLECTION_COST,    
			WORKOUT_PERIOD_MODE,    
			WORKOUT_PERIOD,    
			LGD_RULE_ID,
			CreatedBy,    
			CreatedDate,    
			CreatedHost,
			IS_DELETE    
		)    
		VALUES    
		(    
			@SUB_SEGMENT,    
			@MIN_THRESHOLD,    
			@COST,  
			@PERIOD_MODE,    
			@PERIOD_MONTH,    
			@LGD,
			@CreatedBy,    
			GETDATE(),    
			@CreatedHost,
			0    
		)
	END
   
	set @pkid = (select top 1 PKID from IFRS_IAP_PARAM order by PKID desc)

	INSERT INTO IFRS_IAP_PARAM_SCENARIO    
	(    
		HEADER_ID,
		SCENARIO_ID,    
		SCENARIO_NAME,    
		PROBABILITY_OUTCOME,    
		RECOVERY_RATE,    
		CreatedBy,    
		CreatedDate,    
		CreatedHost,
		IS_DELETE    
	)    
	VALUES    
	(   
		@pkid, 
		@Scenario_ID,    
		@SCENARIO_NAME,    
		@PROBABILITY,    
		@RECOVERY,    
		@CreatedBy,    
		GETDATE(),    
		@CreatedHost,
		0    
	)    


    
END

GO
