USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETDEPENDFILETRANSFORM]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETDEPENDFILETRANSFORM]
(
	@step_no varchar(20)  
)
AS  
BEGIN
 
	SELECT stag 
	FROM vStep_Sources 
	WHERE CT=@step_no 
		AND NOT stag IS NULL

END

GO
