USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_USERLOCK]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_USERLOCK]        
(
@UserID varchar(36)
)
as       
BEGIN   

	IF ( LTRIM(RTRIM(@UserID)) <>'')
	BEGIN
		SELECT  * from tblM_User where IsUserActive=1 and IsUserLocked=0 and pkid<>@Userid
	END
	ELSE
	BEGIN
		SELECT  * from tblM_User where IsUserActive=1 and IsUserLocked=0
	END
END

GO
