USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_INDIVIDUAL_REVIEW_HISTORY_HEADER]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_INDIVIDUAL_REVIEW_HISTORY_HEADER](                        
 @MASTERID VARCHAR(100)             
)                        
AS                        
BEGIN                        
    
  SELECT PKID,
	  MASTERID,
	  DOWNLOAD_DATE,
	  EFFECTIVE_DATE,
	  OUTSTANDING,
	  ECL_AMOUNT,
	  CREATEDDATE
  FROM IFRS_IMP_IA_MASTER_HIST
  WHERE MASTERID = @MASTERID
  AND STATUS = 'APPROVE_REVIEW'
  AND CREATEDBY <> 'SP_IFRS_IMPI_PROCESS'
  ORDER BY DOWNLOAD_DATE
            
END
GO
