USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CMBDEFAULTMODEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CMBDEFAULTMODEL]            
AS        
BEGIN  
	
	SELECT PKID, TM_RULE_NAME FROM IFRS_PD_RULES_CONFIG WHERE IS_DELETE = 0
	  
END;


GO
