USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_AC_APPROVESPPI_DELETE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_AC_APPROVESPPI_DELETE]
(  
 @PKID bigint = 0,
 @APPROVAL_REMARKS varchar(2000) = '',
 @APPROVEDBY varchar(36) = '',
 @APPROVEDHOST varchar(30) = ''
)  
AS  
BEGIN
DECLARE @CLASSID bigint = 0
	
	--GET PKID SPPI HEADER
	SELECT @CLASSID = PKID_OLD FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = @PKID
	
	--DELETE SPPI HEADER
	UPDATE IFRS_AC_SPPI_HEADER SET IS_DELETE = 1 WHERE PKID = @CLASSID

	--DELETE SPPI DETAIL
	UPDATE IFRS_AC_SPPI_DETAIL SET IS_DELETE = 1 WHERE CLASSID = @CLASSID
		
	--UPDATE STATUS PENDING
	UPDATE IFRS_AC_SPPI_HEADER_PENDING
		SET STATUS = 'APPROVED'
			,APPROVAL_REMARKS = @APPROVAL_REMARKS
			,APPROVEDBY = @APPROVEDBY
			,APPROVEDDATE = GETDATE()
			,APPROVEDHOST = @APPROVEDHOST
		WHERE PKID = @PKID

END

GO
