USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_GLADJUSTMENT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPI_GLADJUSTMENT]
(
	@DOWNLOAD_DATE datetime, 
	@BRANCH_CODE varchar(10),
	@CCY varchar(5),
	@GL_CODE varchar(9),
	@AMOUNT decimal(32,2),
	@REMARKS varchar(200),
	@CreatedBy varchar(36),         
	@CreatedHost varchar(30)
)          
AS
BEGIN  

	INSERT INTO [dbo].[SRC_GL_ADJUST]
    (
		[DOWNLOAD_DATE]
		,[BRANCH_CODE]
		,[CURRENCY]
		,[GL_CODE]
		,[AMOUNT]
		,[REMARKS]
		,[CreatedBy]
		,[CreatedDate]
		,[CreatedHost]
    )
     VALUES
    (
		@DOWNLOAD_DATE
		,@BRANCH_CODE
		,@CCY
		,@GL_CODE
		,@AMOUNT
		,ltrim(rtrim(@REMARKS))
		,@CreatedBy          
		,GETDATE()          
		,@CreatedHost          
    )

END

GO
