USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMIMPAIRCABUCK]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_PARAMIMPAIRCABUCK]    
-- proc untuk get list semua branch    
as    
begin    
    
 SELECT DISTINCT COUNT(B.BUCKET_GROUP) CNT,    
 B.BUCKET_GROUP,    
 A.BUCKET_DESCRIPTION    
 --BEING_EDITED BUCKET_GROUP_LNK    
 FROM IFRS_BUCKET_HEADER A JOIN IFRS_BUCKET_DETAIL B on A.BUCKET_GROUP = B.BUCKET_GROUP   
 WHERE ISNULL(A.IS_DELETE,0) = 0 
 and ISNULL(B.IS_DELETE,0) = 0  
 GROUP BY B.BUCKET_GROUP, BUCKET_DESCRIPTION    
 ORDER BY B.BUCKET_GROUP    
end    
GO
