USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_BMA_HEADER_PENDING]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_BMA_HEADER_PENDING]                              
(
 @BMNAME VARCHAR(100) = '' ,                           
 @SPPI_CLASS varchar(1000) = '',    
 @EFFECTIVE_DATE date = '2000/01/01',    
 @STATUS varchar(50) = '',    
 @BM_RSLT varchar(50) = '',    
 @REMARKS varchar(max) = '',
 @ACTION varchar(10) = '',    
 @PKID_OLD bigint = 0,    
 @CREATEDBY varchar(36) = '',                 
 @CREATEDHOST varchar(30) = ''                 
)                
AS      
BEGIN           
        
	INSERT INTO [dbo].[IFRS_AC_BM_HEADER_PENDING]    
	(              
		BM_NAME,    
		SPPI_CLASS,    
		EFFECTIVE_DATE,    
		STATUS,    
		BM_RSLT, 
		REMARKS,   
		ACTION,    
		PKID_OLD,    
		BM_NAME_OLD,    
		SPPI_CLASS_OLD,    
		EFFECTIVE_DATE_OLD,    
		STATUS_OLD,    
		BM_RSLT_OLD,  
		REMARKS_OLD,  
		CREATEDBY,    
		CREATEDDATE,    
		CREATEDHOST    
	)                              
	VALUES                              
	(      
		@BMNAME,
		@SPPI_CLASS,
		@EFFECTIVE_DATE,
		@STATUS,
		@BM_RSLT,
		@REMARKS,
		@ACTION,
		@PKID_OLD,
		(SELECT BM_NAME FROM IFRS_AC_BM_HEADER WHERE PKID = @PKID_OLD),
		(SELECT SPPI_CLASS FROM IFRS_AC_BM_HEADER WHERE PKID = @PKID_OLD),
		(SELECT EFFECTIVE_DATE FROM IFRS_AC_BM_HEADER WHERE PKID = @PKID_OLD),
		(SELECT STATUS FROM IFRS_AC_BM_HEADER WHERE PKID = @PKID_OLD),
		(SELECT BM_RSLT FROM IFRS_AC_BM_HEADER WHERE PKID = @PKID_OLD),
		(SELECT REMARKS FROM IFRS_AC_BM_HEADER WHERE PKID = @PKID_OLD),
		@CREATEDBY,
		GETDATE(),
		@CREATEDHOST    
	)    
    
	SELECT MAX(PKID) AS PKID FROM IFRS_AC_BM_HEADER_PENDING    
    
END; 
GO
