USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMMACROECONOMIC]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_PARAMMACROECONOMIC]        
(        
 @ME_CODE VARCHAR(100) = '',       
 @ME_SOURCE_TABLE VARCHAR(100) = '',      
 @ME_DESC VARCHAR(100) = '',        
 @ME_SOURCE_PERIOD_COLUMN VARCHAR(30) = '',      
 @ME_SOURCE VARCHAR(100) = '',      
 @ME_SOURCE_VALUE_COLUMN VARCHAR(30) = '',      
 @ME_SOURCE_FILTER BIGINT = 0,      
 @ME_SOURCE_URL VARCHAR(100) = '',       
 @PKID FLOAT = 0,        
 @CreatedBy VARCHAR(36) = ' ' ,        
 @CreatedHost VARCHAR(30) = ' '         
)        
AS        
BEGIN        
        
 DECLARE @headerID DECIMAL(38);        
 SET IDENTITY_INSERT tblM_Macro_Economic ON      
      
 INSERT INTO tblM_Macro_Economic        
 (      
  PKID,        
  ME_CODE,        
  ME_SOURCE_TABLE,      
  ME_DESC,      
  ME_SOURCE_PERIOD_COLUMN,      
  ME_SOURCE,      
  ME_SOURCE_VALUE_COLUMN,      
  ME_SOURCE_FILTER,      
  ME_SOURCE_URL,      
  CreatedBy,         
  CreatedDate,         
  CreatedHost        
 )        
 VALUES         
 (        
  @PKID,      
  LTRIM(RTRIM(@ME_CODE)),      
  @ME_SOURCE_TABLE,      
  LTRIM(RTRIM(@ME_DESC)),      
  @ME_SOURCE_PERIOD_COLUMN,      
  @ME_SOURCE,      
  @ME_SOURCE_VALUE_COLUMN,      
  @ME_SOURCE_FILTER,      
  @ME_SOURCE_URL,      
  @CreatedBy,         
  GETDATE(),        
  @CreatedHost        
 );        
 SET IDENTITY_INSERT tblM_Macro_Economic OFF      
      
 --EXEC USPI_FL_VARIABLE_REGIS      
            
END; 
GO
