USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_IA_PB_LIST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPR_IA_PB_LIST]              
(            
 @DOWNLOAD_DATE DATE  
)            
AS            
BEGIN            
   
 SELECT  *
 FROM IFRS_IMP_IA_MASTER_HIST 
 WHERE STATUS = 'APPROVE_REVIEW'
 AND DCFID IS NOT NULL
 AND DOWNLOAD_DATE = @DOWNLOAD_DATE ORDER BY CUSTOMER_NUMBER   
          
END
GO
