USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_USERUNEXPIRED]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_USERUNEXPIRED]            
(@UserID varchar(36))       
as   --utk user ter-delete / user expired yg sudah lama tdk login  
BEGIN       
 IF ( LTRIM(RTRIM(@UserID)) <>'')  
 BEGIN   
  SELECT  *,  
  case when IsUserExpired=0 then 1 else 0 end as ISUSERUNEXPIRED, 
  case when IsUserExpired=0 then 'No' else 'Yes' end as STATUSISUSERUNEXPIRED
  from tblM_User where IsUserActive=0 OR IsUserExpired=1   and pkid<>@Userid  
  --IsUserActive->delete/not, IsUserExpired->LastLoginDate  
 END  
 ELSE  
 BEGIN  
  SELECT  *,  
  case when IsUserExpired=0 then 1 else 0 end as ISUSERUNEXPIRED,
  case when IsUserExpired=0 then 'No' else 'Yes' end as STATUSISUSERUNEXPIRED
  from tblM_User where IsUserActive=0 OR IsUserExpired=1    
 END  
  
END  
  

GO
