USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_NUMBER_OF_DEFAULT_CUMULATIVE_COHORT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_NUMBER_OF_DEFAULT_CUMULATIVE_COHORT]
(
	@PD_RULE_ID AS BIGINT,
	@PERIOD AS DATE

)
AS
BEGIN

DECLARE @HISTORICAL_DATA_IN_MONTHS AS SMALLINT,
		@CUT_OFF_DATE AS DATE,
		@MAX_SEQ_YEAR AS INT,
		@COUNT_YEAR AS INT,
		@YEAR_TO_END AS VARCHAR(4000) = '',
		@COLUMN_YEAR AS VARCHAR(4000) = '',
		@MAX_COLUMN_YEAR AS VARCHAR(4000) = '',
		@GROUP_COLUMN_YEAR AS VARCHAR(4000) = '';

SELECT 
@HISTORICAL_DATA_IN_MONTHS = HISTORICAL_DATA,
@CUT_OFF_DATE = CUT_OFF_DATE
FROM IFRS_PD_RULES_CONFIG 
WHERE PKID = @PD_RULE_ID

SELECT @MAX_SEQ_YEAR = MAX(SEQ_YEAR) FROM IFRS_PD_CHR_SUMM

SET @COUNT_YEAR = 1

WHILE @MAX_SEQ_YEAR >= @COUNT_YEAR
BEGIN
	IF @MAX_SEQ_YEAR = @COUNT_YEAR
	BEGIN
		SET @YEAR_TO_END = @YEAR_TO_END + 'MAX(CASE WHEN SEQ_YEAR = ' + CONVERT(VARCHAR,@COUNT_YEAR) + ' THEN TOTAL_DEFAULT ELSE 0 END) AS YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)
		SET @COLUMN_YEAR = @COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ' [BIGINT] NULL'
		SET @MAX_COLUMN_YEAR = @MAX_COLUMN_YEAR + 'MAX(YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ') ' + ' AS ' + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)
		SET @GROUP_COLUMN_YEAR = @GROUP_COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)
	END
	ELSE
	BEGIN
		SET @YEAR_TO_END = @YEAR_TO_END + 'MAX(CASE WHEN SEQ_YEAR = ' + CONVERT(VARCHAR,@COUNT_YEAR) + ' THEN TOTAL_DEFAULT ELSE 0 END) AS YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','
		SET @COLUMN_YEAR = @COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ' [BIGINT] NULL,'
		SET @MAX_COLUMN_YEAR = @MAX_COLUMN_YEAR + 'MAX(YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ') ' + ' AS ' + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','
		SET @GROUP_COLUMN_YEAR = @GROUP_COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','
	END
    
	SET @COUNT_YEAR = @COUNT_YEAR  + 1
END


DECLARE @QUERY AS VARCHAR(MAX) = '';

SET @QUERY = '
CREATE TABLE #TEMP(
[SNAPSHOT] [DATE] NULL,
[BUCKET] [VARCHAR](100) NULL,
[NOA] [BIGINT] NULL,'
+
@COLUMN_YEAR
+
')'
+
'INSERT INTO #TEMP SELECT 
DOWNLOAD_DATE AS SNAPSHOT, 
BUCKET_NAME AS BUCKET,
MAX(TOTAL_COUNT) AS NOA,'
+ @YEAR_TO_END +
' FROM IFRS_PD_CHR_SUMM
WHERE 
PD_RULE_ID = '+ CONVERT(VARCHAR,@PD_RULE_ID) +' AND
PROJECTION_DATE <= DATEADD(YEAR,1,' + '''' +CONVERT(VARCHAR(10),@PERIOD,120) + '''' +') AND
DOWNLOAD_DATE >= DATEADD(MONTH,-1 * '+CONVERT(VARCHAR,@HISTORICAL_DATA_IN_MONTHS) +',DATEADD(YEAR,1,'+ '''' +CONVERT(VARCHAR(10),@PERIOD,120)+ '''' +')) AND
DOWNLOAD_DATE >= ' + '''' +CONVERT(VARCHAR(10),@CUT_OFF_DATE,120) + '''' + '
GROUP BY DOWNLOAD_DATE, BUCKET_NAME,TOTAL_COUNT,TOTAL_DEFAULT '
+
'SELECT SNAPSHOT,BUCKET,NOA,'
+
@MAX_COLUMN_YEAR
+
' FROM #TEMP GROUP BY SNAPSHOT,BUCKET,NOA'--,' + @GROUP_COLUMN_YEAR
EXEC(@QUERY);


PRINT(@QUERY);
END
GO
