USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKPDCONFIG]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_CHECKPDCONFIG]
	@TM_RULE_NAME varchar(250) = ''
	,@PKID bigint = 0
AS  
BEGIN
	
	SELECT
		COUNT(*) AS C
	FROM IFRS_PD_RULES_CONFIG
	WHERE IS_DELETE = 0
		AND TM_RULE_NAME = @TM_RULE_NAME
		AND PKID <> @PKID 

END

GO
