USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_QUERYDATABYKEY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_QUERYDATABYKEY]  
    @CountryID VARCHAR(10) ,  
    @ModuleID VARCHAR(50) ,  
    @QueryID VARCHAR(100)  
AS   
    SET NOCOUNT ON       SELECT  [CountryID] ,  
            [ModuleID] ,  
            [QueryID] ,  
            [PKID] ,  
            [ObjectName] ,  
            [SelectQuery] ,  
            [CreatedBy] ,  
            [CreatedDate] ,  
            [CreatedHost] ,  
            [UpdatedBy] ,  
            [UpdatedDate] ,  
            [UpdatedHost]  
    FROM    [dbo].[tblM_QueryData]  
    WHERE   ( [CountryID] = @CountryID  
              OR @CountryID IS NULL  
            )  
            AND ( [ModuleID] = @ModuleID  
                  OR @ModuleID IS NULL  
                )  
            AND ( [QueryID] = @QueryID  
                  OR @QueryID IS NULL  
                )






GO
