USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSCENARIORULEGL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPSCENARIORULEGL]
AS            
BEGIN
	SELECT RULE_NAME as "GL_CONSTNAME", RULE_NAME AS "Rule Name"
	FROM [dbo].[IFRS_SCENARIO_RULES_HEADER]
	WHERE RULE_TYPE='GL' OR RULE_TYPE = 'GL_LI' AND IS_DELETE = 0
	GROUP BY RULE_NAME
	ORDER BY RULE_NAME
END
GO
