USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PD_MODEL_ECL_TOP]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_PD_MODEL_ECL_TOP]    
(    
 @MODEL_NAME VARCHAR(250),            
 @SEGMENTATION_ID int,          
 @SEGMENT VARCHAR(100),            
 @PD_METHOD VARCHAR(50),      
 @CALC_METHOD VARCHAR(20) = '',            
 @EXPECTED_LIFE INT = NULL,            
 @TRANSITION_DATA INT = NULL,               
 @HISTORICAL_DATA INT = NULL,            
 @IA_FLAG BIT,         
 @DEFAULT_RULE_ID BIGINT,      
 @DEFAULT_RULE VARCHAR(100),              
 @CUT_OFF_DATE DATE = '1/1/1900',      
 @INCREMENT_PERIOD INT = NULL,            
 @BUCKET_GROUP VARCHAR(30)='',      
 @THRESHOLD DECIMAL(32, 6),   
 @DEFAULT_RATIO_BY VARCHAR(20) = '',            
 @MonthFlag BIT,      
 @BUCKET_GROUP2 VARCHAR(30)='',    
 @PKID BIGINT,    
 @UpdatedBy VARCHAR(50),    
 @UpdatedHost VARCHAR(50)    
)    
AS    
BEGIN    
   
  UPDATE IFRS_PD_RULES_CONFIG    
  SET 
	TM_RULE_NAME = @MODEL_NAME,
	SEGMENTATION_ID = @SEGMENTATION_ID,
	CALC_METHOD = @CALC_METHOD,
	EXPECTED_LIFE = @EXPECTED_LIFE,      
	TRANSITION_DATA = CASE WHEN @TRANSITION_DATA = '' THEN NULL ELSE @TRANSITION_DATA END,
	HISTORICAL_DATA = CASE WHEN @HISTORICAL_DATA = '' THEN NULL ELSE @HISTORICAL_DATA END,
	IA_FLAG = @IA_FLAG,
	CUT_OFF_DATE = CASE WHEN @PD_METHOD = 'EXT' THEN NULL ELSE @CUT_OFF_DATE END,
	INCREMENT_PERIOD = CASE WHEN @INCREMENT_PERIOD = '' THEN NULL ELSE @INCREMENT_PERIOD END,
	PD_METHOD = @PD_METHOD,
	BUCKET_GROUP = @BUCKET_GROUP,
	DEFAULT_RULE_ID = @DEFAULT_RULE_ID,
	IS_DELETE = 0,      
	THRESHOLD = @THRESHOLD,  
	DEFAULT_RATIO_BY = @DEFAULT_RATIO_BY,  
	LAG_1MONTH_FLAG = @MonthFlag,          
	BUCKET_GROUP2 = @BUCKET_GROUP2, 
	ACTIVE_FLAG = 1,
	UpdatedBy = @UpdatedBy,    
	UpdatedHost = @UpdatedHost    
  WHERE PKID = @PKID;    

END;    

GO
