USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ZTAVERAGE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ZTAVERAGE] (
   @Period          DATE='1900-01-01',
   @ProdGroup       int=0
   )
AS
BEGIN
DECLARE @CORRELATION_FACTOR AS NUMERIC(32,6)
DECLARE @AVERAGE AS NUMERIC(32,6)
DECLARE @STANDARD_DEVIATION AS NUMERIC(32,6)

	SET NOCOUNT ON;
	
	SELECT
		@STANDARD_DEVIATION = SUM((ZFAC_VAL - AVERAGE) / N)-- AS STANDARD_DEVIATION
	FROM IFRS_PD_ZFAC A
	INNER JOIN
		(SELECT PD_RULE_ID, AVG(ZFAC_VAL) AS AVERAGE, COUNT(1) AS N FROM IFRS_PD_ZFAC GROUP BY PD_RULE_ID) B
		ON A.PD_RULE_ID = B.PD_RULE_ID
	WHERE EFF_DATE = @Period
		AND A.PD_RULE_ID = @ProdGroup
	
	SELECT TOP 1 @CORRELATION_FACTOR = RHO --AS CORRELATION_FACTOR
	FROM IFRS_PD_ZFAC
	WHERE EFF_DATE = @Period
		AND PD_RULE_ID = @ProdGroup

	SELECT
		@AVERAGE = SUM((ZFAC_VAL) / N) --AS AVERAGE
	FROM IFRS_PD_ZFAC A
	INNER JOIN
		(SELECT PD_RULE_ID, AVG(ZFAC_VAL) AS AVERAGE, COUNT(1) AS N FROM IFRS_PD_ZFAC GROUP BY PD_RULE_ID) B
		ON A.PD_RULE_ID = B.PD_RULE_ID
	WHERE EFF_DATE = @Period
		AND A.PD_RULE_ID = @ProdGroup

	SELECT
		@CORRELATION_FACTOR AS CORRELATION_FACTOR
		,@AVERAGE AS AVERAGE
		,@STANDARD_DEVIATION AS STANDARD_DEVIATION
END

GO
