USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADDEPENDENTDETAILHIST]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOADDEPENDENTDETAILHIST](      
 @UPLOADID BIGINT
)                                                  
AS                                                  
BEGIN                                                  
                
 SELECT ME_CODE, ME_PERIOD AS DOWNLOAD_DATE, ME_VAL AS VALUE FROM TBLU_MACRO_ECONOMIC_HIST WHERE UPLOADID = @UPLOADID
                                      
END
GO
