USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_LIFETIMEMODEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_LIFETIMEMODEL]        
(          
	@LIFETIME_CONFIG_NAME VARCHAR(100)='',           
    @SUBSEGMENT varchar(1000)='',        
	@PRD_GRP varchar(1000)='',        
	@CreatedBy VARCHAR(36),        
    @CreatedHost VARCHAR(30)        
)        
AS        
BEGIN            
	    
		INSERT INTO IFRS_LIFETIME_CONFIG_9        
		(        
			[LIFETIME_CONFIG_NAME]
           ,[SUBSEGMENT]
           ,[PRD_GRP]
           ,CREATEDBY
		   ,CREATEDDATE
		   ,CREATEDHOST        
		)        
		VALUES        
		(        
			@LIFETIME_CONFIG_NAME,            
			@SUBSEGMENT,        
			@PRD_GRP, 
			@CreatedBy,        
			GETDATE(),        
			@CreatedHost        
		);
END

GO
