USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_ME_PEARSON_CORRELATION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPP_ME_PEARSON_CORRELATION]
(
	@MODEL_ID bigint = 0,
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(36)=''
)
as
begin
   SET NOCOUNT ON;

   DELETE TMP_IFRS_ME_MODEL_CORRELATION
   WHERE MODEL_ID = @MODEL_ID;
   
   INSERT INTO TMP_IFRS_ME_MODEL_CORRELATION
   (
		MODEL_ID,
		ME_CODE,
		DERIVED_TYPE,
		CORRELATION_VALUE,
		IS_CHOSEN
   )	
   SELECT @MODEL_ID, 
		ME_CODE, 
		DERIVED_TYPE, 
		(Avg(x * y) - (Avg(x) * Avg(y))) / (StDevP(x) * StDevP(y)) AS "Pearsons_Correlation",
		0 AS IS_CHOSEN
   from 
   (
		select c.me_period, c.me_code, c.derived_type, a.default_rate as y, c.seasonal_adjustment as x
			from ifrs_pd_default_rate a
			-- join ifrs_macro_economic_model b *-- ini yg asli
			join tmp_ifrs_macro_economic_model b
			on dateadd(dd, -day(a.eff_date) + 1,a.eff_date) 
			 between correlation_period_from and correlation_period_end
			join tmp_ifrs_me_seasonal_adj c
			on c.me_period between correlation_period_from and correlation_period_end
			and dateadd(dd, -day(a.eff_date) + 1,a.eff_date) = c.me_period
			and c.model_id = @MODEL_ID
	) temp
	where x is not null
    group by me_code, 
		derived_type;
end

GO
