USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BOOTSTRAP_MODEL_BY_PKID]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_BOOTSTRAP_MODEL_BY_PKID]
(
    @PKID BIGINT = 0
)
AS
BEGIN
    SELECT PKID,
        A.BOOTSTRAP_NAME,
        A.BOOTSTRAP_SAMPLE,
        A.BOOTSTRAP_POINT,
		A.MODEL_ID
    FROM IFRS_PD_BOOTSTRAP_CONFIG A
    where PKID=@PKID; 
END;

GO
