USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_VALIDATEPASSWORD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_VALIDATEPASSWORD]  
(  
 @PKID varchar( 50 ) = '',  
 @Password varchar( 50 ) = ''  
)  
as  
-- proc untuk validate input password  
begin  
	declare @s varchar( 500 )  
	declare @query varchar( 500 )  
	declare @PasswordHistoryLimit int  
	declare @strPasswordHistoryLimit varchar( 10 )  
	declare @count int  
  
	-- nilai awal  
	set @s = ''  

	if (@PKID = '')
	begin
		select '' as s
		return
	end

-- -- jika password mengandung special characters  
-- if(  
--  @Password like '%[!-.]%'  
--  or @Password like '%[:-@]%'  
--  or @Password like '%[[[-'']%'  
-- )  
-- -- password mengandung special characters  
-- begin  
--  -- set return value = suxes  
--  set @s = ''  
-- end  
-- else  
-- begin  
--  -- set return value  
--  set @s = 'Password must contain special character (!,@,#,$,....)'  
-- end  
  
	---- password tidak boleh sama dengan top N history  
	-- get password history limit  
	select @PasswordHistoryLimit = dbo.ufx_GetPasswordHistoryLimit()  
	-- convert to string  
	set @strPasswordHistoryLimit = convert( varchar( 10 ), @PasswordHistoryLimit )  
	-- set query create view  
	set @query =
	'create view v1 as ' +  
	'(	select top ' + @strPasswordHistoryLimit + ' ' +  
	'			[UserID], ' +  
	'			[Password], ' +  
	'			[UpdatedDate] ' +  
	'	from	[tblT_PasswordHistory] ' +  
	'	where	convert( varchar( 50 ), [UserID] ) = ''' + @PKID + ''' ' +  
	'	order by [UpdatedDate] desc ' +  
	') union ' +  
	'(	select	convert( varchar( 36 ), PKID ) [UserID], ' +  
	'			Password, getDate() [UpdatedDate] ' +  
	'	from tblM_User ' +  
	'	where convert( varchar( 50 ), PKID ) = ''' + @PKID + ''' )'  

	-- for debug  
	print @query  

	-- create view   
	exec( @query )    

	-- get jumlah baris   
	SELECT	@count = count( UserID )
	FROM	v1
	where	Password = @Password

	-- jika password sudah pernah ada sebelumnya  
	if( @count > 0 ) -- password sudah pernah ada sebelumnya  
	begin  
		-- set error message  
		set @s = 'Password was already entered before'  
	end  

	-- drop view  
	drop view v1  

	-- show return value  
	select @s [s]  
end





GO
