USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCOA]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPCOA]
AS
BEGIN
 
	SELECT DISTINCT GL_CODE, 
		COA 
	FROM
	( 
		SELECT GLCode GL_CODE,
			(GLCode +' - '+ GLName) "COA"
		FROM GL_PARAM_COA_PL_HO
			UNION
		SELECT GLCode GL_CODE,
			(GLCode +' - '+ GLName) "COA"
		FROM GL_PARAM_COA_BS_HO
	) A
	ORDER BY GL_CODE
    
END

GO
