USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SUM_DCFOVERFACUPLOADH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SUM_DCFOVERFACUPLOADH]
(  
	@UploadId FLOAT = NULL  
)  
AS  
BEGIN

	--Remarks by JU
	DECLARE @CURRDATE DATETIME;  
	
	SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE;  
	
	SELECT DETAILPKID,
		MAX(EFFECTIVE_DATE) AS "Effective Date",
		FACILITY_NUMBER AS "Facility Number",
		CUSTOMER_NUMBER AS "Customer Number", 
		CUSTOMER_NAME AS "Customer Name",
		CURRENCY AS "Currency",
		SUM(OUTSTANDING) AS "Outstanding",
		SUM(EAD_AMOUNT) AS "EAD Amount",
		SUM(ECL_AMOUNT) AS "ECL Amount"
	FROM
	(
		SELECT DETAILPKID,
			EFFECTIVE_DATE,
			MASTER_ACCOUNT_ID,
			FACILITY_NUMBER,
			CUSTOMER_NUMBER,
			CUSTOMER_NAME,
			CURRENCY,
			OUTSTANDING,
			EAD_AMOUNT,
			EAD_AMOUNT - SUM(NPV) AS ECL_AMOUNT
		FROM
		(
			SELECT DISTINCT CONVERT(VARCHAR, @UploadId) + '_' + PMA.FACILITY_NUMBER  "DETAILPKID",  
				--SELECT DISTINCT CONVERT(VARCHAR, @UploadId) + '_' + PMA.FACILITY_NUMBER  "DETAILPKID",   
				--ISNULL (ISNULL (IND.EFFECTIVE_DATE, IND2.EFFECTIVE_DATE), (SELECT EOMONTH(CURRDATE) FROM IFRS_PRC_DATE)) "Effective Date",   
				(SELECT EOMONTH(CURRDATE) FROM IFRS_PRC_DATE) AS EFFECTIVE_DATE,
				PMA.MASTER_ACCOUNT_ID, 
				PMA.FACILITY_NUMBER,
				PMA.CUSTOMER_NUMBER,   
				PMA.CUSTOMER_NAME,
				PMA.CURRENCY,   
				--PDG.INTERESTESTIMATED "Interest Rate",   
				PMA.OUTSTANDING,
				PMA.EAD_AMOUNT,
				--PMA.OUTSTANDING - PDG.ECL_LIFETIME_AMOUNT "ECL Amount"
				PDG.NPV 
			FROM IFRS_MASTER_ACCOUNT PMA  
				INNER JOIN TBLT_PAYMENTEXPECTED_TEMP PDG ON PMA.FACILITY_NUMBER = PDG.FACILITY_NUMBER
					AND PMA.MASTER_ACCOUNT_ID = PDG.MASTER_ACCOUNT_ID
					AND PMA.CURRENCY = PDG.CURRENCY 
			WHERE PMA.DOWNLOAD_DATE = @CURRDATE AND PDG.UPLOADID = @UploadId 
		) X
		GROUP BY DETAILPKID,
			EFFECTIVE_DATE,
			MASTER_ACCOUNT_ID,
			FACILITY_NUMBER,
			CUSTOMER_NUMBER,
			CUSTOMER_NAME,
			CURRENCY,
			OUTSTANDING,
			EAD_AMOUNT 
	)X
	GROUP BY DETAILPKID,
		FACILITY_NUMBER,
		CUSTOMER_NUMBER,
		CUSTOMER_NAME,
		CURRENCY;
		
END;

GO
