USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPROVEDREJECTEDLOGUPLMAN]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_APPROVEDREJECTEDLOGUPLMAN]
@UserID VARCHAR(36) = ''
AS
BEGIN
	
	SELECT TOP 2000
		CASE WHEN STATUS = 'APPROVED' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
		,'UPLOAD' AS "ACTION"
		,A.MODULE AS "MODULE_NAME"
		,s.Title AS "SCREEN_NAME"
		,(SELECT USERNAME FROM TBLM_USER WHERE CAST(PKID AS varchar(36)) = A.UPDATEDBY) as "UPDATED_BY"
		,A.UPDATEDDATE AS "UPDATED_DATE"
		,(SELECT USERNAME FROM TBLM_USER WHERE CAST(PKID AS varchar(36)) = A.CREATEDBY) AS "UPLOADED_BY"
		,A.CREATEDDATE AS "UPLOADED_DATE"
		,A.CREATEDHOST AS "UPLOADED_HOST"
		,A.UPLOADID AS PKID
	FROM TBLU_FEECOST_INFO A
	INNER JOIN tblM_User u WITH (NOLOCK) ON CAST(u.PKID AS varchar(36)) = A.CREATEDBY AND u.PKID = @UserID
	INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'PARTIAL_UPLOAD'       
	INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
	WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
		AND A.STATUS IN ('APPROVED','REJECTED')
		AND A.UPDATEDDATE >
			(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
				AND CAST(USERID AS varchar(36)) = @UserID)
	--ORDER BY A.UPDATEDDATE DESC

	UNION ALL
	SELECT TOP 2000
		CASE WHEN STATUS = 'APPROVED' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
		,'UPLOAD' AS "ACTION"
		,A.MODULE AS "MODULE_NAME"
		,s.Title AS "SCREEN_NAME"
		,(SELECT USERNAME FROM TBLM_USER WHERE CAST(PKID AS varchar(36)) = A.UPDATEDBY) as "UPDATED_BY"
		,A.UPDATEDDATE AS "UPDATED_DATE"
		,(SELECT USERNAME FROM TBLM_USER WHERE CAST(PKID AS varchar(36)) = A.CREATEDBY) AS "UPLOADED_BY"
		,A.CREATEDDATE AS "UPLOADED_DATE"
		,A.CREATEDHOST AS "UPLOADED_HOST"
		,A.UPLOADID AS PKID
	FROM TBLU_MACRO_ECONOMIC_INFO A
	INNER JOIN tblM_User u WITH (NOLOCK) ON CAST(u.PKID AS varchar(36)) = A.CREATEDBY AND u.PKID = @UserID
	INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'ME_PARAM'       
	INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
	WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
		AND A.STATUS IN ('APPROVED','REJECTED')
		AND A.UPDATEDDATE >
			(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
				AND CAST(USERID AS varchar(36)) = @UserID)
	ORDER BY A.UPDATEDDATE DESC
	
END

GO
