USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FCAST_DATA]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_FCAST_DATA]
(
	@PKID BIGINT
)
AS
BEGIN
	SELECT 
		ME_CODE,
		FORECAST_YEAR,
		FORECAST_VAL
	FROM TMP_IFRS_ME_FORECAST_DATA A 
	WHERE LIGHT_PD_MODEL_ID=@PKID
	ORDER BY ME_CODE,FORECAST_YEAR 
END

GO
