USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADMETEMP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADMETEMP]  
(  
 @uploadID VARCHAR(50) = NULL,  
 @xlsRowNum VARCHAR(50) = NULL,  
 @ME_CODE VARCHAR(100) = NULL,  
 @ME_PERIOD VARCHAR(50) = NULL,  
 @ME_VAL VARCHAR(50) = NULL,  
 @HEADERID VARCHAR(50) = '0',  
 @CreatedBy VARCHAR(36) = NULL,  
 @CreatedHost VARCHAR(30) = NULL  
)  
AS  
BEGIN  
  
 DELETE FROM TBLU_MACRO_ECONOMIC_TEMP  
 WHERE ME_CODE = @ME_CODE  
  AND UPLOADID <> @uploadID;  

 DECLARE @FIXHEADERID INT
 SELECT @FIXHEADERID = PKID FROM TBLM_MACRO_ECONOMIC WHERE ME_CODE = @ME_CODE
 
 INSERT INTO tblU_MACRO_ECONOMIC_TEMP  
 (   
  UPLOADID,   
  ROW_NUMBER,   
  ME_CODE,   
  ME_PERIOD,   
  ME_VAL,   
  HEADERID,   
  CreatedBy,   
  CreatedDate,   
  CreatedHost   
 )  
 VALUES   
 (   
  @uploadID,   
  @xlsRowNum,   
  LTRIM(RTRIM(UPPER(@ME_CODE))),   
  CAST(LTRIM(RTRIM(@ME_PERIOD)) AS DATE),   
  LTRIM(RTRIM(@ME_VAL)),   
  @FIXHEADERID,   
  @CreatedBy,   
  GETDATE(),   
  @CreatedHost   
 );  
     
 SELECT MAX(PKID) PKID    
 FROM tblU_MACRO_ECONOMIC_TEMP;  
  
END;  
GO
