USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_SYNC_TRANS_UPLOAD]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
CREATE PROCEDURE [dbo].[SP_IFRS_LI_SYNC_TRANS_UPLOAD] AS  
  
BEGIN  
  
 DECLARE @CURRDATE DATE  
  
 SELECT @CURRDATE = CURRDATE FROM IFRS_LI_PRC_DATE_AMORT  
   
 BEGIN TRANSACTION  
  
  DELETE FROM DBO.IFRS_LI_STG_TRANSACTION_DAILY  
  WHERE DOWNLOAD_DATE >= @CURRDATE AND SOURCE_PROCESS = 'SP_LI_SYNC_TRANS_UPLOAD'  
  
  INSERT INTO IFRS_LI_STG_TRANSACTION_DAILY(  
  DOWNLOAD_DATE  
  ,DATA_SOURCE  
  ,BRANCH_CODE
  ,ACCOUNT_NUMBER  
  ,PRD_CODE  
  ,TRX_CODE  
  ,TRANSACTION_REFERENCE_NUMBER  
  ,TRANSACTION_DATE  
  ,EFFECTIVE_DATE  
  ,START_DATE  
  ,DUE_DATE  
  ,POSTING_DATE  
  ,CURRENCY  
  ,AL_FLAG  
  ,DEBIT_CREDIT_FLAG  
  ,TERMINATE_FLAG 
  ,INITIAL_COST_AMOUNT  
  ,SOURCE_PROCESS  
  )  
  SELECT A.DOWNLOAD_DATE  
  ,A.DATA_SOURCE  
  ,B.BRANCH_CODE
  ,A.ACCOUNT_NUMBER  
  ,A.PRD_CODE  
  ,A.TRX_CODE  
  ,A.TRX_REF_NUMBER  
  ,A.TRANSACTION_DATE  
  ,A.EFFECTIVE_DATE  
  ,A.START_DATE  
  ,A.END_DATE  
  ,A.POSTING_DATE  
  ,A.CURRENCY  
  ,A.AL_FLAG  
  ,A.DEBIT_CREDIT_FLAG  
  ,'N'
  ,A.INITIAL_COST_AMOUNT  
  ,'SP_LI_SYNC_TRANS_UPLOAD' AS SOURCE_PROCESS  
  FROM TBLU_TRANS_LIAB A
	LEFT JOIN IFRS_LI_STG_MASTER_ACCOUNT B ON A.ACCOUNT_NUMBER  = B.ACCOUNT_NUMBER AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE
  WHERE A.DOWNLOAD_DATE = @CURRDATE  
  
  
 COMMIT TRANSACTION  
  
END  
  
/**/  
  
  
  

GO
