USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_PDLGDEffectiveDate]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_PDLGDEffectiveDate]    
AS    
BEGIN    
	SELECT    
		PKID,
		PERIOD,
		PD_EFF_DATE,
		LGD_EFF_DATE
		--,CONVERT(varchar(10),PERIOD,101) AS PERIOD
		--,CONVERT(varchar(10),PD_EFF_DATE,101) AS PD_EFF_DATE
		--,CONVERT(varchar(10),LGD_EFF_DATE,101) AS LGD_EFF_DATE
	FROM IFRS_ECL_EFFECTIVE_DATE_CTBC
	order by PERIOD 
END

GO
