USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_ACCT_SL_ECF_MAIN]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_ACCT_SL_ECF_MAIN]    
AS    
DECLARE @V_CURRDATE DATE    
 ,@V_PREVDATE DATE    
 ,@V_NUM INT    
 ,@PARAM_DISABLE_ACCRU_PREV INT    
 ,@PARAM_CALC_TO_LASTPAYMENT INT    
    
BEGIN    
 SELECT @V_CURRDATE = MAX(CURRDATE)    
  ,@V_PREVDATE = MAX(PREVDATE)    
 FROM IFRS_PRC_DATE_AMORT    
    
 --DISABLE ACCRU PREV CREATE ON NEW ECF AND RETURN ACCRUAL TO UNAMORT    
 SET @PARAM_DISABLE_ACCRU_PREV = 0    
 -- ECF FIRST PAYMENT DATE = LAST PAYMENT DATE IF 1 ELSE CURRDATE    
 SET @PARAM_CALC_TO_LASTPAYMENT = 0    
    
 INSERT INTO IFRS_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS    
  ,PROCNAME    
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'START'    
  ,'SP_IFRS_ACCT_SL_ECF_MAIN'    
  ,''    
  )    
    
 --RESET ACCRU CAUSED BY NEW ECF    
 DELETE    
 FROM IFRS_ACCT_SL_ACCRU_PREV    
 WHERE DOWNLOAD_DATE >= @V_CURRDATE    
  AND SRCPROCESS = 'ECF'    
    
 --RESET DATA BEFORE PROCESSING    
 UPDATE IFRS_ACCT_COST_FEE    
 SET STATUS = 'ACT'    
 WHERE STATUS = 'PNL'    
  AND CREATEDBY = 'SLECF1'    
  AND DOWNLOAD_DATE = @V_CURRDATE    
    
 UPDATE IFRS_ACCT_SL_COST_FEE_PREV    
 SET STATUS = 'ACT'    
 WHERE STATUS = 'PNL'    
  AND CREATEDBY = 'SLECF2'    
  AND DOWNLOAD_DATE = @V_CURRDATE    
    
 UPDATE IFRS_ACCT_SL_COST_FEE_PREV    
 SET STATUS = 'ACT'    
 WHERE STATUS = 'PNL2'    
  AND CREATEDBY = 'SLECF2'    
  AND DOWNLOAD_DATE = @V_PREVDATE    
    
 TRUNCATE TABLE TMP_T1    
    
 INSERT INTO TMP_T1 (MASTERID)    
 SELECT MASTERID    
 FROM IFRS_IMA_AMORT_CURR    
 WHERE ECF_STATUS = 'Y'    
    
 TRUNCATE TABLE IFRS_ACCT_SL_CF_ECF    
    
 --20160721 GET DATA FROM EIR STOP REV    
 SELECT *    
 INTO #IFRS_ACCT_STOP_REV    
 FROM (    
  SELECT MASTERID    
  FROM IFRS_ACCT_EIR_STOP_REV    
  WHERE DOWNLOAD_DATE = @V_CURRDATE    
      
  UNION    
      
  SELECT MASTERID    
  FROM IFRS_ACCT_SL_STOP_REV    
  WHERE DOWNLOAD_DATE = @V_CURRDATE    
  ) A    
    
 --20180109 ACCT WITH REVERSAL TODAY    
 SELECT DISTINCT MASTERID    
 INTO #TODAYREV    
 FROM IFRS_ACCT_COST_FEE    
 WHERE DOWNLOAD_DATE = @V_CURRDATE    
  AND FLAG_REVERSE = 'Y'    
  AND CF_ID_REV IS NOT NULL    
    
 -- TODAY NEW COST FEE    
 INSERT INTO IFRS_ACCT_SL_CF_ECF (    
  MASTERID    
  ,FEE_AMT    
  ,COST_AMT    
  ,FEE_AMT_ACRU    
  ,COST_AMT_ACRU    
  )    
 SELECT A.MASTERID    
  ,SUM(COALESCE(CASE     
     WHEN C.FLAG_CF = 'F'    
      THEN CASE     
        WHEN C.FLAG_REVERSE = 'Y'    
         THEN - 1 * C.AMOUNT    
        ELSE C.AMOUNT    
        END    
     ELSE 0    
     END, 0))    
  ,SUM(COALESCE(CASE     
     WHEN C.FLAG_CF = 'C'    
      THEN CASE     
        WHEN C.FLAG_REVERSE = 'Y'    
         THEN - 1 * C.AMOUNT    
        ELSE C.AMOUNT    
        END    
     ELSE 0    
     END, 0))    
  ,0    
  ,0    
 FROM TMP_T1 A    
 LEFT JOIN IFRS_ACCT_COST_FEE C ON C.DOWNLOAD_DATE = @V_CURRDATE    
  AND C.MASTERID = A.MASTERID    
  AND C.STATUS = 'ACT'    
  AND C.METHOD = 'SL'    
  --20180108 EXCLUDE CF REVERSAL AND ITS PAIR    
  AND C.CF_ID NOT IN (    
   SELECT CF_ID    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
       
   UNION ALL    
       
   SELECT CF_ID_REV    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
   )    
 GROUP BY A.MASTERID    
    
 -- SISA UNAMORT    
 UPDATE IFRS_ACCT_SL_CF_ECF    
 SET FEE_AMT = IFRS_ACCT_SL_CF_ECF.FEE_AMT + B.FEE_AMT    
  ,COST_AMT = IFRS_ACCT_SL_CF_ECF.COST_AMT + B.COST_AMT    
 FROM (    
  SELECT B.MASTERID    
   ,SUM(COALESCE(CASE     
      WHEN B.FLAG_CF = 'F'    
       THEN CASE     
         WHEN B.FLAG_REVERSE = 'Y'    
          THEN - 1 * CASE     
            WHEN CFREV.MASTERID IS NULL    
             THEN B.AMOUNT    
            ELSE B.AMOUNT_ORG    
            END    
         ELSE CASE     
           WHEN CFREV.MASTERID IS NULL    
            THEN B.AMOUNT    
           ELSE B.AMOUNT_ORG    
           END    
 END    
      ELSE 0    
      END, 0)) AS FEE_AMT    
   ,SUM(COALESCE(CASE     
      WHEN B.FLAG_CF = 'C'    
       THEN CASE     
         WHEN B.FLAG_REVERSE = 'Y'    
          THEN - 1 * CASE     
            WHEN CFREV.MASTERID IS NULL    
             THEN B.AMOUNT    
            ELSE B.AMOUNT_ORG    
            END    
         ELSE CASE     
           WHEN CFREV.MASTERID IS NULL    
            THEN B.AMOUNT    
           ELSE B.AMOUNT_ORG    
           END    
         END    
      ELSE 0    
      END, 0)) AS COST_AMT    
  FROM IFRS_ACCT_SL_COST_FEE_PREV B    
  JOIN VW_LAST_SL_CF_PREV X ON X.MASTERID = B.MASTERID    
   AND X.DOWNLOAD_DATE = B.DOWNLOAD_DATE    
   AND B.SEQ = X.SEQ    
  LEFT JOIN #IFRS_ACCT_STOP_REV REV ON B.MASTERID = REV.MASTERID    
  --20180109 RESONA REQ    
  LEFT JOIN #TODAYREV CFREV ON CFREV.MASTERID = B.MASTERID    
  WHERE B.DOWNLOAD_DATE IN (    
    @V_CURRDATE    
    ,@V_PREVDATE    
    )    
   AND B.STATUS = 'ACT'    
   AND REV.MASTERID IS NULL    
   --20180108 EXCLUDE CF REVERSAL AND ITS PAIR    
   AND B.CF_ID NOT IN (    
    SELECT CF_ID    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
        
    UNION ALL    
        
    SELECT CF_ID_REV    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
    )    
   --20180426 EXCLUDE PREVDATE IF NOT FROM SP ACF ACCRU    
   AND CASE     
    WHEN B.DOWNLOAD_DATE = @V_PREVDATE    
     AND B.SEQ <> '2'    
     THEN 0    
    ELSE 1    
    END = 1    
  GROUP BY B.MASTERID    
  ) B    
 WHERE B.MASTERID = IFRS_ACCT_SL_CF_ECF.MASTERID    
    
 IF @PARAM_DISABLE_ACCRU_PREV != 0    
 BEGIN    
  -- NO ACCRU IF TODAY IS DOING AMORT    
  TRUNCATE TABLE TMP_T1    
    
  INSERT INTO TMP_T1 (MASTERID)    
  SELECT DISTINCT MASTERID    
  FROM IFRS_ACCT_SL_ACF    
  WHERE DOWNLOAD_DATE = @V_CURRDATE    
   AND DO_AMORT = 'Y'    
    
  TRUNCATE TABLE TMP_T3    
    
  INSERT INTO TMP_T3 (MASTERID)    
  SELECT MASTERID    
  FROM IFRS_ACCT_SL_CF_ECF    
  WHERE MASTERID NOT IN (    
    SELECT MASTERID    
    FROM TMP_T1    
    )    
   --20180109 RESONA RECALC FROM START DATE : EXCLUDE ACCT TODAY HAVE REVERSAL    
   AND MASTERID NOT IN (    
    SELECT MASTERID    
    FROM #TODAYREV    
    )    
    
  -- GET LAST ACF WITH DO_AMORT=N    
  TRUNCATE TABLE TMP_P1    
    
  INSERT INTO TMP_P1 (ID)    
  SELECT MAX(ID) AS ID    
  FROM IFRS_ACCT_SL_ACF    
  WHERE MASTERID IN (    
    SELECT MASTERID    
    FROM TMP_T3    
    )    
   AND DO_AMORT = 'N'    
   AND DOWNLOAD_DATE < @V_CURRDATE    
   AND DOWNLOAD_DATE >= @V_PREVDATE    
  GROUP BY MASTERID    
    
  --KEMBALIKAN NILAI ACCRU PREVDATE KE UNAMORT    
  UPDATE IFRS_ACCT_SL_CF_ECF    
  SET FEE_AMT = FEE_AMT - B.N_ACCRU_FEE    
   ,COST_AMT = COST_AMT - B.N_ACCRU_COST    
  FROM (    
   SELECT *    
   FROM IFRS_ACCT_SL_ACF    
   WHERE ID IN (    
     SELECT ID    
     FROM TMP_P1    
     )    
   ) B    
  WHERE (B.MASTERID = IFRS_ACCT_SL_CF_ECF.MASTERID)    
   --20160407 SL STOP REV    
   AND IFRS_ACCT_SL_CF_ECF.MASTERID NOT IN (    
    SELECT MASTERID    
    FROM #IFRS_ACCT_STOP_REV    
    )    
   ----ADD 20180924        
   AND IFRS_ACCT_EIR_CF_ECF.MASTERID NOT IN (    
   SELECT DISTINCT MASTERID FROM IFRS_ACCT_SWITCH    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
   )         
           
    
  --20180108 FEE ADJ REV AMBIL DARI UNAMORT UNTUK PAIR DARI CF REV    
  UPDATE IFRS_ACCT_SL_CF_ECF    
  SET FEE_AMT = FEE_AMT + B.N_AMOUNT    
  FROM (    
   SELECT MASTERID, SUM(N_AMOUNT)  N_AMOUNT     
   FROM IFRS_ACCT_JOURNAL_INTM    
   WHERE CF_ID IN (    
     SELECT CF_ID_REV    
     FROM IFRS_ACCT_COST_FEE    
     WHERE DOWNLOAD_DATE = @V_CURRDATE    
      AND FLAG_REVERSE = 'Y'    
      AND CF_ID_REV IS NOT NULL    
     )    
    AND DOWNLOAD_DATE = @V_PREVDATE    
    AND [REVERSE] = 'N'    
    AND JOURNALCODE = 'ACCRU_SL'    
    AND FLAG_CF = 'F'    
    GROUP BY MASTERID    
   ) B    
  WHERE (B.MASTERID = IFRS_ACCT_SL_CF_ECF.MASTERID)    
   --20160407 SL STOP REV    
   AND IFRS_ACCT_SL_CF_ECF.MASTERID NOT IN (    
    SELECT MASTERID    
    FROM #IFRS_ACCT_STOP_REV    
    )    
   --20180109 RESONA RECALC FROM START DATE : EXCLUDE ACCT TODAY HAVE REVERSAL    
   AND IFRS_ACCT_SL_CF_ECF.MASTERID NOT IN (    
    SELECT MASTERID    
    FROM #TODAYREV    
    )    
    
  --20180108 COST ADJ REV AMBIL DARI UNAMORT UNTUK PAIR DARI CF REV    
  UPDATE IFRS_ACCT_SL_CF_ECF    
  SET COST_AMT = COST_AMT + B.N_AMOUNT    
  FROM (    
   SELECT MASTERID, SUM(N_AMOUNT)  N_AMOUNT     
   FROM IFRS_ACCT_JOURNAL_INTM    
   WHERE CF_ID IN (    
     SELECT CF_ID_REV    
     FROM IFRS_ACCT_COST_FEE    
     WHERE DOWNLOAD_DATE = @V_CURRDATE    
      AND FLAG_REVERSE = 'Y'    
      AND CF_ID_REV IS NOT NULL    
     )    
    AND DOWNLOAD_DATE = @V_PREVDATE    
    AND [REVERSE] = 'N'    
    AND JOURNALCODE = 'ACCRU_SL'    
    AND FLAG_CF = 'C'    
    GROUP BY MASTERID    
   ) B    
  WHERE (B.MASTERID = IFRS_ACCT_SL_CF_ECF.MASTERID)    
   --20160407 SL STOP REV    
   AND IFRS_ACCT_SL_CF_ECF.MASTERID NOT IN (    
    SELECT MASTERID    
    FROM #IFRS_ACCT_STOP_REV    
    )    
   --20180109 RESONA RECALC FROM START DATE : EXCLUDE ACCT TODAY HAVE REVERSAL    
   AND IFRS_ACCT_SL_CF_ECF.MASTERID NOT IN (    
    SELECT MASTERID    
    FROM #TODAYREV    
    )    
 END    
    
 -- ACCRU    
 UPDATE IFRS_ACCT_SL_CF_ECF    
 SET FEE_AMT_ACRU = B.FEE_AMT    
  ,COST_AMT_ACRU = B.COST_AMT    
 FROM (    
  SELECT B.MASTERID    
   ,SUM(COALESCE(CASE     
      WHEN B.FLAG_CF = 'F'    
       THEN CASE     
         WHEN B.FLAG_REVERSE = 'Y'    
          THEN - 1 * B.AMOUNT    
         ELSE B.AMOUNT    
         END    
      ELSE 0    
      END, 0)) AS FEE_AMT    
   ,SUM(COALESCE(CASE     
      WHEN B.FLAG_CF = 'C'    
       THEN CASE     
         WHEN B.FLAG_REVERSE = 'Y'    
          THEN - 1 * B.AMOUNT    
         ELSE B.AMOUNT    
         END    
      ELSE 0    
      END, 0)) AS COST_AMT    
  FROM IFRS_ACCT_SL_ACCRU_PREV B    
  WHERE B.STATUS = 'ACT'    
   --20180108 EXCLUDE CF REV AND ITS PAIR    
   AND B.CF_ID NOT IN (    
    SELECT CF_ID    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
        
    UNION ALL    
        
    SELECT CF_ID_REV    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
    )    
   --20180109 RESONA RECALC FROM START DATE : EXCLUDE ACCT TODAY HAVE REVERSAL    
   AND B.MASTERID NOT IN (    
    SELECT MASTERID    
    FROM #TODAYREV    
    )    
  GROUP BY B.MASTERID    
  ) B    
 WHERE B.MASTERID = IFRS_ACCT_SL_CF_ECF.MASTERID    
    
 /* FD DELETE ROUNDING  27-06-2018*/    
 -- UPDATE TOTAL    
 UPDATE IFRS_ACCT_SL_CF_ECF    
 SET TOTAL_AMT = --ROUND (    
  FEE_AMT + COST_AMT    
  --, 0)    
  ,TOTAL_AMT_ACRU =    
  --ROUND (    
  FEE_AMT + COST_AMT + FEE_AMT_ACRU + COST_AMT_ACRU    
    
 --, 0)    
 /*    
   -- ICBC 20151012 DANIEL S : UPDATE DUE DATE FROM PSAK_PAYM_SCHD MAX PMTDATE IF AVAILABLE    
   UPDATE IFRS_ACCT_SL_CF_ECF     
   SET DUE_DATE = X.MAXDATE    
   FROM (  SELECT MASTERID AS MASTERID, MAX (PMTDATE) AS MAXDATE    
                   FROM PSAK_PAYM_SCHD    
                  --WHERE DOWNLOAD_DATE = V_CURRDATE --REMARK BY RIS, CASE ICBC 2 DEC 2015    
               GROUP BY MASTERID) X    
   WHERE X.MASTERID = IFRS_ACCT_SL_CF_ECF.MASTERID    
*/    
 --UPDATE DUE_DATE TO EXPECTED LIFE DATE IF AVAILABLE    20120717    
 UPDATE IFRS_ACCT_SL_CF_ECF    
 SET DUE_DATE = CASE     
   WHEN ISNULL(P.EXPECTED_LIFE, 0) > 0    
    THEN CASE     
      WHEN DATEADD(MM, P.EXPECTED_LIFE, B.LOAN_START_DATE) < B.LOAN_DUE_DATE    
       THEN DATEADD(MM, P.EXPECTED_LIFE, B.LOAN_START_DATE)    
      ELSE B.LOAN_DUE_DATE    
      END    
   ELSE B.LOAN_DUE_DATE    
   END    
 FROM IFRS_IMA_AMORT_CURR B    
 LEFT JOIN IFRS_PRODUCT_PARAM P ON P.PRD_CODE = B.PRODUCT_CODE    
  AND P.PRD_TYPE = B.PRODUCT_TYPE    
  AND P.DATA_SOURCE = B.DATA_SOURCE    
  AND P.CCY = B.CURRENCY    
 WHERE B.DOWNLOAD_DATE = @V_CURRDATE    
  AND IFRS_ACCT_SL_CF_ECF.MASTERID = B.MASTERID    
    
 -- DO FULL AMORT IF SUM COST FEE ZERO AND DONT CREATE NEW ECF    
 UPDATE IFRS_ACCT_COST_FEE    
 SET STATUS = 'PNL'    
  ,CREATEDBY = 'SLECF1'    
 WHERE DOWNLOAD_DATE = @V_CURRDATE    
  AND MASTERID IN (    
   SELECT MASTERID    
   FROM IFRS_ACCT_SL_CF_ECF    
   WHERE TOTAL_AMT = 0    
    OR TOTAL_AMT_ACRU = 0    
   )    
  AND STATUS = 'ACT'    
  --20180108 EXCLUDE CF REV AND ITS PAIR, WILL BE HANDLED BY ACF_ABN    
  AND CF_ID NOT IN (    
   SELECT CF_ID    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
       
   UNION ALL    
       
   SELECT CF_ID_REV    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
   )    
    
 -- IF LAST COST FEE PREV IS CURRDATE    
 UPDATE IFRS_ACCT_SL_COST_FEE_PREV    
 SET STATUS = 'PNL'    
  ,CREATEDBY = 'SLECF2'    
 WHERE ID IN (    
   SELECT A.ID    
   FROM IFRS_ACCT_SL_COST_FEE_PREV A    
    ,VW_LAST_SL_CF_PREV B    
   WHERE A.DOWNLOAD_DATE = @V_CURRDATE    
    AND A.MASTERID IN (    
     SELECT MASTERID    
     FROM IFRS_ACCT_SL_CF_ECF    
     WHERE TOTAL_AMT = 0    
      OR TOTAL_AMT_ACRU = 0    
     )    
    AND A.STATUS = 'ACT'    
    AND A.MASTERID = B.MASTERID    
    AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE    
    AND A.SEQ = B.SEQ    
   )    
  --20180108 EXCLUDE CF REV AND ITS PAIR, WILL BE HANDLED BY SP ACF ABN    
  AND CF_ID NOT IN (    
   SELECT CF_ID    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
       
   UNION ALL    
       
   SELECT CF_ID_REV    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
   )    
  --20180109 RESONA RECALC FROM START DATE : EXCLUDE ACCT TODAY HAVE REVERSAL    
  AND MASTERID NOT IN (    
   SELECT MASTERID    
   FROM #TODAYREV    
   )    
    
 -- IF LAST COST FEE PREV IS PREVDATE    
 UPDATE IFRS_ACCT_SL_COST_FEE_PREV    
 SET STATUS = 'PNL2'    
  ,CREATEDBY = 'SLECF2'    
 WHERE ID IN (    
   SELECT A.ID    
   FROM IFRS_ACCT_SL_COST_FEE_PREV A    
    ,VW_LAST_SL_CF_PREV B    
   WHERE A.DOWNLOAD_DATE = @V_PREVDATE    
    AND A.MASTERID IN (    
     SELECT MASTERID    
     FROM IFRS_ACCT_SL_CF_ECF    
     WHERE TOTAL_AMT = 0    
      OR TOTAL_AMT_ACRU = 0    
     )    
    AND A.STATUS = 'ACT'    
    AND A.MASTERID = B.MASTERID    
    AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE    
    --20180426 EXCLUDE PREVDATE IF NOT FROM SP ACF ACCRU    
    AND CASE     
     WHEN A.DOWNLOAD_DATE = @V_PREVDATE    
      AND A.SEQ <> '2'    
      THEN 0    
     ELSE 1    
     END = 1    
    AND A.SEQ = B.SEQ    
   )    
  --20180108 EXCLUDE CF REV AND ITS PAIR, WILL BE HANDLED BY ACF_ABN    
  AND CF_ID NOT IN (    
   SELECT CF_ID    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
       
   UNION ALL    
       
   SELECT CF_ID_REV    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
   )    
  --20180109 RESONA RECALC FROM START DATE : EXCLUDE ACCT TODAY HAVE REVERSAL    
  AND MASTERID NOT IN (    
   SELECT MASTERID    
   FROM #TODAYREV    
   )    
    
 IF @PARAM_DISABLE_ACCRU_PREV != 0    
 BEGIN    
  -- INSERT ACCRU PREV ONLY FOR PNL ED    
  -- GET LAST ACF WITH DO_AMORT=N    
  TRUNCATE TABLE TMP_P1    
    
  INSERT INTO TMP_P1 (ID)    
  SELECT MAX(ID) AS ID    
  FROM IFRS_ACCT_SL_ACF    
  WHERE MASTERID IN (    
    SELECT MASTERID    
    FROM TMP_T3    
    )    
   AND DO_AMORT = 'N'    
   AND DOWNLOAD_DATE < @V_CURRDATE    
   AND DOWNLOAD_DATE >= @V_PREVDATE    
   -- ADD FILTER PNL ED ACCTNO    
   AND MASTERID IN (    
    SELECT MASTERID    
    FROM IFRS_ACCT_SL_CF_ECF    
    WHERE TOTAL_AMT = 0    
     OR TOTAL_AMT_ACRU = 0    
    )    
   --20180109 RESONA RECALC FROM START DATE : EXCLUDE ACCT TODAY HAVE REVERSAL    
   AND MASTERID NOT IN (    
    SELECT MASTERID    
    FROM #TODAYREV    
    )    
  GROUP BY MASTERID    
    
  -- GET FEE SUMMARY    
  TRUNCATE TABLE TMP_TF    
    
  INSERT INTO TMP_TF (    
   SUM_AMT    
   ,DOWNLOAD_DATE    
   ,MASTERID    
   )    
  SELECT SUM(A.N_AMOUNT) AS SUM_AMT    
   ,A.DOWNLOAD_DATE    
   ,A.MASTERID    
  FROM (    
   SELECT CASE     
     WHEN A.FLAG_REVERSE = 'Y'    
      THEN - 1 * A.AMOUNT    
     ELSE A.AMOUNT    
     END AS N_AMOUNT    
    ,A.ECFDATE DOWNLOAD_DATE    
    ,A.MASTERID    
   FROM IFRS_ACCT_SL_COST_FEE_ECF A    
   WHERE A.MASTERID IN (    
     SELECT MASTERID    
     FROM TMP_T3    
     )    
    AND A.STATUS = 'ACT'    
    AND A.FLAG_CF = 'F'    
    AND A.METHOD = 'SL'    
   ) A    
  GROUP BY A.DOWNLOAD_DATE    
   ,A.MASTERID    
    
  -- GET COST SUMMARY    
  TRUNCATE TABLE TMP_TC    
    
  INSERT INTO TMP_TC (    
   SUM_AMT    
   ,DOWNLOAD_DATE    
   ,MASTERID    
   )    
  SELECT SUM(A.N_AMOUNT) AS SUM_AMT    
   ,A.DOWNLOAD_DATE    
   ,A.MASTERID    
  FROM (    
   SELECT CASE     
     WHEN A.FLAG_REVERSE = 'Y'    
      THEN - 1 * A.AMOUNT    
     ELSE A.AMOUNT    
     END AS N_AMOUNT    
    ,A.ECFDATE DOWNLOAD_DATE    
    ,A.MASTERID    
   FROM IFRS_ACCT_SL_COST_FEE_ECF A    
   WHERE A.MASTERID IN (    
     SELECT MASTERID    
     FROM TMP_T3    
     )    
    AND A.STATUS = 'ACT'    
    AND A.FLAG_CF = 'C'    
    AND A.METHOD = 'SL'    
   ) A    
  GROUP BY A.DOWNLOAD_DATE    
   ,A.MASTERID    
    
  --INSERT FEE 1    
  INSERT INTO IFRS_ACCT_SL_ACCRU_PREV (    
   FACNO    
   ,CIFNO    
   ,DOWNLOAD_DATE    
   ,ECFDATE    
   ,DATASOURCE    
   ,PRDCODE    
   ,TRXCODE    
   ,CCY    
   ,AMOUNT    
   ,STATUS    
   ,CREATEDDATE    
   ,ACCTNO    
   ,MASTERID    
   ,FLAG_CF    
   ,FLAG_REVERSE    
   ,AMORTDATE    
   ,SRCPROCESS    
   ,ORG_CCY    
   ,ORG_CCY_EXRATE    
   ,PRDTYPE    
   ,CF_ID    
   ,METHOD    
   )    
  SELECT A.FACNO    
   ,A.CIFNO    
   ,@V_CURRDATE    
   ,A.ECFDATE    
   ,A.DATASOURCE    
   ,B.PRDCODE    
   ,B.TRXCODE    
   ,B.CCY    
   ,CAST(CAST(CASE     
      WHEN B.FLAG_REVERSE = 'Y'    
       THEN - 1 * B.AMOUNT    
      ELSE B.AMOUNT    
      END AS FLOAT) / CAST(C.SUM_AMT AS FLOAT) AS DECIMAL(32, 20)) * A.N_ACCRU_FEE AS N_AMOUNT    
   ,B.STATUS    
   ,CURRENT_TIMESTAMP    
   ,A.ACCTNO    
   ,A.MASTERID    
   ,B.FLAG_CF    
   ,'N'    
   ,NULL AS AMORTDATE    
   ,'ECF'    
   ,B.ORG_CCY    
   ,B.ORG_CCY_EXRATE    
   ,B.PRDTYPE    
   ,B.CF_ID    
   ,B.METHOD    
  FROM IFRS_ACCT_SL_ACF A    
  JOIN IFRS_ACCT_SL_COST_FEE_ECF B ON B.ECFDATE = A.ECFDATE    
   AND A.MASTERID = B.MASTERID    
   AND B.FLAG_CF = 'F'    
  JOIN TMP_TF C ON C.DOWNLOAD_DATE = A.ECFDATE    
   AND C.MASTERID = A.MASTERID    
  WHERE A.ID IN (    
    SELECT ID    
    FROM TMP_P1    
    )    
   --20180108 EXCLUDE CF REV AND ITS PAIR    
   AND B.CF_ID NOT IN (    
    SELECT CF_ID    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
        
    UNION ALL    
        
    SELECT CF_ID_REV    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
    )    
    
  --COST 1    
  INSERT INTO IFRS_ACCT_SL_ACCRU_PREV (    
   FACNO    
   ,CIFNO    
   ,DOWNLOAD_DATE    
   ,ECFDATE    
   ,DATASOURCE    
   ,PRDCODE    
   ,TRXCODE    
   ,CCY    
   ,AMOUNT    
   ,STATUS    
   ,CREATEDDATE    
   ,ACCTNO    
   ,MASTERID    
   ,FLAG_CF    
   ,FLAG_REVERSE    
   ,AMORTDATE    
   ,SRCPROCESS    
   ,ORG_CCY    
   ,ORG_CCY_EXRATE    
   ,PRDTYPE    
   ,CF_ID    
   ,METHOD    
   )    
  SELECT A.FACNO    
   ,A.CIFNO    
   ,@V_CURRDATE    
   ,A.ECFDATE    
   ,A.DATASOURCE    
   ,B.PRDCODE    
   ,B.TRXCODE    
   ,B.CCY    
   ,CAST(CAST(CASE     
      WHEN B.FLAG_REVERSE = 'Y'    
   THEN - 1 * B.AMOUNT    
      ELSE B.AMOUNT    
      END AS FLOAT) / CAST(C.SUM_AMT AS FLOAT) AS DECIMAL(32, 20)) * A.N_ACCRU_COST AS N_AMOUNT    
   ,B.STATUS    
   ,CURRENT_TIMESTAMP    
   ,A.ACCTNO    
   ,A.MASTERID    
   ,B.FLAG_CF    
   ,'N'    
   ,NULL AS AMORTDATE    
   ,'ECF'    
   ,B.ORG_CCY    
   ,B.ORG_CCY_EXRATE    
   ,B.PRDTYPE    
   ,B.CF_ID    
   ,B.METHOD    
  FROM IFRS_ACCT_SL_ACF A    
  JOIN IFRS_ACCT_SL_COST_FEE_ECF B ON B.ECFDATE = A.ECFDATE    
   AND A.MASTERID = B.MASTERID    
   AND B.FLAG_CF = 'C'    
  JOIN TMP_TC C ON C.DOWNLOAD_DATE = A.ECFDATE    
   AND C.MASTERID = A.MASTERID    
  WHERE A.ID IN (    
    SELECT ID    
    FROM TMP_P1    
    )    
   --20180108 EXCLUDE CF REV AND ITS PAIR    
   AND B.CF_ID NOT IN (    
    SELECT CF_ID    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
        
    UNION ALL    
        
    SELECT CF_ID_REV    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
    )    
 END    
    
 -- MARK FOR DO AMORT ACRU    
 UPDATE IFRS_ACCT_SL_ACCRU_PREV    
 SET STATUS = CONVERT(VARCHAR(8), @V_CURRDATE, 112)    
 WHERE STATUS = 'ACT'    
  AND MASTERID IN (    
   SELECT MASTERID    
   FROM IFRS_ACCT_SL_CF_ECF    
   WHERE TOTAL_AMT = 0    
    OR TOTAL_AMT_ACRU = 0    
   )    
  
 -- STOP OLD ECF    
 UPDATE IFRS_ACCT_SL_ECF    
 SET AMORTSTOPDATE = @V_CURRDATE    
  ,AMORTSTOPREASON = 'SP_ACCT_SL_ECF'    
 WHERE MASTERID IN (    
   SELECT MASTERID    
   FROM IFRS_ACCT_SL_CF_ECF    
   )    
  AND AMORTSTOPDATE IS NULL    
  
 INSERT INTO IFRS_ACCT_SL_ECF_STOPPED (    
  DOWNLOAD_DATE    
  ,MASTERID    
  ,AMORTSTOPDATE    
  ,AMORTSTOPREASON    
  )    
 SELECT DOWNLOAD_DATE    
  ,MASTERID    
  ,AMORTSTOPDATE    
  ,AMORTSTOPREASON    
 FROM IFRS_ACCT_SL_ECF    
 WHERE AMORTSTOPDATE = @V_CURRDATE    
  AND AMORTSTOPREASON = 'SP_ACCT_SL_ECF'    
  AND PMTDATE = PREVDATE    
    
 -- 20160412 UPDATE START_AMORT_DATE    
 UPDATE IFRS_ACCT_SL_CF_ECF    
 SET START_AMORT_DATE = @V_CURRDATE    
    
 IF @PARAM_CALC_TO_LASTPAYMENT = 1    
 BEGIN    
  -- 20160412 SET START AMORT DATE TO LAST PAYMENT DATE    
  -- BETTER GET IT FROM MASTER ACCOUNT IF AVAILABLE    
  UPDATE IFRS_ACCT_SL_CF_ECF    
  SET START_AMORT_DATE = DUE_DATE    
    
  WHILE 1 = 1    
  BEGIN    
   UPDATE IFRS_ACCT_SL_CF_ECF    
   SET START_AMORT_DATE = DATEADD(MM, - 1, START_AMORT_DATE)    
   WHERE START_AMORT_DATE > @V_CURRDATE    
    
   IF NOT EXISTS (    
     SELECT *    
     FROM IFRS_ACCT_SL_CF_ECF    
     WHERE START_AMORT_DATE > @V_CURRDATE    
     )    
    BREAK    
  END    
 END    
    
 ---20180109 RESONA RECALC FROM START DATE    
 --UPDATE IFRS_ACCT_SL_CF_ECF     
 --SET START_AMORT_DATE=(    
 -- SELECT MAX(A.LOAN_START_DATE)     
 -- FROM IFRS_MASTER_ACCOUNT A     
 -- WHERE A.MASTERID=IFRS_ACCT_SL_CF_ECF.MASTERID AND A.DOWNLOAD_DATE=@V_CURRDATE    
 -- )    
 --WHERE MASTERID IN (SELECT MASTERID FROM #TODAYREV)    
 --20180327 RESONA RECALC FROM START DATE IF FIRST FEE / DONT HAVE PREVIOUS ECF    
 
 /* --REMARK BY SAID FOR BTPN
 --20180328 CTBC : REMARK IF MIGRATION DATE DIFFERENT WITH CURRDATE    
 UPDATE IFRS_ACCT_SL_CF_ECF    
 SET START_AMORT_DATE = (    
   SELECT MAX(A.LOAN_START_DATE)    
   FROM IFRS_MASTER_ACCOUNT A    
   WHERE A.MASTERID = IFRS_ACCT_SL_CF_ECF.MASTERID    
    AND A.DOWNLOAD_DATE = @V_CURRDATE    
   )    
 WHERE MASTERID IN (    
   SELECT A.MASTERID    
   FROM IFRS_ACCT_COST_FEE A    
   WHERE A.STATUS = 'ACT'    
    AND A.DOWNLOAD_DATE = @V_CURRDATE    
    AND A.DOWNLOAD_DATE <> '2018-01-01' --20180328 EXCLUDE MIGRATION    
    AND NOT EXISTS (    
     SELECT TOP 1 C.MASTERID    
     FROM IFRS_ACCT_SL_ECF C    
     WHERE C.MASTERID = A.MASTERID    
     )    
   )   
   */
    
    
 --NEW LOOP    
 TRUNCATE TABLE IFRS_ACCT_SL_ECF1    
    
 INSERT INTO IFRS_ACCT_SL_ECF1 (    
  DOWNLOAD_DATE    
  ,FACNO    
  ,CIFNO    
  ,DATASOURCE    
  ,PREVDATE    
  ,PMTDATE    
  ,I_DAYSCNT    
  ,N_UNAMORT_COST    
  ,N_UNAMORT_FEE    
  ,N_AMORT_COST    
  ,N_AMORT_FEE    
  ,CREATEDDATE    
  ,CREATEDBY    
  ,MASTERID    
  ,ACCTNO    
  ,N_DAILY_AMORT_COST    
  ,N_DAILY_AMORT_FEE    
  ,AMORTENDDATE    
  ,PERIOD    
  ,UNAMORT_COST_PREV    
  ,UNAMORT_FEE_PREV    
  ,START_AMORT_DATE    
  )    
 SELECT @V_CURRDATE    
  ,B.FACILITY_NUMBER    
  ,B.CUSTOMER_NUMBER    
  ,B.DATA_SOURCE    
  ,CASE     
   WHEN DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, A.DUE_DATE)) > 0    
    THEN DATEADD(MM, - 1, A.DUE_DATE)    
   ELSE A.START_AMORT_DATE    
   END -- AS PREVDATE    
  ,A.DUE_DATE -- AS PMTDATE    
  ,DATEDIFF(DD, CASE     
    WHEN DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, A.DUE_DATE)) > 0    
     THEN DATEADD(MM, - 1, A.DUE_DATE)    
    ELSE A.START_AMORT_DATE    
    END, A.DUE_DATE) --DAYSCOUNT    
  ,A.COST_AMT - (CAST(DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) AS FLOAT) / CAST(DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) AS FLOAT) * A.COST_AMT) --UNAMORT COST    
  ,A.FEE_AMT - (CAST(DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) AS FLOAT) / CAST(DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) AS FLOAT) * A.FEE_AMT) --UNAMORT FEE    
  ,(CAST(DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) AS FLOAT) / CAST(DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) AS FLOAT) * A.COST_AMT) * - 1 --AMORT COST    
  ,(CAST(DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) AS FLOAT) / CAST(DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) AS FLOAT) * A.FEE_AMT) * - 1 --AMORT FEE    
  ,CURRENT_TIMESTAMP    
  ,'SP_ACCT_SL_ECF'    
  ,B.MASTERID    
  ,B.ACCOUNT_NUMBER    
  ,(A.COST_AMT / DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE)) * - 1    
  ,(A.FEE_AMT / DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE)) * - 1    
  ,A.DUE_DATE AMORTENDATE    
  ,DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) PERIOD    
  ,A.COST_AMT - (    
   CAST(DATEDIFF(DD, A.START_AMORT_DATE, CASE     
      WHEN DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, A.DUE_DATE)) > 0    
       THEN DATEADD(MM, - 1, A.DUE_DATE)    
      ELSE A.START_AMORT_DATE    
      END) AS FLOAT) / CAST(DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) AS FLOAT) * CAST(A.COST_AMT AS FLOAT)    
   ) --UNAMORT COST    
  ,A.FEE_AMT - (    
   CAST(DATEDIFF(DD, A.START_AMORT_DATE, CASE     
      WHEN DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, A.DUE_DATE)) > 0    
       THEN DATEADD(MM, - 1, A.DUE_DATE)    
      ELSE A.START_AMORT_DATE    
      END) AS FLOAT) / CAST(DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) AS FLOAT) * CAST(A.FEE_AMT AS FLOAT)    
   ) --UNAMORT FEE    
  ,A.START_AMORT_DATE    
 FROM IFRS_ACCT_SL_CF_ECF A    
 JOIN IFRS_IMA_AMORT_CURR B ON B.DOWNLOAD_DATE = @V_CURRDATE    
  AND A.MASTERID = B.MASTERID    
  AND B.LOAN_DUE_DATE > @V_CURRDATE    
 WHERE A.TOTAL_AMT <> 0    
  AND A.TOTAL_AMT_ACRU <> 0    
  AND A.DUE_DATE > @V_CURRDATE    
    
 WHILE 1 = 1    
 BEGIN    
  INSERT INTO IFRS_ACCT_SL_ECF (    
   DOWNLOAD_DATE    
   ,FACNO    
   ,CIFNO    
   ,DATASOURCE    
   ,PREVDATE    
   ,PMTDATE    
   ,I_DAYSCNT    
   ,N_UNAMORT_COST    
   ,N_UNAMORT_FEE    
   ,N_AMORT_COST    
   ,N_AMORT_FEE    
   ,CREATEDDATE    
   ,CREATEDBY    
   ,MASTERID    
   ,ACCTNO    
   ,N_DAILY_AMORT_COST    
   ,N_DAILY_AMORT_FEE    
   ,AMORTENDDATE    
   ,PERIOD    
   ,UNAMORT_COST_PREV    
   ,UNAMORT_FEE_PREV    
   )    
  SELECT DOWNLOAD_DATE    
   ,FACNO    
   ,CIFNO    
   ,DATASOURCE    
   ,PREVDATE    
   ,PMTDATE    
   ,I_DAYSCNT    
   ,N_UNAMORT_COST    
   ,N_UNAMORT_FEE    
   ,N_AMORT_COST    
   ,N_AMORT_FEE    
   ,CREATEDDATE    
   ,CREATEDBY    
   ,MASTERID    
   ,ACCTNO    
   ,N_DAILY_AMORT_COST    
   ,N_DAILY_AMORT_FEE    
   ,AMORTENDDATE    
   ,PERIOD    
   ,UNAMORT_COST_PREV    
   ,UNAMORT_FEE_PREV    
  FROM IFRS_ACCT_SL_ECF1    
    
  TRUNCATE TABLE IFRS_ACCT_SL_ECF2    
    
  INSERT INTO IFRS_ACCT_SL_ECF2 (    
   DOWNLOAD_DATE    
   ,FACNO    
   ,CIFNO    
   ,DATASOURCE    
   ,PREVDATE    
   ,PMTDATE    
   ,I_DAYSCNT    
   ,N_UNAMORT_COST    
   ,N_UNAMORT_FEE    
   ,N_AMORT_COST    
   ,N_AMORT_FEE    
   ,CREATEDDATE    
   ,CREATEDBY    
   ,MASTERID    
   ,ACCTNO    
   ,N_DAILY_AMORT_COST    
   ,N_DAILY_AMORT_FEE    
   ,AMORTENDDATE    
   ,PERIOD    
   ,UNAMORT_COST_PREV    
   ,UNAMORT_FEE_PREV    
   ,START_AMORT_DATE    
   )    
  SELECT DOWNLOAD_DATE    
   ,FACNO    
   ,CIFNO    
   ,DATASOURCE    
   ,PREVDATE    
   ,PMTDATE    
   ,I_DAYSCNT    
   ,N_UNAMORT_COST    
   ,N_UNAMORT_FEE    
   ,N_AMORT_COST    
   ,N_AMORT_FEE    
   ,CREATEDDATE    
   ,CREATEDBY    
   ,MASTERID    
   ,ACCTNO    
   ,N_DAILY_AMORT_COST    
   ,N_DAILY_AMORT_FEE    
   ,AMORTENDDATE    
   ,PERIOD    
   ,UNAMORT_COST_PREV    
   ,UNAMORT_FEE_PREV    
   ,START_AMORT_DATE    
  FROM IFRS_ACCT_SL_ECF1    
    
  TRUNCATE TABLE IFRS_ACCT_SL_ECF1    
    
  INSERT INTO IFRS_ACCT_SL_ECF1 (    
   DOWNLOAD_DATE    
   ,FACNO    
   ,CIFNO    
   ,DATASOURCE    
   ,PREVDATE    
   ,PMTDATE    
   ,I_DAYSCNT    
   ,N_UNAMORT_COST    
   ,N_UNAMORT_FEE    
   ,N_AMORT_COST    
   ,N_AMORT_FEE    
   ,CREATEDDATE    
   ,CREATEDBY    
   ,MASTERID    
   ,ACCTNO    
   ,N_DAILY_AMORT_COST    
   ,N_DAILY_AMORT_FEE    
   ,AMORTENDDATE    
   ,PERIOD    
   ,UNAMORT_COST_PREV    
   ,UNAMORT_FEE_PREV    
   ,START_AMORT_DATE    
   )    
  SELECT @V_CURRDATE    
   ,A.FACNO    
   ,A.CIFNO    
   ,A.DATASOURCE    
   ,CASE     
    WHEN DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, DATEADD(MM, - 1, A.PMTDATE))) > 0    
     THEN DATEADD(MM, - 1, DATEADD(MM, - 1, A.PMTDATE))    
    ELSE A.START_AMORT_DATE    
    END --PREVDATE    
   ,DATEADD(MM, - 1, A.PMTDATE) --PMTDATE    
   ,DATEDIFF(DD, CASE     
     WHEN DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, DATEADD(MM, - 1, A.PMTDATE))) > 0    
      THEN DATEADD(MM, - 1, DATEADD(MM, - 1, A.PMTDATE))    
     ELSE A.START_AMORT_DATE    
     END, DATEADD(MM, - 1, A.PMTDATE)) --DAYSCOUNT    
   ,B.COST_AMT - (CAST(DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, A.PMTDATE)) AS FLOAT) / CAST(A.PERIOD AS FLOAT) * CAST(B.COST_AMT AS FLOAT)) --UNAMORT COST    
   ,B.FEE_AMT - (CAST(DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, A.PMTDATE)) AS FLOAT) / CAST(A.PERIOD AS FLOAT) * CAST(B.FEE_AMT AS FLOAT)) --UNAMORT FEE    
   ,((CAST(DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, A.PMTDATE)) AS FLOAT) / CAST(A.PERIOD AS FLOAT) * CAST(B.COST_AMT AS FLOAT))) * - 1 --AMORT COST    
   ,((CAST(DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, A.PMTDATE)) AS FLOAT) / CAST(A.PERIOD AS FLOAT) * CAST(B.FEE_AMT AS FLOAT))) * - 1 --AMORT FEE    
   ,CURRENT_TIMESTAMP    
   ,'SP_ACCT_SL_ECF'    
   ,A.MASTERID    
   ,A.ACCTNO    
   ,A.N_DAILY_AMORT_COST    
   ,A.N_DAILY_AMORT_FEE    
   ,A.AMORTENDDATE    
   ,A.PERIOD    
   ,B.COST_AMT - (    
    CAST(DATEDIFF(DD, A.START_AMORT_DATE, CASE     
       WHEN DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, DATEADD(MM, - 1, A.PMTDATE))) > 0    
        THEN DATEADD(MM, - 1, DATEADD(MM, - 1, A.PMTDATE))    
       ELSE A.START_AMORT_DATE    
       END) AS FLOAT) / CAST(A.PERIOD AS FLOAT) * CAST(B.COST_AMT AS FLOAT)    
    ) --UNAMORT COST    
   ,B.FEE_AMT - (    
    CAST(DATEDIFF(DD, A.START_AMORT_DATE, CASE     
       WHEN DATEDIFF(DD, A.START_AMORT_DATE, DATEADD(MM, - 1, DATEADD(MM, - 1, A.PMTDATE))) > 0    
        THEN DATEADD(MM, - 1, DATEADD(MM, - 1, A.PMTDATE))    
       ELSE A.START_AMORT_DATE    
       END) AS FLOAT) / CAST(A.PERIOD AS FLOAT) * CAST(B.FEE_AMT AS FLOAT)    
    ) --UNAMORT FEE    
   ,A.START_AMORT_DATE    
  FROM IFRS_ACCT_SL_ECF2 A    
  JOIN IFRS_ACCT_SL_CF_ECF B ON B.MASTERID = A.MASTERID    
    
  DELETE    
  FROM IFRS_ACCT_SL_ECF1    
  WHERE PMTDATE <= START_AMORT_DATE    
    
  IF NOT EXISTS (    
    SELECT TOP 1 *    
    FROM IFRS_ACCT_SL_ECF1    
    )    
   BREAK    
 END    
    
 -- CURRDATE ROW    
 INSERT INTO IFRS_ACCT_SL_ECF (    
  DOWNLOAD_DATE    
  ,FACNO    
  ,CIFNO    
  ,DATASOURCE    
  ,PREVDATE    
  ,PMTDATE    
  ,I_DAYSCNT    
  ,N_UNAMORT_COST    
  ,N_UNAMORT_FEE    
  ,N_AMORT_COST    
  ,N_AMORT_FEE    
  ,CREATEDDATE    
  ,CREATEDBY    
  ,MASTERID    
  ,ACCTNO    
  ,N_DAILY_AMORT_COST    
  ,N_DAILY_AMORT_FEE    
  ,AMORTENDDATE    
,PERIOD    
  ,UNAMORT_COST_PREV    
  ,UNAMORT_FEE_PREV    
  )    
 SELECT @V_CURRDATE    
  ,B.FACILITY_NUMBER    
  ,B.CUSTOMER_NUMBER    
  ,B.DATA_SOURCE    
  ,A.START_AMORT_DATE    
  ,A.START_AMORT_DATE    
  ,0    
  ,A.COST_AMT    
  ,A.FEE_AMT    
  ,0    
  ,0    
  ,CURRENT_TIMESTAMP    
  ,NULL    
  ,B.MASTERID    
  ,B.ACCOUNT_NUMBER    
  ,(A.COST_AMT / DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE)) * - 1    
  ,(A.FEE_AMT / DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE)) * - 1    
  ,A.DUE_DATE AMORTENDATE    
  ,DATEDIFF(DD, A.START_AMORT_DATE, A.DUE_DATE) PERIOD    
  ,A.COST_AMT    
  ,A.FEE_AMT    
 FROM IFRS_ACCT_SL_CF_ECF A    
 JOIN IFRS_IMA_AMORT_CURR B ON B.DOWNLOAD_DATE = @V_CURRDATE    
  AND A.MASTERID = B.MASTERID    
  AND B.LOAN_DUE_DATE > @V_CURRDATE    
 WHERE A.TOTAL_AMT <> 0    
  AND A.TOTAL_AMT_ACRU <> 0    
  AND A.DUE_DATE > @V_CURRDATE    
    
 -- INSERT IFRS_ACCT_SL_COST_FEE_ECF    
 --DELETE FROM IFRS_ACCT_SL_COST_FEE_ECF WHERE ECFDATE=@V_CURRDATE    
 INSERT INTO IFRS_ACCT_SL_COST_FEE_ECF (    
  DOWNLOAD_DATE    
  ,ECFDATE    
  ,MASTERID    
  ,BRCODE    
  ,CIFNO    
  ,FACNO    
  ,ACCTNO    
  ,DATASOURCE    
  ,CCY    
  ,PRDCODE    
  ,TRXCODE    
  ,FLAG_CF    
  ,FLAG_REVERSE    
  ,METHOD    
  ,STATUS    
  ,SRCPROCESS    
  ,AMOUNT    
  ,CREATEDDATE    
  ,CREATEDBY    
  ,SEQ    
  ,AMOUNT_ORG    
  ,ORG_CCY    
  ,ORG_CCY_EXRATE    
  ,PRDTYPE    
  ,CF_ID    
  )    
 -- INSERT CURRDATE COST/FEE    
 SELECT C.DOWNLOAD_DATE    
  ,@V_CURRDATE ECFDATE    
  ,C.MASTERID    
  ,C.BRCODE    
  ,C.CIFNO    
  ,C.FACNO    
  ,C.ACCTNO    
  ,C.DATASOURCE    
  ,C.CCY    
  ,C.PRD_CODE    
  ,C.TRX_CODE    
  ,C.FLAG_CF    
  ,C.FLAG_REVERSE    
  ,C.METHOD    
  ,C.STATUS    
  ,C.SRCPROCESS    
  ,C.AMOUNT    
  ,CURRENT_TIMESTAMP CREATEDDATE    
  ,'SL_ECF_MAIN' CREATEDBY    
  ,'' SEQ    
  ,C.AMOUNT    
  ,C.ORG_CCY    
  ,C.ORG_CCY_EXRATE    
  ,C.PRD_TYPE    
  ,C.CF_ID    
 FROM IFRS_ACCT_COST_FEE C    
 JOIN IFRS_ACCT_SL_CF_ECF B ON B.MASTERID = C.MASTERID    
  AND B.TOTAL_AMT <> 0    
  AND B.TOTAL_AMT_ACRU <> 0    
 WHERE C.DOWNLOAD_DATE = @V_CURRDATE    
  AND C.MASTERID = B.MASTERID    
  AND C.STATUS = 'ACT'    
  AND C.METHOD = 'SL'    
  --20180108 EXCLUDE CF REV AND ITS PAIR    
  AND C.CF_ID NOT IN (    
   SELECT CF_ID    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
       
   UNION ALL    
       
   SELECT CF_ID_REV    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
   )    
     
 UNION ALL       
 -- INSERT UNAMORT    
 SELECT C.DOWNLOAD_DATE    
  ,@V_CURRDATE ECFDATE    
  ,C.MASTERID    
  ,C.BRCODE    
  ,C.CIFNO    
  ,C.FACNO    
  ,C.ACCTNO    
  ,C.DATASOURCE    
  ,C.CCY    
  ,C.PRDCODE    
  ,C.TRXCODE    
  ,C.FLAG_CF    
  ,C.FLAG_REVERSE    
  ,C.METHOD    
  ,C.STATUS    
  ,C.SRCPROCESS    
  ,CASE     
   WHEN CFREV.MASTERID IS NULL    
    THEN C.AMOUNT    
   ELSE C.AMOUNT_ORG    
   END    
  ,CURRENT_TIMESTAMP CREATEDDATE    
  ,'SL_ECF_MAIN' CREATEDBY    
  ,'' SEQ    
  ,C.AMOUNT_ORG    
  ,C.ORG_CCY    
  ,C.ORG_CCY_EXRATE    
  ,C.PRDTYPE    
  ,C.CF_ID    
 FROM IFRS_ACCT_SL_COST_FEE_PREV C    
 JOIN VW_LAST_SL_CF_PREV X ON X.MASTERID = C.MASTERID    
  AND X.DOWNLOAD_DATE = C.DOWNLOAD_DATE    
  AND C.SEQ = X.SEQ    
 JOIN IFRS_ACCT_SL_CF_ECF B ON B.MASTERID = C.MASTERID    
  AND B.TOTAL_AMT <> 0    
  AND B.TOTAL_AMT_ACRU <> 0    
 --20160721    
 LEFT JOIN #IFRS_ACCT_STOP_REV REV ON C.MASTERID = REV.MASTERID    
 --20180109 RESONA RECALC FROM LOAN START DATE    
 LEFT JOIN #TODAYREV CFREV ON CFREV.MASTERID = C.MASTERID    
 WHERE C.DOWNLOAD_DATE IN (    
   @V_CURRDATE    
   ,@V_PREVDATE    
   )    
  AND C.STATUS = 'ACT'    
  -- 20160407 SL STOP REV EXCLUDED    
  AND REV.MASTERID IS NULL    
  --20180108 EXCLUDE CF REV AND ITS PAIR    
  AND C.CF_ID NOT IN (    
   SELECT CF_ID    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
       
   UNION ALL    
       
   SELECT CF_ID_REV    
   FROM IFRS_ACCT_COST_FEE    
   WHERE DOWNLOAD_DATE = @V_CURRDATE    
    AND FLAG_REVERSE = 'Y'    
    AND CF_ID_REV IS NOT NULL    
   )    
  --20180426 EXCLUDE PREVDATE IF NOT FROM SP ACF ACCRU    
  AND CASE     
   WHEN C.DOWNLOAD_DATE = @V_PREVDATE    
    AND C.SEQ <> '2'    
    THEN 0    
   ELSE 1    
   END = 1    
    
 IF @PARAM_DISABLE_ACCRU_PREV != 0    
 BEGIN    
  -- PURPOSE : TO INSERT YESTERDAY ACCRU TO SL_COST_FEE ECF    
  -- NO ACCRU IF TODAY IS DOING AMORT    
  TRUNCATE TABLE TMP_T1    
    
  INSERT INTO TMP_T1 (MASTERID)    
  SELECT DISTINCT MASTERID    
  FROM IFRS_ACCT_SL_ACF    
  WHERE DOWNLOAD_DATE = @V_CURRDATE    
   AND DO_AMORT = 'Y'    
    
  TRUNCATE TABLE TMP_T3    
    
  INSERT INTO TMP_T3 (MASTERID)    
  SELECT MASTERID    
  FROM IFRS_ACCT_SL_CF_ECF    
  WHERE MASTERID NOT IN (    
    SELECT MASTERID    
    FROM TMP_T1    
    )    
    
  -- GET LAST ACF WITH DO_AMORT=N    
  TRUNCATE TABLE TMP_P1    
    
  INSERT INTO TMP_P1 (ID)    
  SELECT MAX(ID) AS ID    
  FROM IFRS_ACCT_SL_ACF    
  WHERE MASTERID IN (    
    SELECT MASTERID    
    FROM TMP_T3    
    )    
   AND DO_AMORT = 'N'    
   AND DOWNLOAD_DATE < @V_CURRDATE    
   AND DOWNLOAD_DATE >= @V_PREVDATE    
   --20180109 RESONA RECALC FROM START DATE    
   AND MASTERID NOT IN (    
    SELECT MASTERID    
    FROM #TODAYREV    
    )    
  GROUP BY MASTERID    
    
  -- GET FEE SUMMARY    
  TRUNCATE TABLE TMP_TF    
    
  INSERT INTO TMP_TF (    
   SUM_AMT    
   ,DOWNLOAD_DATE    
   ,MASTERID    
   )    
  SELECT SUM(A.N_AMOUNT) AS SUM_AMT    
   ,A.DOWNLOAD_DATE    
   ,A.MASTERID    
  FROM (    
   SELECT CASE     
     WHEN A.FLAG_REVERSE = 'Y'    
      THEN - 1 * A.AMOUNT    
     ELSE A.AMOUNT    
     END AS N_AMOUNT    
    ,A.ECFDATE DOWNLOAD_DATE    
    ,A.MASTERID    
   FROM IFRS_ACCT_SL_COST_FEE_ECF A    
   WHERE A.MASTERID IN (    
     SELECT MASTERID    
     FROM TMP_T3    
     )    
    AND A.STATUS = 'ACT'    
    AND A.FLAG_CF = 'F'    
    AND A.METHOD = 'SL'    
   ) A    
  GROUP BY A.DOWNLOAD_DATE    
   ,A.MASTERID    
    
  -- GET COST SUMMARY    
  TRUNCATE TABLE TMP_TC    
    
  INSERT INTO TMP_TC (    
   SUM_AMT    
   ,DOWNLOAD_DATE    
   ,MASTERID    
   )    
  SELECT SUM(A.N_AMOUNT) AS SUM_AMT    
   ,A.DOWNLOAD_DATE    
   ,A.MASTERID    
  FROM (    
   SELECT CASE     
     WHEN A.FLAG_REVERSE = 'Y'    
      THEN - 1 * A.AMOUNT    
     ELSE A.AMOUNT    
     END AS N_AMOUNT    
    ,A.ECFDATE DOWNLOAD_DATE    
    ,A.MASTERID    
   FROM IFRS_ACCT_SL_COST_FEE_ECF A    
   WHERE A.MASTERID IN (    
     SELECT MASTERID    
     FROM TMP_T3    
     )    
    AND A.STATUS = 'ACT'    
    AND A.FLAG_CF = 'C'    
    AND A.METHOD = 'SL'    
   ) A    
  GROUP BY A.DOWNLOAD_DATE    
   ,A.MASTERID    
    
  --INSERT FEE 1     
  INSERT INTO IFRS_ACCT_SL_COST_FEE_ECF (    
   FACNO    
   ,CIFNO    
   ,DOWNLOAD_DATE    
   ,ECFDATE    
   ,DATASOURCE    
   ,PRDCODE    
   ,TRXCODE    
   ,CCY    
   ,AMOUNT    
   ,STATUS    
   ,CREATEDDATE    
   ,ACCTNO    
   ,MASTERID    
   ,FLAG_CF    
   ,FLAG_REVERSE    
   ,SRCPROCESS    
   ,ORG_CCY    
   ,ORG_CCY_EXRATE    
   ,PRDTYPE    
   ,CF_ID    
   ,BRCODE    
   ,METHOD    
   )    
  SELECT A.FACNO    
   ,A.CIFNO    
   ,@V_CURRDATE    
   ,@V_CURRDATE ECFDATE    
   ,A.DATASOURCE    
   ,B.PRDCODE    
   ,B.TRXCODE    
   ,B.CCY    
   ,CAST(CAST(CASE     
      WHEN B.FLAG_REVERSE = 'Y'    
       THEN - 1 * B.AMOUNT    
      ELSE B.AMOUNT    
      END AS FLOAT) / CAST(C.SUM_AMT AS FLOAT) AS DECIMAL(32, 20)) * A.N_ACCRU_FEE * - 1 AS N_AMOUNT    
   ,B.STATUS    
   ,CURRENT_TIMESTAMP    
   ,A.ACCTNO    
   ,A.MASTERID    
   ,B.FLAG_CF    
   ,'N'    
   ,'ECFACCRU'    
   ,B.ORG_CCY    
   ,B.ORG_CCY_EXRATE    
   ,B.PRDTYPE    
   ,B.CF_ID    
   ,B.BRCODE    
   ,B.METHOD    
  FROM IFRS_ACCT_SL_ACF A    
  JOIN IFRS_ACCT_SL_COST_FEE_ECF B ON B.ECFDATE = A.ECFDATE    
   AND A.MASTERID = B.MASTERID    
   AND B.FLAG_CF = 'F'    
   AND B.STATUS = 'ACT'      
      AND A.MASTERID NOT IN (    
   SELECT DISTINCT MASTERID     
   FROM IFRS_ACCT_SWITCH    
   WHERE DOWNLOAD_DATE = @V_CURRDATE)     
  JOIN TMP_TF C ON C.DOWNLOAD_DATE = A.ECFDATE    
   AND C.MASTERID = A.MASTERID    
  --20160721    
  LEFT JOIN #IFRS_ACCT_STOP_REV REV ON A.MASTERID = REV.MASTERID    
  WHERE A.ID IN (    
    SELECT ID    
    FROM TMP_P1    
    )    
   --20160407 SL STOP REV    
   --AND A.MASTERID NOT IN (SELECT MASTERID FROM IFRS_ACCT_SL_STOP_REV WHERE DOWNLOAD_DATE=@V_CURRDATE)    
   AND REV.MASTERID IS NULL    
   --20180108 EXCLUDE CF REV AND ITS PAIR    
   AND B.CF_ID NOT IN (    
    SELECT CF_ID    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
        
    UNION ALL    
        
    SELECT CF_ID_REV    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
    )    
    
  --COST 1    
  INSERT INTO IFRS_ACCT_SL_COST_FEE_ECF (    
   FACNO    
   ,CIFNO    
   ,DOWNLOAD_DATE    
   ,ECFDATE    
   ,DATASOURCE    
   ,PRDCODE    
   ,TRXCODE    
   ,CCY    
   ,AMOUNT    
   ,STATUS    
   ,CREATEDDATE    
   ,ACCTNO    
   ,MASTERID    
   ,FLAG_CF    
   ,FLAG_REVERSE    
   ,SRCPROCESS    
   ,ORG_CCY    
   ,ORG_CCY_EXRATE    
   ,PRDTYPE    
   ,CF_ID    
   ,BRCODE    
   ,METHOD    
   )    
  SELECT A.FACNO    
   ,A.CIFNO    
   ,@V_CURRDATE    
   ,@V_CURRDATE ECFDATE    
   ,A.DATASOURCE    
   ,B.PRDCODE    
   ,B.TRXCODE    
   ,B.CCY    
   ,CAST(CAST(CASE     
      WHEN B.FLAG_REVERSE = 'Y'    
       THEN - 1 * B.AMOUNT    
      ELSE B.AMOUNT    
      END AS FLOAT) / CAST(C.SUM_AMT AS FLOAT) AS DECIMAL(32, 20)) * A.N_ACCRU_COST * - 1 AS N_AMOUNT    
   ,B.STATUS    
   ,CURRENT_TIMESTAMP    
   ,A.ACCTNO    
   ,A.MASTERID    
   ,B.FLAG_CF    
   ,'N'    
   ,'ECFACCRU'    
   ,B.ORG_CCY    
   ,B.ORG_CCY_EXRATE    
   ,B.PRDTYPE    
   ,B.CF_ID    
   ,B.BRCODE    
   ,B.METHOD    
  FROM IFRS_ACCT_SL_ACF A    
  JOIN IFRS_ACCT_SL_COST_FEE_ECF B ON B.ECFDATE = A.ECFDATE    
   AND A.MASTERID = B.MASTERID    
   AND B.FLAG_CF = 'C'    
   AND B.STATUS = 'ACT'      
      AND A.MASTERID NOT IN (    
   SELECT DISTINCT MASTERID     
   FROM IFRS_ACCT_SWITCH    
   WHERE DOWNLOAD_DATE = @V_CURRDATE)     
  JOIN TMP_TC C ON C.DOWNLOAD_DATE = A.ECFDATE    
   AND C.MASTERID = A.MASTERID    
  --20160721    
  LEFT JOIN #IFRS_ACCT_STOP_REV REV ON A.MASTERID = REV.MASTERID    
  WHERE A.ID IN (    
    SELECT ID    
    FROM TMP_P1    
    )    
   --20160407 EIR STOP REV    
   AND REV.MASTERID IS NULL    
   --20180108 EXCLUDE CF REV AND ITS PAIR    
   AND B.CF_ID NOT IN (    
    SELECT CF_ID    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
        
    UNION ALL    
        
    SELECT CF_ID_REV    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
    )    
 END    
    
 -- 20160412 GROUP MULTIPLE ROWS BY CF_ID    
 EXEC SP_IFRS_ACCT_SL_CF_ECF_GRP    
    
 -- GET ALL MASTER ID OF NEWLY GENERATED SL ECF    
 SELECT DISTINCT MASTERID    
 INTO #M0    
 FROM IFRS_ACCT_SL_ECF    
 WHERE DOWNLOAD_DATE = @V_CURRDATE    
    
 --FILTER OUT NOT TODAY STOPPED ECF    
 SELECT DISTINCT A.MASTERID    
 INTO #MX    
 FROM #M0 A    
 JOIN IFRS_ACCT_SL_ECF B ON B.PREVDATE = B.PMTDATE    
  AND B.AMORTSTOPDATE = @V_CURRDATE    
  AND B.MASTERID = A.MASTERID    
     
 UNION -- 20171013 ALSO INCLUDE ACCOUNT WITH ZERO AMOUNT (FIX CHKAMORT ON DUE_DATE CHANGE WHEN END_AMORT_DT - 1)    
     
 SELECT MASTERID    
 FROM IFRS_ACCT_SL_CF_ECF    
 WHERE TOTAL_AMT = 0    
  OR TOTAL_AMT_ACRU = 0    
    
 SELECT DISTINCT A.MASTERID    
 INTO #M    
 FROM #MX A    
 LEFT JOIN #IFRS_ACCT_STOP_REV REV ON A.MASTERID = REV.MASTERID    
 LEFT JOIN IFRS_ACCT_SWITCH SWITCH ON A.MASTERID = SWITCH.MASTERID    
  AND SWITCH.DOWNLOAD_DATE = @V_CURRDATE    
 WHERE    
  --SWITCH EXCLUDED    
  SWITCH.MASTERID IS NULL    
  -- 20160407 SL STOP REV EXCLUDED    
  AND REV.MASTERID IS NULL    
    
 -- INSERT ACCRU VALUES FOR NEWLY GENERATED ECF    
 -- NO ACCRU IF TODAY IS DOING AMORT    
 SELECT DISTINCT MASTERID    
 INTO #M2    
 FROM IFRS_ACCT_SL_ACF    
 WHERE DOWNLOAD_DATE = @V_CURRDATE    
  AND DO_AMORT = 'Y'    
    
 SELECT MASTERID    
 INTO #ACRU    
 FROM #M    
 WHERE MASTERID NOT IN (    
   SELECT MASTERID    
   FROM #M2    
   )    
    
 IF @PARAM_DISABLE_ACCRU_PREV = 0    
 BEGIN    
  -- GET LAST ACF WITH DO_AMORT=N    
  SELECT MAX(ID) AS ID    
  INTO #ACRU2    
  FROM IFRS_ACCT_SL_ACF    
  WHERE MASTERID IN (    
    SELECT MASTERID    
    FROM #ACRU    
    )    
   AND DO_AMORT = 'N'    
   AND DOWNLOAD_DATE < @V_CURRDATE    
   --20180109 RESONA RECALC FROM START DATE    
   AND MASTERID NOT IN (    
    SELECT MASTERID    
    FROM #TODAYREV    
    )    
  GROUP BY MASTERID    
    
  -- GET FEE SUMMARY    
  SELECT SUM(A.N_AMOUNT) AS SUM_AMT    
   ,A.DOWNLOAD_DATE    
   ,A.MASTERID    
  INTO #TF    
  FROM (    
   SELECT CASE     
     WHEN A.FLAG_REVERSE = 'Y'    
      THEN - 1 * A.AMOUNT    
     ELSE A.AMOUNT    
     END AS N_AMOUNT    
    ,A.ECFDATE DOWNLOAD_DATE    
    ,A.MASTERID    
   FROM IFRS_ACCT_SL_COST_FEE_ECF A    
   WHERE A.MASTERID IN (    
     SELECT MASTERID    
     FROM #ACRU    
     )    
    AND A.STATUS = 'ACT'    
    AND A.FLAG_CF = 'F'    
    AND A.METHOD = 'SL'    
   ) A    
  GROUP BY A.DOWNLOAD_DATE    
   ,A.MASTERID    
    
  -- GET COST SUMMARY    
  SELECT SUM(A.N_AMOUNT) AS SUM_AMT    
   ,A.DOWNLOAD_DATE    
   ,A.MASTERID    
  INTO #TC    
  FROM (    
   SELECT CASE     
     WHEN A.FLAG_REVERSE = 'Y'    
      THEN - 1 * A.AMOUNT    
     ELSE A.AMOUNT    
     END AS N_AMOUNT    
    ,A.ECFDATE DOWNLOAD_DATE    
    ,A.MASTERID    
   FROM IFRS_ACCT_SL_COST_FEE_ECF A    
   WHERE A.MASTERID IN (    
     SELECT MASTERID    
     FROM #ACRU    
     )    
    AND A.STATUS = 'ACT'    
    AND A.FLAG_CF = 'C'    
    AND A.METHOD = 'SL'    
   ) A    
  GROUP BY A.DOWNLOAD_DATE    
   ,A.MASTERID    
    
  --INSERT FEE 1    
  INSERT INTO IFRS_ACCT_SL_ACCRU_PREV (    
   FACNO    
   ,CIFNO    
   ,DOWNLOAD_DATE    
   ,ECFDATE    
   ,DATASOURCE    
   ,PRDCODE    
   ,TRXCODE    
   ,CCY    
   ,AMOUNT    
   ,STATUS    
   ,CREATEDDATE    
   ,ACCTNO    
   ,MASTERID    
   ,FLAG_CF    
   ,FLAG_REVERSE    
   ,AMORTDATE    
   ,SRCPROCESS    
   ,ORG_CCY    
   ,ORG_CCY_EXRATE    
   ,PRDTYPE    
   ,CF_ID    
   )    
  SELECT A.FACNO    
   ,A.CIFNO    
   ,@V_CURRDATE    
   ,A.ECFDATE    
   ,A.DATASOURCE    
   ,B.PRDCODE    
   ,B.TRXCODE    
   ,B.CCY    
   ,CAST(CAST(CASE     
      WHEN B.FLAG_REVERSE = 'Y'    
       THEN - 1 * B.AMOUNT    
      ELSE B.AMOUNT    
      END AS FLOAT) / CAST(C.SUM_AMT AS FLOAT) AS DECIMAL(32, 20)) * A.N_ACCRU_FEE AS N_AMOUNT    
   ,B.STATUS    
   ,CURRENT_TIMESTAMP    
   ,A.ACCTNO    
   ,A.MASTERID    
   ,B.FLAG_CF    
   ,'N'    
   ,NULL AS AMORTDATE    
   ,'ECF'    
   ,B.ORG_CCY    
   ,B.ORG_CCY_EXRATE    
   ,B.PRDTYPE    
   ,B.CF_ID    
  FROM IFRS_ACCT_SL_ACF A    
  JOIN IFRS_ACCT_SL_COST_FEE_ECF B ON B.ECFDATE = A.ECFDATE    
   AND A.MASTERID = B.MASTERID    
   AND B.FLAG_CF = 'F'    
  JOIN #TF C ON C.DOWNLOAD_DATE = A.ECFDATE    
   AND C.MASTERID = A.MASTERID    
  WHERE A.ID IN (    
    SELECT ID    
    FROM #ACRU2    
    )    
   --20180108 EXCLUDE CF REV AND ITS PAIR    
   AND B.CF_ID NOT IN (    
    SELECT CF_ID    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
        
    UNION ALL    
        
    SELECT CF_ID_REV    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
    )    
    
  --COST 1    
  INSERT INTO IFRS_ACCT_SL_ACCRU_PREV (    
   FACNO    
   ,CIFNO    
   ,DOWNLOAD_DATE    
   ,ECFDATE    
   ,DATASOURCE    
   ,PRDCODE    
   ,TRXCODE    
   ,CCY    
   ,AMOUNT    
   ,STATUS    
   ,CREATEDDATE    
   ,ACCTNO    
   ,MASTERID    
   ,FLAG_CF    
   ,FLAG_REVERSE    
   ,AMORTDATE    
   ,SRCPROCESS    
   ,ORG_CCY    
   ,ORG_CCY_EXRATE    
   ,PRDTYPE    
   ,CF_ID    
   )    
  SELECT A.FACNO    
   ,A.CIFNO    
   ,@V_CURRDATE    
   ,A.ECFDATE    
   ,A.DATASOURCE    
   ,B.PRDCODE    
   ,B.TRXCODE    
   ,B.CCY    
   ,CAST(CAST(CASE     
      WHEN B.FLAG_REVERSE = 'Y'    
       THEN - 1 * B.AMOUNT    
      ELSE B.AMOUNT    
      END AS FLOAT) / CAST(C.SUM_AMT AS FLOAT) AS DECIMAL(32, 20)) * A.N_ACCRU_COST AS N_AMOUNT    
   ,B.STATUS    
   ,CURRENT_TIMESTAMP    
   ,A.ACCTNO    
   ,A.MASTERID    
   ,B.FLAG_CF    
   ,'N'    
   ,NULL AS AMORTDATE    
   ,'ECF'    
   ,B.ORG_CCY    
   ,B.ORG_CCY_EXRATE    
   ,B.PRDTYPE    
   ,B.CF_ID    
  FROM IFRS_ACCT_SL_ACF A    
  JOIN IFRS_ACCT_SL_COST_FEE_ECF B ON B.ECFDATE = A.ECFDATE    
   AND A.MASTERID = B.MASTERID    
   AND B.FLAG_CF = 'C'    
  JOIN #TC C ON C.DOWNLOAD_DATE = A.ECFDATE    
   AND C.MASTERID = A.MASTERID    
  WHERE A.ID IN (    
    SELECT ID    
    FROM #ACRU2    
    )    
   --20180108 EXCLUDE CF REV AND ITS PAIR    
   AND B.CF_ID NOT IN (    
    SELECT CF_ID    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
        
    UNION ALL    
        
    SELECT CF_ID_REV    
    FROM IFRS_ACCT_COST_FEE    
    WHERE DOWNLOAD_DATE = @V_CURRDATE    
     AND FLAG_REVERSE = 'Y'    
     AND CF_ID_REV IS NOT NULL    
    )    
 END --IF;    
    
 -- 20171013 MARK FOR DO AMORT ACRU (FIX CHKAMORT ON DUE_DATE CHANGE WHEN END_AMORT_DT - 1)    
 UPDATE IFRS_ACCT_SL_ACCRU_PREV    
 SET STATUS = CONVERT(VARCHAR, @V_CURRDATE, 112)    
 WHERE STATUS = 'ACT'    
  AND MASTERID IN (    
   SELECT MASTERID    
   FROM IFRS_ACCT_SL_CF_ECF    
   WHERE TOTAL_AMT = 0    
    OR TOTAL_AMT_ACRU = 0    
   )    
    
 INSERT INTO IFRS_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS    
  ,PROCNAME    
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'END'    
  ,'SP_IFRS_ACCT_SL_ECF_MAIN'    
  ,''    
  )    
END 
GO
