USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKGEOGRAPHICALSECTORS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_CEKGEOGRAPHICALSECTORS]
(  
 @cekBranchCode varchar(6) = '',   
 @cekPKID bigint = 0  
)  
AS  
BEGIN
DECLARE @COUNT INT
DECLARE @COUNTPENDING INT

	SELECT @COUNT = COUNT(*)
	FROM IFRS_DIM_GEOGRAPHICAL_SECTORS
	WHERE BRANCH_CODE = @cekBranchCode
		AND PKID <> @cekPKID  
		AND ISNULL(IS_DELETE,0) = 0
	
	SELECT @COUNTPENDING = COUNT(*) FROM
	(
		SELECT
			FIELDNAME, 
			ISNULL(NEWVALUE, OLDVALUE) AS VALUE
		FROM TBLT_APPROVALDETAIL
		WHERE HEADERID IN
			(SELECT PKID FROM TBLT_APPROVALHEADER WHERE STATUS = 'P' AND SCREENID = 'GEOGRAPHICAL_SECTORS_PARAMETER')
	)d
	PIVOT(MAX(VALUE) FOR FIELDNAME IN (BRANCH_CODE))piv
	WHERE BRANCH_CODE = @cekBranchCode
	   
	SELECT @COUNT AS COUNT, @COUNTPENDING AS COUNT_PENDING
  
END;

GO
