USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCENARIORULEDBYPKID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_SCENARIORULEDBYPKID]
(
	@PKID BIGINT
)
AS
BEGIN
	
	SELECT * FROM [dbo].[IFRS_SCENARIO_RULES_DETAIL]
	WHERE PKID=@PKID AND IS_DELETE = 0
	ORDER BY DETAIL_TYPE, QUERY_GROUPING, SEQUENCE, PKID;

END



GO
