USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspI_ParamEADModelH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspI_ParamEADModelH](            
   @EAD_RULE_NAME    VARCHAR(100) ,            
   @SEGMENTATION_ID bigint,  
   @EAD_SEGMENT varchar(100),            
   @EAD_BALANCE VARCHAR(250),      
   @CCF_FLAG bit,      
   @CCF_RULES_ID VARCHAR(100),        
   @PREPAYMENT_FLAG bit,      
   @PREPAYMENT_RULES_ID VARCHAR(100),        
   @CreatedBy VARCHAR(36) ='' ,                
   @CreatedHost VARCHAR(30) =''            
)            
AS            
BEGIN            
            
   INSERT INTO IFRS_EAD_RULES_CONFIG  
   (            
  [EAD_RULE_NAME],[SEGMENTATION_ID],[EAD_BALANCE],[CCF_FLAG],[CCF_RULES_ID]  
      ,[PREPAYMENT_FLAG],[PREPAYMENT_RULES_ID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]  
   )            
   VALUES            
   (            
  @EAD_RULE_NAME,@SEGMENTATION_ID,@EAD_BALANCE,@CCF_FLAG,@CCF_RULES_ID         
  ,@PREPAYMENT_FLAG,@PREPAYMENT_RULES_ID,@CreatedBy,GETDATE(),@CreatedHost              
   )            
  
END; 
GO
