USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_LIGHT_PD_RESULT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ====================================================================
-- Author:		Kaiser
-- Create date: 24-NOV-2017
-- Description:	SP to insert Light PD Result (save button clicked)
-- ====================================================================
-- Edited:		Julian
-- Edited date: 27-DEC-2017
-- Description:	Add parameters for approval purposes
-- ====================================================================
CREATE PROCEDURE [dbo].[USPI_LIGHT_PD_RESULT]
( 
	@PKID bigint = 0,
	@MODEL_NAME VARCHAR(100)='',
	@PD_TM_NAME VARCHAR(100)='',
	@PD_TM_PERIOD VARCHAR(50)='01-Jan-2000',
	@PD_EFF_PERIOD VARCHAR(50)='01-Jan-2000',
	@BOOTSTRAP_NAME VARCHAR(100)='',
	@LIGHT_SCENARIO VARCHAR(100)='',
	@AVG_LIGHT_FROM VARCHAR(50)='01-Jan-2000',
	@AVG_LIGHT_TO VARCHAR(50)='01-Jan-2000',
	@ACTIVE_FLAG BIT=0,
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(30)='',
	@UpdatedBy varchar(36)='',
	@UpdatedHost varchar(30)=''
)
as 
begin

	declare @v_Exist smallint;

	select @v_Exist = COUNT(*)
	from IFRS_LIGHT_PD_CONFIG
	where PKID = @PKID;

    SET NOCOUNT ON;

	DELETE IFRS_LIGHT_PD_CONFIG
	WHERE PKID = @PKID;

	DELETE IFRS_ME_FORECAST_DATA
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_AVG_DEF_RATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_ME_SCORE_LIGHT
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_ME_SCORE_LIGHT_DETAIL
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_AVG_HIST_ME
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_ME_FORECAST_SCORE
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_ME_FORECAST_SCORE_DETAIL
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_PD_FLOWRATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_ADJUSTED_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_ADJ_DR_RATIO
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_LOGODDS_ADJ_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_LOGODDS_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_ADJ_LOGODDS_ADJ_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_LOGODDS_ADJ_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_EXP_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_TM_PD_FLOWRATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_MMULT_TM_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE IFRS_LIGHT_PD_TERM_STRUCTURE
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	if(@ACTIVE_FLAG > 0)
	begin
		update IFRS_LIGHT_PD_CONFIG
			set ACTIVE_FLAG = 0;
	end

	if @v_Exist > 0
	begin
		SET IDENTITY_INSERT IFRS_LIGHT_PD_CONFIG ON;
		INSERT INTO IFRS_LIGHT_PD_CONFIG
		(
			PKID,
			LIGHT_PD_MODEL_NAME,
			TM_RULE_ID,
			TM_PERIOD,
			BOOTSTRAP_RULE_ID,
			BUCKET_GROUP,
			LIGHT_GROUP,
			AVG_LIGHT_FROM,
			AVG_LIGHT_TO,
			FORECAST_DATA,
			ACTIVE_FLAG,
			PD_EFF_PERIOD,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST,
			UPDATEDBY,
			UPDATEDDATE,
			UPDATEDHOST
		)
		SELECT
			PKID,
			LIGHT_PD_MODEL_NAME,
			TM_RULE_ID,
			TM_PERIOD,
			BOOTSTRAP_RULE_ID,
			BUCKET_GROUP,
			LIGHT_GROUP,
			AVG_LIGHT_FROM,
			AVG_LIGHT_TO,
			FORECAST_DATA,
			ACTIVE_FLAG,
			PD_EFF_PERIOD,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST,
			@UpdatedBy,
			getdate(),
			@UpdatedHost
		FROM TMP_IFRS_LIGHT_PD_CONFIG
		WHERE PKID = @PKID;
		SET IDENTITY_INSERT IFRS_LIGHT_PD_CONFIG OFF;
	end
	else
	begin
		SET IDENTITY_INSERT IFRS_LIGHT_PD_CONFIG ON;
		INSERT INTO IFRS_LIGHT_PD_CONFIG
		(
			PKID,
			LIGHT_PD_MODEL_NAME,
			TM_RULE_ID,
			TM_PERIOD,
			BOOTSTRAP_RULE_ID,
			BUCKET_GROUP,
			LIGHT_GROUP,
			AVG_LIGHT_FROM,
			AVG_LIGHT_TO,
			FORECAST_DATA,
			ACTIVE_FLAG,
			PD_EFF_PERIOD,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		)
		SELECT
			PKID,
			LIGHT_PD_MODEL_NAME,
			TM_RULE_ID,
			TM_PERIOD,
			BOOTSTRAP_RULE_ID,
			BUCKET_GROUP,
			LIGHT_GROUP,
			AVG_LIGHT_FROM,
			AVG_LIGHT_TO,
			FORECAST_DATA,
			ACTIVE_FLAG,
			PD_EFF_PERIOD,
			@CreatedBy,
			getdate(),
			@CreatedHost
		FROM TMP_IFRS_LIGHT_PD_CONFIG
		WHERE PKID = @PKID;
		SET IDENTITY_INSERT IFRS_LIGHT_PD_CONFIG OFF;
	end
	


	INSERT INTO IFRS_ME_FORECAST_DATA
	(
		LIGHT_PD_MODEL_ID,
		ME_CODE,
		FORECAST_YEAR,
		FORECAST_VAL
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		ME_CODE,
		FORECAST_YEAR,
		FORECAST_VAL
	FROM TMP_IFRS_ME_FORECAST_DATA
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_AVG_DEF_RATE
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		DEFAULT_RATE,
		SAMPLES,
		OVERRIDE_DEFAULT_RATE
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		DEFAULT_RATE,
		SAMPLES,
		OVERRIDE_DEFAULT_RATE
	FROM TMP_IFRS_LIGHT_AVG_DEF_RATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_ME_SCORE_LIGHT
	(
		LIGHT_PD_MODEL_ID,
		ME_PERIOD,
		TOTAL_SCORE,
		LIGHT_ID,
		DEFAULT_RATE
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		ME_PERIOD,
		TOTAL_SCORE,
		LIGHT_ID,
		DEFAULT_RATE
	FROM TMP_IFRS_ME_SCORE_LIGHT
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_ME_SCORE_LIGHT_DETAIL
	(
		LIGHT_PD_MODEL_ID,
		ME_PERIOD,
		ME_CODE,
		SCORE
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		ME_PERIOD,
		ME_CODE,
		SCORE
	FROM TMP_IFRS_ME_SCORE_LIGHT_DETAIL
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_AVG_HIST_ME
	(
		LIGHT_PD_MODEL_ID,
		AVG_SCORE,
		AVG_LIGHT_ID,
		OVERRIDE_AVG_LIGHT_ID
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		AVG_SCORE,
		AVG_LIGHT_ID,
		OVERRIDE_AVG_LIGHT_ID
	FROM TMP_IFRS_LIGHT_AVG_HIST_ME
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_ME_FORECAST_SCORE
	(
		LIGHT_PD_MODEL_ID,
		PERIOD,
		TOTAL_SCORE,
		LIGHT_ID,
		OVERRIDE_LIGHT_ID
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		PERIOD,
		TOTAL_SCORE,
		LIGHT_ID,
		OVERRIDE_LIGHT_ID
	FROM TMP_IFRS_ME_FORECAST_SCORE
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_ME_FORECAST_SCORE_DETAIL
	(
		LIGHT_PD_MODEL_ID,
		PERIOD,
		ME_CODE,
		SCORE
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		PERIOD,
		ME_CODE,
		SCORE
	FROM TMP_IFRS_ME_FORECAST_SCORE_DTL
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_PD_FLOWRATE
	(
		LIGHT_PD_MODEL_ID,
		EFF_DATE,
		PD_RULE_ID,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		FLOWRATE	
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		EFF_DATE,
		PD_RULE_ID,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		FLOWRATE
	FROM TMP_IFRS_LIGHT_PD_FLOWRATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_ADJUSTED_PD
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJUSTED_PD
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJUSTED_PD
	FROM TMP_IFRS_LIGHT_ADJUSTED_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_ADJ_DR_RATIO
	(
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		ADJUSTED_DR_RATIO
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		ADJUSTED_DR_RATIO
	FROM TMP_IFRS_LIGHT_ADJ_DR_RATIO
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_LOGODDS_ADJ_PD
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOGODDS_ADJUSTED_PD
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOGODDS_ADJUSTED_PD
	FROM TMP_IFRS_LIGHT_LOGODDS_ADJ_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_ADJ_DR_AVG
	(
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		ADJUSTED_DR_AVG
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		ADJUSTED_DR_AVG
	FROM TMP_IFRS_LIGHT_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_LOGODDS_ADJ_DR_AVG
	(
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		LOGODDS_ADJ_DR_AVG
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		LOGODDS_ADJ_DR_AVG
	FROM TMP_IFRS_LOGODDS_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_ADJ_LOGODDS_ADJ_PD
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJ_LOGODDS_ADJ_PD
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJ_LOGODDS_ADJ_PD
	FROM TMP_IFRS_ADJ_LOGODDS_ADJ_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_LOGODDS_ADJ_LOGODDS_ADJ
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOGODDS_ADJ_LOGODDS_ADJ_PD	
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOGODDS_ADJ_LOGODDS_ADJ_PD
	FROM TMP_IFRS_LOGODDS_ADJ_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_EXP_LOGODDS_ADJ
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		EXP_LOGODDS_ADJ
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		EXP_LOGODDS_ADJ
	FROM TMP_IFRS_LIGHT_EXP_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_TM_PD_FLOWRATE
	(
		LIGHT_PD_MODEL_ID,
		FORECAST_YEAR,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		FLOWRATE
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		FORECAST_YEAR,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		FLOWRATE
	FROM TMP_IFRS_LIGHT_TM_PD_FLOWRATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO IFRS_LIGHT_MMULT_TM_PD
	(
		LIGHT_PD_MODEL_ID,
		FORECAST_YEAR,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		MMULT	
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		FORECAST_YEAR,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		MMULT
	FROM TMP_IFRS_LIGHT_MMULT_TM_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	INSERT INTO IFRS_LIGHT_PD_TERM_STRUCTURE
	(
		EFF_DATE,
		LIGHT_PD_MODEL_ID,
		GROUP_REPORTING,
		TENOR,
		CUMMULATIVE_PD,
		ANNUALIZED_PD
	)
	SELECT
		A.EFF_DATE,
		A.LIGHT_PD_MODEL_ID,
		A.GROUP_REPORTING,
		A.TENOR,
		A.CUMMULATIVE_PD,
		A.ANNUALIZED_PD
	FROM TMP_IFRS_LIGHT_PD_TERM_STRUC A
	JOIN TMP_IFRS_LIGHT_PD_CONFIG B
	ON A.LIGHT_PD_MODEL_ID = B.PKID
	AND A.LIGHT_PD_MODEL_ID = @PKID
	AND A.EFF_DATE = B.TM_PERIOD
	ORDER BY A.TENOR;


END


GO
