USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUP_PD_MODEL_ECL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC  [dbo].[USPS_LOOKUP_PD_MODEL_ECL]    
AS    
 SELECT  
  B.PKID as CODE  
  ,B.TM_RULE_NAME as CODE_DESC  
  ,B.BUCKET_GROUP  
  ,B.PD_METHOD  
  ,B.CALC_METHOD  
  ,C.RULE_NAME
  ,D.DESCRIPTION
  ,B.CUT_OFF_DATE
  ,B.BUCKET_GROUP2
  ,B.HISTORICAL_DATA
 FROM IFRS_PD_MAA_ENR A    
 RIGHT join IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID  
 LEFT JOIN IFRS_SCENARIO_RULES_HEADER C ON B.DEFAULT_RULE_ID = C.PKID  
 INNER JOIN TBLM_COMMONCODEDETAIL D ON D.VALUE1 = B.PD_METHOD 
 WHERE B.IS_DELETE = 0  AND D.COMMONCODE = 'B13'
 GROUP BY  
  B.PKID  
  ,B.TM_RULE_NAME  
  ,B.BUCKET_GROUP  
  ,B.PD_METHOD  
  ,B.CALC_METHOD  
  ,C.RULE_NAME 
  ,D.DESCRIPTION 
  ,B.CUT_OFF_DATE
  ,B.BUCKET_GROUP2
  ,B.HISTORICAL_DATA
  ,VALUE1
 ORDER BY B.TM_RULE_NAME ASC  

GO
