USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMPRCDATESTG]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_PARAMPRCDATESTG]          
(
@CURRDATE date =  '01/01/1900'
,@UpdatedBy varchar(36)=''      
,@UpdatedHost varchar(30)=''    
)          
AS
BEGIN  

	UPDATE IFRS9_STG.[dbo].[STG_PRC_DATE]
		SET [CURRDATE] = @CURRDATE
			,[PREVDATE] = DATEADD(day,-1,@CURRDATE)
	WHERE BATCH_STATUS like '%Finished%'
	or
	BATCH_STATUS like '%Error%'


END

GO
