USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADAPPROVEMACRO]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADAPPROVEMACRO](  
@UploadID int,  
@Remarks varchar(500),
@ApprovedBy varchar(36),  
@ApprovedHost varchar(30)  
)  
AS
BEGIN TRAN
	--INSERT ACTIVITYLOG
	EXEC uspI_ActivityLogs @ApprovedBy,'INSERT_WI_APPROVAL','MACRO_UPLOAD','IAS',@ApprovedHost  

	--DELETE TBLU_TRANS_ASSET
	--DELETE A FROM TBLU_TRANS_ASSET A
	--INNER JOIN TBLU_TRANS_ASSET_PENDING B
	--	ON A.DATA_SOURCE = B.DATA_SOURCE AND A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER AND A.PRD_CODE = B.PRD_CODE
	--		AND A.FACILITY_NUMBER = B.FACILITY_NUMBER AND A.TRANSACTION_DATE = B.TRANSACTION_DATE
	--WHERE B.UPLOADID = @UploadID

	--UPDATE A SET A.ME_VAL = B.ME_VAL FROM IFRS_MACRO_ECONOMIC A JOIN TBLU_MACRO_ECONOMIC_PENDING B ON A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = B.ME_PERIOD

	--DELETE TBLU_MACRO_ECONOMIC_PENDING FROM TBLU_MACRO_ECONOMIC_PENDING B JOIN IFRS_MACRO_ECONOMIC A ON A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = B.ME_PERIOD

	DELETE IFRS_MACRO_ECONOMIC WHERE ME_CODE = (SELECT DISTINCT(ME_CODE) FROM TBLU_MACRO_ECONOMIC_PENDING WHERE UPLOADID = @UploadID)-- AND ME_PERIOD IN (SELECT ME_PERIOD FROM TBLU_MACRO_ECONOMIC_TEMP WHERE UPLOADID = @UploadID)    
	
	--INSERT TBLU_TRANS_ASSET
	INSERT INTO IFRS_MACRO_ECONOMIC([ME_CODE], [ME_PERIOD], [ME_VAL],[UPLOADID],[HEADERID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]
	  ,[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST])  
	SELECT [ME_CODE], [ME_PERIOD], [ME_VAL],[UPLOADID],[HEADERID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]
		,@ApprovedBy,GetDate(),@ApprovedHost  
	FROM TBLU_MACRO_ECONOMIC_PENDING  
	WHERE UPLOADID = @UploadID
	ORDER BY PKID
	
	--INSERT TBLU_TRANS_ASSET_HIST
	INSERT INTO TBLU_MACRO_ECONOMIC_HIST([ME_CODE], [ME_PERIOD], [ME_VAL],[UPLOADID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]
	  ,[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST])  
	SELECT [ME_CODE], [ME_PERIOD], [ME_VAL],[UPLOADID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],@ApprovedBy  
		,GetDate(),@ApprovedHost  
	FROM TBLU_MACRO_ECONOMIC_PENDING  
	WHERE UPLOADID = @UploadID
	ORDER BY PKID

	--UPDATE TBLU_FEECOST_INFO
	UPDATE TBLU_MACRO_ECONOMIC_INFO  
       SET Status = 'APPROVED'
			,REMARKS = @Remarks
			,UpdatedBy = @ApprovedBy  
            ,UpdatedHost = @ApprovedHost  
            ,UpdatedDate = GetDate()  
       WHERE UploadID = @UploadID  
  
	--DELETE TBLU_TRANS_ASSET_TEMP
	DELETE FROM TBLU_MACRO_ECONOMIC_TEMP where UPLOADID = @UploadID  
	
	--DELETE TBLU_TRANS_ASSET_PENDING
	DELETE FROM TBLU_MACRO_ECONOMIC_PENDING WHERE UPLOADID = @UploadID  

	--INTERPOLATION SEPTIAN 26062019      
	 DECLARE @HEADERID BIGINT      
	 DECLARE @ME_CODE VARCHAR(100)      
	 DECLARE @CREATEDBY VARCHAR(100)      
	 DECLARE @CREATEDDATE DATETIME      
	 DECLARE @CREATEDHOST VARCHAR(100)      
	 DECLARE @UPDATEDBY VARCHAR(100)      
	 DECLARE @UPDATEDDATE DATETIME      
	 DECLARE @UPDATEDHOST VARCHAR(100)  
	--INTERPOLATION SEPTIAN 26062019      
	 SELECT       
	 @HEADERID = X.HEADERID,       
	 @ME_CODE = X.ME_CODE,       
	 @CREATEDBY = X.CREATEDBY,       
	 @CREATEDDATE = X.CREATEDDATE,      
	 @CREATEDHOST = X.CREATEDHOST,      
	 @UPDATEDBY = X.UPDATEDBY,      
	 @UPDATEDDATE = X.UPDATEDDATE,      
	 @UPDATEDHOST = X.UPDATEDHOST      
	 FROM (SELECT TOP 1 * FROM IFRS_MACRO_ECONOMIC WHERE UPLOADID = @UploadID) X 

	--INTERPOLATION SEPTIAN 26062019      
	 IF(SELECT ME_TIME_SERIES FROM TBLM_MACRO_ECONOMIC WHERE ME_CODE = @ME_CODE) = 'monthly'      
	 BEGIN      
	 EXEC USPP_INTERPOLATION1 @HEADERID, @UploadID, @ME_CODE, @CREATEDBY, @CREATEDDATE, @CREATEDHOST, @UPDATEDBY, @UPDATEDDATE, @UPDATEDHOST      
	 END
  
IF @@ERROR <> 0                    
	ROLLBACK TRAN                     
ELSE                    
	COMMIT TRAN

GO
