USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_IFRS_ME_FORECAST_APPROVAL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_IFRS_ME_FORECAST_APPROVAL]
(        
	@PKID AS BIGINT
)        
AS         
BEGIN        

	INSERT INTO IFRS_ME_FORECAST_PEND(
		ME_CODE,
		METHOD,
		FL_PERIOD,
		FL_PERIOD_FROM,
		FL_PERIOD_TO,
		ACTION,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST,
		IS_DELETE)
	SELECT 
		ME_CODE,
		METHOD,
		FL_PERIOD,
		FL_PERIOD_FROM,
		FL_PERIOD_TO,
		'DELETE_WI_APPROVAL',
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST,
		1
	FROM IFRS_ME_FORECAST WHERE PKID = @PKID

	INSERT INTO IFRS_ME_FORECAST_DETAIL_PEND(
		ME_CODE,
		FL_PERIOD,
		FL_VAL,
		REMARKS,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST,
		IS_DELETE)
	SELECT 
		ME_CODE,
		FL_PERIOD,
		FL_VAL,
		REMARKS,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST,
		1
	FROM IFRS_ME_FORECAST_DETAIL WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID)

END
GO
