USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_INIT_IV]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_INIT_IV]      
 @PKID int      
AS      
BEGIN      
  
 SELECT * FROM IFRS_ME_DERIVED_VARIABLE_TEMP  
 DELETE FROM IFRS_ME_DERIVED_VARIABLE_TEMP WHERE MODEL_ID = @PKID  
 INSERT INTO IFRS_ME_DERIVED_VARIABLE_TEMP(  
 MODEL_ID,  
 ME_CODE,  
 ME_PERIOD,  
 DERIVED_TYPE,  
 ME_VAL,  
 SEASONAL_ADJUSTMENT,  
 CREATEDBY,  
 CREATEDDATE,  
 CREATEDHOST)  
 SELECT  
 MODEL_ID,  
 ME_CODE,  
 ME_PERIOD,  
 DERIVED_TYPE,  
 ME_VAL,  
 SEASONAL_ADJUSTMENT,  
 CREATEDBY,  
 CREATEDDATE,  
 CREATEDHOST  
 FROM IFRS_ME_DERIVED_VARIABLE WHERE MODEL_ID = @PKID  
      
 DELETE FROM TMP_IFRS_INDEPENDENT_VARIABLE where MODEL_ID = @PKID      
 INSERT INTO TMP_IFRS_INDEPENDENT_VARIABLE(      
  MODEL_ID      
  ,MACRO_ECONOMIC_CODE      
  ,IMPACT_TO_DEPENDENT      
  ,LAG_VARIABLE      
  ,CREATEDBY      
  ,CREATEDDATE      
  ,CREATEDHOST)      
 SELECT      
  MODEL_ID      
  ,MACRO_ECONOMIC_CODE      
  ,IMPACT_TO_DEPENDENT      
  ,LAG_VARIABLE      
  ,CREATEDBY      
  ,CREATEDDATE      
  ,CREATEDHOST      
 FROM IFRS_INDEPENDENT_VARIABLE WHERE MODEL_ID = @PKID      
       
 --DELETE FROM TMP_IFRS_ZFAC_RESULT_DTL WHERE MODEL_ID = @PKID;        
 --INSERT INTO TMP_IFRS_ZFAC_RESULT_DTL(      
 -- [MODEL_ID]      
 -- ,[PD_RULE_ID]      
 -- ,[ME_PERIOD]      
 -- ,[SEQNUM]      
 -- ,[CORRELATION_VAL]      
 -- ,[ZFAC_VAL]      
 -- ,[COST_VAL])        
 --SELECT      
 -- [MODEL_ID]      
 -- ,[PD_RULE_ID]      
 -- ,[EFF_DATE]      
 -- ,[SEQ],[RHO]      
 -- ,[ZFAC_VAL]      
 -- ,[COSTFAC]      
 --FROM IFRS_PD_ZFAC WHERE MODEL_ID = @PKID      
       
 --DELETE FROM TMP_IFRS_ME_DERIVED_VARIABLE WHERE MODEL_ID = @PKID      
 --INSERT INTO TMP_IFRS_ME_DERIVED_VARIABLE(      
 -- MODEL_ID      
 -- ,PERIOD      
 -- ,ME_CODE      
 -- ,ME_VALUE)      
 --SELECT      
 -- [MODEL_ID]      
 -- ,[ME_PERIOD]      
 -- ,[ME_CODE]      
 -- ,[ME_VAL]      
 --FROM IFRS_ME_DERIVED_VARIABLE WHERE MODEL_ID = @PKID      
       
 --DELETE FROM TMP_IFRS_MODEL_FILTER_CORTEST WHERE MODEL_ID = @PKID      
 --INSERT INTO TMP_IFRS_MODEL_FILTER_CORTEST(      
 -- [MODEL_ID]      
 -- ,[CORRELATION_VAL]      
 -- ,[VARIABLENAME]      
 -- ,[EXPECTED_TREND]      
 -- ,[IN_SAMPLE_SET]      
 -- ,[PASS]      
 -- ,[VARIABLE_SELECTION]      
 -- ,[LOOKUPINITIAL]      
 -- ,[ADJ_CORRELATION])      
 --SELECT      
 -- [MODEL_ID]      
 -- ,[CORRELATION_VALUE]      
 -- ,[DERIVED_TYPE]      
 -- ,[EXPECTED_TREND]      
 -- ,[IN_SAMPLE_SET]      
 -- ,[IS_CHOSEN]      
 -- ,[IS_CHOSEN]      
 -- ,[ME_CODE]      
 -- ,[ADJ_CORRELATION]      
 --FROM IFRS_ME_MODEL_CORRELATION WHERE MODEL_ID = @PKID        
       
 --DELETE FROM TMP_IFRS_VARCLUS_CLUSTER_SUMM WHERE MODEL_ID = @PKID      
 --INSERT INTO TMP_IFRS_VARCLUS_CLUSTER_SUMM(        
 -- [MODEL_ID]      
 -- ,[CLUSTER]      
 -- ,[MEMBERS]      
 -- ,[VAR_EXPL]      
 -- ,[PROP_EXPL]      
 -- ,[SECOND_EIGV])      
 --SELECT        
 -- [MODEL_ID]      
 -- ,[CLUSTER_NO]      
 -- ,[NO_OF_MEMBERS]      
 -- ,[VARIATION_EXPL]      
 -- ,[PROPORTION_EXPL]      
 -- ,[SECOND_EIGENVAL]      
 --FROM IFRS_VARCLUS_CLUSTER_SUMM WHERE MODEL_ID = @PKID      
       
 --DELETE FROM TMP_IFRS_VARCLUS_CLUSTER_DTL WHERE MODEL_ID = @PKID      
 --INSERT INTO TMP_IFRS_VARCLUS_CLUSTER_DTL(      
 -- [MODEL_ID]      
 -- ,[CLUSTER]      
 -- ,[VARIABLENAME]      
 -- ,[PC1]      
 -- ,[PC2]      
 -- ,[R_SQUARE_OWN]      
 -- ,[R_SQUARE_NEXT]      
 -- ,[R_SQUARE_RATIO]      
 -- ,[VAR_IDX])      
 --SELECT      
 -- [MODEL_ID]      
 -- ,[CLUSTER]      
 -- ,[VARIABLENAME]      
 -- ,[PC1]      
 -- ,[PC2]      
 -- ,[R_SQUARE_OWN]      
 -- ,[R_SQUARE_NEXT]      
 -- ,[R_SQUARE_RATIO]      
 -- ,[VAR_IDX]      
 --FROM IFRS_VARCLUS_CLUSTER_DTL WHERE MODEL_ID = @PKID  
 
 DELETE FROM TMP_IFRS_R_ADF_TEST_DTL WHERE MODEL_ID = @PKID          
 INSERT INTO TMP_IFRS_R_ADF_TEST_DTL(          
  [MODEL_ID],          
  [MODEL_SEQ],          
  [DIFFERENCING_LAG],          
  [ADF_STATISTIC],          
  [PVALUE],          
  [LAGORDER],
  [NULLHYPOTHESIS],
  [ALTHYPOTHESIS],
  [FINALRESULT])          
 SELECT          
  [MODEL_ID],          
  [MODEL_SEQ],          
  [DIFFERENCING_LAG],          
  [ADF_STATISTIC],          
  [PVALUE],          
  [LAGORDER],
  [NULLHYPOTHESIS],
  [ALTHYPOTHESIS],
  [FINALRESULT]        
 FROM IFRS_R_ADF_TEST_DTL WHERE MODEL_ID = @PKID


 DELETE FROM TMP_IFRS_R_TS_MODEL_ERROR WHERE MODEL_ID = @PKID          
 INSERT INTO TMP_IFRS_R_TS_MODEL_ERROR(          
  [MODEL_ID],          
  [MODEL_SEQ],          
  [MACRO_VARNAME],          
  [ERROR_MSG],          
  [ERROR_REMARKS])          
 SELECT          
  [MODEL_ID],          
  [MODEL_SEQ],          
  [MACRO_VARNAME],          
  [ERROR_MSG],          
  [ERROR_REMARKS]        
 FROM IFRS_R_TS_MODEL_ERROR WHERE MODEL_ID = @PKID


 DELETE FROM TMP_IFRS_MODEL_FILTER_DTL WHERE MODEL_ID = @PKID          
 INSERT INTO TMP_IFRS_MODEL_FILTER_DTL(          
  [MODEL_ID],          
  [CORRELATION_VAL],
  [VARIABLENAME],          
  [EXPECTED_TREND],          
  [IN_SAMPLE_SET],
  [CORR_SIGN],
  [CORR_GT_FLG],
  [PASS],
  [VARIABLE_SELECTION],
  [LOOKUPINITIAL],
  [TRANSFORM_C],
  [TRANSFORM_M],
  [SUM_TRANSFORM],
  [ABS_CORRELATION],
  [ADJ_CORRELATION],
  [ADF_STATISTIC_NC],
  [ADF_PVALUE_NC],
  [ADF_STATISTIC_C],
  [ADF_PVALUE_C],
  [ADF_STATISTIC_CT],
  [ADF_PVALUE_CT])          
 SELECT          
  [MODEL_ID],          
  [CORRELATION_VAL],
  [VARIABLENAME],          
  [EXPECTED_TREND],          
  [IN_SAMPLE_SET],
  [CORR_SIGN],
  [CORR_GT_FLG],
  [PASS],
  [VARIABLE_SELECTION],
  [LOOKUPINITIAL],
  [TRANSFORM_C],
  [TRANSFORM_M],
  [SUM_TRANSFORM],
  [ABS_CORRELATION],
  [ADJ_CORRELATION],
  [ADF_STATISTIC_NC],
  [ADF_PVALUE_NC],
  [ADF_STATISTIC_C],
  [ADF_PVALUE_C],
  [ADF_STATISTIC_CT],
  [ADF_PVALUE_CT]
 FROM IFRS_MODEL_FILTER_DTL WHERE MODEL_ID = @PKID


 DELETE FROM TMP_IFRS_1MEVLM_RESULT_DTL WHERE MODEL_ID = @PKID          
 INSERT INTO TMP_IFRS_1MEVLM_RESULT_DTL(          
  [MODEL_ID],          
  [ADJRSQ],
  [RSQ],          
  [AIC],          
  [BIC],
  [SSE],
  [VARIABLENAME],
  [COEFF_ESTM],
  [STDERR],
  [TVALUE],
  [PROBT],
  [EXP_TREND],
  [VARIABLE_PASS],
  [VARIABLE_SELECTION],
  [LOOKUPINITIAL],
  [STATISTIC_NC],
  [PVALUE_NC],
  [STATISTIC_C],
  [PVALUE_C],
  [STATISTIC_CT],
  [PVALUE_CT])          
 SELECT          
  [MODEL_ID],          
  [ADJRSQ],
  [RSQ],          
  [AIC],          
  [BIC],
  [SSE],
  [VARIABLENAME],
  [COEFF_ESTM],
  [STDERR],
  [TVALUE],
  [PROBT],
  [EXP_TREND],
  [VARIABLE_PASS],
  [VARIABLE_SELECTION],
  [LOOKUPINITIAL],
  [STATISTIC_NC],
  [PVALUE_NC],
  [STATISTIC_C],
  [PVALUE_C],
  [STATISTIC_CT],
  [PVALUE_CT]
 FROM IFRS_1MEVLM_RESULT_DTL WHERE MODEL_ID = @PKID
      
END 
GO
