USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_LGD_ER_DETAIL_CORP]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SP_IFRS_IMPCR_LGD_ER_DETAIL_CORP]     
@DOWNLOAD_DATE DATE = null,  
@RULE_ID BIGINT = 0  
AS    
 DECLARE @V_CURRDATE DATE    
 DECLARE @V_PREVDATE DATE    
 DECLARE @V_PREVMONTH DATE    
BEGIN    
     
 IF (@DOWNLOAD_DATE IS NULL)    
 BEGIN    
  SELECT     
   @V_CURRDATE = EOMONTH(CURRDATE)    
   ,@V_PREVDATE = DATEADD(DAY,-1,CURRDATE)    
   ,@V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,CURRDATE))    
  FROM IFRS_PRC_DATE    
 END    
 ELSE    
 BEGIN    
  SET @V_CURRDATE = EOMONTH(@DOWNLOAD_DATE)     
  SET @V_PREVDATE = DATEADD(DAY,-1, @DOWNLOAD_DATE)    
  SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH, -1, @DOWNLOAD_DATE))     
 END    
    
 DROP TABLE IF EXISTS #LGD    
    
 SELECT    
  @V_CURRDATE AS DOWNLOAD_DATE    
  ,DEFAULT_DATE    
  ,YEAR(DEFAULT_DATE) AS DEFAULT_YEAR    
  ,A.CALC_METHOD    
  ,A.LGD_UNIQUE_ID    
  ,CUSTOMER_NAME    
  ,A.LGD_METHOD    
  ,A.LGD_RULE_ID    
  ,A.LGD_RULE_NAME    
  ,PRODUCT_GROUP    
  ,SEGMENT    
  ,SUB_SEGMENT    
  ,GROUP_SEGMENT    
  ,A.CURRENCY    
  ,C.RATE_AMOUNT AS EXCHANGE_RATE    
  ,MAX(OS_AT_DEFAULT) AS OS_AT_DEFAULT    
  ,MAX(OS_AT_DEFAULT) * C.RATE_AMOUNT AS EQV_AT_DEFAULT    
  ,MAX(EIR_AT_DEFAULT) AS EIR_AT_DEFAULT    
  ,SUM(NPV_RECOVERY) AS NPV_RECOVERY    
  ,SUM(RECOVERY_AMOUNT) AS RECOVERY_AMOUNT    
 INTO #LGD    
 FROM IFRS_LGD_ER_SCENARIO_DATA A    
 JOIN IFRS_LGD_RULES_CONFIG B    
 ON A.LGD_RULE_ID = B.PKID    
 LEFT JOIN IFRS_MASTER_EXCHANGE_RATE C    
 ON EOMONTH(A.DEFAULT_DATE) = C.DOWNLOAD_DATE AND A.CURRENCY = C.CURRENCY    
 WHERE A.DOWNLOAD_DATE <= @V_CURRDATE  
 AND A.LGD_RULE_ID = @RULE_ID    
 GROUP BY    
 DEFAULT_DATE    
 ,YEAR(DEFAULT_DATE)    
 ,A.CALC_METHOD    
 ,A.LGD_UNIQUE_ID    
 ,CUSTOMER_NAME    
 ,A.LGD_METHOD    
 ,A.LGD_RULE_ID    
 ,A.LGD_RULE_NAME    
 ,PRODUCT_GROUP    
 ,SEGMENT    
 ,SUB_SEGMENT    
 ,GROUP_SEGMENT    
 ,A.CURRENCY    
 ,C.RATE_AMOUNT    
    
 ALTER TABLE #LGD ADD LGD_X_OS NUMERIC(32,6), RECOVERY_RATE FLOAT, LGD FLOAT;    
    
 UPDATE A    
 SET RECOVERY_RATE = CASE WHEN (NPV_RECOVERY / OS_AT_DEFAULT) < 0 THEN 0 WHEN (NPV_RECOVERY / OS_AT_DEFAULT) > 1 THEN 1 ELSE (NPV_RECOVERY / OS_AT_DEFAULT) END,    
 LGD = 1 - CASE WHEN (NPV_RECOVERY / OS_AT_DEFAULT) < 0 THEN 0 WHEN (NPV_RECOVERY / OS_AT_DEFAULT) > 1 THEN 1 ELSE (NPV_RECOVERY / OS_AT_DEFAULT) END    
 FROM #LGD A    
    
 UPDATE A    
 SET LGD_X_OS = LGD * EQV_AT_DEFAULT    
 FROM #LGD A    
     
 --INSERT INTO TABLE LGD DETAIL    
 DELETE A    
 FROM IFRS_LGD_ER_DETAIL A    
 JOIN IFRS_LGD_RULES_CONFIG B    
 ON A.LGD_RULE_ID = B.PKID    
 WHERE DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END    
 AND A.LGD_RULE_ID = @RULE_ID  
  
 INSERT INTO IFRS_LGD_ER_DETAIL    
 (    
  DOWNLOAD_DATE    
  ,DEFAULT_DATE    
  ,DEFAULT_YEAR    
  ,CALC_METHOD    
  ,LGD_UNIQUE_ID    
  ,CUSTOMER_NAME    
  ,LGD_METHOD    
  ,LGD_RULE_ID    
  ,LGD_RULE_NAME    
  ,PRODUCT_GROUP    
  ,SEGMENT    
  ,SUB_SEGMENT    
  ,GROUP_SEGMENT    
  ,CURRENCY    
  ,OS_AT_DEFAULT    
  ,EQV_AT_DEFAULT    
  ,EIR_AT_DEFAULT    
  ,LGD_X_OS    
  ,RECOVERY_AMOUNT    
  ,NPV_RECOVERY    
  ,RECOVERY_RATE    
  ,LGD    
 )    
 SELECT    
  DOWNLOAD_DATE    
  ,DEFAULT_DATE    
  ,DEFAULT_YEAR    
  ,CALC_METHOD    
  ,LGD_UNIQUE_ID    
  ,CUSTOMER_NAME    
  ,LGD_METHOD    
  ,LGD_RULE_ID    
  ,LGD_RULE_NAME    
  ,PRODUCT_GROUP    
  ,SEGMENT    
  ,SUB_SEGMENT    
  ,GROUP_SEGMENT    
  ,CURRENCY    
  ,OS_AT_DEFAULT    
  ,EQV_AT_DEFAULT    
  ,EIR_AT_DEFAULT    
  ,LGD_X_OS    
  ,RECOVERY_AMOUNT    
  ,NPV_RECOVERY    
  ,RECOVERY_RATE    
  ,LGD    
 FROM #LGD    
END 
GO
