USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKSEGMENTSETTINGSUDPATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CHECKSEGMENTSETTINGSUDPATE]
(
	-- parameter input untuk kolom data       
	@PKID varchar(50),           
	@RULE_ID varchar(50),
	@TABLE_NAME varchar(30),
	@COLUMN_NAME varchar(30),
	@DATA_TYPE varchar(15),
	@OPERATOR varchar(10),
	@VALUE1 varchar(4000),
	@VALUE2 varchar(4000),
	@CONDITION varchar(4000),
	@QUERY_GROUPING varchar(4000),
	@SEQUENCE varchar(4000)
)
AS
BEGIN

      SELECT COUNT(*) C  
        FROM IFRS_MSTR_SEGMENT_RULES_DETAIL 
        WHERE RULE_ID = @RULE_ID
                AND TABLE_NAME = @TABLE_NAME
                AND COLUMN_NAME = @COLUMN_NAME
                AND DATA_TYPE = @DATA_TYPE
                AND OPERATOR = @OPERATOR
                AND VALUE1 = @VALUE1
                AND VALUE2 = @VALUE2
				AND QUERY_GROUPING = @QUERY_GROUPING
				AND [SEQUENCE] = @SEQUENCE
				AND AND_OR_CONDITION = @CONDITION
				AND PKID <> @PKID;

END

GO
