USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_USERACTIVEEXPIRED]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_USERACTIVEEXPIRED]          
(@UserID varchar(36))     
as
BEGIN     
	
		SELECT  *
		from tblM_User where (IsUserActive=0 OR IsUserExpired=1)
		and pkid = @Userid

END

GO
