USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETTIMESERIES]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETTIMESERIES](          
 @ME_CODE VARCHAR(1000)            
)                                                      
AS                                                      
BEGIN                                       
  
 DECLARE @MIN_ME_PERIOD DATE  
 SELECT @MIN_ME_PERIOD = MIN(ME_PERIOD) FROM IFRS_MACRO_ECONOMIC WHERE ME_CODE = @ME_CODE    
 
 DECLARE @MAX_ME_PERIOD DATE  
 SELECT @MAX_ME_PERIOD = MAX(ME_PERIOD) FROM IFRS_MACRO_ECONOMIC WHERE ME_CODE = @ME_CODE              
                    
 SELECT ME_TIME_SERIES, @MIN_ME_PERIOD AS MIN_ME_PERIOD, @MAX_ME_PERIOD AS MAX_ME_PERIOD FROM TBLM_MACRO_ECONOMIC WHERE ME_CODE = @ME_CODE     
                                          
END  
GO
