USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_RETAIL_PD_CHART]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_ECL_RETAIL_PD_CHART]
(
	@Period date='01-Jan-1900',
	@BucketName varchar(30)=NULL,
	@BucketID int=0,
	@ProdType varchar(50)=''
)
as
BEGIN

	select PD_YEAR, PD_RATE * 100 as PD_RATE from IFRS_PD_TERM_STRUCTURE_RETAIL
	where PRODUCT_TYPE = @ProdType
	and RETAIL_RISK_BUCKET_ID = @BucketID
	and RETAIL_RISK_BUCKET = @BucketName
	and PD_DATE = @Period

END

GO
