USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GRIDCOLUMNSBUTTON]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GRIDCOLUMNSBUTTON] 
   @gridid varchar(50)=''
AS
     SELECT *
          FROM tblS_GridColumns nolock
         WHERE     GridID = @gridid
               AND ColumnType = 'BUTTONLINK'
               AND ShowSelect = 1
      ORDER BY sequence

GO
