USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_BOOTSTRAP_MODEL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_BOOTSTRAP_MODEL]
(
    @PKID BIGINT
)
AS
BEGIN
	SET NOCOUNT ON;

	DELETE IFRS_PD_BOOTSTRAP_CONFIG
    WHERE PKID = @PKID;

    DELETE IFRS_PD_BOOTSTRAP_DETAIL_CONF
    WHERE BOOTSTRAP_ID = @PKID;

    DELETE IFRS_PD_BOOTSTRAP
    WHERE BOOTSTRAP_ID = @PKID;
    
	DELETE TMP_IFRS_PD_BOOTSTRAP_CONFIG
    WHERE PKID = @PKID;

	DELETE TMP_IFRS_PD_BOOTSTRAP_DETAIL
	WHERE BOOTSTRAP_ID = @PKID;

	DELETE TMP_IFRS_PD_BOOTSTRAP
	WHERE BOOTSTRAP_ID = @PKID;
END;

GO
