USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOAD_POOL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPI_UPLOAD_POOL]
(
	@MappingID int=0,
	@Filename VARCHAR(250)='',
	@Status varchar(50)='',
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(36)='',
	@UploadID bigint OUTPUT
)
as
Begin

	declare @approverID varchar(36);

	select @approverID = cast(REPORTTO as varchar(36))
						from tblM_ReportTo
						where cast(USERID as varchar(36)) = @CreatedBy

	if @approverID IS NULL
		begin
			set @approverID = 'AUTO'
		end

	insert into TBLT_UPLOAD_POOL 
		( MAPPINGID, FILENAME, STATUS, CREATEDBY, CREATEDDATE, CREATEDHOST, PENDINGAPPROVERID)
	Values 
		(
			@MappingID, @Filename, @Status, @CreatedBy, GETDATE(), @CreatedHost, @approverID

		)

	set @UploadID = SCOPE_IDENTITY();
	
End	

GO
