USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_SYNC_EXCHANGE_RATE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_SYNC_EXCHANGE_RATE]
AS 
    DECLARE @CURRDATE DATE 

BEGIN

	SELECT  @CURRDATE = CURRDATE
	FROM    IFRS_PRC_DATE

	INSERT  INTO IFRS_MASTER_EXCHANGE_RATE (DOWNLOAD_DATE, CURRENCY, RATE_AMOUNT, MAINTAIN_DATE)
	SELECT  DISTINCT
			DOWNLOAD_DATE ,
			CURRENCY ,
			ISNULL(EXCHANGE_RATE, 1) as EXCHANGE_RATE ,
			GETDATE()
	FROM    IFRS_MASTER_ACCOUNT
	WHERE   DOWNLOAD_DATE = @CURRDATE AND EXCHANGE_RATE IS NOT NULL

END

GO
