USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCOLUMNNAMEBYTABLE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPCOLUMNNAMEBYTABLE]
(
	@TableName VARCHAR(50)
)
AS
BEGIN
	
	SELECT column_id AS "Value", a.NAME AS "Text"
	FROM sys.columns a
		JOIN sys.tables b ON a.object_id = b.object_id 
	WHERE b.NAME = @TableName;

END;

GO
