USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_ACODBIFORMPARAM]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_ACODBIFORMPARAM](
	@PKID bigint = 0  
)  
AS       
BEGIN  
	DELETE FROM dbo.IFRS_ACOD_BIFORM_PARAM  
	WHERE PKID = @PKID  
END  

GO
