USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADFEECOSTPENDWITHAPPR]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADFEECOSTPENDWITHAPPR](  
 @UploadID as int)  
as   
begin   
   
 INSERT INTO TBLU_TRANS_ASSET_PENDING(  
  DATA_SOURCE  
  ,ACCOUNT_NUMBER  
  ,PRD_CODE  
  ,TRX_CODE  
  ,FACILITY_NUMBER  
  ,TRANSACTION_DATE  
  ,EFFECTIVE_DATE  
  ,CURRENCY  
  ,DEBIT_CREDIT_FLAG  
  ,TRANSACTION_AMOUNT  
  ,CreatedBy  
  ,CreatedDate  
  ,CreatedHost  
  ,UPLOADID)  
 SELECT  
  DATA_SOURCE  
  ,ACCOUNT_NUMBER  
  ,PRD_CODE  
  ,TRX_CODE  
  ,FACILITY_NUMBER  
  ,CONVERT(date,TRANSACTION_DATE,103)  
  ,CONVERT(date,EFFECTIVE_DATE,103)  
  ,CURRENCY  
  ,DEBIT_CREDIT_FLAG  
  --,CAST(TRANSACTION_AMOUNT as float)
  ,TRANSACTION_AMOUNT  
  ,CreatedBy  
  ,CreatedDate  
  ,CreatedHost  
  ,UPLOADID  
 FROM TBLU_TRANS_ASSET_TEMP P  
 WHERE P.UPLOADID = @UploadID  
 ORDER BY ROW_NUMBER  
  
 DELETE FROM TBLU_TRANS_ASSET_TEMP WHERE UPLOADID = @UploadID  
  
 UPDATE TBLU_FEECOST_INFO set Status = 'PENDING' WHERE UploadID = @UploadID AND MODULE = 'LENDING'  
  
end  
GO
