USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LASTDCFID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LASTDCFID]             
(              
 @MASTERID VARCHAR(100) = NULL           
)            
AS            
BEGIN             
    SELECT DCFID FROM IFRS_IMP_IA_MASTER WHERE MASTERID = @MASTERID
END; 
GO
