USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSEQUENCEYEAR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPSEQUENCEYEAR]
(
@PD_RULE_ID AS BIGINT
)
AS
BEGIN
SELECT DISTINCT SEQ_YEAR FROM IFRS_PD_CHR_SUMM
WHERE PD_RULE_ID = @PD_RULE_ID 
ORDER BY SEQ_YEAR ASC
END

GO
