USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_JRNL_ACF_ABN_ADJ]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LI_JRNL_ACF_ABN_ADJ]    
AS    
DECLARE @V_CURRDATE DATE    
 ,@V_PREVDATE DATE    
 ,@VI INT    
 ,@VI2 INT    
    
SELECT @V_CURRDATE = MAX(CURRDATE)    
FROM IFRS_LI_PRC_DATE_AMORT    
    
SELECT @V_PREVDATE = MAX(PREVDATE)    
FROM IFRS_LI_PRC_DATE_AMORT    
    
INSERT INTO IFRS_LI_AMORT_LOG (    
 DOWNLOAD_DATE    
 ,DTM    
 ,OPS    
 ,PROCNAME    
 ,REMARK    
 )    
VALUES (    
 @V_CURRDATE    
 ,CURRENT_TIMESTAMP    
 ,'START'    
 ,'SP_IFRS_LI_JRNL_INTM_ACF_ABN_ADJ'    
 ,''    
 )    
    
-- CLEAN UP      
DELETE    
FROM IFRS_LI_ACCT_JOURNAL_INTM_SUMM    
WHERE DOWNLOAD_DATE = @V_CURRDATE    
 AND SOURCEPROCESS IN (    
  'ACFABN_ADJ'    
  ,'REV_ADJ'    
  ,'REV_ADJ2'    
  )    
    
DELETE    
FROM IFRS_LI_ACCT_JOURNAL_INTM    
WHERE DOWNLOAD_DATE = @V_CURRDATE    
 AND SOURCEPROCESS IN (    
  'ACFABN_ADJ'    
  ,'REV_ADJ'    
  ,'REV_ADJ2'    
  )    
    
INSERT INTO IFRS_LI_AMORT_LOG (    
 DOWNLOAD_DATE    
 ,DTM    
 ,OPS    
 ,PROCNAME    
 ,REMARK    
 )    
VALUES (    
 @V_CURRDATE    
 ,CURRENT_TIMESTAMP    
 ,'DEBUG'    
 ,'SP_IFRS_LI_JRNL_INTM_ACF_ABN_ADJ'    
 ,'CLEAN UP DONE'    
 )    
    
TRUNCATE TABLE TMP_LI_T1    
    
INSERT INTO TMP_LI_T1 (MASTERID)    
SELECT MASTERID    
FROM IFRS_LI_ACCT_EIR_ACF    
WHERE DOWNLOAD_DATE = @V_CURRDATE    
 AND CREATEDBY = 'SP_EIR_LAST_ACF_ABN'    
    
UNION    
    
SELECT MASTERID    
FROM IFRS_LI_ACCT_SL_ACF    
WHERE DOWNLOAD_DATE = @V_CURRDATE    
 AND CREATEDBY = 'SP_SL_LAST_ACF_ABN'    
    
--20180108 REVERSAL RESONA WILL USE SIMILAR LOGIC FOR SIMPLICITY      
--20180108 CF REVERSAL WILL EXCLUDE CF AND ITS CF REV PAIR FROM ECF GENERATION      
TRUNCATE TABLE TMP_LI_T2    
    
INSERT INTO TMP_LI_T2 (MASTERID)    
SELECT DISTINCT MASTERID    
FROM IFRS_LI_ACCT_COST_FEE    
WHERE FLAG_REVERSE = 'Y'    
 AND CF_ID_REV IS NOT NULL    
 AND DOWNLOAD_DATE = @V_CURRDATE    
 AND MASTERID NOT IN (    
  SELECT MASTERID    
  FROM TMP_LI_T1    
  ) --PREVENT DOUBLE PROCESSING      
 --20180310 ALSO PROCESS TODAY NEW EIR ECF HAVING AMORT AMT <= CURRDATE      
    
UNION    
    
SELECT MASTERID    
FROM IFRS_LI_ACCT_EIR_ECF    
WHERE DOWNLOAD_DATE = @V_CURRDATE    
 AND AMORTSTOPDATE IS NULL    
 AND PMT_DATE <= @V_CURRDATE    
 AND MASTERID NOT IN (    
  SELECT MASTERID    
  FROM TMP_LI_T1    
  ) --PREVENT DOUBLE PROCESSING      
GROUP BY MASTERID    
HAVING SUM(N_AMORT_AMT) <> 0    
--20180328 ALSO PROCESS TODAY NEW SL ECF HAVING AMORT AMT <= CURRDATE      
    
UNION    
    
SELECT MASTERID    
FROM IFRS_LI_ACCT_SL_ECF    
WHERE DOWNLOAD_DATE = @V_CURRDATE    
 AND AMORTSTOPDATE IS NULL    
 AND PMTDATE <= @V_CURRDATE    
 AND MASTERID NOT IN (    
  SELECT MASTERID    
  FROM TMP_LI_T1    
  ) --PREVENT DOUBLE PROCESSING      
GROUP BY MASTERID    
HAVING SUM(N_AMORT_FEE) <> 0    
 OR SUM(N_AMORT_COST) <> 0    
    
SELECT @VI = COUNT(*)    
FROM TMP_LI_T1    
    
SELECT @VI2 = COUNT(*)    
FROM TMP_LI_T2    
    
IF @VI <= 0    
 AND @VI2 <= 0    
BEGIN    
 INSERT INTO IFRS_LI_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS    
  ,PROCNAME    
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'END'    
  ,'SP_IFRS_LI_JRNL_INTM_ACF_ABN_ADJ'    
  ,''    
  )    
    
 RETURN    
END    
    
INSERT INTO IFRS_LI_ACCT_JOURNAL_INTM (    
 DOWNLOAD_DATE    
 ,MASTERID    
 ,FACNO    
 ,CIFNO    
 ,ACCTNO    
 ,DATASOURCE    
 ,PRDCODE    
 ,TRXCODE    
 ,CCY    
 ,JOURNALCODE    
 ,JOURNALCODE2    
 ,STATUS    
 ,REVERSE    
 ,FLAG_CF    
 ,N_AMOUNT    
 ,SOURCEPROCESS    
 ,CREATEDDATE    
 ,CREATEDBY    
 ,BRANCH    
 ,PRDTYPE    
 ,IS_PNL    
 ,CF_ID    
 ,METHOD    
 )    
SELECT @V_CURRDATE    
 ,A.MASTERID    
 ,B.FACNO    
 ,B.CIFNO    
 ,B.ACCTNO    
 ,B.DATASOURCE    
 ,B.PRD_CODE    
 ,B.TRX_CODE    
 ,B.CCY    
 ,'AMORT'    
 ,CASE     
  WHEN B.METHOD = 'SL'    
   THEN 'ACCRU_SL'    
  ELSE 'ACCRU'    
  END    
 ,'ACT'    
 ,'N'    
 ,B.FLAG_CF    
 ,- 1 * A.UNAMORT_AMT    
 ,'ACFABN_ADJ'    
 ,CURRENT_TIMESTAMP    
 ,'ACFABN_ADJ'    
 ,B.BRCODE    
 ,B.PRD_TYPE    
 ,''    
 ,B.CF_ID    
 ,B.METHOD    
FROM IFRS_LI_CFID_JOURNAL_INTM_SUMM A    
JOIN IFRS_LI_ACCT_COST_FEE B ON B.CF_ID = A.CF_ID    
WHERE A.DOWNLOAD_DATE = @V_CURRDATE    
 AND A.MASTERID IN (    
  SELECT MASTERID    
  FROM TMP_LI_T1    
  )    
 AND A.UNAMORT_AMT <> 0      
    
--20180108 REV ADJ      
INSERT INTO IFRS_LI_ACCT_JOURNAL_INTM (    
 DOWNLOAD_DATE    
 ,MASTERID    
 ,FACNO    
 ,CIFNO    
 ,ACCTNO    
 ,DATASOURCE    
 ,PRDCODE    
 ,TRXCODE    
 ,CCY    
 ,JOURNALCODE    
 ,JOURNALCODE2    
 ,STATUS    
 ,REVERSE    
 ,FLAG_CF    
 ,N_AMOUNT    
 ,SOURCEPROCESS    
 ,CREATEDDATE    
 ,CREATEDBY    
 ,BRANCH    
 ,PRDTYPE    
 ,IS_PNL    
 ,CF_ID    
 ,METHOD    
 )    
SELECT @V_CURRDATE    
 ,A.MASTERID    
 ,B.FACNO    
 ,B.CIFNO    
 ,B.ACCTNO    
 ,B.DATASOURCE    
 ,B.PRD_CODE    
 ,B.TRX_CODE    
 ,B.CCY    
 ,'AMORT'    
 ,CASE     
  WHEN B.METHOD = 'SL'    
   THEN 'ACCRU_SL'    
  ELSE 'ACCRU'    
  END    
 ,'ACT'    
 ,C.FLAG_REVERSE --20180305 FOLLOW FLAG REV FROM COST FEE      
 ,B.FLAG_CF    
 ,CASE     
  WHEN C.FLAG_REVERSE = 'N'    
   THEN - 1 * A.UNAMORT_AMT    
  ELSE A.UNAMORT_AMT    
  END --20180305 FOLLOW FLAG REV FROM COST FEE      
 ,'REV_ADJ'    
 ,CURRENT_TIMESTAMP    
 ,'ACFABN_ADJ'    
 ,B.BRCODE    
 ,B.PRD_TYPE    
 ,''    
 ,B.CF_ID    
 ,B.METHOD    
FROM IFRS_LI_CFID_JOURNAL_INTM_SUMM A    
JOIN IFRS_LI_ACCT_COST_FEE B ON (    
  B.CF_ID = A.CF_ID    
  OR B.CF_ID_REV = A.CF_ID    
  ) --ONLY PROCESS TODAY CF_ID REV AND ITS PAIR      
 AND B.DOWNLOAD_DATE = @V_CURRDATE    
 AND B.FLAG_REVERSE = 'Y'    
 AND B.CF_ID_REV IS NOT NULL    
JOIN IFRS_LI_ACCT_COST_FEE C ON C.CF_ID = A.CF_ID    
WHERE A.DOWNLOAD_DATE = @V_CURRDATE    
 AND A.MASTERID IN (    
  SELECT MASTERID    
  FROM TMP_LI_T2    
  )    
 AND A.UNAMORT_AMT <> 0    
    
--20180109 ADJ DIFF BETWEEN ALREADY AMORTIZED VS CURRENT FOR RESONA REV CF RECALC START FROM LOAN_START_DATE       
INSERT INTO IFRS_LI_ACCT_JOURNAL_INTM (    
 DOWNLOAD_DATE    
 ,MASTERID    
 ,FACNO    
 ,CIFNO    
 ,ACCTNO    
 ,DATASOURCE    
 ,PRDCODE    
 ,TRXCODE    
 ,CCY    
 ,JOURNALCODE    
 ,JOURNALCODE2    
 ,STATUS    
 ,REVERSE    
 ,FLAG_CF    
 ,N_AMOUNT    
 ,SOURCEPROCESS    
 ,CREATEDDATE    
 ,CREATEDBY    
 ,BRANCH    
 ,PRDTYPE    
 ,IS_PNL    
 ,CF_ID    
 ,METHOD    
 )    
SELECT @V_CURRDATE    
 ,A.MASTERID    
 ,B.FACNO    
 ,B.CIFNO    
 ,B.ACCTNO    
 ,B.DATASOURCE    
 ,B.PRDCODE    
 ,B.TRXCODE    
 ,B.CCY    
 ,'AMORT'    
 ,CASE     
  WHEN B.METHOD = 'SL'    
   THEN 'ACCRU_SL'    
  ELSE 'ACCRU'    
  END    
 ,'ACT'    
 ,'N'    
 ,B.FLAG_CF    
 ,(    
  CASE     
   WHEN B.FLAG_REVERSE = 'Y'    
    THEN - 1 * B.AMOUNT    
   ELSE B.AMOUNT    
   END - A.UNAMORT_AMT    
  )    
 ,'REV_ADJ2'    
 ,CURRENT_TIMESTAMP    
 ,'ACFABN_ADJ'    
 ,B.BRCODE    
 ,B.PRDTYPE    
 ,''    
 ,B.CF_ID    
 ,B.METHOD    
FROM IFRS_LI_CFID_JOURNAL_INTM_SUMM A    
JOIN VW_LI_LAST_SL_CF_PREV C ON C.DOWNLOAD_DATE = A.DOWNLOAD_DATE    
 AND C.MASTERID = A.MASTERID    
JOIN IFRS_LI_ACCT_SL_COST_FEE_PREV B ON B.CF_ID = A.CF_ID    
 AND B.DOWNLOAD_DATE = C.DOWNLOAD_DATE    
 AND B.MASTERID = C.MASTERID    
 AND B.SEQ = C.SEQ    
WHERE A.DOWNLOAD_DATE = @V_CURRDATE    
 AND A.MASTERID IN (    
  SELECT MASTERID    
  FROM TMP_LI_T2    
  )    
    
--20180305 EIR ADJ DIFF BETWEEN ALREADY AMORTIZED VS CURRENT FOR RESONA REV CF RECALC START FROM LOAN_START_DATE       
INSERT INTO IFRS_LI_ACCT_JOURNAL_INTM (    
 DOWNLOAD_DATE    
 ,MASTERID    
 ,FACNO    
 ,CIFNO    
 ,ACCTNO    
 ,DATASOURCE    
 ,PRDCODE    
 ,TRXCODE    
 ,CCY    
 ,JOURNALCODE    
 ,JOURNALCODE2    
 ,STATUS    
 ,REVERSE    
 ,FLAG_CF    
 ,N_AMOUNT    
 ,SOURCEPROCESS    
 ,CREATEDDATE    
 ,CREATEDBY    
 ,BRANCH    
 ,PRDTYPE    
 ,IS_PNL    
 ,CF_ID    
 ,METHOD    
 )    
SELECT @V_CURRDATE    
 ,A.MASTERID    
 ,B.FACNO    
 ,B.CIFNO    
 ,B.ACCTNO    
 ,B.DATASOURCE    
 ,B.PRDCODE    
 ,B.TRXCODE    
 ,B.CCY    
 ,'AMORT'    
 ,CASE     
  WHEN B.METHOD = 'SL'    
   THEN 'ACCRU_SL'    
  ELSE 'ACCRU'    
  END    
 ,'ACT'    
 ,'N'    
 ,B.FLAG_CF    
 ,(    
  CASE     
   WHEN B.FLAG_REVERSE = 'Y'    
    THEN - 1 * B.AMOUNT    
   ELSE B.AMOUNT    
   END - A.UNAMORT_AMT    
  )    
 ,'REV_ADJ2'    
 ,CURRENT_TIMESTAMP    
 ,'ACFABN_ADJ'    
 ,B.BRCODE    
 ,B.PRDTYPE    
 ,''    
 ,B.CF_ID    
 ,B.METHOD    
FROM IFRS_LI_CFID_JOURNAL_INTM_SUMM A    
JOIN VW_LI_LAST_EIR_CF_PREV C ON C.DOWNLOAD_DATE = A.DOWNLOAD_DATE    
 AND C.MASTERID = A.MASTERID    
JOIN IFRS_LI_ACCT_EIR_COST_FEE_PREV B ON B.CF_ID = A.CF_ID    
 AND B.DOWNLOAD_DATE = C.DOWNLOAD_DATE    
 AND B.MASTERID = C.MASTERID    
 AND B.SEQ = C.SEQ    
WHERE A.DOWNLOAD_DATE = @V_CURRDATE    
 AND A.MASTERID IN (    
  SELECT MASTERID    
  FROM TMP_LI_T2    
  )    
    
/* UPDATE BY RISWANTO 03-12-2015 */    
-- NOT REVERSE      
UPDATE IFRS_LI_ACCT_JOURNAL_INTM    
SET N_AMOUNT_IDR = IFRS_LI_ACCT_JOURNAL_INTM.N_AMOUNT * COALESCE(RATE_AMOUNT, 1)    
FROM IFRS_MASTER_EXCHANGE_RATE B    
WHERE IFRS_LI_ACCT_JOURNAL_INTM.CCY = B.CURRENCY    
 AND B.DOWNLOAD_DATE = @V_CURRDATE    
 AND IFRS_LI_ACCT_JOURNAL_INTM.DOWNLOAD_DATE = @V_CURRDATE    
 AND IFRS_LI_ACCT_JOURNAL_INTM.REVERSE = 'N'    
 AND IFRS_LI_ACCT_JOURNAL_INTM.SOURCEPROCESS IN (    
  'ACFABN_ADJ'    
  ,'REV_ADJ'    
  ,'REV_ADJ2'    
  )    
    
-- INTM REVERSE DATA      
UPDATE IFRS_LI_ACCT_JOURNAL_INTM    
SET N_AMOUNT_IDR = IFRS_LI_ACCT_JOURNAL_INTM.N_AMOUNT * COALESCE(RATE_AMOUNT, 1)    
FROM IFRS_MASTER_EXCHANGE_RATE B    
WHERE IFRS_LI_ACCT_JOURNAL_INTM.CCY = B.CURRENCY    
 AND B.DOWNLOAD_DATE = @V_CURRDATE    
 AND IFRS_LI_ACCT_JOURNAL_INTM.DOWNLOAD_DATE = @V_CURRDATE    
 AND IFRS_LI_ACCT_JOURNAL_INTM.REVERSE = 'Y'    
 AND IFRS_LI_ACCT_JOURNAL_INTM.SOURCEPROCESS IN (    
  'ACFABN_ADJ'    
  ,'REV_ADJ'    
  ,'REV_ADJ2'    
  )    
    
INSERT INTO IFRS_LI_ACCT_JOURNAL_INTM_SUMM (    
 DOWNLOAD_DATE    
 ,MASTERID    
 ,FACNO    
 ,CIFNO    
 ,ACCTNO    
 ,DATASOURCE    
 ,PRDCODE    
 ,TRXCODE    
 ,CCY    
 ,JOURNALCODE    
 ,STATUS    
 ,REVERSE    
 ,FLAG_CF    
 ,N_AMOUNT    
 ,SOURCEPROCESS    
 ,CREATEDDATE    
 ,CREATEDBY    
 ,BRANCH    
 ,IS_PNL    
 ,JOURNALCODE2    
 ,PRDTYPE    
 )    
SELECT DOWNLOAD_DATE    
 ,MASTERID    
 ,FACNO    
 ,CIFNO    
 ,ACCTNO    
 ,DATASOURCE    
 ,PRDCODE    
 ,TRXCODE    
 ,CCY    
 ,JOURNALCODE    
 ,STATUS    
 ,REVERSE    
 ,FLAG_CF    
 ,N_AMOUNT    
 ,SOURCEPROCESS    
 ,CREATEDDATE    
 ,CREATEDBY    
 ,BRANCH    
 ,IS_PNL    
 ,JOURNALCODE2    
 ,PRDTYPE    
FROM IFRS_LI_ACCT_JOURNAL_INTM    
WHERE DOWNLOAD_DATE = @V_CURRDATE    
 AND SOURCEPROCESS IN (    
  'ACFABN_ADJ'    
  ,'REV_ADJ'    
  ,'REV_ADJ2'    
  )    
    
-- ADDED 03122015 UPDATE AMORT AMOUNT ON COST FEE SUMM      
TRUNCATE TABLE TMP_LI_AP    
    
INSERT INTO TMP_LI_AP (    
 MASTERID    
 ,FLAG_CF    
 ,AMOUNT    
 )    
SELECT MASTERID    
 ,FLAG_CF    
 ,SUM(CASE     
   WHEN REVERSE = 'Y'    
    THEN - 1 * N_AMOUNT    
   ELSE N_AMOUNT    
   END) AS AMORT_AMOUNT    
FROM IFRS_LI_ACCT_JOURNAL_INTM_SUMM    
WHERE DOWNLOAD_DATE = @V_CURRDATE    
 AND JOURNALCODE IN (    
  'ACCRU'    
  ,'ACCRU_SL'    
  ,'AMORT'    
  )    
 AND TRXCODE <> 'BENEFIT'    
 AND MASTERID IN (    
  SELECT MASTERID    
  FROM TMP_LI_T1    
      
  UNION ALL    
      
  SELECT MASTERID    
  FROM TMP_LI_T2    
  )    
GROUP BY MASTERID    
 ,FLAG_CF    
    
UPDATE IFRS_LI_ACCT_COST_FEE_SUMM    
SET AMORT_FEE = B.AMOUNT    
FROM TMP_LI_AP B    
WHERE IFRS_LI_ACCT_COST_FEE_SUMM.MASTERID = B.MASTERID    
 AND IFRS_LI_ACCT_COST_FEE_SUMM.DOWNLOAD_DATE = @V_CURRDATE    
 AND B.FLAG_CF = 'F'    
 AND IFRS_LI_ACCT_COST_FEE_SUMM.MASTERID IN (    
  SELECT MASTERID    
  FROM TMP_LI_T1    
      
  UNION ALL    
      
  SELECT MASTERID    
  FROM TMP_LI_T2    
  )    
    
UPDATE IFRS_LI_ACCT_COST_FEE_SUMM    
SET AMORT_COST = B.AMOUNT    
FROM TMP_LI_AP B    
WHERE IFRS_LI_ACCT_COST_FEE_SUMM.MASTERID = B.MASTERID    
 AND IFRS_LI_ACCT_COST_FEE_SUMM.DOWNLOAD_DATE = @V_CURRDATE    
 AND B.FLAG_CF = 'C'    
 AND IFRS_LI_ACCT_COST_FEE_SUMM.MASTERID IN (    
  SELECT MASTERID    
  FROM TMP_LI_T1    
      
  UNION ALL    
      
  SELECT MASTERID    
  FROM TMP_LI_T2    
  )    
    
--UPDATE IFRS_LI_CFID_JOURNAL_INTM_SUMM      
UPDATE IFRS_LI_CFID_JOURNAL_INTM_SUMM    
SET AMORT_AMT = ITRCG_AMT * - 1    
 ,UNAMORT_AMT = 0    
WHERE MASTERID IN (    
  SELECT MASTERID    
  FROM TMP_LI_T1    
  )    
 AND DOWNLOAD_DATE = @V_CURRDATE    
    
--20180108 UPDATE IFRS_LI_CFID_JOURNAL_INTM_SUMM FOR REV_ADJ      
UPDATE IFRS_LI_CFID_JOURNAL_INTM_SUMM    
SET AMORT_AMT = ITRCG_AMT * - 1    
 ,UNAMORT_AMT = 0    
WHERE MASTERID IN (    
  SELECT MASTERID    
  FROM TMP_LI_T2    
  )    
 AND CF_ID IN (    
  SELECT CF_ID    
  FROM IFRS_LI_ACCT_COST_FEE    
  WHERE DOWNLOAD_DATE = @V_CURRDATE    
   AND FLAG_REVERSE = 'Y'    
   AND CF_ID_REV IS NOT NULL    
      
  UNION ALL    
      
  SELECT CF_ID_REV    
  FROM IFRS_LI_ACCT_COST_FEE    
  WHERE DOWNLOAD_DATE = @V_CURRDATE    
   AND FLAG_REVERSE = 'Y'    
   AND CF_ID_REV IS NOT NULL    
  )    
 AND DOWNLOAD_DATE = @V_CURRDATE    
    
--20180109 UPDATE IFRS_LI_CFID_JOURNAL_INTM_SUMM FOR REV_ADJ2      
UPDATE IFRS_LI_CFID_JOURNAL_INTM_SUMM    
SET AMORT_AMT = AMORT_AMT + A.N_AMOUNT    
 ,UNAMORT_AMT = UNAMORT_AMT + A.N_AMOUNT    
FROM IFRS_LI_ACCT_JOURNAL_INTM A    
WHERE IFRS_LI_CFID_JOURNAL_INTM_SUMM.MASTERID IN (    
  SELECT MASTERID    
  FROM TMP_LI_T2    
  )    
 AND IFRS_LI_CFID_JOURNAL_INTM_SUMM.DOWNLOAD_DATE = @V_CURRDATE    
 AND A.DOWNLOAD_DATE = @V_CURRDATE    
 AND A.SOURCEPROCESS = 'REV_ADJ2'    
 AND A.CF_ID = IFRS_LI_CFID_JOURNAL_INTM_SUMM.CF_ID    

 --- 20180919 DELETE JOURNAL WHEN AMOUNT = 0   
DELETE  
FROM DBO.IFRS_LI_ACCT_JOURNAL_INTM  
WHERE DOWNLOAD_DATE = @V_CURRDATE  
 AND N_AMOUNT = 0  
    
INSERT INTO IFRS_LI_AMORT_LOG (    
 DOWNLOAD_DATE    
 ,DTM    
 ,OPS    
 ,PROCNAME    
 ,REMARK    
 )    
VALUES (    
 @V_CURRDATE    
 ,CURRENT_TIMESTAMP    
 ,'END'    
 ,'SP_IFRS_LI_JRNL_INTM_ACF_ABN_ADJ'    
 ,''    
 ) 

GO
