USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_ACCT_SL_ECF_EVENT]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IFRS_ACCT_SL_ECF_EVENT]
AS
DECLARE @V_CURRDATE DATE
	,@V_PREVDATE DATE

BEGIN
	SELECT @V_CURRDATE = MAX(CURRDATE)
		,@V_PREVDATE = MAX(PREVDATE)
	FROM IFRS_PRC_DATE_AMORT

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'START'
		,'SP_IFRS_ACCT_SL_ECF_EVENT'
		,''
		)

	-- RESET
	UPDATE IFRS_IMA_AMORT_CURR
	SET EIR_STATUS = ''
		,ECF_STATUS = ''
	WHERE DOWNLOAD_DATE = @V_CURRDATE
		AND ECF_STATUS = 'Y'

	UPDATE IFRS_MASTER_ACCOUNT
	SET EIR_STATUS = ''
		,ECF_STATUS = ''
	WHERE DOWNLOAD_DATE = @V_CURRDATE

	--UPDATE PMA SET ECF='' WHERE DOWNLOAD_DATE=V_CURRDATE AND ECF='Y'
	TRUNCATE TABLE TMP_ECF_ACT

	INSERT INTO TMP_ECF_ACT(MASTERID)
	SELECT DISTINCT MASTERID
	FROM IFRS_ACCT_SL_ECF
	WHERE AMORTSTOPDATE IS NULL
		--AND DOWNLOAD_DATE < @V_CURRDATE yg lama
		AND DOWNLOAD_DATE <= @V_CURRDATE

	--LOAN DUE DATE CHANGES
	TRUNCATE TABLE TMP_T1

	INSERT INTO TMP_T1(MASTERID)
	SELECT A.MASTERID
	FROM IFRS_IMA_AMORT_CURR A
	JOIN IFRS_IMA_AMORT_PREV B ON A.MASTERID = B.MASTERID
	JOIN TMP_ECF_ACT C ON C.MASTERID = A.MASTERID
	WHERE A.LOAN_DUE_DATE != B.LOAN_DUE_DATE
		AND A.LOAN_DUE_DATE > @V_CURRDATE -- DONT DETECT IF DUE DATE IS INVALID
		AND A.DOWNLOAD_DATE = @V_CURRDATE

	--NEW COST FEE
	TRUNCATE TABLE TMP_T2

	INSERT INTO TMP_T2 (MASTERID)
	SELECT DISTINCT A.MASTERID
	FROM IFRS_IMA_AMORT_CURR A
	JOIN IFRS_ACCT_COST_FEE B ON B.DOWNLOAD_DATE = @V_CURRDATE
		AND A.MASTERID = B.MASTERID
		AND B.STATUS = 'ACT'
		AND B.METHOD = 'SL'

	-- UPDATE ECF FLAG
	UPDATE IFRS_IMA_AMORT_CURR
	SET EIR_STATUS = 'Y'
		,ECF_STATUS = 'Y'
	WHERE MASTERID IN (
			SELECT MASTERID
			FROM TMP_T1
			
			UNION
			
			SELECT MASTERID
			FROM TMP_T2
			)
		AND DOWNLOAD_DATE = @V_CURRDATE
		--DONT DO IF CLOSED
		AND MASTERID NOT IN (
			SELECT DISTINCT MASTERID
			FROM IFRS_ACCT_CLOSED
			WHERE DOWNLOAD_DATE = @V_CURRDATE
			)

	--UPDATE PMA
	--SET ECF='Y'
	--WHERE MASTERID IN (SELECT MASTERID FROM TMP_T1 UNION SELECT MASTERID FROM TMP_T2)
	--AND DOWNLOAD_DATE=V_CURRDATE
	--DONT DO IF CLOSED
	--    AND MASTERID NOT IN (SELECT MASTERID FROM IFRS_ACCT_CLOSED WHERE DOWNLOAD_DATE=V_CURRDATE);
	--COMMIT;
	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'END'
		,'SP_IFRS_ACCT_SL_ECF_EVENT'
		,''
		)
END

GO
