USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_DCFSCENARIOHTEMP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_DCFSCENARIOHTEMP]
(
	@DCFID INT,
	@ScenarioRate VARCHAR(50),
	@ScenarioNo INT,
	@PeriodNo INT,
	@POS1 FLOAT = null,
	@ScenarioName1 VARCHAR(50) = null,
	@POS2 FLOAT = null,
	@ScenarioName2 VARCHAR(50) = null,
	@POS3 FLOAT = null,
	@ScenarioName3 VARCHAR(50) = null,
	@POS4 FLOAT = null,
	@ScenarioName4 VARCHAR(50) = null,
	@POS5 FLOAT = null,
	@ScenarioName5 VARCHAR(50) = null,
	@CreatedBy VARCHAR(36),
	@CreatedHost VARCHAR(30)
)
AS
BEGIN

	-- Delete the data if exists
	DELETE FROM IFRS_FL_SCENARIO_IA_D_TEMP
	WHERE HEADERID IN (SELECT PKID FROM IFRS_FL_SCENARIO_IA_H_TEMP WHERE DCFID = @DCFID);
	
	DELETE FROM IFRS_FL_SCENARIO_IA_H_TEMP
	WHERE DCFID = @DCFID;
	
	-- Insert the data
	INSERT INTO IFRS_FL_SCENARIO_IA_H_TEMP
	(
		DCFID,
		DCFSCENARIORATE,
		SCENARIONO,
		PERIODNO,
		POS1,
		POS2,
		POS3,
		POS4,
		POS5,
		SCENARIONAME1,
		SCENARIONAME2,
		SCENARIONAME3,
		SCENARIONAME4,
		SCENARIONAME5,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)
	VALUES
	(
		@DCFID,
		@ScenarioRate,
		@ScenarioNo,
		@PeriodNo,
		@POS1,
		@POS2,
		@POS3,
		@POS4,
		@POS5,
		@ScenarioName1,
		@ScenarioName2,
		@ScenarioName3,
		@ScenarioName4,
		@ScenarioName5,
		@CreatedBy,
		GETDATE(),
		@CreatedHost
	);

END;

GO
