USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHOOSEN_VARIABLE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USPS_CHOOSEN_VARIABLE]
	@modelId bigint
AS
BEGIN
	select ME_CODE,DERIVED_TYPE,CORRELATION_VALUE from IFRS_ME_MODEL_CORRELATION where IS_CHOSEN = 1 and MODEL_ID  = @modelId  
END

GO
