USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_AC_SPPIHEADERPENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_AC_SPPIHEADERPENDING]
(  
 @PKID bigint = 0,
 @CLASSNAME varchar(100) = ''
)
AS 
BEGIN

	IF((@PKID <> 0) AND (LEN(@CLASSNAME) < 1))
		BEGIN
			SELECT KET,NEWVALUE,OLDVALUE,ACTION FROM
			(
				SELECT 'SPPI Class :' AS KET,CASE WHEN ACTION = 'DELETE' THEN '' ELSE CLASSNAME END AS NEWVALUE,CLASSNAME_OLD AS OLDVALUE,PKID,ACTION FROM IFRS_AC_SPPI_HEADER_PENDING  WHERE PKID = @PKID
				UNION ALL
				SELECT 'Product Code :' AS KET,CASE WHEN ACTION = 'DELETE' THEN '' ELSE PRODUCT_CODE END AS NEWVALUE,PRODUCT_CODE_OLD AS OLDVALUE,PKID,ACTION FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = @PKID
				UNION ALL
				SELECT 'Created Date :' AS KET,CASE WHEN ACTION = 'DELETE' THEN '' ELSE CONVERT(VARCHAR(20),ISNULL(UPDATEDDATE,CREATEDDATE),113) END AS NEWVALUE,(SELECT CONVERT(VARCHAR(20),ISNULL(UPDATEDDATE,CREATEDDATE),113) FROM IFRS_AC_SPPI_HEADER WHERE PKID = PKID_OLD) AS OLDVALUE,PKID,ACTION FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = @PKID
				UNION ALL
				SELECT 
					'SPPI Result :' AS KET,
					CASE WHEN ACTION = 'DELETE'
						THEN ''
						ELSE
							(SELECT								
								CASE WHEN OVERRIDE_FLG = 1
									THEN OVERRIDE_RSLT
									ELSE SPPI_RSLT
								END AS 'NEWVALUE'
							FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = @PKID)
					END AS NEWVALUE,
					CASE WHEN OVERRIDE_FLG_OLD = 1
						THEN OVERRIDE_RSLT_OLD
						ELSE SPPI_RSLT_OLD
					END AS 'OLDVALUE',
					PKID,
					ACTION 
				FROM IFRS_AC_SPPI_HEADER_PENDING 
				WHERE PKID = @PKID
			)A WHERE A.PKID = @PKID
		END
	ELSE IF ((@PKID = 0) AND (LEN(@CLASSNAME) > 1))
		BEGIN
			SELECT PKID,KET,NEWVALUE,OLDVALUE,ACTION,STATUS FROM
			(
				SELECT 'SPPI Class :' AS KET,CLASSNAME AS NEWVALUE,CLASSNAME_OLD AS OLDVALUE,PKID,ACTION,STATUS FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = (SELECT MAX(PKID) FROM IFRS_AC_SPPI_HEADER_PENDING WHERE STATUS = 'APPROVED' AND CLASSNAME = @CLASSNAME)
				UNION ALL
				SELECT 'Product Code :' AS KET,PRODUCT_CODE AS NEWVALUE,PRODUCT_CODE_OLD AS OLDVALUE,PKID,ACTION,STATUS FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = (SELECT MAX(PKID) FROM IFRS_AC_SPPI_HEADER_PENDING WHERE STATUS = 'APPROVED' AND CLASSNAME = @CLASSNAME)
				UNION ALL
				SELECT 'Created Date :' AS KET,CONVERT(VARCHAR(20),ISNULL(UPDATEDDATE,CREATEDDATE),113) AS NEWVALUE,(SELECT CONVERT(VARCHAR(20),ISNULL(UPDATEDDATE,CREATEDDATE),113) FROM IFRS_AC_SPPI_HEADER WHERE PKID = PKID_OLD) AS OLDVALUE,PKID,ACTION,STATUS FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = (SELECT MAX(PKID) FROM IFRS_AC_SPPI_HEADER_PENDING WHERE STATUS = 'APPROVED' AND CLASSNAME = @CLASSNAME)
				UNION ALL
				SELECT 
					'SPPI Result :' AS KET,
					CASE WHEN ACTION = 'DELETE'
						THEN ''
						ELSE
							(SELECT								
								CASE WHEN OVERRIDE_FLG = 1
									THEN OVERRIDE_RSLT
									ELSE SPPI_RSLT
								END AS 'NEWVALUE'
							FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = @PKID)
					END AS NEWVALUE,
					CASE WHEN OVERRIDE_FLG_OLD = 1
						THEN OVERRIDE_RSLT_OLD
						ELSE SPPI_RSLT_OLD
					END AS 'OLDVALUE',
					PKID,
					ACTION,
					STATUS 
				FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = (SELECT MAX(PKID) FROM IFRS_AC_SPPI_HEADER_PENDING WHERE STATUS = 'APPROVED' AND CLASSNAME = @CLASSNAME)
			)A WHERE A.PKID = (SELECT MAX(PKID) FROM IFRS_AC_SPPI_HEADER_PENDING WHERE STATUS = 'APPROVED' AND CLASSNAME = @CLASSNAME)
		END;	
END
GO
