USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PASSWORDHISTORY]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_PASSWORDHISTORY]	
(	
	-- parameter input untuk kolom helper
	@CreatedBy AS varchar(50) = ''
	
	-- parameter input untuk kolom data
	,@UserID AS varchar(36)=''
	,@Password AS varchar(50)=''
)		
AS		
BEGIN		
	-- procedure untuk insert 1 row ke table ?	
	INSERT INTO [tblT_PasswordHistory]	
	(	
		--kolom helper
		CreatedDate
		,CreatedBy
		,UpdatedDate
		,UpdatedBy,
		
		-- kolom data
		[UserID]
		,[Password]
	)	
	VALUES	
	(	
		-- input untuk kolom helper
		getDate()
		,@CreatedBy
		,getDate()
		,@CreatedBy
		
		-- input untuk kolom data
		,@UserID
		,@Password
	)
END





GO
