USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_DEFRATE_CUST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_PD_DEFRATE_CUST]
(
	@RuleID int=0,
	@Period date = '1900-01-01'
)
as
begin
	Select DISTINCT 
		A.CURR_DATE "PERIOD",
		CASE WHEN A.BUCKET_ID < D.MAX_BUCKET_ID THEN 
			ISNULL(B.SUB_BUCKET_GROUP,B.BUCKET_NAME) 
		ELSE
		    'TOTAL'
		END AS BUCKET_NAME,
		A.BAD_POPULATION "BAD",
		A.GOOD_POPULATION GOOD,
		A.DEFAULT_RATE * 100 as DEFAULT_RATE
	FROM IFRS_PD_MAA_DR A
	JOIN IFRS_IMPC_BUCKET_PARAM B
	ON A.BUCKET_GROUP = B.BUCKET_GROUP
	AND A.BUCKET_ID = B.BUCKET_ID
	JOIN IFRS_PD_DEFAULT_RATE_CONFIG C
	ON A.DR_RULE_ID = C.PKID
	AND A.DR_RULE_ID = @RuleID
	AND A.CURR_DATE <= @Period
	JOIN VW_IFRS_MAX_BUCKET D
	ON A.BUCKET_GROUP = D.BUCKET_GROUP
end

GO
