USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_TMP_PD_LIGHT_HEADER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPI_TMP_PD_LIGHT_HEADER]
(
	@ModelName varchar(100)='',
	@TMRuleId int = 0,
	@TMPeriod date='1900-01-01',
	@BootstrapID int = 0,
	@LightGroup varchar(30)='',
	@AvgLightFrom date='1900-01-01',
	@AvgLightTo date='1900-01-01',
	@PDEffPeriod date='1990-01-01',
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(36)='',
	@NewPKID bigint OUT
)
as
begin
	DECLARE @BucketGroup VARCHAR(30);

	SELECT @BucketGroup = BUCKET_GROUP
	FROM IFRS_PD_TRANS_MATRIX_CONFIG
	WHERE PKID = @TMRuleId;

	INSERT INTO TMP_IFRS_LIGHT_PD_CONFIG
		(LIGHT_PD_MODEL_NAME, TM_RULE_ID, TM_PERIOD, BOOTSTRAP_RULE_ID, BUCKET_GROUP, LIGHT_GROUP, AVG_LIGHT_FROM, AVG_LIGHT_TO, PD_EFF_PERIOD,
		 CREATEDBY, CREATEDDATE, CREATEDHOST)
	VALUES
		(
			@ModelName,
			@TMRuleId,
			EOMonth(@TMPeriod),
			@BootstrapID,
			@BucketGroup,
			@LightGroup,
			@AvgLightFrom,
			@AvgLightTo,
			EOMonth(@PDEffPeriod),
			@CreatedBy,
			getdate(),
			@CreatedHost
		)

	SET @NewPKID = SCOPE_IDENTITY();
End

GO
