USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_RUNNINGPROCESS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_RUNNINGPROCESS]
(
	@Status VARCHAR(30)
)
AS
BEGIN

    SET NOCOUNT ON;

    SELECT TTJH.PKID, 
		TTJH.JobNo, 
		TTJH.PeriodDate, 
		TTJH.Period, 
		TTJH.Status, 
		TTJH.Msg, 
		TTJH.JobId, 
		TTJH.CreatedBy, 
		TTJH.CreatedDate, 
		TTJH.CreatedHost, 
		TTJH.UpdatedBy, 
		TTJH.UpdatedDate, 
		TTJH.UpdatedHost, 
		TTJH.Branch, 
		TTJH.BranchName, 
		TMJ.JobName 
    FROM dbo.tblT_JobHistory AS TTJH 
		LEFT JOIN dbo.tblM_Job AS TMJ ON TTJH.JobNo = TMJ.JobNo 
    WHERE Status = @Status;

END;

GO
