USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETJOBNOTR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETJOBNOTR]
(
	@JobName VARCHAR(200)
)
AS    
BEGIN
	
	SET NOCOUNT ON        
	SELECT JobNo    
	FROM tblM_Job  (nolock)  
	WHERE JobName = @JobName        
	SET NOCOUNT OFF 
	
END

GO
