USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPREPOPRODUCTTYPE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPREPOPRODUCTTYPE]    
(    
 @datasource VARCHAR(50)  
)    
AS      
BEGIN    
    
 DECLARE @Query VARCHAR(5000);    
    
 SET @Query =     
  'SELECT
		DISTINCT PRD_TYPE "PRODUCT_TYPE"
		,PRD_TYPE "Product Type"    
  FROM IFRS_MASTER_PRODUCT_PARAM  
  WHERE DATA_SOURCE IN (''OPICS'') '
			+ ' AND DATA_SOURCE LIKE ''%' + @datasource + '%'' 
			AND PRD_TYPE_1 LIKE ''%REPO%''';

 EXEC (@Query);    
    
END;    

GO
