USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPBMAANSWER]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPBMAANSWER]
	@PKID bigint =0
AS
BEGIN
	
	SELECT PKID AS VALUEFIELD, OPTION_DESC AS TEXTFIELD
	FROM IFRS_AC_BM_MASTER_QUEST_D
	WHERE QUESTIONID = @PKID
	ORDER BY OPTION_ID

END

GO
