USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_DISCLOSUREFINANCIAL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_DISCLOSUREFINANCIAL](              
@DOWNLOAD_DATE DATE = '01/01/2000')  
AS  
BEGIN
	
	SELECT 'Financial Assets' AS "Instrument Classification"
		,IFRS9_CLASS AS "IFRS9 Class"
		,B.PRD_TYPE_1 AS "Product Type 1"
		,PRODUCT_TYPE AS "Product Type"
		,0 AS "Stage"
		,SUM(ISNULL(OUTSTANDING,0)) AS "Outstanding IDR"
		,0 AS "Book Value IDR"
		,SUM(ISNULL(FAIR_VALUE_AMOUNT,0)) AS "Fair Value IDR"
		,0 AS "IIP Amount"
		,0 AS "PIP Amount"
	FROM IFRS_MASTER_ACCOUNT A
	LEFT JOIN IFRS_MASTER_PRODUCT_PARAM B
		ON A.DATA_SOURCE = B.DATA_SOURCE AND A.PRODUCT_TYPE = B.PRD_TYPE AND A.PRODUCT_CODE = B.PRD_CODE
	WHERE A.DOWNLOAD_DATE = @DOWNLOAD_DATE
		AND A.ACCOUNT_STATUS = 'A'
	GROUP BY IFRS9_CLASS
		,B.PRD_TYPE_1
		,PRODUCT_TYPE

	UNION ALL

	SELECT 'Financial Liabilities' AS "Instrument Classification"
		,IFRS9_CLASS AS "IFRS9 Class"
		,B.PRD_TYPE_1 AS "Product Type 1"
		,PRODUCT_TYPE AS "Product Type"
		,0 AS "Stage"
		,SUM(ISNULL(OUTSTANDING,0)) AS "Outstanding IDR"
		,0 AS "Book Value IDR"
		,SUM(ISNULL(FAIR_VALUE_AMOUNT,0)) AS "Fair Value IDR"
		,0 AS "IIP Amount"
		,0 AS "PIP Amount"
	FROM IFRS_LI_MASTER_ACCOUNT A
	LEFT JOIN IFRS_MASTER_PRODUCT_PARAM B
		ON A.DATA_SOURCE = B.DATA_SOURCE AND A.PRODUCT_TYPE = B.PRD_TYPE AND A.PRODUCT_CODE = B.PRD_CODE
	WHERE A.DOWNLOAD_DATE = @DOWNLOAD_DATE
		AND A.ACCOUNT_STATUS = 'A'
	GROUP BY IFRS9_CLASS
		,B.PRD_TYPE_1
		,PRODUCT_TYPE
	ORDER BY [Instrument Classification],IFRS9_CLASS,[Product Type 1],[Product Type]

END;

GO
