USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspI_ECLLGDModel]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[uspI_ECLLGDModel]                
(               
 @LGD_RULE_NAME VARCHAR(250) = '',                
 @SEGMENTATION_ID bigint = 0,                
 @SEGMENT varchar(50) = '',        
 @LGD_METHOD varchar(50) = '',        
 @DEFAULT_RULE_ID bigint = 0,        
 @DEFAULT_RULE varchar(50) = '',        
 @CUT_OFF_DATE date = NULL,        
 @LGW_HISTORICAL_DATA smallint = 0,        
 @POW_HISTORICAL_DATA smallint = 0,        
 @CURED_DEFINITION smallint = 0,        
 @WORKOUT_PERIOD smallint = 0,        
 @MIN_VALUE float = 0,        
 @MAX_VALUE float = 0,        
 @EXCLUDE_RESTRUCTURE_FLAG bit = 0,
 @MonthFlag BIT, 
 @CreatedBy VARCHAR(36),                
    @CreatedHost VARCHAR(30),  
 @CALC_METHOD varchar(50)                
)                
AS                
BEGIN              
  INSERT INTO IFRS_LGD_RULES_CONFIG        
  (                
   [LGD_RULE_NAME]        
   ,[SEGMENTATION_ID]        
   ,[LGD_METHOD]        
   ,[LGW_HISTORICAL_DATA]        
   ,[POW_HISTORICAL_DATA]        
   ,[CURED_DEFINITION]        
   ,[WORKOUT_PERIOD]        
   ,[MIN_VALUE]        
   ,[MAX_VALUE]        
   ,[CUT_OFF_DATE]        
   ,[DEFAULT_RULE_ID]      
   ,[EXCLUDE_RESTRUCTURE_FLAG]
   , LAG_1MONTH_FLAG       
   ,CREATEDBY        
   ,CREATEDDATE        
   ,CREATEDHOST  
   ,CALC_METHOD
   ,ACTIVE_FLAG        
   ,RUNNING_STATUS
  )                
  VALUES                
  (                
   @LGD_RULE_NAME,                
   @SEGMENTATION_ID,        
   @LGD_METHOD,        
   @LGW_HISTORICAL_DATA,        
   @POW_HISTORICAL_DATA,        
   @CURED_DEFINITION,        
   @WORKOUT_PERIOD,               
   @MIN_VALUE,        
   @MAX_VALUE,              
   @CUT_OFF_DATE,        
   @DEFAULT_RULE_ID,        
   @EXCLUDE_RESTRUCTURE_FLAG,   
   @MonthFlag,   
   @CreatedBy,                
   GETDATE(),                
   @CreatedHost,  
   @CALC_METHOD,
   1,
   'PENDING'
  );        
        
END

GO
