USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MONMARKETIMPAIRMENT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_MONMARKETIMPAIRMENT]  
(    
 @DDATE_MAID VARCHAR(50)=''    
)    
AS    
BEGIN    
            
 SELECT DOWNLOAD_DATE,    
  MASTER_ACCOUNT_CODE,    
  CURRENCY as CCY,  
  --RESERVED_VARCHAR_4 as RATING,  
  STAGE as STAGE,  
  PD_RULE_ID as PD,  
  LGD_RULE_ID as LGD,
  0 as DISCOUNT,  
  EAD_AMOUNT as EAD,  
  COALESCE(BEGINNING_BALANCE, 0) AS BEGINNING_BALANCE,  
  0 AS CHARGE,    
  0 AS WRITE_BACK,          
  COALESCE(ENDING_BALANCE, 0) AS ENDING_BALANCE    
    FROM IFRS_MASTER_ACCOUNT_MONTHLY A    
    WHERE IMPAIRED_FLAG = 'C' AND IS_IMPAIRED = 1    
        AND A.MASTER_ACCOUNT_CODE = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))    
        AND A.DOWNLOAD_DATE <= CONVERT(VARCHAR, SUBSTRING(@DDATE_MAID, 1, 10), 111)    
    ORDER BY MASTER_ACCOUNT_CODE  
          
    
END;    
GO
