USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_IAPLISTAPPROVED]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_IAPLISTAPPROVED](  
@DATE_CIF_SEGMENT varchar(100) = '',
@APPROVAL_REMARKS varchar(4000) = '',
@APPROVEDBY varchar(36) = '',
@APPROVEDHOST varchar(36) = '')  
AS  
BEGIN
DECLARE @ID bigint
DECLARE @CUSTOMER_NUMBER varchar(100)
DECLARE @DOWNLOAD_DATE date
DECLARE @SCENARIO_ID bigint
DECLARE @PROBABILITY_OUTCOME_OVERRIDE float

	SELECT @ID = MAX(ID) FROM IFRS_IAP_LIST_PENDING WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT AND APPROVAL_STATUS = 'P'

	--UPDATE IFRS_IAP_LIST
	UPDATE A
	SET A.IMPAIRED_FLAG = C.IMPAIRED_FLAG
		,A.WORKOUT_PERIOD_MODE = C.WORKOUT_PERIOD_MODE
		,A.COLLECTION_COST = C.COLLECTION_COST
		,A.WORKOUT_PERIOD = C.WORKOUT_PERIOD
		,A.COLLATERAL_LIQUIDATION_VALUE = C.COLLATERAL_LIQUIDATION_VALUE_OVERRIDE
		,A.PROBABILITY_WEIGHTED = C.PROBABILITY_WEIGHTED
		,A.IIP_AMOUNT = C.IIP_AMOUNT_OVERRIDE
		,A.DISC_CASH_FLOW = C.DISC_CASH_FLOW_OVERRIDE
		,APPROVAL_STATUS = 'A'
		,UPDATEDBY = @APPROVEDBY
		,UPDATEDDATE = GETDATE()
		,UPDATEDHOST = @APPROVEDHOST
	FROM IFRS_IAP_LIST A
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SUB_SEGMENT = B.SUB_SEGMENT
		AND IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
	LEFT JOIN IFRS_IAP_LIST_PENDING C ON A.DOWNLOAD_DATE = C.DOWNLOAD_DATE
		AND A.CUSTOMER_NUMBER = C.CUSTOMER_NUMBER
		AND A.SEGMENT = C.SEGMENT
		AND C.APPROVAL_STATUS = 'P'
		AND C.ID = @ID
	WHERE CAST(A.DOWNLOAD_DATE AS varchar(10)) + '_' + A.CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) = @DATE_CIF_SEGMENT


	--UPDATE IFRS_IAP_LIST_SCENARIO
	DECLARE c_where_tab CURSOR FOR
	SELECT CUSTOMER_NUMBER,DOWNLOAD_DATE,SCENARIO_ID,PROBABILITY_OUTCOME_OVERRIDE FROM IFRS_IAP_LIST_SCENARIO_PENDING WHERE ID = @ID
	OPEN c_where_tab;
	FETCH NEXT FROM c_where_tab INTO @CUSTOMER_NUMBER,@DOWNLOAD_DATE,@SCENARIO_ID,@PROBABILITY_OUTCOME_OVERRIDE;
	WHILE @@FETCH_STATUS = 0
	BEGIN

		UPDATE IFRS_IAP_LIST_SCENARIO
			SET PROBABILITY_OUTCOME = @PROBABILITY_OUTCOME_OVERRIDE
				,UPDATEDBY = @APPROVEDBY
				,UPDATEDDATE = GETDATE()
				,UPDATEDHOST = @APPROVEDHOST
		WHERE CUSTOMER_NUMBER = CUSTOMER_NUMBER
			AND DOWNLOAD_DATE = @DOWNLOAD_DATE
			AND SCENARIO_ID = @SCENARIO_ID
	
	FETCH NEXT FROM c_where_tab INTO @CUSTOMER_NUMBER,@DOWNLOAD_DATE,@SCENARIO_ID,@PROBABILITY_OUTCOME_OVERRIDE;
	END
	CLOSE c_where_tab
	DEALLOCATE c_where_tab

	--UPDATE IFRS_IAP_LIST_PENDING
	UPDATE IFRS_IAP_LIST_PENDING
	SET APPROVAL_STATUS = 'A'
		,UPDATEDBY = @APPROVEDBY
		,UPDATEDDATE = GETDATE()
		,UPDATEDHOST = @APPROVEDHOST
	WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT
		AND ID = @ID
END

GO
