USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LT_CONFIG_ECL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LT_CONFIG_ECL]  
AS  
BEGIN  
 SELECT  
  PKID RULE_ID  
  ,LIFETIME_RULE_NAME  
  ,EXP_LIFE  
  ,ROW_NUMBER() OVER(ORDER BY PKID ASC) AS rownumber  
 FROM IFRS_LIFETIME_RULES_CONFIG    
 WHERE ISNULL(IS_DELETE,0)=0  
END
GO
