USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ASSETMAINMAPPING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_ASSETMAINMAPPING]
(
    @SPPI_Rslt Varchar(50) = NULL,
    @BM_Rslt Varchar(50) = NULL
)
AS
BEGIN
    
    SELECT *
    FROM IFRS_ASSET_CLASS_MAIN_MAPPING
    WHERE SPPI_RSLT = @SPPI_Rslt 
		AND BM_RSLT = @BM_Rslt;

END;

GO
