USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEDERIVED_D]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MEDERIVED_D](    
@MODEL_ID bigint    
,@IS_SIMULATION bit    
,@MACRO_ECONOMIC_CODE varchar(200)    
)    
AS    
BEGIN    
    
DECLARE @COLS AS VARCHAR(MAX)  
DECLARE @QUERY AS VARCHAR(MAX)
DECLARE @TABLE AS VARCHAR(50)

IF (@IS_SIMULATION = 1)
	SET @TABLE = 'IFRS_ME_DERIVED_VARIABLE_TEMP'
ELSE IF (@IS_SIMULATION = 0)
	SET @TABLE = 'IFRS_ME_DERIVED_VARIABLE'
  
	SELECT @COLS = STUFF((
							SELECT ',' + QUOTENAME(DERIVED_TYPE)
							FROM IFRS_ME_DERIVED_VARIABLE_TEMP
							WHERE MODEL_ID = @MODEL_ID
								AND ME_CODE = @MACRO_ECONOMIC_CODE  
							GROUP BY DERIVED_TYPE  
							ORDER BY DERIVED_TYPE  
					FOR XML PATH(''), TYPE).value('.', 'VARCHAR(MAX)'),1,1,'')  
  
	--SELECT @COLS  
  
	SET @QUERY =
		'SELECT
			ME_PERIOD,' + @COLS + '
			FROM   
            (  
				SELECT DISTINCT
					ME_PERIOD,
					DERIVED_TYPE,
					ME_VAL  
                FROM '+ @TABLE +'  
				WHERE MODEL_ID = ' + CAST(@MODEL_ID AS VARCHAR(5)) + '
					AND ME_CODE = ''' + @MACRO_ECONOMIC_CODE + '''   
            ) X  
            PIVOT   
            (  
				SUM(ME_VAL) FOR DERIVED_TYPE IN (' + @COLS + ')  
            ) P   
		ORDER BY ME_PERIOD'  
  
PRINT(@QUERY)  
EXEC(@QUERY)  
    
END
GO
