USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCREENGROUPD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCREENGROUPD]
	@PKID BIGINT, 
	@UserID VARCHAR(50)
AS
	SELECT d.* 
	INTO #temp 
	FROM tblM_ScreenGroupDetail d 
		INNER JOIN tblM_ScreenGroupHeader c ON c.PKID = d.ScreenGroupID               
	WHERE c.PKID = @PKID
         
	SELECT ModuleID 
	INTO #temp1 
	FROM tblM_UserModule 
	WHERE UserID=@UserID         
         
	SELECT b.ScreenGroupID, 
		a.PKID, 
		a.ScreenID, 
		a.Title, 
		ISNULL(a.ParentID, '') AS ParentScreenID, 
		ISNULL(b.CanView, 0) AS CanView, 
		ISNULL(b.CanInsert, 0) AS CanInsert, 
		ISNULL(b.CanUpdate, 0) as CanUpdate,                      
		ISNULL(b.CanDelete, 0) AS CanDelete, 
		ISNULL(b.CanExport, 0) AS CanExport, 
		ISNULL(b.CanUpload, 0) AS CanUpload, 
		ISNULL(b.CanUpload, 0) AS CanUpload, 
		ISNULL(b.NeedApproval, 0) AS NeedApproval, 
		ISNULL(a.HasView, 0) AS HasView, 
		ISNULL(a.HasInsert, 0) AS HasInsert, 
		ISNULL(a.HasUpdate,0) AS HasUpdate,
		ISNULL(a.HasDelete, 0) AS HasDelete, 
		ISNULL(a.HasExport, 0) AS HasExport, 
		ISNULL(a.HasUpload, 0) AS HasUpload, 
		ISNULL(a.HasApproval, 0) AS HasApproval, 
		a.ModuleID 
	FROM tblM_Screen a 
	LEFT JOIN 
	(
		SELECT * FROM #temp
	) b ON a.ScreenID = b.ScreenID 
	WHERE a.Active = 1 
		AND a.ModuleID IN (SELECT ModuleID FROM #temp1)        
	ORDER BY SEQUENCE
           
	DROP TABLE #temp        
	DROP TABLE #temp1

GO
