USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_CANCELPROCESS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_CANCELPROCESS]
(
	@PKID BIGINT, 
	@Status VARCHAR(30), 
	@UpdatedBy VARCHAR(36), 
	@UpdatedHost VARCHAR(32)
)
AS
BEGIN

	BEGIN TRAN
    
    DECLARE @JobNo INT;
    
	SELECT @JobNo = JobNo
    FROM tblT_JobHistory
    WHERE PKID = @PKID;
    
	UPDATE tblT_JobHistory
	SET [Status] = @Status, 
		UpdatedBy = @UpdatedBy, 
		UpdatedDate = GETDATE(), 
		UpdatedHost = @UpdatedHost
	WHERE PKID = @PKID;
    
	UPDATE dbo.tblT_ServiceJobsHeader    
	SET [Status] = @Status, 
		UpdatedBy=@UpdatedBy, 
		UpdatedDate=GETDATE(), 
		UpdatedHost=@UpdatedHost
	FROM dbo.tblT_ServiceJobsHeader
	WHERE [Status] = 'Queued'
		AND JobNo = @JobNo;
              
	IF @@ERROR = 0
		COMMIT TRAN;
	ELSE
		ROLLBACK TRAN;

END;

GO
