USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_ASSETCLASSHEADER]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPD_ASSETCLASSHEADER]
(
    @PKID BIGINT
)
AS
BEGIN

	DELETE FROM IFRS_ASSET_CLASS_SPPI_DETAIL WHERE Asset_ID = @PKID;	
	DELETE FROM IFRS_ASSET_CLASS_BM_DETAIL WHERE Asset_ID = @PKID;	
	DELETE FROM IFRS_ASSET_CLASS_HEADER WHERE PKID = @PKID;
	
END;

GO
