USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETPRCDATEAMORT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETPRCDATEAMORT]
AS
BEGIN

      SELECT * 
        FROM IFRS_PRC_DATE_AMORT  ;
      
END;

GO
