USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SICRRULED]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SICRRULED]  
(  
 @RULE_ID VARCHAR(50)=0,  
 @RULE_TYPE VARCHAR(50)=''  
)  
AS  
BEGIN  
  
        
  SELECT *   
        FROM IFRS_SCENARIO_RULES_DETAIL   
        WHERE RULE_ID = @RULE_ID AND IS_DELETE = 0  
        --AND ISNULL(DETAIL_TYPE, '') LIKE '%SICR%'  
        ORDER BY QUERY_GROUPING, SEQUENCE, PKID;  
  
END  
GO
