USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPFUNDINGPRODUCTCODE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPFUNDINGPRODUCTCODE]
(
	@datasource VARCHAR(50),
	@producttype VARCHAR(50)
)
AS  
BEGIN

	DECLARE @Query VARCHAR(5000);

	SET @Query = 
		'SELECT DISTINCT PRD_CODE "PRODUCT_CODE",
			PRD_CODE "Product Code"
		FROM IFRS_MASTER_PRODUCT_PARAM
		WHERE '
		+ CASE WHEN @datasource = ''
			THEN 'DATA_SOURCE IN (''FCUBS'') '
			ELSE 'DATA_SOURCE LIKE ''%' + @datasource + '%'' '
		END +
		' AND PRD_TYPE LIKE ''%'+@producttype+'%''';

	EXEC (@Query);

END; 

GO
