USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADFORECASTAPPROVAL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOADFORECASTAPPROVAL]
(         
 @userid VARCHAR(36)        
)            
AS            
BEGIN            
            
	SELECT
		ME_CODE,
		METHOD,
		A.CREATEDDATE,
		B.USERNAME CREATEDBY,
		C.USERNAME APPROVER,
		B.REPORTTO,
		SUBSTRING(ACTION, 0, CHARINDEX('_',ACTION)) AS "ACTION"  
	FROM IFRS_ME_FORECAST_PEND A
	JOIN TBLM_REPORTTO B ON A.CREATEDBY = B.USERID
	JOIN TBLM_USER C ON B.REPORTTO = C.PKID
	WHERE B.REPORTTO = @userid
            
END; 
GO
