USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_COLLATHAIRCUTPARAM]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_COLLATHAIRCUTPARAM]                          
(                       
	 @COLLATERAL_CODE varchar(10) = '',
	 @COLLATERAL_CATEGORY varchar(10) = '',
	 @COLLATERAL_HAIRCUT decimal(5,2) = 0,
	 @COLLATERAL_FORCE_SALE decimal(5,2) = 0,
	 @FSV decimal(5,2) = 0,
	 @IS_CALCULATED bit = 0,
	 @CreatedBy varchar(36) = '',               
	 @CreatedHost varchar(30) = ''                     
)            
AS  
BEGIN       
            
	INSERT INTO [dbo].[IFRS_COLL_HAIRCUT_PARAM]            
	(         
		  [COLLATERAL_CODE]            
		, [COLLATERAL_CATEGORY]
		, [COLLATERAL_HAIRCUT]
		, [COLLATERAL_FORCE_SALE]
		, [FSV]
		, [IS_CALCULATED]
		, [CreatedBy]              
		, [CreatedDate]              
		, [CreatedHost]                 
	)                          
	VALUES                          
	(            
		 @COLLATERAL_CODE
		,@COLLATERAL_CATEGORY
		,@COLLATERAL_HAIRCUT
		,@COLLATERAL_FORCE_SALE
		,@FSV
		,@IS_CALCULATED
		,@CreatedBy              
		,GETDATE()              
		,@CreatedHost              
	)  
  
END;

GO
