USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IMP_OVERRIDE_M_PENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IMP_OVERRIDE_M_PENDING]
(
	@DOWNLOAD_DATE DATE, 
	@EFFECTIVE_DATE DATE, 
	@OVERRIDE_NO BIGINT, 
	@PRODUCT_ENTITY VARCHAR(1), 
	@CUSTOMER_NUMBER VARCHAR(50), 
	@FACILITY_NUMBER VARCHAR(50), 
	@CURRENCY VARCHAR(5), 
	@IPP DECIMAL(32, 6), 
	@IPD DECIMAL(32, 6), 
	@IIP DECIMAL(32, 6), 
	@DCFSTATUS VARCHAR(1), 
	@CREATEDBY VARCHAR(36), 
	@CREATEDHOST VARCHAR(30) 
) 
AS 
BEGIN 
    
	INSERT INTO IFRS_IMP_OVERRIDE_MASTER_PEND 
	(
		DOWNLOAD_DATE, 
		EFFECTIVE_DATE, 
		OVERRIDE_NO, 
		PRODUCT_ENTITY,
		CUSTOMER_NUMBER,
		FACILITY_NUMBER,
		CURRENCY,
		IPP, 
		IPD, 
		IIP, 
		DCFSTATUS,
		CREATEDBY,
		CREATEDHOST 
	)  
	VALUES  
	(  
		@DOWNLOAD_DATE, 
		@EFFECTIVE_DATE, 
		@OVERRIDE_NO, 
		@PRODUCT_ENTITY, 
		@CUSTOMER_NUMBER, 
		@FACILITY_NUMBER, 
		@CURRENCY, 
		@IPP, 
		@IPD, 
		@IIP, 
		@DCFSTATUS, 
		@CREATEDBY, 
		@CREATEDHOST
	)  
  
END

GO
