USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMJFPORTIONLIST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMJFPORTIONLIST]                  
(                  
  @Where VARCHAR(4000) = NULL,                  
  --@pageNumber int,                  
  --@pageSize int ,            
  @SortColumn as varchar(100)= ''               
)                  
AS            
BEGIN            
             
 DECLARE @Query VARCHAR (3000);         
 if @SortColumn = ''            
  Begin            
   set @SortColumn = 'PRODUCT_CODE, PRD_TYPE'            
  End         
        
  SET @Query =                   
  'SELECT *                  
  FROM                   
  (                  
   SELECT ROW_NUMBER() OVER(ORDER BY ' + @SortColumn + ') AS [ROW],        
   IFJ.PKID,        
   PRD_GROUP,        
   PRD_TYPE,        
   IFJ.PRODUCT_CODE,        
   PRINCIPAL_PORTION,        
   INTEREST_PORTION,        
   TRANSACTION_FEE_PORTION,  
   TRANSACTION_COST_PORTION,    
   IFJ.CREATEDDATE        
   FROM IFRS_JF_PORTION_PARAM IFJ LEFT JOIN IFRS_MASTER_PRODUCT_PARAM IMP        
   ON IFJ.PRODUCT_CODE = IMP.PRD_CODE        
   WHERE IMP.IS_DELETE = 0'        
   + CASE WHEN @Where IS NOT NULL                  
   THEN ' AND ' + @Where                  
   ELSE ''                  
   END             
                   
  + ') TableConstraint'                 
    
  + ' ORDER BY TableConstraint.CREATEDDATE DESC';                  
                     
 EXEC (@Query);             
 print @Query;         
        
END 
GO
