USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECLPENDINGEAD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_ECLPENDINGEAD]      
@PKID bigint      
AS      
 SELECT    
 A.PKID AS RULE_ID    
 ,D.GROUP_SEGMENT    
 ,D.SEGMENT    
 ,D.SUB_SEGMENT
 ,CASE WHEN B.EAD_MODEL_ID = 99999
	THEN 'none'
	ELSE C.EAD_RULE_NAME
  END AS RULE_NAME   
 ,CASE WHEN B.CCF_MODEL_ID = 99999
	THEN 'none'
	ELSE (SELECT CCF_RULE_NAME FROM IFRS_CCF_RULES_CONFIG WHERE PKID = B.CCF_MODEL_ID) 
  END AS CCF_RULE_NAME 
 ,B.CCF_EFF_DATE_OPTION  
 ,REPLACE(CONVERT(VARCHAR(20),B.CCF_EFF_DATE,106), ' ','-') CCF_EFF_DATE  
 ,CASE WHEN E.SUB_SEGMENT IS NULL
	THEN 'none'
	ELSE E.SUB_SEGMENT
  END AS "DESC"    
 FROM IFRS_ECL_MODEL_HEADER_PENDING A    
 JOIN IFRS_ECL_MODEL_DETAIL_EAD_PEND B ON A.PKID = B.ECL_MODEL_ID    
 LEFT JOIN IFRS_EAD_RULES_CONFIG C ON B.EAD_MODEL_ID = C.PKID    
 --JOIN IFRS_CCF_RULES_CONFIG F ON B.CCF_MODEL_ID = F.PKID  
 JOIN IFRS_MSTR_SEGMENT_RULES_HEADER D ON B.SEGMENTATION_ID = D.PKID    
 LEFT JOIN (SELECT PKID,SUB_SEGMENT FROM IFRS_MSTR_SEGMENT_RULES_HEADER WHERE SEGMENT_TYPE = 'EAD_SEGMENT')E    
 ON C.SEGMENTATION_ID = E.PKID    
 WHERE A.PKID = @PKID 
 ORDER BY D.GROUP_SEGMENT    
	,D.SEGMENT    
	,D.SUB_SEGMENT

GO
