USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADSUBSEGMENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USPS_LOADSUBSEGMENT]
AS
BEGIN
	
	SELECT VALUE1 AS SEGMENT_TYPE
	FROM TBLM_COMMONCODEDETAIL
	WHERE COMMONCODE = 'B105' AND IS_DELETE = 0 order by SEQUENCE

END

GO
