USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CCFCONFIGURATION_D]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CCFCONFIGURATION_D](  
@PKID bigint = 0  
)    
AS          
BEGIN          
          
    DECLARE @param varchar(100)
	SELECT @param = CCF_RULES_ID FROM IFRS_EAD_RULES_CONFIG WHERE PKID = @PKID;
	PRINT @param;

	DECLARE @query varchar(1000)
	IF(@param <> '')
	BEGIN
		SET @query ='
			SELECT         
				*        
			FROM IFRS_CCF_RULES_CONFIG  
			WHERE PKID IN (' + @param + ')'
			+ ' AND
			ISNULL(IS_DELETE,0) = 0
			ORDER BY CCF_RULE_NAME';
	END
	ELSE
	BEGIN
		SET @query ='
		SELECT         
			*        
		FROM IFRS_CCF_RULES_CONFIG  
		WHERE ISNULL(IS_DELETE,0) = 0
		ORDER BY CCF_RULE_NAME';
	END

	PRINT @query;
	EXEC(@query); 
        
END;   
GO
