USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_GROUPVALUECENTER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_GROUPVALUECENTER]                          
(                          
	 @VALCTR_CODE char(3) = '',
	 @GROUP_VALCTR varchar(50) = '',
	 @SUBGROUP_VALCTR varchar(50) = '',
	 @CreatedBy varchar(36) = '',               
	 @CreatedHost varchar(30) = ''                     
)            
AS  
BEGIN       
            
	INSERT INTO [dbo].[IFRS_MASTER_VALCTR_GROUP]            
	(            
		 [VALCTR_CODE]            
		,[GROUP_VALCTR]
		,[SUBGROUP_VALCTR]
		, [CreatedBy]              
		, [CreatedDate]              
		, [CreatedHost]                 
	)                          
	VALUES                          
	(            
		 @VALCTR_CODE
		,@GROUP_VALCTR  
		,@SUBGROUP_VALCTR
		,@CreatedBy              
		,GETDATE()              
		,@CreatedHost              
	)  
  
END;

GO
