USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_RPT_RECOV_ANALYSIS_D]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_RPT_RECOV_ANALYSIS_D]
(
    @DOWNLOAD_DATE DATE,
    @SEGMENT int,
	@RECOVERY_YEAR int = 0
)
AS
BEGIN

        select 
	    ACCOUNT_NUMBER, 
	    CUSTOMER_NUMBER, 
	    CUSTOMER_NAME, 
	    WO_DATE, 
	    DEFAULT_DATE, 
	    RECOVERY_DATE, 
	    CURRENCY, 
	    ISNULL(EAD_ORIGINAL_CCY,0) AS EAD_ORIGINAL_CCY, 
	    ISNULL(EAD_LOCAL_CCY,0) AS EAD_LOCAL_CCY, 
		ISNULL(RECOVERY_AMT_ORIGINAL_CCY,0) AS RECOVERY_AMT_ORIGINAL_CCY, 
		ISNULL(RECOVERY_AMT_LOCAL_CCY,0) AS RECOVERY_AMT_LOCAL_CCY 
		from IFRS_LGD_RECOVERY_RATE_DETAIL
		where LGD_RULE_ID = @SEGMENT
		and CURRDATE = @DOWNLOAD_DATE
		and RECOVERY_YEAR=@RECOVERY_YEAR
		
END;



GO
