USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_IFRS_ME_FORECAST]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_IFRS_ME_FORECAST]
(         
 @PKID BIGINT
)            
AS            
BEGIN
DECLARE @INPUT INT

SET @INPUT = (SELECT ISNULL(MAX(INPUT), 0) + 1 FROM IFRS_ME_FORECAST_HIST WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID))

	--INSERT HISTORY
	INSERT INTO IFRS_ME_FORECAST_HIST
	(
		[ME_CODE],
		[METHOD],
		[FL_PERIOD],
		[FL_PERIOD_FROM],
		[FL_PERIOD_TO],
		[INPUT],
		[APPROVAL_REMARKS],
		[STATUS],
		[ACTION],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)
	SELECT
		A.[ME_CODE],
		A.[METHOD],
		A.[FL_PERIOD],
		A.[FL_PERIOD_FROM],
		A.[FL_PERIOD_TO],
		@INPUT,
		'',
		'APPROVED',
		'DELETE_WO_APPROVAL',
		A.[CREATEDBY],
		A.[CREATEDDATE],
		A.[CREATEDHOST],
		B.[CREATEDBY],
		B.[CREATEDDATE],
		B.[CREATEDHOST],
		NULL,
		NULL,
		NULL
	FROM IFRS_ME_FORECAST_TEMP A
	LEFT JOIN IFRS_ME_FORECAST B ON A.ME_CODE = B.ME_CODE
	WHERE A.ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID)

	INSERT INTO IFRS_ME_FORECAST_DETAIL_HIST
	(
		[ME_CODE],
		[FL_PERIOD],
		[FL_VAL],
		[REMARKS],
		[INPUT],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	)
	SELECT
		[ME_CODE],
		[FL_PERIOD],
		[FL_VAL],
		[REMARKS],
		@INPUT,
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	FROM IFRS_ME_FORECAST_DETAIL_TEMP
	WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID)
	ORDER BY FL_PERIOD

	UPDATE IFRS_ME_FORECAST SET IS_DELETE = 1 WHERE PKID = @PKID
	UPDATE IFRS_ME_FORECAST_DETAIL SET IS_DELETE = 1 WHERE ME_CODE = (SELECT DISTINCT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID)

	--DELETE PENDING
	DELETE FROM IFRS_ME_FORECAST_TEMP WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID)
	DELETE FROM IFRS_ME_FORECAST_DETAIL_TEMP WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID)
            
END; 
GO
