USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADFEECOSTINFO]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCedure [dbo].[USPI_UPLOADFEECOSTINFO](
@FilePath varchar(300),
@Module varchar(20),
@CreatedBy varchar(36),
@CreatedHost varchar(30))
as
BEGIN

	INSERT INTO [dbo].[TBLU_FEECOST_INFO](CREATEDBY, CREATEDHOST, CREATEDDATE, FILEPATH, STATUS, MODULE)
    VALUES (@CreatedBy, @CreatedHost, GETDATE(), @filePath, 'INVALID', @Module);

	select max(UPLOADID) as UPLOADID from [dbo].[TBLU_FEECOST_INFO]
END

GO
