USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ME_MODEL_VARIABLE_LIST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[USPS_ME_MODEL_VARIABLE_LIST](@PKID BIGINT)
as
begin
select B.ME_CODE, B.ME_DESC 
from TMP_IFRS_INDEPENDENT_VARIABLE A
JOIN TBLM_MACRO_ECONOMIC B
ON A.MACRO_ECONOMIC_CODE = B.ME_CODE
AND A.MODEL_ID = @PKID
union all
select B.ME_CODE, B.ME_DESC 
from TMP_IFRS_DEPENDENT_VARIABLE A
JOIN TBLM_MACRO_ECONOMIC B
ON A.MACRO_ECONOMIC_CODE = B.ME_CODE
AND A.MODEL_ID = @PKID
end

GO
