USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_EXCEPTION_REPORT]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IFRS_LI_EXCEPTION_REPORT]      
AS      
DECLARE @V_CURRDATE DATE,@V_PREVDATE DATE      
BEGIN      
 SELECT  @V_CURRDATE = CURRDATE, @V_PREVDATE = PREVDATE      
 FROM    IFRS_LI_PRC_DATE_AMORT       
      
 DELETE  IFRS_LI_EXCEPTION_ACCOUNT      
 WHERE   DOWNLOAD_DATE = @V_CURRDATE      
       
  -- product parameter not defined yet      
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,  
 DATA_SOURCE,     
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT        
 A.DOWNLOAD_DATE,  
 A.DATA_SOURCE,        
 ISNULL(C.PKID,0),        
 A.MASTERID,        
 A.ACCOUNT_NUMBER,        
 'IFRS_MASTER_PRODUCT_PARAM',        
 'PRD_CODE',        
 A.PRODUCT_CODE        
  FROM IFRS_LI_IMA_AMORT_CURR A        
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'IMA_LI_PRODUCT'        
  LEFT JOIN IFRS_LI_PRODUCT_PARAM D ON A.DATA_SOURCE = D.DATA_SOURCE        
  AND A.PRODUCT_TYPE = D.PRD_TYPE AND A.PRODUCT_CODE = D.PRD_CODE        
  AND ((A.CURRENCY = D.CCY OR D.CCY = 'ALL')  OR D.CCY = 'ALL')        
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE AND D.PRD_CODE IS NULL        
      
  -- transaction parameter not defined yet      
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,  
 DATA_SOURCE,      
 EXCEPTION_ID,        
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT        
   X.DOWNLOAD_DATE,   
   X.DATA_SOURCE,       
   ISNULL(C.PKID,0),        
   'IFRS_TRANSACTION_PARAM',        
   'TRX_CODE',        
   X.TRX_CODE           
  FROM IFRS_LI_TRANSACTION_DAILY X      
  LEFT JOIN IFRS_LI_TRANSACTION_PARAM B ON (x.DATA_SOURCE = B.DATA_SOURCE OR ISNULL(B.DATA_SOURCE, 'ALL') = 'ALL')         
  AND (X.PRD_CODE = B.PRD_CODE  OR ISNULL(B.PRD_CODE, 'ALL') = 'ALL')        
  AND x.TRX_CODE = b.TRX_CODE        
  AND (x.CCY = b.CCY  OR B.CCY = 'ALL')        
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_TRX01'        
  WHERE X.DOWNLOAD_DATE = @V_CURRDATE AND B.TRX_CODE IS NULL        
  GROUP BY X.DOWNLOAD_DATE, ISNULL(C.PKID,0), X.TRX_CODE, X.DATA_SOURCE             
          
  -- JOURNAL parameter not defined yet EIR ACCRU DEBIT FEE      
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
   DOWNLOAD_DATE,  
   DATA_SOURCE,      
   EXCEPTION_ID,      
   MASTERID,      
   ACCOUNT_NUMBER,      
   TABLE_NAME,      
   FIELD_NAME,      
   VALUE      
  )      
  SELECT      
   A.DOWNLOAD_DATE,  
   A.DATA_SOURCE,      
ISNULL(C.PKID,0),      
A.MASTERID,      
A.ACCOUNT_NUMBER,      
   'IFRS_LI_JOURNAL_PARAM',      
   'GL_CONSTNAME',      
   A.GL_CONSTNAME       
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ACCRU_DB_FEE'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE = 'ACCRU'      
  AND D.FLAG_CF = 'F' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'EIR' AND D.GL_CONSTNAME IS NULL      
      
 -- JOURNAL parameter not defined yet EIR ACCRU CREDIT FEE          
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,   
 DATA_SOURCE,     
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
   SELECT        
 A.DOWNLOAD_DATE,  
 A.DATA_SOURCE,      
 COALESCE(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ACCRU_CR_FEE'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE = 'ACCRU'      
  AND D.FLAG_CF = 'F' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'EIR' AND D.GL_CONSTNAME IS NULL         
        
 -- JOURNAL parameter not defined yet EIR ACCRU DEBIT COST          
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,  
 DATA_SOURCE,      
 EXCEPTION_ID,       
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT        
 A.DOWNLOAD_DATE,   
 A.DATA_SOURCE,     
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 A.GL_CONSTNAME,      
 'GL_CONSTNAME'      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ACCRU_DB_COST'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE = 'ACCRU'      
  AND D.FLAG_CF = 'C' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'EIR' AND D.GL_CONSTNAME IS NULL          
        
 -- JOURNAL parameter not defined yet EIR ACCRU CREDIT COST          
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (       
 DOWNLOAD_DATE,    
 DATA_SOURCE,    
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT        
   A.DOWNLOAD_DATE,   
   A.DATA_SOURCE,     
   ISNULL(C.PKID,0),      
   A.MASTERID,      
   A.ACCOUNT_NUMBER,      
   'IFRS_LI_JOURNAL_PARAM',      
   'GL_CONSTNAME',      
   A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ACCRU_CR_COST'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE = 'ACCRU'      
  AND D.FLAG_CF = 'C' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'EIR' AND D.GL_CONSTNAME IS NULL           
        
  -- JOURNAL parameter not defined yet SL ACCRU DEBIT FEE      
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,      
 DATA_SOURCE,  
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT      
 A.DOWNLOAD_DATE,     
 A.DATA_SOURCE,   
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME       
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ACCRU_SL_DB_FEE'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE = 'ACCRU_SL'      
  AND D.FLAG_CF = 'F' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'SL' AND D.GL_CONSTNAME IS NULL        
           
 -- JOURNAL parameter not defined yet SL ACCRU CREDIT FEE          
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,   
 DATA_SOURCE,     
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT    
  A.DOWNLOAD_DATE,   
  A.DATA_SOURCE,  
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ACCRU_SL_CR_FEE'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID        
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE = 'ACCRU_SL'      
  AND D.FLAG_CF = 'F' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'SL' AND D.GL_CONSTNAME IS NULL       
      
 -- JOURNAL parameter not defined yet SL ACCRU DEBIT COST          
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (       
 DOWNLOAD_DATE,   
 DATA_SOURCE,     
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT        
 A.DOWNLOAD_DATE,  
 A.DATA_SOURCE,      
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ACCRU_SL_DB_COST'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE = 'ACCRU_SL'      
  AND D.FLAG_CF = 'C' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'SL' AND D.GL_CONSTNAME IS NULL      
           
 -- JOURNAL parameter not defined yet SL ACCRU CREDIT COST          
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (       
 DOWNLOAD_DATE,  
 DATA_SOURCE,      
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT        
 A.DOWNLOAD_DATE,   
 A.DATA_SOURCE,     
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ACCRU_SL_CR_COST'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE = 'ACCRU_SL'      
  AND D.FLAG_CF = 'C' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'SL' AND D.GL_CONSTNAME IS NULL      
         
 -- JOURNAL parameter not defined yet SL ITCRG DEBIT FEE           
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,      
 DATA_SOURCE,  
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT        
 A.DOWNLOAD_DATE,   
 A.DATA_SOURCE,     
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ITRCG_SL_DB_FEE'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE LIKE 'ITRCG_SL'      
  AND D.FLAG_CF = 'F' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'SL' AND D.GL_CONSTNAME IS NULL      
      
 -- JOURNAL parameter not defined yet SL ITCRG CREDIT FEE           
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,   
 DATA_SOURCE,     
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT      
 A.DOWNLOAD_DATE,   
 A.DATA_SOURCE,     
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ITRCG_SL_CR_FEE'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE LIKE 'ITRCG_SL'      
  AND D.FLAG_CF = 'F' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'SL' AND D.GL_CONSTNAME IS NULL      
      
 -- JOURNAL parameter not defined yet SL ITCRG DEBIT COST           
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,   
 DATA_SOURCE,     
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT      
 A.DOWNLOAD_DATE,  
 A.DATA_SOURCE,      
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME          
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ITRCG_SL_DB_COST'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE LIKE 'ITRCG_SL'      
  AND D.FLAG_CF = 'C' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'SL' AND D.GL_CONSTNAME IS NULL      
      
 -- JOURNAL parameter not defined yet SL ITCRG CREDIT COST          
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,   
 DATA_SOURCE,     
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT      
 A.DOWNLOAD_DATE,    
 A.DATA_SOURCE,    
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ITRCG_SL_CR_COST'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE LIKE 'ITRCG_SL'      
  AND D.FLAG_CF = 'C' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'SL' AND D.GL_CONSTNAME IS NULL      
      
 -- JOURNAL parameter not defined yet EIR ITCRG DEBIT FEE      
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,      
 DATA_SOURCE,  
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT      
 A.DOWNLOAD_DATE,     
 A.DATA_SOURCE,   
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ITRCG_DB_FEE'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE LIKE 'ITRCG'      
  AND D.FLAG_CF = 'F' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'EIR' AND D.GL_CONSTNAME IS NULL      
      
 -- JOURNAL parameter not defined yet EIR ITCRG CREDIT FEE        
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,      
 DATA_SOURCE,  
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT      
 A.DOWNLOAD_DATE,   
 A.DATA_SOURCE,     
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ITRCG_CR_FEE'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE LIKE 'ITRCG'      
  AND D.FLAG_CF = 'F' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'EIR' AND D.GL_CONSTNAME IS NULL      
      
 -- JOURNAL parameter not defined yet EIR ITCRG DEBIT COST        
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,   
 DATA_SOURCE,     
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT        
 A.DOWNLOAD_DATE,     
 A.DATA_SOURCE,   
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ITRCG_DB_COST'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE LIKE 'ITRCG'      
  AND D.FLAG_CF = 'C' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'EIR' AND D.GL_CONSTNAME IS NULL      
      
 -- JOURNAL parameter not defined yet EIR ITCRG CREDIT COST        
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
 DOWNLOAD_DATE,      
 DATA_SOURCE,  
 EXCEPTION_ID,      
 MASTERID,      
 ACCOUNT_NUMBER,      
 TABLE_NAME,      
 FIELD_NAME,      
 VALUE      
  )      
  SELECT      
 A.DOWNLOAD_DATE,   
 A.DATA_SOURCE,     
 ISNULL(C.PKID,0),      
 A.MASTERID,      
 A.ACCOUNT_NUMBER,      
 'IFRS_LI_JOURNAL_PARAM',      
 'GL_CONSTNAME',      
 A.GL_CONSTNAME      
  FROM IFRS_LI_IMA_AMORT_CURR A      
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_JOURNAL_ITRCG_CR_COST'      
  LEFT JOIN IFRS_LI_ACCT_JOURNAL_INTM B ON A.MASTERID = B.MASTERID      
  LEFT JOIN IFRS_LI_JOURNAL_PARAM D ON A.GL_CONSTNAME = D.GL_CONSTNAME      
  AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE LIKE 'ITRCG'      
  AND D.FLAG_CF = 'C' AND (B.TRXCODE = D.TRX_CODE OR D.TRX_CODE = 'ALL')    
  WHERE   A.DOWNLOAD_DATE = @V_CURRDATE AND A.AMORT_TYPE = 'EIR' AND D.GL_CONSTNAME IS NULL      
          
 -- -- MasterID Hilang      
 -- INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
 -- (      
 --DOWNLOAD_DATE,      
 --EXCEPTION_ID,      
 --MASTERID,      
 --ACCOUNT_NUMBER,      
 --TABLE_NAME,      
 --FIELD_NAME,      
 --VALUE      
 -- )      
 -- SELECT        
 --  @V_CURRDATE AS DOWNLOAD_DATE,      
 --  coalesce(C.PKID,0),      
 --  A.MASTERID,      
 --  A.ACCOUNT_NUMBER,      
 --  'IFRS_LI_IMA_AMORT_CURR',      
 --  'MASTERID',      
 --  A.MASTERID      
 -- FROM      
 -- (       
 --  SELECT *       
 --  FROM IFRS_IMA_AMORT_PREV       
 --  WHERE DOWNLOAD_DATE = @V_PREVDATE      
 --AND LOAN_DUE_DATE > @V_PREVDATE      
 -- ) A      
 -- LEFT JOIN      
 -- (      
 --  SELECT  MASTERID      
 --FROM IFRS_LI_IMA_AMORT_CURR      
 --WHERE DOWNLOAD_DATE = @V_CURRDATE      
 -- ) B ON A.MASTERID = B.MASTERID      
 -- LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'IMA1'      
 -- WHERE   B.MASTERID IS NULL           
          
    --FEE/COST NOT PROCESS      
    INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
    (       
  DOWNLOAD_DATE,   
  DATA_SOURCE,     
  EXCEPTION_ID,      
  MASTERID,      
  ACCOUNT_NUMBER,      
  TABLE_NAME,      
  FIELD_NAME,      
  VALUE      
 )      
 SELECT      
  X.DOWNLOAD_DATE,     
  X.DATASOURCE,   
  coalesce(C.PKID,0),      
  X.MASTERID,      
  X.ACCTNO,      
  'IFRS_ACCT_COST_FEE',      
  'STATUS',      
  X.STATUS   
 FROM IFRS_ACCT_COST_FEE X      
 LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'AMT_LI_TRX02'      
 WHERE X.DOWNLOAD_DATE = @V_CURRDATE AND X.STATUS NOT IN ('ACT','PNL','PRO')                  
        
    -- IMA_GL_CONSTNAME IS null      
  INSERT INTO IFRS_LI_EXCEPTION_ACCOUNT      
  (      
   DOWNLOAD_DATE,  
   DATA_SOURCE,      
   EXCEPTION_ID,      
   MASTERID,           
   TABLE_NAME,      
   FIELD_NAME,       
   VALUE      
  )        
  SELECT        
   A.DOWNLOAD_DATE,   
   A.DATA_SOURCE,       
   ISNULL(C.PKID,0),        
   A.MASTERID,        
   'IFRS_LI_JOURNAL_PARAM',        
   'GL_CONSTNAME',        
   A.GL_CONSTNAME        
  FROM IFRS_LI_IMA_AMORT_CURR A        
  LEFT JOIN IFRS_LI_MASTER_EXCEPTION C ON C.EXCEPTION_CODE = 'IMA_LI_GL_CONSTNAME'        
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE AND A.GL_CONSTNAME IS NULL        
  GROUP BY A.DOWNLOAD_DATE, ISNULL(C.PKID,0), A.GL_CONSTNAME, MASTERID, A.DATA_SOURCE        
END


GO
