USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SPPI_DETAIL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_SPPI_DETAIL]                          
(                          
 @CLASSID bigint = 0,
 @QUESTIONID varchar(20) = '',
 @SELECTED_VALUE int = 0,
 @CREATEDBY varchar(36) = '',             
 @CREATEDHOST varchar(30) = ''             
)            
AS  
BEGIN       
            
 INSERT INTO [dbo].[IFRS_AC_SPPI_DETAIL]
 (            
	CLASSID,
	QUESTIONID,
	SELECTED_VALUE,
	CREATEDBY,
    CREATEDDATE,
    CREATEDHOST
 )                          
 VALUES                          
 (     
	 @CLASSID
	,@QUESTIONID
	,@SELECTED_VALUE
	,@CREATEDBY            
	,GETDATE()            
	,@CREATEDHOST
 )  

--DECLARE @UserActivityID varchar(50)=''
--DECLARE @STATUS varchar(20)=''

--SELECT @STATUS = [STATUS] FROM IFRS_AC_SPPI_HEADER WHERE PKID = @CLASSID

--IF (@STATUS = 'PENDING')
--	SET @UserActivityID = 'INSERT_WI_APPROVAL'
--ELSE
--	SET @UserActivityID = 'INSERT_WO_APPROVAL'

--EXEC USPI_ACTIVITYLOGS @CREATEDBY,@UserActivityID,'AC_SPPI_CLASSIFICATION','IFRS9',@CREATEDHOST

END;

GO
