USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ASSETCLASSBMPEND]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_ASSETCLASSBMPEND]
(
	@Class_Level VARCHAR(20), 
    @Class_ID VARCHAR(50), 
    @Asset_ID FLOAT = 0 
)
AS
BEGIN
    
    IF @Asset_ID > 0 
	BEGIN
		SELECT A.COMMONCODE, 
			A.VALUE1, 
			A.DESCRIPTION, 
			--B.SEQUENCE, 
			C.SELECTED_VALUE, 
			C.REMARK
		FROM TBLM_COMMONCODEDETAIL A
			--JOIN IFRS_ASSET_CLASS_BM_RULE B ON A.COMMONCODE = B.COMMONCODE_DTL
			JOIN IFRS_ASSET_CLASS_BM_DETAIL_PEND C ON A.COMMONCODE = C.COMMONCODE_DTL 
		WHERE C.Asset_ID = @Asset_ID
			AND PARENTCOMMONCODE = 'B72'
			--AND B.CLASS_LEVEL = @Class_Level
			--AND B.CLASS_ID = @Class_ID
		ORDER BY A.SEQUENCE;
    END
    ELSE 
	BEGIN
        SELECT A.COMMONCODE, 
			A.VALUE1, 
			A.DESCRIPTION, 
			--B.SEQUENCE, 
			'' AS SELECTED_VALUE, 
			'' AS REMARK
        FROM TBLM_COMMONCODEDETAIL A
			--JOIN IFRS_ASSET_CLASS_BM_RULE B ON A.COMMONCODE = B.COMMONCODE_DTL
        WHERE PARENTCOMMONCODE = 'B72'
			--B.CLASS_LEVEL = @Class_Level
			--AND B.CLASS_ID = @Class_ID
		ORDER BY A.SEQUENCE;
    END 

END;

GO
