USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMIMPAIRCABUCKBYBUCK]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMIMPAIRCABUCKBYBUCK]  
(  
 @BUCKET_Group varchar(25) = ''  
)  
AS  
BEGIN  
  
 SELECT B.BUCKET_GROUP,  
  BUCKET_DESCRIPTION,   
  COUNT(B.BUCKET_GROUP) "CNT",  
  OPTION_GROUPING,  
  A.INCLUDE_FULLYPAID_FLAG,  
  A.INCLUDE_WO_FLAG,  
  A.INCLUDE_CLOSE_FLAG  
 FROM IFRS_BUCKET_HEADER A JOIN   
 IFRS_BUCKET_DETAIL B on A.BUCKET_GROUP = B.BUCKET_GROUP  
 WHERE A.BUCKET_GROUP = @BUCKET_Group
 AND ISNULL(A.IS_DELETE,0) = 0
 AND ISNULL(B.IS_DELETE,0) = 0
 GROUP BY B.BUCKET_GROUP,BUCKET_DESCRIPTION, OPTION_GROUPING, A.INCLUDE_FULLYPAID_FLAG, A.INCLUDE_WO_FLAG, A.INCLUDE_CLOSE_FLAG  
 ORDER BY B.BUCKET_GROUP ASC  
  
END  
GO
