USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_DASHBOARD_DATA]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[SP_IFRS_IMP_DASHBOARD_DATA]   @DOWNLOAD_DATE DATE = NULL    
AS  
BEGIN  
/* change log  
Date: 13 Jul 2019  
Author: Frans Darmawan  
Purpose: Change coalesce exchnage rate into 1 from 0  
====================================  
Date: 31 May 2018  
Author: Frans Darmawan  
Purpose: Change column into IA_UNWINDING_SUM_AMOUNT  
====================================  
Date: 10 November 2017  
Author: Frans Darmawan  
Purpose: POPULATE IMP DASHBOARD DATA  
*/  
 SET NOCOUNT ON;  
 DECLARE @V_CURRDATE date;  
 DECLARE @V_CURRMONTH date;  
 DECLARE @V_PREVMONTH date;  

  IF @DOWNLOAD_DATE IS NULL      
    BEGIN      
        SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE      
    END      
    ELSE      
    BEGIN      
        SET @V_CURRDATE = @DOWNLOAD_DATE      
    END      

	SET @V_CURRMONTH =  EOMONTH(@V_CURRDATE)
	SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH, -1, @V_CURRDATE)) 
  
 --delete first   
 DELETE FROM IFRS_IMP_MAIN_DASHBOARD  
 WHERE DATA_DATE = @V_CURRDATE   
   
 INSERT INTO IFRS_IMP_MAIN_DASHBOARD  
 (  
  DATA_DATE,  
  SEGMENT,  
  STAGE,  
  BRANCH,  
  CURRENCY,  
  CA_ECL_AMT_IDR,  
  IA_ECL_AMT_IDR,  
  ECL_AMT_IDR,  
  CA_UNWINDING_AMT_IDR,  
  IA_UNWINDING_AMT_IDR,  
  UNWINDING_AMT_IDR  
 )  
 SELECT a.DOWNLOAD_DATE AS DATA_DATE,  
  SEGMENT AS SEGMENT,  
  STAGE AS STAGE,  
  REGION_DESC AS BRANCH,  
  CURRENCY AS CURRENCY,  
  SUM(COALESCE(CASE WHEN IMPAIRED_FLAG='C' THEN ECL_AMOUNT ELSE 0 END,0)*COALESCE(EXCHANGE_RATE,1)) AS CA_ECL_AMT_IDR,  
  SUM(COALESCE(CASE WHEN IMPAIRED_FLAG='I' THEN ECL_AMOUNT ELSE 0 END,0)*COALESCE(EXCHANGE_RATE,1)) AS IA_ECL_AMT_IDR,  
  SUM(COALESCE(ECL_AMOUNT,0)*COALESCE(EXCHANGE_RATE,1)) AS ECL_AMT_IDR,  
  SUM((COALESCE(CA_UNWINDING_AMOUNT,0))*COALESCE(EXCHANGE_RATE,1)) AS CA_UNWINDING_AMT_IDR,  
  SUM((COALESCE(IA_UNWINDING_AMOUNT,0))*COALESCE(EXCHANGE_RATE,1)) AS IA_UNWINDING_AMT_IDR,  
  SUM((COALESCE(CA_UNWINDING_AMOUNT,0)+COALESCE(IA_UNWINDING_AMOUNT,0))*COALESCE(EXCHANGE_RATE,1)) AS UNWINDING_AMT_IDR  
 FROM IFRS_MASTER_ACCOUNT_MONTHLY a  
 left join (select distinct branch_code, region_desc from IFRS_MASTER_BRANCH) b on a.BRANCH_CODE=b.BRANCH_CODE  
 WHERE a.DOWNLOAD_DATE=@V_CURRDATE   
  AND ACCOUNT_STATUS='A'  
 GROUP BY a.DOWNLOAD_DATE,SEGMENT,STAGE,REGION_DESC,CURRENCY  
  
END  
GO
