USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECLRETAILRESLTDETAILCOUNT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ECLRETAILRESLTDETAILCOUNT]  
(  
 @Download_Date datetime = '1900-01-01',  
 @ProdType varchar(50)='',  
 @Stage char(1)='',  
 @BucketId int=0,  
 @BucketGroup varchar(50)='',  
 @Tenor int=0  
)  
as  
BEGIN  
  
select COUNT(*) as TOTAL_COUNT  
from IFRS_MASTER_ACCOUNT_MONTHLY A  
WHERE  A.DOWNLOAD_DATE = @Download_Date   
 AND A.PRODUCT_TYPE = @ProdType  
 AND A.STAGE = @Stage  
 AND A.BUCKET_ID = @BucketId  
 AND A.BUCKET_GROUP = @BucketGroup  
 AND A.TENOR = @Tenor  
  
  
END  
GO
