USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_JOBBYJOBNO]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_JOBBYJOBNO]
(
	@JobNo INT
)  
AS  
BEGIN

	SELECT JobName, Period 
	FROM tblM_Job WITH (NOLOCK) 
	WHERE JobNo = @JobNo;

END;

GO
