USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FEECOSTPRORATEBYID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_FEECOSTPRORATEBYID]
(
	@DD_ID_LEVEL VARCHAR(200)
)
AS
BEGIN

	DECLARE @DOWNLOAD_DATE VARCHAR(20);
	DECLARE @PKID VARCHAR(20);
	DECLARE @LEVEL VARCHAR(20);
	
	SET @DOWNLOAD_DATE = dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 1);
	SET @PKID = dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 2);
	SET @LEVEL = dbo.fUTIL_SPLIT(@DD_ID_LEVEL, '~', 3);

	IF @LEVEL = 'LVL001'
	BEGIN
		-- Facility
		SELECT TRX_EFFDATE AS "Download Date",
			TRX_FACILITY_NO AS "Parent Facility Number",
			FACILITY_EXPIRED_DATE AS "Facility Expired Date",
			TRX_CCY AS "Currency",
			FACILITY_PLAFOND AS "Plafond",
			TRX_AMOUNT AS "Transaction Cost Amount",
			TRANSACTION_DESC AS "Transaction Cost Type",
			REMAINING,
			CASE WHEN (IMTP.IFRS_TXN_CLASS='FEE' and TRX_DR_CR='D') or (IMTP.IFRS_TXN_CLASS='COST' and TRX_DR_CR='C') THEN 
				CASE WHEN REVID is null THEN 'Reversal - Not Found'
				ELSE 'Reversal - Processed'
				END
			WHEN [STATUS] ='P' THEN 'Processed'
			ELSE 'Not Processed'
			END
			AS "STATUS"
		FROM IFRS_TRX_FACILITY ITF
			JOIN IFRS_MASTER_TRANS_PARAM IMTP ON ITF.TRX_CODE = IMTP.TRX_CODE
				AND (ITF.TRX_CCY = IMTP.CCY OR IMTP.CCY = 'ALL')
		WHERE ITF.PKID = @PKID;
	END
	ELSE IF @LEVEL = 'LVL002'
	BEGIN
		-- EmployerID
		SELECT TRX_EFFDATE AS "Download Date",
			TRX_EMPLOYER_ID AS "Employer ID",
			TRX_PERIOD AS "Transaction Cost Period",
			TRX_CCY AS "Currency",
			TRX_AMOUNT AS "Transaction Cost Amount",
			TRANSACTION_DESC AS "Transaction Cost Type",
			CASE WHEN (IMTP.IFRS_TXN_CLASS='FEE' and TRX_DR_CR='D') or (IMTP.IFRS_TXN_CLASS='COST' and TRX_DR_CR='C') THEN 
				CASE WHEN REVID is null THEN 'Reversal - Not Found'
				ELSE 'Reversal - Processed'
				END
			WHEN [STATUS] ='P' THEN 'Processed'
			ELSE 'Not Processed'
			END
			AS "STATUS"
		FROM IFRS_TRX_EMPLOYERID ITE
			JOIN IFRS_MASTER_TRANS_PARAM IMTP ON ITE.TRX_CODE = IMTP.TRX_CODE
				AND (ITE.TRX_CCY = IMTP.CCY OR IMTP.CCY = 'ALL')
		WHERE ITE.PKID = @PKID;
	END
	ELSE IF @LEVEL = 'LVL003'
	BEGIN
		-- Product Type
		SELECT TRX_EFFDATE AS "Download Date",
			TRX_PRD_TYPE AS "Product Type",
			TRX_PERIOD AS "Transaction Cost Period",
			TRX_CCY AS "Currency",
			TRX_AMOUNT AS "Transaction Cost Amount",
			TRANSACTION_DESC AS "Transaction Cost Type",
			CASE WHEN (IMTP.IFRS_TXN_CLASS='FEE' and TRX_DR_CR='D') or (IMTP.IFRS_TXN_CLASS='COST' and TRX_DR_CR='C') THEN 
				CASE WHEN REVID is null THEN 'Reversal - Not Found'
				ELSE 'Reversal - Processed'
				END
			WHEN [STATUS] ='P' THEN 'Processed'
			ELSE 'Not Processed'
			END
			AS "STATUS"
		FROM IFRS_TRX_PRODUCT_TYPE ITPT
			JOIN IFRS_MASTER_TRANS_PARAM IMTP ON ITPT.TRX_CODE = IMTP.TRX_CODE
				AND (ITPT.TRX_CCY = IMTP.CCY OR IMTP.CCY = 'ALL')
		WHERE ITPT.PKID = @PKID
	END

END;

GO
