USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_TMP_LIGHT_FORECAST_DATA]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPD_TMP_LIGHT_FORECAST_DATA]
(
	@LightPDId int=0
)
as
begin

	delete from TMP_IFRS_ME_FORECAST_DATA where LIGHT_PD_MODEL_ID=@LightPDId;
end

GO
