USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LBM_ACCT_EIR_CF_ECF_GRP]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LBM_ACCT_EIR_CF_ECF_GRP]    
AS    
-- 20160412 GROUP BY CF_ID FOR MULTIPLE ROWS WITH SAME CF_ID      
DECLARE @V_CURRDATE DATE    
 ,@V_PREVDATE DATE    
    
BEGIN    
 SELECT @V_CURRDATE = MAX(CURRDATE)    
  ,@V_PREVDATE = MAX(PREVDATE)    
 FROM IFRS_PRC_DATE_AMORT    
    
 SELECT MIN(A.ID) AS ID1    
  ,A.CF_ID    
  ,B.FLAG_REVERSE AS FLAG_REV_ORI    
  ,SUM(CASE     
    WHEN A.FLAG_REVERSE = 'N'    
     THEN A.AMOUNT    
    ELSE - 1 * A.AMOUNT    
    END) AMT    
 INTO #TMP    
 FROM IFRS_LBM_ACCT_EIR_COST_FEE_ECF A    
 JOIN IFRS_ACCT_COST_FEE B ON B.ID = A.CF_ID    
  AND B.MASTERID = A.MASTERID    
 WHERE A.ECFDATE = @V_CURRDATE AND A.STATUS = 'ACT' --20180824  
	AND A.CREATEDBY <> 'EIR_SWITCH'
 GROUP BY A.CF_ID    
  ,B.FLAG_REVERSE    
 HAVING COUNT(*) > 1    
    
 UPDATE IFRS_LBM_ACCT_EIR_COST_FEE_ECF    
 SET AMOUNT = CASE     
   WHEN A.FLAG_REV_ORI = 'N'    
    THEN CASE     
      WHEN A.ID1 = IFRS_LBM_ACCT_EIR_COST_FEE_ECF.ID    
       THEN A.AMT    
      ELSE 0    
      END    
   ELSE CASE     
     WHEN A.ID1 = IFRS_LBM_ACCT_EIR_COST_FEE_ECF.ID    
      THEN - 1 * A.AMT    
     ELSE 0    
     END    
   END    
  ,AMOUNT_ORG = CASE     
   WHEN A.FLAG_REV_ORI = 'N'    
    THEN CASE     
      WHEN A.ID1 = IFRS_LBM_ACCT_EIR_COST_FEE_ECF.ID    
       THEN A.AMT    
      ELSE 0    
      END    
   ELSE CASE     
     WHEN A.ID1 = IFRS_LBM_ACCT_EIR_COST_FEE_ECF.ID    
      THEN - 1 * A.AMT    
     ELSE 0    
     END    
   END    
  ,FLAG_REVERSE = A.FLAG_REV_ORI    
 FROM #TMP A    
 WHERE IFRS_LBM_ACCT_EIR_COST_FEE_ECF.ECFDATE = @V_CURRDATE    
  AND IFRS_LBM_ACCT_EIR_COST_FEE_ECF.CF_ID = A.CF_ID    
  AND IFRS_LBM_ACCT_EIR_COST_FEE_ECF.STATUS = 'ACT' --20180824  
  
 DELETE    
 FROM IFRS_LBM_ACCT_EIR_COST_FEE_ECF    
 WHERE ECFDATE = @V_CURRDATE    
  AND AMOUNT = 0    
END    



GO
