USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAPLISTDPENDING]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IAPLISTDPENDING](
@DATE_CIF_SEGMENT varchar(100) = '')
AS
BEGIN
	
	SELECT
		CUSTOMER_NUMBER
		,CUSTOMER_NAME
		,A.SEGMENT
		,B.MASTER_ACCOUNT_CODE
		,DAY_PAST_DUE
		,BI_COLLECTABILITY
		,OUTSTANDING
		,COLLATERAL_LIQUIDATION_VALUE
		,WORKOUT_PERIOD_MODE
		,WORKOUT_PERIOD
		,EIR
		,COLLECTION_COST
		,PROBABILITY_WEIGHTED
		,DISC_CASH_FLOW
		,IIP_AMOUNT
		,MOVEMENT_IIP_AMOUNT
	FROM IFRS_IAP_LIST_PENDING A
	LEFT JOIN IFRS_MASTER_ID B ON A.MASTERID = B.MASTERID
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER C ON A.SUB_SEGMENT = C.SUB_SEGMENT
			AND IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
	WHERE CAST(DOWNLOAD_DATE AS varchar(10)) + '_' + CUSTOMER_NUMBER + '_' + CAST(C.PKID AS varchar(10)) = @DATE_CIF_SEGMENT
		AND APPROVAL_STATUS = 'P'

END

GO
