USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_LIFETIME_MODEL_ECL_TOP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_LIFETIME_MODEL_ECL_TOP]          
(          
 @MODEL_NAME VARCHAR(100),          
 @SEGMENTATION_ID int,        
 @SEGMENT VARCHAR(100),          
 @EXPECTED_LIFE INT = NULL,          
 @HISTORICAL_DATA INT,          
 @DEFAULT_RULE_ID BIGINT,    
 @DEFAULT_RULE VARCHAR(100),            
 @CUT_OFF_DATE DATE,    
 @INCREMENT_PERIOD INT,          
 @BUCKET_GROUP VARCHAR(30)='',    
 @CreatedBy VARCHAR(50),          
 @CreatedHost VARCHAR(50)          
)          
AS          
BEGIN          
          
  INSERT INTO IFRS_LIFETIME_RULES_CONFIG(          
   LIFETIME_RULE_NAME, SEGMENTATION_ID, EXP_LIFE,          
   HISTORICAL_DATA, CUT_OFF_DATE,  INCREMENT_PERIOD, BUCKET_GROUP, DEFAULT_RULE_ID,    
   CREATEDBY, CREATEDDATE, CREATEDHOST          
  )          
  VALUES(          
   @MODEL_NAME, @SEGMENTATION_ID, @EXPECTED_LIFE,    
   @HISTORICAL_DATA, @CUT_OFF_DATE,  @INCREMENT_PERIOD, @BUCKET_GROUP,@DEFAULT_RULE_ID,    
   @CreatedBy, GETDATE(), @CreatedHost          
  );          
     
END; 
GO
