USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPTRANSACTIONCODE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPTRANSACTIONCODE]
(
	@blank bit
) 
AS
BEGIN

	CREATE TABLE #transactionCode 
	(  
		[TRX_CODE] varchar(10),  
		[Transaction Code] varchar(100)  
	)  
  
	IF (@blank = 1)  
	BEGIN  
		INSERT INTO #transactionCode ([TRX_CODE],[Transaction Code]) values ('ALL', 'All Transaction Code')  
	END

	INSERT INTO #transactionCode
	SELECT DISTINCT TRX_CODE,
		TRX_CODE + ' - ' + MAX(TRANSACTION_DESC) AS "Transaction Code"
	FROM IFRS_MASTER_TRANS_PARAM
	GROUP BY TRX_CODE

	SELECT * FROM #transactionCode  
  
	DROP TABLE #transactionCode  

END;

GO
