USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKRULENAME]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_CEKRULENAME]
(
	@cekRule varchar(250) = ''
)
AS
BEGIN

	SELECT * 
	FROM IFRS_SCENARIO_RULES_HEADER 
	WHERE RULE_NAME = @cekRule
		AND ISNULL(IS_DELETE, 0) = 0;

END;

GO
