USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMCCFMODEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROC [dbo].[USPI_PARAMCCFMODEL]     
(    
 @CCF_RULE_NAME varchar(250) = ''    
 ,@SEGMENTATION_ID bigint = 0    
 ,@CALC_METHOD varchar(20) = ''    
 ,@AVERAGE_METHOD varchar(20) = ''    
 ,@DEFAULT_RULE_ID bigint = 0    
 ,@CUT_OFF_DATE date = '2000/01/01'    
 ,@CCF_OVERRIDE float = 0  
 ,@LAG_1MONTH_FLAG BIT = 0
 ,@OBSERV_PERIOD_MOVING BIT = 0
 ,@OS_DEF_ZERO_EXCLUDE BIT = 0
 ,@HEADROOM_ZERO_EXCLUDE BIT = 0
 ,@CreatedBy varchar(50) = ''    
 ,@CreatedHost varchar(20) = ''    
)    
AS    
BEGIN    
    
	INSERT INTO IFRS_CCF_RULES_CONFIG
	(
		[CCF_RULE_NAME],
		[SEGMENTATION_ID],
		[CALC_METHOD],
		[AVERAGE_METHOD],
		[DEFAULT_RULE_ID],
		[CUT_OFF_DATE],
		[LAG_1MONTH_FLAG],
		[OBSERV_PERIOD_MOVING],
		[OS_DEF_ZERO_EXCLUDE],
		[HEADROOM_ZERO_EXCLUDE],
		[CCF_OVERRIDE],
		[RUNNING_STATUS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	)    
    VALUES
	(
		@CCF_RULE_NAME,
		@SEGMENTATION_ID,
		@CALC_METHOD,
		@AVERAGE_METHOD,
		@DEFAULT_RULE_ID,
		@CUT_OFF_DATE,
		@LAG_1MONTH_FLAG,
		@OBSERV_PERIOD_MOVING,
		@OS_DEF_ZERO_EXCLUDE,
		@HEADROOM_ZERO_EXCLUDE,
		@CCF_OVERRIDE,
		'PENDING',
		@CreatedBy,
		GETDATE(),
		@CreatedHost
	)    
    
END  

GO
