USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_INITIAL_UPDATE_T24]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[SP_IFRS_IMP_INITIAL_UPDATE_T24]    
------BEGIN TRAN  
------------ROLLBACK  
------DECLARE    
@DOWNLOAD_DATE DATE = NULL      
AS    
  
--SET @DOWNLOAD_DATE = '20230930'  
  
 DECLARE @V_CURRDATE DATE       
 DECLARE @V_CURRDATE_CHAR VARCHAR(8)      
BEGIN      
 IF(@DOWNLOAD_DATE IS NULL)      
 BEGIN      
  SELECT @V_CURRDATE = CURRDATE, @V_CURRDATE_CHAR = CONVERT(VARCHAR, CURRDATE, 112) FROM IFRS_PRC_DATE       
 END      
 ELSE      
 BEGIN      
  SELECT @V_CURRDATE = @DOWNLOAD_DATE, @V_CURRDATE_CHAR = CONVERT(VARCHAR, @DOWNLOAD_DATE, 112)      
 END  
   
 DECLARE @CSPRD_VALUE VARCHAR(100)  
 DECLARE @CSR_COLUMN VARCHAR(100)  
 DECLARE @CSR_VALUE VARCHAR(100)  
 DECLARE @SQLRATING_CODE NVARCHAR(MAX)  
  
 ----- PRODUCT TYPE FILTER  
 SELECT @CSPRD_VALUE = VALUE1  FROM IFRS9..TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'PRD_TYPE_CS'  
 ----- SEGMENT FLAG FILTER  
 SELECT @CSR_COLUMN = VALUE1, @CSR_VALUE = VALUE2 FROM IFRS9..TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'SEGMENT_CS'  
  
          
--------- UPDATE PRODUCT PARAM      
 UPDATE A           
 SET          
 PRODUCT_GROUP = B.PRD_GROUP,          
 PRODUCT_TYPE = B.PRD_TYPE,           
 PRODUCT_TYPE_1 = B.PRD_TYPE_1,          
 DATA_SOURCE = B.DATA_SOURCE,      
 STAFF_LOAN_FLAG = B.STAFF_LOAN_IND,        
 IAS_CLASS = B.IAS_CLS_VALUE       
 FROM IFRS_MASTER_ACCOUNT A           
 INNER JOIN IFRS_MASTER_PRODUCT_PARAM B         
 ON -- A.DATA_SOURCE = B.DATA_SOURCE    AND       
 A.PRODUCT_CODE = B.PRD_CODE         
 AND (A.CURRENCY = B.CCY OR B.CCY = 'ALL')           
 AND A.DOWNLOAD_DATE = @V_CURRDATE  AND B.IS_DELETE = 0      
        
 ------------------------------------ UPDATE RATING CODE  ----------------------------------------         
 IF OBJECT_ID ('TEMPDB.DBO.#MAX_DD') IS NOT NULL DROP TABLE #MAX_DD      
 SELECT CUSTOMER_NUMBER,MAX(DOWNLOAD_DATE) AS DOWNLOAD_DATE INTO #MAX_DD FROM IFRS_CUSTOMER_GRADING_CORP WHERE  DOWNLOAD_DATE <= @V_CURRDATE      
 GROUP BY CUSTOMER_NUMBER ORDER BY CUSTOMER_NUMBER      
      
 IF OBJECT_ID ('TEMPDB.DBO.#CURRENT_RATING') IS NOT NULL DROP TABLE #CURRENT_RATING      
 SELECT A.CUSTOMER_NUMBER, MAX(A.OBLIGOR_GRADE) AS OBLIGOR_GRADE, MAX(CASE WHEN WATCH_LIST_FLAG = 1 THEN 1 ELSE 0 END ) AS WATCHLIST INTO #CURRENT_RATING FROM IFRS_CUSTOMER_GRADING_CORP A      
 INNER JOIN #MAX_DD B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE      
 GROUP BY A.CUSTOMER_NUMBER      
   
 SET @SQLRATING_CODE = ''  
      
 SET @SQLRATING_CODE = 'UPDATE A      
 SET RATING_CODE  =       
  CASE WHEN B.CUSTOMER_NUMBER IS NULL THEN ''N/A''      
  ELSE        
   CASE WHEN B.OBLIGOR_GRADE = ''NFI'' THEN ''G6''      
    WHEN B.OBLIGOR_GRADE = ''0'' THEN ''N/A''      
    ELSE B.OBLIGOR_GRADE      
   END      
  END         
  ,A.WATCHLIST_FLAG = B.WATCHLIST         
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN #CURRENT_RATING B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER      
 WHERE A.DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''    
 /* NEW CBS */            
 AND (  
 A.DATA_SOURCE IN (''LOAN_T24'', ''LIMIT_T24'', ''TRADE_T24'')   
 OR   
 (A.DATA_SOURCE = ''TRS'' AND A.PRODUCT_GROUP <> ''NS'')  
 OR  
 (A.PRODUCT_TYPE IN (''' + REPLACE(@CSPRD_VALUE, ',', ''',''') + ''') AND A.' + @CSR_COLUMN +' IN (''' + REPLACE(@CSR_VALUE, ',', ''',''') + '''))   
 )'  
   
 EXEC SP_EXECUTESQL @SQLRATING_CODE     
 --PRINT @SQLRATING_CODE  
      
 DELETE FROM IFRS_MASTER_INIT_CUST_GRADE WHERE DOWNLOAD_DATE >= @V_CURRDATE      
   
 IF OBJECT_ID ('TEMPDB.DBO.#CUST_GRADE') IS NOT NULL DROP TABLE #CUST_GRADE  
 SELECT DISTINCT CUSTOMER_NUMBER INTO #CUST_GRADE FROM IFRS_MASTER_INIT_CUST_GRADE        
    
 SET @SQLRATING_CODE = ''  
   
 SET @SQLRATING_CODE = 'INSERT INTO IFRS_MASTER_INIT_CUST_GRADE       
 (      
  DOWNLOAD_DATE      
  ,CUSTOMER_NUMBER        
  ,SANDI_BANK      
  ,INITIAL_RATING_CODE        
  ,CUSTOMER_NAME      
  ,CREATEDBY      
  ,CREATEDDATE      
 )      
 SELECT       
  ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + ''' AS DOWNLOAD_DATE      
  ,A.CUSTOMER_NUMBER          
  ,MAX(A.SANDI_BANK)          
  ,MAX(A.RATING_CODE)          
  ,MAX(A.CUSTOMER_NAME)          
  ,''SP_IFRS_IMP_INITIAL_UPDATE_T24'' AS CREATEDBY      
  ,GETDATE () AS CREATEDDATE     
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN #CUST_GRADE B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER      
 WHERE A.DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + ''' AND A.RATING_CODE NOT IN (''N/A'',''DO'',''JDO'') AND A.DOWNLOAD_DATE >= ''31 MAY 2014''       
 AND B.CUSTOMER_NUMBER IS NULL          
 /* NEW CBS*/           
 AND (  
 A.DATA_SOURCE IN (''LOAN_T24'', ''LIMIT_T24'', ''TRADE_T24'')   
 OR   
 (A.DATA_SOURCE = ''TRS'' AND A.PRODUCT_GROUP <> ''NS'')  
 OR  
 (A.PRODUCT_TYPE IN (''' + REPLACE(@CSPRD_VALUE, ',', ''',''') + ''') AND A.' + @CSR_COLUMN +' IN (''' + REPLACE(@CSR_VALUE, ',', ''',''') + '''))   
 )  
 GROUP BY A.CUSTOMER_NUMBER'  
   
 EXEC SP_EXECUTESQL @SQLRATING_CODE     
 --PRINT @SQLRATING_CODE      
          
 SET @SQLRATING_CODE = ''  
      
 SET @SQLRATING_CODE = 'UPDATE A         
 SET A.INITIAL_RATING_CODE = CASE WHEN B.CUSTOMER_NUMBER IS NULL THEN ''N/A'' ELSE ISNULL(B.INITIAL_RATING_CODE,''N/A'') END      
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN IFRS_MASTER_INIT_CUST_GRADE B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER      
 WHERE A.DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + ''' --AND   SOURCE_SYSTEM = ''T24''          
 /* NEW CBS*/           
 AND (  
 A.DATA_SOURCE IN (''LOAN_T24'', ''LIMIT_T24'', ''TRADE_T24'')   
 OR   
 (A.DATA_SOURCE = ''TRS'' AND A.PRODUCT_GROUP <> ''NS'')  
 OR  
 (A.PRODUCT_TYPE IN (''' + REPLACE(@CSPRD_VALUE, ',', ''',''') + ''') AND A.' + @CSR_COLUMN +' IN (''' + REPLACE(@CSR_VALUE, ',', ''',''') + '''))   
 )'  
   
 EXEC SP_EXECUTESQL @SQLRATING_CODE     
 --PRINT @SQLRATING_CODE    
      
 ------------------------------------ UPDATE RATING CODE  ----------------------------------------         
    
 ------------------------------------ UPDATE RATING FOR NOSTRO ---------------------------------------           
 DROP TABLE IF EXISTS #MAX_DD_SB      
 SELECT SANDI_BANK,MAX(DOWNLOAD_DATE) AS DOWNLOAD_DATE       
 INTO #MAX_DD_SB       
 FROM IFRS_CUSTOMER_GRADING_CORP       
 WHERE  DOWNLOAD_DATE <= @V_CURRDATE      
 GROUP BY SANDI_BANK ORDER BY SANDI_BANK      
      
 DROP TABLE IF EXISTS #CURRENT_RATING_SB      
 SELECT A.SANDI_BANK, MAX(A.OBLIGOR_GRADE) AS OBLIGOR_GRADE, MAX(CASE WHEN WATCH_LIST_FLAG = 1 THEN 1 ELSE 0 END ) AS WATCHLIST       
 INTO .#CURRENT_RATING_SB       
 FROM IFRS_CUSTOMER_GRADING_CORP A      
 INNER JOIN #MAX_DD_SB B ON A.SANDI_BANK = B.SANDI_BANK AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE      
 GROUP BY A.SANDI_BANK      
      
 DROP TABLE IF EXISTS #CURRENT_INITIAL_RATING_SB      
 SELECT  MIN(INITIAL_RATING_CODE) AS INITIAL_RATING_CODE, SANDI_BANK       
 INTO #CURRENT_INITIAL_RATING_SB      
 FROM IFRS_MASTER_INIT_CUST_GRADE      
 WHERE DOWNLOAD_DATE <=@V_CURRDATE      
 AND INITIAL_RATING_CODE NOT IN('N/A')      
 GROUP BY SANDI_BANK      
       
 UPDATE A      
 SET RATING_CODE =       
  CASE WHEN B.CUSTOMER_NUMBER IS NULL THEN 'N/A'      
  ELSE        
   CASE WHEN B.OBLIGOR_GRADE = 'NFI' THEN 'G6'      
   WHEN B.OBLIGOR_GRADE = '0' THEN 'N/A'      
   ELSE B.OBLIGOR_GRADE      
  END      
     END         
 ,A.WATCHLIST_FLAG = B.WATCHLIST         
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN #CURRENT_RATING B  ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER      
 --LEFT JOIN #CURRENT_RATING_SB B ON A.SANDI_BANK = B.SANDI_BANK      
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE  AND DATA_SOURCE = 'TRS' AND  --SOURCE_SYSTEM <> 'T24'         
 /* NEW CBS*/        
 A.PRODUCT_GROUP = 'NS'       
        
 UPDATE A      
 SET RATING_CODE =      
  CASE WHEN B.SANDI_BANK IS NULL THEN 'N/A'      
  ELSE        
   CASE WHEN B.OBLIGOR_GRADE = 'NFI' THEN 'G6'      
   WHEN B.OBLIGOR_GRADE = '0' THEN 'N/A'      
   ELSE B.OBLIGOR_GRADE      
  END      
     END         
 ,A.WATCHLIST_FLAG = B.WATCHLIST         
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN #CURRENT_RATING_SB B ON A.SANDI_BANK = B.SANDI_BANK      
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE  AND DATA_SOURCE = 'TRS' AND  --SOURCE_SYSTEM <> 'T24'         
 /* NEW CBS*/  
 ----UPDATE 08 MARCH 2024 RATING CODE FOR TREASURY WITH SANDI BANK        
 ----A.PRODUCT_GROUP = 'NS'  AND   
 A.RATING_CODE = 'N/A'      
      
 UPDATE A         
 SET A.INITIAL_RATING_CODE = CASE       
 WHEN B.CUSTOMER_NUMBER IS NULL THEN 'N/A'       
 ELSE ISNULL(B.INITIAL_RATING_CODE,'N/A') END      
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN IFRS_MASTER_INIT_CUST_GRADE B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER      
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE --AND   SOURCE_SYSTEM <> 'T24'          
 /* NEW CBS*/        
 AND A.PRODUCT_GROUP = 'NS'           
 AND DATA_SOURCE = 'TRS'         
      
 UPDATE A         
 SET A.INITIAL_RATING_CODE = CASE       
 WHEN B.SANDI_BANK IS NULL THEN 'N/A'       
 ELSE ISNULL(B.INITIAL_RATING_CODE,'N/A') END      
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN #CURRENT_INITIAL_RATING_SB B ON A.SANDI_BANK = B.SANDI_BANK      
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE --AND   SOURCE_SYSTEM <> 'T24'          
 /* NEW CBS*/        
 ----UPDATE 08 MARCH 2024 INITIAL RATING CODE FOR TREASURY WITH SANDI BANK  
 ----AND A.PRODUCT_GROUP = 'NS'           
 AND DATA_SOURCE = 'TRS'         
 AND A.INITIAL_RATING_CODE IN ('N/A')       
      
 ---------------------------------------- UPDATE RATING FOR COUNTER GUARANTEE ---------------------------------------   
           
 /* 20220722      
      
 UPDATE RATING CODE FOR COUNTER GUARANTEE JOIN BY 6 DIGIT FACILITY NUMBER      
      
 */   
     
 UPDATE A      
 SET RATING_CODE =       
  CASE WHEN B.CUSTOMER_NUMBER IS NULL THEN 'N/A'      
  ELSE        
CASE WHEN B.OBLIGOR_GRADE = 'NFI' THEN 'G6'      
   WHEN B.OBLIGOR_GRADE = '0' THEN 'N/A'      
   ELSE B.OBLIGOR_GRADE      
  END      
     END         
 ,A.WATCHLIST_FLAG = B.WATCHLIST         
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN #CURRENT_RATING B  ON LEFT(A.FACILITY_NUMBER,6) = B.CUSTOMER_NUMBER      
 --LEFT JOIN #CURRENT_RATING_SB B ON A.SANDI_BANK = B.SANDI_BANK      
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE        
 AND A.PRODUCT_GROUP = 'BG'           
 AND DATA_SOURCE = 'TRADE_T24'        
 AND A.COUNTER_GUARANTEE_FLAG = 'Y'      
       
 UPDATE A         
 SET A.INITIAL_RATING_CODE = CASE       
 WHEN B.CUSTOMER_NUMBER IS NULL THEN 'N/A'       
 ELSE ISNULL(B.INITIAL_RATING_CODE,'N/A') END      
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN IFRS_MASTER_INIT_CUST_GRADE B ON LEFT(A.FACILITY_NUMBER,6) = B.CUSTOMER_NUMBER      
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE       
 AND A.PRODUCT_GROUP = 'BG'           
 AND DATA_SOURCE = 'TRADE_T24'        
 AND A.COUNTER_GUARANTEE_FLAG = 'Y'      
       
 ------------------------------------ UPDATE RATING FOR TREASURY ---------------------------------------      
   
           
 --------------------------- RATING DOWNGRADE ----------------------------------------------------------  
   
 SET @SQLRATING_CODE = ''  
  
 SET @SQLRATING_CODE = 'UPDATE IFRS_MASTER_ACCOUNT      
 SET RATING_DOWNGRADE= CASE WHEN ISNULL(RATING_CODE,''N/A'') IN (''N/A'',''DO'',''JDO'') THEN NULL          
  WHEN    ISNULL(INITIAL_RATING_CODE,''N/A'')  = ''N/A'' THEN NULL           
  ELSE  CAST (SUBSTRING(RATING_CODE,2,1) AS INT) - CAST (SUBSTRING(INITIAL_RATING_CODE,2,1) AS INT)    END        
 WHERE DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''        
 AND (  
 DATA_SOURCE IN (''LOAN_T24'', ''LIMIT_T24'', ''TRADE_T24'', ''TRS'')   
 OR   
 (PRODUCT_TYPE IN (''' + REPLACE(@CSPRD_VALUE, ',', ''',''') + ''') AND ' + @CSR_COLUMN +' IN (''' + REPLACE(@CSR_VALUE, ',', ''',''') + '''))  
 )'  
   
 EXEC SP_EXECUTESQL @SQLRATING_CODE     
 --PRINT @SQLRATING_CODE  
                
 --------------------------- RATING DOWNGRADE ----------------------------------------------------------      
      
 ---------------------- UPDATE PD_MASTER_SCALE   -------------------------------------------------------         
 DROP TABLE IF EXISTS #MAX_PD      
 SELECT OBLIGOR_GRADE,MAX(DOWNLOAD_DATE) AS DOWNLOAD_DATE       
 INTO #MAX_PD       
 FROM IFRS_PD_MASTERSCALE_CORP       
 WHERE DOWNLOAD_DATE <= @V_CURRDATE       
 GROUP BY OBLIGOR_GRADE       
 ORDER BY OBLIGOR_GRADE      
      
 DROP TABLE IF EXISTS #CURRENT_PD      
 SELECT  A.OBLIGOR_GRADE,MAX(A.PD) AS PD INTO #CURRENT_PD FROM IFRS_PD_MASTERSCALE_CORP A      
 INNER JOIN #MAX_PD B ON A.OBLIGOR_GRADE = B.OBLIGOR_GRADE AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE      
 GROUP BY A.OBLIGOR_GRADE      
      
 UPDATE A      
 SET PD_CURRENT_RATE = CASE WHEN B.PD IS NULL THEN NULL ELSE B.PD END      
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN #CURRENT_PD B ON A.RATING_CODE = B.OBLIGOR_GRADE      
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE      
      
 DELETE FROM IFRS_INIT_PD_MASTERSCALE_CORP WHERE DOWNLOAD_DATE >= @V_CURRDATE      
      
 DROP TABLE IF EXISTS #PD_INIT      
 SELECT CUSTOMER_NUMBER INTO #PD_INIT FROM IFRS_INIT_PD_MASTERSCALE_CORP GROUP BY CUSTOMER_NUMBER      
   
   
 SET @SQLRATING_CODE = ''  
  
 SET @SQLRATING_CODE = 'INSERT INTO IFRS_INIT_PD_MASTERSCALE_CORP      
 (      
  DOWNLOAD_DATE      
  ,CUSTOMER_NUMBER          
  ,RATING_CODE          
  ,PD      
  ,CREATEDBY      
  ,CREATEDDATE      
 )      
 SELECT       
  ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + ''' AS DOWNLOAD_DATE      
  ,A.CUSTOMER_NUMBER         
  ,MAX(A.RATING_CODE)          
  ,MAX(PD_CURRENT_RATE)      
  ,''SP_IFRS_IMP_INITIAL_UPDATE_T24'' AS CREATEDBY      
  ,GETDATE () AS CREATEDDATE       
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN #PD_INIT B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER      
WHERE A.DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''        
 AND   
 (  
 A.DATA_SOURCE IN (''LOAN_T24'', ''LIMIT_T24'', ''TRADE_T24'', ''TRS'')   
 OR  
 (A.PRODUCT_TYPE IN (''' + REPLACE(@CSPRD_VALUE, ',', ''',''') + ''') AND A.' + @CSR_COLUMN +' IN (''' + REPLACE(@CSR_VALUE, ',', ''',''') + '''))   
 )  
 AND B.CUSTOMER_NUMBER IS NULL      
 GROUP BY A.CUSTOMER_NUMBER'  
   
 EXEC SP_EXECUTESQL @SQLRATING_CODE     
 -- PRINT @SQLRATING_CODE      
   
       
 SET @SQLRATING_CODE = ''  
  
 SET @SQLRATING_CODE = 'UPDATE A      
 SET A.PD_INITIAL_RATE = CASE WHEN B.CUSTOMER_NUMBER IS NULL THEN NULL ELSE B.PD END      
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN IFRS_INIT_PD_MASTERSCALE_CORP B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER      
 WHERE A.DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''        
 AND   
 (  
 A.DATA_SOURCE IN (''LOAN_T24'', ''LIMIT_T24'', ''TRADE_T24'', ''TRS'')   
 OR  
 (A.PRODUCT_TYPE IN (''' + REPLACE(@CSPRD_VALUE, ',', ''',''') + ''') AND A.' + @CSR_COLUMN +' IN (''' + REPLACE(@CSR_VALUE, ',', ''',''') + '''))   
 )'  
   
 EXEC SP_EXECUTESQL @SQLRATING_CODE     
 --PRINT @SQLRATING_CODE         
        
 SET @SQLRATING_CODE = ''  
  
 SET @SQLRATING_CODE = 'UPDATE IFRS_MASTER_ACCOUNT      
 SET PD_CHANGE = CASE WHEN ISNULL(PD_INITIAL_RATE,0) = 0 THEN 0 ELSE (ISNULL(PD_CURRENT_RATE,0) - ISNULL(PD_INITIAL_RATE,0))/PD_INITIAL_RATE  END,          
 REMAINING_TENOR = (DATEDIFF(DD, DOWNLOAD_DATE, LOAN_DUE_DATE)/30)+1         
 WHERE DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''        
 AND   
 (  
 DATA_SOURCE IN (''LOAN_T24'', ''LIMIT_T24'', ''TRADE_T24'', ''TRS'')   
 OR  
 (PRODUCT_TYPE IN (''' + REPLACE(@CSPRD_VALUE, ',', ''',''') + ''') AND ' + @CSR_COLUMN +' IN (''' + REPLACE(@CSR_VALUE, ',', ''',''') + '''))   
 )'  
   
 EXEC SP_EXECUTESQL @SQLRATING_CODE     
 --PRINT @SQLRATING_CODE      
   
    
 ---- UPDATE ASSET CALSSIFICATION ------      
 --GET MAKS DATE FOR FACILITY_NUMBER      
 DROP TABLE IF EXISTS #AC_MAX      
 SELECT FACILITY_NUMBER, MAX(DOWNLOAD_DATE) AS MAX_DATE       
 INTO #AC_MAX       
 FROM IFRS_ASSET_CLASSIFICATION_CORP       
 WHERE DOWNLOAD_DATE <= @V_CURRDATE       
 GROUP BY FACILITY_NUMBER      
    
    
 SET @SQLRATING_CODE = ''  
  
 SET @SQLRATING_CODE = 'UPDATE IMA       
 SET SPPI_RESULT = AC.SPPI_RESULT, BM_RESULT = AC.BM_RESULT      
 FROM IFRS_MASTER_ACCOUNT IMA      
 JOIN (SELECT A.FACILITY_NUMBER, A.SPPI_RESULT, A.BM_RESULT FROM IFRS_ASSET_CLASSIFICATION_CORP A JOIN #AC_MAX B ON A.DOWNLOAD_DATE = B.MAX_DATE AND A.FACILITY_NUMBER = B.FACILITY_NUMBER GROUP BY A.FACILITY_NUMBER, A.SPPI_RESULT, A.BM_RESULT) AC      
 ON IMA.FACILITY_NUMBER = AC.FACILITY_NUMBER       
 WHERE IMA.DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''        
 AND   
 (  
 IMA.DATA_SOURCE IN (''LOAN_T24'', ''LIMIT_T24'', ''TRADE_T24'')   
 OR  
 (IMA.PRODUCT_TYPE IN (''' + REPLACE(@CSPRD_VALUE, ',', ''',''') + ''') AND IMA.' + @CSR_COLUMN +' IN (''' + REPLACE(@CSR_VALUE, ',', ''',''') + '''))   
 )'  
   
 EXEC SP_EXECUTESQL @SQLRATING_CODE     
 --PRINT @SQLRATING_CODE  
   
   
 SET @SQLRATING_CODE = ''  
  
 SET @SQLRATING_CODE = 'UPDATE A      
 SET IFRS9_CLASS = ISNULL(B.ASSET_CLASS, A.IFRS9_CLASS)      
 FROM IFRS_MASTER_ACCOUNT A      
 LEFT JOIN (SELECT DISTINCT SPPI_RSLT, BM_RSLT, REPLACE(ASSET_CLASS, ''AMORT'', ''AMORTIZED COST'') ASSET_CLASS FROM IFRS_AC_MAIN_MAPPING WHERE FV_OPTION = 0) B ON A.SPPI_RESULT = B.SPPI_RSLT AND A.BM_RESULT = B.BM_RSLT      
 WHERE A.DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''        
 AND   
 (  
 A.DATA_SOURCE IN (''LOAN_T24'', ''LIMIT_T24'', ''TRADE_T24'')   
 OR  
 (A.PRODUCT_TYPE IN (''' + REPLACE(@CSPRD_VALUE, ',', ''',''') + ''') AND A.' + @CSR_COLUMN +' IN (''' + REPLACE(@CSR_VALUE, ',', ''',''') + '''))   
 )'  
   
 EXEC SP_EXECUTESQL @SQLRATING_CODE     
 --PRINT @SQLRATING_CODE  
   
        
 -- UPDATE EXTERNAL RATING TREASURY        
 UPDATE A        
  SET         
   EXT_RATING_CODE = (CASE WHEN A.EXT_RATING_CODE IS NOT NULL THEN A.EXT_RATING_CODE ELSE         
 (CASE WHEN B.EXTERNAL_RATING_CODE IS NOT NULL THEN B.EXTERNAL_RATING_CODE ELSE        
  (CASE WHEN C.EXTERNAL_RATING_CODE IS NOT NULL THEN C.EXTERNAL_RATING_CODE ELSE '10'        
  END)        
 END)        
      END),          
   EXT_RATING_AGENCY = (CASE WHEN A.EXT_RATING_AGENCY IS NOT NULL THEN A.EXT_RATING_AGENCY ELSE         
 (CASE WHEN B.EXTERNAL_RATING_AGENCY IS NOT NULL THEN B.EXTERNAL_RATING_AGENCY ELSE        
  (CASE WHEN C.EXTERNAL_RATING_AGENCY IS NOT NULL THEN C.EXTERNAL_RATING_AGENCY ELSE '00'        
  END)        
 END)        
      END),        
   EXT_INIT_RATING_CODE = (CASE WHEN A.EXT_INIT_RATING_CODE IS NOT NULL THEN A.EXT_INIT_RATING_CODE ELSE         
 (CASE WHEN B.INITIAL_RATING_CODE IS NOT NULL THEN B.INITIAL_RATING_CODE ELSE        
  (CASE WHEN C.EXTERNAL_RATING_INITIAL IS NOT NULL THEN C.EXTERNAL_RATING_INITIAL ELSE '10'        
  END)        
 END)        
      END)        
  FROM IFRS_MASTER_ACCOUNT A         
  LEFT JOIN IFRS_MASTER_EXTERNAL_RATING B        
  ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER        
  AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE        
  LEFT JOIN IFRS_JUDGEMENT_RATING_TREASURY C        
  ON A.CUSTOMER_NUMBER = C.MASTERID        
  AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE        
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE AND A.DATA_SOURCE = 'TRS'       
        
   ---- ADD NEW LOGIC TO CHECK BUCKET DOWNGRADE EXTERNAL 20200810      
      
 UPDATE A        
  SET EXT_RATING_DOWNGRADE =         
  CASE         
   WHEN ISNULL(A.EXT_RATING_CODE, 'N/A') = 'N/A' THEN 0         
   WHEN ISNULL(A.EXT_INIT_RATING_CODE, 'N/A') = 'N/A' THEN 0        
   ELSE ISNULL(CAST(CURR.MAPPED_RATING_CODE AS INT) - CAST(INITIAL.MAPPED_RATING_CODE AS INT), 0)         
   END      
   FROM IFRS_MASTER_ACCOUNT A      
   LEFT JOIN IFRS_MAPPING_EXTERNAL_RATING INITIAL ON A.EXT_INIT_RATING_CODE =  INITIAL.RATING_CODE      
   LEFT JOIN IFRS_MAPPING_EXTERNAL_RATING CURR ON A.EXT_RATING_CODE =  CURR.RATING_CODE       
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE AND A.DATA_SOURCE = 'TRS'        
  ------------------------------------ UPDATE EXTERNAL RATING CODE  ----------------------------------------        
      
END 
GO
