USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ME_FORECAST_SCORE_LIGHT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ME_FORECAST_SCORE_LIGHT](@PKID BIGINT = 0)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE	@V_Query   VARCHAR(MAX);
	DECLARE @V_ColumnName VARCHAR(MAX);

	SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + ME_CODE
	FROM TMP_IFRS_ME_FORECAST_SCORE_DTL 
	WHERE LIGHT_PD_MODEL_ID = @PKID
	GROUP BY ME_CODE
	ORDER BY ME_CODE;

	SET @V_Query = 'Select A.PERIOD "Period", 
						' + @V_ColumnName + ',
						A.TOTAL_SCORE "Total Score", 
						A.OVERRIDE_LIGHT_ID "Light", 
						C.IMAGE_URL AS LIGHT_COLOR
					FROM TMP_IFRS_ME_FORECAST_SCORE A
					JOIN 
					(
						 SELECT PERIOD, ' + @V_ColumnName + ' FROM
						 ( 
						   SELECT PERIOD, ME_CODE, SCORE 
						   FROM TMP_IFRS_ME_FORECAST_SCORE_DTL
						   WHERE LIGHT_PD_MODEL_ID = ' + CAST(@PKID AS varchar(max)) + '
						 ) AA
						 PIVOT 
						 (
							MAX(SCORE)
							FOR ME_CODE IN (' + @V_ColumnName + ')
						 ) PVT
					 ) B ON A.PERIOD = B.PERIOD
						AND A.LIGHT_PD_MODEL_ID = ' + CAST(@PKID AS varchar(max)) + '
					 JOIN IFRS_IMP_LIGHT_SCEN_PARAM C
					 ON A.OVERRIDE_LIGHT_ID = C.LIGHT_ID
					 JOIN TMP_IFRS_LIGHT_PD_CONFIG D
					 ON A.LIGHT_PD_MODEL_ID = D.PKID
						AND C.LIGHT_GROUP = D.LIGHT_GROUP
					 ORDER BY A.PERIOD';

	exec (@V_Query);
END;


GO
