USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOADLGDYEARLY]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPR_LOADLGDYEARLY]
(
	@PKID BIGINT,
	@DOWNLOAD_DATE DATE
)
AS      
BEGIN    
 
SELECT
	LGD_RULE_NAME,
	ISNULL(RECOVERY_RATE, 0) * 100 AS RECOVERY_RATE,
	ISNULL(LGD, 0) * 100 AS LGD
FROM IFRS_LGD_ER_HEADER
WHERE LGD_RULE_ID = @PKID
	AND DOWNLOAD_DATE = @DOWNLOAD_DATE

END

GO
