USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMIMPAIRCABUCKALBYBUCK]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_PARAMIMPAIRCABUCKALBYBUCK]  
(  
 @BUCKET_Group varchar(25)  =''  
)  
as  
begin  
  
 SELECT A.PKID,  
  [BUCKET_ID]  
      ,[BUCKET_NAME]  
   ,SUB_BUCKET_GROUP as "SUB_BUCKET_NAME"  
      ,[RANGE_START]  
      ,[RANGE_END]  
   , B.INCLUDE_FULLYPAID_FLAG  
   , B.INCLUDE_WO_FLAG  
   , B.INCLUDE_CLOSE_FLAG  
   ,CASE MINIMUM_PD WHEN NULL THEN 0 ELSE MINIMUM_PD END MINIMUM_PD  
   ,CASE WHEN MAXIMUM_PD IS NULL THEN 0 ELSE [MAXIMUM_PD] END "MAXIMUM_PD"  
      ,A.BUCKET_GROUP  
      ,A.CreatedBy  
      ,A.CreatedDate  
      ,A.CreatedHost  
      ,A.UpdatedBy  
      ,A.UpdatedDate  
      ,A.UPDATEDHOST  
      --,[BEING_EDITED]  
    FROM [IFRS_BUCKET_DETAIL] A join IFRS_BUCKET_HEADER B on A.BUCKET_GROUP = B.BUCKET_GROUP  
 WHERE A.BUCKET_GROUP=@BUCKET_Group  and a.IS_DELETE = 0 and b.IS_DELETE = 0
    ORDER BY BUCKET_ID ASC  
  
end  
  
  
  
  
  
  
  
  
GO
