USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TRADEMODULECOLLIMPAIR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_TRADEMODULECOLLIMPAIR]    
(    
 @DDATE_MAID VARCHAR(50)=''    
)    
AS    
BEGIN    
            
	SELECT DISTINCT
		DOWNLOAD_DATE AS "PERIOD",    
		MASTER_ACCOUNT_CODE as MASTERID,    
        CURRENCY,    
        ISNULL(IMPAIRED_FLAG, 'C') AS "IMPAIRMENT_FLAG",    
		RATING_CODE,
		B.BUCKET_NAME,
		STAGE,
        BI_COLLECTABILITY,    
        ISNULL(EAD_AMOUNT, 0) AS EAD_AMOUNT,    
        ISNULL(BEGINNING_BALANCE, 0) AS "BEGIN_BALANCE",    
		ISNULL(CHARGE_AMOUNT, 0) AS CHARGE_AMOUNT,
		ISNULL(WRITEBACK_AMOUNT, 0) AS WRITEBACK_AMOUNT,
        ISNULL(ENDING_BALANCE, 0) AS "ENDING_BALANCE"    
    FROM IFRS_MASTER_ACCOUNT_MONTHLY A (NOLOCK)    
	JOIN IFRS_BUCKET_DETAIL B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_ID = B.BUCKET_ID
    WHERE ISNULL(IMPAIRED_FLAG, 'C') = 'C'
        AND A.MASTER_ACCOUNT_CODE = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))    
        AND A.DOWNLOAD_DATE <= CONVERT(VARCHAR, SUBSTRING(@DDATE_MAID, 1, 10), 111)    
    ORDER BY PERIOD,    
        MASTER_ACCOUNT_CODE,    
        IMPAIRMENT_FLAG,  
        BI_COLLECTABILITY;    
    
END;    

GO
