USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TM_PD_FCAST_YEAR_3_LIGHT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_TM_PD_FCAST_YEAR_3_LIGHT](@PKID BIGINT=0)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE	@V_Query   VARCHAR(MAX);
	DECLARE @V_ColumnName VARCHAR(MAX);

	SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + SUB_BUCKET_GROUP
	FROM TMP_IFRS_LIGHT_PD_CONFIG A
	JOIN IFRS_PD_TRANS_MATRIX_CONFIG B
	ON A.PKID = @PKID
		AND A.TM_RULE_ID = B.PKID
	JOIN IFRS_IMPC_BUCKET_PARAM C
	ON B.BUCKET_GROUP = C.BUCKET_GROUP
	GROUP BY SUB_BUCKET_GROUP
	ORDER BY SUB_BUCKET_GROUP;

	SET @V_Query = 'SELECT * FROM 
					(
						SELECT D.SUB_BUCKET_GROUP "GROUP", 
							E.SUB_BUCKET_GROUP BUCKET_TO,
							A.FLOWRATE 
						FROM TMP_IFRS_LIGHT_TM_PD_FLOWRATE A
						JOIN TMP_IFRS_LIGHT_PD_CONFIG B
						ON A.LIGHT_PD_MODEL_ID = B.PKID
							AND A.LIGHT_PD_MODEL_ID = ' + CAST(@PKID AS varchar(max)) + '
							AND A.FORECAST_YEAR = 3
						JOIN IFRS_PD_TRANS_MATRIX_CONFIG C
						ON B.TM_RULE_ID = C.PKID
						JOIN IFRS_IMPC_BUCKET_PARAM D
						ON C.BUCKET_GROUP = D.BUCKET_GROUP
							AND A.BUCKET_FROM = D.BUCKET_ID
						JOIN IFRS_IMPC_BUCKET_PARAM E
						ON C.BUCKET_GROUP = E.BUCKET_GROUP
							AND A.BUCKET_TO = E.BUCKET_ID
					) TMP
					PIVOT
					(
						MAX(FLOWRATE)
						FOR BUCKET_TO IN ('+ @V_ColumnName +')
					) PVT';

	exec (@V_Query);
END;

GO
