USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LIFETIMEFINALLIFETIME]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_LIFETIMEFINALLIFETIME](
@LIFETIME_RULE_ID BIGINT = 0,
@DOWNLOAD_DATE DATE = '01/01/2000')  
AS  
BEGIN
	
SET NOCOUNT ON;  

	SELECT DISTINCT B.BUCKET_NAME AS "Initial Bucket", A.LIFETIME AS "Time to Absorption"
	FROM IFRS_LT_FINAL A
	LEFT JOIN IFRS_BUCKET_DETAIL B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_ID = B.BUCKET_ID
	WHERE LIFETIME_RULE_ID = @LIFETIME_RULE_ID and EFF_DATE = @DOWNLOAD_DATE

END;

GO
