USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECLCORPRESULTDETAILCOUNT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ECLCORPRESULTDETAILCOUNT]  
(  
 @Download_Date datetime = '1900-01-01',  
 @DataSource varchar(50)='',  
 @ProdGroup varchar(50)='',  
 @Group_Report varchar(50)='',  
 @ProdType varchar(50)='',  
 @Stage char(1)='',  
 @PDMethod varchar(15)='',  
 @PDRuleID varchar(50)='',  
 @LGDMethod varchar(15)='',  
 @LGDRuleID varchar(50)='',  
 @CustType varchar(50)=''  
   
)  
as  
BEGIN  
  
select COUNT(*) as TOTAL_COUNT  
from IFRS_MASTER_ACCOUNT_MONTHLY A  
WHERE A.DATA_SOURCE = @DataSource  
 AND A.PRODUCT_GROUP = @ProdGroup  
 AND A.DOWNLOAD_DATE = @Download_Date  
 AND A.PRODUCT_TYPE = @ProdType  
 --AND A.GROUP_REPORTING = @Group_Report  
 AND A.STAGE = @Stage  
 --AND A.PD_METHOD = @PDMethod  
 AND A.PD_RULE_ID = @PDRuleID  
 --AND A.LGD_METHOD = @LGDMethod  
 AND A.LGD_RULE_ID = @LGDRuleID  
 --AND A.CUSTOMER_TYPE = @CustType  
 AND A.ACCOUNT_STATUS = 'A'  
 AND A.IMPAIRED_FLAG = 'C'  
END  
GO
