USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULECONTRACTATTR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOANMODULECONTRACTATTR]  
(  
 @DDATE_MAID VARCHAR(100) = ''  
)  
AS  
BEGIN  
   
    SELECT REPLACE(CONVERT(VARCHAR, IMA.DOWNLOAD_DATE, 106), ' ', '-') DOWNLOAD_DATE,  
		IMA.PRODUCT_ENTITY ENTITY,  
        IMA.DATA_SOURCE,  
        IMA.CUSTOMER_NAME,  
        IMA.CUSTOMER_NUMBER,  
        IMA.FACILITY_NUMBER,  
        IMA.ACCOUNT_NUMBER,  
		IMA.PREVIOUS_ACCOUNT_NUMBER,  
        IMA.ACCOUNT_STATUS,  
        REPLACE(CONVERT(VARCHAR, IMA.LOAN_START_DATE, 106), ' ', '-') LOAN_START_DATE,  
        REPLACE(CONVERT(VARCHAR, IMA.LOAN_DUE_DATE, 106), ' ', '-') LOAN_DUE_DATE,  
		REPLACE(CONVERT(VARCHAR, IMA.LOAN_START_AMORTIZATION, 106), ' ', '-') LOAN_START_AMORTIZATION,  
		REPLACE(CONVERT(VARCHAR, IMA.LOAN_END_AMORTIZATION, 106), ' ', '-') LOAN_END_AMORTIZATION,  
        REPLACE(CONVERT(VARCHAR, IMA.NEXT_PAYMENT_DATE, 106), ' ', '-') NEXT_PAYMENT_DATE,  
		REPLACE(CONVERT(VARCHAR, IMA.NEXT_INT_PAYMENT_DATE, 106), ' ', '-') NEXT_INT_PAYMENT_DATE,  
        IMB.BRANCH_DESC AS BRANCH_DESC,  
		IMA.BRANCH_CODE,  
		IMA.PRODUCT_GROUP,  
        IMA.PRODUCT_TYPE,  
        IMA.PRODUCT_CODE,  
		PROD.PRD_DESC,  
        ISNULL(IMA.INTEREST_RATE, 0) INTEREST_RATE,  
        ISNULL(IMA.EIR, 0) EIR,  
        ISNULL(IMA.PLAFOND, 0) PLAFOND,  
        ISNULL(IMA.PLAFOND_CASH, 0) PLAFOND_CASH,  
        ISNULL(IMA.OUTSTANDING, 0) OUTSTANDING_PRINCIPAL,  
		ISNULL(IMA.FAIR_VALUE_AMOUNT,0) FAIR_VALUE_AMOUNT,  
		ISNULL(IMA.EAD_AMOUNT,0) EAD_AMOUNT,  
		ISNULL(IMA.ECL_AMOUNT,0) ECL_AMOUNT,  
		'0' LOAN_AMOUNT,  
        ISNULL(IMA.TENOR, 0) TENOR,  
		ISNULL(IMA.REMAINING_TENOR, 0) REMAINING_TENOR,  
        ISNULL(IMA.DAY_PAST_DUE, 0) DAY_PAST_DUE,  
        ISNULL(IMA.RESTRUCTURE_FLAG, 0) RESTRUCTURE_LOAN_FLAG,  
        ISNULL(IMA.INITIAL_UNAMORT_ORG_FEE, 0) INITIAL_UNAMORT_ORG_FEE,  
        ISNULL(IMA.INITIAL_UNAMORT_TXN_COST, 0) INITIAL_UNAMORT_TXN_COST,  
		ISNULL(IMA.UNAMORT_COST_AMT, 0) UNAMORT_COST_AMT,  
        ISNULL(IMA.UNAMORT_FEE_AMT, 0) UNAMORT_FEE_AMT,  
        IMA.CURRENCY,  
        PROD.PRD_TYPE_1 AS ASSET_TYPE_PRODUCT1,  
        IMA.INITIAL_OUTSTANDING,  
		IMA.OUTSTANDING_BANK as "OUTSTANDING_PROFIT", -- sementara pake field dulu karna outstanding_profit tidak ada di master account  
        IMA.INTEREST_ACCRUED,  
		IMA.EXCHANGE_RATE,  
        IMA.ORIGINAL_COLLECTABILITY,  
        IMA.BI_COLLECTABILITY,  
        IMA.STAGE,  
		IMA.IFRS9_CLASS,  
		IMA.INTEREST_CALCULATION_CODE,  
		ISNULL(IMA.STAFF_LOAN_FLAG,'False') STAFF_LOAN_FLAG,  
		IMA.AMORT_TYPE,  
		CASE WHEN IMA.DATA_SOURCE <> 'LIMIT' THEN CASE WHEN IMA.AMORT_TYPE='EIR' THEN convert(bit,0) ELSE convert(bit,1) END   
			ELSE IMA.REVOLVING_FLAG END AS REVOLVING_FLAG,  
		ISNULL(IMA.IMPAIRED_FLAG,'False') IMPAIRED_FLAG,
		ISNULL(IMA.WATCHLIST_FLAG,'False') WATCHLIST_FLAG,
		IMA.INITIAL_RATING_CODE,
		IMA.RATING_CODE,
		IMA.RATING_DOWNGRADE,
		ISNULL(IMA.PD_INITIAL_RATE, 0) PD_INITIAL_RATE,
		ISNULL(IMA.PD_CURRENT_RATE, 0) PD_CURRENT_RATE,
		ISNULL(IMA.PD_CHANGE,0) PD_CHANGE
    FROM IFRS_MASTER_ACCOUNT IMA (NOLOCK)  
        LEFT JOIN IFRS_MASTER_PRODUCT_PARAM PROD (NOLOCK) ON IMA.PRODUCT_CODE = PROD.PRD_CODE  
  LEFT JOIN IFRS_MASTER_BRANCH IMB (NOLOCK) ON IMB.BRANCH_CODE = IMA.BRANCH_CODE  
    WHERE IMA.MASTER_ACCOUNT_CODE = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))  
        AND IMA.DOWNLOAD_DATE = CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10) , 111)  
  
END;  

GO
