USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TmpGetNextModelPKID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_TmpGetNextModelPKID]    
AS    
BEGIN    
    --SELECT ISNULL(IDENT_CURRENT('TMP_IFRS_MACRO_ECONOMIC_MODEL') + IDENT_INCR('TMP_IFRS_MACRO_ECONOMIC_MODEL'),1)        
 UPDATE tblm_sequence set SEQUENCES=SEQUENCES+1 where SEQUENCE_NAME = 'ME_VARCORR_REGIS'  
 SELECT SEQUENCES FROM tblm_sequence where SEQUENCE_NAME = 'ME_VARCORR_REGIS'  
END;  
GO
