USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMPREPAYSEGMENT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USPS_PARAMPREPAYSEGMENT] 
(
 @RULE_CODE bigint = 0
)
as

begin
 select * from IFRS_MSTR_SEGMENT_RULES_HEADER where PKID = @RULE_CODE and SEGMENT_TYPE = 'PR_SEGMENT' AND IS_DELETE = 0 
end;


GO
