USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_DEFAULTRATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPR_DEFAULTRATE]      
(    
 @DEFAULT_MODEL VARCHAR(100),    
 @PERIOD_FROM DATE,    
 @PERIOD_TO DATE    
)     
AS    
BEGIN    
DECLARE @PD_METHOD VARCHAR(10)
SET @PD_METHOD = (SELECT PD_METHOD FROM IFRS_PD_RULES_CONFIG WHERE ISNULL(IS_DELETE, 0) = 0 AND PKID = @DEFAULT_MODEL)

IF (@PD_METHOD != 'EXT')
BEGIN
	SELECT     
		DOWNLOAD_DATE,    
		TOTAL_ACCOUNT,    
		TOTAL_PERFORMING,    
		TOTAL_12M_DEFAULT,    
		ODR_RATE,
		@PD_METHOD AS PD_METHOD
	FROM IFRS_IMP_DEFAULT_RATE    
	WHERE PD_RULE_ID = @DEFAULT_MODEL    
		AND DOWNLOAD_DATE BETWEEN @PERIOD_FROM AND @PERIOD_TO    
	ORDER BY DOWNLOAD_DATE  
END
ELSE
BEGIN
	SELECT
		ME_PERIOD AS DOWNLOAD_DATE,
		ME_VAL AS ODR_RATE,
		ME_CODE,
		@PD_METHOD AS PD_METHOD
	FROM IFRS_MACRO_ECONOMIC
	WHERE HEADERID IN (SELECT PKID FROM TBLM_MACRO_ECONOMIC WHERE ME_TYPE = 'dependent' and ME_SOURCE = 'upload')
		AND ME_PERIOD BETWEEN @PERIOD_FROM AND @PERIOD_TO
END

END;

GO
