USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_TMP_ME_SEASON_ADJ]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[USPD_TMP_ME_SEASON_ADJ]
(
	@Model_ID int = 0,
	@Derived_Type varchar(30)=''
)
as
begin
	DELETE TMP_IFRS_ME_SEASONAL_ADJ
	where MODEL_ID = @Model_ID
	and DERIVED_TYPE = @Derived_Type
	and ME_VAL IS NOT NULL
end

GO
