USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_MAPPINGRULE_SCREEN]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPI_MAPPINGRULE_SCREEN]
(
	@MappingRuleId int=0,
	@ScreenGroupID int=0,
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(36)=''
)
as
begin
	INSERT INTO TBLM_MAPPING_RULE_SCREENGROUP
		(MAPPINGRULEID, SCREENGROUP)
	VALUES (@MappingRuleId, @ScreenGroupID)
end

GO
