USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IMP_OVR_ACC_DATA_DETAIL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IMP_OVR_ACC_DATA_DETAIL](  
 @CIF VARCHAR(100),  
 @DOWNLOAD_DATE VARCHAR(100)  
)  
AS  
BEGIN  
 SELECT   
  DOWNLOAD_DATE,  
  CUSTOMER_NUMBER,  
  CUSTOMER_NAME,  
  -- comment dulu biar jalan (lagi migrasi ke BTPN) nanti balikin lagi SUM (OUTSTANDING_LCY) OUTSTANDING_LCY,  
  SUM (OUTSTANDING) OUTSTANDING_LCY,
  SUM(PLAFOND * EXCHANGE_RATE) PLAFOND_LCY,  
  MAX(BI_COLLECTABILITY) BI_COLLECTABILITY  
 FROM IFRS_MASTER_ACCOUNT  
 WHERE CUSTOMER_NUMBER = @CIF  
 AND DOWNLOAD_DATE = @DOWNLOAD_DATE  
 GROUP BY DOWNLOAD_DATE,CUSTOMER_NUMBER,CUSTOMER_NAME  
END  

GO
