USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_USERBYNAME]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_USERBYNAME]                        
 @UserName varchar(50)                      
 --,@Host varchar(20)                            
as                            
              
declare @UserId varchar(36)              
declare @LoginAuth varchar(10)              
              
select @LoginAuth=commonusage from tblm_CommonCodeHeader where CommonCode='AP010'              
              
if (@LoginAuth='SQL')              
begin              
 select top 1 @UserId = CONVERT(varchar(36),PKID) from tblm_user  where UserName = @UserName                            
 exec [uspP_ValidateLoginUser] @UserId              
end              
              
select a.*,                   
 b.Description as ScreenGroupName                   
 ,c.Name as BranchGroupName                   
 --,d.GroupName as FormGroupName                   
 from tblM_User  a  with (nolock)                        
 inner join tblM_ScreenGroupHeader b with (nolock) on a.ScreenGroupID = b.PKID                          
 inner join tblM_BranchGroupHeader c with (nolock) on a.BranchGroupID = c.pkid                   
 --inner join tblM_GroupFormH  d with (nolock) on a.GroupForm = d.PKID                  
 where UserName = @UserName  

GO
