USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MAIN_DASHBOARD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_MAIN_DASHBOARD]
AS
BEGIN
/* change log
Date: 13 Jul 2019
Author: Frans Darmawan
Purpose: BTPN
=============================================
Date: 31 May 2018
Author: Julian Wesley
Purpose: Convert the value so not showing any error in screen
=============================================
Date: 10 November 2017
Author: Frans Darmawan
Purpose: SELECT IMP DASHBOARD DATA FOR SCREEN
*/
	DECLARE @MAXDATE DATE,
	@CURRDATE DATE;

	-- sample for dashboard
	SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE;
	SELECT @MAXDATE = MAX(DATA_DATE) from IFRS_IMP_MAIN_DASHBOARD;
	
	SELECT DATA_DATE,
		ISNULL(SEGMENT, '') AS SEGMENT,
		ISNULL(STAGE, '') AS STAGE,
		ISNULL(BRANCH, '') AS BRANCH,
		CONVERT(DECIMAL(18, 2), CA_ECL_AMT_IDR) AS CA_ECL_AMT_IDR,
		CONVERT(DECIMAL(18, 2), IA_ECL_AMT_IDR) AS IA_ECL_AMT_IDR,
		CONVERT(DECIMAL(18, 2), ECL_AMT_IDR) AS ECL_AMT_IDR,
		CONVERT(DECIMAL(18, 2), CA_UNWINDING_AMT_IDR) AS CA_UNWINDING_AMT_IDR,
		CONVERT(DECIMAL(18, 2), IA_UNWINDING_AMT_IDR) AS IA_UNWINDING_AMT_IDR,
		CONVERT(DECIMAL(18, 2), UNWINDING_AMT_IDR) AS UNWINDING_AMT_IDR
	from IFRS_IMP_MAIN_DASHBOARD A
		--LEFT JOIN IFRS_MASTER_BRANCH B ON A.BRANCH = B.BRANCH_CODE
	WHERE DATA_DATE BETWEEN EOMONTH(DATEADD(YEAR, -2, @MAXDATE), 0) AND @CURRDATE

END;

GO
