USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEDERIVED_H]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MEDERIVED_H](  
@MODEL_ID int  
,@IS_SIMULATION bit  
)  
AS  
BEGIN  
	
	IF (@IS_SIMULATION = 1)
	BEGIN
		SELECT  
			MACRO_ECONOMIC_CODE  
		FROM TMP_IFRS_INDEPENDENT_VARIABLE
		WHERE MODEL_ID = @MODEL_ID   
		ORDER BY MACRO_ECONOMIC_CODE
	END
	ELSE
	BEGIN
		SELECT  
			MACRO_ECONOMIC_CODE  
		FROM IFRS_INDEPENDENT_VARIABLE
		WHERE MODEL_ID = @MODEL_ID   
		ORDER BY MACRO_ECONOMIC_CODE
	END
  
END  
GO
