USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ACTIVITYLOGSSP]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_ACTIVITYLOGSSP]
(
	@UserID VARCHAR(36) = '',
	@UserActivityID VARCHAR(50) = '',
	@ScreenID VARCHAR(100) = '',
	@ModuleID VARCHAR(50) = '',
	@CreatedHost VARCHAR(30) = ''
)
AS
BEGIN

	INSERT INTO TBLT_ACTIVITYLOGS
	(
		UserID,
		UserActivityID,
		ScreenID,
		ModuleID,
		CreatedDate,
		CreatedHost
	)
	VALUES 
	(
		@UserID,
		@UserActivityID,
		@ScreenID,
		@ModuleID,
		GETDATE(),
		@CreatedHost
	);
            
END;

GO
