USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEVARCLUSHEADER]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USPS_MEVARCLUSHEADER]
 (
	@modelId int
 )
 AS
 -- check data on final table
 declare @count int ;
 select @count = PKID from IFRS_VARCLUS_CLUSTER_SUMM where MODEL_ID = @modelId
 if @count > 0  -- select data from final table 
		select model_id,CLUSTER_NO clus_no,no_of_members,VARIATION_EXPL var_expl,PROPORTION_EXPL prop_expl,SECOND_EIGENVAL second_eigv,REPRESENT_VARIABLE rep_var from IFRS_VARCLUS_CLUSTER_SUMM 
		 WHERE MODEL_ID = @modelId 
		 order by CLUSTER_NO desc
 ELSE	--select data from temp table
	 select * from TMP_IFRS_VARCLUS_CLUSTER_SUMM 
	 WHERE MODEL_ID = @modelId 
	 order by clus_no desc
 

GO
