USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_DEFAULT_CONFIG_RATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_DEFAULT_CONFIG_RATE]    
(    
  @DR_RULE_NAME VARCHAR(250),      
  @CALC_METHOD VARCHAR(20),    
  @BUCKET_GROUP VARCHAR(30),  
  @POPULATION_MONTH VARCHAR(50),
  @ACTIVE_FLAG BIT,  
  @DEFAULT_RATE_DATA INT,  
  @HISTORICAL_DATA INT,
  @INCREMENT_PERIOD INT,    
  @CreatedBy VARCHAR(50),    
  @CreatedHost VARCHAR(50)    
)    
AS    
BEGIN    

    INSERT INTO IFRS_PD_DEFAULT_RATE_CONFIG    
    (    
  DR_RULE_NAME,   
  CALC_METHOD,   
  BUCKET_GROUP,   
  POPULATION_MONTH,  
  ACTIVE_FLAG,
  DEFAULT_RATE_DATA,  
  HISTORICAL_DATA,
  INCREMENT_PERIOD,  
  CREATEDBY,  
  CREATEDDATE,  
  CREATEDHOST  
    )    
    VALUES    
    (    
  @DR_RULE_NAME,      
  @CALC_METHOD,    
  @BUCKET_GROUP,  
  @POPULATION_MONTH,  
  @ACTIVE_FLAG,
  @DEFAULT_RATE_DATA,  
  @HISTORICAL_DATA,    
  @INCREMENT_PERIOD,
  @CreatedBy,  
  GETDATE(),    
  @CreatedHost           
    );    
    
	declare @Updateflag as BIGINT
	if @ACTIVE_FLAG = 1

	begin
	
		set @Updateflag = (select top 1 PKID from IFRS_PD_DEFAULT_RATE_CONFIG order by pkid desc)
		update IFRS_PD_DEFAULT_RATE_CONFIG set ACTIVE_FLAG = 0 where PKID not in (@Updateflag)
	end

END;




GO
