USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_BI_INDUSTRYSECTORS]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_BI_INDUSTRYSECTORS](
@ECONOMIC_SECTOR VARCHAR(50) = '',
@GROUP_SECTOR_DESC VARCHAR(100) = '',
@INDUSTRY_SECTOR_DESC VARCHAR(100) = '',
@CreatedBy varchar(36) = '',               
@CreatedHost varchar(30) = ''
)               
AS
BEGIN

	INSERT INTO IFRS_DIM_INDUSTRY_SECTORS
	(
		ECONOMIC_SECTOR,
		GROUP_SECTOR_ID,
		GROUP_SECTOR_DESC,
		INDUSTRY_SECTOR_ID,
		INDUSTRY_SECTOR_DESC,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)
	VALUES
	(
		LTRIM(RTRIM(@ECONOMIC_SECTOR)),
		(SELECT VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'BI003' AND VALUE1 = @GROUP_SECTOR_DESC),
		@GROUP_SECTOR_DESC,
		(SELECT VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'BI002' AND VALUE1 = @INDUSTRY_SECTOR_DESC),
		@INDUSTRY_SECTOR_DESC,
		@CreatedBy,
		GETDATE(),
		@CreatedHost
	)
	
	TRUNCATE TABLE IFRS9_REPORT.DBO.IFRS_DIM_INDUSTRY_SECTORS

	INSERT INTO IFRS9_REPORT.DBO.IFRS_DIM_INDUSTRY_SECTORS
	(
		INDUSTRY_SECTOR_ID,
		ECONOMIC_SECTOR,
		GROUP_SECTOR_ID,
		GROUP_SECTOR_DESC,
		INDUSTRY_SECTOR_DESC
	)
	SELECT
		INDUSTRY_SECTOR_ID,
		value as ECONOMIC_SECTOR,
		GROUP_SECTOR_ID,
		GROUP_SECTOR_DESC,
		INDUSTRY_SECTOR_DESC
	FROM IFRS_DIM_INDUSTRY_SECTORS
	CROSS APPLY STRING_SPLIT(ECONOMIC_SECTOR,';')
	WHERE ISNULL(IS_DELETE, 0) = 0
	ORDER BY PKID

END

GO
