USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_REVIEW_CUSTOMER_DETAIL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_REVIEW_CUSTOMER_DETAIL](              
@MASTERID VARCHAR(100)            
)              
AS              
BEGIN              
            
	SELECT           
	  EFFECTIVE_DATE, 
	  DATA_SOURCE, 
	  CUSTOMER_NUMBER,  
	  CUSTOMER_NAME,  
	  MASTERID,  
	  PRODUCT_GROUP,  
	  CURRENCY,  
	  OUTSTANDING,  
	  PLAFOND,
	  PLAFOND_CIF,  
	  MATURITY_DATE,  
	  BI_COLLECTABILITY, 
	  BI_COLLECT_CIF, 
	  DAY_PAST_DUE,  
	  DPD_CIF,
	  RATING_CODE,
	  DOWNLOAD_DATE  
	FROM IFRS_IMP_IA_MASTER  
	WHERE MASTERID = @MASTERID
  
END

GO
