USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DUMMY_ACCOUNT_UAT]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERT_DUMMY_ACCOUNT_UAT] @DOWNLOAD_DATE DATE , @CHANGE_ID VARCHAR(100)
AS 
BEGIN
DECLARE @MASTERID VARCHAR(100) 
SET @MASTERID = @CHANGE_ID 

DELETE IFRS_STG_PAYM_SCHD_UAT WHERE MASTERID = @CHANGE_ID
DELETE IFRS_MASTER_ACCOUNT_UAT WHERE MASTERID = @CHANGE_ID
DELETE IFRS_TRANSACTION_DAILY_UAT WHERE MASTERID = @CHANGE_ID

INSERT INTO IFRS_STG_PAYM_SCHD_UAT (DOWNLOAD_DATE
,MASTERID
,PMTDATE
,OSPRN
,PRINCIPAL
,INTEREST)
SELECT DOWNLOAD_DATE
,@CHANGE_ID AS MASTERID
,PMTDATE
,OSPRN
,PRINCIPAL
,INTEREST FROM IFRS_STG_PAYM_SCHD WHERE --DOWNLOAD_DATE = @DOWNLOAD_DATE AND 
MASTERID = @MASTERID

INSERT INTO IFRS_TRANSACTION_DAILY_UAT (DOWNLOAD_DATE
,EFFECTIVE_DATE
,MATURITY_DATE
,MASTERID
,ACCOUNT_NUMBER
,FACILITY_NUMBER
,CUSTOMER_NUMBER
,BRANCH_CODE
,DATA_SOURCE
,PRD_TYPE
,PRD_CODE
,TRX_CODE
,CCY
,EVENT_CODE
,TRX_REFERENCE_NUMBER
,ORG_CCY_AMT
,EQV_LCY_AMT
,DEBET_CREDIT_FLAG
,TRX_SOURCE
,INTERNAL_NO
,REVOLVING_FLAG
,CREATED_DATE
,SOURCE_TABLE
,TRX_LEVEL)
SELECT DOWNLOAD_DATE
,EFFECTIVE_DATE
,MATURITY_DATE
,@CHANGE_ID AS MASTERID
,ACCOUNT_NUMBER AS ACCOUNT_NUMBER
,FACILITY_NUMBER
,CUSTOMER_NUMBER AS CUSTOMER_NUMBER
,BRANCH_CODE
,DATA_SOURCE
,PRD_TYPE
,PRD_CODE
,TRX_CODE
,CCY
,EVENT_CODE
,TRX_REFERENCE_NUMBER
,ORG_CCY_AMT
,EQV_LCY_AMT
,DEBET_CREDIT_FLAG
,TRX_SOURCE
,INTERNAL_NO
,REVOLVING_FLAG
,CREATED_DATE
,SOURCE_TABLE
,TRX_LEVEL FROM IFRS_TRANSACTION_DAILY WHERE --DOWNLOAD_DATE = @DOWNLOAD_DATE AND 
MASTERID = @MASTERID --AND TRX_CODE = 'PS'

INSERT INTO IFRS_MASTER_ACCOUNT_UAT (DOWNLOAD_DATE
,MASTERID
,MASTER_ACCOUNT_CODE
,DATA_SOURCE
,GLOBAL_CUSTOMER_NUMBER
,CUSTOMER_NUMBER
,CUSTOMER_NAME
,FACILITY_NUMBER
,ACCOUNT_NUMBER
,PREVIOUS_ACCOUNT_NUMBER
,ACCOUNT_STATUS
,INTEREST_RATE
,MARKET_RATE
,PRODUCT_GROUP
,PRODUCT_TYPE
,PRODUCT_CODE
,PRODUCT_ENTITY
,GL_CONSTNAME
,BRANCH_CODE
,BRANCH_CODE_OPEN
,CURRENCY
,EXCHANGE_RATE
,INITIAL_OUTSTANDING
,OUTSTANDING
,OUTSTANDING_IDC
,OUTSTANDING_JF
,OUTSTANDING_BANK
,OUTSTANDING_PASTDUE
,OUTSTANDING_WO
,PLAFOND
,PLAFOND_CASH
,INTEREST_ACCRUED
,INSTALLMENT_AMOUNT
,UNUSED_AMOUNT
,DOWN_PAYMENT_AMOUNT
,JF_FLAG
,LOAN_START_DATE
,LOAN_DUE_DATE
,LOAN_START_AMORTIZATION
,LOAN_END_AMORTIZATION
,INSTALLMENT_GRACE_PERIOD
,NEXT_PAYMENT_DATE
,NEXT_INT_PAYMENT_DATE
,LAST_PAYMENT_DATE
,FIRST_INSTALLMENT_DATE
,TENOR
,REMAINING_TENOR
,PAYMENT_CODE
,PAYMENT_TERM
,INTEREST_CALCULATION_CODE
,INTEREST_PAYMENT_TERM
,RESTRUCTURE_DATE
,RESTRUCTURE_FLAG
,POCI_FLAG
,STAFF_LOAN_FLAG
,BELOW_MARKET_FLAG
,BTB_FLAG
,COMMITTED_FLAG
,REVOLVING_FLAG
,IAS_CLASS
,IFRS9_CLASS
,AMORT_TYPE
,EIR_STATUS
,ECF_STATUS
,EIR
,EIR_AMOUNT
,FAIR_VALUE_AMOUNT
,INITIAL_UNAMORT_TXN_COST
,INITIAL_UNAMORT_ORG_FEE
,UNAMORT_COST_AMT
,UNAMORT_FEE_AMT
,DAILY_AMORT_AMT
,UNAMORT_AMT_TOTAL_JF
,UNAMORT_FEE_AMT_JF
,UNAMORT_COST_AMT_JF
,ORIGINAL_COLLECTABILITY
,BI_COLLECTABILITY
,DAY_PAST_DUE
,DPD_START_DATE
,DPD_ZERO_COUNTER
,NPL_DATE
,NPL_FLAG
,DEFAULT_DATE
,DEFAULT_FLAG
,WRITEOFF_FLAG
,WRITEOFF_DATE
,IMPAIRED_FLAG
,IS_IMPAIRED
,GROUP_SEGMENT
,SEGMENT
,SUB_SEGMENT
,STAGE
,LIFETIME
,EAD_RULE_ID
,EAD_SEGMENT
,EAD_AMOUNT
,LGD_RULE_ID
,LGD_SEGMENT
,PD_RULE_ID
,PD_SEGMENT
,BUCKET_GROUP
,BUCKET_ID
,ECL_12_AMOUNT
,ECL_LIFETIME_AMOUNT
,ECL_AMOUNT
,CA_UNWINDING_AMOUNT
,IA_UNWINDING_AMOUNT
,IA_UNWINDING_SUM_AMOUNT
,BEGINNING_BALANCE
,ENDING_BALANCE
,WRITEBACK_AMOUNT
,CHARGE_AMOUNT
,CREATEDBY
,CREATEDDATE
,CREATEDHOST
,UPDATEDBY
,UPDATEDDATE
,UPDATEDHOST
,INITIAL_BENEFIT
,UNAMORT_BENEFIT
,SPPI_RESULT
,BM_RESULT
,ECONOMIC_SECTOR
,AO_CODE
,SUFFIX
,ACCOUNT_TYPE
,CUSTOMER_TYPE
,OUTSTANDING_PROFIT_DUE
,RESTRUCTURE_COLLECT_FLAG
,DPD_FINAL
,EIR_SEGMENT
,DPD_CIF
,DPD_FINAL_CIF
,BI_COLLECT_CIF
,PRODUCT_TYPE_1)
SELECT DOWNLOAD_DATE
,@CHANGE_ID as MASTERID
,@CHANGE_ID AS MASTER_ACCOUNT_CODE
,DATA_SOURCE
,GLOBAL_CUSTOMER_NUMBER
,CUSTOMER_NUMBER AS CUSTOMER_NUMBER
,CUSTOMER_NAME AS CUSTOMER_NAME
,FACILITY_NUMBER
,ACCOUNT_NUMBER AS ACCOUNT_NUMBER
,PREVIOUS_ACCOUNT_NUMBER
,ACCOUNT_STATUS
,INTEREST_RATE
,MARKET_RATE
,PRODUCT_GROUP
,PRODUCT_TYPE
,PRODUCT_CODE
,PRODUCT_ENTITY
,GL_CONSTNAME
,BRANCH_CODE
,BRANCH_CODE_OPEN
,CURRENCY
,EXCHANGE_RATE
,INITIAL_OUTSTANDING
,OUTSTANDING
,OUTSTANDING_IDC
,OUTSTANDING_JF
,OUTSTANDING_BANK
,OUTSTANDING_PASTDUE
,OUTSTANDING_WO
,PLAFOND
,PLAFOND_CASH
,INTEREST_ACCRUED
,INSTALLMENT_AMOUNT
,UNUSED_AMOUNT
,DOWN_PAYMENT_AMOUNT
,JF_FLAG
,LOAN_START_DATE
,LOAN_DUE_DATE
,LOAN_START_AMORTIZATION
,LOAN_END_AMORTIZATION
,INSTALLMENT_GRACE_PERIOD
,NEXT_PAYMENT_DATE
,NEXT_INT_PAYMENT_DATE
,LAST_PAYMENT_DATE
,FIRST_INSTALLMENT_DATE
,TENOR
,REMAINING_TENOR
,PAYMENT_CODE
,PAYMENT_TERM
,INTEREST_CALCULATION_CODE
,INTEREST_PAYMENT_TERM
,RESTRUCTURE_DATE
,RESTRUCTURE_FLAG
,POCI_FLAG
,STAFF_LOAN_FLAG
,BELOW_MARKET_FLAG
,BTB_FLAG
,COMMITTED_FLAG
,REVOLVING_FLAG
,IAS_CLASS
,IFRS9_CLASS
,AMORT_TYPE
,EIR_STATUS
,ECF_STATUS
,EIR
,EIR_AMOUNT
,FAIR_VALUE_AMOUNT
,INITIAL_UNAMORT_TXN_COST
,INITIAL_UNAMORT_ORG_FEE
,UNAMORT_COST_AMT
,UNAMORT_FEE_AMT
,DAILY_AMORT_AMT
,UNAMORT_AMT_TOTAL_JF
,UNAMORT_FEE_AMT_JF
,UNAMORT_COST_AMT_JF
,ORIGINAL_COLLECTABILITY
,BI_COLLECTABILITY
,DAY_PAST_DUE
,DPD_START_DATE
,DPD_ZERO_COUNTER
,NPL_DATE
,NPL_FLAG
,DEFAULT_DATE
,DEFAULT_FLAG
,WRITEOFF_FLAG
,WRITEOFF_DATE
,IMPAIRED_FLAG
,IS_IMPAIRED
,GROUP_SEGMENT
,SEGMENT
,SUB_SEGMENT
,STAGE
,LIFETIME
,EAD_RULE_ID
,EAD_SEGMENT
,EAD_AMOUNT
,LGD_RULE_ID
,LGD_SEGMENT
,PD_RULE_ID
,PD_SEGMENT
,BUCKET_GROUP
,BUCKET_ID
,ECL_12_AMOUNT
,ECL_LIFETIME_AMOUNT
,ECL_AMOUNT
,CA_UNWINDING_AMOUNT
,IA_UNWINDING_AMOUNT
,IA_UNWINDING_SUM_AMOUNT
,BEGINNING_BALANCE
,ENDING_BALANCE
,WRITEBACK_AMOUNT
,CHARGE_AMOUNT
,CREATEDBY
,CREATEDDATE
,CREATEDHOST
,UPDATEDBY
,UPDATEDDATE
,UPDATEDHOST
,INITIAL_BENEFIT
,UNAMORT_BENEFIT
,SPPI_RESULT
,BM_RESULT
,ECONOMIC_SECTOR
,AO_CODE
,SUFFIX
,ACCOUNT_TYPE
,CUSTOMER_TYPE
,OUTSTANDING_PROFIT_DUE
,RESTRUCTURE_COLLECT_FLAG
,DPD_FINAL
,EIR_SEGMENT
,DPD_CIF
,DPD_FINAL_CIF
,BI_COLLECT_CIF
,PRODUCT_TYPE_1 FROM IFRS_MASTER_ACCOUNT (NOLOCK) WHERE  MASTERID = @MASTERID

END
GO
