USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_DETAIL_EAD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ECL_DETAIL_EAD]        
(        
@ECL_MODEL_ID INT = 0        
)        
AS    
BEGIN    
        
SELECT    
--A.ECL_MODEL_ID AS RULE_ID,    
SUBTABLE.PKID RULE_ID    
,SUBTABLE.GROUP_SEGMENT    
,SUBTABLE.SEGMENT    
,SUBTABLE.SUB_SEGMENT
,CASE WHEN A.EAD_MODEL_ID = 99999
THEN 'NONE'
ELSE B.EAD_RULE_NAME
END AS RULE_NAME    
,CASE WHEN C.SUB_SEGMENT IS NULL
THEN 'NONE'
ELSE C.SUB_SEGMENT
END AS EAD_SEGMENT --[DESC]    
,A.SEGMENTATION_ID    
,A.EAD_MODEL_ID  
,A.CCF_EFF_DATE_OPTION      
,CONVERT(VARCHAR(20),A.CCF_EFF_DATE,113) CCF_EFF_DATE  
,A.CCF_MODEL_ID
,CASE WHEN A.CCF_MODEL_ID = 99999
THEN 'NONE'
ELSE (SELECT CCF_RULE_NAME FROM IFRS_CCF_RULES_CONFIG WHERE PKID = A.CCF_MODEL_ID) 
END AS CCF_RULE_NAME
FROM IFRS_ECL_MODEL_DETAIL_EAD A        
LEFT JOIN IFRS_EAD_RULES_CONFIG B ON A.EAD_MODEL_ID = B.PKID        
LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER C ON B.SEGMENTATION_ID = C.PKID    
--JOIN IFRS_CCF_RULES_CONFIG E ON A.CCF_MODEL_ID = E.PKID  
JOIN (      
SELECT    
PKID    
,GROUP_SEGMENT    
,SEGMENT    
,SUB_SEGMENT       
FROM IFRS_MSTR_SEGMENT_RULES_HEADER       
WHERE SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'    
AND IS_DELETE=0    
) SUBTABLE ON  SUBTABLE.PKID = A.SEGMENTATION_ID    
WHERE A.ECL_MODEL_ID = @ECL_MODEL_ID    
AND A.IS_DELETE = 0 
--- ADD SORT ECL WIZARD  
ORDER BY SUBTABLE.GROUP_SEGMENT,SUBTABLE.SEGMENT,SUBTABLE.SUB_SEGMENT
      
END 

GO
