USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SCREENGROUPH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_SCREENGROUPH]
	@ScreenGroupID VARCHAR(50) = '', 
	@CountryID VARCHAR(10) = '', 
	@ModuleID VARCHAR(50) = '', 
	@Description VARCHAR(100) = '', 
	@CreatedBy VARCHAR(36) = '', 
	@CreatedHost VARCHAR(20) = '' 
AS
	INSERT INTO tblM_ScreenGroupHeader
	(
		ScreenGroupID, 
		CountryID, 
		ModuleID, 
		Description, 
		CreatedBy, 
		CreatedHost, 
		CreatedDate
	)
	VALUES
	(
		@ScreenGroupID, 
		@CountryID, 
		@ModuleID, 
		@Description, 
		@CreatedBy, 
		@CreatedHost, 
		GETDATE()
	)

GO
