USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEModelConfig]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MEModelConfig]  
@PKID int  
AS  
BEGIN  
 select * from IFRS_MACRO_ECONOMIC_MODEL where PKID = @PKID  
END  
GO
