USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LBM_ACCT_EIR_UPD_ACRU]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IFRS_LBM_ACCT_EIR_UPD_ACRU]
AS
DECLARE @V_CURRDATE DATE
	,@V_PREVDATE DATE

BEGIN
	SELECT @V_CURRDATE = MAX(CURRDATE)
		,@V_PREVDATE = MAX(PREVDATE)
	FROM IFRS_PRC_DATE_AMORT

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'START'
		,'SP_IFRS_LBM_ACCT_EIR_UPD_ACRU_ACF'
		,''
		)

	TRUNCATE TABLE TMP_AP

	INSERT INTO TMP_AP (
		MASTERID
		,FLAG_CF
		,AMOUNT
		)
	SELECT MASTERID
		,FLAG_CF
		,SUM(CASE 
				WHEN FLAG_REVERSE = 'Y'
					THEN - 1 * AMOUNT
				ELSE AMOUNT
				END) AS AMOUNT
	FROM IFRS_LBM_ACCT_EIR_ACCRU_PREV
	WHERE STATUS = 'ACT'
	GROUP BY MASTERID
		,FLAG_CF

	UPDATE DBO.IFRS_LBM_ACCT_EIR_ACF
	SET N_ACCRU_PREV_COST = A.AMOUNT
	FROM (
		SELECT X.*
			,Y.*
		FROM TMP_AP X
		CROSS JOIN IFRS_PRC_DATE_AMORT Y
		) A
	WHERE A.MASTERID = DBO.IFRS_LBM_ACCT_EIR_ACF.MASTERID
		AND DBO.IFRS_LBM_ACCT_EIR_ACF.DOWNLOAD_DATE = A.CURRDATE
		AND A.FLAG_CF = 'C'

	UPDATE DBO.IFRS_LBM_ACCT_EIR_ACF
	SET N_ACCRU_PREV_FEE = A.AMOUNT
	FROM (
		SELECT X.*
			,Y.*
		FROM TMP_AP X
		CROSS JOIN IFRS_PRC_DATE_AMORT Y
		) A
	WHERE A.MASTERID = DBO.IFRS_LBM_ACCT_EIR_ACF.MASTERID
		AND DBO.IFRS_LBM_ACCT_EIR_ACF.DOWNLOAD_DATE = A.CURRDATE
		AND A.FLAG_CF = 'F'

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'END'
		,'SP_IFRS_LBM_ACCT_EIR_UPD_ACRU_ACF'
		,''
		)
END

GO
