USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADEXCEPTIONDATA]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADEXCEPTIONDATA]
(
	@UploadID BIGINT
)
AS
BEGIN

	SELECT UPLOADID,
		ROW_NUMBER,
		COLUMN_NAME,
		VALUE,
		ERROR_MESSAGE
	FROM TBLU_DOC_TEMP_EXCEPTION
	WHERE UPLOADID = @UploadID;

END;

GO
