USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_BI_SMBCCLASS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPU_BI_SMBCCLASS](
@PKID BIGINT = 0,
@SMBC_CLASS_NAME VARCHAR(30) = '',
@SMBC_CLASS_GROUP VARCHAR(10) = '',
@UpdatedBy varchar(36) = '',               
@UpdatedHost varchar(30) = ''
)               
AS
BEGIN

	UPDATE IFRS_DIM_SMBC_CLASS
	SET
		SMBC_CLASS_NAME = LTRIM(RTRIM(@SMBC_CLASS_NAME)),
		UPDATEDBY = @UpdatedBy,
		UPDATEDDATE = GETDATE(),
		UPDATEDHOST = @UpdatedHost
	WHERE PKID = @PKID
	
	TRUNCATE TABLE IFRS9_REPORT.DBO.IFRS_DIM_SMBC_CLASS

	INSERT INTO IFRS9_REPORT.DBO.IFRS_DIM_SMBC_CLASS
	(
		SMBC_CLASS_ID,
		SMBC_CLASS_NAME,
		SMBC_CLASS_GROUP
	)
	SELECT
		PKID,
		SMBC_CLASS_NAME,
		SMBC_CLASS_GROUP
	FROM IFRS_DIM_SMBC_CLASS
	WHERE ISNULL(IS_DELETE,0) = 0
	ORDER BY PKID

END

GO
