USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LISTVARIABLE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LISTVARIABLE]                                           
AS                                                      
BEGIN                                                      
                    
	SELECT
		PKID,
		ME_CODE,
		ME_DESC
	FROM TBLM_MACRO_ECONOMIC
	WHERE ME_SOURCE = 'Upload'
		AND ME_CODE NOT IN (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE ISNULL(IS_DELETE, 0) = 0)
	ORDER BY ME_CODE
                                          
END

GO
