USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_BI_GEOGRAPHICALSECTORS]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPD_BI_GEOGRAPHICALSECTORS](
@PKID BIGINT = 0
)               
AS
BEGIN

	UPDATE IFRS_DIM_GEOGRAPHICAL_SECTORS
	SET
		IS_DELETE = 1
	WHERE PKID = @PKID
		
	TRUNCATE TABLE IFRS9_REPORT.DBO.IFRS_DIM_GEOGRAPHICAL_SECTORS

	INSERT INTO IFRS9_REPORT.DBO.IFRS_DIM_GEOGRAPHICAL_SECTORS
	(
		GEOGRAPHICAL_ID,
		PULAU_ID,
		PULAU_NAMA,
		PROVINSI_ID,
		PROVINSI_NAMA,
		KABUPATEN_ID,
		KABUPATEN_NAMA,
		BRANCH_CODE
	)
	SELECT
		GEOGRAPHICAL_ID,
		PULAU_ID,
		PULAU_NAMA,
		PROVINSI_ID,
		PROVINSI_NAMA,
		KABUPATEN_ID,
		KABUPATEN_NAMA,
		BRANCH_CODE
	FROM IFRS_DIM_GEOGRAPHICAL_SECTORS
	WHERE ISNULL(IS_DELETE, 0) = 0
	ORDER BY PKID

END

GO
