USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_NCDMODULEH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_NCDMODULEH]
(
    @DOWNLOAD_DATE date = '1/1/1900',
    --@PRODUCT_TYPE varchar(50)='',
	@PRODUCT_CODE varchar(20)='',
	@ACCOUNT_NUMBER VARCHAR(50)='',
    @Where VARCHAR(1000)='',
    @pageNumber INT,
    @pageSize INT,
    @SortColumn varchar(100)=''
)
AS
BEGIN

	DECLARE @Query AS VARCHAR(3000);
	DECLARE @DOWNLOAD_DATE_DD AS DATE;
 
	IF @SortColumn = ''
	BEGIN
		SET @SortColumn = 'MASTER_ACCOUNT_CODE';
	END
 
	IF @pageSize = 0
	BEGIN
		SET @pageSize = 1
	END
 
    IF (CONVERT(DATE, @DOWNLOAD_DATE) ='1/1/1900')
    BEGIN
		SELECT @DOWNLOAD_DATE_DD = currdate FROM IFRS_PRC_DATE
    END
    ELSE
    BEGIN
        SELECT @DOWNLOAD_DATE_DD = CONVERT(DATE, @DOWNLOAD_DATE)
    END
    
    SET @Query =
		'SELECT
			CONVERT(varchar(50), DOWNLOAD_DATE, 111) + ACCOUNT_NUMBER DDATE_MAID,
			IMA.DOWNLOAD_DATE,
			IMA.DATA_SOURCE,
			IMA.PRODUCT_CODE,
			IMA.PRODUCT_TYPE,
			PROD.PRD_TYPE_1,
			IMA.BRANCH_CODE,
			'''' as ACCOUNT_NUMBER,
			IMA.CUSTOMER_NUMBER,
			IMA.CUSTOMER_NAME,
			'''' as START_DATE,
			'''' as MATURITY_DATE,
			IMA.CURRENCY,
			IMA.OUTSTANDING,
			IMA.INTEREST_RATE,
			0 as EIR,
			'''' as START_AMORT,
			'''' as END_AMORT,
			0 as INITIAL_COST,
			0 as UNAMORT_COST

		FROM IFRS_MASTER_ACCOUNT IMA LEFT JOIN IFRS_MASTER_PRODUCT_PARAM PROD ON IMA.PRODUCT_CODE = PROD.PRD_CODE AND PROD.INST_CLS_VALUE = ''A''
		WHERE '
		+ CASE WHEN @Where <> '' THEN
			@Where
        ELSE
			' DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE_DD, 120)  +  ''''
			+ CASE WHEN @PRODUCT_CODE <> '' 
				THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_CODE)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @ACCOUNT_NUMBER <> '' 
				THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNT_NUMBER)) + '%'' '
				ELSE ''
			END
		END
		+ '
		ORDER BY ' + @SortColumn + '
		OFFSET ' + CAST(@pageNumber AS VARCHAR) + ' ROWS
		FETCH NEXT ' + CAST(@pageSize AS VARCHAR) + ' ROWS ONLY OPTION (RECOMPILE);';

	EXEC (@Query);
    PRINT (@Query);          
END;

GO
