USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_INSERT_BOOTSTRAP_RESULT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_INSERT_BOOTSTRAP_RESULT]
(
    @PKID BIGINT=0,
	@CreatedBy VARCHAR(36),
	@CreatedHost VARCHAR(36),
	@ErrCode SMALLINT=0 OUT
)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @V_BOOTSTRAP_ID BIGINT;
	DECLARE @V_EXISTS BIGINT;
    
    SELECT @V_BOOTSTRAP_ID = COUNT(PKID)  
    FROM IFRS_PD_BOOTSTRAP_CONFIG
    WHERE PKID = @PKID;

    --SELECT @V_BOOTSTRAP_ID = ISNULL(IDENT_CURRENT('IFRS_MACRO_ECONOMIC_MODEL') + IDENT_INCR('IFRS_MACRO_ECONOMIC_MODEL'),1)

	IF @V_BOOTSTRAP_ID > 0
	BEGIN
		UPDATE IFRS_PD_BOOTSTRAP_CONFIG
		SET BOOTSTRAP_NAME = B.BOOTSTRAP_NAME,
			BOOTSTRAP_SAMPLE = B.BOOTSTRAP_SAMPLE,
			BOOTSTRAP_POINT = B.BOOTSTRAP_POINT,
			MODEL_ID = B.MODEL_ID,
			UPDATEDBY = B.UPDATEDBY,
			UPDATEDDATE = B.UPDATEDDATE,
			UPDATEDHOST = B.UPDATEDHOST
		FROM IFRS_PD_BOOTSTRAP_CONFIG 
			JOIN TMP_IFRS_PD_BOOTSTRAP_CONFIG B ON IFRS_PD_BOOTSTRAP_CONFIG.PKID = B.PKID
				AND B.PKID = @PKID
		WHERE IFRS_PD_BOOTSTRAP_CONFIG.PKID = @PKID;

		SET @V_BOOTSTRAP_ID = @PKID;
	END
	ELSE
	BEGIN
		SELECT @V_EXISTS = COUNT(*)
		FROM IFRS_PD_BOOTSTRAP_CONFIG A
		JOIN TMP_IFRS_PD_BOOTSTRAP_CONFIG B
		ON A.BOOTSTRAP_NAME = B.BOOTSTRAP_NAME
			AND B.PKID = @PKID;

		IF (@V_EXISTS > 0)
		BEGIN
			--DELETE TMP_IFRS_PD_BOOTSTRAP_CONFIG
			--WHERE PKID = @PKID;
            
			--DELETE TMP_IFRS_PD_BOOTSTRAP_DETAIL
			--WHERE BOOTSTRAP_ID = @PKID;
            
			--DELETE TMP_IFRS_PD_BOOTSTRAP
			--WHERE BOOTSTRAP_ID = @PKID;
            
			SET @ErrCode = 1;
			RETURN;
			--RAISERROR (N'BOOTSTRAP NAME ALREADY EXISTS', -- Message text.  
			--			16, -- Severity,  
			--			1); -- Second argument.
		END;

		INSERT INTO IFRS_PD_BOOTSTRAP_CONFIG
		(
			BOOTSTRAP_NAME, 
			BOOTSTRAP_SAMPLE,
			BOOTSTRAP_POINT,
			MODEL_ID
		)
		SELECT BOOTSTRAP_NAME, 
			BOOTSTRAP_SAMPLE,
			BOOTSTRAP_POINT,
			MODEL_ID
		FROM TMP_IFRS_PD_BOOTSTRAP_CONFIG
		WHERE PKID = @PKID;

		SET @V_BOOTSTRAP_ID = ISNULL(SCOPE_IDENTITY(),@PKID);
	END;

	DELETE TMP_IFRS_PD_BOOTSTRAP_CONFIG
	WHERE PKID = @PKID;
    
	DELETE IFRS_PD_BOOTSTRAP_DETAIL_CONF
	WHERE BOOTSTRAP_ID = @PKID;
		
	INSERT INTO IFRS_PD_BOOTSTRAP_DETAIL_CONF
	(
		BOOTSTRAP_ID,
		MODEL_ID,
		ME_CODE,
		BOOTSTRAP_PERIOD_FROM,
		BOOTSTRAP_PERIOD_TO,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)
	SELECT @V_BOOTSTRAP_ID,
		MODEL_ID,
		ME_CODE,
		BOOTSTRAP_PERIOD_FROM,
		BOOTSTRAP_PERIOD_TO,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	FROM TMP_IFRS_PD_BOOTSTRAP_DETAIL
	WHERE BOOTSTRAP_ID = @PKID;
    
	DELETE TMP_IFRS_PD_BOOTSTRAP_DETAIL
	WHERE BOOTSTRAP_ID = @PKID;
    
	DELETE IFRS_PD_BOOTSTRAP
	WHERE BOOTSTRAP_ID = @PKID;
    
	INSERT INTO IFRS_PD_BOOTSTRAP
	(
		BOOTSTRAP_ID,
		MODEL_ID,
		ME_CODE,
		PERCENTILE_PERIOD_FROM,
		PERCENTILE_PERIOD_TO,
		RANK_SCORE
	)
	SELECT 
		@V_BOOTSTRAP_ID,
		MODEL_ID,
		ME_CODE,
		PERCENTILE_PERIOD_FROM,
		PERCENTILE_PERIOD_TO,
		RANK_SCORE
	FROM TMP_IFRS_PD_BOOTSTRAP
	WHERE BOOTSTRAP_ID = @PKID;
    
	DELETE TMP_IFRS_PD_BOOTSTRAP
	WHERE BOOTSTRAP_ID = @PKID;

END;

GO
