USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PRCDATE]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_PRCDATE]
(
	@Module VARCHAR(10) = '',
	@CurrDate date = '1900-01-01',
	@UpdatedBy varchar(36) = '',
	@UpdatedHost varchar(32) = ''
)
AS
BEGIN

	DECLARE @prevDate DATE;
	SET @prevDate = DATEADD(DAY, -1, @CurrDate);

	IF @Module = 'IFRS9'
	BEGIN
		UPDATE IFRS_PRC_DATE
		SET CURRDATE = @CurrDate,
			PREVDATE = @prevDate;

		UPDATE IFRS_PRC_DATE_AMORT
		SET CURRDATE = @CurrDate,
			PREVDATE = @prevDate;
	END
	ELSE IF @Module = 'GL'
	BEGIN
		UPDATE GL_PRC_DATE
		SET CURRDATE = @CurrDate,
			PREVDATE = @prevDate;
	END;

END;

GO
