USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_INTERPOLATION2]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_INTERPOLATION2]        
AS        
BEGIN
		
	DECLARE @V1 FLOAT 
	SET @V1 = NULL

	DECLARE @V2 FLOAT
	SET @V2 = NULL

	DECLARE @TARGET DATE

	DECLARE @INTERVAL INT
	SET @INTERVAL = 0

	DECLARE @PPOINTER DATE
	SELECT @PPOINTER = MIN(PERIOD) FROM TEMP

	WHILE @V1 IS NULL
	BEGIN
		IF (SELECT VAL FROM TEMP WHERE PERIOD = EOMONTH(DATEADD(MONTH, 1, @PPOINTER))) IS NULL
		BEGIN
			SELECT @V1 = VAL FROM TEMP WHERE PERIOD = @PPOINTER
		END
		ELSE
		BEGIN		
			SET @PPOINTER = EOMONTH(DATEADD(MONTH, 1, @PPOINTER))
		END
	END

	SET @PPOINTER = EOMONTH(DATEADD(MONTH, 1, @PPOINTER))
	SET @INTERVAL = @INTERVAL + 1
	SET @TARGET = @PPOINTER

	WHILE @V2 IS NULL
	BEGIN
		IF (SELECT VAL FROM TEMP WHERE PERIOD = @PPOINTER) IS NOT NULL
		BEGIN
			SELECT @V2 = VAL FROM TEMP WHERE PERIOD = @PPOINTER
		END
		ELSE
		BEGIN		
			SET @PPOINTER = EOMONTH(DATEADD(MONTH, 1, @PPOINTER))
			SET @INTERVAL = @INTERVAL + 1
		END
	END

	SELECT @V1, @V2, @TARGET, @INTERVAL

	UPDATE TEMP SET VAL = @V1+((@V2-@V1)/@INTERVAL) WHERE PERIOD = @TARGET

END
GO
