USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALARCONFIG_D]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALARCONFIG_D]        
 @SCALAR_ID int,        
 @ACTION varchar(20)        
AS        
BEGIN        
 IF @ACTION = 'APPROVAL'        
 BEGIN        
  SELECT SCALAR_ID,SCENARIO_NO,SCENARIO_NAME,ADJUSTMENT_VALUE,ECONOMY_IMPACT,WEIGHTED_VALUE FROM IFRS_ME_SCALAR_DETAIL_PENDING WHERE SCALAR_ID  = @SCALAR_ID        
 END        
 ELSE        
 BEGIN        
  SELECT SCALAR_ID,SCENARIO_NO,SCENARIO_NAME,ADJUSTMENT_VALUE,ECONOMY_IMPACT,WEIGHTED_VALUE FROM IFRS_ME_SCALAR_DETAIL WHERE SCALAR_ID  = @SCALAR_ID        
 END        
END


GO
