USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_DEFRATE_LIST_DETAIL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_DEFRATE_LIST_DETAIL] (
   @RuleID       int=0,
   @Period          DATE='1900-01-01',
   @BucketName		varchar(30)
   )
AS
BEGIN
	SET NOCOUNT ON;

	Select distinct 	
		A.DR_UNIQUE_ID "Customer Number",
		A.CUSTOMER_NAME "Customer Name",
		A.OUTSTANDING "Outstanding",
		B.SUB_BUCKET_GROUP "Bucket From",
		C.SUB_BUCKET_GROUP "Bucket To"
	FROM IFRS_PD_DR_MIGRATION_DETAIL A
	JOIN IFRS_IMPC_BUCKET_PARAM B
	ON A.BUCKET_GROUP = B.BUCKET_GROUP
	AND A.BUCKET_FROM = B.BUCKET_ID
	JOIN IFRS_IMPC_BUCKET_PARAM C
	ON A.BUCKET_GROUP = C.BUCKET_GROUP
	AND A.BUCKET_TO = C.BUCKET_ID
	JOIN IFRS_PD_DEFAULT_RATE_CONFIG D
	ON A.DR_RULE_ID = D.PKID
	AND A.DR_RULE_ID = @RuleID
	AND A.CURR_DATE = @Period
	AND B.SUB_BUCKET_GROUP = @BucketName
	JOIN VW_IFRS_MAX_BUCKET E
	ON A.BUCKET_GROUP = E.BUCKET_GROUP
	ORDER BY A.DR_UNIQUE_ID;

END

GO
