USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_ECL_MODEL_H]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_ECL_MODEL_H]
(
  @ECLName VARCHAR(50)='',
  @PKID VARCHAR(50),
  @Status bit,
  @UpdatedBy VARCHAR(50),
  @UpdatedHost VARCHAR(50)
)
AS
BEGIN
	
	if @Status > 0
	begin
		UPDATE IFRS_ECL_MODEL_HEADER
		SET ACTIVE_STATUS = 0
		WHERE PKID <> @PKID
	end
	
	UPDATE IFRS_ECL_MODEL_HEADER
	SET ECL_MODEL_NAME = @ECLName,
		ACTIVE_STATUS = @Status,
		UPDATEDBY = @UpdatedBy,
		UPDATEDHOST = @UpdatedHost,
		UPDATEDDATE = GETDATE()
	WHERE PKID = @PKID
    
END;

GO
