USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPNCDPRODUCTTYPE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPNCDPRODUCTTYPE]      
(      
 @datasource VARCHAR(50)    
)      
AS        
BEGIN      
      
 DECLARE @Query VARCHAR(5000);      
      
 SET @Query =       
  'SELECT
	DISTINCT PRD_CODE "PRODUCT_CODE"
		,PRD_CODE "Product Code"            
	FROM IFRS_MASTER_PRODUCT_PARAM            
	WHERE DATA_SOURCE IN (''OPICS'') '
			+ ' AND DATA_SOURCE LIKE ''%' + @datasource + '%'' 
			AND PRD_TYPE_1 IN (''NCD'')';
  
 EXEC (@Query);      
      
END; 

GO
