USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BI_INDUSTRYSECTORS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_BI_INDUSTRYSECTORS]
AS
BEGIN

	SELECT                         
		PKID,
		ECONOMIC_SECTOR,
		GROUP_SECTOR_ID,
		GROUP_SECTOR_DESC,
		INDUSTRY_SECTOR_DESC
	FROM IFRS_DIM_INDUSTRY_SECTORS
	WHERE IS_DELETE = 0
	ORDER BY ECONOMIC_SECTOR

END

GO
