USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOANREPORTBYBRANCH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_LOANREPORTBYBRANCH]            
(            
@DOWNLOAD_DATE datetime='01/01/2000',          
@CURRENCY varchar(20)=''          
)            
AS            
BEGIN       
    
IF @CURRENCY = 'ALL'  
	SET @CURRENCY = ''

  SELECT          
   CONVERT(VARCHAR(6),pma.DOWNLOAD_DATE,112) "Period",        
   PMA.BRANCH_CODE "Branch",  
   isnull(PMA.PRODUCT_TYPE,'') "Product Type",          
   CASE          
    WHEN PMA.IMPAIRED_FLAG = 'I' THEN 'Specific Impairment'          
    ELSE 'Collective Impairment'          
    END "Impairment Flag",          
   PMA.CURRENCY "Currency",  
   PMA.EXCHANGE_RATE "Exchange Rate",      
   sum(isnull(PMA.OUTSTANDING, 0)) "Outstanding(ORI)",          
   sum(isnull(OUTSTANDING, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "Outstanding(IDR)",          
   sum(isnull(PMA.EAD_AMOUNT, 0)) "EAD(ORI)",          
   sum(isnull(PMA.EAD_AMOUNT, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "EAD(IDR)",          
   --CASE          
   -- WHEN IMPAIRED_FLAG = 'I' THEN sum(isnull(PMA.IIP_AMOUNT, 0))
   -- ELSE sum(isnull(PIP_AMOUNT, 0))
   -- END "Provision(ORI)",          
   --CASE          
   -- WHEN IMPAIRED_FLAG = 'I' THEN sum(isnull(PMA.IIP_AMOUNT, 0) * isnull(EXCHANGE_RATE, 0))          
   -- ELSE sum(isnull(PIP_AMOUNT, 0) * isnull(EXCHANGE_RATE, 0))          
   -- END "Provision(BND)",          
   sum(isnull(PMA.INITIAL_UNAMORT_TXN_COST, 0)) "Initial Cost(ORI)",          
   sum(isnull(PMA.INITIAL_UNAMORT_TXN_COST, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "Initial Cost(IDR)",          
   sum(isnull(INITIAL_UNAMORT_TXN_COST, 0) - isnull(UNAMORT_COST_AMT, 0)) "Amortization Cost(ORI)",          
   sum((isnull(INITIAL_UNAMORT_TXN_COST, 0) - isnull(UNAMORT_COST_AMT, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Amortization Cost(IDR)",          
   sum(isnull(INITIAL_UNAMORT_ORG_FEE, 0)) "Initial Fee(ORI)",          
   sum(isnull(INITIAL_UNAMORT_ORG_FEE, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "Initial Fee(IDR)",          
   sum(isnull(INITIAL_UNAMORT_ORG_FEE, 0) - isnull(UNAMORT_FEE_AMT, 0)) "Amortization Fee(ORI)",          
   sum((isnull(INITIAL_UNAMORT_ORG_FEE, 0) - isnull(UNAMORT_FEE_AMT, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Amortization Fee(IDR)",  
   --sum(isnull(CURRENT_BALANCE, 0) - isnull(PROFIT_REBATE, 0)) "Cbal Less Profit Rebate(ORI)",          
   --sum((isnull(CURRENT_BALANCE, 0) - isnull(PROFIT_REBATE, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Cbal Less Profit Rebate(BND)",  
   sum(isnull(OUTSTANDING, 0)) "Outstanding Principal(ORI)",          
   sum((isnull(OUTSTANDING, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Outstanding Principal(IDR)",  
   --sum(isnull(CURRENT_BALANCE, 0)) "Cbal(ORI)",          
   --sum((isnull(CURRENT_BALANCE, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Cbal(BND)",  
   isnull(count(MASTERID), 0) "Number Of Account"     
  FROM IFRS_MASTER_ACCOUNT_MONTHLY PMA      
  WHERE pma.DOWNLOAD_DATE = @Download_Date
	AND PMA.CURRENCY LIKE '%'+@CURRENCY+'%'
  GROUP BY pma.BRANCH_CODE, pma.IMPAIRED_FLAG, isnull(pma.PRODUCT_TYPE,''), pma.DOWNLOAD_DATE, pma.CURRENCY  , pma.EXCHANGE_RATE
        ORDER BY isnull(pma.PRODUCT_TYPE,''),pma.BRANCH_CODE,pma.CURRENCY,pma.EXCHANGE_RATE ;            

END          

GO
