USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_USER]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_USER]                        
(
 @PKID varchar(50),                
 @UserName varchar(50)='',      
 @ScreenGroupID bigint=0,       
 @BranchGroupID varchar(50)='', 
 @DepartementGroup varchar(50)='',
 @FullName varchar(100)='',       
 @NPK varchar(50)='',             
 --@EffectiveStartDate datetime,  
 --@EffectiveEndDate datetime,    
 @UpdatedBy varchar(36)='',     
 @UpdatedHost varchar(30)='',   
 @ReportTo varchar(500) ='',                
 @ModuleID varchar(500)='IFRS9'
 --@Password varchar(50)='',      
 --@IsPasswordExpired bit=false,                     
 --@GroupForm bigint,                  
 --@IsUserLocked bit=false,
 --@IsUserActive bit=true, 
 --@IsUserExpired bit=false             
 )
as
begin tran                  
    
declare @CountryID varchar(10)        
SET @CountryID='ID'        

declare @IntervalPassword int                  
select @IntervalPassword = convert( int, CommonUsage )                  
from tblM_CommonCodeHeader where CommonCode = 'AP090'                  

declare @passwordOld varchar(50)              
select @passwordOld=password from tblM_User  where cast(PKID as varchar(50)) = @PKID                    

declare @lock int        
select @lock = IsUserLocked from tblM_User where cast(PKID as varchar(50)) = @PKID    

--if @lock = 1 --and @IsUserLocked = 0        
--begin        
	--select @Password = CommonUsage               
	--from tblM_CommonCodeHeader where CommonCode = 'AP000'              

	update tblM_User                            
	set   
		UserName=LTrim(RTrim(@UserName)),  
		ScreenGroupID=@ScreenGroupID,                            
		BranchGroupID = @BranchGroupID,                            
		DepartementGroup = @DepartementGroup,                            
		FullName = LTrim(RTrim(@FullName)),
		NPK = @NPK,                            
		--EffectiveStartDate = @EffectiveStartDate,                            
		--EffectiveEndDate = @EffectiveEndDate,                            
		UpdatedBy = @UpdatedBy,                            
		UpdatedHost = @UpdatedHost,                            
		UpdatedDate = GETDATE()                            
	--isUserLocked = @IsUserLocked,        
	--IsUserActive = @IsUserActive,        
	--isUserExpired = 0,                
	--PasswordAttemptCounter = 0   ,            
	--IsPasswordExpired=1        
	--CountryID = @CountryID,                            
	--GroupForm = @GroupForm ,                
	--generatesitemap = 1,        
	--,Password=@Password            
	where cast(PKID as varchar(50)) = @PKID          
--end        
--else        
--begin        
--	if (@passwordOld<>@Password)                     
--	BEGIN              
--		update tblM_User                            
--		set   
--			UserName=@UserName,  
--			ScreenGroupID=@ScreenGroupID,                           
--			BranchGroupID = @BranchGroupID,                         
--			DepartementGroup = @DepartementGroup,                   
--			FullName = @FullName,                            
--			NPK = @NPK,                            
--			EffectiveStartDate = @EffectiveStartDate,                            
--			EffectiveEndDate = @EffectiveEndDate,                           
--			CountryID = @CountryID,                            
--			UpdatedBy = @UpdatedBy,                            
--			UpdatedHost = @UpdatedHost,                        
--			UpdatedDate = GETDATE(),                           
--			--IsUserActive = @IsUserActive ,                   
--			--GroupForm = @GroupForm ,                
--			PasswordExpiredDate = dateAdd( day, -1 * @IntervalPassword -1, getdate() ) ,                
--			PasswordLastUpdatedDatetime = getdate(),                
--			--isUserLocked = @IsUserLocked,                
--			isUserExpired = 0,                
--			PasswordAttemptCounter = 0        
--			where cast(PKID as varchar(50)) = @PKID  
--   END              
--  ELSE              
--   BEGIN              
--    update tblM_User                            
--     set   
--     UserName=@UserName,  
--     ScreenGroupID=@ScreenGroupID,                            
--     BranchGroupID = @BranchGroupID,                            
--     DepartementGroup = @DepartementGroup,           
--     FullName = @FullName,                            
--     NPK = @NPK,                            
--     EffectiveStartDate = @EffectiveStartDate,                            
--     EffectiveEndDate = @EffectiveEndDate,                            
--     CountryID = @CountryID,                            
--     UpdatedBy = @UpdatedBy,                            
--     UpdatedHost = @UpdatedHost,                            
--     UpdatedDate = GETDATE(),                            
--     --IsUserActive = @IsUserActive ,                    
--     --GroupForm = @GroupForm ,                
--     --isUserLocked = @IsUserLocked,                
--     isUserExpired = 0,                
--     PasswordAttemptCounter = 0        
--     where cast(PKID as varchar(50)) = @PKID                     
--   END              
-- end        

             /*      
  declare @username varchar(50)                        
  select @username = username from tblM_User where PKID = @PKID                        

  select * into #temp_all from dbo.Split(@ReportTo,';')                      

  select * into #temp_new from #temp_all                      

  where items not in (select ReportTo from tblM_reportto where active = 1 and UserID = @PKID)                         

  insert into tblm_reportto (ID, UserID, Username , ReportTo,Active,CreatedBy,CreatedDate,CreatedHost)                        
  select NEWID(),@pkid,  @UserName,items,1,@updatedby,GETDATE(),@UpdatedHost                        
  from #temp_new                        

  UPDATE tblm_reportto                         
  set active = 0,                        
   updatedby = @updatedby,                        
   UpdatedDate = getdate(),                        
   UpdatedHost = @UpdatedHost                        
  where active = 1                         
  and UserID=@PKID                         
  and reportto not in (select items from #temp_all)                      
              */    

	DECLARE @userPKID UNIQUEIDENTIFIER                                
	SELECT @userPKID = PKID 
	FROM tblM_User 
	WHERE UPPER(cast(PKID as varchar(36))) = UPPER(@PKID);

  delete from tblM_ReportTo where upper(cast(UserID as varchar(36)))=upper(@PKID)                                 

  INSERT INTO tblm_reportto 
	(
		ID, 
		UserID, 
		Username, 
		ReportTo, 
		Active, 
		CreatedBy, 
		CreatedDate, 
		CreatedHost
	)
	SELECT NEWID(), 
		@userPKID, 
		LTRIM(RTRIM(@UserName)), 
		UPPER(items), 
		1, 
		@UpdatedBy, 
		GETDATE(), 
		@UpdatedHost
	FROM dbo.Split(@ReportTo, ';');

--if (@ReportTo != '')
--begin
--  insert into tblm_reportto (ID, UserID, Username , ReportTo,Active,CreatedBy,CreatedDate,CreatedHost)                        
--  select NEWID(),@pkid,LTrim(RTrim(@UserName)),@ReportTo,1,@updatedby,GETDATE(),@UpdatedHost     
--end
                  
  delete from tblM_UserModule where UPPER(cast(UserID as varchar(36)))=UPPER(@PKID)
  
  INSERT INTO tblM_UserModule (ModuleID,UserID,CreatedBy,CreatedDate,CreatedHost)
	SELECT items, @userPKID, @UpdatedBy, GETDATE(), @UpdatedHost
	FROM dbo.Split(@ModuleID, ';');               

  --insert into tblM_UserModule (ModuleID,UserID,CreatedBy,CreatedDate,CreatedHost)                  
  --select @ModuleID, @pkid,@updatedby,GETDATE(),@UpdatedHost                      

  --select items, @pkid,@updatedby,GETDATE(),@UpdatedHost                      
  --from dbo.Split(@ModuleID,';')                   

  --drop table #temp_new                      
  --drop table #temp_all                   

  if @@ERROR <> 0                  
 rollback tran                   
  else                  
 commit tran


GO
