USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_ACCT_EIR_ECF_MERGE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[SP_IFRS_LI_ACCT_EIR_ECF_MERGE]  
AS  
DECLARE @V_CURRDATE DATE  
 ,@V_PREVDATE DATE  
 ,@V_ROUND INT  
 ,@V_FUNCROUND INT  
  
BEGIN  
 SELECT @V_CURRDATE = MAX(CURRDATE)  
 FROM IFRS_LI_PRC_DATE_AMORT  
  
 SELECT @V_PREVDATE = MAX(PREVDATE)  
 FROM IFRS_LI_PRC_DATE_AMORT  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'START'  
  ,'SP_IFRS_LI_ACCT_EIR_ECF_MERGE'  
  ,''  
  )  
  
 SELECT @V_ROUND = CAST(VALUE1 AS INT)  
  ,@V_FUNCROUND = CAST(VALUE2 AS INT)  
 FROM TBLM_COMMONCODEDETAIL  
 WHERE COMMONCODE = 'SCM003'  
  
 TRUNCATE TABLE TMP_LI_NOCF  
  
 TRUNCATE TABLE TMP_LI_T1  
  
 INSERT INTO TMP_LI_T1 (MASTERID)  
 SELECT DISTINCT MASTERID  
 FROM IFRS_LI_ACCT_EIR_ECF_NOCF  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
  
 --NOMINATE MASTERID TO BE MERGED (ONLY MERGED WHEN HAVE ECFNOCF) 20160518  
 INSERT INTO TMP_LI_NOCF (  
  MASTERID  
  ,DOWNLOAD_DATE  
  )  
 SELECT A.MASTERID  
  ,A.DOWNLOAD_DATE  
 FROM IFRS_LI_ACCT_EIR_ECF A  
 JOIN TMP_LI_T1 B ON A.MASTERID = B.MASTERID  
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE  
 GROUP BY A.MASTERID  
  ,A.DOWNLOAD_DATE  
 HAVING MIN(A.N_AMORT_AMT) < 0  
  AND MAX(A.N_AMORT_AMT) > 0 -- AMORT AMT HAVE BOTH VALUES NEGTV AND POSTV  
  
 DELETE  
 FROM IFRS_LI_ACCT_NOCF  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
  
 INSERT INTO IFRS_LI_ACCT_NOCF (  
  MASTERID  
  ,DOWNLOAD_DATE  
  )  
 SELECT MASTERID  
  ,DOWNLOAD_DATE  
 FROM TMP_LI_NOCF  
  
 -- UPDATE NOCF AMORT AND UNAMORT AMT FROM NOCF ECF  
 UPDATE DBO.IFRS_LI_ACCT_EIR_ECF  
 SET NOCF_OSPRN = B.N_FAIRVALUE  
  ,NOCF_OSPRN_PREV = B.N_FAIRVALUE_PREV  
  ,NOCF_INT_RATE = B.N_EFF_INT_RATE  
  ,NOCF_PRN_PAYMENT = B.N_INSTALLMENT  
  ,NOCF_EFF_INT_AMT = B.N_EFF_INT_AMT  
  ,NOCF_UNAMORT_AMT = B.N_UNAMORT_AMT  
  ,NOCF_AMORT_AMT = B.N_AMORT_AMT  
  ,NOCF_UNAMORT_AMT_PREV = B.N_UNAMORT_AMT_PREV  
 FROM (  
  SELECT E.*  
  FROM IFRS_LI_ACCT_EIR_ECF_NOCF E  
  JOIN TMP_LI_NOCF F ON F.DOWNLOAD_DATE = E.DOWNLOAD_DATE  
   AND F.MASTERID = E.MASTERID  
  ) B  
 WHERE DBO.IFRS_LI_ACCT_EIR_ECF.MASTERID = B.MASTERID  
  AND B.PMT_DATE = DBO.IFRS_LI_ACCT_EIR_ECF.PMT_DATE  
  AND DBO.IFRS_LI_ACCT_EIR_ECF.DOWNLOAD_DATE = B.DOWNLOAD_DATE  
  
 -- UPDATE UNAMORT AND AMORT AMT MERGED  
 UPDATE IFRS_LI_ACCT_EIR_ECF  
 SET N_UNAMORT_AMT = N_UNAMORT_AMT - ISNULL(NOCF_UNAMORT_AMT, 0)  
  ,N_AMORT_AMT = N_AMORT_AMT - ISNULL(NOCF_AMORT_AMT, 0)  
  ,N_UNAMORT_AMT_PREV = N_UNAMORT_AMT_PREV - ISNULL(NOCF_UNAMORT_AMT_PREV, 0)  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
  AND MASTERID IN (  
   SELECT MASTERID  
   FROM TMP_LI_NOCF  
   )  
  
 -- UPDATE CF AMORT UNAMORT  
 UPDATE DBO.IFRS_LI_ACCT_EIR_ECF  
 SET N_FEE_UNAMORT_AMT = N_UNAMORT_AMT * (  
   B.FEE_AMT + CASE   
    WHEN B.BENEFIT < 0  
     THEN B.BENEFIT  
    ELSE 0  
    END  
   ) / (B.FEE_AMT + B.COST_AMT + B.BENEFIT)  
  ,N_FEE_AMORT_AMT = N_AMORT_AMT * (  
   B.FEE_AMT + CASE   
    WHEN B.BENEFIT < 0  
     THEN B.BENEFIT  
    ELSE 0  
    END  
   ) / (B.FEE_AMT + B.COST_AMT + B.BENEFIT)  
  ,N_FEE_UNAMORT_AMT_PREV = N_UNAMORT_AMT_PREV * (  
   B.FEE_AMT + CASE   
    WHEN B.BENEFIT < 0  
     THEN B.BENEFIT  
    ELSE 0  
    END  
   ) / (B.FEE_AMT + B.COST_AMT + B.BENEFIT)  
  ,N_COST_UNAMORT_AMT = N_UNAMORT_AMT * (  
   B.COST_AMT + CASE   
    WHEN B.BENEFIT > 0  
     THEN B.BENEFIT  
    ELSE 0  
    END  
   ) / (B.FEE_AMT + B.COST_AMT + B.BENEFIT)  
  ,N_COST_AMORT_AMT = N_AMORT_AMT * (  
   B.COST_AMT + CASE   
    WHEN B.BENEFIT > 0  
     THEN B.BENEFIT  
    ELSE 0  
    END  
   ) / (B.FEE_AMT + B.COST_AMT + B.BENEFIT)  
  ,N_COST_UNAMORT_AMT_PREV = N_UNAMORT_AMT_PREV * (  
   B.COST_AMT + CASE   
    WHEN B.BENEFIT > 0  
     THEN B.BENEFIT  
    ELSE 0  
    END  
   ) / (B.FEE_AMT + B.COST_AMT + B.BENEFIT)  
 FROM (  
  SELECT E.DOWNLOAD_DATE  
   ,E.MASTERID  
   ,E.PMT_DATE  
   ,G.FEE_AMT  
   ,G.COST_AMT  
   ,COALESCE(G.BENEFIT, 0) AS BENEFIT  
  FROM IFRS_LI_ACCT_EIR_ECF E  
  JOIN TMP_LI_NOCF F ON F.DOWNLOAD_DATE = E.DOWNLOAD_DATE  
   AND F.MASTERID = E.MASTERID  
  JOIN IFRS_LI_ACCT_EIR_CF_ECF G ON G.MASTERID = E.MASTERID  
  ) B  
 WHERE DBO.IFRS_LI_ACCT_EIR_ECF.MASTERID = B.MASTERID  
  AND B.PMT_DATE = DBO.IFRS_LI_ACCT_EIR_ECF.PMT_DATE  
  AND DBO.IFRS_LI_ACCT_EIR_ECF.DOWNLOAD_DATE = B.DOWNLOAD_DATE  
  --IVAN NOCF  
  AND (B.FEE_AMT + B.COST_AMT + B.BENEFIT) <> 0  
  
 -- UPDATE FAIRVALUE AMT MERGED  
 UPDATE IFRS_LI_ACCT_EIR_ECF  
 SET N_FAIRVALUE_PREV = NOCF_OSPRN_PREV + N_UNAMORT_AMT_PREV  
  ,--N_OSPRN_PREV + N_UNAMORT_AMT_PREV ,  
  N_FAIRVALUE = NOCF_OSPRN + N_UNAMORT_AMT  
  ,--N_OSPRN + N_UNAMORT_AMT   
  N_DAILY_AMORT_COST = ROUND(CASE   
    WHEN I_DAYS2 = 0  
     THEN 0  
    ELSE N_COST_AMORT_AMT / CAST(I_DAYS2 AS DECIMAL(32, 6))  
    END, @V_ROUND, @V_FUNCROUND)  
  ,N_DAILY_AMORT_FEE = ROUND(CASE   
    WHEN I_DAYS2 = 0  
     THEN 0  
    ELSE N_FEE_AMORT_AMT / CAST(I_DAYS2 AS DECIMAL(32, 6))  
    END, @V_ROUND, @V_FUNCROUND)  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
  AND MASTERID IN (  
   SELECT MASTERID  
   FROM TMP_LI_NOCF  
   )  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'END'  
  ,'SP_IFRS_LI_ACCT_EIR_ECF_MERGE'  
  ,''  
  )  
END  

GO
