USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_UPDATEJOBHEADER]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_UPDATEJOBHEADER]       
(
	@PKID bigint, 
	@Status varchar(50), 
	@Message varchar(1000), 
	@UpdatedBy varchar(36)
)
AS      
BEGIN      

	-- SET NOCOUNT ON added to prevent extra result sets from      
	-- interfering with SELECT statements.      
	SET NOCOUNT ON;      
	   
	UPDATE TblT_ServiceJobsHeader      
	SET [Status] = @Status,      
		[Message] = @Message,      
		[UpdatedBy] = @UpdatedBy,      
		[UpdatedDate] = GETDATE()      
	WHERE PKID = @PKID      

	IF @Status = 'Failed' or @Status = 'Success'
	BEGIN
		UPDATE TblT_ApplicationLog  
		SET Status = @Status,  
			Message = @Message,  
			Finish = GETDATE()  
		WHERE JobId = @PKID  
	END 

END

GO
