USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETEFFDATEECL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_GETEFFDATEECL](    
@PART VARCHAR(10) = ''    
,@RULE_ID int = 0)    
AS    
BEGIN
	
	IF @PART = 'PD'
	BEGIN
		SELECT
			DISTINCT DOWNLOAD_DATE AS DATE2,
				CONVERT(varchar(12), DOWNLOAD_DATE, 113) AS DOWNLOAD_DATE
		FROM IFRS_PD_TERM_STRUCTURE_NOFL
		WHERE PD_RULE_ID = @RULE_ID
		ORDER BY DATE2 DESC
	END
	ELSE IF @PART = 'ME'
	BEGIN
		SELECT
			DISTINCT BASE_PERIOD_FORECAST AS DATE2,
				CONVERT(varchar(12), BASE_PERIOD_FORECAST, 113) AS DOWNLOAD_DATE
		FROM IFRS_ME_FL_SCALAR_RESULT
		WHERE MODEL_ID = @RULE_ID
		ORDER BY BASE_PERIOD_FORECAST DESC
	END
	ELSE IF @PART = 'LGD'
	BEGIN
		SELECT
			DISTINCT DOWNLOAD_DATE AS DATE2,
				CONVERT(varchar(12), DOWNLOAD_DATE, 113) AS DOWNLOAD_DATE
		FROM IFRS_LGD_TERM_STRUCTURE
		WHERE LGD_RULE_ID = @RULE_ID
		ORDER BY DATE2 DESC
	END
	ELSE IF @PART = 'EAD'
	BEGIN
		SELECT
			DISTINCT DOWNLOAD_DATE AS DATE2,
				CONVERT(varchar(12), DOWNLOAD_DATE, 113) AS DOWNLOAD_DATE
		FROM IFRS_EAD_CCF_HEADER
		WHERE CCF_RULE_ID = @RULE_ID
		ORDER BY DATE2 DESC
	END
	   
END
GO
