USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_UPDATEJOBHSHORTMESSAGE]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_UPDATEJOBHSHORTMESSAGE]         
 (@PKID bigint, 
  @shortMessage varchar(1000)        
  )        
AS        
BEGIN        
 -- SET NOCOUNT ON added to prevent extra result sets from        
 -- interfering with SELECT statements.        
 SET NOCOUNT ON;        
         
	UPDATE TBLT_SERVICEJOBSHEADER        
	SET         
	[ShortMessage] = @shortMessage               
	WHERE PKID = @PKID        
 
END  




GO
