USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_GL_BS_CURRENCY]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_GL_BS_CURRENCY]
(
	@Download_Date date = '01/01/2000',      
	@Currency varchar(2000) = '',
	@Branch_Code varchar(20) = '',
	@Balance_Format varchar(10) = 'LOCAL' 
)
AS
BEGIN

	DECLARE @Query VARCHAR (MAX);

	SET @Query = '
		SELECT GEN8_DESC AS "DESCRIPTION",
			'
			+ CASE WHEN (@Balance_Format = 'LOCAL')
				THEN 'SUM(BAIFRS) AS BALANCE, '
				ELSE 'SUM(BAIFRS_ORI) AS BALANCE, '
			END
			+ '
			GEN7_DESC AS LEVEL7,
			GEN6_DESC AS LEVEL6,
			GEN5_DESC AS LEVEL5,
			GEN4_DESC AS LEVEL4,
			GEN3_DESC AS LEVEL3,
			GEN2_DESC AS LEVEL2,
			GEN1_DESC AS LEVEL1,
			FSCODE AS ITEM_CODE,
			GEN8_CODE AS DESCRIPTION_CODE,
			GEN7_CODE AS LEVEL7CODE,	
			GEN6_CODE AS LEVEL6CODE,	
			GEN5_CODE AS LEVEL5CODE,
			GEN4_CODE AS LEVEL4CODE,
			GEN3_CODE AS LEVEL3CODE,
			GEN2_CODE AS LEVEL2CODE,
			GEN1_CODE AS LEVEL1CODE,
			DATASOURCE
		FROM GL_FS_FINAL WITH (NOLOCK)
		WHERE (UPPER(GEN1_DESC) LIKE ''%ASSETS%'' OR UPPER(GEN1_DESC) LIKE ''%LIABILITIES%'' OR UPPER(GEN1_DESC) LIKE ''%EQUITY%'')
			AND DOWNLOAD_DATE = ''' + CAST(@Download_Date AS VARCHAR) + ''' '
			+ CASE WHEN @Branch_Code <> ''
				THEN 'AND BRANCH_CODE = ''' + @Branch_Code + ''' '
				ELSE ''
			END
			+ CASE WHEN @Currency <> ''
				THEN 'AND CURRENCY IN (' + @Currency + ') '
				ELSE ''
			END
		+ 'GROUP BY GEN8_DESC, GEN7_DESC, GEN6_DESC, GEN5_DESC, GEN4_DESC, GEN3_DESC, GEN2_DESC, GEN1_DESC, DATASOURCE, FSCODE, GEN8_CODE, GEN7_CODE, GEN6_CODE, GEN5_CODE, GEN4_CODE, GEN3_CODE, GEN2_CODE, GEN1_CODE';
	
	EXEC (@Query);

END

GO
