USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PD_FL_METHOD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USPI_PD_FL_METHOD]    
(    
    @BUCKET_GROUP VARCHAR(50) = '',    
    @BUCKET int,    
    @METHOD int,    
    @MODEL_NAME VARCHAR(100),    
    @CreatedBy VARCHAR(100),    
    @CreatedHost VARCHAR(100)    
)    
AS    
BEGIN    
    DECLARE @v_MODEL_NAME_PKID bigint;    
     
SET NOCOUNT ON;    
        
    SELECT @v_MODEL_NAME_PKID = PKID     
    FROM IFRS_PD_RULES_CONFIG_9    
    WHERE PD_RULE_NAME = @MODEL_NAME;    
        
    INSERT INTO IFRS_PD_MACRO_ECONOMIC_MODEL    
    (    
        BUCKET_GROUP,    
        BUCKET_ID,    
        PD_RULE_ID,    
        CREATEDBY,    
        CREATEDDATE    
    )    
    VALUES    
    (    
        @BUCKET_GROUP,    
        @BUCKET,    
        @v_MODEL_NAME_PKID,    
        @CreatedBy,    
        GETDATE()    
    );    
    COMMIT;    
        
END; 

GO
