USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_MappingRulesHByID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_MappingRulesHByID]  
(@PKID int=0)
AS   
    BEGIN  
			SELECT  [PKID] ,  
                MAPPINGNAME ,  
                MAPPINGDESCRIPTION ,  
                TABLEDESTINATION ,  
                MAPPINGTYPE ,  
                FILETYPE ,  
                FILENAME,
				KEYHISTORY,
				CASE NEEDAPPROVAL 
					WHEN 0 THEN 'No'
					ELSE 'Yes'
				END NEEDAPPROVAL
        FROM    [dbo].TBLM_MAPPINGRULEHEADER_NEW  
		WHERE PKID = @PKID

	END

GO
