USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPROVEDREJECTEDLOGSPPI]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_APPROVEDREJECTEDLOGSPPI]
	@UserID VARCHAR(36) = ''
AS
BEGIN
	
	SELECT TOP 2000
			CASE WHEN A.STATUS = 'APPROVED' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
			,A.APPROVAL_REMARKS AS NOTE
			,SUBSTRING(ACTION, 0, CHARINDEX('_',ACTION)) AS "ACTION"
			,m.DESCRIPTION AS "MODULE_NAME"
			,s.Title AS "SCREEN_NAME"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.APPROVEDBY) as "UPDATED_BY"
			,A.APPROVEDDATE AS "UPDATED_DATE"
			,A.APPROVEDHOST AS "UPDATED_HOST"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = ISNULL(A.UPDATEDBY, A.CREATEDBY)) AS "CREATED_BY"
			,ISNULL(A.UPDATEDDATE, A.CREATEDDATE) AS "CREATED_DATE"
			,ISNULL(A.UPDATEDHOST, A.CREATEDHOST) AS "CREATED_HOST"
			,A.PKID
			,A.CLASSNAME
		FROM IFRS_AC_SPPI_HEADER_PENDING A
		INNER JOIN tblM_User u WITH (NOLOCK) ON CAST(u.PKID AS varchar(36)) = ISNULL(A.UPDATEDBY, A.CREATEDBY) AND CAST(u.PKID AS varchar(36)) = @UserID
		INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'AC_SPPI_CLASSIFICATION'       
		INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
		WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
			AND A.STATUS IN ('APPROVED','REJECTED')
			AND A.APPROVEDDATE >
				(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
					AND CAST(USERID AS varchar(36)) = @UserID)
		ORDER BY A.APPROVEDDATE DESC
	
END
GO
