USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SETUPBMADETAIL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SETUPBMADETAIL]
(@QUESTIONID bigint=0)
AS
BEGIN
    SELECT
		A.[PKID]
      ,A.[COMMONCODEID]
      ,A.[QUESTIONID]
      ,A.[OPTION_ID]
      ,A.[OPTION_DESC]
      ,A.[CREATEDBY]
      ,A.[CREATEDDATE]
      ,A.[CREATEDHOST]
      ,A.[UPDATEDBY]
      ,A.[UPDATEDDATE]
      ,A.[UPDATEDHOST]
	  ,B.QUESTION_DESC
	  ,B.OPTION_NUMBER
	  ,B.QUESTION_TYPE
	FROM [IFRS_AC_BM_MASTER_QUEST_D] A
	LEFT JOIN IFRS_AC_BM_QUEST B ON A.QUESTIONID = B.PKID
	WHERE A.QUESTIONID=@QUESTIONID
              
END

GO
