USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BMSEQUENCEVALIDATION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_BMSEQUENCEVALIDATION]
(
	@sequence int = 0,
	@pkid bigint = 0
)
AS
BEGIN
	
	SELECT SEQUENCE FROM [IFRS_AC_BM_QUEST]
	WHERE SEQUENCE = @sequence
		AND PKID <> @pkid
		AND ISNULL(IS_DELETE,0) = 0
	UNION ALL
	SELECT COALESCE(OLDVALUE,NEWVALUE) AS "SEQUENCE" FROM TBLT_APPROVALDETAIL WHERE HEADERID IN
	(SELECT PKID FROM TBLT_APPROVALHEADER WHERE SCREENID='AC_BMA_SETUP' AND STATUS='P')
	AND FIELDNAME='SEQUENCE'
	AND COALESCE(OLDVALUE,NEWVALUE) = @sequence

END

GO
