USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPLICATIONLOGBYJOBID]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_APPLICATIONLOGBYJOBID]
(
	@JobID BIGINT
)
AS
BEGIN

	SELECT ThreadID, JobId 
	FROM tblt_applicationlog WITH (NOLOCK)
	WHERE JobId = @JobID

END;

GO
