USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[sp_display_lock]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_display_lock]  
  
@SPID int = null  
  
/*  
select * from master.sys.dm_exec_sessions  
sp_display_lock 237  
  
sp_check_yukon  
kill 99  
select session_id ,database_id, (  
select objectid from sys.dm_exec_sql_text( r.sql_handle )  
),null From sys.dm_exec_requests r where session_id = 123  
*/  
as  
  
set nocount on  
  
create table #NTPROCESS(  
spid int,  
dbid int,  
obid int,  
spname varchar(200) )  
  
create table #use_object  
(  
 resource_type  varchar(40),  
 resource_associated_entity_id bigint,  
 database_name  varchar(60),  
 object_nm   varchar(100),  
 objidn    bigint  
)  
  
insert #NTPROCESS  
select session_id ,database_id, (  
select objectid from sys.dm_exec_sql_text ( r.sql_handle )
),null From sys.dm_exec_requests r with(nolock)
where session_id in (select distinct session_id from master.sys.dm_exec_sessions with(nolock))  
  
update #NTPROCESS  
set spname = isnull('['+object_name(obid,dbid) + ']:','' )  
  
  
if @SPID is null  
begin  
 print 'Session yang kena block'  
 select a.session_id, a.blocking_session_id, a.start_time, a.status, a.command, db_name(a.database_id) as DBNAME, cast(host_name as varchar(30)) as HOST,  
 c.spname+b.program_name as program_name,  
 cast(a.total_elapsed_time/1000.000 as varchar(30)) + ' Sec' as total_time, a.row_count  
 from master.sys.dm_exec_requests a with(nolock) right join master.sys.dm_exec_sessions b with(nolock) on a.session_id = b.session_id  
  join #NTPROCESS c  with(nolock) on b.session_id = c.spid  
 where a.blocking_session_id <> 0 and b.status not in ('sleeping', 'dormant')  
 and a.session_id <> @@spid  
   
 print 'list pelakunya adalah: '  
 select a.session_id, a.blocking_session_id, a.start_time, a.status, a.command, db_name(a.database_id) as DBNAME, cast(host_name as varchar(30)) as HOST,  
 c.spname+b.program_name as program_name,  
 cast(a.total_elapsed_time/1000.000 as varchar(30)) + ' Sec' as total_time, a.row_count  
 from master.sys.dm_exec_requests a  with(nolock) right join master.sys.dm_exec_sessions b  with(nolock) on a.session_id = b.session_id  
  join #NTPROCESS c  with(nolock) on b.session_id = c.spid  
 where a.session_id in (select a.blocking_session_id from master.sys.dm_exec_requests a  with(nolock) right join master.sys.dm_exec_sessions b  with(nolock) on a.session_id = b.session_id  
 where a.blocking_session_id <> 0 and b.status not in ('sleeping', 'dormant'))   
 and a.session_id <> @@spid  
  
 print 'Session'  
 select b.session_id, cast(b.login_name as varchar(30)) as LOGIN, a.status, a.command, c.spname+b.program_name as program_name,  
 cast(db_name(a.database_id) as varchar(30)) as DBNAME, cast(host_name as varchar(30)) as HOST,  
 cast(a.total_elapsed_time/1000.000 as varchar(30)) + ' Sec' as total_time, a.row_count, a.start_time  
 from master.sys.dm_exec_requests a  with(nolock) right join master.sys.dm_exec_sessions b  with(nolock) on a.session_id = b.session_id  
  join #NTPROCESS c  with(nolock) on b.session_id = c.spid  
 where --a.blocking_session_id = 0 and   
 host_name is not null  
 and a.status not in ('sleeping', 'dormant')  
 and a.session_id <> @@spid  
end  
else  
begin  
 declare   
  @db_name   varchar(40),  
  @cCommandUpdate  nvarchar(1000)  
  
 print 'Session yang kena block'  
 select a.session_id, a.blocking_session_id, a.start_time, a.status, a.command, c.spname+b.program_name,  
 db_name(a.database_id) as DBNAME, cast(host_name as varchar(30)) as HOST,  
 cast(a.total_elapsed_time/1000.000 as varchar(30)) + ' Sec' as total_time, a.row_count  
 from master.sys.dm_exec_requests a  with(nolock) right join master.sys.dm_exec_sessions b  with(nolock) on a.session_id = b.session_id  
  join #NTPROCESS c  with(nolock) on b.session_id = c.spid  
 where a.blocking_session_id <> 0 and b.status not in ('sleeping', 'dormant')  
 and a.session_id = @SPID  
   
 print 'list pelakunya adalah: '  
 select a.session_id, a.blocking_session_id, a.start_time, a.status, a.command, c.spname+b.program_name,  
 db_name(a.database_id) as DBNAME, cast(host_name as varchar(30)) as HOST,  
 cast(a.total_elapsed_time/1000.000 as varchar(30)) + ' Sec' as total_time, a.row_count  
 from master.sys.dm_exec_requests a  with(nolock) right join master.sys.dm_exec_sessions b  with(nolock) on a.session_id = b.session_id  
  join #NTPROCESS c  with(nolock) on b.session_id = c.spid  
 where a.session_id in (select a.blocking_session_id from master.sys.dm_exec_requests a  with(nolock) right join master.sys.dm_exec_sessions b  with(nolock) on a.session_id = b.session_id  
 where a.blocking_session_id <> 0 and b.status not in ('sleeping', 'dormant') and a.session_id = @SPID)   
  
 print 'Session'  
 select b.session_id, cast(b.login_name as varchar(30)) as LOGIN, a.status, a.command, c.spname+b.program_name,  
 cast(db_name(a.database_id) as varchar(30)) as DBNAME, cast(host_name as varchar(30)) as HOST,  
 cast(a.total_elapsed_time/1000.000 as varchar(30)) + ' Sec' as total_time, a.row_count, a.start_time  
 from master.sys.dm_exec_requests a  with(nolock) right join master.sys.dm_exec_sessions b  with(nolock) on a.session_id = b.session_id  
  join #NTPROCESS c  with(nolock) on b.session_id = c.spid  
 where --a.blocking_session_id = 0 and   
 host_name is not null  
 and a.status not in ('sleeping', 'dormant')  
 and a.session_id = @SPID  
  
  /*
 print 'OBJECT USED'  
 insert #use_object  
 select distinct resource_type, resource_associated_entity_id, db_name(resource_database_id) as database_name, null, null  
 from sys.dm_tran_locks   with(nolock)  
 where request_session_id = @SPID and resource_type not in ('DATABASE', 'METADATA')  
  
 declare cur_object_update cursor for select distinct database_name  
 from #use_object  
   
 open cur_object_update  
 while 1=1  
 begin  
  fetch cur_object_update into @db_name  
  if @@fetch_status <> 0  
   break  
  select  @cCommandUpdate = N'update a set a.object_nm = cast(name as varchar) from ' + @db_name +  
   '..sysobjects b with(nolock) join #use_object a  with(nolock) on b.id = a.resource_associated_entity_id   
   where resource_type = ''OBJECT'' and database_name = ''' + @db_name + ''''  
     
  exec sp_executesql @cCommandUpdate  
    
  select  @cCommandUpdate = N'update a  
  set a.object_nm = left(object_name(b.object_id, db_id(''' + @db_name + ''')), 100)  
  from #use_object a  with(nolock) join ' + @db_name + '.sys.partitions b  with(nolock) on b.hobt_id = a.resource_associated_entity_id  
  where a.resource_type in (''PAGE'', ''HOBT'')  
  and database_name = ''' + @db_name + ''''  
    
  exec sp_executesql @cCommandUpdate  
 end  
  
 close cur_object_update  
 deallocate cur_object_update  
  
 select database_name, object_nm, resource_type from #use_object  
  */
 print '[2] Detail process: '  
 declare @nC nvarchar(max)   
 declare @last_read datetime  
 declare @last_write datetime  
  
 select @nC = case when r.sql_handle is not null   
  then (  
     select top 1 SUBSTRING(t2.text, (r.statement_start_offset + 2) / 2, ( (  
        case when r.statement_end_offset = -1   
           then ((len(convert(nvarchar(MAX),t2.text))) * 2)   
        else r.statement_end_offset end  
        )  - r.statement_start_offset) / 2)   
     from sys.dm_exec_sql_text(r.sql_handle) t2  
     )   
  else ''  
  end   
 from sys.dm_exec_sessions s    with(nolock) 
 left outer join sys.dm_exec_connections c   with(nolock) on ( s.session_id = c.session_id )   
 left outer join sys.dm_exec_requests r   with(nolock) on ( r.session_id = c.session_id and r.connection_id = c.connection_id )   
 where s.is_user_process = 1  
 and s.session_id =  @SPID  
  
 print ''  
 print @nC  
end  
  
drop table #NTPROCESS  
drop table #use_object  
return 0



GO
