USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADAPPROVEFACFEECOST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_UPLOADAPPROVEFACFEECOST](    
@UploadID int,    
@Remarks varchar(500),  
@ApprovedBy varchar(36),    
@ApprovedHost varchar(30)    
)    
AS  
BEGIN TRAN  
 --INSERT ACTIVITYLOG  
 EXEC uspI_ActivityLogs @ApprovedBy,'INSERT_WI_APPROVAL','FACILITY_FEECOST_UPLOAD','IAS',@ApprovedHost    
  
 --DELETE TBLU_FACILITY_FEECOST  
 /*DELETE A
 FROM TBLU_FACILITY_FEECOST A  
	INNER JOIN TBLU_FACILITY_FEECOST_PENDING B  
	ON A.PRD_CODE = B.PRD_CODE  
		AND A.FACILITY_NUMBER = B.FACILITY_NUMBER 
		AND A.TRANSACTION_DATE = B.TRANSACTION_DATE 
		AND A.TRX_CODE = B.TRX_CODE  
 WHERE B.UPLOADID = @UploadID*/--req mba irma  
 DELETE FROM TBLU_FACILITY_FEECOST WHERE TRANSACTION_DATE = 
	(SELECT DISTINCT TRANSACTION_DATE FROM TBLU_FACILITY_FEECOST_PENDING WHERE UPLOADID = @UploadID)

 --INSERT TBLU_FACILITY_FEECOST  
 INSERT INTO TBLU_FACILITY_FEECOST(
	[DOWNLOAD_DATE],
	[FACILITY_NUMBER],
	[PRD_CODE],
	[TRX_CODE],
	[TRANSACTION_DATE],
	[CCY],
	[DEBIT_CREDIT_FLAG],
	[TRANSACTION_AMOUNT],
	[UPLOADID],
	[CREATEDBY],
	[CREATEDDATE],
	[CREATEDHOST],
	[UPDATEDBY],
	[UPDATEDDATE],
	[UPDATEDHOST])    
 SELECT 
	TRANSACTION_DATE,
	[FACILITY_NUMBER],
	[PRD_CODE],
	[TRX_CODE],
	[TRANSACTION_DATE],
	[CCY],
	[DEBIT_CREDIT_FLAG],
	[TRANSACTION_AMOUNT],
	[UPLOADID],
	[CREATEDBY],
	[CREATEDDATE],
	[CREATEDHOST],
	@ApprovedBy,
	GetDate(),
	@ApprovedHost    
 FROM TBLU_FACILITY_FEECOST_PENDING    
 WHERE UPLOADID = @UploadID  
 ORDER BY PKID  
   
 --INSERT TTBLU_FACILITY_FEECOST_HIST  
 INSERT INTO TBLU_FACILITY_FEECOST_HIST(
	[DOWNLOAD_DATE],
	[FACILITY_NUMBER],
	[PRD_CODE],
	[TRX_CODE],
	[TRANSACTION_DATE],
	[CCY],
	[DEBIT_CREDIT_FLAG],
	[TRANSACTION_AMOUNT],
	[UPLOADID],
	[CREATEDBY],
	[CREATEDDATE],
	[CREATEDHOST],
	[UPDATEDBY],
	[UPDATEDDATE],
	[UPDATEDHOST])    
 SELECT 
	TRANSACTION_DATE,
	[FACILITY_NUMBER],
	[PRD_CODE],
	[TRX_CODE],
	[TRANSACTION_DATE],
	[CCY],
	[DEBIT_CREDIT_FLAG],
	[TRANSACTION_AMOUNT],
	[UPLOADID],
	[CREATEDBY],
	[CREATEDDATE],
	[CREATEDHOST],
	@ApprovedBy,
	GetDate(),
	@ApprovedHost    
 FROM TBLU_FACILITY_FEECOST_PENDING    
 WHERE UPLOADID = @UploadID  
 ORDER BY PKID  
  
 --UPDATE TBLU_FEECOST_INFO  
 UPDATE TBLU_FEECOST_INFO    
	SET Status = 'APPROVED',
		REMARKS = @Remarks,
		UpdatedBy = @ApprovedBy,
		UpdatedHost = @ApprovedHost,
		UpdatedDate = GetDate()    
	WHERE UploadID = @UploadID    
    
 --DELETE TBLU_TRANS_ASSET_TEMP  
 DELETE FROM TBLU_FACILITY_FEECOST_TEMP where UPLOADID = @UploadID    
   
 --DELETE TBLU_TRANS_ASSET_PENDING  
 DELETE FROM TBLU_FACILITY_FEECOST_PENDING WHERE UPLOADID = @UploadID    
    
IF @@ERROR <> 0                      
 ROLLBACK TRAN                       
ELSE                      
 COMMIT TRAN  
GO
