USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_LIGHTSCENARIOH]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_LIGHTSCENARIOH]
(
	@LIGHT_ID INT,
	@LIGHT_NAME VARCHAR(50),
	@LIGHT_DESCRIPTION VARCHAR(200),
	@LIGHT_COLOR VARCHAR(200),
	@IMAGE_URL varchar(50),
	@LIGHT_GROUP VARCHAR(25),
	@SCORE_START INT,
	@SCORE_END INT,
	@UpdatedBy VARCHAR(36),
	@UpdatedHost VARCHAR(30)
)  
AS
BEGIN

	UPDATE IFRS_IMP_LIGHT_SCEN_PARAM
	SET LIGHT_NAME = @LIGHT_NAME,
		RANGE_START = @SCORE_START,
		RANGE_END = @SCORE_END,
		LIGHT_COLOR = @LIGHT_COLOR,
		IMAGE_URL = @IMAGE_URL,
		UPDATEDBY = @UpdatedBy,
		UPDATEDDATE = GETDATE(),
		UPDATEDHOST = @UpdatedHost
	WHERE LIGHT_GROUP = @LIGHT_GROUP
		AND LIGHT_ID = @LIGHT_ID

END


GO
