USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPUSERACTIVITY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPUSERACTIVITY]
AS
	SELECT '' AS LookupCode, '--ALL--' AS LookupName
		UNION
	SELECT LookupCode, LookupName
	FROM tblM_Lookup
	ORDER BY LookupCode

GO
