USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_FL_ME_SCALAR]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_FL_ME_SCALAR] @DOWNLOAD_DATE DATE = NULL, @MODEL_ID INT = 124 
AS
BEGIN 
DECLARE @V_CURRDATE DATE 
DECLARE @V_PREVMONTH DATE    

BEGIN    
        
IF @DOWNLOAD_DATE = ''        
BEGIN        
 SELECT 
	@V_CURRDATE = EOMONTH(CURRDATE),
	@V_PREVMONTH = EOMONTH(DATEADD(M,-1,CURRDATE)) 
 FROM IFRS_PRC_DATE        
 END        
 ELSE         
 BEGIN    
  SET @V_CURRDATE = EOMONTH(@DOWNLOAD_DATE )    
  SET @V_PREVMONTH = EOMONTH(DATEADD(M,-1,@DOWNLOAD_DATE))      
 END     
END 

 DECLARE @PERIOD_SCALAR DATE
 DECLARE @PD_RULE_ID INT
 SELECT @PERIOD_SCALAR = PERIOD, @PD_RULE_ID = RULE_ID FROM IFRS_ME_SCALAR_HEADER WHERE  MODEL_ID = @MODEL_ID AND IS_DELETE = 0 AND ACTIVE_FLAG = 1

 DELETE [IFRS_ME_FL_SELECTED] WHERE MODEL_ID = @MODEL_ID --AND PERIOD_DATE = @PERIOD_SCALAR

 ----- INSERT FOR SELECTED ME MODEL
INSERT INTO [IFRS_ME_FL_SELECTED] (PERIOD_DATE
,BASE_PERIOD_FORECAST
,SCALAR_ID
,MODEL_ID
,MODEL_SEQ
,ME_CODE
,ME_CODE_ORIG
,SCENARIO_NO
,SCENARIO_NAME
,FL_YEAR
,ME_VAL
,ESTIMATED_VALUE
,CREATEDBY
,CREATEDDATE)
 SELECT A.PERIOD AS PERIOD_DATE
, A.PERIOD AS BASE_PERIOD_FORECAST
,A.PKID AS SCALAR_ID
,A.MODEL_ID AS MODEL_ID
,B.MODEL_SEQ AS MODEL_SEQ
,D.ME_CODE AS ME_CODE
,D.ME_CODE_ORIG
,SCENARIO_NO AS SCENARIO_NO
,SCENARIO_NAME AS SCENARIO_NAME
,DATEDIFF(YEAR,@PERIOD_SCALAR,ME_PERIOD) AS FL_YEAR
,D.ME_VAL
,C.ESTIMATE_VAL AS ESTIMATED_VALUE
,'IFRS_ME_FL_SELECTED' AS CREATEDBY
,GETDATE() AS CREATEDDATE FROM IFRS_ME_SCALAR_HEADER A
 INNER JOIN IFRS_MULT_LINEAR_REGR_RESULT  B ON A.MODEL_ID = B.MODEL_ID AND SELECTED_FLAG = 1
 INNER JOIN IFRS_MULT_LINEAR_REGR_COEF C ON B.MODEL_ID  = C.MODEL_ID AND B.MODEL_SEQ = C.MODEL_SEQ
 INNER JOIN IFRS_ME_COMPLETE_DERIVED D ON C.COEFF_NAME = D.ME_CODE AND D.ME_PERIOD >=@PERIOD_SCALAR  
 AND MONTH(ME_PERIOD)  = MONTH(@PERIOD_SCALAR) AND A.MODEL_ID = D.MODEL_ID
 WHERE A.MODEL_ID = @MODEL_ID

 IF OBJECT_ID ('TEMPDB.DBO.#SELECTED_INTERCEPT') IS NOT NULL DROP TABLE #SELECTED_INTERCEPT
 SELECT  SCALAR_ID,MODEL_ID,MODEL_SEQ,SCENARIO_NO,FL_YEAR,MAX(SCENARIO_NAME) AS SCENARIO_NAME, COUNT(1) AS CNT 
 INTO #SELECTED_INTERCEPT 
 FROM [IFRS_ME_FL_SELECTED] WHERE MODEL_ID = @MODEL_ID AND PERIOD_DATE = @PERIOD_SCALAR
 GROUP BY SCALAR_ID,MODEL_ID,MODEL_SEQ,SCENARIO_NO,FL_YEAR

 -------- INSERT INTERCEPT-----------
 INSERT INTO [IFRS_ME_FL_SELECTED] (PERIOD_DATE
,BASE_PERIOD_FORECAST
,SCALAR_ID
,MODEL_ID
,MODEL_SEQ
,ME_CODE
,ME_CODE_ORIG
,SCENARIO_NO
,SCENARIO_NAME
,FL_YEAR
,ME_VAL
,ESTIMATED_VALUE
,CREATEDBY
,CREATEDDATE)
SELECT A.PERIOD AS PERIOD_DATE
, A.PERIOD AS BASE_PERIOD_FORECAST
,A.PKID AS SCALAR_ID
,A.MODEL_ID AS MODEL_ID
,B.MODEL_SEQ AS MODEL_SEQ
,C.COEFF_NAME AS ME_CODE
,C.COEFF_NAME AS ME_CODE_ORIG
,D.SCENARIO_NO AS SCENARIO_NO
,D.SCENARIO_NAME AS SCENARIO_NAME
,D.FL_YEAR  AS FL_YEAR
,1 AS  ME_VAL 
,C.ESTIMATE_VAL AS ESTIMATED_VALUE
,'IFRS_ME_FL_SELECTED' AS CREATEDBY
,GETDATE() AS CREATEDDATE 
FROM IFRS_ME_SCALAR_HEADER A
 INNER JOIN IFRS_MULT_LINEAR_REGR_RESULT  B ON A.MODEL_ID = B.MODEL_ID AND SELECTED_FLAG = 1
 INNER JOIN IFRS_MULT_LINEAR_REGR_COEF C ON B.MODEL_ID  = C.MODEL_ID AND B.MODEL_SEQ = C.MODEL_SEQ AND COEFF_NAME LIKE '%INTERCEPT%'
INNER JOIN #SELECTED_INTERCEPT D ON D.MODEL_ID = B.MODEL_ID AND D.SCALAR_ID = A.PKID 
 WHERE A.MODEL_ID = @MODEL_ID

 --------- DELETE NOT COMPLETE MEV COMBINATION -------------------
DELETE A
FROM  [IFRS_ME_FL_SELECTED] A
INNER JOIN (SELECT COUNT(1) AS CNT, MODEL_ID, MODEL_SEQ FROM IFRS_MULT_LINEAR_REGR_COEF 
GROUP BY MODEL_ID, MODEL_SEQ) B 
ON A.MODEL_ID = B.MODEL_ID AND A.MODEL_SEQ = B.MODEL_SEQ
INNER JOIN (SELECT PERIOD_DATE,SCALAR_ID,MODEL_ID,MODEL_SEQ,SCENARIO_NO,FL_YEAR,COUNT(1) AS CNT FROM [IFRS_ME_FL_SELECTED]
 GROUP BY PERIOD_DATE,SCALAR_ID,MODEL_ID,MODEL_SEQ,SCENARIO_NO,FL_YEAR) C ON A.MODEL_ID = C.MODEL_ID AND A.PERIOD_DATE = C.PERIOD_DATE 
 AND A.SCENARIO_NO = C.SCENARIO_NO AND A.FL_YEAR = C.FL_YEAR AND C.CNT <> B.CNT
 WHERE A.MODEL_ID  = @MODEL_ID -- AND A.PERIOD_DATE  = @PERIOD_SCALAR



 ------------- ACTUAL ODR -------------------
 DELETE FROM IFRS_ME_FL_SCALAR_ACTUAL_ODR WHERE MODEL_ID = @MODEL_ID --AND PERIOD_DATE = @PERIOD_SCALAR
 
 INSERT INTO IFRS_ME_FL_SCALAR_ACTUAL_ODR (PERIOD_DATE
,BASE_PERIOD_FORECAST
,SCALAR_ID
,MODEL_ID
,MODEL_SEQ
,FL_YEAR
,SCENARIO_NO
,SCENARIO_NAME
,LOGIT_ACTUAL_ODR
,ACTUAL_ODR
,CREATEDBY
,CREATEDDATE)
    SELECT PERIOD_DATE
,BASE_PERIOD_FORECAST
,SCALAR_ID
,MODEL_ID
,MODEL_SEQ
,0 AS FL_YEAR
,SCENARIO_NO
,MAX(SCENARIO_NAME) AS SCENARIO_NAME
, SUM(ME_VAL*ESTIMATED_VALUE) AS LOGIT_ACTUAL_ODR
, 1/(1+EXP(SUM(ME_VAL*ESTIMATED_VALUE)*-1)) AS ACTUAL_ODR 
,'SYSTEM' AS CREATEDBY
,GETDATE() AS CREATEDDATE 
FROM [IFRS_ME_FL_SELECTED]
WHERE MODEL_ID = @MODEL_ID AND  PERIOD_DATE = @PERIOD_SCALAR AND FL_YEAR = 0
 GROUP BY PERIOD_DATE,MODEL_SEQ,BASE_PERIOD_FORECAST,SCALAR_ID, MODEL_ID,SCENARIO_NO

 
 ----------------- MODELLED ODR ----------------------
 DELETE FROM [IFRS_ME_FL_SCALAR_MODELLED_ODR] WHERE MODEL_ID = @MODEL_ID --AND PERIOD_DATE = @PERIOD_SCALAR
 
 INSERT INTO [IFRS_ME_FL_SCALAR_MODELLED_ODR] (PERIOD_DATE
,BASE_PERIOD_FORECAST
,SCALAR_ID
,MODEL_ID
,MODEL_SEQ
,FL_YEAR
,SCENARIO_NO
,SCENARIO_NAME
,LOGIT_ACTUAL_ODR
,ACTUAL_ODR
,LOGIT_MODELLED_ODR
,MODELLED_ODR
,SCALAR
,CREATEDBY
,CREATEDDATE)
    SELECT A.PERIOD_DATE
,A.BASE_PERIOD_FORECAST
,A.SCALAR_ID
,A.MODEL_ID
,A.MODEL_SEQ
,A.FL_YEAR
,A.SCENARIO_NO
,MAX(A.SCENARIO_NAME) AS SCENARIO_NAME
,MAX( B.LOGIT_ACTUAL_ODR) AS LOGIT_ACTUAL_ODR
,MAX( B.ACTUAL_ODR) AS ACTUAL_ODR 
, SUM(ME_VAL*ESTIMATED_VALUE)  AS LOGIT_MODELLED_ODR
, 1/(1+EXP(SUM(ME_VAL*ESTIMATED_VALUE)*-1)) AS MODELLED_ODR
,0 AS SCALAR
,'SYSTEM' AS CREATEDBY
,GETDATE() AS CREATEDDATE 
FROM [IFRS_ME_FL_SELECTED] A
LEFT JOIN  IFRS_ME_FL_SCALAR_ACTUAL_ODR B ON A.MODEL_ID = B.MODEL_ID AND A.PERIOD_DATE = B.PERIOD_DATE 
	AND A.SCALAR_ID = B.SCALAR_ID AND A.SCENARIO_NO = B.SCENARIO_NO AND A.MODEL_SEQ = B.MODEL_SEQ
WHERE A.MODEL_ID = @MODEL_ID AND  A.PERIOD_DATE = @PERIOD_SCALAR AND A.FL_YEAR > 0 
 GROUP BY A.PERIOD_DATE,A.MODEL_SEQ,A.BASE_PERIOD_FORECAST,A.SCALAR_ID, A.MODEL_ID,A.SCENARIO_NO,A.FL_YEAR
 
 --UPDATE [IFRS_ME_FL_SCALAR_MODELLED_ODR]  
 --SET SCALAR  = MODELLED_ODR/ACTUAL_ODR  
 --WHERE MODEL_ID = @MODEL_ID AND  PERIOD_DATE = @PERIOD_SCALAR  

 /* START CR CHANGE SCENARIO ALL TO PD BASE	*/
 UPDATE A
 SET SCALAR  = A.MODELLED_ODR/C.ACTUAL_ODR
 FROM [IFRS_ME_FL_SCALAR_MODELLED_ODR] A
	LEFT JOIN  IFRS_ME_FL_SCALAR_ACTUAL_ODR C 
		ON A.MODEL_ID = C.MODEL_ID AND A.PERIOD_DATE = C.PERIOD_DATE 
		AND A.SCALAR_ID = C.SCALAR_ID 
		AND C.SCENARIO_NAME = 'BASE' 
		AND A.MODEL_SEQ = C.MODEL_SEQ
 WHERE A.MODEL_ID = @MODEL_ID AND  A.PERIOD_DATE = @PERIOD_SCALAR
 /*END CR CHANGE SCENARIO ALL TO PD BASE*/

 ---------------- MODELLED DUPLICATION -------------------------
 IF OBJECT_ID ('TEMPDB.DBO.#MODELLED') IS NOT NULL DROP TABLE #MODELLED
 SELECT A.MODEL_ID, A.SCALAR_ID, A.PERIOD_DATE, MODEL_SEQ,MAX(FL_YEAR) AS FL_YEAR_MAX, MAX(FL_YEAR)+1 AS YEAR_START, MAX(D.EXPECTED_LIFE)/12 AS YEAR_END
 INTO #MODELLED
 FROM [IFRS_ME_FL_SCALAR_MODELLED_ODR] A
 INNER JOIN  IFRS_ME_SCALAR_HEADER C ON A.MODEL_ID = C.MODEL_ID AND A.SCALAR_ID = C.PKID AND C.IS_DELETE = 0
 INNER JOIN IFRS_PD_RULES_CONFIG D ON C.RULE_ID  = D.PKID AND D.IS_DELETE = 0
 WHERE A.MODEL_ID = @MODEL_ID AND A.PERIOD_DATE = @PERIOD_SCALAR
 GROUP BY A.MODEL_ID, SCALAR_ID, PERIOD_DATE, MODEL_SEQ

 IF OBJECT_ID ('TEMPDB.DBO.#BASE_MODELLED') IS NOT NULL DROP TABLE #BASE_MODELLED
 SELECT A.* INTO #BASE_MODELLED FROM [IFRS_ME_FL_SCALAR_MODELLED_ODR] A 
 INNER JOIN #MODELLED B ON A.SCALAR_ID = B.SCALAR_ID  AND A.MODEL_ID = B.MODEL_ID AND A.MODEL_SEQ = B.MODEL_SEQ  
 AND A.PERIOD_DATE = B.PERIOD_DATE AND  A.FL_YEAR = B.FL_YEAR_MAX 
 WHERE A.MODEL_ID = @MODEL_ID AND A.PERIOD_DATE = @PERIOD_SCALAR


 DECLARE @YEAR_START INT
 DECLARE @YEAR_END INT
 DECLARE @MODEL_SEQ INT 

 DECLARE LOOP1                 
  CURSOR FOR  SELECT MODEL_SEQ, YEAR_START, YEAR_END FROM #MODELLED      
  OPEN LOOP1      
  FETCH LOOP1 INTO   @MODEL_SEQ, @YEAR_START, @YEAR_END    
 WHILE @@FETCH_STATUS = 0       
 BEGIN     

 DECLARE @MIN INT SET @MIN = @YEAR_START 
 DECLARE @MAX INT SET @MAX = @YEAR_END 

 WHILE  @MIN <= @MAX
	BEGIN 
		INSERT INTO [IFRS_ME_FL_SCALAR_MODELLED_ODR]
		(PERIOD_DATE
		,BASE_PERIOD_FORECAST
		,SCALAR_ID
		,MODEL_ID
		,MODEL_SEQ
		,FL_YEAR
		,SCENARIO_NO
		,SCENARIO_NAME
		,LOGIT_ACTUAL_ODR
		,ACTUAL_ODR
		,LOGIT_MODELLED_ODR
		,MODELLED_ODR
		,SCALAR
		,CREATEDBY
		,CREATEDDATE)
		SELECT PERIOD_DATE
		,BASE_PERIOD_FORECAST
		,SCALAR_ID
		,MODEL_ID
		,MODEL_SEQ
		,@MIN AS FL_YEAR
		,SCENARIO_NO
		,SCENARIO_NAME
		,LOGIT_ACTUAL_ODR
		,ACTUAL_ODR
		,LOGIT_MODELLED_ODR
		,MODELLED_ODR
		,SCALAR
		,'SYSTEM' CREATEDBY
		,GETDATE() AS CREATEDDATE FROM #BASE_MODELLED 
		
		SET @MIN  = @MIN +1
	END
 FETCH NEXT FROM LOOP1 INTO   @MODEL_SEQ, @YEAR_START, @YEAR_END           
CLOSE LOOP1      
DEALLOCATE LOOP1 
END


END
GO
