USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKIMPOVERCIF]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_CHECKIMPOVERCIF]
(
	@customerNumber VARCHAR(4000)
)
AS
BEGIN

    SELECT *
    FROM IFRS_IMP_OVERRIDE 
    WHERE CUSTOMER_NUMBER = @customerNumber;

END;

GO
