USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_OVERRIDE_ACCOUNT_LIST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_OVERRIDE_ACCOUNT_LIST](
 @CIF VARCHAR(100),
 @BUSINESS_UNIT VARCHAR(20),  
 @DOWNLOAD_DATE VARCHAR(100)
)
AS
BEGIN
     
 SELECT      
  MASTERID,   
  ACCOUNT_NUMBER,
  CASE WHEN DATA_SOURCE = 'LIMIT_T24' THEN UNUSED_AMOUNT ELSE OUTSTANDING END OUTSTANDING,
  LOAN_DUE_DATE,
  ISNULL(PLAFOND, 0) AS PLAFOND,
  DAY_PAST_DUE,
  BI_COLLECTABILITY,
  DATA_SOURCE,
  PRODUCT_GROUP,
  CURRENCY
 FROM IFRS_MASTER_ACCOUNT    
 WHERE CUSTOMER_NUMBER = @CIF
	AND DOWNLOAD_DATE = @DOWNLOAD_DATE    
	AND DATA_SOURCE <> 'LIMIT'  
	AND DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND PARENTCOMMONCODEVALUE = @BUSINESS_UNIT AND ISNULL(IS_DELETE,0) = 0)
 ORDER BY MASTERID
    
END   

GO
