USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_ME_MODEL_DERIVED_VARIABLE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_ME_MODEL_DERIVED_VARIABLE](@PKID BIGINT=0)
AS
BEGIN
	SET NOCOUNT ON;

	DELETE TMP_IFRS_ME_SEASONAL_ADJ
	WHERE MODEL_ID = @PKID

	INSERT INTO TMP_IFRS_ME_SEASONAL_ADJ
	(
		MODEL_ID,
		ME_CODE,
		ME_PERIOD,
		DERIVED_TYPE,
		ME_VAL
	)
	SELECT A.MODEL_ID,
		B.ME_CODE, 
		B.ME_PERIOD,
		B.ME_CODE AS DERIVED_TYPE, 
		B.ME_VAL AS ME_VAL
	FROM TMP_IFRS_INDEPENDENT_VARIABLE A
	JOIN IFRS_MACRO_ECONOMIC B
	ON A.MACRO_ECONOMIC_CODE = B.ME_CODE
		AND A.MODEL_ID = @PKID
	ORDER BY B.ME_CODE,
		B.ME_PERIOD;

	INSERT INTO TMP_IFRS_ME_SEASONAL_ADJ
	(
		MODEL_ID,
		ME_CODE,
		ME_PERIOD,
		DERIVED_TYPE,
		ME_VAL
	)
	SELECT A.MODEL_ID,
		B.ME_CODE, 
		B.ME_PERIOD,
		B.ME_CODE + '_DIFF_YOY' AS DERIVED_TYPE, 
		ISNULL(B.ME_VAL,0) - ISNULL(C.ME_VAL,0) AS ME_VAL
	FROM TMP_IFRS_INDEPENDENT_VARIABLE A
	JOIN IFRS_MACRO_ECONOMIC B
	ON A.MACRO_ECONOMIC_CODE = B.ME_CODE
		AND A.MODEL_ID = @PKID
	JOIN IFRS_MACRO_ECONOMIC C
	ON A.MACRO_ECONOMIC_CODE = C.ME_CODE
		AND C.ME_PERIOD = DATEADD(YEAR,-1,B.ME_PERIOD)
	ORDER BY B.ME_CODE,
		B.ME_PERIOD;

	INSERT INTO TMP_IFRS_ME_SEASONAL_ADJ
	(
		MODEL_ID,
		ME_CODE,
		ME_PERIOD,
		DERIVED_TYPE,
		ME_VAL
	)
	SELECT DISTINCT A.MODEL_ID,
		B.ME_CODE,
		B.ME_PERIOD, 
		B.ME_CODE + '_AVG_YEAR' AS DERIVED_TYPE, 
		C.ME_VAL
	FROM TMP_IFRS_INDEPENDENT_VARIABLE A
	JOIN IFRS_MACRO_ECONOMIC B
	ON A.MACRO_ECONOMIC_CODE = B.ME_CODE
		AND A.MODEL_ID = @PKID
	LEFT JOIN
	(
		SELECT BB.ME_PERIOD, 
			BB.ME_CODE, 
			COUNT(CC.ME_PERIOD) AS COUNT_ME_PERIOD,
			AVG(ISNULL(CC.ME_VAL,0)) AS ME_VAL
		FROM TMP_IFRS_INDEPENDENT_VARIABLE AA
		JOIN IFRS_MACRO_ECONOMIC BB
		ON AA.MACRO_ECONOMIC_CODE = BB.ME_CODE
			AND AA.MODEL_ID = @PKID
		JOIN IFRS_MACRO_ECONOMIC CC
		ON AA.MACRO_ECONOMIC_CODE = CC.ME_CODE
			AND CC.ME_PERIOD IN (BB.ME_PERIOD, DATEADD(MONTH,-3,BB.ME_PERIOD), DATEADD(MONTH,-6,BB.ME_PERIOD), DATEADD(MONTH,-9,BB.ME_PERIOD))
		GROUP BY BB.ME_PERIOD,
			BB.ME_CODE
	) C
	ON B.ME_CODE = C.ME_CODE
		AND B.ME_PERIOD = C.ME_PERIOD
		AND C.COUNT_ME_PERIOD = 4
	ORDER BY B.ME_CODE,
		B.ME_PERIOD;

	INSERT INTO TMP_IFRS_ME_SEASONAL_ADJ
	(
		MODEL_ID,
		ME_CODE,
		ME_PERIOD,
		DERIVED_TYPE,
		ME_VAL
	)
	SELECT DISTINCT A.MODEL_ID,
		A.ME_CODE,
		A.ME_PERIOD, 
		A.ME_CODE + '_YAVG_DIFF_YOY' AS DERIVED_TYPE, 
		CASE WHEN B.ME_VAL IS NOT NULL THEN
			A.ME_VAL - B.ME_VAL
		END
	FROM TMP_IFRS_ME_SEASONAL_ADJ A
	LEFT JOIN TMP_IFRS_ME_SEASONAL_ADJ B
	ON A.DERIVED_TYPE = B.DERIVED_TYPE
	AND A.DERIVED_TYPE LIKE '%_AVG_YEAR'
	AND B.ME_PERIOD = DATEADD(YEAR, -1, A.ME_PERIOD)
	WHERE A.MODEL_ID = @PKID
	    AND B.MODEL_ID =  @PKID
		AND B.DERIVED_TYPE IS NOT NULL
	ORDER BY A.ME_CODE, 
		A.ME_PERIOD;

    SELECT MODEL_ID, ME_CODE, ME_PERIOD, DERIVED_TYPE, ROUND(ME_VAL,6) ME_VAL, SEASONAL_ADJUSTMENT, MONTH(ME_PERIOD) / 3 AS ME_QTR
	FROM TMP_IFRS_ME_SEASONAL_ADJ
	WHERE MODEL_ID = @PKID
		AND ME_VAL IS NOT NULL
		--and DERIVED_TYPE = 'CPI_QAVG_YAVG_DIFF_YOY'
	ORDER BY DERIVED_TYPE, ME_PERIOD;
END;



GO
