USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_TmpModelMEDependent]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_TmpModelMEDependent]
(
    @MACRO_ECONOMIC_CODE varchar(50)='',
    @PKID int=0,
    @CreatedBy  varchar(36)='',
    @CreatedHost  varchar(36)=''
)
AS
BEGIN
    
    INSERT INTO TMP_IFRS_DEPENDENT_VARIABLE
    (
        MODEL_ID,
        MACRO_ECONOMIC_CODE,
        CreatedBy,
        CreatedDate,
        CreatedHost
    )
    VALUES
    (
        @PKID,
        @MACRO_ECONOMIC_CODE,
        @CreatedBy,
        getdate(),
        @CreatedHost
    );

END;

GO
