USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPDEFAULTRULE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUPDEFAULTRULE](
@LAGONEMONTH BIT = 0)  
AS      
BEGIN      
DECLARE @DEFAULT VARCHAR(50)

IF @LAGONEMONTH = 1
	SET @DEFAULT = 'DEFAULT_RULE'
ELSE
	SET @DEFAULT = 'DEFAULT_RULE_NOLAG'

	SELECT PKID AS DEFAULT_RULE_ID,  
		RULE_NAME AS "Default Rule"      
	FROM IFRS_SCENARIO_RULES_HEADER  
	WHERE RULE_TYPE = @DEFAULT   
		AND ISNULL(IS_DELETE,0) = 0    
       
END;

GO
