USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_LIGHTPDMODELH]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_LIGHTPDMODELH]  
(
	@PKID bigint = 0
)
AS     
BEGIN

	DELETE FROM dbo.IFRS_LIGHT_PD_CONFIG
	WHERE PKID = @PKID
   
END

GO
