USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FUNDINGMODULEINITIALCOST]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_FUNDINGMODULEINITIALCOST]    
(    
    @DDATE_MAID VARCHAR(50)=''    
)    
AS    
BEGIN    
    
        --SELECT ACCTNO,    
        --    CASE WHEN FLAG_REVERSE = 'Y' THEN    
        --        ABS (AMOUNT) * -1    
        --    ELSE    
        --        ABS (AMOUNT)    
        --    END AS AMOUNT_COST,    
        --    CCY,    
        --    DOWNLOAD_DATE,    
        --    TRX_CODE
			    
        --FROM IFRS_LI_ACCT_COST_FEE (NOLOCK)    
        --WHERE FLAG_CF = 'C'    
        --    AND STATUS IN ('PRO', 'PNL', 'ACT')    
        --    AND SRCPROCESS = 'TRAN_DAILY'    
        --    AND MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))    
        --    AND DOWNLOAD_DATE <= CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10), 111);  
		
		SELECT ACCTNO,    
            CASE WHEN FLAG_REVERSE = 'Y' THEN    
                ABS (AMOUNT) * -1    
            ELSE    
                ABS (AMOUNT)    
            END AS AMOUNT_COST,    
            IACF.CCY,    
            DOWNLOAD_DATE,    
            IACF.TRX_CODE,  
			TRANSACTION_DESC    
        FROM IFRS_LI_ACCT_COST_FEE IACF (NOLOCK)  
		LEFT JOIN IFRS_MASTER_TRANS_PARAM ITP (NOLOCK)  
		ON IACF.TRX_CODE = ITP.TRX_CODE  
		AND IACF.PRD_CODE = ITP.PRD_CODE  
		AND (IACF.CCY = ITP.CCY OR ITP.CCY = 'ALL')  
        WHERE FLAG_CF = 'C'    
            AND STATUS IN ('PRO', 'PNL', 'ACT')    
            AND SRCPROCESS = 'TRAN_DAILY'    
            AND MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))    
            AND DOWNLOAD_DATE <= CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10), 111);  
    
END;
GO
