USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_PD_TERM_YEARLY]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_IMP_PD_TERM_YEARLY]      
@DOWNLOAD_DATE DATE = ''            
AS            
BEGIN            
            
DECLARE @V_CURRDATE DATE            
DECLARE @V_PREVDATE DATE            
DECLARE @V_PREVMONTH DATE           
 DECLARE @V_CURRDATE_NOLAG   DATE                                                                            
 DECLARE @V_PREVDATE_NOLAG   DATE              
 DECLARE @V_PREVMONTH_NOLAG DATE          
            
      
  IF @DOWNLOAD_DATE <> ''            
BEGIN             
SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN            
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)            
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))            
      
SET @V_CURRDATE_NOLAG = EOMONTH(@DOWNLOAD_DATE) -- NO LAG            
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)            
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))            
END            
ELSE             
BEGIN             
SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE) )              
FROM IFRS_PRC_DATE            
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)            
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))       
      
SELECT @V_CURRDATE_NOLAG =  EOMONTH(CURRDATE)  FROM IFRS_PRC_DATE               
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)            
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))            
END                 
                
DECLARE @MAX_YEAR INT            
DECLARE @MIN_YEAR INT            
DECLARE @COUNT_MIN INT = 1             
DECLARE @COUNT_MAX INT = 12            
            
--- UPDATE COHORT MODELLED GAMMA FOR NPL BUCKET             
UPDATE A            
SET CUMULATIVE_PD_RATE = 1             
, MARGINAL_PD_RATE = CASE WHEN SEQ_YEAR = 1 THEN 1 ELSE 0 END             
FROM IFRS_MPD_CHR_RESULT_YEARLY A             
INNER JOIN [dbo].[VW_IFRS_MAX_BUCKET] B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_ID  = B.MAX_BUCKET_ID            
INNER JOIN IFRS_PD_RULES_CONFIG C ON A.PD_RULE_ID = C.PKID AND IS_DELETE = 0 AND ACTIVE_FLAG = 1      
WHERE DOWNLOAD_DATE = (CASE WHEN LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(M,C.INCREMENT_PERIOD*-1,@V_CURRDATE)) ELSE EOMONTH(DATEADD(M,C.INCREMENT_PERIOD*-1,@V_CURRDATE_NOLAG))   END )       
      
            
------- INSERT INTO TERM SCTRUCTURE YEARLY COHORT -----------------            
DELETE A       
FROM  [IFRS_PD_TERM_STRUCTURE_NOFL_YEARLY] A       
INNER JOIN IFRS_PD_RULES_CONFIG C ON A.PD_RULE_ID = C.PKID AND IS_DELETE = 0 AND ACTIVE_FLAG = 1      
 WHERE CURR_DATE  = (CASE WHEN LAG_1MONTH_FLAG = 1 THEN @V_CURRDATE ELSE @V_CURRDATE_NOLAG  END)      
            
INSERT INTO [IFRS_PD_TERM_STRUCTURE_NOFL_YEARLY]            
(DOWNLOAD_DATE            
,CURR_DATE            
,PD_RULE_ID            
,PD_RULE_NAME            
,BUCKET_GROUP            
,BUCKET_ID            
,BUCKET_NAME            
,FL_SEQ            
,FL_YEAR            
,PD_RATE            
,CREATEDBY            
,CREATEDDATE            
)            
SELECT DOWNLOAD_DATE            
,CASE WHEN LAG_1MONTH_FLAG = 1 THEN @V_CURRDATE ELSE @V_CURRDATE_NOLAG   END   AS CURR_DATE            
,PD_RULE_ID            
,PD_RULE_NAME            
,A.BUCKET_GROUP            
,A.BUCKET_ID            
,B.BUCKET_NAME            
,A.SEQ_YEAR AS FL_SEQ            
,A.SEQ_YEAR AS FL_YEAR            
,MARGINAL_PD_RATE AS PD_RATE            
,'SYSTEM' AS CREATEDBY            
,GETDATE() AS CREATEDDATE FROM [IFRS_MPD_CHR_RESULT_YEARLY] A            
JOIN (SELECT BUCKET_GROUP, BUCKET_ID, MAX(BUCKET_NAME) AS BUCKET_NAME FROM IFRS_BUCKET_DETAIL GROUP BY BUCKET_GROUP, BUCKET_ID) B      
ON A.BUCKET_GROUP = B.BUCKET_GROUP               
and A.BUCKET_ID=B.BUCKET_ID                     
INNER JOIN IFRS_PD_RULES_CONFIG C ON A.PD_RULE_ID = C.PKID AND C.IS_DELETE = 0 AND C.ACTIVE_FLAG = 1        
WHERE A.DOWNLOAD_DATE = (CASE WHEN LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(M,C.INCREMENT_PERIOD*-1,@V_CURRDATE)) ELSE EOMONTH(DATEADD(M,C.INCREMENT_PERIOD*-1,@V_CURRDATE_NOLAG))   END )         
            
--- MIGRATION              
-- INSERT INTO TERM SCTRUCTURE YEARLY             
INSERT INTO [IFRS_PD_TERM_STRUCTURE_NOFL_YEARLY]            
(DOWNLOAD_DATE            
,CURR_DATE            
,PD_RULE_ID            
,PD_RULE_NAME            
,BUCKET_GROUP            
,BUCKET_ID            
,BUCKET_NAME            
,FL_SEQ            
,FL_YEAR            
,PD_RATE            
,CREATEDBY            
,CREATEDDATE            
)            
SELECT DOWNLOAD_DATE            
,(CASE WHEN LAG_1MONTH_FLAG = 1 THEN @V_CURRDATE ELSE @V_CURRDATE_NOLAG   END ) AS CURR_DATE            
,PD_RULE_ID            
,PD_RULE_NAME            
,A.BUCKET_GROUP            
,A.BUCKET_ID            
,B.BUCKET_NAME            
,A.FL_SEQ AS FL_SEQ            
,A.FL_SEQ AS FL_YEAR            
,MARGINAL_PD_RATE AS PD_RATE            
,'SYSTEM' AS CREATEDBY            
,GETDATE() AS CREATEDDATE FROM [IFRS_PD_MAA_RESULT] A            
JOIN (SELECT BUCKET_GROUP, BUCKET_ID, MAX(BUCKET_NAME) AS BUCKET_NAME FROM IFRS_BUCKET_DETAIL GROUP BY BUCKET_GROUP, BUCKET_ID) B      
ON A.BUCKET_GROUP = B.BUCKET_GROUP               
and A.BUCKET_ID=B.BUCKET_ID                     
INNER JOIN IFRS_PD_RULES_CONFIG C ON A.PD_RULE_ID = C.PKID AND C.IS_DELETE = 0 AND C.ACTIVE_FLAG = 1        
WHERE A.TO_DATE = (CASE WHEN LAG_1MONTH_FLAG = 1 THEN @V_CURRDATE ELSE @V_CURRDATE_NOLAG   END )          
        
        
        
--- INSERT FOR NETFLOWRATE         
         
DELETE A 
FROM IFRS_PD_TERM_STRUCTURE_NOFL_YEARLY A
INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID
WHERE A.CREATEDBY = 'NFR' 
AND B.ACTIVE_FLAG = 1 AND B.IS_DELETE = 0        
        
INSERT INTO  [IFRS_PD_TERM_STRUCTURE_NOFL_YEARLY] (DOWNLOAD_DATE        
,CURR_DATE        
,PD_RULE_ID        
,PD_RULE_NAME        
,BUCKET_GROUP        
,BUCKET_ID        
,BUCKET_NAME        
,FL_SEQ        
,FL_YEAR        
,PD_RATE        
,CREATEDBY        
,CREATEDDATE        
)        
SELECT DOWNLOAD_DATE        
,A.DOWNLOAD_DATE AS CURR_DATE        
,A.PD_RULE_ID        
,A.PD_RULE_NAME        
,A.BUCKET_GROUP        
,A.BUCKET_ID        
,NULL AS BUCKET_NAME        
,1 AS FL_SEQ        
,1 AS FL_YEAR        
,A.PD_RATE        
,'NFR'  AS CREATEDBY        
,A.CREATEDDATE FROM IFRS_PD_NFR_RESULT A     
INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID 
WHERE B.ACTIVE_FLAG = 1 AND B.IS_DELETE = 0
        
      
--- MIGRATION CORPORATE             
-- INSERT INTO TERM SCTRUCTURE YEARLY             
INSERT INTO [IFRS_PD_TERM_STRUCTURE_NOFL_YEARLY]            
(DOWNLOAD_DATE            
,CURR_DATE            
,PD_RULE_ID            
,PD_RULE_NAME            
,BUCKET_GROUP            
,BUCKET_ID            
,BUCKET_NAME            
,FL_SEQ            
,FL_YEAR            
,PD_RATE            
,CREATEDBY            
,CREATEDDATE            
)            
SELECT DOWNLOAD_DATE            
,TO_DATE AS CURR_DATE            
,PD_RULE_ID            
,PD_RULE_NAME            
,A.BUCKET_GROUP            
,A.BUCKET_ID            
,a.BUCKET_NAME            
,A.FL_SEQ AS FL_SEQ            
,A.FL_SEQ AS FL_YEAR            
,MARGINAL_PD_RATE AS PD_RATE            
,'SYSTEM' AS CREATEDBY            
,GETDATE() AS CREATEDDATE FROM [IFRS_PD_MAA_CORP_EXTRAPOLATION] A            
INNER JOIN IFRS_PD_RULES_CONFIG C ON A.PD_RULE_ID = C.PKID AND C.IS_DELETE = 0 AND C.ACTIVE_FLAG = 1        
WHERE A.TO_DATE = (CASE WHEN LAG_1MONTH_FLAG = 1 THEN @V_CURRDATE ELSE @V_CURRDATE_NOLAG   END )         
  
  
  
  
--------------------------------------- PD EXTERNAL FOR TREASURY ------------------------------------  
  
  
IF OBJECT_ID ('TEMPDB.DBO.#MAX_DATE') IS NOT NULL DROP TABLE  #MAX_DATE  
SELECT SEGMENT, MAX(DOWNLOAD_DATE) AS MAX_DATE INTO #MAX_DATE FROM IFRS_PD_EXTERNAL_TREASURY WHERE DOWNLOAD_DATE <= @V_CURRDATE_NOLAG GROUP BY  SEGMENT   
  
IF OBJECT_ID ('TEMPDB.DBO.#EXT_TREASURY') IS NOT NULL DROP TABLE  #EXT_TREASURY  
SELECT A.* INTO #EXT_TREASURY  FROM IFRS_PD_EXTERNAL_TREASURY A  
INNER JOIN  #MAX_DATE B ON A.DOWNLOAD_DATE = B.MAX_DATE AND A.SEGMENT = B.SEGMENT  
  
INSERT INTO [IFRS_PD_TERM_STRUCTURE_NOFL_YEARLY]            
(DOWNLOAD_DATE            
,CURR_DATE            
,PD_RULE_ID            
,PD_RULE_NAME            
,BUCKET_GROUP            
,BUCKET_ID            
,BUCKET_NAME            
,FL_SEQ            
,FL_YEAR            
,PD_RATE            
,CREATEDBY            
,CREATEDDATE            
)            
SELECT  @V_CURRDATE_NOLAG AS DOWNLOAD_DATE            
,@V_CURRDATE_NOLAG AS CURR_DATE            
,C.PKID AS PD_RULE_ID            
,C.TM_RULE_NAME AS PD_RULE_NAME            
,C.BUCKET_GROUP            
,D.BUCKET_ID            
,D.BUCKET_NAME            
,A.REMAINING_TENOR_YEAR AS FL_SEQ            
,A.REMAINING_TENOR_YEAR AS FL_YEAR            
,A.MARGINAL_PD AS PD_RATE            
,'EXTERNAL_TREASURY' AS CREATEDBY            
,GETDATE() AS CREATEDDATE FROM #EXT_TREASURY A     
INNER JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENT  = B.SEGMENT AND B.IS_DELETE = 0  AND B.SEGMENT_TYPE = 'PD_SEGMENT'       
INNER JOIN IFRS_PD_RULES_CONFIG C ON B.PKID = C.SEGMENTATION_ID AND C.IS_DELETE = 0  AND PD_METHOD = 'EXT'   AND C.ACTIVE_FLAG = 1 
INNER JOIN (SELECT DISTINCT BUCKET_GROUP,BUCKET_ID, BUCKET_NAME FROM IFRS_BUCKET_DETAIL WHERE IS_DELETE = 0 AND ACTIVE_FLAG = 1) D   
ON C.BUCKET_GROUP = D.BUCKET_GROUP AND A.RATING_CODE = D.BUCKET_NAME
    
  
  
--------------------------------------- PD EXTERNAL FOR TREASURY ------------------------------------  
   
            
END 

GO
