USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_SETUPBMA]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPD_SETUPBMA]
(@PKID int)
as
begin
	
	UPDATE [IFRS_AC_BM_QUEST] SET IS_DELETE = 1 where PKID = @PKID
	UPDATE [IFRS_AC_BM_MASTER_QUEST_D] SET IS_DELETE = 1 where QUESTIONID=@PKID
	
end

GO
