USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PENDINGAPPROVAL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_PENDINGAPPROVAL]      
 @ScreenID varchar(50),      
 @RefPKId varchar(100)      
as      

 select top 1 b.UserName + ' ('+upper(a.Action)+' | '+cast(GETDATE() as varchar(30)) +')'  
 from tblT_ApprovalHeader a left join tblM_User b on a.CreatedBy=b.PKID      
 where a.ScreenID=@ScreenID      
 and a.RefPKId = @RefPKId      
 and a.Status ='P'    
 





GO
