USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKPARAMCOABSBYGLCODE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_CHECKPARAMCOABSBYGLCODE]
(
	@GLCode varchar(9),
	@PKID bigint = 0
)
AS
BEGIN

	SELECT *
	FROM GL_PARAM_COA_BS_HO
	WHERE GLCode = @GLCode
		and PKID <> @PKID

END;

GO
