USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_APPLICATIONLOG]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPD_APPLICATIONLOG]
(
	@ThreadID VARCHAR(36),    
	@CreatedBy varchar(36),    
	@CreatedHost varchar(32)        
)
AS
BEGIN

    SET NOCOUNT ON;

    BEGIN TRAN

    INSERT INTO tblT_ServiceJobsHeader (JobName, Status, Message, CreatedBy, CreatedHost, CreatedDate)    
    VALUES ('CANCEL_PROCESS', 'Queued', '', @CreatedBy, @CreatedHost, GETDATE());
    
    DECLARE @id BIGINT;
    SELECT @id = @@IDENTITY;
        
    INSERT INTO tblT_ServiceJobsDetail (HeaderID, ParameterName, ParameterValue, CreatedBy, CreatedDate, CreatedHost)    
    VALUES (@id, 'THREAD_ID', @ThreadID, @CreatedBy, GETDATE(), @CreatedHost);

    UPDATE TblT_ApplicationLog 
	SET [Status] = 'Abort Process',
		Finish = GETDATE()
    WHERE ThreadID = @ThreadID;
        
	IF @@ERROR = 0 
		COMMIT TRAN
	ELSE
		ROLLBACK TRAN

END;

GO
