USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDECIFEDIT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERRIDECIFEDIT]
(
	@DCFID BIGINT
)
AS
BEGIN

	SELECT * FROM IFRS_IMP_OVERRIDE
	WHERE DCFID = @DCFID;

END;

GO
