USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ME_PARAMDET_SYSTEM]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPI_ME_PARAMDET_SYSTEM]
(
	@HeaderId bigint=0,
	@MECode varchar(50)='',
	@UploadId bigint=0,
	@tableName varchar(50)='',
	@colPeriod varchar(50)='',
	@colValue varchar(50)='',
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(36)=''
)
as
begin
	
	declare @query varchar(max);

	delete IFRS_MACRO_ECONOMIC where HEADERID = @HeaderId and UPLOADID = @UploadID

	set @query = 'Insert into IFRS_Macro_Economic (HEADERID, UPLOADID, ME_CODE, ME_PERIOD, ME_VAL)
			      SELECT ' + cast(@HeaderID as varchar) + ',' + cast(@UploadId as varchar) + ',''' + @MECode + ''' AS ME_CODE,' + @colPeriod + ',' + @colValue + '
				  FROM ' + @tableName

	exec(@query);


end

GO
