USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CMBECLMODELRESULTDATASOURCE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CMBECLMODELRESULTDATASOURCE]              
AS        
BEGIN        
        
SELECT   DISTINCT(DATA_SOURCE)  FROM IFRS_MASTER_PRODUCT_PARAM WHERE IS_DELETE = 0   
AND INST_CLS_VALUE IN ('A', 'O')    
        
END;
GO
