USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECLPENDINGLGD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_ECLPENDINGLGD]    
@PKID bigint    
AS    
  
 SELECT  
	C.PKID AS RULE_ID  
	,GROUP_SEGMENT  
	,SEGMENT  
	,C.SUB_SEGMENT  
	,CASE WHEN B.LGD_MODEL_ID = 99999 THEN 'LGD_100%' ELSE D.LGD_RULE_NAME END AS RULE_NAME  
	,subtable.SUB_SEGMENT AS LGD_SEGMENT  
	--,COALESCE(E.MODEL_NAME, 'NO MODEL') AS MODEL_NAME  
	,B.EFF_DATE_OPTION  
	,REPLACE(CONVERT(VARCHAR(20),B.EFF_DATE,106), ' ','-') EFF_DATE  
 FROM IFRS_ECL_MODEL_HEADER_PENDING A  
 LEFT JOIN IFRS_ECL_MODEL_DETAIL_LGD_PEND B ON A.PKID = B.ECL_MODEL_ID  
 LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER C ON B.SEGMENTATION_ID = C.PKID  
 LEFT JOIN IFRS_LGD_RULES_CONFIG D ON B.LGD_MODEL_ID = D.PKID  
 LEFT JOIN (SELECT PKID, SUB_SEGMENT FROM IFRS_MSTR_SEGMENT_RULES_HEADER WHERE ISNULL(IS_DELETE, 0) = 0) subtable ON  subtable.PKID = D.SEGMENTATION_ID
 --LEFT JOIN IFRS_MACRO_ECONOMIC_MODEL E ON B.ME_MODEL_ID = E.PKID  
 WHERE A.PKID = @PKID
 ORDER BY C.GROUP_SEGMENT  
		,C.SEGMENT  
		,C.SUB_SEGMENT  

GO
