USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspD_PDLGDEffectiveDate]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[uspD_PDLGDEffectiveDate]  
(
@PKID int
 )
AS  
BEGIN  
 Delete from [dbo].IFRS_ECL_EFFECTIVE_DATE_CTBC

 WHERE PKID = @PKID

END

GO
