USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IMP_TRIGGER_H_PENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IMP_TRIGGER_H_PENDING]
(
	@DOWNLOAD_DATE DATE,
	@EFFECTIVE_DATE DATE,
	@OVERRIDE_NO BIGINT,
	@FLAG_TRIGGERED TINYINT,
	@REMARK VARCHAR(2000),
	@DCFSTATUS VARCHAR(1),
	@CREATEDBY VARCHAR(36),
	@CREATEDHOST VARCHAR(30),
	@PREPAREDBY VARCHAR(50),
	@REVIEWEDBY VARCHAR(50)
)
AS
BEGIN

	INSERT INTO IFRS_IMP_OVERRIDETRIGGERH_PEND
	(
		DOWNLOAD_DATE,
		EFFECTIVE_DATE,
		OVERRIDE_NO,
		FLAG_TRIGGERED,
		REMARK,
		DCFSTATUS,
		CREATEDBY,
		CREATEDHOST,
		PREPAREDBY,
		REVIEWEDBY
	)
	VALUES
	(
		@DOWNLOAD_DATE,
		@EFFECTIVE_DATE,
		@OVERRIDE_NO,
		@FLAG_TRIGGERED,
		@REMARK,
		@DCFSTATUS,
		@CREATEDBY,
		@CREATEDHOST,
		@PREPAREDBY,
		@REVIEWEDBY
	)
	
END

GO
