USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKISRUNNING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_CHECKISRUNNING]
AS
BEGIN
DECLARE @Count int


	SELECT @Count = COUNT(*) FROM IFRS_STATISTIC WHERE ISCOMPLETE = 'N' AND UPPER(REMARK) NOT LIKE '%ERROR%'

	IF @Count = 0
	BEGIN
		SELECT @Count = COUNT(*) FROM IFRS_PRC_DATE WHERE UPPER(BATCH_STATUS) NOT LIKE '%FINISH%' AND UPPER(BATCH_STATUS) NOT LIKE '%ERROR%'

		IF @Count = 0
		BEGIN
			SELECT @Count = COUNT(*) FROM IFRS_PRC_DATE_AMORT WHERE UPPER(BATCH_STATUS) NOT LIKE '%FINISH%' AND UPPER(BATCH_STATUS) NOT LIKE '%ERROR%'
		END
	END
	
	SELECT @Count AS CountRunning

END
GO
