USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_TRUNCATE_TMPTABLE_MACRO]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPD_TRUNCATE_TMPTABLE_MACRO]

as
begin

update TBLM_SEQUENCE set SEQUENCES = 0 where SEQUENCE_NAME = 'ME_MODEL'
truncate table TMP_IFRS_ME_DERIVED_VARIABLE
truncate table TMP_IFRS_ME_FORECAST_DATA
truncate table TMP_IFRS_ME_FORECAST_SCORE
truncate table TMP_IFRS_ME_FORECAST_SCORE_DTL
truncate table TMP_IFRS_ME_MODEL_CORRELATION
truncate table TMP_IFRS_ME_MODEL_PREDICTED_PD
truncate table TMP_IFRS_ME_MODEL_SCALING_FACT
truncate table TMP_IFRS_ME_MODEL_SCENARIO
truncate table TMP_IFRS_DEPENDENT_VARIABLE
truncate table TMP_IFRS_INDEPENDENT_VARIABLE
truncate table TMP_IFRS_MULT_LINEAR_REGR_RESULT
truncate table TMP_IFRS_MACRO_ECONOMIC_MODEL
truncate table IFRS_ME_DERIVED_VARIABLE
truncate table IFRS_ME_FORECAST_DATA
truncate table IFRS_ME_FORECAST_SCORE
truncate table IFRS_ME_FORECAST_SCORE_DETAIL
truncate table IFRS_ME_MODEL_CORRELATION
truncate table IFRS_ME_MODEL_PREDICTED_PD
truncate table IFRS_ME_MODEL_SCALING_FACTOR
truncate table IFRS_ME_MODEL_SCENARIO
truncate table IFRS_DEPENDENT_VARIABLE
truncate table IFRS_INDEPENDENT_VARIABLE
truncate table IFRS_MULT_LINEAR_REGR_RESULT
truncate table IFRS_MACRO_ECONOMIC_MODEL
end

GO
