USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_GL_BALANCESHEETEOM]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_GL_BALANCESHEETEOM]
(
	@Download_Date_From datetime='01/01/2000',      
	@Download_Date_To datetime='01/01/2000',      
	@Currency varchar(5)='',
	@BRANCH_CODE varchar(20)=''       
)
AS
BEGIN  

	set @Download_Date_From = EOMONTH(@Download_Date_From)
	set @Download_Date_To = EOMONTH(@Download_Date_To)

	select * ,
	CONVERT(VARCHAR(20),DOWNLOAD_DATE,103) AS DOWNLOAD_DATE2,
	CURRENCY 'CCY',
	ROUND(BBIFRS*RATE,2) BBIFRSBND , ROUND(ADJIFRS*RATE,2) ADJIFRSBND , ROUND(BAIFRS*RATE,2) BAIFRSBND 
	from GL_FS_FINAL with (nolock)
	Where (upper(Gen1_Desc) like '%ASSETS%' or upper(Gen1_Desc) like '%LIABILITIES%' or upper(Gen1_Desc) like '%EQUITY%') 	and download_date=EOMONTH(download_date)
	and download_date >= @Download_Date_From and download_date <= @Download_Date_To
	and CURRENCY LIKE '%'+@Currency+'%' and source = 'BS' and Branch_code like '%'+@BRANCH_CODE+'%'
	Order by DOWNLOAD_DATE2, GEN1_CODE, GEN2_CODE, GEN3_CODE, GEN4_CODE

END

GO
