USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SERVICEJOB]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_SERVICEJOB]                
  @Status varchar(20)='',                
  @CreatedBy varchar(50)='',                  
  @CreatedHost varchar(50)='',              
  @JobName varchar(50)='',              
  @FILE_NAME varchar(100)='',          
  @SCREEN_ID varchar(100)='',        
  @FILE_TYPE varchar(100)='',          
  @QUERY varchar(500)='',      
  @QUERY_COUNT varchar(100)='',      
  @PARAMETER varchar(2000)='',
  @GRID_ID varchar(100)='',
  @description varchar(100)=''
AS             
BEGIN

	INSERT INTO TBLT_SERVICEJOBSHEADER(JOBNAME,STATUS,CREATEDBY,CREATEDDATE,CREATEDHOST)
	VALUES(@JobName,@Status,@CreatedBy,GETDATE(),@CreatedHost)

	DECLARE @headerid bigint
	SELECT @headerid=max(pkid) FROM TBLT_SERVICEJOBSHEADER
	WHERE JobName=@JobName AND STATUS=@Status AND CREATEDBY=@CreatedBy AND CREATEDHOST=@CreatedHost

	INSERT INTO TBLT_SERVICEJOBSDETAIL(HEADERID,PARAMETERNAME,PARAMETERVALUE,CREATEDBY,CREATEDDATE,CREATEDHOST)                
	SELECT @headerid,'FILE_NAME',@FILE_NAME,@CreatedBy,GETDATE(),@CreatedHost
	UNION ALL
	SELECT @headerid,'SCREEN_ID',@SCREEN_ID,@CreatedBy,GETDATE(),@CreatedHost
	UNION ALL
	SELECT @headerid,'FILE_TYPE',@FILE_TYPE,@CreatedBy,GETDATE(),@CreatedHost
	UNION ALL
	SELECT @headerid,'QUERY',@QUERY,@CreatedBy,GETDATE(),@CreatedHost
	UNION ALL
	SELECT @headerid,'QUERY_COUNT',@QUERY_COUNT,@CreatedBy,GETDATE(),@CreatedHost
	UNION ALL
	SELECT @headerid,'PARAMETER',@PARAMETER,@CreatedBy,GETDATE(),@CreatedHost
	UNION ALL
	SELECT @headerid,'GRID_ID',@GRID_ID,@CreatedBy,GETDATE(),@CreatedHost
	
END

GO
