USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_ECL_CHECK_APPROVAL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPP_ECL_CHECK_APPROVAL]
@ECL_MODEL_ID bigint
AS
	SELECT	* 
	FROM IFRS_ECL_MODEL_HEADER_PENDING	
	WHERE APPROVAL_STATUS = 'P'
		AND [ACTION] <> 'INSERT'
		AND PKID_OLD = @ECL_MODEL_ID

GO
