USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADBSLOANAMOUNT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOADBSLOANAMOUNT]  
(        
 @PERIOD DATE='01-JAN-2000',        
 @DATA_SOURCE varchar(200) = '',  
 @PRODUCT_GROUP VARCHAR(500) = '',  
 @ACCOUNT_STATUS varchar(3)='' ,  
 @SEGMENT VARCHAR(200) = ''  
)        
AS        
BEGIN        
      
 DECLARE @Query VARCHAR(MAX);  
 DECLARE @Query2 VARCHAR(MAX);  
 DECLARE @Query3 VARCHAR(MAX);  
  
 SET @Query2 =   
  '  
  WITH DATAPREVMONTH AS (  
 SELECT A.PKID  
   ,B.[DOWNLOAD_DATE]  
   ,A.[MASTER_ACCOUNT_ID]  
   ,A.[FACILITY_NUMBER]  
   ,A.[ACCOUNT_NUMBER]  
   ,A.[PREVIOUS_ACCOUNT_NUMBER]  
   ,A.[CUSTOMER_NUMBER]  
   ,A.[CUSTOMER_NAME]  
   ,A.[INTEREST_RATE]  
   ,''C'' AS [ACCOUNT_STATUS]  
   ,A.[DATA_SOURCE]  
   ,A.[PRODUCT_TYPE]  
   ,A.[PRODUCT_CODE]  
   ,A.[PRODUCT_GROUP]  
   ,A.[PRODUCT_ENTITY]  
   ,A.[BRANCH_CODE]  
   ,A.[CURRENCY]  
   ,A.[EXCHANGE_RATE]  
   ,A.[RATING_CODE]  
   ,A.[PROJECT_STATUS]  
   ,0 AS [INITIAL_OUTSTANDING]  
   ,0 AS [OUTSTANDING]  
   ,0 AS [OUTSTANDING_JF]  
   ,0 AS [OUTSTANDING_BANK]  
   ,0 AS [OUTSTANDING_PASTDUE]  
   ,0 AS [OUTSTANDING_IDC]  
   ,0 AS [PLAFOND]  
   ,0 AS [PLAFOND_IDC]  
   ,0 AS [PLAFOND_CASH]  
   ,A.[JF_FLAG]  
   ,A.[LOAN_START_DATE]  
   ,A.[LOAN_DUE_DATE]  
   ,A.[INSTALLMENT_GRACE_PERIOD]  
   ,A.[LOAN_START_AMORTIZATION]  
   ,A.[LOAN_END_AMORTIZATION]  
   ,A.[AMORT_TYPE]  
   ,A.[NEXT_PAYMENT_DATE]  
   ,A.[LAST_PAYMENT_DATE]  
   ,A.[FIRST_INSTALLMENT_DATE]  
   ,A.[TENOR]  
   ,A.[PAYMENT_CODE]  
   ,A.[PAYMENT_TERM]  
   ,A.[INTEREST_PAYMENT_TERM]  
   ,A.[EIR_STATUS]  
   ,A.[ECF_STATUS]  
   ,A.[DAY_PAST_DUE]  
   ,A.[CUSTOMER_GRADE]  
   ,A.[ORIGINAL_COLLECTABILITY]  
   ,A.[BI_COLLECTABILITY]  
   ,A.[INTEREST_CALCULATION_CODE]  
   ,A.[EIR]  
   ,0 AS [EIR_AMOUNT]  
   ,0 AS [FAIR_VALUE_AMOUNT]  
   ,0 AS [UNAMORT_COST_AMT]  
   ,0 AS [UNAMORT_FEE_AMT]  
   ,0 AS [DAILY_AMORT_AMT]  
   ,A.[RESIDENCE_TYPE]  
   ,A.[GLOBAL_CUSTOMER_NUMBER]  
   ,A.[MARKET_RATE]  
   ,0 AS [UNUSED_AMOUNT]  
   ,0 AS [UNUSED_IDC_AMOUNT]  
   ,0 AS [DOWN_PAYMENT_AMOUNT]  
   ,0 AS [OTR_AMOUNT]  
   ,A.[PREVIOUS_FACILITY_NUMBER]  
   ,A.[FACILITY_START_DATE]  
   ,A.[IFRS_DAY_PAST_DUE]  
   ,A.[SEGMENT]  
   ,A.[PD_SEGMENT]  
   ,A.[PD_RATE]  
   ,A.[LGD_SEGMENT]  
   ,A.[LGD_RATE]  
   ,A.[IMPAIRED_FLAG]  
   ,A.[IS_IMPAIRED]  
   ,0 AS [PIP_AMOUNT]  
   ,0 AS [PIP_AMOUNT_ORIGINAL]  
   ,0 AS [IIP_AMOUNT]  
   ,0 AS [CA_UNWINDING_AMOUNT]  
   ,0 AS [IA_UNWINDING_AMOUNT]  
   ,0 AS [BEGINNING_BALANCE]  
   ,0 AS [ENDING_BALANCE]  
   ,B.[WRITEBACK]  
   ,B.[CHARGE]  
   ,A.[WRITEOFF_FLAG]  
   ,A.[WRITEOFF_DATE]  
   ,0 AS [OUTSTANDING_WO]  
   ,A.[RECOVERY_DATE]  
   ,0 AS [RECOVERY_AMOUNT]  
   ,A.[RESTRUCTURE_DATE]  
   ,A.[RESTRUCTURE_FLAG]  
   ,A.[STAFF_LOAN_FLAG]  
   ,A.[BELOW_MARKET_FLAG]  
   ,A.[COMMITTED_FLAG]  
   ,0 AS [INSTALLMENT_AMOUNT]  
   ,A.[CUSTOMER_TYPE]  
   ,0 AS [COLLATERAL_AMOUNT]  
   ,0 AS [AYDA_AMOUNT]  
   ,0 AS [COLLATERAL_VALUE_FOR_IMPAIR]  
   ,0 AS [COLLATERAL_VALUE_FOR_NLP]  
   ,0 AS [COLLATERAL_PROV_CALC_AMT]  
   ,A.[COLLATERAL_TYPE]  
   ,0 AS [INITIAL_UNAMORT_TXN_COST]  
   ,0 AS [INITIAL_UNAMORT_ORG_FEE]  
   ,A.[IAS_CLASS]  
   ,A.[AO_NAME]  
   ,A.[AO_CODE]  
   ,A.[REVOLVING_FLAG]  
   ,A.[PAID_DATE]  
   ,A.[BUCKET_GROUP]  
   ,A.[BUCKET_ID]  
   ,A.[DEBTOR_CLASS]  
   ,A.[DEBTOR_GROUP]  
   ,A.[DEBTOR_CATEGORY]  
   ,A.[POST_CODE]  
   ,A.[REGION]  
   ,A.[CITY]  
   ,A.[INDUSTRY_SECTOR]  
   ,A.[ECONOMIC_SECTOR]  
   ,A.[ECONOMIC_SECTOR_OJK]  
   ,A.[FIRST_OVERDUE_DATE]  
   ,A.[NPL_DATE]  
   ,A.[NPL_FLAG]  
   ,A.[BRANCH_CODE_OPEN]  
   ,A.[COMPOUND_FLAG]  
   ,0 AS [UNAMORT_AMT_TOTAL_JF]  
   ,0 AS [UNAMORT_FEE_AMT_JF]  
   ,0 AS [UNAMORT_COST_AMT_JF]  
   ,A.[GL_CONSTNAME]  
   ,0 AS [IA_UNWINDING_SUM_AMOUNT]  
   ,A.[STAGE]  
   ,A.[IFRS9_CLASS]  
   ,A.[CREATED_DATE]  
   ,A.[ORR_INITIAL]  
   ,A.[ORR_REPORTING]  
   ,A.[EXTERNAL_RATING_INITIAL]  
   ,A.[EXTERNAL_RATING_REPORTING]  
   ,A.[SECURITY_PRIORITY]  
   ,A.[ASSET_TYPE_PRODUCT1]  
   ,A.[ASSET_TYPE_PRODUCT2]  
   ,A.[LOW_RISK_PORTFOLIO]  
   ,0 AS [EAD_AMOUNT]  
   ,A.[PD_METHOD]  
   ,A.[LGD_METHOD]  
   ,0 AS [ORIGINAL_TENOR]  
   ,0 AS [RESIDUAL_TENOR]  
   ,0 AS [INTEREST_ACCRUED]  
   ,A.[GROUP_INITIAL]  
   ,A.[GROUP_REPORTING]  
   ,A.[GROUP_ORR_REPORTING]  
   ,0 AS [ECL_AMOUNT]  
   ,0 AS [UNAMORT_DISCOUNT_PREMIUM]  
   ,A.[DELTA_PD]  
   ,A.[SME_FLAG]  
   ,A.[INITIAL_STAGE]  
   ,A.[FINAL_GROUP_REPORTING]  
   ,A.[EMPLOYER_ID]  
   ,A.[CUSTOMER_SEGMENT]  
   ,0 AS [PURCHASE_AMOUNT]  
   ,0 AS [MARKET_AMOUNT]  
   ,0 AS [DISCOUNT_PREMIUM_AMOUNT]  
   ,A.[LOAN_TERM]  
   ,A.[PD_RULE_ID]  
   ,A.[LGD_RULE_ID]  
   ,A.[EAD_RULE_ID]  
   ,0 AS [LOAN_ACC]  
   ,A.[SWIFT_CODE]  
   ,A.[SECURITIES_TYPE]  
   ,A.[EAD_SEGMENT]  
   ,A.[INV_TYPE]  
   ,A.[CATEGORY_PORTFOLIO]  
   ,0 AS [OVERDUE_INTEREST]  
   ,0 AS [INTEREST_ACCRUED_ORI]  
   ,0 AS [UNREALIZED_GAIN_LOSS]  
   ,A.SUB_SECTOR_CD  
   ,A.ENTITY_TYPE  
   ,B.MTD_UNWINDING  
   ,0 AS NORMAL_FLAG  
   ,A.EAD_PRINCIPLE_SECURITIES  
   ,A.EAD_INTEREST_SECURITIES  
   ,A.ECL_PRINCIPLE_SECURITIES  
   ,A.ECL_INTEREST_SECURITIES  
 FROM IFRS_MASTER_ACCOUNT_MONTHLY A  
 INNER JOIN (  
  SELECT DOWNLOAD_DATE, ACCOUNT_NUMBER, SUM(WRITEBACK) WRITEBACK ,SUM(CHARGE) CHARGE, SUM (MTD_UNWINDING) MTD_UNWINDING FROM (  
   SELECT X.DOWNLOAD_DATE, X.ACCOUNT_NUMBER,   
    CASE WHEN JOURNAL_TYPE in (''BKPI'', ''BKIP'') and REVERSAL_FLAG = ''Y'' THEN X.AMOUNT ELSE 0.000000 END WRITEBACK,  
    CASE WHEN JOURNAL_TYPE in (''BKPI'', ''BKIP'') and REVERSAL_FLAG = ''N'' THEN X.AMOUNT ELSE 0.000000 END CHARGE,  
    CASE WHEN JOURNAL_TYPE in (''BIUW'', ''BKUW'') and REVERSAL_FLAG = ''Y'' THEN -X.AMOUNT  
      WHEN JOURNAL_TYPE in (''BIUW'', ''BKUW'') and REVERSAL_FLAG = ''N'' THEN X.AMOUNT ELSE 0.000000 END MTD_UNWINDING  
   FROM  IFRS_IMP_JOURNAL_DATA  X  
   LEFT JOIN IFRS_MASTER_ACCOUNT_MONTHLY  Y ON X.DOWNLOAD_DATE = Y.DOWNLOAD_DATE AND X.ACCOUNT_NUMBER = Y.ACCOUNT_NUMBER   
   WHERE Y.ACCOUNT_NUMBER IS NULL  
       AND TXN_TYPE = ''DB'' and x.Download_date = ''' + CAST(@PERIOD AS VARCHAR(500)) + ''' ) Z  
  GROUP BY DOWNLOAD_DATE, ACCOUNT_NUMBER    
 )B ON A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER AND EOMONTH(A.DOWNLOAD_DATE) = EOMONTH(DATEADD(MONTH,-1,B.DOWNLOAD_DATE)) AND B.dOWNLOAD_DATE = ''' + CAST(@PERIOD AS VARCHAR(500)) + '''  
 )'  
  
 SET @Query3 =   
  '  
  ,CURRMONTH AS (  
 SELECT A.PKID  
   ,A.[DOWNLOAD_DATE]  
   ,A.[MASTER_ACCOUNT_ID]  
   ,A.[FACILITY_NUMBER]  
   ,A.[ACCOUNT_NUMBER]  
   ,A.[PREVIOUS_ACCOUNT_NUMBER]  
   ,A.[CUSTOMER_NUMBER]  
   ,A.[CUSTOMER_NAME]  
   ,A.[INTEREST_RATE]  
   ,A.[ACCOUNT_STATUS]  
   ,A.[DATA_SOURCE]  
   ,A.[PRODUCT_TYPE]  
   ,A.[PRODUCT_CODE]  
   ,A.[PRODUCT_GROUP]  
   ,A.[PRODUCT_ENTITY]  
   ,A.[BRANCH_CODE]  
   ,A.[CURRENCY]  
   ,A.[EXCHANGE_RATE]  
   ,A.[RATING_CODE]  
   ,A.[PROJECT_STATUS]  
   ,A.[INITIAL_OUTSTANDING]  
   ,A.[OUTSTANDING]  
   ,A.[OUTSTANDING_JF]  
   ,A.[OUTSTANDING_BANK]  
   ,A.[OUTSTANDING_PASTDUE]  
   ,A.[OUTSTANDING_IDC]  
   ,A.[PLAFOND]  
   ,A.[PLAFOND_IDC]  
   ,A.[PLAFOND_CASH]  
   ,A.[JF_FLAG]  
   ,A.[LOAN_START_DATE]  
   ,A.[LOAN_DUE_DATE]  
   ,A.[INSTALLMENT_GRACE_PERIOD]  
   ,A.[LOAN_START_AMORTIZATION]  
   ,A.[LOAN_END_AMORTIZATION]  
   ,A.[AMORT_TYPE]  
   ,A.[NEXT_PAYMENT_DATE]  
   ,A.[LAST_PAYMENT_DATE]  
   ,A.[FIRST_INSTALLMENT_DATE]  
   ,A.[TENOR]  
   ,A.[PAYMENT_CODE]  
   ,A.[PAYMENT_TERM]  
   ,A.[INTEREST_PAYMENT_TERM]  
   ,A.[EIR_STATUS]  
   ,A.[ECF_STATUS]  
   ,A.[DAY_PAST_DUE]  
   ,A.[CUSTOMER_GRADE]  
   ,A.[ORIGINAL_COLLECTABILITY]  
   ,A.[BI_COLLECTABILITY]  
   ,A.[INTEREST_CALCULATION_CODE]  
   ,A.[EIR]  
   ,A.[EIR_AMOUNT]  
   ,A.[FAIR_VALUE_AMOUNT]  
   ,A.[UNAMORT_COST_AMT]  
   ,A.[UNAMORT_FEE_AMT]  
   ,A.[DAILY_AMORT_AMT]  
   ,A.[RESIDENCE_TYPE]  
   ,A.[GLOBAL_CUSTOMER_NUMBER]  
   ,A.[MARKET_RATE]  
   ,A.[UNUSED_AMOUNT]  
   ,A.[UNUSED_IDC_AMOUNT]  
   ,A.[DOWN_PAYMENT_AMOUNT]  
   ,A.[OTR_AMOUNT]  
   ,A.[PREVIOUS_FACILITY_NUMBER]  
   ,A.[FACILITY_START_DATE]  
   ,A.[IFRS_DAY_PAST_DUE]  
   ,A.[SEGMENT]  
   ,A.[PD_SEGMENT]  
   ,A.[PD_RATE]  
   ,A.[LGD_SEGMENT]  
   ,A.[LGD_RATE]  
   ,A.[IMPAIRED_FLAG]  
   ,A.[IS_IMPAIRED]  
   ,A.[PIP_AMOUNT]  
   ,A.[PIP_AMOUNT_ORIGINAL]  
   ,A.[IIP_AMOUNT]  
   ,A.[CA_UNWINDING_AMOUNT]  
   ,A.[IA_UNWINDING_AMOUNT]  
   ,A.[BEGINNING_BALANCE]  
   ,A.[ENDING_BALANCE]  
   ,A.[WRITEBACK]  
   ,A.[CHARGE]  
   ,A.[WRITEOFF_FLAG]  
   ,A.[WRITEOFF_DATE]  
   ,A.[OUTSTANDING_WO]  
   ,A.[RECOVERY_DATE]  
   ,A.[RECOVERY_AMOUNT]  
   ,A.[RESTRUCTURE_DATE]  
   ,A.[RESTRUCTURE_FLAG]  
   ,A.[STAFF_LOAN_FLAG]  
   ,A.[BELOW_MARKET_FLAG]  
   ,A.[COMMITTED_FLAG]  
   ,A.[INSTALLMENT_AMOUNT]  
   ,A.[CUSTOMER_TYPE]  
   ,A.[COLLATERAL_AMOUNT]  
   ,A.[AYDA_AMOUNT]  
   ,A.[COLLATERAL_VALUE_FOR_IMPAIR]  
   ,A.[COLLATERAL_VALUE_FOR_NLP]  
   ,A.[COLLATERAL_PROV_CALC_AMT]  
   ,A.[COLLATERAL_TYPE]  
   ,A.[INITIAL_UNAMORT_TXN_COST]  
   ,A.[INITIAL_UNAMORT_ORG_FEE]  
   ,A.[IAS_CLASS]  
   ,A.[AO_NAME]  
   ,A.[AO_CODE]  
   ,A.[REVOLVING_FLAG]  
   ,A.[PAID_DATE]  
   ,A.[BUCKET_GROUP]  
   ,A.[BUCKET_ID]  
   ,A.[DEBTOR_CLASS]  
   ,A.[DEBTOR_GROUP]  
   ,A.[DEBTOR_CATEGORY]  
   ,A.[POST_CODE]  
   ,A.[REGION]  
   ,A.[CITY]  
   ,A.[INDUSTRY_SECTOR]  
   ,A.[ECONOMIC_SECTOR]  
   ,A.[ECONOMIC_SECTOR_OJK]  
   ,A.[FIRST_OVERDUE_DATE]  
   ,A.[NPL_DATE]  
   ,A.[NPL_FLAG]  
   ,A.[BRANCH_CODE_OPEN]  
   ,A.[COMPOUND_FLAG]  
   ,A.[UNAMORT_AMT_TOTAL_JF]  
   ,A.[UNAMORT_FEE_AMT_JF]  
   ,A.[UNAMORT_COST_AMT_JF]  
   ,A.[GL_CONSTNAME]  
   ,A.[IA_UNWINDING_SUM_AMOUNT]  
   ,A.[STAGE]  
   ,A.[IFRS9_CLASS]  
   ,A.[CREATED_DATE]  
   ,A.[ORR_INITIAL]  
   ,A.[ORR_REPORTING]  
   ,A.[EXTERNAL_RATING_INITIAL]  
   ,A.[EXTERNAL_RATING_REPORTING]  
   ,A.[SECURITY_PRIORITY]  
   ,A.[ASSET_TYPE_PRODUCT1]  
   ,A.[ASSET_TYPE_PRODUCT2]  
   ,A.[LOW_RISK_PORTFOLIO]  
   ,A.[EAD_AMOUNT]  
   ,A.[PD_METHOD]  
   ,A.[LGD_METHOD]  
   ,A.[ORIGINAL_TENOR]  
   ,A.[RESIDUAL_TENOR]  
   ,A.[INTEREST_ACCRUED]  
   ,A.[GROUP_INITIAL]  
   ,A.[GROUP_REPORTING]  
   ,A.[GROUP_ORR_REPORTING]  
   ,A.[ECL_AMOUNT]  
   ,A.[UNAMORT_DISCOUNT_PREMIUM]  
   ,A.[DELTA_PD]  
   ,A.[SME_FLAG]  
   ,A.[INITIAL_STAGE]  
   ,A.[FINAL_GROUP_REPORTING]  
   ,A.[EMPLOYER_ID]  
   ,A.[CUSTOMER_SEGMENT]  
   ,A.[PURCHASE_AMOUNT]  
   ,A.[MARKET_AMOUNT]  
   ,A.[DISCOUNT_PREMIUM_AMOUNT]  
   ,A.[LOAN_TERM]  
   ,A.[PD_RULE_ID]  
   ,A.[LGD_RULE_ID]  
   ,A.[EAD_RULE_ID]  
   ,A.[LOAN_ACC]  
   ,A.[SWIFT_CODE]  
   ,A.[SECURITIES_TYPE]  
   ,A.[EAD_SEGMENT]  
   ,A.[INV_TYPE]  
   ,A.[CATEGORY_PORTFOLIO]  
   ,A.[OVERDUE_INTEREST]  
   ,A.[INTEREST_ACCRUED_ORI]  
   ,A.[UNREALIZED_GAIN_LOSS]  
   ,A.[SUB_SECTOR_CD]  
   ,A.[ENTITY_TYPE]  
   ,0 AS MTD_UNWINDING  
   ,1 AS NORMAL_FLAG  
   ,A.EAD_PRINCIPLE_SECURITIES  
   ,A.EAD_INTEREST_SECURITIES  
   ,A.ECL_PRINCIPLE_SECURITIES  
   ,A.ECL_INTEREST_SECURITIES  
 FROM IFRS_MASTER_ACCOUNT_MONTHLY A  
 WHERE A.DOWNLOAD_DATE = ''' + CAST(@PERIOD AS VARCHAR(500)) + ''')'  
  
 SET @Query = '  
  SELECT   
      A.DOWNLOAD_DATE "DOWNLOAD DATE",  
   A.BRANCH_CODE "BRANCH ID",  
   TC.VALUE2 "BRANCH DESC",  
   A.SEGMENT "SEGMENT",  
   A.CUSTOMER_NUMBER "CUSTOMER NUMBER",       
   A.CUSTOMER_NAME "CUSTOMER NAME",       
   A.AO_CODE "AO CODE",       
   A.AO_NAME "AO NAME",   
   A.DATA_SOURCE "DATA SOURCE",  
   CASE WHEN A.LOW_RISK_PORTFOLIO = 1 THEN  ''Y'' ELSE ''N'' END  "LOW RISK PORTFOLIO",  
   A.PRODUCT_GROUP "PRODUCT GROUP",  
   A.PRODUCT_CODE "PRODUCT CODE",  
   B.PRD_DESC "PRODUCT NAME",  
   A.ACCOUNT_NUMBER "ACCOUNT NUMBER",  
   A.DAY_PAST_DUE "DPD",  
   A.BI_COLLECTABILITY "BI COLLECTABILITY",     
   A.ACCOUNT_STATUS "ACCOUNT STATUS",  
   A.CURRENCY "CURRENCY",  
   ISNULL(A.OUTSTANDING,0) "OUTSTANDING",  
   ISNULL(A.INTEREST_ACCRUED,0) "ACCRUED INTEREST",  
   ISNULL(A.CA_UNWINDING_AMOUNT, 0) + ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0) "UNWINDING",  
   CASE WHEN ISNULL(A.CA_UNWINDING_AMOUNT, 0)  < 0 THEN 0   
   ELSE ISNULL(A.CA_UNWINDING_AMOUNT, 0) END +  
   CASE WHEN ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0)  < 0 THEN 0   
   ELSE ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0) END AS "UNWINDING (>=0)",  
   ISNULL(A.UNAMORT_COST_AMT,0) "UNAMORTIZED COST",  
   ISNULL(A.UNAMORT_FEE_AMT,0) "UNAMORTIZED FEE",  
   ISNULL(A.MARKET_AMOUNT,0) "MARKET AMOUNT",  
   ISNULL(A.UNREALIZED_GAIN_LOSS,0) "UNREALIZED P&L",  
   ISNULL(A.LOAN_ACC,0) "LOAN ACC",  
   ISNULL(A.EAD_AMOUNT,0) "EAD AMOUNT",  
   ISNULL(A.ECL_AMOUNT,0) "ECL",   
   CASE WHEN ISNULL(A.ECL_AMOUNT,0)<0 THEN 0 ELSE ISNULL(A.ECL_AMOUNT,0) END - CASE WHEN ISNULL(A.CA_UNWINDING_AMOUNT, 0)  < 0 THEN 0   
   ELSE ISNULL(A.CA_UNWINDING_AMOUNT, 0) END -  
   CASE WHEN ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0)  < 0 THEN 0   
   ELSE ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0) END "ECL AMOUNT - NET",    
   CASE WHEN A.NORMAL_FLAG = 1 THEN  
   (((CASE  WHEN ISNULL(A.CA_UNWINDING_AMOUNT, 0) < 0 THEN 0 ELSE ISNULL(A.CA_UNWINDING_AMOUNT, 0) END  + CASE WHEN ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0) < 0 THEN 0 ELSE ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0) END)) * ISNULL(A.EXCHANGE_RATE, 0))   
    -(((CASE WHEN ISNULL(C.CA_UNWINDING_AMOUNT, 0) < 0 THEN 0 ELSE ISNULL(C.CA_UNWINDING_AMOUNT, 0) END + CASE WHEN ISNULL(C.IA_UNWINDING_SUM_AMOUNT, 0) < 0 THEN 0 ELSE ISNULL(C.IA_UNWINDING_SUM_AMOUNT, 0)  END)) * ISNULL(C.EXCHANGE_RATE, 0))   
   ELSE A.MTD_UNWINDING * ISNULL(C.EXCHANGE_RATE, 0) END  AS "MTD UNWINDING in IDR",  
   0 AS "MTD AMORTIZED FEE IN IDR",  
   0 AS "MTD AMORTIZED COST IN IDR",  
   ISNULL(A.CHARGE,0) "CHARGE",  
   ISNULL(A.WRITEBACK,0) "WRITEBACK",  
   GLUWBS.GL_CODE as "GL UNWINDING BS",  
   GLUWPL.GL_CODE as "GL UNWINDING PL",  
   GLUBS.GL_CODE as "GL UNAMORTIZED BS",  
   GLUPS.GL_CODE as "GL UNAMORTIZED PL",  
   GLIPBS.GL_CODE as "GL IMPAIRMENT BS",  
   GLIPBL.GL_CODE as "GL IMPAIRMENT PL",  
   CASE WHEN ISNULL(C.ECL_AMOUNT,0) < 0 THEN 0 ELSE ISNULL(C.ECL_AMOUNT,0) END "ECL PREV",  
   C.GL_CODE_BS as "GL IMPAIRMENT BS PREV",  
   C.GL_CODE_PL as "GL IMPAIRMENT PL PREV",  
   A.LGD_SEGMENT as "LGD SEGMENT",   
   A.BUCKET_GROUP as "BUCKET GROUP" ,   
   A.STAGE as "STAGE",  
   CASE WHEN A.COMMITTED_FLAG = 1 THEN ''Y''   
    WHEN  A.COMMITTED_FLAG = 0 THEN  ''N'' END AS "COMMITED FLAG",  
   ISNULL(CAST(A.SUB_SECTOR_CD AS VARCHAR(10)),'' '') as "SUB SECTOR CODE",  
   A.ENTITY_TYPE as "ENTITY TYPE",  
   A.ORR_INITIAL AS "ORR INITIAL",  
   A.ORR_REPORTING AS "ORR REPORTING",  
   E.TOTAL_PV_CF AS "FAIR VALUE",  
   E.TOT_ADJUST AS "MTM ADJUSTMENT",  
   ISNULL(A.EAD_PRINCIPLE_SECURITIES,0) "EAD_PRINCIPLE_SECURITIES",  
   ISNULL(A.EAD_INTEREST_SECURITIES,0) "EAD_INTEREST_SECURITIES",  
   ISNULL(A.ECL_PRINCIPLE_SECURITIES,0) "ECL_PRINCIPLE_SECURITIES",  
   ISNULL(A.ECL_INTEREST_SECURITIES,0) "ECL_INTEREST_SECURITIES"  
  FROM (SELECT * FROM CURRMONTH  
     UNION   
              SELECT  * FROM DATAPREVMONTH) A   
   LEFT JOIN IFRS_NOMINATIF_MONTHLY D  
    ON A.DOWNLOAD_DATE=D.DOWNLOAD_DATE  
    AND A.MASTER_ACCOUNT_ID=D.MASTER_ACCOUNT_ID  
   LEFT JOIN IFRS_EIR_ADJUSTMENT E  
    ON A.DOWNLOAD_DATE=E.DOWNLOAD_DATE  
    AND A.MASTER_ACCOUNT_ID=E.MASTER_ACCOUNT_ID  
   LEFT JOIN   
   (  
    select x.*,GLIPBS_prev.GL_CODE as GL_CODE_BS,GLIPBL_prev.GL_CODE as GL_CODE_PL  
       from IFRS_MASTER_ACCOUNT_MONTHLY x  
    LEFT JOIN  
      (  
      select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME,CCY from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''CR''   
      ) GLIPBS_Prev  
     on case when x.IMPAIRED_FLAG=''I'' then ''BKIP'' else ''BKPI'' end = GLIPBS_Prev.IFRS_ACCT_TYPE  
     and x.GL_CONSTNAME=GLIPBS_Prev.GL_CONSTNAME  
     AND (X.CURRENCY=GLIPBS_Prev.CCY OR GLIPBS_Prev.CCY=''ALL'')  
    LEFT JOIN  
      (  
      select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME,CCY from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''DB''   
      ) GLIPBL_Prev  
     on CASE WHEN x.IMPAIRED_FLAG = ''I'' THEN ''BKIP'' ELSE ''BKPI'' END = GLIPBL_Prev.IFRS_ACCT_TYPE  
     AND x.GL_CONSTNAME=GLIPBL_Prev.GL_CONSTNAME  
     AND (X.CURRENCY=GLIPBL_Prev.CCY OR GLIPBL_Prev.CCY=''ALL'')  
    where DOWNLOAD_DATE = EOMONTH(''' + CAST(@PERIOD AS VARCHAR(500)) + ''', -1)  
   ) C  
    on A.ACCOUNT_NUMBER = C.ACCOUNT_NUMBER   
   LEFT JOIN  
   (  
    select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME,CCY from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''DB''   
   ) GLUWBS  
    on case when a.IMPAIRED_FLAG=''I'' then ''BIUW'' else ''BKUW'' end = GLUWBS.IFRS_ACCT_TYPE  
    and a.GL_CONSTNAME=GLUWBS.GL_CONSTNAME  
    AND (A.CURRENCY=GLUWBS.CCY OR GLUWBS.CCY=''ALL'')  
   LEFT JOIN  
   (  
    select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME,CCY from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''CR''   
   ) GLUWPL  
    on case when a.IMPAIRED_FLAG=''I'' then ''BIUW'' else ''BKUW'' end = GLUWPL.IFRS_ACCT_TYPE  
    and a.GL_CONSTNAME=GLUWPL.GL_CONSTNAME  
    AND (A.CURRENCY=GLUWPL.CCY OR GLUWPL.CCY=''ALL'')  
   LEFT JOIN  
   (  
    select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME,CCY from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''CR'' and IFRS_COST_VALUE = ''C'' AND IFRS_ACCT_TYPE=''ACCRU''  
   ) GLUBS  
    on a.GL_CONSTNAME=GLUBS.GL_CONSTNAME  
    AND (A.CURRENCY=GLUBS.CCY OR GLUBS.CCY=''ALL'')  
   LEFT JOIN  
   (  
    select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME,CCY from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''DB'' AND IFRS_COST_VALUE = ''C'' AND IFRS_ACCT_TYPE=''ACCRU''  
   ) GLUPS  
    on a.GL_CONSTNAME=GLUPS.GL_CONSTNAME  
    AND (A.CURRENCY=GLUPS.CCY OR GLUPS.CCY=''ALL'')  
   LEFT JOIN  
   (  
    select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME,CCY from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''CR''   
   ) GLIPBS  
    on case when a.IMPAIRED_FLAG=''I'' then ''BKIP'' else ''BKPI'' end = GLIPBS.IFRS_ACCT_TYPE  
    and a.GL_CONSTNAME=GLIPBS.GL_CONSTNAME  
    AND (A.CURRENCY=GLIPBS.CCY OR GLIPBS.CCY=''ALL'')  
   LEFT JOIN  
   (  
    select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME,CCY from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''DB''   
   ) GLIPBL  
    on CASE WHEN a.IMPAIRED_FLAG = ''I'' THEN ''BKIP'' ELSE ''BKPI'' END = GLIPBL.IFRS_ACCT_TYPE  
    AND a.GL_CONSTNAME=GLIPBL.GL_CONSTNAME  
    AND (A.CURRENCY=GLIPBL.CCY OR GLIPBL.CCY=''ALL'')  
   LEFT JOIN IFRS_MASTER_PRODUCT_PARAMETER B ON A.DATA_SOURCE = B.DATA_SOURCE   
    AND A.PRODUCT_CODE = B.PRD_CODE  
   LEFT JOIN (SELECT * FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''B10'')TC ON TC.VALUE1 = A.BRANCH_CODE  
  WHERE A.DOWNLOAD_DATE = ''' + CAST(@PERIOD AS VARCHAR(500)) + ''''  
   + CASE WHEN ISNULL(@DATA_SOURCE, '') <> ''  
    THEN ' AND A.DATA_SOURCE = ''' + CAST(@DATA_SOURCE AS VARCHAR(500)) + ''''  
    ELSE ''  
   END  
   + CASE WHEN ISNULL(@PRODUCT_GROUP, '') <> ''  
    THEN ' AND A.PRODUCT_GROUP IN ( ' + @PRODUCT_GROUP  + ')'  
    ELSE ''  
   END  
   + CASE WHEN ISNULL(@ACCOUNT_STATUS, '') <> ''  
    THEN ' AND A.ACCOUNT_STATUS IN ( ' + @ACCOUNT_STATUS  + ')'  
    ELSE ''  
   END  
   + CASE WHEN ISNULL(@SEGMENT, '') <> ''  
    THEN ' AND A.SEGMENT IN ( ' + @SEGMENT  + ')'  
    ELSE ''  
   END  
  + '  
  ORDER BY A.ACCOUNT_NUMBER ASC,   
   A.CUSTOMER_NUMBER';  
  
  print @query2  
  PRINT @QUERY3  
  print @query  
 exec( @query2 + @QUERY3 + @query)  
  
END;  
GO
