USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKGROUPVALUE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKGROUPVALUE]      
(      
 @GROUP_SEGMENT varchar(50) = ''      
 ,@SEGMENT varchar(50) = ''      
 ,@SUB_SEGMENT varchar(60) = ''      
 ,@PKID bigint = 0      
)      
AS      
BEGIN      
DECLARE @COUNT int      
DECLARE @COUNTPENDING int      
--add by septian 22042019 consider lisa defect list    
DECLARE @SAMESUBSEGMENT int
DECLARE @SAMESEGMENT int    
--end add    
      
 SELECT @COUNT = COUNT(*)      
 FROM IFRS_MSTR_SEGMENT_RULES_HEADER      
 WHERE UPPER(GROUP_SEGMENT) = UPPER(@GROUP_SEGMENT)      
  AND UPPER(SEGMENT) = UPPER(@SEGMENT)      
  AND UPPER(SUB_SEGMENT) = UPPER(@SUB_SEGMENT)      
  AND IS_DELETE = 0      
  AND PKID <> @PKID;      
      
 SELECT @COUNTPENDING = COUNT(*)      
 FROM       
 (SELECT * FROM TBLT_APPROVALDETAIL      
 WHERE      
  HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER WHERE SCREENID = 'SEGMENTATION_SETTINGS_H' AND STATUS = 'P')      
  AND FIELDNAME = 'GROUP_SEGMENT'      
  AND (UPPER(NEWVALUE) = UPPER(@GROUP_SEGMENT) OR UPPER(OLDVALUE) = UPPER(@GROUP_SEGMENT))      
 UNION ALL      
 SELECT * FROM TBLT_APPROVALDETAIL      
 WHERE      
  HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER WHERE SCREENID = 'SEGMENTATION_SETTINGS_H' AND STATUS = 'P')      
  AND FIELDNAME = 'SEGMENT'      
  AND (UPPER(NEWVALUE) = UPPER(@SEGMENT) OR UPPER(OLDVALUE) = UPPER(@SEGMENT))      
 UNION ALL      
 SELECT * FROM TBLT_APPROVALDETAIL      
 WHERE      
  HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER WHERE SCREENID = 'SEGMENTATION_SETTINGS_H' AND STATUS = 'P')      
  AND FIELDNAME = 'SUB_SEGMENT'      
  AND (UPPER(NEWVALUE) = UPPER(@SUB_SEGMENT) OR UPPER(OLDVALUE) = UPPER(@SUB_SEGMENT)))A      
    
  
  SELECT @SAMESUBSEGMENT = COUNT(*) 
  FROM IFRS_MSTR_SEGMENT_RULES_HEADER 
  WHERE SUB_SEGMENT = @SUB_SEGMENT 
  AND PKID <> @PKID
  AND IS_DELETE = 0  
  
  --SELECT @SAMESEGMENT = COUNT(*)   
  --FROM IFRS_MSTR_SEGMENT_RULES_HEADER 
  --WHERE SEGMENT = @SEGMENT 
  --AND PKID <> @PKID
  --AND IS_DELETE = 0
      
 SELECT @COUNT AS COUNT, @COUNTPENDING AS COUNTPENDING, @SAMESUBSEGMENT AS SAMESUBSEGMENT,
 @SAMESEGMENT AS SAMESEGMENT    
      
END; 

GO
