USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SETUPBMA]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USPI_SETUPBMA]
(
	@QUESTION_TYPE int=0
	,@QUESTION_DESC varchar(100)=''
	,@SUPPORTING_FLG bit=0
	,@SEQUENCE int=0
	,@OPTION_NUMBER int=0
	,@CreatedBy varchar(36)=''
	,@CreatedHost varchar(3)=''
)
AS
BEGIN
	INSERT INTO [IFRS_AC_BM_QUEST]
           ([QUESTION_TYPE]
           ,[QUESTION_DESC]
           ,[SUPPORTING_FLG]
           ,[SEQUENCE]
		   ,[OPTION_NUMBER]
           ,[CreatedBy]
           ,[CreatedDate]
           ,[CreatedHost])
	VALUES
		(	@QUESTION_TYPE
           ,@QUESTION_DESC
           ,@SUPPORTING_FLG
		   ,@SEQUENCE
		   ,@OPTION_NUMBER
		   ,@CreatedBy
           ,GETDATE()
           ,@CreatedHost)
	
END

GO
