USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ACBMHEADER_HIST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_ACBMHEADER_HIST](  
@PKID bigint = 0)  
AS  
BEGIN  
   
 --SELECT A.PKID,A.SPPI_CLASS,A.EFFECTIVE_DATE,BM_RSLT,A.STATUS  
 --FROM IFRS_AC_BM_HEADER_HIST A  
 --LEFT JOIN IFRS_AC_SPPI_HEADER B ON 1 = 1
 --WHERE PKID_HEADER = @PKID  
 --ORDER BY PKID DESC  

--CREATE TABLE #TABLE_TEMP(
--PKID BIGINT,
--SPPI_CLASS VARCHAR(1000),
--EFFECTIVE_DATE DATE,
--BM_RSLT VARCHAR(100),
--STATUS VARCHAR(100)
--)

--INSERT INTO #TABLE_TEMP
SELECT A.PKID,a.BM_NAME ,A.EFFECTIVE_DATE,
CASE BM_RSLT
WHEN 'AFS' THEN 'Hold to Collect and Sell'
WHEN 'HTM' THEN 'Hold to Collect'
WHEN 'TRADE' THEN 'Others'
END AS BM_RSLT,
A.STATUS, A.CREATEDDATE,
  USERS.USERNAME
 FROM IFRS_AC_BM_HEADER_HIST A 
 INNER JOIN TBLM_USER USERS
 ON A.CREATEDBY = USERS.PKID
 --LEFT JOIN IFRS_AC_SPPI_HEADER B ON 1 = 1
 WHERE A.PKID_HEADER = @PKID
 --AND B.PKID IN(
 --SELECT CAST(VALUE AS INT) FROM STRING_SPLIT(
		--A.SPPI_CLASS	,','))
ORDER BY PKID DESC

--SELECT DISTINCT PKID, STUFF(
--	(SELECT ', ' + SPPI_CLASS FROM #TABLE_TEMP B
--	WHERE B.PKID = A.PKID
--	FOR XML PATH('')), 1, 2, ''
--	) AS SPPI_CLASS,
--	EFFECTIVE_DATE,
--	BM_RSLT,
--	STATUS
--FROM #TABLE_TEMP A
--ORDER BY A.PKID DESC

--DROP TABLE #TABLE_TEMP  
END  
GO
