USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_SYNC_EXCLUSION_CORPORATE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_IMP_SYNC_EXCLUSION_CORPORATE]      
@DOWNLOAD_DATE DATE = NULL          
AS          
    DECLARE @V_CURRDATE DATE            
BEGIN              
         
    IF @DOWNLOAD_DATE IS NULL          
    BEGIN          
        SELECT @V_CURRDATE = CURRDATE          
        FROM IFRS_PRC_DATE          
    END      
    ELSE          
    BEGIN          
        SET @V_CURRDATE = @DOWNLOAD_DATE          
    END                           
		    
    DELETE TBLU_EXCLUSION_CORP WHERE CONVERT(DATE,DOWNLOAD_DATE,112) = @V_CURRDATE        
        
    INSERT INTO TBLU_EXCLUSION_CORP (DOWNLOAD_DATE,MASTERID,CUSTOMER_NUMBER,ACCOUNT_NUMBER,PRODUCT_CODE,CREATEDBY,CREATEDDATE,CREATEDHOST, EXCLUSION_PERCENTAGE)        
    	/* CBS TRADE FINANCE - CKPN BG */
	SELECT CONVERT(VARCHAR(8),A.DOWNLOAD_DATE,112),A.MASTERID,A.CUSTOMER_NUMBER,A.ACCOUNT_NUMBER,A.PRODUCT_CODE,'SP_IFRS_IMP_SYNC_EXCLUSION_CORPORATE' AS CREATEDBY,A.CREATEDDATE,A.CREATEDHOST,0 AS EXCLUSION_PERCENTAGE FROM IFRS_MASTER_ACCOUNT A
	INNER JOIN TBLM_COMMONCODEDETAIL B
	ON LEFT(A.FACILITY_NUMBER,6) = B.VALUE1
	WHERE CONVERT(DATE,A.DOWNLOAD_DATE,112) = @V_CURRDATE AND A.PRODUCT_GROUP = 'BG' AND B.COMMONCODE = 'CKPN_NOL' 
	/* END */   
	     
	
    INSERT INTO IFRS_ECL_EXCLUSION      
        (      
            DOWNLOAD_DATE      
            ,MASTERID      
            ,CUSTOMER_NUMBER      
            ,ACCOUNT_NUMBER      
            ,PRODUCT_CODE      
            ,CREATEDBY        
            ,CREATEDDATE      
            ,CREATEDHOST    
			,EXCLUSION_PERCENTAGE    
        ) 
		     
        SELECT      
             DOWNLOAD_DATE      
            ,MASTERID      
            ,CUSTOMER_NUMBER      
            ,ACCOUNT_NUMBER      
            ,PRODUCT_CODE      
            ,CREATEDBY      
            ,CREATEDDATE      
            ,CREATEDHOST    
			,ISNULL(EXCLUSION_PERCENTAGE, 100) AS EXCLUSION_PERCENTAGE    
        FROM TBLU_EXCLUSION_CORP      
        WHERE DOWNLOAD_DATE = @V_CURRDATE      
    
END 
GO
