USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_INDVECLREPORTH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_INDVECLREPORTH]
(
	@DOWNLOAD_DATE DATE = '1900-01-01',
	@CUSTOMER_NUMBER VARCHAR(50) ='',
	@CUSTOMER_NAME VARCHAR(50) = ''
)
AS  
BEGIN
-- Change log 22 May 2018
-- By Julian Wesley
-- Bug Fixing for lookup back date report

	DECLARE @CurrDate DATE;
	DECLARE @Query VARCHAR(MAX);

	SELECT @CurrDate = CURRDATE FROM IFRS_PRC_DATE

	IF CONVERT(VARCHAR(6), @Download_Date, 112) = CONVERT(VARCHAR(6), @CurrDate, 112)
	BEGIN
		SET @Query = 
			'SELECT IIO.CUSTOMER_NUMBER AS "Customer No", 
				IIO.CUSTOMER_NAME AS "Customer Name", 
				SUM(RPT_FAC.EAD_AMOUNT_LCY) AS "EAD Amount LCY", 
				SUM(RPT_FAC.ECL_AMOUNT_LCY) AS "ECL Amount LCY", 
				SUM(RPT_FAC.ECL_AMOUNT_LCY_PREV) AS "ECL Amount LCY Prev Month", 
				SUM(RPT_FAC.ADDITIONAL_REVERSAL) AS "Additional (Reversal)", 
				IIO.CUSTOMER_NUMBER "DETAILPKID"
			FROM IFRS_IMP_OVERRIDE IIO
			INNER JOIN
			(
				SELECT RPT.FACILITY_NUMBER AS FACILITY_NUMBER, 
					RPT.DCFSTATUS AS DCFSTATUS, 
					RPT.CURRENCY AS CURRENCY, 
					RPT.EAD_AMOUNT AS EAD_AMOUNT,
					RPT.EAD_AMOUNT_LCY AS EAD_AMOUNT_LCY,
					RPT.ECL_AMOUNT AS ECL_AMOUNT, 
					RPT.ECL_AMOUNT_LCY AS ECL_AMOUNT_LCY,
					IMAH.ECL_AMOUNT_LCY_PREV AS ECL_AMOUNT_LCY_PREV,
					RPT.ECL_AMOUNT_LCY - IMAH.ECL_AMOUNT_LCY_PREV AS ADDITIONAL_REVERSAL
				FROM
				(
					-- APPROVED
					SELECT IMA.FACILITY_NUMBER AS FACILITY_NUMBER, 
						''A'' AS DCFSTATUS, 
						IMA.CURRENCY AS CURRENCY, 
						SUM(IIIM.SUM_EAD) AS EAD_AMOUNT,
						SUM(IIIM.SUM_EAD * IMER.RATE_AMOUNT) AS EAD_AMOUNT_LCY,
						SUM(IIIM.SUM_IIP) AS ECL_AMOUNT, 
						SUM(IIIM.SUM_IIP * IMER.RATE_AMOUNT) AS ECL_AMOUNT_LCY
					FROM (SELECT DISTINCT DOWNLOAD_DATE, FACILITY_NUMBER, IMPAIRED_FLAG, CURRENCY, CUSTOMER_NUMBER, CUSTOMER_NAME FROM IFRS_MASTER_ACCOUNT WHERE DOWNLOAD_DATE = ''' + CAST(@CurrDate AS VARCHAR(20)) + ''') IMA
						INNER JOIN 
						(
							SELECT IIIM.FACILITY_NUMBER, MAX(IIIM.DOWNLOAD_DATE) AS APP_DATE
							FROM IFRS_IMP_IA_MASTER IIIM
							GROUP BY FACILITY_NUMBER
						) IA_App ON IMA.FACILITY_NUMBER = IA_App.FACILITY_NUMBER
						INNER JOIN 
						(
							SELECT IIIM.FACILITY_NUMBER, IIIM.DOWNLOAD_DATE, IIOH.CURRENCY, SUM(IIOH.EAD_AMOUNT) AS SUM_EAD, SUM(SUM_IIP) AS SUM_IIP
							FROM 
								(SELECT DCFID,FACILITY_NUMBER, DOWNLOAD_DATE, SUM(IIP_AMOUNT) AS SUM_IIP
								FROM IFRS_IMP_IA_MASTER 
								GROUP BY DCFID, FACILITY_NUMBER, DOWNLOAD_DATE)	IIIM 
							INNER JOIN IFRS_IMP_OVERRIDE IIOH ON IIIM.DCFID = IIOH.DCFID
								AND DCFSTATUS = ''A''
							GROUP BY IIIM.FACILITY_NUMBER,
										IIIM.DOWNLOAD_DATE,
										IIOH.CURRENCY
						) IIIM ON IIIM.DOWNLOAD_DATE = IA_App.APP_DATE
							AND IIIM.FACILITY_NUMBER= IMA.FACILITY_NUMBER
							AND IIIM.CURRENCY = IMA.CURRENCY
						INNER JOIN IFRS_MASTER_EXCHANGE_RATE IMER ON IMER.CURRENCY = IMA.CURRENCY
							AND IMER.DOWNLOAD_DATE = IA_App.APP_DATE
					WHERE IMA.DOWNLOAD_DATE = ''' + CAST(@CurrDate AS VARCHAR(20)) + ''' 
						AND IMA.IMPAIRED_FLAG = ''I''
						AND IMA.FACILITY_NUMBER NOT IN (SELECT FACILITY_NUMBER FROM IFRS_IMP_OVERRIDE_PENDING WHERE DCFSTATUS = ''P'')
					GROUP BY IMA.FACILITY_NUMBER,
						IMA.CURRENCY
					UNION
					-- APPROVED HISTORY
					SELECT IMA.FACILITY_NUMBER AS FACILITY_NUMBER, 
						''A'' AS DCFSTATUS, 
						IMA.CURRENCY AS CURRENCY, 
						SUM(IIIM.SUM_EAD) AS EAD_AMOUNT,
						SUM(IIIM.SUM_EAD * IMER.RATE_AMOUNT) AS EAD_AMOUNT_LCY,
						SUM(IIIM.SUM_IIP) AS ECL_AMOUNT, 
						SUM(IIIM.SUM_IIP * IMER.RATE_AMOUNT) AS ECL_AMOUNT_LCY
					FROM (SELECT DISTINCT DOWNLOAD_DATE, FACILITY_NUMBER, IMPAIRED_FLAG, CURRENCY, CUSTOMER_NUMBER, CUSTOMER_NAME FROM IFRS_MASTER_ACCOUNT WHERE DOWNLOAD_DATE = ''' + CAST(@CurrDate AS VARCHAR(20)) + ''') IMA
						INNER JOIN 
						(
							SELECT IIIM.FACILITY_NUMBER, MAX(IIIM.DOWNLOAD_DATE) AS APP_DATE
							FROM IFRS_IMP_IA_MASTER_HIST IIIM
							GROUP BY FACILITY_NUMBER
						) IA_App ON IMA.FACILITY_NUMBER = IA_App.FACILITY_NUMBER
						INNER JOIN 
						(
							SELECT IIIM.FACILITY_NUMBER, IIIM.DOWNLOAD_DATE, IIOH.CURRENCY, SUM(IIOH.EAD_AMOUNT) AS SUM_EAD, SUM(SUM_IIP) AS SUM_IIP
							FROM (SELECT DCFID,FACILITY_NUMBER, DOWNLOAD_DATE, SUM(IIP_AMOUNT) AS SUM_IIP
									FROM IFRS_IMP_IA_MASTER_HIST 
									GROUP BY DCFID, FACILITY_NUMBER, DOWNLOAD_DATE) IIIM 
							INNER JOIN
								(
									SELECT IIIMH.FACILITY_NUMBER, MAX(IIIMH.DOWNLOAD_DATE) AS APP_DATE
									FROM IFRS_IMP_IA_MASTER_HIST IIIMH
									GROUP BY FACILITY_NUMBER
								) A ON IIIM.FACILITY_NUMBER = A.FACILITY_NUMBER
							INNER JOIN IFRS_IMP_OVERRIDE_HISTORY IIOH ON IIIM.DCFID = IIOH.DCFID
								AND DCFSTATUS = ''A''
								AND CAST(IIOH.CHECKEDDATE AS DATE) = A.APP_DATE
							GROUP BY IIIM.FACILITY_NUMBER,
									IIIM.DOWNLOAD_DATE,
									IIOH.CURRENCY
						) IIIM ON IIIM.DOWNLOAD_DATE = IA_App.APP_DATE
							AND IIIM.FACILITY_NUMBER= IMA.FACILITY_NUMBER
							AND IIIM.CURRENCY = IMA.CURRENCY
						INNER JOIN IFRS_MASTER_EXCHANGE_RATE IMER ON IMER.CURRENCY = IMA.CURRENCY
							AND IMER.DOWNLOAD_DATE = IA_App.APP_DATE
					WHERE IMA.DOWNLOAD_DATE = ''' + CAST(@CurrDate AS VARCHAR(20)) + ''' 
						AND IMA.IMPAIRED_FLAG = ''I'' 
						AND IMA.FACILITY_NUMBER NOT IN (SELECT FACILITY_NUMBER FROM IFRS_IMP_OVERRIDE_PENDING WHERE DCFSTATUS = ''P'') 
						AND IMA.FACILITY_NUMBER NOT IN (SELECT FACILITY_NUMBER FROM IFRS_IMP_IA_MASTER)
					GROUP BY IMA.FACILITY_NUMBER,
						IMA.CURRENCY
					UNION
					-- NEED APPROVAL
					SELECT IIOP.FACILITY_NUMBER, 
						IIOP.DCFSTATUS, 
						IIOP.CURRENCY, 
						IIOP.EAD_AMOUNT, 
						IIOP.EAD_AMOUNT * IMER.RATE_AMOUNT AS EAD_AMOUNT_LCY,
						(IIOP.EAD_AMOUNT - TPP.SUM_NPV) AS ECL_AMOUNT, 
						(IIOP.EAD_AMOUNT - TPP.SUM_NPV) * IMER.RATE_AMOUNT AS ECL_AMOUNT_LCY
					FROM IFRS_IMP_OVERRIDE_PENDING IIOP
						INNER JOIN (
							SELECT A.DCFID, A.UPLOADID, A.DCFSTATUS, A.FACILITY_NUMBER, A.CURRENCY, SUM(A.NPV) AS SUM_NPV FROM TBLT_PAYMENTEXPECTED_PENDING A
							INNER JOIN (
								SELECT DCFID, 
									DCFSTATUS, 
									MAX(UPLOADID) AS MAX_UPLOADID 
								FROM TBLT_PAYMENTEXPECTED_PENDING 
								WHERE DCFSTATUS = ''P''
								GROUP BY DCFID, DCFSTATUS
							) B ON A.DCFID = B.DCFID
								AND A.UPLOADID = B.MAX_UPLOADID
								AND A.DCFSTATUS = B.DCFSTATUS
							GROUP BY  A.DCFID, A.UPLOADID, A.DCFSTATUS,  A.CURRENCY, A.FACILITY_NUMBER
						) TPP ON IIOP.FACILITY_NUMBER = TPP.FACILITY_NUMBER
							AND IIOP.DCFID = TPP.DCFID
							AND IIOP.DCFSTATUS = TPP.DCFSTATUS
							AND IIOP.CURRENCY = TPP.CURRENCY
						INNER JOIN IFRS_MASTER_EXCHANGE_RATE IMER ON IMER.CURRENCY = IIOP.CURRENCY
							AND IMER.DOWNLOAD_DATE = IIOP.DOWNLOAD_DATE
				) RPT
				LEFT JOIN 
				(
					SELECT FACILITY_NUMBER, CURRENCY, SUM(ECL_AMOUNT * EXCHANGE_RATE) AS ECL_AMOUNT_LCY_PREV 
					FROM IFRS_MASTER_ACCOUNT_MONTHLY 
					WHERE IMPAIRED_FLAG = ''I''
						AND ACCOUNT_STATUS = ''A''
						AND DOWNLOAD_DATE = ''' + CAST(EOMONTH(DATEADD(MONTH, -2, DATEADD(DAY, 1, EOMONTH(@CurrDate)))) AS VARCHAR(20)) + ''' 
						AND FACILITY_NUMBER IS NOT NULL
					GROUP BY FACILITY_NUMBER,
						CURRENCY
				) IMAH ON IMAH.FACILITY_NUMBER = RPT.FACILITY_NUMBER
					AND IMAH.CURRENCY = RPT.CURRENCY
				WHERE RPT.FACILITY_NUMBER IS NOT NULL
			) RPT_FAC ON IIO.FACILITY_NUMBER = RPT_FAC.FACILITY_NUMBER
			WHERE IIO.DOWNLOAD_DATE = ''' + CAST(@CurrDate AS VARCHAR(20)) + ''''
			+ CASE WHEN @CUSTOMER_NUMBER <> ''
							THEN ' AND IIO.CUSTOMER_NUMBER LIKE ''%' + @CUSTOMER_NUMBER + '%'''
							ELSE ''
						END
						+ CASE WHEN @CUSTOMER_NAME <> ''
							THEN ' AND IIO.CUSTOMER_NAME LIKE ''%' + @CUSTOMER_NAME + '%'''
							ELSE ''
						END
					+ '
			GROUP BY IIO.CUSTOMER_NUMBER,
				IIO.CUSTOMER_NAME';
	END
	ELSE
	BEGIN
		SET @Query = 
			'SELECT IMAM.CUSTOMER_NUMBER AS "Customer No", 
				IMAM.CUSTOMER_NAME AS "Customer Name", 
				SUM(IMAC.EAD_AMOUNT_LCY) AS "EAD Amount LCY", 
				SUM(IMAC.ECL_AMOUNT_LCY) AS "ECL Amount LCY", 
				SUM(IMAH.ECL_AMOUNT_LCY_PREV) AS "ECL Amount LCY Prev Month", 
				SUM(IMAC.ECL_AMOUNT_LCY - IMAH.ECL_AMOUNT_LCY_PREV) AS "Additional (Reversal)", 
				IMAM.CUSTOMER_NUMBER "DETAILPKID"
			FROM IFRS_MASTER_ACCOUNT_MONTHLY IMAM
				INNER JOIN
				(
					SELECT FACILITY_NUMBER AS FACILITY_NUMBER, 
						''Approved'' AS DCFSTATUS, 
						CURRENCY AS CURRENCY, 
						SUM(EAD_AMOUNT) AS EAD_AMOUNT,
						SUM(EAD_AMOUNT * EXCHANGE_RATE) AS EAD_AMOUNT_LCY,
						SUM(ECL_AMOUNT) AS ECL_AMOUNT, 
						SUM(ECL_AMOUNT * EXCHANGE_RATE) AS ECL_AMOUNT_LCY
					FROM IFRS_MASTER_ACCOUNT_MONTHLY
					WHERE IMPAIRED_FLAG = ''I''
						AND ACCOUNT_STATUS = ''A''
						AND DOWNLOAD_DATE = ''' + CAST(@Download_Date AS VARCHAR(20)) + '''
						AND FACILITY_NUMBER IS NOT NULL
					GROUP BY FACILITY_NUMBER,
						CURRENCY
				) IMAC ON IMAC.FACILITY_NUMBER = IMAM.FACILITY_NUMBER
					AND IMAC.CURRENCY = IMAM.CURRENCY
				LEFT JOIN 
				(
					SELECT FACILITY_NUMBER, 
						CURRENCY, 
						SUM(ECL_AMOUNT * EXCHANGE_RATE) AS ECL_AMOUNT_LCY_PREV 
					FROM IFRS_MASTER_ACCOUNT_MONTHLY 
					WHERE IMPAIRED_FLAG = ''I''
						AND ACCOUNT_STATUS = ''A''
						AND DOWNLOAD_DATE = ''' + CAST(EOMONTH(DATEADD(MONTH, -2, DATEADD(DAY, 1, EOMONTH(@DOWNLOAD_DATE)))) AS VARCHAR(20)) + ''' 
						AND FACILITY_NUMBER IS NOT NULL
					GROUP BY FACILITY_NUMBER,
						CURRENCY
				) IMAH ON IMAH.FACILITY_NUMBER = IMAM.FACILITY_NUMBER
					AND IMAH.CURRENCY = IMAM.CURRENCY
			WHERE IMAM.IMPAIRED_FLAG = ''I''
				AND IMAM.ACCOUNT_STATUS = ''A''
				AND IMAM.DOWNLOAD_DATE = ''' + CAST(@Download_Date AS VARCHAR(20)) + '''
				AND IMAM.FACILITY_NUMBER IS NOT NULL'
				+ CASE WHEN @CUSTOMER_NUMBER <> ''
					THEN ' AND IMAM.CUSTOMER_NUMBER LIKE ''%' + @CUSTOMER_NUMBER + '%'''
					ELSE ''
				END
				+ CASE WHEN @CUSTOMER_NAME <> ''
					THEN ' AND IMAM.CUSTOMER_NAME LIKE ''%' + @CUSTOMER_NAME + '%'''
					ELSE ''
				END
			+ '
			GROUP BY IMAM.CUSTOMER_NUMBER,
				IMAM.CUSTOMER_NAME';
	END;

	PRINT(@Query);

	EXEC(@Query);

		--'SELECT IIO.CUSTOMER_NUMBER AS "Customer No",
		--	IIO.CUSTOMER_NAME AS "Customer Name", 
		--	SUM(RPT_FAC.EAD_AMOUNT_LCY) AS "EAD Amount LCY",
		--	SUM(RPT_FAC.ECL_AMOUNT_LCY) AS "ECL Amount LCY",
		--	SUM(RPT_FAC.ECL_AMOUNT_LCY_PREV) AS "ECL Amount LCY Prev Month",
		--	SUM(RPT_FAC.ADDITIONAL_REVERSAL) AS "Additional (Reversal)",
		--	IIO.CUSTOMER_NUMBER "DETAILPKID"
		--FROM IFRS_IMP_OVERRIDE IIO
		--INNER JOIN
		--(
		--	SELECT RPT.FACILITY_NUMBER AS FACILITY_NUMBER, 
		--		RPT.DCFSTATUS AS DCFSTATUS, 
		--		RPT.CURRENCY AS CURRENCY, 
		--		RPT.EAD_AMOUNT AS EAD_AMOUNT,
		--		RPT.EAD_AMOUNT_LCY AS EAD_AMOUNT_LCY,
		--		RPT.ECL_AMOUNT AS ECL_AMOUNT, 
		--		RPT.ECL_AMOUNT_LCY AS ECL_AMOUNT_LCY,
		--		IMAH.ECL_AMOUNT_LCY_PREV AS ECL_AMOUNT_LCY_PREV,
		--		RPT.ECL_AMOUNT_LCY - IMAH.ECL_AMOUNT_LCY_PREV AS ADDITIONAL_REVERSAL
		--	FROM
		--	(
		--		-- APPROVED
		--		SELECT IMA.FACILITY_NUMBER AS FACILITY_NUMBER, 
		--			''A'' AS DCFSTATUS, 
		--			IMA.CURRENCY AS CURRENCY, 
		--			SUM(IIIM.SUM_EAD) AS EAD_AMOUNT,
		--			SUM(IIIM.SUM_EAD * IMER.RATE_AMOUNT) AS EAD_AMOUNT_LCY,
		--			SUM(IIIM.SUM_IIP) AS ECL_AMOUNT, 
		--			SUM(IIIM.SUM_IIP * IMER.RATE_AMOUNT) AS ECL_AMOUNT_LCY
		--		FROM (SELECT DISTINCT DOWNLOAD_DATE, FACILITY_NUMBER, IMPAIRED_FLAG, CURRENCY, CUSTOMER_NUMBER, CUSTOMER_NAME FROM IFRS_MASTER_ACCOUNT WHERE DOWNLOAD_DATE = ''' + CAST(@DOWNLOAD_DATE AS VARCHAR(50)) + ''') IMA
		--			INNER JOIN 
		--			(
		--				SELECT IIIM.FACILITY_NUMBER, MAX(IIIM.DOWNLOAD_DATE) AS APP_DATE
		--				FROM IFRS_IMP_IA_MASTER IIIM
		--				GROUP BY FACILITY_NUMBER
		--			) IA_App ON IMA.FACILITY_NUMBER = IA_App.FACILITY_NUMBER
		--			INNER JOIN 
		--			(
		--				SELECT IIIM.FACILITY_NUMBER, IIIM.DOWNLOAD_DATE, IIOH.CURRENCY, SUM(IIOH.EAD_AMOUNT) AS SUM_EAD, SUM(SUM_IIP) AS SUM_IIP
		--			    FROM 
		--					(SELECT DCFID,FACILITY_NUMBER, DOWNLOAD_DATE, SUM(IIP_AMOUNT) AS SUM_IIP
		--					FROM IFRS_IMP_IA_MASTER 
		--					GROUP BY DCFID, FACILITY_NUMBER, DOWNLOAD_DATE)	IIIM 
		--				INNER JOIN IFRS_IMP_OVERRIDE IIOH ON IIIM.DCFID = IIOH.DCFID
		--					AND DCFSTATUS = ''A''
		--				GROUP BY IIIM.FACILITY_NUMBER,
		--						 IIIM.DOWNLOAD_DATE,
		--						 IIOH.CURRENCY
		--			) IIIM ON IIIM.DOWNLOAD_DATE = IA_App.APP_DATE
		--				AND IIIM.FACILITY_NUMBER= IMA.FACILITY_NUMBER
		--				AND IIIM.CURRENCY = IMA.CURRENCY
		--			INNER JOIN IFRS_MASTER_EXCHANGE_RATE IMER ON IMER.CURRENCY = IMA.CURRENCY
		--				AND IMER.DOWNLOAD_DATE = IA_App.APP_DATE
		--		WHERE IMA.DOWNLOAD_DATE = ''' + CAST(@DOWNLOAD_DATE AS VARCHAR(50)) + '''
		--			AND IMA.IMPAIRED_FLAG = ''I''
		--			AND IMA.FACILITY_NUMBER NOT IN (SELECT FACILITY_NUMBER FROM IFRS_IMP_OVERRIDE_PENDING WHERE DCFSTATUS = ''P'')'
		--				+ CASE WHEN @CUSTOMER_NUMBER <> ''
		--					THEN ' AND IMA.CUSTOMER_NUMBER LIKE ''%' + @CUSTOMER_NUMBER + '%'''
		--					ELSE ''
		--				END
		--				+ CASE WHEN @CUSTOMER_NAME <> ''
		--					THEN ' AND IMA.CUSTOMER_NAME LIKE ''%' + @CUSTOMER_NAME + '%'''
		--					ELSE ''
		--				END
		--			+ '
		--		GROUP BY IMA.FACILITY_NUMBER,
		--			IMA.CURRENCY
		--		UNION
		--		-- APPROVED HISTORY
		--		SELECT IMA.FACILITY_NUMBER AS FACILITY_NUMBER, 
		--			''A'' AS DCFSTATUS, 
		--			IMA.CURRENCY AS CURRENCY, 
		--			SUM(IIIM.SUM_EAD) AS EAD_AMOUNT,
		--			SUM(IIIM.SUM_EAD * IMER.RATE_AMOUNT) AS EAD_AMOUNT_LCY,
		--			SUM(IIIM.SUM_IIP) AS ECL_AMOUNT, 
		--			SUM(IIIM.SUM_IIP * IMER.RATE_AMOUNT) AS ECL_AMOUNT_LCY
		--		FROM (SELECT DISTINCT DOWNLOAD_DATE, FACILITY_NUMBER, IMPAIRED_FLAG, CURRENCY, CUSTOMER_NUMBER, CUSTOMER_NAME FROM IFRS_MASTER_ACCOUNT WHERE DOWNLOAD_DATE = ''' + CAST(@DOWNLOAD_DATE AS VARCHAR(50)) + ''') IMA
		--			INNER JOIN 
		--			(
		--				SELECT IIIM.FACILITY_NUMBER, MAX(IIIM.DOWNLOAD_DATE) AS APP_DATE
		--				FROM IFRS_IMP_IA_MASTER_HIST IIIM
		--				GROUP BY FACILITY_NUMBER
		--			) IA_App ON IMA.FACILITY_NUMBER = IA_App.FACILITY_NUMBER
		--			INNER JOIN 
		--			(
		--				SELECT IIIM.FACILITY_NUMBER, IIIM.DOWNLOAD_DATE, IIOH.CURRENCY, SUM(IIOH.EAD_AMOUNT) AS SUM_EAD, SUM(SUM_IIP) AS SUM_IIP
		--				FROM (SELECT DCFID,FACILITY_NUMBER, DOWNLOAD_DATE, SUM(IIP_AMOUNT) AS SUM_IIP
		--						FROM IFRS_IMP_IA_MASTER_HIST 
		--						GROUP BY DCFID, FACILITY_NUMBER, DOWNLOAD_DATE)IIIM 
		--				INNER JOIN
		--					(
		--						SELECT IIIMH.FACILITY_NUMBER, MAX(IIIMH.DOWNLOAD_DATE) AS APP_DATE
		--						FROM IFRS_IMP_IA_MASTER_HIST IIIMH
		--						GROUP BY FACILITY_NUMBER
		--					) A ON IIIM.FACILITY_NUMBER = A.FACILITY_NUMBER
		--				INNER JOIN IFRS_IMP_OVERRIDE_HISTORY IIOH ON IIIM.DCFID = IIOH.DCFID
		--					AND DCFSTATUS = ''A''
		--					AND CAST(IIOH.CHECKEDDATE AS DATE) = A.APP_DATE
		--				GROUP BY IIIM.FACILITY_NUMBER,
		--						IIIM.DOWNLOAD_DATE,
		--						IIOH.CURRENCY
		--			) IIIM ON IIIM.DOWNLOAD_DATE = IA_App.APP_DATE
		--				AND IIIM.FACILITY_NUMBER= IMA.FACILITY_NUMBER
		--				AND IIIM.CURRENCY = IMA.CURRENCY
		--			INNER JOIN IFRS_MASTER_EXCHANGE_RATE IMER ON IMER.CURRENCY = IMA.CURRENCY
		--				AND IMER.DOWNLOAD_DATE = IA_App.APP_DATE
		--		WHERE IMA.DOWNLOAD_DATE = ''' + CAST(@DOWNLOAD_DATE AS VARCHAR(50)) + '''
		--			AND IMA.IMPAIRED_FLAG = ''I'' 
		--			AND IMA.FACILITY_NUMBER NOT IN (SELECT FACILITY_NUMBER FROM IFRS_IMP_OVERRIDE_PENDING WHERE DCFSTATUS = ''P'') 
		--			AND IMA.FACILITY_NUMBER NOT IN (SELECT FACILITY_NUMBER FROM IFRS_IMP_IA_MASTER)'
		--				+ CASE WHEN @CUSTOMER_NUMBER <> ''
		--					THEN ' AND IMA.CUSTOMER_NUMBER LIKE ''%' + @CUSTOMER_NUMBER + '%'''
		--					ELSE ''
		--				END
		--				+ CASE WHEN @CUSTOMER_NAME <> ''
		--					THEN ' AND IMA.CUSTOMER_NAME LIKE ''%' + @CUSTOMER_NAME + '%'''
		--					ELSE ''
		--				END
		--			+ '
		--		GROUP BY IMA.FACILITY_NUMBER,
		--			IMA.CURRENCY
		--		UNION
		--		-- NEED APPROVAL
		--		SELECT IIOP.FACILITY_NUMBER, 
		--			IIOP.DCFSTATUS, 
		--			IIOP.CURRENCY, 
		--			IIOP.EAD_AMOUNT, 
		--			IIOP.EAD_AMOUNT * IMER.RATE_AMOUNT AS EAD_AMOUNT_LCY,
		--			(IIOP.EAD_AMOUNT - TPP.SUM_NPV) AS ECL_AMOUNT, 
		--			(IIOP.EAD_AMOUNT - TPP.SUM_NPV) * IMER.RATE_AMOUNT AS ECL_AMOUNT_LCY
		--		FROM IFRS_IMP_OVERRIDE_PENDING IIOP
		--			INNER JOIN (
		--				SELECT A.DCFID, A.UPLOADID, A.DCFSTATUS, A.FACILITY_NUMBER, A.CURRENCY, SUM(A.NPV) AS SUM_NPV FROM TBLT_PAYMENTEXPECTED_PENDING A
		--				INNER JOIN (
		--					SELECT DCFID, 
		--						DCFSTATUS, 
		--						MAX(UPLOADID) AS MAX_UPLOADID 
		--					FROM TBLT_PAYMENTEXPECTED_PENDING 
		--					WHERE DCFSTATUS = ''P''
		--					GROUP BY DCFID, DCFSTATUS
		--				) B ON A.DCFID = B.DCFID
		--					AND A.UPLOADID = B.MAX_UPLOADID
		--					AND A.DCFSTATUS = B.DCFSTATUS
		--				GROUP BY  A.DCFID, A.UPLOADID, A.DCFSTATUS,  A.CURRENCY, A.FACILITY_NUMBER
		--			) TPP ON IIOP.FACILITY_NUMBER = TPP.FACILITY_NUMBER
		--				AND IIOP.DCFID = TPP.DCFID
		--				AND IIOP.DCFSTATUS = TPP.DCFSTATUS
		--				AND IIOP.CURRENCY = TPP.CURRENCY
		--			INNER JOIN IFRS_MASTER_EXCHANGE_RATE IMER ON IMER.CURRENCY = IIOP.CURRENCY
		--				AND IMER.DOWNLOAD_DATE = IIOP.DOWNLOAD_DATE
		--	) RPT
		--	LEFT JOIN 
		--	(
		--		SELECT FACILITY_NUMBER, CURRENCY, SUM(ECL_AMOUNT * EXCHANGE_RATE) AS ECL_AMOUNT_LCY_PREV 
		--		FROM IFRS_MASTER_ACCOUNT_MONTHLY 
		--		WHERE IMPAIRED_FLAG = ''I''
		--			AND ACCOUNT_STATUS = ''A''
		--			AND DOWNLOAD_DATE = ''' + CAST(EOMONTH(DATEADD(MONTH, -2, DATEADD(DAY, 1, EOMONTH(@DOWNLOAD_DATE)))) AS VARCHAR(50)) + ''' 
		--			AND FACILITY_NUMBER IS NOT NULL
		--		GROUP BY FACILITY_NUMBER,
		--			CURRENCY
		--	) IMAH ON IMAH.FACILITY_NUMBER = RPT.FACILITY_NUMBER
		--		AND IMAH.CURRENCY = RPT.CURRENCY
		--	WHERE RPT.FACILITY_NUMBER IS NOT NULL
		--) RPT_FAC ON IIO.FACILITY_NUMBER = RPT_FAC.FACILITY_NUMBER
		--WHERE IIO.DOWNLOAD_DATE = ''' + CAST(@DOWNLOAD_DATE AS VARCHAR(50)) + ''''
		--		+ CASE WHEN @CUSTOMER_NUMBER <> ''
		--			THEN ' AND IIO.CUSTOMER_NUMBER LIKE ''%' + @CUSTOMER_NUMBER + '%'''
		--			ELSE ''
		--		END
		--		+ CASE WHEN @CUSTOMER_NAME <> ''
		--			THEN ' AND IIO.CUSTOMER_NAME LIKE ''%' + @CUSTOMER_NAME + '%'''
		--			ELSE ''
		--		END
		--	+ '
		--GROUP BY IIO.CUSTOMER_NUMBER,
		--	IIO.CUSTOMER_NAME';

	--PRINT(@Query);

	--EXEC(@Query);
	

	-- Remarks by JU 31-Jan-2018
	--'SELECT "Reporting Date",
	--	"Customer Number",
	--	"Customer Name",
	--	"BI Collectability",
	--	SUM("EAD Amount" * "Exchange Rate" ) AS "EAD Amount LCY",
	--	SUM("EAD Amount" * "Exchange Rate" ) - SUM(NPV * "Exchange Rate") AS "ECL Amount LCY",
	--	SUM("ECL Amount LCY Previous Month") AS "ECL Amount LCY Previous Month",
	--	(SUM("EAD Amount" * "Exchange Rate" ) - SUM(NPV * "Exchange Rate"))  - 	SUM("ECL Amount LCY Previous Month") AS "Additional (Reversal)",
	--	"Customer Number" AS DETAILPKID
	--FROM 
	--(
	--	SELECT "Reporting Date",
	--		"Customer Number",
	--		"Customer Name",
	--		"Facility Number",
	--		"BI Collectability",
	--		 XX."Currency",
	--		"EAD Amount",
	--		"EAD Amount LCY",
	--		"NPV",
	--		CASE WHEN "Status" = ''R'' THEN 0 ELSE "Exchange Rate" END AS "Exchange Rate",
	--		"ECL Amount LCY Previous Month"
	--	FROM
	--	(
	--		SELECT "Reporting Date",
	--			"Customer Number",
	--			"Customer Name",
	--			"Facility Number",
	--			"BI Collectability",
	--			"Currency",
	--			MAX("Exchange Rate") AS "Exchange Rate",
	--			SUM("EAD Amount") "EAD Amount",
	--			SUM("EAD Amount LCY") "EAD Amount LCY",
	--			SUM("ECL Amount LCY Previous Month") "ECL Amount LCY Previous Month",
	--			"Status"
	--		FROM
	--		(
	--			SELECT IMA.DOWNLOAD_DATE as "Reporting Date",
	--				IMA.CUSTOMER_NUMBER as "Customer Number",
	--				IMA.CUSTOMER_NAME as "Customer Name",
	--				IMA.FACILITY_NUMBER as "Facility Number",
	--				IMA.BI_COLLECTABILITY as "BI Collectability",
	--				IMA.CURRENCY as "Currency",
	--				IMA.EXCHANGE_RATE as "Exchange Rate",
	--				ISNULL(IMA.EAD_AMOUNT,0) AS "EAD Amount" ,
	--				ISNULL(IMA.EAD_AMOUNT,0) * IMA.EXCHANGE_RATE AS "EAD Amount LCY",			
	--				ISNULL(IMAH.ECL_AMOUNT,0)  * ISNULL(IMAH.EXCHANGE_RATE,0) AS "ECL Amount LCY Previous Month",
	--				COALESCE(IIO.DCFSTATUS, ''A'') AS "Status"
	--			FROM IFRS_MASTER_ACCOUNT IMA
	--				LEFT JOIN IFRS_IMP_IA_MASTER IIIM ON IMA.MASTER_ACCOUNT_ID = IIIM.MASTER_ACCOUNT_ID
	--					AND IMA.DOWNLOAD_DATE = IIIM.DOWNLOAD_DATE
	--				LEFT JOIN IFRS_IMP_IA_MASTER_HIST IIIMH ON IMA.MASTER_ACCOUNT_ID = IIIMH.MASTER_ACCOUNT_ID
	--					AND IMA.DOWNLOAD_DATE = IIIMH.DOWNLOAD_DATE
	--				LEFT JOIN IFRS_IMP_OVERRIDE IIO ON IMA.FACILITY_NUMBER = IIO.FACILITY_NUMBER
	--					AND IMA.CURRENCY = IIO.CURRENCY
	--					AND IMA.DOWNLOAD_DATE = IIO.DOWNLOAD_DATE
	--				LEFT JOIN 
	--				(
	--					SELECT * FROM IFRS_MASTER_ACCOUNT_MONTHLY 
	--					WHERE IMPAIRED_FLAG = ''I''
	--						AND ACCOUNT_STATUS = ''A''
	--						AND DOWNLOAD_DATE = ''' + CAST(EOMONTH(DATEADD(MONTH, -2, DATEADD(DAY, 1, EOMONTH(@DOWNLOAD_DATE)))) AS VARCHAR(50)) + ''' 
	--				) IMAH ON IMAH.MASTER_ACCOUNT_ID = IMA.MASTER_ACCOUNT_ID
	--				WHERE IMA.DOWNLOAD_DATE = ''' + CAST(@DOWNLOAD_DATE AS VARCHAR(50)) + '''
	--					AND IMA.IMPAIRED_FLAG = ''I''
	--					AND IMA.ACCOUNT_STATUS = ''A''
	--					AND IMA.FACILITY_NUMBER IS NOT NULL
	--					AND IMA.EAD_AMOUNT > 0'
	--					+ CASE WHEN @CUSTOMER_NUMBER <> ''
	--						THEN ' AND IMA.CUSTOMER_NUMBER LIKE ''%' + @CUSTOMER_NUMBER + '%'''
	--						ELSE ''
	--					END
	--					+ CASE WHEN @CUSTOMER_NAME <> ''
	--						THEN ' AND IMA.CUSTOMER_NAME LIKE ''%' + @CUSTOMER_NAME + '%'''
	--						ELSE ''
	--					END
	--		+ ') X 	
	--		GROUP BY "Reporting Date",
	--			"Customer Number",
	--			"Customer Name",
	--			"Facility Number",
	--			"BI Collectability",
	--			"Currency",
	--			"Status"
	--	) XX
	--	LEFT JOIN 
	--	(
	--		SELECT SUM(YY.NPV) NPV, YY.FACILITY_NUMBER, YY.CURRENCY
	--		FROM TBLT_PAYMENTEXPECTED_PENDING YY
	--		INNER JOIN 
	--		(
	--			SELECT  FACILITY_NUMBER, CURRENCY, MAX(UPLOADID) AS UPLOADID FROM TBLT_PAYMENTEXPECTED_PENDING
	--			GROUP BY FACILITY_NUMBER, CURRENCY
	--		) ZZ ON YY.FACILITY_NUMBER = ZZ.FACILITY_NUMBER
	--			AND YY.CURRENCY = ZZ.CURRENCY
	--			AND YY.UPLOADID = ZZ.UPLOADID				
	--		GROUP BY YY.FACILITY_NUMBER, YY.CURRENCY					
	--	) B ON XX."Facility Number" = B.FACILITY_NUMBER
	--		AND XX."Currency" = B.CURRENCY
	--		WHERE "Status" IN (''P'',''A'',''R'')
	--) XXX
	--GROUP BY "Reporting Date",
	--	"Customer Number",
	--	"Customer Name",
	--	"BI Collectability"';


	-- Remarks by JU 24-Jan-2018
	--'SELECT DOWNLOAD_DATE as "Reporting Date",
	--	CUSTOMER_NUMBER as "Customer Number",
	--	CUSTOMER_NAME as "Customer Name",
	--	BI_COLLECTABILITY as "BI Collectability",
	--	CURRENCY AS "Currency",
	--	SUM(EAD_AMOUNT) AS "EAD Amount LCY",
	--	SUM(ECL_AMOUNT) AS  "ECL Amount LCY",
	--	SUM(ECL_AMOUNT_PREV_MONTH) AS "ECL Amount LCY Prev Month",
	--	SUM(ECL_AMOUNT) - SUM(ECL_AMOUNT_PREV_MONTH) as "Additional (Reversal)",
	--	DETAILPKID
	--FROM
	--(
	--	SELECT IMA.DOWNLOAD_DATE,
	--		IMA.CUSTOMER_NUMBER,
	--		IMA.CUSTOMER_NAME,
	--		IMA.BI_COLLECTABILITY,
	--		''IDR'' CURRENCY,
	--		ISNULL(IMA.EAD_AMOUNT,0) * IMA.EXCHANGE_RATE AS EAD_AMOUNT,
	--		(
	--			CASE WHEN IMA.DOWNLOAD_DATE = EOMONTH(''' + CAST(@DOWNLOAD_DATE AS VARCHAR(50)) + ''') 
	--				THEN IMA.ECL_AMOUNT
	--				ELSE COALESCE(IMA.EAD_AMOUNT - TPEP.NPV, IIIM.IIP_AMOUNT, IIIMH.IIP_AMOUNT)
	--			END
	--		) * IMA.EXCHANGE_RATE AS ECL_AMOUNT,
	--		ISNULL(IMAH.ECL_AMOUNT,0)  * ISNULL(IMAH.EXCHANGE_RATE,0) AS ECL_AMOUNT_PREV_MONTH,
	--		IMA.CUSTOMER_NUMBER AS DETAILPKID
	--	FROM IFRS_MASTER_ACCOUNT IMA
	--		LEFT JOIN IFRS_IMP_IA_MASTER IIIM ON IMA.MASTER_ACCOUNT_ID = IIIM.MASTER_ACCOUNT_ID
	--			AND IMA.DOWNLOAD_DATE = IIIM.DOWNLOAD_DATE
	--		LEFT JOIN IFRS_IMP_IA_MASTER_HIST IIIMH ON IMA.MASTER_ACCOUNT_ID = IIIMH.MASTER_ACCOUNT_ID
	--			AND IMA.DOWNLOAD_DATE = IIIM.DOWNLOAD_DATE
	--		LEFT JOIN 
	--		(
	--			SELECT SUM(NPV) NPV, MASTER_ACCOUNT_ID, ESTIMATED_REALIZATION_DATE, CURRENCY
	--			FROM TBLT_PAYMENTEXPECTED_PENDING
	--			GROUP BY MASTER_ACCOUNT_ID, ESTIMATED_REALIZATION_DATE, CURRENCY
	--		) TPEP ON IMA.MASTER_ACCOUNT_ID = TPEP.MASTER_ACCOUNT_ID
	--			AND TPEP.ESTIMATED_REALIZATION_DATE = ''' + CAST(EOMONTH(DATEADD(DAY, 1, (EOMONTH(@DOWNLOAD_DATE)))) AS VARCHAR(50)) + '''
	--			AND IMA.CURRENCY = TPEP.CURRENCY
	--		LEFT JOIN 
	--		(
	--			SELECT * FROM IFRS_MASTER_ACCOUNT_MONTHLY 
	--			WHERE IMPAIRED_FLAG = ''I''
	--				AND ACCOUNT_STATUS = ''A''
	--				AND DOWNLOAD_DATE = ''' + CAST(EOMONTH(DATEADD(MONTH, -2, DATEADD(DAY, 1, EOMONTH(@DOWNLOAD_DATE)))) AS VARCHAR(50)) + ''' 
	--		) IMAH ON IMAH.MASTER_ACCOUNT_ID = IMA.MASTER_ACCOUNT_ID
	--	WHERE IMA.DOWNLOAD_DATE = ''' + CAST(@DOWNLOAD_DATE AS VARCHAR(50)) + '''
	--		AND IMA.IMPAIRED_FLAG = ''I''
	--		AND IMA.ACCOUNT_STATUS = ''A''
	--		AND IMA.EAD_AMOUNT > 0'
	--		+ CASE WHEN @CUSTOMER_NUMBER <> ''
	--			THEN ' AND IMA.CUSTOMER_NUMBER LIKE ''%' + @CUSTOMER_NUMBER + '%'''
	--			ELSE ''
	--		END
	--		+ CASE WHEN @CUSTOMER_NAME <> ''
	--			THEN ' AND IMA.CUSTOMER_NAME LIKE ''%' + @CUSTOMER_NAME + '%'''
	--			ELSE ''
	--		END
	--+ ') X
	--GROUP BY
	--	DOWNLOAD_DATE,
	--	CUSTOMER_NUMBER,
	--	CUSTOMER_NAME,
	--	BI_COLLECTABILITY,
	--	CURRENCY,
	--	DETAILPKID';

	-- Remarks by JU 23-Jan-2018
	--'SELECT DOWNLOAD_DATE as "Reporting Date",
	--		CUSTOMER_NUMBER as "Customer Number",
	--		CUSTOMER_NAME as "Customer Name",
	--		BI_COLLECTABILITY as "BI Collectability",
	--		CURRENCY AS "Currency",
	--		SUM(EAD_AMOUNT) AS "EAD Amount LCY",
	--		SUM(ECL_AMOUNT) AS  "ECL Amount LCY",
	--		SUM(ECL_AMOUNT_PREV_MONTH) AS "ECL Amount LCY Prev Month",
	--		SUM(ECL_AMOUNT) - SUM(ECL_AMOUNT_PREV_MONTH) as "Additional (Reversal)",
	--		DETAILPKID
	--	FROM
	--	(
	--		SELECT IMA.DOWNLOAD_DATE,
	--			IMA.CUSTOMER_NUMBER,
	--			IMA.CUSTOMER_NAME,
	--			IMA.BI_COLLECTABILITY,
	--			''IDR'' CURRENCY,
	--			ISNULL(IMA.EAD_AMOUNT,0) * IMA.EXCHANGE_RATE AS EAD_AMOUNT,
	--			(CASE WHEN IMA.DOWNLOAD_DATE = EOMONTH(''' + CAST(@DOWNLOAD_DATE AS VARCHAR(50)) + ''') 
	--				THEN IMA.ECL_AMOUNT
	--				ELSE ISNULL(IIIM.IIP_AMOUNT,IMA.ECL_AMOUNT)
	--			END) * IMA.EXCHANGE_RATE AS ECL_AMOUNT,
	--			ISNULL(IMAH.ECL_AMOUNT,0)  * ISNULL(IMAH.EXCHANGE_RATE,0) AS ECL_AMOUNT_PREV_MONTH,
	--			IMA.CUSTOMER_NUMBER AS DETAILPKID
	--		FROM IFRS_MASTER_ACCOUNT IMA
	--			LEFT JOIN IFRS_IMP_IA_MASTER IIIM ON IMA.MASTER_ACCOUNT_ID = IIIM.MASTER_ACCOUNT_ID
	--				AND IMA.DOWNLOAD_DATE = IIIM.DOWNLOAD_DATE
	--			LEFT JOIN (SELECT * FROM IFRS_MASTER_ACCOUNT_MONTHLY 
	--					   WHERE IMPAIRED_FLAG = ''I''
	--						AND ACCOUNT_STATUS = ''A''
	--						AND DOWNLOAD_DATE = ''' + CAST(DATEADD(MONTH,-1,  @DOWNLOAD_DATE) AS VARCHAR(50)) + ''' )IMAH	
	--				ON IMAH.MASTER_ACCOUNT_ID = IMA.MASTER_ACCOUNT_ID
	--		WHERE IMA.DOWNLOAD_DATE = ''' + CAST(@DOWNLOAD_DATE AS VARCHAR(50)) + '''
	--			AND IMA.IMPAIRED_FLAG = ''I''
	--			AND IMA.ACCOUNT_STATUS = ''A''
	--			AND IMA.EAD_AMOUNT > 0'
	--			+ CASE WHEN @CUSTOMER_NUMBER <> ''
	--				THEN ' AND IMA.CUSTOMER_NUMBER LIKE ''%' + @CUSTOMER_NUMBER + '%'''
	--				ELSE ''
	--			END
	--			+ CASE WHEN @CUSTOMER_NAME <> ''
	--				THEN ' AND IMA.CUSTOMER_NAME LIKE ''%' + @CUSTOMER_NAME + '%'''
	--				ELSE ''
	--			END
	--	+ ') X
	--	GROUP BY
	--		DOWNLOAD_DATE,
	--		CUSTOMER_NUMBER,
	--		CUSTOMER_NAME,
	--		BI_COLLECTABILITY,
	--		CURRENCY,
	--		DETAILPKID';

END;

GO
