USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TMP_LIGHT_GETNAMEBYID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ================
-- Edited by Julian 
-- 12-27-2017
-- ================
CREATE procedure [dbo].[USPS_TMP_LIGHT_GETNAMEBYID]
(
	@PKID BIGINT
)
AS
BEGIN

	--SELECT 
	--	LIGHT_PD_MODEL_NAME, PKID
	--FROM TMP_IFRS_LIGHT_PD_CONFIG 
	--WHERE PKID=@PKID

	SELECT A.PKID,
		LIGHT_PD_MODEL_NAME,
		TM_RULE_NAME,
		TM_PERIOD,
		PD_EFF_PERIOD,
		BOOTSTRAP_NAME,
		LIGHT_DESCRIPTION,
		AVG_LIGHT_FROM,
		AVG_LIGHT_TO,
		A.ACTIVE_FLAG
	FROM TMP_IFRS_LIGHT_PD_CONFIG A 
		LEFT JOIN IFRS_PD_BOOTSTRAP_CONFIG B ON A.BOOTSTRAP_RULE_ID = B.PKID
		LEFT JOIN IFRS_PD_TRANS_MATRIX_CONFIG C ON A.TM_RULE_ID = C.PKID
		LEFT JOIN IFRS_IMP_LIGHT_SCEN_PARAM D ON A.LIGHT_GROUP = D.LIGHT_GROUP
	WHERE A.PKID = @PKID

END

GO
