USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_QUESTION_SPPI]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_QUESTION_SPPI]  
(
	@PKID bigint = 0
)
AS     
BEGIN

	--DELETE FROM dbo.IFRS_AC_SPPI_QUESTIONS
	--WHERE PKID = @PKID

	UPDATE dbo.IFRS_AC_SPPI_QUESTIONS SET IS_DELETE = 1
	WHERE PKID = @PKID
   
END

GO
