USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMPDMODELCOUNT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMPDMODELCOUNT]    
(    
    @Where VARCHAR(4000) = NULL    
)    
AS    
 DECLARE @Query VARCHAR (3000);    
     
 SET NOCOUNT ON;    
    
 SET @Query =     
  'SELECT COUNT(*)    
  FROM IFRS_PD_RULES_CONFIG '    
  + CASE WHEN @Where IS NOT NULL    
   THEN 'WHERE ' + @Where    
   ELSE ''    
  END  
       
  + CASE WHEN @Where IS NOT NULL            
   THEN ' AND ISNULL(IS_DELETE,0) = 0 '            
   ELSE ' WHERE ISNULL(IS_DELETE,0) = 0'            
  END;  
    
 EXEC (@Query);  
 PRINT (@Query);  
GO
