USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_ANALYSIS_PERIOD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_ANALYSIS_PERIOD]
(
    @ProdGroup int
)
AS
BEGIN
    DECLARE @v_Method Varchar(50);
     
    SELECT @v_Method = PD_METHOD
    FROM IFRS_PD_TRANS_MATRIX_CONFIG
    WHERE PKID = @ProdGroup;
    
    IF @v_Method = 'MAA' BEGIN
            SELECT DISTINCT A.EFF_DATE "PERIOD",
				LTRIM(RTRIM(DATENAME(MONTH, A.EFF_DATE))) + ' ' + LTRIM(RTRIM(DATENAME(YEAR, A.EFF_DATE))) AS DESCRIPTION
            FROM IFRS_PD_MAA_ENR A
			JOIN IFRS_TM_MOODYS B
			ON A.EFF_DATE = B.EFF_DATE
            WHERE PD_RULE_ID = @ProdGroup
            ORDER BY A.EFF_DATE DESC;
            
    END
  
END;

GO
