USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ASSETBUSINESSMODELPEND]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPI_ASSETBUSINESSMODELPEND]
(
    @Asset_ID BIGINT = NULL,
    @ComCodeDetail VARCHAR(50) = ' ',
    @Selected VARCHAR(50) = ' ',
    @Remark VARCHAR(4000) = ' ',
    @CreatedBy VARCHAR(36) = ' ',
    @CreatedHost VARCHAR(30) = ' '
)
AS
BEGIN

    INSERT INTO IFRS_ASSET_CLASS_BM_DETAIL_PEND
    (
        ASSET_ID, 
        COMMONCODE_DTL, 
        SELECTED_VALUE, 
        REMARK, 
        CREATEDBY, 
        CREATEDDATE, 
        CREATEDHOST
    )
    VALUES 
    (
        @Asset_ID,
        @ComCodeDetail,
        @Selected,
        @Remark, 
        @CreatedBy,
        GETDATE(),
        @CreatedHost
    );
        
END;

GO
