USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SICR_RULE_ECL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SICR_RULE_ECL]  
AS  
BEGIN  
 SELECT  
  PKID RULE_ID  
  ,RULE_NAME  
  ,ROW_NUMBER() OVER(ORDER BY PKID ASC) AS rownumber  
 FROM IFRS_SCENARIO_RULES_HEADER  
 WHERE RULE_TYPE = 'STAGE' AND ISNULL(IS_DELETE,0)=0  
END 
GO
