USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOANREPORTBYPRODUCT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_LOANREPORTBYPRODUCT]              
(              
@DOWNLOAD_DATE datetime='01/01/2000',            
@CURRENCY varchar(20)=''            
)              
AS                 
BEGIN         
         
IF @CURRENCY = 'ALL'            
	SET @CURRENCY = ''

  SELECT            
   CONVERT(VARCHAR(6),DOWNLOAD_DATE,112) "Period",   
   --PMA.PRODUCT_TYPE_GROUP "Category",           
   PRODUCT_TYPE "Product Type",            
   PRODUCT_CODE "Product Code",                       
   PARAM.PRD_DESC "Product Description",                
   CASE            
    WHEN IMPAIRED_FLAG = 'I' THEN 'Specific Impairment'            
    ELSE 'Collective Impairment'            
    END "Impairment Flag",        
  CURRENCY "Currency",     
   PMA.EXCHANGE_RATE "Exchange Rate",        
   sum(isnull(PMA.OUTSTANDING, 0)) "Outstanding(ORI)",            
   sum(isnull(OUTSTANDING, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "Outstanding(IDR)",            
   sum(isnull(PMA.EAD_AMOUNT, 0)) "EAD(ORI)",            
   sum(isnull(PMA.EAD_AMOUNT, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "EAD(IDR)",            
   /*CASE            
    WHEN IMPAIRED_FLAG = 'I' THEN format(sum(isnull(PMA.IIP_AMOUNT, 0)), @Separator)            
    ELSE format(sum(isnull(PIP_AMOUNT, 0)), @Separator)            
    END "Provision(ORI)",            
   CASE            
    WHEN IMPAIRED_FLAG = 'I' THEN format(sum(isnull(PMA.IIP_AMOUNT, 0) * isnull(EXCHANGE_RATE, 0)), @Separator)            
    ELSE format(sum(isnull(PIP_AMOUNT, 0) * isnull(EXCHANGE_RATE, 0)), @Separator)            
    END "Provision(BND)",   */         
   sum(isnull(PMA.INITIAL_UNAMORT_TXN_COST, 0)) "Initial Cost(ORI)",            
   sum(isnull(PMA.INITIAL_UNAMORT_TXN_COST, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "Initial Cost(IDR)",            
   sum(isnull(INITIAL_UNAMORT_TXN_COST, 0) - isnull(UNAMORT_COST_AMT, 0)) "Amortization Cost(ORI)",            
   sum(isnull(INITIAL_UNAMORT_TXN_COST, 0) - isnull(UNAMORT_COST_AMT, 0)) * isnull(PMA.EXCHANGE_RATE, 0) "Amortization Cost(IDR)",            
   sum(isnull(INITIAL_UNAMORT_ORG_FEE, 0)) "Initial Fee(ORI)",            
   sum(isnull(INITIAL_UNAMORT_ORG_FEE, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "Initial Fee(IDR)",            
   sum(isnull(INITIAL_UNAMORT_ORG_FEE, 0) - isnull(UNAMORT_FEE_AMT, 0)) "Amortization Fee(ORI)",            
   sum((isnull(INITIAL_UNAMORT_ORG_FEE, 0) - isnull(UNAMORT_FEE_AMT, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Amortization Fee(IDR)",            
   --sum(isnull(CURRENT_BALANCE, 0) - isnull(PROFIT_REBATE, 0)) "Cbal Less Profit Rebate(ORI)",            
   --sum((isnull(CURRENT_BALANCE, 0) - isnull(PROFIT_REBATE, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Cbal Less Profit Rebate(IDR)",            
   sum(isnull(OUTSTANDING, 0)) "Outstanding Principal(ORI)",            
   sum((isnull(OUTSTANDING, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Outstanding Principal(IDR)",            
   --sum(isnull(CURRENT_BALANCE, 0)) "Cbal(ORI)",            
   --sum((isnull(CURRENT_BALANCE, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Cbal(IDR)",            
   isnull(COUNT(MASTERID), 0) "Number Of Account"            
  FROM IFRS_MASTER_PRODUCT_PARAM PARAM            
  INNER JOIN IFRS_MASTER_ACCOUNT_MONTHLY PMA            
  ON PARAM.DATA_SOURCE = PMA.DATA_SOURCE            
   AND PARAM.CCY = PMA.CURRENCY            
   AND PARAM.PRD_CODE = PMA.PRODUCT_CODE            
 WHERE DOWNLOAD_DATE = @Download_Date
	AND PMA.CURRENCY LIKE '%'+@CURRENCY+'%'
  GROUP BY PRODUCT_TYPE,            
                PRODUCT_CODE,            
                PARAM.PRD_DESC,          
                IMPAIRED_FLAG,            
                DOWNLOAD_DATE,            
                CURRENCY,  
    EXCHANGE_RATE--,  
    --PMA.PRODUCT_TYPE_GROUP            
        ORDER BY PRODUCT_TYPE, PRODUCT_CODE;            

 END            

GO
