USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRODUCTTYPEFORPRODPARAM]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUPPRODUCTTYPEFORPRODPARAM]
AS
BEGIN
	SELECT 
		VALUE1 AS PRD_TYPE,
		IIF(DESCRIPTION = '', VALUE1, VALUE1 + ' - ' + DESCRIPTION) AS [Product Type]
	FROM TBLM_COMMONCODEDETAIL 
	WHERE COMMONCODE = 'B100'
		AND VALUE1 != 'ALL'
		AND ISNULL(IS_DELETE, 0) = 0
	ORDER BY PRD_TYPE
END

GO
