USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_PREPAYMENTANALYSIS_H]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_PREPAYMENTANALYSIS_H](  
@PREPAYMENT_RULE_ID BIGINT = 0,  
@DOWNLOAD_DATE DATE = '01/01/2000')    
AS    
BEGIN  
   
 SELECT  
  ISNULL(SMM,0) * 100 AS SMM  
 FROM IFRS_EAD_PREPAYMENT_HEADER  
 WHERE PREPAYMENT_RULE_ID = @PREPAYMENT_RULE_ID  
  AND EFF_DATE = @DOWNLOAD_DATE  
  
END;
GO
