USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_BI_INDUSTRYSECTORS]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPD_BI_INDUSTRYSECTORS](
@PKID BIGINT = 0
)               
AS
BEGIN

	UPDATE IFRS_DIM_INDUSTRY_SECTORS
	SET
		IS_DELETE = 1
	WHERE PKID = @PKID
	
	TRUNCATE TABLE IFRS9_REPORT.DBO.IFRS_DIM_INDUSTRY_SECTORS

	INSERT INTO IFRS9_REPORT.DBO.IFRS_DIM_INDUSTRY_SECTORS
	(
		INDUSTRY_SECTOR_ID,
		ECONOMIC_SECTOR,
		GROUP_SECTOR_ID,
		GROUP_SECTOR_DESC,
		INDUSTRY_SECTOR_DESC
	)
	SELECT
		INDUSTRY_SECTOR_ID,
		value as ECONOMIC_SECTOR,
		GROUP_SECTOR_ID,
		GROUP_SECTOR_DESC,
		INDUSTRY_SECTOR_DESC
	FROM IFRS_DIM_INDUSTRY_SECTORS
	CROSS APPLY STRING_SPLIT(ECONOMIC_SECTOR,';')
	WHERE ISNULL(IS_DELETE, 0) = 0
	ORDER BY PKID

END

GO
