USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPLIFETIMEMODEL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPLIFETIMEMODEL]  
AS      
BEGIN    
    
 SELECT PKID AS LIFETIME_RULE_ID, LIFETIME_RULE_NAME  
 FROM IFRS_LIFETIME_RULES_CONFIG  
 WHERE IS_DELETE = 0  
 ORDER BY LIFETIME_RULE_NAME  
    
END; 
GO
