USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspU_ECLLGDModel]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[uspU_ECLLGDModel]          
(              
 @LGD_RULE_NAME VARCHAR(250) = '',              
 @SEGMENTATION_ID bigint = 0,              
 @SEGMENT varchar(50) = '',      
 @LGD_METHOD varchar(50) = '',      
 @DEFAULT_RULE_ID bigint = 0,      
 @DEFAULT_RULE varchar(50) = '',      
 @CUT_OFF_DATE date = '01/01/2000',      
 @LGW_HISTORICAL_DATA smallint = 0,      
 @POW_HISTORICAL_DATA smallint = 0,      
 @CURED_DEFINITION smallint = 0,      
 @WORKOUT_PERIOD smallint = 0,      
 @MIN_VALUE float = 0,      
 @MAX_VALUE float = 0,      
 @EXCLUDE_RESTRUCTURE_FLAG bit = 0,  
 @MonthFlag BIT,   
 @UpdatedBy VARCHAR(36),          
 @UpdatedHost VARCHAR(30),          
 @PKID bigint,
 @CALC_METHOD varchar(50)      
)          
AS          
BEGIN          
 UPDATE IFRS_LGD_RULES_CONFIG      
 SET [LGD_RULE_NAME] = @LGD_RULE_NAME      
 ,[SEGMENTATION_ID] = @SEGMENTATION_ID      
 ,[LGD_METHOD] = @LGD_METHOD      
 ,[LGW_HISTORICAL_DATA] = @LGW_HISTORICAL_DATA      
 ,[POW_HISTORICAL_DATA] = @POW_HISTORICAL_DATA      
 ,[CURED_DEFINITION] = @CURED_DEFINITION      
 ,[WORKOUT_PERIOD] = @WORKOUT_PERIOD      
 ,[MIN_VALUE] = @MIN_VALUE      
 ,[MAX_VALUE] = @MAX_VALUE      
 ,[EXCLUDE_RESTRUCTURE_FLAG] = @EXCLUDE_RESTRUCTURE_FLAG    
 ,[CUT_OFF_DATE] = @CUT_OFF_DATE      
 ,[DEFAULT_RULE_ID] = @DEFAULT_RULE_ID      
 ,[LAG_1MONTH_FLAG] = @MonthFlag
 ,UPDATEDBY = @UpdatedBy      
 ,UPDATEDDATE = GETDATE()      
 ,UPDATEDHOST = @UpdatedHost
 ,CALC_METHOD = @CALC_METHOD      
 WHERE PKID = @PKID;          
      
END; 
GO
