USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_MODELMACROECONOMIC]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_MODELMACROECONOMIC]
(
    @PKID BIGINT
)
AS
BEGIN
	SET NOCOUNT ON;
	
	declare @CountME int;

	select @CountME = Count(*)
	from IFRS_PD_BOOTSTRAP_CONFIG
	where MODEL_ID = @PKID

	if @CountME > 0
	begin
		RAISERROR (N'Macro Economic model is used in bootstrap. Deletion failed.', -- Message text.  
						16, -- Severity,  
						2); -- Second argument.
	end
	else
	begin
		DELETE IFRS_MACRO_ECONOMIC_MODEL
		WHERE PKID = @PKID;

		DELETE IFRS_DEPENDENT_VARIABLE
		WHERE MODEL_ID = @PKID;

		DELETE IFRS_INDEPENDENT_VARIABLE
		WHERE MODEL_ID = @PKID;
    
		DELETE IFRS_ME_MODEL_CORRELATION
		WHERE MODEL_ID = @PKID;
    
		DELETE IFRS_ME_SEASONAL_ADJUSTMENT
		WHERE MODEL_ID = @PKID;

		DELETE TMP_IFRS_MACRO_ECONOMIC_MODEL
		WHERE PKID = @PKID;

		DELETE TMP_IFRS_DEPENDENT_VARIABLE
		WHERE MODEL_ID = @PKID;

		DELETE TMP_IFRS_INDEPENDENT_VARIABLE
		WHERE MODEL_ID = @PKID;
    
		DELETE TMP_IFRS_ME_MODEL_CORRELATION
		WHERE MODEL_ID = @PKID;
    
		DELETE TMP_IFRS_ME_SEASONAL_ADJ
		WHERE MODEL_ID = @PKID;
	end

	
END;

GO
