USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_GL_OFFBALANCESHEET]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_GL_OFFBALANCESHEET]
(
	@Download_Date datetime='01/01/2000',      
	@Currency varchar(5)='',
	@BRANCH_CODE varchar(20)=''       
)
AS
BEGIN  

	select * ,
	CURRENCY 'CCY',
	ROUND(BBIFRS*RATE,2) BBIFRSBND , ROUND(ADJIFRS*RATE,2) ADJIFRSBND , ROUND(BAIFRS*RATE,2) BAIFRSBND 
	from GL_FS_FINAL with (nolock)
	Where (upper(Gen1_Desc) like '%OFF%')
	and download_date=@Download_Date and SOURCE = 'OBS' and CURRENCY LIKE '%'+@Currency+'%' and Branch_code like '%'+@BRANCH_CODE+'%'
	--Order by GEN1_CODE, GEN2_CODE, GEN3_CODE, GEN4_CODE
	--CASE WHEN GEN3_DESC <> '' THEN GEN3_CODE END 

END

GO
