USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_ECLMOVEMENTCUSTOMER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_ECLMOVEMENTCUSTOMER]
(
	@Begin_Period DATE = '1-JAN-2000',
	@End_Period DATE = '1-JAN-2000',
	@Data_Source VARCHAR(2000) = '',
	@Customer_Name VARCHAR(100) = '',
	@Customer_Number VARCHAR(50) = '',
	@Product_Group VARCHAR(2000) = '',
	@Currency VARCHAR(1000) = '',
	@Branch VARCHAR(2000) = '',
	@End_Status VARCHAR(1) = ''
)
AS
BEGIN

	DECLARE @Query VARCHAR(MAX);

	SET @Query = '
		-- CIF
		SELECT COALESCE(B.CUSTOMER_NUMBER,E.CUSTOMER_NUMBER) AS "CIF Code",
			COALESCE(B.CUSTOMER_NAME,E.CUSTOMER_NAME) AS "Customer Name",
			COALESCE(B.CURRENCY,E.CURRENCY) AS "Currency",
			CASE WHEN(SUM(B.[Provisi Begin])) IS NOT NULL
				THEN SUM(B.[Provisi Begin])
				ELSE 0
			END AS [Provisi Begin (in IDR)],
			CASE WHEN(SUM(E.[Provisi End])) IS NOT NULL
				THEN SUM(E.[Provisi End])
				ELSE 0
			END AS [Provisi End (in IDR)],
			CASE WHEN(SUM(E.[Provisi End])) IS NULL THEN 0 ELSE SUM(E.[Provisi End]) END - 
			CASE WHEN(SUM(B.[Provisi Begin])) IS NULL THEN 0 ELSE SUM(B.[Provisi Begin]) END AS "Movement (in IDR)",
			B.EXCHANGE_RATE as "ExRate Begin",
			E.EXCHANGE_RATE as "ExRate End"
		FROM
		(
			-- BEGIN
			SELECT CUSTOMER_NUMBER,
				CUSTOMER_NAME,
				ACCOUNT_NUMBER,
				ACCOUNT_STATUS,
				EXCHANGE_RATE,
				CURRENCY,
				CASE WHEN ECL_AMOUNT < 0 OR ECL_AMOUNT IS NULL
					THEN 0
					ELSE ECL_AMOUNT * EXCHANGE_RATE 
				END AS "Provisi Begin"
			FROM IFRS_MASTER_ACCOUNT_MONTHLY
			WHERE DOWNLOAD_DATE = ''' + CAST(@Begin_Period AS VARCHAR(50)) + ''' '
				+ CASE WHEN @Data_Source <> '' AND @Data_Source IS NOT NULL
					THEN 'AND DATA_SOURCE IN (' + @Data_Source + ') '
					ELSE ''
				END
				+ CASE WHEN @Customer_Name <> '' AND @Customer_Name IS NOT NULL
					THEN 'AND CUSTOMER_NAME = ''' + @Customer_Name + ''' '
					ELSE ''
				END
				+ CASE WHEN @Customer_Number <> '' AND @Customer_Number IS NOT NULL
					THEN 'AND CUSTOMER_NUMBER = ''' + @Customer_Number + ''' '
					ELSE ''
				END
				+ CASE WHEN @Product_Group <> '' AND @Product_Group IS NOT NULL
					THEN 'AND PRODUCT_GROUP IN (' + @Product_Group + ') '
					ELSE ''
				END
				+ CASE WHEN @Currency <> '' AND @Currency IS NOT NULL
					THEN 'AND CURRENCY IN (' + @Currency + ') '
					ELSE ''
				END
				+ CASE WHEN @Branch <> '' AND @Branch IS NOT NULL
					THEN 'AND BRANCH_CODE IN (' + @Branch + ') '
					ELSE ''
				END
				+ CASE WHEN @End_Status = '' AND @End_Status IS NOT NULL
					THEN ''
					ELSE 'AND ACCOUNT_STATUS = ''A'''
				END
		+ ') B
		'+
		CASE WHEN @End_Status = '' AND @End_Status IS NOT NULL
				THEN 'FULL JOIN'
			ELSE 'INNER JOIN'
		END 
		+'
		(
			-- END
			SELECT CUSTOMER_NUMBER,
				CUSTOMER_NAME,
				ACCOUNT_NUMBER,
				ACCOUNT_STATUS,
				EXCHANGE_RATE,
				CURRENCY,
				CASE WHEN ECL_AMOUNT < 0 OR ECL_AMOUNT IS NULL
					THEN 0
					ELSE ECL_AMOUNT * EXCHANGE_RATE 
				END AS "Provisi End"
			FROM IFRS_MASTER_ACCOUNT_MONTHLY
			WHERE DOWNLOAD_DATE = ''' + CAST(@End_Period AS VARCHAR(50)) + ''' '
			+ CASE WHEN @Data_Source <> '' AND @Data_Source IS NOT NULL
					THEN 'AND DATA_SOURCE IN (' + @Data_Source + ') '
					ELSE ''
				END
				+ CASE WHEN @Customer_Name <> '' AND @Customer_Name IS NOT NULL
					THEN 'AND CUSTOMER_NAME = ''' + @Customer_Name + ''' '
					ELSE ''
				END
				+ CASE WHEN @Customer_Number <> '' AND @Customer_Number IS NOT NULL
					THEN 'AND CUSTOMER_NUMBER = ''' + @Customer_Number + ''' '
					ELSE ''
				END
				+ CASE WHEN @Product_Group <> '' AND @Product_Group IS NOT NULL
					THEN 'AND PRODUCT_GROUP IN (' + @Product_Group + ') '
					ELSE ''
				END
				+ CASE WHEN @Currency <> '' AND @Currency IS NOT NULL
					THEN 'AND CURRENCY IN (' + @Currency + ') '
					ELSE ''
				END
				+ CASE WHEN @Branch <> '' AND @Branch IS NOT NULL
					THEN 'AND BRANCH_CODE IN (' + @Branch + ') '
					ELSE ''
				END
				+ CASE WHEN @End_Status = '' AND @End_Status IS NOT NULL
					THEN ''
					WHEN @End_Status = 'A'
					THEN 'AND ACCOUNT_STATUS = ''A'''
					WHEN @End_Status = 'C'
					THEN 'AND ACCOUNT_STATUS = ''C'''
					WHEN @End_Status = 'W'
					THEN 'AND ACCOUNT_STATUS = ''W'''
				END
		+ ') E ON B.ACCOUNT_NUMBER = E.ACCOUNT_NUMBER
		WHERE ([Provisi Begin] <> 0 ) OR ([Provisi End] <> 0 )
		GROUP BY COALESCE(B.CUSTOMER_NUMBER,E.CUSTOMER_NUMBER), COALESCE(B.CUSTOMER_NAME,E.CUSTOMER_NAME),COALESCE(B.CURRENCY,E.CURRENCY),B.EXCHANGE_RATE,E.EXCHANGE_RATE';

	PRINT @Query;
	EXEC (@Query);

END;

GO
