USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADINDIVIDUALIMPMANUALOVERRIDE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [dbo].[USPS_LOADINDIVIDUALIMPMANUALOVERRIDE]        
(        
@userid varchar(100) = ''        
)        
AS        
BEGIN        

SELECT 
	A.CUSTOMER_NUMBER,
	BUSINESS_UNIT,
	A.IMPAIRED_FLAG,
	B.USERNAME AS CREATEDBY,
	A.CREATEDDATE
FROM        
	(SELECT 
		DISTINCT CUSTOMER_NUMBER, 
		IMPAIRED_FLAG,
		A.CREATEDBY, 
		A.CREATEDDATE,
		B.PARENTCOMMONCODEVALUE AS BUSINESS_UNIT                
	FROM IFRS_IMP_IA_MASTER_PEND A
	LEFT JOIN TBLM_COMMONCODEDETAIL B ON B.COMMONCODE = 'B1031' AND A.DATA_SOURCE = B.VALUE1 AND ISNULL(B.IS_DELETE,0) = 0
	WHERE A.CREATEDBY IN (SELECT USERID FROM TBLM_REPORTTO WHERE REPORTTO = @userid) 
		AND STATUS = 'PENDING_OVERRIDE') A
JOIN TBLM_USER B ON A.CREATEDBY = B.PKID
        
END

GO
