USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DBR_FUND_EIR_IFRS9_DTLONE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DBR_FUND_EIR_IFRS9_DTLONE]
(
    @DownloadDate DATE,
	@AmortMethod VARCHAR(20),
	@Screen VARCHAR
)
AS
BEGIN
    
	SELECT PRODUCT_CODE,
		SUM(INITIAL_FEE) AS "INITIAL_FEE",
		SUM(INITIAL_COST) AS "INITIAL_COST",
		SUM(UNAMORT_FEE) AS "UNAMORT_FEE",
		SUM(UNAMORT_COST) AS "UNAMORT_COST",
		SUM(AMORT_FEE) AS "AMORT_FEE",
		SUM(AMORT_COST) AS "AMORT_COST",
		SUM(AMORT_FEE_MTD) AS "MTD_AMORT_FEE",
		SUM(AMORT_COST_MTD) AS "MTD_AMORT_COST",
		SUM(AMORT_FEE_YTD) AS "YTD_AMORT_FEE",
		SUM(AMORT_COST_YTD) AS "YTD_AMORT_COST"
	FROM IFRS_LI_NOMINATIF_MONTHLY A
		 JOIN IFRS_MASTER_PRODUCT_PARAM B ON A.PRODUCT_CODE = B.PRD_CODE
			AND A.DATA_SOURCE = B.DATA_SOURCE
			AND INST_CLS_VALUE = @Screen
	WHERE   CONVERT(VARCHAR(6), DOWNLOAD_DATE, 112) = CONVERT(VARCHAR(6), CAST(@DownloadDate AS DATE), 112)
	AND A.AMORT_TYPE = @AmortMethod
	GROUP BY PRODUCT_CODE
	--HAVING SUM(INITIAL_FEE) <> 0
		----AND SUM(INITIAL_COST) <> 0
		--OR SUM(INITIAL_COST) <> 0
	ORDER BY PRODUCT_CODE;

END;

GO
