USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_EAD_CCF_HEADER]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SP_IFRS_IMPCR_EAD_CCF_HEADER]  
@DOWNLOAD_DATE DATE = NULL,  
@RULE_ID BIGINT = 0    
AS    
 DECLARE @V_CURRDATE DATE;     
BEGIN    
 SET NOCOUNT ON;    
    
 IF (@DOWNLOAD_DATE IS NULL)    
 BEGIN    
  SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE;    
 END    
 ELSE    
 BEGIN    
  SELECT @V_CURRDATE = @DOWNLOAD_DATE;     
 END     
     
 DROP TABLE IF EXISTS #TMP_CCF_RULES_CONFIG  
 SELECT DISTINCT     
  A.PKID,     
  A.CCF_RULE_NAME,     
  A.SEGMENTATION_ID,     
  A.CALC_METHOD,     
  A.AVERAGE_METHOD,     
  A.CUT_OFF_DATE,     
  A.CCF_OVERRIDE,    
  A.LAG_1MONTH_FLAG,      
  A.OBSERV_PERIOD_MOVING,      
  A.OS_DEF_ZERO_EXCLUDE,      
  A.HEADROOM_ZERO_EXCLUDE       
 INTO #TMP_CCF_RULES_CONFIG    
 FROM IFRS_CCF_RULES_CONFIG A   
 WHERE A.IS_DELETE = 0    
 AND A.ACTIVE_FLAG = 1   
 AND CALC_METHOD <> 'EXT'  
 AND A.PKID = @RULE_ID;      
    
 DELETE A    
 FROM IFRS_EAD_CCF_HEADER A    
 JOIN #TMP_CCF_RULES_CONFIG B     
 ON A.CCF_RULE_ID = B.PKID    
 WHERE DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END  
 AND A.CCF_RULE_ID = @RULE_ID;    
       
 INSERT INTO IFRS_EAD_CCF_HEADER    
 (    
  DOWNLOAD_DATE,     
  CCF_RULE_ID,     
  SIMPLE_AVG_CCF,     
  WEIGHTED_AVG_CCF,    
  CREATEDBY,    
  CREATEDDATE    
 )    
 SELECT     
  CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END AS DOWNLOAD_DATE,     
  CCF_RULE_ID,       
  AVG(CCF) SIMPLE_AVG_CCF,    
  SUM(CCF * (EQV_PLAFOND_12M_BEFORE_DEFAULT - EQV_OS_12M_BEFORE_DEFAULT))/(SUM(EQV_PLAFOND_12M_BEFORE_DEFAULT)-SUM(EQV_OS_12M_BEFORE_DEFAULT)) AS WEIGHTED_AVG_CCF,       
  'SP_IFRS_IMP_EAD_CCF_HEADER' AS CREATEDBY,    
  GETDATE() AS CREATEDDATE      
 FROM IFRS_EAD_CCF_DETAIL_CIF A    
 JOIN #TMP_CCF_RULES_CONFIG B     
 ON A.CCF_RULE_ID = B.PKID    
 WHERE EXCLUDE = 0 AND A.DOWNLOAD_DATE BETWEEN B.CUT_OFF_DATE AND CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END    
 AND A.CCF_RULE_ID = @RULE_ID  
 GROUP BY CCF_RULE_ID, B.LAG_1MONTH_FLAG    
 UNION ALL  
 SELECT     
  CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END AS DOWNLOAD_DATE,     
  CCF_RULE_ID,       
  AVG(CCF) SIMPLE_AVG_CCF,    
  SUM(CCF * (EQV_PLAFOND_12M_BEFORE_DEFAULT - EQV_OS_12M_BEFORE_DEFAULT))/(SUM(EQV_PLAFOND_12M_BEFORE_DEFAULT)-SUM(EQV_OS_12M_BEFORE_DEFAULT)) AS WEIGHTED_AVG_CCF,       
  'SP_IFRS_IMP_EAD_CCF_HEADER' AS CREATEDBY,    
  GETDATE() AS CREATEDDATE      
 FROM IFRS_EAD_CCF_DETAIL A    
 JOIN #TMP_CCF_RULES_CONFIG B     
 ON A.CCF_RULE_ID = B.PKID    
 WHERE EXCLUDE = 0 AND A.DOWNLOAD_DATE BETWEEN B.CUT_OFF_DATE AND CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END    
 AND A.CCF_RULE_ID = @RULE_ID  
 GROUP BY CCF_RULE_ID, B.LAG_1MONTH_FLAG  
 UNION ALL  
 SELECT     
  CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END AS DOWNLOAD_DATE,     
  CCF_RULE_ID,       
  AVG(CCF) SIMPLE_AVG_CCF,    
  CASE WHEN ISNULL((SUM(EQV_PLAFOND_12M_BEFORE_DEFAULT)-SUM(EQV_OS_12M_BEFORE_DEFAULT)), 0) = 0 THEN 0 ELSE SUM(CCF * (EQV_PLAFOND_12M_BEFORE_DEFAULT - EQV_OS_12M_BEFORE_DEFAULT))/(SUM(EQV_PLAFOND_12M_BEFORE_DEFAULT)-SUM(EQV_OS_12M_BEFORE_DEFAULT)) END AS
   
  WEIGHTED_AVG_CCF,       
  'SP_IFRS_IMP_EAD_CCF_HEADER' AS CREATEDBY,    
  GETDATE() AS CREATEDDATE      
 FROM IFRS_EAD_CCF_DETAIL_FACILITY A    
 JOIN #TMP_CCF_RULES_CONFIG B     
 ON A.CCF_RULE_ID = B.PKID    
 WHERE EXCLUDE = 0   
 AND A.DOWNLOAD_DATE BETWEEN B.CUT_OFF_DATE AND CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END    
 AND A.CCF_RULE_ID = @RULE_ID  
 GROUP BY CCF_RULE_ID, B.LAG_1MONTH_FLAG       
END; 
GO
