USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IAPOVERRIDE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IAPOVERRIDE](
@CUSTOMER_NUMBER varchar(100) = ''
,@SUB_SEGMENT bigint = 0
,@CreatedBy varchar(36) = ''
,@CreatedHost varchar(36) = '')
AS
BEGIN

--DECLARE @CUSTOMER_NUMBER varchar(100)
--DECLARE @SUB_SEGMENT bigint
DECLARE @CURRDATE date
DECLARE @IAPPARAMHEADERID bigint

--SET @CUSTOMER_NUMBER = '00332591'
--SET @SUB_SEGMENT = '11'

	SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE

	--INSERT INTO IFRS_IAP_LIST
	INSERT INTO IFRS_IAP_LIST(
		[DOWNLOAD_DATE],[MASTERID],[CUSTOMER_NUMBER],[CUSTOMER_NAME],[DAY_PAST_DUE_CIF]
      ,[BI_COLLECTABILITY],[GROUP_SEGMENT],[SEGMENT],[SUB_SEGMENT],[OUTSTANDING],[EIR]
      ,[COLLATERAL_LIQUIDATION_VALUE],[COLLECTION_COST],[WORKOUT_PERIOD_MODE],[WORKOUT_PERIOD]
      ,[LGD_RULE_ID],[IAP_EXCLUSION_FLAG],[PROBABILITY_WEIGHTED]
	  ,[DISC_CASH_FLOW]
      ,[DISC_CASH_FLOW_WEIGHTED]
	  ,[IIP_AMOUNT]
	  ,[MOVEMENT_IIP_AMOUNT]
	  ,[IA_UNWINDING_AMOUNT]
	  ,[PREV_IAP_FLAG]
      ,[IMPAIRED_FLAG]
      ,[APPROVAL_STATUS]
      ,[EFF_DATE]
      ,[IAP_PARAM_HEADERID]
      ,[DAY_PAST_DUE]
      ,[NET_CASH_FLOW]
      ,[PREV_IIP_AMOUNT]
      ,[MIN_OS_VALUE]
      ,[IA_SUM_UNWINDING_AMOUNT]
      ,[CREATEDBY]
      ,[CREATEDDATE]
      ,[CREATEDHOST]
	)
	SELECT --*
		EOMONTH(@CURRDATE) AS DOWNLOAD_DATE,MASTERID,CUSTOMER_NUMBER,CUSTOMER_NAME,DAY_PAST_DUE_CIF
		,BI_COLLECTABILITY,A.GROUP_SEGMENT,A.SEGMENT,A.SUB_SEGMENT,OUTSTANDING,EIR
		,COLLATERAL_LIQUIDATION_VALUE,C.COLLECTION_COST,C.WORKOUT_PERIOD_MODE,C.WORKOUT_PERIOD
		,C.LGD_RULE_ID,0 AS IAP_EXCLUSION_FLAG,SUM(D.PROBABILITY_OUTCOME/100 * D.RECOVERY_RATE/100) AS PROBABILITY_WEIGHTED
		,[dbo].[FUTIL_PV](A.EIR/100/12,C.WORKOUT_PERIOD,A.COLLATERAL_LIQUIDATION_VALUE * (100 - C.COLLECTION_COST) / 100) AS DISC_CASH_FLOW
		,0 AS DISC_CASH_FLOW_WEIGHTED--CALC
		,0 AS IIP_AMOUNT--CALC
		,0 AS MOVEMENT_IIP_AMOUNT--CALC
		,0 AS IA_UNWINDING_AMOUNT--CALC
		,0 AS PREV_IAP_FLAG
		,'I' AS IMPAIRED_FLAG
		,'A' AS APPROVAL_STATUS
		,@CURRDATE AS EFF_DATE
		,C.PKID AS IAP_PARAM_HEADERID
		,A.DAY_PAST_DUE
		,A.COLLATERAL_LIQUIDATION_VALUE * (100 - C.COLLECTION_COST) / 100 AS NET_CASH_FLOW
		,0 AS PREV_IIP_AMOUNT
		,C.MIN_OS_VALUE
		,0 AS IA_SUM_UNWINDING_AMOUNT--CALC
		,@CREATEDBY
		,GETDATE()
		,@CREATEDHOST
	 FROM IFRS_MASTER_ACCOUNT A
	 LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.GROUP_SEGMENT = B.GROUP_SEGMENT AND A.SEGMENT = B.SEGMENT
		AND A.SUB_SEGMENT = B.SUB_SEGMENT
	LEFT JOIN IFRS_IAP_PARAM C ON C.SEGMENTATION_ID = B.PKID
	LEFT JOIN IFRS_IAP_PARAM_SCENARIO D ON C.PKID = D.HEADER_ID
	WHERE DOWNLOAD_DATE = @CURRDATE
		AND A.CUSTOMER_NUMBER = @CUSTOMER_NUMBER
		AND C.SEGMENTATION_ID = @SUB_SEGMENT
	GROUP BY DOWNLOAD_DATE,MASTERID,CUSTOMER_NUMBER,CUSTOMER_NAME,DAY_PAST_DUE_CIF
		,BI_COLLECTABILITY,A.GROUP_SEGMENT,A.SEGMENT,A.SUB_SEGMENT,OUTSTANDING,EIR
		,COLLATERAL_LIQUIDATION_VALUE,C.COLLECTION_COST,C.WORKOUT_PERIOD_MODE,C.WORKOUT_PERIOD
		,C.LGD_RULE_ID,IAP_EXCLUSION_FLAG
		,C.PKID
		,A.DAY_PAST_DUE
		,C.MIN_OS_VALUE
	
	--UPDATE IFRS_IAP_LIST
	UPDATE A         
	SET A.DISC_CASH_FLOW_WEIGHTED = A.PROBABILITY_WEIGHTED * A.DISC_CASH_FLOW,        
		A.IIP_AMOUNT = A.OUTSTANDING - A.PROBABILITY_WEIGHTED * A.DISC_CASH_FLOW,        
		A.MOVEMENT_IIP_AMOUNT = (A.OUTSTANDING - A.PROBABILITY_WEIGHTED * A.DISC_CASH_FLOW) - A.PREV_IIP_AMOUNT  ,      
		A.IA_UNWINDING_AMOUNT = (A.PROBABILITY_WEIGHTED * A.DISC_CASH_FLOW) * A.EIR/100/12,      
		A.IA_SUM_UNWINDING_AMOUNT = A.IA_SUM_UNWINDING_AMOUNT + (A.PROBABILITY_WEIGHTED * A.DISC_CASH_FLOW) * A.EIR/100/12      
	FROM IFRS_IAP_LIST A
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.GROUP_SEGMENT = B.GROUP_SEGMENT
		AND A.SEGMENT = B.SEGMENT AND A.SUB_SEGMENT = B.SUB_SEGMENT          
	WHERE A.DOWNLOAD_DATE = EOMONTH(@CURRDATE)      
		AND A.CUSTOMER_NUMBER = @CUSTOMER_NUMBER
		AND B.PKID = @SUB_SEGMENT
		AND A.MIN_OS_VALUE <= A.OUTSTANDING
	
	SELECT @IAPPARAMHEADERID = IAP_PARAM_HEADERID FROM IFRS_IAP_LIST A
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER  B ON A.GROUP_SEGMENT = B.GROUP_SEGMENT AND A.SEGMENT = B.SEGMENT
		AND A.SUB_SEGMENT = B.SUB_SEGMENT
	WHERE DOWNLOAD_DATE = EOMONTH(@CURRDATE)
		AND CUSTOMER_NUMBER = @CUSTOMER_NUMBER
		AND PKID = @SUB_SEGMENT
	
	--INSERT INTO IFRS_IAP_LIST_SCENARIO
	INSERT INTO IFRS_IAP_LIST_SCENARIO(
		[DOWNLOAD_DATE],[CUSTOMER_NUMBER],[SCENARIO_ID],[SCENARIO_NAME],[PROBABILITY_OUTCOME]
      ,[RECOVERY_RATE],[IAP_PARAM_HEADERID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]
	)
	SELECT
		EOMONTH(@CURRDATE) AS DOWNLOAD_DATE,@CUSTOMER_NUMBER,SCENARIO_ID,SCENARIO_NAME,PROBABILITY_OUTCOME
		,RECOVERY_RATE,HEADER_ID,@CREATEDBY,GETDATE(),@CREATEDHOST
	FROM IFRS_IAP_PARAM_SCENARIO
	WHERE HEADER_ID = @IAPPARAMHEADERID

END

GO
