USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MAPPINGRULE_SINGLE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MAPPINGRULE_SINGLE]
(
	@PKID int = 0
)
AS
BEGIN

	SELECT A.PKID, 
		MAPPINGNAME, 
		MAPPINGDESCRIPTION,
		B.DESCRIPTION MAPPINGTYPEDESCRIPTION,
		FILETYPE,
		C.DESCRIPTION + ' (.' + FILETYPE + ')' FILETYPEDESCRIPTION,
		TABLEDESTINATION, 
		KEYHISTORY,
		NEEDAPPROVAL
	FROM TBLM_MAPPINGRULEHEADER_NEW A
		LEFT JOIN TBLM_COMMONCODEDETAIL B ON A.MAPPINGTYPE = B.VALUE1 
			AND B.COMMONCODE = 'AP030'
		LEFT JOIN TBLM_COMMONCODEDETAIL C ON A.FILETYPE = C.VALUE1
			AND C.COMMONCODE = 'AP031'
	WHERE A.PKID = @PKID

END

GO
