USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAP_UPDATE_HEADER]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_IAP_UPDATE_HEADER]
(
	@ID varchar(100)
)

AS

BEGIN
	SELECT 
		A.PKID, 
		A.SEGMENTATION_ID AS SUB_SEGMENT, 
		MIN_OS_VALUE, 
		COLLECTION_COST, 
		WORKOUT_PERIOD_MODE, 
		A.WORKOUT_PERIOD,
		B.PKID as LGD_ID
		FROM IFRS_IAP_PARAM A
		join IFRS_LGD_RULES_CONFIG B on A.LGD_RULE_ID = B.PKID
		JOIN IFRS_MSTR_SEGMENT_RULES_HEADER C ON A.SEGMENTATION_ID = C.PKID
	WHERE A.PKID = @ID AND A.IS_DELETE = 0
END

GO
