USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALARCONFIG_H]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALARCONFIG_H]  
 @PKID int,  
 @ACTION varchar(20)  
AS  
BEGIN  
 IF @ACTION = 'APPROVAL'  
 BEGIN  
  SELECT * FROM IFRS_ME_SCALAR_HEADER_PENDING WHERE PKID = @PKID   
 END  
 ELSE  
 BEGIN  
  SELECT * FROM IFRS_ME_SCALAR_HEADER WHERE PKID = @PKID AND IS_DELETE = 0  
 END  
END
GO
