USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_RESET_AMT_PRC]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IFRS_LI_RESET_AMT_PRC]
AS
BEGIN
	DECLARE @V_CURRDATE DATE
		,@V_PREVDATE DATE

	SELECT @V_CURRDATE = CURRDATE
		,@V_PREVDATE = PREVDATE
	FROM IFRS_LI_PRC_DATE_AMORT;

	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DELETE ECF'
		,'SP_IFRS_LI_RESET_AMT_PRC'
		,''
		)

	DELETE
	FROM IFRS_LI_ACCT_SL_ECF
	WHERE DOWNLOAD_DATE >= @V_CURRDATE

	DELETE
	FROM IFRS_LI_ACCT_EIR_ECF
	WHERE DOWNLOAD_DATE >= @V_CURRDATE

	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'UPDATE ECF'
		,'SP_IFRS_LI_RESET_AMT_PRC'
		,''
		)

	UPDATE IFRS_LI_ACCT_SL_ECF
	SET AMORTSTOPDATE = NULL
		,AMORTSTOPREASON = NULL
	WHERE AMORTSTOPDATE >= @V_CURRDATE

	UPDATE IFRS_LI_ACCT_EIR_ECF
	SET AMORTSTOPDATE = NULL
		,AMORTSTOPMSG = NULL
	WHERE AMORTSTOPDATE >= @V_CURRDATE

	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DELETE ACCRU PREV'
		,'SP_IFRS_LI_RESET_AMT_PRC'
		,''
		)

	DELETE
	FROM IFRS_LI_ACCT_SL_ACCRU_PREV
	WHERE DOWNLOAD_DATE >= @V_CURRDATE

	DELETE
	FROM IFRS_LI_ACCT_EIR_ACCRU_PREV
	WHERE DOWNLOAD_DATE >= @V_CURRDATE

	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DELETE ACF'
		,'SP_IFRS_LI_RESET_AMT_PRC'
		,''
		)

	DELETE
	FROM IFRS_LI_ACCT_SL_ACF
	WHERE DOWNLOAD_DATE >= @V_CURRDATE

	DELETE
	FROM IFRS_LI_ACCT_EIR_ACF
	WHERE DOWNLOAD_DATE >= @V_CURRDATE

	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DELETE COST FEE ECF'
		,'SP_IFRS_LI_RESET_AMT_PRC'
		,''
		)

	DELETE
	FROM IFRS_LI_ACCT_SL_COST_FEE_ECF
	WHERE ECFDATE = @V_CURRDATE

	DELETE
	FROM IFRS_LI_ACCT_EIR_COST_FEE_ECF
	WHERE ECFDATE = @V_CURRDATE

	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DELETE COST FEE PREV'
		,'SP_IFRS_LI_RESET_AMT_PRC'
		,''
		)

	DELETE
	FROM IFRS_LI_ACCT_SL_COST_FEE_PREV
	WHERE DOWNLOAD_DATE >= @V_CURRDATE

	DELETE
	FROM IFRS_LI_ACCT_EIR_COST_FEE_PREV
	WHERE DOWNLOAD_DATE >= @V_CURRDATE

	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'UPDATE ACCRU PREV'
		,'SP_IFRS_LI_RESET_AMT_PRC'
		,''
		)

	--RESET ACRU TABLE SL
	UPDATE IFRS_LI_ACCT_SL_ACCRU_PREV
	SET STATUS = 'ACT'
	WHERE STATUS >= CONVERT(VARCHAR(8), @V_CURRDATE, 112)
		AND STATUS != 'ACT'

	--RESET ACRU TABLE EIR
	UPDATE IFRS_LI_ACCT_EIR_ACCRU_PREV
	SET STATUS = 'ACT'
	WHERE STATUS >= CONVERT(VARCHAR(8), @V_CURRDATE, 112)
		AND STATUS != 'ACT'

	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DELETE ACCT COST FEE'
		,'SP_IFRS_LI_RESET_AMT_PRC'
		,''
		)

	-- RESET COST FEE FROM SL TO EIR PROCESS
	DELETE
	FROM IFRS_LI_ACCT_COST_FEE
	WHERE DOWNLOAD_DATE = @V_CURRDATE
		AND SRCPROCESS = 'SL_TO_EIR'

	-- DELETE IFRS_LI_ACCT_JOURNAL_INTM
	DELETE
	FROM IFRS_LI_ACCT_JOURNAL_INTM
	WHERE DOWNLOAD_DATE >= @V_CURRDATE

	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'END'
		,'SP_IFRS_LI_RESET_AMT_PRC'
		,''
		);
END

GO
