USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETDATASELISTBOXEDIT_SEGMENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_GETDATASELISTBOXEDIT_SEGMENT]              
(              
              
 @COLUMN_NAME AS VARCHAR(30),              
 @VAL_COLUMN_NAME AS VARCHAR(MAX),              
 @PKID AS VARCHAR(10)              
               
)                
AS              
 DECLARE @query AS VARCHAR(MAX)                      
 DECLARE @TableHeader AS VARCHAR(30)                 
BEGIN          
    
if @COLUMN_NAME = 'ASSET_TYPE_PRODUCT1'    
  begin    
   SET @query =                            
    'SELECT DISTINCT VALUE1 AS CODE              
    FROM TBLM_COMMONCODEDETAIL              
    WHERE COMMONCODE = ''B77'' AND DESCRIPTION NOT IN              
    (SELECT Value FROM dbo.STRING_SPLIT(              
    (SELECT VALUE1 FROM IFRS_MSTR_SEGMENT_RULES_DETAIL'              
              
    SET @query = @query +              
    ' WHERE VALUE1 = ''' +@VAL_COLUMN_NAME+ ''' AND PKID = ''' +@PKID+ '''), '',''))              
    ORDER BY VALUE1 ASC'              
    EXEC(@query)    
  end    
else if @COLUMN_NAME = 'ASSET_TYPE_PRODUCT2'    
  begin    
    SET @query =                            
    'SELECT DISTINCT VALUE1 AS CODE              
    FROM TBLM_COMMONCODEDETAIL              
    WHERE PARENTCOMMONCODE = ''B77'' AND DESCRIPTION NOT IN              
    (SELECT Value FROM dbo.STRING_SPLIT(              
    (SELECT VALUE1 FROM IFRS_MSTR_SEGMENT_RULES_DETAIL'              
              
    SET @query = @query +              
    ' WHERE VALUE1 = ''' +@VAL_COLUMN_NAME+ ''' AND PKID = ''' +@PKID+ '''), '',''))              
    ORDER BY VALUE1 ASC'              
    EXEC(@query)    
  end    
else if @COLUMN_NAME = 'PRODUCT_CODE'    
  begin    
    SET @query =                            
     'SELECT DISTINCT VALUE AS CODE              
     FROM TBLM_DROPDOWNLIST              
     WHERE COLUMN_NAME = ''PRD_CODE'' AND VALUE NOT IN              
     (SELECT Value FROM dbo.STRING_SPLIT(              
     (SELECT VALUE1 FROM IFRS_MSTR_SEGMENT_RULES_DETAIL'              
              
    SET @query = @query +              
     ' WHERE VALUE1 = ''' +@VAL_COLUMN_NAME+ ''' AND PKID = ''' +@PKID+ '''), '',''))              
     ORDER BY VALUE ASC'              
         
    EXEC(@query)    
  end    
else if @COLUMN_NAME = 'PRODUCT_GROUP'    
  begin    
    SET @query =                            
     'SELECT DISTINCT VALUE AS CODE              
     FROM TBLM_DROPDOWNLIST              
     WHERE COLUMN_NAME = ''PRD_GROUP'' AND VALUE NOT IN              
     (SELECT Value FROM dbo.STRING_SPLIT(              
     (SELECT VALUE1 FROM IFRS_MSTR_SEGMENT_RULES_DETAIL'              
              
    SET @query = @query +              
     ' WHERE VALUE1 = ''' +@VAL_COLUMN_NAME+ ''' AND PKID = ''' +@PKID+ '''), '',''))              
     ORDER BY VALUE ASC'              
         
    EXEC(@query)    
  end    
else    
  begin            
    SET @query =                            
     'SELECT DISTINCT VALUE AS CODE              
     FROM TBLM_DROPDOWNLIST              
     WHERE COLUMN_NAME = ''' + @COLUMN_NAME + ''' AND VALUE NOT IN              
     (SELECT Value FROM dbo.STRING_SPLIT(              
     (SELECT VALUE1 FROM IFRS_MSTR_SEGMENT_RULES_DETAIL'              
              
    SET @query = @query +              
     ' WHERE VALUE1 = ''' +@VAL_COLUMN_NAME+ ''' AND PKID = ''' +@PKID+ '''), '',''))              
     ORDER BY VALUE ASC'              
         
    EXEC(@query)         
     end         
END 

GO
