USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ME_MODEL_SEASON_ADJ_LIST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ME_MODEL_SEASON_ADJ_LIST](@MODEL_ID BIGINT = 0)
AS
BEGIN
	SET NOCOUNT ON;

	Select DERIVED_TYPE, 
	   MIN(ME_PERIOD) ME_PERIOD,
	   YEAR(MIN(ME_PERIOD)) ME_YEAR,
	   MONTH(MIN(ME_PERIOD))/3 AS ME_QTR
	from TMP_IFRS_ME_SEASONAL_ADJ 
	where me_val is not null
		and model_id = @MODEL_ID
	group by DERIVED_TYPE
	order by DERIVED_TYPE
END;

GO
