USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPMONMARPRODUCTCODE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPMONMARPRODUCTCODE]          
(          
 @datasource VARCHAR(50)  
)          
AS            
BEGIN          
          
 DECLARE @Query VARCHAR(5000);          
          
 SET @Query =           
  'SELECT
		DISTINCT PRD_CODE "PRODUCT_CODE"
			,PRD_CODE "Product Code"            
	FROM IFRS_MASTER_PRODUCT_PARAM            
	WHERE DATA_SOURCE IN (''OPICS'') '
			+ ' AND DATA_SOURCE LIKE ''%' + @datasource + '%'' 
			AND PRD_TYPE_1 IN (''PLACEMENT TO BI'',''BORROWING INTERBANK'')';
		       
  -- THEN 'DATA_SOURCE = (''OPICS'') '          
  -- ELSE 'DATA_SOURCE LIKE ''%' + @datasource + '%'' '          
  --END  
  --+ ' AND PRD_CODE LIKE ''%FAS%''';  
          
 EXEC (@Query);          
          
END; 

GO
