USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_AUDITTRAIL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_AUDITTRAIL]	
(	
	@HeaderID as varchar(20)=''
    ,@FieldName as varchar(50)=''
    ,@OldValue as varchar(100)=''
    ,@NewValue as varchar(100)=''
)	
AS	
BEGIN	
	INSERT INTO [tblT_AuditTrail]
           ([HeaderID]
           ,[FieldName]
           ,[OldValue]
           ,[NewValue]
           ,[CreatedDate])
     VALUES
           (@HeaderID
           ,@FieldName
           ,@OldValue
           ,@NewValue
           ,getdate())
END





GO
