USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DOWNLOADDOCUMENTCODE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DOWNLOADDOCUMENTCODE]
(
	@code VARCHAR(100) = NULL
)
AS
BEGIN

	SELECT * 
	FROM tblM_DownloadDocument 
	WHERE code = @code ;
      
END;

GO
