USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_GENERATEDERIVEDVAR]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_GENERATEDERIVEDVAR]
	@UPLOAD_ID bigint
AS
	BEGIN
		DECLARE @ME_CODE varchar(100);
		select	@ME_CODE = ME_CODE
		from	IFRS_MACRO_ECONOMIC
		where	UPLOADID = @UPLOAD_ID

		EXEC	SP_IFRS_ME_DERIVED_VARIABLE @ME_CODE
	END

GO
