USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_SCENARIORULED]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPD_SCENARIORULED]
(@PKID bigint   )
AS
BEGIN
	UPDATE [IFRS_SCENARIO_RULES_DETAIL] SET IS_DELETE = 1 WHERE PKID=@PKID
END

GO
