USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAP_D]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_IAP_D]
(
	@PKID varchar(10)
)

as

BEGIN
	SELECT   
		PKID,   
		HEADER_ID,   
		SCENARIO_ID,   
		SCENARIO_NAME,   
		PROBABILITY_OUTCOME,   
		RECOVERY_RATE   
		FROM IFRS_IAP_PARAM_SCENARIO   
	WHERE HEADER_ID = @PKID AND IS_DELETE = 0  
END

GO
