USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_MAPPINGRULE_SCREEN]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPD_MAPPINGRULE_SCREEN]
(
	@MappingRuleId int=0
)
as
begin
	Delete from TBLM_MAPPING_RULE_SCREENGROUP
		where MAPPINGRULEID = @MappingRuleId
end

GO
