USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_ACCT_COST_FEE_SUMM]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

/****** OBJECT:  STOREDPROCEDURE [DBO].[SP_IFRS_LI_ACCT_COST_FEE_SUMM]    SCRIPT DATE: 5/7/2018 12:32:36 PM ******/
CREATE PROCEDURE [dbo].[SP_IFRS_LI_ACCT_COST_FEE_SUMM]
AS
DECLARE @V_CURRDATE DATE
	,@V_PREVDATE DATE

BEGIN
	SELECT @V_CURRDATE = MAX(CURRDATE)
		,@V_PREVDATE = MAX(PREVDATE)
	FROM IFRS_LI_PRC_DATE_AMORT

	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'START'
		,'SP_IFRS_LI_COST_FEE_SUMM'
		,''
		)

	--DELETE FIRST
	DELETE
	FROM IFRS_LI_ACCT_COST_FEE_SUMM
	WHERE DOWNLOAD_DATE >= @V_CURRDATE

	INSERT INTO IFRS_LI_ACCT_COST_FEE_SUMM (
		DOWNLOAD_DATE
		,MASTERID
		,BRCODE
		,CIFNO
		,FACNO
		,ACCTNO
		,DATASOURCE
		,CCY
		,AMOUNT_FEE
		,AMOUNT_COST
		,CREATEDDATE
		,CREATEDBY
		,AMORT_FEE
		,AMORT_COST
		)
	SELECT DOWNLOAD_DATE
		,MASTERID
		,BRCODE
		,CIFNO
		,FACNO
		,ACCTNO
		,DATASOURCE
		,CCY
		,AMOUNT_FEE
		,AMOUNT_COST
		,CREATEDDATE
		,CREATEDBY
		,AMORT_FEE
		,AMORT_COST
	FROM (
		SELECT @V_CURRDATE AS DOWNLOAD_DATE
			,A.MASTERID
			,A.BRCODE
			,A.CIFNO
			,A.FACNO
			,A.ACCTNO
			,A.DATASOURCE
			,A.CCY
			,SUM(COALESCE(A.AMOUNT_FEE, 0)) AS AMOUNT_FEE
			,SUM(COALESCE(A.AMOUNT_COST, 0)) AS AMOUNT_COST
			,CURRENT_TIMESTAMP AS CREATEDDATE
			,'CF_SUMM' AS CREATEDBY
			,SUM(COALESCE(A.AMORT_FEE, 0)) AS AMORT_FEE
			,SUM(COALESCE(A.AMORT_COST, 0)) AS AMORT_COST
		FROM (
			SELECT MASTERID
				,BRCODE
				,CIFNO
				,FACNO
				,ACCTNO
				,DATASOURCE
				,CCY
				,AMOUNT_FEE
				,AMOUNT_COST
				,AMORT_FEE
				,AMORT_COST
			FROM IFRS_LI_ACCT_COST_FEE_SUMM
			WHERE DOWNLOAD_DATE = @V_PREVDATE
			
			UNION ALL
			
			SELECT MASTERID
				,BRCODE
				,CIFNO
				,FACNO
				,ACCTNO
				,DATASOURCE
				,CCY
				,SUM(CASE 
						WHEN FLAG_CF = 'F'
							THEN CASE 
									WHEN FLAG_REVERSE = 'Y'
										THEN - 1 * AMOUNT
									ELSE AMOUNT
									END
						ELSE 0
						END)
				,SUM(CASE 
						WHEN FLAG_CF = 'C'
							THEN CASE 
									WHEN FLAG_REVERSE = 'Y'
										THEN - 1 * AMOUNT
									ELSE AMOUNT
									END
						ELSE 0
						END)
				,0 AS AMORT_FEE
				,0 AS AMORT_COST
			FROM IFRS_LI_ACCT_COST_FEE
			WHERE DOWNLOAD_DATE = @V_CURRDATE
				AND STATUS IN (
					'ACT'
					,'PNL'
					)
				AND SRCPROCESS NOT IN (
					'SL_TO_EIR'
					,'STOP_REV'
					)
			GROUP BY MASTERID
				,BRCODE
				,CIFNO
				,FACNO
				,ACCTNO
				,DATASOURCE
				,CCY
				/*
		UNION ALL
        --20160509 SRC PROCESS PRORATE
        SELECT
        MASTERID,BRCODE,CIFNO,FACNO,ACCTNO,DATASOURCE,CCY
        ,-1 * SUM(CASE WHEN FLAG_CF='F' THEN CASE WHEN FLAG_REVERSE='Y' THEN -1 * AMOUNT ELSE AMOUNT END ELSE 0 END)
        ,-1 * SUM(CASE WHEN FLAG_CF='C' THEN CASE WHEN FLAG_REVERSE='Y' THEN -1 * AMOUNT ELSE AMOUNT END ELSE 0 END)
              , 0 AS AMORT_FEE
              , 0 AS AMORT_COST
        FROM IFRS_LI_ACCT_COST_FEE
        WHERE DOWNLOAD_DATE=@V_CURRDATE AND STATUS='PRO' AND SRCPROCESS='STOP_REV'
        GROUP BY
        MASTERID,BRCODE,CIFNO,FACNO,ACCTNO,DATASOURCE,CCY
        */
			) A
		GROUP BY A.MASTERID
			,A.BRCODE
			,A.CIFNO
			,A.FACNO
			,A.ACCTNO
			,A.DATASOURCE
			,A.CCY
		) Z

	-- UPDATE AMORT AMT FROM PREVDATE
	--UPDATE IFRS_LI_ACCT_COST_FEE_SUMM
	--SET AMORT_FEE=B.AMORT_FEE, AMORT_COST=B.AMORT_COST
	--FROM (
	--    SELECT X.*,Y.* FROM IFRS_LI_ACCT_COST_FEE_SUMM X JOIN IFRS_LI_PRC_DATE_AMORT Y ON Y.PREVDATE=X.EFFDATE
	--) B
	--WHERE IFRS_LI_ACCT_COST_FEE_SUMM.EFFDATE=B.CURRDATE 
	--	AND IFRS_LI_ACCT_COST_FEE_SUMM.MASTERID=B.MASTERID
	INSERT INTO IFRS_LI_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'END'
		,'SP_IFRS_LI_COST_FEE_SUMM'
		,''
		)
END

GO
