USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PROCESSEDPRODUCT_HIST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_PROCESSEDPRODUCT_HIST]    
 @CLASSID int    
AS    
select --B.PKID,    
 DATA_SOURCE,PRD_CODE,PRD_DESC,PRD_TYPE,PRD_TYPE_1 AS ASSET_TYPE_PRODUCT1     
from IFRS_MASTER_PRODUCT_PARAM A    
JOIN (SELECT VALUE FROM dbo.STRING_SPLIT((SELECT PRODUCT_CODE FROM IFRS_AC_SPPI_HEADER_HIST WHERE PKID = @CLASSID), ','))B ON A.PRD_CODE = B.Value    
WHERE A.INST_CLS_VALUE = 'A'  
AND ISNULL(IS_DELETE,0) = 0

GO
