USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_BMA_DETAIL_PENDING]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_BMA_DETAIL_PENDING]                          
(                          
 @BMID bigint = 0,
 @QUESTIONID varchar(20) = '',
 @VALUE varchar(20) = '',
 @REMARK varchar(4000) = '',
 @SUPPORTING_DOC varchar(1000) = '',
 @PKID_HEADER_OLD bigint = 0,
 @PKID_DETAIL_OLD bigint = 0,
 @CREATEDBY varchar(36) = '',             
 @CREATEDHOST varchar(30) = ''             
)            
AS  
BEGIN
            
 INSERT INTO [dbo].[IFRS_AC_BM_DETAIL_PENDING]
 (            
	BMID,
	QUESTIONID,
	VALUE,
	REMARK,
	SUPPORTING_DOC,
	PKID_HEADER_OLD,
	PKID_DETAIL_OLD,
	BMID_OLD,
	QUESTIONID_OLD,
	VALUE_OLD,
	SUPPORTING_DOC_OLD,
	CREATEDBY,
    CREATEDDATE,
    CREATEDHOST
 )                          
 VALUES                          
 (     
	 @BMID
	,@QUESTIONID
	,@VALUE
	,@REMARK
	,@SUPPORTING_DOC
	,@PKID_HEADER_OLD
	,@PKID_DETAIL_OLD
	,(SELECT BMID FROM IFRS_AC_BM_DETAIL WHERE PKID = @PKID_DETAIL_OLD)
	,(SELECT QUESTIONID FROM IFRS_AC_BM_DETAIL WHERE PKID = @PKID_DETAIL_OLD)
	,(SELECT VALUE FROM IFRS_AC_BM_DETAIL WHERE PKID = @PKID_DETAIL_OLD)
	,(SELECT SUPPORTING_DOC FROM IFRS_AC_BM_DETAIL WHERE PKID = @PKID_DETAIL_OLD)
	,@CREATEDBY            
	,GETDATE()            
	,@CREATEDHOST
 )  

END;

GO
