USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_GLADJUSTMENT]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_GLADJUSTMENT]
(
	@PKID bigint = 0,
	@DOWNLOAD_DATE datetime, 
	@BRANCH_CODE varchar(10),
	@CCY varchar(5),
	@GL_CODE varchar(9),
	@AMOUNT decimal(32,2),
	@REMARKS varchar(200),
	@UpdatedBy varchar(36),
	@UpdatedHost varchar(30)
)          
AS
BEGIN  

	UPDATE SRC_GL_ADJUST
	SET [DOWNLOAD_DATE] = @DOWNLOAD_DATE
		,[BRANCH_CODE] = @BRANCH_CODE
		,[CURRENCY] = @CCY
		,[GL_CODE] = @GL_CODE
		,[AMOUNT] = @AMOUNT
		,[REMARKS] = ltrim(rtrim(@REMARKS))
		,[UpdatedBy] = @UpdatedBy
		,[UpdatedDate] = GETDATE()
		,[UpdatedHost] = @UpdatedHost
	WHERE PKID = @PKID

END

GO
