USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_SYNC_EXCLUSION]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_IFRS_IMP_SYNC_EXCLUSION]        
@DOWNLOAD_DATE DATE = NULL            
AS            
    DECLARE @V_CURRDATE DATE        
    DECLARE @V_PREVMONTH DATE        
    DECLARE @EX_COUNT INT = 0            
BEGIN           
           
 EXEC SP_SHRINKLOG 'IFRS9'            
 EXEC SP_SHRINKLOG 'IFRS9'            
 EXEC SP_SHRINKLOG 'IFRS9'            
 EXEC SP_SHRINKLOG 'IFRS9_STG'            
 EXEC SP_SHRINKLOG 'IFRS9_STG'            
 EXEC SP_SHRINKLOG 'IFRS9_STG'           
           
    IF @DOWNLOAD_DATE IS NULL            
    BEGIN            
        SELECT @V_CURRDATE = CURRDATE            
        FROM IFRS_PRC_DATE            
    END        
    ELSE            
    BEGIN            
        SET @V_CURRDATE = @DOWNLOAD_DATE            
    END           
    SET @V_PREVMONTH = EOMONTH(DATEADD(MM, -1, @V_CURRDATE))                     
           
    --------------------- GATHER ALL LOB EXCLUSION  EDITED ON 20 JAN 2020 ----------------------------          
    DELETE TBLU_EXCLUSION WHERE CONVERT(DATE,DOWNLOAD_DATE,112) = @V_CURRDATE          
          
    INSERT INTO TBLU_EXCLUSION (DOWNLOAD_DATE,CUSTOMER_NUMBER,ACCOUNT_NUMBER,PRODUCT_CODE,CREATEDBY,CREATEDDATE,CREATEDHOST, EXCLUSION_PERCENTAGE)          
    SELECT DOWNLOAD_DATE,CUSTOMER_NUMBER,ACCOUNT_NUMBER,PRODUCT_CODE,CREATEDBY,CREATEDDATE,CREATEDHOST,EXCLUSION_PERCENTAGE         
    FROM TBLU_EXCLUSION_PUR         
    WHERE CONVERT(DATE,DOWNLOAD_DATE,112) = @V_CURRDATE          
    UNION ALL           
    SELECT DOWNLOAD_DATE,CUSTOMER_NUMBER,ACCOUNT_NUMBER,PRODUCT_CODE,CREATEDBY,CREATEDDATE,CREATEDHOST,EXCLUSION_PERCENTAGE         
    FROM TBLU_EXCLUSION_MB        
    WHERE CONVERT(DATE,DOWNLOAD_DATE,112) = @V_CURRDATE          
    UNION ALL           
    SELECT DOWNLOAD_DATE,CUSTOMER_NUMBER,ACCOUNT_NUMBER,PRODUCT_CODE,CREATEDBY,CREATEDDATE,CREATEDHOST,EXCLUSION_PERCENTAGE      
    FROM TBLU_EXCLUSION_MUR         
    WHERE CONVERT(DATE,DOWNLOAD_DATE,112) = @V_CURRDATE   
 /* CR JENIUS - TBLU_EXCLUSION_JENIUS 2021-04-01 */  
 UNION ALL           
    SELECT DOWNLOAD_DATE,CUSTOMER_NUMBER,ACCOUNT_NUMBER,PRODUCT_CODE,CREATEDBY,CREATEDDATE,CREATEDHOST,EXCLUSION_PERCENTAGE      
    FROM TBLU_EXCLUSION_JENIUS         
    WHERE CONVERT(DATE,DOWNLOAD_DATE,112) = @V_CURRDATE  
       
 --------------------- GATHER ALL LOB EXCLUSION  EDITED ON 20 JAN 2020 ----------------------------        
        
    DELETE IFRS_ECL_EXCLUSION WHERE DOWNLOAD_DATE = @V_CURRDATE        
        
    SELECT @EX_COUNT = COUNT(1) FROM TBLU_EXCLUSION WHERE CASE WHEN LEN(DOWNLOAD_DATE) < 8 THEN EOMONTH(CONCAT(DOWNLOAD_DATE, '01')) ELSE EOMONTH(DOWNLOAD_DATE) END = @V_CURRDATE        
        
    IF @EX_COUNT > 0        
    BEGIN        
        INSERT INTO IFRS_ECL_EXCLUSION        
        (        
            DOWNLOAD_DATE        
            ,MASTERID        
            ,CUSTOMER_NUMBER        
            ,ACCOUNT_NUMBER        
            ,PRODUCT_CODE        
            ,CREATEDBY          
            ,CREATEDDATE        
            ,CREATEDHOST      
   ,EXCLUSION_PERCENTAGE      
        )        
        SELECT        
            CASE WHEN LEN(DOWNLOAD_DATE) < 8 THEN EOMONTH(CONCAT(DOWNLOAD_DATE, '01')) ELSE EOMONTH(DOWNLOAD_DATE) END AS DOWNLOAD_DATE        
            ,CONCAT(CUSTOMER_NUMBER, '_', ACCOUNT_NUMBER, '_', PRODUCT_CODE) AS MASTERID        
            ,CUSTOMER_NUMBER        
            ,ACCOUNT_NUMBER        
            ,PRODUCT_CODE        
            ,CREATEDBY        
            ,CREATEDDATE        
            ,CREATEDHOST      
   ,ISNULL(EXCLUSION_PERCENTAGE, 100) AS EXCLUSION_PERCENTAGE      
        FROM TBLU_EXCLUSION        
        WHERE CASE WHEN LEN(DOWNLOAD_DATE) < 8 THEN EOMONTH(CONCAT(DOWNLOAD_DATE, '01')) ELSE EOMONTH(DOWNLOAD_DATE) END = @V_CURRDATE        
    END        
    ELSE        
    BEGIN        
        INSERT INTO IFRS_ECL_EXCLUSION        
        (        
            DOWNLOAD_DATE        
            ,MASTERID        
            ,CUSTOMER_NUMBER        
 ,ACCOUNT_NUMBER        
            ,PRODUCT_CODE        
            ,CREATEDBY        
            ,CREATEDDATE        
            ,CREATEDHOST      
   ,EXCLUSION_PERCENTAGE      
        )        
        SELECT        
            @V_CURRDATE AS DOWNLOAD_DATE        
            ,MASTERID        
            ,CUSTOMER_NUMBER        
            ,ACCOUNT_NUMBER        
            ,PRODUCT_CODE        
            ,CREATEDBY        
            ,CREATEDDATE        
            ,CREATEDHOST      
   ,ISNULL(EXCLUSION_PERCENTAGE, 100) AS EXCLUSION_PERCENTAGE      
        FROM IFRS_ECL_EXCLUSION        
        WHERE DOWNLOAD_DATE = @V_PREVMONTH           
    END        
      
 EXEC SP_IFRS_IMP_SYNC_EXCLUSION_CORPORATE @V_CURRDATE            
    EXEC SP_IFRS_IMP_SYNC_RESTRU_COVID @V_CURRDATE          
            
END 
GO
