USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_INSERTOVERRIDEACCOUNT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_INSERTOVERRIDEACCOUNT]      
(    
 @DCFID INT,    
 @CIF VARCHAR(50),    
 @Flag VARCHAR(1),  
 @Action VARCHAR(10) = '',  
 @CreatedBy VARCHAR(36),    
 @CreatedHost VARCHAR(30)    
)      
AS      
BEGIN      
   
 DECLARE @DOWNLOAD_DATE DATE;    
   
 -- Define whether the SP called by review editing or new  
 IF @Action <> 'EDIT'  
 BEGIN  
  SELECT @DOWNLOAD_DATE = CURRDATE FROM IFRS_PRC_DATE;   
 END  
  
 -- Delete from temp based on DCFID for multiple editing  
 DELETE FROM IFRS_IMP_OVERRIDE_DETAIL_TEMP  
 WHERE DCFID = @DCFID;  
  
    -- Insert into Temp table  
 IF @Action <> 'EDIT'  
 BEGIN  
  INSERT INTO IFRS_IMP_OVERRIDE_DETAIL_TEMP    
  (    
   DCFID,    
   DOWNLOAD_DATE,      
   CUSTOMER_NUMBER,      
   CUSTOMER_NAME,      
   MASTERID,      
   IMPAIRED_FLAG,      
   CURRENCY,      
   OUTSTANDING,      
   BI_COLLECTABILITY,      
   DAY_PAST_DUE,      
   DCFSTATUS,    
   FLAG_IMPAIRMENT,    
   CREATEDBY,    
   CREATEDDATE,    
   CREATEDHOST    
  )      
  SELECT @DCFID,    
   DOWNLOAD_DATE,       
   CUSTOMER_NUMBER,       
   CUSTOMER_NAME,       
   MASTERID,       
   IMPAIRED_FLAG,       
   CURRENCY,       
   OUTSTANDING,       
   BI_COLLECTABILITY,       
   DAY_PAST_DUE,      
   'NO DCF',    
   @Flag,    
   @CreatedBy,    
   GETDATE(),    
   @CreatedHost    
  FROM IFRS_MASTER_ACCOUNT    
  WHERE DOWNLOAD_DATE = @DOWNLOAD_DATE    
   AND CUSTOMER_NUMBER = @CIF  
   --AND FACILITY_FLAG = 'N'  
   AND ACCOUNT_STATUS = 'A'  
 END  
 ELSE  
 BEGIN  
  INSERT INTO IFRS_IMP_OVERRIDE_DETAIL_TEMP    
  (    
   DCFID,    
   DOWNLOAD_DATE,      
   CUSTOMER_NUMBER,      
   CUSTOMER_NAME,  
   FLAG_IMPAIRMENT,      
   CURRENCY,      
   OUTSTANDING,      
   BI_COLLECTABILITY,      
   DAY_PAST_DUE,      
   DCFSTATUS,   
   CREATEDBY,    
   CREATEDDATE,    
   CREATEDHOST    
  )      
  SELECT DCFID,    
   DOWNLOAD_DATE,       
   CUSTOMER_NUMBER,       
   CUSTOMER_NAME,  
   FLAG_IMPAIRMENT,       
   CURRENCY,       
   OUTSTANDING,       
   BI_COLLECTABILITY,       
   DAY_PAST_DUE,      
   'NO DCF',  
   CREATEDBY,    
   CREATEDDATE,    
   CREATEDHOST  
  FROM IFRS_IMP_OVERRIDE_DETAIL  
  WHERE DCFID = @DCFID;   
 END;  
  
END;  

GO
