USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPINCREMENTPERIOD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPINCREMENTPERIOD]
(    
 @value varchar(50),    
 @text varchar(50),    
 @filter varchar(200)
)    
as        
 declare @query as varchar(MAX)    
begin        
    
        SET @query =    
            'SELECT CAST(Value1 AS VARCHAR(100)) AS "' + @value    
            + '" ,    
            DESCRIPTION AS "'    
            + @text    
            + '"    
            FROM tblM_CommonCodeDetail        
            WHERE '    
            + @filter    
            + ' AND IS_DELETE = 0 ORDER BY Sequence '      
    
 PRINT @QUERY    
 exec (@query)    
    
 end     

GO
