USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALARRESULT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALARRESULT]
(              
	@SCALAR_ID int
)              
AS              
BEGIN              

	SELECT 
		DISTINCT(B.ME_CODE) AS ME_CODE,
		A.MODEL_NAME,		
		B.ESTIMATED_VALUE
	FROM IFRS_MACRO_ECONOMIC_MODEL A
	JOIN IFRS_ME_FL_SELECTED B
	ON B.MODEL_ID = A.PKID
	WHERE B.SCALAR_ID = @SCALAR_ID
	GROUP BY A.MODEL_NAME, B.ESTIMATED_VALUE, B.ME_CODE
              
END 
GO
