USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_POW]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LGD_POW] (  
   @Period          DATE='1900-01-01',  
   @ProdGroup       int=0  
   )  
AS  

BEGIN
	select 
		DEFAULT_DATE, 
		sum(EQV_AT_DEFAULT) "Outstanding at Default", 
		sum(EQV_CURED) "Cured / Closed" from 
			(select 
				default_date, 
				masterid, 
				A.EQV_AT_DEFAULT,
				case when CURE_FLAG = 1 THEN
					EQV_AT_DEFAULT 
					else 0
				END as EQV_CURED
			from IFRS_LGD_POW_DETAIL A 
			where A.EFF_DATE = @Period and A.LGD_RULE_ID = @ProdGroup) 
	temp group by DEFAULT_DATE
END

GO
