USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSEGMENTECL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPSEGMENTECL](    
@value varchar(50)='',  
@text varchar(50)='',  
@filter varchar(20)='')    
AS      
declare @query as varchar(MAX)      
BEGIN    
    
SET @filter = @filter+'_SEGMENT'    
  
SET @query =      
 'SELECT PKID AS ' + @value +',   
  SUB_SEGMENT AS ' + @text +'  
 FROM IFRS_MSTR_SEGMENT_RULES_HEADER    
 WHERE SEGMENT_TYPE = ''' + @filter + '''  
 AND ISNULL(IS_DELETE,0) = 0 '   
  
 PRINT @QUERY      
 exec (@query)      
  
END;
GO
