USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPDATATYPERULEEDITOR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[USPS_LOOKUPDATATYPERULEEDITOR]    
(    
  @columnName nvarchar(50)    
)    
AS    
BEGIN    
    
        SELECT VALUE2  DATA_TYPE    
        FROM TBLM_COMMONCODEDETAIL     
        WHERE COMMONCODE = 'B31'     
        AND VALUE1 = @columnName;    
END 

GO
