USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_BMA_HEADER]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_BMA_HEADER]  
(    
 @SPPI_CLASS varchar(1000) = '',
 @BMNAME VARCHAR(100) = '' ,   
 @EFFECTIVE_DATE date = '2000/01/01',    
 @STATUS varchar(50) = '',    
 @BM_RSLT varchar(50) = '',  
 @REMARKS varchar(max) = '',  
 @ACTION varchar(10) = '',    
 @PKID_OLD bigint = 0,    
 @CREATEDBY varchar(36) = '',                 
 @CREATEDHOST varchar(30) = ''                  
)    
AS    
BEGIN  
DECLARE @BMID bigint = 0  
  
	--INSERT INTO BMA HEADER  
	INSERT INTO IFRS_AC_BM_HEADER
	(
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],
		[STATUS],
		[BM_RSLT],
		[REMARKS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)  
	SELECT
		NULL,
		@BMNAME,
		@SPPI_CLASS,
		@EFFECTIVE_DATE,
		'APPROVED',
		@BM_RSLT,
		@REMARKS,
		@CREATEDBY,
		GETDATE(),
		@CREATEDHOST,
		NULL,
		NULL,
		NULL,
		NULL,
		NULL,
		NULL
  
	--GET BMID  
	SELECT @BMID = MAX(PKID) FROM IFRS_AC_BM_HEADER  
  
	--INSERT INTO BMA HEADER HISTORY  
	INSERT INTO IFRS_AC_BM_HEADER_HIST
	(
		[PKID_HEADER],
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],
		[STATUS],
		[BM_RSLT],
		[REMARKS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)  
	SELECT
		@BMID,
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],
		'APPROVED',
		[BM_RSLT],
		[REMARKS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]  
	FROM IFRS_AC_BM_HEADER WHERE PKID = @BMID  
 
	SELECT MAX(PKID) AS PKID FROM IFRS_AC_BM_HEADER

END
GO
