USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPWORKOUTPERIOD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPWORKOUTPERIOD]  
 
as      
begin      
  SELECT
        Value1 "Code",
        Value1 +' - '+ Description "CodeDesc"
    FROM tblM_CommonCodeDetail
    WHERE COMMONCODE = 'B109'; 
end





GO
