USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CCF_VALIDATENAME]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_CCF_VALIDATENAME]
(
	@modelName varchar(50)
)
AS
BEGIN
DECLARE @COUNT INT
DECLARE @COUNTPENDING INT

	SELECT @COUNT = COUNT(*)
	FROM  IFRS_CCF_RULES_CONFIG A  
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID  
	WHERE ISNULL(A.IS_DELETE,0)='0' AND CCF_RULE_NAME = @modelName

	SELECT @COUNTPENDING = COUNT(*) FROM TBLT_APPROVALDETAIL
	WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER WHERE STATUS = 'P' AND SCREENID = 'CONFIG_CCF_ADD')
		AND FIELDNAME = 'CCF_RULE_NAME'
		AND NEWVALUE = @modelName

	SELECT @COUNT AS COUNT, @COUNTPENDING AS COUNT_PENDING

END

GO
