USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_MODELEDITOR]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPU_MODELEDITOR]          
 @PKID int,          
 @SELECTION_METHOD varchar(50) ,          
 @IN_SAMPLE_START_DATE date ,          
 @IN_SAMPLE_END_DATE date ,          
 @OUT_SAMPLE_START_DATE date = NULL,          
 @OUT_SAMPLE_END_DATE date = NULL,          
 @MAX_COMB int ,          
 @TOP_N int = 100,          
 --@INTERCEPT_FLAG int ,          
 @AC_METHOD varchar(50) ,          
 @AC_THRESHOLD FLOAT ,          
 @NORM_METHOD varchar(50) ,          
 @NORM_THRESHOLD FLOAT ,          
 @HOMO_METHOD varchar(50) ,          
 @HOMO_THRESHOLD FLOAT ,          
 @MULTCOLL_METHOD varchar(50),          
 @MULTCOLL_THRESHOLD FLOAT ,          
 @SIG_VALUE FLOAT,          
 @ADJ_VALUE FLOAT ,          
 @CREATEDBY varchar(50)='',          
 @CREATEDHOST varchar(50)='',          
 @UPDATEDBY varchar(50),          
 @UPDATEDHOST varchar(50),  
 @CHK_INTER_MEV_CORR CHAR,  
 @INTER_MEV_CORR_THRESHOLD FLOAT  
AS          
BEGIN          
IF @CREATEDBY <> ''          
 BEGIN          
  SET @UPDATEDBY = @CREATEDBY          
  SET @UPDATEDHOST = @UPDATEDHOST          
 END          
 UPDATE IFRS_MACRO_ECONOMIC_MODEL          
 SET           
 SELECTION_METHOD =@SELECTION_METHOD,          
 IN_SAMPLE_START_DATE = @IN_SAMPLE_START_DATE,          
 IN_SAMPLE_END_DATE = @IN_SAMPLE_END_DATE,          
 OUT_SAMPLE_START_DATE = @OUT_SAMPLE_START_DATE,          
 OUT_SAMPLE_END_DATE = @OUT_SAMPLE_END_DATE,          
 MAX_COMB =@MAX_COMB,          
 TOP_N =@TOP_N,          
 --INTERCEPT_FLAG = @INTERCEPT_FLAG,          
 AC_METHOD =@AC_METHOD,          
 AC_THRESHOLD =@AC_THRESHOLD,          
 NORM_METHOD = @NORM_METHOD ,          
 NORM_THRESHOLD =@NORM_THRESHOLD,          
 HOMO_METHOD =@HOMO_METHOD,          
 HOMO_THRESHOLD = @HOMO_THRESHOLD,          
 MULTCOLL_METHOD = @MULTCOLL_METHOD,          
 MULTCOLL_THRESHOLD =@MULTCOLL_THRESHOLD,          
 SIG_VALUE = @SIG_VALUE,          
 ADJ_R_VALUE = @ADJ_VALUE,          
 STATUS = 'M',          
 UPDATEDBY = @UPDATEDBY,          
 UPDATEDDATE = GETDATE(),          
 UPDATEDHOST = @UPDATEDHOST,  
 CHK_INTER_MEV_CORR = @CHK_INTER_MEV_CORR,  
 INTER_MEV_CORR_THRESHOLD = @INTER_MEV_CORR_THRESHOLD          
 WHERE PKID = @PKID          
END

GO
