USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_GL_TRIALBALANCEEOM]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_GL_TRIALBALANCEEOM]
(
	@PERIOD DATE,
	@GL_CODE VARCHAR(10) = ''
)
AS
BEGIN

	DECLARE @Query VARCHAR(2000);

	SET @Query = 
		'SELECT COALESCE([CURR].GL_CODE, [LAST].GL_CODE) AS GL_CODE, 
			COALESCE([CURR].GL_NAME, [LAST].GL_NAME) AS GL_NAME, 
			SUM(CASE WHEN [LAST].GL_CODE LIKE ''50002%'' OR [LAST].GL_CODE LIKE ''[7-8]%''
			THEN
				COALESCE([LAST].CURRENT_BALANCE_IDR, 0) 
			WHEN [LAST].GL_CODE LIKE ''[1-4|6|9]%'' OR [LAST].GL_CODE LIKE ''5000[0-1]%''
			THEN
				COALESCE([CURR].CURRENT_BALANCE_IDR, 0) 
			ELSE
				''0''
			END) AS LAST_BALANCE_IDR, 
			SUM(COALESCE([CURR].CURRENT_BALANCE_IDR, 0)) AS CURRENT_BALANCE_IDR, 
			COALESCE([CURR].CURRENCY, [LAST].CURRENCY) AS CURRENCY
		FROM IFRS_MASTER_GL [CURR] 
			FULL JOIN IFRS_MASTER_GL [LAST] ON [CURR].GL_CODE = [LAST].GL_CODE 
			and [CURR].CURRENCY = [LAST].CURRENCY
			and [CURR].BRANCH_CODE = [LAST].BRANCH_CODE  
				AND [LAST].DOWNLOAD_DATE = EOMONTH(DATEADD(MONTH, -1, ''' + CAST(@PERIOD AS VARCHAR(20)) + '''))
		WHERE [CURR].DOWNLOAD_DATE = ''' + CAST(@PERIOD AS VARCHAR(20)) + ''' '
		+ CASE WHEN @GL_CODE IS NOT NULL OR @GL_CODE <> ''
		THEN
			'AND [CURR].GL_CODE LIKE ''' + @GL_CODE + '%'''
		ELSE
			'AND [CURR].GL_CODE LIKE ''[1-9]%'' '
		END
		+'GROUP BY COALESCE([CURR].GL_CODE, [LAST].GL_CODE) , 
			COALESCE([CURR].GL_NAME, [LAST].GL_NAME) , 
			COALESCE([CURR].CURRENCY, [LAST].CURRENCY)';
		
	EXECUTE (@Query);

END;

GO
