USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_OVERRIDECHECKLISTCANCEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_OVERRIDECHECKLISTCANCEL]
(
	@CID BIGINT
)
AS
BEGIN

	DELETE FROM IFRS_IMP_OVERRIDECHECKLIST_TEMP
	WHERE PKID = @CID;

END;

GO
