USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_GL_BALANCESHEET]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_GL_BALANCESHEET]
(
	@Download_Date date = '01/01/2000',      
	@Currency varchar(5) = '',
	@BRANCH_CODE varchar(20) = ''       
)
AS
BEGIN  

	SELECT ISNULL(GEN1_CODE, '') AS GEN1_CODE,
		ISNULL(GEN2_CODE, '') AS GEN2_CODE,
		ISNULL(GEN3_CODE, '') AS GEN3_CODE,
		ISNULL(GEN4_CODE, '') AS GEN4_CODE,
		ISNULL(GEN5_CODE, '') AS GEN5_CODE,
		ISNULL(GEN6_CODE, '') AS GEN6_CODE,
		ISNULL(GEN7_CODE, '') AS GEN7_CODE,
		ISNULL(GEN8_CODE, '') AS GEN8_CODE,
		ISNULL(GEN1_DESC, '') AS GEN1,
		ISNULL(GEN2_DESC, '') AS GEN2,
		ISNULL(GEN3_DESC, '') AS GEN3,
		ISNULL(GEN4_DESC, '') AS GEN4,
		ISNULL(GEN5_DESC, '') AS GEN5_DESC,
		ISNULL(GEN6_DESC, '') AS GEN6_DESC,
		ISNULL(GEN7_DESC, '') AS GEN7_DESC,
		ISNULL(GEN8_DESC, '') AS GEN8_DESC,
		BRANCH_CODE,
		DATASOURCE,
		GL_CODE_VIEW,
		FSCODE,
		CURRENCY AS CCY, 
		BBIFRS, 
		ADJIFRS, 
		BAIFRS,
		BBIFRS_ORI,
		ADJIFRS_ORI,
		BAIFRS_ORI
	FROM GL_FS_FINAL WITH (NOLOCK)
	WHERE (upper(Gen1_Desc) LIKE '%ASSETS%' OR upper(Gen1_Desc) LIKE '%LIABILITIES%' OR upper(Gen1_Desc) like '%EQUITY%')
		AND download_date = @Download_Date 
		AND SOURCE = 'BS_HO' 
		AND CURRENCY LIKE '%' + @Currency + '%' 
		AND Branch_code LIKE '%' + @BRANCH_CODE + '%';

END;

GO
