USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_REVIEW_LEGAL_CONDITION]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_REVIEW_LEGAL_CONDITION]
(
 @PKID VARCHAR(5) = '',  
 @MASTERID VARCHAR(100) = '',  
 @INFORMATION VARCHAR(100) = '',    
 @COLLATERAL_TYPE VARCHAR(20) = '',    
 @MARKET_VALUE DECIMAL(32, 6) = 0,    
 @LIQUIDATED_VALUE DECIMAL(32, 6) = 0,    
 @REMARKS VARCHAR(100) = '',  
 @UpdatedBy VARCHAR(100) = '',    
 @UpdatedHost VARCHAR(100) = ''
)
AS 
BEGIN
	UPDATE IFRS_IMP_OVERRIDE_COLLATERAL
	SET
	INFORMATION = @INFORMATION,
	COLLATERAL_TYPE = @COLLATERAL_TYPE,
	MARKET_VALUE = @MARKET_VALUE,
	LIQUIDATED_VALUE = @LIQUIDATED_VALUE,
	REMARKS = @REMARKS
	WHERE PKID = @PKID
END

GO
