USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_EXISTINGMEMODELVARSEL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_EXISTINGMEMODELVARSEL]  
AS  
BEGIN  
 select PKID,  
   MODEL_NAME,  
         DV_VALUE,  
   CASE WHEN SELECTION_TYPE = 'CLUSTER'  
   THEN 'Variable Clustering'  
   ELSE   
    'Variable Combination'  
   END  SELECTION_TYPE,  
   CASE WHEN FILTER_METHOD = 'PEARSON'  
   THEN 'Pearson Correlation'  
   ELSE   
    'Univariative Linear Regression'  
   END  FILTER_METHOD,  
   CORR_THRESHOLD,  
   STAT_FLAG,  
  
   SELECTION_METHOD,  
   IN_SAMPLE_START_DATE,  
   IN_SAMPLE_END_DATE,  
   OUT_SAMPLE_START_DATE,  
   OUT_SAMPLE_END_DATE,  
   MAX_COMB,  
   TOP_N,  
   INTERCEPT_FLAG  
 from IFRS_MACRO_ECONOMIC_MODEL  
 WHERE IS_DELETE = 0   
 --AND STATUS not in('A','R')  
END

GO
