USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_CHANGEUSERPASSWORD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_CHANGEUSERPASSWORD]
(
 @PKID varchar( 36 ) = '',            
 @NewPassword varchar( 200 ) = '',       
 @OldPassword varchar( 200 ) = '',     
 @PasswordExpiredDate datetime,           
 @UpdatedBy varchar( 36 ) = ''            
)            
as            
-- proc untuk change password            
begin            
 UPDATE [dbo].[tblM_User]            
 SET  [Password] = @NewPassword            
   --,LastLoginDate = getDate()            
   ,PasswordExpiredDate = @PasswordExpiredDate   
   ,IsPasswordExpired = 0         
   ,IsUserExpired = 0
   ,PasswordLastUpdatedDatetime = GETDATE()  
   ,UpdatedDate = getDate()            
   ,UpdatedBy = @UpdatedBy            
 WHERE convert( varchar( 36 ), PKID ) = @PKID            

 -- insert password history            
 exec dbo.uspI_PasswordHistory @PKID, @PKID, @OldPassword            
end


GO
