USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEBACKTESTRSLTOUTSAMPLEH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MEBACKTESTRSLTOUTSAMPLEH](      
@MODEL_ID bigint      
,@IS_SIMULATION bit)      
AS      
BEGIN      
      
	IF (@IS_SIMULATION = 1)      
	BEGIN
		SELECT   
			A.MODEL_SEQ,  
			B.MODEL_FORMULA,  
			A.AVG_PDLOG_MAPE AS PDLOG_MAPE,  
			A.AVG_PDRATE_MAPE AS PDRATE_MAPE,  
			A.AVG_PDLOG_SQRD_ERR AS PDLOG_MSE,  
			A.AVG_PDRATE_SQRD_ERR AS PDRATE_MSE 
		FROM TMP_IFRS_BACKTEST_OUT_SAMPLE A  
		JOIN TMP_IFRS_ME_MODEL_SCENARIO B ON A.MODEL_ID = B.MODEL_ID AND A.MODEL_SEQ = B.MODEL_SEQ  
		WHERE A.MODEL_ID = @MODEL_ID  
		ORDER BY A.MODEL_SEQ 
	END      
	ELSE      
	BEGIN      
		SELECT   
			A.MODEL_SEQ,  
			B.MODEL_FORMULA,  
			A.AVG_PDLOG_MAPE AS PDLOG_MAPE,  
			A.AVG_PDRATE_MAPE AS PDRATE_MAPE,  
			A.AVG_PDLOG_SQRD_ERR AS PDLOG_MSE,  
			A.AVG_PDRATE_SQRD_ERR AS PDRATE_MSE 
		FROM IFRS_BACKTEST_OUT_SAMPLE A  
		JOIN IFRS_ME_MODEL_SCENARIO B ON A.MODEL_ID = B.MODEL_ID AND A.MODEL_SEQ = B.MODEL_SEQ  
		WHERE A.MODEL_ID = @MODEL_ID  
		ORDER BY A.MODEL_SEQ
	END      
  
 
      
END 
GO
