USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MIGRATION_MATRIX_MAA]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_MIGRATION_MATRIX_MAA]  
(  
@PD_RULE_ID AS BIGINT,  
@PERIOD AS DATE,  
@SNAPSHOT AS INT = 0  
)  
AS   
BEGIN 

DECLARE @TABLE VARCHAR(50)
DECLARE @PD_METHOD VARCHAR(50)

SELECT @PD_METHOD = PD_METHOD FROM IFRS_PD_RULES_CONFIG WHERE PKID = @PD_RULE_ID

IF @PD_METHOD = 'MAA_CORP'
	SET @TABLE = 'IFRS_PD_MAA_CORP_MMULT'
ELSE
	SET @TABLE = 'IFRS_PD_MAA_MMULT'

DECLARE @V_SCRIPT VARCHAR (MAX) 
DECLARE @BUCKET_TO VARCHAR(5)
DECLARE @BUCKET_NAME VARCHAR(100)

--SET @V_SCRIPT = 'SELECT DOWNLOAD_DATE, PD_RULE_ID, MAX(PD_RULE_NAME) AS PD_RULE_NAME,FL_SEQ,BUCKET_FROM, BUCKET_NAME '
SET @V_SCRIPT = 'SELECT BUCKET_NAME '

DECLARE LOOP1                 
CURSOR FOR
	SELECT
		DISTINCT BUCKET_ID,
		BUCKET_NAME
	FROM IFRS_PD_RULES_CONFIG B
	INNER JOIN IFRS_BUCKET_DETAIL C ON C.BUCKET_GROUP = B.BUCKET_GROUP   
	WHERE B.PKID = @PD_RULE_ID
	ORDER BY BUCKET_ID     
OPEN LOOP1      
FETCH LOOP1 INTO @BUCKET_TO, @BUCKET_NAME      
	WHILE @@FETCH_STATUS = 0       
BEGIN   
 
	SET @V_SCRIPT = @V_SCRIPT + ' ,MAX(CASE WHEN BUCKET_TO = '+@BUCKET_TO+' THEN CAST(ROUND(MMULT, 6) * 100 AS VARCHAR(MAX)) ELSE NULL END) AS ['+@BUCKET_NAME+'(%)]
								'
	FETCH NEXT FROM LOOP1 INTO  @BUCKET_TO, @BUCKET_NAME      
END      
CLOSE LOOP1      
DEALLOCATE LOOP1  

SET @V_SCRIPT = @V_SCRIPT + 'FROM '+@TABLE+' A 
 INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID
INNER JOIN IFRS_BUCKET_DETAIL C ON C.BUCKET_GROUP = B.BUCKET_GROUP  AND A.BUCKET_FROM = C.BUCKET_ID   
 WHERE DOWNLOAD_DATE = '''+ CONVERT(VARCHAR, @PERIOD, 23) +''' AND PD_RULE_ID = '+ CAST(@PD_RULE_ID AS VARCHAR(5)) +' AND FL_SEQ = '+ CAST(@SNAPSHOT AS VARCHAR(5)) +'
GROUP BY  DOWNLOAD_DATE, PD_RULE_ID,FL_SEQ,BUCKET_FROM,BUCKET_NAME
ORDER BY  DOWNLOAD_DATE, PD_RULE_ID,FL_SEQ,BUCKET_FROM '

PRINT(@V_SCRIPT)
EXEC(@V_SCRIPT)

END

GO
