USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_COUNTPRODUCTGROUP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_COUNTPRODUCTGROUP]    
(    
 @GL_DATE DATE,    
 @DATA_SOURCE varchar(200) = '',
 @PRD_GROUP varchar(200) = ''  
)    
AS    
BEGIN   

	if @DATA_SOURCE <> '' and @PRD_GROUP <> ''
		SELECT
			count(*)   
				FROM IFRS_IMP_JOURNAL_DATA A
			JOIN
			(
				select DISTINCT PRD_GROUP, DATA_SOURCE, PRD_TYPE from IFRS_MASTER_PRODUCT_PARAMETER
			) C on A.DATA_SOURCE = C.DATA_SOURCE and A.PRD_TYPE = C.PRD_TYPE
			JOIN 
			(
				select GL_ACCOUNT, ACCOUNT_NUMBER, JOURNAL_TYPE, REVERSAL_FLAG, JOURNAL_DESC from IFRS_IMP_JOURNAL_DATA  where TXN_TYPE = 'CR'
			) B on A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER
				and A.JOURNAL_TYPE = B.JOURNAL_TYPE 
				and A.REVERSAL_FLAG = B.REVERSAL_FLAG
			where A.DOWNLOAD_DATE = @GL_DATE AND A.DATA_SOURCE = @DATA_SOURCE AND A.TXN_TYPE = 'DB' and C.PRD_GROUP = @PRD_GROUP
			

	else if @DATA_SOURCE <> '' and @PRD_GROUP = ''
		SELECT 
			count(*)    
				FROM IFRS_IMP_JOURNAL_DATA A
			JOIN
			(
				select DISTINCT PRD_GROUP, DATA_SOURCE, PRD_TYPE from IFRS_MASTER_PRODUCT_PARAMETER
			) C on A.DATA_SOURCE = C.DATA_SOURCE and A.PRD_TYPE = C.PRD_TYPE
			JOIN 
			(
				select GL_ACCOUNT, ACCOUNT_NUMBER, JOURNAL_TYPE, REVERSAL_FLAG, JOURNAL_DESC from IFRS_IMP_JOURNAL_DATA  where TXN_TYPE = 'CR'
			) B on A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER
			and A.JOURNAL_TYPE = B.JOURNAL_TYPE 
			and A.REVERSAL_FLAG = B.REVERSAL_FLAG
			where A.DOWNLOAD_DATE = @GL_DATE AND A.DATA_SOURCE = @DATA_SOURCE AND A.TXN_TYPE = 'DB'

	
	else if @DATA_SOURCE = '' and @PRD_GROUP <> ''
		SELECT 
			count(*)    
				FROM IFRS_IMP_JOURNAL_DATA A
			JOIN
			(
				select DISTINCT PRD_GROUP, DATA_SOURCE, PRD_TYPE from IFRS_MASTER_PRODUCT_PARAMETER
			) C on A.DATA_SOURCE = C.DATA_SOURCE and A.PRD_TYPE = C.PRD_TYPE
			JOIN 
			(
				select GL_ACCOUNT, ACCOUNT_NUMBER, JOURNAL_TYPE, REVERSAL_FLAG, JOURNAL_DESC from IFRS_IMP_JOURNAL_DATA  where TXN_TYPE = 'CR'
			) B on A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER
			and A.JOURNAL_TYPE = B.JOURNAL_TYPE 
			and A.REVERSAL_FLAG = B.REVERSAL_FLAG
			where A.DOWNLOAD_DATE = @GL_DATE AND A.TXN_TYPE = 'DB' and C.PRD_GROUP = @PRD_GROUP
		 
			

	ELSE if @DATA_SOURCE = '' and @PRD_GROUP = ''
		SELECT  
			count(*)    
				FROM IFRS_IMP_JOURNAL_DATA A
			JOIN
			(
				select DISTINCT PRD_GROUP, DATA_SOURCE, PRD_TYPE from IFRS_MASTER_PRODUCT_PARAMETER
			) C on A.DATA_SOURCE = C.DATA_SOURCE and A.PRD_TYPE = C.PRD_TYPE
			JOIN 
			(
				select GL_ACCOUNT, ACCOUNT_NUMBER, JOURNAL_TYPE, REVERSAL_FLAG, JOURNAL_DESC from IFRS_IMP_JOURNAL_DATA  where TXN_TYPE = 'CR'
			) B on A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER
			and A.JOURNAL_TYPE = B.JOURNAL_TYPE 
			and A.REVERSAL_FLAG = B.REVERSAL_FLAG
			where A.TXN_TYPE = 'DB' and A.DOWNLOAD_DATE = @GL_DATE
		 
			
END;

GO
