USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_IAPLISTREJECTED]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_IAPLISTREJECTED](  
@DATE_CIF_SEGMENT varchar(100) = '',
@APPROVAL_REMARKS varchar(4000) = '',
@APPROVEDBY varchar(36) = '',
@APPROVEDHOST varchar(36) = '')  
AS  
BEGIN  
DECLARE @ID bigint

	SELECT @ID = MAX(ID) FROM IFRS_IAP_LIST_PENDING WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT AND APPROVAL_STATUS = 'P'

	--UPDATE IFRS_IAP_LIST
	UPDATE A
	SET APPROVAL_STATUS = 'R'
		,UPDATEDBY = @APPROVEDBY
		,UPDATEDDATE = GETDATE()
		,UPDATEDHOST = @APPROVEDHOST
	FROM IFRS_IAP_LIST A
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SUB_SEGMENT = B.SUB_SEGMENT
		AND IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
	WHERE CAST(DOWNLOAD_DATE AS varchar(10)) + '_' + CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) = @DATE_CIF_SEGMENT

	--UPDATE IFRS_IAP_LIST_PENDING
	UPDATE IFRS_IAP_LIST_PENDING
	SET APPROVAL_STATUS = 'R'
		,UPDATEDBY = @APPROVEDBY
		,UPDATEDDATE = GETDATE()
		,UPDATEDHOST = @APPROVEDHOST
	FROM IFRS_IAP_LIST_PENDING A
	WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT
		AND ID = @ID

END

GO
