USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_TOPDEBTOR]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_TOPDEBTOR]      
(
	@DOWNLOAD_DATE DATE = '01-JAN-2000',
	@TOP_DEBTOR VARCHAR(5) = '10',
	@SEGMENT VARCHAR(3000) = '',
	@ASSET_TYPE_PRODUCT1 VARCHAR(50) = ''
)      
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @Query VARCHAR(MAX)

	IF (@TOP_DEBTOR = '')
	BEGIN
		SET @TOP_DEBTOR = '10'
	END
	
	SET @Query = 
		'SELECT IMAM.DOWNLOAD_DATE AS "Download Date",
			IMAM.SEGMENT AS "Segment",
			IMAM.CUSTOMER_NUMBER AS "Customer Number",
			IMAM.CUSTOMER_NAME AS "Customer Name",
			IMAM.asset_type_product1 AS "Asset Type Product 1",
			IMAM.asset_type_product2 AS "Asset Type Product 2", 
			IMAM.CURRENCY AS "Currency",
			ISNULL(PMA.DAY_PAST_DUE, 0) AS "DPD",
			PMA.BI_COLLECTABILITY AS "BI Collect",
			IMAM.outstanding AS "Outstanding",
			IMAM.outstanding_lcy AS "Outstanding LCY",
			IMAM.PLAFOND AS "Loan Limit",
			IMAM.PLAFOND_LCY AS "Loan Limit LCY"
			FROM 
			(
				SELECT TOP ' + @TOP_DEBTOR + '
				    Customer_number,
					ROW_NUMBER() OVER (ORDER BY SUM(ISNULL(Outstanding,0) * ISNULL(EXCHANGE_RATE,0)) DESC) AS outstanding_rank,
					MAX(day_past_due) AS Day_Past_Due,
					MAX(BI_COLLECTABILITY) AS BI_COLLECTABILITY,
					SUM(ISNULL(Outstanding,0)) AS outstanding,
					SUM(ISNULL(Outstanding,0) * ISNULL(EXCHANGE_RATE,0)) AS outstanding_lcy
				FROM IFRS_MASTER_ACCOUNT_MONTHLY 
				WHERE DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @DOWNLOAD_DATE, 112) + ''' AND ACCOUNT_STATUS = ''A'' AND CUSTOMER_NUMBER IS NOT NULL' 
				+ CASE WHEN @SEGMENT <> ''
					THEN ' AND SEGMENT IN (' + CAST(@SEGMENT AS VARCHAR(3000)) + ')'
					ELSE ''
				END
				+ CASE WHEN @ASSET_TYPE_PRODUCT1 <> ''
					THEN ' AND ASSET_TYPE_PRODUCT1 = ''' + CAST(@ASSET_TYPE_PRODUCT1 AS VARCHAR(50)) + ''''
					ELSE ''
				END
				+ ' GROUP BY Customer_number
				--HAVING SUM(outstanding * exchange_rate) > = 
				--	(
				--		SELECT commonusage
				--		FROM tblM_CommonCodeHeader
				--		WHERE COMMONCODE = ''IMP03''
				--	)
				ORDER BY SUM(ISNULL(Outstanding,0) * ISNULL(EXCHANGE_RATE,0)) DESC
			) PMA 
			JOIN 
			( SELECT DOWNLOAD_DATE,
				SEGMENT,
				CUSTOMER_NUMBER,
				CUSTOMER_NAME,
				asset_type_product1,
				asset_type_product2, 
				CURRENCY,
				SUM(outstanding) outstanding,
				SUM(ISNULL(Outstanding,0) * ISNULL(EXCHANGE_RATE,0)) outstanding_lcy,
				SUM(ISNULL(PLAFOND,0)) AS PLAFOND,
				SUM(ISNULL(PLAFOND,0) * ISNULL(EXCHANGE_RATE,0)) AS PLAFOND_LCY 
				FROM IFRS_MASTER_ACCOUNT_MONTHLY
				WHERE DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @DOWNLOAD_DATE, 112) + ''' AND ACCOUNT_STATUS = ''A'' AND CUSTOMER_NUMBER IS NOT NULL' 
				+ CASE WHEN @SEGMENT <> ''
					THEN ' AND SEGMENT IN (' + CAST(@SEGMENT AS VARCHAR(3000)) + ')'
					ELSE ''
				END
				+ CASE WHEN @ASSET_TYPE_PRODUCT1 <> ''
					THEN ' AND ASSET_TYPE_PRODUCT1 = ''' + CAST(@ASSET_TYPE_PRODUCT1 AS VARCHAR(50)) + ''''
					ELSE ''
				END 
			+' GROUP BY DOWNLOAD_DATE,
					SEGMENT,
					CUSTOMER_NUMBER,
					CUSTOMER_NAME,
					asset_type_product1,
					asset_type_product2, 
					CURRENCY
			) IMAM
			ON PMA.CUSTOMER_NUMBER = IMAM.CUSTOMER_NUMBER
			ORDER BY PMA.outstanding_rank';

	PRINT @Query;

	EXEC (@Query);

END

GO
