USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IMP_IMPAIRFLAG_TEMP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[USPS_IMP_IMPAIRFLAG_TEMP](  
 @CIF VARCHAR(50)  
)  
AS  
BEGIN  
  
 SELECT   
  CIF,  
  FLAG_IMPAIRED,  
  METHOD,  
  REMARKS  
 FROM IFRS_IMP_IMPAIRFLAG_TEMP  
 WHERE CIF = @CIF  
   
  
END  
GO
