USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKDATASOURCE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKDATASOURCE]
(
 @cekDataSource varchar(100) = '',
 @cekDataCode varchar(100) = '',
 @cekDataInstrumentClass varchar(100) = '',
 @cekCCY varchar(100) = '',
 @cekPKID bigint = 0
)
AS
BEGIN
DECLARE @COUNT INT
DECLARE @COUNTPENDING INT

 SELECT @COUNT = COUNT(*)
 FROM IFRS_MASTER_PRODUCT_PARAM
 WHERE UPPER(DATA_SOURCE) = UPPER(@cekDataSource)
  AND UPPER(PRD_CODE) = UPPER(@cekDataCode)
  AND UPPER(INST_CLS_VALUE) = UPPER(@cekDataInstrumentClass)
  AND (UPPER(CCY) = UPPER(@cekCCY) OR UPPER(@cekCCY) = 'ALL')
  AND PKID <> @cekPKID
  AND ISNULL(IS_DELETE,0) = 0;
 
 SELECT @COUNTPENDING = COUNT(*) FROM
 (SELECT HEADERID, INST_CLS_VALUE, DATA_SOURCE, PRD_CODE, CCY
 FROM
 (
  SELECT ISNULL(OLDVALUE,NEWVALUE) AS VALUE, FIELDNAME, HEADERID
  FROM TBLT_APPROVALDETAIL 
  WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER
		WHERE SCREENID='PARAM_PRODUCT' AND STATUS='P')
 )d
 pivot
 (
  max(value)
  for FIELDNAME in (INST_CLS_VALUE, DATA_SOURCE, PRD_CODE, CCY)
  ) piv)A
  WHERE INST_CLS_VALUE = @cekDataInstrumentClass
	AND DATA_SOURCE = @cekDataSource
	AND PRD_CODE = @cekDataCode
	AND (CCY = @cekCCY OR @cekCCY = 'ALL')
  
  SELECT @COUNT AS "COUNT", @COUNTPENDING AS "COUNTPENDING"

END;
GO
