USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETDAUDIT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_GETDAUDIT]  
	@HeaderID bigint  
AS
	SELECT A.PKID, HEADERID,
	CASE WHEN B.SCREENID = 'USER_UNEXPIRED' AND FIELDNAME = 'PKID'
		THEN 'USERNAME'
		ELSE FIELDNAME
	END FIELDNAME,
	CASE WHEN FieldName IN ('CreatedBy','UpdatedBy', 'REPORTTO') 
			THEN (SELECT UserName FROM tblm_user WHERE UPPER(cast(pkid as varchar(36))) = UPPER(OLDVALUE))
		WHEN B.SCREENID = 'USER_UNEXPIRED' AND FIELDNAME = 'PKID'
				THEN (SELECT UserName FROM tblm_user WHERE UPPER(cast(pkid as varchar(36))) = UPPER(OLDVALUE))
			ELSE OLDVALUE 
		END OLDVALUE,
		CASE WHEN FieldName IN ('CreatedBy','UpdatedBy', 'REPORTTO') 
				THEN (SELECT UserName FROM tblm_user WHERE UPPER(cast(pkid as varchar(36))) = UPPER(NewValue))
			WHEN B.SCREENID = 'USER_UNEXPIRED' AND FIELDNAME = 'PKID'
				THEN (SELECT UserName FROM tblm_user WHERE UPPER(cast(pkid as varchar(36))) = UPPER(NewValue))
			ELSE NEWVALUE 
		END NEWVALUE, 
		A.CREATEDDATE
	FROM tblT_AuditTrail A WITH (NOLOCK)
	LEFT JOIN TBLT_ACTIVITYLOGS B ON A.HEADERID = B.PKID
	WHERE HeaderID = @HeaderID
	ORDER BY FieldName

GO
