USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_INITIAL_UPDATE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_IFRS_LI_INITIAL_UPDATE]
AS
DECLARE @V_CURRDATE DATE
 ,@V_PREVDATE DATE
 ,@V_AMORT_TYPE_LEVEL INT = 1                     
BEGIN
 SELECT @V_CURRDATE = MAX(CURRDATE)
  ,@V_PREVDATE = MAX(PREVDATE)
 FROM IFRS_LI_PRC_DATE_AMORT;
              
 SELECT @V_AMORT_TYPE_LEVEL  = CAST(COMMONUSAGE AS INT)              
 FROM TBLM_COMMONCODEHEADER               
 WHERE COMMONCODE = 'SCM008'              

 INSERT INTO IFRS_LI_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'START'
  ,'SP_IFRS_LI_INITIAL_UPDATE'
  ,''
  );

 INSERT INTO IFRS_LI_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'DEBUG'
  ,'SP_IFRS_LI_INITIAL_UPDATE'
  ,'UPDATE IMP FIELD FROM PREVDATE'
  )

 UPDATE A                    
 SET --DBO.IFRS_LI_MASTER_ACCOUNT.PRODUCT_GROUP = B.PRODUCT_GROUP ,    
    A.ECL_AMOUNT = B.ECL_AMOUNT
  ,A.CA_UNWINDING_AMOUNT = B.CA_UNWINDING_AMOUNT
  ,A.IA_UNWINDING_AMOUNT = B.IA_UNWINDING_AMOUNT
  ,A.BEGINNING_BALANCE = B.BEGINNING_BALANCE
  ,A.CHARGE_AMOUNT = B.CHARGE_AMOUNT
  ,A.WRITEBACK_AMOUNT = B.WRITEBACK_AMOUNT
  ,A.ENDING_BALANCE = B.ENDING_BALANCE
  ,A.IS_IMPAIRED = B.IS_IMPAIRED
  ,A.IMPAIRED_FLAG = B.IMPAIRED_FLAG
  ,A.INITIAL_UNAMORT_ORG_FEE = B.INITIAL_UNAMORT_ORG_FEE
  ,A.INITIAL_UNAMORT_TXN_COST = B.INITIAL_UNAMORT_TXN_COST
  ,A.UNAMORT_FEE_AMT = B.UNAMORT_FEE_AMT
  ,A.UNAMORT_COST_AMT = B.UNAMORT_COST_AMT
  ,A.FIRST_INSTALLMENT_DATE = ISNULL(B.FIRST_INSTALLMENT_DATE, A.NEXT_PAYMENT_DATE)
 FROM DBO.IFRS_LI_MASTER_ACCOUNT   A                     
 LEFT JOIN (
 SELECT MASTERID AS MASTERID
   ,PRODUCT_GROUP
   ,ECL_AMOUNT
   ,CA_UNWINDING_AMOUNT
   ,IA_UNWINDING_AMOUNT
   ,BEGINNING_BALANCE
   ,CHARGE_AMOUNT
   ,WRITEBACK_AMOUNT
   ,ENDING_BALANCE
   ,IS_IMPAIRED
   ,STAFF_LOAN_FLAG
   ,IMPAIRED_FLAG
   ,INITIAL_UNAMORT_ORG_FEE
   ,INITIAL_UNAMORT_TXN_COST
   ,UNAMORT_FEE_AMT
   ,UNAMORT_COST_AMT
   ,FIRST_INSTALLMENT_DATE
  /*  BCA DISABLE BPI  ,SPECIAL_FLAG  */
  FROM IFRS_LI_MASTER_ACCOUNT
  WHERE DOWNLOAD_DATE = @V_PREVDATE
  ) B ON A.MASTERID = B.MASTERID
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE
                     
 INSERT INTO IFRS_LI_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME        
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'DEBUG'              
  ,'SP_IFRS_LI_INITIAL_UPDATE'
  ,'UPDATE LAST & NEXT PAYMENT DATE'
  )

 TRUNCATE TABLE TMP_LI_T1        

 INSERT INTO IFRS_LI_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )                  
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'DEBUG'
  ,'SP_IFRS_LI_INITIAL_UPDATE'
  ,'UPDATE AMORT TYPE & PRODUCT NAME'
  )                   
                
                
  IF @V_AMORT_TYPE_LEVEL = 0              
  BEGIN              
  UPDATE IFRS_LI_MASTER_ACCOUNT
  SET AMORT_TYPE = B.AMORT_TYPE,              
  STAFF_LOAN_FLAG = CASE WHEN B.IS_STAF_LOAN = 'Y'                
     THEN 1                
   ELSE 0                
     END  
  --PRODUCT_NAME = B.PRODUCT_DESCRIPTION    
  FROM (
   SELECT X.DATA_SOURCE, X.PRD_TYPE, X.PRD_CODE, X.AMORT_TYPE,X.IS_STAF_LOAN ,X.CCY ,Z.CURRDATE
   FROM IFRS_LI_PRODUCT_PARAM X
   CROSS JOIN IFRS_LI_PRC_DATE_AMORT Z
   ) B 
  WHERE DBO.IFRS_LI_MASTER_ACCOUNT.DATA_SOURCE = B.DATA_SOURCE
   --AND (DBO.IFRS_LI_MASTER_ACCOUNT.PRODUCT_TYPE = B.PRD_TYPE OR B.PRD_TYPE = 'ALL' OR IFRS_LI_MASTER_ACCOUNT.PRODUCT_TYPE = 'ALL')          
   AND (DBO.IFRS_LI_MASTER_ACCOUNT.PRODUCT_CODE = B.PRD_CODE OR B.PRD_CODE = 'ALL' OR IFRS_LI_MASTER_ACCOUNT.PRODUCT_CODE = 'ALL')          
   AND (DBO.IFRS_LI_MASTER_ACCOUNT.CURRENCY = B.CCY OR B.CCY = 'ALL')
   AND DBO.IFRS_LI_MASTER_ACCOUNT.DOWNLOAD_DATE = @V_CURRDATE
   AND DBO.IFRS_LI_MASTER_ACCOUNT.ACCOUNT_STATUS = 'A'

  END               
                
  IF @V_AMORT_TYPE_LEVEL = 1               
  BEGIN                
  UPDATE A                
  SET A.AMORT_TYPE = C.AMORT_TYPE,                 
   A.STAFF_LOAN_FLAG = CASE WHEN C.IS_STAF_LOAN = 'Y'                
     THEN 1                
   ELSE 0                
     END                
  FROM IFRS_LI_MASTER_ACCOUNT A                 
  INNER JOIN IFRS_LI_TRANSACTION_DAILY B ON A.MASTERID = B.MASTERID                 
  INNER JOIN (                
   SELECT X.DATA_SOURCE, X.PRD_TYPE, X.PRD_CODE, X.FLAG_AL, X.IS_STAF_LOAN, Y.TRX_CODE, Y.AMORT_TYPE, Y.CCY ,Z.CURRDATE
   FROM IFRS_LI_PRODUCT_PARAM X                     
    INNER JOIN IFRS_LI_TRANSACTION_PARAM Y                  
  ON (X.PRD_CODE = Y.PRD_CODE OR Y.PRD_CODE = 'ALL' OR X.PRD_CODE = 'ALL')           
  AND X.DATA_SOURCE = Y.DATA_SOURCE                 
   AND (X.PRD_TYPE = Y.PRD_TYPE OR Y.PRD_TYPE = 'ALL' OR X.PRD_TYPE = 'ALL')              
   AND (X.CCY = Y.CCY OR X.CCY = 'ALL' OR Y.CCY = 'ALL')                
  CROSS JOIN IFRS_LI_PRC_DATE_AMORT Z
    ) C                 
   ON A.DATA_SOURCE = C.DATA_SOURCE                
    AND A.PRODUCT_TYPE = C.PRD_TYPE                
    AND A.PRODUCT_CODE = C.PRD_CODE                
    AND B.TRX_CODE = C.TRX_CODE                
    AND (A.CURRENCY = C.CCY OR C.CCY = 'ALL')                
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE                
  AND A.ACCOUNT_STATUS = 'A'                
               
 END

 -- OVERIDE AMORT_TYPE BASED ON INTEREST_TYPE RIS 20220125
 UPDATE IFRS_LI_MASTER_ACCOUNT 
 SET AMORT_TYPE = CASE INTEREST_TYPE WHEN '1' THEN 'EIR' WHEN '2' THEN 'SL' ELSE AMORT_TYPE END
 WHERE DOWNLOAD_DATE = @V_CURRDATE
 -- OVERIDE AMORT_TYPE BASED ON INTEREST_TYPE RIS 20220125

 INSERT INTO IFRS_LI_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )                    
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'DEBUG'
  ,'SP_IFRS_LI_INITIAL_UPDATE'
  ,'EXCHANGE RATE CURR & PREV'
  )

 /* FRANS 04052018
  ADD STEP TO UPDATE SPPI RESULT INTO IFRS9 CLASS
 */
 INSERT INTO IFRS_LI_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'DEBUG'
  ,'SP_IFRS_LI_INITIAL_UPDATE'
 ,'UPDATE IFRS9 CLASS BASED ON SPPI & BUSINESS MODEL TEST'
  )
                  
  /*UPDATE LEVEL PRODUCT GROUP */                    
  /*AMBIL IFRS9_CLASS DARI IMA PREV DATE. SELAIN END OF MONTH */                
 UPDATE A                 
 SET A.IFRS9_CLASS = C.IFRS9_CLASS                
 FROM IFRS_LI_MASTER_ACCOUNT A                     
 INNER JOIN IFRS_LI_MASTER_ACCOUNT C ON A.MASTERID = C.MASTERID                 
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE AND C.DOWNLOAD_DATE = @V_PREVDATE                   
 AND @V_CURRDATE <> EOMONTH(@V_CURRDATE)                
                
                
  /*UPDATE LEVEL PRODUCT GROUP */                    
  /*AMBIL IFRS9_CLASS DARI PRODUCT. END OF MONTH & NEW ACCOUNT*/                
 UPDATE A                 
 SET A.IFRS9_CLASS = CASE            
   WHEN B.LIABILITES_CLASSIFICATION = 'AMORT'                    
    THEN 'AMORTIZED COST'                    
   WHEN B.LIABILITES_CLASSIFICATION = 'FVTPL'                    
    THEN 'FVTPL'                    
   WHEN B.LIABILITES_CLASSIFICATION = 'FVTOCI'                    
    THEN 'FVOCI'                    
   END                    
 FROM IFRS_LI_MASTER_ACCOUNT A                    
 INNER JOIN IFRS_LI_PRODUCT_PARAM B                   
  ON A.PRODUCT_CODE = B.PRD_CODE AND A.PRODUCT_TYPE = B.PRD_TYPE                   
   AND A.DATA_SOURCE = B.DATA_SOURCE AND ( B.CCY = A.CURRENCY OR B.CCY = 'ALL' )                
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE                 
 AND (@V_CURRDATE = EOMONTH(@V_CURRDATE)                
  OR NOT EXISTS (                
   SELECT TOP 1 1                 
   FROM IFRS_LI_MASTER_ACCOUNT X                 
   WHERE X.MASTERID = A.MASTERID AND X.DOWNLOAD_DATE = @V_PREVDATE))                

 /* FRANS 07052018
ADD STEP TO RELOAD CURRENCY TABLE
*/
 INSERT INTO IFRS_LI_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM                 
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'DEBUG'
  ,'SP_IFRS_LI_INITIAL_UPDATE'
  ,'RELOAD MASTER CURRENCY TABLE'
  )

 DELETE
 FROM TBLM_CURRENCY; 

 INSERT INTO TBLM_CURRENCY (
  CCY
  ,CCY_TYPE
  ,CCY_DESC
  ,CREATEDBY
  ,CREATEDDATE
  )
 SELECT CURRENCY
  ,CURRENCY
  ,COALESCE(CURRENCY_DESC, 'N/A') --CURRENCY_DESC
  ,'SP_IFRS_LI_INITIAL_UPDATE'
  ,GETDATE()
 FROM IFRS_MASTER_EXCHANGE_RATE
 WHERE DOWNLOAD_DATE = @V_CURRDATE;
                  
 -- UPDATE IAS_CLASS / FLAG_AL ON IMA           
 UPDATE IFRS_LI_MASTER_ACCOUNT          
 SET    
 PRODUCT_GROUP = B.PRD_GROUP,    
 PRODUCT_TYPE = B.PRD_TYPE,     
 IAS_CLASS = COALESCE(B.FLAG_AL, 'L'),  
 TENOR = (DATEDIFF(DD, LOAN_START_DATE, LOAN_DUE_DATE)/30)+1,  
 REMAINING_TENOR = (DATEDIFF(DD, DOWNLOAD_DATE, LOAN_DUE_DATE)/30)+1  
 FROM IFRS_LI_PRODUCT_PARAM B              
 WHERE (B.DATA_SOURCE = IFRS_LI_MASTER_ACCOUNT.DATA_SOURCE OR ISNULL(B.DATA_SOURCE, 'ALL') = 'ALL')        
 AND (B.PRD_CODE = IFRS_LI_MASTER_ACCOUNT.PRODUCT_CODE OR ISNULL(B.PRD_CODE, 'ALL') = 'ALL')          
 AND (B.CCY = IFRS_LI_MASTER_ACCOUNT.CURRENCY OR ISNULL(B.CCY, 'ALL') = 'ALL')          
 AND IFRS_LI_MASTER_ACCOUNT.DOWNLOAD_DATE = @V_CURRDATE         
                  
 -- SHU 20180830                   
 -- ADD STEP TO UPDATE GL_CONSTNAME                   
                    
 INSERT INTO IFRS_LI_AMORT_LOG (
 DOWNLOAD_DATE
 ,DTM
 ,OPS
 ,PROCNAME
 ,REMARK
 )
 VALUES (
 @V_CURRDATE
 ,CURRENT_TIMESTAMP
 ,'DEBUG'
 ,'SP_IFRS_LI_INITIAL_UPDATE'
 ,'UPDATE GL_CONSTNAME'
 )
      
 EXEC SP_IFRS_LI_EXEC_RULE 'GL_LI';                  
 
                  
 INSERT INTO IFRS_LI_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'END'
  ,'SP_IFRS_LI_INITIAL_UPDATE'
  ,''
  )
END
GO
