USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ASSETHEADERLIST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_ASSETHEADERLIST]
AS
BEGIN

	SELECT ASSET.PKID,
		--SGT.RULE_NAME AS SEGMENT,
		ASSET.CLASS_LEVEL AS "CLASSIFICATION_LEVEL",
		ASSET.CLASS_ID AS "CLASSIFICATION_ID",
		ASSET.CLASS_NAME AS "CLASSIFICATION_MODEL_NAME",
		ASSET.EFFECTIVE_DATE "EFFECTIVE_DATE", 
		XCLASS.DESCRIPTION AS "ASSET_CLASS",
		XCLASS_ORI.DESCRIPTION AS "ASSET_CLASS_ORI",
		XBM.DESCRIPTION AS "BM_RESULT",
		XSPPI.DESCRIPTION AS "SPPI_RESULT"
	FROM IFRS_ASSET_CLASS_HEADER ASSET
		--JOIN IFRS_SCENARIO_RULES_HEADER SGT ON ASSET.SEGMENT_ID = SGT.PKID
		JOIN TBLM_COMMONCODEDETAIL XCLASS ON XCLASS.Value1 = ASSET.ASSET_CLASS AND XCLASS.PARENTCOMMONCODEVALUE = 'CLASS'
		JOIN TBLM_COMMONCODEDETAIL XCLASS_ORI ON XCLASS_ORI.Value1 = ASSET.ASSET_CLASS_ORI AND XCLASS_ORI.PARENTCOMMONCODEVALUE = 'CLASS'
		JOIN TBLM_COMMONCODEDETAIL XBM ON  XBM.Value1 = ASSET.BM_RSLT AND XBM.PARENTCOMMONCODEVALUE = 'BM'
		JOIN TBLM_COMMONCODEDETAIL XSPPI ON  XSPPI.Value1 = ASSET.SPPI_RSLT AND XSPPI.PARENTCOMMONCODEVALUE = 'SPPI';

END;

GO
