USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_AMORTIZATIONFACHEADERD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_AMORTIZATIONFACHEADERD]
(  
    @DOWNLOAD_DATE DATE='',
	@FACILITY_NUMBER VARCHAR(50)=''
)
AS
BEGIN

SELECT
	A.DOWNLOAD_DATE,  
	ACCTNO AS ACCOUNT_NUMBER,  
	BRANCH,  
	PRDCODE,  
	TRXCODE,
	B.EXCHANGE_RATE,  
	FLAG_CF,  
	GLNO AS GL_ACCOUNT,  
	CASE WHEN JOURNALCODE = 'AMORT' THEN JOURNALCODE ELSE JOURNALCODE2 END AS JOURNAL_TYPE,  
	JOURNAL_DESC,  
	CCY,  
	DRCR AS DB_CR,  
	REVERSE,  
	N_AMOUNT AS AMOUNT,  
	N_AMOUNT_IDR AS AMOUNT_BASE,
	DRCR
FROM IFRS_ACCT_JOURNAL_DATA A (NOLOCK)
LEFT JOIN IFRS_MASTER_ACCOUNT B (NOLOCK) ON B.DOWNLOAD_DATE = @DOWNLOAD_DATE AND B.FACILITY_NUMBER = @FACILITY_NUMBER AND B.MASTERID = @FACILITY_NUMBER
WHERE A.DOWNLOAD_DATE = @DOWNLOAD_DATE
	AND A.FACNO = @FACILITY_NUMBER
	AND A.MASTERID = @FACILITY_NUMBER
ORDER BY DOWNLOAD_DATE,
	FACILITY_NUMBER

END
GO
