USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_FL_VARIABLE_REGIS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_FL_VARIABLE_REGIS]      
(      
    
 @ME_CODE VARCHAR(100) = '' ,     
 @ME_SOURCE_TABLE VARCHAR(100) = '' ,    
 @ME_DESC VARCHAR(100) = ' ' ,      
 @ME_SOURCE_PERIOD_COLUMN VARCHAR(30) = '' ,    
 @ME_SOURCE VARCHAR(100) = '' ,    
 @ME_SOURCE_VALUE_COLUMN VARCHAR(30) = '' ,    
 @ME_SOURCE_FILTER bigint = 0 ,    
 @ME_SOURCE_URL VARCHAR(4000) = '' ,
 @ME_TIME_SERIES VARCHAR(100) = '' ,
 @ME_TYPE VARCHAR(50) = '',
    --@PKID FLOAT = 0,    
 @CreatedBy VARCHAR(4000) = ' ' ,    
 @CreatedHost VARCHAR(4000) = ' '    
    
)      
      
AS      
      
BEGIN    
    
 --IF @ME_SOURCE = 'Table'    
  --BEGIN    
    
  DECLARE @ME_FILTER VARCHAR(100)    
  DECLARE @ME_TABLE VARCHAR(100)    
  DECLARE @SQL VARCHAR(2000)    
    
    
  SELECt @ME_FILTER= VALUE3, @ME_TABLE = VALUE2    
  FROM  TBLM_COMMONCODEDETAIL     
  WHERE COMMONCODE = 'B112'    
  AND VALUE1 = @ME_SOURCE_TABLE    
    
  --IF @ME_SOURCE_TABLE = 'LGD'    
  --BEGIN    
  -- set @ME_SOURCE_PERIOD_COLUMN = 'EFF_DATE'    
  --END    
    
  SET  @SQL =  'DECLARE @HEADERID BIGINT '    
  SET @SQL = @SQL + '     
    
  '    
    
  /*SET @SQL = @SQL +'INSERT INTO TBLM_MACRO_ECONOMIC (    
  ME_CODE,    
  ME_DESC,    
  ME_SOURCE,    
  ME_SOURCE_TABLE,    
  ME_SOURCE_PERIOD_COLUMN,    
  ME_SOURCE_VALUE_COLUMN,    
  ME_SOURCE_FILTER,     
  ME_PERIOD_START,    
  ME_PERIOD_END) '    
  SET @SQL = @SQL + ' SELECT ''' + @ME_CODE + ''',  ''' + @ME_DESC + ''', ''' +  @ME_SOURCE + ''' ,'''+ @ME_SOURCE_TABLE + ''','    
  SET @SQL = @SQL + '''' + @ME_SOURCE_PERIOD_COLUMN + ''', ''' + @ME_SOURCE_VALUE_COLUMN + ''',' +   @ME_SOURCE_FILTER +  ', '    
  SET @SQL = @SQL + ' MIN (' + @ME_SOURCE_PERIOD_COLUMN + ') MIN_DATE, MAX(' + @ME_SOURCE_PERIOD_COLUMN + ') MAX_DATE '    
  SET @SQL = @SQL + '    
  '    
  SET @SQL = @SQL + ' FROM ' + @ME_TABLE + ' A '    
  SET @SQL = @SQL + ' WHERE A.' + @ME_FILTER + ' = ' + @ME_SOURCE_FILTER     
  SET @SQL = @SQL + ' GROUP BY A.' + @ME_FILTER   */    
  SET @SQL = @SQL + '     
    
  '    
    
  /*SET @SQL = @SQL + ' SELECT @HEADERID = @@IDENTITY '    
  SET @SQL = @SQL + '     
    
  '    
       
  SET @SQL = @SQL + ' INSERT INTO IFRS_MACRO_ECONOMIC (     
  HEADERID,    
  ME_CODE,    
  ME_PERIOD,     
  ME_VAL)'    
  SET @SQL = @SQL + '    
  '    
  SET @SQL = @SQL + ' SELECt @HEADERID, ''' + @ME_CODE + ''', ' + @ME_SOURCE_PERIOD_COLUMN+ ',  '+  @ME_SOURCE_VALUE_COLUMN     
  SET @SQL = @SQL + ' FROM ' + @ME_TABLE    
  SET @SQL = @SQL + ' WHERE ' + @ME_FILTER + ' = ' + @ME_SOURCE_FILTER + ''*/    
    
  --EXEC( @SQL )    
  --PRINT(@SQL)    
 --END    
    
 --ELSE    
    
 --BEGIN    
  DECLARE @headerID DECIMAL(38);      
  --SET IDENTITY_INSERT tblM_Macro_Economic ON    
    
  INSERT INTO tblM_Macro_Economic      
  (    
	  --PKID,      
	  ME_CODE,      
	  ME_SOURCE_TABLE,    
	  ME_DESC,    
	  ME_SOURCE_PERIOD_COLUMN,    
	  ME_SOURCE,    
	  ME_SOURCE_VALUE_COLUMN,    
	  ME_SOURCE_FILTER,    
	  ME_SOURCE_URL,
	  ME_TIME_SERIES,
	  ME_TYPE,
	  ME_SOURCE_FILTER_COLUMN,
	  CreatedBy,       
	  CreatedDate,       
	  CreatedHost      
  )      
  VALUES       
  (      
	  --@PKID,    
	  @ME_CODE,    
	  @ME_SOURCE_TABLE,    
	  @ME_DESC,    
	  @ME_SOURCE_PERIOD_COLUMN,    
	  @ME_SOURCE,    
	  @ME_SOURCE_VALUE_COLUMN,    
	  @ME_SOURCE_FILTER,    
	  @ME_SOURCE_URL,
	  @ME_TIME_SERIES,    
	  @ME_TYPE,
	  CASE WHEN @ME_SOURCE = 'Table' THEN 'PD_RULE_ID'
			WHEN @ME_SOURCE = 'Upload' THEN 'HEADERID' END,
	  @CreatedBy,       
	  GETDATE(),      
	  @CreatedHost      
  );

  --UPDATE ME_SOURCE_FILTER WHEN ME SOURCE = UPLOAD AND ME TYPE = DEPENDENT
	IF (@ME_SOURCE = 'Upload' AND @ME_TYPE = 'DEPENDENT')
	BEGIN
		DECLARE @PKIDTEMP BIGINT
		SELECT @PKIDTEMP = MAX(PKID) FROM TBLM_MACRO_ECONOMIC WHERE ME_CODE = @ME_CODE AND ISNULL(IS_DELETE, 0) = 0
	
		UPDATE TBLM_MACRO_ECONOMIC SET ME_SOURCE_FILTER = @PKIDTEMP WHERE PKID = @PKIDTEMP
	END

  --SET IDENTITY_INSERT tblM_Macro_Economic OFF    
 --END    
       
END

GO
