USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TMPGETNEXTBOOTSTRAPPKID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_TMPGETNEXTBOOTSTRAPPKID]
AS
BEGIN
    SELECT ISNULL(IDENT_CURRENT('TMP_IFRS_PD_BOOTSTRAP_CONFIG') + IDENT_INCR('TMP_IFRS_PD_BOOTSTRAP_CONFIG'),1)      
END;

GO
