USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DOWNLOADDOCUMENTFROMMAPPINGRULES]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DOWNLOADDOCUMENTFROMMAPPINGRULES]  
(  
 @code VARCHAR(100) = NULL  
)  
AS  
BEGIN  
  
 SELECT *   
 FROM TBLM_MAPPINGRULEHEADER_NEW   
 WHERE TABLEDESTINATION = @code ;  
        
END;  
GO
