USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETGLDATE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETGLDATE]
AS
BEGIN

	SELECT REPLACE(CONVERT(VARCHAR, CURRDATE, 106), ' ', '-') AS CURRDATE
	FROM IFRS_PRC_DATE;

END;

GO
