USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UDCONFIGURATION]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[USPS_UDCONFIGURATION]        
(        
 @Where VARCHAR(500) = ''        
)        
AS        
BEGIN        
        
 DECLARE @Query VARCHAR (3000);        
        
    SET @Query =         
  '        
  select         
   A.PKID        
  ,A.UD_RULES_NAME        
  ,A.UD_SEGMENT_ID      
  ,B.SUB_SEGMENT [UD_SEGMENT]        
  ,A.HISTORICAL_DATA        
  ,A.INTERVAL_BAND          
  from IFRS_EAD_UD_RULES_CONFIG A         
  join IFRS_MSTR_SEGMENT_RULES_HEADER B         
  on A.UD_SEGMENT_ID = B.PKID WHERE A.IS_DELETE = 0 AND B.IS_DELETE =0 AND        
  '          
   + CASE WHEN @Where <> ''         
    THEN ' 1=1 AND ' + @Where        
    ELSE ' A.ACTIVE_FLAG=''1'' '        
   END;        
        
 EXEC(@Query);       
 --PRINT(@query);         
          
END;    
  
  
GO
