USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ASSETTYPE_2]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ASSETTYPE_2]
(
	@AssetValue VARCHAR(1000)
)
AS
BEGIN

	DECLARE @Query VARCHAR(5000);
	
	SET @Query = 
		'SELECT VALUE1 AS ASSET_TYPE_PRODUCT2, DESCRIPTION AS "Asset Product Type 2"
		FROM TBLM_COMMONCODEDETAIL
		WHERE PARENTCOMMONCODE = ''B77'' '
			+ CASE WHEN @AssetValue <> ''
				THEN 'AND PARENTCOMMONCODEVALUE IN (' + @AssetValue + ')'
				ELSE ''
			END;

	EXEC (@Query);

END;

GO
