USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_LoadDataPendingApprovalAssetClass]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[uspS_LoadDataPendingApprovalAssetClass]
(
	@userID VARCHAR(36)
)
AS
BEGIN

	SELECT PKID, CLASS_NAME,CLASS_LEVEL,CLASS_ID,EFFECTIVE_DATE, R.USERNAME, ACTIONS 
	FROM IFRS_ASSET_CLASS_HEADER_PEND A
		LEFT JOIN TBLM_REPORTTO R ON COALESCE(A.UPDATEDBY, A.CREATEDBY) = R.USERID
	WHERE ISNULL(REPORTTO, A.CREATEDBY) = @userID
		AND STATUS = 'PENDING'
	ORDER BY A.CREATEDDATE DESC;

END;

GO
