USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMJOURNALLISTCOUNT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_PARAMJOURNALLISTCOUNT]
(
    @Where VARCHAR(4000) = NULL
)
AS
    DECLARE @Query VARCHAR (3000);
	
	SET NOCOUNT ON;

	SET @Query = 
		'
		select				
			DB.PKID,DB.GL_CONSTNAME,
			DB.INST_CLS_VALUE,
			CASE DB.INST_CLS_VALUE
		  WHEN '+ '''O''' + ' THEN ' + '''OFF BALANCE SHEET''' + ' '
		  + 'WHEN '+ '''L''' + ' THEN ' + '''LIABILITES''' + ' '
		  + 'WHEN '+ '''A''' + ' THEN ' + '''ASSETS''' + ' '
		  + 'END AS INST_CLS_VALUE2,
			--DB.ASSET_TYPE_PRODUCT1,
			DB.TRX_CODE,
			DB.TXN_TYPE AS DRCR,
			DB.CCY,
			DB.IFRS_COST_VALUE AS FLAG_CF,
			DB.IFRS_ACCT_TYPE AS JOURNALCODE,
			(SELECT DESCRIPTION FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''400'' AND VALUE1 = DB.IFRS_COST_VALUE) AS FLAG_CF2,
			DB.GL_CODE AS GLNO,
			DB.REMARKS AS JOURNAL_DESC
		into #temp
		from IFRS_MASTER_JOURNAL_PARAM DB where DB.IS_DELETE = 0
		
		
		select				
			count (*)
		from #temp
		 '
        + CASE WHEN @Where IS NOT NULL
		THEN 'where ' + @Where
		ELSE ''
		END;

    EXEC (@Query);
	--print @Query

GO
