USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETBMCLASSNAME_PENDING]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_GETBMCLASSNAME_PENDING]
	@CLASSNAME varchar(100) = ''
AS
BEGIN
	
	SELECT * FROM IFRS_AC_BM_HEADER_PENDING
	WHERE STATUS = 'PENDING'
		AND BM_NAME = @CLASSNAME
		AND STATUS = 'PENDING'

END



GO
