USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOADDEFAULTLGLMONITORING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC  [dbo].[USPR_LOADDEFAULTLGLMONITORING]        
(  
 @PKID BIGINT,  
 @DOWNLOAD_DATE DATE  
)  
AS        
BEGIN      
DECLARE @LGD_METHOD VARCHAR(50)

SELECT @LGD_METHOD = LGD_METHOD FROM IFRS_LGD_RULES_CONFIG WHERE PKID = @PKID

IF (@LGD_METHOD = 'CR x LGL')
BEGIN
	SELECT  
		DOWNLOAD_DATE AS 'Period',  
		LGD_RULE_NAME AS 'LGD Model Name',  
		LGD_UNIQUE_ID AS 'LGD Unique ID',  
		SEGMENT AS 'Segment',  
		EIR_SEGMENT AS 'EIR Segment',  
		LOAN_START_DATE AS 'Loan Start Date',  
		RESTRU_SIFAT_FLAG AS 'Restructure Sifat Flag',  
		WO_DATE AS 'WO Date',  
		WO_AMOUNT AS 'WO Amount',  
		RECOVERY_WO_MTD AS 'Recovery WO MTD',  
		RECOVERY_WO AS 'Total Recovery WO',  
		OS_AT_DEFAULT AS 'OS at Default',  
		OS_LAST_DEFAULT AS 'OS Last Default',
		LAST_OS AS 'Last OS',  
		LAST_SNAPSHOT_DATE AS 'Last Snapshot Date',  
		LAST_DPD AS 'Last DPD',  
		AVG_EIR AS 'Average EIR (%)',  
		DEFAULT_FLAG AS 'Default Flag',  
		DEFAULT_DATE AS 'Default Date',  
		DEFAULT_MOVEMENT AS 'Default Movement',  
		CURE_FLAG AS 'Cure Flag',  
		LIQUIDATED_FLAG AS 'Liquidated Flag',  
		PENDING_FLAG AS 'Pending Flag',  
		FINAL_STATUS AS 'Final Status',  
		MOVEMENT_OS AS 'Movement OS',  
		RECOVERY_FP AS 'Recovery FP',  
		RECOVERY_LOS_WO AS 'Recovery Between Last OS and WO',  
		TOTAL_RECOVERY AS 'Total Recovery',  
		LGL AS 'LGL (%)',  
		DISC_MOVEMENT_OS AS 'Discounted Movement OS',  
		DISC_RECOVERY_FP AS 'Discounted Recovery FP',  
		DISC_RECOVERY_LOS_WO AS 'Discounted Recovery Between Last OS and WO',  
		DISC_RECOVERY_WO_MTD AS 'Discounted Recovery WO MTD',  
		DISC_RECOVERY_WO AS 'Discounted Recovery WO',  
		DISC_TOTAL_RECOVERY AS 'Discounted Recovery Total',  
		DISC_LGL AS 'Discounted LGL (%)'
	FROM IFRS_LGD_CURE_LGL_DETAIL  
	WHERE LGD_RULE_ID = @PKID  
		AND DOWNLOAD_DATE = @DOWNLOAD_DATE
END
ELSE IF (@LGD_METHOD = 'EXPECTED RECOVERY')
BEGIN
	SELECT
		DOWNLOAD_DATE AS 'Period',
		DEFAULT_DATE AS 'Default Date',
		DEFAULT_YEAR AS 'Default Year',
		LGD_RULE_NAME AS 'LGD Model Name',
		LGD_UNIQUE_ID AS 'LGD Unique ID',
		CUSTOMER_NAME AS 'Customer Name',
		SEGMENT AS 'Segment',
		CURRENCY AS 'Currency',
		OS_AT_DEFAULT AS 'Outstanding at Default',
		RECOVERY_AMOUNT AS 'Total Recovery',
		NPV_RECOVERY AS 'Total of NPV Recovery',
		EIR_AT_DEFAULT AS 'EIR at Default (%)',
		ISNULL(RECOVERY_RATE, 0) * 100 AS 'Recovery Rate (%)',
		ISNULL(LGD, 0) * 100 AS 'LGD (%)',
		ISNULL(LGD, 0) * ISNULL(OS_AT_DEFAULT, 0) AS 'LGD * Outstanding'
	FROM IFRS_LGD_ER_DETAIL
	WHERE LGD_RULE_ID = @PKID  
		AND DOWNLOAD_DATE = @DOWNLOAD_DATE
END

END

GO
