USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEDERIVED]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MEDERIVED](  
@MODEL_ID int  
,@IS_SIMULATION bit  
,@MACRO_ECONOMIC_CODE varchar(200)  
)  
AS  
BEGIN  
  
DECLARE @V_Query   VARCHAR(MAX);    
DECLARE @V_ColumnName VARCHAR(MAX);  
  
IF (@IS_SIMULATION = 1)  
BEGIN  
 SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + '[' + ME_CODE + ']'  
  FROM  
 (SELECT DISTINCT ME_CODE  
  FROM  
  (SELECT ME_CODE  
   FROM TMP_IFRS_ME_DERIVED_VARIABLE  
   WHERE MODEL_ID = @MODEL_ID AND ME_CODE LIKE ''+@MACRO_ECONOMIC_CODE+'%'  
   GROUP BY ME_CODE  
  )A  
 )B ORDER BY ME_CODE  
  
 SET @V_Query =   
  'SELECT  
   PERIOD  
   ,'+@V_ColumnName+'  
  FROM(    
   SELECT  
    ME_CODE,  
    PERIOD,  
    CASE WHEN ME_VALUE = ''inf'' THEN 0 ELSE ISNULL(CAST(ME_VALUE AS float),0) END AS ME_VALUE  
   FROM TMP_IFRS_ME_DERIVED_VARIABLE  
   WHERE MODEL_ID = '+CAST(@MODEL_ID AS VARCHAR)+'  
    AND ME_CODE LIKE '''+@MACRO_ECONOMIC_CODE+'%''  
   )TMP    
   PIVOT(SUM(ME_VALUE)  
     FOR ME_CODE IN ('+ @V_ColumnName +')  
   )PVT  
  ORDER BY PERIOD'  
  
  IF (@V_ColumnName IS NULL)  
  BEGIN  
   SELECT  
    ME_CODE,  
    PERIOD,  
    ISNULL(ME_VALUE,0) AS ME_VALUE  
   FROM TMP_IFRS_ME_DERIVED_VARIABLE WHERE MODEL_ID = @MODEL_ID  
  END  
END  
ELSE  
BEGIN  
 SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + '[' + ME_CODE + ']'  
  FROM  
 (SELECT DISTINCT ME_CODE  
  FROM  
  (SELECT ME_CODE  
   FROM IFRS_ME_DERIVED_VARIABLE  
   WHERE MODEL_ID = @MODEL_ID AND ME_CODE LIKE ''+@MACRO_ECONOMIC_CODE+'%'  
   GROUP BY ME_CODE  
  )A  
 )B ORDER BY ME_CODE  
  
 SET @V_Query =   
  'SELECT  
   PERIOD  
   ,'+@V_ColumnName+'  
  FROM(    
   SELECT  
    ME_CODE,  
    ME_PERIOD AS PERIOD,  
    ME_VAL AS ME_VALUE  
   FROM IFRS_ME_DERIVED_VARIABLE  
   WHERE MODEL_ID = '+CAST(@MODEL_ID AS VARCHAR)+'  
    AND ME_CODE LIKE '''+@MACRO_ECONOMIC_CODE+'%''  
   )TMP    
   PIVOT(SUM(ME_VALUE)  
     FOR ME_CODE IN ('+ @V_ColumnName +')  
   )PVT  
  ORDER BY PERIOD'  
  
  IF (@V_ColumnName IS NULL)  
  BEGIN  
   SELECT  
    ME_CODE,  
    ME_PERIOD,  
    ISNULL(ME_VAL,0) AS ME_VALUE  
   FROM IFRS_ME_DERIVED_VARIABLE WHERE MODEL_ID = @MODEL_ID  
  END  
END  
  
PRINT (@V_Query)  
EXEC (@V_Query)  
  
END  
GO
