USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_ECL_MODELHEADER]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[USPD_ECL_MODELHEADER]    
 (    
  @ECL_ID int = 0    
 )    
as    
begin    
	 update IFRS_ECL_MODEL_HEADER   set IS_DELETE = 1   
	 where PKID = @ECL_ID    
end

GO
