USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SEQLIGHTGROUP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SEQLIGHTGROUP]
(  
	@LIGHT_GROUP VARCHAR(25) = ''
)
AS
	DECLARE @last CHAR(3)
BEGIN
  
	IF (@LIGHT_GROUP <> '')
	BEGIN
		SELECT	 @last = CAST(RIGHT(LIGHT_GROUP, 3) + 001 AS CHAR(3))from IFRS_IMP_LIGHT_SCEN_PARAM WHERE LIGHT_GROUP like + '%_' + @LIGHT_GROUP + '%'  
		SELECT REPLICATE('0', 3 - LEN(@last)) + @last AS LIGHTGROUP2
	END
	ELSE
	BEGIN
		SELECT '001' as LIGHTGROUP2
	END

END

GO
