USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_LIGHTSCENARIOH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_LIGHTSCENARIOH]
(
	@LIGHT_ID INT,
	@LIGHT_GROUP VARCHAR(50),
	@LIGHT_NAME VARCHAR(50),	
	@LIGHT_DESCRIPTION VARCHAR(200),
	@SCORE_START INT,
	@SCORE_END INT,
	@LIGHT_COLOR VARCHAR(50),
	@IMAGE_URL varchar(50),
	@CreatedBy VARCHAR(36),
	@CreatedHost VARCHAR(30)
)
AS
BEGIN

	INSERT INTO IFRS_IMP_LIGHT_SCEN_PARAM
	(
		LIGHT_ID,
		LIGHT_GROUP,
		LIGHT_NAME,
		LIGHT_DESCRIPTION,
		RANGE_START,
		RANGE_END,
		LIGHT_COLOR,
		IMAGE_URL,
		CreatedBy,
		CreatedDate,
		CreatedHost
	)
	VALUES
	(
		@LIGHT_ID,
		@LIGHT_GROUP,
		@LIGHT_NAME,
		@LIGHT_DESCRIPTION,
		@SCORE_START,
		@SCORE_END,
		@LIGHT_COLOR,
		@IMAGE_URL,
		@CreatedBy,
		GETDATE(),
		@CreatedHost
	)

END


GO
