USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LIGHT_MACROAVGDEFAULT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LIGHT_MACROAVGDEFAULT]
(
	@PKID BIGINT
)
AS
BEGIN
	SELECT 
		LIGHT_NAME LIGHT,
		LIGHT_COLOR,
		DEFAULT_RATE SYSTEM_RATE,
		OVERRIDE_DEFAULT_RATE OVERRIDE_RATE,
		SAMPLES
	FROM IFRS_LIGHT_AVG_DEF_RATE A 
	JOIN IFRS_LIGHT_PD_CONFIG C ON A.LIGHT_PD_MODEL_ID=C.PKID
	JOIN IFRS_IMP_LIGHT_SCEN_PARAM B ON B.LIGHT_GROUP = C.LIGHT_GROUP AND B.LIGHT_ID=A.LIGHT_ID
	WHERE C.PKID=@PKID
END

GO
