USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADMESUBMITWOAPP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_UPLOADMESUBMITWOAPP]              
(             
 @UploadID int,                
 @Remarks varchar(500) = '',              
 @ApprovedBy varchar(36),                
 @ApprovedHost varchar(30)               
)              
AS              
BEGIN TRAN        
       
 --INTERPOLATION SEPTIAN 26062019      
 DECLARE @HEADERID BIGINT      
 DECLARE @ME_CODE VARCHAR(100)      
 DECLARE @CREATEDBY VARCHAR(100)      
 DECLARE @CREATEDDATE DATETIME      
 DECLARE @CREATEDHOST VARCHAR(100)      
 DECLARE @UPDATEDBY VARCHAR(100)      
 DECLARE @UPDATEDDATE DATETIME      
 DECLARE @UPDATEDHOST VARCHAR(100)      
              
EXEC uspI_ActivityLogs @ApprovedBy,'INSERT_WO_APPROVAL','MACRO_UPLOAD','IAS',@ApprovedHost                
              
 --ADD COMMENT BY SEPTIAN 02062019
 --UPDATE A SET A.ME_VAL = B.ME_VAL FROM IFRS_MACRO_ECONOMIC A JOIN tblU_MACRO_ECONOMIC_TEMP B ON A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = B.ME_PERIOD              
              
 --DELETE tblU_MACRO_ECONOMIC_TEMP FROM tblU_MACRO_ECONOMIC_TEMP B JOIN IFRS_MACRO_ECONOMIC A ON A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = B.ME_PERIOD              
 --END ADD COMMENT BY SEPTIAN 02062019   

 DELETE IFRS_MACRO_ECONOMIC WHERE ME_CODE = (SELECT DISTINCT(ME_CODE) FROM TBLU_MACRO_ECONOMIC_TEMP WHERE UPLOADID = @UploadID)-- AND ME_PERIOD IN (SELECT ME_PERIOD FROM TBLU_MACRO_ECONOMIC_TEMP WHERE UPLOADID = @UploadID)    
               
 --INSERT TBLU_TRANS_ASSET              
 INSERT INTO IFRS_MACRO_ECONOMIC([ME_CODE], [ME_PERIOD], [ME_VAL],[UPLOADID],[HEADERID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]              
   ,[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST])                
 SELECT [ME_CODE], EOMONTH([ME_PERIOD]), [ME_VAL],[UPLOADID],[HEADERID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],@ApprovedBy                
  ,GetDate(),@ApprovedHost                
 FROM tblU_MACRO_ECONOMIC_TEMP                
 WHERE UPLOADID = @UploadID              
 ORDER BY PKID              
      
 --INTERPOLATION SEPTIAN 26062019      
 SELECT       
 @HEADERID = X.HEADERID,       
 @ME_CODE = X.ME_CODE,       
 @CREATEDBY = X.CREATEDBY,       
 @CREATEDDATE = X.CREATEDDATE,      
 @CREATEDHOST = X.CREATEDHOST,      
 @UPDATEDBY = X.UPDATEDBY,      
 @UPDATEDDATE = X.UPDATEDDATE,      
 @UPDATEDHOST = X.UPDATEDHOST      
 FROM (SELECT TOP 1 * FROM IFRS_MACRO_ECONOMIC WHERE UPLOADID = @UploadID) X      
               
 --INSERT TBLU_TRANS_ASSET_HIST              
 INSERT INTO TBLU_MACRO_ECONOMIC_HIST([ME_CODE], [ME_PERIOD], [ME_VAL],[UPLOADID],[HEADERID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]              
   ,[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST])                
 SELECT [ME_CODE], EOMONTH([ME_PERIOD]), [ME_VAL],[UPLOADID],[HEADERID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],@ApprovedBy                
  ,GetDate(),@ApprovedHost                
 FROM tblU_MACRO_ECONOMIC_TEMP                
 WHERE UPLOADID = @UploadID              
 ORDER BY PKID              
              
 --UPDATE TBLU_FEECOST_INFO              
 UPDATE TBLU_MACRO_ECONOMIC_INFO                
       SET Status = 'APPROVED'              
   ,REMARKS = @Remarks              
   ,UpdatedBy = @ApprovedBy                
            ,UpdatedHost = @ApprovedHost                
            ,UpdatedDate = GetDate()                
       WHERE UploadID = @UploadID                
                
 --DELETE TBLU_TRANS_ASSET_TEMP              
 DELETE FROM TBLU_MACRO_ECONOMIC_TEMP where UPLOADID = @UploadID                
               
 --DELETE TBLU_TRANS_ASSET_PENDING              
 DELETE FROM tblU_MACRO_ECONOMIC_TEMP WHERE UPLOADID = @UploadID         
       
 --INTERPOLATION SEPTIAN 26062019      
 IF(SELECT ME_TIME_SERIES FROM TBLM_MACRO_ECONOMIC WHERE ME_CODE = @ME_CODE) = 'monthly'      
 BEGIN      
 EXEC USPP_INTERPOLATION1 @HEADERID, @UploadID, @ME_CODE, @CREATEDBY, @CREATEDDATE, @CREATEDHOST, @UPDATEDBY, @UPDATEDDATE, @UPDATEDHOST      
 END      
                
IF @@ERROR <> 0                                  
 ROLLBACK TRAN                                   
ELSE                                  
 COMMIT TRAN  
  
GO
