USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECLWIZARDPENDING]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_ECLWIZARDPENDING]
(  
 @userid varchar(36)  
)  
AS  
select	PKID, ECL_MODEL_NAME , [ACTION] AS PROCESS_STATUS,(   
			SELECT FullName   
			FROM tblM_User U  
			WHERE U.pkid = model.CREATEDBY   
		) as [UploaderName],
		model.CREATEDDATE [UploadDate]
from	IFRS_ECL_MODEL_HEADER_PENDING  model
		LEFT JOIN TBLM_REPORTTO r on model.CREATEDBY = r.USERID
WHERE	ISNULL(r.ReportTo, model.CREATEDBY) = @userid AND
		APPROVAL_STATUS = 'P'
ORDER BY model.CREATEDDATE DESC

GO
