USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAPLISTAPPROVALPENDINGCNT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_IAPLISTAPPROVALPENDINGCNT]    
(    
 @userID VARCHAR(36)    
)    
AS    
BEGIN    
    
	SELECT COUNT(A.CREATEDBY) AS COUNTS
		,(SELECT FULLNAME FROM TBLM_USER WHERE PKID = A.CREATEDBY) CREATEDBY
		,CONVERT(varchar(10),A.CREATEDDATE,120) AS CREATEDDATE
		,(SELECT FULLNAME FROM TBLM_USER WHERE PKID = R.REPORTTO) AS APPROVEBY
	FROM IFRS_IAP_LIST_PENDING A
	LEFT JOIN TBLM_REPORTTO R ON A.CREATEDBY = R.USERID   
	WHERE ISNULL(REPORTTO, A.CREATEDBY) = @userID
			AND APPROVAL_STATUS = 'P'
	GROUP BY A.CREATEDBY,CONVERT(varchar(10),A.CREATEDDATE,120),R.REPORTTO
    
END;  

GO
