USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_RETAIL_LGD_CHART]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_ECL_RETAIL_LGD_CHART]
(
	@Period datetime='1900-01-01',
	@ProdType varchar(50)=''
)
as
BEGIN

	select LGD_SEGMENT, LGD_RATE * 100 as LGD_RATE
	from IFRS_LGD_TERM_STRUCTURE_RETAIL
	where PRODUCT_TYPE = @ProdType
	and LGD_DATE = @Period

END

GO
