USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_USERRESET]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_USERRESET]         
(  
	@PKID varchar(50),  
	@UpdatedBy varchar(36)='',        
	@UpdatedHost varchar(30)  =''                                    
)         
as         
BEGIN     

	declare @Password varchar(50)         
	select @Password = CommonUsage from tblM_CommonCodeHeader where CommonCode = 'AP000'        
		
	Update tblM_User   
		set Password = @Password,  
		IsPasswordExpired=1,  --dipaksa change password
		UpdatedBy = @UpdatedBy,                              
		UpdatedHost = @UpdatedHost,                             
		UpdatedDate = GETDATE()     
	where PKID=@PKID                           

END



GO
