USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GGETACTIONSTATUS_UPDATE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GGETACTIONSTATUS_UPDATE]
(
	@PKID INT
)          
AS
BEGIN  

	select count(*) as var_Count from IFRS_ASSET_CLASS_HEADER_PEND where PKID = @PKID;

END

GO
