USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMHIERARCHY]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPI_PARAMHIERARCHY]
(
	@GEN1_CODE decimal(32, 6)=0,
	@GEN1_DESC varchar(100)='',
	@GEN2_CODE decimal(32, 6)=0,
	@GEN2_DESC varchar(100)='',
	@GEN3_CODE decimal(32, 6)=0,
	@GEN3_DESC varchar(100)='',
	@GEN4_CODE decimal(32, 6)=0,
	@GEN4_DESC varchar(100)='',
	@GEN5_CODE decimal(32, 6)=0,
	@GEN5_DESC varchar(100)='',
	@GEN6_CODE decimal(32, 6)=0,
	@GEN6_DESC varchar(100)='',
	@GEN7_CODE decimal(32, 6)=0,
	@GEN7_DESC varchar(100)='',
	@GEN8_CODE decimal(32, 6)=0,
	@GEN8_DESC varchar(100)='',
	@SIGN_NORM integer =0,
	@CreatedBy varchar(36)='',         
	@CreatedHost varchar(30)=''
)          
AS
Declare @ItemCode varchar(100)
BEGIN

	if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE <> 0 and @GEN5_CODE <> 0 and @GEN6_CODE <> 0 and @GEN7_CODE <> 0 and @GEN8_CODE <> 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN4_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN5_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN6_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN7_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN8_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE <> 0 and @GEN5_CODE <> 0 and @GEN6_CODE <> 0 and @GEN7_CODE <> 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN4_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN5_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN6_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN7_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE <> 0 and @GEN5_CODE <> 0 and @GEN6_CODE <> 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN4_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN5_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN6_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE <> 0 and @GEN5_CODE <> 0 and @GEN6_CODE = 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN4_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN5_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE <> 0 and @GEN5_CODE = 0 and @GEN6_CODE = 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN4_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE <> 0 and @GEN4_CODE = 0 and @GEN5_CODE = 0 and @GEN6_CODE = 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN3_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE <> 0 and @GEN3_CODE = 0 and @GEN4_CODE = 0 and @GEN5_CODE = 0 and @GEN6_CODE = 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10)) + '-' + cast(cast(@GEN2_CODE as int) as varchar(10))
	else if @GEN1_CODE <> 0 and @GEN2_CODE = 0 and @GEN3_CODE = 0 and @GEN4_CODE = 0 and @GEN5_CODE = 0 and @GEN6_CODE = 0 and @GEN7_CODE = 0 and @GEN8_CODE = 0
		set @ItemCode = cast(cast(@GEN1_CODE as int) as varchar(10))

	INSERT INTO [dbo].[GL_PARAM_HIERARCHY_HO]
	(
		[ITEM_CODE]
		,[GEN1_CODE]
		,[GEN1_DESC]
		,[GEN2_CODE]
		,[GEN2_DESC]
		,[GEN3_CODE]
		,[GEN3_DESC]
		,[GEN4_CODE]
		,[GEN4_DESC]
		,[GEN5_CODE]
		,[GEN5_DESC]
		,[GEN6_CODE]
		,[GEN6_DESC]
		,[GEN7_CODE]
		,[GEN7_DESC]
		,[GEN8_CODE]
		,[GEN8_DESC]
		,[SIGN_NORM]
		,[CreatedBy]
		,[CreatedDate]
		,[CreatedHost]
	)
	VALUES
	(
		@ItemCode
		,case when @GEN1_CODE = 0 then NULL else @GEN1_CODE end
		,ltrim(rtrim(@GEN1_DESC))
		,case when @GEN2_CODE = 0 then NULL else @GEN2_CODE end
		,ltrim(rtrim(@GEN2_DESC))
		,case when @GEN3_CODE = 0 then NULL else @GEN3_CODE end
		,ltrim(rtrim(@GEN3_DESC))
		,case when @GEN4_CODE = 0 then NULL else @GEN4_CODE end
		,ltrim(rtrim(@GEN4_DESC))
		,case when @GEN5_CODE = 0 then NULL else @GEN5_CODE end
		,ltrim(rtrim(@GEN5_DESC))
		,case when @GEN6_CODE = 0 then NULL else @GEN6_CODE end
		,ltrim(rtrim(@GEN6_DESC))
		,case when @GEN7_CODE = 0 then NULL else @GEN7_CODE end
		,ltrim(rtrim(@GEN7_DESC))
		,case when @GEN8_CODE = 0 then NULL else @GEN8_CODE end
		,ltrim(rtrim(@GEN8_DESC))
		,@SIGN_NORM
		,@CreatedBy          
		,GETDATE()          
		,@CreatedHost          
	);          

END

GO
