USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_PD_NFR_FLOWLOSS]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_IMP_PD_NFR_FLOWLOSS] @DOWNLOAD_DATE DATE =''
AS 
BEGIN
 DECLARE @V_CURRDATE   DATE                                                                      
 DECLARE @V_PREVDATE   DATE        
 DECLARE @V_PREVMONTH DATE 
 DECLARE @LAST_YEAR DATE    

  IF @DOWNLOAD_DATE <> ''      
BEGIN       
SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN      
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)      
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))     
SET @LAST_YEAR =  EOMONTH(DATEADD(MONTH,-12, @V_CURRDATE)) 
END      
ELSE       
BEGIN       
SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE) )        
FROM IFRS_PRC_DATE      
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)      
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE)) 
SET @LAST_YEAR =  EOMONTH(DATEADD(MONTH,-12, @V_CURRDATE)) 
END      

DELETE IFRS_PD_NFR_FLOWTOLOSS WHERE DOWNLOAD_DATE = @V_CURRDATE

DECLARE @PD_RULE_ID INT 

DECLARE LOOP1           
  CURSOR FOR SELECT DISTINCT PD_RULE_ID FROM [IFRS_PD_NFR_FLOWRATE] WHERE DOWNLOAD_DATE = @V_CURRDATE
  OPEN LOOP1    
  FETCH LOOP1 INTO @PD_RULE_ID 
  WHILE @@FETCH_STATUS = 0     
 BEGIN    

INSERT IFRS_PD_NFR_FLOWTOLOSS (DOWNLOAD_DATE
,PD_RULE_ID
,PD_RULE_NAME
,BUCKET_GROUP
,BUCKET_ID
,CALC_METHOD
,FLOW_TO_LOSS
,CREATEDBY
,CREATEDDATE
)
SELECT @V_CURRDATE AS  DOWNLOAD_DATE
,A.PD_RULE_ID
,MAX(A.PD_RULE_NAME)
,MAX(A.BUCKET_GROUP)
,A.BUCKET_ID
,MAX(A.CALC_METHOD)
,AVG(FLOW_RATE) AS FLOW_TO_LOSS
,'SP_IFRS_IMP_PD_NFR_FLOWLOSS' AS CREATEDBY
,GETDATE() AS CREATEDDATE 
FROM IFRS_PD_NFR_FLOWRATE A 
INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID
Where a.PD_RULE_ID = @PD_RULE_ID AND B.CUT_OFF_DATE < @V_CURRDATE AND DOWNLOAD_DATE BETWEEN EOMONTH(DATEADD(MONTH,B.HISTORICAL_DATA*-1,@V_CURRDATE)) AND @V_CURRDATE 
GROUP BY A.PD_RULE_ID,A.BUCKET_ID

 FETCH NEXT FROM LOOP1 INTO  @PD_RULE_ID   
 END     
CLOSE LOOP1    
DEALLOCATE LOOP1 

END
GO
