USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SEQBUCKGROUP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SEQBUCKGROUP]  
(    
 @BUCKET_Group VARCHAR(25) = ''  
)  
AS  
 DECLARE @last CHAR(3)  
BEGIN  
    
 IF (@BUCKET_Group <> '')  
 BEGIN  
  SELECT @last = CAST(RIGHT(BUCKET_Group, 3) + 001 AS CHAR(3))from [IFRS_BUCKET_HEADER] WHERE BUCKET_GROUP like @BUCKET_Group + '%'  AND IS_DELETE = 0  
  SELECT REPLICATE('0', 3 - LEN(@last)) + @last AS BUCKETGroup2  
 END  
 ELSE  
 BEGIN  
  SELECT '001' as BUCKETGroup2  
 END  
  
END
GO
