USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCREENGROUPHBYID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCREENGROUPHBYID]      
	@PKID BIGINT
AS
	SELECT PKID,        
		ScreenGroupID,        
		CountryID,        
		ModuleID,        
		[Description]        
	FROM tblM_ScreenGroupHeader        
	WHERE PKID = @PKID

GO
