USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPLICATIONLOG]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_APPLICATIONLOG]
AS
BEGIN

    SET NOCOUNT ON;
	
	SELECT [ThreadID],
		tLog.[JobId],
		jobhist.JobNo,
		[Message],
		[Start],
		[Finish]
    FROM TblT_ApplicationLog tLog
		LEFT JOIN tblt_Jobhistory jobHist ON tlog.jobid = jobhist.jobid 
    WHERE Finish IS NULL
    ORDER BY Start DESC;

END;

GO
