USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPMACROECODEPENDENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUPMACROECODEPENDENT]        
 @pkid int        
AS          
BEGIN          
    SELECT
		ME_CODE AS "MACRO_ECONOMIC_CODE",
		ME_CODE AS "Variable Name"          
	FROM tblM_Macro_Economic          
	WHERE ME_CODE not in(SELECT MACRO_ECONOMIC_CODE FROM TMP_IFRS_INDEPENDENT_VARIABLE WHERE MODEL_ID = @pkid)
		AND ME_TYPE = 'DEPENDENT'
		--AND ME_SOURCE = 'Table'
	--where ME_CODE = 'DEFAULT_RATE'        
    ORDER BY UPPER(ME_DESC);       
     
	--SELECT ME_CODE AS "MACRO_ECONOMIC_CODE", ME_DESC AS "Variable Name" FROM TBLM_MACRO_ECONOMIC WHERE ME_SOURCE = 'Table'    
END; 

GO
