USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPUPDTABLEUPDCOLUM]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPUPDTABLEUPDCOLUM]
(
	@RuleType varchar(100)=''     
)
AS
BEGIN
	SELECT VALUE1 AS UPDATE_TABLE, VALUE2 AS UPDATE_COLUMN FROM TBLM_COMMONCODEDETAIL
	WHERE COMMONCODE = 'B27'
		AND PARENTCOMMONCODE = 'B26'
		AND PARENTCOMMONCODEVALUE = @RuleType

END

GO
