USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_FILL_IMA_PREV_CURR]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LI_FILL_IMA_PREV_CURR]    
AS     
 DECLARE @V_CURRDATE DATE, @V_PREVDATE DATE    
BEGIN    
    
 SELECT  @V_CURRDATE = MAX(CURRDATE), @V_PREVDATE = MAX(PREVDATE)    
 FROM    IFRS_LI_PRC_DATE_AMORT ;    
    
 INSERT  INTO IFRS_LI_AMORT_LOG    
 (     
  DOWNLOAD_DATE,     
  DTM,     
  OPS,     
  PROCNAME,     
  REMARK    
    )    
 VALUES      
 (     
  @V_CURRDATE,     
  CURRENT_TIMESTAMP,     
  'START',     
  'SP_IFRS_FILL_IMA_PREV_CURR',     
  ''    
    )    
    
 -- clean up    
 TRUNCATE TABLE IFRS_LI_IMA_AMORT_CURR    
 TRUNCATE TABLE IFRS_LI_IMA_AMORT_PREV    
        
 INSERT  INTO IFRS_LI_AMORT_LOG    
 (     
  DOWNLOAD_DATE,     
  DTM,     
  OPS,     
  PROCNAME,     
  REMARK    
    )    
 VALUES    
 (    
  @V_CURRDATE,     
  CURRENT_TIMESTAMP,     
  'DEBUG',     
  'SP_IFRS_FILL_IMA_PREV_CURR',     
  'FILL IMA_AMORT_PREV'    
    )    
    
    INSERT  INTO IFRS_LI_IMA_AMORT_PREV    
    (    
  DOWNLOAD_DATE,     
  MASTERID,     
  PRODUCT_ENTITY,     
  JF_FLAG,     
  DATA_SOURCE,     
  PRODUCT_TYPE,     
  PRODUCT_CODE,     
  PRODUCT_GROUP,     
  BRANCH_CODE,     
  CURRENCY,     
  ACCOUNT_NUMBER,     
  PREVIOUS_ACCOUNT_NUMBER,     
  CUSTOMER_NUMBER,     
  CUSTOMER_NAME,      
  GLOBAL_CUSTOMER_NUMBER,     
  EXCHANGE_RATE,     
  MARKET_RATE,     
  INITIAL_OUTSTANDING,     
  OUTSTANDING,     
  OUTSTANDING_JF,     
  OUTSTANDING_BANK,     
  OUTSTANDING_PASTDUE,     
  OUTSTANDING_IDC,     
  PLAFOND,     
  PLAFOND_CASH,     
  UNUSED_AMOUNT,        
  DOWN_PAYMENT_AMOUNT,   
  INTEREST_RATE,     
  ACCOUNT_STATUS,     
  FACILITY_NUMBER,      
  LOAN_START_DATE,     
  LOAN_DUE_DATE,     
  INSTALLMENT_GRACE_PERIOD,     
  LOAN_START_AMORTIZATION,     
  LOAN_END_AMORTIZATION,     
  AMORT_TYPE,     
  NEXT_PAYMENT_DATE,     
  LAST_PAYMENT_DATE,     
  FIRST_INSTALLMENT_DATE,     
  TENOR,     
  PAYMENT_CODE,     
  PAYMENT_TERM,     
  INTEREST_PAYMENT_TERM,     
  EIR_STATUS,     
  ECF_STATUS,     
  INTEREST_CALCULATION_CODE,     
  EIR,     
  EIR_AMOUNT,     
  FAIR_VALUE_AMOUNT,     
  UNAMORT_COST_AMT,     
  UNAMORT_FEE_AMT,     
  DAILY_AMORT_AMT,     
  DAY_PAST_DUE,       
  ORIGINAL_COLLECTABILITY,    
  BI_COLLECTABILITY,       
  GL_CONSTNAME,     
  SEGMENT,     
  PD_SEGMENT,   
  LGD_SEGMENT,    
  IMPAIRED_FLAG,     
  IS_IMPAIRED,   
  CA_UNWINDING_AMOUNT,     
  IA_UNWINDING_AMOUNT,     
  BEGINNING_BALANCE,     
  ENDING_BALANCE,     
  WRITEBACK,     
  CHARGE,     
  WRITEOFF_FLAG,     
  WRITEOFF_DATE,     
  OUTSTANDING_WO,       
  RESTRUCTURE_DATE,     
  RESTRUCTURE_FLAG,     
  STAFF_LOAN_FLAG,     
  BELOW_MARKET_FLAG,     
  COMMITTED_FLAG,     
  INSTALLMENT_AMOUNT,     
  INITIAL_UNAMORT_TXN_COST,     
  INITIAL_UNAMORT_ORG_FEE,     
  IAS_CLASS,    
  REVOLVING_FLAG,    
  BUCKET_ID,      
  PRODUCT_TYPE_GROUP,    
  NPL_DATE,     
  NPL_FLAG,     
  BRANCH_CODE_OPEN,     
  UNAMORT_AMT_TOTAL_JF,     
  UNAMORT_FEE_AMT_JF,     
  UNAMORT_COST_AMT_JF,      
  IFRS9_CLASS,      
  COMPOUND_FLAG,      
  TOPUP,    
  SPPI_RESULT,      
  BM_RESULT,      
  INTEREST_ACCRUED,
  ACCOUNT_TYPE,
  CUSTOMER_TYPE      
 )    
 SELECT    
  DOWNLOAD_DATE,     
  MASTERID,     
  PRODUCT_ENTITY,     
  JF_FLAG,     
  DATA_SOURCE,     
  PRODUCT_TYPE,     
  PRODUCT_CODE,     
  PRODUCT_GROUP,     
  BRANCH_CODE,     
  CURRENCY,     
  ACCOUNT_NUMBER,     
  PREVIOUS_ACCOUNT_NUMBER,     
  CUSTOMER_NUMBER,     
  CUSTOMER_NAME,       
  GLOBAL_CUSTOMER_NUMBER,    
  EXCHANGE_RATE,     
  MARKET_RATE,     
  INITIAL_OUTSTANDING,     
  OUTSTANDING,     
  OUTSTANDING_JF,     
  OUTSTANDING_BANK,     
  OUTSTANDING_PASTDUE,     
  OUTSTANDING_IDC,     
  PLAFOND,      
  PLAFOND_CASH,     
  UNUSED_AMOUNT,      
  DOWN_PAYMENT_AMOUNT,  
  INTEREST_RATE,     
  ACCOUNT_STATUS,     
  FACILITY_NUMBER,     
  LOAN_START_DATE,     
  LOAN_DUE_DATE,     
  INSTALLMENT_GRACE_PERIOD,     
  LOAN_START_AMORTIZATION,     
  LOAN_END_AMORTIZATION,     
  AMORT_TYPE,     
  NEXT_PAYMENT_DATE,     
  LAST_PAYMENT_DATE,     
  FIRST_INSTALLMENT_DATE,     
  TENOR,     
  PAYMENT_CODE,     
  PAYMENT_TERM,     
  INTEREST_PAYMENT_TERM,     
  EIR_STATUS,     
  ECF_STATUS,     
  INTEREST_CALCULATION_CODE,     
  EIR,     
  EIR_AMOUNT,     
  FAIR_VALUE_AMOUNT,     
  UNAMORT_COST_AMT,     
  UNAMORT_FEE_AMT,     
  DAILY_AMORT_AMT,     
  DAY_PAST_DUE,     
  ORIGINAL_COLLECTABILITY,     
  BI_COLLECTABILITY,       
  GL_CONSTNAME,     
  SEGMENT,     
  PD_SEGMENT,    
  LGD_SEGMENT,    
  IMPAIRED_FLAG,     
  IS_IMPAIRED,     
  CA_UNWINDING_AMOUNT,     
  IA_UNWINDING_AMOUNT,     
  BEGINNING_BALANCE,     
  ENDING_BALANCE,     
  WRITEBACK_AMOUNT,     
  CHARGE_AMOUNT,     
  WRITEOFF_FLAG,     
  WRITEOFF_DATE,     
  OUTSTANDING_WO,      
  RESTRUCTURE_DATE,     
  RESTRUCTURE_FLAG,     
  CASE WHEN STAFF_LOAN_FLAG = 1 THEN 'Y' ELSE 'N' END,     
  BELOW_MARKET_FLAG,     
  COMMITTED_FLAG,     
  INSTALLMENT_AMOUNT,    
  INITIAL_UNAMORT_TXN_COST,     
  INITIAL_UNAMORT_ORG_FEE,     
  IAS_CLASS,     
  REVOLVING_FLAG,    
  BUCKET_ID,      
  NULL PRODUCT_TYPE_GROUP,    
  NPL_DATE,     
  NPL_FLAG,     
  BRANCH_CODE_OPEN,   
  UNAMORT_AMT_TOTAL_JF,     
  UNAMORT_FEE_AMT_JF,     
  UNAMORT_COST_AMT_JF,              
  IFRS9_CLASS     ,       
  COMPOUND_FLAG,       
  TOPUP,     
  SPPI_RESULT,      
  BM_RESULT,      
  INTEREST_ACCRUED,
  ACCOUNT_TYPE,
  CUSTOMER_TYPE        
    FROM    IFRS_LI_MASTER_ACCOUNT    
    WHERE   DOWNLOAD_DATE = @V_PREVDATE    
    
 INSERT  INTO IFRS_LI_AMORT_LOG    
    (     
  DOWNLOAD_DATE,     
  DTM,     
  OPS,     
  PROCNAME,     
  REMARK    
    )    
    VALUES    
 (    
  @v_currdate,     
  CURRENT_TIMESTAMP,     
  'DEBUG',     
  'SP_IFRS_FILL_IMA_PREV_CURR',     
        'FILL IMA_AMORT_CURR'    
    )    
    
    INSERT  INTO IFRS_LI_IMA_AMORT_CURR    
    (    
  DOWNLOAD_DATE,     
  MASTERID,     
  PRODUCT_ENTITY,     
  JF_FLAG,     
  DATA_SOURCE,     
  PRODUCT_TYPE,     
  PRODUCT_CODE,     
  PRODUCT_GROUP,     
  BRANCH_CODE,     
  CURRENCY,     
  ACCOUNT_NUMBER,     
  PREVIOUS_ACCOUNT_NUMBER,     
  CUSTOMER_NUMBER,     
  CUSTOMER_NAME,     
  GLOBAL_CUSTOMER_NUMBER,     
  EXCHANGE_RATE,     
  MARKET_RATE,     
  INITIAL_OUTSTANDING,     
  OUTSTANDING,     
  OUTSTANDING_JF,     
  OUTSTANDING_BANK,     
  OUTSTANDING_PASTDUE,     
  OUTSTANDING_IDC,     
  PLAFOND,      
  PLAFOND_CASH,     
  UNUSED_AMOUNT,       
  DOWN_PAYMENT_AMOUNT,  
  INTEREST_RATE,     
  ACCOUNT_STATUS,     
  FACILITY_NUMBER,  
  LOAN_START_DATE,     
  LOAN_DUE_DATE,     
  INSTALLMENT_GRACE_PERIOD,     
  LOAN_START_AMORTIZATION,     
  LOAN_END_AMORTIZATION,     
  AMORT_TYPE,     
  NEXT_PAYMENT_DATE,     
  LAST_PAYMENT_DATE,     
  FIRST_INSTALLMENT_DATE,     
  TENOR,     
  PAYMENT_CODE,     
  PAYMENT_TERM,     
  INTEREST_PAYMENT_TERM,     
  EIR_STATUS,     
  ECF_STATUS,     
  INTEREST_CALCULATION_CODE,     
  EIR,     
  EIR_AMOUNT,     
  FAIR_VALUE_AMOUNT,     
  UNAMORT_COST_AMT,     
  UNAMORT_FEE_AMT,     
  DAILY_AMORT_AMT,     
  DAY_PAST_DUE,       
  ORIGINAL_COLLECTABILITY,    
  BI_COLLECTABILITY,       
  GL_CONSTNAME,     
  SEGMENT,     
  PD_SEGMENT,    
  LGD_SEGMENT,     
  IMPAIRED_FLAG,     
  IS_IMPAIRED,   
  CA_UNWINDING_AMOUNT,     
  IA_UNWINDING_AMOUNT,     
  BEGINNING_BALANCE,     
  ENDING_BALANCE,     
  WRITEBACK,     
  CHARGE,     
  WRITEOFF_FLAG,     
  WRITEOFF_DATE,     
  OUTSTANDING_WO,       
  RESTRUCTURE_DATE,     
  RESTRUCTURE_FLAG,     
  STAFF_LOAN_FLAG,     
  BELOW_MARKET_FLAG,     
  COMMITTED_FLAG,     
  INSTALLMENT_AMOUNT,     
  INITIAL_UNAMORT_TXN_COST,     
  INITIAL_UNAMORT_ORG_FEE,     
  IAS_CLASS,   
  REVOLVING_FLAG,   
  BUCKET_ID,    
  PRODUCT_TYPE_GROUP,      
  NPL_DATE,     
  NPL_FLAG,     
  BRANCH_CODE_OPEN,     
  UNAMORT_AMT_TOTAL_JF,     
  UNAMORT_FEE_AMT_JF,     
  UNAMORT_COST_AMT_JF,      
  IFRS9_CLASS,      
  COMPOUND_FLAG,       
  TOPUP,     
  SPPI_RESULT,      
  BM_RESULT,      
  INTEREST_ACCRUED,
  ACCOUNT_TYPE,
  CUSTOMER_TYPE        
 )    
    SELECT     
  DOWNLOAD_DATE,     
  MASTERID,     
  PRODUCT_ENTITY,     
  JF_FLAG,     
  DATA_SOURCE,     
  PRODUCT_TYPE,     
  PRODUCT_CODE,     
  PRODUCT_GROUP,     
  BRANCH_CODE,     
  CURRENCY,     
  ACCOUNT_NUMBER,     
  PREVIOUS_ACCOUNT_NUMBER,     
  CUSTOMER_NUMBER,     
  CUSTOMER_NAME,        
  GLOBAL_CUSTOMER_NUMBER,     
  EXCHANGE_RATE,     
  MARKET_RATE,     
  INITIAL_OUTSTANDING,     
  OUTSTANDING,     
  OUTSTANDING_JF,     
  OUTSTANDING_BANK,     
  OUTSTANDING_PASTDUE,     
  OUTSTANDING_IDC,     
  PLAFOND,       
  PLAFOND_CASH,     
  UNUSED_AMOUNT,       
  DOWN_PAYMENT_AMOUNT,  
  INTEREST_RATE,     
  ACCOUNT_STATUS,     
  FACILITY_NUMBER,       
  LOAN_START_DATE,     
  LOAN_DUE_DATE,     
  INSTALLMENT_GRACE_PERIOD,     
  LOAN_START_AMORTIZATION,     
  LOAN_END_AMORTIZATION,     
  AMORT_TYPE,     
  NEXT_PAYMENT_DATE,     
  LAST_PAYMENT_DATE,     
  FIRST_INSTALLMENT_DATE,     
  TENOR,     
  PAYMENT_CODE,     
  PAYMENT_TERM,     
  INTEREST_PAYMENT_TERM,     
  EIR_STATUS,     
  ECF_STATUS,             
  INTEREST_CALCULATION_CODE,     
  EIR,     
  EIR_AMOUNT,     
  FAIR_VALUE_AMOUNT,     
  UNAMORT_COST_AMT,     
  UNAMORT_FEE_AMT,     
  DAILY_AMORT_AMT,     
  DAY_PAST_DUE,       
  ORIGINAL_COLLECTABILITY,     
  BI_COLLECTABILITY,       
  GL_CONSTNAME,     
  SEGMENT,     
  PD_SEGMENT,     
  LGD_SEGMENT,    
  IMPAIRED_FLAG,     
  IS_IMPAIRED,     
  CA_UNWINDING_AMOUNT,     
  IA_UNWINDING_AMOUNT,     
  BEGINNING_BALANCE,     
  ENDING_BALANCE,     
  WRITEBACK_AMOUNT,    
  CHARGE_AMOUNT,     
  WRITEOFF_FLAG,     
  WRITEOFF_DATE,     
  OUTSTANDING_WO,       
  RESTRUCTURE_DATE,     
  RESTRUCTURE_FLAG,     
  CASE WHEN STAFF_LOAN_FLAG = 1 THEN 'Y' ELSE 'N' END,     
  BELOW_MARKET_FLAG,     
  COMMITTED_FLAG,     
  INSTALLMENT_AMOUNT,  
  INITIAL_UNAMORT_TXN_COST,     
  INITIAL_UNAMORT_ORG_FEE,     
  IAS_CLASS,     
  REVOLVING_FLAG,   
  BUCKET_ID,     
  NULL PRODUCT_TYPE_GROUP,   
  NPL_DATE,     
  NPL_FLAG,     
  BRANCH_CODE_OPEN,    
  UNAMORT_AMT_TOTAL_JF,     
  UNAMORT_FEE_AMT_JF,     
  UNAMORT_COST_AMT_JF                     
  , IFRS9_CLASS              
  , COMPOUND_FLAG,       
  TOPUP,         
  SPPI_RESULT,      
  BM_RESULT,      
  INTEREST_ACCRUED,
  ACCOUNT_TYPE,
  CUSTOMER_TYPE        
 FROM    IFRS_LI_MASTER_ACCOUNT    
    WHERE   DOWNLOAD_DATE = @V_CURRDATE    
    
    INSERT  INTO IFRS_LI_AMORT_LOG    
    (     
  DOWNLOAD_DATE,     
  DTM,     
  OPS,     
  PROCNAME,     
  REMARK    
    )    
    VALUES    
 (    
  @V_CURRDATE,     
  CURRENT_TIMESTAMP,     
  'END',     
  'SP_IFRS_FILL_IMA_PREV_CURR',     
  ''    
    )    
END 
GO
