USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADDCFSUBMIT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_UPLOADDCFSUBMIT]    
(    
 @FlagImpairment VARCHAR(1) = '',    
 @Method         VARCHAR(10) = '',    
 @Remark   VARCHAR(2000) = '',    
 @DCFID          INT = 0,     
 @DownloadDate   DATE = '01-Jan-2000',    
 @CustNo         VARCHAR(50) = '',    
 @CustName       VARCHAR(2000) = '',    
 @DPD            FLOAT = 0,    
 @Outstanding    FLOAT = 0,    
 @FacilityNo     VARCHAR(50) = '',    
 @AccNo   VARCHAR(100) = '',    
 @CreatedBy      VARCHAR(36) = '',    
 @CreatedHost    VARCHAR(30) = ''    
)    
AS    
BEGIN    
    
 DECLARE @Status VARCHAR (1);    
 DECLARE @ACCNUM VARCHAR(50);  
 DECLARE @DATASOURCE VARCHAR(50);  
 DECLARE @CURRENCY VARCHAR(50);  
 DECLARE @BRANCH_CODE VARCHAR(50);  
 DECLARE @BI_COLLECT VARCHAR(50);  
 DECLARE @PLAFOND DECIMAL(32,6);  
 SET @Status = 'P';    
    
 BEGIN TRAN    
   
 SELECT   
  @ACCNUM=ACCOUNT_NUMBER,  
  @DATASOURCE=DATA_SOURCE,  
  @CURRENCY=CURRENCY,  
  @BRANCH_CODE=BRANCH_CODE,  
  @BI_COLLECT=MAX(BI_COLLECTABILITY),  
  @PLAFOND=SUM(PLAFOND*EXCHANGE_RATE)  
 FROM IFRS_MASTER_ACCOUNT   
 WHERE CUSTOMER_NUMBER = @CustNo   
 AND DOWNLOAD_DATE = (SELECT CURRDATE FROM IFRS_PRC_DATE)  
 --AND FACILITY_FLAG = 'N'  
 GROUP BY ACCOUNT_NUMBER,DATA_SOURCE,CURRENCY,BRANCH_CODE  
  
 UPDATE IFRS_IMP_OVERRIDE    
 SET BEING_EDITED = '1',    
  UpdatedBy = @CreatedBy,    
  UpdatedDate = GETDATE(),    
  UpdatedHost = @CreatedHost    
 WHERE CUSTOMER_NUMBER = @CustNo AND FACILITY_NUMBER = @FacilityNo;    
     
 IF @FlagImpairment = 'C'    
 BEGIN  
  INSERT INTO IFRS_IMP_OVERRIDE_PENDING    
  (    
   FLAG_IMPAIRMENT,    
   METHOD,    
   REMARK,    
   DOWNLOAD_DATE,    
   CUSTOMER_NUMBER,    
   CUSTOMER_NAME,    
   DAY_PAST_DUE,    
   OUTSTANDING,    
   CreatedBy,    
   CreatedDate,    
   CreatedHost,    
   DCFID,    
   FACILITY_NUMBER,    
   DCFSTATUS,  
   ACCOUNT_NUMBER,  
   DATA_SOURCE,  
   CURRENCY,  
   BRANCH_CODE,  
   BI_COLLECT_IMPAIR,  
   BI_COLLECT_CURRENT,  
   APPROVAL  
  )    
  VALUES     
  (    
   @FlagImpairment,    
   @Method,    
   @Remark,    
   @DownloadDate,    
   @CustNo,    
   @CustName,    
   @DPD,    
   @Outstanding,    
   @CreatedBy,    
   GETDATE(),    
   @CreatedHost,    
   @DCFID,    
   @FacilityNo,    
   @Status,  
   @ACCNUM,  
   @DATASOURCE,  
   @CURRENCY,  
   @BRANCH_CODE,  
   @BI_COLLECT,  
   @BI_COLLECT,  
   1  
  );  
    
  UPDATE IFRS_IMP_OVERRIDE_PENDING  
  SET ACCOUNT_NUMBER = @ACCNUM,  
  DATA_SOURCE = @DATASOURCE,  
  CURRENCY = @CURRENCY,  
  BRANCH_CODE = @BRANCH_CODE,  
  BI_COLLECT_CURRENT = @BI_COLLECT,  
  BI_COLLECT_IMPAIR = @BI_COLLECT,  
  PLAFOND_CURRENT = @PLAFOND,  
  PLAFOND_IMPAIR = @PLAFOND  
  WHERE CUSTOMER_NUMBER = @CustNo    
  
  /*ADDED*/  
  INSERT INTO IFRS_IMP_OVERRIDE_DETAIL_PEND(DOWNLOAD_DATE,CUSTOMER_NUMBER,CUSTOMER_NAME,MASTERID,IMPAIRED_FLAG,CURRENCY,OUTSTANDING,BI_COLLECTABILITY,DAY_PAST_DUE,  
  DCFSTATUS,CREATEDBY,CREATEDHOST,CREATEDDATE,UPDATEDBY,UPDATEDHOST,UPDATEDDATE,FLAG_IMPAIRMENT,METHOD,REMARK,DCFID)  
  SELECT DOWNLOAD_DATE,CUSTOMER_NUMBER,CUSTOMER_NAME,MASTERID,IMPAIRED_FLAG,CURRENCY,OUTSTANDING,BI_COLLECTABILITY,DAY_PAST_DUE,  
  DCFSTATUS,CREATEDBY,CREATEDHOST,CREATEDDATE,UPDATEDBY,UPDATEDHOST,UPDATEDDATE,FLAG_IMPAIRMENT,METHOD,REMARK,DCFID   
  FROM IFRS_IMP_OVERRIDE_DETAIL_TEMP WHERE DCFID = @DCFID  
    
  DELETE tblT_PaymentExpected_TEMP    
  WHERE DCFID = @DCFID;    
  
  /*ADDED*/  
  DELETE tblT_PaymentExpected_TEMP  
  WHERE CUSTOMER_NUMBER = @CustNo  
  
  DELETE tblT_PaymentExpectedH_TEMP    
  WHERE DCFID = @DCFID;  
    
  UPDATE tblU_DCF_Info    
  SET Status = @Status    
  WHERE DCFID = @DCFID;    
    
  UPDATE tblU_DCF_Detail    
  SET Status = @Status    
  WHERE DCFID = @DCFID;    
 END    
    
 IF @FlagImpairment = 'I'    
 BEGIN  
  INSERT INTO IFRS_IMP_OVERRIDE_PENDING     
  (    
   FLAG_IMPAIRMENT,    
   METHOD,    
   REMARK,    
   DOWNLOAD_DATE,    
   CUSTOMER_NUMBER,    
   CUSTOMER_NAME,    
   DAY_PAST_DUE,    
   OUTSTANDING,    
   CreatedBy,    
   CreatedDate,    
   CreatedHost,    
   DCFID,    
   FACILITY_NUMBER,    
   DCFSTATUS,  
   ACCOUNT_NUMBER,  
   DATA_SOURCE,  
   CURRENCY,  
   BRANCH_CODE,  
   BI_COLLECT_IMPAIR,  
   BI_COLLECT_CURRENT,  
   APPROVAL  
  )    
  VALUES     
  (    
   @FlagImpairment,    
   @Method,    
   @Remark,    
   @DownloadDate,    
   @CustNo,    
   @CustName,    
   @DPD,    
   @Outstanding,    
   @CreatedBy,    
   GETDATE(),    
   @CreatedHost,    
   @DCFID,    
   @FacilityNo,    
   @Status,  
   @ACCNUM,  
   @DATASOURCE,  
   @CURRENCY,  
   @BRANCH_CODE,  
   @BI_COLLECT,  
   @BI_COLLECT,  
   1  
  );  
    
  UPDATE IFRS_IMP_OVERRIDE_PENDING  
  SET ACCOUNT_NUMBER = @ACCNUM,  
  DATA_SOURCE = @DATASOURCE,  
  CURRENCY = @CURRENCY,  
  BRANCH_CODE = @BRANCH_CODE,  
  BI_COLLECT_CURRENT = @BI_COLLECT,  
  BI_COLLECT_IMPAIR = @BI_COLLECT,  
  PLAFOND_IMPAIR = @PLAFOND,  
  PLAFOND_CURRENT = @PLAFOND  
  WHERE CUSTOMER_NUMBER = @CustNo      
  
  INSERT INTO tblT_PaymentExpected_PENDING  
  (  
   UploadID,    
   DOWNLOADDATE,  
   MASTERID,  
   ACCOUNT_NUMBER,  
   CUSTOMER_NAME,  
   FACILITY_NUMBER,  
   ESTIMATED_REALIZATION_DATE,    
   INT_ESTIMATED_PERCENT,    
   ESTIMATED_PRINCIPAL_PAYM,    
   ESTIMATED_REALIZATION_DATE_FD,    
   INTEREST_ESTIMATED,    
   NPV,    
   NPV_MONTH,    
   INTEREST_EIR,    
   BEGINNING_BALANCE,    
   UNWINDING_AMOUNT,  
   ENDING_BALANCE,   
   EIR_AMOUNT,    
   PMA_IND_EIR,    
   PRINCIPAL,    
   PREV_EST_DATE,    
   CUSTOMER_NUMBER,    
   EPR,    
   Interest_Contractual,   
   DCFID,    
   DCFSTATUS,   
   CreatedBy,    
   CreatedDate,    
   CreatedHost,  
   REMARKS  
  )    
  SELECT UploadID,   
   DOWNLOADDATE,   
   MASTERID,   
   ACCOUNT_NUMBER,   
   CUSTOMER_NAME,   
   FACILITY_NUMBER,   
   ESTIMATED_REALIZATION_DATE,   
   INT_ESTIMATED_PERCENT,   
   ESTIMATED_PRINCIPAL_PAYM,   
   ESTIMATED_REALIZATION_DATE_FD,   
   INTEREST_ESTIMATED,   
   NPV,   
   NPV_MONTH,   
   INTEREST_EIR,   
   BEGINNING_BALANCE,   
   UNWINDING_AMOUNT,   
   ENDING_BALANCE,   
   EIR_AMOUNT,   
   PMA_IND_EIR,   
   PRINCIPAL,   
   PREV_EST_DATE,   
   CUSTOMER_NUMBER,   
   EPR,   
   Interest_Contractual,   
   DCFID,   
   @Status,   
   CreatedBy,   
   CreatedDate,   
   CreatedHost ,  
   REMARKS  
  FROM tblT_PaymentExpected_TEMP    
  WHERE DCFID = @DCFID;    
  
  INSERT INTO tblT_PaymentExpectedH_PENDING     
  (    
   UploadID,    
   ROW_NUMBER,  
   Customer_Number,  
   MASTERID,    
   EffectiveDate,    
   EIR_Percent,    
   Outstanding,   
   Interest_Contractual,    
   CreatedBy,    
   CreatedDate,    
   CreatedHost,    
   UpdatedBy,    
   UpdatedDate,    
   UpdatedHost,    
   Facility_Number,    
   DCFID,    
   DCFSTATUS    
  )    
  SELECT UploadID,    
   ROW_NUMBER,    
   Customer_Number,    
   MASTERID,  
   EffectiveDate,    
   EIR_Percent,    
   Outstanding,   
   Interest_Contractual,    
   CreatedBy,    
   CreatedDate,    
   CreatedHost,    
   UpdatedBy,    
   UpdatedDate,    
   UpdatedHost,    
   Facility_Number,    
   DCFID,    
   @Status    
  FROM tblT_PaymentExpectedH_TEMP    
  WHERE DCFID = @DCFID;    
    
  /*ADDED*/  
  INSERT INTO IFRS_IMP_OVERRIDE_DETAIL_PEND(DOWNLOAD_DATE,CUSTOMER_NUMBER,CUSTOMER_NAME,MASTERID,IMPAIRED_FLAG,CURRENCY,OUTSTANDING,BI_COLLECTABILITY,DAY_PAST_DUE,  
  DCFSTATUS,CREATEDBY,CREATEDHOST,CREATEDDATE,UPDATEDBY,UPDATEDHOST,UPDATEDDATE,FLAG_IMPAIRMENT,METHOD,REMARK,DCFID)  
  SELECT DOWNLOAD_DATE,CUSTOMER_NUMBER,CUSTOMER_NAME,MASTERID,IMPAIRED_FLAG,CURRENCY,OUTSTANDING,BI_COLLECTABILITY,DAY_PAST_DUE,  
  DCFSTATUS,CREATEDBY,CREATEDHOST,CREATEDDATE,UPDATEDBY,UPDATEDHOST,UPDATEDDATE,FLAG_IMPAIRMENT,METHOD,REMARK,DCFID   
  FROM IFRS_IMP_OVERRIDE_DETAIL_TEMP WHERE DCFID = @DCFID  
  
  DELETE tblT_PaymentExpected_TEMP    
  WHERE DCFID = @DCFID;    
  
  /*ADDED*/  
  DELETE tblT_PaymentExpected_TEMP  
  WHERE CUSTOMER_NUMBER = @CustNo  
    
  DELETE tblT_PaymentExpectedH_TEMP    
  WHERE DCFID = @DCFID;  
  
  UPDATE tblU_DCF_Info    
  SET Status = @Status    
  WHERE DCFID = @DCFID;    
  
  UPDATE tblU_DCF_Detail    
  SET Status = @Status    
  WHERE DCFID = @DCFID;    
 END    
    
 INSERT INTO IFRS_IMP_OVERRIDETRIGGERH_PEND     
 (    
  PKID,    
  CUSTOMER_NUMBER,    
  FACILITY_NUMBER,    
  PERIOD,    
  FLAG_TRIGGERED,    
  REMARKS,    
  CREATEDBY,    
  CREATEDDATE,    
  CREATEDHOST,    
  DCFID,    
  DCFSTATUS,    
  MASTER_ACCOUNT_ID    
 )    
 SELECT PKID,    
  CUSTOMER_NUMBER,    
  FACILITY_NUMBER,    
  PERIOD,    
  FLAG_TRIGGERED,    
  REMARKS,    
  CREATEDBY,    
  CREATEDDATE,    
  CREATEDHOST,    
  DCFID,    
  @Status,    
  MASTER_ACCOUNT_ID    
 FROM IFRS_IMP_OVERRIDETRIGGERH_TEMP    
 WHERE DCFID = @DCFID;    
  
 INSERT INTO IFRS_IMP_OVERRIDETRIGGERD_PEND    
 (    
  PKID,    
  HEADERID,    
  TRIGGERID,    
  FLAG_TRIGGER,    
  REMARK,    
  CREATEDBY,    
  CREATEDDATE,    
  CREATEDHOST,    
  DCFID,    
  DCFSTATUS    
 )    
 SELECT PKID,HEADERID,    
  TRIGGERID,    
  FLAG_TRIGGER,    
  REMARK,    
  CREATEDBY,    
  CREATEDDATE,    
  CREATEDHOST,    
  DCFID,    
  @Status    
 FROM IFRS_IMP_OVERRIDETRIGGERD_TEMP    
 WHERE DCFID = @DCFID;    
    
 DELETE IFRS_IMP_OVERRIDETRIGGERH_TEMP    
 WHERE DCFID = @DCFID;    
    
 DELETE IFRS_IMP_OVERRIDETRIGGERD_TEMP    
 WHERE DCFID = @DCFID;    
    
 IF @@ERROR <> 0                        
  ROLLBACK    
 ELSE                
  COMMIT    
    
END;
GO
