USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_ECLLGDModel]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_ECLLGDModel]            
(            
    @PKID INTEGER            
)            
AS            
BEGIN            
  select DISTINCT           
   PKID,          
   [LGD_RULE_NAME]        
      ,[SEGMENTATION_ID]        
      ,[LGD_METHOD]        
      ,[LGW_HISTORICAL_DATA]        
      ,[POW_HISTORICAL_DATA]        
      ,[CURED_DEFINITION]        
      ,[WORKOUT_PERIOD]        
      ,[MIN_VALUE]        
      ,[MAX_VALUE]       
   ,[EXCLUDE_RESTRUCTURE_FLAG]     
   ,CUT_OFF_DATE        
   ,DEFAULT_RULE_ID
   ,CALC_METHOD       
   ,UPDATEDBY        
   UPDATEDHOST         
   from IFRS_LGD_RULES_CONFIG        
      WHERE PKID = @PKID        
   --AND ACTIVE_FLAG=1        
   AND ISNULL(IS_DELETE,0)=0;            
END

select * from IFRS_LGD_RULES_CONFIG
GO
