USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_ECLAPPROVE_UPDATE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_ECLAPPROVE_UPDATE](        
 @PKID bigint,        
 @REMARK varchar(500),        
 @APPROVEDBY varchar(36),        
 @APPROVEDHOST varchar(36)        
)        
AS         
BEGIN        
-- get host, by , date         
 DECLARE @host varchar(50);        
 DECLARE @by varchar(50);        
 DECLARE @date datetime;        
 DECLARE @PKIDHeader bigint;        
 DECLARE @PKIDHist bigint;        
        
	select
		@host = CREATEDHOST,
		@by = CREATEDBY,
		@date = CREATEDDATE          
	from IFRS_ECL_MODEL_HEADER_PENDING where PKID = @PKID        
        
	--INSERT HEADER HIST        
	INSERT INTO IFRS_ECL_MODEL_HEADER_HIST        
	(
		[ECL_MODEL_NAME],
		[DATA_DATE],
		[ACTIVE_STATUS],
		[RUN_STATUS],
		[APPROVAL_STATUS],
		[ACTION],
		[PKID_OLD],
		[ECL_MODEL_NAME_OLD],
		[DATA_DATE_OLD],
		[ACTIVE_STATUS_OLD],
		[RUN_STATUS_OLD],
		[REMARK],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)        
	SELECT
		A.ECL_MODEL_NAME,
		A.DATA_DATE,
		A.ACTIVE_STATUS,
		A.RUN_STATUS,
		'A',
		'UPDATE_WI_APPROVAL',
		A.PKID_OLD,
		B.ECL_MODEL_NAME,
		B.DATA_DATE,
		B.ACTIVE_STATUS,
		B.RUN_STATUS,
		@REMARK,
		B.CREATEDBY,
		B.CREATEDDATE,
		A.CREATEDHOST,
		A.CREATEDBY,
		A.CREATEDDATE,
		A.CREATEDHOST,
		@APPROVEDBY,
		GETDATE(),
		@APPROVEDHOST        
	FROM IFRS_ECL_MODEL_HEADER_PENDING A        
	JOIN IFRS_ECL_MODEL_HEADER B ON A.PKID_OLD = B.PKID
	WHERE A.PKID = @PKID        
         
	SELECT TOP 1 @PKIDHist = PKID FROM IFRS_ECL_MODEL_HEADER_HIST ORDER BY PKID DESC        
        
	--INSERT PF HIST        
	INSERT INTO IFRS_ECL_MODEL_DETAIL_PF_HIST        
	(
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[LT_RULE_ID],
		[SICR_RULE_ID],
		[UPSIDE_VALUE],
		[BASE_VALUE],
		[DOWNSIDE_VALUE],
		[UPSIDE_PROB_OUTCOME],
		[BASE_PROB_OUTCOME],
		[DOWNSIDE_PROB_OUTCOME],
		[OVERLAY_AMOUNT],
		[ECL_MODEL_ID_OLD],
		[IS_NEW],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[BUCKET_GROUP],
		[DEFAULT_RULE_ID]
	)        
	SELECT        
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[LT_RULE_ID],
		[SICR_RULE_ID],
		[UPSIDE_VALUE],
		[BASE_VALUE],
		[DOWNSIDE_VALUE],
		[UPSIDE_PROB_OUTCOME],
		[BASE_PROB_OUTCOME],
		[DOWNSIDE_PROB_OUTCOME],
		[OVERLAY_AMOUNT],
		A.ECL_MODEL_ID,
		0,
		A.[CREATEDBY],
		A.[CREATEDDATE],
		A.[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		A.[BUCKET_GROUP],
		A.[DEFAULT_RULE_ID]        
	FROM IFRS_ECL_MODEL_DETAIL_PF A        
	JOIN IFRS_ECL_MODEL_HEADER_PENDING B ON A.ECL_MODEL_ID = B.PKID_OLD        
	WHERE B.PKID = @PKID        
	UNION ALL        
	SELECT        
		@PKIDHist,
		A.[SEGMENTATION_ID],
		A.[LT_RULE_ID],
		A.[SICR_RULE_ID],
		A.[UPSIDE_VALUE],
		A.[BASE_VALUE],
		A.[DOWNSIDE_VALUE],
		A.[UPSIDE_PROB_OUTCOME],
		A.[BASE_PROB_OUTCOME],
		A.[DOWNSIDE_PROB_OUTCOME],
		A.[OVERLAY_AMOUNT],
		B.PKID_OLD,
		1,
		C.[CREATEDBY],
		C.[CREATEDDATE],
		C.[CREATEDHOST],
		A.CREATEDBY,
		A.CREATEDDATE,
		A.CREATEDHOST,
		A.[BUCKET_GROUP],
		A.[DEFAULT_RULE_ID]        
	FROM IFRS_ECL_MODEL_DETAIL_PF_PEND A        
	JOIN IFRS_ECL_MODEL_HEADER_PENDING B ON A.ECL_MODEL_ID = B.PKID        
	JOIN IFRS_ECL_MODEL_DETAIL_PF C ON B.PKID_OLD = C.ECL_MODEL_ID        
	WHERE B.PKID = @PKID        
        
	--INSERT PD HIST        
	INSERT INTO IFRS_ECL_MODEL_DETAIL_PD_HIST        
	(
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[PD_MODEL_ID],
		[ME_MODEL_ID],
		[ECL_MODEL_ID_OLD],
		[EFF_DATE_OPTION],
		[EFF_DATE],
		[SCALAR_EFF_DATE_OPTION],
		[SCALAR_EFF_DATE],
		[IS_NEW],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST]
	)        
	SELECT
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[PD_MODEL_ID],
		[ME_MODEL_ID],
		B.PKID_OLD,
		[EFF_DATE_OPTION],
		CASE WHEN [EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(EFF_DATE) < 2000 THEN NULL
			ELSE [EFF_DATE] END EFF_DATE,
		[SCALAR_EFF_DATE_OPTION],
		CASE WHEN [SCALAR_EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [SCALAR_EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(SCALAR_EFF_DATE) < 2000 THEN NULL
			ELSE [SCALAR_EFF_DATE] END SCALAR_EFF_DATE,
		0,
		A.[CREATEDBY],
		A.[CREATEDDATE],
		A.[CREATEDHOST],
		B.[CREATEDBY],
		B.[CREATEDDATE],
		B.[CREATEDHOST]        
	FROM IFRS_ECL_MODEL_DETAIL_PD A        
	JOIN IFRS_ECL_MODEL_HEADER_PENDING B ON A.ECL_MODEL_ID = B.PKID_OLD        
	WHERE B.PKID = @PKID        
	UNION ALL        
	SELECT
		@PKIDHist,
		A.[SEGMENTATION_ID],
		A.[PD_MODEL_ID],
		A.[ME_MODEL_ID],
		B.PKID_OLD,
		A.EFF_DATE_OPTION,
		CASE WHEN A.[EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN A.[EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(A.EFF_DATE) < 2000 THEN NULL
			ELSE A.[EFF_DATE] END EFF_DATE,
		A.SCALAR_EFF_DATE_OPTION,
		CASE WHEN A.[SCALAR_EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN A.[SCALAR_EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(A.SCALAR_EFF_DATE) < 2000 THEN NULL
			ELSE A.[SCALAR_EFF_DATE] END SCALAR_EFF_DATE,
		1,
		C.[CREATEDBY],
		C.[CREATEDDATE],
		C.[CREATEDHOST],
		A.[CREATEDBY],
		A.[CREATEDDATE],
		A.[CREATEDHOST]        
	FROM IFRS_ECL_MODEL_DETAIL_PD_PEND A        
	JOIN IFRS_ECL_MODEL_HEADER_PENDING B ON A.ECL_MODEL_ID = B.PKID_OLD        
	JOIN IFRS_ECL_MODEL_DETAIL_PD C ON B.PKID_OLD = C.ECL_MODEL_ID        
	WHERE B.PKID = @PKID        
        
	--INSERT LGD HIST        
	INSERT INTO IFRS_ECL_MODEL_DETAIL_LGD_HIST        
	(
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[LGD_MODEL_ID],
		[ME_MODEL_ID],
		[ECL_MODEL_ID_OLD],
		[EFF_DATE_OPTION],
		[EFF_DATE],
		[IS_NEW],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST]        
	)        
	SELECT
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[LGD_MODEL_ID],
		[ME_MODEL_ID],
		B.PKID_OLD,
		EFF_DATE_OPTION,
		CASE WHEN [EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(EFF_DATE) < 2000 THEN NULL
			ELSE [EFF_DATE] END EFF_DATE,
		0,
		A.[CREATEDBY],
		A.[CREATEDDATE],
		A.[CREATEDHOST],
		B.[CREATEDBY],
		B.[CREATEDDATE],
		B.[CREATEDHOST]        
	FROM IFRS_ECL_MODEL_DETAIL_LGD A        
	JOIN IFRS_ECL_MODEL_HEADER_PENDING B ON A.ECL_MODEL_ID = B.PKID_OLD        
	WHERE B.PKID = @PKID        
	UNION ALL        
	SELECT
		@PKIDHist,
		A.[SEGMENTATION_ID],
		A.[LGD_MODEL_ID],
		A.[ME_MODEL_ID],
		B.PKID_OLD,
		A.EFF_DATE_OPTION,
		CASE WHEN A.[EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN A.[EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(A.EFF_DATE) < 2000 THEN NULL
			ELSE A.[EFF_DATE] END EFF_DATE,
		1,
		C.[CREATEDBY],
		C.[CREATEDDATE],
		C.[CREATEDHOST],
		A.[CREATEDBY],
		A.[CREATEDDATE],
		A.[CREATEDHOST]        
	FROM IFRS_ECL_MODEL_DETAIL_LGD_PEND A        
	JOIN IFRS_ECL_MODEL_HEADER_PENDING B ON A.ECL_MODEL_ID = B.PKID_OLD        
	JOIN IFRS_ECL_MODEL_DETAIL_LGD C ON B.PKID_OLD = C.ECL_MODEL_ID        
	WHERE B.PKID = @PKID        
        
	--INSERT EAD HIST        
	INSERT INTO IFRS_ECL_MODEL_DETAIL_EAD_HIST        
	(
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[EAD_MODEL_ID],
		[ECL_MODEL_ID_OLD],
		[IS_NEW],
		[CCF_MODEL_ID],
		[CCF_EFF_DATE_OPTION],
		[CCF_EFF_DATE],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST]        
	)        
	SELECT
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[EAD_MODEL_ID],
		B.PKID_OLD,
		0,
		[CCF_MODEL_ID],
		[CCF_EFF_DATE_OPTION],
		CASE WHEN [CCF_EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [CCF_EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(CCF_EFF_DATE) < 2000 THEN NULL
			ELSE [CCF_EFF_DATE] END CCF_EFF_DATE,
		A.[CREATEDBY],
		A.[CREATEDDATE],
		A.[CREATEDHOST],
		B.[CREATEDBY],
		B.[CREATEDDATE],
		B.[CREATEDHOST]        
	FROM IFRS_ECL_MODEL_DETAIL_EAD A        
	JOIN IFRS_ECL_MODEL_HEADER_PENDING B ON A.ECL_MODEL_ID = B.PKID_OLD        
	WHERE B.PKID = @PKID        
	UNION ALL        
	SELECT
		@PKIDHist,
		A.[SEGMENTATION_ID],
		A.[EAD_MODEL_ID],
		B.PKID_OLD,
		1,A.[CCF_MODEL_ID],
		A.[CCF_EFF_DATE_OPTION],
		CASE WHEN A.[CCF_EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN A.[CCF_EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(A.CCF_EFF_DATE) < 2000 THEN NULL
			ELSE A.[CCF_EFF_DATE] END CCF_EFF_DATE,
		C.[CREATEDBY],
		C.[CREATEDDATE],
		C.[CREATEDHOST],
		A.[CREATEDBY],
		A.[CREATEDDATE],
		A.[CREATEDHOST]        
	FROM IFRS_ECL_MODEL_DETAIL_EAD_PEND A        
	JOIN IFRS_ECL_MODEL_HEADER_PENDING B ON A.ECL_MODEL_ID = B.PKID_OLD        
	JOIN IFRS_ECL_MODEL_DETAIL_EAD C ON B.PKID_OLD = C.ECL_MODEL_ID        
	WHERE B.PKID = @PKID        
        
	SELECT @PKIDHeader = PKID_OLD FROM IFRS_ECL_MODEL_HEADER_PENDING WHERE PKID = @PKID        
        
	--update ecl header        
	UPDATE A        
	SET A.ECL_MODEL_NAME = B.ECL_MODEL_NAME        
	   ,A.DATA_DATE = B.DATA_DATE        
	   ,A.ACTIVE_STATUS = B.ACTIVE_STATUS        
	   ,A.RUN_STATUS = B.RUN_STATUS        
	   ,A.UPDATEDBY = B.CREATEDBY        
	   ,A.UPDATEDDATE = B.CREATEDDATE        
	   ,A.UPDATEDHOST = B.CREATEDHOST        
	FROM IFRS_ECL_MODEL_HEADER A        
	JOIN IFRS_ECL_MODEL_HEADER_PENDING B ON A.PKID = B.PKID_OLD        
	WHERE A.PKID = @PKIDHeader
		AND B.APPROVAL_STATUS = 'P'       
         
	--UPDATE PF         
	DELETE FROM IFRS_ECL_MODEL_DETAIL_PF WHERE ECL_MODEL_ID = @PKIDHeader        
        
	INSERT  INTO IFRS_ECL_MODEL_DETAIL_PF
	(
		ECL_MODEL_ID,
		SEGMENTATION_ID,
		LT_RULE_ID,
		SICR_RULE_ID,
		UPSIDE_VALUE,
		BASE_VALUE,
		DOWNSIDE_VALUE,
		UPSIDE_PROB_OUTCOME,
		BASE_PROB_OUTCOME,
		DOWNSIDE_PROB_OUTCOME,
		OVERLAY_AMOUNT,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		BUCKET_GROUP,
		DEFAULT_RULE_ID
	)        
	select
		@PKIDHeader,
		SEGMENTATION_ID,
		LT_RULE_ID,
		SICR_RULE_ID,
		UPSIDE_VALUE,
		BASE_VALUE,
		DOWNSIDE_VALUE,
		UPSIDE_PROB_OUTCOME,
		BASE_PROB_OUTCOME,
		DOWNSIDE_PROB_OUTCOME,
		OVERLAY_AMOUNT,
		@by CREATEDBY,
		@date CREATEDDATE,
		@host CREATEDHOST,
		BUCKET_GROUP,
		DEFAULT_RULE_ID        
	from IFRS_ECL_MODEL_DETAIL_PF_PEND        
	where ECL_MODEL_ID = @PKID        
        
	--UPDATE PD        
	DELETE FROM IFRS_ECL_MODEL_DETAIL_PD WHERE ECL_MODEL_ID = @PKIDHeader        
        
	INSERT INTO IFRS_ECL_MODEL_DETAIL_PD
	(
		ECL_MODEL_ID,
		SEGMENTATION_ID,
		PD_MODEL_ID,
		ME_MODEL_ID,
		EFF_DATE_OPTION,
		EFF_DATE,
		SCALAR_EFF_DATE_OPTION,
		SCALAR_EFF_DATE,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)        
	select
		@PKIDHeader,
		SEGMENTATION_ID,
		PD_MODEL_ID,
		ME_MODEL_ID,
		EFF_DATE_OPTION,
		CASE WHEN [EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(EFF_DATE) < 2000 THEN NULL
			ELSE [EFF_DATE] END EFF_DATE,
		SCALAR_EFF_DATE_OPTION,
		CASE WHEN [SCALAR_EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [SCALAR_EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(SCALAR_EFF_DATE) < 2000 THEN NULL
			ELSE [SCALAR_EFF_DATE] END SCALAR_EFF_DATE,
		@by CREATEDBY, 
		@date CREATEDDATE,
		@host CREATEDHOST     
	from IFRS_ECL_MODEL_DETAIL_PD_PEND        
	where ECL_MODEL_ID = @PKID        
        
	--UPDATE LGD        
	DELETE FROM IFRS_ECL_MODEL_DETAIL_LGD WHERE ECL_MODEL_ID = @PKIDHeader        
        
	INSERT INTO IFRS_ECL_MODEL_DETAIL_LGD
	(
		ECL_MODEL_ID,
		SEGMENTATION_ID,
		LGD_MODEL_ID,
		ME_MODEL_ID,
		EFF_DATE_OPTION,
		EFF_DATE,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)        
	select
		@PKIDHeader,
		SEGMENTATION_ID,
		LGD_MODEL_ID,
		ME_MODEL_ID,
		EFF_DATE_OPTION,
		CASE WHEN [EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(EFF_DATE) < 2000 THEN NULL
			ELSE [EFF_DATE] END EFF_DATE,
		@by CREATEDBY,
		@date CREATEDDATE,
		@host CREATEDHOST         
	from IFRS_ECL_MODEL_DETAIL_LGD_PEND        
	where ECL_MODEL_ID = @PKID        
        
	--UPDATE EAD        
	DELETE FROM IFRS_ECL_MODEL_DETAIL_EAD WHERE ECL_MODEL_ID = @PKIDHeader        
        
	INSERT  INTO IFRS_ECL_MODEL_DETAIL_EAD
	(
		ECL_MODEL_ID,
		SEGMENTATION_ID,
		EAD_MODEL_ID,
		CCF_MODEL_ID,
		CCF_EFF_DATE_OPTION,
		CCF_EFF_DATE,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)        
	select
		@PKIDHeader,
		SEGMENTATION_ID,
		EAD_MODEL_ID,
		CCF_MODEL_ID,
		CCF_EFF_DATE_OPTION,
		CASE WHEN [CCF_EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [CCF_EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(CCF_EFF_DATE) < 2000 THEN NULL
			ELSE [CCF_EFF_DATE] END CCF_EFF_DATE,
		@by CREATEDBY,
		@date CREATEDDATE,
		@host CREATEDHOST         
	from IFRS_ECL_MODEL_DETAIL_EAD_PEND        
	where ECL_MODEL_ID = @PKID        
        
         
	-- update history pending ecl        
	UPDATE IFRS_ECL_MODEL_HEADER_PENDING         
	SET  APPROVAL_STATUS = 'A',        
	   APPROVEDBY = @APPROVEDBY,        
	   APPROVEDHOST = @APPROVEDHOST,        
	   APPROVEDDATE = GETDATE()        
	WHERE PKID = @PKID        
        
	--INSERT AUDIT TRAIL        
	EXEC USPI_ACTIVITYLOGS @by,'UPDATE_WI_APPROVAL','ECL_WIZARD','IFRS9',@host        
         
	DECLARE @PKIDActivity bigint        
	SELECT TOP 1 @PKIDActivity = PKID FROM TBLT_ACTIVITYLOGS WHERE SCREENID = 'ECL_WIZARD' ORDER BY PKID DESC        
         
	EXEC USPI_AUDITTRAIL @PKIDActivity,'ECL_MODEL_ID',@PKIDHeader,@PKIDHeader        
        
END 
GO
