USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSTAGE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPSTAGE]
AS  
BEGIN  
SET NOCOUNT ON;  
   
	SELECT
		PKID
		,RULE_NAME
	FROM IFRS_SCENARIO_RULES_HEADER
	WHERE UPDATED_COLUMN = 'STAGE'

END  

GO
