USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SETUP_CLASSIFICATION]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_SETUP_CLASSIFICATION]                 
(                  
	@PKID bigint,       
	@FV_OPTION bit,
	@EFF_DATE datetime,
	@UpdatedBy varchar(36) = '',
	@UpdatedHost varchar(30) = ''
)
AS
BEGIN

	UPDATE [IFRS_AC_MAPPING]              
	SET 
		 FV_OPTION = @FV_OPTION
		,EFF_DATE = @EFF_DATE
		,[UPDATEDBY] = @UpdatedBy                  
		,[UPDATEDDATE] = GETDATE()                  
		,[UPDATEDHOST] = @UpdatedHost                  
	WHERE PKID = @PKID 

	--generate sppi
	UPDATE MAP  
		SET ASSET_CLASS = (  
		  SELECT DISTINCT ASSET_CLASS FROM IFRS_AC_MAIN_MAPPING  
		  WHERE SPPI_RSLT = MAP.SPPI_RSLT  
		   AND BM_RSLT = MAP.BM_RSLT  
		   AND FV_OPTION = MAP.FV_OPTION  
		 )  
		FROM IFRS_AC_MAPPING MAP
	WHERE  
		 PKID = @PKID
 
END
GO
