USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DUP_ECL_MODEL_HDR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DUP_ECL_MODEL_HDR] (
   @ECLName VARCHAR(250)
)
AS
BEGIN

        SELECT COUNT(*)  C
        FROM IFRS_ECL_MODEL_HEADER
        WHERE UPPER(ECL_MODEL_NAME) = UPPER(@ECLName)
			AND IS_DELETE = 0;
END;

GO
