USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ASSETBMMAPPING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_ASSETBMMAPPING]
(
    @BMRule Varchar(4000) = NULL
)
AS
BEGIN
    
    SELECT *
    FROM IFRS_ASSET_CLASS_BM_MAPPING
    WHERE BM_RULE LIKE ISNULL(@BMRule, '') + '%';
                        
END;

GO
