USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALARBYSCENARIONAME]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALARBYSCENARIONAME]  
(  
 @SCALAR_ID INT,  
 @SCENARIO_NAME VARCHAR(20)  
)  
AS  
BEGIN  
  
	SELECT   
		'Year ' + CAST(FL_YEAR AS VARCHAR(2)) AS 'Year',    
		LOGIT_ACTUAL_ODR AS 'Logit Current ODR',  
		ACTUAL_ODR AS 'Current ODR',  
		LOGIT_MODELLED_ODR AS 'Logit Modelled ODR',  
		MODELLED_ODR AS 'Modelled ODR',  
		SCALAR AS 'Scalar'  
	FROM IFRS_ME_FL_SCALAR_MODELLED_ODR   
	WHERE SCALAR_ID = @SCALAR_ID  
		AND UPPER(SCENARIO_NAME) = @SCENARIO_NAME   
	ORDER BY FL_YEAR
  
END
GO
