USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TRADEMODULEH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_TRADEMODULEH]
(    
    @DOWNLOAD_DATE as date = '1/1/1900',    
    @DATA_SOURCE as varchar(20)='',    
    @PRODUCT_GROUP  as varchar(25)='', 
	@PRODUCT_CODE as varchar(20)='',    
    @FACILITY_NUMBER as varchar(50)='', 
	@CUSTOMER_NUMBER AS VARCHAR(50)='',    
	@CUSTOMER_NAME AS VARCHAR(150)='',    
    @ACCOUNT_NUMBER as varchar(50)='',    
    @Where as VARCHAR(1000)='',    
    @pageNumber as INT,    
    @pageSize as INT,    
    @SortColumn as varchar(100)=''    
)    
AS    
BEGIN    
    
DECLARE @Query AS VARCHAR(3000);    
DECLARE @DOWNLOAD_DATE_DD AS DATE;    
     
IF @SortColumn = ''    
BEGIN    
	SET @SortColumn = 'MASTER_ACCOUNT_CODE';    
END    
     
IF @pageSize = 0    
BEGIN    
	SET @pageSize = 1    
END    
     
IF (CONVERT(DATE, @DOWNLOAD_DATE) ='1/1/1900')    
BEGIN    
	SELECT @DOWNLOAD_DATE_DD = currdate FROM IFRS_PRC_DATE    
END    
ELSE    
BEGIN    
	SELECT @DOWNLOAD_DATE_DD = CONVERT(DATE, @DOWNLOAD_DATE)    
END    
        
SET @Query =    
'SELECT
	CONVERT(varchar(50), download_date, 111) + MASTER_ACCOUNT_CODE DDATE_MAID,    
	DOWNLOAD_DATE,    
	MASTER_ACCOUNT_CODE AS MASTER_ACCOUNT_ID,    
	MASTERID,    
	A.DATA_SOURCE,    
	PRODUCT_GROUP,    
	BRANCH_CODE,    
	ACCOUNT_NUMBER,    
	FACILITY_NUMBER,    
	CUSTOMER_NUMBER,    
	CUSTOMER_NAME,    
	ACCOUNT_STATUS,    
	ISNULL(OUTSTANDING,0) AS OUTSTANDING,    
	LOAN_START_DATE,    
	LOAN_DUE_DATE,       
	INTEREST_RATE,    
	ISNULL(EIR,INTEREST_RATE) EIR,    
	LOAN_START_AMORTIZATION,    
	LOAN_END_AMORTIZATION,    
	CURRENCY,    
	EXCHANGE_RATE,    
	PAYMENT_CODE,    
	INTEREST_CALCULATION_CODE,    
	PAYMENT_TERM,    
	PRODUCT_TYPE,    
	PRD_TYPE_1 AS ASSET_TYPE_PRODUCT1,    
	PRODUCT_GROUP,    
	B.PRD_DESC,    
	IAS_CLASS,    
	IFRS9_CLASS,    
	PRODUCT_CODE,    
	A.AMORT_TYPE,    
	STAGE,    
	TENOR,    
	ISNULL(FAIR_VALUE_AMOUNT,0) AS FAIR_VALUE_AMOUNT,    
	ISNULL(PLAFOND,0) AS PLAFOND,    
	ISNULL(INITIAL_UNAMORT_ORG_FEE,0) AS INITIAL_UNAMORT_ORG_FEE,    
	ISNULL(INITIAL_UNAMORT_TXN_COST,0) AS INITIAL_UNAMORT_TXN_COST,    
	ISNULL(UNAMORT_FEE_AMT,0) AS UNAMORT_FEE_AMT,    
	ISNULL(UNAMORT_COST_AMT,0) AS UNAMORT_COST_AMT,    
	ISNULL(EAD_AMOUNT,0) AS EAD_AMOUNT,    
	ISNULL(ECL_AMOUNT,0) AS ECL_AMOUNT,    
	ISNULL(IA_UNWINDING_SUM_AMOUNT, 0) + ISNULL(CA_UNWINDING_AMOUNT, 0) UNWINDING_AMT,    
	BI_COLLECTABILITY,    
	IMPAIRED_FLAG    
FROM IFRS_MASTER_ACCOUNT A (NOLOCK)    
LEFT JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)
	ON A.DATA_SOURCE = B.DATA_SOURCE AND A.PRODUCT_CODE = B.PRD_CODE 
WHERE '    
	+' DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE_DD, 120)  +  ''''    
	+' AND A.DATA_SOURCE LIKE ''%TRADE%'' '
	+ CASE WHEN @DATA_SOURCE <> '' THEN 'AND A.DATA_SOURCE LIKE ''%' + LTRIM(RTRIM(@DATA_SOURCE)) + '%'' '    
    ELSE '' END
	+ CASE WHEN @PRODUCT_GROUP <> '' THEN 'AND PRODUCT_GROUP LIKE ''%' + LTRIM(RTRIM(@PRODUCT_GROUP)) + '%'' '
	ELSE '' END    
	+ CASE WHEN @PRODUCT_CODE <> '' THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_CODE)) + '%'' '    
    ELSE '' END    
	+ CASE WHEN @FACILITY_NUMBER <> '' THEN 'AND FACILITY_NUMBER LIKE ''%' + LTRIM(RTRIM(@FACILITY_NUMBER)) + '%'' '    
    ELSE '' END 
	+ CASE WHEN @CUSTOMER_NUMBER <> '' THEN 'AND CUSTOMER_NUMBER LIKE ''%' + LTRIM(RTRIM(@CUSTOMER_NUMBER)) + '%'''    
    ELSE '' END    
	+ CASE WHEN @CUSTOMER_NAME <> '' THEN 'AND CUSTOMER_NAME LIKE ''%' + LTRIM(RTRIM(@CUSTOMER_NAME)) + '%'''    
    ELSE '' END    
	+ CASE WHEN @ACCOUNT_NUMBER <> '' THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNT_NUMBER)) + '%'''    
    ELSE '' END
	+ CASE WHEN @Where <> '' THEN 'AND ' + @Where    
        ELSE '' END
	+ '    
ORDER BY ' + @SortColumn + '    
OFFSET ' + CAST(@pageNumber AS VARCHAR) + ' ROWS    
FETCH NEXT ' + CAST(@pageSize AS VARCHAR) + ' ROWS ONLY OPTION (RECOMPILE);';    
    
PRINT (@Query);    
EXEC (@Query);    
                  
END;

GO
