USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BOOTSTRAP_MODEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_BOOTSTRAP_MODEL]
(
    @Where VARCHAR(4000) = ' '
)
AS
BEGIN
    DECLARE @v_Query VARCHAR (3000);
 
SET NOCOUNT ON;

    IF @Where <> ' ' BEGIN
        SET @v_Query =
        'SELECT A.PKID, A.MODEL_ID,
            A.BOOTSTRAP_NAME,
			A.BOOTSTRAP_SAMPLE,
			A.BOOTSTRAP_POINT,
			B.MODEL_NAME
        FROM IFRS_PD_BOOTSTRAP_CONFIG A
		JOIN IFRS_MACRO_ECONOMIC_MODEL B
		ON A.MODEL_ID = B.PKID
        WHERE ' + ISNULL(@Where, '')
        + ' ORDER BY UPPER(BOOTSTRAP_NAME)';
    END
    ELSE BEGIN
        SET @v_Query =
        'SELECT A.PKID, A.MODEL_ID,
             A.BOOTSTRAP_NAME, 
			A.BOOTSTRAP_SAMPLE,
			A.BOOTSTRAP_POINT,
			B.MODEL_NAME
        FROM IFRS_PD_BOOTSTRAP_CONFIG A
		JOIN IFRS_MACRO_ECONOMIC_MODEL B
		ON A.MODEL_ID = B.PKID
        ORDER BY UPPER(BOOTSTRAP_NAME)';
    END 

    EXECUTE (@v_Query);
              
END;

GO
