USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMPDMODEL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_PARAMPDMODEL]                  
(                  
  @Where VARCHAR(500) = ''                
)                  
AS                  
BEGIN    
DECLARE @Query VARCHAR (3000);                  
                  
SET @Query =                   
'    
	SELECT     
		A.PKID,                  
		A.TM_RULE_NAME,                  
		B.SUB_SEGMENT SEGMENTATION_ID,                  
		C.DESCRIPTION PD_METHOD,                  
		(SELECT DESCRIPTION FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''B91'' AND VALUE1 = A.CALC_METHOD) CALC_METHOD,                  
		INCREMENT_PERIOD,                  
		TRANSITION_DATA,                
		POPULATION_MONTH,                  
		--CASE WHEN A.ACTIVE_FLAG = 1 THEN ''True'' ELSE ''False'' END ACTIVE_FLAG,                  
		HISTORICAL_DATA,                  
		CASE WHEN IA_FLAG = 1 THEN ''True'' ELSE ''False'' END IA_FLAG,                  
		A.THRESHOLD,        
		A.DEFAULT_RATIO_BY,                 
		EXPECTED_LIFE,               
		CUT_OFF_DATE,                  
		--A.ACTIVE_FLAG,                  
		BUCKET_GROUP,            
		E.RULE_NAME AS DEFAULT_RULE_ID,  
		A.RUNNING_STATUS,
		A.LAG_1MONTH_FLAG,
		BUCKET_GROUP2           
	FROM IFRS_PD_RULES_CONFIG A                    
	JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID                    
	JOIN TBLM_COMMONCODEDETAIL C ON A.PD_METHOD = C.VALUE1 AND C.COMMONCODE = ''B13''                  
	JOIN IFRS_SCENARIO_RULES_HEADER E ON A.DEFAULT_RULE_ID = E.PKID AND E.RULE_TYPE IN (''DEFAULT_RULE'',''DEFAULT_RULE_NOLAG'')'                    
	+ CASE WHEN @Where <> '' THEN 'AND ' + @Where                  
		ELSE '' END                  
	+ ' WHERE ISNULL(A.IS_DELETE,0) != 1 ORDER BY TM_RULE_NAME';     
              
exec(@Query);                    
print(@query);                

END;

GO
