USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_DEFAULTLISTNEXT12M]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPR_DEFAULTLISTNEXT12M]      
(    
 @PD_RULE_NAME VARCHAR(100),
 @BUCKET_NAME VARCHAR(100),    
 @DOWNLOAD_DATE DATE
)     
AS    
BEGIN        
DECLARE @LAG BIT

SELECT @LAG = ISNULL(LAG_1MONTH_FLAG, 0) FROM IFRS_PD_RULES_CONFIG WHERE TM_RULE_NAME = @PD_RULE_NAME

IF @LAG = 1
BEGIN
SELECT 
	A.DOWNLOAD_DATE,
	ISNULL(B.BUCKET_NAME, 'FP') AS BUCKET_NAME,
	A.MASTERID,
	A.CUSTOMER_NUMBER
FROM IFRS_PD_SCENARIO_DATA A (NOLOCK)
LEFT JOIN IFRS_BUCKET_DETAIL B (NOLOCK) ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_ID = B.BUCKET_ID
WHERE A.PD_RULE_NAME = @PD_RULE_NAME AND A.DOWNLOAD_DATE = @DOWNLOAD_DATE AND B.BUCKET_NAME = @BUCKET_NAME and A.NEXT_12M_DEFAULT_FLAG=1
ORDER BY A.BUCKET_ID
END
ELSE
BEGIN
SELECT
	A.DOWNLOAD_DATE,
	ISNULL(B.BUCKET_NAME, 'FP') AS BUCKET_NAME,
	A.MASTERID,
	A.CUSTOMER_NUMBER
FROM IFRS_PD_SCENARIO_DATA_NOLAG A (NOLOCK)
LEFT JOIN IFRS_BUCKET_DETAIL B (NOLOCK) ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_ID = B.BUCKET_ID AND A.RATING_CODE = B.SUB_BUCKET_GROUP
WHERE A.PD_RULE_NAME = @PD_RULE_NAME AND A.DOWNLOAD_DATE = @DOWNLOAD_DATE AND B.BUCKET_NAME = @BUCKET_NAME and A.NEXT_12M_DEFAULT_FLAG=1
ORDER BY A.BUCKET_ID
END
    
END;
GO
