USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_SBLC_PRORATE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_IMP_SBLC_PRORATE]  
@DOWNLOAD_DATE DATE = NULL      
AS       
 DECLARE @V_CURRDATE DATE      
      
BEGIN       
 IF(@DOWNLOAD_DATE IS NOT NULL)       
 BEGIN       
  SET @V_CURRDATE = @DOWNLOAD_DATE       
 END       
 ELSE       
 BEGIN       
  SELECT @V_CURRDATE = CURRDATE      
  FROM IFRS_PRC_DATE       
 END      
 ------------------------------NEW RULES------------------------------      
 DROP TABLE IF EXISTS #IMA_IMP_COLL  
 DROP TABLE IF EXISTS #IMA_TF 
     
 SELECT *       
 INTO #IMA_IMP_COLL       
 FROM IFRS_IMA_IMP_CURR       
 WHERE FACILITY_NUMBER IN       
 (      
  SELECT DISTINCT FACILITY_NUMBER       
  FROM IFRS_MASTER_COLLATERAL_CORP       
  WHERE DOWNLOAD_DATE = @V_CURRDATE AND COLL_TP = '251' AND COLL_NAT = 1      
 )      
      
 DROP TABLE IF EXISTS #SUM_COLL_AMOUNT      
 SELECT LEFT(ACCOUNT_NUMBER, CHARINDEX('.', ACCOUNT_NUMBER, 8)-1) AS COLL_ID, SUM(AMOUNT) AS SUM_COLLATERAL      
 INTO #SUM_COLL_AMOUNT      
 FROM IFRS_MASTER_COLLATERAL_CORP WHERE DOWNLOAD_DATE = @V_CURRDATE AND COLL_TP = '251' AND COLL_NAT = 1      
 GROUP BY LEFT(ACCOUNT_NUMBER, CHARINDEX('.', ACCOUNT_NUMBER, 8)-1)      
       
      
  DROP TABLE IF EXISTS #REMAINING_AMOUNT      
 SELECT LEFT(ACCOUNT_NUMBER, CHARINDEX('.', ACCOUNT_NUMBER, 8)-1) AS COLL_ID, SUM(AMOUNT) AS REMAINING      
 INTO #REMAINING_AMOUNT      
 FROM IFRS_MASTER_COLLATERAL_CORP WHERE DOWNLOAD_DATE = @V_CURRDATE AND COLL_TP = '251' AND COLL_NAT = 1      
 GROUP BY LEFT(ACCOUNT_NUMBER, CHARINDEX('.', ACCOUNT_NUMBER, 8)-1)      
       
      
 DROP TABLE IF EXISTS #COLL_FACILITY      
 SELECT DISTINCT LEFT(ACCOUNT_NUMBER, CHARINDEX('.', ACCOUNT_NUMBER, 8)-1) AS COLL_ID, FACILITY_NUMBER      
 INTO #COLL_FACILITY      
 FROM IFRS_MASTER_COLLATERAL_CORP      
 WHERE DOWNLOAD_DATE = @V_CURRDATE AND COLL_TP = '251' AND COLL_NAT = 1      
      
 DROP TABLE IF EXISTS #IMA_SUM_COLL      
 SELECT B.COLL_ID, C.SUM_COLLATERAL, CAST(A.OUTSTANDING AS NUMERIC(32,6)) * CAST(A.EXCHANGE_RATE AS NUMERIC(32,6)) AS OS_IDR,      
  CAST(A.UNUSED_AMOUNT AS NUMERIC(32,6)) * CAST(A.EXCHANGE_RATE AS NUMERIC(32,6)) AS UNUSED_IDR, A.*      
 INTO #IMA_SUM_COLL      
 FROM #IMA_IMP_COLL A      
 JOIN #COLL_FACILITY B ON A.FACILITY_NUMBER = B.FACILITY_NUMBER      
 JOIN #SUM_COLL_AMOUNT C ON B.COLL_ID = C.COLL_ID      
 ORDER BY B.COLL_ID      
      
 DELETE IFRS_SBLC_PRORATE WHERE DOWNLOAD_DATE = @V_CURRDATE      
       
 DROP TABLE IF EXISTS #IFRS_SBLC_PRORATE      
 SELECT * INTO #IFRS_SBLC_PRORATE FROM IFRS_SBLC_PRORATE WHERE 1 = 2      
       
 DECLARE @V_STR_SQL VARCHAR(MAX)      
 DECLARE @SEQUENCE VARCHAR(5)      
 DECLARE @FIELD_NAME VARCHAR(100)      
 DECLARE @FIELD_VALUE VARCHAR(100)      
 SET @V_STR_SQL = ''      
      
      
 DECLARE SEG1      
 CURSOR FOR      
  SELECT VALUE1 AS [SEQUENCE], VALUE2 AS FIELD_NAME, VALUE3 AS FIELD_VALUE      
  FROM TBLM_COMMONCODEDETAIL      
  WHERE COMMONCODE = 'SBLC_RULES'AND ISNULL(IS_DELETE, 0) = 0      
  ORDER BY VALUE1       
 OPEN SEG1;       
 FETCH SEG1 INTO @SEQUENCE, @FIELD_NAME, @FIELD_VALUE      
 WHILE @@FETCH_STATUS = 0      
 BEGIN      
  SET @V_STR_SQL = ''      
      
  SET @V_STR_SQL = '      
   DROP TABLE IF EXISTS #SUM_OS_IDR      
   SELECT COLL_ID, SUM(CASE WHEN DATA_SOURCE = ''LIMIT_T24'' THEN UNUSED_IDR ELSE OS_IDR END) AS SUM_IDR      
   INTO #SUM_OS_IDR      
   FROM #IMA_SUM_COLL      
   WHERE ' + @FIELD_NAME + ' IN (''' + REPLACE(@FIELD_VALUE, ',', ''',''') + ''')      
   GROUP BY COLL_ID    
      
   INSERT INTO #IFRS_SBLC_PRORATE      
   (      
    DOWNLOAD_DATE      
    ,COLL_ID      
    ,CUSTOMER_NUMBER      
    ,CUSTOMER_NAME      
    ,FACILITY_NUMBER      
    ,ACCOUNT_NUMBER      
    ,MASTERID      
    ,IAS_CLASS      
    ,DATA_SOURCE      
    ,PRODUCT_CODE      
    ,OUTSTANDING_LCY      
    ,TOTAL_SBLC_AMOUNT_LCY      
    ,PRORATE_COLLATERAL_LCY      
    ,UNUSED_AMOUNT_LCY      
    ,PRIORITY      
    ,REMAINING_SBLC_AMOUNT_LCY      
    ,CREATEDBY      
    ,CREATEDDATE      
    ,CREATEDHOST      
    ,CURRENCY_MASTER      
    ,EXCHANGE_RATE_MASTER      
    ,SUM_OS_LCY_PRIORITY      
   )      
   SELECT       
    DOWNLOAD_DATE      
    ,A.COLL_ID      
    ,A.CUSTOMER_NUMBER      
    ,A.CUSTOMER_NAME      
    ,A.FACILITY_NUMBER      
    ,A.ACCOUNT_NUMBER      
    ,A.MASTERID      
    ,A.IAS_CLASS      
    ,A.DATA_SOURCE      
    ,A.PRODUCT_CODE      
    ,A.OS_IDR AS OUTSTANDING_LCY      
    ,A.SUM_COLLATERAL AS TOTAL_SBLC_AMOUNT_LCY      
    ,CASE WHEN ISNULL(B.SUM_IDR,0) <= 0 THEN 0       
    ELSE (CAST(CASE WHEN A.DATA_SOURCE = ''LIMIT_T24'' THEN A.UNUSED_IDR ELSE A.OS_IDR END AS FLOAT) / CAST(B.SUM_IDR AS FLOAT)) * CAST(C.REMAINING AS FLOAT) END AS PRORATE_COLLATERAL_LCY      
    ,A.UNUSED_IDR AS UNUSED_AMOUNT_LCY      
    ,' + @SEQUENCE + ' AS PRIORITY      
    ,NULL AS REMAINING_SBLC_AMOUNT_LCY      
    ,''SP_IFRS_SBLC_PRORATE'' AS CREATEDBY      
    ,GETDATE() AS CREATEDDATE      
    ,''LOCALHOST'' AS CREATEDHOST      
    ,A.CURRENCY AS CURRENCY_MASTER      
    ,A.EXCHANGE_RATE AS EXCHANGE_RATE_MASTER      
    ,B.SUM_IDR AS SUM_OS_LCY_PRIORITY      
   FROM #IMA_SUM_COLL A      
   LEFT JOIN #SUM_OS_IDR B ON A.COLL_ID = B.COLL_ID      
   LEFT JOIN #REMAINING_AMOUNT C ON A.COLL_ID = C.COLL_ID      
   WHERE ' + @FIELD_NAME + ' IN (''' + REPLACE(@FIELD_VALUE, ',', ''',''') + ''')      
         
   -- UPDATE TO CAP PRORATE VALUE TO OS      
   UPDATE  #IFRS_SBLC_PRORATE       
   SET PRORATE_COLLATERAL_LCY = CASE WHEN DATA_SOURCE = ''LIMIT_T24'' THEN       
            CASE WHEN PRORATE_COLLATERAL_LCY >=  UNUSED_AMOUNT_LCY THEN UNUSED_AMOUNT_LCY ELSE PRORATE_COLLATERAL_LCY END       
          ELSE       
           CASE WHEN PRORATE_COLLATERAL_LCY >=  OUTSTANDING_LCY THEN OUTSTANDING_LCY ELSE PRORATE_COLLATERAL_LCY END       
           END      
   WHERE  [PRIORITY] = ' + @SEQUENCE + '      
      
   -- UPDATE REMAINING AMOOUNT IN REMAINING TABLE       
   UPDATE A       
   SET REMAINING = ROUND(CASE WHEN A.REMAINING - B.PRORATE <= 0 THEN 0 ELSE A.REMAINING - B.PRORATE END,3)       
   FROM #REMAINING_AMOUNT A      
   JOIN       
   (      
    SELECT COLL_ID, SUM (PRORATE_COLLATERAL_LCY) AS PRORATE      
    FROM #IFRS_SBLC_PRORATE       
    WHERE [PRIORITY] = ' + @SEQUENCE + '      
    GROUP BY COLL_ID      
   ) B ON A.COLL_ID = B.COLL_ID      
      
   -- UPDATE REMAINING VALUE INTO COLLATERAL TABLE       
   UPDATE A      
   SET  A.REMAINING_SBLC_AMOUNT_LCY = B.REMAINING      
   FROM #IFRS_SBLC_PRORATE A      
   JOIN #REMAINING_AMOUNT B ON A.COLL_ID = B.COLL_ID      
   WHERE A.[PRIORITY] = ' + @SEQUENCE + '      
      
   '      
  PRINT @SEQUENCE      
  PRINT(@V_STR_SQL)      
  EXEC (@V_STR_SQL)      
      
  FETCH NEXT FROM SEG1 INTO @SEQUENCE, @FIELD_NAME, @FIELD_VALUE      
 END       
 CLOSE SEG1;      
 DEALLOCATE SEG1;      
      
 INSERT INTO IFRS_SBLC_PRORATE      
 SELECT * FROM #IFRS_SBLC_PRORATE   

 SELECT DOWNLOAD_DATE, AGUNAN_AMOUNT, MASTER_ID 
 INTO #IMA_TF
 FROM IFRS9_STG..STG_IFRS_MASTER_ACCOUNT_TF WHERE DOWNLOAD_DATE = @V_CURRDATE AND AGUNAN_AMOUNT > 1     
      
 -- UPDATE SBLC TO MASTER ACCOUNT CHANGE TO MASTER DATA CURRENCY      
 UPDATE A                  
 SET A.SBLC_AMOUNT = ISNULL(C.AGUNAN_AMOUNT,0) + CAST(ISNULL(B.PRORATE_COLLATERAL_LCY, 0) AS FLOAT) / CAST(A.EXCHANGE_RATE AS FLOAT)           
 FROM IFRS_IMA_IMP_CURR A                  
 LEFT JOIN IFRS_SBLC_PRORATE B                   
 ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE                  
 AND A.MASTERID = B.MASTERID      
 LEFT JOIN #IMA_TF C
 ON A.DOWNLOAD_DATE = C.DOWNLOAD_DATE                  
 AND A.MASTERID = C.MASTER_ID                           
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE               
      
END
GO
