USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMCOAPL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_PARAMCOAPL]
AS
BEGIN

	SELECT PKID, 
		GLCode, 
		GLName, 
		FSCodePositive, 
		case when FSCodePositive = FSCodePositive then
		(
			select case when (GEN1_CODE <> 0 and isnull(GEN2_CODE,0) = 0 and isnull(GEN3_CODE,0) = 0 and isnull(GEN4_CODE,0) = 0 and isnull(GEN5_CODE,0) = 0 and isnull(GEN6_CODE,0) = 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and isnull(GEN3_CODE,0) = 0 and isnull(GEN4_CODE,0) = 0 and isnull(GEN5_CODE,0) = 0 and isnull(GEN6_CODE,0) = 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and isnull(GEN4_CODE,0) = 0 and isnull(GEN5_CODE,0) = 0 and isnull(GEN6_CODE,0) = 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and GEN4_CODE <> 0 and isnull(GEN5_CODE,0) = 0 and isnull(GEN6_CODE,0) = 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC + ' - ' + GEN4_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and GEN4_CODE <> 0 and GEN5_CODE <> 0 and isnull(GEN6_CODE,0) = 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC + ' - ' + GEN4_DESC + ' - ' + GEN5_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and GEN4_CODE <> 0 and GEN5_CODE <> 0 and GEN6_CODE <> 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC + ' - ' + GEN4_DESC + ' - ' + GEN5_DESC + ' - ' + GEN6_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and GEN4_CODE <> 0 and GEN5_CODE <> 0 and GEN6_CODE <> 0 and GEN7_CODE <> 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC + ' - ' + GEN4_DESC + ' - ' + GEN5_DESC + ' - ' + GEN6_DESC + ' - ' + GEN7_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and GEN4_CODE <> 0 and GEN5_CODE <> 0 and GEN6_CODE <> 0 and GEN7_CODE <> 0 and GEN8_CODE <> 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC + ' - ' + GEN4_DESC + ' - ' + GEN5_DESC + ' - ' + GEN6_DESC + ' - ' + GEN7_DESC + ' - ' + GEN8_DESC)
			end from GL_PARAM_HIERARCHY_HO where ITEM_CODE = FSCodePositive
		)
		end "FSCodePositiveDesc"
		,FSCodeNegative
		,case when FSCodeNegative = FSCodeNegative then
		(
			select case when (GEN1_CODE <> 0 and isnull(GEN2_CODE,0) = 0 and isnull(GEN3_CODE,0) = 0 and isnull(GEN4_CODE,0) = 0 and isnull(GEN5_CODE,0) = 0 and isnull(GEN6_CODE,0) = 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and isnull(GEN3_CODE,0) = 0 and isnull(GEN4_CODE,0) = 0 and isnull(GEN5_CODE,0) = 0 and isnull(GEN6_CODE,0) = 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and isnull(GEN4_CODE,0) = 0 and isnull(GEN5_CODE,0) = 0 and isnull(GEN6_CODE,0) = 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and GEN4_CODE <> 0 and isnull(GEN5_CODE,0) = 0 and isnull(GEN6_CODE,0) = 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC + ' - ' + GEN4_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and GEN4_CODE <> 0 and GEN5_CODE <> 0 and isnull(GEN6_CODE,0) = 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC + ' - ' + GEN4_DESC + ' - ' + GEN5_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and GEN4_CODE <> 0 and GEN5_CODE <> 0 and GEN6_CODE <> 0 and isnull(GEN7_CODE,0) = 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC + ' - ' + GEN4_DESC + ' - ' + GEN5_DESC + ' - ' + GEN6_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and GEN4_CODE <> 0 and GEN5_CODE <> 0 and GEN6_CODE <> 0 and GEN7_CODE <> 0 and isnull(GEN8_CODE,0) = 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC + ' - ' + GEN4_DESC + ' - ' + GEN5_DESC + ' - ' + GEN6_DESC + ' - ' + GEN7_DESC)
			when (GEN1_CODE <> 0 and GEN2_CODE <> 0 and GEN3_CODE <> 0 and GEN4_CODE <> 0 and GEN5_CODE <> 0 and GEN6_CODE <> 0 and GEN7_CODE <> 0 and GEN8_CODE <> 0)
				then (GEN1_DESC + ' - ' + GEN2_DESC + ' - ' + GEN3_DESC + ' - ' + GEN4_DESC + ' - ' + GEN5_DESC + ' - ' + GEN6_DESC + ' - ' + GEN7_DESC + ' - ' + GEN8_DESC)
			end from GL_PARAM_HIERARCHY_HO where ITEM_CODE = FSCodeNegative
		)
		end "FSCodeNegativeDesc"
		,NormalPos
		,[Rule]
	FROM GL_PARAM_COA_PL_HO
    ORDER BY GLCode;

END

GO
