USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_DROPDOWNLIST]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IFRS_DROPDOWNLIST]  
AS    
BEGIN    
 DECLARE @CURRDATE  DATETIME;    
 DECLARE @PKID INTEGER;    
 DECLARE @COLUMN_NAME VARCHAR(100);    
 DECLARE @TABLE_NAME VARCHAR(100);    
 DECLARE @STR_SQL VARCHAR(4000);    
 DECLARE @COUNT INTEGER;  
 /*STR_SQL_RULE VARCHAR2(4000);    
 RULE_ID VARCHAR2(250);*/    
     
 DECLARE I CURSOR LOCAL FOR    
  SELECT PKID,     
   PARENTCOMMONCODEVALUE AS TABLE_NAME,     
   VALUE1 AS COLUMN_NAME    
  FROM TBLM_COMMONCODEDETAIL    
  WHERE COMMONCODE IN ('B31') AND VALUE2 IN  ('CHAR','VARCHAR2','VARCHAR');    
    
  SELECT @COUNT = COUNT(*) FROM TBLM_DROPDOWNLIST;    
        
  SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE;    
      
  IF @COUNT <= 0  
  BEGIN    
   OPEN I;    
   FETCH NEXT FROM I INTO @PKID, @TABLE_NAME, @COLUMN_NAME;    
   
   

   WHILE @@FETCH_STATUS = 0    
   BEGIN    
 

   SET @STR_SQL =   
    'INSERT INTO  TBLM_DROPDOWNLIST (    
     TABLE_NAME,    
     COLUMN_NAME,    
     VALUE    
    )  
    SELECT DISTINCT ''' + ISNULL(@TABLE_NAME, '') + ''',    
    ''' + ISNULL(@COLUMN_NAME, '') + ''' ,    
    ' + ISNULL(@COLUMN_NAME, '') + '    
    FROM ' + ISNULL(@TABLE_NAME, '') + ' A   
    WHERE '+ ISNULL(@COLUMN_NAME, '') + ' IS NOT NULL';    
   EXECUTE (@STR_SQL);    
        
   FETCH NEXT FROM I INTO @PKID, @TABLE_NAME, @COLUMN_NAME;    
  END;  
 END    
 ELSE BEGIN  
  OPEN I;    
  FETCH NEXT FROM I INTO @PKID, @TABLE_NAME, @COLUMN_NAME;    
  
  WHILE @@FETCH_STATUS = 0    
  BEGIN    
      


   SET @STR_SQL =   
    'INSERT INTO  TBLM_DROPDOWNLIST (    
     TABLE_NAME,    
     COLUMN_NAME,    
     VALUE    
    )    
    SELECT DISTINCT ''' + ISNULL(@TABLE_NAME, '') + ''',    
     ''' + ISNULL(@COLUMN_NAME, '') + ''' ,    
     ' + ISNULL(@COLUMN_NAME, '') + '    
    FROM ' + ISNULL(@TABLE_NAME, '') + ' A    
    WHERE ' + 
	CASE WHEN @TABLE_NAME NOT IN ('IFRS_MASTER_PRODUCT_PARAMETER') 
		THEN 'A.DOWNLOAD_DATE =  ''' + CAST(@CURRDATE AS VARCHAR) + ''' AND '
		ELSE '' 
	END      
    + ISNULL(@COLUMN_NAME, '') + ' NOT IN ( SELECT VALUE FROM TBLM_DROPDOWNLIST WHERE TABLE_NAME = ''' + ISNULL(@TABLE_NAME, '') + ''' AND COLUMN_NAME = ''' + ISNULL(@COLUMN_NAME, '') + ''')';    
    
   EXECUTE  (@STR_SQL);    
  
   FETCH NEXT FROM I INTO @PKID, @TABLE_NAME, @COLUMN_NAME;    
  END;    
 END  
    
 CLOSE I;    
 DEALLOCATE I;    
  
END;



GO
