USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKSEGMENTLOANS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_CEKSEGMENTLOANS]  
(  
 @cekSegmentLoans varchar(50) = '',   
 @cekProductCode varchar(2000) = '',   
 @cekPKID bigint = 0  
)  
AS  
BEGIN

	SELECT
	(SELECT SEGMENT_LOANS_DESC
	FROM IFRS_SEGMENT_LOANS
	WHERE UPPER(SEGMENT_LOANS_DESC) = UPPER(LTRIM(RTRIM(@cekSegmentLoans)))
		AND PKID <> @cekPKID  
		AND ISNULL(IS_DELETE,0) = 0) AS SEGMENT_LOANS_DESC,
   
   (SELECT value AS PRODUCT_CODE
	FROM IFRS_SEGMENT_LOANS
	CROSS APPLY STRING_SPLIT(PRODUCT_CODE,';')
	WHERE value IN (SELECT VALUE FROM dbo.STRING_SPLIT((@cekProductCode), ';'))
		AND PKID <> @cekPKID
		AND ISNULL(IS_DELETE, 0) = 0) AS PRODUCT_CODE,

	(SELECT SEGMENT_LOANS_DESC FROM
	(SELECT HEADERID, SEGMENT_LOANS_DESC
		FROM  (SELECT ISNULL(NEWVALUE,OLDVALUE) AS VALUE, FIELDNAME, HEADERID  
				FROM TBLT_APPROVALDETAIL  WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER   WHERE SCREENID = 'SEGMENT_LOANS_PARAMETER' 
		AND STATUS='P') )d  pivot  (max(value) for FIELDNAME in (SEGMENT_LOANS_DESC)) piv)A  
	WHERE SEGMENT_LOANS_DESC = @cekSegmentLoans) AS SEGMENT_LOANS_DESC_PENDING,
    
	(SELECT TOP 1 VALUE FROM
	(SELECT *
		FROM  (SELECT ISNULL(NEWVALUE,OLDVALUE) AS VALUE, FIELDNAME, HEADERID  
				FROM TBLT_APPROVALDETAIL  WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER   WHERE SCREENID = 'SEGMENT_LOANS_PARAMETER'
		AND STATUS='P') )d  pivot  (max(value) for FIELDNAME in (PRODUCT_CODE)) piv CROSS APPLY STRING_SPLIT(PRODUCT_CODE,';')) A
	WHERE VALUE IN (SELECT VALUE FROM dbo.STRING_SPLIT((@cekProductCode), ';'))) AS PRODUCT_CODE_PENDING
  
END;

GO
