USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MODELMEINDEPENDENT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_MODELMEINDEPENDENT](  
@PKID BIGINT)  
AS  
BEGIN  
  
    SELECT *  
    FROM IFRS_INDEPENDENT_VARIABLE  
    WHERE MODEL_ID = @PKID;  
         
END;  
GO
