USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_COLL_PRORATE]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_IMP_COLL_PRORATE]    
----BEGIN TRAN  
------ROLLBACK  
----DECLARE  
@DOWNLOAD_DATE DATE = NULL        
AS         
 DECLARE @V_CURRDATE DATE    
        
BEGIN         
 IF(@DOWNLOAD_DATE IS NOT NULL)         
 BEGIN         
  SET @V_CURRDATE = @DOWNLOAD_DATE         
 END         
 ELSE         
 BEGIN         
  SELECT @V_CURRDATE = CURRDATE        
  FROM IFRS_PRC_DATE         
 END  
  
 -------------------------------------- CROSS SEGMENT --------------------------------------  
  
 -- // PARAMETER  
 DECLARE @COLTP VARCHAR(100)  
 DECLARE @COLNAT VARCHAR(100)  
 DECLARE @VALTP VARCHAR(100)  
 DECLARE @VALNAT VARCHAR(100)  
 DECLARE @TABLEIMA VARCHAR(100)  
 DECLARE @TABLECOL VARCHAR(100)  
 DECLARE @V_QUERY NVARCHAR(MAX)  
  
 SET @TABLEIMA = 'IFRS_IMA_IMP_CURR'  
 SET @TABLECOL = 'IFRS_MASTER_COLLATERAL_CORP'  
  
 SELECT   
 @COLNAT = VALUE1,  
 @VALNAT = VALUE2  
 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'COLL_RULES' AND SEQUENCE = 1  
  
 SELECT   
 @COLTP = VALUE1,  
 @VALTP = VALUE2  
 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'COLL_RULES' AND SEQUENCE = 2  
  
 IF OBJECT_ID ('TEMPDB.DBO.##IMA_COL') IS NOT NULL DROP TABLE ##IMA_COL  
 IF OBJECT_ID ('TEMPDB.DBO.##IMA_TF') IS NOT NULL DROP TABLE ##IMA_TF  
  
 SET @V_QUERY = 'SELECT *      
 INTO ##IMA_COL       
 FROM ' + @TABLEIMA + '         
 WHERE FACILITY_NUMBER IN         
 (        
 SELECT DISTINCT FACILITY_NUMBER         
 FROM ' + @TABLECOL + '         
 WHERE DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''   
 AND ' + @COLTP + ' IN (''' + REPLACE(@VALTP, ',', ''',''') + ''')   
 AND ' + @COLNAT + ' IN (''' + REPLACE(@VALNAT, ',', ''',''') + ''')        
 ) AND DATA_SOURCE <> ''LIMIT_T24''' ---- UNTUK DATA LIMIT_T24 TIDAK DI PRORATE  
  
 IF OBJECT_ID ('TEMPDB.DBO.##SUM_COL') IS NOT NULL DROP TABLE ##SUM_COL  
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) +   
 'SELECT FACILITY_NUMBER AS FAC_ID, SUM(AMOUNT) AS SUM_COLLATERAL   
  INTO ##SUM_COL        
  FROM ' + @TABLECOL + '   
  WHERE DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''   
  AND ' + @COLTP + ' IN (''' + REPLACE(@VALTP, ',', ''',''') + ''')   
  AND ' + @COLNAT + ' IN (''' + REPLACE(@VALNAT, ',', ''',''') + ''')      
  GROUP BY FACILITY_NUMBER'  
   
 IF OBJECT_ID ('TEMPDB.DBO.##REM_AMT') IS NOT NULL DROP TABLE ##REM_AMT  
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) +   
 'SELECT FACILITY_NUMBER AS FAC_ID, SUM(AMOUNT) AS REMAINING        
  INTO ##REM_AMT        
  FROM ' + @TABLECOL + '   
  WHERE DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''   
  AND ' + @COLTP + ' IN (''' + REPLACE(@VALTP, ',', ''',''') + ''')   
  AND ' + @COLNAT + ' IN (''' + REPLACE(@VALNAT, ',', ''',''') + ''')          
  GROUP BY FACILITY_NUMBER'   
  
 IF OBJECT_ID ('TEMPDB.DBO.##GROUP_FAC') IS NOT NULL DROP TABLE ##GROUP_FAC  
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) +  
 'SELECT DISTINCT FACILITY_NUMBER AS FAC_ID, FACILITY_NUMBER        
  INTO ##GROUP_FAC        
  FROM IFRS_MASTER_COLLATERAL_CORP       
  WHERE DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''   
  AND ' + @COLTP + ' IN (''' + REPLACE(@VALTP, ',', ''',''') + ''')   
  AND ' + @COLNAT + ' IN (''' + REPLACE(@VALNAT, ',', ''',''') + ''')'  
  
 IF OBJECT_ID ('TEMPDB.DBO.##DATA_COL') IS NOT NULL DROP TABLE ##DATA_COL  
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) +  
 'SELECT B.FAC_ID, C.SUM_COLLATERAL, CAST(A.OUTSTANDING AS NUMERIC(32,6)) * CAST(A.EXCHANGE_RATE AS NUMERIC(32,6)) AS OS_IDR,        
  CAST(A.UNUSED_AMOUNT AS NUMERIC(32,6)) * CAST(A.EXCHANGE_RATE AS NUMERIC(32,6)) AS UNUSED_IDR, A.*        
  INTO ##DATA_COL        
  FROM ##IMA_COL A        
  JOIN ##GROUP_FAC B ON A.FACILITY_NUMBER = B.FACILITY_NUMBER        
  JOIN ##SUM_COL C ON B.FAC_ID = C.FAC_ID        
  ORDER BY B.FAC_ID'  
  
 IF OBJECT_ID ('TEMPDB.DBO.##SUM_OS_IDR') IS NOT NULL DROP TABLE ##SUM_OS_IDR  
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) +  
 'SELECT FAC_ID, SUM(CASE WHEN DATA_SOURCE = ''LIMIT_T24'' THEN UNUSED_IDR ELSE OS_IDR END) AS SUM_IDR        
  INTO ##SUM_OS_IDR        
  FROM ##DATA_COL            
  GROUP BY FAC_ID'  
   
 IF OBJECT_ID ('TEMPDB.DBO.##IFRS_COLL_PRORATE') IS NOT NULL DROP TABLE ##IFRS_COLL_PRORATE  
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) + 'DELETE IFRS_COLL_PRORATE WHERE DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + '''  
 SELECT * INTO ##IFRS_COLL_PRORATE FROM IFRS_COLL_PRORATE WHERE 1 = 2'  
   
  
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) + 'INSERT INTO ##IFRS_COLL_PRORATE        
   (        
    DOWNLOAD_DATE  
 ,CUSTOMER_NUMBER  
 ,CUSTOMER_NAME  
 ,FACILITY_NUMBER  
 ,ACCOUNT_NUMBER  
 ,MASTERID  
 ,IAS_CLASS  
 ,DATA_SOURCE  
 ,PRODUCT_CODE  
 ,OUTSTANDING_LCY  
 ,TOTAL_COLL_AMOUNT_LCY  
 ,PRORATE_COLLATERAL_LCY  
 ,UNUSED_AMOUNT_LCY  
 ,REMAINING_COLL_AMOUNT_LCY  
 ,CREATEDBY  
 ,CREATEDDATE  
 ,CREATEDHOST  
 ,CURRENCY_MASTER  
 ,EXCHANGE_RATE_MASTER  
 ,SUM_OS_LCY_PRIORITY        
   )   
 SELECT         
 DOWNLOAD_DATE         
 ,A.CUSTOMER_NUMBER        
 ,A.CUSTOMER_NAME        
 ,A.FACILITY_NUMBER        
 ,A.ACCOUNT_NUMBER        
 ,A.MASTERID        
 ,A.IAS_CLASS        
 ,A.DATA_SOURCE        
 ,A.PRODUCT_CODE        
 ,A.OS_IDR AS OUTSTANDING_LCY        
 ,A.SUM_COLLATERAL AS TOTAL_COLL_AMOUNT_LCY        
 ,CASE WHEN ISNULL(B.SUM_IDR,0) <= 0   
  THEN 0   
  ELSE   
   (CAST(CASE WHEN A.DATA_SOURCE = ''LIMIT_T24''   
  THEN   
   A.UNUSED_IDR ELSE A.OS_IDR END AS FLOAT) / CAST(B.SUM_IDR AS FLOAT)) * CAST(C.REMAINING AS FLOAT)   
  END   
  AS PRORATE_COLLATERAL_LCY        
 ,A.UNUSED_IDR AS UNUSED_AMOUNT_LCY              
 ,NULL AS REMAINING_COLL_AMOUNT_LCY        
 ,''SP_IFRS_COLL_PRORATE'' AS CREATEDBY        
 ,GETDATE() AS CREATEDDATE        
 ,''LOCALHOST'' AS CREATEDHOST        
 ,A.CURRENCY AS CURRENCY_MASTER        
 ,A.EXCHANGE_RATE AS EXCHANGE_RATE_MASTER        
 ,B.SUM_IDR AS SUM_OS_LCY_PRIORITY        
 FROM ##DATA_COL A        
 LEFT JOIN ##SUM_OS_IDR B ON A.FAC_ID = B.FAC_ID  
 LEFT JOIN ##REM_AMT C ON A.FAC_ID = C.FAC_ID'  
  
  
 ---- UPDATE TO CAP PRORATE VALUE TO OS   
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) + 'UPDATE ##IFRS_COLL_PRORATE         
   SET PRORATE_COLLATERAL_LCY =   
   CASE WHEN DATA_SOURCE = ''LIMIT_T24''   
   THEN   
 CASE WHEN PRORATE_COLLATERAL_LCY >= UNUSED_AMOUNT_LCY THEN UNUSED_AMOUNT_LCY ELSE PRORATE_COLLATERAL_LCY   
   END         
   ELSE   
 CASE WHEN PRORATE_COLLATERAL_LCY >= OUTSTANDING_LCY THEN OUTSTANDING_LCY ELSE PRORATE_COLLATERAL_LCY END         
   END'  
   
 ---- UPDATE REMAINING AMOOUNT IN REMAINING TABLE  
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) + 'UPDATE A         
   SET REMAINING = ROUND(CASE WHEN A.REMAINING - B.PRORATE <= 0 THEN 0 ELSE A.REMAINING - B.PRORATE END,3)         
   FROM ##REM_AMT A        
   JOIN         
   (        
    SELECT FACILITY_NUMBER, SUM (PRORATE_COLLATERAL_LCY) AS PRORATE        
    FROM ##IFRS_COLL_PRORATE        
    GROUP BY FACILITY_NUMBER        
   ) B ON A.FAC_ID = B.FACILITY_NUMBER'  
   
 ---- UPDATE REMAINING VALUE INTO COLLATERAL TABLE  
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) + 'UPDATE A        
   SET  A.REMAINING_COLL_AMOUNT_LCY = B.REMAINING        
   FROM ##IFRS_COLL_PRORATE A        
   JOIN ##REM_AMT B ON A.FACILITY_NUMBER = B.FAC_ID'  
  
 ---- INSERT DATA TO IFRS_SBLC_PRORATE  
 SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) +   
 'INSERT INTO IFRS_COLL_PRORATE   
  SELECT * FROM ##IFRS_COLL_PRORATE'  
  
  
  SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) + 'SELECT AGUNAN_AMOUNT, DOWNLOAD_DATE, CASE WHEN ISNULL(OLD_ACCOUNT_NUMBER,'''') <> '''' THEN OLD_ACCOUNT_NUMBER ELSE ACCOUNT_NUMBER END MASTER_ID   
  INTO ##IMA_TF   
  FROM IFRS9_STG..STG_IFRS_MASTER_ACCOUNT_TF   
  WHERE DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + ''' AND AGUNAN_AMOUNT > 0'
    
  
  ---- UPDATE SBLC TO MASTER ACCOUNT CHANGE TO MASTER DATA CURRENCY        
  SET @V_QUERY = @V_QUERY + CHAR(13) + CHAR(13) + 'UPDATE A                    
  SET A.COLL_AMOUNT =  ISNULL(C.AGUNAN_AMOUNT,0) + CAST(ISNULL(B.PRORATE_COLLATERAL_LCY, 0) AS FLOAT) / CAST(A.EXCHANGE_RATE AS FLOAT)             
  FROM IFRS_IMA_IMP_CURR A                    
  LEFT JOIN IFRS_COLL_PRORATE B             
  ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE                    
  AND A.MASTERID = B.MASTERID  
  LEFT JOIN ##IMA_TF C  
  ON A.DOWNLOAD_DATE = C.DOWNLOAD_DATE                    
  AND A.MASTERID = C.MASTER_ID                             
  WHERE A.DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(10), @V_CURRDATE, 112) + ''''   
   
   
  ----PRINT @V_QUERY  
  EXEC SP_EXECUTESQL @V_QUERY  
  
END
GO
