USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DEFAULTRATECONFIG]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DEFAULTRATECONFIG]  
  
AS  
  
BEGIN  
  
 select PKID, DR_RULE_NAME,   
 CALC_METHOD,   
 BUCKET_GROUP,   
 POPULATION_MONTH,   
 ACTIVE_FLAG,
 DEFAULT_RATE_DATA,   
 HISTORICAL_DATA,INCREMENT_PERIOD   
 from IFRS_PD_DEFAULT_RATE_CONFIG  
    
END;

GO
