USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPMAPPINGTYPEGL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_LOOKUPMAPPINGTYPEGL]
(
	@blank bit
)
AS
BEGIN

	CREATE TABLE #mappingtypegl
	(
		[CODE] varchar(50),
		[CODE_DESC] varchar(100)
	)

	IF (@blank = 1)
	BEGIN
		INSERT INTO #mappingtypegl ([CODE],[CODE_DESC]) values ('','All Mapping Type')
	END

		INSERT INTO #mappingtypegl
		SELECT Value1 "CODE",
			(Value1 + ' - ' + Description) "CODE_DESC"
		FROM tblM_CommonCodeDetail
		WHERE CommonCode = 'GL01'
		ORDER BY Value1
	
	SELECT * FROM #mappingtypegl ORDER BY CODE

	DROP TABLE #mappingtypegl

end

GO
