USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKMEMODELNAME]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_CHECKMEMODELNAME]  
 @PKID BIGINT,  
 @MODEL_NAME varchar(50)  
AS  
SELECT MODEL_NAME FROM IFRS_MACRO_ECONOMIC_MODEL  
WHERE MODEL_NAME = @MODEL_NAME and IS_DELETE = 0 AND PKID <> @PKID  
GO
