USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAPLISTID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IAPLISTID]
AS
BEGIN
	
	SELECT ISNULL(MAX(ID),0) + 1 AS ID FROM IFRS_IAP_LIST_PENDING

END

GO
