USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PENDING_ECL_MODEL_H]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_PENDING_ECL_MODEL_H]  
(  
  @ECL_MODEL_NAME VARCHAR(50)='',  
  @ACTIVE_STATUS bit,  
  @APPROVAL_STATUS CHAR(1),
  @ACTION VARCHAR(10),
  @ECL_MODEL_ID bigint = 0,
  @CREATEDBY VARCHAR(50),  
  @CREATEDHOST VARCHAR(50)  
)  
AS  
BEGIN

	INSERT IFRS_ECL_MODEL_HEADER_PENDING
	(
		ECL_MODEL_NAME
		,ACTIVE_STATUS
		,APPROVAL_STATUS
		,ACTION
		,PKID_OLD
		,CREATEDBY
		,CREATEDDATE
		,CREATEDHOST
	) 
	VALUES
	(  
		@ECL_MODEL_NAME
		,@ACTIVE_STATUS
		,@APPROVAL_STATUS
		,@ACTION
		,@ECL_MODEL_ID
		,@CreatedBy
		,GETDATE()
		,@CreatedHost  
  )  

  SELECT TOP 1 PKID FROM IFRS_ECL_MODEL_HEADER_PENDING ORDER BY PKID DESC
      
END;
GO
