USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_INTERPOLATION1]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_INTERPOLATION1]            
(           
 @HEADERID BIGINT,    
 @UPLOADID BIGINT,         
 @ME_CODE VARCHAR(100),    
 @CREATEDBY VARCHAR(100),    
 @CREATEDDATE DATETIME,    
 @CREATEDHOST VARCHAR(100),    
 @UPDATEDBY VARCHAR(100),    
 @UPDATEDDATE DATETIME,    
 @UPDATEDHOST VARCHAR(100)        
)            
AS            
BEGIN    
     
 if exists(select name from sys.tables where name = 'TEMP')
 begin
	drop table TEMP
 end

 
 CREATE TABLE TEMP(    
  PERIOD DATE,    
  VAL FLOAT    
 )
  
 DECLARE @P1 DATE    
 SELECT @P1 = MIN(ME_PERIOD) FROM IFRS_MACRO_ECONOMIC WHERE ME_CODE = @ME_CODE    
    
 DECLARE @P2 DATE    
 SELECT @P2 = MAX(ME_PERIOD) FROM IFRS_MACRO_ECONOMIC WHERE ME_CODE = @ME_CODE    
    
 DECLARE @PPOINTER DATE    
 SET @PPOINTER = @P1    
    
 WHILE @PPOINTER < EOMONTH(DATEADD(MONTH, 1, @P2))    
 BEGIN    
  INSERT INTO TEMP(PERIOD, VAL) VALUES(@PPOINTER, NULL)    
  SET @PPOINTER = EOMONTH(DATEADD(MONTH, 1, @PPOINTER))    
 END    
    
 UPDATE     
  A    
 SET     
  A.VAL = B.ME_VAL    
 FROM     
  TEMP A     
  INNER JOIN IFRS_MACRO_ECONOMIC B    
  ON A.PERIOD = B.ME_PERIOD    
 WHERE B.ME_CODE = @ME_CODE    
    
 WHILE (SELECT COUNT(1) FROM TEMP WHERE VAL IS NULL) > 0    
 BEGIN    
  EXEC USPP_INTERPOLATION2    
 END    
    
 DELETE FROM IFRS_MACRO_ECONOMIC WHERE ME_CODE = @ME_CODE   
    
 INSERT INTO IFRS_MACRO_ECONOMIC(    
  HEADERID,    
  UPLOADID,    
  ME_CODE,    
  ME_PERIOD,    
  ME_VAL,    
  CREATEDBY,    
  CREATEDDATE,    
  CREATEDHOST,    
  UPDATEDBY,    
  UPDATEDDATE,    
  UPDATEDHOST)    
 SELECT    
  @HEADERID,    
  @UPLOADID,    
  @ME_CODE,    
  PERIOD,    
  VAL,    
  @CREATEDBY,    
  @CREATEDDATE,    
  @CREATEDHOST,    
  @UPDATEDBY,    
  @UPDATEDDATE,    
  @UPDATEDHOST    
 FROM TEMP    
    
 DROP TABLE TEMP    
    
END
GO
