USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DERIVEDPDRULENAME]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DERIVEDPDRULENAME]
(
	@RuleName VARCHAR(100) = ''
)  
AS
BEGIN

	create table #DerivedPDRuleName    
	(
		[PKID] bigint,
		[TM_RULE_NAME] varchar(50)
	)
	INSERT INTO #DerivedPDRuleName ([PKID], [TM_RULE_NAME]) values (0, '')

	IF @RuleName IS NOT NULL
		BEGIN
			insert into #DerivedPDRuleName    
				SELECT PKID, TM_RULE_NAME 
				FROM IFRS_PD_TRANS_MATRIX_CONFIG
				WHERE TM_RULE_NAME != @RuleName;

			select * from #DerivedPDRuleName	
		END

	ELSE
		BEGIN
			insert into #DerivedPDRuleName    
				SELECT PKID, TM_RULE_NAME 
				FROM IFRS_PD_TRANS_MATRIX_CONFIG
				WHERE TM_RULE_NAME IS NOT NULL;

			select * from #DerivedPDRuleName
		
		END;

END;

GO
