USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULEHCOUNT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_LOANMODULEHCOUNT]
(
    @DOWNLOADDATE as date = '1-JAN-2000',
	@DATASOURCE as varchar(20)='',
	@PRODUCTTYPE as varchar(20)='',
	@PRODUCTCODE as varchar(20)='',
	@PRODUCTGROUP as varchar(50)='',
	@FACILITYNUMBER as varchar(50)='',
	@CUSTOMERNUMBER as varchar(50)='',
	@CUSTOMERNAME AS VARCHAR(150)='',
    @ACCOUNTNUMBER as varchar(50)='',
	@SortColumn varchar(100)='',
    @Where as VARCHAR(1000)=''
)
AS
   DECLARE @Query AS VARCHAR(3000);
   DECLARE @DOWNLOAD_DATE_DD AS DATE;
BEGIN

IF @SortColumn = ''  
 BEGIN  
  SET @SortColumn = 'MASTER_ACCOUNT_CODE';  
 END

--IF @Where IS NOT NULL
--BEGIN
--	SET @Where = REPLACE(@Where,'DOWNLOAD_DATE','REPLACE(CONVERT(VARCHAR(20),[DOWNLOAD_DATE],106), '' '',''-'')')
--	SET @Where = REPLACE(@Where,'LOAN_START_DATE','REPLACE(CONVERT(VARCHAR(20),[LOAN_START_DATE],106), '' '',''-'')')
--	SET @Where = REPLACE(@Where,'LOAN_DUE_DATE','REPLACE(CONVERT(VARCHAR(20),[LOAN_DUE_DATE],106), '' '',''-'')')
--END
    
IF (CONVERT(DATE,@DOWNLOADDATE) ='1-JAN-2000')
	BEGIN
		select @DOWNLOAD_DATE_DD = currdate from IFRS_PRC_DATE
	END
ELSE
	BEGIN
		SELECT @DOWNLOAD_DATE_DD = CONVERT(date,@DOWNLOADDATE)
	END
    
	
    SET @Query =
        'SELECT COUNT(*) FROM (
        SELECT A.* FROM IFRS_MASTER_ACCOUNT A (NOLOCK)		
		LEFT JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)
			ON A.DATA_SOURCE = B.DATA_SOURCE AND A.PRODUCT_CODE = B.PRD_CODE AND B.INST_CLS_VALUE=''A''    
        WHERE '
        +' DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE_DD, 120)  +  ''''  
		+' AND A.DATA_SOURCE LIKE ''%LOAN%'' '  
		+ CASE WHEN @DATASOURCE <> '' THEN 'AND A.DATA_SOURCE = ''' + LTRIM(RTRIM(@DATASOURCE)) + ''' '    
			ELSE '' END
		+ CASE WHEN @PRODUCTGROUP <> '' THEN 'AND PRODUCT_GROUP LIKE ''%' + LTRIM(RTRIM(@PRODUCTGROUP)) + '%'' '
			ELSE '' END    
		+ CASE WHEN @PRODUCTCODE <> '' THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCTCODE)) + '%'' '    
			ELSE '' END    
		+ CASE WHEN @PRODUCTTYPE <> '' THEN 'AND PRODUCT_TYPE LIKE ''%' + LTRIM(RTRIM(@PRODUCTTYPE)) + '%'' '    
			ELSE '' END    
		+ CASE WHEN @FACILITYNUMBER <> '' THEN 'AND FACILITY_NUMBER LIKE ''%' + LTRIM(RTRIM(@FACILITYNUMBER)) + '%'' '    
			ELSE '' END    
		+ CASE WHEN @CUSTOMERNUMBER <> '' THEN 'AND CUSTOMER_NUMBER LIKE ''%' + LTRIM(RTRIM(@CUSTOMERNUMBER)) + '%'''    
			ELSE '' END    
		+ CASE WHEN @CUSTOMERNAME <> '' THEN 'AND CUSTOMER_NAME LIKE ''%' + LTRIM(RTRIM(@CUSTOMERNAME)) + '%'''    
			ELSE '' END    
		+ CASE WHEN @ACCOUNTNUMBER <> '' THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNTNUMBER)) + '%'''    
			ELSE '' END 
			+ ') X'
		+ CASE WHEN @Where <> '' THEN ' WHERE ' + @Where    
			ELSE '' END
  
   --PRINT @DOWNLOAD_DATE_DD         
	print @Query
	EXEC (@Query)
	
	
END
GO
