USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCURRENCY]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_LOOKUPCURRENCY]
(
	@blank bit
)  
AS
BEGIN

	--pertimbangan perbedaan deskripsi currency jika ambil dr load daily  
	--declare @counttable as int  
	--select @counttable=count(1) from sys.tables where name='IFRS_MASTER_EXCHANGE_RATES'  --CODE AS PRODUCT IFRS  
  
	create table #currency  
	(  
		[CCY] varchar(3),  
		[Currency] varchar(50)  
	)  
  
	IF (@blank = 1)  
	BEGIN  
		INSERT INTO #currency ([CCY],[Currency]) values ('ALL','All Currency')  
	END  
  
	--pertimbangan perbedaan deskripsi currency jika ambil dr load daily  
	--if (@counttable=1)  
	--begin  
	-- insert into #currency  
	-- select distinct currency "CCY",  
	-- (currency+' - '+currency_desc) "Currency"   
	-- from IFRS_MASTER_EXCHANGE_RATES  
	-- order by currency  
	--end  
	--else  
	--begin  
  
	insert into #currency  
	select CCY "CCY",  
		(CCY + ' - ' + CCY_DESC) "Currency"  
	from tblM_Currency  
	order by CCY  
	--end  
  
	select * from #currency  
  
	drop table #currency  
  
end;

GO
