USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_WEIGHTED_AVERAGE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_WEIGHTED_AVERAGE] (
   @Period          DATE='1900-01-01',
   @ProdGroup       int=0
   )
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT
		EFF_DATE AS "Period"
		,SUM(ZFAC_VAL) AS "Z(t)"
		,SUM(COSTFAC) AS "Cost"
	FROM IFRS_PD_ZFAC
	WHERE PD_RULE_ID = @ProdGroup
		AND EFF_DATE = @Period
	GROUP BY EFF_DATE

	--SELECT EFF_DATE AS "Date", PD AS "PD 12 Months" FROM IFRS_PD_MAA_WEIGHTED_AVG
	--WHERE PD_RULE_ID = @ProdGroup
	--	AND EFF_DATE = @Period

END

GO
