USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMHIERARCHY]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPD_PARAMHIERARCHY]
(
	@PKID bigint = 0
)          
AS
BEGIN  
	
	DELETE FROM [dbo].[GL_PARAM_HIERARCHY_HO]
	WHERE PKID = @PKID

END

GO
