USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_DEFRATE_CONFIG]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPS_PD_DEFRATE_CONFIG]
as
begin
select PKID, DR_RULE_NAME
from IFRS_PD_DEFAULT_RATE_CONFIG
end

GO
