USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADSEGMENTCOLUMN]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOADSEGMENTCOLUMN]    
(    
 @filter as varchar(10)    
)    
AS    
BEGIN    
     
 IF @filter = 'PD' OR @filter = 'ODR'   
 BEGIN    
	SELECT
		DISTINCT PKID ME_SOURCE_FILTER,      
		[TM_RULE_NAME] "Segment"     
	FROM IFRS_PD_RULES_CONFIG
	WHERE ISNULL(IS_DELETE, 0) = 0  
 END    
 ELSE    
 BEGIN    
	SELECT
		DISTINCT PKID ME_SOURCE_FILTER,      
		[LGD_RULE_NAME] "Segment"     
	FROM IFRS_LGD_RULES_CONFIG
	WHERE ISNULL(IS_DELETE, 0) = 0    
 END    
     
    
END 

GO
