USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_COMMONCODEDBYCODE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_COMMONCODEDBYCODE] 
@CommonCode varchar(20)  
AS   
    BEGIN  
 
        SELECT  *
        FROM    [dbo].[tblM_CommonCodeDetail] a  
		WHERE   CommonCode=@CommonCode and IS_DELETE = 0
    END





GO
