USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_SCENARIORULEH]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_SCENARIORULEH]
(@PKID bigint   )
AS
BEGIN
	
	UPDATE [IFRS_SCENARIO_RULES_DETAIL] SET IS_DELETE = 1 WHERE RULE_ID=@PKID
	UPDATE [IFRS_SCENARIO_RULES_HEADER] SET IS_DELETE = 1 WHERE PKID=@PKID
	
END

GO
