USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_MONITORINGPROCESS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_MONITORINGPROCESS]
@PRC_NAME varchar(20)='',
@Download_Date datetime='01/01/2000'
AS
BEGIN

	SELECT
        A.DOWNLOAD_DATE "Download Date",
		C.DESCRIPTION "Process Name",
        A.START_DATE "Start Process Time",
		A.END_DATE "End Process Time",
		A.PRC_PROCESS_TIME "Process Time",
		CONCAT(row_number() over (partition by prc_name order by counter), ' / ', C.VALUE3) AS "Counter",
		A.SP_NAME AS "Job Name",
		--A.SP_DESCRIPTION AS "Job Description",
		CASE WHEN ISCOMPLETE = 'N'
			THEN cast(ROUND(((CONVERT(FLOAT,row_number() over (partition by prc_name order by counter))-1)/CONVERT(FLOAT,C.VALUE3)),4) * 100 as varchar(10)) + ' %' 
			ELSE '100 %' END AS "Percentage",
        A.REMARK "Status"
	FROM IFRS_STATISTIC A WITH (NOLOCK)
    JOIN tblM_CommonCodeDetail C WITH (NOLOCK) ON COMMONCODE='MP001' and value1 = a.PRC_NAME--AND VALUE1 like '%'+@PRC_NAME
	WHERE A.DOWNLOAD_DATE=@Download_Date
	and c.VALUE1 like '%'+@PRC_NAME
	ORDER BY A.PKID DESC;
        
       
END;

GO
