USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_AC_APPROVEBMA_UPDATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_AC_APPROVEBMA_UPDATE]
(  
 @PKID bigint = 0,
 @APPROVAL_REMARKS varchar(2000) = '',
 @APPROVEDBY varchar(36) = '',
 @APPROVEDHOST varchar(30) = ''
)  
AS  
BEGIN
DECLARE @BMID bigint = 0
DECLARE @BMIDHIST bigint = 0
	
	--GET PKID BMA HEADER
	SELECT @BMID = PKID_OLD FROM IFRS_AC_BM_HEADER_PENDING WHERE PKID = @PKID

	--UPDATE BMA HEADER
	UPDATE A
			SET [COMMONCODEID] = B.COMMONCODEID,
			[BM_NAME] = B.BM_NAME,
			[SPPI_CLASS] = B.SPPI_CLASS,
			[EFFECTIVE_DATE] = B.EFFECTIVE_DATE,
			[STATUS] = 'APPROVED',
			[BM_RSLT] = B.BM_RSLT,
			[REMARKS] = B.REMARKS,
			[UPDATEDBY] = B.[CREATEDBY],
			[UPDATEDDATE] = B.[CREATEDDATE],
			[UPDATEDHOST] = B.[CREATEDHOST],
			[APPROVEDBY] = @APPROVEDBY,
			[APPROVEDDATE] = GETDATE(),
			[APPROVEDHOST] = @APPROVEDHOST
	FROM IFRS_AC_BM_HEADER A
	JOIN IFRS_AC_BM_HEADER_PENDING B ON A.PKID = B.PKID_OLD
	WHERE B.PKID = @PKID

	--INSERT INTO BMA HEADER HISTORY
	INSERT INTO IFRS_AC_BM_HEADER_HIST
	(
		[PKID_HEADER],
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],
		[STATUS],
		[BM_RSLT],
		[REMARKS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)
	SELECT
		@BMID,
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],'
		APPROVED',
		[BM_RSLT],
		[REMARKS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		@APPROVEDBY,
		GETDATE(),
		@APPROVEDHOST
	FROM IFRS_AC_BM_HEADER_PENDING WHERE PKID = @PKID
	
	--UPDATE BMA DETAIL
	UPDATE C
			SET [QUESTIONID] = D.[QUESTIONID],
				[VALUE] = D.[VALUE],
				[REMARK] = D.[REMARK],
				[SUPPORTING_DOC] = D.[SUPPORTING_DOC],
				[UPDATEDBY] = D.[CREATEDBY],
				[UPDATEDDATE] = D.[CREATEDDATE],
				[UPDATEDHOST] = D.[CREATEDHOST]
		--FROM IFRS_AC_BM_HEADER_PENDING A
		--JOIN IFRS_AC_BM_DETAIL_PENDING B ON A.PKID = B.BMID AND A.STATUS = 'PENDING'
		--JOIN IFRS_AC_BM_DETAIL C ON A.PKID_OLD = C.BMID AND B.QUESTIONID = C.QUESTIONID
		--WHERE B.BMID = @PKID
	FROM IFRS_AC_BM_DETAIL C
	JOIN IFRS_AC_BM_DETAIL_PENDING D ON C.PKID = D.PKID_DETAIL_OLD
	WHERE D.BMID_OLD = @BMID AND D.BMID = @PKID
		
	--GET BMID HIST
	SELECT @BMIDHIST = MAX(PKID) FROM IFRS_AC_BM_HEADER_HIST

	--INSERT INTO SPPI DETAIL HISTORY
	INSERT INTO IFRS_AC_BM_DETAIL_HIST
	(
		[BMID],
		[QUESTIONID],
		[VALUE],
		[REMARK],
		[SUPPORTING_DOC],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	)
    SELECT
		@BMIDHIST,
		[QUESTIONID],
		[VALUE],
		[REMARK],
		[SUPPORTING_DOC],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	FROM IFRS_AC_BM_DETAIL_PENDING
	WHERE --BMID =  @PKID
		BMID_OLD =  @BMID
		AND BMID = @PKID

	--GENERATE RESULT
	EXEC SP_IFRS_AC_GENERATE_RESULT @BMID

	--UPDATE STATUS PENDING
	UPDATE IFRS_AC_BM_HEADER_PENDING
		SET STATUS = 'APPROVED'
			,APPROVAL_REMARKS = @APPROVAL_REMARKS
			,APPROVEDBY = @APPROVEDBY
			,APPROVEDDATE = GETDATE()
			,APPROVEDHOST = @APPROVEDHOST
		WHERE PKID = @PKID

END
GO
