USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPQUERYDATA]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCedure [dbo].[USPS_LOOKUPQUERYDATA]  
AS   
    SET NOCOUNT ON   
      
    SELECT '[Create New Query]' 'QueryID', 0 'PKID' UNION ALL  
    SELECT  [QueryID] ,  
            [PKID]  
    FROM    [dbo].[tblM_QueryData]

GO
