USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_TMPMODELMEINDEPENDENT]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_TMPMODELMEINDEPENDENT]      
(      
    @MACRO_ECONOMIC_CODE varchar(50)='',      
    @LAG_VARIABLE smallint=0,      
    @PKID bigint= 0,      
 @IMPACT varchar(5)='',      
 @PKID_INDEPENDENT bigint=0,      
    @UpdatedBy varchar(36)='',      
    @UpdatedHost varchar(36)=''      
)      
AS      
BEGIN      
      
    UPDATE TMP_IFRS_INDEPENDENT_VARIABLE      
    SET MODEL_ID = @PKID      
        ,MACRO_ECONOMIC_CODE = @MACRO_ECONOMIC_CODE      
        ,LAG_VARIABLE = @LAG_VARIABLE      
  ,IMPACT_TO_DEPENDENT = @IMPACT      
        ,UPDATEDBY = @UpdatedBy      
  ,UPDATEDDATE = GETDATE()      
  ,UPDATEDHOST = @UpdatedHost      
 WHERE PKID = @PKID_INDEPENDENT      
      
END 
GO
