USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCOLUMNNAME]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPCOLUMNNAME]  
(  
	@value varchar(50),  
	@text varchar(50),  
	@filter varchar(200),  
	@blank bit  
)  
AS
BEGIN      
	DECLARE @query as varchar(MAX)  

	IF ( @blank=1 )   
	BEGIN  
		SET @query =  
            'SELECT *  
            FROM (  
                SELECT '' '' AS "' + @value  
                    + '" , ''ALL'' AS "'  
                    + @text  
                    + '", -1 AS "Sequence"   
                UNION  
                    SELECT CAST(Description AS VARCHAR(100)) AS "' + @value  
                + '",   
                CASE WHEN Description <> '' '' THEN  
                    (CAST(Value1 AS VARCHAR(100)) + '' - '' + Description)  
                ELSE  
                    CAST(Value1 AS VARCHAR(100))  
                END AS "'  
                + @text  
                + '"   
                , Sequence  
                FROM tblM_CommonCodeDetail      
                WHERE '  
                + @filter  
                + ' ) A  
            ORDER BY Sequence';
	END  
	ELSE  
	BEGIN  
        SET @query =  
            'SELECT CAST(VALUE1 AS VARCHAR(100)) AS "' + @value  
            + '" ,  
            CASE WHEN Description <> '' '' THEN   
                (CAST(Value1 AS VARCHAR(100)) + '' - '' + Description)  
            ELSE  
                CAST(Value1 AS VARCHAR(100))  
            END AS "'  
            + @text  
            + '"  
            FROM tblM_CommonCodeDetail      
            WHERE '  
            + @filter  
            + ' ORDER BY Sequence ';
    END;
  
	--PRINT @QUERY;
	EXEC (@query);
  
 END;

GO
