USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_ME_MODEL_SELECT_DERIVED_VARIABLE]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_ME_MODEL_SELECT_DERIVED_VARIABLE]      
 @modelId BIGINT,      
 @PKID BIGINT     
AS      
BEGIN      
 --update TMP_IFRS_MODEL_FILTER_CORTEST set VARIABLE_SELECTION = 1 where MODEL_ID = @modelId AND LOOKUPINITIAL = @derivedType      
 --AND CORRELATION_VAL = @corValue      
    
 UPDATE TMP_IFRS_1MEVLM_RESULT_DTL SET VARIABLE_SELECTION = 1 WHERE MODEL_ID = @modelId AND PKID = @PKID
    
 SELECT * FROM TMP_IFRS_1MEVLM_RESULT_DTL WHERE MODEL_ID = @modelId AND VARIABLE_SELECTION = 1    
     
END 
GO
