USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_DATA_ARCHIVING]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LI_DATA_ARCHIVING] (@BATCHID INT)    
AS
BEGIN    
    
  DECLARE    
  @V_PKID INTEGER,    
  @V_SOURCE_TABLE VARCHAR(100),    
  @V_DESTINATION_TABLE VARCHAR(100),    
  @TABLE_CATALOG VARCHAR(100),    
  @TABLE_SCHEMA VARCHAR(100),    
  @V_DATA_RETENTION INTEGER,    
  @V_SPECIFIC_FIELD VARCHAR(50),    
  @V_TYPE INTEGER,    
  @V_EXEC_STR VARCHAR(8000),    
  @V_RETENTION_DATE DATE,    
  @V_CURRDATE DATE,    
  @V_PREVDATE DATE,    
  @DESTINATION_RECORD_COUNT NUMERIC(32,6),    
  @SOURCE_RECORD_COUNT NUMERIC(32,6),    
  @V_SCHEMA_TABLE VARCHAR(1000),    
  @CHECKTABLE VARCHAR(1000)    
      
    
  SELECT @V_CURRDATE = CURRDATE,@V_PREVDATE = PREVDATE FROM IFRS_LI_PRC_DATE_AMORT    
    
  IF OBJECT_ID('IFRS_LI_RETENTION_TEMP') IS NOT NULL DROP TABLE IFRS_LI_RETENTION_TEMP    
    
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'START'  
  ,'SP_IFRS_LI_DATA_ARCHIVING'  
  ,''  
  )  
    
  
    
  SELECT *,PROCEED_STATUS=0 INTO IFRS_LI_RETENTION_TEMP    
    FROM IFRS_LI_RETENTION (NOLOCK)    
    ORDER BY PKID ASC    
    
  DELETE FROM IFRS_LI_ARCHIVING_LOG WHERE POSITION_DATE = @V_CURRDATE    
    
  WHILE EXISTS (SELECT TOP 1 PKID FROM IFRS_LI_RETENTION_TEMP (NOLOCK) WHERE PROCEED_STATUS = 0)    
    BEGIN    
      SELECT @V_PKID = PKID,    
             @V_SOURCE_TABLE = SOURCE_TABLE,    
             @V_DESTINATION_TABLE = DESTINATION_TABLE,    
             @TABLE_CATALOG = TABLE_CATALOG,    
             @TABLE_SCHEMA = TABLE_SCHEMA,                 
             @V_DATA_RETENTION = DATA_RETENTION,    
             @V_SPECIFIC_FIELD = SPECIFIC_FIELD,    
             @V_TYPE = TYPE    
        FROM IFRS_LI_RETENTION_TEMP (NOLOCK)    
       WHERE PROCEED_STATUS = 0    
    
      SET @V_RETENTION_DATE = DATEADD(DD,@V_DATA_RETENTION*-1,@V_CURRDATE)    
    
   -- CREATE TABLE DESTINATION FROM SOURCE    
   SET @V_SCHEMA_TABLE = @TABLE_CATALOG+'.INFORMATION_SCHEMA.TABLES'    
   SET @CHECKTABLE = 'SELECT TABLE_NAME FROM '+@V_SCHEMA_TABLE+' WHERE TABLE_NAME='+''''+@V_DESTINATION_TABLE+''''    
   EXEC(@CHECKTABLE)         
   IF @@ROWCOUNT =0    
   BEGIN     
   SET @V_EXEC_STR = 'SELECT TOP 0 * INTO '+@TABLE_CATALOG+'.'+@TABLE_SCHEMA+'.'+@V_DESTINATION_TABLE+' FROM ' +@V_SOURCE_TABLE    
   EXECUTE(@V_EXEC_STR)    
   END    
       
      -- DELETE MASTER TABLE BEFORE INSERT DATA    
      SET @V_EXEC_STR='DELETE FROM '+@TABLE_CATALOG+'.'+@TABLE_SCHEMA+'.'+@V_DESTINATION_TABLE+' WHERE '+@V_SPECIFIC_FIELD+' = '''+CONVERT(VARCHAR,@V_CURRDATE,112)+''''    
      EXECUTE(@V_EXEC_STR)    
           
      --    
      -- INSERT FROM MASTER TABLE TO ARCHIVE TABLE    
      SET @V_EXEC_STR='INSERT INTO '+@TABLE_CATALOG+'.'+@TABLE_SCHEMA+'.'+@V_DESTINATION_TABLE+' SELECT * FROM '+@V_SOURCE_TABLE+' WHERE '+@V_SPECIFIC_FIELD+' = '''+CONVERT(VARCHAR,@V_CURRDATE,112)+''''    
      EXECUTE(@V_EXEC_STR)    
          
      --    
      -- FEEDING DATA TO LOG TABLE    
      SET @V_EXEC_STR='INSERT INTO IFRS_LI_ARCHIVING_LOG SELECT '''+CONVERT(VARCHAR,@V_CURRDATE,112)+''', '''+@V_SOURCE_TABLE+''',COUNT(*),'''+@TABLE_CATALOG+'.'+@TABLE_SCHEMA+'.'+@V_DESTINATION_TABLE+''',0  FROM '+@V_SOURCE_TABLE+' WHERE '+@V_SPECIFIC_FIELD+' = '''+CONVERT(VARCHAR,@V_CURRDATE,112)+''''    
      EXECUTE(@V_EXEC_STR)    
         
      SET @V_EXEC_STR='UPDATE IFRS_LI_ARCHIVING_LOG SET DESTINATION_RECORD_COUNT = (SELECT COUNT(*) FROM '+@TABLE_CATALOG+'.'+@TABLE_SCHEMA+'.'+@V_DESTINATION_TABLE+' WHERE '+@V_SPECIFIC_FIELD+' = '''+CONVERT(VARCHAR,@V_CURRDATE,112)+''') WHERE S  
OURCE_TABLE = '''+@V_SOURCE_TABLE+''' AND POSITION_DATE = ''' + CONVERT(VARCHAR,@V_CURRDATE,112) + ''''    
    
      EXECUTE(@V_EXEC_STR)    
          
      --    
      -- SETTING PARAMETER FOR CHECK COUNT AND SUM    
      SET @DESTINATION_RECORD_COUNT=(SELECT ISNULL(DESTINATION_RECORD_COUNT,0) FROM IFRS_LI_ARCHIVING_LOG (NOLOCK) WHERE SOURCE_TABLE = @V_SOURCE_TABLE AND POSITION_DATE = @V_CURRDATE)    
  SET @SOURCE_RECORD_COUNT=(SELECT ISNULL(SOURCE_RECORD_COUNT,0) FROM IFRS_LI_ARCHIVING_LOG (NOLOCK) WHERE SOURCE_TABLE = @V_SOURCE_TABLE AND POSITION_DATE = @V_CURRDATE)    
           
      --    
      -- SKENARIO GAGAL    
      --IF (UPPER(@V_SOURCE_TABLE) = 'IFRS_JOURNAL_DATA')    
      --BEGIN    
      -- SET @DESTINATION_RECORD_COUNT = 999999    
      --      
      --END    
      --    
      -- WHAT IF CONDISION TO DELETE MASTER TABLE (JIKA COUNT DAN SUM SAMA BARU DI DELETE)    
      IF(@DESTINATION_RECORD_COUNT = @SOURCE_RECORD_COUNT)    
        BEGIN    
          SET @V_EXEC_STR='DELETE FROM '+@V_SOURCE_TABLE+' WHERE '+@V_SPECIFIC_FIELD+' <= '''+CONVERT(VARCHAR,@V_RETENTION_DATE,112)+''''    
          EXECUTE(@V_EXEC_STR)    
               
          UPDATE IFRS_LI_RETENTION_TEMP SET    
            PROCEED_STATUS = 1 WHERE    
            PKID = @V_PKID    
               
        END    
      ELSE    
        -- RAISE ERROR IF COUNT OR SUM OF DIDN'T MATCH    
        BEGIN    
          RAISERROR ('COUNT OF ROW ARCHIVING DID NOT MATCH!', 16, 1)  
          RETURN  
        END    
    END    
   
    
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'END'  
  ,'SP_IFRS_LI_DATA_ARCHIVING'  
  ,''  
  )   
    
END    
    
	
	

GO
