USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_AC_CORPORATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_AC_CORPORATE]    
(    
    @DOWNLOAD_DATE as date = '1/1/1900',    
    @BUSINESS_UNIT as varchar(20)='',    
    @Where as VARCHAR(1000)='',    
    @pageNumber as INT,    
    @pageSize as INT,    
    @SortColumn as varchar(100)=''    
)    
AS    
BEGIN    
    
DECLARE @Query AS VARCHAR(3000);    
     
IF @SortColumn = ''    
BEGIN    
	SET @SortColumn = 'FACILITY_NUMBER';    
END    
     
IF @pageSize = 0    
BEGIN    
	SET @pageSize = 1    
END   
             
SET @Query =    
	'SELECT
		A.DOWNLOAD_DATE,    
		A.FACILITY_NUMBER,    
		CUSTOMER_NAME,    
		A.BM_RESULT,
		A.SPPI_RESULT,
		IFRS9_CLASS,
		A.DOWNLOAD_DATE AS EFFECTIVE_DATE,
		A.DOWNLOAD_DATE AS LAST_REVIEW_DATE,
		CASE WHEN A.FACILITY_NUMBER = B.FACILITY_NUMBER THEN ''UPLOAD'' ELSE ''SYSTEM'' END AS CREATEDBY
	FROM IFRS_MASTER_ACCOUNT A (NOLOCK)    
	LEFT JOIN IFRS_ASSET_CLASSIFICATION_CORP B (NOLOCK) ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE AND A.FACILITY_NUMBER = B.FACILITY_NUMBER
	WHERE '
	+' A.DOWNLOAD_DATE = ''' + CAST(@DOWNLOAD_DATE AS varchar(20))  +  ''''    
	+' AND A.DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''B1031'' AND PARENTCOMMONCODEVALUE = ''' + @BUSINESS_UNIT  +  ''' AND ISNULL(IS_DELETE,0) = 0) '
	+ CASE WHEN @Where <> '' THEN ' WHERE ' + @Where    
        ELSE '' END       
	+'ORDER BY ' + @SortColumn + '    
	OFFSET ' + CAST(@pageNumber AS VARCHAR) + ' ROWS    
	FETCH NEXT ' + CAST(@pageSize AS VARCHAR) + ' ROWS ONLY OPTION (RECOMPILE);';    
    
PRINT (@Query);    
EXEC (@Query);    
                  
END;

GO
