USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_QUERYFIELDSETTINGS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_QUERYFIELDSETTINGS]
(
	@CountryID VARCHAR(4000) = ' ' ,
	@ModuleID VARCHAR(4000) = ' ' ,
	@QueryID VARCHAR(4000) = ' ' ,
	@RptColumns VARCHAR(4000) = ' ' ,
	@RptArea VARCHAR(4000) = ' ' ,
	@SummaryType VARCHAR(4000) = ' ' ,
	@FormatString VARCHAR(4000) = ' ' ,
	@FieldIndex FLOAT = 0 ,
	@CreatedBy VARCHAR(4000) = ' ' ,
	@CreatedHost VARCHAR(4000) = ' ' 
)
AS
BEGIN

	INSERT INTO tblM_QueryFieldSettings
	( 
		CountryID, 
		ModuleID, 
		QueryID, 
		RptColumns, 
		RptArea, 
		SummaryType, 
		FormatString, 
		FieldIndex, 
		CreatedBy, 
		CreatedDate, 
		CreatedHost
	)
	VALUES 
	(
		@CountryID, 
		@ModuleID, 
		@QueryID, 
		@RptColumns, 
		@RptArea, 
		@SummaryType, 
		@FormatString, 
		@FieldIndex, 
		@CreatedBy, 
		GETDATE(), 
		@CreatedHost  
	);

END;

GO
