USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_UPLOADMETEMPFORECAST]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_UPLOADMETEMPFORECAST]      
(  
 @ME_CODE VARCHAR(100) = NULL      
)      
AS      
BEGIN
	
	DELETE FROM IFRS_ME_FORECAST_DETAIL_TEMP WHERE ME_CODE = @ME_CODE

END
     
GO
