USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_FILL_SIT_COHORT_FRANS_SEQUENCE]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EXEC_FILL_SIT_COHORT_FRANS_SEQUENCE] @START DATE, @END DATE , @SEGMENT varchar(50),@PD_NAME varchar(100)   
AS     
BEGIN     
    
  DECLARE @CURRDATE DATE
  DECLARE @DEFAULTRULEID INT
  set @DEFAULTRULEID= (select default_rule_id from IFRS_PD_RULES_CONFIG where tm_rule_name=@PD_NAME) 
 WHILE @START <= @END    
 BEGIN        
  SET @CURRDATE = EOMONTH(@START)
    
		print @start

delete FRANS_SIT_COHORT where snapshot=@CURRDATE and segment=@SEGMENT;

insert into FRANS_SIT_COHORT
(segment,snapshot,bucket_name,noa,default_y1,default_y2,default_y3,default_y4,default_y5,default_y6)
select @SEGMENT as segment,a.snapshot,a.BUCKET_NAME,count(1) as NOA,
sum(a.default_y1) as DEFAULT_Y1,sum(a.default_y2) as DEFAULT_Y2,
sum(default_y3) as DEFAULT_Y3,sum(default_y4) as DEFAULT_Y4, 
sum(default_y5) as DEFAULT_Y5,sum(default_y6) as DEFAULT_Y6
 from
(
select a.DOWNLOAD_DATE as SNAPSHOT,
case when c.fp_flag=1 and a.DAY_PAST_DUE<=180 then 'FP'
when d.MASTERID is not null then 'NPL'
else b.BUCKET_NAME 
end
as BUCKET_NAME,
case when exists
(
select * from ifrs_default
where RULE_ID=@DEFAULTRULEID
and MASTERID=a.masterid
and DOWNLOAD_DATE between eomonth(dateadd(month,1,a.DOWNLOAD_DATE)) and eomonth(dateadd(year,1,a.download_date))) then 1 else 0 end as default_y1
,
case when exists
(
select * from ifrs_default
where RULE_ID=@DEFAULTRULEID
and MASTERID=a.masterid
and DOWNLOAD_DATE between eomonth(dateadd(month,1,a.DOWNLOAD_DATE)) and eomonth(dateadd(year,2,a.download_date))) then 1 else 0 end as default_y2
,
case when exists
(
select * from ifrs_default
where RULE_ID=@DEFAULTRULEID
and MASTERID=a.masterid
and DOWNLOAD_DATE between eomonth(dateadd(month,1,a.DOWNLOAD_DATE)) and eomonth(dateadd(year,3,a.download_date))) then 1 else 0 end as default_y3
,
case when exists
(
select * from ifrs_default
where RULE_ID=@DEFAULTRULEID
and MASTERID=a.masterid
and DOWNLOAD_DATE between eomonth(dateadd(month,1,a.DOWNLOAD_DATE)) and eomonth(dateadd(year,4,a.download_date))) then 1 else 0 end as default_y4
,
case when exists
(
select * from ifrs_default
where RULE_ID=@DEFAULTRULEID
and MASTERID=a.masterid
and DOWNLOAD_DATE between eomonth(dateadd(month,1,a.DOWNLOAD_DATE)) and eomonth(dateadd(year,5,a.download_date))) then 1 else 0 end as default_y5
,
case when exists
(
select * from ifrs_default
where RULE_ID=@DEFAULTRULEID
and MASTERID=a.masterid
and DOWNLOAD_DATE between eomonth(dateadd(month,1,a.DOWNLOAD_DATE)) and eomonth(dateadd(year,6,a.download_date))) then 1 else 0 end as default_y6
from ifrs_master_account_monthly a with (NOLOCK)
left join
IFRS_BUCKET_DETAIL b with (NOLOCK)
on 
b.BUCKET_GROUP='DPD_5_001'
and
(
(
a.segment='MB' and a.DPD_CIF between b.RANGE_START and b.RANGE_END
)
or
(
a.segment<>'MB' and a.DAY_PAST_DUE between b.RANGE_START and b.RANGE_END
)
)
left join  IFRS_IMP_DEFAULT_STATUS c with (NOLOCK)
on a.DOWNLOAD_DATE=c.DOWNLOAD_DATE
and a.MASTERID=c.MASTERID
left join IFRS_DEFAULT d with (NOLOCK)
on a.MASTERID=d.MASTERID
and a.DOWNLOAD_DATE=d.DOWNLOAD_DATE
and d.RULE_ID=@DEFAULTRULEID
where a.DOWNLOAD_DATE  = @CURRDATE
and a.SEGMENT=@SEGMENT
)a
group by  a.snapshot,a.BUCKET_NAME
    
  SET @START = EOMONTH(DATEADD(M,1,@START))    
    
 END     
    
END


GO
