USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULEJOURNALIMPAIR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOANMODULEJOURNALIMPAIR]
(
    @DDATE_MAID VARCHAR(50)=''
)
AS
BEGIN


		SELECT  A.DOWNLOAD_DATE,
				A.MASTERID,
				A.BRANCH_CODE,
				B.RATE_AMOUNT,
				A.GL_ACCOUNT,
				A.JOURNAL_TYPE,
				A.JOURNAL_DESC,
				A.CURRENCY,
				A.TXN_TYPE AS DB_CR,
				A.REVERSAL_FLAG AS REVERSE,
				A.AMOUNT_IDR AS AMOUNT_BASE,
				A.AMOUNT
		FROM IFRS_IMP_JOURNAL_DATA A (NOLOCK)
		LEFT JOIN IFRS_MASTER_EXCHANGE_RATE B
		ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE AND A.CURRENCY = B.CURRENCY
		WHERE A.MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))
		AND A.DOWNLOAD_DATE <= CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10), 111)
		ORDER BY A.DOWNLOAD_DATE ASC,A.JOURNAL_TYPE ASC,A.CURRENCY ASC,A.REVERSAL_FLAG ASC,A.TXN_TYPE DESC


END;


GO
