USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_ECLREJECT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_ECLREJECT](
	@PKID bigint,
	@REMARK varchar(500),
	@REJECTEDBY varchar(36),
	@REJECTEDHOST varchar(36)
)
AS 
BEGIN
	UPDATE	IFRS_ECL_MODEL_HEADER_PENDING 
	SET		APPROVAL_STATUS = 'R',
			APPROVEDBY = @REJECTEDBY,
			APPROVEDHOST = @REJECTEDBY,
			APPROVEDDATE = GETDATE()
	WHERE	PKID = @PKID
END

GO
