USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPFLMODEL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPFLMODEL]
AS        
BEGIN      
      
	SELECT
		PKID,
		MODEL_NAME
	FROM IFRS_MACRO_ECONOMIC_MODEL
	WHERE STATUS = 'M'
		AND IS_DELETE = 0
		AND PKID IN (SELECT MODEL_ID FROM IFRS_ME_SCALAR_HEADER WHERE IS_DELETE = 0)
      
END;   
GO
