USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_UPDATEJOBH]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_UPDATEJOBH]
(
	@PKID BIGINT, 
	@Status VARCHAR(50), 
	@Message VARCHAR(1000), 
	@UpdatedBy VARCHAR(36)
)
AS
BEGIN

	SET NOCOUNT ON;
       
	UPDATE TblT_ServiceJobsHeader
	SET [Status] = @Status,
		[Message] = @Message,
		[UpdatedBy] = @UpdatedBy,
		[UpdatedDate] = GETDATE()
	WHERE PKID = @PKID;
   
	IF @Status = 'Failed' OR @Status = 'Success'
	BEGIN
		UPDATE TblT_ApplicationLog
		SET Status = @Status,
			Message = @Message,
			Finish = GETDATE()
		WHERE JobId = @PKID;
	END

END

GO
