USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_DELETEWITHAPPROVAL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPD_DELETEWITHAPPROVAL]
(
    @PKID BIGINT
)
AS
BEGIN

	SET IDENTITY_INSERT dbo.IFRS_ASSET_CLASS_HEADER_PEND ON
	INSERT INTO IFRS_ASSET_CLASS_HEADER_PEND  (PKID,CLASS_NAME, CLASS_LEVEL, CLASS_ID, EFFECTIVE_DATE, STATUS, SPPI_RSLT, BM_RSLT, ASSET_CLASS,
	ASSET_CLASS_ORI, RESULT_STATUS, CREATEDBY, CREATEDDATE, CREATEDHOST, ACTIONS)
	SELECT PKID,CLASS_NAME, CLASS_LEVEL, CLASS_ID, EFFECTIVE_DATE, 'PENDING', SPPI_RSLT, BM_RSLT, ASSET_CLASS,
	ASSET_CLASS_ORI, RESULT_STATUS, CREATEDBY, CREATEDDATE, CREATEDHOST, 'D'
	FROM IFRS_ASSET_CLASS_HEADER
	WHERE PKID=@PKID;	  

	INSERT INTO IFRS_ASSET_CLASS_BM_DETAIL_PEND  (ASSET_ID, COMMONCODE_DTL, SELECTED_VALUE, REMARK, CREATEDBY, CREATEDDATE, CREATEDHOST)
	SELECT ASSET_ID, COMMONCODE_DTL, SELECTED_VALUE, REMARK, CREATEDBY, CREATEDDATE, CREATEDHOST
	FROM IFRS_ASSET_CLASS_BM_DETAIL A 
	WHERE A.ASSET_ID=@PKID ORDER BY COMMONCODE_DTL ASC;

	INSERT INTO IFRS_ASSET_CLASS_SPPI_DETAIL_PEND (ASSET_ID, COMMONCODE_DTL, COMMONCODE_VALUE1, SELECTED_VALUE, REMARK, CREATEDBY, CREATEDDATE, CREATEDHOST)
	SELECT ASSET_ID, COMMONCODE_DTL, COMMONCODE_VALUE1, SELECTED_VALUE, REMARK, CREATEDBY, CREATEDDATE, CREATEDHOST
	FROM IFRS_ASSET_CLASS_SPPI_DETAIL A 
	WHERE A.ASSET_ID=@PKID ORDER BY COMMONCODE_DTL ASC;
	
	UPDATE IFRS_ASSET_CLASS_HEADER SET STATUS='PENDING' WHERE PKID = @PKID;

END;

GO
