USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSCENARIORULE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPSCENARIORULE]
(
    @RuleType Varchar(50)
)
AS
BEGIN
SET NOCOUNT ON;

        SELECT PKID AS "CODE",
            RULE_NAME "DESC"
        FROM IFRS_SCENARIO_RULES_HEADER
        WHERE RULE_TYPE = @RuleType;

END;

GO
