USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TRADEFINANCEMODULEH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_TRADEFINANCEMODULEH]
(
    @DOWNLOAD_DATE as date = '1/1/1900',
    @DATA_SOURCE as varchar(20)='',
    @PRODUCT_TYPE as varchar(20)='',
    @PRODUCT_CODE as varchar(20)='',
	@PRODUCT_GROUP  as varchar(25)='',
    @FACILITY_NUMBER as varchar(50)='',
    @CUSTOMER_NUMBER as varchar(50)='',
    @ACCOUNT_NUMBER as varchar(50)='',
    @Where as VARCHAR(1000)='',
    @pageNumber as INT,
    @pageSize as INT,
    @SortColumn as varchar(100)=''
)
AS
BEGIN

	DECLARE @Query AS VARCHAR(3000);
	DECLARE @DOWNLOAD_DATE_DD AS DATE;
 
	IF @SortColumn = ''
	BEGIN
		SET @SortColumn = 'MASTER_ACCOUNT_ID';
	END
 
	IF @pageSize = 0
	BEGIN
		SET @pageSize = 1
	END
 
    IF (CONVERT(DATE, @DOWNLOAD_DATE) ='1/1/1900')
    BEGIN
		SELECT @DOWNLOAD_DATE_DD = currdate FROM IFRS_PRC_DATE
    END
    ELSE
    BEGIN
        SELECT @DOWNLOAD_DATE_DD = CONVERT(DATE, @DOWNLOAD_DATE)
    END
    
    SET @Query =
		'SELECT CONVERT(varchar(50), download_date, 111) + MASTER_ACCOUNT_ID DDATE_MAID,
			DOWNLOAD_DATE,
			ACCOUNT_NUMBER,
			DATA_SOURCE,
			PRODUCT_GROUP,
			PRODUCT_TYPE,
			PRODUCT_CODE,
			FACILITY_NUMBER,
			CUSTOMER_NUMBER,
			CUSTOMER_NAME,
			ACCOUNT_STATUS,
			ISNULL(OUTSTANDING,0) AS OUTSTANDING,
			CURRENCY,
			EXCHANGE_RATE,
			LOAN_START_DATE,
			LOAN_DUE_DATE,
			INTEREST_RATE,
			LOAN_START_AMORTIZATION,
			LOAN_END_AMORTIZATION,
			ISNULL(FAIR_VALUE_AMOUNT,0) AS FAIR_VALUE_AMOUNT,
			ISNULL(INITIAL_UNAMORT_ORG_FEE,0) AS INITIAL_UNAMORT_ORG_FEE,
			ISNULL(INITIAL_UNAMORT_TXN_COST,0) AS INITIAL_UNAMORT_TXN_COST,
			ISNULL(UNAMORT_FEE_AMT,0) AS UNAMORT_FEE_AMT,
			ISNULL(UNAMORT_COST_AMT,0) AS UNAMORT_COST_AMT,
			ISNULL(EAD_AMOUNT,0) AS EAD_AMOUNT,
			ISNULL(ECL_AMOUNT,0) AS ECL_AMOUNT,
			ISNULL(IA_UNWINDING_SUM_AMOUNT, 0)+ISNULL(CA_UNWINDING_AMOUNT,0) "UNWINDING_AMT"           
		FROM IFRS_MASTER_ACCOUNT                                  
		WHERE '
		+ CASE WHEN @Where <> '' THEN
			@Where
        ELSE
			' DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE_DD, 120)  +  ''' '
			+ CASE WHEN @DATA_SOURCE <> '' 
				THEN 'AND DATA_SOURCE LIKE ''%' + LTRIM(RTRIM(@DATA_SOURCE)) + '%'' '
				ELSE 'AND DATA_SOURCE in (''L/C'',''B/G'',''ACCEPTANCE'') '
			END
			+ CASE WHEN @PRODUCT_GROUP <> '' 
				THEN 'AND PRODUCT_GROUP LIKE ''%' + LTRIM(RTRIM(@PRODUCT_GROUP)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @PRODUCT_CODE <> '' 
				THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_CODE)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @PRODUCT_TYPE <> '' 
				THEN 'AND PRODUCT_TYPE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_TYPE)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @FACILITY_NUMBER <> '' 
				THEN 'AND FACILITY_NUMBER LIKE ''%' + LTRIM(RTRIM(@FACILITY_NUMBER)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @CUSTOMER_NUMBER <> '' 
				THEN 'AND CUSTOMER_NUMBER LIKE ''%' + LTRIM(RTRIM(@CUSTOMER_NUMBER)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @ACCOUNT_NUMBER <> '' 
				THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNT_NUMBER)) + '%'' '
				ELSE ''
			END
		END
		+ '
		ORDER BY ' + @SortColumn + '
		OFFSET ' + CAST(@pageNumber AS VARCHAR) + ' ROWS
		FETCH NEXT ' + CAST(@pageSize AS VARCHAR) + ' ROWS ONLY OPTION (RECOMPILE);';
	PRINT @Query;
	EXEC (@Query);
              
END;

GO
