USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_FL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_PD_FL]
AS
BEGIN
	SELECT
		A.PKID RULE_ID
		,TM_RULE_NAME RULE_NAME
		,B.SUB_SEGMENT PD_SEGMENT
	FROM IFRS_PD_RULES_CONFIG A, IFRS_MSTR_SEGMENT_RULES_HEADER B
	WHERE A.SEGMENTATION_ID = B.PKID
		AND A.IS_DELETE = 0
	ORDER BY RULE_ID
END

GO
