USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETPROCESSJOBDETAIL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETPROCESSJOBDETAIL]
(
	@jobno VARCHAR(200)
)
AS
BEGIN

	SELECT CAST(0 AS BIT) AS selected, * 
	FROM tblM_CommonTableDetail NOLOCK
	WHERE JobNo = @jobno

END

GO
