USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_NAME_HDR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ECL_NAME_HDR] (  
   @PKID bigint  
)  
AS  
BEGIN  
SET NOCOUNT ON;  
        SELECT *  
        FROM IFRS_ECL_MODEL_HEADER  
        WHERE IS_DELETE=0 AND PKID = @PKID;  
END;

GO
