USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TREASURYMODULEJOURNALIMP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_TREASURYMODULEJOURNALIMP]
(
    @DDATE_MAID VARCHAR(50)=''
)
AS
BEGIN
   
	SELECT DOWNLOAD_DATE,
		ACCOUNT_NUMBER AS ACCOUNT_NUMBER,
		GL_ACCOUNT,
		JOURNAL_TYPE,
		JOURNAL_DESC,
		CURRENCY,
		TXN_TYPE AS DB_CR,
		AMOUNT,
		REVERSAL_FLAG AS REVERSE
    FROM IFRS_IMP_JOURNAL_DATA
    WHERE ACCOUNT_NUMBER = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))
        AND DOWNLOAD_DATE <= CONVERT(VARCHAR, SUBSTRING(@DDATE_MAID, 1, 10), 111)
    ORDER BY DOWNLOAD_DATE, JOURNAL_TYPE, CURRENCY, REVERSAL_FLAG DESC, DB_CR DESC; 
    
END;


GO
