USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_AC_BMAPENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_AC_BMAPENDING]  
(    
 @userid varchar(36)=''  
)    
AS    
select model.PKID, IIF(model.BM_NAME != '',model.BM_NAME,model.BM_NAME_OLD) AS BM_NAME --SPPI_CLASS   
, model.STATUS,(     
   SELECT FullName     
   FROM tblM_User U    
   WHERE U.pkid = model.CREATEDBY     
  ) as [AssesstmentName],  
  model.CREATEDDATE [AssessmentDate],  
  (SELECT FULLNAME FROM TBLM_USER WHERE PKID = (SELECT REPORTTO     
   FROM TBLM_REPORTTO U    
   WHERE U.REPORTTO = @userid  
    and U.USERID = model.CREATEDBY)  
  ) as [ApproverName],  
  CASE BM_RSLT
  WHEN 'AFS' THEN 'Hold to Collect and Sell'
  WHEN 'HTM' THEN 'Hold to Collect'
  WHEN 'TRADE' THEN 'Others'
  END AS BM_RSLT,  
  ACTION  
from IFRS_AC_BM_HEADER_PENDING model  
  LEFT JOIN TBLM_REPORTTO r on model.CREATEDBY = r.USERID  
  --LEFT JOIN IFRS_AC_SPPI_HEADER header ON model.SPPI_CLASS = header.PKID  
WHERE ISNULL(r.ReportTo, model.CREATEDBY) = @userid AND  
  model.STATUS = 'PENDING'  
ORDER BY model.CREATEDDATE DESC
GO
