USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKPARAMCOAPLBYGLCODE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_CHECKPARAMCOAPLBYGLCODE]
(
	@GLCode varchar(9)
	,@PKID bigint = 0
)
AS
BEGIN

	SELECT *
    FROM GL_PARAM_COA_PL_HO
	WHERE GLCode = @GLCode
		AND PKID <> @PKID

END

GO
