USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SEGMENTATIONTRY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SEGMENTATIONTRY]  
(            
 @SEGMENT_TYPE varchar(50) = ''         
)     
AS    
BEGIN    
  
SELECT  
  PKID,    
  GROUP_SEGMENT,    
  SEGMENT,    
  SUB_SEGMENT,   
  SEGMENT_TYPE,  
  SEQUENCE  
  FROM IFRS_MSTR_SEGMENT_RULES_HEADER  
  WHERE SEGMENT_TYPE= '' + @SEGMENT_TYPE + '' and ISNULL(IS_DELETE,0) != 1 order by SEQUENCE;             
  
END;
GO
