USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_LOGONACTIVITIES]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_LOGONACTIVITIES]
	-- Add the parameters for the stored procedure here
    @UserID UNIQUEIDENTIFIER ,
    @UserActivityID VARCHAR(50) ,
    @LoginIP VARCHAR(30)
AS 
    BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
        SET NOCOUNT ON ;

    -- Insert statements for procedure here
        INSERT  INTO dbo.tblT_LogonActivities
                ( UserID ,
                  UserActivityID ,
                  LoginDate ,
                  LoginIP
	          )
        VALUES  ( @UserID ,
                  @UserActivityID ,
                  CURRENT_TIMESTAMP ,
                  @LoginIP
	          )
    END






GO
