USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_ECLMODELRESULTDETAIL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_ECLMODELRESULTDETAIL]           
(        
 @DATA_SOURCE VARCHAR(100),       
 @DOWNLOAD_DATE DATE,      
 @SEGMENT VARCHAR(100),      
 @SUB_SEGMENT VARCHAR(100),      
 @STAGE VARCHAR(10),      
 @BUCKET_ID INT,  
 @IMPAIRED_FLAG VARCHAR(1),  
 @EXCLUSION_FLAG VARCHAR(1)     
)        
AS             
BEGIN         
      
 SELECT      
  CUSTOMER_NAME,      
  A.CUSTOMER_NUMBER,      
  FACILITY_NUMBER,      
  A.MASTERID,      
  A.ACCOUNT_NUMBER,      
  BRANCH_CODE,      
  DPD_FINAL,      
  BI_COLLECTABILITY,      
  ISNULL(RESTRUCTURE_COLLECT_FLAG, 0) AS RESTRUCTURE_COLLECT_FLAG,      
  DEFAULT_FLAG,      
  LOAN_START_DATE,      
  LOAN_DUE_DATE,      
  REMAINING_TENOR,      
  CURRENCY,      
  ISNULL(EXCHANGE_RATE, 1) AS EXCHANGE_RATE,      
  INTEREST_RATE,      
  EIR,      
  OUTSTANDING,      
  INTEREST_ACCRUED,      
  UNAMORT_COST_AMT+UNAMORT_FEE_AMT AS UNAMORT_AMOUNT,      
  ECL_AMOUNT_BFL,      
  ECL_AMOUNT_BFL*ISNULL(EXCHANGE_RATE, 1) AS ECL_AMOUNT_BFL_LCY,      
  ECL_AMOUNT,      
  ECL_AMOUNT*ISNULL(EXCHANGE_RATE, 1) AS ECL_AMOUNT_LCY ,  
  IA_UNWINDING_AMOUNT AS UNWINDING_AMOUNT,  
  CASE WHEN (F.DOWNLOAD_DATE) IS NULL THEN 'N' ELSE 'Y' END AS EXCLUSION_FLAG,  
  WATCHLIST_FLAG,  
  INITIAL_RATING_CODE,  
  RATING_CODE,  
  RATING_DOWNGRADE,  
  EXT_RATING_AGENCY,  
  EXT_INIT_RATING_CODE,  
  EXT_RATING_CODE,  
  EXT_RATING_DOWNGRADE,  
  ISNULL(SOVEREIGN_FLAG, 0) AS SOVEREIGN_FLAG,  
  PD_CHANGE,  
  ISNULL(UNUSED_AMOUNT, 0) AS UNUSED_AMOUNT,  
  ISNULL(COLL_AMOUNT, 0) AS COLL_AMOUNT,  
  CASE WHEN EAD_SEGMENT IN ('EAD_CORPORATE_LOAN', 'EAD_CORPORATE_TRADE_ACCEPTANCE', 'EAD_CORPORATE_TRADE_LC_ASSET') THEN (ISNULL(OUTSTANDING, 0) + ISNULL(INTEREST_ACCRUED, 0))  
 WHEN EAD_SEGMENT IN ('EAD_CORPORATE_TRADE_LC','EAD_CORPORATE_TRADE_BG') THEN (ISNULL(OUTSTANDING, 0) * ISNULL(CCF, 0))  
 WHEN EAD_SEGMENT = 'EAD_CORPORATE_LIMIT' THEN (ISNULL(UNUSED_AMOUNT, 0) * ISNULL(CCF, 0))  
 ELSE ISNULL(EAD_AMOUNT, 0) END AS EAD_AMOUNT_BEFORE_SBLC,  
  CASE WHEN ISNULL(EAD_AMOUNT, 0) < 0 THEN 0 ELSE ISNULL(EAD_AMOUNT, 0) END AS EAD_AMOUNT,  
  ISNULL(A.ECL_AMOUNT,0) - ISNULL(A.IA_UNWINDING_AMOUNT,0) AS ECL_NET_ORI_CCY,  
  (ISNULL(A.ECL_AMOUNT,0) * ISNULL(A.EXCHANGE_RATE,1)) - (ISNULL(A.IA_UNWINDING_AMOUNT,0) * ISNULL(A.EXCHANGE_RATE,1)) AS ECL_NET_LOCAL_CCY  
 FROM IFRS_MASTER_ACCOUNT_MONTHLY A  
 LEFT JOIN IFRS_ECL_EXCLUSION F ON A.DOWNLOAD_DATE = F.DOWNLOAD_DATE AND A.MASTERID = F.MASTERID     
 WHERE DATA_SOURCE = @DATA_SOURCE       
 AND A.DOWNLOAD_DATE = @DOWNLOAD_DATE    
 AND SEGMENT = @SEGMENT     
 AND SUB_SEGMENT = @SUB_SEGMENT    
 AND ISNULL(STAGE, '') = @STAGE      
 AND ISNULL(BUCKET_ID, '') = @BUCKET_ID    
 AND ISNULL(IMPAIRED_FLAG, 'C') = @IMPAIRED_FLAG  
 AND (CASE WHEN (F.DOWNLOAD_DATE) IS NULL THEN 'N' ELSE 'Y' END) = @EXCLUSION_FLAG   
        
END;
GO
