USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMCCFMODEL]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [dbo].[USPU_PARAMCCFMODEL]     
(    
 @CCF_RULE_NAME varchar(250) = ''    
 ,@SEGMENTATION_ID bigint = 0    
 ,@CALC_METHOD varchar(20) = ''    
 ,@AVERAGE_METHOD varchar(20) = ''    
 ,@DEFAULT_RULE_ID bigint = 0    
 ,@CUT_OFF_DATE date = '2000/01/01'    
 ,@CCF_OVERRIDE float = 0  
 ,@LAG_1MONTH_FLAG BIT = 0
 ,@OBSERV_PERIOD_MOVING BIT = 0
 ,@OS_DEF_ZERO_EXCLUDE BIT = 0
 ,@HEADROOM_ZERO_EXCLUDE BIT = 0
 ,@UpdatedBy varchar(50) = ''    
 ,@UpdatedHost varchar(20) = '' 
 ,@PKID bigint = 0   
)    
AS    
BEGIN    
    
	UPDATE IFRS_CCF_RULES_CONFIG
	SET
		[CCF_RULE_NAME] = @CCF_RULE_NAME,
		[SEGMENTATION_ID] = @SEGMENTATION_ID,
		[CALC_METHOD] = @CALC_METHOD,
		[AVERAGE_METHOD] = @AVERAGE_METHOD,
		[DEFAULT_RULE_ID] = @DEFAULT_RULE_ID,
		[CUT_OFF_DATE] = @CUT_OFF_DATE,
		[LAG_1MONTH_FLAG] = @LAG_1MONTH_FLAG,
		[OBSERV_PERIOD_MOVING] = @OBSERV_PERIOD_MOVING,
		[OS_DEF_ZERO_EXCLUDE] = @OS_DEF_ZERO_EXCLUDE,
		[HEADROOM_ZERO_EXCLUDE] = @HEADROOM_ZERO_EXCLUDE,
		[CCF_OVERRIDE] = @CCF_OVERRIDE,
		[UPDATEDBY] = @UpdatedBy,
		[UPDATEDDATE] = GETDATE(),
		[UPDATEDHOST] = @UpdatedHost
	WHERE PKID = @PKID
    
END  

GO
