USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSECTIONID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_LOOKUPSECTIONID]   
as                          
begin                  
	
	select
		distinct A.SECTIONID, CAST(A.SECTIONID AS varchar(10)) + ' - ' + B.DESCRIPTION "Section" 
	from IFRS_AC_SPPI_SECTION A 
	join TBLM_COMMONCODEDETAIL B on a.SECTIONID = b.VALUE1 and COMMONCODE = 'B108'
	where ISNULL(A.IS_DELETE, 0) = 0

end

GO
