USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADDCFINFO]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADDCFINFO]  
(  
 @CreatedBy VARCHAR(36) = NULL,  
 @CreatedHost VARCHAR(30) = NULL,  
 @filePath VARCHAR(4000) = NULL,  
 @method VARCHAR(10) = NULL,  
 @DCFID FLOAT = 0  
)  
AS  
BEGIN  
  
 DELETE tblU_DCF_Info WHERE DCFID = @DCFID ;  
      
 INSERT INTO tblU_DCF_Info   
 (  
  CreatedBy,  
  CreatedHost,  
  FilePath,  
  STATUS,  
  Method,  
  DCFID  
 )  
 VALUES   
 (  
  @CreatedBy,  
  @CreatedHost,  
  @filePath,  
  'INVALID',  
  @method,  
  @DCFID  
 );  
  
 SELECT MAX (UploadID) UploadID  
 FROM tblU_DCF_Info  
 WHERE DCFID = @DCFID;  
     
END;  
GO
