USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEVARCLUSTER]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MEVARCLUSTER](  
@MODEL_ID int  
,@IS_SIMULATION bit)  
AS  
BEGIN  
   
 IF (@IS_SIMULATION = 1)  
 BEGIN  
  SELECT  
   MODEL_ID  
   ,CLUSTER  
   ,MEMBERS  
   ,VAR_EXPL  
   ,PROP_EXPL  
   ,SECOND_EIGV  
  FROM TMP_IFRS_VARCLUS_CLUSTER_SUMM  
  WHERE MODEL_ID = @MODEL_ID  
 END  
 ELSE  
 BEGIN  
  SELECT  
   MODEL_ID  
   ,CLUSTER_NO AS CLUSTER  
   ,NO_OF_MEMBERS AS MEMBERS  
   ,VARIATION_EXPL AS VAR_EXPL  
   ,PROPORTION_EXPL AS PROP_EXPL  
   ,SECOND_EIGENVAL AS SECOND_EIGV  
  FROM IFRS_VARCLUS_CLUSTER_SUMM  
  WHERE MODEL_ID = @MODEL_ID  
 END  
  
END  
GO
