USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOADDEFAULTLGLMONITORINGD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC  [dbo].[USPR_LOADDEFAULTLGLMONITORINGD]
(  
 @PKID BIGINT,  
 @DOWNLOAD_DATE DATE,
 @DEFAULT_DATE DATE,
 @LGD_UNIQUE_ID VARCHAR(50),
 @CURRENCY VARCHAR(5)
)  
AS        
BEGIN      

	SELECT
		DOWNLOAD_DATE AS 'Period',
		DEFAULT_DATE AS 'Default Date',
		LGD_RULE_NAME AS 'LGD Model Name',
		LGD_UNIQUE_ID AS 'LGD Unique ID',
		CUSTOMER_NAME AS 'Customer Name',
		SEGMENT AS 'Segment',
		CURRENCY AS 'Currency',
		EXCHANGE_RATE AS 'Exchange Rate',
		OS_AT_DEFAULT AS 'Outstanding at Default',
		RECOVERY_DATE AS 'Recovery Date',
		RECOVERY_AMOUNT AS 'Total Recovery',
		NPV_RECOVERY AS 'NPV Recovery',
		EIR_AT_DEFAULT AS 'EIR at Default (%)'
	FROM IFRS_LGD_ER_SCENARIO_DATA
	WHERE LGD_RULE_ID = @PKID  
		AND DOWNLOAD_DATE <= @DOWNLOAD_DATE
		AND DEFAULT_DATE >= @DEFAULT_DATE
		AND LGD_UNIQUE_ID = @LGD_UNIQUE_ID
		AND CURRENCY = @CURRENCY
	ORDER BY DOWNLOAD_DATE,
		DEFAULT_DATE
		
END

GO
