USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETBMCLASSNAME]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_GETBMCLASSNAME]  
	@CLASSNAME varchar(100) = ''
AS
BEGIN
	
	SELECT * FROM IFRS_AC_BM_HEADER WHERE BM_NAME = @CLASSNAME
	AND ISNULL(IS_DELETE,0) = 0

END

GO
