USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_GLADJUSTMENT]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPD_GLADJUSTMENT]
(
	@PKID bigint = 0
)          
AS
BEGIN  

	DELETE FROM SRC_GL_ADJUST
	WHERE PKID = @PKID

END


GO
