USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPUNPROCESSEDSPPI]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPUNPROCESSEDSPPI]
AS
BEGIN

	SELECT	PKID AS VALUEFIELD,CLASSNAME AS TEXTFIELD
	FROM	IFRS_AC_SPPI_HEADER 
	WHERE ISNULL(IS_DELETE,0) = 0
	ORDER BY SPPI_RSLT

END

GO
