USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IMP_OVR_CHK_EXISTS_TRIGGER_EDIT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IMP_OVR_CHK_EXISTS_TRIGGER_EDIT]  
(      
 @CIF VARCHAR(50) = NULL      
  
)  
AS  
BEGIN  
 DECLARE @C INTEGER;  
 DECLARE @DCFID INTEGER;  
  
 SELECT @C = COUNT(*) , @DCFID = MAX(DCFID)  
 FROM IFRS_IMP_OVERRIDETRIGGERH  
 WHERE CUSTOMER_NUMBER = @CIF  
  
 SELECT @C AS C, @DCFID AS DCFID  
END  
GO
