USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ACCOUNT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ACCOUNT]  
(  
 @CIF VARCHAR(100),  
 @ACC VARCHAR(50),  
 @ACTION VARCHAR(10)  
)  
AS  
BEGIN  
  
 DECLARE @CurrDate DATETIME;  
  
 -- Define whether the SP called by review editing or new  
 IF @Action <> 'EDIT'  
 BEGIN  
  SELECT @CurrDate = CURRDATE FROM IFRS_PRC_DATE;   
 END  
 ELSE  
 BEGIN  
  SELECT @CurrDate = DOWNLOAD_DATE FROM IFRS_IMP_OVERRIDE_DETAIL WHERE CUSTOMER_NUMBER = @CIF AND MASTER_ACCOUNT_ID = @ACC;    
 END  
   
 SELECT A.DOWNLOAD_DATE,   
  A.CUSTOMER_NAME,   
  A.CURRENCY,   
  A.OUTSTANDING AS OUTSTANDING,   
  A.BI_COLLECTABILITY AS BI_COLLECTABILITY,   
  A.DAY_PAST_DUE AS  DAY_PAST_DUE  
 FROM IFRS_MASTER_ACCOUNT A  
 WHERE A.DOWNLOAD_DATE = @currDate   
  AND A.CUSTOMER_NUMBER = @CIF      
  AND A.MASTERID = @ACC  
  
END;  
GO
