USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SPPI_DETAIL]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_SPPI_DETAIL]                          
(                          
 @MAXPKIDHIST bigint = 0,
 @QUESTIONID varchar(20) = '',
 @SELECTED_VALUE int = 0,
 @PKID_DETAIL_OLD bigint = 0,
 @UPDATEDBY varchar(36) = '',             
 @UPDATEDHOST varchar(30) = ''             
)            
AS  
BEGIN       
DECLARE @CLASSID bigint = 0

	--UPDATE SPPI DETAIL
	UPDATE IFRS_AC_SPPI_DETAIL
			SET [QUESTIONID] = @QUESTIONID, [SELECTED_VALUE] = @SELECTED_VALUE, [REMARK] = NULL
				,[UPDATEDBY] = @UPDATEDBY, [UPDATEDDATE] =GETDATE(), [UPDATEDHOST] = @UPDATEDHOST
	WHERE PKID = @PKID_DETAIL_OLD
	

	--INSERT INTO SPPI DETAIL HISTORY
	INSERT INTO IFRS_AC_SPPI_DETAIL_HIST([CLASSID],[QUESTIONID],[SELECTED_VALUE],[REMARK],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])
      SELECT @MAXPKIDHIST,[QUESTIONID],[SELECTED_VALUE],[REMARK],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]
	  FROM IFRS_AC_SPPI_DETAIL WHERE PKID =  @PKID_DETAIL_OLD
	
	--GET CLASSID
	SELECT @CLASSID = PKID FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_DETAIL_OLD

	--GENERATE SPPI
	EXEC SP_IFRS_AC_GENERATE_RESULT_SPI @CLASSID
			              
END;

GO
