USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_REVIEW_LEGAL_CONDITION]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_REVIEW_LEGAL_CONDITION](          
 @MASTERID VARCHAR(75)        
)          
AS          
BEGIN          
      
 SELECT * FROM IFRS_IMP_OVERRIDE_COLLATERAL WHERE MASTERID = @MASTERID;
          
END
GO
