USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_AVERAGE_DEFAULT_RATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_AVERAGE_DEFAULT_RATE]
(
@PD_RULE_ID AS BIGINT,
@PERIOD AS DATE
)
AS
BEGIN

DECLARE @V_Query   VARCHAR(MAX);      
DECLARE @V_ColumnName VARCHAR(MAX);    
DECLARE @V_ColumnNameIsnull VARCHAR(MAX);    
     
SELECT @V_ColumnNameIsnull = COALESCE(@V_ColumnNameIsnull + ',', '') + 'ISNULL([' + BUCKET_NAME + '], 0) AS [' + BUCKET_NAME + ']',  
       @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + '[' + BUCKET_NAME + ']'    
FROM   
(SELECT
	DISTINCT 0 BUCKET_ID,
	'FP' BUCKET_NAME  
  FROM IFRS_PD_RULES_CONFIG PD  
  INNER JOIN IFRS_BUCKET_DETAIL BUCKET ON PD.BUCKET_GROUP = BUCKET.BUCKET_GROUP  
  WHERE PD.PKID = @PD_RULE_ID  
  UNION  
  SELECT
	BUCKET.BUCKET_ID,
	BUCKET_NAME   
  FROM IFRS_PD_RULES_CONFIG PD  
  INNER JOIN IFRS_BUCKET_DETAIL BUCKET ON PD.BUCKET_GROUP = BUCKET.BUCKET_GROUP  
  WHERE PD.PKID = @PD_RULE_ID) A  
ORDER BY BUCKET_ID   
  
IF (@V_ColumnName IS NULL)    
BEGIN  
SET @V_Query =     
 'SELECT TOP 0 '''' AS "Bucket Name" FROM IFRS_PRC_DATE'  
END  
ELSE  
BEGIN  
SET @V_Query = ''  
SET @V_Query = @V_Query + 'SELECT A.BUCKET_FROM AS ''Bucket Name'', '  
SET @V_Query = @V_Query + @V_ColumnName + ' '  
SET @V_Query = @V_Query + 'FROM(SELECT TM_RULE_NAME,DOWNLOAD_DATE,BUCKET_ID,BUCKET_FROM, '  
SET @V_Query = @V_Query + @V_ColumnNameIsnull + ' '  
SET @V_Query = @V_Query + 'FROM(SELECT A.DOWNLOAD_DATE,B.BUCKET_NAME as BUCKET_FROM,B.BUCKET_ID, '  
SET @V_Query = @V_Query + 'CASE WHEN (A.BUCKET_TO=0) THEN ''FP'' ELSE C.BUCKET_NAME END BUCKET_TO, '  
SET @V_Query = @V_Query + 'ISNULL(A.AVERAGE_RATE,0) * 100 AS AVERAGE_RATE,D.TM_RULE_NAME '  
SET @V_Query = @V_Query + 'FROM IFRS_PD_MAA_CORP_AVERAGE A INNER JOIN IFRS_PD_RULES_CONFIG D ON A.PD_RULE_ID = D.PKID '  
SET @V_Query = @V_Query + 'LEFT JOIN IFRS_BUCKET_DETAIL B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_FROM = B.BUCKET_ID '  
SET @V_Query = @V_Query + 'LEFT JOIN IFRS_BUCKET_DETAIL C ON A.BUCKET_GROUP = C.BUCKET_GROUP AND A.BUCKET_TO = C.BUCKET_ID '  
SET @V_Query = @V_Query + 'WHERE A.PD_RULE_ID = ' + CAST(@PD_RULE_ID AS VARCHAR(20)) + ' '  
SET @V_Query = @V_Query + 'AND A.DOWNLOAD_DATE =''' + CONVERT(VARCHAR(8),@Period,112) + ''' '
SET @V_Query = @V_Query + 'GROUP BY B.BUCKET_NAME,B.BUCKET_ID,BUCKET_TO,C.BUCKET_NAME,AVERAGE_RATE, A.BUCKET_FROM,A.DOWNLOAD_DATE,TM_RULE_NAME)TMP '  
SET @V_Query = @V_Query + 'pivot(sum(AVERAGE_RATE) for BUCKET_TO IN ('+ @V_ColumnName +'))PVT '  
SET @V_Query = @V_Query + ')A ORDER BY DOWNLOAD_DATE,BUCKET_ID '  
END

print (@V_Query);      
exec (@V_Query);

END

GO
