USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_PD_MAA_CORP_RESULT]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_IFRS_IMPCR_PD_MAA_CORP_RESULT] 
@DOWNLOAD_DATE DATE ='',
@RULE_ID BIGINT = 0    
AS 
BEGIN
 DECLARE @V_CURRDATE   DATE                                                                        
 DECLARE @V_PREVDATE   DATE          
 DECLARE @V_PREVMONTH DATE       
 DECLARE @V_CURRDATE_NOLAG   DATE                                                                        
 DECLARE @V_PREVDATE_NOLAG   DATE          
 DECLARE @V_PREVMONTH_NOLAG DATE     
  
  IF @DOWNLOAD_DATE <> ''        
BEGIN         
SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN        
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))        
  
SET @V_CURRDATE_NOLAG = EOMONTH(@DOWNLOAD_DATE) -- NO LAG        
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)        
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))        
END        
ELSE         
BEGIN         
SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE) )          
FROM IFRS_PRC_DATE        
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))   
  
SELECT @V_CURRDATE_NOLAG =  EOMONTH(CURRDATE)  FROM IFRS_PRC_DATE           
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)        
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))        
END        
      
DELETE [IFRS_PD_MAA_CORP_RESULT] WHERE TO_DATE = @V_CURRDATE_NOLAG AND PD_RULE_ID = @RULE_ID

INSERT INTO [IFRS_PD_MAA_CORP_RESULT] (DOWNLOAD_DATE
,TO_DATE
,PD_RULE_ID
,PD_RULE_NAME
,BUCKET_GROUP
,BUCKET_ID
,BUCKET_NAME
,FL_SEQ
,CUMULATIVE_PD_RATE
,MARGINAL_PD_RATE)
SELECT A.DOWNLOAD_DATE
,@V_CURRDATE_NOLAG AS TO_DATE
,PD_RULE_ID
,PD_RULE_NAME
,B.BUCKET_GROUP AS BUCKET_GROUP
,BUCKET_FROM  AS BUCKET_ID
,D.BUCKET_NAME AS BUCKET_NAME
,FL_SEQ
,CASE WHEN A.BUCKET_FROM = C.MAX_BUCKET_ID THEN 1 ELSE  A.MMULT END AS CUMULATIVE_PD_RATE
,0 AS MARGINAL_PD_RATE
FROM [IFRS_PD_MAA_CORP_MMULT] A 
INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID
INNER JOIN [dbo].[VW_IFRS_MAX_BUCKET] C ON B.BUCKET_GROUP = C.BUCKET_GROUP AND A.BUCKET_TO = C.MAX_BUCKET_ID
LEFT JOIN (SELECT BUCKET_GROUP, BUCKET_ID, MAX(BUCKET_NAME) AS BUCKET_NAME FROM IFRS_BUCKET_DETAIL GROUP BY  BUCKET_GROUP, BUCKET_ID) D
ON B.BUCKET_GROUP = D.BUCKET_GROUP AND A.BUCKET_FROM = D.BUCKET_ID
 WHERE TO_DATE = @V_CURRDATE_NOLAG AND A.PD_RULE_ID = @RULE_ID

 IF OBJECT_ID ('TEMPDB.DBO.#MAA__RESULT') IS NOT NULL DROP TABLE #MAA_RESULT
 SELECT * INTO #MAA_RESULT FROM [IFRS_PD_MAA_CORP_RESULT] WHERE TO_DATE = @V_CURRDATE_NOLAG AND PD_RULE_ID = @RULE_ID

 UPDATE A
 SET MARGINAL_PD_RATE = ISNULL(A.CUMULATIVE_PD_RATE,0) - ISNULL(B.CUMULATIVE_PD_RATE,0)
 FROM [IFRS_PD_MAA_CORP_RESULT] A 
 LEFT JOIN #MAA_RESULT B ON A.PD_RULE_ID = B.PD_RULE_ID AND A.TO_DATE = A.TO_DATE AND A.BUCKET_ID  = B.BUCKET_ID AND A.FL_SEQ = B.FL_SEQ+1
 WHERE A.TO_DATE = @V_CURRDATE_NOLAG AND A.PD_RULE_ID = @RULE_ID





END

GO
