USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMCOAPLBYPKID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_PARAMCOAPLBYPKID]
(
	@PKID bigint = 0
)
AS
BEGIN

	SELECT C.GLCode
		,C.GLName
		,C.FSCodePositive
		,C.FSCodeNegative
		,C.NormalPos
		,C.[Rule]
		,CAST(HP.GEN1_CODE AS varchar(10)) +' - '+ HP.GEN1_DESC "GEN1_CODE"
		,CAST(HP.GEN2_CODE AS varchar(10)) +' - '+ HP.GEN2_DESC "GEN2_CODE"
		,CAST(HP.GEN3_CODE AS varchar(10)) +' - '+ HP.GEN3_DESC "GEN3_CODE"
		,CAST(HP.GEN4_CODE AS varchar(10)) +' - '+ HP.GEN4_DESC "GEN4_CODE"
		,CAST(HP.GEN5_CODE AS varchar(10)) +' - '+ HP.GEN5_DESC "GEN5_CODE"
		,CAST(HP.GEN6_CODE AS varchar(10)) +' - '+ HP.GEN6_DESC "GEN6_CODE"
		,CAST(HP.GEN7_CODE AS varchar(10)) +' - '+ HP.GEN7_DESC "GEN7_CODE"
		,CAST(HP.GEN8_CODE AS varchar(10)) +' - '+ HP.GEN8_DESC "GEN8_CODE"
		,CAST(HN.GEN1_CODE AS varchar(10)) +' - '+ HN.GEN1_DESC "GEN1_CODE_N"
		,CAST(HN.GEN2_CODE AS varchar(10)) +' - '+ HN.GEN2_DESC "GEN2_CODE_N"
		,CAST(HN.GEN3_CODE AS varchar(10)) +' - '+ HN.GEN3_DESC "GEN3_CODE_N"
		,CAST(HN.GEN4_CODE AS varchar(10)) +' - '+ HN.GEN4_DESC "GEN4_CODE_N"
		,CAST(HN.GEN5_CODE AS varchar(10)) +' - '+ HN.GEN5_DESC "GEN5_CODE_N"
		,CAST(HN.GEN6_CODE AS varchar(10)) +' - '+ HN.GEN6_DESC "GEN6_CODE_N"
		,CAST(HN.GEN7_CODE AS varchar(10)) +' - '+ HN.GEN7_DESC "GEN7_CODE_N"
		,CAST(HN.GEN8_CODE AS varchar(10)) +' - '+ HN.GEN8_DESC "GEN8_CODE_N"
		,case when FSCodePositive <> '' then len(FSCodePositive)-len(replace(FSCodePositive, '-','')) + 1 end "CountLevelPos"
		,case when FSCodeNegative <> '' then len(FSCodeNegative)-len(replace(FSCodeNegative, '-','')) + 1 end "CountLevelNeg" 
	FROM GL_PARAM_COA_PL_HO C
		LEFT JOIN GL_PARAM_HIERARCHY_HO HP ON C.FSCodePositive = HP.ITEM_CODE
		LEFT JOIN GL_PARAM_HIERARCHY_HO HN ON C.FSCODENEGATIVE = HN.ITEM_CODE
	WHERE C.PKID = @PKID
    ORDER BY C.GLCode

END

GO
