USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADFACILITYFEECOSTTEMP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_UPLOADFACILITYFEECOSTTEMP]
(
@uploadID int,
@xlsRowNum int,
@DATA_SOURCE varchar(20),
@PRD_CODE varchar(20),
@TRANSACTION_CODE varchar(20),
@FACILITY_NUMBER varchar(50),
@TRANSACTION_DATE varchar(20),
@EFFECTIVE_DATE varchar(20),
@CCY varchar(5),
@DEBIT_CREDIT_FLAG char(1),
@TRANSACTION_AMOUNT varchar(50),
@CreatedBy varchar(36),
@CreatedHost varchar(30)
)
AS	
BEGIN

	INSERT INTO TBLU_FACILITY_FEECOST_TEMP(
		UPLOADID
		,[ROW_NUMBER]
		,[PRD_CODE]
		,[TRX_CODE]
		,[FACILITY_NUMBER]
		,[TRANSACTION_DATE]
		,[CCY]
		,[DEBIT_CREDIT_FLAG]
		,[TRANSACTION_AMOUNT]
		,CREATEDBY
		,CREATEDDATE
		,CREATEDHOST)
	values(
		@uploadID
		,@xlsRowNum
		,LTRIM(RTRIM(UPPER(@PRD_CODE)))
		,LTRIM(RTRIM(UPPER(@TRANSACTION_CODE)))
		,LTRIM(RTRIM(UPPER(@FACILITY_NUMBER)))
		,@TRANSACTION_DATE
		--,@EFFECTIVE_DATE
		,LTRIM(RTRIM(UPPER(@CCY)))
		,LTRIM(RTRIM(UPPER(@DEBIT_CREDIT_FLAG)))
		,@TRANSACTION_AMOUNT
		,@CreatedBy
		,getdate()
		,@CreatedHost)

	select max(PKID) as PKID from [TBLU_FACILITY_FEECOST_TEMP]

end
GO
