USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_LookupLGDFwdLookMtd]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_LookupLGDFwdLookMtd]

AS
BEGIN

    
        SELECT PKID AS "ME_CODE",
            MODEL_NAME AS "DESC"
        FROM IFRS_MACRO_ECONOMIC_MODEL;
    
END;

GO
