USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IA_FL_SCENARIO_DET]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_IA_FL_SCENARIO_DET]
(
	@DCFID bigint=0
)
as
begin

	select SUBSTRING(DATENAME(MONTH,A.PERIODSTART),1,3) + '-' + DATENAME(YEAR,A.PERIODSTART) as PERIODSTART,
		SUBSTRING(DATENAME(MONTH,A.PERIODEND),1,3) + '-' + DATENAME(YEAR,A.PERIODEND) as PERIODEND,
		ISNULL(A.RR1, 0) RR1, ISNULL(A.RR2, 0) RR2, ISNULL(A.RR3, 0) RR3, ISNULL(A.RR4, 0) RR4, ISNULL(A.RR5, 0) RR5
	from IFRS_FL_SCENARIO_IA_D_TEMP A
		join  IFRS_FL_SCENARIO_IA_H_TEMP B on A.HEADERID = B.PKID
	where B.DCFID = @DCFID

end

GO
