USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_VARSELEDITOR]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPU_VARSELEDITOR]      
 @PKID int,       
 @MODEL_NAME varchar(100),      
 @SELECTION_TYPE varchar(50),      
 @FILTER_METHOD varchar(50),      
 @CORR_THRESHOLD float = 0 ,      
 @SELECTION_VALUE_1 float = 0,      
 @SELECTION_VALUE_2 smallint = 0,      
 @STAT_FLAG bit,      
 @P_VALUE float = 0,      
 @STAT_METHOD varchar(50),      
 @APPLY_TO int,      
 @DV_VALUE varchar(50),      
 @IN_SAMPLE_START_DATE date,      
 @IN_SAMPLE_END_DATE date,      
 @OUT_SAMPLE_START_DATE date = NULL,      
 @OUT_SAMPLE_END_DATE date = NULL,      
 @UPDATEDBY varchar(50),      
 @UPDATEDHOST varchar(50)      
AS      
  BEGIN      
 UPDATE IFRS_MACRO_ECONOMIC_MODEL  
 SET       
  SELECTION_TYPE = @SELECTION_TYPE,      
  MODEL_NAME = @MODEL_NAME,      
  FILTER_METHOD = @FILTER_METHOD,      
  CORR_THRESHOLD = @CORR_THRESHOLD,      
  SELECTION_VALUE_1 = @SELECTION_VALUE_1,      
  SELECTION_VALUE_2 = @SELECTION_VALUE_2,      
  STAT_FLAG = @STAT_FLAG,      
  P_VALUE =@P_VALUE,      
  STAT_METHOD = @STAT_METHOD,      
  STAT_APPLY_TO =@APPLY_TO,      
  DV_VALUE =@DV_VALUE,      
  IN_SAMPLE_START_DATE = @IN_SAMPLE_START_DATE,      
  IN_SAMPLE_END_DATE = @IN_SAMPLE_END_DATE,      
  OUT_SAMPLE_START_DATE = @OUT_SAMPLE_START_DATE,      
  OUT_SAMPLE_END_DATE = @OUT_SAMPLE_END_DATE,      
  STATUS = CASE WHEN STATUS = 'M' THEN STATUS ELSE 'V' END,      
  UPDATEDBY = @UPDATEDBY,      
  UPDATEDDATE = GETDATE(),      
  UPDATEDHOST = @UPDATEDHOST      
 WHERE PKID = @PKID      
      
 EXEC USPI_IV_ACC @PKID      
END 

GO
