USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PENDING_ECL_MODEL_D_EAD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_PENDING_ECL_MODEL_D_EAD]    
(    
 @ECL_MODEL_ID BIGINT,    
 @SEGMENTATION_ID BIGINT,    
 @EAD_MODEL_ID BIGINT,
 @CCF_MODEL_ID BIGINT,
 @CCF_EFF_DATE_OPTION VARCHAR(20),    
 @CCF_EFF_DATE DATE,        
 @CREATEDBY  VARCHAR(36),    
 @CREATEDHOST VARCHAR(36)    
 )    
AS    
BEGIN    
    
	INSERT IFRS_ECL_MODEL_DETAIL_EAD_PEND
	(    
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[EAD_MODEL_ID],
		[CCF_MODEL_ID],
		[CCF_EFF_DATE_OPTION],
		[CCF_EFF_DATE],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	)    
	VALUES
	(    
		@ECL_MODEL_ID,
		@SEGMENTATION_ID,
		@EAD_MODEL_ID,
		@CCF_MODEL_ID,
		@CCF_EFF_DATE_OPTION,
		CASE WHEN @CCF_EFF_DATE_OPTION != 'SELECT_DATE' THEN NULL
			WHEN @CCF_EFF_DATE_OPTION = 'SELECT_DATE' AND YEAR(@CCF_EFF_DATE) < 2000 THEN NULL
			ELSE @CCF_EFF_DATE END,
		@CREATEDBY,
		GETDATE(),
		@CREATEDHOST
	)    
    
END;
GO
