USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspI_TmpModelMacroEconomic]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspI_TmpModelMacroEconomic]
(
    @PKID BIGINT=0,
    @MODEL_NAME VARCHAR(100),
    @periodFrom DATE,
    @periodEND DATE,
    @seasonalAdj BIT=0,
    @CreatedBy VARCHAR(36),
    @CreatedHost VARCHAR(36),
	@NewPKID BIGINT=0 OUT
)
AS
BEGIN

	--SET IDENTITY_INSERT TMP_IFRS_MACRO_ECONOMIC_MODEL ON
	declare @TempID bigint;

	select @TempID = Count(*)
	from TMP_IFRS_MACRO_ECONOMIC_MODEL
	where PKID = @PKID;

	IF @TempID = 0
		BEGIN
		
			INSERT INTO TMP_IFRS_MACRO_ECONOMIC_MODEL
			(
				MODEL_NAME,
				CORRELATION_PERIOD_FROM,
				CORRELATION_PERIOD_END,
				SEASONAL_ADJUSTMENT,
				CreatedBy,
				CreatedDate,
				CreatedHost
			)
			VALUES
			(
				@MODEL_NAME,
				@periodFrom,
				@periodEnd,
				@seasonalAdj,
				@CreatedBy,
				getdate(),
				@CreatedHost
			);

			SET @NewPKID = SCOPE_IDENTITY() 

			update TMP_IFRS_INDEPENDENT_VARIABLE
			SET MODEL_ID = @NewPKID
			WHERE MODEL_ID=@PKID

			update TMP_IFRS_DEPENDENT_VARIABLE
			SET MODEL_ID = @NewPKID
			WHERE MODEL_ID=@PKID
		END;
	ELSE
		BEGIN
			UPDATE TMP_IFRS_MACRO_ECONOMIC_MODEL
			SET CORRELATION_PERIOD_FROM = @periodFrom,
				CORRELATION_PERIOD_END = @periodEnd,
				MODEL_NAME = @MODEL_NAME,
				UPDATEDBY = @CreatedBy,
				UPDATEDDATE = GETDATE(),
				UPDATEDHOST = @CreatedHost
			WHERE PKID = @PKID
		END
END



		


		

GO
