USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADCOLUMNCOUNT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADCOLUMNCOUNT]
(
	@UploadID BIGINT
)
AS
BEGIN

	SELECT COUNT(*)
	FROM TBLU_DOC_TEMP_HEADER
	WHERE UPLOADID = @uploadid;

END;

GO
