USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_CANCELTHREAD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_CANCELTHREAD]
(
	@Status varchar(20)
)
AS
BEGIN

	UPDATE TblT_ApplicationLog
	SET Finish = GETDATE(),
		Status = @Status,
		Message = 'Thread Canceled when agent start at ' + CAST(GETDATE() AS varchar(30))
	WHERE Finish is null

END

GO
