USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADAPPROVEFEECOSTLIAB]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADAPPROVEFEECOSTLIAB](      
@UploadID int,    
@Remarks varchar(500),     
@ApprovedBy varchar(36),      
@ApprovedHost varchar(30)      
)      
AS           
BEGIN TRAN    
    
 --INSERT ACTIVITYLOG    
 EXEC uspI_ActivityLogs @ApprovedBy,'INSERT_WI_APPROVAL','LIABILITIES_UPLOAD','IAS',@ApprovedHost      
     
 --DELETE TBLU_TRANS_ASSET    
 DELETE A FROM TBLU_TRANS_LIAB A    
 INNER JOIN TBLU_TRANS_LIAB_PENDING B    
  ON A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER AND A.PRD_CODE = B.PRD_CODE    
   AND A.TRX_CODE = B.TRX_CODE AND A.TRANSACTION_DATE = B.TRANSACTION_DATE    
 WHERE B.UPLOADID = @UploadID    
     
 --INSERT TBLU_TRANS_LIAB    
 INSERT INTO TBLU_TRANS_LIAB(DOWNLOAD_DATE,DATA_SOURCE,ACCOUNT_NUMBER,PRD_CODE,TRX_CODE,TRX_REF_NUMBER,TRANSACTION_DATE,EFFECTIVE_DATE,END_DATE,CURRENCY    
  ,DEBIT_CREDIT_FLAG,INITIAL_COST_AMOUNT,UPLOADID,CreatedBy,CreatedDate,CreatedHost,UpdatedBy,UpdatedDate,UpdatedHost)      
 SELECT TRANSACTION_DATE,DATA_SOURCE,ACCOUNT_NUMBER,PRD_CODE,TRX_CODE,TRX_REF_NUMBER,TRANSACTION_DATE,EFFECTIVE_DATE,END_DATE,CURRENCY,DEBIT_CREDIT_FLAG    
  ,INITIAL_COST_AMOUNT,UPLOADID,CreatedBy,CreatedDate,CreatedHost,@ApprovedBy,GetDate(),@ApprovedHost      
 FROM TBLU_TRANS_LIAB_PENDING    
    WHERE UPLOADID = @UploadID      
 ORDER BY PKID    
    
 --INSERT TBLU_TRANS_LIAB_HIST    
 INSERT INTO TBLU_TRANS_LIAB_HIST(DOWNLOAD_DATE,DATA_SOURCE,ACCOUNT_NUMBER,PRD_CODE,TRX_CODE,TRX_REF_NUMBER,TRANSACTION_DATE,EFFECTIVE_DATE,END_DATE,CURRENCY    
  ,DEBIT_CREDIT_FLAG,INITIAL_COST_AMOUNT,UPLOADID,CreatedBy,CreatedDate,CreatedHost,UpdatedBy,UpdatedDate,UpdatedHost)      
 SELECT TRANSACTION_DATE,DATA_SOURCE,ACCOUNT_NUMBER,PRD_CODE,TRX_CODE,TRX_REF_NUMBER,TRANSACTION_DATE,EFFECTIVE_DATE,END_DATE,CURRENCY,DEBIT_CREDIT_FLAG    
  ,INITIAL_COST_AMOUNT,UPLOADID,CreatedBy,CreatedDate,CreatedHost,@ApprovedBy,GetDate(),@ApprovedHost      
 FROM TBLU_TRANS_LIAB_PENDING    
    WHERE UPLOADID = @UploadID      
 ORDER BY PKID    
     
 --UPDATE TBLU_FEECOST_INFO    
 UPDATE TBLU_FEECOST_INFO      
       SET Status = 'APPROVED'    
   ,REMARKS = @Remarks    
   ,UpdatedBy = @ApprovedBy      
            ,UpdatedHost = @ApprovedHost      
            ,UpdatedDate = GetDate()      
       WHERE UploadID = @UploadID      
     
 --DELETE TBLU_TRANS_LIAB_PENDING    
 DELETE FROM TBLU_TRANS_LIAB_PENDING WHERE UPLOADID = @UploadID      
    
 --DELETE TBLU_TRANS_LIAB_TEMP    
 DELETE FROM TBLU_TRANS_LIAB_TEMP where UPLOADID = @UploadID      
      
IF @@ERROR <> 0                        
 ROLLBACK TRAN    
ELSE                        
    COMMIT TRAN 
GO
