USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKMESCALARBYMODELID]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_CHECKMESCALARBYMODELID](
@MODEL_ID bigint = 0
,@SCALAR_APPLY varchar(10) = ''
,@RULE_ID int = 0
,@PKID bigint = 0)
AS
BEGIN
DECLARE @COUNT int, @COUNT_PENDING int

	SELECT @COUNT = COUNT(*)
		FROM IFRS_ME_SCALAR_HEADER
	WHERE MODEL_ID = @MODEL_ID
		AND SCALAR_APPLY = @SCALAR_APPLY
		AND RULE_ID = @RULE_ID
		AND PKID <> @PKID
		AND IS_DELETE = 0

	SELECT
		@COUNT_PENDING = COUNT(*)
	FROM
	(
		SELECT
			FIELDNAME
			,ISNULL(OLDVALUE,NEWVALUE) AS VALUE
		FROM TBLT_APPROVALDETAIL
		WHERE HEADERID IN
						(
							SELECT
								PKID
							FROM TBLT_APPROVALHEADER
							WHERE SCREENID = 'ME_SCALAR_EDITOR'
								AND STATUS = 'P'
						)
			AND FIELDNAME IN ('MODEL_ID','SCALAR_APPLY','RULE_ID')
	)D
	PIVOT
	(
		MAX(VALUE)
		FOR FIELDNAME in (MODEL_ID, SCALAR_APPLY, RULE_ID)
	)PIV
	WHERE MODEL_ID = @MODEL_ID
		AND SCALAR_APPLY = @SCALAR_APPLY
		AND RULE_ID = @RULE_ID

	SELECT @COUNT AS COUNT, @COUNT_PENDING AS COUNT_PENDING
END
GO
