USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPRECOVERYSEGMENT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USPS_LOOKUPRECOVERYSEGMENT]  
as  
 select PKID as valueField,SUB_SEGMENT as textField from IFRS_MSTR_SEGMENT_RULES_HEADER where SEGMENT_TYPE = 'RR_SEGMENT'  
 and ISNULL(IS_DELETE,0) = 0 

GO
