USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SERVICEJOBSHEADER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPI_SERVICEJOBSHEADER]
(
    @JobName VARCHAR(50),  
    @Status VARCHAR(50),  
    @Message VARCHAR(1000),  
    @CreatedBy VARCHAR(36),  
    @CreatedHost VARCHAR(20),  
    @JobNo INT  
)
AS   
BEGIN  

	SET NOCOUNT ON;
        
	INSERT  INTO [dbo].[tblT_ServiceJobsHeader]  
	( 
		[JobName],   
		[Status],  
		[Message],  
		[CreatedBy],  
		[CreatedDate],  
		[CreatedHost],  
		[JobNo]  
	)  
	values
	(  
		@JobName,  
		@Status,  
		@Message,  
		@CreatedBy, 
		CURRENT_TIMESTAMP, 
		@CreatedHost, 
		@JobNo
	);
				
	SELECT  SCOPE_IDENTITY() AS PKID;

END

GO
