USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BONDSMODULECONTRACTATTR]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_BONDSMODULECONTRACTATTR]  
(  
 @DDATE_MAID VARCHAR(100) = ''  
)  
AS  
BEGIN  
   
    SELECT REPLACE(CONVERT(VARCHAR, IMA.DOWNLOAD_DATE, 106), ' ', '-') DOWNLOAD_DATE,  
  IMA.PRODUCT_TYPE,  
  IMA.DATA_SOURCE,  
  PROD.PRD_TYPE_1 AS ASSET_TYPE_PRODUCT1,  
  IMA.PRODUCT_CODE,  
  IMA.CURRENCY,  
  IMA.CUSTOMER_NUMBER,  
  IMA.OUTSTANDING,  
  IMA.CUSTOMER_NAME,  
  CASE WHEN IMA.INTEREST_RATE <> 0  
            THEN ISNULL(IMA.INTEREST_RATE, 0)  
            ELSE '0'  
        END INTEREST_RATE,  
  IMA.MASTER_ACCOUNT_CODE,  
  IMA.RESERVED_AMOUNT_14 as UNREALIZED_GAIN_LOSS_AMOUNT,  
  IMA.ACCOUNT_NUMBER,  
  IMA.BRANCH_CODE,  
  IMA.RESERVED_VARCHAR_16 as PURPOSE,  
  IMA.RESERVED_RATE_3 * IMA.OUTSTANDING as MARKET_VALUE,  
  IMA.RESERVED_VARCHAR_12 as BANK_NON_BANK,  
  CASE WHEN IMA.RESERVED_AMOUNT_13 < 0  
   THEN ISNULL(IMA.RESERVED_AMOUNT_13, 0)  
   ELSE '0'  
  END AS DISCOUNT_AMOUNT,  
  IMA.RESERVED_VARCHAR_2 as RESIDENT_GROUP,  
  CASE WHEN IMA.RESERVED_AMOUNT_13 > 0  
   THEN ISNULL(IMA.RESERVED_AMOUNT_13, 0)  
   ELSE '0'  
  END AS PREMIUM_AMOUNT,  
  IMA.RESERVED_VARCHAR_4 as EXTERNAL_RATING,  
  IMA.RESERVED_DATE_3 as EXTERNAL_RATING_DATE,  
  IMA.RESERVED_VARCHAR_11 as EXTERNAL_RATING_INST  
  
    FROM IFRS_MASTER_ACCOUNT IMA  
        LEFT JOIN IFRS_MASTER_PRODUCT_PARAM PROD ON IMA.PRODUCT_CODE = PROD.PRD_CODE AND PROD.INST_CLS_VALUE = 'A'  
    
    WHERE IMA.MASTER_ACCOUNT_CODE = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))  
        AND IMA.DOWNLOAD_DATE = CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10) , 111)  
  
END;  

GO
