USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_ACCT_SWITCH]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LI_ACCT_SWITCH]  
AS  
DECLARE @V_CURRDATE DATE  
 ,@V_PREVDATE DATE  
  
BEGIN  
 SELECT @V_CURRDATE = MAX(CURRDATE)  
  ,@V_PREVDATE = MAX(PREVDATE)  
 FROM IFRS_LI_PRC_DATE_AMORT  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'START'  
  ,'SP_IFRS_LI_ACCT_SWITCH'  
  ,''  
  )  
  
 --DELETE FIRST  
 DELETE  
 FROM IFRS_LI_ACCT_SWITCH  
 WHERE DOWNLOAD_DATE >= @V_CURRDATE  
  
 --DETECT PREV ACCT NO   
 INSERT INTO IFRS_LI_ACCT_SWITCH (  
  DOWNLOAD_DATE  
  ,DATASOURCE  
  ,MASTERID  
  ,FACNO  
  ,CIFNO  
  ,ACCTNO  
  ,PREV_ACCTNO  
  ,PREV_MASTERID  
  ,CREATEDBY  
  ,CREATEDDATE  
  ,PREV_SL_ECF  
  ,PREV_EIR_ECF  
  ,PRDCODE  
  ,BRCODE  
  ,PRDTYPE  
  ,PREV_DATASOURCE  
  ,PREV_FACNO  
  ,PREV_CIFNO  
  ,PREV_BRCODE  
  ,PREV_PRDTYPE  
  ,PREV_PRDCODE  
  ,CCY  
  ,LOAN_AMT  
  ,PLAFOND  
  )  
 SELECT @V_CURRDATE  
  ,A.DATA_SOURCE  
  ,A.MASTERID  
  ,A.FACILITY_NUMBER  
  ,A.CUSTOMER_NUMBER  
  ,A.ACCOUNT_NUMBER  
  ,A.PREVIOUS_ACCOUNT_NUMBER  
  ,B.MASTERID  
  ,'SP_IFRS_LI_ACCT_SWITCH'  
  ,CURRENT_TIMESTAMP  
  ,'N'  
  ,'N'  
  ,A.PRODUCT_CODE  
  ,A.BRANCH_CODE  
  ,A.PRODUCT_TYPE  
  ,B.DATA_SOURCE  
  ,B.FACILITY_NUMBER  
  ,B.CUSTOMER_NUMBER  
  ,B.BRANCH_CODE  
  ,B.PRODUCT_TYPE  
  ,B.PRODUCT_CODE  
  ,A.CURRENCY  
  ,A.LOAN_AMT  
  ,A.PLAFOND  
 FROM IFRS_LI_IMA_AMORT_CURR A  
 JOIN IFRS_LI_IMA_AMORT_PREV B ON A.PREVIOUS_ACCOUNT_NUMBER = B.ACCOUNT_NUMBER  
  AND (  
   B.ACCOUNT_NUMBER = B.PREVIOUS_ACCOUNT_NUMBER  
   OR ISNULL(B.PREVIOUS_ACCOUNT_NUMBER, '') = ''  
   )  
  AND A.CURRENCY = B.CURRENCY -- MAKE SURE SAME CURRENCY  
 WHERE A.ACCOUNT_NUMBER <> A.PREVIOUS_ACCOUNT_NUMBER  
  AND ISNULL(A.PREVIOUS_ACCOUNT_NUMBER, '') <> ''  
  
 --CHANGE BRANCH  
 INSERT INTO IFRS_LI_ACCT_SWITCH (  
  DOWNLOAD_DATE  
  ,DATASOURCE  
  ,MASTERID  
  ,FACNO  
  ,CIFNO  
  ,ACCTNO  
  ,PREV_ACCTNO  
  ,PREV_MASTERID  
  ,CREATEDBY  
  ,CREATEDDATE  
  ,PREV_SL_ECF  
  ,PREV_EIR_ECF  
  ,PRDCODE  
  ,BRCODE  
  ,PRDTYPE  
  ,PREV_DATASOURCE  
  ,PREV_FACNO  
  ,PREV_CIFNO  
  ,PREV_BRCODE  
  ,PREV_PRDTYPE  
  ,PREV_PRDCODE  
  ,CCY  
  ,LOAN_AMT  
  ,PLAFOND  
  )  
 SELECT @V_CURRDATE  
  ,A.DATA_SOURCE  
  ,A.MASTERID  
  ,A.FACILITY_NUMBER  
  ,A.CUSTOMER_NUMBER  
  ,A.ACCOUNT_NUMBER  
  ,B.ACCOUNT_NUMBER  
  ,B.MASTERID  
  ,'SP_IFRS_LI_ACCT_SWITCH'  
  ,CURRENT_TIMESTAMP  
  ,'N'  
  ,'N'  
  ,A.PRODUCT_CODE  
  ,A.BRANCH_CODE  
  ,A.PRODUCT_TYPE  
  ,B.DATA_SOURCE  
  ,B.FACILITY_NUMBER  
  ,B.CUSTOMER_NUMBER  
  ,B.BRANCH_CODE  
  ,B.PRODUCT_TYPE  
  ,B.PRODUCT_CODE  
  ,A.CURRENCY  
  ,A.LOAN_AMT  
  ,A.PLAFOND  
 FROM IFRS_LI_IMA_AMORT_CURR A  
 JOIN IFRS_LI_IMA_AMORT_PREV B ON A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER  
  AND A.CURRENCY = B.CURRENCY -- MAKE SURE SAME CURRENCY  
 WHERE A.BRANCH_CODE <> B.BRANCH_CODE  
  AND B.ACCOUNT_NUMBER NOT IN (  
   SELECT DISTINCT ACCTNO  
   FROM IFRS_LI_ACCT_SWITCH  
   WHERE DOWNLOAD_DATE = @V_CURRDATE  
   )  
  AND A.MASTERID NOT IN (SELECT MASTERID FROM IFRS_LI_ACCT_CLOSED WHERE DOWNLOAD_DATE = @V_CURRDATE)  
  
 --DETECT SL ECF  
 UPDATE IFRS_LI_ACCT_SWITCH  
 SET PREV_SL_ECF = 'Y'  
 FROM (  
  SELECT B.MASTERID  
   ,C.CURRDATE  
  FROM IFRS_LI_ACCT_SL_ECF B  
  CROSS JOIN IFRS_LI_PRC_DATE_AMORT C  
  WHERE ISNULL(B.AMORTSTOPDATE, '') = ''  
   AND B.PREVDATE = B.PMTDATE  
  ) B  
 WHERE B.MASTERID = IFRS_LI_ACCT_SWITCH.PREV_MASTERID  
  AND IFRS_LI_ACCT_SWITCH.DOWNLOAD_DATE = B.CURRDATE  
  
 --DETECT EIR ECF  
 UPDATE IFRS_LI_ACCT_SWITCH  
 SET PREV_EIR_ECF = 'Y'  
 FROM (  
  SELECT B.MASTERID  
   ,C.CURRDATE  
  FROM IFRS_LI_ACCT_EIR_ECF B  
  CROSS JOIN IFRS_LI_PRC_DATE_AMORT C  
  WHERE ISNULL(B.AMORTSTOPDATE, '') = ''  
   AND B.PREV_PMT_DATE = B.PMT_DATE  
  ) B  
 WHERE B.MASTERID = IFRS_LI_ACCT_SWITCH.PREV_MASTERID  
  AND IFRS_LI_ACCT_SWITCH.DOWNLOAD_DATE = B.CURRDATE  
  
 -- NEW ACCOUNT METHOD OF AMORTZ  
 UPDATE IFRS_LI_ACCT_SWITCH  
 SET METHOD = B.AMORT_TYPE  
 FROM (  
  SELECT X.*  
   ,Y.*  
  FROM IFRS_LI_PRODUCT_PARAM X  
  CROSS JOIN IFRS_LI_PRC_DATE_AMORT Y  
  ) B  
 WHERE B.PRD_CODE = IFRS_LI_ACCT_SWITCH.PRDCODE  
  AND B.DATA_SOURCE = IFRS_LI_ACCT_SWITCH.DATASOURCE  
  AND B.PRD_TYPE = IFRS_LI_ACCT_SWITCH.PRDTYPE  
  AND IFRS_LI_ACCT_SWITCH.CCY = B.CCY  
  AND IFRS_LI_ACCT_SWITCH.DOWNLOAD_DATE = B.CURRDATE 
  
 -- CANCEL IF METHOD NOT THE SAME  
 UPDATE IFRS_LI_ACCT_SWITCH  
 SET PREV_SL_ECF = 'X'  
  ,PREV_EIR_ECF = 'X'  
  ,CREATEDBY = 'DIFF_METHOD'  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
  AND (  
   (  
    PREV_SL_ECF = 'Y'  
    AND METHOD = 'EIR'  
    )  
   OR (  
    PREV_EIR_ECF = 'Y'  
    AND METHOD = 'SL'  
    )  
   )  
  
 -- CANCEL IF NEW ACCT ALREADY HAVE SL ECF   
 UPDATE IFRS_LI_ACCT_SWITCH  
 SET PREV_SL_ECF = 'X'  
  ,PREV_EIR_ECF = 'X'  
  ,CREATEDBY = 'SL_ECF_EXIST'  
 FROM (  
  SELECT B.MASTERID  
   ,C.CURRDATE  
  FROM IFRS_LI_ACCT_SL_ECF B  
  CROSS JOIN IFRS_LI_PRC_DATE_AMORT C  
  WHERE ISNULL(B.AMORTSTOPDATE, '') = ''  
   AND B.PREVDATE = B.PMTDATE  
  ) B  
 WHERE B.MASTERID = IFRS_LI_ACCT_SWITCH.MASTERID  
  AND IFRS_LI_ACCT_SWITCH.DOWNLOAD_DATE = B.CURRDATE  
  AND IFRS_LI_ACCT_SWITCH.MASTERID <> IFRS_LI_ACCT_SWITCH.PREV_MASTERID  
  
 -- CANCEL IF NEW ACCT ALREADY HAVE EIR ECF  
 UPDATE IFRS_LI_ACCT_SWITCH  
 SET PREV_SL_ECF = 'X'  
  ,PREV_EIR_ECF = 'X'  
  ,CREATEDBY = 'EIR_ECF_EXIST'  
 FROM (  
  SELECT B.MASTERID  
   ,C.CURRDATE  
  FROM IFRS_LI_ACCT_EIR_ECF B  
  CROSS JOIN IFRS_LI_PRC_DATE_AMORT C  
  WHERE ISNULL(B.AMORTSTOPDATE, '') = ''  
   AND B.PREV_PMT_DATE = B.PMT_DATE  
  ) B  
 WHERE B.MASTERID = IFRS_LI_ACCT_SWITCH.MASTERID  
  AND IFRS_LI_ACCT_SWITCH.DOWNLOAD_DATE = B.CURRDATE  
  AND IFRS_LI_ACCT_SWITCH.MASTERID <> IFRS_LI_ACCT_SWITCH.PREV_MASTERID  
  
 -- UPDATE COST FEE SUMM TO NEW SWITCH ACCT NO  
 UPDATE IFRS_LI_ACCT_COST_FEE_SUMM  
 SET SW_MASTERID = B.MASTERID  
  ,BRCODE = B.BRCODE  
  ,CIFNO = B.CIFNO  
  ,FACNO = B.FACNO  
  ,ACCTNO = B.ACCTNO  
  ,DATASOURCE = B.DATASOURCE  
 FROM (  
  SELECT B.*  
  FROM IFRS_LI_ACCT_SWITCH B  
  JOIN IFRS_LI_PRC_DATE_AMORT C ON C.CURRDATE = B.DOWNLOAD_DATE  
  WHERE B.PREV_SL_ECF = 'Y'  
   OR B.PREV_EIR_ECF = 'Y'  
  ) B  
 WHERE IFRS_LI_ACCT_COST_FEE_SUMM.MASTERID = B.PREV_MASTERID  
  AND IFRS_LI_ACCT_COST_FEE_SUMM.DOWNLOAD_DATE = B.DOWNLOAD_DATE  
  
 UPDATE IFRS_LI_ACCT_COST_FEE_SUMM  
 SET MASTERID = SW_MASTERID  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
  AND SW_MASTERID IN (  
   SELECT MASTERID  
   FROM IFRS_LI_ACCT_SWITCH  
   WHERE DOWNLOAD_DATE = @V_CURRDATE  
   )  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'END'  
  ,'SP_IFRS_LI_ACCT_SWITCH'  
  ,''  
  )  
END  
GO
