USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_USERACCESSLOG]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_USERACCESSLOG]
	@UserID VARCHAR(36) = '',
	@ScreenID VARCHAR(20) = '',
	@Action varchar(50) = '',
	@From DATETIME,
	@To DATETIME
AS
BEGIN

	SELECT TOP 2000 CASE WHEN al.SCREENID IN ('PRC_DATE_PARAM','PRC_DATE_PARAM_STG') AND USERACTIVITYID = 'INSERT_WO_APPROVAL' THEN 'Running' ELSE n.LookupName end Action, 
		u.UserName + '-' + u.FullName 'Username', 
		s.Title 'ScreenName', 
		m.[Description] 'ModuleName', 
		al.CreatedDate, 
		al.CreatedHost, 
		al.PKID, 
		u.UserName as UserID
	FROM tblT_ActivityLogs al WITH (NOLOCK)
		INNER JOIN tblM_User u WITH (NOLOCK) ON u.PKID = al.UserID              
		INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = al.ScreenID              
		INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = al.ModuleID              
		inner join tblM_Lookup n with (nolock) ON n.LookupCode = al.UserActivityID        
	WHERE u.UserName LIKE '%' + ISNULL(@UserID, '') + '%'  
		AND s.ScreenID LIKE '%' + ISNULL(@ScreenID, '') + '%'              
		AND al.UserActivityID LIKE '%' + ISNULL(@Action, '') + '%'        
		AND al.CreatedDate BETWEEN @from AND DATEADD(DAY, 1, @to)    
	ORDER BY CreatedDate DESC              
END

GO
