USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCOMMONCODEVALUE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPCOMMONCODEVALUE]
(
	@COMMONNAME varchar(100)
)

AS
BEGIN
	--declare @comm as varchar(100)
	--select @comm = COMMONCODE from TBLM_COMMONCODEHEADER where COMMONNAME = @COMMONNAME
	select VALUE1 as PARENTCOMMONCODEVALUE, VALUE1+' - '+SUBSTRING(DESCRIPTION,0,50) AS [Parent Common Code Value] from TBLM_COMMONCODEDETAIL where COMMONCODE = @COMMONNAME
END

GO
