USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_INDIVIDUAL_REVIEW_DCFID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_INDIVIDUAL_REVIEW_DCFID](                            
 @MASTERID VARCHAR(100)                
)                            
AS                            
BEGIN                            
        
  SELECT DCFID FROM IFRS_IMP_IA_MASTER WHERE MASTERID = @MASTERID    
                
END
GO
