USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ECL_MODEL_H]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_ECL_MODEL_H]  
(  
 @ECL_ID int=0,  
  @ECLName VARCHAR(50)='',  
  @Status bit,  
  @CreatedBy VARCHAR(50),  
  @CreatedHost VARCHAR(50)  
  --@NEWPKID int OUTPUT  
)  
AS  
BEGIN  
   
 if @Status > 0  
 begin  
  UPDATE IFRS_ECL_MODEL_HEADER  
  SET ACTIVE_STATUS = 0  
 end  
  
 INSERT IFRS_ECL_MODEL_HEADER  
  ( PKID, ECL_MODEL_NAME, ACTIVE_STATUS,RUN_STATUS, CREATEDBY, CREATEDDATE, CREATEDHOST)  
 VALUES  
  (  
   @ECL_ID, @ECLName, @Status,0, @CreatedBy, GETDATE(), @CreatedHost  
  )  
  
 --SET @NEWPKID = IDENT_CURRENT('IFRS_ECL_MODEL_HEADER');  
      
END;

GO
