USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_RPT_RECOV_ANALYSIS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_RPT_RECOV_ANALYSIS]
(
    @DOWNLOAD_DATE DATE='01-Jan-2000',
    @SEGMENT int
)
AS
BEGIN    
	
	select LGD_RULE_ID, RECOVERY_YEAR, EAD_LOCAL_CCY, RECOVERY_AMOUNT, ISNULL(RECOVERY_RATE,0)*100 as RECOVERY_RATE
	from IFRS_LGD_RECOVERY_RATE
	where CURRDATE = @DOWNLOAD_DATE
	and LGD_RULE_ID = @SEGMENT

END;









GO
