USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PF_CONFIG_ECL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_PF_CONFIG_ECL]  
(  
 @ECL_MODEL_ID int =0  
)  
AS  
IF @ECL_MODEL_ID > 0    
BEGIN
	SELECT
		A.PKID RULE_ID
		,GROUP_SEGMENT
		,SEGMENT
		,SUB_SEGMENT
		--,'' AS UPSIDE_VALUE
		--,'' AS BASE_VALUE
		--,'' AS DOWNSIDE_VALUE
		--,'' AS UPSIDE_PROB_OUTCOME
		--,'' AS BASE_PROB_OUTCOME
		--,'' AS DOWNSIDE_PROB_OUTCOME
		--,'' AS OVERLAY_AMOUNT
	FROM IFRS_MSTR_SEGMENT_RULES_HEADER A
	--LEFT JOIN IFRS_ECL_MODEL_DETAIL_PF B ON A.PKID = B.SEGMENTATION_ID
	WHERE SEGMENT_TYPE = 'PORTFOLIO_SEGMENT' AND ISNULL(A.IS_DELETE,0)=0
		AND A.PKID NOT IN (SELECT SEGMENTATION_ID FROM IFRS_ECL_MODEL_DETAIL_PF WHERE ECL_MODEL_ID = @ECL_MODEL_ID)
	ORDER BY RULE_ID
END  

ELSE
BEGIN
  SELECT
	PKID RULE_ID
	,GROUP_SEGMENT
	,SEGMENT,SUB_SEGMENT
	--,'' UPSIDE_VALUE
	--,'' BASE_VALUE
	--,'' DOWNSIDE_VALUE
	--,'' UPSIDE_PROB_OUTCOME
	--,'' BASE_PROB_OUTCOME
	--,'' DOWNSIDE_PROB_OUTCOME
	--,'' OVERLAY_AMOUNT
  FROM IFRS_MSTR_SEGMENT_RULES_HEADER
  WHERE SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'  AND ISNULL(IS_DELETE,0)=0
  ORDER BY RULE_ID
END

GO
