USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SPPI_HEADER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_SPPI_HEADER]                          
(                          
 @CLASSNAME varchar(100) = '',
 @EFFECTIVE_DATE date = '2000/01/01',
 @PRODUCT_CODE varchar(max) = '',
 @STATUS varchar(50) = '',
 @SPPI_RSLT varchar(50) = '',
 @OVERRIDE_FLG bit= 0,
 @OVERRIDE_RSLT varchar(50) = '',
 @OVERRIDE_REMARKS varchar(2000) = '',
 @CREATEDBY varchar(36) = '',             
 @CREATEDHOST varchar(30) = ''             
)            
AS  
BEGIN       
    
 INSERT INTO [dbo].[IFRS_AC_SPPI_HEADER]
 (            
	CLASSNAME,
	EFFECTIVE_DATE,
	PRODUCT_CODE,
	STATUS,
	SPPI_RSLT,
	OVERRIDE_FLG,
	OVERRIDE_RSLT,
	OVERRIDE_REMARKS,
	CREATEDBY,
    CREATEDDATE,
    CREATEDHOST
 )                          
 VALUES                          
 (     
	 @CLASSNAME
	,@EFFECTIVE_DATE
	,@PRODUCT_CODE
	,@STATUS
	,@SPPI_RSLT
	,@OVERRIDE_FLG
	,@OVERRIDE_RSLT
	,@OVERRIDE_REMARKS
	,@CREATEDBY            
	,GETDATE()            
	,@CREATEDHOST
 )

SELECT MAX(PKID) AS PKID FROM IFRS_AC_SPPI_HEADER WHERE CREATEDBY = @CREATEDBY

END;

GO
