USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_TMP_LIGHT_PD_CONFIG]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPD_TMP_LIGHT_PD_CONFIG]
( 
	@PKID bigint = 0
)
as 
begin

	DELETE TMP_IFRS_LIGHT_PD_CONFIG
	WHERE PKID = @PKID;

	DELETE TMP_IFRS_ME_FORECAST_DATA
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_AVG_DEF_RATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_ME_SCORE_LIGHT
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_ME_SCORE_LIGHT_DETAIL
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_AVG_HIST_ME
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_ME_FORECAST_SCORE
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_ME_FORECAST_SCORE_DTL
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_PD_FLOWRATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_ADJUSTED_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_ADJ_DR_RATIO
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_LOGODDS_ADJ_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LOGODDS_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_ADJ_LOGODDS_ADJ_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LOGODDS_ADJ_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_EXP_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_TM_PD_FLOWRATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_MMULT_TM_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	DELETE TMP_IFRS_LIGHT_PD_TERM_STRUC
	WHERE LIGHT_PD_MODEL_ID = @PKID;

END

GO
