USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_FILL_SIT_DEFAULTSTATUS_FRANS]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



create  PROC [dbo].[EXEC_FILL_SIT_DEFAULTSTATUS_FRANS] 
AS
BEGIN

if OBJECT_ID('IFRS_IMP_DEFAULT_STATUS_FRANS_SIT','U') is not null drop table IFRS_IMP_DEFAULT_STATUS_FRANS_SIT;


select a.DOWNLOAD_DATE,a.MASTERID,case when (select count(1) from IFRS_IMP_DEFAULT_STATUS
where download_date between eomonth(dateadd(month,1,a.DOWNLOAD_DATE)) and eomonth(dateadd(year,1,a.download_date))
and
((DAY_PAST_DUE>90 or WO_FLAG=1 or RESTRU_SIFAT_FLAG=1)and (fp_flag<>1))
and MASTERID=a.MASTERID) >=1 then 1 else 0 end as DEFAULT_PDLGD_PUR_CF,
case when (select count(1) from IFRS_IMP_DEFAULT_STATUS
where download_date between eomonth(dateadd(month,1,a.DOWNLOAD_DATE)) and eomonth(dateadd(year,1,a.download_date))
and
((DPD_CIF>90 or WO_FLAG_CIF=1 or RESTRU_SIFAT_FLAG_CIF=1 or BI_COLLECT_CIF >=3)and (fp_flag<>1)) 
and MASTERID=a.MASTERID) >=1 then 1 else 0 end as DEFAULT_PDLGD_MB,
case when (select count(1) from IFRS_IMP_DEFAULT_STATUS
where download_date between eomonth(dateadd(month,1,a.DOWNLOAD_DATE)) and eomonth(dateadd(year,1,a.download_date))
and
((DAY_PAST_DUE>90 or WO_FLAG=1 or RESTRU_SIFAT_FLAG=1 or BI_COLLECTABILITY >=3) and (fp_flag<>1))
and MASTERID=a.MASTERID) >=1 then 1 else 0 end as DEFAULT_PDLGD_MUR
into IFRS_IMP_DEFAULT_STATUS_FRANS_SIT
from IFRS_IMP_DEFAULT_STATUS a
where a.DOWNLOAD_DATE>='31-jan-2012'




END


GO
