USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_DCFSCENARIODTEMP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_DCFSCENARIODTEMP]
(
	@HeaderID BIGINT,
	@PeriodStart BIGINT,
	@PeriodEnd BIGINT,
	@RR1 FLOAT = null,
	@RR2 FLOAT = null,
	@RR3 FLOAT = null,
	@RR4 FLOAT = null,
	@RR5 FLOAT = null,
	@CreatedBy VARCHAR(36),
	@CreatedHost VARCHAR(30)
)
AS
BEGIN

	DECLARE @Start DATE;
	DECLARE @End DATE;

	SELECT @Start = EOM FROM TBLM_PERIOD WHERE PKID = @PeriodStart;
	SELECT @End = EOM FROM TBLM_PERIOD WHERE PKID = @PeriodEnd;

	SELECT * FROM TBLM_PERIOD
	
	INSERT INTO IFRS_FL_SCENARIO_IA_D_TEMP
	(
		HEADERID,
		PERIODSTART,
		PERIODEND,
		RR1,
		RR2,
		RR3,
		RR4,
		RR5,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)
	VALUES
	(
		@HeaderID,
		@Start,
		@End,
		@RR1,
		@RR2,
		@RR3,
		@RR4,
		@RR5,
		@CreatedBy,
		GETDATE(),
		@CreatedHost
	);

END;

GO
