USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLFACFEECOSTVALIDATION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPP_UPLFACFEECOSTVALIDATION](          
@uploadID INT)          
AS          
begin tran          
          
declare @tokenCpy     INTEGER          
declare @cntTokenDt   INTEGER          
declare @uploadedby varchar(36)          
declare @count int          

 SELECT @uploadedby=CreatedBy  FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP] WHERE UploadID = @uploadID          
           
 DELETE TBLU_FEECOST_MESSAGEERROR WHERE CreatedBy = @uploadedby          
          
 --checking : Product Code null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'PRODUCT_CODE','PRODUCT_CODE cannot be empty', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP]          
  WHERE UploadID = @uploadID          
    AND PRD_CODE = ''          
    print '2'          
          
 --checking : Transaction Code null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_CODE','TRANSACTION_CODE cannot be empty', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP]          
  WHERE UploadID = @uploadID          
    AND TRX_CODE = ''          
    print '3'          
          
 --checking : Transaction Code does not exist in transaction parameter          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_CODE','TRANSACTION_CODE does not exist in Transaction Parameter', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  FROM [dbo].TBLU_FACILITY_FEECOST_TEMP T          
  WHERE T.UploadID = @uploadID          
    AND T.TRX_CODE not in (select distinct TRX_CODE from IFRS_MASTER_TRANS_PARAM where TRX_CODE = T.TRX_CODE)        
    AND  T.TRX_CODE <> ''          
    print '4'          
           
 --checking Transaction Date          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR](TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_DATE','TRANSACTION_DATE must consist of 8 characters with format yyyyMMdd', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP]          
  WHERE UPLOADID = @uploadID          
   AND LEN(isnull(TRANSACTION_DATE,'')) <> 8          
   AND TRANSACTION_DATE <> ''          
 print '5'          
          
 --checking: Transaction Date whether there is month bigger than 12 or less than 1          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_DATE', 'month must between 1..12', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
        FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP]          
  WHERE isnull (substring (TRANSACTION_DATE, 5, 2), '00') not between '01' and '12'          
             AND UPLOADID = @uploadID          
    AND TRANSACTION_DATE <> ''          
 print '6'          
           
 --checking: Transaction Date whether there is day bigger than or less than          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
	SELECT [ROW_NUMBER],'TRANSACTION_DATE', 'Day not in range', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
	FROM
	(
		SELECT *
			FROM TBLU_FACILITY_FEECOST_TEMP
		WHERE UPLOADID = @uploadID
	) A
	WHERE A.TRANSACTION_DATE <> ''          
		AND DAY(CAST(A.TRANSACTION_DATE AS DATE)) not between '01' and          
			DAY(EOMONTH(CAST(TRANSACTION_DATE AS DATE)))        
 print '7'          
          
 --checking: Transaction Date must > currdate ifrs_prc_date_amort          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_DATE', 'Transaction Date must be greater than or equal current process date', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP] T          
  WHERE --isnull(TRANSACTION_DATE,'21991231')          
  isnull(CAST(TRANSACTION_DATE AS INT),0)           
  < (select replace(CURRDATE,'-','') from IFRS_PRC_DATE_AMORT)          
    AND UPLOADID = @uploadID          
    AND TRANSACTION_DATE <> ''          
 print '8'          
          
 --checking : CCY null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'CCY','CCY cannot be empty', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP]          
  WHERE UploadID = @uploadID          
    AND CCY = ''          
    print '9'          
                
 --checking : Debet Credit Flag null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'DEBIT_CREDIT_FLAG','DEBIT_CREDIT_FLAG cannot be empty', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP]          
  WHERE UploadID = @uploadID          
    AND DEBIT_CREDIT_FLAG = ''          
    print '10'          
          
 --checking : Debet Credit only DR/CR          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'DEBIT_CREDIT_FLAG','DEBIT_CREDIT_FLAG only DR/CR', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP]          
  WHERE UploadID = @uploadID          
    AND DEBIT_CREDIT_FLAG not in ('D','C')          
    AND DEBIT_CREDIT_FLAG <> ''          
    print '11'          
          
 --checking : Transaction Amount null          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_AMOUNT','TRANSACTION_AMOUNT cannot be empty', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP]          
  WHERE UploadID = @uploadID          
    AND TRANSACTION_AMOUNT = ''          
    print '12'          
          
 --checking : transaction amount can not minus          
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  select [ROW_NUMBER], 'TRANSACTION_AMOUNT','TRANSACTION_AMOUNT can not be minus', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  from [TBLU_FACILITY_FEECOST_TEMP]          
  where UPLOADID = @UploadID          
   and cast(TRANSACTION_AMOUNT as numeric(32,6)) < 0          
   and TRANSACTION_AMOUNT <> ''          
 print '13'     
 
 --checking: Transaction Date must be same in 1 file
 INSERT INTO [dbo].[TBLU_FEECOST_MESSAGEERROR] (TEMP_ID, FIELD_NAME, ERROR_MSG, CreatedBy, UPLOAD_ID, MODULE)          
  SELECT [ROW_NUMBER],'TRANSACTION_DATE', 'Transaction Date must be same in 1 file', CreatedBy, @uploadID, 'FACILITY_FEECOST'          
  FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP] T          
  WHERE UPLOADID = @uploadID
	AND TRANSACTION_DATE <> (SELECT TOP 1 TRANSACTION_DATE FROM TBLU_FACILITY_FEECOST_TEMP WHERE UPLOADID = @uploadID ORDER BY ROW_NUMBER)
 print '14'     
             
           
 SELECT COUNT (*)  as countInvalid           
 FROM    [dbo].[TBLU_FEECOST_MESSAGEERROR] e          
 INNER JOIN [dbo].[TBLU_FACILITY_FEECOST_TEMP] d          
  ON e.TEMP_ID = d.ROW_NUMBER          
 WHERE d.UPLOADID = @uploadID          
  AND e.UPLOAD_ID = @uploadID          
 print '15'          
          
if @@ERROR <> 0                            
 rollback tran                             
else                            
 commit tran 

GO
