USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_COMMONCODED]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_COMMONCODED]    
 -- Add the parameters for the stored procedure here    
    @PKID BIGINT    
AS     
    BEGIN    
      
       UPDATE dbo.tblM_CommonCodeDetail    
       set IS_DELETE = 1 WHERE   PKID = @PKID    
          
          
    END





GO
