USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_USER]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_USER]                  
AS

	SELECT                         
	US.PKID,                        
	US.USERNAME AS USERNAME,                        
	US.SCREENGROUPID,                        
	SCREEN.SCREENGROUPID AS SCREENGROUP,
	BRANCHGROUPID,                        
	(SELECT NAME FROM TBLM_BRANCHGROUPHEADER WHERE PKID=BRANCHGROUPID) AS BRANCHGROUP,
	DEPARTEMENTGROUP,                        
	FULLNAME AS FULLNAME,                        
	NPK,                        
	EFFECTIVESTARTDATE,         
	EFFECTIVEENDDATE,           
	PASSWORDEXPIREDDATE,        
	US.COUNTRYID  ,                
	US.ISUSERLOCKED ,      
	US.ISUSERACTIVE ,       
	US.ISUSEREXPIRED , 
	REPORTTO = DBO.FN_GETREPORTTO(US.PKID),                    
	REPORTTONAME = DBO.FN_GETREPORTNAME(US.PKID),             
	MODULEID = DBO.FN_GETMODULEACCESS(US.PKID),             
	MODULE = DBO.FN_GETMODULEACCESSNAME(US.PKID),           
	PASSWORD             
	FROM TBLM_USER US            
	LEFT JOIN TBLM_SCREENGROUPHEADER SCREEN ON US.SCREENGROUPID=SCREEN.PKID
	WHERE ISUSERACTIVE=1
	ORDER BY FULLNAME





GO
