USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_CLEARMEMODELBYMEID]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_CLEARMEMODELBYMEID]
	@modelId bigint
AS
BEGIN
	DELETE from IFRS_MACRO_ECONOMIC_MODEL WHERE PKID = @modelId
	DELETE from IFRS_DEPENDENT_VARIABLE WHERE MODEL_ID = @modelId
	DELETE from IFRS_INDEPENDENT_VARIABLE WHERE MODEL_ID = @modelId

	DELETE from IFRS_ME_MODEL_SCENARIO WHERE MODEL_ID = @modelId

	--tab 1
	DELETE from  IFRS_ME_MODEL_CORRELATION WHERE MODEL_ID = @modelId
	DELETE from  IFRS_ME_MODEL_DERIVED_VARIABLE WHERE MODEL_ID = @modelId
	DELETE from  IFRS_ME_MODEL_PREDICTED_PD WHERE MODEL_ID = @modelId
	DELETE from IFRS_ME_MODEL_SCALING_FACTOR WHERE MODEL_ID = @modelId


	DELETE from  IFRS_LINREG_STATS WHERE MODEL_ID = @modelId
	DELETE from  IFRS_LINREG_VIF_DTL WHERE MODEL_ID = @modelId
	DELETE from  IFRS_MULT_LINEAR_REGR_COEF WHERE MODEL_ID = @modelId
	DELETE from  IFRS_MULT_LINEAR_REGR_RESULT WHERE MODEL_ID = @modelId


	DELETE from  IFRS_BACKTEST_IN_SAMPLE_DTL WHERE MODEL_ID = @modelId
	DELETE from  IFRS_BACKTEST_IN_SAMPLE_ME_DTL WHERE MODEL_ID = @modelId

	DELETE from  IFRS_BACKTEST_OUT_SAMPLE WHERE MODEL_ID = @modelId
	DELETE from  IFRS_BACKTEST_OUT_SAMPLE_DTL WHERE MODEL_ID = @modelId
	DELETE from  IFRS_BACKTEST_IN_SAMPLE_ME_DTL WHERE MODEL_ID = @modelId

	DELETE from  IFRS_R_ADF_TEST_DTL WHERE MODEL_ID = @modelId
	DELETE from  IFRS_R_ARIMA_MODEL_COEFF WHERE MODEL_ID = @modelId
	DELETE from  IFRS_R_ARIMA_MODEL_FCST WHERE MODEL_ID = @modelId
	DELETE from  IFRS_R_ARIMA_MODEL_STATS WHERE MODEL_ID = @modelId
	DELETE from  IFRS_R_TIMESERIES_MODEL WHERE MODEL_ID = @modelId
	DELETE from  IFRS_R_TIMESERIES_MODEL_ERROR WHERE MODEL_ID = @modelId

	DELETE from  IFRS_VARCLUS_CLUSTER_DTL WHERE MODEL_ID = @modelId
	DELETE from  IFRS_VARCLUS_CLUSTER_SUMM WHERE MODEL_ID = @modelId
	DELETE from  IFRS_VARCLUS_GRAND_SUMM WHERE MODEL_ID = @modelId
	DELETE from  IFRS_VARCLUS_INTER_CLUSTER_CORR WHERE MODEL_ID = @modelId
	DELETE from  IFRS_VARCLUS_MASTER WHERE MODEL_ID = @modelId
END

GO
