USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SPPI_DETAIL_PENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_SPPI_DETAIL_PENDING]                          
(                          
 @CLASSID bigint = 0,
 @QUESTIONID varchar(20) = '',
 @SELECTED_VALUE int = 0,
 @PKID_HEADER_OLD bigint = 0,
 @PKID_DETAIL_OLD bigint = 0,
 @CREATEDBY varchar(36) = '',             
 @CREATEDHOST varchar(30) = ''             
)            
AS  
BEGIN       
            
 INSERT INTO [dbo].[IFRS_AC_SPPI_DETAIL_PENDING]
 (            
	CLASSID,
	QUESTIONID,
	SELECTED_VALUE,
	PKID_HEADER_OLD,
	PKID_DETAIL_OLD,
	CLASSID_OLD,
	QUESTIONID_OLD,
	SELECTED_VALUE_OLD,
	CREATEDBY,
    CREATEDDATE,
    CREATEDHOST
 )                          
 VALUES                          
 (     
	 @CLASSID
	,@QUESTIONID
	,@SELECTED_VALUE
	,@PKID_HEADER_OLD
	,@PKID_DETAIL_OLD
	,(SELECT CLASSID FROM IFRS_AC_SPPI_DETAIL WHERE PKID = @PKID_DETAIL_OLD)
	,(SELECT QUESTIONID FROM IFRS_AC_SPPI_DETAIL WHERE PKID = @PKID_DETAIL_OLD)
	,(SELECT SELECTED_VALUE FROM IFRS_AC_SPPI_DETAIL WHERE PKID = @PKID_DETAIL_OLD)
	,@CREATEDBY            
	,GETDATE()            
	,@CREATEDHOST
 )  

END;

GO
