USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_WO_SCENARIO_DATA]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IFRS_IMP_WO_SCENARIO_DATA]          
@DOWNLOAD_DATE DATE = NULL                          
AS         
 DECLARE @V_CURRDATE  DATE         
 DECLARE @V_PREVDATE  DATE         
 DECLARE @V_PREVMONTH DATE         
 DECLARE @V_STR_SQL VARCHAR(max)           
 DECLARE @LGD_RULE_ID VARCHAR(50)         
 DECLARE @DEFAULT_RULE_ID VARCHAR(50)         
 DECLARE @SEGMENT VARCHAR(100)         
 DECLARE @SUB_SEGMENT VARCHAR(100)         
 DECLARE @GROUP_SEGMENT VARCHAR(100)         
 DECLARE @CONDITION VARCHAR(4000)                  
 DECLARE @V_LAG CHAR(1)                   
 DECLARE @V_CALC_METHOD VARCHAR(50)                          
BEGIN         
          
 IF (@DOWNLOAD_DATE IS NULL)         
 BEGIN         
  SELECT          
   @V_CURRDATE = EOMONTH(CURRDATE)       
   ,@V_PREVDATE = DATEADD(DAY,-1,CURRDATE)         
   ,@V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,CURRDATE))         
  FROM IFRS_PRC_DATE         
 END         
 ELSE         
 BEGIN         
  SET @V_CURRDATE = EOMONTH(@DOWNLOAD_DATE)        
  SET @V_PREVDATE = DATEADD(DAY,-1, @DOWNLOAD_DATE)         
  SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH, -1, @DOWNLOAD_DATE))          
 END         
        
 SELECT * INTO #WO FROM IFRS_WO_SCENARIO_DATA WHERE 1=2           
          
 SET @V_STR_SQL = ''         
         
 DECLARE SEG1         
 CURSOR FOR         
  SELECT A.PKID, B.SEGMENT, B.SUB_SEGMENT, B.GROUP_SEGMENT, B.CONDITION, A.LAG_1MONTH_FLAG, UPPER(A.CALC_METHOD) AS CALC_METHOD          
  FROM IFRS_LGD_RULES_CONFIG A         
  INNER JOIN IFRS_SCENARIO_SEGMENT_GENERATE_QUERY B         
  ON A.SEGMENTATION_ID = B.RULE_ID         
  WHERE B.SEGMENT_TYPE = 'LGD_SEGMENT'                       
  AND IS_DELETE = 0                       
  AND ACTIVE_FLAG = 1                       
  AND A.CUT_OFF_DATE <= CASE WHEN A.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END          
  ORDER BY PKID          
 OPEN seg1;            
 FETCH seg1 INTO @LGD_RULE_ID, @SEGMENT, @SUB_SEGMENT, @GROUP_SEGMENT, @CONDITION, @V_LAG, @V_CALC_METHOD         
 WHILE @@FETCH_STATUS = 0         
 BEGIN           
  SET @V_STR_SQL = ''         
         
  SET @V_STR_SQL = '         
  INSERT INTO #WO         
  (              
   DOWNLOAD_DATE         
   ,LGD_RULE_ID         
   ,LGD_RULE_NAME         
   ,DEFAULT_RULE_ID         
   ,MASTERID         
   ,ACCOUNT_NUMBER         
   ,CUSTOMER_NUMBER         
   ,SEGMENT         
   ,SUB_SEGMENT         
   ,GROUP_SEGMENT      
   ,LGD_METHOD         
   ,LGD_UNIQUE_ID         
   ,CALC_METHOD         
   ,WRITEOFF_DATE      
   ,OUTSTANDING_WO                          
   ,BI_COLLECTABILITY         
   ,DAY_PAST_DUE        
   ,CREATEDBY         
   ,CREATEDDATE          
  )         
  SELECT          
   A.DOWNLOAD_DATE         
   ,B.PKID AS LGD_RULE_ID         
   ,B.LGD_RULE_NAME         
   ,B.DEFAULT_RULE_ID         
   ,A.MASTERID         
   ,A.ACCOUNT_NUMBER         
   ,A.CUSTOMER_NUMBER         
   ,'''+@SEGMENT+''' AS SEGMENT         
   ,'''+@SUB_SEGMENT+''' AS SUB_SEGMENT         
   ,'''+@GROUP_SEGMENT+''' AS GROUP_SEGMENT          
   ,LGD_METHOD         
   ,CASE CALC_METHOD WHEN ''CUSTOMER'' THEN A.CUSTOMER_NUMBER WHEN ''ACCOUNT'' THEN A.MASTERID END AS LGD_UNIQUE_ID          
   ,UPPER(CALC_METHOD) AS CALC_METHOD      
   ,A.WRITEOFF_DATE                    
   ,A.OUTSTANDING_WO          
   ,A.BI_COLLECTABILITY         
   ,A.DAY_PAST_DUE           
   ,''ADMIN'' AS CREATEDBY       
   ,GETDATE() AS CREATEDDATE                    
  FROM IFRS_MASTER_WO A (NOLOCK)         
  JOIN IFRS_LGD_RULES_CONFIG B ON B.PKID = ' + @LGD_RULE_ID + '                 
  WHERE        
  A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, ''' + CONVERT(VARCHAR(10),@V_CURRDATE,112) + '''))          
  ELSE ''' + CONVERT(VARCHAR(10), @V_CURRDATE,112) + ''' END     
  ' + CASE WHEN @GROUP_SEGMENT LIKE '%JENIUS%' THEN + 'AND A.CUSTOMER_NUMBER NOT IN (SELECT DISTINCT CUSTOMER_NUMBER FROM IFRS_EXCLUDE_JENIUS) ' ELSE '' END + ' AND ' + @CONDITION    
              
  --PRINT  (@V_STR_SQL)         
  EXEC (@V_STR_SQL)         
         
  FETCH NEXT FROM seg1 INTO @LGD_RULE_ID, @SEGMENT, @SUB_SEGMENT, @GROUP_SEGMENT, @CONDITION, @V_LAG, @V_CALC_METHOD           
 END            
 CLOSE seg1;         
 DEALLOCATE seg1;       
         
 --INSERT INTO TABLE SCENARIO DATA         
 DELETE A       
 FROM IFRS_WO_SCENARIO_DATA A       
 JOIN IFRS_LGD_RULES_CONFIG B       
 ON A.LGD_RULE_ID = B.PKID       
 WHERE DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END          
 AND B.ACTIVE_FLAG = 1 AND B.IS_DELETE = 0

 INSERT INTO IFRS_WO_SCENARIO_DATA                        
 (                        
    DOWNLOAD_DATE          
    ,LGD_RULE_ID          
    ,LGD_RULE_NAME          
    ,DEFAULT_RULE_ID          
    ,MASTERID          
    ,SEGMENT          
    ,SUB_SEGMENT          
    ,GROUP_SEGMENT          
    ,ACCOUNT_NUMBER          
    ,CUSTOMER_NUMBER          
    ,LGD_METHOD          
    ,CALC_METHOD          
    ,WRITEOFF_DATE       
    ,OUTSTANDING_WO          
    ,BI_COLLECTABILITY          
    ,DAY_PAST_DUE          
    ,LGD_UNIQUE_ID                        
 )               
 SELECT                         
    DOWNLOAD_DATE          
    ,LGD_RULE_ID          
    ,LGD_RULE_NAME          
    ,DEFAULT_RULE_ID          
    ,MASTERID          
    ,SEGMENT          
    ,SUB_SEGMENT          
    ,GROUP_SEGMENT          
    ,ACCOUNT_NUMBER          
    ,CUSTOMER_NUMBER          
    ,LGD_METHOD          
    ,CALC_METHOD          
    ,WRITEOFF_DATE       
    ,OUTSTANDING_WO            
    ,BI_COLLECTABILITY          
    ,DAY_PAST_DUE          
    ,LGD_UNIQUE_ID                       
 FROM #WO        
         
END 
GO
