USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_AC_OVERRIDE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_AC_OVERRIDE]  
          
AS      
BEGIN      
  
 select * from   
 (  
  SELECT  
    --ROW_NUMBER() OVER (order by B.createddate desc) as Numb
  A.PKID,  
   A.CUSTOMER_NUMBER  
   ,CAST(A.MASTERID AS VARCHAR(100)) AS MASTER_ACCOUNT_ID  
   ,B.ASSET_CLS AS PREV_ASSET_CLS  
   ,A.ASSET_CLS  
   ,CASE WHEN (A.UPDATEDDATE IS NULL) THEN A.CREATEDDATE ELSE A.UPDATEDDATE END UPDATEDDATE
   ,A.EFFECTIVE_DATE  
  FROM IFRS_AC_OVERRIDE A  
  LEFT JOIN   
  IFRS_AC_OVERRIDE_HIST B ON A.EFFECTIVE_DATE = B.EFFECTIVE_DATE  
  AND A.CUSTOMER_NUMBER=B.CUSTOMER_NUMBER AND A.MASTERID = B.MASTERID  
  AND A.CREATEDDATE <> B.CREATEDDATE  
  
 ) as a --where Numb = 2  
  
END;

GO
