USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKLISTPENDINGAPPROVAL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CHECKLISTPENDINGAPPROVAL]
(
	@userID varchar(36)
)
AS
BEGIN

	SELECT PKID AS "CID",
		OVRCHK.UPDATEDBY AS "UploadedBy",
		OVRCHK.UPDATEDDATE AS "UploadedDate",
		(
			SELECT FullName
			FROM TBLM_USER
			WHERE PKID = OVRCHK.UPDATEDBY
		) AS "UploadedName",
		OVRCHK.CUSTOMER_NUMBER AS "CustomerNumber",
		REPLACE(SUBSTRING(REMARKS, 0, 15), '  ', ' ') REMARKS15,
		REMARKS,
		FILENAME,
		PATH
	FROM IFRS_IMP_OVERRIDECHECKLIST_PEND OVRCHK
		LEFT JOIN TBLM_REPORTTO R ON OVRCHK.UPDATEDBY = R.USERID
	WHERE ISNULL(r.ReportTo, OVRCHK.UPDATEDBY) = @userID
		AND OVRCHK.CHECKLISTSTATUS = 'P';

END;

GO
