USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[TMP_ME_MODEL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[TMP_ME_MODEL]    
 @modelId int    
 AS    
    
 declare @temp int = 0    
 set @temp = (select COUNT (*) from TMP_IFRS_MODEL_FILTER_CORTEST where MODEL_ID = @modelId)    
     
 if @temp = 0    
    
 begin    
  select  distinct '' ParentId, ME_CODE FieldId, '' val     
  from  IFRS_ME_MODEL_CORRELATION     
  where  MODEL_ID = @modelId    
  group by ME_CODE    
  UNION    
  select  ME_CODE ParentName, ' '+DERIVED_TYPE FieldName, CORRELATION_VALUE val from IFRS_ME_MODEL_CORRELATION     
  where  MODEL_ID = @modelId    
 end    
    
 else    
    
 begin    
 SELECT ParentId,FieldId ,     
 case when val = 0    
 then NULL    
 else     
  val    
 end val      
 FROM (    
    select  distinct '' ParentId, LOOKUPINITIAL FieldId, '' val     
    from  TMP_IFRS_MODEL_FILTER_CORTEST     
    where  MODEL_ID = @modelId  
    group by LOOKUPINITIAL    
    UNION    
    select  LOOKUPINITIAL ParentName, ' '+VARIABLENAME FieldName, CORRELATION_VAL val from TMP_IFRS_MODEL_FILTER_CORTEST     
    where  MODEL_ID = @modelId    
   )tab    
  
  
 UPDATE A  SET LOOKUPINITIAL = B.MACRO_ECONOMIC_CODE, EXPECTED_TREND = B.IMPACT_TO_DEPENDENT  FROM   TMP_IFRS_MODEL_FILTER_CORTEST A INNER JOIN IFRS_INDEPENDENT_VARIABLE B  ON A.MODEL_ID = B.MODEL_ID AND A.VARIABLENAME LIKE  B.MACRO_ECONOMIC_CODE + '%'  
  
  
 end  
GO
