USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMPRODUCT]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_PARAMPRODUCT]  
(
	@PKID bigint = 0
)
AS     
BEGIN

	--DELETE FROM dbo.IFRS_MASTER_PRODUCT_PARAM
	--WHERE PKID = @PKID

	UPDATE IFRS_MASTER_PRODUCT_PARAM SET IS_DELETE = 1 WHERE PKID = @PKID
	EXEC [dbo].[SP_IFRS_AC_SYNC_LIST_VALUE_MASTER_PRODUCT]
   
END

GO
