USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TREASURYMODULEH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_TREASURYMODULEH]
(
    @DOWNLOAD_DATE as date = '1-JAN-2000',
    @DATA_SOURCE as varchar(20)='',
    @PRODUCT_TYPE as varchar(20)='',
    @PRODUCT_CODE as varchar(20)='',
	@PRODUCT_GROUP  as varchar(25)='',
    @FACILITY_NUMBER as varchar(50)='',
    @CUSTOMER_NUMBER as varchar(50)='',
	@CUSTOMER_NAME as varchar(150)='',
    @ACCOUNT_NUMBER as varchar(50)='',
    @Where as VARCHAR(1000)='',
    @pageNumber as INT,
    @pageSize as INT,
    @SortColumn as varchar(100)=''
)
AS
BEGIN

	DECLARE @Query AS VARCHAR(3000);
	DECLARE @DOWNLOAD_DATE_DD AS DATE;
 
	IF @SortColumn = ''
	BEGIN
		SET @SortColumn = 'MASTER_ACCOUNT_CODE';
	END
 
	IF @pageSize = 0
	BEGIN
		SET @pageSize = 1
	END
 
    IF (CONVERT(DATE, @DOWNLOAD_DATE) = '1-JAN-2000')
    BEGIN
		SELECT @DOWNLOAD_DATE_DD = currdate FROM IFRS_PRC_DATE
    END
    ELSE
    BEGIN
        SELECT @DOWNLOAD_DATE_DD = CONVERT(DATE, @DOWNLOAD_DATE)
    END
    
    SET @Query =
		'SELECT CONVERT(varchar(50), download_date, 111) + MASTER_ACCOUNT_CODE DDATE_MAID,
			DOWNLOAD_DATE,
			A.DATA_SOURCE,
			BRANCH_CODE,
			CUSTOMER_NAME,
			CUSTOMER_NUMBER,
			FACILITY_NUMBER,
			ACCOUNT_NUMBER,
			MASTER_ACCOUNT_CODE,
			LOAN_START_DATE,
			LOAN_DUE_DATE,
			PRODUCT_CODE,
			PRD_DESC AS PRODUCT_DESC,
			CURRENCY,
			ISNULL(EXCHANGE_RATE, 0) AS EXCHANGE_RATE,
			IFRS9_CLASS,
			ISNULL(EIR, 0) AS EIR,
			ISNULL(INTEREST_RATE, 0) AS INTEREST_RATE,
			ISNULL(PLAFOND, 0) AS PLAFOND,
			ISNULL(OUTSTANDING,0) AS OUTSTANDING,
			ISNULL(FAIR_VALUE_AMOUNT,0) AS FAIR_VALUE_AMOUNT,
			ISNULL(EAD_AMOUNT,0) AS EAD_AMOUNT,
			ISNULL(ECL_AMOUNT,0) AS ECL_AMOUNT,
			STAGE AS CR_STAGE,
			TENOR,
			BI_COLLECTABILITY,
			ISNULL(IMPAIRED_FLAG, ''C'') AS IMPAIRED_FLAG
		FROM IFRS_MASTER_ACCOUNT A
		LEFT JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)
			ON A.DATA_SOURCE = B.DATA_SOURCE AND A.PRODUCT_CODE = B.PRD_CODE                               
		WHERE '
		+
			' DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE_DD, 120)  +  ''''
			+' AND A.DATA_SOURCE LIKE ''%TRS%'' '
			+ CASE WHEN @DATA_SOURCE <> '' 
				THEN 'AND A.DATA_SOURCE LIKE ''%' + LTRIM(RTRIM(@DATA_SOURCE)) + '%'' '
				ELSE ' '
			END
			+ CASE WHEN @PRODUCT_GROUP <> '' 
				THEN 'AND PRODUCT_GROUP LIKE ''%' + LTRIM(RTRIM(@PRODUCT_GROUP)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @PRODUCT_CODE <> '' 
				THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_CODE)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @PRODUCT_TYPE <> '' 
				THEN 'AND PRODUCT_TYPE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_TYPE)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @FACILITY_NUMBER <> '' 
				THEN 'AND FACILITY_NUMBER LIKE ''%' + LTRIM(RTRIM(@FACILITY_NUMBER)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @CUSTOMER_NUMBER <> '' 
				THEN 'AND CUSTOMER_NUMBER LIKE ''%' + LTRIM(RTRIM(@CUSTOMER_NUMBER)) + '%'''
				ELSE ''
			END
			+ CASE WHEN @CUSTOMER_NAME <> '' 
				THEN 'AND CUSTOMER_NAME LIKE ''%' + LTRIM(RTRIM(@CUSTOMER_NAME)) + '%'''
				ELSE ''
			END
			+ CASE WHEN @ACCOUNT_NUMBER <> '' 
				THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNT_NUMBER)) + '%'''
				ELSE ''
			END
			+ CASE WHEN @Where <> '' THEN 'AND ' + @Where    
				ELSE ''
			END
		+ '
		ORDER BY ' + @SortColumn + '
		OFFSET ' + CAST(@pageNumber AS VARCHAR) + ' ROWS
		FETCH NEXT ' + CAST(@pageSize AS VARCHAR) + ' ROWS ONLY OPTION (RECOMPILE);';

	PRINT(@Query);
	EXEC (@Query);
              
END;

GO
