USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IAPLISTSCENARIOPENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IAPLISTSCENARIOPENDING](
@ID bigint,
@DATE_CIF_SEGMENT varchar(100),
@DOWNLOAD_DATE date,
@CUSTOMER_NUMBER varchar(50),
@SCENARIO_ID smallint,
@SCENARIO_NAME varchar(50),
@PROBABILITY_OUTCOME float,
@PROBABILITY_OUTCOME_OVERRIDE float,
@RECOVERY_RATE float,
@IAP_PARAM_HEADERID bigint,
@CREATEDBY varchar(36),
@CREATEDHOST varchar(30))
AS
BEGIN

	INSERT INTO IFRS_IAP_LIST_SCENARIO_PENDING
	([ID],[DATE_CIF_SEGMENT],[DOWNLOAD_DATE],[CUSTOMER_NUMBER],[SCENARIO_ID],[SCENARIO_NAME]
      ,[PROBABILITY_OUTCOME],[PROBABILITY_OUTCOME_OVERRIDE],[RECOVERY_RATE]
      ,[IAP_PARAM_HEADERID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])
	VALUES
	(@ID,@DATE_CIF_SEGMENT,@DOWNLOAD_DATE,@CUSTOMER_NUMBER,@SCENARIO_ID,@SCENARIO_NAME
      ,@PROBABILITY_OUTCOME,@PROBABILITY_OUTCOME_OVERRIDE,@RECOVERY_RATE
      ,@IAP_PARAM_HEADERID,@CREATEDBY,GETDATE(),@CREATEDHOST)

END

GO
