USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_SCALARCONFIG_H]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_SCALARCONFIG_H]  
@PKID int,  
@BY varchar(36),  
@HOST varchar(36),  
@APPROVAL bit  
AS  
BEGIN  
 IF @APPROVAL = 1  
 BEGIN  
  INSERT INTO IFRS_ME_SCALAR_HEADER_PENDING(PKID,MODEL_ID,PERIOD,ADJ_TYPE,SCALAR_APPLY,RULE_ID,[BY],[DATE],HOST,[ACTION])  
  SELECT  PKID,MODEL_ID,PERIOD,ADJ_TYPE,SCALAR_APPLY,RULE_ID,@BY [BY],GETDATE() [DATE],@HOST HOST ,'D'   
  FROM IFRS_ME_SCALAR_HEADER  
  WHERE PKID = @PKID  
  
   
  INSERT INTO IFRS_ME_SCALAR_DETAIL_PENDING(SCALAR_ID,SCENARIO_NO,SCENARIO_NAME,ADJUSTMENT_VALUE,ECONOMY_IMPACT)  
  SELECT  SCALAR_ID,SCENARIO_NO,SCENARIO_NAME,ADJUSTMENT_VALUE,ECONOMY_IMPACT  
  FROM IFRS_ME_SCALAR_DETAIL  
  WHERE PKID = @PKID  
 END  
 ELSE  
  UPDATE IFRS_ME_SCALAR_HEADER SET IS_DELETE = 1 WHERE PKID = @PKID  
END
GO
