USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_TmpModelMEIndependent]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_TmpModelMEIndependent]      
(      
    @PKID int     
)      
AS      
BEGIN      
         
    DELETE TMP_IFRS_INDEPENDENT_VARIABLE      
    WHERE PKID = @PKID;      
          
END; 
GO
