USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADAPPROVEFEECOST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADAPPROVEFEECOST](    
@UploadID int,    
@Remarks varchar(500),  
@ApprovedBy varchar(36),    
@ApprovedHost varchar(30)    
)    
AS  
BEGIN TRAN  
 --INSERT ACTIVITYLOG  
 EXEC uspI_ActivityLogs @ApprovedBy,'INSERT_WI_APPROVAL','FEECOST_UPLOAD','IAS',@ApprovedHost    
  
 --DELETE TBLU_TRANS_ASSET  
 DELETE A FROM TBLU_TRANS_ASSET A  
 INNER JOIN TBLU_TRANS_ASSET_PENDING B  
  ON A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER AND A.PRD_CODE = B.PRD_CODE  
   AND A.FACILITY_NUMBER = B.FACILITY_NUMBER AND A.TRANSACTION_DATE = B.TRANSACTION_DATE AND A.TRX_CODE = B.TRX_CODE  
 WHERE B.UPLOADID = @UploadID  
   
 --INSERT TBLU_TRANS_ASSET  
 INSERT INTO TBLU_TRANS_ASSET([DOWNLOAD_DATE],[DATA_SOURCE],[PRD_CODE],[TRX_CODE],[FACILITY_NUMBER],[ACCOUNT_NUMBER],[TRANSACTION_DATE]  
      ,[EFFECTIVE_DATE],[CURRENCY],[AL_FLAG],[DEBIT_CREDIT_FLAG],[TRANSACTION_AMOUNT],[UPLOADID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]  
   ,[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST])    
 SELECT TRANSACTION_DATE,[DATA_SOURCE],[PRD_CODE],[TRX_CODE],[FACILITY_NUMBER],[ACCOUNT_NUMBER],[TRANSACTION_DATE],[EFFECTIVE_DATE]  
  ,[CURRENCY],[AL_FLAG],[DEBIT_CREDIT_FLAG],[TRANSACTION_AMOUNT],[UPLOADID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],@ApprovedBy    
  ,GetDate(),@ApprovedHost    
 FROM TBLU_TRANS_ASSET_PENDING    
 WHERE UPLOADID = @UploadID  
 ORDER BY PKID  
   
 --INSERT TBLU_TRANS_ASSET_HIST  
 INSERT INTO TBLU_TRANS_ASSET_HIST([DOWNLOAD_DATE],[DATA_SOURCE],[PRD_CODE],[TRX_CODE],[FACILITY_NUMBER],[ACCOUNT_NUMBER],[TRANSACTION_DATE]  
      ,[EFFECTIVE_DATE],[CURRENCY],[AL_FLAG],[DEBIT_CREDIT_FLAG],[TRANSACTION_AMOUNT],[UPLOADID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]  
   ,[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST])    
 SELECT TRANSACTION_DATE,[DATA_SOURCE],[PRD_CODE],[TRX_CODE],[FACILITY_NUMBER],[ACCOUNT_NUMBER],[TRANSACTION_DATE],[EFFECTIVE_DATE]  
  ,[CURRENCY],[AL_FLAG],[DEBIT_CREDIT_FLAG],[TRANSACTION_AMOUNT],[UPLOADID],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],@ApprovedBy    
  ,GetDate(),@ApprovedHost    
 FROM TBLU_TRANS_ASSET_PENDING    
 WHERE UPLOADID = @UploadID  
 ORDER BY PKID  
  
 --UPDATE TBLU_FEECOST_INFO  
 UPDATE TBLU_FEECOST_INFO    
       SET Status = 'APPROVED'  
   ,REMARKS = @Remarks  
   ,UpdatedBy = @ApprovedBy    
            ,UpdatedHost = @ApprovedHost    
            ,UpdatedDate = GetDate()    
       WHERE UploadID = @UploadID    
    
 --DELETE TBLU_TRANS_ASSET_TEMP  
 DELETE FROM TBLU_TRANS_ASSET_TEMP where UPLOADID = @UploadID    
   
 --DELETE TBLU_TRANS_ASSET_PENDING  
 DELETE FROM TBLU_TRANS_ASSET_PENDING WHERE UPLOADID = @UploadID    
    
IF @@ERROR <> 0                      
 ROLLBACK TRAN                       
ELSE                      
 COMMIT TRAN  
GO
