USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspD_IMP_DCF_EXISTING]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspD_IMP_DCF_EXISTING]    
(      
 @masterid       VARCHAR(2000) = '',    
 @CreatedBy      VARCHAR(36) = '',      
 @CreatedHost    VARCHAR(30) = ''      
)      
AS      
BEGIN      
 DELETE FROM tblT_PaymentExpected_TEMP    
 WHERE MASTERID = @masterid    
     
END; 
GO
