USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_USER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_USER]
	@UserName varchar(50)='',
	@ScreenGroupID bigint=0,
	@BranchGroupID varchar(50)='',
	@DepartementGroup varchar(50)='',
	@FullName varchar(100)='',
	@NPK varchar(50)='',
	@ReportTo varchar(500)='',
	@ModuleID varchar(500)='',
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(30) =''
AS
BEGIN

	DECLARE @CountryID VARCHAR(10)
	DECLARE @IsUserActive BIT
	DECLARE @IsUserLocked BIT
	DECLARE @Password VARCHAR(MAX)
	SET @CountryID = 'ID'
	SET @IsUserActive = 1
	SET @IsUserLocked = 0

	DECLARE @IntervalPassword INT
	SELECT @IntervalPassword = CONVERT(INT, CommonUsage)
	FROM tblM_CommonCodeHeader 
	WHERE CommonCode = 'AP090'
    
	SELECT @Password = CommonUsage
	FROM tblM_CommonCodeHeader 
	WHERE CommonCode = 'AP000'                        
                          
	INSERT INTO tblM_User                        
	(
		PKID, 
		UserName, 
		Password, 
		ScreenGroupID, 
		BranchGroupID, 
		DepartementGroup, 
		FullName, 
		NPK, 
		CountryID, 
		CreatedBy, 
		CreatedHost, 
		IsPasswordExpired, 
		IsUserExpired, 
		CreatedDate, 
		IsUserActive, 
		IsUserLocked, 
		PasswordExpiredDate, 
		PasswordLastUpdatedDatetime
	)
	SELECT NEWID(), 
		LTRIM(RTRIM(@UserName)), 
		@Password, 
		@ScreenGroupID, 
		@BranchGroupID, 
		@DepartementGroup, 
		LTRIM(RTRIM(@FullName)), 
		@NPK, 
		@CountryID, 
		@CreatedBy, 
		@CreatedHost, 
		1, 
		0, 
		GETDATE(), 
		@IsUserActive, 
		@IsUserLocked, 
		DATEADD(DAY, -1 * @IntervalPassword -1, GETDATE()), 
		GETDATE();
    
	DECLARE @pkid UNIQUEIDENTIFIER                                
	SELECT @pkid = PKID 
	FROM tblM_User 
	WHERE UserName = Ltrim(Rtrim(@UserName));

	INSERT INTO tblm_reportto 
	(
		ID, 
		UserID, 
		Username, 
		ReportTo, 
		Active, 
		CreatedBy, 
		CreatedDate, 
		CreatedHost
	)
	SELECT NEWID(), 
		@pkid, 
		LTRIM(RTRIM(@UserName)), 
		items, 
		1, 
		@CreatedBy, 
		GETDATE(), 
		@CreatedHost
	FROM dbo.Split(@ReportTo, ';');
    
	INSERT INTO tblM_UserModule (ModuleID,UserID,CreatedBy,CreatedDate,CreatedHost)
	SELECT items, @pkid, @CreatedBy, GETDATE(), @CreatedHost
	FROM dbo.Split(@ModuleID, ';');

END;

GO
