USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_LIGHT_PD_CALCULATION]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ===============================================================
-- Author:		Kaiser
-- Create date: 26-NOV-2017
-- Description:	SP to calculate light PD using override values
-- ===============================================================
CREATE PROCEDURE [dbo].[USPU_LIGHT_PD_CALCULATION] 
(	@LIGHT_ID BIGINT,
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(36)='')
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @V_BOOTSTRAP_ID BIGINT;
	DECLARE @V_MAX_LIGHT_ID BIGINT;
	DECLARE @V_ACTIVE_DEFAULT_RATE_ID BIGINT;
	DECLARE @V_CURSOR SMALLINT;
	DECLARE @V_MAX SMALLINT;

	DELETE TMP_IFRS_LIGHT_PD_FLOWRATE
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_LIGHT_ADJUSTED_PD
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_LIGHT_ADJ_DR_RATIO
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_LIGHT_LOGODDS_ADJ_PD
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_LIGHT_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_LOGODDS_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_ADJ_LOGODDS_ADJ_PD
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_LOGODDS_ADJ_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_LIGHT_EXP_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_LIGHT_TM_PD_FLOWRATE
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_LIGHT_MMULT_TM_PD
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	DELETE TMP_IFRS_LIGHT_PD_TERM_STRUC
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	SELECT @V_BOOTSTRAP_ID = BOOTSTRAP_RULE_ID 
	FROM TMP_IFRS_LIGHT_PD_CONFIG 
	WHERE PKID = @LIGHT_ID;

	SELECT @V_MAX_LIGHT_ID = MAX(A.LIGHT_ID) 
	FROM IFRS_IMP_LIGHT_SCEN_PARAM A
	JOIN TMP_IFRS_LIGHT_PD_CONFIG B
	ON A.LIGHT_GROUP = B.LIGHT_GROUP
		AND B.PKID = @LIGHT_ID

	SELECT @V_ACTIVE_DEFAULT_RATE_ID = MIN(PKID)
	FROM IFRS_PD_DEFAULT_RATE_CONFIG
	WHERE ACTIVE_FLAG = 1;
    
	/*---- Step 1 input the transition matrix ----*/
    INSERT INTO TMP_IFRS_LIGHT_PD_FLOWRATE
	(
		LIGHT_PD_MODEL_ID,
		EFF_DATE,
		PD_RULE_ID,
		BUCKET_GROUP,
	    BUCKET_FROM, 
		BUCKET_TO, 
		FLOWRATE
	)
    SELECT @LIGHT_ID,
		A.EFF_DATE,
		A.PD_RULE_ID,
		A.BUCKET_GROUP,
	    A.BUCKET_FROM, 
		A.BUCKET_TO, 
		A.FLOWRATE 
	FROM IFRS_PD_MAA_FLOWRATE A
	JOIN TMP_IFRS_LIGHT_PD_CONFIG B
	ON B.PKID = @LIGHT_ID
	    AND A.PD_RULE_ID = B.TM_RULE_ID
		AND A.EFF_DATE = B.TM_PERIOD;

    IF NOT EXISTS (SELECT TOP 1 1 FROM TMP_IFRS_LIGHT_PD_FLOWRATE WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID AND BUCKET_FROM = 1 AND FLOWRATE > 0)
	BEGIN 
	    /*---- Step 2 input Moody's transition matrix ----*/
		SELECT A.BUCKET_GROUP,
			ROW_NUMBER() OVER (ORDER BY MIN(B.PKID)) BUCKET_ID,
			AVG(RATE) FLOWRATE
		INTO #TMP_IFRS_TM_MOODYS_GROUP1
		FROM
		(
			SELECT DISTINCT CC.BUCKET_GROUP,
				AA.RATING_FROM,
				AA.RATING_TO,
				AA.RATE
			FROM IFRS_TM_MOODYS AA
			JOIN VW_IFRS_MOODYS_RATING_RANGE BB
				ON AA.RATING_FROM = BB.RANGE_START
				AND BB.BUCKET_GROUP = (
										  SELECT DISTINCT BUCKET_GROUP --GROUP1
									  FROM VW_IFRS_MOODYS_RATING_RANGE 
									  WHERE PKID  = (SELECT MIN(PKID) FROM VW_IFRS_MOODYS_RATING_RANGE)
									  )
			JOIN VW_IFRS_MOODYS_RATING_RANGE CC	
				ON AA.RATING_TO = CC.RANGE_END
			JOIN TMP_IFRS_LIGHT_PD_CONFIG DD
			ON AA.EFF_DATE = DD.TM_PERIOD
				AND DD.PKID = @LIGHT_ID
		) A
		JOIN 
		(
			 SELECT BUCKET_GROUP,
				MIN(PKID) AS PKID 
			 FROM VW_IFRS_MOODYS_RATING_RANGE
			 GROUP BY BUCKET_GROUP
		) B ON A.BUCKET_GROUP = B.BUCKET_GROUP
		GROUP BY A.BUCKET_GROUP;

		/*---- Part of Step 1, if Bucket 1 flowrate is zero then take it from Moodys's transition matrix ----*/
		MERGE INTO TMP_IFRS_LIGHT_PD_FLOWRATE A
		USING #TMP_IFRS_TM_MOODYS_GROUP1 B
		ON (A.LIGHT_PD_MODEL_ID = @LIGHT_ID AND A.BUCKET_FROM = 1 AND A.BUCKET_TO = B.BUCKET_ID)
		WHEN MATCHED THEN
		UPDATE SET A.FLOWRATE = B.FLOWRATE;

		/*---- Part of Step 3, if Bucket 1 flowrate is zero then take Bucket 1 Default Rate Ratio from Moodys's Default Rate Ratio ----*/
		INSERT INTO TMP_IFRS_LIGHT_ADJ_DR_RATIO
		(
			LIGHT_PD_MODEL_ID,
			DR_RULE_ID,
			BUCKET_ID,
			ADJUSTED_DR_RATIO
		)
		SELECT @LIGHT_ID,
			@V_ACTIVE_DEFAULT_RATE_ID,
			1,
			A.FLOWRATE / C.RATE * D.DEFAULT_RATE_RATIO
		FROM TMP_IFRS_LIGHT_PD_FLOWRATE A
		JOIN VW_IFRS_MAX_BUCKET B
		ON A.LIGHT_PD_MODEL_ID = @LIGHT_ID
		    AND A.BUCKET_GROUP = B.BUCKET_GROUP
			AND A.BUCKET_FROM = 1 
			AND A.BUCKET_TO = B.MAX_BUCKET_ID
		JOIN IFRS_TM_MOODYS C
		ON A.EFF_DATE = C.EFF_DATE
			AND C.RATING_FROM = (SELECT BUCKET_NAME FROM IFRS_IMPC_BUCKET_PARAM WHERE BUCKET_GROUP = 'ER9_002' AND BUCKET_ID = 2)
            AND C.RATING_TO = (SELECT BUCKET_NAME FROM IFRS_IMPC_BUCKET_PARAM WHERE BUCKET_GROUP = 'ER9_002' AND BUCKET_ID = 4)
		JOIN IFRS_PD_DEFAULT_RATE_RATIO D
		ON A.EFF_DATE = D.EFF_DATE
			AND D.DR_RULE_ID = @V_ACTIVE_DEFAULT_RATE_ID 
			AND D.BUCKET_ID = 2;

		/*---- Part of Step 9a, if Bucket 1 flowrate is zero then take Bucket 1 DR Average from Moodys's Flowrate ----*/
		INSERT INTO TMP_IFRS_LIGHT_ADJ_DR_AVG
		(
			LIGHT_PD_MODEL_ID,
			DR_RULE_ID,
			BUCKET_ID,
			ADJUSTED_DR_AVG
		)
		SELECT @LIGHT_ID,
			@V_ACTIVE_DEFAULT_RATE_ID,
			1,
			A.FLOWRATE AS ADJUSTED_DR_AVG
		FROM TMP_IFRS_LIGHT_PD_FLOWRATE A
		JOIN VW_IFRS_MAX_BUCKET B
		ON A.LIGHT_PD_MODEL_ID = @LIGHT_ID
			AND A.BUCKET_GROUP = B.BUCKET_GROUP
			AND A.BUCKET_FROM = 1 
			AND A.BUCKET_TO = B.MAX_BUCKET_ID;
	END;

	/*---- Step 3 Input the default rate ratio among three orr groups----*/
	INSERT INTO TMP_IFRS_LIGHT_ADJ_DR_RATIO
	(
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		ADJUSTED_DR_RATIO
	)
	SELECT @LIGHT_ID,
		@V_ACTIVE_DEFAULT_RATE_ID,
		BUCKET_ID,
		DEFAULT_RATE_RATIO
	FROM IFRS_PD_DEFAULT_RATE_RATIO A
	JOIN TMP_IFRS_LIGHT_PD_CONFIG B
	ON A.DR_RULE_ID = @V_ACTIVE_DEFAULT_RATE_ID
		AND B.PKID = @LIGHT_ID
	    AND A.EFF_DATE = B.TM_PERIOD
		AND A.BUCKET_ID NOT IN (SELECT BUCKET_ID FROM TMP_IFRS_LIGHT_ADJ_DR_RATIO WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID);
	
	/*---- Skip this step when calculate using override values --> Step 5 Input the light type info & portfolio PD parameter ----*/

	/*---- Step 6  Adjust portfolio PD into G1,G2,G3 PD ----*/

    /*---- Step 6a Calculate G3 first ----*/
	INSERT INTO TMP_IFRS_LIGHT_ADJUSTED_PD
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJUSTED_PD
	)
	SELECT @LIGHT_ID,
		A.LIGHT_ID, 
	    B.MAX_BUCKET_ID - 1 AS BUCKET_ID,
		ISNULL(A.OVERRIDE_DEFAULT_RATE, A.DEFAULT_RATE) / C.SUM_RATIO_RATE AS ADJUSTED_PD
	FROM TMP_IFRS_LIGHT_AVG_DEF_RATE A
	JOIN VW_IFRS_MAX_BUCKET B
	ON B.BUCKET_GROUP = 'ER9_002' 
	CROSS JOIN 
	(
		/*---- Step 4 input the proportion ratio among three orr groups ----*/
		SELECT 
			SUM(ISNULL(AA.ADJUSTED_DR_RATIO,0) * ISNULL(BB.PROPORTION_RATE,0)) AS SUM_RATIO_RATE
		FROM TMP_IFRS_LIGHT_ADJ_DR_RATIO AA
		LEFT JOIN 
		(
			SELECT AAA.BUCKET_ID, AAA.PROPORTION_RATE 
			FROM IFRS_PD_PROPORTION_RATE AAA
			JOIN TMP_IFRS_LIGHT_PD_CONFIG BBB
			ON BBB.PKID = @LIGHT_ID
				AND AAA.EFF_DATE = BBB.TM_PERIOD
		) BB
		ON AA.BUCKET_ID = BB.BUCKET_ID
		WHERE AA.LIGHT_PD_MODEL_ID = @LIGHT_ID
	) C
	WHERE A.LIGHT_PD_MODEL_ID = @LIGHT_ID;

	/*---- Step 6b Calculate G1 and G2 after G3 calculated ----*/
	INSERT INTO TMP_IFRS_LIGHT_ADJUSTED_PD
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJUSTED_PD
	)
	SELECT @LIGHT_ID,
		A.LIGHT_ID, 
		B.BUCKET_ID,
		A.ADJUSTED_PD * B.ADJUSTED_DR_RATIO 
	FROM TMP_IFRS_LIGHT_ADJUSTED_PD A
	CROSS JOIN 
	(
		SELECT 
			BUCKET_ID, 
			ADJUSTED_DR_RATIO
		FROM TMP_IFRS_LIGHT_ADJ_DR_RATIO AA
		JOIN VW_IFRS_MAX_BUCKET BB
		ON AA.LIGHT_PD_MODEL_ID = @LIGHT_ID
			AND BB.BUCKET_GROUP = 'ER9_002'
			AND AA.BUCKET_ID < MAX_BUCKET_ID - 1
	) B
	WHERE A.LIGHT_PD_MODEL_ID = @LIGHT_ID;

	/*---- Step 7 calculate logarithm odds ----*/
	INSERT INTO TMP_IFRS_LIGHT_LOGODDS_ADJ_PD
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOGODDS_ADJUSTED_PD
	)
	SELECT 
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOG(ADJUSTED_PD/(1-ADJUSTED_PD)) AS LOGODDS_ADJUSTED_PD
	FROM TMP_IFRS_LIGHT_ADJUSTED_PD
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID
	ORDER BY LIGHT_ID, BUCKET_ID;
	
	/*---- Skip Step 8 because we determine the chosen light based on avarage light----*/

	/*---- Step 9a input the latest 5 years average PD of each group ----*/
	INSERT INTO TMP_IFRS_LIGHT_ADJ_DR_AVG
	(
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		ADJUSTED_DR_AVG
	)
	SELECT @LIGHT_ID,
		@V_ACTIVE_DEFAULT_RATE_ID,
		BUCKET_ID,
		DEFAULT_RATE_AVG
	FROM IFRS_PD_DEFAULT_RATE_AVG A
	JOIN TMP_IFRS_LIGHT_PD_CONFIG B
	ON A.DR_RULE_ID = @V_ACTIVE_DEFAULT_RATE_ID
		AND B.PKID = @LIGHT_ID
	    AND A.EFF_DATE = B.TM_PERIOD
		AND A.BUCKET_ID NOT IN (SELECT BUCKET_ID FROM TMP_IFRS_LIGHT_ADJ_DR_AVG WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID)
	JOIN VW_IFRS_MAX_BUCKET C
	ON A.BUCKET_GROUP = C.BUCKET_GROUP
		AND A.BUCKET_ID < C.MAX_BUCKET_ID;

	/*---- Step 9b loogodds of latest 5 years average PD of each group----*/
	INSERT INTO TMP_IFRS_LOGODDS_ADJ_DR_AVG
	(
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		LOGODDS_ADJ_DR_AVG
	)
	SELECT 
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		LOG(ADJUSTED_DR_AVG/(1-ADJUSTED_DR_AVG)) AS LOGODDS_ADJ_DR_AVG
	FROM TMP_IFRS_LIGHT_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID
	ORDER BY BUCKET_ID;

	/*---- Step 10 Forecast adjustment-range adjustment method----*/
	INSERT INTO TMP_IFRS_ADJ_LOGODDS_ADJ_PD
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJ_LOGODDS_ADJ_PD
	)
	SELECT A.LIGHT_PD_MODEL_ID,
		A.LIGHT_ID,
		A.BUCKET_ID,
		A.LOGODDS_ADJUSTED_PD - B.LOGODDS_ADJUSTED_PD
	FROM TMP_IFRS_LIGHT_LOGODDS_ADJ_PD A
	JOIN TMP_IFRS_LIGHT_LOGODDS_ADJ_PD B
	ON A.LIGHT_PD_MODEL_ID = B.LIGHT_PD_MODEL_ID
		AND A.LIGHT_PD_MODEL_ID = @LIGHT_ID
		AND A.BUCKET_ID = B.BUCKET_ID
	JOIN TMP_IFRS_LIGHT_AVG_HIST_ME C
	ON B.LIGHT_PD_MODEL_ID = C.LIGHT_PD_MODEL_ID
		AND B.LIGHT_ID = ISNULL(C.OVERRIDE_AVG_LIGHT_ID, C.AVG_LIGHT_ID);
	
	/*---- Step 11 Calculate logarithm odds after range adjustment method----*/
	INSERT INTO TMP_IFRS_LOGODDS_ADJ_LOGODDS_ADJ
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOGODDS_ADJ_LOGODDS_ADJ_PD
	)
	SELECT A.LIGHT_PD_MODEL_ID,
		A.LIGHT_ID,
		A.BUCKET_ID, 
		A.ADJ_LOGODDS_ADJ_PD + B.LOGODDS_ADJ_DR_AVG AS LOGODDS_ADJ_LOGODDS_ADJ_PD
	FROM TMP_IFRS_ADJ_LOGODDS_ADJ_PD A
	JOIN TMP_IFRS_LOGODDS_ADJ_DR_AVG B
	ON A.LIGHT_PD_MODEL_ID = B.LIGHT_PD_MODEL_ID
		AND A.LIGHT_PD_MODEL_ID = @LIGHT_ID	
		AND A.BUCKET_ID = B.BUCKET_ID;

    /*---- Step 12 Calculate PD of each light type after range adjustment mehtod----*/
    INSERT INTO TMP_IFRS_LIGHT_EXP_LOGODDS_ADJ
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		EXP_LOGODDS_ADJ
	)
	SELECT LIGHT_PD_MODEL_ID,
		LIGHT_ID, 
		BUCKET_ID,
		EXP(LOGODDS_ADJ_LOGODDS_ADJ_PD)/(1+EXP(LOGODDS_ADJ_LOGODDS_ADJ_PD)) AS EXP_LOGODDS_ADJ
	FROM TMP_IFRS_LOGODDS_ADJ_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID;

	/*---- Insert the transition matrix for matrix multiplication ----*/
	INSERT INTO TMP_IFRS_LIGHT_TM_PD_FLOWRATE
	(
		LIGHT_PD_MODEL_ID,
		FORECAST_YEAR,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		FLOWRATE
	)
	SELECT @LIGHT_ID,
	    D.FORECAST_YEAR,
		A.BUCKET_GROUP,
		A.BUCKET_FROM,
		A.BUCKET_TO,
		CASE WHEN A.BUCKET_TO < C.MAX_BUCKET_ID THEN
			CASE WHEN SUM_FLOWRATE > 0 THEN 
				(1 - D.EXP_LOGODDS_ADJ) / B.SUM_FLOWRATE * A.FLOWRATE
			ELSE 
				0
			END 
		ELSE
			D.EXP_LOGODDS_ADJ
		END AS FLOWRATE
	FROM TMP_IFRS_LIGHT_PD_FLOWRATE A
	JOIN 
	(
		SELECT BUCKET_FROM,
		SUM(ISNULL(FLOWRATE,0)) SUM_FLOWRATE
		FROM TMP_IFRS_LIGHT_PD_FLOWRATE AA
		JOIN VW_IFRS_MAX_BUCKET BB
		ON AA.LIGHT_PD_MODEL_ID = @LIGHT_ID
			AND AA.BUCKET_GROUP = BB.BUCKET_GROUP
			AND AA.BUCKET_TO < BB.MAX_BUCKET_ID
		GROUP BY AA.BUCKET_FROM
	) B
	ON A.BUCKET_FROM = B.BUCKET_FROM
	JOIN VW_IFRS_MAX_BUCKET C
	ON A.BUCKET_GROUP = C.BUCKET_GROUP
		AND A.BUCKET_FROM <= C.MAX_BUCKET_ID
	LEFT JOIN
	(
		SELECT AA.LIGHT_PD_MODEL_ID,
		    CC.FORECAST_YEAR,
			BB.BUCKET_ID,
			BB.EXP_LOGODDS_ADJ
		FROM TMP_IFRS_ME_FORECAST_SCORE AA 
		JOIN TMP_IFRS_LIGHT_EXP_LOGODDS_ADJ BB
		ON AA.LIGHT_PD_MODEL_ID = BB.LIGHT_PD_MODEL_ID
			AND AA.LIGHT_PD_MODEL_ID = @LIGHT_ID
			AND ISNULL(AA.OVERRIDE_LIGHT_ID, AA.LIGHT_ID) = BB.LIGHT_ID
		JOIN 
		(
			SELECT ROW_NUMBER() OVER(ORDER BY PERIOD) FORECAST_YEAR, PERIOD 
			FROM TMP_IFRS_ME_FORECAST_SCORE
			WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID
		) CC ON AA.PERIOD = CC.PERIOD
	) D
	ON A.BUCKET_FROM = D.BUCKET_ID
	WHERE D.FORECAST_YEAR IS NOT NULL
		AND D.LIGHT_PD_MODEL_ID = @LIGHT_ID
		AND A.LIGHT_PD_MODEL_ID = @LIGHT_ID
	ORDER BY D.FORECAST_YEAR, 
		A.BUCKET_FROM, 
		A.BUCKET_TO;

	INSERT INTO TMP_IFRS_LIGHT_TM_PD_FLOWRATE
	(
		LIGHT_PD_MODEL_ID,
		FORECAST_YEAR,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		FLOWRATE
	)
	SELECT A.LIGHT_PD_MODEL_ID,
		C.FORECAST_YEAR,
		A.BUCKET_GROUP,
		A.BUCKET_FROM,
		A.BUCKET_TO,
		A.FLOWRATE
	FROM TMP_IFRS_LIGHT_PD_FLOWRATE A
	CROSS JOIN 
	(
		SELECT ROW_NUMBER() OVER(ORDER BY PERIOD) FORECAST_YEAR 
		FROM TMP_IFRS_ME_FORECAST_SCORE
		WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID
    ) C
	WHERE A.LIGHT_PD_MODEL_ID = @LIGHT_ID
	AND NOT EXISTS
			(
				SELECT 1 FROM TMP_IFRS_LIGHT_TM_PD_FLOWRATE B
				WHERE B.LIGHT_PD_MODEL_ID = A.LIGHT_PD_MODEL_ID
					AND B.BUCKET_FROM = A.BUCKET_FROM
					AND B.BUCKET_TO = A.BUCKET_TO
			)
	ORDER BY C.FORECAST_YEAR, 
		A.BUCKET_FROM, 
		A.BUCKET_TO;

    /*---- Calculate Matrix Multiplication of Transtition Matrix ----*/
	SELECT @V_CURSOR = 1, 
		@V_MAX = MAX(FORECAST_YEAR) 
	FROM
	(
		SELECT ROW_NUMBER() OVER(ORDER BY PERIOD) FORECAST_YEAR 
		FROM TMP_IFRS_ME_FORECAST_SCORE
		WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID
	) A;

	WHILE @V_CURSOR <= @V_MAX 
	BEGIN
		IF @V_CURSOR = 1 
			INSERT INTO TMP_IFRS_LIGHT_MMULT_TM_PD
			(
				LIGHT_PD_MODEL_ID,
				FORECAST_YEAR,
				BUCKET_GROUP,
				BUCKET_FROM,
				BUCKET_TO,
				MMULT
			)
			SELECT
				LIGHT_PD_MODEL_ID,
				FORECAST_YEAR,
				BUCKET_GROUP, 
				BUCKET_FROM,
				BUCKET_TO,
				FLOWRATE
			FROM TMP_IFRS_LIGHT_TM_PD_FLOWRATE 
			WHERE LIGHT_PD_MODEL_ID = @LIGHT_ID
				AND FORECAST_YEAR = 1
			ORDER BY BUCKET_FROM, BUCKET_TO;
		ELSE
			INSERT INTO TMP_IFRS_LIGHT_MMULT_TM_PD
			(
				LIGHT_PD_MODEL_ID,
				FORECAST_YEAR,
				BUCKET_GROUP,
				BUCKET_FROM,
				BUCKET_TO,
				MMULT
			)
			SELECT
				LIGHT_PD_MODEL_ID,
				@V_CURSOR AS FORECAST_YEAR,
				BUCKET_GROUP,
				BUCKET_FROM,
				BUCKET_TO,
				MMULT
				FROM 
				(
					SELECT A.LIGHT_PD_MODEL_ID,
						A.BUCKET_GROUP,
						A.BUCKET_FROM,
						B.BUCKET_TO, 
						SUM(B.MMULT * A.FLOWRATE) AS MMULT 
					FROM TMP_IFRS_LIGHT_TM_PD_FLOWRATE A
					JOIN TMP_IFRS_LIGHT_MMULT_TM_PD B
					ON A.LIGHT_PD_MODEL_ID = B.LIGHT_PD_MODEL_ID
						AND A.LIGHT_PD_MODEL_ID = @LIGHT_ID
						AND A.BUCKET_TO = B.BUCKET_FROM
						AND B.FORECAST_YEAR = @V_CURSOR - 1
						AND A.FORECAST_YEAR = @V_CURSOR
					GROUP BY A.LIGHT_PD_MODEL_ID,
						A.BUCKET_GROUP,
						A.BUCKET_FROM,
						B.BUCKET_TO
				) TEMP
				ORDER BY BUCKET_FROM, BUCKET_TO;
		
		SET @V_CURSOR = @V_CURSOR + 1;
	 
	 END;

    /*---- Calculate CUMMULATIVE_PD for Tenor between 1 and 3 ----*/
	INSERT INTO TMP_IFRS_LIGHT_PD_TERM_STRUC
	(
		EFF_DATE,
		LIGHT_PD_MODEL_ID,
		GROUP_REPORTING,
		TENOR,
		CUMMULATIVE_PD
	)
	SELECT DISTINCT  
		C.PD_EFF_PERIOD,
		A.LIGHT_PD_MODEL_ID,
		D.SUB_BUCKET_GROUP,
		(A.FORECAST_YEAR - 1) + F.TENOR TENOR,
		CASE WHEN A.FORECAST_YEAR = (A.FORECAST_YEAR - 1) + F.TENOR THEN
			A.MMULT
		ELSE
			1-(1-ISNULL(E.MMULT,0))*POWER((1-A.MMULT)/(1-ISNULL(E.MMULT,0)), F.TENOR) 
		END CUMMULATIVE_PD
	FROM TMP_IFRS_LIGHT_MMULT_TM_PD A
	JOIN VW_IFRS_MAX_BUCKET B
	ON A.LIGHT_PD_MODEL_ID = @LIGHT_ID
		AND A.BUCKET_GROUP = B.BUCKET_GROUP
		AND A.BUCKET_TO = B.MAX_BUCKET_ID
		AND A.BUCKET_FROM < B.MAX_BUCKET_ID
	JOIN TMP_IFRS_LIGHT_PD_CONFIG C
	ON A.LIGHT_PD_MODEL_ID = C.PKID
	JOIN IFRS_IMPC_BUCKET_PARAM D
	ON A.BUCKET_GROUP = D.BUCKET_GROUP
		AND A.BUCKET_FROM = D.BUCKET_ID
	LEFT JOIN TMP_IFRS_LIGHT_MMULT_TM_PD E
	ON A.LIGHT_PD_MODEL_ID = E.LIGHT_PD_MODEL_ID
		AND A.BUCKET_FROM = E.BUCKET_FROM
		AND A.BUCKET_TO = E.BUCKET_TO
		AND A.FORECAST_YEAR - 1 = E.FORECAST_YEAR
	CROSS JOIN 
	(
		SELECT n AS TENOR FROM (VALUES (0.1),(0.2),(0.3),(0.4),(0.5),(0.6),(0.7),(0.8),(0.9),(1)) v(n)
	) F;

	/*---- Calculate CUMMULATIVE_PD for Tenor between 4 and 30 ----*/
	SET @V_CURSOR = 4;
	SET	@V_MAX = 30;

	WHILE @V_CURSOR <= @V_MAX 
	BEGIN
		IF @V_CURSOR <= 10 
			INSERT INTO TMP_IFRS_LIGHT_PD_TERM_STRUC
			(
				EFF_DATE,
				LIGHT_PD_MODEL_ID,
				GROUP_REPORTING,
				TENOR,
				CUMMULATIVE_PD
			)
			SELECT
				A.EFF_DATE,
				A.LIGHT_PD_MODEL_ID,
				A.GROUP_REPORTING,
				(@V_CURSOR - 1) + D.TENOR TENOR, 
				CASE WHEN A.TENOR = (A.TENOR - 1) + D.TENOR THEN
					A.CUMMULATIVE_PD + C.CUMMULATIVE_PD * (8-(@V_CURSOR-3))/8
				ELSE
					1-(1-A.CUMMULATIVE_PD)
					* POWER((1-(A.CUMMULATIVE_PD + C.CUMMULATIVE_PD * (8-(@V_CURSOR-3))/8))
					/ (1-A.CUMMULATIVE_PD), D.TENOR)
				END CUMMULATIVE_PD
			FROM TMP_IFRS_LIGHT_PD_TERM_STRUC A
			JOIN TMP_IFRS_LIGHT_PD_TERM_STRUC B
			ON A.LIGHT_PD_MODEL_ID = B.LIGHT_PD_MODEL_ID 
				AND A.LIGHT_PD_MODEL_ID = @LIGHT_ID
				AND A.GROUP_REPORTING = B.GROUP_REPORTING
				AND A.TENOR = @V_CURSOR - 1
				AND B.TENOR = @V_CURSOR - 2
			JOIN 
			(
				SELECT A.GROUP_REPORTING,
					A.CUMMULATIVE_PD - B.CUMMULATIVE_PD AS CUMMULATIVE_PD
				FROM TMP_IFRS_LIGHT_PD_TERM_STRUC A
				JOIN TMP_IFRS_LIGHT_PD_TERM_STRUC B
				ON A.LIGHT_PD_MODEL_ID = B.LIGHT_PD_MODEL_ID 
					AND A.LIGHT_PD_MODEL_ID = @LIGHT_ID
					AND A.GROUP_REPORTING = B.GROUP_REPORTING
					AND A.TENOR = 3
					AND B.TENOR = 2
			) C
			ON A.GROUP_REPORTING = C.GROUP_REPORTING
			CROSS JOIN 
			(
				SELECT n AS TENOR FROM (VALUES (0.1),(0.2),(0.3),(0.4),(0.5),(0.6),(0.7),(0.8),(0.9),(1)) v(n)
			) D;
		ELSE
			INSERT INTO TMP_IFRS_LIGHT_PD_TERM_STRUC
			(
				EFF_DATE,
				LIGHT_PD_MODEL_ID,
				GROUP_REPORTING,
				TENOR,
				CUMMULATIVE_PD
			)
			SELECT
				A.EFF_DATE,
				A.LIGHT_PD_MODEL_ID,
				A.GROUP_REPORTING,
				(@V_CURSOR - 1) + D.TENOR TENOR, 
				CASE WHEN A.TENOR = (A.TENOR - 1) + D.TENOR THEN
					A.CUMMULATIVE_PD + C.CUMMULATIVE_PD * (21-(@V_CURSOR-10))/21
				ELSE
					1-(1-A.CUMMULATIVE_PD)
					* POWER((1-(A.CUMMULATIVE_PD + C.CUMMULATIVE_PD * (21-(@V_CURSOR-10))/21))
					/ (1-A.CUMMULATIVE_PD), D.TENOR)
				END CUMMULATIVE_PD
			FROM TMP_IFRS_LIGHT_PD_TERM_STRUC A
			JOIN TMP_IFRS_LIGHT_PD_TERM_STRUC B
			ON A.LIGHT_PD_MODEL_ID = B.LIGHT_PD_MODEL_ID 
				AND A.LIGHT_PD_MODEL_ID = @LIGHT_ID
				AND A.GROUP_REPORTING = B.GROUP_REPORTING
				AND A.TENOR = @V_CURSOR - 1
				AND B.TENOR = @V_CURSOR - 2
			JOIN 
			(
				SELECT A.GROUP_REPORTING,
					A.CUMMULATIVE_PD - B.CUMMULATIVE_PD AS CUMMULATIVE_PD
				FROM TMP_IFRS_LIGHT_PD_TERM_STRUC A
				JOIN TMP_IFRS_LIGHT_PD_TERM_STRUC B
				ON A.LIGHT_PD_MODEL_ID = B.LIGHT_PD_MODEL_ID 
					AND A.LIGHT_PD_MODEL_ID = @LIGHT_ID
					AND A.GROUP_REPORTING = B.GROUP_REPORTING
					AND A.TENOR = 10
					AND B.TENOR =  9
			) C
			ON A.GROUP_REPORTING = C.GROUP_REPORTING
			CROSS JOIN 
			(
				SELECT n AS TENOR FROM (VALUES (0.1),(0.2),(0.3),(0.4),(0.5),(0.6),(0.7),(0.8),(0.9),(1)) v(n)
			) D;

		SET @V_CURSOR = @V_CURSOR + 1;
	END;

	/*---- Calculate ANNUALIZED_PD for Tenor <= 1 ----*/
	MERGE INTO TMP_IFRS_LIGHT_PD_TERM_STRUC A
	USING TMP_IFRS_LIGHT_PD_TERM_STRUC B
	ON (A.LIGHT_PD_MODEL_ID = B.LIGHT_PD_MODEL_ID 
		AND A.LIGHT_PD_MODEL_ID = @LIGHT_ID 
		AND A.GROUP_REPORTING = B.GROUP_REPORTING 
		AND A.TENOR <=1 
		AND B.TENOR = 1)
	WHEN MATCHED THEN
	UPDATE SET A.ANNUALIZED_PD = B.CUMMULATIVE_PD;

	/*---- Calculate ANNUALIZED_PD for Tenor > 1 ----*/
	MERGE INTO TMP_IFRS_LIGHT_PD_TERM_STRUC A
	USING TMP_IFRS_LIGHT_PD_TERM_STRUC B
	ON (A.LIGHT_PD_MODEL_ID = B.LIGHT_PD_MODEL_ID 
		AND A.LIGHT_PD_MODEL_ID = @LIGHT_ID 
		AND A.GROUP_REPORTING = B.GROUP_REPORTING 
		AND A.TENOR = B.TENOR
		AND A.TENOR > 1)
	WHEN MATCHED THEN
	UPDATE SET A.ANNUALIZED_PD = 1-POWER(1-B.CUMMULATIVE_PD, 1/B.TENOR);

END

GO
