USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADBMAREVIEWOLD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOADBMAREVIEWOLD]
	@BMID int =0
AS
BEGIN
			SELECT B.QUESTION_TYPE,B.QUESTION_DESC
				,B.PKID,B.SUPPORTING_FLG,B.VALUE,ISNULL(A.OPTION_DESC,B.VALUE) AS OPTION_DESC,B.SUPPORTING_DOC FROM
			(
			SELECT QUESTION_TYPE,CAST(ROW_NUMBER() OVER(ORDER BY A.PKID ASC) AS varchar(10))+'. '+QUESTION_DESC AS QUESTION_DESC
				,A.PKID,SUPPORTING_FLG,A.VALUE,C.OPTION_DESC,A.SUPPORTING_DOC,B.SEQUENCE
			FROM IFRS_AC_BM_DETAIL A
			JOIN IFRS_AC_BM_QUEST B ON A.QUESTIONID = B.PKID
			JOIN IFRS_AC_BM_MASTER_QUEST_D C ON CAST(A.VALUE AS varchar(max)) = CAST(C.PKID  AS varchar(max))
			WHERE A.BMID = @BMID)A
			RIGHT JOIN(
			SELECT QUESTION_TYPE,CAST(ROW_NUMBER() OVER(ORDER BY A.PKID ASC) AS varchar(10))+'. '+QUESTION_DESC AS QUESTION_DESC
				,A.PKID,SUPPORTING_FLG,A.VALUE,'' OPTION_DESC,A.SUPPORTING_DOC,B.SEQUENCE
			FROM IFRS_AC_BM_DETAIL A
			JOIN IFRS_AC_BM_QUEST B ON A.QUESTIONID = B.PKID
			--JOIN IFRS_AC_BM_MASTER_QUEST_D C ON CAST(A.VALUE AS varchar(max)) = CAST(C.PKID  AS varchar(max))
			WHERE A.BMID =  @BMID)B
			ON A.PKID = B.PKID
			ORDER BY B.SEQUENCE

END

GO
