USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ACTUAL_PD_MARGINAL_COHORT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[USPS_ACTUAL_PD_MARGINAL_COHORT]      
(      
 @PD_RULE_ID AS BIGINT,      
 @PERIOD AS DATE      
      
)      
AS      
BEGIN      
      
DECLARE @MAX_SEQ_YEAR AS INT,      
  @COUNT_YEAR AS INT,      
  @YEAR_TO_END AS VARCHAR(4000) = '',
  @COLUMN_YEAR AS VARCHAR(4000) = '',    
  @MAX_COLUMN_YEAR AS VARCHAR(4000) = '',    
  @GROUP_COLUMN_YEAR AS VARCHAR(4000) = '';      
      
      
SELECT @MAX_SEQ_YEAR = MAX(SEQ_YEAR) FROM IFRS_PD_CHR_RESULT_YEARLY      
      
SET @COUNT_YEAR = 1      
      
WHILE @MAX_SEQ_YEAR >= @COUNT_YEAR      
BEGIN      
 IF @MAX_SEQ_YEAR = @COUNT_YEAR      
 BEGIN      
  SET @YEAR_TO_END = @YEAR_TO_END + 'MAX(CASE WHEN SEQ_YEAR = ' + CONVERT(VARCHAR,@COUNT_YEAR) + ' THEN CONVERT(DECIMAL(32,6),MARGINAL_PD_RATE) ELSE 0 END) AS YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)
  SET @COLUMN_YEAR = @COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ' [DECIMAL](32,6) NULL'    
  SET @MAX_COLUMN_YEAR = @MAX_COLUMN_YEAR + 'MAX(YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ')*100 ' + ' AS ' + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)   
  SET @GROUP_COLUMN_YEAR = @GROUP_COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)         
 END      
 ELSE      
 BEGIN      
  SET @YEAR_TO_END = @YEAR_TO_END + 'MAX(CASE WHEN SEQ_YEAR = ' + CONVERT(VARCHAR,@COUNT_YEAR) + ' THEN CONVERT(DECIMAL(32,6),MARGINAL_PD_RATE) ELSE 0 END) AS YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','
  SET @COLUMN_YEAR = @COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ' [DECIMAL](32,6) NULL,'    
  SET @MAX_COLUMN_YEAR = @MAX_COLUMN_YEAR + 'MAX(YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ')*100 ' + ' AS ' + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','    
  SET @GROUP_COLUMN_YEAR = @GROUP_COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','       
 END      
          
 SET @COUNT_YEAR = @COUNT_YEAR  + 1      
END      
      
      
DECLARE @QUERY AS VARCHAR(4000) = '';      
      
SET @QUERY = '
CREATE TABLE #TEMP(    
[BUCKET] [VARCHAR](100) NULL,'    
+    
@COLUMN_YEAR    
+    
')'    
+
'      
INSERT INTO #TEMP SELECT        
BUCKET_NAME AS BUCKET,'      
+ @YEAR_TO_END +      
' FROM IFRS_PD_CHR_RESULT_YEARLY      
WHERE       
PD_RULE_ID = '+ CONVERT(VARCHAR,@PD_RULE_ID) +' AND      
DOWNLOAD_DATE = ' + '''' +CONVERT(VARCHAR(10),@PERIOD,120) + '''' + '      
GROUP BY BUCKET_NAME,MARGINAL_PD_RATE '
+
'  
SELECT BUCKET,  
'  
+    
@MAX_COLUMN_YEAR    
+  
' FROM #TEMP GROUP BY BUCKET'    
  
      
EXEC(@QUERY);      
PRINT(@QUERY);      
      
END
GO
