USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_AC_OVERRIDE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_AC_OVERRIDE]    
(  
 @PKID BIGINT
)  
AS       
BEGIN  
  
 --DELETE FROM dbo.IFRS_MASTER_PRODUCT_PARAM  
 --WHERE PKID = @PKID  
 DECLARE @MASTERID AS VARCHAR(100)
 DECLARE @CUSTOMER_NUMBER AS VARCHAR(50)

 SELECT @MASTERID = MASTERID,@CUSTOMER_NUMBER = CUSTOMER_NUMBER  FROM IFRS_AC_OVERRIDE WHERE PKID = @PKID
 DELETE FROM IFRS_AC_OVERRIDE WHERE PKID = @PKID  
 DELETE FROM IFRS_AC_OVERRIDE_HIST WHERE MASTERID = @MASTERID AND CUSTOMER_NUMBER = @CUSTOMER_NUMBER
     
END  
GO
