USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_AFTERRSUBMITSCALAR]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_AFTERRSUBMITSCALAR]
(
	@MODEL_ID BIGINT,
	@DATE DATE
) 
AS    
BEGIN    
 
	EXEC SP_IFRS_FL_ME_COMPLETE @DATE, @MODEL_ID
	EXEC SP_IFRS_FL_ME_DERIVED @DATE, @MODEL_ID
	EXEC SP_IFRS_FL_ME_SCALAR @DATE, @MODEL_ID
	EXEC SP_IFRS_FL_ME_SCALAR_RESULT @DATE, @MODEL_ID
   
END
GO
