USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_AC_SPPI_CHECK_APPROVAL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_AC_SPPI_CHECK_APPROVAL]
	@PKID bigint
AS
	select	* 
	from	IFRS_AC_SPPI_HEADER_PENDING	
	where	STATUS = 'PENDING' AND ACTION <> 'INSERT'
			AND PKID_OLD = @PKID

GO
