USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GET_SUB_SEGMENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_GET_SUB_SEGMENT]
AS
BEGIN

	SELECT DISTINCT SUB_SEGMENT,PKID
	FROM IFRS_MSTR_SEGMENT_RULES_HEADER
	WHERE SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
		AND IS_DELETE = 0
	ORDER BY SUB_SEGMENT

END

GO
