USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_EXECUTEAPPROVAL]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_EXECUTEAPPROVAL]          
 @PKID bigint,          
 @Status char(1),          
 @Note varchar(100),         
 @UpdatedBy varchar(50),          
 @UpdatedHost varchar(20)          
as           
 set nocount on          
 begin tran     
     
 declare @databasename varchar(30)          
 declare @query_approval nvarchar(max)          
 declare @moduleid varchar(30)        
      
 if(@Status = 'A')           
 begin              
  select @query_approval=query,@moduleid = ModuleID from tblT_ApprovalHeader with (nolock) where PKID = @PKID          
  select @databasename = DatabaseName from tblm_module with (nolock) where ModuleID = @moduleid          
              
  set @query_approval = 'USE '+@databasename + ' ' + @query_approval          
  print @query_approval      
              
  exec ( @query_approval )          
 end          
          
 update tblT_ApprovalHeader          
  set Status = @Status,          
  Note = @Note,        
  UpdatedDate = GETDATE(),          
  UpdatedHost = @UpdatedHost,          
  UpdatedBy = @UpdatedBy          
 where PKID = @PKID          
    
 select ROW_NUMBER() over(order by PKID) as pkid1, PKID, Query,ModuleID into #temp from tblT_ApprovalHeader where MasterID = @PKID    
     
 declare @max int     
 declare @counter int     
 declare @pkid_id bigint    
 select @max = MAX(pkid1) from #temp    
 set @counter = 1    
     
 while @counter <= @max    
 begin    
  select @pkid_id= PKID, @query_approval=query,@moduleid = ModuleID from #temp where pkid1 = @counter          
         
  if(@Status = 'A')           
  begin               
   set @query_approval = 'USE '+@databasename + ' ' + @query_approval          
   --print @query_approval      
   exec ( @query_approval )          
  end    
      
  update tblT_ApprovalHeader          
  set Status = @Status,          
   Note = @Note,        
   UpdatedDate = GETDATE(),          
   UpdatedHost = @UpdatedHost,          
   UpdatedBy = @UpdatedBy          
  where PKID = @pkid_id    
        
  set @counter = @counter + 1    
 end    
     
 drop table #temp    
     
 if @@ERROR = 0    
 commit tran    
 else     
 rollback tran    
     
 set nocount off  





GO
