USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_ECLRESULTBREAKDOWNRETAIL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_ECLRESULTBREAKDOWNRETAIL]
(
	@Period DATE = '1-JAN-2000',
	@Product_Type VARCHAR(2000) = '',
	@Account_Number VARCHAR(50) = ''
)
AS
BEGIN

	DECLARE @Query VARCHAR(5000);

	SET @Query = '
		SELECT A.DOWNLOAD_DATE AS "Download Date",
			A.ACCOUNT_NUMBER AS "Account Number",
			A.STAGE AS "Stage",
			A.PRODUCT_TYPE AS "Product Type",
			A.RETAIL_RISK_BUCKET_ID AS "Retail Risk Bucket ID",
			A.RETAIL_RISK_BUCKET AS "Retail Risk Bucket Desc",
			A.YEAR AS "Year",
			A.PD_RATE2 - ISNULL(A.PD_RATE1, 0) AS "PD Rate",
			A.LGD_RATE AS "LGD Rate",
			A.EAD_RATE AS "EAD Rate",
			EAD_AMOUNT AS "EAD Amount",
			((A.PD_RATE2 - ISNULL(A.PD_RATE1, 0)) * A.LGD_RATE * A.EAD_RATE * EAD_AMOUNT) AS "ECL Amount"
		FROM 
		(
			SELECT A.DOWNLOAD_DATE, 
				A.ACCOUNT_NUMBER, 
				A.PRODUCT_TYPE,
				A.TENOR,
				A.STAGE,
				A.RETAIL_RISK_BUCKET_ID,
				A.RETAIL_RISK_BUCKET,
				C.LGD_SEGMENT,
				A.RATE AS PD_RATE1,
				B.RATE AS PD_RATE2,
				C.RATE AS LGD_RATE,
				D.YEAR,
				D.RATE AS EAD_RATE,
				D.EAD_AMOUNT
			FROM IFRS_ECL_RETAIL_DETAIL A
				LEFT JOIN IFRS_ECL_RETAIL_DETAIL B ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE
					AND A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER 
					AND A.RATE_TYPE = B.RATE_TYPE
					AND A.YEAR = B.YEAR - 1
				LEFT JOIN IFRS_ECL_RETAIL_DETAIL C ON A.DOWNLOAD_DATE = C.DOWNLOAD_DATE 
					AND A.ACCOUNT_NUMBER = C.ACCOUNT_NUMBER 
					AND A.PRODUCT_TYPE = C.PRODUCT_TYPE
					AND C.RATE_TYPE = ''LGD''
				LEFT JOIN IFRS_ECL_RETAIL_DETAIL D ON A.DOWNLOAD_DATE = D.DOWNLOAD_DATE
					AND A.ACCOUNT_NUMBER = D.ACCOUNT_NUMBER
					AND A.PRODUCT_TYPE = D.PRODUCT_TYPE
					AND B.YEAR = D.YEAR
					AND D.RATE_TYPE = ''EAD''
			WHERE B.YEAR IS NOT NULL 
				AND A.RATE_TYPE = ''PD''
				AND A.DOWNLOAD_DATE = ''' + CAST(@Period AS VARCHAR(50)) + ''' '
			+ CASE WHEN @Product_Type <> ''
			THEN
				'AND A.PRODUCT_TYPE IN (' + @Product_Type + ') '
			ELSE
				''
			END
			+ CASE WHEN @Account_Number <> ''
			THEN
				'AND A.ACCOUNT_NUMBER = ''' + @Account_Number + ''' '
			ELSE
				''
			END
		+ ')A
		UNION ALL
 
		SELECT A.DOWNLOAD_DATE,
			A.ACCOUNT_NUMBER,
			A.STAGE,
			A.PRODUCT_TYPE,
			A.RETAIL_RISK_BUCKET_ID,
			A.RETAIL_RISK_BUCKET,
			A.YEAR,
			A.RATE AS PD_RATE,
			B.RATE AS LGD_RATE,
			C.RATE AS EAD_RATE,
			C.EAD_AMOUNT AS EAD_AMOUNT,
			(A.RATE * B.RATE * C.RATE * C.EAD_AMOUNT) AS ECL
		FROM IFRS_ECL_RETAIL_DETAIL A
			LEFT JOIN IFRS_ECL_RETAIL_DETAIL B ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE
				AND A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER
				AND A.PRODUCT_TYPE = B.PRODUCT_TYPE
				AND B.RATE_TYPE = ''LGD''
			LEFT JOIN IFRS_ECL_RETAIL_DETAIL C ON A.DOWNLOAD_DATE = C.DOWNLOAD_DATE
				AND A.ACCOUNT_NUMBER = C.ACCOUNT_NUMBER
				AND A.PRODUCT_TYPE = C.PRODUCT_TYPE
				AND A.YEAR = C.YEAR
				AND C.RATE_TYPE = ''EAD''
		WHERE A.YEAR in (0, 1)
			AND A.RATE_TYPE = ''PD''
			AND A.DOWNLOAD_DATE = ''' + CAST(@Period AS VARCHAR(50)) + ''' '
			+ CASE WHEN @Product_Type <> ''
			THEN
				'AND A.PRODUCT_TYPE IN (' + @Product_Type + ') '
			ELSE
				''
			END
			+ CASE WHEN @Account_Number <> ''
			THEN
				'AND A.ACCOUNT_NUMBER = ''' + @Account_Number + ''' '
			ELSE
				''
			END
		+ 'ORDER BY download_date, 
			account_number, 
			product_type, 
			retail_risk_bucket_id, 
			year ASC';

	EXEC (@Query);

END;

GO
