USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_TREASURY_NOMINATIF]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
CREATE PROCEDURE [dbo].[SP_IFRS_LI_TREASURY_NOMINATIF]  
AS  
BEGIN  

 DECLARE @V_CURRDATE DATE
  
 SELECT @V_CURRDATE = MAX(CURRDATE)  
 FROM IFRS_LI_PRC_DATE_AMORT;  
 
 DELETE IFRS_LI_NOMINATIF_TRS
 WHERE DOWNLOAD_DATE = @V_CURRDATE
 
 INSERT INTO IFRS_LI_NOMINATIF_TRS (
  DOWNLOAD_DATE
  ,ACCOUNT_NUMBER
  ,OUTSTANDING
  ,CARRYING_AMOUNT
  ,ACCUMULATIVE_INTEREST
  )  
 SELECT @V_CURRDATE
  ,ILM.ACCOUNT_NUMBER
  ,ILM.OUTSTANDING
  ,ILM.FAIR_VALUE_AMOUNT AS CARRYING_AMOUNT
  ,ILM.INTEREST_ACCRUED
 FROM IFRS_LI_MASTER ILM
	INNER JOIN TBLM_COMMONCODEDETAIL CCD ON ILM.DATA_SOURCE = CCD.VALUE1
 WHERE ILM.DOWNLOAD_DATE = @V_CURRDATE 
	AND IAS_CLASS = 'L'
	AND CCD.COMMONCODE = 'S1003'

END;  





GO
