USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCENARIORULED]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SCENARIORULED]
(
	@RULE_ID VARCHAR(50)=0,
	@RULE_TYPE VARCHAR(50)=''
)
AS
BEGIN

	IF @RULE_TYPE <> ' ' 
	BEGIN       
		SELECT * 
        FROM IFRS_SCENARIO_RULES_DETAIL 
        WHERE RULE_ID = @RULE_ID AND IS_DELETE = 0
        AND DETAIL_TYPE LIKE @RULE_TYPE + '%'
        ORDER BY DETAIL_TYPE, QUERY_GROUPING, SEQUENCE;
	END
	ELSE
	BEGIN        
        SELECT * 
        FROM IFRS_SCENARIO_RULES_DETAIL 
        WHERE RULE_ID = @RULE_ID AND IS_DELETE = 0
        AND  DETAIL_TYPE NOT LIKE  'SICR%'
        ORDER BY DETAIL_TYPE, QUERY_GROUPING, SEQUENCE, PKID;
	END

END



GO
