USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAPLISTBYDATECIF]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IAPLISTBYDATECIF](
@DATE_CIF_SEGMENT varchar(100) = '')
AS
BEGIN
	
	IF NOT EXISTS(SELECT * FROM IFRS_IAP_LIST_PENDING WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT AND APPROVAL_STATUS = 'I')
	BEGIN
		SELECT
			CAST(DOWNLOAD_DATE AS varchar(10)) + '_' + CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) AS DATE_CIF_SEGMENT
			,DOWNLOAD_DATE
			,A.SEGMENT
			,CUSTOMER_NUMBER
			,CUSTOMER_NAME
			,MAX(DAY_PAST_DUE_CIF) AS DAY_PAST_DUE
			,BI_COLLECTABILITY
			,SUM(ISNULL(OUTSTANDING,0)) AS OUTSTANDING
			,SUM(ISNULL(COLLATERAL_LIQUIDATION_VALUE,0)) AS COLLATERAL_LIQUIDATION_VALUE
			,WORKOUT_PERIOD_MODE
			,WORKOUT_PERIOD
			,MAX(EIR) AS EIR
			,IMPAIRED_FLAG
			,COLLECTION_COST
			,DISC_CASH_FLOW
			,SUM(ISNULL(IIP_AMOUNT,0)) AS IIP_AMOUNT
			,SUM(ISNULL(MOVEMENT_IIP_AMOUNT,0)) AS MOVEMENT_IIP_AMOUNT
			,A.UPDATEDDATE
		FROM IFRS_IAP_LIST A
		LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SUB_SEGMENT = B.SUB_SEGMENT
			AND IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
		WHERE IMPAIRED_FLAG = 'I'
			AND IAP_EXCLUSION_FLAG = 0
			AND CAST(DOWNLOAD_DATE AS varchar(10)) + '_' + CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) = @DATE_CIF_SEGMENT
		GROUP BY DOWNLOAD_DATE
			,A.SEGMENT
			,CUSTOMER_NUMBER
			,CUSTOMER_NAME
			,BI_COLLECTABILITY
			,WORKOUT_PERIOD_MODE
			,WORKOUT_PERIOD
			,IMPAIRED_FLAG
			,COLLECTION_COST
			,DISC_CASH_FLOW
			,A.UPDATEDDATE
			,B.PKID
	END
	ELSE
	BEGIN
		SELECT
			CAST(DOWNLOAD_DATE AS varchar(10)) + '_' + CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) AS DATE_CIF_SEGMENT
			,DOWNLOAD_DATE
			,A.SEGMENT
			,CUSTOMER_NUMBER
			,CUSTOMER_NAME
			,MAX(DAY_PAST_DUE_CIF) AS DAY_PAST_DUE
			,BI_COLLECTABILITY
			,SUM(ISNULL(OUTSTANDING,0)) AS OUTSTANDING
			,SUM(ISNULL(COLLATERAL_LIQUIDATION_VALUE,0)) AS COLLATERAL_LIQUIDATION_VALUE
			,WORKOUT_PERIOD_MODE
			,WORKOUT_PERIOD
			,MAX(EIR) AS EIR
			,IMPAIRED_FLAG
			,COLLECTION_COST
			,DISC_CASH_FLOW
			,SUM(ISNULL(IIP_AMOUNT,0)) AS IIP_AMOUNT
			,SUM(ISNULL(MOVEMENT_IIP_AMOUNT,0)) AS MOVEMENT_IIP_AMOUNT
			,A.UPDATEDDATE
		FROM IFRS_IAP_LIST_PENDING A
		LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SUB_SEGMENT = B.SUB_SEGMENT
			AND IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
		WHERE IMPAIRED_FLAG = 'I'
			AND IAP_EXCLUSION_FLAG = 0
			AND CAST(DOWNLOAD_DATE AS varchar(10)) + '_' + CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) = @DATE_CIF_SEGMENT
			AND ID = (SELECT MAX(ID) FROM IFRS_IAP_LIST_PENDING WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT AND APPROVAL_STATUS = 'I')
		GROUP BY DOWNLOAD_DATE
			,A.SEGMENT
			,CUSTOMER_NUMBER
			,CUSTOMER_NAME
			,BI_COLLECTABILITY
			,WORKOUT_PERIOD_MODE
			,WORKOUT_PERIOD
			,IMPAIRED_FLAG
			,COLLECTION_COST
			,DISC_CASH_FLOW
			,A.UPDATEDDATE
			,B.PKID
	END

END

GO
