USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPNCDPRODUCTCODE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPNCDPRODUCTCODE]      
(      
 @datasource VARCHAR(50),         
 @producttype VARCHAR(50)      
)      
AS        
BEGIN      
      
 DECLARE @Query VARCHAR(5000);      
      
 SET @Query =       
  'SELECT DISTINCT PRD_CODE "PRODUCT_CODE",      
   PRD_CODE "Product Code"      
  FROM IFRS_MASTER_PRODUCT_PARAM      
  WHERE '      
  + CASE WHEN @datasource = ''      
   THEN 'DATA_SOURCE = (''OPICS'') '      
   ELSE 'DATA_SOURCE LIKE ''%' + @datasource + '%'' '      
  END      
  + CASE WHEN @producttype <> ''      
   THEN 'AND PRD_TYPE LIKE ''%' + @producttype + '%'' '      
   ELSE ''      
  END;      
      
 EXEC (@Query);      
      
END; 

GO
