USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADMETEMPFORECASTH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADMETEMPFORECASTH]
(      
 @ME_CODE VARCHAR(100) = NULL, 
 @ME_CODE_UPLOAD VARCHAR(100) = NULL,  
 @CreatedBy VARCHAR(36) = NULL,      
 @CreatedHost VARCHAR(30) = NULL
)      
AS       
BEGIN      
     
	DELETE FROM IFRS_ME_FORECAST_TEMP WHERE ME_CODE = @ME_CODE --AND CREATEDBY = @CreatedBy  
    
	INSERT INTO IFRS_ME_FORECAST_TEMP    
	(
		ME_CODE,  
		ME_CODE_UPLOAD,  
		METHOD,    
		FL_PERIOD,    
		FL_PERIOD_FROM,    
		FL_PERIOD_TO,    
		CREATEDBY,    
		CREATEDDATE,    
		CREATEDHOST,    
		IS_DELETE
	)
	VALUES    
	(
		@ME_CODE, 
		@ME_CODE_UPLOAD,   
		'UPLOAD',    
		  NULL,    
		  NULL,    
		  NULL,    
		  @CreatedBy,    
		  GETDATE(),    
		  @CreatedHost,    
		  0
	)    
    
	UPDATE IFRS_ME_FORECAST_TEMP SET FL_PERIOD_FROM = NULL, FL_PERIOD_TO = NULL WHERE ME_CODE = @ME_CODE AND METHOD = 'UPLOAD'

END
GO
