USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CURVE_FITTING]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_CURVE_FITTING]
(
@PD_RULE_ID AS BIGINT,
@PERIOD AS DATE
)
AS
BEGIN

SELECT
	B.BUCKET_NAME AS "Bucket Name",
	MAX(ISNULL(DEFAULT_RATE, 0)) * 100  AS "Default Rate (%)",
	MAX(ISNULL(ADJUSTED_DEFAULT_RATE, 0)) * 100  AS "Adjusted Default Rate (%)",
	MAX(ISNULL(FITTED_DEFAULT_RATE, 0)) * 100  AS "Fitted Default Rate (%)",
	MAX(ISNULL(RESIDUAL, 0)) * 100  AS "Residual (%)",
	A.BUCKET_ID,
	A,
	B,
	R2
FROM IFRS_PD_MAA_CORP_FITTED A
LEFT JOIN IFRS_BUCKET_DETAIL B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_ID = B.BUCKET_ID
WHERE PD_RULE_ID = @PD_RULE_ID AND DOWNLOAD_DATE = @PERIOD
GROUP BY B.BUCKET_NAME,A.BUCKET_ID,A,B,R2
ORDER BY A.BUCKET_ID

END

GO
