USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_PAYM_SCHD_SRC]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE    PROCEDURE [dbo].[SP_IFRS_LI_PAYM_SCHD_SRC]
AS  
DECLARE
 @V_CALC_IDAYS INT = 1   
 ,@V_CURRDATE DATE
 ,@V_PREVDATE DATE   
 ,@PARAM_CALC_TO_LASTPAYMENT INT
BEGIN  
 DELETE IFRS_LI_PAYM_SCHD WHERE ISNULL(DATA_SOURCE,'') <> 'FUNDING'    
         
 DECLARE  @TMP1 TABLE  (MASTERID VARCHAR(100))   
 ---- INTEREST CALCULATION CODE = 6 ===> 30 /360   
 ---- O  =  30    
 ---- 1  =  WITH FUCTION FN_CNT_DAYS_30_360 (COUNTER 1 ALWAYS ACTUAL)

 SELECT 
  @V_CURRDATE = CURRDATE
  ,@V_PREVDATE = PREVDATE
 FROM IFRS_LI_PRC_DATE_AMORT;
   
 SELECT @V_CALC_IDAYS = COMMONUSAGE 
 FROM TBLM_COMMONCODEHEADER  
 WHERE COMMONCODE = 'SCM014'

 SELECT 
  @PARAM_CALC_TO_LASTPAYMENT = 
  CASE 
   WHEN COMMONUSAGE = 'Y' THEN 1
  ELSE 0
  END
 FROM TBLM_COMMONCODEHEADER
 WHERE COMMONCODE = 'SCM013'

 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'START', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'DELETE IFRS_LI_PAYM_SCHD'

 /*******   DELETE IFRS_LI_PAYM_SCHD  *******/
 DELETE   
 FROM IFRS_LI_PAYM_SCHD   
 WHERE  DOWNLOAD_DATE = @V_CURRDATE    
 AND MASTERID IN
 (
  SELECT DISTINCT MASTERID
  FROM IFRS_LI_STG_PAYM_SCHD (NOLOCK)  
  WHERE DOWNLOAD_DATE = @V_CURRDATE
 )
  
 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'END', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'DELETE IFRS_LI_PAYM_SCHD' 
   
 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'START', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'RESET HISTORY'

 /*******   RESET HISTORY  *******/
 DELETE
 FROM [DBO].[IFRS_LI_PAYM_SCHD_ALL]
 WHERE DOWNLOAD_DATE >= @V_CURRDATE

 UPDATE [DBO].[IFRS_LI_PAYM_SCHD_ALL]
 SET STATUS = 'A', END_DATE = NULL
 WHERE END_DATE >= @V_CURRDATE   
 
 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'END', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'RESET HISTORY' 

 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'START', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'UPDATE STATUS TO CLOSE'

 /*******   UPDATE STATUS TO CLOSE  *******/    
 DELETE FROM @TMP1

 INSERT INTO @TMP1 (MASTERID)
 SELECT DISTINCT MASTERID
 FROM [DBO].[IFRS_LI_PAYM_SCHD] (NOLOCK)
 WHERE DOWNLOAD_DATE = @V_CURRDATE
 ORDER BY MASTERID ASC

 UPDATE [DBO].[IFRS_LI_PAYM_SCHD_ALL]
 SET STATUS = 'C', END_DATE = @V_CURRDATE, CREATED_DATE = GETDATE()
 WHERE MASTERID IN (SELECT MASTERID FROM @TMP1) AND END_DATE IS NULL
    /*******   UPDATE STATUS TO CLOSE  *******/   

 DELETE FROM @TMP1  
   
 INSERT INTO @TMP1 (MASTERID)
 SELECT DISTINCT MASTERID
 FROM [DBO].[IFRS_LI_STG_PAYM_SCHD] (NOLOCK)    
 WHERE DOWNLOAD_DATE = @V_CURRDATE               
 ORDER BY MASTERID ASC

 UPDATE [DBO].[IFRS_LI_PAYM_SCHD_ALL]
 SET STATUS = 'C', END_DATE = @V_CURRDATE, CREATED_DATE = GETDATE()
 WHERE MASTERID IN (SELECT MASTERID FROM @TMP1) AND END_DATE IS NULL 
  
 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'END', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'UPDATE STATUS TO CLOSE'

 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'START', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'INSERT INTO HISTORY'   
   
 /*******   INSERT INTO HISTORY  *******/    
 INSERT INTO [DBO].[IFRS_LI_PAYM_SCHD_ALL] 
 (
[DOWNLOAD_DATE]
    ,[MASTERID]
    ,[PMTDATE]
    ,[INTEREST_RATE]
    ,[OSPRN]
    ,[PRINCIPAL]
    ,[INTEREST]
    ,[DISB_PERCENTAGE]
    ,[DISB_AMOUNT]
 ,[PLAFOND]
    ,[I_DAYS]
    ,[COUNTER]
    ,[ICC]
    ,[OUTSTANDING]
    ,[SCH_FLAG]
    ,[GRACE_DATE]
    ,[STATUS]
    ,[CREATED_DATE]
 )
 SELECT
  [DOWNLOAD_DATE]
  ,[MASTERID]
 ,[PMTDATE]
  ,[INTEREST_RATE]
  ,[OSPRN]
  ,[PRINCIPAL]
  ,[INTEREST]
  ,[DISB_PERCENTAGE]
  ,[DISB_AMOUNT]
  ,[PLAFOND]
  ,[I_DAYS]
  ,[COUNTER]
  ,[ICC]
  ,[OUTSTANDING]
  ,[SCH_FLAG]
  ,[GRACE_DATE]
  ,'A'
  ,GETDATE()
 FROM [DBO].[IFRS_LI_PAYM_SCHD] (NOLOCK)
 WHERE DOWNLOAD_DATE = @V_CURRDATE  

 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'INSERT INTO HISTORY 1' 
   
 INSERT INTO [DBO].[IFRS_LI_PAYM_SCHD_ALL]   
 (   
  [DOWNLOAD_DATE]   
  ,[MASTERID]   
  ,[PMTDATE]   
  ,[INTEREST_RATE]   
  ,[OSPRN]   
  ,[PRINCIPAL]   
  ,[INTEREST]   
  ,[DISB_PERCENTAGE]   
  ,[DISB_AMOUNT]   
  ,[PLAFOND]   
  ,[I_DAYS]   
  ,[COUNTER]   
  ,[ICC]   
  ,[OUTSTANDING]   
  ,[SOURCE_PROCESS]   
  ,[SCH_FLAG]   
  ,[GRACE_DATE]   
  ,[STATUS]
  ,[CREATED_DATE]    
 )   
 SELECT 
  A.DOWNLOAD_DATE   
  ,A.[MASTERID]   
  ,A.[PMTDATE] [PMT_DATE]   
  ,B.INTEREST_RATE [INTEREST_RATE]   
  ,A.[OSPRN]   
  ,A.[PRINCIPAL]   
  ,A.[INTEREST]   
  ,0.000000 [DISB_PERCENTAGE]   
  ,0.000000 [DISB_AMOUNT]   
  ,B.PLAFOND [PLAFOND]   
  ,CASE WHEN B.INTEREST_CALCULATION_CODE = 6 THEN 
   CASE WHEN @V_CALC_IDAYS = 0 THEN
    CASE WHEN (ROW_NUMBER() OVER (PARTITION BY A.MASTERID ORDER BY PMTDATE) - 1) = 1 THEN 
     CASE WHEN DATEDIFF(MONTH, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE) = 0 THEN 30   
      ELSE DATEDIFF(MONTH, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE) * 30 
     END   
    ELSE DATEDIFF(MONTH, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE) * 30   
    END   
   WHEN @V_CALC_IDAYS = 1 THEN DBO.FN_CNT_DAYS_30_360(ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE)   
   ELSE DBO.FN_CNT_DAYS_30_360(ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE)   
   END   
  ELSE ISNULL(DATEDIFF(DAY, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE),0)   
  END [I_DAYS]          
  ,(ROW_NUMBER() OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY PMTDATE)) [COUNTER]   
  ,B.INTEREST_CALCULATION_CODE [ICC]   
  ,B.OUTSTANDING [OUTSTANDING]   
  ,'DWH' [SOURCE_PROCESS]   
  ,'Y'  [SCH_FLAG]   
  ,NULL [GRACE_DATE]   
  ,'A'  [STATUS]
  ,GETDATE() [CREATED_DATE]    
 FROM IFRS_LI_STG_PAYM_SCHD A (NOLOCK)  
 INNER JOIN IFRS_LI_IMA_AMORT_CURR B (NOLOCK) ON A.MASTERID = B.MASTERID   
 AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE   
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE   
   
 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'INSERT INTO HISTORY 2'
   
 /*******  INSERT TO AMORTISASI  *******/    
 INSERT INTO [DBO].[IFRS_LI_PAYM_SCHD]   
 (
  [DOWNLOAD_DATE]   
  ,[MASTERID]   
  ,[PMTDATE]   
  ,[INTEREST_RATE]   
  ,[OSPRN]   
  ,[PRINCIPAL]   
  ,[INTEREST]   
  ,[DISB_PERCENTAGE]   
  ,[DISB_AMOUNT]   
  ,[PLAFOND]   
  ,[I_DAYS]   
  ,[COUNTER]   
  ,[ICC]
  ,[OUTSTANDING]   
  ,[SCH_FLAG]   
  ,[GRACE_DATE]
 )   
 SELECT    
  @V_CURRDATE   
  ,A.[MASTERID]   
  ,A.[PMTDATE]   
  ,A.[INTEREST_RATE]   
  ,A.[OSPRN]   
  ,A.[PRINCIPAL]   
  ,A.[INTEREST]   
  ,A.[DISB_PERCENTAGE]   
  ,A.[DISB_AMOUNT]   
  ,A.[PLAFOND]   
  ,A.[I_DAYS]   
  ,A.[COUNTER]   
  ,A.[ICC]   
  ,A.[OUTSTANDING]  
  ,A.[SCH_FLAG]   
  ,A.[GRACE_DATE]        FROM IFRS_LI_PAYM_SCHD_ALL A (NOLOCK)   
 INNER JOIN IFRS_LI_IMA_AMORT_CURR B (NOLOCK) ON A.MASTERID = B.MASTERID AND A.STATUS = 'A'   
 LEFT JOIN IFRS_LI_PAYM_SCHD C (NOLOCK) ON A.MASTERID = C.MASTERID AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE   
 WHERE C.MASTERID IS NULL AND B.ECF_STATUS = 'Y'   
 AND A.PMTDATE > @V_CURRDATE
   
 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'INSERT INTO AMORT'   
   
 DECLARE @TMP3 TABLE   
 (
  DOWNLOAD_DATE DATE,
  MASTERID VARCHAR(100),
  START_AMORTIZATION_DATE  DATE
 )
   
 DELETE FROM @TMP3
    
 INSERT INTO @TMP3   
 SELECT PMA.DOWNLOAD_DATE,PMA.MASTERID,
 CASE 
 WHEN @PARAM_CALC_TO_LASTPAYMENT = 0 THEN @V_CURRDATE
 ELSE    
  CASE WHEN PYM.MASTERID IS NOT NULL THEN PYM.LAST_PAYMENT_DATE_PYM
  ELSE 
   CASE 
   WHEN ISNULL(PMA.LAST_PAYMENT_DATE, PMA.LOAN_START_DATE) <=  PMA.LOAN_START_DATE THEN  PMA.LOAN_START_DATE
   WHEN PMV.MASTERID IS NULL THEN PMA.LOAN_START_DATE
   ELSE 
    CASE 
     WHEN PMA.LAST_PAYMENT_DATE >= ISNULL(PMA.LOAN_END_AMORTIZATION, PMA.LOAN_DUE_DATE) THEN DATEADD(MONTH, - 1, ISNULL(PMA.LOAN_END_AMORTIZATION, PMA.LOAN_DUE_DATE))    
     ELSE PMA.LAST_PAYMENT_DATE
    END
   END
  END
 END START_AMORTIZATION_DATE
    FROM IFRS_LI_MASTER_ACCOUNT AS PMA (NOLOCK)
 INNER JOIN IFRS_LI_IMA_AMORT_CURR PMC (NOLOCK) ON PMA.MASTERID = PMC.MASTERID AND PMA.DOWNLOAD_DATE = PMC.DOWNLOAD_DATE
 LEFT JOIN IFRS_LI_IMA_AMORT_PREV PMV (NOLOCK) ON PMC.MASTERID = PMV.MASTERID AND PMV.DOWNLOAD_DATE = @V_PREVDATE
 LEFT JOIN 
 (
  SELECT MASTERID, MAX(PMTDATE) LAST_PAYMENT_DATE_PYM    
  FROM IFRS_LI_PAYM_SCHD_ALL (NOLOCK)
  WHERE STATUS = 'A' AND PMTDATE <= @V_CURRDATE    
  GROUP BY MASTERID
 ) PYM ON PYM.MASTERID = PMA.MASTERID
 WHERE PMA.DOWNLOAD_DATE = @V_CURRDATE
 AND PMC.ECF_STATUS = 'Y'
 AND PMA.ACCOUNT_STATUS = 'A' AND PMA.IAS_CLASS = 'L'    
 AND PMA.LOAN_DUE_DATE > @V_CURRDATE
 AND PMA.AMORT_TYPE = 'EIR'
   
 --DELETE TOP   
 DELETE FROM IFRS_LI_PAYM_SCHD          
 WHERE PMTDATE <= @V_CURRDATE   
   
 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'DELETE IFRS_LI_PAYM_SCHD BEFORE'  

 --DELETE BOTTOM   
 DELETE A   
 FROM IFRS_LI_PAYM_SCHD A   
 INNER JOIN    
 (
  SELECT MASTERID, MIN(PMTDATE) AS MAX_PMTDATE
  FROM IFRS_LI_PAYM_SCHD (NOLOCK)
  WHERE OSPRN = 0 
  GROUP BY MASTERID
 ) B ON A.MASTERID = B.MASTERID AND A.PMTDATE > B.MAX_PMTDATE
 
 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'DELETE IFRS_LI_PAYM_SCHD AFTER'   
   
 --INSERT INITIAL   
 INSERT INTO [DBO].[IFRS_LI_PAYM_SCHD]   
 (
  [DOWNLOAD_DATE]   
  ,[MASTERID]   
  ,[PMTDATE]   
  ,[INTEREST_RATE]   
  ,[OSPRN]   
  ,[PRINCIPAL]   
  ,[INTEREST]   
  ,[DISB_PERCENTAGE]   
  ,[DISB_AMOUNT]   
  ,[PLAFOND]   
  ,[I_DAYS]   
  ,[COUNTER]   
  ,[ICC]   
  ,[OUTSTANDING] 
  ,[SCH_FLAG]   
  ,[GRACE_DATE]
 ) 
 SELECT    
  A.[DOWNLOAD_DATE]   
  ,A.[MASTERID]   
  ,C.START_AMORTIZATION_DATE [PMTDATE]   
  ,A.[INTEREST_RATE]   
  ,(A.[OSPRN]  +  A.[PRINCIPAL] ) AS OSPRN   
  ,0.000000 AS [PRINCIPAL]   
  ,0.000000 AS [INTEREST]   
  ,0.000000 AS [DISB_PERCENTAGE]   
  ,(A.[OSPRN]  +  A.[PRINCIPAL] ) AS [DISB_AMOUNT]   
  ,A.[PLAFOND]   
  ,0 AS [I_DAYS]   
  ,0 AS [COUNTER]   
  ,A.[ICC]            
  ,A.[OUTSTANDING]   
  ,A.[SCH_FLAG]   
  ,A.[GRACE_DATE]   
 FROM IFRS_LI_PAYM_SCHD A (NOLOCK)
 INNER JOIN IFRS_LI_IMA_AMORT_CURR B (NOLOCK) ON A.MASTERID = B.MASTERID  AND B.ECF_STATUS = 'Y'   
 INNER JOIN @TMP3 C ON A.MASTERID = C.MASTERID AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE   
 INNER JOIN    
 (
  SELECT MASTERID, MIN(COUNTER) COUNTER
  FROM IFRS_LI_PAYM_SCHD (NOLOCK)    
  GROUP BY MASTERID
 ) D ON A.MASTERID = D.MASTERID AND A.COUNTER = D.COUNTER  
  
 
 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'INSERT INITIAL'  
   
    --INSERT PAYM_CORE_SRC   
 TRUNCATE TABLE IFRS_LI_PAYM_CORE_SRC   
   
 INSERT INTO IFRS_LI_PAYM_CORE_SRC
 (
  MASTERID
  ,PREV_PMT_DATE
  ,PMT_DATE
  ,INTEREST_RATE
  ,I_DAYS
  ,PRN_AMT
  ,INT_AMT
  ,DISB_PERCENTAGE
  ,DISB_AMOUNT
  ,PLAFOND
  ,OS_PRN_PREV
  ,OS_PRN
  ,COUNTER
  ,ICC
  ,GRACE_DATE
 ) 
 SELECT    
  SCH.MASTERID 
  ,ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE)
  ,SCH.PMTDATE
  ,SCH.INTEREST_RATE
  ,CASE 
  WHEN SCH.ICC  = 6 
  THEN 
   CASE 
   WHEN @V_CALC_IDAYS = 0   
   THEN 
    CASE    
    WHEN (ROW_NUMBER() OVER (PARTITION BY SCH.MASTERID ORDER BY PMTDATE) - 1) = 1   
    THEN 
     CASE    
     WHEN DATEDIFF(MONTH, ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE) = 0 THEN 30   
     ELSE DATEDIFF(MONTH, ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE) * 30 
     END   
    ELSE DATEDIFF(MONTH, ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE) * 30   
    END   
   WHEN @V_CALC_IDAYS = 1 THEN DBO.FN_CNT_DAYS_30_360(ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE)   
   ELSE DBO.FN_CNT_DAYS_30_360(ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE)   
   END   
  ELSE ISNULL(DATEDIFF(DAY, ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE),0)   
  END [I_DAYS] 
  ,CASE    
  WHEN SCH.COUNTER = MAX(SCH.COUNTER) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID) 
  THEN LAG(SCH.OSPRN) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE)
  ELSE SCH.PRINCIPAL
  END NEW_PRINCIPAL
  ,SCH.INTEREST  AS INTEREST    
  ,SCH.DISB_PERCENTAGE
  ,SCH.DISB_AMOUNT AS DISB_AMOUNT
  ,SCH.PLAFOND
  ,ISNULL(LAG(SCH.OSPRN) OVER (PARTITION BY SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.OSPRN)
  ,CASE    
  WHEN SCH.COUNTER = MAX(SCH.COUNTER) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID)      
  THEN  0  
  ELSE  SCH.OSPRN  
  END OSPRN
  ,(ROW_NUMBER () OVER (PARTITION BY SCH.MASTERID ORDER BY SCH.PMTDATE) -1) COUNTER    
  ,SCH.ICC
  ,SCH.GRACE_DATE   
 FROM IFRS_LI_PAYM_SCHD SCH (NOLOCK)  
 LEFT JOIN 
 (
  SELECT DISTINCT MASTERID
  FROM IFRS_LI_EXCEPTION_DETAILS (NOLOCK)
  WHERE EXCEPTION_CODE = 'V-2'
  AND DOWNLOAD_DATE = @V_CURRDATE
 ) EX ON SCH.MASTERID = EX.MASTERID   
 WHERE EX.MASTERID IS NULL

 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'INSERT IFRS_SCHD_PAYM_CORE'

 -- UPDATE PAYM SRC TO CUT INTEREST AT EVENT DATE
    IF @PARAM_CALC_TO_LASTPAYMENT =0
 BEGIN  
  IF OBJECT_ID ('TEMPDB.DBO.#LAST_PAYM_DATE') IS NOT NULL DROP TABLE #LAST_PAYM_DATE 
  SELECT DOWNLOAD_DATE, MASTERID,
  CASE WHEN ISNULL(LAST_PAYMENT_DATE,'1900-01-01') = '1900-01-01' THEN LOAN_START_DATE ELSE LAST_PAYMENT_DATE END AS LAST_PAYM_DATE
  INTO #LAST_PAYM_DATE
  FROM IFRS_LI_IMA_AMORT_CURR
 
  UPDATE A 
  SET INT_AMT =
   CASE WHEN A.ICC IN ('1','2') THEN  OS_PRN_PREV * CAST(A.I_DAYS AS FLOAT)  * INTEREST_RATE / case when a.ICC = 1 then 36000 else 36500 end  -- (CAST(A.I_DAYS AS FLOAT)/CAST(DATEDIFF(DAY,LAST_PAYM_DATE,PMT_DATE) AS FLOAT)) *INT_AMT
   ELSE (CAST(A.I_DAYS AS FLOAT)/CAST(DATEDIFF(MONTH,LAST_PAYM_DATE,PMT_DATE)*30 AS FLOAT)) *INT_AMT END
  FROM IFRS_LI_PAYM_CORE_SRC A (NOLOCK)
  INNER JOIN #LAST_PAYM_DATE B ON A.MASTERID = B.MASTERID 
  WHERE A.[COUNTER] = 1   
 END  
 --- END UPDATE PAYM SRC TO CUT INTEREST AT EVENT DATE

 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'CUT INTEREST ON EVENT DATE'

 -- UPDATE STATUS COST_FEE IF PAYM SCHEDULE NOT EXISTS (BTPN ONLY)
 DELETE @TMP1 
 
 INSERT INTO @TMP1 (MASTERID) 
 SELECT MASTERID 
 FROM IFRS_LI_PAYM_SCHD (NOLOCK)
 WHERE DOWNLOAD_DATE = @V_CURRDATE 
 GROUP BY MASTERID 
 
 UPDATE IFRS_LI_ACCT_COST_FEE 
 SET STATUS = 'FRZPYM' 
 WHERE DOWNLOAD_DATE = @V_CURRDATE 
 AND STATUS = 'ACT' 
 AND METHOD = 'EIR' 
 AND FLAG_AL = 'L' 
 AND MASTERID NOT IN (SELECT MASTERID FROM @TMP1)  
 -- UPDATE STATUS COST_FEE IF PAYM SCHEDULE NOT EXISTS (BTPN ONLY)  
   
 -- DELETE ADDED FILTER EIR ONLY
 DELETE A
 FROM IFRS_LI_ACCT_COST_FEE_SUMM A
 JOIN IFRS_LI_IMA_AMORT_CURR B
 ON A.MASTERID = B.MASTERID
 AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE  
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE  
 AND B.AMORT_TYPE = 'EIR'
 AND A.MASTERID NOT IN (SELECT MASTERID FROM @TMP1)    
 
 INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)
 SELECT @V_CURRDATE, GETDATE(), 'END', 'SP_IFRS_LI_PAYM_SCHD_SRC', 'FRZPYM'
   
END
GO
