USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDEFACUPLOAD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERRIDEFACUPLOAD]  
(      
	@DCFID INT
)      
AS      
BEGIN

	SELECT DISTINCT EFFECTIVEDATE, 
		EIR_PERCENT,
		OUTSTANDING,
		EIR_AMOUNT,
		COLLATERAL
	FROM tblT_PaymentExpectedH_TEMP
	WHERE DCFID = @DCFID
	ORDER BY EFFECTIVEDATE;
   
END;

GO
