USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LIGHT_GETNAMEBYID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LIGHT_GETNAMEBYID]
(
	@PKID BIGINT
)
AS
BEGIN
	SELECT 
		LIGHT_PD_MODEL_NAME, PKID
	FROM IFRS_LIGHT_PD_CONFIG 
	WHERE PKID=@PKID
END






GO
