USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETPERIODBTFROM]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETPERIODBTFROM](
@MODEL_ID bigint = 0)
AS        
BEGIN      
      
	SELECT
		IN_SAMPLE_START_DATE,
		IN_SAMPLE_END_DATE
	FROM IFRS_MACRO_ECONOMIC_MODEL
	WHERE PKID = @MODEL_ID
      
END;   
GO
