USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DERIVEDPDRULEID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DERIVEDPDRULEID]
(    
 @RuleID int    
)      
AS    
BEGIN    
       
SELECT TM_RULE_NAME     
FROM IFRS_PD_TRANS_MATRIX_CONFIG    
WHERE IS_DELETE = 0 AND PKID = @RuleID;    
    
     
END

GO
