USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULEFVSCHD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOANMODULEFVSCHD] 
(
   @DDATE_MAID VARCHAR(50) = ''
)
AS
BEGIN
	
	SELECT MASTERID, DOWNLOAD_DATE, OUTSTANDING, MARKET_RATE, FAIR_VALUE_AMT as CARRYING_AMT,TOTAL_PV_CF as FAIR_VALUE_AMT,
       CASE
              WHEN TOT_ADJUST > 0 THEN TOT_ADJUST
              ELSE 0
       END AS UNREALIZED_GAIN_AMOUNT,
       CASE
              WHEN TOT_ADJUST < 0 THEN TOT_ADJUST
              ELSE 0
       END AS UNREALIZED_LOSS_AMOUNT
	FROM IFRS_EIR_ADJUSTMENT (NOLOCK)
	WHERE DOWNLOAD_DATE <= CONVERT(VARCHAR, SUBSTRING(@DDATE_MAID, 1, 10), 111)
	  AND MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))
	  order by DOWNLOAD_DATE desc
	  ;

END

GO
