USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_DEFAULT_CONFIG_RATE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_DEFAULT_CONFIG_RATE]    
(    
  @DR_RULE_NAME VARCHAR(250),      
  @CALC_METHOD VARCHAR(20),    
  @BUCKET_GROUP VARCHAR(30),  
  @POPULATION_MONTH VARCHAR(50), 
  @ACTIVE_FLAG BIT, 
  @DEFAULT_RATE_DATA INT,  
  @HISTORICAL_DATA INT,
  @INCREMENT_PERIOD INT,     
  @PKID BIGINT,    
  @UpdatedBy VARCHAR(50),    
  @UpdatedHost VARCHAR(50)    
)    
AS    
BEGIN    
        
    UPDATE IFRS_PD_DEFAULT_RATE_CONFIG    
    SET   
  DR_RULE_NAME = @DR_RULE_NAME,  
  CALC_METHOD = @CALC_METHOD,  
  BUCKET_GROUP = @BUCKET_GROUP,  
  POPULATION_MONTH = @POPULATION_MONTH,  
  ACTIVE_FLAG = @ACTIVE_FLAG,
  DEFAULT_RATE_DATA = @DEFAULT_RATE_DATA,  
  HISTORICAL_DATA = @HISTORICAL_DATA,
  INCREMENT_PERIOD=@INCREMENT_PERIOD,    
        UPDATEDBY = @UpdatedBy,    
        UPDATEDHOST = @UpdatedHost    
    WHERE PKID = @PKID;  
	

	if @ACTIVE_FLAG = 1

	begin
		update IFRS_PD_DEFAULT_RATE_CONFIG set ACTIVE_FLAG = 0 where PKID not in (@PKID)
	end  
        
END;  
  

GO
