USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOADCCFANALYSISLEGEND]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPR_LOADCCFANALYSISLEGEND]  
(  
 @PKID BIGINT,  
 @DOWNLOAD_DATE DATE  
)  
AS   
BEGIN  
 DECLARE @CCF_RULE_NAME VARCHAR(50)  
 DECLARE @RULE_NAME VARCHAR(50)  
 DECLARE @AVERAGE_METHOD VARCHAR(50)  
 DECLARE @SIMPLE_AVG_CCF VARCHAR(50)  
 DECLARE @WEIGHTED_AVG_CCF VARCHAR(50)  
 DECLARE @OBSERV_PERIOD_MOVING VARCHAR(50) 
 DECLARE @HEADROOM_ZERO_EXCLUDE VARCHAR(50)   
 DECLARE @OS_DEF_ZERO_EXCLUDE VARCHAR(50) 
 DECLARE @CALC_METHOD VARCHAR(50)  
  
 SELECT  
  @CCF_RULE_NAME = CCF_RULE_NAME,  
  @AVERAGE_METHOD = AVERAGE_METHOD,
  @OBSERV_PERIOD_MOVING = OBSERV_PERIOD_MOVING,
  @HEADROOM_ZERO_EXCLUDE = HEADROOM_ZERO_EXCLUDE,
  @OS_DEF_ZERO_EXCLUDE = OS_DEF_ZERO_EXCLUDE,
  @CALC_METHOD = CALC_METHOD
 FROM IFRS_CCF_RULES_CONFIG  
 WHERE IS_DELETE = 0 AND PKID = @PKID  
  
 SELECT   
  @RULE_NAME = A.RULE_NAME  
 FROM IFRS_SCENARIO_RULES_HEADER A  
 JOIN (  
  SELECT   
   DEFAULT_RULE_ID   
  FROM IFRS_CCF_RULES_CONFIG  
  WHERE PKID = @PKID  
 ) B  
 ON A.PKID = B.DEFAULT_RULE_ID  
  
 SELECT  
  @SIMPLE_AVG_CCF = SIMPLE_AVG_CCF,  
  @WEIGHTED_AVG_CCF = WEIGHTED_AVG_CCF  
 FROM IFRS_EAD_CCF_HEADER   
 WHERE CCF_RULE_ID = @PKID AND DOWNLOAD_DATE = @DOWNLOAD_DATE  
  
 SELECT   
  @CCF_RULE_NAME AS LEGEND1,   
  @DOWNLOAD_DATE AS LEGEND2,  
  @RULE_NAME AS LEGEND3,  
  @AVERAGE_METHOD AS LEGEND4,   
  @SIMPLE_AVG_CCF AS LEGEND5,   
  @WEIGHTED_AVG_CCF AS LEGEND6,
  @OBSERV_PERIOD_MOVING AS LEGEND7,
  @HEADROOM_ZERO_EXCLUDE AS LEGEND8,
  @OS_DEF_ZERO_EXCLUDE AS LEGEND9,
  @CALC_METHOD AS CALC_METHOD
END;

GO
