USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DEFAULT_CONFIG_RATE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DEFAULT_CONFIG_RATE]        
(        
    @PKID bigint        
)        
AS        
BEGIN    
  
 SELECT PKID,    
 DR_RULE_NAME,    
 CALC_METHOD,    
 BUCKET_GROUP,     
 POPULATION_MONTH, 
 ACTIVE_FLAG,   
 DEFAULT_RATE_DATA,      
 HISTORICAL_DATA,
 INCREMENT_PERIOD      
 FROM IFRS_PD_DEFAULT_RATE_CONFIG      
 WHERE PKID = @PKID;      
        
END;

GO
