USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_PD_MAA_CORP_AVERAGE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_IMPCR_PD_MAA_CORP_AVERAGE]   
@DOWNLOAD_DATE DATE ='',  
@RULE_ID BIGINT = 0  
AS   
BEGIN  
 DECLARE @V_CURRDATE   DATE                                                                        
 DECLARE @V_PREVDATE   DATE          
 DECLARE @V_PREVMONTH DATE       
 DECLARE @V_CURRDATE_NOLAG   DATE                                                                        
 DECLARE @V_PREVDATE_NOLAG   DATE          
 DECLARE @V_PREVMONTH_NOLAG DATE     
  
  IF @DOWNLOAD_DATE <> ''        
BEGIN         
SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN        
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))        
  
SET @V_CURRDATE_NOLAG = EOMONTH(@DOWNLOAD_DATE) -- NO LAG        
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)        
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))        
END        
ELSE         
BEGIN         
SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE) )          
FROM IFRS_PRC_DATE        
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))   
  
SELECT @V_CURRDATE_NOLAG =  EOMONTH(CURRDATE)  FROM IFRS_PRC_DATE           
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)        
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))        
END        
  
DELETE [IFRS_PD_MAA_CORP_AVERAGE] WHERE TO_DATE = @V_CURRDATE_NOLAG AND PD_RULE_ID = @RULE_ID  
  
INSERT INTO [IFRS_PD_MAA_CORP_AVERAGE] (DOWNLOAD_DATE  
,BASE_DATE  
,TO_DATE  
,PD_RULE_ID  
,PD_RULE_NAME  
,BUCKET_GROUP  
,BUCKET_FROM  
,BUCKET_TO  
,CALC_METHOD  
,AVERAGE_RATE  
,CREATEDBY  
,CREATEDDATE)  
SELECT   
MAX(DOWNLOAD_DATE) AS DOWNLOAD_DATE  
,MAX(BASE_DATE) AS BASE_DATE  
,@V_CURRDATE_NOLAG AS TO_DATE  
,PD_RULE_ID  
,MAX(PD_RULE_NAME)  
,MAX(A.BUCKET_GROUP)  
,BUCKET_FROM  
,BUCKET_TO  
,MAX(A.CALC_METHOD)  
,ISNULL(AVG([PERCENTAGE]),0) AS AVERAGE_RATE  
,'SP_IFRS_IMPCR_PD_MAA_AVERAGE' AS CREATEDBY  
,GETDATE() AS CREATEDDATE  
FROM IFRS_PD_MAA_CORP_ENR A INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID  
 WHERE TO_DATE <= @V_CURRDATE_NOLAG AND TO_DATE >= EOMONTH(DATEADD(MONTH,B.HISTORICAL_DATA*-1,@V_CURRDATE_NOLAG)) AND DOWNLOAD_DATE >= B.CUT_OFF_DATE  
 AND A.PD_RULE_ID = @RULE_ID    
GROUP BY PD_RULE_ID ,BUCKET_FROM,BUCKET_TO  
  
-- UPDATE FOR BUCKET NPL   
UPDATE A  
SET AVERAGE_RATE =  CASE WHEN A.BUCKET_TO = B.MAX_BUCKET_ID THEN 1 ELSE 0 END  
FROM IFRS_PD_MAA_CORP_AVERAGE A   
INNER JOIN [dbo].[VW_IFRS_MAX_BUCKET] B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_FROM = B.MAX_BUCKET_ID  
WHERE TO_DATE = @V_CURRDATE_NOLAG AND A.PD_RULE_ID = @RULE_ID  
  
END  
GO
