USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_DEFPERIOD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_PD_DEFPERIOD]
(
	@RuleID bigint = 0
)
as
begin
SELECT DISTINCT EFF_DATE "PERIOD",
				LTRIM(RTRIM(DATENAME(MONTH, EFF_DATE))) + ' ' + LTRIM(RTRIM(DATENAME(YEAR, EFF_DATE))) AS DESCRIPTION
from IFRS_PD_DEFAULT_RATE
where DR_RULE_ID = @RuleID
order by EFF_DATE desc
end

GO
