USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_VIEWDCFUPLOADFACREMARKS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_VIEWDCFUPLOADFACREMARKS]
(
	@DDATE_UID VARCHAR(100)
)
AS
BEGIN

	DECLARE @UploadID BIGINT;
	DECLARE @CurrDate DATE;  

	SET @CurrDate = CAST(SUBSTRING(@DDATE_UID, 1, 10) AS DATE);
	SET @UploadID = CAST(SUBSTRING(@DDATE_UID, 12, LEN(@DDATE_UID)) AS BIGINT);
		
	SELECT DISTINCT IIO.DCFID,
		REMARK1,
		REMARK2,
		REMARK3,
		FILENAME,
		PATH
	FROM IFRS_IMP_OVERRIDE_HISTORY IIO
		LEFT JOIN TBLT_PAYMENTEXPECTED_HIST BP ON IIO.FACILITY_NUMBER = BP.FACILITY_NUMBER
			AND UPLOADID = @UploadID
	WHERE UPLOADID = @UploadID
		AND DOWNLOAD_DATE = @CurrDate;

END;

GO
