USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_LGW]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LGD_LGW](  
   @Period          DATE='1900-01-01',  
   @ProdGroup       int=0  
   )  
AS  
BEGIN  
	SET NOCOUNT ON;  
	DECLARE @V_Query   VARCHAR(MAX);
	DECLARE @month as int
	DECLARE @counter as int
	DECLARE @V_ColumnName VARCHAR(MAX); 
	SET @counter = 0;
	SET @month = (select workout_period from IFRS_LGD_RULES_CONFIG where PKID = @ProdGroup)

	WHILE @counter < @month
	BEGIN
		SET @counter = @counter+1
		SET @V_ColumnName = COALESCE(+@V_ColumnName + ',', '') + '['+CONVERT(varchar, @counter)+']'
	END

	SET @V_Query = 
	'select * into #temp from(
		select A.*, B.* from(
			select DEFAULT_DATE, CAST(SUM(EQV_AT_DEFAULT) as decimal(32, 2)) as "Outstanding at Default"
				from IFRS_LGD_REC_DETAIL A 
				join IFRS_LGD_RULES_CONFIG B on A.RULE_ID = B.DEFAULT_RULE_ID 
				join IFRS_LGD_LGW_DETAIL C on B.PKID = c.LGD_RULE_ID and C.MASTERID = A.MASTERID where B.PKID = '+CAST(@ProdGroup AS VARCHAR(MAX))+' and C.EFF_DATE = '''+CAST(@Period AS VARCHAR(10))+''' group by DEFAULT_DATE
			) A
			join(
		select * from(
			select DEFAULT_DATE as dates, cast(REC_OS as decimal(32, 2)) REC_OS, SEQ 
				from IFRS_LGD_REC_DETAIL A 
				join IFRS_LGD_RULES_CONFIG B on A.RULE_ID = B.DEFAULT_RULE_ID 
				join IFRS_LGD_LGW_DETAIL C on B.PKID = c.LGD_RULE_ID and C.MASTERID = A.MASTERID where B.PKID = '+CAST(@ProdGroup AS VARCHAR(MAX))+' and C.EFF_DATE = '''+CAST(@Period AS VARCHAR(10))+''') temp

				pivot(
				sum(rec_os) for seq in('+@V_ColumnName+')
				)pvt
			) B on A.DEFAULT_DATE = B.dates
	) temporary

	ALTER TABLE #temp DROP COLUMN dates
	select * from #temp
	drop table #temp';

	exec (@V_Query)
	print (@V_Query)

END  

GO
