USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PENDING_ECL_MODEL_D]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_PENDING_ECL_MODEL_D]
(
	@MODEL_NAME VARCHAR(10),
	@ECL_MODEL_ID BIGINT,
	@RULE_ID BIGINT,
	@ADDITIONAL_INFO VARCHAR(20) =''
)
AS
BEGIN
	DECLARE @HEADER_ID BIGINT;

	SELECT	@HEADER_ID = PKID 
	FROM	IFRS_ECL_MODEL_HEADER_PENDING
	WHERE	ECL_MODEL_ID = @ECL_MODEL_ID

	INSERT TBLM_TEMP_ECL_PENDING_DETAIL
	(
		HEADER_ID,
		MODEL_NAME,
		ECL_MODEL_ID,
		RULE_ID,
		ADDITIONAL_INFO
	)	VALUES(
		@HEADER_ID,
		@MODEL_NAME,
		@ECL_MODEL_ID,
		@RULE_ID,
		@ADDITIONAL_INFO
	)
END;

GO
