USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_QUERYFIELDSETTINGS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_QUERYFIELDSETTINGS]
AS
BEGIN

	SELECT PKID,
		CountryID,
		ModuleID,
		QueryID,
		RptColumns,
		RptArea,
		SummaryType,
		FormatString,
		FieldIndex,
		CreatedBy,
		CreatedDate,
		CreatedHost,
		UpdatedBy,
		UpdatedDate,
		UpdatedHost 
	FROM tblM_QueryFieldSettings;
    
END;

GO
