USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOANREPORTBYSEGMENT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_LOANREPORTBYSEGMENT]            
(            
@DOWNLOAD_DATE datetime='01/01/2000',          
@CURRENCY varchar(20)=''          
)            
AS            
BEGIN       
    
IF @CURRENCY = 'ALL'          
	SET @CURRENCY = ''

  SELECT          
   CONVERT(VARCHAR(6),DOWNLOAD_DATE,112) "Period",      
   --PRODUCT_TYPE_GROUP "Category",      
   --PD_SEGMENT +' - ' + PD_SEGMENT_DESC as "Segment",          
   PRODUCT_TYPE "Product Type",          
   CASE          
    WHEN IMPAIRED_FLAG = 'I' THEN 'Individual Impairment'          
    ELSE 'Collective Impairment'          
    END "Impairment Flag",          
   CURRENCY "Currency",      
   sum(isnull(PMA.OUTSTANDING, 0)) "Outstanding(ORI)",          
   sum(isnull(OUTSTANDING, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "Outstanding(IDR)",          
   sum(isnull(PMA.FAIR_VALUE_AMOUNT, 0)) "Fair Value(ORI)",          
   sum(isnull(PMA.FAIR_VALUE_AMOUNT, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "Fair Value(IDR)",          
   /*CASE          
    WHEN IMPAIRED_FLAG = 'I' THEN format(sum(isnull(PMA.IIP_AMOUNT, 0)), @Separator)      
    ELSE format(sum(isnull(PIP_AMOUNT, 0)), @Separator)          
    END "Provision(ORI)",          
   CASE          
    WHEN IMPAIRED_FLAG = 'I' THEN format(sum(isnull(PMA.IIP_AMOUNT, 0) * isnull(EXCHANGE_RATE, 0)), @Separator)          
    ELSE format(sum(isnull(PIP_AMOUNT, 0) * isnull(EXCHANGE_RATE, 0)), @Separator)          
    END "Provision(BND)",          */
   sum(isnull(PMA.INITIAL_UNAMORT_TXN_COST, 0)) "Initial Cost(ORI)",          
   sum(isnull(PMA.INITIAL_UNAMORT_TXN_COST, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "Initial Cost(IDR)",          
   sum(isnull(INITIAL_UNAMORT_TXN_COST, 0) - isnull(UNAMORT_COST_AMT, 0)) "Amortization Cost(ORI)",          
   sum((isnull(INITIAL_UNAMORT_TXN_COST, 0) - isnull(UNAMORT_COST_AMT, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Amortization Cost(IDR)",          
   sum(isnull(INITIAL_UNAMORT_ORG_FEE, 0)) "Initial Fee(ORI)",          
   sum(isnull(INITIAL_UNAMORT_ORG_FEE, 0) * isnull(PMA.EXCHANGE_RATE, 0)) "Initial Fee(IDR)",          
   sum(isnull(INITIAL_UNAMORT_ORG_FEE, 0) - isnull(UNAMORT_FEE_AMT, 0)) "Amortization Fee(ORI)",          
   sum((isnull(INITIAL_UNAMORT_ORG_FEE, 0) - isnull(UNAMORT_FEE_AMT, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Amortization Fee(IDR)",          
   --sum(isnull(CURRENT_BALANCE, 0) - isnull(PROFIT_REBATE, 0)) "Cbal Less Profit Rebate(ORI)",            
   --format(sum((isnull(CURRENT_BALANCE, 0) - isnull(PROFIT_REBATE, 0)) * isnull(PMA.EXCHANGE_RATE, 0)), @Separator) "Cbal Less Profit Rebate(BND)",            
   sum(isnull(OUTSTANDING, 0)) "Outstanding Principal(ORI)",            
   sum((isnull(OUTSTANDING, 0)) * isnull(PMA.EXCHANGE_RATE, 0)) "Outstanding Principal(IDR)",            
   --format(sum(isnull(CURRENT_BALANCE, 0)), @Separator) "Cbal(ORI)",            
   --format(sum((isnull(CURRENT_BALANCE, 0)) * isnull(PMA.EXCHANGE_RATE, 0)), @Separator) "Cbal(BND)",  
   isnull(count(MASTERID), 0) "Number of Account"          
  FROM IFRS_MASTER_ACCOUNT_MONTHLY PMA          
  WHERE DOWNLOAD_DATE = @Download_Date
   AND CURRENCY LIKE '%'+@CURRENCY+'%'
   AND PD_SEGMENT IS NOT NULL  
  GROUP BY PD_SEGMENT, IMPAIRED_FLAG,PRODUCT_TYPE,DOWNLOAD_DATE,CURRENCY --,PD_SEGMENT_DESC, PRODUCT_TYPE_GROUP         
        ORDER BY PRODUCT_TYPE,PD_SEGMENT,CURRENCY;          

 END          

GO
