USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PREPAYMENTCONFIGURATION_D]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PREPAYMENTCONFIGURATION_D](
@PKID bigint = 0
)  
AS        
BEGIN        
        
    SELECT         
        *        
    FROM IFRS_PREPAYMENT_RULES_CONFIG    
	WHERE ISNULL(IS_DELETE,0) = 0      
		AND PKID IN (SELECT PREPAYMENT_RULES_ID FROM IFRS_EAD_RULES_CONFIG WHERE PKID = @PKID)
    ORDER BY PREPAYMENT_RULE_NAME 
      
END; 

GO
