USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_MESCALARCONFIG]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_MESCALARCONFIG]              
(              
 @MODEL_ID int = 0,             
 @ADJ_TYPE varchar(10) = '',              
 @SCALAR_APPLY varchar(10) = '',          
 @RULE_ID int = 0,         
 @PERIOD date = null,         
 @SCENARIO_NO int = 0,              
 @SCENARIO_NAME varchar(50) = '',          
 @ADJUSTMENT_VALUE float = 0,          
 @ECONOMY_IMPACT bit,        
 @WEIGHTED_VALUE float = 0,        
 @CreatedBy VARCHAR(36),              
 @CreatedHost VARCHAR(30)              
)              
AS              
BEGIN          
DECLARE @pkid AS int          
           
 IF (@MODEL_ID <> 0)          
 BEGIN          
  INSERT INTO IFRS_ME_SCALAR_HEADER              
  (              
   MODEL_ID          
   ,ADJ_TYPE          
   ,SCALAR_APPLY          
   ,RULE_ID        
   ,PERIOD          
   ,CREATEDBY          
   ,CREATEDDATE          
   ,CREATEDHOST          
  )              
  VALUES              
  (              
   @MODEL_ID          
   ,@ADJ_TYPE          
   ,@SCALAR_APPLY          
   ,@RULE_ID         
   ,@PERIOD         
   ,@CreatedBy             
   ,GETDATE()          
   ,@CreatedHost          
  )          
 END          
           
 SET @pkid = (SELECT TOP 1 PKID FROM IFRS_ME_SCALAR_HEADER ORDER BY PKID DESC)    
   
 DECLARE @MODELID BIGINT  
 SET @MODELID = (SELECT TOP 1 MODEL_ID FROM IFRS_ME_SCALAR_HEADER ORDER BY PKID DESC)  
          
 INSERT INTO IFRS_ME_SCALAR_DETAIL          
 (              
  SCALAR_ID          
  ,SCENARIO_NO          
  ,SCENARIO_NAME          
  ,ADJUSTMENT_VALUE          
  ,ECONOMY_IMPACT         
  ,WEIGHTED_VALUE         
 )              
 VALUES              
 (             
  @pkid          
  ,@SCENARIO_NO            
  ,@SCENARIO_NAME          
  ,@ADJUSTMENT_VALUE          
  ,@ECONOMY_IMPACT          
  ,@WEIGHTED_VALUE        
 )        
     
   --ADD BY SEPTIAN 08072019 EXEC 4 SP MAS SAID   
   --IF @SCENARIO_NO = 3  
   --BEGIN   
 EXEC USPP_AFTERRSUBMITSCALAR @MODELID, @PERIOD       
   --END   
           
END 
GO
