USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_REVIEW_UPLOADED_DCF_HISTORY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_REVIEW_UPLOADED_DCF_HISTORY]              
(                
 @MASTERID varchar(100),        
 @DCFID int           
)                
AS                
BEGIN              
SELECT               
 MASTERID,              
 EOMONTH(EFFECTIVE_DATE) AS EFFECTIVE_DATE,              
 EIR_PERCENT/100 AS EIR_PERCENT,              
 PRINCIPAL,              
 INTEREST,              
 UNPAID_INTEREST,              
 COLLATERAL,              
 COLLATERAL_COST/100 AS COLLATERAL_COST              
FROM TBLT_PAYMENTEXPECTEDH_HIST WHERE DCFID = @DCFID AND UPLOADID = (SELECT MAX(UPLOADID) FROM TBLT_PAYMENTEXPECTEDH_HIST WHERE DCFID = @DCFID AND MASTERID = @MASTERID) AND MASTERID = @MASTERID           
ORDER BY EFFECTIVE_DATE;              
              
END
GO
