USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LBM_ACCT_EIR_GS_PROC3]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LBM_ACCT_EIR_GS_PROC3]
AS
DECLARE @V_CURRDATE DATE
DECLARE @V_PREVDATE DATE
DECLARE @VLOOP2 INT
DECLARE @VCNT INT
DECLARE @VCNT2 INT

BEGIN
	SELECT @V_CURRDATE = MAX(CURRDATE)
		,@V_PREVDATE = MAX(PREVDATE)
	FROM IFRS_PRC_DATE_AMORT

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'START'
		,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
		,''
		)

	UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
	SET EIR = NULL
		,NEXT_EIR = NULL
		,FINAL_EIR = NULL
		,FINAL_UNAMORT = NULL
		,NEXT_UNAMORT = NULL
		,UNAMORT_GLOSS = NULL

	TRUNCATE TABLE TMP_GS2

	INSERT INTO TMP_GS2 (
		MASTERID
		,DTMIN
		,BENEFIT
		,STAFFLOAN
		,COST_AMT
		,FEE_AMT
		,PREV_EIR
		)
	SELECT B.MASTERID
		,C.DTMIN
		,B.BENEFIT
		,B.STAFFLOAN
		,B.COST_AMT
		,B.FEE_AMT
		,CASE 
			WHEN D.GAIN_LOSS_CALC = 'Y'
				THEN D.PREV_EIR
			ELSE D.NPV_RATE
			END --20180417 PREPAYMENT USE PREV EIR  
	FROM IFRS_LBM_ACCT_EIR_CF_ECF1 B
	JOIN IFRS_LBM_ACCT_EIR_PAYM_GS_DATE C ON C.MASTERID = B.MASTERID
	JOIN IFRS_LBM_ACCT_EIR_CF_ECF D ON D.MASTERID = C.MASTERID -- GET NPVRATE AS PREV_EIR  

	UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS
	SET PREV_UNAMORT1 = CASE 
			WHEN B.STAFFLOAN = 1
				AND B.BENEFIT < 0
				THEN B.BENEFIT
			WHEN B.STAFFLOAN = 1
				AND B.BENEFIT >= 0
				THEN 0
			ELSE B.FEE_AMT
			END + CASE 
			WHEN B.STAFFLOAN = 1
				AND B.BENEFIT <= 0
				THEN 0
			WHEN B.STAFFLOAN = 1
				AND B.BENEFIT > 0
				THEN B.BENEFIT
			ELSE B.COST_AMT
			END
		,PREV_UNAMORT2 = 1.001 * (
			CASE 
				WHEN B.STAFFLOAN = 1
					AND B.BENEFIT < 0
					THEN B.BENEFIT
				WHEN B.STAFFLOAN = 1
					AND B.BENEFIT >= 0
					THEN 0
				ELSE B.FEE_AMT
				END + CASE 
				WHEN B.STAFFLOAN = 1
					AND B.BENEFIT <= 0
					THEN 0
				WHEN B.STAFFLOAN = 1
					AND B.BENEFIT > 0
					THEN B.BENEFIT
				ELSE B.COST_AMT
				END
			)
		,EIR1 = B.PREV_EIR
		,EIR2 = B.PREV_EIR
	FROM TMP_GS2 B
	WHERE B.MASTERID = IFRS_LBM_ACCT_EIR_PAYM_GS.MASTERID
		AND IFRS_LBM_ACCT_EIR_PAYM_GS.PMT_DATE = B.DTMIN

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DEBUG'
		,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
		,'1'
		)

	-- 20131106 DANIEL S : NOTE UNAMORT AMOUNT FOR EACH MASTERID  
	UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
	SET UNAMORT = B.PREV_UNAMORT1
	FROM IFRS_LBM_ACCT_EIR_PAYM_GS B
	WHERE B.MASTERID = IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.MASTERID
		AND B.PMT_DATE = IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.DTMIN

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DEBUG'
		,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
		,'2'
		)

	UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS
	SET PREV_CRYAMT1 = N_OSPRN_PREV + PREV_UNAMORT1
		,PREV_CRYAMT2 = N_OSPRN_PREV + PREV_UNAMORT2
		,EIRAMT1 = CASE 
			--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'1'
					,'6'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
					--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'2'
					,'3'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
			ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR1 * (N_OSPRN_PREV + PREV_UNAMORT1))
			END
		,EIRAMT2 = CASE 
			--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'1'
					,'6'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
					--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'2'
					,'3'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
			ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR2 * (N_OSPRN_PREV + PREV_UNAMORT2))
			END
		,AMORT1 = CASE 
			--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'1'
					,'6'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
					--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'2'
					,'3'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
			ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR1 * (N_OSPRN_PREV + PREV_UNAMORT1))
			END - N_INT_PAYMENT
		,AMORT2 = CASE 
			--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'1'
					,'6'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
					--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'2'
					,'3'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
			ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR2 * (N_OSPRN_PREV + PREV_UNAMORT2))
			END - N_INT_PAYMENT
		,UNAMORT1 = CASE 
			--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'1'
					,'6'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
					--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'2'
					,'3'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
			ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR1 * (N_OSPRN_PREV + PREV_UNAMORT1))
			END - N_INT_PAYMENT + PREV_UNAMORT1
		,UNAMORT2 = CASE 
			--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'1'
					,'6'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
					--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
			WHEN INTCALCCODE IN (
					'2'
					,'3'
					)
				THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
			ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR2 * (N_OSPRN_PREV + PREV_UNAMORT2))
			END - N_INT_PAYMENT + PREV_UNAMORT2
		,CRYAMT1 = (N_OSPRN_PREV + PREV_UNAMORT1) - N_PRN_PAYMENT + (
			CASE 
				--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'1'
						,'6'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
						--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'2'
						,'3'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
				ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR1 * (N_OSPRN_PREV + PREV_UNAMORT1))
				END - N_INT_PAYMENT
			)
		,CRYAMT2 = (N_OSPRN_PREV + PREV_UNAMORT2) - N_PRN_PAYMENT + (
			CASE 
				--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'1'
						,'6'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
						--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'2'
						,'3'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
				ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR2 * (N_OSPRN_PREV + PREV_UNAMORT2))
				END - N_INT_PAYMENT
			)
	FROM IFRS_LBM_ACCT_EIR_PAYM_GS_DATE C
	WHERE C.MASTERID = IFRS_LBM_ACCT_EIR_PAYM_GS.MASTERID
		AND IFRS_LBM_ACCT_EIR_PAYM_GS.PMT_DATE = C.DTMIN

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DEBUG'
		,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
		,'3'
		)

	TRUNCATE TABLE IFRS_LBM_GS_DATE1

	INSERT INTO IFRS_LBM_GS_DATE1 (
		MASTERID
		,PMT_DATE
		)
	SELECT A.MASTERID
		,MIN(A.PMT_DATE) DT
	FROM IFRS_LBM_ACCT_EIR_PAYM_GS A
	JOIN IFRS_LBM_ACCT_EIR_PAYM_GS_DATE B ON A.PMT_DATE > B.DTMIN
		AND A.MASTERID = B.MASTERID
	GROUP BY A.MASTERID

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DEBUG'
		,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
		,'4'
		)

	SET @VLOOP2 = 0

	-- OUTER LOOP  
	WHILE 1 = 1
	BEGIN --LOOP  
		SET @VLOOP2 = @VLOOP2 + 1

		IF @VLOOP2 > 30
			BREAK -- MAX COUNT FOR OUTER LOOP  

		INSERT INTO IFRS_AMORT_LOG (
			DOWNLOAD_DATE
			,DTM
			,OPS
			,PROCNAME
			,REMARK
			)
		VALUES (
			@V_CURRDATE
			,CURRENT_TIMESTAMP
			,'DEBUG'
			,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
			,'LOOP ' + CAST(@VLOOP2 AS VARCHAR(5))
			)

		--INNER LOOP  
		WHILE 1 = 1
		BEGIN --LOOP  
			SELECT @VCNT = COUNT(*)
			FROM IFRS_LBM_GS_DATE1

			IF @VCNT <= 0
				BREAK

			--UPDATE  
			TRUNCATE TABLE TMP_GS3

			INSERT INTO TMP_GS3 (
				MASTERID
				,PMT_DATE
				,EIR1
				,CRYAMT1
				,EIR2
				,CRYAMT2
				,UNAMORT1
				,UNAMORT2
				)
			SELECT B.MASTERID
				,B.PMT_DATE
				,C.EIR1
				,C.CRYAMT1
				,C.EIR2
				,C.CRYAMT2
				,C.UNAMORT1
				,C.UNAMORT2
			FROM IFRS_LBM_GS_DATE1 B
			JOIN IFRS_LBM_ACCT_EIR_PAYM_GS D ON D.MASTERID = B.MASTERID
				AND D.PMT_DATE = B.PMT_DATE
			JOIN IFRS_LBM_ACCT_EIR_PAYM_GS C ON C.MASTERID = B.MASTERID
				AND C.PMT_DATE = D.PREV_PMT_DATE

			UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS
			SET PREV_UNAMORT1 = C.UNAMORT1
				,PREV_UNAMORT2 = C.UNAMORT2
				,PREV_CRYAMT1 = C.CRYAMT1
				,PREV_CRYAMT2 = C.CRYAMT2
				,EIR1 = C.EIR1
				,EIR2 = C.EIR2
				,EIRAMT1 = CASE 
					--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
					WHEN INTCALCCODE IN (
							'1'
							,'6'
							)
						THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * C.EIR1 / 100 * C.CRYAMT1
							--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
					WHEN INTCALCCODE IN (
							'2'
							,'3'
							)
						THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * C.EIR1 / 100 * C.CRYAMT1
					ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * C.EIR1 * C.CRYAMT1)
					END
				,EIRAMT2 = CASE 
					--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
					WHEN INTCALCCODE IN (
							'1'
							,'6'
							)
						THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * C.EIR2 / 100 * C.CRYAMT2
							--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
					WHEN INTCALCCODE IN (
							'2'
							,'3'
							)
						THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * C.EIR2 / 100 * C.CRYAMT2
					ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * C.EIR2 * C.CRYAMT2)
					END
			FROM TMP_GS3 C
			WHERE C.PMT_DATE = IFRS_LBM_ACCT_EIR_PAYM_GS.PMT_DATE
				AND IFRS_LBM_ACCT_EIR_PAYM_GS.MASTERID = C.MASTERID

			INSERT INTO IFRS_AMORT_LOG (
				DOWNLOAD_DATE
				,DTM
				,OPS
				,PROCNAME
				,REMARK
				)
			VALUES (
				@V_CURRDATE
				,CURRENT_TIMESTAMP
				,'DEBUG'
				,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
				,'5'
				)

			UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS
			SET AMORT1 = EIRAMT1 - N_INT_PAYMENT
				,AMORT2 = EIRAMT2 - N_INT_PAYMENT
				,UNAMORT1 = (EIRAMT1 - N_INT_PAYMENT) + PREV_UNAMORT1
				,UNAMORT2 = (EIRAMT2 - N_INT_PAYMENT) + PREV_UNAMORT2
				,CRYAMT1 = PREV_CRYAMT1 + (EIRAMT1 - N_INT_PAYMENT) - N_PRN_PAYMENT
				,CRYAMT2 = PREV_CRYAMT2 + (EIRAMT2 - N_INT_PAYMENT) - N_PRN_PAYMENT
			FROM IFRS_LBM_GS_DATE1 B
			WHERE B.PMT_DATE = IFRS_LBM_ACCT_EIR_PAYM_GS.PMT_DATE
				AND IFRS_LBM_ACCT_EIR_PAYM_GS.MASTERID = B.MASTERID

			INSERT INTO IFRS_AMORT_LOG (
				DOWNLOAD_DATE
				,DTM
				,OPS
				,PROCNAME
				,REMARK
				)
			VALUES (
				@V_CURRDATE
				,CURRENT_TIMESTAMP
				,'DEBUG'
				,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
				,'6'
				)

			--PREPARE NEXT  
			TRUNCATE TABLE IFRS_LBM_GS_DATE2

			INSERT INTO IFRS_LBM_GS_DATE2 (
				MASTERID
				,PMT_DATE
				)
			SELECT A.MASTERID
				,MIN(A.PMT_DATE) DT
			FROM IFRS_LBM_ACCT_EIR_PAYM_GS A
			JOIN IFRS_LBM_GS_DATE1 B ON A.PMT_DATE > B.PMT_DATE
				AND B.MASTERID = A.MASTERID
			GROUP BY A.MASTERID

			TRUNCATE TABLE IFRS_LBM_GS_DATE1

			INSERT INTO IFRS_LBM_GS_DATE1 (
				MASTERID
				,PMT_DATE
				)
			SELECT MASTERID
				,PMT_DATE
			FROM IFRS_LBM_GS_DATE2

			INSERT INTO IFRS_AMORT_LOG (
				DOWNLOAD_DATE
				,DTM
				,OPS
				,PROCNAME
				,REMARK
				)
			VALUES (
				@V_CURRDATE
				,CURRENT_TIMESTAMP
				,'DEBUG'
				,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
				,'7'
				)
		END --LOOP;  
				--INNER LOOP  
				-- GET SUCCESS UNAMORT1  

		TRUNCATE TABLE TMP_T14

		INSERT INTO TMP_T14 (
			MASTERID
			,U1
			,E1
			)
		SELECT B.MASTERID
			,U.PREV_UNAMORT1
			,U.EIR1
		FROM IFRS_LBM_ACCT_EIR_PAYM_GS_DATE B
		JOIN IFRS_LBM_ACCT_EIR_PAYM_GS U ON U.PMT_DATE = B.DTMIN
			AND B.MASTERID = U.MASTERID
		JOIN IFRS_LBM_ACCT_EIR_PAYM_GS C ON C.PMT_DATE = B.DTMAX
			AND B.MASTERID = C.MASTERID
			AND ABS(C.UNAMORT1) < 0.01

		UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
		SET FINAL_UNAMORT = C.U1
			,EIR = C.E1
		FROM TMP_T14 C
		WHERE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.MASTERID = C.MASTERID
			AND IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.UNAMORT_GLOSS IS NULL

		UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
		SET UNAMORT_GLOSS = FINAL_UNAMORT
		WHERE FINAL_UNAMORT IS NOT NULL

		INSERT INTO IFRS_AMORT_LOG (
			DOWNLOAD_DATE
			,DTM
			,OPS
			,PROCNAME
			,REMARK
			)
		VALUES (
			@V_CURRDATE
			,CURRENT_TIMESTAMP
			,'DEBUG'
			,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
			,'7B'
			)

		-- SET NEXT UNAMORT  
		TRUNCATE TABLE TMP_GS1

		INSERT INTO TMP_GS1 (
			MASTERID
			,UNAMORT1
			,UNAMORT2
			,UNAMORT_GLOSS1
			,UNAMORT_GLOSS2
			)
		SELECT B.MASTERID
			,C.UNAMORT1
			,C.UNAMORT2
			,U.PREV_UNAMORT1
			,U.PREV_UNAMORT2
		FROM IFRS_LBM_ACCT_EIR_PAYM_GS_DATE B
		JOIN IFRS_LBM_ACCT_EIR_PAYM_GS U ON U.PMT_DATE = B.DTMIN
			AND B.MASTERID = U.MASTERID
		JOIN IFRS_LBM_ACCT_EIR_PAYM_GS C ON C.PMT_DATE = B.DTMAX
			AND B.MASTERID = C.MASTERID

		UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
		SET NEXT_UNAMORT = (((C.UNAMORT2 - C.UNAMORT1) / NULLIF((C.UNAMORT_GLOSS2 - C.UNAMORT_GLOSS1), 0)) * C.UNAMORT_GLOSS1 - C.UNAMORT1) / NULLIF(((C.UNAMORT2 - C.UNAMORT1) / NULLIF((C.UNAMORT_GLOSS2 - C.UNAMORT_GLOSS1), 0)), 0)
		FROM TMP_GS1 C
		WHERE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.MASTERID = C.MASTERID
			AND IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.UNAMORT_GLOSS IS NULL

		-- IF NEXT_UNAMORT=UNAMORT_GLOSS1 THEN PROBABLY GS HAS REACH ITS LIMIT SO TERMINATE AS SOON AS POSSIBLE  
		UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
		SET FINAL_UNAMORT = NEXT_UNAMORT
		FROM TMP_GS1 C
		WHERE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.MASTERID = C.MASTERID
			AND IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.UNAMORT_GLOSS IS NULL
			AND C.UNAMORT_GLOSS1 = IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.NEXT_UNAMORT
			AND ABS(C.UNAMORT1) < 1

		UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
		SET UNAMORT_GLOSS = FINAL_UNAMORT
		WHERE FINAL_UNAMORT IS NOT NULL

		INSERT INTO IFRS_AMORT_LOG (
			DOWNLOAD_DATE
			,DTM
			,OPS
			,PROCNAME
			,REMARK
			)
		VALUES (
			@V_CURRDATE
			,CURRENT_TIMESTAMP
			,'DEBUG'
			,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
			,'8'
			)

		--INIT LOOP 1  
		TRUNCATE TABLE TMP_GS2

		INSERT INTO TMP_GS2 (
			MASTERID
			,DTMIN
			,NEXT_EIR
			,STAFFLOAN
			,BENEFIT
			,FEE_AMT
			,COST_AMT
			,PREV_EIR
			,NEXT_UNAMORT
			)
		SELECT B.MASTERID
			,C.DTMIN
			,C.NEXT_EIR
			,B.STAFFLOAN
			,B.BENEFIT
			,B.FEE_AMT
			,B.COST_AMT
			,B.PREV_EIR
			,C.NEXT_UNAMORT
		FROM IFRS_LBM_ACCT_EIR_CF_ECF1 B
		JOIN IFRS_LBM_ACCT_EIR_PAYM_GS_DATE C ON C.MASTERID = B.MASTERID
			AND C.UNAMORT_GLOSS IS NULL

		SELECT @VCNT2 = COUNT(*)
		FROM TMP_GS2

		INSERT INTO IFRS_AMORT_LOG (
			DOWNLOAD_DATE
			,DTM
			,OPS
			,PROCNAME
			,REMARK
			)
		VALUES (
			@V_CURRDATE
			,CURRENT_TIMESTAMP
			,'DEBUG'
			,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
			,'NOA GS : ' + CAST(@VCNT2 AS VARCHAR(10))
			)

		UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS
		SET PREV_UNAMORT1 = B.NEXT_UNAMORT
			,PREV_UNAMORT2 = B.NEXT_UNAMORT + (0.001 * B.NEXT_UNAMORT)
		FROM TMP_GS2 B
		WHERE B.MASTERID = IFRS_LBM_ACCT_EIR_PAYM_GS.MASTERID
			AND IFRS_LBM_ACCT_EIR_PAYM_GS.PMT_DATE = B.DTMIN

		INSERT INTO IFRS_AMORT_LOG (
			DOWNLOAD_DATE
			,DTM
			,OPS
			,PROCNAME
			,REMARK
			)
		VALUES (
			@V_CURRDATE
			,CURRENT_TIMESTAMP
			,'DEBUG'
			,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
			,'9'
			)

		UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS
		SET PREV_CRYAMT1 = N_OSPRN_PREV + PREV_UNAMORT1
			,PREV_CRYAMT2 = N_OSPRN_PREV + PREV_UNAMORT2
			,EIRAMT1 = CASE 
				--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'1'
						,'6'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
						--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'2'
						,'3'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
				ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR1 * (N_OSPRN_PREV + PREV_UNAMORT1))
				END
			,EIRAMT2 = CASE 
				--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'1'
						,'6'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
						--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'2'
						,'3'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
				ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR2 * (N_OSPRN_PREV + PREV_UNAMORT2))
				END
			,AMORT1 = CASE 
				--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'1'
						,'6'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
						--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'2'
						,'3'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
				ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR1 * (N_OSPRN_PREV + PREV_UNAMORT1))
				END - N_INT_PAYMENT
			,AMORT2 = CASE 
				--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'1'
						,'6'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
						--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'2'
						,'3'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
				ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR2 * (N_OSPRN_PREV + PREV_UNAMORT2))
				END - N_INT_PAYMENT
			,UNAMORT1 = CASE 
				--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'1'
						,'6'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
						--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'2'
						,'3'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
				ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR1 * (N_OSPRN_PREV + PREV_UNAMORT1))
				END - N_INT_PAYMENT + PREV_UNAMORT1
			,UNAMORT2 = CASE 
				--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'1'
						,'6'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
						--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
				WHEN INTCALCCODE IN (
						'2'
						,'3'
						)
					THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
				ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR2 * (N_OSPRN_PREV + PREV_UNAMORT2))
				END - N_INT_PAYMENT + PREV_UNAMORT2
			,CRYAMT1 = (N_OSPRN_PREV + PREV_UNAMORT1) - N_PRN_PAYMENT + (
				CASE 
					--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
					WHEN INTCALCCODE IN (
							'1'
							,'6'
							)
						THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
							--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
					WHEN INTCALCCODE IN (
							'2'
							,'3'
							)
						THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR1 / 100 * (N_OSPRN_PREV + PREV_UNAMORT1)
					ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR1 * (N_OSPRN_PREV + PREV_UNAMORT1))
					END - N_INT_PAYMENT
				)
			,CRYAMT2 = (N_OSPRN_PREV + PREV_UNAMORT2) - N_PRN_PAYMENT + (
				CASE 
					--WHEN INTCALCCODE IN ('2', '6') REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
					WHEN INTCALCCODE IN (
							'1'
							,'6'
							)
						THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(360 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
							--WHEN INTCALCCODE = '3' REMARKS FOR ALIGN WITH ICC PAYMENT SCHEDULE 20160428  
					WHEN INTCALCCODE IN (
							'2'
							,'3'
							)
						THEN CAST(I_DAYS AS DECIMAL(18, 10)) / CAST(365 AS DECIMAL(18, 10)) * EIR2 / 100 * (N_OSPRN_PREV + PREV_UNAMORT2)
					ELSE (CAST(M AS DECIMAL(18, 10)) / CAST(1200 AS DECIMAL(18, 10)) * EIR2 * (N_OSPRN_PREV + PREV_UNAMORT2))
					END - N_INT_PAYMENT
				)
		FROM IFRS_LBM_ACCT_EIR_PAYM_GS_DATE C
		WHERE C.MASTERID = IFRS_LBM_ACCT_EIR_PAYM_GS.MASTERID
			AND IFRS_LBM_ACCT_EIR_PAYM_GS.PMT_DATE = C.DTMIN
			AND C.UNAMORT_GLOSS IS NULL

		INSERT INTO IFRS_AMORT_LOG (
			DOWNLOAD_DATE
			,DTM
			,OPS
			,PROCNAME
			,REMARK
			)
		VALUES (
			@V_CURRDATE
			,CURRENT_TIMESTAMP
			,'DEBUG'
			,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
			,'9B'
			)

		TRUNCATE TABLE IFRS_LBM_GS_DATE1

		INSERT INTO IFRS_LBM_GS_DATE1 (
			MASTERID
			,PMT_DATE
			)
		SELECT A.MASTERID
			,MIN(A.PMT_DATE) DT
		FROM IFRS_LBM_ACCT_EIR_PAYM_GS A
		JOIN IFRS_LBM_ACCT_EIR_PAYM_GS_DATE B ON A.PMT_DATE > B.DTMIN
			AND A.MASTERID = B.MASTERID
			AND B.UNAMORT_GLOSS IS NULL
		GROUP BY A.MASTERID

		INSERT INTO IFRS_AMORT_LOG (
			DOWNLOAD_DATE
			,DTM
			,OPS
			,PROCNAME
			,REMARK
			)
		VALUES (
			@V_CURRDATE
			,CURRENT_TIMESTAMP
			,'DEBUG'
			,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
			,'10'
			)
	END --LOOP;  
			--OUTER LOOP  
			-- GET SUCCESS EIR1 LAST LOOP  

	UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
	SET FINAL_UNAMORT = B.PREV_UNAMORT1
		,EIR = B.EIR1
	FROM (
		SELECT B.MASTERID
			,U.PREV_UNAMORT1
			,U.EIR1
		FROM IFRS_LBM_ACCT_EIR_PAYM_GS_DATE B
		JOIN IFRS_LBM_ACCT_EIR_PAYM_GS U ON U.PMT_DATE = B.DTMIN
			AND B.MASTERID = U.MASTERID
		JOIN IFRS_LBM_ACCT_EIR_PAYM_GS C ON C.PMT_DATE = B.DTMAX
			AND B.MASTERID = C.MASTERID
			AND ABS(C.UNAMORT1) < 1
		) B
	WHERE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.MASTERID = B.MASTERID
		AND IFRS_LBM_ACCT_EIR_PAYM_GS_DATE.UNAMORT_GLOSS IS NULL

	UPDATE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
	SET UNAMORT_GLOSS = FINAL_UNAMORT
	WHERE FINAL_UNAMORT IS NOT NULL

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DEBUG'
		,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
		,'11'
		)

	-- FAILED GOAL SEEK  
	INSERT INTO IFRS_LBM_ACCT_EIR_FAILED_GS3 (
		DOWNLOAD_DATE
		,MASTERID
		,CREATEDBY
		,CREATEDDATE
		)
	SELECT @V_CURRDATE
		,MASTERID
		,'EIR_GS'
		,CURRENT_TIMESTAMP
	FROM IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
	WHERE UNAMORT_GLOSS IS NULL

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'DEBUG'
		,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
		,'12'
		)

	-- SUCCESS GOAL SEEK  
	INSERT INTO IFRS_LBM_ACCT_EIR_GS_RESULT3 (
		DOWNLOAD_DATE
		,MASTERID
		,CREATEDBY
		,CREATEDDATE
		,EIR
		,GLOSS
		,UNAMORT
		)
	SELECT @V_CURRDATE
		,MASTERID
		,'EIR_GS'
		,CURRENT_TIMESTAMP
		,EIR
		,UNAMORT - UNAMORT_GLOSS
		,UNAMORT
	FROM IFRS_LBM_ACCT_EIR_PAYM_GS_DATE
	WHERE UNAMORT_GLOSS IS NOT NULL

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'END'
		,'SP_IFRS_LBM_ACCT_EIR_GS_PROCESS3'
		,''
		)
END

GO
