USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FORWARDLOOKINGMODEL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_FORWARDLOOKINGMODEL](    
@MODEL_ID bigint=0  
)    
AS    
BEGIN    
SET NOCOUNT ON;    
     
 SELECT *  
 FROM IFRS_MULT_LINEAR_REGR_RESULT  
 WHERE MODEL_ID = @MODEL_ID  
    
END 
GO
