USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDESEARCHFAC]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_DCFOVERRIDESEARCHFAC]
(
	@DOWNLOAD_DATE DATE = NULL,
	@CUSTOMER_NUMBER VARCHAR(50) = '%',
	@CUSTOMER_NAME VARCHAR(2000) = '%',
	@FACILITY_NUMBER VARCHAR(50) = '%'
)
AS
BEGIN
	
	DECLARE @Query VARCHAR(2000);

	IF @DOWNLOAD_DATE IS NULL
	BEGIN
		SELECT @DOWNLOAD_DATE = CURRDATE FROM IFRS_PRC_DATE;
	END

	;WITH cte AS
	(
		SELECT IIO.DCFID,
			DOWNLOAD_DATE,
			IIO.CUSTOMER_NUMBER,
			IIO.CUSTOMER_NAME,
			IIO.FACILITY_NUMBER,
			CASE WHEN FLAG_IMPAIRMENT = 'I'
				THEN 'Individual'
				ELSE 'Collective'
			END AS FLAG_IMPAIRMENT,
			IIO.CURRENCY,
			IIO.OUTSTANDING, 
			IIO.EAD_AMOUNT,
			BI_COLLECT_IMPAIR,
			BEING_EDITED,
			CASE WHEN IIO.DCFSTATUS = 'A'
				THEN TPE.UPLOADID
				ELSE TPP.UPLOADID
			END AS UPLOADID,
			CASE WHEN IIO.DCFSTATUS = 'A'
				THEN 'Approved'
			WHEN IIO.DCFSTATUS = 'R'
				THEN 'Rejected'
			WHEN IIO.DCFSTATUS = 'P'
				THEN 'Need Approval'
				ELSE ''
			END AS DCFSTATUS,
			PATH,
			ROW_NUMBER() OVER (PARTITION BY IIO.FACILITY_NUMBER ORDER BY IIO.DCFID) AS rn
		FROM IFRS_IMP_OVERRIDE IIO
			LEFT JOIN TBLT_PAYMENTEXPECTED TPE ON IIO.DCFID = TPE.DCFID
			LEFT JOIN TBLT_PAYMENTEXPECTED_PENDING TPP ON IIO.DCFID = TPP.DCFID
		WHERE DOWNLOAD_DATE = @DOWNLOAD_DATE
			AND FLAG_IMPAIRMENT = 'I'
			AND LOWER(IIO.CUSTOMER_NUMBER) LIKE '%' + LOWER(RTRIM(LTRIM(@CUSTOMER_NUMBER))) + '%'
			AND LOWER(IIO.CUSTOMER_NAME) LIKE '%' + LOWER(RTRIM(LTRIM(@CUSTOMER_NAME))) + '%'
			AND LOWER(IIO.FACILITY_NUMBER) LIKE '%' + LOWER(RTRIM(LTRIM(@FACILITY_NUMBER))) + '%'
	)
	SELECT *
	FROM cte
	WHERE rn = 1
	ORDER BY CUSTOMER_NAME;

END;

GO
