USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_DEFAULTBYBUCKET]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPR_DEFAULTBYBUCKET]      
(    
 @PD_RULE_NAME VARCHAR(100),    
 @DOWNLOAD_DATE DATE
)     
AS    
BEGIN    
DECLARE @LAG BIT

SELECT @LAG = ISNULL(LAG_1MONTH_FLAG, 0) FROM IFRS_PD_RULES_CONFIG WHERE TM_RULE_NAME = @PD_RULE_NAME

IF @LAG = 1
BEGIN
	SELECT X.DOWNLOAD_DATE, X.BUCKET_NAME, X.NOA, X.OUTSTANDING, X.NEXT_12M_DEFAULT_NOA FROM
	(SELECT 
		A.DOWNLOAD_DATE,
		ISNULL(B.BUCKET_NAME, 'FP') AS BUCKET_NAME,
		A.BUCKET_ID,
		COUNT(1) AS NOA,
		SUM(A.OUTSTANDING) AS OUTSTANDING,
		SUM(
			CASE WHEN A.NEXT_12M_DEFAULT_FLAG = 1
				THEN 1
				ELSE 0
			END
		) AS NEXT_12M_DEFAULT_NOA
	FROM IFRS_PD_SCENARIO_DATA A (NOLOCK)
	LEFT JOIN IFRS_BUCKET_DETAIL B (NOLOCK) ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_ID = B.BUCKET_ID
	WHERE A.PD_RULE_NAME = @PD_RULE_NAME AND A.DOWNLOAD_DATE = @DOWNLOAD_DATE
	GROUP BY A.DOWNLOAD_DATE, B.BUCKET_NAME, A.BUCKET_ID) X
	ORDER BY X.BUCKET_ID
END
ELSE
BEGIN
	SELECT X.DOWNLOAD_DATE, X.BUCKET_NAME, X.NOA, X.OUTSTANDING, X.NEXT_12M_DEFAULT_NOA FROM
	(SELECT
		A.DOWNLOAD_DATE,
		ISNULL(B.BUCKET_NAME, 'FP') AS BUCKET_NAME,
		A.BUCKET_ID,
		COUNT(1) AS NOA,
		SUM(A.OUTSTANDING) AS OUTSTANDING,
		SUM(
			CASE WHEN A.NEXT_12M_DEFAULT_FLAG = 1
				THEN 1
				ELSE 0
			END
		) AS NEXT_12M_DEFAULT_NOA
	FROM IFRS_PD_SCENARIO_DATA_NOLAG A (NOLOCK)
	LEFT JOIN IFRS_BUCKET_DETAIL B (NOLOCK) ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_ID = B.BUCKET_ID AND A.RATING_CODE = B.SUB_BUCKET_GROUP
	WHERE A.PD_RULE_NAME = @PD_RULE_NAME AND A.DOWNLOAD_DATE = @DOWNLOAD_DATE
	GROUP BY A.DOWNLOAD_DATE, B.BUCKET_NAME, A.BUCKET_ID) X
	ORDER BY X.BUCKET_ID
END
    
END;
GO
