USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMHIERARCHY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_PARAMHIERARCHY]
AS
BEGIN
 
	SELECT PKID	
		,ITEM_CODE
		,CASE WHEN GEN1_CODE = 0 THEN NULL ELSE GEN1_CODE END GEN1_CODE
		,GEN1_DESC
		,CASE WHEN GEN2_CODE = 0 THEN NULL ELSE GEN2_CODE END GEN2_CODE
		,GEN2_DESC
		,CASE WHEN GEN3_CODE = 0 THEN NULL ELSE GEN3_CODE END GEN3_CODE
		,GEN3_DESC
		,CASE WHEN GEN4_CODE = 0 THEN NULL ELSE GEN4_CODE END GEN4_CODE
		,GEN4_DESC
		,CASE WHEN GEN5_CODE = 0 THEN NULL ELSE GEN5_CODE END GEN5_CODE
		,GEN5_DESC
		,CASE WHEN GEN6_CODE = 0 THEN NULL ELSE GEN6_CODE END GEN6_CODE
		,GEN6_DESC
		,CASE WHEN GEN7_CODE = 0 THEN NULL ELSE GEN7_CODE END GEN7_CODE
		,GEN7_DESC
		,CASE WHEN GEN8_CODE = 0 THEN NULL ELSE GEN8_CODE END GEN8_CODE
		,GEN8_DESC
		,SIGN_NORM
	FROM GL_PARAM_HIERARCHY_HO
	ORDER BY GEN1_CODE, GEN2_CODE, GEN3_CODE, GEN4_CODE, GEN5_CODE, GEN6_CODE, GEN7_CODE, GEN8_CODE

END

GO
