USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LIFETIMECUMULATIVEAVERAGE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_LIFETIMECUMULATIVEAVERAGE](
@LIFETIME_RULE_ID BIGINT = 0,
@DOWNLOAD_DATE DATE = '01/01/2000')  
AS  
BEGIN
	
SET NOCOUNT ON;  
 DECLARE @V_Query   VARCHAR(MAX);  
 DECLARE @V_ColumnName VARCHAR(MAX);
 DECLARE @V_ColumnNameIsnull VARCHAR(MAX);
 
 SELECT @V_ColumnNameIsnull = COALESCE(@V_ColumnNameIsnull + ',', '') +
	'ISNULL([' + BUCKET_NAME + '], 0) AS ' + '[' + BUCKET_NAME + ']'
 FROM
(SELECT DISTINCT BUCKET_NAME
	FROM
	(SELECT CASE WHEN (BUCKET_TO=0) THEN 'FP' ELSE BUCKET_NAME END BUCKET_NAME
		FROM IFRS_LT_ENR_SUM A  
		JOIN IFRS_BUCKET_DETAIL B ON A.BUCKET_GROUP = B.BUCKET_GROUP  
		AND A.BUCKET_FROM = B.BUCKET_ID AND A.LIFETIME_RULE_ID = @LIFETIME_RULE_ID AND A.EFF_DATE = @DOWNLOAD_DATE
		GROUP BY A.BUCKET_TO,B.BUCKET_NAME
	)A
)B

 SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + '[' + BUCKET_NAME + ']'
 FROM
(SELECT DISTINCT BUCKET_NAME
	FROM
	(SELECT CASE WHEN (BUCKET_TO=0) THEN 'FP' ELSE BUCKET_NAME END BUCKET_NAME
		FROM IFRS_LT_ENR_SUM A  
		JOIN IFRS_BUCKET_DETAIL B ON A.BUCKET_GROUP = B.BUCKET_GROUP  
		AND A.BUCKET_FROM = B.BUCKET_ID AND A.LIFETIME_RULE_ID = @LIFETIME_RULE_ID AND A.EFF_DATE = @DOWNLOAD_DATE
		GROUP BY A.BUCKET_TO,B.BUCKET_NAME
	)A
)B
  
 SET @V_Query = 
	'SELECT A.LIFETIME_RULE_NAME,A.EFF_DATE,A.BUCKET_FROM,'+@V_ColumnNameIsnull+', B.Total FROM(  
			Select LIFETIME_RULE_NAME,EFF_DATE,BUCKET_FROM,'+@V_ColumnNameIsnull+',BUCKET_ID FROM(  
					Select distinct D.LIFETIME_RULE_NAME,A.EFF_DATE,
						B.BUCKET_NAME as BUCKET_FROM,
						CASE WHEN (A.BUCKET_TO=0) THEN ''FP''
						ELSE C.BUCKET_NAME END BUCKET_TO,
						ISNULL(A.CALC_AMOUNT,0) AS CALC_AMOUNT,
						B.BUCKET_ID
					FROM IFRS_LT_ENR_SUM A  
					LEFT JOIN IFRS_BUCKET_DETAIL B
					ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_FROM = B.BUCKET_ID  
					LEFT JOIN IFRS_BUCKET_DETAIL C
					ON A.BUCKET_GROUP = C.BUCKET_GROUP AND A.BUCKET_TO = C.BUCKET_ID  
					JOIN IFRS_LIFETIME_RULES_CONFIG D
					ON A.LIFETIME_RULE_ID = D.PKID  
					AND A.LIFETIME_RULE_ID = ' + CAST(@LIFETIME_RULE_ID AS VARCHAR(MAX)) + '  
					AND A.EFF_DATE = ''' + CAST(@DOWNLOAD_DATE AS VARCHAR(10)) + '''   
			)TMP  
			pivot( 
				sum(CALC_AMOUNT)
				for BUCKET_TO IN ('+ @V_ColumnName +')
			)PVT
		)A  
     JOIN   
     (  
			Select BUCKET_FROM,   
				SUM(CALC_AMOUNT) AS TOTAL  
			FROM  
			(  
				Select     
					B.BUCKET_NAME AS BUCKET_FROM,  
					A.CALC_AMOUNT  
				FROM IFRS_LT_ENR_SUM A  
				JOIN IFRS_BUCKET_DETAIL B  
				ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_FROM = B.BUCKET_ID
				JOIN IFRS_BUCKET_DETAIL C  
				ON A.BUCKET_GROUP = C.BUCKET_GROUP AND A.BUCKET_FROM = C.BUCKET_ID    
				JOIN IFRS_LIFETIME_RULES_CONFIG D  
				ON A.LIFETIME_RULE_ID = D.PKID  
				AND A.LIFETIME_RULE_ID = ' + CAST(@LIFETIME_RULE_ID AS VARCHAR(MAX)) + '  
				AND A.EFF_DATE =''' + CAST(@DOWNLOAD_DATE AS VARCHAR(10)) + '''  
				GROUP BY B.BUCKET_NAME,   
				A.CALC_AMOUNT   
			) TMP2  
			GROUP BY BUCKET_FROM  
     ) B ON A.BUCKET_FROM = B.BUCKET_FROM
	 ORDER BY A.BUCKET_ID';
 PRINT (@V_Query);  
 EXEC (@V_Query);

END;
GO
