USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_TMPMODELMACROECONOMIC]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_TMPMODELMACROECONOMIC]
(
    @PKID BIGINT
)
AS
BEGIN

    DELETE FROM TMP_IFRS_MACRO_ECONOMIC_MODEL
    WHERE PKID = @PKID;
    
    DELETE FROM TMP_IFRS_DEPENDENT_VARIABLE
    WHERE MODEL_ID = @PKID;
    
    DELETE FROM TMP_IFRS_INDEPENDENT_VARIABLE
    WHERE MODEL_ID = @PKID;
    
	DELETE FROM TMP_IFRS_ME_MODEL_CORRELATION
    WHERE MODEL_ID = @PKID;
    
	DELETE FROM TMP_IFRS_ME_SEASONAL_ADJ
    WHERE MODEL_ID = @PKID;
    
END;

GO
