USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SEGMENT_RECOV_ANALYSIS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_SEGMENT_RECOV_ANALYSIS]    
AS    
BEGIN    
        SELECT     
             PKID "SEGMENT", LGD_RULE_NAME "DESCRIPTION"    
        FROM IFRS_LGD_RULES_CONFIG_9     
        WHERE LGD_METHOD = 'ER' ;    
END;

GO
