USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPGLDATEBYSTART]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPGLDATEBYSTART]
(
	@GLDateStart date = '01/01/2000'
)
AS
BEGIN
	
	create table #GLDateByStart
	(
		[GLDate] varchar(10)
	)

	INSERT INTO #GLDateByStart
	SELECT DISTINCT CONVERT(varchar(10), DOWNLOAD_DATE,120) AS GLdate
	FROM GL_STATISTIC
	WHERE DOWNLOAD_DATE >= @GLDateStart
		AND DOWNLOAD_DATE = EOMONTH(DOWNLOAD_DATE)

	SELECT * FROM #GLDateByStart
	ORDER BY GLDate DESC

	DROP TABLE #GLDateByStart

END

GO
