USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERSCENARIOHFACINIT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERSCENARIOHFACINIT]
(
	@DCFID BIGINT
)
AS
BEGIN

	-- Union for rebinding purposes
	SELECT CAST(POS1 AS VARCHAR) AS COL1,
		CAST(POS2 AS VARCHAR) AS COL2,
		CAST(POS3 AS VARCHAR) AS COL3,
		CAST(POS4 AS VARCHAR) AS COL4,
		CAST(POS5 AS VARCHAR) AS COL5		
	FROM IFRS_FL_SCENARIO_IA_H_TEMP
	WHERE DCFID = @DCFID
	UNION
	SELECT SCENARIONAME1,
		SCENARIONAME2,
		SCENARIONAME3,
		SCENARIONAME4,
		SCENARIONAME5
	FROM IFRS_FL_SCENARIO_IA_H_TEMP
	WHERE DCFID = @DCFID;
	
END;

GO
