USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_CHECK_AMORT_NOCF]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IFRS_CHECK_AMORT_NOCF]
AS
DECLARE @V_CURRDATE DATE
	,@V_PREVDATE DATE

BEGIN
	SELECT @V_CURRDATE = MAX(CURRDATE)
		,@V_PREVDATE = MAX(PREVDATE)
	FROM IFRS_PRC_DATE_AMORT

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'START'
		,'SP_IFRS_CHECK_AMORT_NOCF'
		,''
		)

	TRUNCATE TABLE IFRS_CHECK_AMORT_NOCF

	TRUNCATE TABLE TMP_X

	INSERT INTO TMP_X (
		DOWNLOAD_DATE
		,CCY
		,MASTERID
		,JOURNALCODE
		,AMOUNT
		)
	SELECT DOWNLOAD_DATE
		,CCY
		,MASTERID
		,CASE 
			WHEN JOURNALCODE = 'ACRU4'
				THEN 'AMRT4'
			ELSE JOURNALCODE
			END AS JOURNALCODE
		,SUM(CASE 
				WHEN REVERSE = 'Y'
					THEN - 1 * N_AMOUNT
				ELSE N_AMOUNT
				END) AS AMOUNT
	FROM IFRS_ACCT_JOURNAL_INTM_SUMM
	WHERE DOWNLOAD_DATE = @V_CURRDATE
		AND JOURNALCODE IN (
			'ACRU4'
			,'AMRT4'
			)
	GROUP BY DOWNLOAD_DATE
		,CCY
		,CASE 
			WHEN JOURNALCODE = 'ACRU4'
				THEN 'AMRT4'
			ELSE JOURNALCODE
			END
		,MASTERID

	INSERT INTO IFRS_CHECK_AMORT_NOCF (
		DOWNLOAD_DATE
		,MASTERID
		,CCY
		,JURNAL_AMORT_AMT
		)
	SELECT DOWNLOAD_DATE
		,MASTERID
		,CCY
		,AMOUNT
	FROM TMP_X

	UPDATE IFRS_CHECK_AMORT_NOCF
	SET ACF_UNAMORT_AMT = B.N_UNAMORT_PREV_NOCF + B.N_ACCRU_NOCF
	FROM (
		SELECT A.*
		FROM IFRS_ACCT_EIR_ACF A
		WHERE A.ID IN (
				SELECT MAX(ID)
				FROM IFRS_ACCT_EIR_ACF
				WHERE DOWNLOAD_DATE >= @V_PREVDATE
					AND DOWNLOAD_DATE <= @V_CURRDATE
					AND MASTERID IN (
						SELECT MASTERID
						FROM TMP_X
						)
				GROUP BY MASTERID
				)
		) B
	WHERE IFRS_CHECK_AMORT_NOCF.MASTERID = B.MASTERID

	UPDATE IFRS_CHECK_AMORT_NOCF
	SET CONTROL_AMT = JURNAL_AMORT_AMT - ACF_UNAMORT_AMT

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'END'
		,'SP_IFRS_CHECK_AMORT_NOCF'
		,''
		)
END

GO
