USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_EXISTINGMEMODELFILTER]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_EXISTINGMEMODELFILTER]  
AS  
BEGIN  
 SELECT PKID,  
   MODEL_NAME,  
   SELECTION_METHOD,  
   CAST( IN_SAMPLE_START_DATE as varchar(25))+' - '+CAST( IN_SAMPLE_END_DATE as varchar(25)) IN_SAMPLE_DATE,  
   CAST( OUT_SAMPLE_START_DATE as varchar(25))+' - '+CAST( OUT_SAMPLE_END_DATE as varchar(25)) OUT_SAMPLE_DATE,  
   MAX_COMB,  
   TOP_N,  
   CORR_THRESHOLD, NORM_THRESHOLD, P_VALUE, HOMO_METHOD, HOMO_THRESHOLD, MULTCOLL_THRESHOLD,  
   INTERCEPT_FLAG,  
   ADJ_R_VALUE  
 from IFRS_MACRO_ECONOMIC_MODEL  
 WHERE IS_DELETE = 0 AND STATUS = 'M'  
END
GO
