USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADMETEMPFORECAST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADMETEMPFORECAST]      
(  
 @ME_CODE VARCHAR(100) = NULL,      
 @ME_PERIOD VARCHAR(50) = NULL,      
 @ME_VAL VARCHAR(50) = NULL,     
 @ME_CODE_UPLOAD VARCHAR(100) = NULL,      
 @CreatedBy VARCHAR(36) = NULL,      
 @CreatedHost VARCHAR(30) = NULL      
)      
AS      
BEGIN
     
	INSERT INTO IFRS_ME_FORECAST_DETAIL_TEMP      
	(   
		  ME_CODE,
		  ME_CODE_UPLOAD,       
		  FL_PERIOD,       
		  FL_VAL,  
		  REMARKS,       
		  CreatedBy,       
		  CreatedDate,       
		  CreatedHost       
	)      
	VALUES       
	(       
		LTRIM(RTRIM(UPPER(@ME_CODE))),      
		LTRIM(RTRIM(UPPER(@ME_CODE_UPLOAD))),      
		EOMONTH(CAST(LTRIM(RTRIM(@ME_PERIOD)) AS DATE)),
		LTRIM(RTRIM(@ME_VAL)),       
		'UPLOAD',       
		@CreatedBy,       
		GETDATE(),       
		@CreatedHost       
	);      
         
	SELECT 1;      
      
END
GO
