USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULEH]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_LOANMODULEH]    
(    
    @DOWNLOADDATE as date = '1/1/1900',    
    @DATASOURCE as varchar(20)='',    
    @PRODUCTTYPE as varchar(20)='',    
    @PRODUCTCODE as varchar(20)='',    
	@PRODUCTGROUP  as varchar(25)='',    
    @FACILITYNUMBER as varchar(50)='',    
    @CUSTOMERNUMBER as varchar(50)='',    
	@CUSTOMERNAME AS VARCHAR(150)='',    
    @ACCOUNTNUMBER as varchar(50)='',    
    @pageNumber as INT,    
    @pageSize as INT,    
    @SortColumn as varchar(100)='',
	@Where as VARCHAR(1000)=''
)    
AS    
BEGIN    
    
DECLARE @Query AS VARCHAR(3000);    
DECLARE @DOWNLOAD_DATE_DD AS DATE;    
     
IF @SortColumn = ''    
BEGIN    
	SET @SortColumn = 'MASTER_ACCOUNT_ID';    
END    
     
IF @pageSize = 0    
BEGIN    
	SET @pageSize = 1    
END   

--IF @Where IS NOT NULL
--BEGIN
--	SET @Where = REPLACE(@Where,'DOWNLOAD_DATE','REPLACE(CONVERT(VARCHAR(20),[DOWNLOAD_DATE],106), '' '',''-'')')
--	SET @Where = REPLACE(@Where,'LOAN_START_DATE','REPLACE(CONVERT(VARCHAR(20),[LOAN_START_DATE],106), '' '',''-'')')
--	SET @Where = REPLACE(@Where,'LOAN_DUE_DATE','REPLACE(CONVERT(VARCHAR(20),[LOAN_DUE_DATE],106), '' '',''-'')')
--END 
     
IF (CONVERT(DATE, @DOWNLOADDATE) ='1/1/1900')    
BEGIN    
	SELECT @DOWNLOAD_DATE_DD = currdate FROM IFRS_PRC_DATE    
END    
ELSE    
BEGIN    
	SELECT @DOWNLOAD_DATE_DD = CONVERT(DATE, @DOWNLOADDATE)    
END
        
SET @Query =    
'SELECT * FROM (
SELECT
	CONVERT(varchar(50), download_date, 111) + MASTER_ACCOUNT_CODE DDATE_MAID,    
	DOWNLOAD_DATE,    
	MASTER_ACCOUNT_CODE AS MASTER_ACCOUNT_ID,    
	MASTERID,    
	A.DATA_SOURCE,    
	PRODUCT_GROUP,    
	BRANCH_CODE,    
	ACCOUNT_NUMBER,    
	FACILITY_NUMBER,    
	CUSTOMER_NUMBER,    
	CUSTOMER_NAME,    
	ACCOUNT_STATUS,    
	ISNULL(OUTSTANDING,0) AS OUTSTANDING,    
	LOAN_START_DATE,    
	LOAN_DUE_DATE,       
	INTEREST_RATE,    
	ISNULL(EIR,INTEREST_RATE) EIR,    
	LOAN_START_AMORTIZATION,    
	LOAN_END_AMORTIZATION,    
	CURRENCY,    
	EXCHANGE_RATE,    
	PAYMENT_CODE,    
	INTEREST_CALCULATION_CODE,    
	PAYMENT_TERM,    
	PRODUCT_TYPE,    
	PRD_TYPE_1 AS ASSET_TYPE_PRODUCT1,    
	B.PRD_DESC,    
	IAS_CLASS,    
	IFRS9_CLASS,    
	PRODUCT_CODE,    
	A.AMORT_TYPE,    
	STAGE,    
	TENOR,    
	ISNULL(FAIR_VALUE_AMOUNT,0) AS FAIR_VALUE_AMOUNT,    
	ISNULL(PLAFOND,0) AS PLAFOND,    
	ISNULL(INITIAL_UNAMORT_ORG_FEE,0) AS INITIAL_UNAMORT_ORG_FEE,    
	ISNULL(INITIAL_UNAMORT_TXN_COST,0) AS INITIAL_UNAMORT_TXN_COST,    
	ISNULL(UNAMORT_FEE_AMT,0) AS UNAMORT_FEE_AMT,    
	ISNULL(UNAMORT_COST_AMT,0) AS UNAMORT_COST_AMT,    
	ISNULL(EAD_AMOUNT,0) AS EAD_AMOUNT,    
	ISNULL(ECL_AMOUNT,0) AS ECL_AMOUNT,    
	ISNULL(IA_UNWINDING_SUM_AMOUNT, 0) + ISNULL(CA_UNWINDING_AMOUNT, 0) UNWINDING_AMT,    
	BI_COLLECTABILITY,    
	IMPAIRED_FLAG    
FROM IFRS_MASTER_ACCOUNT A (NOLOCK)    
LEFT JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)
	ON A.DATA_SOURCE = B.DATA_SOURCE AND A.PRODUCT_CODE = B.PRD_CODE AND B.INST_CLS_VALUE=''A''    
WHERE '    
	+' DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE_DD, 120)  +  ''''    
	+' AND A.DATA_SOURCE LIKE ''%LOAN%'' '
	+ CASE WHEN @DATASOURCE <> '' THEN 'AND A.DATA_SOURCE = ''' + LTRIM(RTRIM(@DATASOURCE)) + ''' '    
    ELSE '' END
	+ CASE WHEN @PRODUCTGROUP <> '' THEN 'AND PRODUCT_GROUP LIKE ''%' + LTRIM(RTRIM(@PRODUCTGROUP)) + '%'' '
	ELSE '' END    
	+ CASE WHEN @PRODUCTCODE <> '' THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCTCODE)) + '%'' '    
    ELSE '' END    
	+ CASE WHEN @PRODUCTTYPE <> '' THEN 'AND PRODUCT_TYPE LIKE ''%' + LTRIM(RTRIM(@PRODUCTTYPE)) + '%'' '    
    ELSE '' END    
	+ CASE WHEN @FACILITYNUMBER <> '' THEN 'AND FACILITY_NUMBER LIKE ''%' + LTRIM(RTRIM(@FACILITYNUMBER)) + '%'' '    
    ELSE '' END    
	+ CASE WHEN @CUSTOMERNUMBER <> '' THEN 'AND CUSTOMER_NUMBER LIKE ''%' + LTRIM(RTRIM(@CUSTOMERNUMBER)) + '%'''    
    ELSE '' END    
	+ CASE WHEN @CUSTOMERNAME <> '' THEN 'AND CUSTOMER_NAME LIKE ''%' + LTRIM(RTRIM(@CUSTOMERNAME)) + '%'''    
    ELSE '' END    
	+ CASE WHEN @ACCOUNTNUMBER <> '' THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNTNUMBER)) + '%'''    
    ELSE '' END 
	+ ') X'
	+ CASE WHEN @Where <> '' THEN ' WHERE ' + @Where    
        ELSE '' END
	+ '    
ORDER BY ' + @SortColumn + '    
OFFSET ' + CAST(@pageNumber AS VARCHAR) + ' ROWS    
FETCH NEXT ' + CAST(@pageSize AS VARCHAR) + ' ROWS ONLY OPTION (RECOMPILE);';    
    
PRINT (@Query);    
EXEC (@Query);    
                  
END;

GO
