USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFSEARCHCIF]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_DCFSEARCHCIF]                           
(                          
 @Download_Date  DATE = '01-JUN-2000',                          
 --@Data_Source VARCHAR(20) = '',
 @Business_Unit VARCHAR(20) = '',
 @Customer_Number VARCHAR(50) = '',                          
 @Customer_Name  VARCHAR(150) = ''                          
)                          
AS                          
BEGIN                          
                   
 --REMARK JTRUST                  
 --SELECT DISTINCT                        
 -- CAST (A.CUSTOMER_NUMBER AS VARCHAR) "PKID",                      
 -- CAST (A.CUSTOMER_NUMBER AS VARCHAR) "CUSTOMER_NUMBER",                          
 -- A.CUSTOMER_NAME,                      
 -- ISNULL(B.UPDATEDDATE,B.CREATEDDATE) OVERRIDEDATE,                      
 -- A.DOWNLOAD_DATE,                      
 -- FLAG_IMPAIRMENT,                      
 -- A.BI_COLLECTABILITY                      
 --FROM IFRS_MASTER_ACCOUNT A                      
 --LEFT JOIN IFRS_IMP_OVERRIDE B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE                      
 --WHERE A.DOWNLOAD_DATE = @Download_Date                      
 -- AND LOWER(A.CUSTOMER_NUMBER) like '%' + LOWER (rtrim(ltrim(@Customer_Number))) + '%'                      
 -- AND LOWER (A.CUSTOMER_NAME) like '%' + LOWER (rtrim(ltrim(@Customer_Name))) + '%'                      
 -- --AND A.FACILITY_FLAG = 'N'                      
 DECLARE @QUERY AS VARCHAR(MAX);                
                 
 SET @QUERY = '
	SELECT                  
		A.CUSTOMER_NUMBER,                  
		--A.DATA_SOURCE,
		 A.CUSTOMER_NUMBER+'+'''/''+B.PARENTCOMMONCODEVALUE AS CUSTOMER_NUMBER_BU,
		 A.RATING_CODE,
		 MAX(A.CUSTOMER_NAME) CUSTOMER_NAME,                  
		 SUM(ISNULL(CASE WHEN A.DATA_SOURCE = ''LIMIT_T24'' THEN A.UNUSED_AMOUNT ELSE A.OUTSTANDING END,0) * C.RATE_AMOUNT) OUTSTANDING,                  
		 MAX(ISNULL(A.PLAFOND_CIF,0) * C.RATE_AMOUNT) AS PLAFOND,                  
		 MAX(A.DPD_CIF) DAY_PAST_DUE,                  
		 MAX(A.BI_COLLECT_CIF) BI_COLLECTABILITY,
		 B.PARENTCOMMONCODEVALUE AS BUSINESS_UNIT                
    FROM IFRS_MASTER_ACCOUNT A (NOLOCK)
	LEFT JOIN TBLM_COMMONCODEDETAIL B ON B.COMMONCODE = ''B1031'' AND A.DATA_SOURCE = B.VALUE1 AND ISNULL(B.IS_DELETE,0) = 0
	LEFT JOIN IFRS_MASTER_EXCHANGE_RATE C ON ISNULL(A.LIMIT_CURRENCY, ''IDR'') = C.CURRENCY AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE '                
                
 SET @QUERY = @QUERY + '
	WHERE A.DOWNLOAD_DATE = (SELECT CURRDATE FROM IFRS_PRC_DATE) '       
 SET @QUERY = @QUERY + '
		AND A.DATA_SOURCE <> ''LIMIT'' '               
  
  IF  @Business_Unit != ''                
  BEGIN                
	SET @QUERY = @QUERY + '
		AND A.DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''B1031'' AND PARENTCOMMONCODEVALUE = ' + ''''  +@Business_Unit+ ''' AND ISNULL(IS_DELETE,0) = 0) '                
  END

 SET @QUERY = @QUERY + '
		AND A.PRODUCT_GROUP IN (SELECT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''' + 'B152' + ''' AND ISNULL(IS_DELETE,0) = 0) '                
 SET @QUERY = @QUERY + '
		AND A.CUSTOMER_NUMBER+'+'''/''+B.PARENTCOMMONCODEVALUE NOT IN 
			(SELECT DISTINCT CUSTOMER_NUMBER+'+'''/''+B.PARENTCOMMONCODEVALUE FROM IFRS_IMP_IA_MASTER A
				LEFT JOIN TBLM_COMMONCODEDETAIL B ON B.COMMONCODE = ''B1031'' AND A.DATA_SOURCE = B.VALUE1 AND ISNULL(B.IS_DELETE,0) = 0) ' 
 SET @QUERY = @QUERY + '
		AND A.CUSTOMER_NUMBER+'+'''/''+B.PARENTCOMMONCODEVALUE NOT IN 
			(SELECT DISTINCT CUSTOMER_NUMBER+'+'''/''+B.PARENTCOMMONCODEVALUE FROM IFRS_IMP_IA_MASTER_PEND A
				LEFT JOIN TBLM_COMMONCODEDETAIL B ON B.COMMONCODE = ''B1031'' AND A.DATA_SOURCE = B.VALUE1 AND ISNULL(B.IS_DELETE,0) = 0) '                
                
  IF  @Customer_Number != ''                
  BEGIN                
	SET @QUERY = @QUERY + '
		AND A.CUSTOMER_NUMBER = ' + ''''  +  RTRIM(LTRIM(@Customer_Number)) + ''' '                
  END                
                
  IF @Customer_Name != ''                 
  BEGIN                
	SET @QUERY = @QUERY + '
		AND A.CUSTOMER_NAME LIKE ' + ''''  + '%' + RTRIM(LTRIM(@Customer_Name)) + '%' + ''' '                
  END                
              
 SET @QUERY = @QUERY + '
	GROUP BY A.CUSTOMER_NUMBER,A.RATING_CODE,B.PARENTCOMMONCODEVALUE'              
                
  PRINT(@QUERY)                
  EXEC(@QUERY)                
                
 --SELECT                  
 -- A.CUSTOMER_NUMBER,                  
 -- A.CUSTOMER_NAME,                  
 -- A.OUTSTANDING,                  
 -- A.PLAFOND,                  
 -- A.DAY_PAST_DUE,                  
 -- A.BI_COLLECTABILITY                  
 --FROM IFRS_MASTER_ACCOUNT A                  
 --WHERE A.CUSTOMER_NUMBER NOT IN (SELECT DISTINCT(CUSTOMER_NUMBER) FROM IFRS_IMP_IA_MASTER)                  
 --AND A.CUSTOMER_NAME = @Customer_Name                  
 --AND A.CUSTOMER_NUMBER = @Customer_Number                  
 --AND A.PRODUCT_GROUP = (SELECT COMMONUSAGE FROM TBLM_COMMONCODEHEADER WHERE COMMONCODE = 'B152')                  
 --AND A.DOWNLOAD_DATE = (SELECT CURRDATE FROM IFRS_PRC_DATE)                  
                             
END;

GO
