USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_LookupMappingRules]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[uspS_LookupMappingRules] 
--(
	--@UserID varchar(36)=''
--)       
AS         
BEGIN         

	----SELECT PKID, MappingName from tblM_MappingRulesHeader 
    --DECLARE @ScreenGroupID int;

    --SELECT @ScreenGroupID = SCREENGROUPID
    --FROM TBLM_USER
    --WHERE CAST(PKID as varchar(36)) = @UserID
		
	SELECT PKID, MappingName, MAPPINGDESCRIPTION, MAPPINGTYPE, FILETYPE
	FROM TBLM_MAPPINGRULEHEADER_NEW A
		--JOIN TBLM_MAPPING_RULE_SCREENGROUP B ON A.PKID = B.MAPPINGRULEID
			--AND B.SCREENGROUP = @ScreenGroupID

END

GO
