USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_OSWEIGHT_PERIOD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_LGD_OSWEIGHT_PERIOD]
as
begin

	select distinct CURRDATE,  
			LTRIM(RTRIM(UPPER(datename(MONTH, CURRDATE)) + ' ' + Cast(YEAR(CURRDATE) as varchar(4)))) AS DESCRIPTION
	from IFRS_LGD_OS_WEIGHTED_INT_RATE
	ORDER BY CURRDATE DESC;

end

GO
