USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEREGRESSIONRESULTMASTER]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[USPS_MEREGRESSIONRESULTMASTER]
	@modelId int
 AS
 declare @count int ;
	select  @count = PKID 
	from	IFRS_MULT_LINEAR_REGR_RESULT
	where MODEL_ID = @modelId
	
	if @count > 0  -- select data from final table 
		select  PKID, MODEL_SEQ, MULT_R_SQUARED , ADJ_R_SQUARED
		from	IFRS_MULT_LINEAR_REGR_RESULT
		where	MODEL_ID = @modelId
	ELSE
		select	PKID, MODEL_SEQ, MULT_R_SQUARED , ADJ_R_SQUARED   
		from	TMP_IFRS_MULT_LINEAR_REGR_RESULT
		where	MODEL_ID = @modelId

GO
