USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPEXCEPTIONGL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_LOOKUPEXCEPTIONGL]
(
	@blank bit
)
AS
BEGIN

	CREATE TABLE #exceptiongl
	(
		[CODE] varchar(50),
		[CODE_DESC] varchar(100)
	)

	IF (@blank = 1)
	BEGIN
		INSERT INTO #exceptiongl ([CODE],[CODE_DESC]) VALUES ('','All Exception')
	END

	INSERT INTO #exceptiongl
	SELECT Value1 "CODE",
		(Value1 + ' - ' + Description) "CODE_DESC"
	FROM tblM_CommonCodeDetail
	WHERE CommonCode = 'GL02'
	ORDER BY Value1
	
	SELECT * FROM #exceptiongl ORDER BY CODE

	DROP TABLE #exceptiongl

END

GO
