USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MONITORINGPROCESS_GLRERUN]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_MONITORINGPROCESS_GLRERUN]
(
	@PRC_NAME varchar(20)='',
	@Download_Date_Start datetime='01/01/2000',
	@Download_Date_End datetime='01/01/2000',
	@Manual varchar(10) = ''
)
AS
BEGIN

	IF (@PRC_NAME = 'GL')
	BEGIN
		IF (@Manual = 'MONTHLY')
		BEGIN
			IF @Download_Date_End = '01/01/2000'
			BEGIN
				SELECT
					convert(varchar(30),A.DOWNLOAD_DATE,120) "Download Date",
					convert(varchar(30),A.START_DATE,120) "Start Process Time",
					convert(varchar(30),A.END_DATE,120) "End Process Time",
					A.PRC_PROCESS_TIME "Process Time",
					A.COUNTER AS "Current Counter",
					A.SP_NAME AS "Job Name",
					A.SP_DESCRIPTION AS "Job Description",
					A.REMARK "Status"
				FROM GL_STATISTIC A WITH (NOLOCK)
				JOIN tblM_CommonCodeDetail C WITH (NOLOCK) ON COMMONCODE='MP001' AND VALUE1 like '%'+@PRC_NAME
				WHERE A.DOWNLOAD_DATE = @Download_Date_Start
					AND A.DOWNLOAD_DATE = EOMONTH(A.DOWNLOAD_DATE)
					AND A.START_DATE IS NOT NULL
				ORDER BY A.PKID DESC;
			END
			ELSE
			BEGIN
				SELECT
					convert(varchar(30),A.DOWNLOAD_DATE,120) "Download Date",
					convert(varchar(30),A.START_DATE,120) "Start Process Time",
					convert(varchar(30),A.END_DATE,120) "End Process Time",
					A.PRC_PROCESS_TIME "Process Time",
					A.COUNTER AS "Current Counter",
					A.SP_NAME AS "Job Name",
					A.SP_DESCRIPTION AS "Job Description",
					A.REMARK "Status"
				FROM GL_STATISTIC A WITH (NOLOCK)
				JOIN tblM_CommonCodeDetail C WITH (NOLOCK) ON COMMONCODE='MP001' AND VALUE1 like '%'+@PRC_NAME
				WHERE A.DOWNLOAD_DATE BETWEEN @Download_Date_Start AND @Download_Date_End
					AND A.DOWNLOAD_DATE = EOMONTH(A.DOWNLOAD_DATE)
					AND A.START_DATE IS NOT NULL
				ORDER BY A.PKID DESC;
			END
		END
		ELSE IF (@Manual = 'DAILY')
		BEGIN
			IF @Download_Date_End = '01/01/2000'
			BEGIN
				SELECT
					convert(varchar(30),A.DOWNLOAD_DATE,120) "Download Date",
					convert(varchar(30),A.START_DATE,120) "Start Process Time",
					convert(varchar(30),A.END_DATE,120) "End Process Time",
					A.PRC_PROCESS_TIME "Process Time",
					A.COUNTER AS "Current Counter",
					A.SP_NAME AS "Job Name",
					A.SP_DESCRIPTION AS "Job Description",
					A.REMARK "Status"
				FROM GL_STATISTIC A WITH (NOLOCK)
				JOIN tblM_CommonCodeDetail C WITH (NOLOCK) ON COMMONCODE='MP001' AND VALUE1 like '%'+@PRC_NAME
				WHERE A.DOWNLOAD_DATE = @Download_Date_Start
					AND A.START_DATE IS NOT NULL
				ORDER BY A.PKID DESC;
			END
			ELSE
			BEGIN
				SELECT
					convert(varchar(30),A.DOWNLOAD_DATE,120) "Download Date",
					convert(varchar(30),A.START_DATE,120) "Start Process Time",
					convert(varchar(30),A.END_DATE,120) "End Process Time",
					A.PRC_PROCESS_TIME "Process Time",
					A.COUNTER AS "Current Counter",
					A.SP_NAME AS "Job Name",
					A.SP_DESCRIPTION AS "Job Description",
					A.REMARK "Status"
				FROM GL_STATISTIC A WITH (NOLOCK)
				JOIN tblM_CommonCodeDetail C WITH (NOLOCK) ON COMMONCODE='MP001' AND VALUE1 like '%'+@PRC_NAME
				WHERE A.DOWNLOAD_DATE BETWEEN @Download_Date_Start AND @Download_Date_End
					AND A.START_DATE IS NOT NULL
				ORDER BY A.PKID DESC;
			END
		END
		ELSE IF (@Manual = '')
		BEGIN
			SELECT
				'' "Download Date",
				'' "Start Process Time",
				'' "End Process Time",
				'' "Process Time",
				'' "Current Counter",
				'' "Job Name",
				'' "Job Description",
				'' "Status"
		END
	END
           
END

GO
