USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_COMMONCODED]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_COMMONCODED]        
 -- Add the parameters for the stored procedure here        
    @CommonCode VARCHAR(50) ='' ,        
    @Value1 NVARCHAR(100) ='',        
    @Value2 NVARCHAR(100) ='',        
    @Value3 NVARCHAR(100) ='',        
    @Description NVARCHAR(1000) ='',        
    @ParentCommonCode CHAR(100) ='',        
    @ParentCommonCodeValue VARCHAR(100) ='',        
    @Sequence INT =0,        
    @CreatedBy VARCHAR(36) ='' ,        
    @CreatedHost VARCHAR(30) =''        
AS         
    BEGIN        
       
    -- Insert statements for procedure here        
        INSERT  INTO [dbo].[tblM_CommonCodeDetail]        
                ( [CommonCode] ,        
                  [Value1] ,        
                  [Value2] ,        
                  [Value3] ,        
                  [Description] ,        
                  [ParentCommonCode] ,        
                  [ParentCommonCodeValue] ,        
                  [Sequence] ,        
                  [CreatedBy] ,        
                  [CreatedDate] ,        
                  [CreatedHost],
				  IS_DELETE 
                )        
        VALUES  ( @CommonCode ,        
                  @Value1 ,        
                  @Value2 ,        
                  @Value3 ,        
                  @Description ,        
                  @ParentCommonCode ,        
                  @ParentCommonCodeValue ,        
                  @Sequence ,        
                  @CreatedBy ,        
                  getdate() ,        
                  @CreatedHost,
				  0
                )        
              
    END  
  
  
  
  

GO
