USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_MAA_ENR_DETAIL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_MAA_ENR_DETAIL] (
   @Period          DATE='1900-01-01',
   @ProdGroup       int=0,
   @BucketName		varchar(30)
   )
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT DISTINCT A.PREV_DATE "Previous Date",
		A.CURR_DATE "Current Date",
		A.PD_UNIQUE_ID "Customer Number",
		A.CUSTOMER_NAME "Customer Name",
		A.OUTSTANDING "Outstanding",
		B.SUB_BUCKET_GROUP "Bucket From",
		C.SUB_BUCKET_GROUP "Bucket To" 
	FROM IFRS_PD_MIGRATION_DETAIL A
	JOIN IFRS_IMPC_BUCKET_PARAM B
	ON A.BUCKET_GROUP = B.BUCKET_GROUP
	AND A.BUCKET_FROM = B.BUCKET_ID
	JOIN IFRS_IMPC_BUCKET_PARAM C
	ON A.BUCKET_GROUP = C.BUCKET_GROUP
	AND A.BUCKET_TO = C.BUCKET_ID
	JOIN IFRS_PD_TRANS_MATRIX_CONFIG D
	ON A.PD_RULE_ID = D.PKID
	AND A.PD_RULE_ID = @ProdGroup
	AND A.CURR_DATE <= @Period
	AND B.SUB_BUCKET_GROUP = @BucketName
	ORDER BY A.PD_UNIQUE_ID, A.CURR_DATE;
END

GO
