USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_TRANS_MATRIX]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPS_PD_TRANS_MATRIX]
as
begin
	Select PKID, TM_RULE_NAME from IFRS_PD_TRANS_MATRIX_CONFIG
end

GO
