USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_MACROECONOMIC]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_MACROECONOMIC]    
 @PKID int    
AS    
BEGIN    
	
	DELETE FROM IFRS_MACRO_ECONOMIC_MODEL WHERE PKID = @PKID    

END 

GO
