USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDEFACUPLOADHIST]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERRIDEFACUPLOADHIST]
(      
	@UPLOADID INT
)      
AS      
BEGIN

	SELECT DISTINCT FACILITY_NUMBER,
		EFFECTIVEDATE, 
		EIR_PERCENT,
		OUTSTANDING,
		EIR_AMOUNT,
		COLLATERAL
	FROM TBLT_PAYMENTEXPECTEDH_HIST
	WHERE UPLOADID = @UPLOADID
		AND DCFSTATUS IN ('A', 'R')
	ORDER BY EFFECTIVEDATE;
   
END;



GO
