USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ADJ_DR_AVG_LIGHT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ADJ_DR_AVG_LIGHT](@PKID BIGINT=0)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE	@V_Query   VARCHAR(MAX);
	DECLARE @V_ColumnName VARCHAR(MAX);

	SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + SUB_BUCKET_GROUP
	FROM TMP_IFRS_LIGHT_PD_CONFIG A
	JOIN IFRS_PD_TRANS_MATRIX_CONFIG B
	ON A.PKID = @PKID
		AND A.TM_RULE_ID = B.PKID
	JOIN IFRS_IMPC_BUCKET_PARAM C
	ON B.BUCKET_GROUP = C.BUCKET_GROUP 
	JOIN VW_IFRS_MAX_BUCKET D
	ON C.BUCKET_GROUP = D.BUCKET_GROUP
		AND C.BUCKET_ID < D.MAX_BUCKET_ID
	GROUP BY SUB_BUCKET_GROUP
	ORDER BY SUB_BUCKET_GROUP;

	SET @V_Query = 'SELECT ''Average PD'' AS " ", * FROM 
					(
						SELECT D.SUB_BUCKET_GROUP, 
							A.ADJUSTED_DR_AVG 
						FROM TMP_IFRS_LIGHT_ADJ_DR_AVG A
						JOIN TMP_IFRS_LIGHT_PD_CONFIG B
						ON A.LIGHT_PD_MODEL_ID = B.PKID
							AND A.LIGHT_PD_MODEL_ID = ' + CAST(@PKID AS varchar(max)) + '
						JOIN IFRS_PD_TRANS_MATRIX_CONFIG C
						ON B.TM_RULE_ID = C.PKID
						JOIN IFRS_IMPC_BUCKET_PARAM D
						ON C.BUCKET_GROUP = D.BUCKET_GROUP
							AND A.BUCKET_ID = D.BUCKET_ID
					) TMP
					PIVOT
					(
						MAX(ADJUSTED_DR_AVG)
						FOR SUB_BUCKET_GROUP IN ('+ @V_ColumnName +')
					) PVT
					UNION ALL
					SELECT ''Log odds off Average PD'' AS " ", * FROM 
					(
						SELECT D.SUB_BUCKET_GROUP, 
							A.LOGODDS_ADJ_DR_AVG 
						FROM TMP_IFRS_LOGODDS_ADJ_DR_AVG A
						JOIN TMP_IFRS_LIGHT_PD_CONFIG B
						ON A.LIGHT_PD_MODEL_ID = B.PKID
							AND A.LIGHT_PD_MODEL_ID = ' + CAST(@PKID AS varchar(max)) + '
						JOIN IFRS_PD_TRANS_MATRIX_CONFIG C
						ON B.TM_RULE_ID = C.PKID
						JOIN IFRS_IMPC_BUCKET_PARAM D
						ON C.BUCKET_GROUP = D.BUCKET_GROUP
							AND A.BUCKET_ID = D.BUCKET_ID
					) TMP
					PIVOT
					(
						MAX(LOGODDS_ADJ_DR_AVG)
						FOR SUB_BUCKET_GROUP IN ('+ @V_ColumnName +')
					) PVT
				   ';

	exec (@V_Query);
END;

GO
