USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETDETAIL_SUBSEGMENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_GETDETAIL_SUBSEGMENT]
(
	@ID varchar(10)
)
as

BEGIN
	SELECT B.SUB_SEGMENT
	FROM IFRS_IAP_PARAM A
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID WHERE A.PKID = @ID
END

GO
