USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_REV_CUSTOMER_D_APPROVAL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_REV_CUSTOMER_D_APPROVAL](                          
 @MASTERID VARCHAR(100),          
 @DCFID BIGINT                        
)                          
AS                          
BEGIN                          
                        
 SELECT *              
 FROM IFRS_IMP_IA_MASTER_PEND            
 WHERE MASTERID = @MASTERID AND STATUS = 'PENDING_REVIEW' AND DCFID = @DCFID;          
        
 --insert into table TEMP          
 --make sure TEMP is empty      
 TRUNCATE TABLE TBLT_PAYMENTEXPECTED_TEMP      
 TRUNCATE TABLE TBLT_PAYMENTEXPECTEDH_TEMP      
      
 INSERT INTO TBLT_PAYMENTEXPECTED_TEMP(          
 DCFID,          
 TEMPID,          
 UPLOADID,          
 DOWNLOADDATE,          
 MASTERID,          
 CUSTOMER_NUMBER,          
 EFFECTIVE_DATE,          
 EFFECTIVE_DATE_FD,          
 EIR_PERCENT,          
 PRINCIPAL_PAYMENT,          
 NPV_MONTH,          
 NPV,          
 BEGINNING_BALANCE,          
 ENDING_BALANCE,          
 UNWINDING_AMOUNT,          
 CREATEDBY,          
 CREATEDDATE,          
 CREATEDHOST,          
 UPDATEDBY,          
 UPDATEDDATE,          
 UPDATEDHOST)          
 SELECT           
 DCFID,          
 TEMPID,          
 UPLOADID,          
 DOWNLOADDATE,          
 MASTERID,          
 CUSTOMER_NUMBER,          
 EFFECTIVE_DATE,          
 EFFECTIVE_DATE_FD,          
 EIR_PERCENT,          
 PRINCIPAL_PAYMENT,          
 NPV_MONTH,          
 NPV,          
 BEGINNING_BALANCE,          
 ENDING_BALANCE,          
 UNWINDING_AMOUNT,          
 CREATEDBY,          
 CREATEDDATE,          
 CREATEDHOST,          
 UPDATEDBY,          
 UPDATEDDATE,          
 UPDATEDHOST           
 FROM TBLT_PAYMENTEXPECTED_PENDING         
 WHERE MASTERID = @MASTERID AND DCFID = (SELECT MAX(DCFID) FROM TBLT_PAYMENTEXPECTED_PENDING WHERE MASTERID = @MASTERID)          
          
 INSERT INTO TBLT_PAYMENTEXPECTEDH_TEMP(          
 DCFID,          
 UPLOADID,          
 ROW_NUMBER,          
 CUSTOMER_NUMBER,          
 MASTERID,          
 FACILITY_NUMBER,          
 EFFECTIVE_DATE,          
 EIR_PERCENT,          
 PRINCIPAL,          
 INTEREST,          
 UNPAID_INTEREST,          
 COLLATERAL,          
 COLLATERAL_COST,          
 CREATEDBY,          
 CREATEDDATE,          
 CREATEDHOST,          
 UPDATEDBY,          
 UPDATEDDATE,          
 UPDATEDHOST)          
 SELECT           
 DCFID,          
 UPLOADID,          
 ROW_NUMBER,          
 CUSTOMER_NUMBER,          
 MASTERID,          
 FACILITY_NUMBER,          
 EFFECTIVE_DATE,          
 EIR_PERCENT,          
 PRINCIPAL,          
 INTEREST,          
 UNPAID_INTEREST,          
 COLLATERAL,          
 COLLATERAL_COST,          
 CREATEDBY,          
 CREATEDDATE,          
 CREATEDHOST,          
 UPDATEDBY,          
 UPDATEDDATE,          
 UPDATEDHOST          
 FROM TBLT_PAYMENTEXPECTEDH_PENDING         
 WHERE MASTERID = @MASTERID AND DCFID = (SELECT MAX(DCFID) FROM TBLT_PAYMENTEXPECTEDH_PENDING WHERE MASTERID = @MASTERID)      
     
 INSERT INTO IFRS_IMP_OVERRIDE_COLLATERAL_TEMP(          
 DCFID,          
 MASTERID,          
 INFORMATION,          
 COLLATERAL_TYPE,          
 MARKET_VALUE,          
 LIQUIDATED_VALUE,          
 REMARKS,          
 CREATEDBY,          
 CREATEDDATE,          
 CREATEDHOST,          
 UPDATEDBY,          
 UPDATEDDATE,          
 UPDATEDHOST)          
 SELECT           
 DCFID,          
 MASTERID,          
 INFORMATION,          
 COLLATERAL_TYPE,          
 MARKET_VALUE,          
 LIQUIDATED_VALUE,          
 REMARKS,          
 CREATEDBY,          
 CREATEDDATE,          
 CREATEDHOST,          
 UPDATEDBY,          
 UPDATEDDATE,          
 UPDATEDHOST          
 FROM IFRS_IMP_OVERRIDE_COLLATERAL_PEND         
 WHERE MASTERID = @MASTERID AND DCFID = (SELECT MAX(DCFID) FROM IFRS_IMP_OVERRIDE_COLLATERAL_PEND WHERE MASTERID = @MASTERID)        
              
END
GO
