USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UNPROCESSEDSPPI]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_UNPROCESSEDSPPI]  
AS  
BEGIN  
  
 --SELECT PKID,CLASSNAME AS SPPI_RSLT,  
  --CASE WHEN OVERRIDE_RSLT IS NULL OR OVERRIDE_RSLT = '' THEN SPPI_RSLT ELSE OVERRIDE_RSLT END AS OVERRIDE_RSLT  
 --FROM IFRS_AC_SPPI_HEADER   
 --WHERE   PKID not in  
   --(SELECT SPPI_CLASS FROM IFRS_AC_BM_HEADER)  
 --ORDER BY SPPI_RSLT
 
 SELECT PKID,CLASSNAME, CASE   
       WHEN OVERRIDE_FLG = 0 THEN SPPI_RSLT
	   WHEN OVERRIDE_FLG = '' THEN SPPI_RSLT  
       WHEN OVERRIDE_FLG = 1 THEN OVERRIDE_RSLT  
       END AS SPPI_RSLT ,
	   PRODUCT_CODE,
	   OVERRIDE_FLG 
 FROM IFRS_AC_SPPI_HEADER   
 WHERE ISNULL(IS_DELETE,0) = 0  
 AND 
 PKID not in(  
  (SELECT ISNULL(iif(VALUE = '',0,CAST(VALUE AS INT)),0) FROM dbo.STRING_SPLIT((     
   SELECT DISTINCT List_Output FROM    (      SELECT STUFF((SELECT ',' + CAST(SPPI_CLASS AS VARCHAR(MAX)) [text()] FROM IFRS_AC_BM_HEADER where IS_DELETE = 0    FOR XML PATH(''), TYPE)     .value('.','NVARCHAR(MAX)'),1,1,'') List_Output    FROM IFRS_AC_BM_HEADER  )
A  
  ), ',')))  
  AND PKID NOT IN(  
  (SELECT ISNULL(iif(VALUE = '',0,CAST(VALUE AS INT)),0) FROM dbo.STRING_SPLIT((     
   SELECT DISTINCT List_Output FROM    (      SELECT STUFF((SELECT ',' + CAST(SPPI_CLASS AS VARCHAR(MAX)) [text()] FROM IFRS_AC_BM_HEADER_PENDING WHERE STATUS='PENDING'      FOR XML PATH(''), TYPE)     .value('.','NVARCHAR(MAX)'),1,1,'') List_Output    FROM IFRS_AC_BM_HEADER_PENDING  WHERE STATUS='PENDING'     )A  
  ), ',')))
  AND PKID NOT IN (
  (SELECT ISNULL(iif(VALUE = '','',VALUE),'') FROM dbo.STRING_SPLIT((     
   SELECT DISTINCT List_Output FROM    (      SELECT STUFF((SELECT ',' + CAST(PKID_OLD AS VARCHAR(MAX)) [text()] FROM IFRS_AC_SPPI_HEADER_PENDING WHERE STATUS = 'PENDING' AND (ACTION = 'UPDATE' or ACTION = 'DELETE') FOR XML PATH(''), TYPE)     .value('.','NVARCHAR(MAX)'),1,1,'') List_Output    FROM IFRS_AC_SPPI_HEADER_PENDING)
A  
  ), ',')))
 ORDER BY CREATEDDATE DESC    
  
END


GO
