USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADLIABMONITORING]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADLIABMONITORING]
(
@Upload_From date = '01/01/2000'
,@Upload_To date = '01/01/2000'
)
AS
BEGIN

	SELECT
		A.PKID
		,A.[DOWNLOAD_DATE]
		,A.[DATA_SOURCE]
		,A.[ACCOUNT_NUMBER]
		,A.[PRD_CODE]
		,A.[TRX_CODE]
		,A.[TRX_REF_NUMBER]
		,A.[TRANSACTION_DATE]
		,A.[EFFECTIVE_DATE]
		,A.[START_DATE]
		,A.[END_DATE]
		,A.[POSTING_DATE]
		,A.[CURRENCY]
		,A.[AL_FLAG]
		,A.[DEBIT_CREDIT_FLAG]
		,TRY_CONVERT(FLOAT, A.[INITIAL_COST_AMOUNT]) AS TRANSACTION_AMOUNT
		,CONVERT(VARCHAR(20),A.CREATEDDATE,113) AS CREATEDDATE
		,(select fullname from tblM_User where CAST(PKID AS varchar(50)) = A.CreatedBy) as CREATEDBY
		,CONVERT(VARCHAR(20),A.UPDATEDDATE,113) AS UPDATEDDATE
		,(select fullname from tblM_User where CAST(PKID AS varchar(50)) = A.UpdatedBy) as UPDATEDBY
	FROM TBLU_TRANS_LIAB A
	WHERE CAST(A.CreatedDate AS DATE) between @Upload_From and @Upload_To
	order by A.TRANSACTION_DATE desc
	
END

GO
