USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_INSERTOVERRIDEACCOUNT_EDIT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_INSERTOVERRIDEACCOUNT_EDIT]   
(    
 @DCFID INT,    
 @CIF VARCHAR(50),    
 @Flag VARCHAR(1),  
 @Action VARCHAR(10) = '',  
 @CreatedBy VARCHAR(36),    
 @CreatedHost VARCHAR(30)    
)      
AS      
BEGIN      
   
 -- Delete from temp based on DCFID for multiple editing  
 DELETE FROM IFRS_IMP_OVERRIDE_DETAIL_TEMP  
 WHERE DCFID = @DCFID;  
  
    INSERT INTO IFRS_IMP_OVERRIDE_DETAIL_TEMP    
 (    
  DCFID,    
  DOWNLOAD_DATE,      
  CUSTOMER_NUMBER,      
  CUSTOMER_NAME,  
  FLAG_IMPAIRMENT,      
  CURRENCY,      
  OUTSTANDING,      
  BI_COLLECTABILITY,      
  DAY_PAST_DUE,      
  DCFSTATUS,   
  CREATEDBY,    
  CREATEDDATE,    
  CREATEDHOST    
 )      
 SELECT DCFID,    
  DOWNLOAD_DATE,       
  CUSTOMER_NUMBER,       
  CUSTOMER_NAME,  
  FLAG_IMPAIRMENT,       
  CURRENCY,       
  OUTSTANDING,       
  BI_COLLECTABILITY,       
  DAY_PAST_DUE,      
  'Need Approval',  
  CREATEDBY,    
  CREATEDDATE,    
  CREATEDHOST  
 FROM IFRS_IMP_OVERRIDE_DETAIL  
 WHERE DCFID = @DCFID;   
END;  
  
GO
