USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_DCFOVERRIDEFACILITYINIT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_DCFOVERRIDEFACILITYINIT]
(
	@DCFID BIGINT
)
AS
BEGIN
-- Change log 22 Jun 2018
-- By Julian Wesley
-- Bug Fixing for fetching EAD Amount from History table into Relative

	-- Clean up Temporary tables before inserting
	DELETE FROM IFRS_IMP_OVERRIDE_TEMP
	WHERE DCFID = @DCFID;

	DELETE IFRS_FL_SCENARIO_IA_D_TEMP
	FROM IFRS_FL_SCENARIO_IA_D_TEMP A
		JOIN IFRS_FL_SCENARIO_IA_H_TEMP B ON A.HEADERID = B.PKID
	WHERE DCFID = @DCFID;

	DELETE FROM IFRS_FL_SCENARIO_IA_H_TEMP
	WHERE DCFID = @DCFID;

	DECLARE @DCFSTATUS VARCHAR(1);
	SELECT @DCFSTATUS = DCFSTATUS FROM IFRS_IMP_OVERRIDE WHERE DCFID = @DCFID;

	DECLARE @HEADERID BIGINT;
	DECLARE @NEWHEADERID BIGINT;

	-- Store relative values from IFRS_IMP_OVERRIDE to get the latest values from daily or monthly data changes in IFRS_MASTER_ACCOUNT
	DECLARE @BI_COLLECT_IMPAIR INT, @CUSTOMER_NAME VARCHAR(100), @ORR_REPORTING INT, @CHECKLISTSTATUS VARCHAR(1), @OUTSTANDING NUMERIC(32, 6), @EAD_AMOUNT NUMERIC(32, 6)

	SELECT @BI_COLLECT_IMPAIR = BI_COLLECT_IMPAIR, 
		@CUSTOMER_NAME = CUSTOMER_NAME, 
		@ORR_REPORTING = ORR_REPORTING, 
		@CHECKLISTSTATUS = CHECKLISTSTATUS,
		@EAD_AMOUNT = EAD_AMOUNT,
		@OUTSTANDING = OUTSTANDING
	FROM IFRS_IMP_OVERRIDE
	WHERE DCFID = @DCFID

	-- Insert into Temporary tables
	IF @DCFSTATUS = 'A' OR @DCFSTATUS IS NULL
	BEGIN
		-- If Approved, get from IFRS_IMP_OVERRIDE
		INSERT INTO IFRS_IMP_OVERRIDE_TEMP
		(
			DCFID, 
			CHECKLISTID, 
			DOWNLOAD_DATE, 
			CUSTOMER_NUMBER,
			FACILITY_NUMBER,
			CUSTOMER_NAME,
			BI_COLLECT_IMPAIR,
			FLAG_IMPAIRMENT,
			METHOD,
			REMARK1,
			REMARK2,
			REMARK3,
			FILENAME,
			PATH,
			OUTSTANDING,
			EAD_AMOUNT, 
			CURRENCY,
			ORR_REPORTING,
			DCFSTATUS,
			CHECKLISTSTATUS,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST,
			UPDATEDBY,
			UPDATEDDATE,
			UPDATEDHOST
		)
		SELECT DCFID, 
			CHECKLISTID, 
			DOWNLOAD_DATE, 
			CUSTOMER_NUMBER,
			FACILITY_NUMBER,
			@CUSTOMER_NAME,
			@BI_COLLECT_IMPAIR,
			FLAG_IMPAIRMENT,
			METHOD,
			REMARK1,
			REMARK2,
			REMARK3,
			FILENAME,
			PATH,
			@OUTSTANDING,
			@EAD_AMOUNT, 
			CURRENCY,
			@ORR_REPORTING,
			DCFSTATUS,
			@CHECKLISTSTATUS,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST,
			UPDATEDBY,
			UPDATEDDATE,
			UPDATEDHOST
		FROM IFRS_IMP_OVERRIDE
		WHERE DCFID = @DCFID;

		SELECT @HEADERID = PKID FROM IFRS_FL_SCENARIO_IA_H WHERE DCFID = @DCFID;
		
		INSERT INTO IFRS_FL_SCENARIO_IA_H_TEMP
		(
			DCFID,
			DCFSCENARIORATE,
			SCENARIONO,
			PERIODNO,
			POS1,
			POS2,
			POS3,
			POS4,
			POS5,
			SCENARIONAME1,
			SCENARIONAME2,
			SCENARIONAME3,
			SCENARIONAME4,
			SCENARIONAME5,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		)
		SELECT DCFID,
			DCFSCENARIORATE,
			SCENARIONO,
			PERIODNO,
			POS1,
			POS2,
			POS3,
			POS4,
			POS5,
			SCENARIONAME1,
			SCENARIONAME2,
			SCENARIONAME3,
			SCENARIONAME4,
			SCENARIONAME5,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		FROM IFRS_FL_SCENARIO_IA_H
		WHERE PKID = @HEADERID;
	
		SELECT @NEWHEADERID = PKID FROM IFRS_FL_SCENARIO_IA_H_TEMP WHERE DCFID = @DCFID;

		INSERT INTO IFRS_FL_SCENARIO_IA_D_TEMP
		(
			HEADERID,
			PERIODSTART,
			PERIODEND,
			RR1,
			RR2,
			RR3,
			RR4,
			RR5,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		)
		SELECT @NEWHEADERID,
			PERIODSTART,
			PERIODEND,
			RR1,
			RR2,
			RR3,
			RR4,
			RR5,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		FROM IFRS_FL_SCENARIO_IA_D
		WHERE HEADERID = @HEADERID;
	END
	ELSE
	BEGIN
		-- If Rejected, get from IFRS_IMP_OVERRIDE_HISTORY
		DECLARE @PKID BIGINT;
		SELECT TOP 1 @PKID = PKID FROM IFRS_IMP_OVERRIDE_HISTORY WHERE DCFID = @DCFID AND DCFSTATUS = 'R' ORDER BY UPDATEDDATE DESC
		
		INSERT INTO IFRS_IMP_OVERRIDE_TEMP
		(
			DCFID, 
			CHECKLISTID, 
			DOWNLOAD_DATE, 
			CUSTOMER_NUMBER,
			FACILITY_NUMBER,
			CUSTOMER_NAME,
			BI_COLLECT_IMPAIR,
			FLAG_IMPAIRMENT,
			METHOD,
			REMARK1,
			REMARK2,
			REMARK3,
			FILENAME,
			PATH,
			OUTSTANDING,
			EAD_AMOUNT, 
			CURRENCY,
			ORR_REPORTING,
			DCFSTATUS,
			CHECKLISTSTATUS,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST,
			UPDATEDBY,
			UPDATEDDATE,
			UPDATEDHOST
		)
		SELECT DCFID, 
			CHECKLISTID, 
			DOWNLOAD_DATE, 
			CUSTOMER_NUMBER,
			FACILITY_NUMBER,
			@CUSTOMER_NAME,
			@BI_COLLECT_IMPAIR,
			FLAG_IMPAIRMENT,
			METHOD,
			REMARK1,
			REMARK2,
			REMARK3,
			FILENAME,
			PATH,
			@OUTSTANDING,
			@EAD_AMOUNT, 
			CURRENCY,
			@ORR_REPORTING,
			DCFSTATUS,
			@CHECKLISTSTATUS,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST,
			UPDATEDBY,
			UPDATEDDATE,
			UPDATEDHOST
		FROM IFRS_IMP_OVERRIDE_HISTORY
		WHERE PKID = @PKID;

		SELECT @HEADERID = MAX(PKID) FROM IFRS_FL_SCENARIO_IA_H_PEND WHERE DCFID = @DCFID;

		INSERT INTO IFRS_FL_SCENARIO_IA_H_TEMP
		(
			DCFID,
			DCFSCENARIORATE,
			SCENARIONO,
			PERIODNO,
			POS1,
			POS2,
			POS3,
			POS4,
			POS5,
			SCENARIONAME1,
			SCENARIONAME2,
			SCENARIONAME3,
			SCENARIONAME4,
			SCENARIONAME5,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		)
		SELECT DCFID,
			DCFSCENARIORATE,
			SCENARIONO,
			PERIODNO,
			POS1,
			POS2,
			POS3,
			POS4,
			POS5,
			SCENARIONAME1,
			SCENARIONAME2,
			SCENARIONAME3,
			SCENARIONAME4,
			SCENARIONAME5,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		FROM IFRS_FL_SCENARIO_IA_H_PEND
		WHERE PKID = @HEADERID;

		SELECT @NEWHEADERID = PKID FROM IFRS_FL_SCENARIO_IA_H_TEMP WHERE DCFID = @DCFID;

		INSERT INTO IFRS_FL_SCENARIO_IA_D_TEMP
		(
			HEADERID,
			PERIODSTART,
			PERIODEND,
			RR1,
			RR2,
			RR3,
			RR4,
			RR5,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		)
		SELECT @NEWHEADERID,
			PERIODSTART,
			PERIODEND,
			RR1,
			RR2,
			RR3,
			RR4,
			RR5,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST
		FROM IFRS_FL_SCENARIO_IA_D_PEND
		WHERE HEADERID = @HEADERID;
	END;

	-- Get UPLOADID from DCFID
	DECLARE @UPLOADID BIGINT;
	SELECT @UPLOADID = MAX(UPLOADID) FROM TBLU_DCF_INFO WHERE DCFID = @DCFID;

	-- Return all data for required fields
	SELECT A.DCFID,
		A.FLAG_IMPAIRMENT,
		A.METHOD,
		A.REMARK1,
		A.REMARK2,
		A.REMARK3,
		A.FILENAME,
		A.PATH,
		B.DCFSCENARIORATE,
		B.SCENARIONO,
		B.PERIODNO,
		B.POS1,
		B.POS2,
		B.POS3,
		B.POS4,
		B.POS5,
		B.SCENARIONAME1,
		B.SCENARIONAME2,
		B.SCENARIONAME3,
		B.SCENARIONAME4,
		B.SCENARIONAME5,
		@UPLOADID AS UPLOADID
	FROM IFRS_IMP_OVERRIDE_TEMP A
		JOIN IFRS_FL_SCENARIO_IA_H_TEMP B ON A.DCFID = B.DCFID
	WHERE A.DCFID = @DCFID;
		
END;

GO
