USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_SCREENGROUPH]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_SCREENGROUPH]    
	@PKID BIGINT     
AS    
	DELETE FROM tblM_ScreenGroupDetail WHERE ScreenGroupID = @PKID    
	DELETE FROM tblM_ScreenGroupHeader WHERE PKID = @PKID

GO
