USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETPROCESSJOB]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETPROCESSJOB] 
(
	@PeriodDate datetime, 
	@Module varchar(50)
)
AS 
BEGIN

    SET NOCOUNT ON;

    SELECT Flag = 0, 
		a.PKID, 
		a.CommonTableName, 
		a.Information,
		a.JobNo,
		'' AS remarks,
		@PeriodDate AS PeriodDate,
        ISNULL((
                SELECT TOP 1 status
                FROM dbo.tblT_JobHistory AS c (NOLOCK)
                WHERE a.JobNo = c.JobNo
					AND DATEDIFF(day, PeriodDate, @PeriodDate) = 0
                ORDER BY UpdatedDate DESC), 'Not Run') AS Status, 
        a.StepSequence
    FROM dbo.tblM_CommonTable AS a (NOLOCK)
		JOIN dbo.tblM_Job AS c (NOLOCK) ON c.JobNo = a.JobNo
		JOIN dbo.tblM_Module AS b (NOLOCK) ON c.ModuleID = b.ModuleID
	WHERE c.ModuleID = @Module
    ORDER BY a.StepSequence;

END

GO
