USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_BMA_DETAIL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_BMA_DETAIL]                            
(                            
 @BMID bigint = 0,  
 @QUESTIONID varchar(20) = '',  
 @VALUE varchar(20) = '',  
 @REMARK varchar(4000) = '',
 @SUPPORTING_DOC varchar(1000) = '',  
 @PKID_HEADER_OLD bigint = 0,  
 @PKID_DETAIL_OLD bigint = 0,  
 @CREATEDBY varchar(36) = '',               
 @CREATEDHOST varchar(30) = ''               
)              
AS    
BEGIN
DECLARE @BMIDHIST bigint = 0

--GET BMID HIST  
 SELECT @BMIDHIST = MAX(PKID) FROM IFRS_AC_BM_HEADER_HIST WHERE PKID_HEADER = @BMID
  
 --INSERT INTO BMA DETAIL  
 INSERT INTO IFRS_AC_BM_DETAIL([BMID],[QUESTIONID],[VALUE],[REMARK],[SUPPORTING_DOC],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])  
      SELECT @BMID,@QUESTIONID,@VALUE,@REMARK,@SUPPORTING_DOC,@CREATEDBY,GETDATE(),@CREATEDHOST  
  
 --INSERT INTO BMA DETAIL HISTORY  
 INSERT INTO IFRS_AC_BM_DETAIL_HIST([BMID],[QUESTIONID],[VALUE],[REMARK],[SUPPORTING_DOC],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])  
      SELECT @BMIDHIST,@QUESTIONID,@VALUE,@REMARK,@SUPPORTING_DOC,@CREATEDBY,GETDATE(),@CREATEDHOST  
   
 --GENERATE RESULT  
 EXEC SP_IFRS_AC_GENERATE_RESULT @BMID  
  
END;  

GO
