USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCREENDBYGROUPSEARCH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SCREENDBYGROUPSEARCH] (
   @ScreenGroup INT)
AS
BEGIN
   --SET @search = '%' + @search + '%'

   
    SELECT *
    FROM (
        SELECT ' ' AS Title,' ' AS Url, 0 AS SEQUENCE, ' ' AS ParentID
        UNION
        SELECT SCREEN.Title, SCREEN.Url, SEQUENCE, ParentID
        FROM tblM_Screen SCREEN
        INNER JOIN tblM_ScreenGroupDetail DETAIL
        ON screen.screenid = detail.ScreenID AND SCREEN.IsMenu=1
        WHERE detail.ScreenGroupID = @ScreenGroup
        AND CanView = 1
    ) A
    ORDER BY A.Title, A.SEQUENCE ;

END;

GO
