USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ME_TABLE_SELECTION]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_ME_TABLE_SELECTION]
as
begin
	select TABLE_NAME from INFORMATION_SCHEMA.TABLES where TABLE_NAME like 'IFRS_PD%'
end

GO
