USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PROCESSJOBMONITORINGDAILY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_PROCESSJOBMONITORINGDAILY]
(
	@periodDate AS DATETIME, 
	@intPageSize AS INT, 
	@step_name AS VARCHAR(30) = '', 
	@step_no AS VARCHAR(10) = '', 
	@Branch AS VARCHAR(20) = '', 
	@Status AS VARCHAR(10) = '', 
	@LastUpdate AS VARCHAR(20) = '', 
	@CreateBy AS VARCHAR(50) = '', 
	@ModuleID as varchar(50) = NULL
)
AS
BEGIN

	CREATE TABLE [#temp_job_monitor] 
	(          
		step_no INT NULL, 
		period_date DATETIME NULL, 
		period VARCHAR(50) NULL, 
		status VARCHAR(50) NULL, 
		lastupdateddate DATETIME NULL, 
		msg VARCHAR(MAX) NULL, 
		branch VARCHAR(7) NULL, 
		branchname VARCHAR(50) NULL, 
		id INT NULL, 
		jobid CHAR(36) NULL, 
		userid CHAR(36) NULL, 
		createddate DATETIME, 
		PKID BIGINT
	);
    
	TRUNCATE TABLE #temp_job_monitor;
    
	INSERT INTO #temp_job_monitor
	(
		PKID, 
		step_no, 
		period_date, 
		period, 
		status, 
		lastupdateddate, 
		msg, 
		branch, 
		branchname, 
		ID, 
		jobid, 
		userid, 
		createddate
	)
	SELECT TOP (@intPageSize) a.PKID, 
		a.JobNo, 
		a.PeriodDate, 
		a.period, 
		a.status, 
		a.UpdatedDate, 
		a.msg, 
		a.Branch, 
		a.BranchName, 
		a.PKID, 
		a.jobid, 
		CASE WHEN isnull(a.CreatedBy, '') = ''
			THEN '31DDB41D-26D3-48E6-987D-160E73303DA6'          
			ELSE a.CreatedBy          
		END, 
		a.createddate 
	FROM tblT_JobHistory a (NOLOCK)
		LEFT JOIN tblM_Job b (NOLOCK) ON a.JobNo = b.JobNo
	WHERE DATEDIFF(DAY, a.perioddate, @periodDate) = 0
		AND ISNULL(b.ModuleID, '') = CASE WHEN @ModuleID IS NULL THEN ISNULL(b.ModuleID, '') ELSE @ModuleID END
	ORDER BY a.UpdatedDate DESC;

	DECLARE @tbResult TABLE
	(
		datasource_key VARCHAR(8), 
		exception_flag VARCHAR(1)
	);
      
	--INSERT INTO @tbResult EXEC uspS_ExceptionStatus @periodDate                              
	SELECT TOP (@intPageSize) #temp_job_monitor.*, 
		j.JobName AS step_name, 
		ISNULL(u.userName, 'AGENT') AS username, 
		CASE WHEN LEN(ISNULL(#temp_job_monitor.msg, '')) = 0
			THEN 'N'
			ELSE 'Y'
		END AS msgavl, 
		table_Log.Start ProcessStart, 
		table_Log.Finish ProcessFinish
	FROM #temp_job_monitor
		INNER JOIN tblM_Job j ON #temp_job_monitor.step_no = j.JobNo 
		LEFT JOIN tblM_User u ON #temp_job_monitor.userid = cast(u.PKID as varchar(100))
		LEFT JOIN tblt_Applicationlog table_Log on table_Log.jobid=#temp_Job_Monitor.jobid
	ORDER BY #temp_job_monitor.lastUpdatedDate DESC;
    
	DROP TABLE #temp_job_monitor;
    
END;

GO
