USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspU_PDLGDEffectiveDate]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspU_PDLGDEffectiveDate]  
(
	@PKID int,
	 @PERIOD DATETIME,  
	 @LGD_EFF_DATE DATETIME,
	 @PD_EFF_DATE DATETIME,  
	 @UpdatedBy varchar(36)='',         
	 @UpdatedHost varchar(30)=''
 )
AS  
BEGIN  

	 UPDATE [dbo].IFRS_ECL_EFFECTIVE_DATE_CTBC
	 SET [PERIOD] = EOMONTH(@PERIOD),
		PD_EFF_DATE = EOMONTH(@PD_EFF_DATE),
		LGD_EFF_DATE = EOMONTH(@LGD_EFF_DATE),
		UpdatedBy = @UpdatedBy,
		UpdatedHost = @UpdatedHost,
		UpdatedDate = GETDATE() 
	 WHERE PKID = @PKID
 END;

GO
