USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCCFMODEL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPCCFMODEL]    
AS        
BEGIN      
      
 SELECT PKID AS CCF_RULE_ID, CCF_RULE_NAME FROM IFRS_CCF_RULES_CONFIG WHERE IS_DELETE = 0 ORDER BY CCF_RULE_NAME    
      
END;   
GO
