USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_CHECKING_IFRS_PRC_DATE]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CHECKING_IFRS_PRC_DATE] AS

BEGIN

DECLARE
@CHECK1 DATETIME,
@CHECK2 DATETIME,
@CHECK3 DATETIME

SELECT @CHECK1 = CURRDATE FROM IFRS_LI_PRC_DATE_AMORT (NOLOCK)
SELECT @CHECK2 = CURRDATE FROM IFRS_PRC_DATE (NOLOCK) 
SELECT @CHECK3 = CURRDATE FROM IFRS_PRC_DATE_AMORT (NOLOCK)

IF @CHECK1 <> @CHECK2 AND @CHECK1 <> @CHECK3
		BEGIN
			RAISERROR ('VALIDATION ERROR, IFRS_PRC_DATE NOT MATCH WITH IFRS_LI_PRC_DATE_AMORT', 16, 1)
			RETURN
		END
END


GO
