USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRDDESCBYPRDCODE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPPRDDESCBYPRDCODE](
@PRD_CODE varchar(20)=''
,@PRD_TYPE varchar(50)='')
as 
-- proc untuk get list lookup table destination list      
begin      
	
	select distinct PRD_DESC as "PRODUCT_DESCRIPTION", 
		PRD_DESC AS "Product Description"
	from IFRS_MASTER_PRODUCT_PARAM
	where PRD_CODE = @PRD_CODE
		and PRD_TYPE = @PRD_TYPE

end


GO
