USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMJFPORTION]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_PARAMJFPORTION]                   
(                    
  @PKID bigint  
 ,@PRD_GROUP VARCHAR(100)=''  
 ,@PRD_TYPE VARCHAR(50)=''      
 ,@PRODUCT_CODE varchar(20)=''  
 ,@PRINCIPAL_PORTION VARCHAR(100)= ''  
 ,@INTEREST_PORTION VARCHAR(100)=''  
 ,@TRANSACTION_FEE_PORTION VARCHAR(100)=''
 ,@TRANSACTION_COST_PORTION VARCHAR(100)=''  
 ,@UpdatedBy varchar(36) = ''  
 ,@UpdatedHost varchar(30) = ''  
)  
AS  
BEGIN  
  
 UPDATE IFRS_JF_PORTION_PARAM            
 SET   
  PRINCIPAL_PORTION = CAST(REPLACE(@PRINCIPAL_PORTION,',','.') AS DECIMAL(32,6))  
  ,INTEREST_PORTION = CAST(REPLACE(@INTEREST_PORTION,',','.') AS DECIMAL(32,6))  
  ,TRANSACTION_FEE_PORTION = CAST(REPLACE(@TRANSACTION_FEE_PORTION,',','.') AS DECIMAL(32,6))
  ,TRANSACTION_COST_PORTION = CAST(REPLACE(@TRANSACTION_COST_PORTION,',','.') AS DECIMAL(32,6))  
  ,[UPDATEDBY] = @UpdatedBy                    
  ,[UPDATEDDATE] = GETDATE()                    
  ,[UPDATEDHOST] = @UpdatedHost                    
 WHERE PKID = @PKID   
   
 --exec SP_IFRS_DROPDOWNLIST                
                
END
  

  
GO
