USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_PAYM_CORE_PROC_NOP]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROCEDURE [dbo].[SP_IFRS_LI_PAYM_CORE_PROC_NOP]    
AS    
DECLARE @V_CURRDATE DATE    
 ,@V_PREVDATE DATE    
 ,@VCNT INT    
 ,@VLOOP2 INT    
 ,@VCNT2 INT    
 ,@PARAM_CUT_INT_1ST_PAYMENT INT    
 ,@PARAM_CALC_TO_LASTPAYMENT INT    
 ,@V_PARAM_CALC_TO_LASTPAYMENT INT    
 ,@V_PARAM_CUT_INT_1ST_PAYMENT INT    
    
BEGIN    
 -- BYPASS SP_IFRS_LI_PAYM_CORE_PROCESS USE THIS SP      
 SELECT @V_CURRDATE = MAX(CURRDATE)    
  ,@V_PREVDATE = MAX(PREVDATE)    
 FROM IFRS_LI_PRC_DATE_AMORT    
    
 SELECT @V_PARAM_CALC_TO_LASTPAYMENT = CASE     
   WHEN COMMONUSAGE = 'Y'    
    THEN 1    
   ELSE 0    
   END    
 FROM TBLM_COMMONCODEHEADER    
 WHERE COMMONCODE = 'SCM005' --CALC_FROM_LASTPAYMDATE'    
    
 SELECT @V_PARAM_CUT_INT_1ST_PAYMENT = CASE     
   WHEN COMMONUSAGE = 'Y'    
    THEN 1    
   ELSE 0    
   END    
 FROM TBLM_COMMONCODEHEADER    
 WHERE COMMONCODE = 'SCM006'     
    
 -- PRORATE INT AMOUNT FROM PAYM SCHD CORE SO IT MATCH WITH GOALSEEK WHICH USING I_DAYS      
 -- PARAM_CUT_INT_1ST_PAYMENT := 0 ==> DISABLE INTEREST  : 1==> ENABLE INTEREST      
 SET @PARAM_CUT_INT_1ST_PAYMENT = @V_PARAM_CUT_INT_1ST_PAYMENT    
 -- CALC ECF BACK TO LAST PAYMENT DATE      
 -- PARAM_CALC_TO_LASTPAYMENT := 0 ==> DISABLE CALC TO LAST PAYMENT DATE  : 1==> ENABLE CALC TO LAST PAYMENT DATE      
 SET @PARAM_CALC_TO_LASTPAYMENT = @V_PARAM_CALC_TO_LASTPAYMENT    
    
 --CALC_FROM_LASTPAYMDATE      
 --PARAM_CUT_INT      
 INSERT INTO IFRS_LI_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS    
  ,PROCNAME    
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'START'    
  ,'SP_IFRS_LI_PAYM_CORE_PROCESS'    
  ,''    
  )    
    
 UPDATE IFRS_LI_PAYM_CORE    
 SET EIR1 = 12    
  ,EIR2 = 12.1    
    
 INSERT INTO IFRS_LI_ACCT_EIR_PAYM (    
  MASTERID    
  ,DOWNLOAD_DATE    
  ,N_LOAN_AMT    
  ,N_INT_RATE    
  ,STARTAMORTDATE    
  ,ENDAMORTDATE    
  ,GRACEDATE    
  ,ISGRACE    
  ,PREV_PMT_DATE    
  ,PMT_DATE    
  ,I_DAYS    
  ,COUNTER    
  ,N_OSPRN_PREV    
  ,N_INSTALLMENT    
  ,N_PRN_PAYMENT    
  ,N_INT_PAYMENT    
  ,N_INT_PAYMENT_ORG    
  ,N_OSPRN    
  ,DISB_PERCENTAGE    
  ,DISB_AMOUNT    
  ,PLAFOND    
  ,PERIOD    
  ,INTCALCCODE    
  ,PAYMENTCODE    
  ,PAYMENTTERM    
  )    
 /*  BCA DISABLE BPI ,SPECIAL_FLAG --- BPI FLAG ONLY CTBC */    
 SELECT A.MASTERID    
  ,@V_CURRDATE AS DOWNLOAD_DATE    
  ,MAX(A.OS_PRN_PREV) OVER (PARTITION BY A.MASTERID)    
  ,    
  --B.INTEREST_RATE, REMARKS FOR MULTITIER 20160428      
  A.INT_RATE    
  ,--FOR MULTITIER --20160428      
  @V_CURRDATE AS STARTAMORTDATE    
  ,MAX(A.PMT_DATE) OVER (PARTITION BY A.MASTERID)    
  ,ISNULL(A.GRACE_DATE, @V_CURRDATE) AS GRACEDATE    
  ,CASE     
   WHEN A.GRACE_DATE IS NOT NULL    
    THEN 'Y'    
   ELSE 'N'    
   END AS ISGRACE    
  ,A.PREV_PMT_DATE    
  ,A.PMT_DATE    
  ,A.I_DAYS    
  ,A.COUNTER    
  ,A.OS_PRN_PREV    
  ,(A.PRN_AMT + A.INT_AMT) AS INSTALLMENT    
  ,A.PRN_AMT    
  ,A.INT_AMT    
  ,A.INT_AMT    
  ,A.OS_PRN    
  ,A.DISB_PERCENTAGE    
  ,A.DISB_AMOUNT    
  ,A.PLAFOND    
  ,MAX(A.COUNTER) OVER (PARTITION BY A.MASTERID)    
  ,ICC AS INTCALCCODE    
  ,'-' PAYMENTCODE    
  ,'-' PAYMENTTERM    
 /*  BCA DISABLE BPI ,A.SPECIAL_FLAG --- BPI FLAG ONLY CTBC */    
 FROM IFRS_LI_PAYM_CORE A    
 LEFT JOIN IFRS_LI_IMA_AMORT_CURR B ON B.MASTERID = A.MASTERID    
    
 INSERT INTO IFRS_LI_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS    
  ,PROCNAME    
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'DEBUG'    
  ,'SP_IFRS_LI_PAYM_CORE_PROCESS'    
  ,'INSERT TO EIR PAYM'    
  )    
    
     
 INSERT INTO IFRS_LI_AMORT_LOG (    
  DOWNLOAD_DATE    
  ,DTM    
  ,OPS    
  ,PROCNAME    
  ,REMARK    
  )    
 VALUES (    
  @V_CURRDATE    
  ,CURRENT_TIMESTAMP    
  ,'END'    
  ,'SP_IFRS_LI_PAYM_CORE_PROCESS'    
  ,''    
  )    
END 

GO
