USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_ECLCorpResultSummary]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_ECLCorpResultSummary]              
(              
 @Download_Date datetime='01/01/2000',            
 @ProdGroup varchar(1000)='',         
 @DataSource varchar(50)=''     
)    
AS    
  
BEGIN          
      
 DECLARE @MAPCODE VARCHAR(2000)    
 SET @MAPCODE = '''' + REPLACE(@ProdGroup,',',''',''') + ''''    
    
  --ROW_NUMBER() OVER (ORDER BY PRODUCT_TYPE, STAGE, GROUP_REPORTING, PD_METHOD, PD_SEGMENT,  
  --  LGD_METHOD, LGD_SEGMENT, CUSTOMER_TYPE)  
  
 DECLARE @QUERY VARCHAR(5000)    
 SET @QUERY = '    
 SELECT ROW_NUMBER() OVER (ORDER BY PRODUCT_TYPE, STAGE, GROUP_REPORTING,PD_METHOD,PD_MODEL,LGD_METHOD,LGD_MODEL,CUSTOMER_TYPE) as PKID,  
  TBL.*  
 FROM  
 (  
  select   
  A.PRODUCT_TYPE,   
  A.PRODUCT_GROUP,   
  A.INITIAL_STAGE,  
  A.STAGE,   
  A.GROUP_REPORTING,   
  A.PD_METHOD,   
  A.PD_SEGMENT,  
  A.LGD_METHOD,   
  A.LGD_SEGMENT,   
  A.CUSTOMER_TYPE,   
  A.PD_RULE_ID,   
  A.LGD_RULE_ID,   
  B.LIGHT_PD_MODEL_NAME as PD_MODEL,  
  C.LGD_RULE_NAME as LGD_MODEL,  
  COUNT(A.ACCOUNT_NUMBER) as NOA,  
  SUM(ISNULL(EAD_AMOUNT,0) * ISNULL(EXCHANGE_RATE,0)) as LOCAL_EAD,  
  SUM(ISNULL(ECL_AMOUNT,0) * ISNULL(EXCHANGE_RATE,0)) as LOCAL_ECL,  
  SUM((ISNULL(A.ECL_AMOUNT,0) - (CASE WHEN ISNULL(A.CA_UNWINDING_AMOUNT, 0)  < 0 THEN 0   
  ELSE ISNULL(A.CA_UNWINDING_AMOUNT, 0) END +  
  CASE WHEN ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0)  < 0 THEN 0   
  ELSE ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0) END))  * A.EXCHANGE_RATE) as ECL_AMOUNT_NET  
  from IFRS_MASTER_ACCOUNT_MONTHLY A  
  LEFT JOIN IFRS_LIGHT_PD_CONFIG B ON A.PD_RULE_ID = B.PKID  
  LEFT JOIN IFRS_LGD_RULES_CONFIG_9 C ON A.LGD_RULE_ID = C.PKID  
  where A.SEGMENT <> ''RETAIL''  
  AND A.IMPAIRED_FLAG = ''C''  
  AND A.ACCOUNT_STATUS=''A''  
  AND A.DATA_SOURCE = ''' + @DataSource +   
  ''' AND A.PRODUCT_GROUP IN (' + @MAPCODE + ')  
  and A.DOWNLOAD_DATE = ''' + convert(varchar(10),@Download_Date,101) + '''  
  GROUP BY PRODUCT_TYPE, INITIAL_STAGE, STAGE, PRODUCT_GROUP, GROUP_REPORTING, A.PD_METHOD, A.PD_SEGMENT,  
   A.LGD_METHOD, A.LGD_SEGMENT, CUSTOMER_TYPE, PD_RULE_ID, LGD_RULE_ID, LIGHT_PD_MODEL_NAME, LGD_RULE_NAME   
 ) TBL  
 '    
    
 exec (@QUERY)    
     
END  
GO
