USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MECORRELATIONVAR_CHOOSEN]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MECORRELATIONVAR_CHOOSEN](    
@MODEL_ID bigint      
,@IS_SIMULATION bit)    
AS      
BEGIN      

	IF (@IS_SIMULATION = 1)
	BEGIN
		SELECT    
			LOOKUPINITIAL,
			VARIABLENAME,
			PROBT    
		FROM TMP_IFRS_1MEVLM_RESULT_DTL    
		WHERE MODEL_ID = @MODEL_ID    
			AND VARIABLE_SELECTION = 1
	END
	ELSE
	BEGIN
		SELECT    
			LOOKUPINITIAL,
			VARIABLENAME,
			PROBT    
		FROM IFRS_1MEVLM_RESULT_DTL    
		WHERE MODEL_ID = @MODEL_ID    
			AND VARIABLE_SELECTION = 1
	END
	   
END 
GO
