USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETDATASELISTBOXNEW]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_GETDATASELISTBOXNEW]          
(          
  @TABLE_NAME varchar(30) = '',            
  @COLUMN_NAME varchar(30) = ''  
)            
  
AS  
            
BEGIN  

/*SELECT VALUE CODE FROM TBLM_DROPDOWNLIST
WHERE TABLE_NAME = @TABLE_NAME
	AND COLUMN_NAME = @COLUMN_NAME*/
  
DECLARE @V_QUERY VARCHAR(MAX) = '',  
   @TABLE_NAME2 VARCHAR(100) = '',  
   @COLUMN_CODE VARCHAR(100) = '',  
   @COLUMN_DESC VARCHAR(100) = '',
   @V_CONDITION VARCHAR(MAX) = ''  

/*  
IF EXISTS (SELECT TOP 1 1  
FROM TBLM_COMMONCODEDETAIL A  
INNER JOIN TBLM_COMMONCODEDETAIL B ON B.COMMONCODE = A.VALUE3 AND B.PARENTCOMMONCODEVALUE = A.PARENTCOMMONCODEVALUE AND B.VALUE1 = A.VALUE1
INNER JOIN INFORMATION_SCHEMA.TABLES C ON C.TABLE_NAME = B.VALUE2
INNER JOIN INFORMATION_SCHEMA.COLUMNS D ON D.TABLE_NAME = C.TABLE_NAME AND D.COLUMN_NAME = B.VALUE3
INNER JOIN INFORMATION_SCHEMA.COLUMNS E ON E.TABLE_NAME = C.TABLE_NAME AND E.COLUMN_NAME = B.DESCRIPTION
WHERE A.COMMONCODE = 'B31' AND A.PARENTCOMMONCODEVALUE =@TABLE_NAME AND A.VALUE1 = @COLUMN_NAME)  
*/
SELECT @TABLE_NAME2 = TABLE_NAME, @COLUMN_CODE = COLUMN_CODE, @COLUMN_DESC = COLUMN_DESC
FROM   
(SELECT TOP 1 RTRIM(LTRIM(B.VALUE2)) AS TABLE_NAME,RTRIM(LTRIM(B.VALUE3)) AS COLUMN_CODE ,RTRIM(LTRIM(B.DESCRIPTION)) COLUMN_DESC
FROM TBLM_COMMONCODEDETAIL A  
INNER JOIN TBLM_COMMONCODEDETAIL B ON B.COMMONCODE = A.VALUE3 AND B.PARENTCOMMONCODEVALUE = A.PARENTCOMMONCODEVALUE AND B.VALUE1 = A.VALUE1
INNER JOIN INFORMATION_SCHEMA.TABLES C ON C.TABLE_NAME = B.VALUE2
INNER JOIN INFORMATION_SCHEMA.COLUMNS D ON D.TABLE_NAME = C.TABLE_NAME AND D.COLUMN_NAME = B.VALUE3
INNER JOIN INFORMATION_SCHEMA.COLUMNS E ON E.TABLE_NAME = C.TABLE_NAME AND E.COLUMN_NAME = B.DESCRIPTION
WHERE A.COMMONCODE = 'B31'
	AND A.PARENTCOMMONCODEVALUE = @TABLE_NAME 
	AND A.VALUE1 = @COLUMN_NAME
	AND ISNULL(B.IS_DELETE, 0) = 0) A  

IF @@ROWCOUNT > 0

BEGIN  

/*  
SELECT @TABLE_NAME2 = TABLE_NAME  
FROM   
(SELECT TOP 1 RTRIM(LTRIM(B.VALUE2)) AS TABLE_NAME,RTRIM(LTRIM(B.VALUE3)) AS COLUMN_CODE ,RTRIM(LTRIM(B.DESCRIPTION)) COLUMN_DESC
FROM TBLM_COMMONCODEDETAIL A  
INNER JOIN TBLM_COMMONCODEDETAIL B ON B.COMMONCODE = A.VALUE3 AND B.PARENTCOMMONCODEVALUE = A.PARENTCOMMONCODEVALUE AND B.VALUE1 = A.VALUE1 
WHERE A.COMMONCODE = 'B31' AND A.PARENTCOMMONCODEVALUE =@TABLE_NAME AND A.VALUE1 = @COLUMN_NAME) A  
  
  
SET @V_CONDITION = CASE WHEN @TABLE_NAME2 ='IFRS_MASTER_PRODUCT_PARAM' AND @TABLE_NAME = 'IFRS_MASTER_ACOUNT' THEN 'AND INST_CLS_VALUE = ''A'''  
                        WHEN @TABLE_NAME2 ='IFRS_MASTER_PRODUCT_PARAM' AND @TABLE_NAME = 'IFRS_LI_MASTER_ACCOUNT' THEN 'AND INST_CLS_VALUE = ''L'''  
      ELSE ' ' END  
*/  
SET @V_CONDITION = CASE WHEN @TABLE_NAME2 = 'IFRS_MSTR_SEGMENT_RULES_HEADER' THEN ' AND SEGMENT_TYPE = ''PORTFOLIO_SEGMENT'' '   
                        ELSE ' ' END  
/*  
SET @COLUMN_NAME2 = CASE WHEN @TABLE_NAME2 = 'IFRS_MASTER_PRODUCT_PARAM' AND @COLUMN_NAME = 'PRODUCT_CODE' THEN 'PRD_CODE'  
                         WHEN @TABLE_NAME2 = 'IFRS_MASTER_PRODUCT_PARAM' AND @COLUMN_NAME = 'PRODUCT_GROUP' THEN 'PRD_GRP'  
       WHEN @TABLE_NAME2 = 'IFRS_MASTER_PRODUCT_PARAM' AND @COLUMN_NAME = 'PRODUCT_TYPE' THEN 'PRD_TYPE'  
       WHEN @TABLE_NAME2 = 'IFRS_MASTER_PRODUCT_PARAM' AND @COLUMN_NAME = 'PRODUCT_TYPE_1' THEN 'PRD_TYPE_1'  
       ELSE @COLUMN_NAME  
     END  
*/
  
SET @V_QUERY = 'SELECT DISTINCT ' + @COLUMN_CODE + ' + '' - '' + ' + @COLUMN_DESC + ' AS CODE_DESC'  
SET @V_QUERY = @V_QUERY + ',' + @COLUMN_CODE + ' AS CODE '
SET @V_QUERY = @V_QUERY + 'FROM ' + @TABLE_NAME2 + ' WHERE ISNULL(IS_DELETE, 0) = 0 ' + @V_CONDITION  
SET @V_QUERY = @V_QUERY + ' ORDER BY CODE '
  
END  
ELSE  
BEGIN  
  
SET @V_QUERY = 'SELECT B.VALUE3 + '' - '' + B.DESCRIPTION AS CODE_DESC '  
SET @V_QUERY = @V_QUERY + ', B.VALUE3 AS CODE '
SET @V_QUERY = @V_QUERY + 'FROM TBLM_COMMONCODEDETAIL A '  
SET @V_QUERY = @V_QUERY + 'INNER JOIN TBLM_COMMONCODEDETAIL B ON B.COMMONCODE = A.VALUE3 AND B.VALUE2 = A.PARENTCOMMONCODEVALUE AND B.VALUE1 = A.VALUE1 '  
SET @V_QUERY = @V_QUERY + 'WHERE A.COMMONCODE =''B31'' AND A.PARENTCOMMONCODEVALUE = '''+ @TABLE_NAME + ''' AND A.VALUE1 = '''+ @COLUMN_NAME + ''' '  
SET @V_QUERY = @V_QUERY + 'AND B.COMMONCODE = ''B55'' AND ISNULL(B.IS_DELETE, 0) = 0 '
SET @V_QUERY = @V_QUERY + 'ORDER BY CODE '  
END  
  
EXEC (@V_QUERY)  
PRINT(@V_QUERY)
            
END

GO
