USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETTIMESERIESBYPKID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETTIMESERIESBYPKID](          
 @PKID BIGINT,
 @ISVIEW BIT--,
 --@CREATEDBY VARCHAR(36)
)                                                      
AS                                                      
BEGIN                                       
	
	IF @ISVIEW = 1
    BEGIN
		SELECT
			ME_CODE,
			METHOD,
			FL_PERIOD,
			FL_PERIOD_FROM,
			FL_PERIOD_TO
		FROM IFRS_ME_FORECAST WHERE PKID = @PKID
	END
	ELSE
	BEGIN
		
		DELETE FROM IFRS_ME_FORECAST_TEMP WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID) --AND CREATEDBY = @CREATEDBY

		INSERT INTO IFRS_ME_FORECAST_TEMP
		(
			[ME_CODE],
			[METHOD],
			[FL_PERIOD],
			[FL_PERIOD_FROM],
			[FL_PERIOD_TO],
			--[CREATEDBY],
			[IS_DELETE]
		)
		SELECT
			[ME_CODE],
			[METHOD],
			[FL_PERIOD],
			[FL_PERIOD_FROM],
			[FL_PERIOD_TO],
			--@CREATEDBY,
			0
		FROM IFRS_ME_FORECAST WHERE PKID = @PKID

		SELECT
			ME_CODE,
			METHOD,
			FL_PERIOD,
			FL_PERIOD_FROM,
			FL_PERIOD_TO
		FROM IFRS_ME_FORECAST_TEMP WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID) --AND CREATEDBY = @CREATEDBY
	END
                                          
END
GO
