USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADDCFMESSAGEERROR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADDCFMESSAGEERROR]        
(        
 @DCFID INT = NULL  
)        
AS        
BEGIN        
             
   -- SELECT a.MSG_ID Msg_ID,        
   --     a.FIELD_NAME Field_Name,        
   --     a.ERROR_MSG Error_Msg,        
   --     c.ROW_NUMBER Row_Number    
   -- FROM tblU_DCF_MessageError a        
   --     JOIN TBLT_PAYMENTEXPECTEDH_TEMP c ON a.DCFID = c.DCFID   
   --AND a.TEMP_ID = c.ROW_NUMBER  
   -- WHERE c.DCFID = @DCFID
   -- ORDER BY c.ROW_NUMBER ASC;  

	SELECT DISTINCT(X.Row_Number), X.Msg_ID, X.Field_Name, X.Error_Msg FROM
	(
	   SELECT a.MSG_ID Msg_ID,        
			a.FIELD_NAME Field_Name,        
			a.ERROR_MSG Error_Msg,        
			c.ROW_NUMBER Row_Number    
		FROM tblU_DCF_MessageError a        
			JOIN TBLT_PAYMENTEXPECTEDH_TEMP c ON a.DCFID = c.DCFID   
	   AND a.TEMP_ID = c.ROW_NUMBER  
		WHERE A.DCFID = @DCFID
		--ORDER BY c.ROW_NUMBER ASC
	) X
	GROUP BY X.Row_Number, X.Msg_ID, X.Field_Name, X.Error_Msg
	ORDER BY X.Row_Number
              
END;  
GO
