USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_AC_SPPIPENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_AC_SPPIPENDING]      
(        
 @userid varchar(36)=''      
)        
AS        
    
select model.PKID, CLASSNAME , STATUS,      
  (SELECT FullName         
   FROM tblM_User U        
   WHERE U.pkid = model.CREATEDBY         
  ) as [AssesstmentName],      
  model.CREATEDDATE AS AssessmentDate,      
  (SELECT FULLNAME FROM TBLM_USER WHERE PKID = (SELECT REPORTTO         
   FROM TBLM_REPORTTO U        
   WHERE U.REPORTTO = @userid      
    and U.USERID = model.CREATEDBY)      
  ) as [ApproverName],      
  ISNULL(OVERRIDE_RSLT,SPPI_RSLT) AS SPPI_RSLT,      
  ACTION      
from IFRS_AC_SPPI_HEADER_PENDING  model      
  LEFT JOIN TBLM_REPORTTO r on model.CREATEDBY = r.USERID      
WHERE ISNULL(r.ReportTo, model.CREATEDBY) = @userid AND      
  STATUS = 'PENDING'     
ORDER BY model.CREATEDDATE DESC 
GO
