USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SETUP_CLASSIFICATION_VALIDATION]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SETUP_CLASSIFICATION_VALIDATION]     
(                  
	@PKID bigint,       
	--@FV_OPTION bit,
	@EFF_DATE datetime
)
AS
BEGIN

	declare @class as varchar(100)
	declare @sppiid as bigint

	set @sppiid = (select SPPIID from IFRS_AC_MAPPING where PKID = @PKID)

	set @class = (select b.CLASSNAME
	from IFRS_AC_MAPPING a join IFRS_AC_SPPI_HEADER b on a.SPPIID = b.PKID  
	WHERE ISNULL(a.IS_DELETE,0) = 0 and a.PKID <> @PKID and EFF_DATE = @EFF_DATE and SPPIID = @sppiid)

	print @class
	
	select b.CLASSNAME, a.EFF_DATE
	from IFRS_AC_MAPPING a join IFRS_AC_SPPI_HEADER b on a.SPPIID = b.PKID  
	WHERE ISNULL(a.IS_DELETE,0) = 0 and b.CLASSNAME = @class and a.EFF_DATE = @EFF_DATE
	

END

GO
