USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_ACCT_EIR_ECF_ALIGN]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_ACCT_EIR_ECF_ALIGN]
AS
DECLARE @V_CURRDATE DATE
 ,@V_PREVDATE DATE
 ,@V_ROUND INT
 ,@V_FUNCROUND INT

BEGIN
 SELECT @V_CURRDATE = MAX(CURRDATE)
  ,@V_PREVDATE = MAX(PREVDATE)
 FROM IFRS_PRC_DATE_AMORT

 INSERT INTO IFRS_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'START'
  ,'SP_IFRS_ACCT_EIR_ECF_ALIGN'
  ,''
  )

 SELECT @V_ROUND = CAST(VALUE1 AS INT)
  ,@V_FUNCROUND = CAST(VALUE2 AS INT)
 FROM TBLM_COMMONCODEDETAIL
 WHERE COMMONCODE = 'SCM003'

 TRUNCATE TABLE TMP_T8

 INSERT INTO TMP_T8 (
  MASTERID
  ,DTMAX
  ,CURRDATE
  )
 SELECT MASTERID
  ,MAX(PMT_DATE) DTMAX
  ,@V_CURRDATE
 FROM IFRS_ACCT_EIR_ECF
 WHERE DOWNLOAD_DATE = @V_CURRDATE
  /*NAMBAHIN KONDISI UNTUK CASE ACCT SWITCH 20180115*/
  AND AMORTSTOPDATE IS NULL
 GROUP BY MASTERID

 INSERT INTO IFRS_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'DEBUG'
  ,'SP_IFRS_ACCT_EIR_ECF_ALIGN'
  ,'TMP T8 PREPARED'
  )

 UPDATE A
 SET N_UNAMORT_AMT = 0
  ,N_COST_UNAMORT_AMT = 0
  ,N_FEE_UNAMORT_AMT = 0
  ,N_AMORT_AMT = - 1 * N_UNAMORT_AMT_PREV
  ,N_COST_AMORT_AMT = - 1 * N_COST_UNAMORT_AMT_PREV
  ,N_FEE_AMORT_AMT = - 1 * N_FEE_UNAMORT_AMT_PREV
  ,N_FAIRVALUE = 0
 FROM IFRS_ACCT_EIR_ECF A
 INNER JOIN TMP_T8 B ON A.MASTERID = B.MASTERID
  AND B.DTMAX = A.PMT_DATE
  AND A.DOWNLOAD_DATE = B.CURRDATE
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE

 /*PINDAHAN DARI ATAS 20160428*/
 UPDATE IFRS_ACCT_EIR_ECF
 SET N_DAILY_AMORT_COST = ROUND(CASE 
WHEN I_DAYS2 = 0
 THEN 0
ELSE N_COST_AMORT_AMT / CAST(I_DAYS2 AS DECIMAL(32, 6))
END, @V_ROUND, @V_FUNCROUND)
  ,N_DAILY_AMORT_FEE = ROUND(CASE 
WHEN I_DAYS2 = 0
 THEN 0
ELSE N_FEE_AMORT_AMT / CAST(I_DAYS2 AS DECIMAL(32, 6))
END, @V_ROUND, @V_FUNCROUND)
 WHERE DOWNLOAD_DATE = @V_CURRDATE

 INSERT INTO IFRS_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'DEBUG'
  ,'SP_IFRS_ACCT_EIR_ECF_ALIGN'
  ,'DAILY AMORT UPDATED'
  )

 /*PINDAHAN DARI ATAS 20160428*/
 INSERT INTO IFRS_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'DEBUG'
  ,'SP_IFRS_ACCT_EIR_ECF_ALIGN'
  ,'MERGE ALIGN DONE'
  )

 -- UPDATE ENDAMORTDATE TO MAX PMTDATE
 UPDATE A
 SET A.ENDAMORTDATE = B.DTMAX
 FROM IFRS_ACCT_EIR_ECF A
 INNER JOIN TMP_T8 B ON A.MASTERID = B.MASTERID
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE

 INSERT INTO IFRS_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'DEBUG'
  ,'SP_IFRS_ACCT_EIR_ECF_ALIGN'
  ,'MERGE ENDAMORTDATE DONE'
  )

 INSERT INTO IFRS_AMORT_LOG (
  DOWNLOAD_DATE
  ,DTM
  ,OPS
  ,PROCNAME
  ,REMARK
  )
 VALUES (
  @V_CURRDATE
  ,CURRENT_TIMESTAMP
  ,'END'
  ,'SP_IFRS_ACCT_EIR_ECF_ALIGN'
  ,''
  )
END 
GO
