USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IMP_OVR_ACC_LIST]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IMP_OVR_ACC_LIST](    
 @CUSTOMER_NUMBER VARCHAR(100),    
 @DOWNLOAD_DATE VARCHAR(100)    
)    
AS    
BEGIN    
 SELECT     
  A.DOWNLOAD_DATE,    
  A.CUSTOMER_NUMBER,    
  A.CUSTOMER_NAME,    
  MASTERID,    
  FLAG_IMPAIRMENT IMPAIRED_FLAG,    
  A.CURRENCY,    
  BI_COLLECTABILITY,    
  A.OUTSTANDING,    
  A.DAY_PAST_DUE    
 FROM IFRS_MASTER_ACCOUNT A    
 LEFT JOIN IFRS_IMP_OVERRIDE B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER    
 WHERE A.CUSTOMER_NUMBER = @CUSTOMER_NUMBER    
 AND A.DOWNLOAD_DATE = @DOWNLOAD_DATE    
 --AND FACILITY_FLAG = 'N'    
 AND A.ACCOUNT_STATUS = 'A'    
 ORDER BY MASTERID    

END 
GO
