USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULEFVCOMPUTATION]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOANMODULEFVCOMPUTATION] 
(
   @DDATE_MAID VARCHAR(50) = ''
)
AS
BEGIN
	
	SELECT
       MASTERID, DOWNLOAD_DATE, PMTDATE, INTEREST, OSPRN, PRINCIPAL, INTEREST, COUNTER, PV_CF
	FROM IFRS_PAYM_SCHD_MTM (NOLOCK)
	WHERE DOWNLOAD_DATE = CONVERT(VARCHAR, SUBSTRING(@DDATE_MAID, 1, 10), 111)
	  AND MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID));

END

GO
