USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPTRCODEBYPRDTPPRDTP1]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPTRCODEBYPRDTPPRDTP1]
(
	@INST_CLS_VALUE VARCHAR(10) = ''
	--,@PRD_TYPE1 VARCHAR(100) = ''
)
AS
BEGIN
	SELECT 'ALL' AS TRX_CODE, 'ALL' AS "Transaction Code"
	UNION ALL
	SELECT DISTINCT TRX_CODE,  
		TRX_CODE "Transaction Code" 
	FROM IFRS_MASTER_TRANS_PARAM
	WHERE INST_CLS_VALUE = @INST_CLS_VALUE
		--AND PRD_TYPE = @PRD_TYPE1

END

GO
