USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETPRCDATESTG]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETPRCDATESTG] 
AS
BEGIN
	SELECT * FROM IFRS9_STG.[dbo].STG_PRC_DATE
END






GO
