USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_ACCT_EIR_ECF_ALIGN4]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[SP_IFRS_LI_ACCT_EIR_ECF_ALIGN4]  
AS  
DECLARE @V_CURRDATE DATE  
DECLARE @V_PREVDATE DATE  
DECLARE @V_ROUND INT  
DECLARE @V_FUNCROUND INT  
  
BEGIN  
 SELECT @V_CURRDATE = MAX(CURRDATE)  
  ,@V_PREVDATE = MAX(PREVDATE)  
 FROM IFRS_LI_PRC_DATE_AMORT;  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'START'  
  ,'SP_IFRS_LI_ACCT_EIR_ECF_ALIGN4'  
  ,''  
  )  
  
 SELECT @V_ROUND = CAST(VALUE1 AS INT)  
  ,@V_FUNCROUND = CAST(VALUE2 AS INT)  
 FROM TBLM_COMMONCODEDETAIL  
 WHERE COMMONCODE = 'SCM003'  
  
 TRUNCATE TABLE TMP_LI_T8  
  
 INSERT INTO TMP_LI_T8 (  
  MASTERID  
  ,DTMAX  
  ,CURRDATE  
  )  
 SELECT MASTERID  
  ,MAX(PMT_DATE) DTMAX  
  ,@V_CURRDATE  
 FROM IFRS_LI_ACCT_EIR_ECF_NOCF  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
 GROUP BY MASTERID  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'DEBUG'  
  ,'SP_IFRS_LI_ACCT_EIR_ECF_ALIGN4'  
  ,'TMP T8 PREPARED'  
  )  
  
 UPDATE IFRS_LI_ACCT_EIR_ECF_NOCF  
 SET N_UNAMORT_AMT = 0  
  ,N_COST_UNAMORT_AMT = 0  
  ,N_FEE_UNAMORT_AMT = 0  
  ,N_AMORT_AMT = - 1 * N_UNAMORT_AMT_PREV  
  ,N_COST_AMORT_AMT = - 1 * N_COST_UNAMORT_AMT_PREV  
  ,N_FEE_AMORT_AMT = - 1 * N_FEE_UNAMORT_AMT_PREV  
  ,N_FAIRVALUE = 0  
 FROM TMP_LI_T8 B  
 WHERE IFRS_LI_ACCT_EIR_ECF_NOCF.MASTERID = B.MASTERID  
  AND B.DTMAX = IFRS_LI_ACCT_EIR_ECF_NOCF.PMT_DATE  
  AND IFRS_LI_ACCT_EIR_ECF_NOCF.DOWNLOAD_DATE = B.CURRDATE  
  
 /*PINDAHAN DARI ATAS 20160428 */  
 UPDATE IFRS_LI_ACCT_EIR_ECF_NOCF  
 SET N_DAILY_AMORT_COST = ROUND(CASE   
    WHEN I_DAYS2 = 0  
     THEN 0  
    ELSE N_COST_AMORT_AMT / CAST(I_DAYS2 AS DECIMAL(32, 6))  
    END, @V_ROUND, @V_FUNCROUND)  
  ,N_DAILY_AMORT_FEE = ROUND(CASE   
    WHEN I_DAYS2 = 0  
     THEN 0  
    ELSE N_FEE_AMORT_AMT / CAST(I_DAYS2 AS DECIMAL(32, 6))  
    END, @V_ROUND, @V_FUNCROUND)  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'DEBUG'  
  ,'SP_IFRS_LI_ACCT_EIR_ECF_ALIGN4'  
  ,'DAILY AMORT UPDATED'  
  )  
  
 /*PINDAHAN DARI ATAS 20160428 */  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'DEBUG'  
  ,'SP_IFRS_LI_ACCT_EIR_ECF_ALIGN4'  
  ,'MERGE ALIGN DONE'  
  )  
  
 -- UPDATE ENDAMORTDATE TO MAX PMTDATE  
 UPDATE IFRS_LI_ACCT_EIR_ECF_NOCF  
 SET ENDAMORTDATE = B.DTMAX  
 FROM TMP_LI_T8 B  
 WHERE IFRS_LI_ACCT_EIR_ECF_NOCF.MASTERID = B.MASTERID  
  AND IFRS_LI_ACCT_EIR_ECF_NOCF.DOWNLOAD_DATE = B.CURRDATE  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'DEBUG'  
  ,'SP_IFRS_LI_ACCT_EIR_ECF_ALIGN4'  
  ,'MERGE ENDAMORTDATE DONE'  
  )  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'END'  
  ,'SP_IFRS_LI_ACCT_EIR_ECF_ALIGN4'  
  ,''  
  )  
END  

GO
