USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCENARIORULEH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SCENARIORULEH]
(
	@RULE_TYPE varchar(50) = ''
)
AS
BEGIN

	SELECT
	[PKID]
	,[RULE_NAME]
	,[RULE_TYPE]
	,[UPDATED_TABLE]
	,[UPDATED_COLUMN]
	,[VALUE]
	,[CreatedBy]
	,[CreatedDate]
	,[CreatedHost]
	,[UpdatedBy]
	,[UpdatedDate]
	,[UpdatedHost]
	,[SEQUENCE]
	FROM [dbo].[IFRS_SCENARIO_RULES_HEADER]
	where RULE_TYPE = @RULE_TYPE AND IS_DELETE = 0
	ORDER BY RULE_TYPE, SEQUENCE

END

GO
