USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPROVEDREJECTEDLOGCOUNT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_APPROVEDREJECTEDLOGCOUNT]
	@UserID VARCHAR(36) = ''
AS
BEGIN
	
	SELECT APPROVED_REJECTED,ACTION,SCREEN_NAME
	FROM
	(
		SELECT TOP 2000
			CASE WHEN STATUS = 'A' THEN 'APPROVE' ELSE 'REJECT' END AS APPROVED_REJECTED
			,NOTE
			,ACTION
			,m.[Description] "MODULE_NAME"
			,s.Title "SCREEN_NAME"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.UPDATEDBY) AS UserID
			, A.UPDATEDDATE
			,A.UPDATEDHOST
			,A.PKID
		FROM TBLT_APPROVALHEADER A WITH (NOLOCK)
			INNER JOIN tblM_User u WITH (NOLOCK) ON u.PKID = A.CREATEDBY AND u.PKID = @UserID
			INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = A.ScreenID              
			INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = A.ModuleID              
		WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
			AND A.STATUS <> 'P'
			AND ((A.SCREENID = 'MENU_MANAGEMENT' AND A.MASTERID = 0) OR (A.SCREENID != 'MENU_MANAGEMENT'))
			AND A.UPDATEDDATE >
				(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
					AND CAST(USERID AS varchar(36)) = @UserID)
		ORDER BY A.UPDATEDDATE DESC
	)TBLT_APPROVALHEADER

	UNION ALL
	SELECT APPROVED_REJECTED,ACTION,SCREEN_NAME
	FROM
	(
		SELECT TOP 2000
			CASE WHEN STATUS = 'APPROVED' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
			,REMARKS AS "NOTE"
			,'UPLOAD' AS "ACTION"
			,m.[Description] AS "MODULE_NAME"
			,s.Title AS "SCREEN_NAME"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.UPDATEDBY) as "UPDATED_BY"
			,A.UPDATEDDATE AS UPDATED_DATE
			,A.UPDATEDHOST AS UPDATED_HOST
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.CREATEDBY) AS "UPLOADED_BY"
			,A.CREATEDDATE AS "UPLOADED_DATE"
			,A.CREATEDHOST AS "UPLOADED_HOST"
			,A.UPLOADID AS PKID
		FROM TBLU_MACRO_ECONOMIC_INFO A
		INNER JOIN tblM_User u WITH (NOLOCK) ON u.PKID = A.CREATEDBY AND u.PKID = @UserID
		INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'ME_PARAM'       
		INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
		WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
			AND A.STATUS <> 'PENDING'
			AND A.UPDATEDDATE >
				(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
					AND CAST(USERID AS varchar(36)) = @UserID)
		ORDER BY A.UPDATEDDATE DESC
	)TBLU_MACRO_ECONOMIC_INFO

	UNION ALL
	SELECT APPROVED_REJECTED, ACTION,SCREEN_NAME
	FROM
	(
		SELECT TOP 2000
			CASE WHEN STATUS = 'APPROVED' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
			,REMARKS AS "NOTE"
			,'UPLOAD' AS "ACTION"
			,m.[Description] AS "MODULE_NAME"
			,s.Title AS "SCREEN_NAME"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.UPDATEDBY) as "UPDATED_BY"
			,A.UPDATEDDATE AS UPDATED_DATE 
			,A.UPDATEDHOST AS UPDATED_HOST
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.CREATEDBY) AS "UPLOADED_BY"
			,A.CREATEDDATE AS "UPLOADED_DATE"
			,A.CREATEDHOST AS "UPLOADED_HOST"
			,A.UPLOADID AS PKID
		FROM TBLU_FEECOST_INFO A
		INNER JOIN tblM_User u WITH (NOLOCK) ON u.PKID = A.CREATEDBY AND u.PKID = @UserID
		INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'FEECOST_UPLOAD'       
		INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
		WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
			AND A.STATUS <> 'PENDING'
			AND A.UPDATEDDATE >
				(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
					AND CAST(USERID AS varchar(36)) = @UserID)
		ORDER BY A.UPDATEDDATE DESC
	)TBLU_FEECOST_INFO

	UNION ALL
	SELECT APPROVED_REJECTED, ACTION,SCREEN_NAME
	FROM
	(
		SELECT TOP 2000
			CASE WHEN STATUS = 'APPROVED' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
			,'UPLOAD' AS "ACTION"
			,r.MAPPINGDESCRIPTION AS "MODULE_NAME"
			,s.Title AS "SCREEN_NAME"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.APPROVEDBY) as "UPDATED_BY"
			,A.APPROVEDDATE AS "UPDATED_DATE"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.CREATEDBY) AS "UPLOADED_BY"
			,A.CREATEDDATE AS "UPLOADED_DATE"
			,A.CREATEDHOST AS "UPLOADED_HOST"
			,A.UPLOADID AS PKID
		FROM TBLT_UPLOAD_POOL A
		INNER JOIN tblM_User u WITH (NOLOCK) ON u.PKID = A.CREATEDBY AND u.PKID = @UserID
		INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'PARTIAL_UPLOAD'       
		INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
		INNER JOIN TBLM_MAPPINGRULEHEADER_NEW r WITH (NOLOCK) ON A.MAPPINGID = r.PKID
		WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
			AND A.STATUS IN ('APPROVED','REJECTED')
			AND A.APPROVEDDATE >
				(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
					AND CAST(USERID AS varchar(36)) = @UserID)
		ORDER BY A.APPROVEDDATE DESC
	)TBLT_UPLOAD_POOL

	UNION ALL
	SELECT APPROVED_REJECTED, ACTION,SCREEN_NAME
	FROM
	(
		SELECT TOP 2000
			CASE WHEN A.APPROVAL_STATUS = 'A' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
			,A.APPROVAL_REMARK AS NOTE
			,'UPDATE' AS "ACTION"
			,'Individual List' AS "MODULE_NAME"
			,s.Title AS "SCREEN_NAME"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.UPDATEDBY) as "UPDATED_BY"
			,A.UPDATEDDATE AS "UPDATED_DATE"
			,A.UPDATEDHOST AS "UPDATED_HOST"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.CREATEDBY) AS "CREATED_BY"
			,A.CREATEDDATE AS "CREATED_DATE"
			,A.CREATEDHOST AS "CREATED_HOST"
			,A.DATE_CIF_SEGMENT + '+' + CAST(ISNULL(A.INPUT, 0) AS varchar(20)) AS ID
		FROM IFRS_IAP_LIST_HIST A
		INNER JOIN tblM_User u WITH (NOLOCK) ON CAST(u.PKID AS varchar(36)) = A.CREATEDBY AND CAST(u.PKID AS varchar(36)) = @UserID
		INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'IA_SAM_HIST'       
		INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
		WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
			AND A.APPROVAL_STATUS IN ('A','R')
			AND A.UPDATEDDATE >
				(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
					AND CAST(USERID AS varchar(36)) = @UserID)
		ORDER BY A.UPDATEDDATE DESC
	)IFRS_IAP_LIST_HIST

	UNION ALL
	SELECT APPROVED_REJECTED, ACTION,SCREEN_NAME
	FROM
	(
		SELECT TOP 2000
			CASE WHEN A.APPROVAL_STATUS = 'A' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
			,A.REMARK AS NOTE
			,SUBSTRING(ACTION, 0, CHARINDEX('_',ACTION)) AS "ACTION"
			,m.DESCRIPTION AS "MODULE_NAME"
			,s.Title AS "SCREEN_NAME"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.APPROVEDBY) as "UPDATED_BY"
			,A.APPROVEDDATE AS "UPDATED_DATE"
			,A.APPROVEDHOST AS "UPDATED_HOST"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = ISNULL(A.UPDATEDBY, A.CREATEDBY)) AS "CREATED_BY"
			,ISNULL(A.UPDATEDDATE, A.CREATEDDATE) AS "CREATED_DATE"
			,ISNULL(A.UPDATEDHOST, A.CREATEDHOST) AS "CREATED_HOST"
			,A.PKID
			,A.ECL_MODEL_NAME
		FROM IFRS_ECL_MODEL_HEADER_HIST A
		INNER JOIN tblM_User u WITH (NOLOCK) ON CAST(u.PKID AS varchar(36)) = ISNULL(A.UPDATEDBY, A.CREATEDBY) AND CAST(u.PKID AS varchar(36)) = @UserID
		INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'ECL_MODEL_HEADER'       
		INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
		WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
			AND A.APPROVAL_STATUS IN ('A','R')
			AND A.APPROVEDDATE >
				(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
					AND CAST(USERID AS varchar(36)) = @UserID)
		ORDER BY A.APPROVEDDATE DESC
	)IFRS_ECL_MODEL_HEADER_HIST

	UNION ALL
	SELECT APPROVED_REJECTED, ACTION,SCREEN_NAME
	FROM
	(
		SELECT TOP 2000
			CASE WHEN A.STATUS = 'APPROVED' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
			,A.APPROVAL_REMARKS AS NOTE
			,SUBSTRING(ACTION, 0, CHARINDEX('_',ACTION)) AS "ACTION"
			,m.DESCRIPTION AS "MODULE_NAME"
			,s.Title AS "SCREEN_NAME"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.APPROVEDBY) as "UPDATED_BY"
			,A.APPROVEDDATE AS "UPDATED_DATE"
			,A.APPROVEDHOST AS "UPDATED_HOST"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = ISNULL(A.UPDATEDBY, A.CREATEDBY)) AS "CREATED_BY"
			,ISNULL(A.UPDATEDDATE, A.CREATEDDATE) AS "CREATED_DATE"
			,ISNULL(A.UPDATEDHOST, A.CREATEDHOST) AS "CREATED_HOST"
			,A.PKID
			,A.CLASSNAME
		FROM IFRS_AC_SPPI_HEADER_PENDING A
		INNER JOIN tblM_User u WITH (NOLOCK) ON CAST(u.PKID AS varchar(36)) = ISNULL(A.UPDATEDBY, A.CREATEDBY) AND CAST(u.PKID AS varchar(36)) = @UserID
		INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'AC_SPPI_CLASSIFICATION'       
		INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
		WHERE u.PKID LIKE '%' + ISNULL(@UserID, '') + '%'  
			AND A.STATUS IN ('APPROVED','REJECTED')
			AND A.APPROVEDDATE >
				(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
					AND CAST(USERID AS varchar(36)) = @UserID)
		ORDER BY A.APPROVEDDATE DESC
	)IFRS_AC_SPPI_HEADER_PENDING

	UNION ALL
	SELECT APPROVED_REJECTED, ACTION,SCREEN_NAME
	FROM
	(
		SELECT TOP 2000
			CASE WHEN A.STATUS = 'APPROVED' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
			,A.APPROVAL_REMARKS AS NOTE
			,SUBSTRING(ACTION, 0, CHARINDEX('_',ACTION)) AS "ACTION"
			,m.DESCRIPTION AS "MODULE_NAME"
			,s.Title AS "SCREEN_NAME"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.APPROVEDBY) as "UPDATED_BY"
			,A.APPROVEDDATE AS "UPDATED_DATE"
			,A.APPROVEDHOST AS "UPDATED_HOST"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = ISNULL(A.UPDATEDBY, A.CREATEDBY)) AS "CREATED_BY"
			,ISNULL(A.UPDATEDDATE, A.CREATEDDATE) AS "CREATED_DATE"
			,ISNULL(A.UPDATEDHOST, A.CREATEDHOST) AS "CREATED_HOST"
			,A.PKID
			,B.CLASSNAME
		FROM IFRS_AC_BM_HEADER_PENDING A
		INNER JOIN tblM_User u WITH (NOLOCK) ON CAST(u.PKID AS varchar(36)) = ISNULL(A.UPDATEDBY, A.CREATEDBY) AND CAST(u.PKID AS varchar(36)) = @UserID
		INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'AC_BMA_CLASSIFICATION'       
		INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
		INNER JOIN IFRS_AC_SPPI_HEADER B ON A.SPPI_CLASS = CAST(B.PKID AS varchar(36))
		WHERE CAST(u.PKID AS varchar(36)) LIKE '%' + ISNULL(@UserID, '') + '%'  
			AND A.STATUS IN ('APPROVED','REJECTED')
			AND A.APPROVEDDATE >
				(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
					AND CAST(USERID AS varchar(36)) = @UserID)
		ORDER BY A.APPROVEDDATE DESC
	)IFRS_AC_BM_HEADER_PENDING

	UNION ALL
	SELECT APPROVED_REJECTED, ACTION,SCREEN_NAME
	FROM
	(
		SELECT TOP 2000
			CASE WHEN A.STATUS = 'APPROVED' THEN 'APPROVE' ELSE 'REJECT' END AS "APPROVED_REJECTED"
			,A.APPROVAL_REMARKS AS NOTE
			,l.LOOKUPDESCRIPTION AS "ACTION"
			,m.DESCRIPTION AS "MODULE_NAME"
			,s.Title AS "SCREEN_NAME"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = A.APPROVEDBY) as "UPDATED_BY"
			,A.APPROVEDDATE AS "UPDATED_DATE"
			,A.APPROVEDHOST AS "UPDATED_HOST"
			,(SELECT USERNAME FROM TBLM_USER WHERE PKID = ISNULL(A.UPDATEDBY, A.CREATEDBY)) AS "CREATED_BY"
			,ISNULL(A.UPDATEDDATE, A.CREATEDDATE) AS "CREATED_DATE"
			,ISNULL(A.UPDATEDHOST, A.CREATEDHOST) AS "CREATED_HOST"
			,A.PKID
			,ME_CODE
		FROM IFRS_ME_FORECAST_HIST A
		INNER JOIN tblM_User u WITH (NOLOCK) ON CAST(u.PKID AS varchar(36)) = ISNULL(A.UPDATEDBY, A.CREATEDBY) AND CAST(u.PKID AS varchar(36)) = @UserID
		INNER JOIN tblM_Screen s WITH (NOLOCK) ON s.ScreenID = 'ME_VAR_FORECAST'       
		INNER JOIN tblM_Module m WITH (NOLOCK) ON m.ModuleID = 'IFRS9'
		INNER JOIN TBLM_LOOKUP l WITH (NOLOCK) ON A.ACTION = l.LOOKUPCODE
		WHERE CAST(u.PKID AS varchar(36)) LIKE '%' + ISNULL(@UserID, '') + '%'  
			AND A.STATUS IN ('APPROVED','REJECTED')
			AND A.APPROVEDDATE >
				(SELECT ISNULL(MAX(CREATEDDATE), '19000101') FROM TBLT_ACTIVITYLOGS WHERE SCREENID='APPROVED_REJECTED_LOG'
					AND CAST(USERID AS varchar(36)) = @UserID)
		ORDER BY A.APPROVEDDATE DESC
	)IFRS_ME_FORECAST_HIST
	
END
GO
