USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETDCFUPLOADID_EDIT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETDCFUPLOADID_EDIT]    
(    
 @CIF VARCHAR(50)  
)    
AS    
BEGIN    
 SELECT UPLOADID FROM TBLT_PAYMENTEXPECTED_TEMP WHERE CUSTOMER_NUMBER = @CIF  
END;  
  
GO
