USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_CHECK_AMORT]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LI_CHECK_AMORT]  
AS  
DECLARE @V_CURRDATE DATE  
 ,@V_PREVDATE DATE  
 ,@VCNT INT  
  
BEGIN  
 SELECT @V_CURRDATE = MAX(CURRDATE)  
 FROM IFRS_LI_PRC_DATE_AMORT  
  
 SELECT @V_PREVDATE = MAX(PREVDATE)  
 FROM IFRS_LI_PRC_DATE_AMORT  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'START'  
  ,'SP_IFRS_LI_CHECK_AMORT'  
  ,''  
  )  
  
 TRUNCATE TABLE IFRS_LI_CHECK_AMORT  
  
 TRUNCATE TABLE TMP_LI_X  
  
 INSERT INTO TMP_LI_X (  
  DOWNLOAD_DATE  
  ,CCY  
  ,MASTERID  
  ,ACCTNO  
  ,JOURNALCODE  
  ,AMOUNT  
  )  
 SELECT DOWNLOAD_DATE  
  ,CCY  
  ,MASTERID  
  ,ACCTNO  
  ,CASE   
   WHEN JOURNALCODE IN (  
     'ACCRU'  
     ,'ACCRU_SL'  
     )  
    THEN 'AMORT'  
   WHEN JOURNALCODE IN ('DEFA0','DEFA1')
    THEN 'DEFA0'
   ELSE JOURNALCODE  
   END AS JOURNALCODE  
  ,SUM(CASE   
    WHEN REVERSE = 'Y'  
     THEN - 1 * N_AMOUNT  
    ELSE N_AMOUNT  
    END) AS AMOUNT  
 FROM IFRS_LI_ACCT_JOURNAL_INTM_SUMM  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
  AND JOURNALCODE NOT IN (  
   'ACRU4'  
   ,'AMRT4'  
   )  
 GROUP BY DOWNLOAD_DATE  
  ,CCY  
  ,CASE   
   WHEN JOURNALCODE IN (  
     'ACCRU'  
     ,'ACCRU_SL'  
     )  
    THEN 'AMORT'
   WHEN JOURNALCODE IN ('DEFA0','DEFA1')
    THEN 'DEFA0'  
   ELSE JOURNALCODE  
   END  
  ,MASTERID  
  ,ACCTNO  
  
 TRUNCATE TABLE TMP_LI_X1  
  
 INSERT INTO TMP_LI_X1 (  
  DOWNLOAD_DATE  
  ,CCY  
  ,MASTERID  
  ,ACCTNO  
  ,JOURNALCODE  
  ,AMOUNT  
  )  
 SELECT DOWNLOAD_DATE  
  ,CCY  
  ,MASTERID  
  ,ACCTNO  
  ,JOURNALCODE
  ,AMOUNT  
 FROM TMP_LI_X  
 WHERE JOURNALCODE IN ('DEFA0') --ADD DEFA1 BY ADAM  
  
 TRUNCATE TABLE TMP_LI_X2  
  
 INSERT INTO TMP_LI_X2 (  
  DOWNLOAD_DATE  
  ,CCY  
  ,MASTERID  
  ,ACCTNO  
  ,JOURNALCODE  
  ,AMOUNT  
  )  
 SELECT DOWNLOAD_DATE  
  ,CCY  
  ,MASTERID  
  ,ACCTNO  
  ,JOURNALCODE  
  ,AMOUNT  
 FROM TMP_LI_X  
 WHERE JOURNALCODE NOT IN ('DEFA0') --ADD DEFA1 BY ADAM  
  
 INSERT INTO IFRS_LI_CHECK_AMORT (  
  DOWNLOAD_DATE  
  ,MASTERID  
  ,CCY  
  ,DEFA0_AMT  
  ,AMORT_AMT  
  ,UNAMORT_AMT  
  ,ACCOUNT_NUMBER  
  )  
 SELECT COALESCE(A.DOWNLOAD_DATE, B.DOWNLOAD_DATE) AS DOWNLOAD_DATE2  
  ,COALESCE(A.MASTERID, B.MASTERID) AS MASTERID2  
  ,COALESCE(A.CCY, B.CCY) AS CCY  
  ,CASE WHEN A.JOURNALCODE = 'DEFA0' THEN A.AMOUNT ELSE B.AMOUNT END AS DEFA0_AMT --ADD CONDITION BY ADAM  
  ,B.AMOUNT AS AMORT_AMT  
  ,COALESCE(A.AMOUNT, 0) + COALESCE(B.AMOUNT, 0) AS UNAMORT_AMT  
  ,A.ACCTNO  
 FROM TMP_LI_X1 A  
 FULL OUTER JOIN TMP_LI_X2 B ON B.MASTERID = A.MASTERID  
  AND A.CCY = B.CCY  
  AND A.ACCTNO = B.ACCTNO  
  
 UPDATE DBO.IFRS_LI_CHECK_AMORT  
 SET IMA_UNAMORT_AMT = ISNULL(B.UNAMORT_FEE_AMT, 0) + ISNULL(B.UNAMORT_COST_AMT, 0)  
  --+ COALESCE(B.UNAMORTIZEDAMOUNT_SL,0) -- 20160407 USE SL UNAMORT FIELD    
  ,IMA_OUTSTANDING = B.OUTSTANDING  
  ,CONTROL_AMT = COALESCE(DBO.IFRS_LI_CHECK_AMORT.DEFA0_AMT, 0) + COALESCE(DBO.IFRS_LI_CHECK_AMORT.AMORT_AMT, 0) - (ISNULL(B.UNAMORT_FEE_AMT, 0) + ISNULL(B.UNAMORT_COST_AMT, 0))  
 --- COALESCE(B.UNAMORTIZEDAMOUNT_SL,0)  -- 20160407 USE SL UNAMORT FIELD    
 FROM IFRS_LI_MASTER_ACCOUNT B  
 WHERE B.MASTERID = DBO.IFRS_LI_CHECK_AMORT.MASTERID  
  AND B.ACCOUNT_NUMBER = DBO.IFRS_LI_CHECK_AMORT.ACCOUNT_NUMBER  
  AND B.DOWNLOAD_DATE = @V_CURRDATE  
  
 INSERT INTO IFRS_LI_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'END'  
  ,'SP_IFRS_LI_CHECK_AMORT'  
  ,''  
  )  
  
 --/*REMARK BY ADAM    
 SELECT @VCNT = COUNT(*)  
 FROM IFRS_LI_CHECK_AMORT  
 WHERE ABS(CONTROL_AMT) > 1  
  
 IF @VCNT > 0  
 BEGIN  
  RAISERROR (  
    'CHECK AMORT ERROR !'  
    ,-- MESSAGE TEXT.    
    17  
    ,-- SEVERITY,    
    - 1 -- STATE    
    )  
  
  RETURN  
 END  
   --*/    
END  

GO
