USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFSUSPECTCIFCOUNT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFSUSPECTCIFCOUNT]      
(        
 @Download_Date DATE = '01-JUN-2000',       
 @Where as VARCHAR(1000)=''  
)        
AS        
BEGIN        
 DECLARE @Query AS VARCHAR(3000);   
 DECLARE @PlafondLow DECIMAL(32, 6);        
 DECLARE @PlafondHigh DECIMAL(32, 6);        
 DECLARE @BiCollectLow INT;        
 DECLARE @BiCollectHigh INT;        
 DECLARE @DpdLow INT;        
 DECLARE @DpdHigh INT;    
         
 SET @PlafondLow = 0;        
 SET @PlafondHigh = 0;        
 SET @BiCollectLow = 0;        
 SET @BiCollectHigh = 0;        
 SET @DpdLow = 0;        
 SET @DpdHigh = 0;     
         
 SELECT @DpdLow = VALUE1, @DpdHigh = VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B04';        
 SELECT @BiCollectLow = VALUE1, @BiCollectHigh = VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B05';        
 SELECT @PlafondLow = VALUE1, @PlafondHigh = VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B06';  
  
 --select  @DOWNLOAD_DATE = CURRDATE from IFRS_PRC_DATE   
 select  @DOWNLOAD_DATE = MAX(DOWNLOAD_DATE) from IFRS_MASTER_ACCOUNT  
    
 SET @Query =     
 'SELECT COUNT(*)  FROM  
 (  
  SELECT  
   IMA.CUSTOMER_NUMBER + ''~'' + IMA.CURRENCY + ''~'' + IMA.PRODUCT_ENTITY + ''~'' + CASE WHEN ISNULL(AQAD_TYPE,'''') <> ''IJARAH'' AND PRODUCT_ENTITY = ''I'' THEN ''NON IJARAH'' ELSE ISNULL(AQAD_TYPE,'''') END AS KEYSELECT,       
   IMA.DOWNLOAD_DATE,       
   COALESCE((SELECT TOP 1 1 FROM IFRS_IMP_OVERRIDE_MASTER_PEND IMP WHERE IMP.CUSTOMER_NUMBER = IMA.CUSTOMER_NUMBER      
    AND IMP.CURRENCY = IMA.CURRENCY AND IMP.PRODUCT_ENTITY = IMA.PRODUCT_ENTITY), 0) AS PENDING,      
   CUSTOMER_NUMBER,         
   CUSTOMER_NAME,         
   CURRENCY,         
   CASE WHEN IMA.AQAD_TYPE = ''IJARAH''   
    THEN SUM(IMA.OUTSTANDING_PASTDUE) ELSE SUM(IMA.OUTSTANDING)   
    END AS "OUTSTANDING",       
   SUM(IMA.PLAFOND) AS "PLAFOND",         
   MAX(IMA.DAY_PAST_DUE) AS "DAY_PAST_DUE",         
   MAX(IMA.BI_COLLECTABILITY) AS "BI_COLLECTABILITY",         
   MAX(IMA.STAGE) AS "STAGE",         
   RATING_CODE,        
   CASE WHEN PRODUCT_ENTITY = ''C''        
    THEN ''Conventional''        
    ELSE ''Islamic/Syariah''        
    END AS PRODUCT_ENTITY,        
   case EARLY_ALERT_FLAG  
    when 1 then ''True''  
    else ''False''  
    END EARLY_ALERT_FLAG,      
   CASE WHEN ISNULL(AQAD_TYPE,'''') <> ''IJARAH'' AND PRODUCT_ENTITY = ''I''   
    THEN ''NON IJARAH''   
    ELSE ISNULL(AQAD_TYPE,'''')   
    END AQAD_TYPE  
  FROM IFRS_MASTER_ACCOUNT IMA        
  WHERE DOWNLOAD_DATE = ''' + CONVERT(varchar, @DOWNLOAD_DATE, 120) + '''   
   AND BUSINESS_GROUP = ''CORP''         
   AND NOT EXISTS         
    (        
    SELECT CUSTOMER_NUMBER FROM IFRS_IMP_OVERRIDE IIO         
    WHERE IMA.CUSTOMER_NUMBER = IIO.CUSTOMER_NUMBER        
     AND IMA.CURRENCY = IIO.CURRENCY        
     AND IMA.PRODUCT_ENTITY = IIO.PRODUCT_ENTITY        
     AND IIO.IMPAIRED_FLAG = ''I''      
    )      
   AND         
   (        
    ISNULL(BI_COLLECTABILITY,0) BETWEEN  '+CONVERT(VARCHAR,@BICollectLow,120)+'  AND  '+CONVERT(VARCHAR,@BICollectHigh,120)+'          
    OR ISNULL(DAY_PAST_DUE,0) BETWEEN  '+CONVERT(VARCHAR,@DpdLow,120)+'  AND  '+CONVERT(VARCHAR,@DpdHigh,120)+'         
    OR ISNULL(PLAFOND_EQV,0) BETWEEN  '+CONVERT(VARCHAR,@PlafondLow,120)+'  AND  '+CONVERT(VARCHAR,@PlafondHigh,120)+'         
    OR ISNULL(EARLY_ALERT_FLAG,0) = 1         
    OR ISNULL(RATING_CODE,''0'') IN (SELECT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''B21'')    
   )    
   AND NOT EXISTS      
   (  
    SELECT TOP 1 1 FROM IFRS_IMP_OVERRIDE_MASTER_PEND IMP   
    WHERE IMP.CUSTOMER_NUMBER = IMA.CUSTOMER_NUMBER      
     AND IMP.CURRENCY = IMA.CURRENCY   
     AND IMP.PRODUCT_ENTITY = IMA.PRODUCT_ENTITY  
   )      
   ' +   
   CASE WHEN @Where <> ''            
    THEN ' AND ' + @Where            
   ELSE ''            
   END +   
  ' GROUP BY DOWNLOAD_DATE,         
   CUSTOMER_NUMBER,         
   CUSTOMER_NAME,         
   CURRENCY,        
   RATING_CODE,        
   PRODUCT_ENTITY,       
   EARLY_ALERT_FLAG,  
   AQAD_TYPE  
 ) Z'  
    
 EXEC (@Query);  
 PRINT (@Query);  
  
END;  
GO
