USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ASSETCLASSSPPI]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_ASSETCLASSSPPI]
(
    @Asset_ID FLOAT = 0
)
AS
BEGIN
    
    IF (@Asset_ID > 0) 
	BEGIN
        SELECT A.CommonCode, A.Value1, B.Sequence, A.Value2, A.Description, C.Selected_value, C.Remark,  B.COMMONCODE_GROUP
         FROM tblm_CommonCodeDetail A
			 JOIN IFRS_ASSET_CLASS_SPPI_RULE B ON A.CommonCode = B.CommonCode_DTL
				AND A.VALUE1 = B.CommonCode_Value1
			 JOIN IFRS_ASSET_CLASS_SPPI_DETAIL C
				ON B.CommonCode_DTL = C.CommonCode_DTL AND B.COMMONCODE_VALUE1 = C.CommonCode_Value1
         WHERE Asset_ID = @Asset_ID
         ORDER BY B.COMMONCODE_GROUP, B.Sequence;
    END
    ELSE 
	BEGIN
         SELECT A.CommonCode, A.Value1, B.Sequence, A.Value2, A.Description, '' as Selected_value, '' as Remark, B.COMMONCODE_GROUP
         FROM tblm_CommonCodeDetail A
			 JOIN IFRS_ASSET_CLASS_SPPI_RULE B ON A.CommonCode = B.CommonCode_DTL
				AND A.VALUE1 = B.CommonCode_Value1
         ORDER BY B.COMMONCODE_GROUP, B.Sequence;
     END 

END;

GO
