USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BOOTSTRAP_CHOSEN_VARIABLE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_BOOTSTRAP_CHOSEN_VARIABLE]
(
    @MODEL_ID BIGINT=0
)
AS
BEGIN
    SET NOCOUNT ON;
	
	IF @MODEL_ID > 0
	BEGIN

		SELECT A.PKID,
			A.DERIVED_TYPE AS VARIABLE,
			MIN(B.ME_PERIOD) AS BOOTSTRAP_PERIOD_FROM,
			MAX(B.ME_PERIOD) AS BOOTSTRAP_PERIOD_TO,
			MIN(B.ME_PERIOD) AS MIN_PERIOD,
			MAX(B.ME_PERIOD) AS MAX_PERIOD
		FROM IFRS_ME_MODEL_CORRELATION A
		JOIN IFRS_ME_SEASONAL_ADJUSTMENT B
		ON A.MODEL_ID = B.MODEL_ID
			AND A.DERIVED_TYPE = B.DERIVED_TYPE
			AND A.MODEL_ID = @MODEL_ID
			AND ISNULL(IS_CHOSEN,0) = 1
			AND B.SEASONAL_ADJUSTMENT IS NOT NULL
		GROUP BY A.PKID,
			A.DERIVED_TYPE 
		ORDER BY A.DERIVED_TYPE
	END
	ELSE
	BEGIN
		SELECT A.PKID,
			A.DERIVED_TYPE AS VARIABLE,
			MIN(B.ME_PERIOD) AS BOOTSTRAP_PERIOD_FROM,
			MAX(B.ME_PERIOD) AS BOOTSTRAP_PERIOD_TO,
			MIN(B.ME_PERIOD) AS MIN_PERIOD,
			MAX(B.ME_PERIOD) AS MAX_PERIOD
		FROM IFRS_ME_MODEL_CORRELATION A
		JOIN IFRS_ME_SEASONAL_ADJUSTMENT B
		ON A.MODEL_ID = B.MODEL_ID
			AND A.DERIVED_TYPE = B.DERIVED_TYPE
			AND A.MODEL_ID = 0 --just get the column name
			AND ISNULL(IS_CHOSEN,0) = 1
			AND B.SEASONAL_ADJUSTMENT IS NOT NULL
		GROUP BY A.PKID,
			A.DERIVED_TYPE 
		ORDER BY A.DERIVED_TYPE
	END 
END;


GO
