USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADFEECOSTLIABTEMP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADFEECOSTLIABTEMP](
@uploadID int,
@xlsRowNum int,
@DATA_SOURCE varchar(50),
@ACCOUNT_NUMBER varchar(50),
@PRD_CODE varchar(50),
@TRX_CODE varchar(50),
@TRX_REF_NUMBER varchar(50),
@TRANSACTION_DATE varchar(50),
@EFFECTIVE_DATE varchar(50),
@END_DATE varchar(50),
@CURRENCY char(3),
@DEBIT_CREDIT_FLAG char(1),
@INITIAL_COST_AMOUNT varchar(50),
@CreatedBy varchar(36),
@CreatedHost varchar(30))
as	
begin 

	INSERT INTO TBLU_TRANS_LIAB_TEMP(
		UPLOADID
		,[ROW_NUMBER]
		,ACCOUNT_NUMBER
		,PRD_CODE
		,TRX_CODE
		,TRANSACTION_DATE
		,CURRENCY
		,DEBIT_CREDIT_FLAG
		,INITIAL_COST_AMOUNT
		,CreatedBy
		,CreatedDate
		,CreatedHost)
	values(
		@uploadID
		,@xlsRowNum
		,@ACCOUNT_NUMBER
		,@PRD_CODE
		,@TRX_CODE
		,@TRANSACTION_DATE
		,@CURRENCY
		,@DEBIT_CREDIT_FLAG
		,@INITIAL_COST_AMOUNT
		,@CreatedBy
		,getdate()
		,@CreatedHost)

	select max(PKID) as PKID from [TBLU_TRANS_LIAB_TEMP]

end

GO
