USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PD_MODEL_ECL_TOP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_PD_MODEL_ECL_TOP]            
(            
 @MODEL_NAME VARCHAR(250),            
 @SEGMENTATION_ID int,          
 @SEGMENT VARCHAR(100),            
 @PD_METHOD VARCHAR(50),      
 @CALC_METHOD VARCHAR(20) = '',            
 @EXPECTED_LIFE INT = NULL,            
 @TRANSITION_DATA INT = NULL,               
 @HISTORICAL_DATA INT = NULL,            
 @IA_FLAG BIT,         
 @DEFAULT_RULE_ID BIGINT,      
 @DEFAULT_RULE VARCHAR(100),              
 @CUT_OFF_DATE DATE = '1/1/1900',      
 @INCREMENT_PERIOD INT = NULL,            
 @BUCKET_GROUP VARCHAR(30)='',     
 --@POPULATION_MONTH VARCHAR(50),                  
 --@DERIVED_PD varchar(50)  ,       
 @THRESHOLD DECIMAL(32, 6),   
 @DEFAULT_RATIO_BY VARCHAR(20) = '',            
 --@ACTIVE_FLAG BIT,      
 @MonthFlag BIT,      
 @BUCKET_GROUP2 VARCHAR(30)='', 
 @CreatedBy VARCHAR(50),            
 @CreatedHost VARCHAR(50)            
)            
AS            
BEGIN            
            
  INSERT INTO IFRS_PD_RULES_CONFIG
  (            
		TM_RULE_NAME,
		SEGMENTATION_ID,
		CALC_METHOD,
		EXPECTED_LIFE,            
		TRANSITION_DATA,
		HISTORICAL_DATA,
		IA_FLAG,
		CUT_OFF_DATE,      
		INCREMENT_PERIOD,
		PD_METHOD,
		BUCKET_GROUP,
		DEFAULT_RULE_ID,
		IS_DELETE,      
		--DERIVED_TM_MODEL,            
		THRESHOLD,  
		DEFAULT_RATIO_BY,
		LAG_1MONTH_FLAG,          
		--ACTIVE_FLAG,           
		--POPULATION_MONTH, 
		BUCKET_GROUP2,
		ACTIVE_FLAG, 
		RUNNING_STATUS,          
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST            
  )            
  VALUES
  (            
		@MODEL_NAME,
		@SEGMENTATION_ID,
		@CALC_METHOD,
		@EXPECTED_LIFE,      
		CASE WHEN @TRANSITION_DATA = '' THEN NULL ELSE @TRANSITION_DATA END,
		CASE WHEN @HISTORICAL_DATA = '' THEN NULL ELSE @HISTORICAL_DATA END,
		@IA_FLAG,
		CASE WHEN @PD_METHOD = 'EXT' THEN NULL ELSE @CUT_OFF_DATE END,
		CASE WHEN @INCREMENT_PERIOD = '' THEN NULL ELSE @INCREMENT_PERIOD END,
		@PD_METHOD,
		@BUCKET_GROUP,
		@DEFAULT_RULE_ID,
		0,      
		--@DERIVED_PD,           
		@THRESHOLD,  
		@DEFAULT_RATIO_BY,  
		@MonthFlag,          
		-- @ACTIVE_FLAG,          
		--REPLACE (@POPULATION_MONTH,',ALL',''), 
		@BUCKET_GROUP2, 
		1,      
		'PENDING',
		@CreatedBy,
		GETDATE(),
		@CreatedHost            
  );            
       
END;

GO
