USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_PD_MAA_CORP_EXTRAPOLATE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_IMPCR_PD_MAA_CORP_EXTRAPOLATE] 
@DOWNLOAD_DATE DATE ='',
@RULE_ID BIGINT = 0      
AS   
BEGIN  
  
DECLARE @V_CURRDATE   DATE                                                                        
 DECLARE @V_PREVDATE   DATE          
 DECLARE @V_PREVMONTH DATE       
 DECLARE @V_CURRDATE_NOLAG   DATE                                                                        
 DECLARE @V_PREVDATE_NOLAG   DATE          
 DECLARE @V_PREVMONTH_NOLAG DATE     
  
  IF @DOWNLOAD_DATE <> ''        
BEGIN         
SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN        
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))        
  
SET @V_CURRDATE_NOLAG = EOMONTH(@DOWNLOAD_DATE) -- NO LAG        
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)        
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))        
END        
ELSE         
BEGIN         
SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE) )          
FROM IFRS_PRC_DATE        
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))   
  
SELECT @V_CURRDATE_NOLAG =  EOMONTH(CURRDATE)  FROM IFRS_PRC_DATE           
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)        
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))        
END        
  
IF OBJECT_ID('TEMPDB.DBO.#MMULT')  IS NOT NULL DROP TABLE #MMULT   
SELECT * INTO #MMULT FROM IFRS_PD_MAA_CORP_MMULT  WHERE TO_DATE = @V_CURRDATE_NOLAG AND PD_RULE_ID = @RULE_ID 
  
IF OBJECT_ID('TEMPDB.DBO.#MMULT_MAX_BUCKET')  IS NOT NULL DROP TABLE #MMULT_MAX_BUCKET   
SELECT A.* INTO #MMULT_MAX_BUCKET FROM #MMULT A  
INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID AND B.IS_DELETE = 0 AND B.ACTIVE_FLAG = 1  
INNER JOIN VW_IFRS_MAX_BUCKET C ON B.BUCKET_GROUP = C.BUCKET_GROUP AND A.BUCKET_TO = C.MAX_BUCKET_ID   
WHERE A.TO_DATE = @V_CURRDATE_NOLAG AND PD_RULE_ID = @RULE_ID 
  
        
DELETE IFRS_PD_MAA_CORP_EXTRAPOLATION WHERE TO_DATE = @V_CURRDATE_NOLAG AND PD_RULE_ID = @RULE_ID 
  
INSERT INTO IFRS_PD_MAA_CORP_EXTRAPOLATION (DOWNLOAD_DATE  
,TO_DATE  
,PD_RULE_ID  
,PD_RULE_NAME  
,BUCKET_GROUP  
,BUCKET_ID  
,BUCKET_NAME  
,FL_SEQ  
,CUMULATIVE_PD_RATE  
,MARGINAL_PD_RATE)  
SELECT  
EOMONTH(DATEADD(MONTH,A.INCREMENT_PERIOD*-1,@V_CURRDATE_NOLAG)) AS  DOWNLOAD_DATE  
,@V_CURRDATE_NOLAG AS TO_DATE  
,A.PKID AS PD_RULE_ID  
,A.TM_RULE_NAME AS PD_RULE_NAME  
,A.BUCKET_GROUP2 AS BUCKET_GROUP  
,B.BUCKET_ID AS BUCKET_ID  
,B.BUCKET_NAME AS BUCKET_NAME  
,C.FL_SEQ  
,CASE WHEN D.MAX_BUCKET_ID IS NOT NULL THEN 1 ELSE NULL END  AS CUMULATIVE_PD_RATE  
,NULL AS MARGINAL_PD_RATE  
FROM IFRS_PD_RULES_CONFIG A  
INNER JOIN   
(SELECT BUCKET_GROUP, BUCKET_ID, BUCKET_NAME FROM IFRS_BUCKET_DETAIL  GROUP BY BUCKET_GROUP, BUCKET_ID, BUCKET_NAME) B ON A.BUCKET_GROUP2 = B.BUCKET_GROUP   
INNER JOIN   
(SELECT PD_RULE_ID, FL_SEQ FROM #MMULT GROUP BY PD_RULE_ID, FL_SEQ) C ON A.PKID = C.PD_RULE_ID  
LEFT JOIN VW_IFRS_MAX_BUCKET D ON A.BUCKET_GROUP2  = D.BUCKET_GROUP AND B.BUCKET_ID = D.MAX_BUCKET_ID  
WHERE A.IS_DELETE = 0 AND A.ACTIVE_FLAG = 1 AND A.PD_METHOD = 'MAA_CORP' AND A.PKID = @RULE_ID 
  
  
  
IF OBJECT_ID ('TEMPDB.DBO.#EXTRAPOL') IS NOT NULL DROP TABLE #EXTRAPOL  
SELECT * INTO #EXTRAPOL FROM IFRS_PD_MAA_CORP_EXTRAPOLATION WHERE TO_DATE = @V_CURRDATE_NOLAG AND PD_RULE_ID = @RULE_ID 
  
IF OBJECT_ID ('TEMPDB.DBO.#GROUP_BUCKET') IS NOT NULL DROP TABLE #GROUP_BUCKET  
SELECT *,LEFT(BUCKET_NAME,1) AS GROUP_BUCKET, RANK() OVER ( PARTITION BY PD_RULE_ID,BUCKET_GROUP,LEFT(BUCKET_NAME,1) ORDER BY BUCKET_NAME ) AS [RANK]  
INTO #GROUP_BUCKET  
FROM   
(  
SELECT TO_DATE,PD_RULE_ID,A.BUCKET_GROUP, BUCKET_ID, BUCKET_NAME FROM #EXTRAPOL A  
INNER JOIN VW_IFRS_MAX_BUCKET B  ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_ID <> B.MAX_BUCKET_ID  
WHERE TO_DATE = @V_CURRDATE_NOLAG AND A.PD_RULE_ID = @RULE_ID GROUP BY TO_DATE,PD_RULE_ID,A.BUCKET_GROUP,  BUCKET_ID, BUCKET_NAME  
) A   
  
IF OBJECT_ID ('TEMPDB.DBO.#COUNT_BUCKET') IS NOT NULL DROP TABLE #COUNT_BUCKET  
SELECT TO_DATE,PD_RULE_ID,BUCKET_GROUP,GROUP_BUCKET, COUNT(1) AS MAX_RANK INTO #COUNT_BUCKET FROM #GROUP_BUCKET WHERE PD_RULE_ID = @RULE_ID GROUP BY TO_DATE,PD_RULE_ID,BUCKET_GROUP,GROUP_BUCKET  
  
--- UPDATE NEXT BUCKET  WITH 3 NEXT_BUCKET  
UPDATE A  
SET A.CUMULATIVE_PD_RATE =  CASE   
       WHEN C.MAX_RANK = 3 THEN ISNULL(D.MMULT,0)+((ISNULL(B.MMULT,0) - ISNULL(D.MMULT,0))/3*2 )  
       ELSE (B.MMULT + D.MMULT)/2 END   
FROM #EXTRAPOL A  
INNER JOIN #MMULT_MAX_BUCKET B ON A.PD_RULE_ID = B.PD_RULE_ID AND A.TO_DATE = B.TO_DATE AND A.FL_SEQ = B.FL_SEQ AND LEFT(A.BUCKET_NAME,1) = B.BUCKET_FROM  
INNER JOIN #MMULT_MAX_BUCKET D ON A.PD_RULE_ID = D.PD_RULE_ID AND A.TO_DATE = D.TO_DATE AND A.FL_SEQ = D.FL_SEQ AND LEFT(A.BUCKET_NAME,1) = D.BUCKET_FROM + 1   
LEFT JOIN #COUNT_BUCKET C  ON  A.PD_RULE_ID = C.PD_RULE_ID AND A.BUCKET_GROUP = C.BUCKET_GROUP  AND LEFT(A.BUCKET_NAME,1) = CAST(GROUP_BUCKET AS INT) + 1  
WHERE A.TO_DATE = @V_CURRDATE_NOLAG AND  SUBSTRING(A.BUCKET_NAME,2,1) IN ('A') AND A.BUCKET_ID <> 1 AND A.PD_RULE_ID = @RULE_ID    
  
--- UPDATE NEXT BUCKET  WITH 3 NEXT_BUCKET  
UPDATE A  
SET A.CUMULATIVE_PD_RATE =  CASE   
       WHEN C.MAX_RANK = 3 THEN ISNULL(B.MMULT,0)+((ISNULL(D.MMULT,0) - ISNULL(B.MMULT,0))/3*1)  
       ELSE (B.MMULT + D.MMULT)/2 END   
FROM #EXTRAPOL A  
INNER JOIN #MMULT_MAX_BUCKET B ON A.PD_RULE_ID = B.PD_RULE_ID AND A.TO_DATE = B.TO_DATE AND A.FL_SEQ = B.FL_SEQ AND LEFT(A.BUCKET_NAME,1) = B.BUCKET_FROM  
INNER JOIN #MMULT_MAX_BUCKET D ON A.PD_RULE_ID = D.PD_RULE_ID AND A.TO_DATE = D.TO_DATE AND A.FL_SEQ = D.FL_SEQ AND LEFT(A.BUCKET_NAME,1) = D.BUCKET_FROM - 1   
LEFT JOIN #COUNT_BUCKET C  ON  A.PD_RULE_ID = C.PD_RULE_ID AND A.BUCKET_GROUP = C.BUCKET_GROUP  AND LEFT(A.BUCKET_NAME,1) = CAST(GROUP_BUCKET AS INT) - 1  
WHERE A.TO_DATE = @V_CURRDATE_NOLAG AND  SUBSTRING(A.BUCKET_NAME,2,1) IN ('C') AND A.PD_RULE_ID = @RULE_ID  
  
  
--- UPDATE FIRST BUCKET TO DEFAULT MINIMAL VALUE   
UPDATE #EXTRAPOL  
SET CUMULATIVE_PD_RATE = 0.0003  
WHERE TO_DATE = @V_CURRDATE_NOLAG AND BUCKET_ID = 1  AND PD_RULE_ID = @RULE_ID
  
-- UPDATE RATING B SAME AS MMULT  
UPDATE A  
SET A.CUMULATIVE_PD_RATE = B.MMULT  
FROM #EXTRAPOL A  
INNER JOIN #MMULT_MAX_BUCKET B ON A.PD_RULE_ID = B.PD_RULE_ID AND A.TO_DATE = B.TO_DATE AND A.FL_SEQ = B.FL_SEQ AND LEFT(A.BUCKET_NAME,1) = B.BUCKET_FROM  
WHERE A.TO_DATE = @V_CURRDATE_NOLAG AND  SUBSTRING(A.BUCKET_NAME,2,1) IN ('','B') AND A.PD_RULE_ID = @RULE_ID 
   
UPDATE A  
SET A.CUMULATIVE_PD_RATE = B.MMULT  
FROM #EXTRAPOL A  
INNER JOIN #MMULT_MAX_BUCKET B ON A.PD_RULE_ID = B.PD_RULE_ID AND A.TO_DATE = B.TO_DATE AND A.FL_SEQ = B.FL_SEQ AND LEFT(A.BUCKET_NAME,1) = B.BUCKET_FROM  
WHERE A.TO_DATE = @V_CURRDATE_NOLAG AND  SUBSTRING(A.BUCKET_NAME,2,1) IN ('','B')  AND A.PD_RULE_ID = @RULE_ID 
   
  
 -- UPDATE TO FINAL TABLE  
 UPDATE A  
 SET CUMULATIVE_PD_RATE = B.CUMULATIVE_PD_RATE  
 FROM IFRS_PD_MAA_CORP_EXTRAPOLATION A  
 INNER JOIN #EXTRAPOL B ON A.PD_RULE_ID = B.PD_RULE_ID AND A.TO_DATE = B.TO_DATE AND A.FL_SEQ = B.FL_SEQ AND A.BUCKET_ID = B.BUCKET_ID   
 WHERE A.TO_DATE = @V_CURRDATE_NOLAG AND A.PD_RULE_ID = @RULE_ID 
  
  
  
 -- UPDATE MARGINAL   
 UPDATE A  
 SET MARGINAL_PD_RATE = ISNULL(A.CUMULATIVE_PD_RATE,0) - ISNULL(B.CUMULATIVE_PD_RATE,0)  
 FROM IFRS_PD_MAA_CORP_EXTRAPOLATION A   
 LEFT JOIN #EXTRAPOL B ON A.PD_RULE_ID = B.PD_RULE_ID AND A.TO_DATE = A.TO_DATE AND A.BUCKET_ID  = B.BUCKET_ID AND A.FL_SEQ = B.FL_SEQ+1   
 WHERE A.TO_DATE = @V_CURRDATE_NOLAG AND A.PD_RULE_ID = @RULE_ID 
  
END


GO
