USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUP_BIPRDCODESEG]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUP_BIPRDCODESEG]       
AS        
BEGIN      
  
	SELECT DISTINCT  
		PRD_CODE AS 'PRODUCT_CODE',
		PRD_CODE AS 'Product Code'
	FROM IFRS_MASTER_PRODUCT_PARAM
	WHERE ISNULL(IS_DELETE, 0) = 0
		--AND PRD_CODE NOT IN (SELECT Value FROM dbo.STRING_SPLIT((SELECT PRODUCT_CODE FROM PRODUCT_SEGMENT_PSAK55 WHERE ISNULL(IS_DELETE, 0) = 0 AND PKID <> PKID), ';'))
		--AND PRD_CODE NOT IN (SELECT Value FROM dbo.STRING_SPLIT((SELECT ISNULL(OLDVALUE,NEWVALUE) FROM TBLT_APPROVALDETAIL WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER WHERE SCREENID = 'SEGMENT_PSAK55_PARAMETER' AND STATUS = 'P') AND FIELDNAME = 'PRODUCT_CODE'), ';'))
	ORDER BY PRD_CODE  
      
END;

GO
