USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_AC_REJECTBMA]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_AC_REJECTBMA]
(  
 @PKID bigint = 0,
 @APPROVAL_REMARKS varchar(2000) = '',
 @APPROVEDBY varchar(36) = '',
 @APPROVEDHOST varchar(30) = ''
)  
AS  
BEGIN

	UPDATE IFRS_AC_BM_HEADER_PENDING
		SET STATUS ='REJECTED'
			,APPROVAL_REMARKS = @APPROVAL_REMARKS
			,APPROVEDBY = @APPROVEDBY
			,APPROVEDDATE = GETDATE()
			,APPROVEDHOST = @APPROVEDHOST
		WHERE PKID = @PKID

END
GO
