USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BI_GEOGRAPHICALSECTORS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_BI_GEOGRAPHICALSECTORS]
AS
BEGIN

	SELECT                         
		PKID,
		GEOGRAPHICAL_ID,
		PULAU_ID,
		PULAU_NAMA,
		PROVINSI_ID,
		PROVINSI_NAMA,
		KABUPATEN_ID,
		KABUPATEN_NAMA,
		BRANCH_CODE
	FROM IFRS_DIM_GEOGRAPHICAL_SECTORS
	WHERE IS_DELETE = 0
	ORDER BY GEOGRAPHICAL_ID

END

GO
