USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_QUERYDATA]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPD_QUERYDATA]    
    @CountryID VARCHAR(10) ,    
    @ModuleID VARCHAR(50) ,    
    @QueryID VARCHAR(100)    
AS     
    SET NOCOUNT ON         
      
    --DECLARE @PKID BIGINT  
    --SELECT @PKID=PKID  FROM [dbo].[tblM_QueryData]    WHERE   [CountryID] = @CountryID    
    --        AND [ModuleID] = @ModuleID    
    --        AND [QueryID] = @QueryID    
   
 --DELETE  FROM [dbo].[tblM_QueryData]    
 --   WHERE   pkid=@PKID    
 DELETE [dbo].[tblM_QueryData]    WHERE   [CountryID] = @CountryID    
            AND [ModuleID] = @ModuleID    
            AND [QueryID] = @QueryID







GO
