USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_ECL_ACTIVATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_ECL_ACTIVATE]
	@ECL_ID bigint
AS
BEGIN
	UPDATE IFRS_ECL_MODEL_HEADER SET ACTIVE_STATUS = 0 
	UPDATE IFRS_ECL_MODEL_HEADER SET ACTIVE_STATUS = 1 WHERE PKID = @ECL_ID 
END

GO
