USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADMEUPLOADINFO]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_UPLOADMEUPLOADINFO]
(
	@FilePath VARCHAR(4000) = NULL,
	@CreatedBy VARCHAR(36) = NULL,
	@CreatedHost VARCHAR(30) = NULL,
	@Status varchar(30) = NULL,
	@Remarks varchar(50)=NULL
)
AS
BEGIN

	INSERT INTO tblU_MACRO_ECONOMIC_Info
	( 
		CreatedBy, 
		CreatedHost, 
		CreatedDate, 
		FilePath, 
		STATUS,
		MODULE,
		REMARKS 
	)
	VALUES 
	(
		@CreatedBy, 
		@CreatedHost, 
		GETDATE(), 
		@FilePath, 
		  case when @Status is NULL then 'INVALID' 
		  else @Status end,
		'MACRO',
		@Remarks
	);

	SELECT MAX(UploadID) UploadID  
	FROM tblU_MACRO_ECONOMIC_Info;

END;

GO
