USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMPRODUCT]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPU_PARAMPRODUCT]                 
(                  
	@PKID bigint,       
	@PRODUCT_CATEGORY varchar(100) = '',
	@DATA_SOURCE varchar(20) = '',
	@PRD_CODE varchar(20) = '',
	@PRD_TYPE varchar(50) = '',
	@PRD_GROUP varchar(30) = '',
	@PRD_DESC varchar(100) = '',
	@PRD_TYPE_1 varchar(20) = '',
	@CCY varchar(5) = '', 
	@INST_CLS_VALUE varchar(10) = '',                          
	@REPAY_TYPE_VALUE varchar(10) = '',
	@AMORT_TYPE VARCHAR(10) = '',
	@TENOR_TYPE char(1) = '',
	@EXP_LIFE varchar,
	@ORG_FEE_MAT_TYPE VARCHAR(10) = '',     
	@ORG_FEE_MAT_AMT VARCHAR(40) = 0,
	@TXN_COST_MAT_TYPE VARCHAR(10) = '',     
	@TXN_COST_MAT_AMT VARCHAR(40) = 0,     
	@MKT_INT_RATE float = 0,
	@WORKING_PERIOD int = 0,
	@IS_IMPAIRED bit = 0,                           
	@STAFF_LOAN_IND bit = 0,                 
	@LIABILITES_CLASSIFICATION varchar(20) = '',
	@SMBC_GROUP_SEGMENT varchar(50) = '',
	@UpdatedBy varchar(36) = '',
	@UpdatedHost varchar(30) = ''
)
AS
BEGIN

	UPDATE IFRS_MASTER_PRODUCT_PARAM              
	SET 
		[PRD_TYPE_1] = LTRIM(RTRIM(@PRD_TYPE_1))
		,[DATA_SOURCE] = @DATA_SOURCE
		,[PRD_CODE] = @PRD_CODE
		,[PRD_TYPE] = LTRIM(RTRIM(@PRD_TYPE))
		,[PRD_DESC] = LTRIM(RTRIM(@PRD_DESC))
		,[PRD_GROUP] = LTRIM(RTRIM(@PRD_GROUP))
		,[CCY] = @CCY
		,[INST_CLS_VALUE] = @INST_CLS_VALUE
		,[REPAY_TYPE_VALUE] = CASE WHEN @REPAY_TYPE_VALUE = '0' THEN '' ELSE @REPAY_TYPE_VALUE END
		,[AMORT_TYPE] = LTRIM(RTRIM(@AMORT_TYPE))
		,[TENOR_TYPE] = CASE WHEN @TENOR_TYPE = '0' THEN '' ELSE @TENOR_TYPE END
		,[EXP_LIFE] = CONVERT(smallint, @EXP_LIFE)
		,[ORG_FEE_MAT_TYPE] = LTRIM(RTRIM(@ORG_FEE_MAT_TYPE))
		,[ORG_FEE_MAT_AMT] = CAST(REPLACE(@ORG_FEE_MAT_AMT,',','.') AS DECIMAL(32,6))
		,[TXN_COST_MAT_TYPE] = LTRIM(RTRIM(@TXN_COST_MAT_TYPE))
		,[TXN_COST_MAT_AMT] = CAST(REPLACE(@TXN_COST_MAT_AMT,',','.') AS DECIMAL(32,6))
		,[MKT_INT_RATE] = @MKT_INT_RATE    
		,[WORKING_PERIOD] = @WORKING_PERIOD
		,[IS_IMPAIRED] = @IS_IMPAIRED  
		,[STAFF_LOAN_IND] = @STAFF_LOAN_IND                  
		,[LIABILITES_CLASSIFICATION] = CASE WHEN @LIABILITES_CLASSIFICATION = '0' THEN '' ELSE @LIABILITES_CLASSIFICATION END
		,[SMBC_GROUP_SEGMENT] = @SMBC_GROUP_SEGMENT
		,[UPDATEDBY] = @UpdatedBy                  
		,[UPDATEDDATE] = GETDATE()                  
		,[UPDATEDHOST] = @UpdatedHost                  
	WHERE PKID = @PKID 
	
	EXEC [dbo].[SP_IFRS_AC_SYNC_LIST_VALUE_MASTER_PRODUCT]
	--exec SP_IFRS_DROPDOWNLIST              
              
END

GO
