USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETCOMMONUSAGE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETCOMMONUSAGE]
@CommonCode VARCHAR(50)= ''  
AS
BEGIN
    SELECT CommonUsage 
    FROM tblM_CommonCodeHeader TMCCH
    WHERE CommonCode = @CommonCode;

END;


GO
