USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_OVERRIDECHECKLISTSUBMIT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_OVERRIDECHECKLISTSUBMIT]
(
	@CID INT,
	@REMARKS VARCHAR(1000),
	@FILENAME VARCHAR(200),
	@PATH VARCHAR(200),
	@UpdatedBy VARCHAR(36),
	@UpdatedHost VARCHAR(30)
)
AS
BEGIN

	-- Clean if exists
	DELETE FROM IFRS_IMP_OVERRIDECHECKLIST_PEND
	WHERE PKID = @CID

	-- Insert into IFRS_IMP_OVERRIDECHECKLIST_PEND for Approval
	INSERT INTO IFRS_IMP_OVERRIDECHECKLIST_PEND
	(
		PKID,
		CUSTOMER_NUMBER,
		DOWNLOAD_DATE,
		REMARKS,
		FILENAME,
		PATH,
		CHECKLISTSTATUS,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST
	)
	SELECT PKID,
		CUSTOMER_NUMBER,
		DOWNLOAD_DATE,
		@REMARKS,
		@FILENAME,
		@PATH,
		'P',
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		@UPDATEDBY,
		GETDATE(),
		@UPDATEDHOST
	FROM IFRS_IMP_OVERRIDECHECKLIST_TEMP
	WHERE PKID = @CID;

	-- Update CHECKLISTSTATUS & BEING_EDITED_CIF to IFRS_IMP_OVERRIDE table
	UPDATE IFRS_IMP_OVERRIDE
	SET CHECKLISTSTATUS = 'P',
		BEING_EDITED_CIF = 1
	WHERE CHECKLISTID = @CID;

END;

GO
