USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPTRADEFINDATASOURCE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPTRADEFINDATASOURCE]
AS  
BEGIN

	SELECT DISTINCT DATA_SOURCE,  
		DATA_SOURCE "Data Source" 
	FROM IFRS_MASTER_PRODUCT_PARAMETER
	WHERE DATA_SOURCE IN ('L/C','B/G','ACCEPTANCE');

END; 

GO
