USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_COMMONCODEH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_COMMONCODEH]    
 -- Add the parameters for the stored procedure here    
    --@CommonCode CHAR(10) ,    
    --@ModuleID VARCHAR(50) ='',    
    --@ParentCode VARCHAR(50) ='',    
    --@CommonName VARCHAR(200) ='',    
    @CommonDesc VARCHAR(200) ='',    
    @CommonUsage VARCHAR(MAX) ='',    
    --@Type CHAR(1) ,    
    @UpdatedBy VARCHAR(36) ='',    
    @UpdatedHost VARCHAR(30) ='',    
    @PKID BIGINT    =0
AS     
    BEGIN      
   
    -- Insert statements for procedure here    
        UPDATE  [dbo].[tblM_CommonCodeHeader]    
        SET    -- [CommonCode] = @CommonCode ,    
               -- [CountryID] = @CountryID ,    
               -- [ModuleID] = @ModuleID ,    
               -- [ParentCode] = @ParentCode ,    
               -- [CommonName] = @CommonName ,    
                [CommonDesc] = @CommonDesc ,    
                [CommonUsage] = @CommonUsage ,    
                --[Type] = @Type ,    
                [UpdatedBy] = @UpdatedBy ,    
                [UpdatedDate] = getdate() ,    
                [UpdatedHost] = @UpdatedHost    
        WHERE   PKID = @PKID    
                 
end

GO
