USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULECOLLIMPAIR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOANMODULECOLLIMPAIR]    
(    
 @DDATE_MAID VARCHAR(50)=''    
)    
AS    
BEGIN    
            
 SELECT DOWNLOAD_DATE AS "PERIOD",    
		MASTER_ACCOUNT_CODE as MASTER_ACCOUNT_ID,    
		ACCOUNT_NUMBER,    
        CURRENCY,    
        'C' AS "IMPAIRMENT_FLAG",    
        DAY_PAST_DUE AS "DPD",    
		BUCKET_ID,    
        BI_COLLECTABILITY,    
        STAGE AS CR_STAGE,    
        '' as GROUP_REPORTING,    
        EAD_AMOUNT,    
        ECL_AMOUNT,    
        CA_UNWINDING_AMOUNT,    
        COALESCE(BEGINNING_BALANCE, 0) AS "BEGIN_BALANCE",    
        0 AS "CHARGE",    
        0 AS "WRITEBACK",    
        COALESCE(ENDING_BALANCE, 0) AS "ENDING_BALANCE",
		ISNULL(WATCHLIST_FLAG, 0) AS WATCHLIST_FLAG,
		INITIAL_RATING_CODE,
		RATING_CODE,
		RATING_DOWNGRADE,
		ISNULL(PD_INITIAL_RATE, 0) AS PD_INITIAL_RATE,
		ISNULL(PD_CURRENT_RATE, 0) AS PD_CURRENT_RATE,
		ISNULL(PD_CHANGE, 0) AS PD_CHANGE
    FROM IFRS_MASTER_ACCOUNT_MONTHLY A (NOLOCK)    
    WHERE IMPAIRED_FLAG = 'C' --AND IS_IMPAIRED = 1    
        AND A.MASTER_ACCOUNT_CODE = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))    
        AND A.DOWNLOAD_DATE <= CONVERT(VARCHAR, SUBSTRING(@DDATE_MAID, 1, 10), 111)    
    ORDER BY PERIOD,    
        MASTER_ACCOUNT_CODE,    
        IMPAIRMENT_FLAG,    
        DPD,    
        BI_COLLECTABILITY;    
    
END;    

GO
