USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRDTYPEBYPRDCODE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPPRDTYPEBYPRDCODE](
@PRD_CODE varchar(20)='')
as 
-- proc untuk get list lookup table destination list      
begin      
	
	select distinct PRD_TYPE as "PRD_TYPE", 
		PRD_TYPE AS "Product Type"
	from IFRS_MASTER_PRODUCT_PARAM
	where PRD_CODE = @PRD_CODE

end


GO
