USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UNPROCESSEDPRODUCT_20180116]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[USPS_UNPROCESSEDPRODUCT_20180116]  
AS  
select PKID,DATA_SOURCE,PRD_CODE,PRD_DESC,PRD_TYPE,PRD_TYPE_1 AS ASSET_TYPE_PRODUCT1   
from IFRS_MASTER_PRODUCT_PARAM   
WHERE   PRD_CODE not in(  
  (SELECT isnull(VALUE,'') FROM dbo.STRING_SPLIT((     
   SELECT DISTINCT List_Output FROM    (      SELECT STUFF((SELECT ',' + CAST(PRODUCT_CODE AS VARCHAR(MAX)) [text()] FROM IFRS_AC_SPPI_HEADER      FOR XML PATH(''), TYPE)     .value('.','NVARCHAR(MAX)'),1,1,'') List_Output    FROM IFRS_AC_SPPI_HEADER    )
A  
  ), ',')))  
  AND PRD_CODE NOT IN(  
  (SELECT isnull(VALUE,'') FROM dbo.STRING_SPLIT((     
   SELECT DISTINCT List_Output FROM    (      SELECT STUFF((SELECT ',' + CAST(PRODUCT_CODE AS VARCHAR(MAX)) [text()] FROM IFRS_AC_SPPI_HEADER_PENDING      FOR XML PATH(''), TYPE)     .value('.','NVARCHAR(MAX)'),1,1,'') List_Output    FROM IFRS_AC_SPPI_HEADER_PENDING    WHERE STATUS='PENDING'    )A  
  ), ',')))  
AND INST_CLS_VALUE = 'A'  
AND ISNULL(IS_DELETE,0) = 0  
ORDER BY PRD_CODE  

GO
