USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPLOANPRODUCTGROUP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUPLOANPRODUCTGROUP]
(
	@datasource VARCHAR(50) = ''
)
AS  
BEGIN  

	SELECT DISTINCT PRD_GROUP "PRODUCT_GROUP",  
		PRD_GROUP "Product Group",
		DATA_SOURCE
	FROM IFRS_MASTER_PRODUCT_PARAM
	WHERE ISNULL(IS_DELETE, 0) = 0
		AND DATA_SOURCE LIKE '%'+ @datasource +'%';
	
END;

GO
