USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_AC_APPROVESPPI_INSERT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_AC_APPROVESPPI_INSERT]
(  
 @PKID bigint = 0,
 @APPROVAL_REMARKS varchar(2000) = '',
 @APPROVEDBY varchar(36) = '',
 @APPROVEDHOST varchar(30) = ''
)  
AS  
BEGIN
DECLARE @CLASSID bigint = 0
DECLARE @CLASSIDHIST bigint = 0

	--INSERT INTO SPPI HEADER
	INSERT INTO IFRS_AC_SPPI_HEADER([CLASSNAME],[EFFECTIVE_DATE],[PRODUCT_CODE],[SPPI_RSLT],[INTEREST_TYPE],[STATUS],[OVERRIDE_FLG]
			,[OVERRIDE_RSLT],[OVERRIDE_REMARKS],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],[APPROVEDBY],[APPROVEDDATE],[APPROVEDHOST])
		SELECT [CLASSNAME],[EFFECTIVE_DATE],[PRODUCT_CODE],[SPPI_RSLT],[INTEREST_TYPE],'APPROVED',[OVERRIDE_FLG]
			,[OVERRIDE_RSLT],[OVERRIDE_REMARKS],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],@APPROVEDBY,GETDATE(),@APPROVEDHOST
		FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = @PKID
	
	--GET PKID HEADER
	--GET CLASSID
	SELECT @CLASSID = MAX(PKID) FROM IFRS_AC_SPPI_HEADER
	
	--INSERT INTO SPPI HEADER HISTORY
	INSERT INTO IFRS_AC_SPPI_HEADER_HIST([PKID_HEADER],[CLASSNAME],[EFFECTIVE_DATE],[PRODUCT_CODE],[SPPI_RSLT],[INTEREST_TYPE],[STATUS],[OVERRIDE_FLG]
			,[OVERRIDE_RSLT],[OVERRIDE_REMARKS],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST],[APPROVEDBY]
			,[APPROVEDDATE],[APPROVEDHOST])
		SELECT @CLASSID,[CLASSNAME],[EFFECTIVE_DATE],[PRODUCT_CODE],[SPPI_RSLT],[INTEREST_TYPE],'APPROVED',[OVERRIDE_FLG],[OVERRIDE_RSLT]
			,[OVERRIDE_REMARKS],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST],@APPROVEDBY
			,GETDATE(),@APPROVEDHOST
		FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = @PKID
	
	--GET CLASSID HIST
	SELECT @CLASSIDHIST = MAX(PKID) FROM IFRS_AC_SPPI_HEADER_HIST

	--INSERT INTO SPPI DETAIL
	INSERT INTO IFRS_AC_SPPI_DETAIL([CLASSID],[QUESTIONID],[SELECTED_VALUE],[REMARK],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])
      SELECT @CLASSID,[QUESTIONID],[SELECTED_VALUE],[REMARK],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]
	  FROM IFRS_AC_SPPI_DETAIL_PENDING WHERE CLASSID = @PKID

	--INSERT INTO SPPI DETAIL HISTORY
	INSERT INTO IFRS_AC_SPPI_DETAIL_HIST([CLASSID],[QUESTIONID],[SELECTED_VALUE],[REMARK],[CREATEDBY],[CREATEDDATE],[CREATEDHOST])
      SELECT @CLASSIDHIST,[QUESTIONID],[SELECTED_VALUE],[REMARK],[CREATEDBY],[CREATEDDATE],[CREATEDHOST]
	  FROM IFRS_AC_SPPI_DETAIL_PENDING WHERE CLASSID =  @PKID

	--UPDATE STATUS PENDING
	UPDATE IFRS_AC_SPPI_HEADER_PENDING
		SET STATUS = 'APPROVED'
			,APPROVAL_REMARKS = @APPROVAL_REMARKS
			,APPROVEDBY = @APPROVEDBY
			,APPROVEDDATE = GETDATE()
			,APPROVEDHOST = @APPROVEDHOST
		WHERE PKID = @PKID

	--INSERT INTO TBLT_APPROVALHEADER
	--(
	--MASTERID
	--,SCREENID
	--,ACTION
	--,STATUS
	--,NOTE
	--,OLDBINARY
	--,QUERY
	--,MODULEID
	--,COUNTRYID
	--,REFPKID
	--,ASSEMBLY_NAME
	--,TYPENAME
	--,CREATEDBY
	--,CREATEDDATE
	--,CREATEDHOST
	--,UPDATEDBY
	--,UPDATEDDATE
	--,UPDATEDHOST
	--)
	--VALUES
	--(
	--0
	--,'APPROVAL_SPPI_CLASSIFICATION'
	--,'INSERT'
	--,'A'
	--,@APPROVAL_REMARKS
	--,NULL
	--,'exec USPP_AC_APPROVESPPI_INSERT'
	--,'IFRS9'
	--,'ID'
	--,NULL
	--,NULL
	--,NULL
	--,@APPROVEDBY
	--,getdate()
	--,@APPROVEDHOST
	--,@APPROVEDBY
	--,getdate()
	--,@APPROVEDHOST
	--)

	--DECLARE @HEADERID AS BIGINT;
	--DECLARE @CLASSNAME AS VARCHAR(1000);
	--DECLARE @SPPI_RSLT AS VARCHAR(1000);

	--SELECT @HEADERID = MAX(PKID) FROM TBLT_APPROVALHEADER
	--SELECT @SPPI_RSLT = SPPI_RSLT,
	--	   @CLASSNAME = CLASSNAME	
	--FROM IFRS_AC_SPPI_HEADER_PENDING WHERE PKID = @PKID

	--INSERT INTO TBLT_APPROVALDETAIL
	--(
	--	HEADERID,
	--	FIELDNAME,
	--	NEWVALUE,
	--	ROWSEQUENCE,
	--	CREATEDBY,
	--	CREATEDDATE
	--)VALUES
	--(
	--	@HEADERID,
	--	'SPPI_RSLT',
	--	@SPPI_RSLT,
	--	0,
	--	@APPROVEDBY,
	--	GETDATE()	
	--)

	--INSERT INTO TBLT_APPROVALDETAIL
	--(
	--	HEADERID,
	--	FIELDNAME,
	--	NEWVALUE,
	--	ROWSEQUENCE,
	--	CREATEDBY,
	--	CREATEDDATE
	--)VALUES
	--(
	--	@HEADERID,
	--	'CLASSNAME',
	--	@CLASSNAME,
	--	0,
	--	@APPROVEDBY,
	--	GETDATE()	
	--)

END
GO
