USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_ECL_DETAIL_LT]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[USPD_ECL_DETAIL_LT]  
(  
 @ECL_MODEL_ID int = 0  
)  
as  
begin  
  
 DELETE from IFRS_ECL_MODEL_DETAIL_LT
 where ECL_MODEL_ID = @ECL_MODEL_ID  
  
end  

GO
