USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMMACROECONOMICD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMMACROECONOMICD]   
(  
   
 @UPLOADID bigint=0  
)  
AS  
BEGIN  
     
   DECLARE @SOURCETABLE VARCHAR(20);  
   DECLARE @ME_CODE VARCHAR(100);  
   DECLARE @RULE_ID BIGINT = 0;  
  
 SELECT @ME_CODE = ME_CODE, @SOURCETABLE = ME_SOURCE_TABLE, @RULE_ID = ME_SOURCE_FILTER  
 FROM  
  TBLM_MACRO_ECONOMIC WHERE PKID = @UPLOADID  
  
 IF @SOURCETABLE = 'LGD'  
 BEGIN  
  SELECT 1 AS PKID, @ME_CODE AS ME_CODE, EFF_DATE AS ME_PERIOD, LGW AS ME_VAL  
  FROM  
   IFRS_LGD_LGW_HEADER  
  WHERE  
   LGD_RULE_ID = @RULE_ID  
  ORDER BY  
   ME_PERIOD  
 END  
 ELSE  
 BEGIN  
  SELECT *  
  FROM IFRS_MACRO_ECONOMIC  
  WHERE HEADERID = @UPLOADID  
  ORDER BY ME_PERIOD;  
   END  
  
END;  
GO
