USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKPARAMCOAOFBSBYGLCODE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_CHECKPARAMCOAOFBSBYGLCODE](
@GLCode varchar(9)
,@PKID bigint = 0)
AS
BEGIN       

 SELECT
	*
    FROM GL_PARAM_COA_OFF_BS
	WHERE GLCode = @GLCode
		and PKID <> @PKID

END

GO
