USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_TERM_STRUCTURE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_TERM_STRUCTURE] (
   @Period          DATE='1900-01-01',
   @ProdGroup       int=0,
   @FLModel			bigint=0,
   @FLYear			varchar(10)=''
   )
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE	@V_Query   VARCHAR(MAX);
	DECLARE @V_ColumnName VARCHAR(MAX);
	
	IF @FLYear = 'All Years'
		SET @FLYear = ''

	SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + QUOTENAME(substring(convert(varchar(12),A.FL_DATE,113),3,12),'[')
	FROM IFRS_PD_TERM_STRUCTURE A
	JOIN IFRS_IMPC_BUCKET_PARAM B
	ON A.BUCKET_GROUP = B.BUCKET_GROUP
	AND A.PD_RULE_ID = @ProdGroup
	AND A.EFF_DATE = @Period
	AND YEAR(A.FL_DATE) = @FLYear
	GROUP BY A.FL_DATE
	ORDER BY A.FL_DATE;

	SET @V_Query = 'SELECT BUCKET_ID AS "Bucket ID", SUB_BUCKET_GROUP as "Bucket Name",' + @V_ColumnName + ' FROM 
					(
						SELECT
							A.BUCKET_ID
							,B.SUB_BUCKET_GROUP
							,substring(convert(varchar(12),A.FL_DATE,113),3,12) AS FL_DATE,A.PD
						FROM IFRS_PD_TERM_STRUCTURE A
						JOIN IFRS_IMPC_BUCKET_PARAM B
							ON A.BUCKET_GROUP = B.BUCKET_GROUP
							AND A.BUCKET_ID = B.BUCKET_ID
							AND A.PD_RULE_ID = ' + CAST(@ProdGroup AS VARCHAR(MAX)) + '
							AND A.EFF_DATE =''' + CAST(@Period AS VARCHAR(10)) + '''
							AND YEAR(A.FL_DATE) =''' + @FLYear + '''
					) TMP
					pivot 
					( sum(PD)
						for FL_DATE IN ('+ @V_ColumnName +')
					) PVT
					ORDER BY BUCKET_ID';
	
	IF (@V_ColumnName IS NULL)
		SET @V_Query = '
						SELECT A.BUCKET_ID AS "Bucket ID", SUB_BUCKET_GROUP as "Bucket Name" 
						FROM IFRS_PD_TERM_STRUCTURE A
						JOIN IFRS_IMPC_BUCKET_PARAM B
						ON A.BUCKET_GROUP = B.BUCKET_GROUP
						AND A.BUCKET_ID = B.BUCKET_ID
						AND A.PD_RULE_ID = ' + CAST(@ProdGroup AS VARCHAR(MAX)) + '
						AND A.EFF_DATE =''' + CAST(@Period AS VARCHAR(10)) + '''
						AND YEAR(A.FL_DATE) =''' + @FLYear + '''';

	print @V_Query;
	exec (@V_Query);

END

GO
