USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PDLGDEFFECTIVEDATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_PDLGDEFFECTIVEDATE]  
 @PERIOD DATETIME,  
 @LGD_EFF_DATE DATETIME,
 @PD_EFF_DATE DATETIME,  
 @CreatedBy varchar(36)='',         
 @CreatedHost varchar(30)=''
AS  
BEGIN  
	
 INSERT INTO [dbo].IFRS_ECL_EFFECTIVE_DATE_CTBC
	(
		[PERIOD]
		,PD_EFF_DATE
		,LGD_EFF_DATE
		,[CreatedBy]
		,[CreatedDate]
		,[CreatedHost]
	)
 VALUES  
	(
		EOMONTH(@PERIOD)
		,EOMONTH(@PD_EFF_DATE)
		,EOMONTH(@LGD_EFF_DATE)
		,@CreatedBy          
		,GETDATE()          
		,@CreatedHost          
	)
END

GO
