USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TRADEMODULECONTRACTATTR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_TRADEMODULECONTRACTATTR]  
(  
 @DDATE_MAID VARCHAR(100) = ''  
)  
AS  
BEGIN  
   
    SELECT
		REPLACE(CONVERT(VARCHAR, IMA.DOWNLOAD_DATE, 106), ' ', '-') DOWNLOAD_DATE,  
		IMA.DATA_SOURCE,
		IMA.CUSTOMER_NAME,  
        IMA.CUSTOMER_NUMBER,  
        IMA.FACILITY_NUMBER,  
        IMA.ACCOUNT_NUMBER,  
		IMA.PREVIOUS_ACCOUNT_NUMBER,  
        IMA.ACCOUNT_STATUS,  
		REPLACE(CONVERT(VARCHAR, IMA.LOAN_START_DATE, 106), ' ', '-') LOAN_START_DATE,  
        REPLACE(CONVERT(VARCHAR, IMA.LOAN_DUE_DATE, 106), ' ', '-') LOAN_DUE_DATE,
		REPLACE(CONVERT(VARCHAR, IMA.NEXT_PAYMENT_DATE, 106), ' ', '-') NEXT_PAYMENT_DATE,  
		REPLACE(CONVERT(VARCHAR, IMA.NEXT_INT_PAYMENT_DATE, 106), ' ', '-') NEXT_INT_PAYMENT_DATE,  
		REPLACE(CONVERT(VARCHAR, IMA.LOAN_START_AMORTIZATION, 106), ' ', '-') LOAN_START_AMORTIZATION,  
		REPLACE(CONVERT(VARCHAR, IMA.LOAN_END_AMORTIZATION, 106), ' ', '-') LOAN_END_AMORTIZATION,
		IMA.BRANCH_CODE,  
		IMB.BRANCH_DESC AS BRANCH_DESC,  
		IMA.PRODUCT_GROUP,  
        IMA.PRODUCT_TYPE,  
        IMA.PRODUCT_CODE,  
		PROD.PRD_DESC,  
		IMA.CURRENCY,  
		IMA.EXCHANGE_RATE,  
		IMA.AMORT_TYPE,  
		IMA.IFRS9_CLASS,  
		ISNULL(IMA.EIR, 0) EIR,  
		ISNULL(IMA.INTEREST_RATE, 0) INTEREST_RATE,  
		ISNULL(IMA.PLAFOND, 0) PLAFOND,  
		ISNULL(IMA.INITIAL_OUTSTANDING, 0) INITIAL_OUTSTANDING, 
		ISNULL(OUTSTANDING, 0) OUTSTANDING,
		ISNULL(IMA.FAIR_VALUE_AMOUNT,0) FAIR_VALUE_AMOUNT,  
		ISNULL(IMA.EAD_AMOUNT,0) EAD_AMOUNT,  
		ISNULL(IMA.ECL_AMOUNT,0) ECL_AMOUNT,  
		IMA.STAGE AS CR_STAGE,  
		ISNULL(IMA.TENOR, 0) TENOR,  
		ISNULL(IMA.REMAINING_TENOR, 0) REMAINING_TENOR,  
		IMA.BI_COLLECTABILITY,  
		ISNULL(IMA.DAY_PAST_DUE, 0) DAY_PAST_DUE, 
		IMA.IMPAIRED_FLAG,
		CASE WHEN IMA.DATA_SOURCE <> 'LIMIT' THEN CASE WHEN IMA.AMORT_TYPE='EIR' THEN convert(bit,0) ELSE convert(bit,1) END   
			ELSE IMA.REVOLVING_FLAG END AS REVOLVING_FLAG,  
		IMA.STAFF_LOAN_FLAG,  
		ISNULL(IMA.INITIAL_UNAMORT_ORG_FEE, 0) INITIAL_UNAMORT_ORG_FEE,  
        ISNULL(IMA.INITIAL_UNAMORT_TXN_COST, 0) INITIAL_UNAMORT_TXN_COST,  
		ISNULL(IMA.UNAMORT_FEE_AMT, 0) UNAMORT_FEE_AMT,  
		ISNULL(IMA.UNAMORT_COST_AMT, 0) UNAMORT_COST_AMT,  
        IMA.INTEREST_CALCULATION_CODE,  
		ISNULL(IMA.INTEREST_ACCRUED, 0) INTEREST_ACCRUED, 
		ISNULL(INITIAL_RATING_CODE, 0) INITIAL_RATING_CODE,
		ISNULL(RATING_CODE, 0) RATING_CODE,
		ISNULL(RATING_DOWNGRADE, 0) RATING_DOWNGRADE,
		ISNULL(PD_INITIAL_RATE, 0) PD_INITIAL_RATE,
		ISNULL(PD_CURRENT_RATE, 0) PD_CURRENT_RATE,
		ISNULL(PD_CHANGE, 0) PD_CHANGE,
		WATCHLIST_FLAG
	FROM IFRS_MASTER_ACCOUNT IMA (NOLOCK)  
    LEFT JOIN IFRS_MASTER_PRODUCT_PARAM PROD (NOLOCK) ON IMA.PRODUCT_CODE = PROD.PRD_CODE  
	LEFT JOIN IFRS_MASTER_BRANCH IMB (NOLOCK) ON IMB.BRANCH_CODE = IMA.BRANCH_CODE  
    WHERE IMA.MASTER_ACCOUNT_CODE = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))  
        AND IMA.DOWNLOAD_DATE = CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10) , 111)  
  
END;

GO
