USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_SEGMENT_PROFILING]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEGMENT_PROFILING]
@DOWNLOAD_DATE DATE = NULL
AS     
 DECLARE @V_CURRDATE DATE  
BEGIN  
 IF @DOWNLOAD_DATE IS NULL
 BEGIN     
    SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE_AMORT
 END
 ELSE
 BEGIN
    SET @V_CURRDATE = @DOWNLOAD_DATE
 END            
                
 -- UPDATE RESTRUCTURE FLAG                 
 IF OBJECT_ID ('TEMPDB.DBO.#RESTRU') IS NOT NULL DROP TABLE #RESTRU                
 SELECT * INTO #RESTRU FROM IFRS9_OLD..IFRS_MASTER_RESTRUCTURE  WHERE DOWNLOAD_DATE = @V_CURRDATE                
               
 -- initial run clear data                 
 update A                  
 set segment= NULL , NPL_FLAG = 0, BUCKET_GROUP = NULL, WRITEOFF_FLAG = 0,               
 RESTRUCTURE_FLAG = CASE WHEN B.MASTER_ACCOUNT_ID_OLD IS NOT NULL THEN 1 ELSE 0 END                
 FROM IFRS_MASTER_ACCOUNT A                 
 LEFT JOIN #RESTRU B ON A.CUSTOMER_NUMBER = B.CIF AND A.ACCOUNT_NUMBER = B.OLD_DEAL_REF  AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE                
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE                
                         
 --UPDATE SEGMENT                 
 UPDATE IFRS_MASTER_ACCOUNT                
 SET SEGMENT = CASE WHEN PRODUCT_TYPE IN ('BTPN','POS') THEN 'PUR_PENSION'                
 WHEN   PRODUCT_TYPE IN ('AE','CO','PRA PENSION') THEN 'PUR_NON_PENSION'                
 WHEN PRODUCT_TYPE  = 'MB' THEN 'MITRA_BISNIS'                
 WHEN PRODUCT_TYPE IN ('MENENGAH','MAPAN','KUR','KRL') THEN 'MUR_SECURED'                
 WHEN PRODUCT_TYPE IN ('BEBAS','FLEKSI','LIQUIDATING - MITRA USAHA RAKYAT') THEN 'MUR_UNSECURED'                
 WHEN PRODUCT_TYPE IN ('HCI') THEN 'CF_HCI'                 
 WHEN PRODUCT_TYPE IN ('BFI','OMA') THEN  'CF_BFI_OMA'                
 WHEN PRODUCT_TYPE IN ('SMFL') THEN 'CF_SMFL'                
 WHEN PRODUCT_TYPE IN ('AR FINANCING') THEN 'CF_ARFINANCING'                
 WHEN PRODUCT_TYPE IN ('TUNAI KITA') THEN 'CF_TUNAIKITA'                 
 WHEN PRODUCT_TYPE IN ('PICO LOAN') THEN 'PICO_LOAN'                
 WHEN PRODUCT_TYPE IN ('STAFF LOAN') THEN 'STAFF_LOAN'                
 ELSE NULL END                
 WHERE DOWNLOAD_DATE = @V_CURRDATE                
                    
 -- UPDATE NPL                  
 UPDATE IFRS_MASTER_ACCOUNT                
 SET NPL_FLAG = CASE WHEN SEGMENT IN ('PUR_PENSION','PUR_NON_PENSION','CF_HCI','CF_BFI_OMA','CF_SMFL','CF_ARFINANCING','CF_TUNAIKITA','STAFF_LOAN')                
    AND (DAY_PAST_DUE > 90 OR ACCOUNT_STATUS = 'WO') THEN 1                
    WHEN SEGMENT IN ('MITRA_BISNIS')  AND (DAY_PAST_DUE > 90 OR ACCOUNT_STATUS = 'WO' OR RESTRUCTURE_FLAG = 1 OR BI_COLLECTABILITY >= 3) THEN 1                 
    WHEN SEGMENT IN ('MUR_SECURED','MUR_UNSECURED') AND (DAY_PAST_DUE > 90 OR ACCOUNT_STATUS = 'WO' OR RESTRUCTURE_FLAG = 1 OR BI_COLLECTABILITY >= 3 ) THEN 1                 
    WHEN SEGMENT IN ('PICO_LOAN') AND DAY_PAST_DUE > 30 THEN 1                 
    ELSE 0 END                 
 WHERE DOWNLOAD_DATE = @V_CURRDATE                
                
 -- UPDATE FOR MITRA BISNIS NPL ONE OBLIGOR                
 IF OBJECT_ID ('TEMPDB.DBO.#NPL_MB') IS NOT NULL DROP TABLE #NPL_MB                
 SELECT DOWNLOAD_DATE, CUSTOMER_NUMBER into #NPL_MB                
 FROM IFRS_MASTER_ACCOUNT WHERE DOWNLOAD_DATE = @V_CURRDATE AND  SEGMENT = 'MITRA_BISNIS' AND NPL_FLAG = 1                
 GROUP BY DOWNLOAD_DATE, CUSTOMER_NUMBER                
                
 UPDATE A                
 SET A.NPL_FLAG = 1                
 FROM IFRS_MASTER_ACCOUNT A                 
 INNER JOIN #NPL_MB B ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE AND A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER                
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE                
                
 -- UPDATE BUCKET                 
 UPDATE IFRS_MASTER_ACCOUNT                
 SET BUCKET_GROUP = CASE                
 WHEN NPL_FLAG = 1  THEN 'NPL'                 
 WHEN DAY_PAST_DUE = 0 THEN 'MIA0'                
 WHEN DAY_PAST_DUE BETWEEN 1 AND 30 THEN 'MIA1'                
 WHEN DAY_PAST_DUE BETWEEN 31 AND 60 THEN 'MIA2'                
 WHEN DAY_PAST_DUE BETWEEN 61 AND 90 THEN 'MIA3'                
 WHEN DAY_PAST_DUE > 90 THEN 'NPL' END             
 WHERE DOWNLOAD_DATE = @V_CURRDATE AND  PRODUCT_TYPE <> 'PICO LOAN'                
                
 -- UPDATE BUCKET                  
 UPDATE IFRS_MASTER_ACCOUNT                
 SET BUCKET_GROUP = CASE WHEN DAY_PAST_DUE = 0 THEN 'MIA0'                
 WHEN DAY_PAST_DUE BETWEEN 1 AND 15 THEN 'MIA1'                
 WHEN DAY_PAST_DUE BETWEEN 15 AND 30 THEN 'MIA2'                
 WHEN DAY_PAST_DUE > 30 THEN 'NPL' END             
 WHERE DOWNLOAD_DATE = @V_CURRDATE AND  PRODUCT_TYPE = 'PICO LOAN'                
               
 -- UPDATE FP BUCKET                 
 IF OBJECT_ID ('TEMPDB.DBO.#NEXT_IMA') IS NOT NULL DROP TABLE #NEXT_IMA                
 SELECT * INTO #NEXT_IMA FROM IFRS_MASTER_ACCOUNT                
 WHERE DOWNLOAD_DATE = EOMONTH(DATEADD(MONTH,1,@V_CURRDATE))                
                
 -- UPDATE NPL BASED ON WO IN THE NEXT MONTH                 
 IF OBJECT_ID ('TEMPDB.DBO.#NEXT_IMA_WO') IS NOT NULL DROP TABLE #NEXT_IMA_WO                
 SELECT * INTO #NEXT_IMA_WO FROM #NEXT_IMA                
 WHERE  ACCOUNT_STATUS = 'W'                
                
 UPDATE A                 
 SET BUCKET_GROUP = 'NPL' , WRITEOFF_FLAG = 1                
 FROM IFRS_MASTER_ACCOUNT A                
 INNER JOIN #NEXT_IMA_WO B ON A.MASTERID = B.MASTERID               
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE    AND A.SEGMENT IN ('CF_HCI','PUR_PENSION','PUR_NON_PENSION')                
 AND A.DOWNLOAD_DATE < '30 JUN 2018'             
            
 UPDATE A                 
 SET BUCKET_GROUP = 'NPL'      , WRITEOFF_FLAG = 1                
 FROM IFRS_MASTER_ACCOUNT A                
 INNER JOIN #NEXT_IMA_WO B ON A.MASTERID = B.MASTERID                
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE   AND A.SEGMENT NOT IN ('CF_HCI','PUR_PENSION','PUR_NON_PENSION')                
 AND A.DOWNLOAD_DATE < '31 DEC 2017'              
                
 UPDATE A                 
 SET BUCKET_GROUP = 'FP'                
 FROM IFRS_MASTER_ACCOUNT A              
 INNER JOIN IFRS9_OLD..MASTER_MAX_DOWNLOAD_DATE B ON A.MASTERID = B.MASTER_ACCOUNT_ID AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE             
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE                 
 AND A.SEGMENT IN ('CF_HCI','PUR_PENSION','PUR_NON_PENSION')                
 AND A.DOWNLOAD_DATE < '30 JUN 2018' AND A.DAY_PAST_DUE < 180                
 AND A.MASTERID NOT IN (SELECT DISTINCT MASTER_ACCOUNT_ID FROM #NEXT_IMA)                 
 AND RESTRUCTURE_FLAG <> 1                
                
 UPDATE A                 
 SET BUCKET_GROUP = 'FP'                
 FROM IFRS_MASTER_ACCOUNT A                
 INNER JOIN IFRS9_OLD..MASTER_MAX_DOWNLOAD_DATE B ON A.MASTERID = B.MASTER_ACCOUNT_ID AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE            
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE                 
 AND A.SEGMENT NOT IN ('CF_HCI','PUR_PENSION','PUR_NON_PENSION')                
 AND A.DOWNLOAD_DATE < '31 DEC 2017' AND A.DAY_PAST_DUE < 180                
 AND A.MASTERID NOT IN (SELECT DISTINCT MASTER_ACCOUNT_ID FROM #NEXT_IMA)                 
 AND A.RESTRUCTURE_FLAG <> 1            
          
 -- UPDATE LAGI YANG FP           
 UPDATE IFRS_MASTER_ACCOUNT          
 SET BUCKET_GROUP = 'NPL' , WRITEOFF_FLAG = 1          
 WHERE DOWNLOAD_DATE = @V_CURRDATE AND BUCKET_GROUP = 'FP'           
 AND MASTERID  IN (SELECT DISTINCT MASTER_ACCOUNT_ID FROM IFRS9_OLD..IFRS_MASTER_WO_TEMP)                
          
 IF OBJECT_ID ('TEMPDB.DBO.#IMA_MB') IS NOT NULL DROP TABLE #IMA_MB          
 SELECT CUSTOMER_NUMBER, MAX(BUCKET_GROUP) AS MAX_BUCKET INTO  #IMA_MB           
 FROM IFRS_MASTER_ACCOUNT WHERE  DOWNLOAD_DATE   = @V_CURRDATE AND SEGMENT = 'MITRA_BISNIS' GROUP BY CUSTOMER_NUMBER          
          
 UPDATE A          
 SET BUCKET_GROUP = B.MAX_BUCKET          
 FROM IFRS_MASTER_ACCOUNT A INNER JOIN           
 #IMA_MB B ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER          
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE  AND SEGMENT  = 'MITRA_BISNIS'          
END 
GO
