USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_ME_CORRELATION]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPU_ME_CORRELATION]
( 
	@PKID int=0,
	@IsCheck bit=0,
	@UpdatedBy varchar(36)='',
	@UpdatedHost varchar(36)=''
)
as
begin
	update TMP_IFRS_ME_MODEL_CORRELATION
	set IS_CHOSEN = @IsCheck
	where PKID = @PKID
end

GO
