USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_SP_LI_SEQUENCE]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EXEC_SP_LI_SEQUENCE] @START DATE, @END DATE      
AS       
BEGIN       
      
 WHILE @START <= @END      
 BEGIN      
  DECLARE @CURRDATE DATE      
  SET @CURRDATE = @START      
      
  UPDATE IFRS_LI_PRC_DATE_AMORT SET CURRDATE = @CURRDATE, PREVDATE = DATEADD(DAY,-1,@CURRDATE)      
      
  EXEC SP_IFRS_LI_AMORT_SEQUENCE;      
      
      
  dbcc shrinkfile('IFRS9_log', 0)  
      
      
  SET @START = DATEADD(DAY,1,@START)      
      
 END       
      
END
GO
