USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DATASOURCE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DATASOURCE]      
(      
 @datasourceid varchar(50)        
)      
AS      
begin       
     
 SELECT * FROM tblS_DataSource nolock where DataSourceID = @datasourceid    
             
end

GO
