USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_CHANGEDCFSTATUSRESONA]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_CHANGEDCFSTATUSRESONA]    
(    
 @CIF VARCHAR(100),  
 @ACCNUM VARCHAR(100),    
 @FLAG VARCHAR(100),  
 @Method VARCHAR(100),  
 @Remark VARCHAR(2000),  
 @Updatedby VARCHAR(36),    
 @UpdatedHost VARCHAR(30)    
)    
AS    
BEGIN    
    
 DECLARE @CurrDate DATETIME;    
    
 SELECT @CurrDate = CURRDATE     
 FROM IFRS_PRC_DATE;    
    
 BEGIN TRAN    
    
 UPDATE IFRS_IMP_OVERRIDE_DETAIL_TEMP  
 SET DCFSTATUS = 'Need Approval',  
  METHOD = @Method,  
  REMARK = @Remark,  
  FLAG_IMPAIRMENT = @FLAG,  
  UPDATEDBY = @Updatedby,    
  UPDATEDDATE = GETDATE(),    
  UPDATEDHOST = @UpdatedHost    
 WHERE CUSTOMER_NUMBER = @CIF    
  AND DOWNLOAD_DATE = @CurrDate    
  AND MASTERID = @ACCNUM   
    
 IF @@ERROR <> 0                        
  ROLLBACK    
 ELSE                
  COMMIT    
    
END;  
GO
