USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IMP_SCENARIO_H_PENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IMP_SCENARIO_H_PENDING]
(
	@DOWNLOAD_DATE DATE, 
	@EFFECTIVE_DATE DATE, 
	@OVERRIDE_NO BIGINT, 
	@SCENARIO_NO INT, 
	@SCENARIO_NAME VARCHAR(50), 
	@POS_RATE FLOAT, 
	@PRE_DEFAULT_RATE FLOAT, 
	@EAD DECIMAL(32,6), 
	@IPP DECIMAL(32,6), 
	@IPD DECIMAL(32,6), 
	@IIP DECIMAL(32,6), 
	@REMARKS VARCHAR(200), 
	@DCFSTATUS VARCHAR(1), 
	@CREATEDBY VARCHAR(36), 
	@CREATEDHOST VARCHAR(30)
) 
AS 
BEGIN

	INSERT INTO IFRS_FL_SCENARIO_IA_H_PEND  
	(
		DOWNLOAD_DATE, 
		EFFECTIVE_DATE, 
		OVERRIDE_NO, 
		SCENARIO_NO, 
		SCENARIO_NAME, 
		POS_RATE, 
		PRE_DEFAULT_RATE, 
		EAD, 
		IPP, 
		IPD, 
		IIP, 
		REMARKS, 
		DCFSTATUS, 
		CREATEDBY, 
		CREATEDHOST
	) 
	VALUES 
	(
		@DOWNLOAD_DATE,  
		@EFFECTIVE_DATE,  
		@OVERRIDE_NO,  
		@SCENARIO_NO,  
		@SCENARIO_NAME,  
		@POS_RATE,  
		@PRE_DEFAULT_RATE,  
		@EAD,  
		@IPP,  
		@IPD,  
		@IIP,  
		@REMARKS,  
		@DCFSTATUS,
		@CREATEDBY,  
		@CREATEDHOST
	)  
  
END  

GO
