USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_FILL_WO_MB_SEQUENCE]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[EXEC_FILL_WO_MB_SEQUENCE] @START DATE, @END DATE    
AS     
BEGIN     
    
  DECLARE @CURRDATE DATE
 WHILE @START <= @END    
 BEGIN        
  SET @CURRDATE = EOMONTH(@START)
    
		print @start

delete ifrs_master_wo_mb where download_date=@CURRDATE;

/* insert wo data only, if recovery date is null*/
insert into ifrs_master_wo_mb
(
download_date,
account_number,
customer_number,
currency,
masterid,
outstanding_wo,
product_code,
recovery_amount,
recovery_date,
writeoff_date,
source_table,
co_flag
)
select  
@currdate,
rtrim(ltrim(ACCOUNT_NUMBER)),
rtrim(ltrim(CUSTOMER_NUMBER)),
CURRENCY,
concat(rtrim(ltrim(PRODUCT_CODE)),'_',rtrim(ltrim(ACCOUNT_NUMBER)),'_',rtrim(ltrim(CUSTOMER_NUMBER))) as masterid,
WO_AMOUNT,
rtrim(ltrim(PRODUCT_CODE)),
0 as RECOVERY_AMOUNT,
null as RECOVERY_DATE,
convert(datetime,wo_date),
'TBLU_WO_MB' as source_table,
0 as co_flag
from TBLU_WO_MB
where 
convert(datetime,wo_date)between DATEFROMPARTS(year(@CURRDATE),month(@CURRDATE),1) and @CURRDATE
and
RECOVERY_DATE is null



/* insert wo data + recovery if recovery date is  in the same month as wo date*/
insert into ifrs_master_wo_mb
(
download_date,
account_number,
customer_number,
currency,
masterid,
outstanding_wo,
product_code,
recovery_amount,
recovery_date,
writeoff_date,
source_table,
co_flag
)
select  
@currdate,
rtrim(ltrim(ACCOUNT_NUMBER)),
rtrim(ltrim(CUSTOMER_NUMBER)),
CURRENCY,
concat(rtrim(ltrim(PRODUCT_CODE)),'_',rtrim(ltrim(ACCOUNT_NUMBER)),'_',rtrim(ltrim(CUSTOMER_NUMBER))) as masterid,
WO_AMOUNT,
rtrim(ltrim(PRODUCT_CODE)),
RECOVERY_AMOUNT,
convert(datetime,RECOVERY_DATE),
convert(datetime,wo_date),
'TBLU_WO_MB' as source_table,
0 as co_flag
from TBLU_WO_MB
where 
convert(datetime,wo_date) between DATEFROMPARTS(year(@CURRDATE),month(@CURRDATE),1) and @CURRDATE
and
isnull(convert(datetime,recovery_date),'31-Jan-2000')  between DATEFROMPARTS(year(@CURRDATE),month(@CURRDATE),1) and @CURRDATE


/* insert recovery data that has different month with wo data */

insert into ifrs_master_wo_mb
(
download_date,
account_number,
customer_number,
currency,
masterid,
outstanding_wo,
product_code,
recovery_amount,
recovery_date,
writeoff_date,
source_table,
co_flag
)
select  
@currdate,
rtrim(ltrim(ACCOUNT_NUMBER)),
rtrim(ltrim(CUSTOMER_NUMBER)),
CURRENCY,
concat(rtrim(ltrim(PRODUCT_CODE)),'_',rtrim(ltrim(ACCOUNT_NUMBER)),'_',rtrim(ltrim(CUSTOMER_NUMBER))) as masterid,
WO_AMOUNT,
rtrim(ltrim(PRODUCT_CODE)),
RECOVERY_AMOUNT,
convert(datetime,RECOVERY_DATE),
convert(datetime,wo_date),
'TBLU_WO_MB' as source_table,
0 as co_flag
from TBLU_WO_MB
where 
convert(datetime,wo_date) not between DATEFROMPARTS(year(@CURRDATE),month(@CURRDATE),1) and @CURRDATE
and
isnull(convert(datetime,recovery_date),'31-Jan-2000')  between DATEFROMPARTS(year(@CURRDATE),month(@CURRDATE),1) and @CURRDATE



/* insert wo data only, if all recovery is not the same month as wo*/
insert into ifrs_master_wo_mb
(
download_date,
account_number,
customer_number,
currency,
masterid,
outstanding_wo,
product_code,
recovery_amount,
recovery_date,
writeoff_date,
source_table,
co_flag
)
select  
@currdate,
rtrim(ltrim(ACCOUNT_NUMBER)),
rtrim(ltrim(CUSTOMER_NUMBER)),
CURRENCY,
concat(rtrim(ltrim(PRODUCT_CODE)),'_',rtrim(ltrim(ACCOUNT_NUMBER)),'_',rtrim(ltrim(CUSTOMER_NUMBER))) as masterid,
WO_AMOUNT,
rtrim(ltrim(PRODUCT_CODE)),
0 as RECOVERY_AMOUNT,
null as RECOVERY_DATE,
convert(datetime,wo_date),
'TBLU_WO_MB' as source_table,
0 as co_flag
from TBLU_WO_MB a
where 
convert(datetime,a.wo_date)between DATEFROMPARTS(year(@CURRDATE),month(@CURRDATE),1) and @CURRDATE
and a.RECOVERY_DATE in 
(
select min(isnull(recovery_date,'20000101')) from tblu_wo_mb
where ACCOUNT_NUMBER =a.ACCOUNT_NUMBER
and CUSTOMER_NUMBER=a.CUSTOMER_NUMBER
and PRODUCT_CODE=a.PRODUCT_CODE
)
and
convert(datetime,a.recovery_date)not between DATEFROMPARTS(year(@CURRDATE),month(@CURRDATE),1) and @CURRDATE


    
  SET @START = EOMONTH(DATEADD(M,1,@START))    
    
 END     
    
END


GO
