USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_IAPSCENARIO]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_IAPSCENARIO](
	@PKID bigint = 0  
)  
AS       
BEGIN  

	UPDATE IFRS_IAP_PARAM
		SET IS_DELETE = 1
	WHERE PKID = @PKID  

	UPDATE IFRS_IAP_PARAM_SCENARIO
		SET IS_DELETE = 1
	WHERE HEADER_ID = @PKID

END  

GO
