USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPROVALDBYSCREENID]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_APPROVALDBYSCREENID]            
(      
 @ScreenID varchar(50),              
 @FieldName varchar(50)      
)      
AS      
BEGIN      
      
	IF @ScreenID='GROUP_ACCESS'  --lulus test Herlina    
	BEGIN    
		SELECT
			distinct screenid,
			fieldname,
			NEWVALUE as "OldValue",
			'' iskey
		FROM tblT_ApprovalHeader H    
		right Join tblT_ApprovalDetail D on H.PKID = D.HeaderID    
		where MASTERID in (select pkid from TBLT_APPROVALHEADER where screenid = 'MENU_MANAGEMENT' and action ='UPDATE' and status='P' )    
			and H.status = 'P'    
			and screenid = 'MENU_MANAGEMENT'    
			and fieldname='HeaderID'    
		
		UNION    
		SELECT
			distinct screenid,
			fieldname,
			OldValue,
			'' iskey
		FROM tblT_ApprovalHeader H    
		right Join tblT_ApprovalDetail D on H.PKID = D.HeaderID    
		where H.status = 'P'    
			and action ='DELETE'    
			and screenid = 'MENU_MANAGEMENT'    
			and fieldname='HeaderID'      
	END    
	ELSE IF @ScreenID='GROUPIMPAIRBUCKET_H'  --lulus test Herlina    
	BEGIN       
		SELECT
			DISTINCT --a. HeaderID,       
			'GROUPIMPAIRBUCKET_H',
			'BUCKET_GROUP',
			a.OldValue,
			1
		FROM TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID and b.Action in ('UPDATE','DELETE')      
		where b. ScreenID in ('GROUPIMPAIRBUCKET_D','GROUPIMPAIRBUCKET_H') 
			AND A.FieldName ='Bucket_Group' AND b.Status ='P'       
	END    
	ELSE IF @ScreenID='MAPPING_RULES'  --lulus test Herlina    
	BEGIN       
		--SELECT DISTINCT --a. HeaderID,       
		--'MAPPING_RULES', 'PKID', a.OldValue,1 FROM TblT_ApprovalDetail a        
		--left join TblT_ApprovalHeader b        
		-- on a. HeaderID = b. PKID  and b.Action in ('DELETE')      
		--where b. ScreenID in ('MAPPING_RULES_ACCESS')  AND A.FieldName ='MappingRuleId' AND b.Status ='P'      
		--UNION    
		-- SELECT DISTINCT --a. HeaderID,       
		--'MAPPING_RULES', 'PKID', a.OldValue,1 FROM TblT_ApprovalDetail a        
		--left join TblT_ApprovalHeader b        
		-- on a. HeaderID = b. PKID  and b.Action in ('DELETE')      
		--where b. ScreenID in ('MAPPING_RULES')  AND A.FieldName ='PKID' AND b.Status ='P'


		SELECT
			DISTINCT --a. HeaderID,       
			'MAPPING_RULES',
			'PKID',
			a.OldValue,
			1
		FROM TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID  and b.Action in ('DELETE','UPDATE')      
		where b. ScreenID in ('MAPPING_RULES_ADD')
			AND A.FieldName ='PKID'
			AND b.Status ='P'      
		
		UNION    
		SELECT
			DISTINCT --a. HeaderID,       
			'MAPPING_RULES',
			'PKID',
			a.OldValue,
			1
		FROM TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID  and b.Action in ('DELETE','UPDATE')      
		where b. ScreenID in ('MAPPING_RULES_ADD') 
			AND A.FieldName ='PKID'
			AND b.Status ='P'
	END    
	ELSE IF @ScreenID='SEGMENTATION_SETTINGS_D'  --lulus test Herlina    
	BEGIN    
		SELECT
			DISTINCT --a. HeaderID,       
			'SEGMENTATION_SETTINGS_D',
			'PKID',
			a.OldValue,
			1
		FROM TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID  and b.Action in ('UPDATE','DELETE')      
		where b. ScreenID in ('SEGMENTATION_SETTINGS_E','SEGMENTATION_SETTINGS_D')
			AND A.FieldName ='PKID'
			AND b.Status ='P'    
	END    
	ELSE IF @ScreenID='CONFIG_PD' --lulus test Herlina    
	BEGIN    
		SELECT
			DISTINCT --a. HeaderID,       
			'CONFIG_PD',
			'PKID',
			a.OldValue,
			1
		FROM TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID  and b.Action in ('UPDATE','DELETE')      
		where b. ScreenID in ('CONFIG_PD_ADD','CONFIG_PD')
			AND A.FieldName ='PKID' AND b.Status ='P'    
	END    
	ELSE IF @ScreenID='CONFIG_LGD' --lulus test Herlina    
	BEGIN    
		SELECT
			DISTINCT --a. HeaderID,       
			'CONFIG_LGD',
			'PKID',
			a.OldValue,
			1
		FROM TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID  and b.Action in ('UPDATE','DELETE')      
		where b. ScreenID in ('CONFIG_LGD_ADD','CONFIG_LGD')
			AND A.FieldName ='PKID' AND b.Status ='P'       
	END    
	ELSE IF @ScreenID='CONFIG_CCF' --lulus test Herlina    
	BEGIN    
		SELECT
			DISTINCT --a. HeaderID,       
			'CONFIG_CCF',
			'PKID',
			a.OldValue,
			1
		FROM TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID  and b.Action in ('UPDATE','DELETE')      
		where b. ScreenID in ('CONFIG_CCF_ADD','CONFIG_CCF')
			AND A.FieldName ='PKID' AND b.Status ='P'       
	END    
	ELSE IF @ScreenID='CONFIG_EAD' --lulus test Herlina    
	BEGIN    
		SELECT
			DISTINCT --a. HeaderID,       
			'CONFIG_EAD',
			'PKID',
			a.OldValue,
			1
		FROM TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID  and b.Action in ('UPDATE','DELETE')      
		where b. ScreenID in ('CONFIG_EAD_ADD','CONFIG_EAD')
			AND A.FieldName ='PKID'
			AND b.Status ='P'    
	END    
	ELSE IF @ScreenID='SCENARIORULE_D' --lulus test Herlina    
	BEGIN    
		SELECT
			DISTINCT --a. HeaderID,       
			'SCENARIORULE_D',
			'PKID',
			a.OldValue,
			1
		FROM TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID  and b.Action in ('UPDATE','DELETE')      
		where b. ScreenID in ('SCENARIORULE_D','SCENARIORULE_E','SCENARIORULESICR_E')
			AND A.FieldName ='PKID'
			AND b.Status ='P'    
    END    
	ELSE IF @ScreenID='AC_BMA_SETUP'    
	BEGIN    
		SELECT
			DISTINCT --a. HeaderID,       
			'AC_BMA_SETUP_E',
			'PKID',
			a.OldValue,
			1
		FROM TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID  and b.Action in ('UPDATE','DELETE')      
		where b. ScreenID in ('AC_BMA_SETUP','AC_BMA_SETUP_E')
			AND A.FieldName ='PKID'  
			AND b.Status ='P'
			AND MASTERID = 0  
    END    
	ELSE IF @ScreenID='AC_SPPI_CLASSIFICATION'    
	BEGIN    
		SELECT
			DISTINCT --a. HeaderID,       
			'AC_SPPI_CLASSIFICATION',
			'PKID',
			PKID_OLD AS OldValue,
			1
		FROM IFRS_AC_SPPI_HEADER_PENDING
		WHERE STATUS = 'PENDING'    
    END    
	ELSE IF @ScreenID='AC_BMA_CLASSIFICATION'    
	BEGIN    
		SELECT
			DISTINCT --a. HeaderID,       
			'AC_BMA_CLASSIFICATION',
			'PKID',
			PKID_OLD AS OldValue,
			1
		FROM IFRS_AC_BM_HEADER_PENDING
		WHERE STATUS = 'PENDING'    
    END   
	ELSE IF @ScreenID='ME_VAR_FORECAST'    
	BEGIN    
		SELECT
			DISTINCT --a. HeaderID,       
			'ME_VAR_FORECAST',
			'PKID',
			(SELECT PKID FROM IFRS_ME_FORECAST WHERE ME_CODE = A.ME_CODE) AS OldValue,
			1
		FROM IFRS_ME_FORECAST_PEND A
    END    
	ELSE    
	BEGIN  --lulus test Herlina    
		select --a. HeaderID,        
			distinct      
			b.ScreenID,
			a.FieldName,
			a.OldValue,
			'' IsKey        
		from TblT_ApprovalDetail a        
		left join TblT_ApprovalHeader b on a. HeaderID = b. PKID  and b.Action in ('UPDATE','DELETE')      
		where b. ScreenID = @ScreenID       
			AND b.Status ='P'        
			AND FieldName = @FieldName        
	END    
END    

GO
