USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADDCFPENDINGAPPROVAL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADDCFPENDINGAPPROVAL]    
(    
 @userid varchar(36)=''  
)    
AS    
BEGIN    
 SELECT  DISTINCT OVR.OVERRIDE_NO,    
		'DCF Upload Approval' as "TaskName",
		CASE WHEN OVR.DCFSTATUS = '2'
		THEN
			'Pending Approval Preview'
		ELSE 
			'Pending Approval End of Month'
		END [Status],	  
		OVR.CREATEDBY as "UploadedBy",    
		MAX(OVR.CREATEDDATE) as "UploadedDate",    
		(     
			   SELECT	FullName     
			   FROM		tblM_User U    
			   WHERE	U.pkid = OVR.CREATEDBY     
		) as "UploadedName",    
		OVR.CUSTOMER_NUMBER as "CustomerNumber",    
		'' as "FacilityNumber"    
 FROM	IFRS_IMP_OVERRIDE_PENDING OVR    
		LEFT JOIN tblM_ReportTo r ON OVR.CREATEDBY = r.UserID    
 WHERE	ISNULL(r.ReportTo, OVR.UPDATEDBY) = @userid    
		AND OVR.DCFSTATUS IN ('2','3')    
 GROUP BY OVR.OVERRIDE_NO,    
  OVR.CREATEDBY,    
  OVR.CUSTOMER_NUMBER,
  OVR.DCFSTATUS;    
      
END;

GO
