USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ECL_DELETE_PENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_ECL_DELETE_PENDING]
	@ECL_ID bigint,
	@CREATEDBY varchar(50),
	@CREATEDHOST varchar(36)
AS 
	BEGIN
	SELECT * FROM IFRS_ECL_MODEL_HEADER_PENDING
		--INSERT TO PENDING TABLE 
		INSERT INTO IFRS_ECL_MODEL_HEADER_PENDING  
			(ECL_MODEL_NAME, ACTIVE_STATUS, RUN_STATUS, APPROVAL_STATUS,ACTION,PKID_OLD
			, CREATEDBY, CREATEDDATE, CREATEDHOST)  
		SELECT	ECL_MODEL_NAME,ACTIVE_STATUS,RUN_STATUS,'P' APPROVAL_STATUS,'DELETE' AS ACTION,PKID
		, @CREATEDBY, GETDATE(), @CREATEDHOST
		FROM	IFRS_ECL_MODEL_HEADER
		WHERE	PKID = @ECL_ID
		
		DECLARE @HEADER_ID bigint;
		
		SELECT TOP 1 @HEADER_ID = PKID 
		FROM  IFRS_ECL_MODEL_HEADER_PENDING
		ORDER BY PKID DESC	
		--INSERT PF INTO TBLM PENDING DETAIL
		INSERT INTO IFRS_ECL_MODEL_DETAIL_PF_PEND([ECL_MODEL_ID],[SEGMENTATION_ID],[LT_RULE_ID]
      ,[SICR_RULE_ID],[UPSIDE_VALUE],[BASE_VALUE],[DOWNSIDE_VALUE],[UPSIDE_PROB_OUTCOME],[BASE_PROB_OUTCOME]
      ,[DOWNSIDE_PROB_OUTCOME],[OVERLAY_AMOUNT])
		SELECT	@HEADER_ID , [SEGMENTATION_ID],[LT_RULE_ID]
      ,[SICR_RULE_ID],[UPSIDE_VALUE],[BASE_VALUE],[DOWNSIDE_VALUE],[UPSIDE_PROB_OUTCOME],[BASE_PROB_OUTCOME]
      ,[DOWNSIDE_PROB_OUTCOME],[OVERLAY_AMOUNT]
		FROM	IFRS_ECL_MODEL_DETAIL_PF 	
		WHERE	ECL_MODEL_ID = @ECL_ID
		
		--INSERT PD INTO TBLM PENDING DETAIL
		INSERT INTO IFRS_ECL_MODEL_DETAIL_PD_PEND([ECL_MODEL_ID]
      ,[SEGMENTATION_ID]
      ,[PD_MODEL_ID]
      ,[ME_MODEL_ID])
		SELECT	@HEADER_ID
      ,[SEGMENTATION_ID]
      ,[PD_MODEL_ID]
      ,[ME_MODEL_ID]
 		FROM	IFRS_ECL_MODEL_DETAIL_PD 	
		WHERE	ECL_MODEL_ID = @ECL_ID
		
		--INSERT LGD INTO TBLM PENDING DETAIL
		INSERT INTO IFRS_ECL_MODEL_DETAIL_LGD_PEND([ECL_MODEL_ID]
      ,[SEGMENTATION_ID]
      ,[LGD_MODEL_ID]
      ,[ME_MODEL_ID])
		SELECT	@HEADER_ID
      ,[SEGMENTATION_ID]
      ,[LGD_MODEL_ID]
      ,[ME_MODEL_ID]
		FROM	IFRS_ECL_MODEL_DETAIL_LGD 	
		WHERE	ECL_MODEL_ID = @ECL_ID

		
		--INSERT EAD INTO TBLM PENDING DETAIL
		INSERT INTO IFRS_ECL_MODEL_DETAIL_EAD_PEND([ECL_MODEL_ID]
      ,[SEGMENTATION_ID]
      ,[EAD_MODEL_ID])
		SELECT	@HEADER_ID
      ,[SEGMENTATION_ID]
      ,[EAD_MODEL_ID]
		FROM	IFRS_ECL_MODEL_DETAIL_EAD 	
		WHERE	ECL_MODEL_ID = @ECL_ID

	END

GO
