USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECK_OVERRIDE_ACCOUNT_PEND]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_CHECK_OVERRIDE_ACCOUNT_PEND](      
 @CIF VARCHAR(100),      
 @BUSINESS_UNIT VARCHAR(20)   
)      
AS      
BEGIN      
   
 SELECT    
  *  
 FROM IFRS_IMP_IA_MASTER_PEND
 WHERE CUSTOMER_NUMBER = @CIF
	AND DATA_SOURCE<>'LIMIT'
	AND DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B1031' AND PARENTCOMMONCODEVALUE = @BUSINESS_UNIT AND ISNULL(IS_DELETE,0) = 0)
  
END 

GO
