USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETHEADERMAPPINGTABLE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_GETHEADERMAPPINGTABLE]
(
	@UploadID BIGINT
)
AS
BEGIN
	
	SELECT COLUMN_NAME
	FROM TBLU_DOC_TEMP_HEADER
	WHERE UPLOADID = @uploadid
	ORDER BY PKID;

END;
GO
