USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_EAD_CONFIG_ECL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_EAD_CONFIG_ECL]  
AS  
BEGIN  
 SELECT  
  A.PKID as RULE_ID  
  ,EAD_RULE_NAME as RULE_NAME  
  ,SUB_SEGMENT [DESC]    
 FROM IFRS_EAD_RULES_CONFIG A  
 JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID    
 WHERE SEGMENT_TYPE = 'EAD_SEGMENT'  
  AND ISNULL(A.IS_DELETE,0) =0  
END
GO
