USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspI_MappingRulesH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[uspI_MappingRulesH]      
(      
 @MappingName varchar(100)='',      
 @Description varchar(200)='',      
 @TableName varchar(50)='',      
 @MapType varchar(50)='',      
 @FileType varchar(20)='',      
 @FileName varchar(500)='',      
 @NeedApproved bit,      
 @KeyHistory varchar(100)='',      
 @userID varchar(100)='',      
 @CreatedBy varchar(36)='',      
 @CreatedHost varchar(30)=''      
)      
as      
begin      
         
      
 INSERT INTO TBLM_MAPPINGRULEHEADER_NEW      
  (      
   MAPPINGNAME, MAPPINGDESCRIPTION, TABLEDESTINATION, MAPPINGTYPE, FILETYPE, FILENAME, NEEDAPPROVAL,      
   KEYHISTORY, CREATEDBY, CREATEDDATE, CREATEDHOST      
  )      
 VALUES      
  (      
   @MappingName, @Description, @TableName, @MapType, @FileType, @FileName, @NeedApproved,       
   @KeyHistory, @CreatedBy,  getdate(), @CreatedHost      
         
  )
  
DECLARE @ScreenGroupID int;
DECLARE @PKID int;
SELECT @ScreenGroupID =  SCREENGROUPID  
    FROM TBLM_USER  
    WHERE CAST(PKID as varchar(36)) = @CreatedBy 
	
select TOP 1 @PKID =  PKID from TBLM_MAPPINGRULEHEADER_NEW ORDER BY CREATEDDATE DESC	      

INSERT TBLM_MAPPING_RULE_SCREENGROUP
VALUES
(
@PKID
,
@ScreenGroupID
)    

       
end  
GO
