USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_SYNC_HOLIDAY_OVERRIDE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    
CREATE PROCEDURE [dbo].[SP_IFRS_SYNC_HOLIDAY_OVERRIDE]   
AS    
  
DECLARE @V_CURRDATE DATE  
 ,@STARTDATE DATE  
 ,@ENDDATE DATE  
    
BEGIN    
 SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE  
  
 DELETE  IFRS_HOLIDAY_OVERRIDE WHERE OVERRIDE_DATE   >= @V_CURRDATE  
  
 SELECT @STARTDATE = CAST(VALUE1 AS DATE), @ENDDATE = CAST(VALUE2  AS DATE)  
 FROM TBLM_COMMONCODEDETAIL  
 WHERE COMMONCODE = 'S0055'  
  AND  @V_CURRDATE BETWEEN CAST(VALUE1 AS DATE) AND CAST(VALUE2 AS DATE)   
  
 SELECT @STARTDATE = CASE WHEN @V_CURRDATE > @STARTDATE THEN @V_CURRDATE ELSE @STARTDATE END  
  
 WHILE @STARTDATE <= @ENDDATE  
 BEGIN  
  INSERT INTO IFRS_HOLIDAY_OVERRIDE (OVERRIDE_DATE)  
  SELECT @STARTDATE  
  
  SELECT @STARTDATE = DATEADD(DAY,1,@STARTDATE)  
 END   
  
END 

GO
