USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SPPI_HEADER]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_SPPI_HEADER]                          
(                          
 @CLASSNAME varchar(100) = '',
 @EFFECTIVE_DATE date = '2000/01/01',
 @PRODUCT_CODE varchar(max) = '',
 @STATUS varchar(50) = '',
 @SPPI_RSLT varchar(50) = '',
 @OVERRIDE_FLG bit= 0,
 @OVERRIDE_RSLT varchar(50) = '',
 @OVERRIDE_REMARKS varchar(2000) = '',
 @ACTION varchar(10) = '',
 @PKID_OLD bigint = 0,
 @UPDATEDBY varchar(36) = '',             
 @UPDATEDHOST varchar(30) = ''             
)            
AS  
BEGIN  
DECLARE @CLASSID bigint = 0

 --INSERT INTO SPPI HEADER
	UPDATE IFRS_AC_SPPI_HEADER
		SET [CLASSNAME] = @CLASSNAME,[EFFECTIVE_DATE] = @EFFECTIVE_DATE,[PRODUCT_CODE] = @PRODUCT_CODE
			,[SPPI_RSLT] = @SPPI_RSLT,[INTEREST_TYPE] = NULL,[STATUS] = 'APPROVED'
			,[OVERRIDE_FLG] = @OVERRIDE_FLG,[OVERRIDE_RSLT] = @OVERRIDE_RSLT
			,[OVERRIDE_REMARKS] = @OVERRIDE_REMARKS,[UPDATEDBY] = @UPDATEDBY
			,[UPDATEDDATE] = GETDATE(),[CREATEDHOST] = @UPDATEDHOST
	WHERE PKID = @PKID_OLD
		
 --GET PKID HEADER
	--GET CLASSID
	SELECT @CLASSID = MAX(PKID) FROM IFRS_AC_SPPI_HEADER WHERE PKID = @PKID_OLD
	
	--INSERT INTO SPPI HEADER HISTORY
	INSERT INTO IFRS_AC_SPPI_HEADER_HIST([PKID_HEADER],[CLASSNAME],[EFFECTIVE_DATE],[PRODUCT_CODE],[SPPI_RSLT],[INTEREST_TYPE],[STATUS],[OVERRIDE_FLG]
			,[OVERRIDE_RSLT],[OVERRIDE_REMARKS],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST],[APPROVEDBY]
			,[APPROVEDDATE],[APPROVEDHOST])
		SELECT @CLASSID,[CLASSNAME],[EFFECTIVE_DATE],[PRODUCT_CODE],[SPPI_RSLT],[INTEREST_TYPE],'APPROVED',[OVERRIDE_FLG],[OVERRIDE_RSLT]
			,[OVERRIDE_REMARKS],[CREATEDBY],[CREATEDDATE],[CREATEDHOST],[UPDATEDBY],[UPDATEDDATE],[UPDATEDHOST],APPROVEDBY
			,APPROVEDDATE,APPROVEDHOST
		FROM IFRS_AC_SPPI_HEADER WHERE PKID = @CLASSID

	SELECT MAX(PKID) AS PKID FROM IFRS_AC_SPPI_HEADER_HIST

END;

GO
