USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BOOTSTRAP_MODEL_RESULT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_BOOTSTRAP_MODEL_RESULT]
(
    @PKID BIGINT=0,
	@ME_CODE VARCHAR(50)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT PKID,
	    RANK_SCORE,
		PERCENTILE_PERIOD_FROM,
		PERCENTILE_PERIOD_TO
	FROM TMP_IFRS_PD_BOOTSTRAP
	WHERE BOOTSTRAP_ID = @PKID 
	AND ME_CODE = @ME_CODE
              
END;

GO
