USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IMP_CASHFLOW_W_PENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IMP_CASHFLOW_W_PENDING]  
(  
 @DOWNLOAD_DATE DATE,  
 @EFFECTIVE_DATE DATE,  
 @OVERRIDE_NO BIGINT,  
 @ESTIMATED_REALIZATION_DATE DATE,  
 @INTERESTUNWINDING DECIMAL(32,6),  
 @BALANCE DECIMAL(32,6),  
 @DCFSTATUS VARCHAR(1),  
 @CREATEDBY VARCHAR(36),  
 @CREATEDHOST VARCHAR(30)  
)  
AS  
BEGIN  
  
 INSERT INTO TBLT_UNWINDING_WEIGHTED_PEND  
 (  
  DOWNLOAD_DATE,  
  EFFECTIVE_DATE,  
  OVERRIDE_NO,  
  ESTIMATED_REALIZATION_DATE,  
  INTERESTUNWINDING,  
  BALANCE,  
  DCFSTATUS,  
  CREATEDBY,  
  CREATEDHOST  
 )  
 VALUES  
 (  
  @DOWNLOAD_DATE,  
  @EFFECTIVE_DATE,  
  @OVERRIDE_NO,  
  @ESTIMATED_REALIZATION_DATE,  
  @INTERESTUNWINDING,  
  @BALANCE,  
  @DCFSTATUS,  
  @CREATEDBY,  
  @CREATEDHOST  
 )  
  
END

GO
