USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMGLRECONCILE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[USPD_PARAMGLRECONCILE]    
(  
 @PKID bigint = 0  
)  
AS       
BEGIN  
  
 DELETE FROM IFRS_MASTER_SAPGL_RECONCILE  
 WHERE PKID = @PKID  
     
END  

GO
