USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_ROLLBACKMEINDEPENDENT]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_ROLLBACKMEINDEPENDENT]
(
    @PKID int=0
)
AS
BEGIN
    DECLARE @count int;

	SELECT	@count = count(PKID) 
	FROM	TMP_IFRS_INDEPENDENT_VARIABLE
	WHERE	MODEL_ID = @PKID	
	IF @count > 0
	BEGIN
		DELETE TMP_IFRS_INDEPENDENT_VARIABLE
		WHERE MODEL_ID = @PKID;
	END
END;

GO
