USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ME_MODEL_SEASONAL_ADJ]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ME_MODEL_SEASONAL_ADJ]
(
	@PKID BIGINT, 
	@ME_CODE VARCHAR(50)
)
AS
BEGIN
	DECLARE @V_COLUMNNAME VARCHAR(1000);
	DECLARE @V_SEASONAL_COLUMNNAME_ALIAS VARCHAR(MAX);
	DECLARE @V_QUERY VARCHAR(MAX);

	SELECT @V_SEASONAL_COLUMNNAME_ALIAS = COALESCE(@V_SEASONAL_COLUMNNAME_ALIAS + ',', '') + 'A.' + DERIVED_TYPE + ', B.'+ DERIVED_TYPE + ' AS [' + DERIVED_TYPE + ' SEASONAL ADJ.]'
	FROM 
	(
		SELECT CASE WHEN LEN(DERIVED_TYPE) - LEN(ME_CODE) = 0 THEN 
				DERIVED_TYPE
			ELSE
				RIGHT(DERIVED_TYPE, LEN(DERIVED_TYPE) - LEN(ME_CODE) - 1) 
			END DERIVED_TYPE 
		FROM TMP_IFRS_ME_SEASONAL_ADJ 
		WHERE MODEL_ID = @PKID AND ME_CODE = @ME_CODE
		GROUP BY DERIVED_TYPE, ME_CODE
	) A;

	SELECT @V_COLUMNNAME = COALESCE(@V_COLUMNNAME + ',', '') + DERIVED_TYPE
	FROM 
	(
		SELECT CASE WHEN LEN(DERIVED_TYPE) - LEN(ME_CODE) = 0 THEN 
				DERIVED_TYPE
			ELSE
				RIGHT(DERIVED_TYPE, LEN(DERIVED_TYPE) - LEN(ME_CODE) - 1) 
			END DERIVED_TYPE 
		FROM TMP_IFRS_ME_SEASONAL_ADJ 
		WHERE MODEL_ID = @PKID AND ME_CODE = @ME_CODE
		GROUP BY DERIVED_TYPE, ME_CODE
	) A;

	SET @V_QUERY = 'SELECT A.PERIOD, ' + @V_SEASONAL_COLUMNNAME_ALIAS + ' FROM
	(SELECT * FROM
	(
	SELECT ME_PERIOD "PERIOD", 
			CASE WHEN LEN(DERIVED_TYPE) - LEN(ME_CODE) = 0 THEN 
				DERIVED_TYPE
			ELSE
				RIGHT(DERIVED_TYPE, LEN(DERIVED_TYPE) - LEN(ME_CODE) - 1) 
			END DERIVED_TYPE,
			ME_VAL
	FROM TMP_IFRS_ME_SEASONAL_ADJ
	WHERE MODEL_ID = ' + CAST (@PKID AS varchar(max)) + '
	AND ME_CODE = ''' + @ME_CODE + '''
	) AA
	PIVOT
	(
		MAX(ME_VAL)
    	FOR DERIVED_TYPE IN (' + @V_COLUMNNAME + ')
	) PVT) A JOIN 
	(SELECT * FROM
	(
	SELECT ME_PERIOD "PERIOD", 
			CASE WHEN LEN(DERIVED_TYPE) - LEN(ME_CODE) = 0 THEN 
				DERIVED_TYPE
			ELSE
				RIGHT(DERIVED_TYPE, LEN(DERIVED_TYPE) - LEN(ME_CODE) - 1) 
			END DERIVED_TYPE,
			SEASONAL_ADJUSTMENT
	FROM TMP_IFRS_ME_SEASONAL_ADJ
	WHERE MODEL_ID = ' + CAST (@PKID AS varchar(max)) + '
	AND ME_CODE = ''' + @ME_CODE + '''
	) BB
	PIVOT
	(
		MAX(SEASONAL_ADJUSTMENT)
    	FOR DERIVED_TYPE IN (' + @V_COLUMNNAME + ')
	) PVT) B ON A.PERIOD = B.PERIOD ';

	EXECUTE(@V_QUERY)
END;

GO
