USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRODUCTCODEALL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPPRODUCTCODEALL]
as 
-- proc untuk get list lookup table destination list      
begin      
	
	select distinct PRD_CODE as "PRD_CODE", 
		PRD_CODE AS "Product Code"
	from IFRS_MASTER_PRODUCT_PARAM
	order by PRD_CODE

end


GO
