USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMPRCDATEVALIDATION]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMPRCDATEVALIDATION]
AS    
BEGIN
DECLARE @COUNT1 INT
DECLARE @COUNT2 INT
DECLARE @COUNT3 INT
DECLARE @COUNT4 INT
DECLARE @COUNT5 INT

		SELECT
			@COUNT1 = COUNT(*)
		FROM IFRS_PRC_DATE WITH (NOLOCK)
		WHERE BATCH_STATUS LIKE '%RUN%'

		SELECT
			@COUNT2 = COUNT(*)
		FROM IFRS_PRC_DATE_AMORT WITH (NOLOCK)
		WHERE BATCH_STATUS LIKE '%RUN%'

		SELECT
			@COUNT3 = COUNT(*)
		FROM IFRS9_STG.dbo.STG_PRC_DATE WITH (NOLOCK)
		WHERE BATCH_STATUS LIKE '%RUN%'

		SELECT
			@COUNT4 = COUNT(*)
		FROM TBLT_APPROVALDETAIL
		WHERE HEADERID = (SELECT PKID FROM TBLT_APPROVALHEADER WHERE SCREENID = 'PRC_DATE_PARAM' AND STATUS = 'P') AND FIELDNAME = 'CURRDATE'

		SELECT
			@COUNT5 = COUNT(*)
		FROM TBLT_APPROVALDETAIL
		WHERE HEADERID = (SELECT PKID FROM TBLT_APPROVALHEADER WHERE SCREENID = 'PRC_DATE_PARAM_STG' AND STATUS = 'P') AND FIELDNAME = 'CURRDATE'

		SELECT @COUNT1 AS IMPAIRMENT,@COUNT2 AS AMORTIZATION, @COUNT3 AS STAGING, @COUNT4 AS PENDING, @COUNT5 AS PENDING_STG
           
END
GO
