USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCONFIGBYTYPE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_LOOKUPCONFIGBYTYPE]  
@TYPE varchar(5)  
AS  
BEGIN  
IF @TYPE = 'LGD'  
	select PKID VALUE_FIELD, LGD_RULE_NAME TEXT_FIELD from IFRS_LGD_RULES_CONFIG where ISNULL(IS_DELETE, 0)   = 0
ELSE  
	select PKID VALUE_FIELD, TM_RULE_NAME TEXT_FIELD from IFRS_PD_RULES_CONFIG where ISNULL(IS_DELETE, 0)   = 0
END

GO
