USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKDATASECTION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKDATASECTION]    
(    
 @cekSectionID varchar(100) = '',    
 @cekOrder varchar(100) = '',  
 @cekPKID bigint = 0    
)    
AS    
BEGIN    
DECLARE @Count AS INT  
   
 SELECT @Count = COUNT(*) FROM  
 (  
 SELECT SECTIONID  
 FROM IFRS_AC_SPPI_SECTION    
 WHERE SECTIONID = @cekSectionID  
  AND PKID <> @cekPKID  
  AND ISNULL(IS_DELETE,0) = 0  
 UNION ALL  
 SELECT COALESCE(OLDVALUE,NEWVALUE) AS SECTIONID FROM TBLT_APPROVALDETAIL  
 WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER WHERE SCREENID ='SPPI_SECTION_SETUP'   
  AND STATUS='P')  
 AND FIELDNAME = 'SECTIONID'  
 AND COALESCE(OLDVALUE,NEWVALUE) = @cekSectionID  
 )A  
   
 IF (@Count = 0)  
 BEGIN  
 SELECT SEQUENCE AS "ORDER"  
 FROM IFRS_AC_SPPI_SECTION    
 WHERE SEQUENCE = @cekOrder  
  AND PKID <> @cekPKID  
  AND ISNULL(IS_DELETE,0) = 0  
 UNION ALL  
 SELECT COALESCE(OLDVALUE,NEWVALUE) AS SEQUENCE FROM TBLT_APPROVALDETAIL  
 WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER WHERE SCREENID ='SPPI_SECTION_SETUP'   
  AND STATUS='P')  
 AND FIELDNAME = 'ORDER'  
 AND COALESCE(OLDVALUE,NEWVALUE) = @cekOrder  
 END  
 ELSE  
 BEGIN  
 SELECT @Count AS SECTIONID  
 END  
  
END;  

GO
