USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMEADMODELH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMEADMODELH]                   
AS                        
BEGIN                     
     
   SELECT A.PKID,A.EAD_RULE_NAME,  
  A.SEGMENTATION_ID,A.EAD_BALANCE,               
  A.CCF_FLAG,A.CCF_RULES_ID,A.PREPAYMENT_FLAG,A.PREPAYMENT_RULES_ID,C.SUB_SEGMENT  
 FROM IFRS_EAD_RULES_CONFIG A  
 JOIN  IFRS_MSTR_SEGMENT_RULES_HEADER C on A.SEGMENTATION_ID = C.PKID                      
 WHERE ISNULL(A.IS_DELETE,0) = 0     
  
END;                    
GO
