USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMRETENTION]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_PARAMRETENTION]     
(       
    @PKID bigint = 0    
)     
AS     
BEGIN  
   
    UPDATE IFRS_ARCHIVE_MASTER 
    SET IS_DELETE = 1 
    WHERE PKID = @PKID    
   
END  
GO
