USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKVARSELECTBYMAXCOMBIN]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_CHECKVARSELECTBYMAXCOMBIN]
	@MODEL_ID BIGINT = 0,
	@MAX_VARIABLE_COMBINATION INT = 0
AS
BEGIN
	
	SELECT * FROM
	(
		SELECT COUNT(ROW_COUNT) AS ROW_COUNT2 FROM
		(
			SELECT
				DISTINCT LOOKUPINITIAL AS LOOKUPINITIAL,
				MAX(VARIABLENAME) AS VARIABLENAME,
				COUNT(VARIABLE_SELECTION) AS ROW_COUNT
			FROM IFRS_1MEVLM_RESULT_DTL
			WHERE MODEL_ID = @MODEL_ID
				AND VARIABLE_SELECTION = 1
			GROUP BY LOOKUPINITIAL
		)A
	)B
	WHERE ROW_COUNT2 < @MAX_VARIABLE_COMBINATION
	
END
GO
