USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_REVIEW_GRID_MASTER]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [dbo].[USPS_REVIEW_GRID_MASTER]          
(        
 @MASTERID VARCHAR(100),      
 @DCFID BIGINT  
)        
AS        
BEGIN        
      
 --SELECT IIM.EFFECTIVE_DATE,      
 -- TPEH.MASTERID,      
 -- IIM.CUSTOMER_NUMBER,      
 -- IIM.CUSTOMER_NAME,      
 -- IIM.CURRENCY,      
 -- IIM.OUTSTANDING,      
 -- SUM(TPED.UNWINDING_AMOUNT) AS UNWINDING_AMOUNT,      
 -- ISNULL(TPED.EIR_PERCENT, ISNULL(IIM.EIR, ISNULL(IIM.INTEREST_RATE, IIM.AVG_EIR))) / 100 AS INTEREST_RATE,      
 -- SUM(TPED.NPV) AS NPV_AMOUNT,      
 -- IIM.OUTSTANDING - SUM(TPED.NPV) AS ECL_AMOUNT      
 --FROM TBLT_PAYMENTEXPECTEDH_TEMP TPEH      
 -- JOIN TBLT_PAYMENTEXPECTED_TEMP TPED ON TPEH.DCFID = TPED.DCFID       
 --  AND TPEH.UPLOADID = TPED.UPLOADID      
 -- JOIN IFRS_IMP_IA_MASTER IIM ON TPEH.MASTERID = IIM.MASTERID      
 --WHERE TPEH.DCFID = @DCFID      
 -- AND IIM.MASTERID = @MASTERID      
 --GROUP BY IIM.EFFECTIVE_DATE,      
 -- TPEH.MASTERID,      
 -- IIM.CUSTOMER_NUMBER,      
 -- IIM.CUSTOMER_NAME,      
 -- IIM.CURRENCY,      
 -- IIM.OUTSTANDING,      
 -- TPED.EIR_PERCENT,      
 -- IIM.EIR,      
 -- IIM.INTEREST_RATE,      
 -- IIM.AVG_EIR;      
 DECLARE @OUTSTANDING FLOAT    
 DECLARE @NPV_AMOUNT FLOAT    
 DECLARE @UNWINDING_AMOUNT FLOAT    
 DECLARE @ECL_AMOUNT FLOAT    
 DECLARE @EIR_PERCENT FLOAT    
    
 SELECT     
  @EIR_PERCENT = MAX(EIR_PERCENT)     
 FROM TBLT_PAYMENTEXPECTED_TEMP    
 WHERE MASTERID = @MASTERID    
 AND DCFID = @DCFID    
    
 SELECT     
  @OUTSTANDING = OUTSTANDING    
 FROM IFRS_IMP_IA_MASTER    
 WHERE MASTERID = @MASTERID    
    
 SELECT    
  @NPV_AMOUNT = SUM(NPV),    
  @UNWINDING_AMOUNT = SUM(UNWINDING_AMOUNT),    
  @ECL_AMOUNT = @OUTSTANDING-@NPV_AMOUNT    
 FROM TBLT_PAYMENTEXPECTED_TEMP    
 WHERE MASTERID = @MASTERID    
 AND DCFID = @DCFID    
    
 SELECT    
  EFFECTIVE_DATE,    
  MASTERID,    
  CUSTOMER_NUMBER,    
  CUSTOMER_NAME,    
  CURRENCY,    
  OUTSTANDING,    
  @UNWINDING_AMOUNT AS UNWINDING_AMOUNT,    
  ISNULL(@EIR_PERCENT, ISNULL(EIR, ISNULL(INTEREST_RATE, AVG_EIR))) / 100 AS INTEREST_RATE,    
  @NPV_AMOUNT AS NPV_AMOUNT,    
  CASE WHEN @ECL_AMOUNT < 0
	/*Req Dewi*/
	--THEN OUTSTANDING
	THEN 0
	/*end*/
	ELSE @ECL_AMOUNT
  END AS ECL_AMOUNT    
 FROM IFRS_IMP_IA_MASTER    
 WHERE MASTERID = @MASTERID    
      
END

GO
