USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_COPYFINALTOTEMPLoad]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_COPYFINALTOTEMPLoad]      
(        
 @CIF VARCHAR(50),        
 @ACT VARCHAR(10)='',      
 @SUBMIT VARCHAR(10)='',      
 @CreatedBy VARCHAR(36) = '',        
 @CreatedHost VARCHAR(30) = ''       
)          
AS          
BEGIN          
       
 DECLARE @DOWNLOAD_DATE DATE;        
 DECLARE @DCFID VARCHAR(10);      
 -- Delete from temp based on DCFID for multiple editing      
 DELETE FROM IFRS_IMP_OVERRIDE_DETAIL_TEMP      
 WHERE CUSTOMER_NUMBER = @CIF;      
      
 SELECT @DCFID=DCFID FROM IFRS_IMP_OVERRIDETRIGGERH WHERE CUSTOMER_NUMBER=@CIF      
      
 /*Delete before insert */      
       
 IF (@SUBMIT != 'true')      
 BEGIN      
  DELETE FROM IFRS_IMP_OVERRIDETRIGGERH_TEMP WHERE CUSTOMER_NUMBER = @CIF      
    
  PRINT 'ERROR 1'  
  
  INSERT INTO IFRS_IMP_OVERRIDETRIGGERH_TEMP(DCFID,CUSTOMER_NUMBER,FACILITY_NUMBER,ACCOUNT_NUMBER,MASTER_ACCOUNT_ID,PERIOD,FLAG_TRIGGERED,REMARKS,CREATEDBY,CREATEDDATE,CREATEDHOST)      
  SELECT DCFID,CUSTOMER_NUMBER,FACILITY_NUMBER,ACCOUNT_NUMBER,MASTER_ACCOUNT_ID,PERIOD,FLAG_TRIGGERED,REMARKS,@CreatedBy,GETDATE(),@CreatedHost       
  FROM IFRS_IMP_OVERRIDETRIGGERH      
  WHERE CUSTOMER_NUMBER = @CIF      
 END      
      
 DECLARE @PKIDTRIGGERH BIGINT      
 SELECT @PKIDTRIGGERH=PKID FROM IFRS_IMP_OVERRIDETRIGGERH_TEMP WHERE CUSTOMER_NUMBER = @CIF      
      
 /*Delete before insert */      
 IF(@SUBMIT != 'true')      
 BEGIN      
  DELETE FROM IFRS_IMP_OVERRIDETRIGGERD_TEMP WHERE DCFID = @DCFID      
    
  PRINT 'ERROR 2'  
      
  INSERT INTO IFRS_IMP_OVERRIDETRIGGERD_TEMP(DCFID,HEADERID,TRIGGERID,FLAG_TRIGGER,REMARK,CREATEDBY,CREATEDDATE,CREATEDHOST)      
  SELECT DCFID,@PKIDTRIGGERH,TRIGGERID,FLAG_TRIGGER,REMARK,@CreatedBy,GETDATE(),@CreatedHost       
  FROM IFRS_IMP_OVERRIDETRIGGERD      
  WHERE DCFID = @DCFID       
 END      
      
 /*Delete before insert */      
 IF(@SUBMIT != 'true')      
 BEGIN      
  DELETE FROM TBLT_PAYMENTEXPECTEDH_TEMP WHERE CUSTOMER_NUMBER = @CIF      
    
  PRINT 'ERROR 3'  
  
  INSERT INTO TBLT_PAYMENTEXPECTEDH_TEMP(DCFID,UPLOADID,ROW_NUMBER,CUSTOMER_NUMBER,MASTERID,FACILITY_NUMBER,EFFECTIVEDATE,EIR_PERCENT,OUTSTANDING,INTEREST_CONTRACTUAL,CREATEDBY,REMARKS)      
  SELECT DCFID,UPLOADID,ROW_NUMBER,CUSTOMER_NUMBER,MASTERID,FACILITY_NUMBER,EFFECTIVEDATE,EIR_PERCENT,OUTSTANDING,INTEREST_CONTRACTUAL,CREATEDBY,REMARKS      
  FROM TBLT_PAYMENTEXPECTEDH      
  WHERE CUSTOMER_NUMBER = @CIF      
 END      
      
 /*Delete before insert */      
 IF(@SUBMIT != 'true')      
 BEGIN      
  DELETE FROM TBLT_PAYMENTEXPECTED_TEMP WHERE CUSTOMER_NUMBER = @CIF      
    
  PRINT 'ERROR 3'  
      
  INSERT INTO TBLT_PAYMENTEXPECTED_TEMP(DCFID,TEMPID,UPLOADID,DOWNLOADDATE,MASTERID,ACCOUNT_NUMBER,CUSTOMER_NUMBER,CUSTOMER_NAME,FACILITY_NUMBER,ESTIMATED_REALIZATION_DATE,      
  INT_ESTIMATED_PERCENT,ESTIMATED_PRINCIPAL_PAYM,ESTIMATED_REALIZATION_DATE_FD,INTEREST_ESTIMATED,NPV,NPV_MONTH,INTEREST_EIR,BEGINNING_BALANCE,UNWINDING_AMOUNT,ENDING_BALANCE,EIR_AMOUNT,      
  PMA_IND_EIR,PRINCIPAL,PREV_EST_DATE,EPR,INTEREST_CONTRACTUAL,CREATEDBY,CREATEDDATE,CREATEDHOST)      
  SELECT DCFID,(SELECT MAX(ISNULL(TEMPID,0)) + 1 FROM TBLT_PAYMENTEXPECTED_TEMP),UPLOADID,DOWNLOADDATE,MASTERID,ACCOUNT_NUMBER,CUSTOMER_NUMBER,CUSTOMER_NAME,FACILITY_NUMBER,ESTIMATED_REALIZATION_DATE,      
  INT_ESTIMATED_PERCENT,ESTIMATED_PRINCIPAL_PAYM,ESTIMATED_REALIZATION_DATE_FD,INTEREST_ESTIMATED,NPV,NPV_MONTH,INTEREST_EIR,BEGINNING_BALANCE,UNWINDING_AMOUNT,ENDING_BALANCE,EIR_AMOUNT,      
  PMA_IND_EIR,PRINCIPAL,PREV_EST_DATE,EPR,INTEREST_CONTRACTUAL,CREATEDBY,CREATEDDATE,CREATEDHOST       
  FROM TBLT_PAYMENTEXPECTED      
  WHERE CUSTOMER_NUMBER = @CIF      
 END      
      
 /*Delete before insert*/      
       
 IF(@SUBMIT != 'true')      
 BEGIN      
  DELETE TBLT_PAYMENTEXPECTEDMASTER WHERE CUSTOMER_NUMBER = @CIF      
    
  PRINT 'ERROR 4'  
      
  INSERT INTO TBLT_PAYMENTEXPECTEDMASTER(CREATEDBY,CREATEDDATE,CREATEDHOST,DCFBY,CUSTOMER_NUMBER,FACILITY_NUMBER,MASTERID)      
  VALUES(@CreatedBy,GETDATE(),@CreatedHost,'Account',@CIF,'','')      
 END      
      
END;      
GO
