USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_SYNC_TREASURY]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_IFRS_SYNC_TREASURY]      
@DOWNLOAD_DATE DATE = NULL      
AS      
DECLARE @V_CURRDATE DATE       
BEGIN       
IF @DOWNLOAD_DATE IS NULL      
BEGIN      
SELECT @V_CURRDATE = CURRDATE       
FROM IFRS_PRC_DATE_AMORT        
END      
ELSE      
BEGIN      
SET @V_CURRDATE = @DOWNLOAD_DATE      
END      
      
 ----------------------------      
 ---- TBLU_DATA_TREASURY ----      
 ----------------------------      
 DELETE IFRS_MASTER_TREASURY WHERE DOWNLOAD_DATE = @V_CURRDATE AND SOURCE_SYSTEM = 'TRSUPL'     
      
 DELETE IFRS_JUDGEMENT_RATING_TREASURY WHERE DOWNLOAD_DATE = @V_CURRDATE      
          
 INSERT INTO IFRS_JUDGEMENT_RATING_TREASURY      
 (      
  DOWNLOAD_DATE      
  ,MASTERID      
  ,EXTERNAL_RATING_AGENCY      
  ,EXTERNAL_RATING_CODE      
  ,EXTERNAL_RATING_INITIAL      
 )      
 SELECT      
  DOWNLOAD_DATE      
  ,DEAL_NO      
  ,EXTERNAL_RATING_AGENCY      
  ,EXTERNAL_RATING_CODE      
  ,EXTERNAL_RATING_INITIAL      
 FROM TBLU_JUDGEMENT_RATING_TREASURY      
 WHERE EOMONTH(DOWNLOAD_DATE) = @V_CURRDATE      
      
 INSERT INTO IFRS_MASTER_TREASURY      
 (      
  DOWNLOAD_DATE      
  ,DATA_SOURCE      
  ,ACCOUNT_NUMBER      
  ,PRODUCT_CODE      
  ,PRODUCT_TYPE      
  ,PRODUCT_GROUP      
  ,BRANCH_CODE      
  ,CUSTOMER_NUMBER      
  ,CUSTOMER_NAME      
  ,SANDI_BANK      
  ,CURRENCY      
  ,EXCHANGE_RATE      
  ,OUTSTANDING      
  ,LOAN_START_DATE      
  ,LOAN_DUE_DATE      
  ,INTEREST_RATE      
  ,INTEREST_ACCRUED      
  ,EXT_RATING_AGENCY      
  ,EXT_RATING_CODE      
  ,EXT_INIT_RATING_CODE      
  ,INTEREST_TYPE      
  ,FAIR_VALUE_AMOUNT      
  ,PAYMENT_TERM      
  ,INTEREST_CALCULATION_CODE      
  ,SOVEREIGN_FLAG      
  ,LAST_PAYMENT_DATE      
  ,NEXT_PAYMENT_DATE      
  ,ISIN_CODE      
  ,INV_TYPE      
  ,BI_COLLECTABILITY      
  ,UNAMORT_DISCOUNT_PREMIUM      
  ,DISCOUNT_PREMIUM_AMOUNT      
  ,SOURCE_SYSTEM      
 )      
 SELECT       
  A.DOWNLOAD_DATE      
  ,ISNULL(B.DATA_SOURCE, 'TRS')      
  ,DEAL_NO AS ACCOUNT_NUMBER      
  ,PRODUCT_CODE      
  ,PRD_TYPE AS PRODUCT_TYPE      
  ,PRD_GROUP AS PRODUCT_GROUP      
  ,'0800' AS BRANCH_CODE      
  ,CUSTOMER_NUMBER      
  ,CUSTOMER_NAME      
  ,A.SANDI_BANK      
  ,A.CURRENCY      
  ,C.RATE_AMOUNT AS EXCHANGE_RATE      
  ,NOTIONAL_AMOUNT_ORIGINAL_CCY AS OUTSTANDING      
  ,START_DATE AS LOAN_START_DATE      
  ,MAT_DATE AS LOAN_DUE_DATE      
  ,INTEREST_RATE      
  ,INTEREST_RECEIVABLE_CCY AS INTEREST_ACCRUED      
  ,A.EXTERNAL_RATING_AGENCY AS EXT_RATING_AGENCY      
  ,A.EXTERNAL_RATING AS EXT_RATING_CODE      
  ,A.EXTERNAL_RATING_INITIAL AS EXT_INIT_RATING_CODE      
  ,INTEREST_TYPE      
  ,CARRYING_AMOUNT AS FAIR_VALUE_AMOUNT      
  ,CASE PAYMENT_TERM       
   WHEN 'MONTHLY' THEN 'M'      
   WHEN 'QUARTERLY' THEN 'Q'      
   WHEN 'SEMI ANUALLY' THEN 'H'      
   WHEN 'ANUALLY' THEN 'Y'      
  END AS PAYMENT_TERM       
  ,CASE INTEREST_CALCULATION_CODE      
   WHEN 'ACTUAL/360' THEN 8      
   WHEN 'ACTUAL/ACTUAL' THEN 2      
  END AS INTEREST_CALCULATION_CODE       
  ,SOVEREIGN_FLAG      
  ,LAST_COUPON_DATE AS LAST_PAYMENT_DATE      
  ,NEXT_COUPON_DATE AS NEXT_PAYMENT_DATE      
  ,CONTRACT_ID AS ISIN_CODE      
  ,INV_TYPE      
  ,COLLECTABILITY AS BI_COLLECTABILITY      
  ,UNAMORTIZED_DISCOUNT_PREMIUM_IN_ORI_CCY AS UNAMORT_DISCOUNT_PREMIUM      
  ,DISCOUNT_PREMIUM_CCY AS DISCOUNT_PREMIUM_AMOUNT      
  ,'TRSUPL' AS SOURCE_SYSTEM      
 FROM TBLU_DATA_TREASURY A      
 LEFT JOIN IFRS_MASTER_PRODUCT_PARAM B      
 ON A.PRODUCT_CODE = B.PRD_CODE AND IS_DELETE = '0'      
 LEFT JOIN IFRS_MASTER_EXCHANGE_RATE C      
 ON A.CURRENCY = C.CURRENCY AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE            
 WHERE EOMONTH(A.DOWNLOAD_DATE) = @V_CURRDATE        
      
 ------------------------------------ UPDATE EXTERNAL RATING CODE  ----------------------------------------     
 DELETE IFRS_MASTER_EXTERNAL_RATING WHERE DOWNLOAD_DATE = @V_CURRDATE      
      
 INSERT INTO IFRS_MASTER_EXTERNAL_RATING      
 (      
  DOWNLOAD_DATE      
  ,CUSTOMER_NUMBER      
  ,SANDI_BANK      
  ,EXTERNAL_RATING_AGENCY      
  ,INITIAL_RATING_CODE      
  ,EXTERNAL_RATING_CODE      
  ,SOURCE_SYSTEM      
 )      
 SELECT       
  DOWNLOAD_DATE      
  ,CUSTOMER_NUMBER      
  ,SANDI_BANK      
  ,EXTERNAL_RATING_AGENCY      
  ,INITIAL_RATING_CODE      
  ,EXTERNAL_RATING_CODE      
  ,SOURCE_SYSTEM      
 FROM TBLU_EXTERNAL_RATING      
 WHERE DOWNLOAD_DATE = @V_CURRDATE      

/* --MOVE TO SP INITIAL UPDATE T24       
 UPDATE A      
 SET       
  EXT_RATING_CODE = CASE WHEN B.CUSTOMER_NUMBER IS NULL THEN 'N/A' ELSE B.EXTERNAL_RATING_CODE END,      
  EXT_RATING_AGENCY = CASE WHEN B.CUSTOMER_NUMBER IS NULL THEN 'N/A' ELSE B.EXTERNAL_RATING_AGENCY END,      
  EXT_INIT_RATING_CODE = CASE WHEN B.CUSTOMER_NUMBER IS NULL THEN 'N/A' ELSE B.INITIAL_RATING_CODE END      
 FROM IFRS_MASTER_TREASURY A       
 LEFT JOIN IFRS_MASTER_EXTERNAL_RATING B      
 ON A.CUSTOMER_NUMBER = B.CUSTOMER_NUMBER      
 AND A.SOURCE_SYSTEM = B.SOURCE_SYSTEM    
 AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE      
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE AND A.SOURCE_SYSTEM <> 'TRS'      
      
    UPDATE IFRS_MASTER_TREASURY      
    SET EXT_RATING_CODE = CASE WHEN ISNULL(EXT_RATING_CODE, 'N/A') = 'N/A' OR  EXT_RATING_CODE = '00' THEN '10' ELSE ISNULL(EXT_RATING_CODE, 'N/A') END,      
        EXT_INIT_RATING_CODE = CASE WHEN ISNULL(EXT_INIT_RATING_CODE, 'N/A') = 'N/A' OR EXT_INIT_RATING_CODE = '00' THEN '10' ELSE ISNULL(EXT_INIT_RATING_CODE, 'N/A') END      
    WHERE DOWNLOAD_DATE = @V_CURRDATE      
      
   ---- ADD NEW LOGIC TO CHECK BUCKET DOWNGRADE EXTERNAL 20200810    
    
UPDATE A      
 SET EXT_RATING_DOWNGRADE =       
 CASE       
  WHEN ISNULL(A.EXT_RATING_CODE, 'N/A') = 'N/A' THEN 0       
  WHEN ISNULL(A.EXT_INIT_RATING_CODE, 'N/A') = 'N/A' THEN 0      
  ELSE ISNULL(CAST(CURR.MAPPED_RATING_CODE AS INT) - CAST(INITIAL.MAPPED_RATING_CODE AS INT), 0)       
  END    
  FROM IFRS_MASTER_TREASURY A    
  LEFT JOIN IFRS_MAPPING_EXTERNAL_RATING INITIAL ON A.EXT_INIT_RATING_CODE =  INITIAL.RATING_CODE    
  LEFT JOIN IFRS_MAPPING_EXTERNAL_RATING CURR ON A.EXT_RATING_CODE =  CURR.RATING_CODE     
 WHERE A.DOWNLOAD_DATE = @V_CURRDATE      
 ------------------------------------ UPDATE EXTERNAL RATING CODE  ----------------------------------------      
 --END */
      
    DELETE IFRS_MASTER_ACCOUNT WHERE DOWNLOAD_DATE = @V_CURRDATE AND DATA_SOURCE = 'TRS' AND SOURCE_SYSTEM = 'TRSUPL'      
          
    INSERT INTO IFRS_MASTER_ACCOUNT      
    (      
     DOWNLOAD_DATE      
     ,DATA_SOURCE      
     ,MASTERID      
     ,MASTER_ACCOUNT_CODE      
     ,ACCOUNT_NUMBER      
     ,ACCOUNT_STATUS      
     ,PRODUCT_CODE      
     ,PRODUCT_TYPE      
     ,PRODUCT_GROUP      
     ,BRANCH_CODE      
     ,CUSTOMER_NUMBER      
     ,CUSTOMER_NAME      
     ,CURRENCY      
     ,EXCHANGE_RATE      
     ,OUTSTANDING      
     ,LOAN_START_DATE      
     ,LOAN_DUE_DATE      
     ,INTEREST_RATE      
     ,INTEREST_ACCRUED      
     ,EXT_RATING_AGENCY      
     ,EXT_RATING_CODE      
     ,EXT_INIT_RATING_CODE      
     ,EXT_RATING_DOWNGRADE      
     ,INTEREST_TYPE      
     ,FAIR_VALUE_AMOUNT      
     ,PAYMENT_TERM      
     ,INTEREST_CALCULATION_CODE      
     ,SOVEREIGN_FLAG      
     ,LAST_PAYMENT_DATE      
     ,NEXT_PAYMENT_DATE      
     ,ISIN_CODE      
     ,INV_TYPE      
     ,BI_COLLECTABILITY      
     ,UNAMORT_DISCOUNT_PREMIUM      
     ,DISCOUNT_PREMIUM_AMOUNT      
     ,SOURCE_SYSTEM      
     ,SANDI_BANK      
	 ,CUSTOMER_TYPE   
	 ,ACCOUNT_TYPE
	 ,CREATEDBY
	 ,CREATEDDATE    
    )      
    SELECT      
     A.DOWNLOAD_DATE      
     ,A.DATA_SOURCE      
     ,A.ACCOUNT_NUMBER AS MASTERID      
     ,A.ACCOUNT_NUMBER AS MASTER_ACCOUNT_CODE      
     ,A.ACCOUNT_NUMBER      
     ,'A' AS ACCOUNT_STATUS      
     ,A.PRODUCT_CODE      
     ,A.PRODUCT_TYPE      
     ,A.PRODUCT_GROUP      
     ,A.BRANCH_CODE      
     ,A.CUSTOMER_NUMBER      
     ,A.CUSTOMER_NAME      
     ,A.CURRENCY      
     ,A.EXCHANGE_RATE      
     ,A.OUTSTANDING      
     ,A.LOAN_START_DATE      
     ,A.LOAN_DUE_DATE      
     ,A.INTEREST_RATE      
     ,A.INTEREST_ACCRUED      
     ,A.EXT_RATING_AGENCY      
     ,A.EXT_RATING_CODE      
     ,A.EXT_INIT_RATING_CODE      
     ,A.EXT_RATING_DOWNGRADE      
     ,A.INTEREST_TYPE      
     ,A.FAIR_VALUE_AMOUNT      
     ,A.PAYMENT_TERM      
     ,A.INTEREST_CALCULATION_CODE      
     ,A.SOVEREIGN_FLAG      
     ,A.LAST_PAYMENT_DATE      
     ,A.NEXT_PAYMENT_DATE      
     ,A.ISIN_CODE      
     ,A.INV_TYPE      
     ,A.BI_COLLECTABILITY      
     ,A.UNAMORT_DISCOUNT_PREMIUM      
     ,A.DISCOUNT_PREMIUM_AMOUNT      
     ,A.SOURCE_SYSTEM      
     ,A.SANDI_BANK      
	,D.CUSTOMER_TYPE AS  CUSTOMER_TYPE    
	,B.ACCOUNT_TYPE
	,'SP_IFRS_SYNC_TREASURY' AS CREATEDBY         
	,GETDATE() AS CREATEDDATE 
    FROM IFRS_MASTER_TREASURY A    
	LEFT JOIN IFRS9_STG..TBL_MASTER_PRODUCT_BANKWIDE B ON A.PRODUCT_CODE =  B.PRODUCT_CODE    
	LEFT JOIN IFRS9_STG..STG_CIF D  ON A.CUSTOMER_NUMBER = D.CIF   
    WHERE DOWNLOAD_DATE = @V_CURRDATE AND A.SOURCE_SYSTEM = 'TRSUPL'     
        
END
GO
