USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRDCODEBYINSCLDTSRC]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPPRDCODEBYINSCLDTSRC]
(
	@INST_CLS_VALUE VARCHAR(10) = ''
	,@DATA_SOURCE VARCHAR(20) = ''
)
AS
BEGIN

	SELECT DISTINCT PRD_CODE,  
		PRD_CODE "Product Code" 
	FROM IFRS_MASTER_PRODUCT_PARAM
	WHERE INST_CLS_VALUE = @INST_CLS_VALUE
		AND DATA_SOURCE = @DATA_SOURCE

END

GO
