USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_DOC_HEADER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPI_DOC_HEADER]
(
	@UploadID bigint=0,
	@ColumnName varchar(100)='',
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(36)=''
)
as
Begin
	insert into TBLU_DOC_TEMP_HEADER 
		( UPLOADID, COLUMN_NAME, CREATEDBY, CREATEDDATE, CREATEDHOST)
	Values 
		(
			@UploadID, @ColumnName, @CreatedBy, GETDATE(), @CreatedHost
		)
End	

GO
