USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_APPROVALH]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_APPROVALH]
	@MasterID int=0,
	@ScreenID varchar(50)='',
	@Action varchar(10)='',
	@Status varchar(10)='',
	@RefPKId varchar(100)=0,
	--@OldBinary varbinary(max),
	@Query varchar(max)='',
	@ModuleID varchar(50)='',
	@CountryID varchar(10)='ID',
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(30)=''
AS
BEGIN

	IF @ScreenID = 'PARAMETER_COA_EDITOR' AND @Action <> 'DELETE'
		SET @ScreenID = 'PARAMETER_COA'
	ELSE IF @ScreenID = 'AC_BMA_SETUP_E' AND @Action <> 'DELETE'
		SET @ScreenID = 'AC_BMA_SETUP'
          
	INSERT INTO tblT_ApprovalHeader 
	(
		RefPKId, 
		MasterID, 
		ScreenID, 
		Action, 
		Status, 
		Query, 
		ModuleID, 
		CountryID, 
		CreatedBy, 
		CreatedDate, 
		CreatedHost
	)            
	VALUES
	(
		@RefPKId, 
		@MasterID, 
		@ScreenID, 
		@Action, 
		@Status, 
		@Query, 
		@ModuleID, 
		@CountryID, 
		@CreatedBy, 
		GETDATE(), 
		@CreatedHost
	)            
        
	SELECT id_header = @@IDENTITY;

END;

GO
