USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKRETENTIONTABEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKRETENTIONTABEL]  
(  
@cekSource varchar(100) = ''  
--@cekDestination varchar(100) = ''  
)  
AS  
BEGIN  
  
    SELECT *   
    FROM IFRS_ARCHIVE_MASTER   
    WHERE TABLE_SRC = @cekSource   
    AND TABLE_DEST = @cekSource+'_ACV'   
    AND IS_DELETE = 0  
   
END;  
GO
