USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_CekMEDataSource]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_CekMEDataSource]
(
    @MEcode VARCHAR(100) = ' '
)
AS
BEGIN

    select * from TBLM_MACRO_ECONOMIC where ME_CODE = @MEcode and ME_SOURCE like '%table%'
    
END;


GO
