USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_ECLMODELRESULTDETAILLEGEND]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_ECLMODELRESULTDETAILLEGEND]         
(      
 @DOWNLOAD_DATE DATE,     
 @MASTERID VARCHAR(100)    
)      
AS           
BEGIN       
    
 SELECT     
  DOWNLOAD_DATE,    
  MASTERID,    
  FACILITY_NUMBER,  
  ACCOUNT_NUMBER,    
  CUSTOMER_NUMBER,    
  BRANCH_CODE,    
  PRODUCT_TYPE_1,   
  PRODUCT_CODE,   
  REMAINING_TENOR,    
  CURRENCY,    
  STAGE,    
  BUCKET_GROUP,  
  CASE WHEN WATCHLIST_FLAG = 1 THEN 'Y' ELSE 'N' END WATCHLIST_FLAG,  
  CASE WHEN REVOLVING_FLAG = 1 THEN 'Y' ELSE 'N' END REVOLVING_FLAG,  
  ISNULL(OUTSTANDING, 0) AS OUTSTANDING,  
  ISNULL(COLL_AMOUNT, 0) AS COLL_AMOUNT,  
  ECL_AMOUNT_BFL,    
  ECL_AMOUNT  
 FROM IFRS_MASTER_ACCOUNT_MONTHLY    
 WHERE DOWNLOAD_DATE = @DOWNLOAD_DATE AND MASTERID = @MASTERID    
      
END;  
GO
