USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_BMA_DETAIL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_BMA_DETAIL]  
(    
 @BMID bigint = 0,
 @UPDATEDBY varchar(36) = '',  
 @UPDATEDHOST varchar(30) = ''  
)    
AS    
BEGIN  
 
 --DELETE BMA DETAIL  
 UPDATE IFRS_AC_BM_DETAIL
	SET IS_DELETE = 1, UPDATEDBY = @UPDATEDBY, UPDATEDDATE = GETDATE(), UPDATEDHOST = @UPDATEDHOST
 WHERE BMID = @BMID  
  
END  

GO
