USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_AMORTIZATIONFACHEADER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_AMORTIZATIONFACHEADER]
AS
BEGIN

	SELECT
		DOWNLOAD_DATE,
		DATA_SOURCE,
		BRANCH_CODE,
		CUSTOMER_NUMBER,
		FACILITY_NUMBER,
		NULL START_DATE,
		MATURITY_DATE,
		EXCHANGE_RATE,
		TRX_DATE,
		TRX_CODE,
		TRX_DR_CR,
		TRX_AMOUNT,
		ALOC,
		UNALOC,
		METHOD,
		STATUS,
		CCY,
		LIMIT_CURRENCY,
		LIMIT_EXCHANGE_RATE,
		ISNULL(PLAFOND, 0) AS PLAFOND
	FROM IFRS_TRX_FACILITY_HEADER_HIST
	ORDER BY DOWNLOAD_DATE DESC,
			FACILITY_NUMBER

END

GO
