USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IFRS_ME_FORECAST_APPROVAL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_IFRS_ME_FORECAST_APPROVAL]        
(        
	@ME_CODE AS VARCHAR(100),    
	@CreatedBy AS VARCHAR(100)    
)        
AS         
BEGIN        

	INSERT INTO IFRS_ME_FORECAST_PEND(
		ME_CODE,
		METHOD,
		FL_PERIOD,
		FL_PERIOD_FROM,
		FL_PERIOD_TO,
		ACTION,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST,
		IS_DELETE)
	SELECT 
		ME_CODE,
		METHOD,
		FL_PERIOD,
		FL_PERIOD_FROM,
		FL_PERIOD_TO,
		CASE WHEN (SELECT COUNT(1) FROM IFRS_ME_FORECAST WHERE ME_CODE = @ME_CODE) > 0 THEN 'UPDATE_WI_APPROVAL' ELSE 'INSERT_WI_APPROVAL' END,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST,
		IS_DELETE
	FROM IFRS_ME_FORECAST_TEMP WHERE ME_CODE = @ME_CODE AND CREATEDBY = @CreatedBy

	INSERT INTO IFRS_ME_FORECAST_DETAIL_PEND(
		ME_CODE,
		FL_PERIOD,
		FL_VAL,
		REMARKS,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST,
		IS_DELETE)
	SELECT 
		ME_CODE,
		FL_PERIOD,
		FL_VAL,
		REMARKS,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST,
		IS_DELETE
	FROM IFRS_ME_FORECAST_DETAIL_TEMP WHERE ME_CODE = @ME_CODE AND CREATEDBY = @CreatedBy
	
	UPDATE IFRS_ME_FORECAST_PEND SET FL_PERIOD_FROM = NULL, FL_PERIOD_TO = NULL WHERE ME_CODE = @ME_CODE AND METHOD = 'UPLOAD' AND CREATEDBY = @CreatedBy

	DELETE FROM IFRS_ME_FORECAST_TEMP WHERE ME_CODE = @ME_CODE AND CREATEDBY = @CreatedBy
	DELETE FROM IFRS_ME_FORECAST_DETAIL_TEMP WHERE ME_CODE = @ME_CODE AND CREATEDBY = @CreatedBy

END

GO
