USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETPRODUCTGROUP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETPRODUCTGROUP]

	AS
	BEGIN   
		 select distinct PRD_GROUP as 'PRODUCT_GROUP' FROM IFRS_MASTER_PRODUCT_PARAMETER

END;

GO
