USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_JOBDPARAM]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_JOBDPARAM]
(
	@HeaderID bigint = 0
)
AS
BEGIN

    SELECT * 
    FROM tblT_ServiceJobsDetail 
    WHERE HeaderID = @HeaderID
      
END;

GO
