USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_NCDMODULEINITIALCOST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_NCDMODULEINITIALCOST]  
(  
    @DDATE_MAID VARCHAR(50)=''  
)  
AS  
BEGIN  
  
        SELECT ACCTNO,  
            CASE WHEN FLAG_REVERSE = 'Y' THEN  
                ABS (AMOUNT) * -1  
            ELSE  
                ABS (AMOUNT)  
            END AS AMOUNT_COST,  
            CCY,  
            DOWNLOAD_DATE,  
            TRX_CODE  
        FROM IFRS_LI_ACCT_COST_FEE  
        WHERE FLAG_CF = 'C'  
            AND STATUS IN ('PRO', 'PNL', 'ACT')  
            AND SRCPROCESS = 'TRAN_DAILY'  
            AND MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))  
            AND DOWNLOAD_DATE <= CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10), 111);  
  
END;

GO
