USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_IAPSCENARIO]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_IAPSCENARIO]    
(    
	@ID varchar(30) = '',
	@SUB_SEGMENT VARCHAR(100) = '',   
	@MIN_THRESHOLD INT = 0,    
	@COST INT = 0,
	@PERIOD_MODE VARCHAR(100) = '',
	@PERIOD_MONTH INT = 0,
	@LGD VARCHAR(100) = '', 
	@Scenario_ID INT,    
	@SCENARIO_NAME VARCHAR(100),  
	@PROBABILITY VARCHAR(100),
	@RECOVERY VARCHAR(100),
	@UpdatedBy VARCHAR(36),    
	@UpdatedHost VARCHAR(30)    
)    
AS    
BEGIN

	IF @SUB_SEGMENT <>  ''

	BEGIN

		UPDATE IFRS_IAP_PARAM SET
			SEGMENTATION_ID = @SUB_SEGMENT,
			MIN_OS_VALUE = @MIN_THRESHOLD,
			COLLECTION_COST = @COST,
			WORKOUT_PERIOD_MODE = @PERIOD_MODE,
			WORKOUT_PERIOD = @PERIOD_MONTH,
			LGD_RULE_ID = @LGD,
			UPDATEDBY = @UpdatedBy,
			UPDATEDDATE = GETDATE(),
			UPDATEDHOST = @UpdatedHost
		WHERE PKID = @ID and IS_DELETE = 0

	END   

		UPDATE IFRS_IAP_PARAM_SCENARIO SET
			SCENARIO_NAME = @SCENARIO_NAME,
			PROBABILITY_OUTCOME = @PROBABILITY,
			RECOVERY_RATE = @RECOVERY,
			UPDATEDBY = @UpdatedBy,
			UPDATEDDATE = GETDATE(),
			UPDATEDHOST = @UpdatedHost
		WHERE HEADER_ID = @ID and SCENARIO_ID = @Scenario_ID and IS_DELETE = 0

END

GO
