USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PROCTRANSDETAIL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPI_PROCTRANSDETAIL]  
(  
	@jobid INT,  
	@jobno VARCHAR(100),  
	@reportid VARCHAR(100),
	@CreatedBy VARCHAR(36) = '',
	@CreatedHost VARCHAR(32) = ''  
)  
AS 
BEGIN
   
	INSERT INTO tblT_ProcessTransformDetail  
	(
		JobID, 
		JobNo, 
		ReportID
	)  
	VALUES 
	(
		@jobid, 
		@jobno, 
		@reportid
	)  

END;

GO
