USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETJOBHISTORYSTEPNPERIOD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETJOBHISTORYSTEPNPERIOD]
(
	@JobNo INT, 
	@d1 DATE,  
	@d2 DATE,  
	@Period VARCHAR(20)
)
AS
BEGIN

	SELECT Status 
	FROM tblT_JobHistory WITH (NOLOCK)  
	WHERE JobNo=@JobNo 
		AND PeriodDate >= @d1 
		AND PeriodDate <@d2 
		AND Period = @Period

END;

GO
