USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_COMMONCODED]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_COMMONCODED]    
 -- Add the parameters for the stored procedure here    
    @Value1 NVARCHAR(300) ='',    
    @Value2 NVARCHAR(300) ='',    
    @Value3 NVARCHAR(300) ='',    
    @Description NVARCHAR(300) ='',    
    @ParentCommonCode CHAR(10) ='',    
    @ParentCommonCodeValue VARCHAR(100) ='',    
    @Sequence INT =0,    
    @UpdatedBy VARCHAR(36) ='',    
    @UpdatedHost VARCHAR(30) ='',    
    @PKID BIGINT  =0  
AS     
    BEGIN    
  
        UPDATE  [dbo].[tblM_CommonCodeDetail]    
        SET     [Value1] = @Value1 ,    
                [Value2] = @Value2 ,    
                [Value3] = @Value3 ,    
                [Description] = @Description ,    
                [ParentCommonCode] = @ParentCommonCode ,    
                [ParentCommonCodeValue] = @ParentCommonCodeValue ,    
                [Sequence] = @Sequence ,    
                [UpdatedBy] = @UpdatedBy ,    
                [UpdatedDate] = getdate() ,    
                [UpdatedHost] = @UpdatedHost    
        WHERE   PKID = @PKID and IS_DELETE = 0
          
                
    END





GO
