USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADHISTORICALDATA]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADHISTORICALDATA]
(
	@mappingid bigint,
	@createdby varchar(36)
)
AS
BEGIN	
	select UPLOADID, createddate as UPLOADDATE, APPROVEDDATE from TBLT_UPLOAD_POOL 
	where mappingid=@mappingid and createdby=@createdby and status='APPROVED'

END;

GO
