USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALARFINAL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALARFINAL]      
(      
 @SCALAR_ID INT      
)      
AS      
BEGIN      
      
 SELECT   
  FL_YEAR AS Year,   
  SCALAR_FINAL AS 'Weighted Scalar'      
 FROM IFRS_ME_FL_SCALAR_RESULT      
 WHERE SCALAR_ID = @SCALAR_ID
 ORDER BY FL_YEAR      
      
END
GO
