USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_RETAIL_ECL_PRODTYPE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[USPS_RETAIL_ECL_PRODTYPE]  
as      

begin      
	select distinct PRD_TYPE as "PRD_TYPE", PRD_TYPE AS "Product Type"  
	from IFRS_MASTER_PRODUCT_PARAMETER  
	WHERE CUSTOMER_TYPE = 'RETAIL'

end

GO
