USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSIGNNORM]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_LOOKUPSIGNNORM]
AS
BEGIN

	SELECT Value1 "SIGN_NORM", Value1 "Sign Norm"
	FROM tblM_CommonCodeDetail where CommonCode='SIGNNORM'

END

GO
