USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_QUERYDATA]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPU_QUERYDATA]
(
	@CountryID VARCHAR(4000) = ' ',
	@ModuleID VARCHAR(4000) = ' ',
	@QueryID VARCHAR(4000) = ' ',
	@ObjectName VARCHAR(4000) = ' ',
	@SelectQuery VARCHAR(4000) = ' ',
	@UpdatedBy VARCHAR(4000) = ' ',
	@UpdatedHost VARCHAR(4000) = ' ' 
)
AS
BEGIN

	UPDATE TBLM_QUERYDATA
	SET CountryID = @CountryID,
		ModuleID = @ModuleID,
		QueryID = @QueryID,
		ObjectName = @ObjectName,
		SelectQuery = @SelectQuery,
		UpdatedBy = @UpdatedBy,
		UpdatedDate = GETDATE(),
		UpdatedHost = @UpdatedHost
	WHERE CountryID = @CountryID
	AND ModuleID = @ModuleID
	AND QueryID = @QueryID;

END;

GO
