USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPLOANPRODUCTCODE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUPLOANPRODUCTCODE]  
(  
 @datasource VARCHAR(50) = '',
 @productgroup VARCHAR(50) = ''--,  
 --@producttype VARCHAR(50) = ''
)  
AS    
BEGIN  
  
DECLARE @Query VARCHAR(5000);  
  
SET @Query =   
'SELECT DISTINCT PRD_CODE "PRODUCT_CODE",  
	PRD_CODE "Product Code",
	PRD_GROUP,
	DATA_SOURCE
  FROM IFRS_MASTER_PRODUCT_PARAM 
  WHERE ISNULL(IS_DELETE, 0) = 0 
	AND DATA_SOURCE LIKE ''%' + @datasource + '%'' 
	AND PRD_GROUP LIKE ''%' + @productgroup  + '%'' ' 
  --WHERE '  
  --+ CASE WHEN @datasource = ''  
  -- THEN 'DATA_SOURCE = ''''--IN (''LOAN'', ''LIMIT'') '  
  -- ELSE 'DATA_SOURCE LIKE ''%' + @datasource + '%'' '  
  --END  
  --+ CASE WHEN @productgroup <> ''  
  -- THEN 'AND PRD_GROUP LIKE ''%' + @productgroup  + '%'' '  
  -- ELSE ''  
  --END  
  --+ CASE WHEN @producttype <> ''  
  -- THEN 'AND PRD_TYPE LIKE ''%' + @producttype + '%'' '  
  -- ELSE ''  
  --END;  
 
 PRINT(@Query); 
 EXEC (@Query);  
  
END;   

GO
