USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IV_ACC]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_IV_ACC]
	@PKID int
AS
BEGIN
	DELETE FROM IFRS_INDEPENDENT_VARIABLE where MODEL_ID = @PKID
	
	INSERT	INTO IFRS_INDEPENDENT_VARIABLE(MODEL_ID,MACRO_ECONOMIC_CODE,IMPACT_TO_DEPENDENT,LAG_VARIABLE,CREATEDBY,CREATEDDATE,CREATEDHOST)
	SELECT	MODEL_ID,MACRO_ECONOMIC_CODE,IMPACT_TO_DEPENDENT,LAG_VARIABLE,CREATEDBY,CREATEDDATE,CREATEDHOST
	FROM	TMP_IFRS_INDEPENDENT_VARIABLE
	WHERE	MODEL_ID = @PKID

	DELETE FROM TMP_IFRS_INDEPENDENT_VARIABLE where MODEL_ID = @PKID
	
END

GO
