USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SCALARCONFIG_H]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_SCALARCONFIG_H]  
 @PKID int =0,  
 @MODEL_ID int,  
 @PERIOD date,  
 @ADJ_TYPE varchar(5),  
 @APPLY_TO varchar(5),  
 @RULE_ID int,  
 @BY varchar(36),  
 @HOST varchar(36),  
 @APPROVAL bit = 1  
AS  
BEGIN  
 DECLARE @count int;  
 DECLARE @action varchar(2);  
    SELECT @count = COUNT(*) FROM IFRS_ME_SCALAR_HEADER WHERE PKID =@PKID AND IS_DELETE = 0  
 IF @APPROVAL = 1  
 BEGIN  
  IF @COUNT > 0  
  BEGIN  
   SET @action = 'U'   
  END  
  ELSE  
  BEGIN  
   SET @action = 'I'  
  END  
  INSERT IFRS_ME_SCALAR_HEADER_PENDING(PKID,MODEL_ID,PERIOD,ADJ_TYPE,SCALAR_APPLY,RULE_ID,[BY],[DATE],HOST,[ACTION])  
   VALUES(  
  @PKID,  
  @MODEL_ID,  
  @PERIOD,  
  @ADJ_TYPE,  
  @APPLY_TO,  
  @RULE_ID,  
  @BY,  
  GETDATE(),  
  @HOST,  
  @action   
  )  
 END  
 ELSE  
 BEGIN   
  IF @COUNT > 0  
  BEGIN  
   UPDATE IFRS_ME_SCALAR_HEADER   
   SET  
    MODEL_ID =@MODEL_ID,  
    PERIOD = @PERIOD,  
    ADJ_TYPE = @ADJ_TYPE,  
    SCALAR_APPLY = @APPLY_TO,  
    RULE_ID = @RULE_ID,  
    UPDATEDBY = @BY,  
    UPDATEDDATE = GETDATE(),  
    UPDATEDHOST = @HOST  
   WHERE PKID = @PKID  
   DELETE FROM IFRS_ME_SCALAR_DETAIL WHERE SCALAR_ID = @PKID  
  END  
  ELSE  
  BEGIN  
  
   INSERT IFRS_ME_SCALAR_HEADER(PKID,MODEL_ID,PERIOD,ADJ_TYPE,SCALAR_APPLY,RULE_ID,CREATEDBY,CREATEDDATE,CREATEDHOST)  
    VALUES(  
   @PKID,  
   @MODEL_ID,  
   @PERIOD,  
   @ADJ_TYPE,  
   @APPLY_TO,  
   @RULE_ID,  
   @BY,  
   GETDATE(),  
   @HOST  
   )  
  END  
 END  
END
GO
