USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADFEECOSTMESSAGEERROR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_UPLOADFEECOSTMESSAGEERROR](
@UploadID int = 0
,@Module varchar(20) = ''
,@UserID varchar(50) = '')
AS
BEGIN
	SET NOCOUNT ON;
	IF @Module = 'LIABILITIES'
	BEGIN
		SELECT
			a.msg_id "Msg_ID", 
			c.PKID "Temp_ID",
			a.field_name "Field_Name", 
			a.error_msg "Error_Msg", 
			c.row_number "Row_Number"
		from [dbo].[TBLU_FEECOST_MESSAGEERROR] a
		left join [dbo].[TBLU_TRANS_LIAB_TEMP] c on a.UPLOAD_ID=c.UPLOADID and a.TEMP_ID = c.ROW_NUMBER
		where a.Upload_ID=@uploadID
			and a.CreatedBy = @UserID
			AND A.MODULE = @Module
		order by c.row_number asc;
	END
	ELSE IF @Module = 'LENDING'
	BEGIN
		SELECT
			a.msg_id "Msg_ID", 
			c.PKID "Temp_ID",
			a.field_name "Field_Name", 
			a.error_msg "Error_Msg", 
			c.row_number "Row_Number"
		from [dbo].[TBLU_FEECOST_MESSAGEERROR] a
		left join [dbo].[TBLU_TRANS_ASSET_TEMP] c on a.UPLOAD_ID=c.UPLOADID and a.TEMP_ID = c.ROW_NUMBER
		where a.Upload_ID=@uploadID
			and a.CreatedBy = @UserID
			AND A.MODULE = @Module
		order by c.row_number asc;
	END
	ELSE IF @Module = 'FACILITY_FEECOST'
	BEGIN
		SELECT
			a.msg_id "Msg_ID", 
			c.PKID "Temp_ID",
			a.field_name "Field_Name", 
			a.error_msg "Error_Msg", 
			c.row_number "Row_Number"
		from [dbo].[TBLU_FEECOST_MESSAGEERROR] a
		left join [dbo].[TBLU_FACILITY_FEECOST_TEMP] c on a.UPLOAD_ID=c.UPLOADID and a.TEMP_ID = c.ROW_NUMBER
		where a.Upload_ID=@uploadID
			and a.CreatedBy = @UserID
			AND A.MODULE = @Module
		order by c.row_number asc;
	END

END

GO
