USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_ECL_DETAIL_PF]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_ECL_DETAIL_PF]  
(  
 @ECL_MODEL_ID int = 0,  
 @UPDATEDBY varchar(36),  
 @UPDATEDHOST varchar(30)  
)  
AS  
BEGIN  
  
 UPDATE IFRS_ECL_MODEL_DETAIL_PF  
  SET IS_DELETE = 1  
   ,UPDATEDBY = @UPDATEDBY  
   ,UPDATEDDATE = GETDATE()  
   ,UPDATEDHOST = @UPDATEDHOST  
 where ECL_MODEL_ID = @ECL_MODEL_ID  
  
END
GO
