USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_REVIEW_GRID_MASTER_HISTORY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROC [dbo].[USPS_REVIEW_GRID_MASTER_HISTORY]            
(          
 @MASTERID VARCHAR(100),        
 @DCFID BIGINT    
)          
AS          
BEGIN          
         
 DECLARE @OUTSTANDING FLOAT      
 DECLARE @NPV_AMOUNT FLOAT      
 DECLARE @UNWINDING_AMOUNT FLOAT      
 DECLARE @ECL_AMOUNT FLOAT      
 DECLARE @EIR_PERCENT FLOAT      
      
 SELECT       
  @EIR_PERCENT = MAX(EIR_PERCENT)       
 FROM TBLT_PAYMENTEXPECTED_HIST      
 WHERE MASTERID = @MASTERID      
 AND DCFID = @DCFID  
 AND UPLOADID = (SELECT MAX(UPLOADID) FROM TBLT_PAYMENTEXPECTED_HIST WHERE DCFID = @DCFID AND MASTERID = @MASTERID)      
      
 SELECT       
  @OUTSTANDING = OUTSTANDING      
 FROM IFRS_IMP_IA_MASTER_HIST      
 WHERE MASTERID = @MASTERID AND DCFID = @DCFID    
      
 SELECT      
  @NPV_AMOUNT = SUM(NPV),      
  @UNWINDING_AMOUNT = SUM(UNWINDING_AMOUNT),      
  @ECL_AMOUNT = @OUTSTANDING-@NPV_AMOUNT      
 FROM TBLT_PAYMENTEXPECTED_HIST     
 WHERE MASTERID = @MASTERID      
 AND DCFID = @DCFID      
 AND UPLOADID = (SELECT MAX(UPLOADID) FROM TBLT_PAYMENTEXPECTED_HIST WHERE DCFID = @DCFID AND MASTERID = @MASTERID)    
      
 SELECT      
  EFFECTIVE_DATE,      
  MASTERID,      
  CUSTOMER_NUMBER,      
  CUSTOMER_NAME,      
  CURRENCY,      
  OUTSTANDING,      
  @UNWINDING_AMOUNT AS UNWINDING_AMOUNT,      
  ISNULL(@EIR_PERCENT, ISNULL(EIR, ISNULL(INTEREST_RATE, AVG_EIR))) / 100 AS INTEREST_RATE,      
  @NPV_AMOUNT AS NPV_AMOUNT,      
  /*Req Dewi*/
  --@ECL_AMOUNT AS ECL_AMOUNT      
  CASE WHEN @ECL_AMOUNT < 0
	THEN 0
	ELSE @ECL_AMOUNT
  END AS ECL_AMOUNT  
  /*end*/
 FROM IFRS_IMP_IA_MASTER_HIST      
 WHERE MASTERID = @MASTERID   
 AND DCFID = @DCFID   
 AND STATUS = 'APPROVE_REVIEW'  
        
END

GO
