USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_RECOV_ANALYSIS_PRD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_RECOV_ANALYSIS_PRD]
(
	@LGD_ID int
)
AS
BEGIN

SELECT DISTINCT CURRDATE "PERIOD",
				LTRIM(RTRIM(DATENAME(MONTH, CURRDATE))) + ' ' + LTRIM(RTRIM(DATENAME(YEAR, CURRDATE))) AS DESCRIPTION
            FROM IFRS_LGD_RECOVERY_RATE
            WHERE LGD_RULE_ID = @LGD_ID
            ORDER BY CURRDATE DESC;
END;


GO
