USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRDCODEBYPRDTYPE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPPRDCODEBYPRDTYPE]
(
	@PRD_TYPE AS VARCHAR(50) = ''
)
AS
BEGIN
SELECT DISTINCT PRD_CODE,  
		PRD_CODE "Product Code" FROM IFRS_MASTER_PRODUCT_PARAM
WHERE PRD_TYPE = @PRD_TYPE
UNION ALL
SELECT 'ALL' AS PRD_CODE, 'ALL' AS [Product Code]
order BY PRD_CODE
END
GO
