USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEVARCLUSDETAIL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USPS_MEVARCLUSDETAIL]  
 (  
 @MODEL_ID int,  
 @CLUSTER int  
 )  
 AS  
   
 declare @count int ;  
 select  @count = PKID   
 from IFRS_ME_MODEL_VARCLUS_SUMM  
 where MODEL_ID = @MODEL_ID AND  
   CLUSTER = @CLUSTER  
  
 if @count > 0  -- select data from final table    
  select  *   
  from IFRS_ME_MODEL_VARCLUS_SUMM  
  where MODEL_ID = @MODEL_ID AND  
    CLUSTER = @CLUSTER  
 else  
  select *   
  from TMP_IFRS_VARCLUS_CLUSTER_SUMM  
  where MODEL_ID = @MODEL_ID AND  
    CLUSTER = @CLUSTER   
  
GO
