USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_CORP_PD_CHART]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_ECL_CORP_PD_CHART]
(
	@GroupReport varchar(50)='',
	@PDMethod varchar(50)='',
	@CustType varchar(50)='',
	@PDRuleID int=0,
	@Period datetime='1900-01-01'
)
as
begin

select EFF_DATE,PD_RULE_ID, PD_METHOD, TENOR, CUMMULATIVE_PD*100 as CUMMULATIVE_PD  from IFRS_PD_TERM_STRUCTURE_CORP
where  group_reporting = @GroupReport
	and pd_method = @PDMethod
	and customer_type = @CustType
  and pd_rule_id = @PDRuleID
  and EFF_DATE = @Period
end

GO
