USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SCENARIORULEH]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_SCENARIORULEH]
(
	@UPDATED_TABLE varchar(30)
	,@UPDATED_COLUMN varchar(30)
	,@UpdatedBy varchar(36)=''          
	,@UpdatedHost varchar(30)=''
	,@PKID bigint 
	,@Value varchar(50)=''
	,@SEQUENCE int=0     
)
AS
BEGIN
	UPDATE [dbo].[IFRS_SCENARIO_RULES_HEADER]
	SET [UPDATED_TABLE] = @UPDATED_TABLE
		,[UPDATED_COLUMN] = @UPDATED_COLUMN
		,[UpdatedBy]=@UpdatedBy
		,[UpdatedDate]=getdate()
		,[UpdatedHost]=@UpdatedHost
		,[VALUE]=@Value
		,[SEQUENCE]=@SEQUENCE
	WHERE PKID=@PKID and IS_DELETE = 0

END

GO
