USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADDCFVALIDATION_AFTER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_UPLOADDCFVALIDATION_AFTER]
(
	@uploadID BIGINT,
	@dcfid BIGINT
)
AS
BEGIN
	
	--delete table tampung upload supaya bisa upload lagi untuk user yg sama.  
	DELETE TBLU_DCF_MESSAGEERROR WHERE DCFID = @dcfid

	-- Checking: If SUM(NPV) > SUM(EAD_AMOUNT) by Facility
	DECLARE @EAD_AMOUNT DECIMAL(32, 6);
	DECLARE @facnum VARCHAR(50);
	DECLARE @Currency VARCHAR(5);
	DECLARE @CurrDate	DATETIME;
	  	
	SELECT @CurrDate = CURRDATE 
	FROM IFRS_PRC_DATE

	SELECT @facnum = FACILITY_NUMBER,
		@Currency = CURRENCY
	FROM IFRS_IMP_OVERRIDE
	WHERE DCFID = @dcfid;

	SELECT @EAD_AMOUNT = SUM(EAD_AMOUNT)
	FROM IFRS_MASTER_ACCOUNT
	WHERE DOWNLOAD_DATE = @CurrDate
		AND FACILITY_NUMBER = @facnum
		AND CURRENCY = @Currency
	GROUP BY FACILITY_NUMBER;

	INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)  
	SELECT ROW_NUMBER, 'EAD_AMOUNT', 'Total of Cash Flow After Scenario Repayment Rate is greater than Total EAD Amount ', @dcfid
	FROM tblT_PaymentExpectedH_TEMP
	WHERE DCFID = @dcfid
		AND UPLOADID = @uploadID
		AND (
			--SELECT SUM(NPV)
			--SELECT SUM((ESTIMATED_AMOUNT * RR1 * POS1) + (ESTIMATED_AMOUNT * RR2 * POS2) +	
			-- (ESTIMATED_AMOUNT * RR3 * POS3) + (ESTIMATED_AMOUNT * RR4 * POS4) +	
			-- (ESTIMATED_AMOUNT * RR5 * POS5) + ESTIMATED_COLLATERAL_PAYM)
			SELECT SUM(PROBABILITY_WEIGHTED)
			FROM TBLT_PAYMENTEXPECTED_TEMP
			WHERE DCFID = @dcfid 
				AND UPLOADID = @uploadID
		) > @EAD_AMOUNT

	-- Return Total Violates
	SELECT COUNT (*) as countInvalid   
	FROM tblU_DCF_MessageError e 
		LEFT JOIN tblU_DCF_Detail d ON e.DCFID = d.DCFID  
			AND TEMP_ID = ROW_NUMBER
	WHERE e.DCFID = @dcfid
	
END;

GO
