USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMCOABS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPI_PARAMCOABS]
(
	@GLCode varchar(9)='', 
	@GLName varchar(200)='',
	@FSCodePositive varchar(200)='',
	@FSCodeNegative varchar(200)='',
	@NormalPos char(2)='',
	@Rule integer=0,
	@CreatedBy varchar(36)='',         
	@CreatedHost varchar(30)=''
)          
AS
BEGIN  

	INSERT INTO GL_PARAM_COA_BS_HO
    (
		[GLCode]
		,[GLName]
		,[FSCodePositive]
		,[FSCodeNegative]
		,[NormalPos]
		,[Rule]
		,[CreatedBy]
		,[CreatedDate]
		,[CreatedHost]
    )
     VALUES
    (
		@GLCode
		,@GLName
		,@FSCodePositive
		,@FSCodeNegative
		,@NormalPos
		,@Rule
		,@CreatedBy          
		,GETDATE()          
		,@CreatedHost          
    )          

END

GO
