USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_VARIABLEFORECAST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_VARIABLEFORECAST]    
AS                                                  
BEGIN                                                  
                
 SELECT * FROM IFRS_ME_FORECAST
 WHERE ISNULL(IS_DELETE, 0) = 0
                                      
END
GO
