USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_LGW_AVERAGE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LGD_LGW_AVERAGE](  
   @Period          DATE='1900-01-01',  
   @ProdGroup       int=0  
   )  
AS  
BEGIN

select 
	EFF_DATE "Period",
	CAST(EQV_AT_DEFAULT as decimal(32, 2)) "Total Outstanding at Default"
	, CAST(NPV_EQV_WO as decimal(32, 2)) "Total Writeoff Amount"
	, CAST(NPV_EQV_REC_OS as decimal(32, 2)) "Total ICF"
	, CAST(NPV_EQV_REC_WO as decimal(32, 2)) "Total WO Recovery"
	, CAST(LGW as decimal(32, 2))*100 as "LGW %"
from IFRS_LGD_LGW_HEADER where EFF_DATE = @period and LGD_RULE_ID = @ProdGroup


END

GO
