USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_QUESTION_SPPI]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_QUESTION_SPPI]                          
(                          
 @SECTIONID int,   
 @ITEMCODE varchar(20) = '',          
 @QUESTION varchar(4000) = '',
 @DESCRIPTION varchar(4000) = '',
 @SCOREYES int,
 @SCORENO int,
 @REQUIRED bit,
 @CreatedBy varchar(36) = '',             
 @CreatedHost varchar(30) = ''             
)            
AS  
BEGIN       
            
 INSERT INTO [dbo].[IFRS_AC_SPPI_QUESTIONS]            
 (      
	TEMPLATEID,      
	SECTIONID,
	ITEMCODE,
	QUESTION,
	DESCRIPTION,
	SCOREYES,
	SCORENO,
	REQUIRED,
	PARENTID,
	FOLLOWUP,
    CREATEDBY,
    CREATEDDATE,
    CREATEDHOST
 )                          
 VALUES                          
 (  
	0
	,@SECTIONID
	,@ITEMCODE
	,@QUESTION
	,@DESCRIPTION
	,@SCOREYES
	,@SCORENO
	,@REQUIRED
	,0
	,0
	,@CreatedBy            
	,GETDATE()            
	,@CreatedHost            
 )  

  
END;


GO
