USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPDATEFORMLOG]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_UPDATEFORMLOG]
(
	@YMD datetime
)
AS
BEGIN

	SELECT *
	FROM Tbl_UpdateForm_Log (nolock)
	WHERE DATEDIFF(d, ymd, @YMD) = 0

END

GO
