USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKSMBCCLASS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_CEKSMBCCLASS]  
(  
 @cekSMBCClassName varchar(30) = '',   
 @cekPKID bigint = 0  
)  
AS  
BEGIN  
DECLARE @COUNT INT  
DECLARE @COUNTPENDING INT  
  
	SELECT @COUNT = COUNT(*)  
	FROM IFRS_DIM_SMBC_CLASS  
	WHERE UPPER(SMBC_CLASS_NAME) = UPPER(LTRIM(RTRIM(@cekSMBCClassName)))
	AND PKID <> @cekPKID  
	AND ISNULL(IS_DELETE,0) = 0;  
   
	SELECT @COUNTPENDING = COUNT(*) FROM  
	(SELECT HEADERID, SMBC_CLASS_NAME
		FROM  (SELECT ISNULL(NEWVALUE,OLDVALUE) AS VALUE, FIELDNAME, HEADERID  
				FROM TBLT_APPROVALDETAIL  WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER   WHERE SCREENID = 'SMBC_CLASS_PARAMETER' 
		AND STATUS='P') )d  pivot  (max(value) for FIELDNAME in (SMBC_CLASS_NAME)) piv)A  
	WHERE SMBC_CLASS_NAME = @cekSMBCClassName  
    
  SELECT @COUNT AS "COUNT", @COUNTPENDING AS "COUNTPENDING"  
  
END;

GO
