USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ACSPPIHEADER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_ACSPPIHEADER]            
AS          
SELECT      
 A.PKID,      
 A.CLASSNAME,      
 A.EFFECTIVE_DATE,      
 CASE WHEN A.SPPI_RSLT = 'NONSPPI'      
  THEN 'NON SPPI'      
  ELSE A.SPPI_RSLT      
 END AS SPPI_RSLT,      
 A.STATUS,      
 A.OVERRIDE,    
 A.PRODUCT_CODE,  
 A.DATE,
 USERNAME      
FROM        
 (SELECT PKID,CLASSNAME,EFFECTIVE_DATE            
  ,CASE WHEN(OVERRIDE_RSLT = '')             
  THEN SPPI_RSLT             
  ELSE OVERRIDE_RSLT             
  END SPPI_RSLT,        
  STATUS,        
  OVERRIDE_FLG OVERRIDE,  
  REPLACE(PRODUCT_CODE, ',', ', ') AS PRODUCT_CODE,  
  CASE WHEN UPDATEDDATE IS NULL    
 THEN CREATEDDATE    
 ELSE UPDATEDDATE    
 END AS DATE,
 CREATEDBY            
 FROM IFRS_AC_SPPI_HEADER            
 WHERE ISNULL(IS_DELETE,0) = 0) A
 INNER JOIN
 TBLM_USER USERS
 ON A.CREATEDBY = USERS.PKID      
 ORDER BY A.DATE DESC
GO
