USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DEFAULT_LIST_PD_COHORT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DEFAULT_LIST_PD_COHORT]
(
	@PD_RULE_ID AS BIGINT,
	@PERIOD AS DATE = '2012-10-31',
	@YEAR AS INT = 1
)
AS
BEGIN

DECLARE @CALC_METHOD AS VARCHAR(20)
SELECT TOP 1 @CALC_METHOD = CALC_METHOD FROM IFRS_PD_RULES_CONFIG WHERE PKID = @PD_RULE_ID

SELECT
BUCKET_NAME AS [BUCKET], 
DOWNLOAD_DATE AS [SNAPSHOT], 
PD_UNIQUE_ID AS [ACCOUNT NUMBER],
PROJECTION_DATE AS [DEFAULT PERIOD]
FROM IFRS_PD_CHR_DATA
WHERE DOWNLOAD_DATE = @PERIOD
AND PD_RULE_ID = @PD_RULE_ID
AND CALC_METHOD IN (@CALC_METHOD)
AND PROJECTION_DATE = DATEADD(YEAR,@YEAR,@PERIOD)
END



GO
