USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PENDING_ECL_MODEL_D_PD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_PENDING_ECL_MODEL_D_PD]    
(    
 @ECL_MODEL_ID BIGINT,    
 @SEGMENTATION_ID BIGINT,    
 @PD_MODEL_ID BIGINT,    
 @ME_MODEL_ID BIGINT,    
 @EFF_DATE_OPTION VARCHAR(20),    
 @EFF_DATE DATE, 
 @SCALAR_EFF_DATE_OPTION VARCHAR(20),    
 @SCALAR_EFF_DATE DATE,     
 @CREATEDBY  VARCHAR(36),    
 @CREATEDHOST VARCHAR(36)    
 )    
AS    
BEGIN    
    
	INSERT IFRS_ECL_MODEL_DETAIL_PD_PEND
	(    
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[PD_MODEL_ID],
		[ME_MODEL_ID],
		[EFF_DATE_OPTION],
		[EFF_DATE],
		[SCALAR_EFF_DATE_OPTION],
		[SCALAR_EFF_DATE],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	)    
	VALUES
	(    
		@ECL_MODEL_ID,
		@SEGMENTATION_ID,
		@PD_MODEL_ID,
		@ME_MODEL_ID,
		@EFF_DATE_OPTION,
		CASE WHEN @EFF_DATE_OPTION != 'SELECT_DATE' THEN NULL
			WHEN @EFF_DATE_OPTION = 'SELECT_DATE' AND YEAR(@EFF_DATE) < 2000 THEN NULL
			ELSE @EFF_DATE END,
		@SCALAR_EFF_DATE_OPTION,
		CASE WHEN @SCALAR_EFF_DATE_OPTION != 'SELECT_DATE' THEN NULL
			WHEN @SCALAR_EFF_DATE_OPTION = 'SELECT_DATE' AND YEAR(@SCALAR_EFF_DATE) < 2000 THEN NULL
			ELSE @SCALAR_EFF_DATE END,
		@CREATEDBY,
		GETDATE(),
		@CREATEDHOST
	)    
    
END;
GO
