USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_BACKTESTRESULTD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPR_BACKTESTRESULTD](
@MODEL_ID bigint = 0,
@IN_SAMPLE_START_DATE date,
@IN_SAMPLE_END_DATE date)
AS        
BEGIN

    SELECT
		EOMONTH(A.PERIOD) AS "Base Date",
		A.FITTED_PD_LOG AS "Fitted Logit ODR",
		A.ACTUAL_PD_LOG AS "Actual Logit ODR",
		A.PDLOG_SQRD_ERR AS "Logit ODR Squared Error",
		A.PDLOG_MAPE AS "Logit ODR Absolute Percentage Error",
		A.FITTED_PD_RATE AS "Fitted ODR",
		A.ACTUAL_PD_RATE AS "Actual ODR",
		A.PDRATE_SQRD_ERR AS "ODR Squared Error",
		A.PDRATE_MAPE AS "ODR Absolute Percentage Error"
	FROM IFRS_BACKTEST_ODR_RESULT A
	WHERE A.MODEL_ID = @MODEL_ID
		AND PERIOD BETWEEN @IN_SAMPLE_START_DATE AND @IN_SAMPLE_END_DATE
	ORDER BY PERIOD
	  
END;   

GO
