USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_USERLOCK]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_USERLOCK]        
(
 @PKID varchar(50),
  @UpdatedBy varchar(36)='',      
 @UpdatedHost varchar(30)=''                                    
)       
as       
BEGIN   
Update tblM_User 
set IsUserLocked=1,
     UpdatedBy = @UpdatedBy,                            
     UpdatedHost = @UpdatedHost,                            
     UpdatedDate = GETDATE()   
where PKID=@PKID                         
END





GO
