USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_AVERAGEEIR]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_AVERAGEEIR]        
(      
 @SEGMENT VARCHAR(100),      
 @PERIOD_FROM DATE,      
 @PERIOD_TO DATE      
)       
AS      
BEGIN      
      
 IF @SEGMENT = 'ALL'  
 BEGIN  
  SELECT   
   DOWNLOAD_DATE,  
   EIR_SEGMENT,  
   AVG_EIR AS AVG_EIR  
  FROM IFRS_IMP_AVG_EIR   
  WHERE DOWNLOAD_DATE BETWEEN @PERIOD_FROM AND @PERIOD_TO 
  ORDER BY DOWNLOAD_DATE, EIR_SEGMENT  
 END  
 ELSE  
 BEGIN   
  SELECT   
   DOWNLOAD_DATE,  
   EIR_SEGMENT,  
   AVG_EIR AS AVG_EIR  
  FROM IFRS_IMP_AVG_EIR   
  WHERE EIR_SEGMENT = @SEGMENT   
  AND DOWNLOAD_DATE BETWEEN @PERIOD_FROM AND @PERIOD_TO  
  ORDER BY DOWNLOAD_DATE, EIR_SEGMENT   
 END   
      
END;
GO
