USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMPREPAYMENTMODEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_PARAMPREPAYMENTMODEL]     
(    
 @PREPAYMENT_RULE_NAME varchar(250) = ''    
 ,@SEGMENTATION_ID bigint = 0    
 ,@AVERAGE_METHOD varchar(20) = ''    
 ,@CUT_OFF_DATE date = '2000/01/01'    
 ,@PREPAYMENT_OVERRIDE float = 0    
 ,@CreatedBy varchar(50) = ''    
 ,@CreatedHost varchar(20) = ''    
)    
AS    
BEGIN    
    
 INSERT INTO IFRS_PREPAYMENT_RULES_CONFIG([PREPAYMENT_RULE_NAME],[SEGMENTATION_ID],[AVERAGE_METHOD]  
      ,[CUT_OFF_DATE],[PREPAYMENT_OVERRIDE],[CREATEDBY],[CREATEDDATE],[CREATEDHOST], IS_DELETE)    
    VALUES(@PREPAYMENT_RULE_NAME,@SEGMENTATION_ID,@AVERAGE_METHOD    
  ,@CUT_OFF_DATE,@PREPAYMENT_OVERRIDE,@CreatedBy,GETDATE(),@CreatedHost, 0)    
    
END

GO
