USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CUMULATIVE_PD_MAA]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_CUMULATIVE_PD_MAA]
(
	@PD_RULE_ID AS BIGINT,
	@PERIOD AS DATE
)
AS
BEGIN

DECLARE @MAX_SEQ_YEAR AS INT,
		@COUNT_YEAR AS INT,
		@YEAR_TO_END AS VARCHAR(4000) = '',
		@COLUMN_YEAR AS VARCHAR(4000) = '',
		@SUM_COLUMN_YEAR AS VARCHAR(4000) = '',
		@GROUP_COLUMN_YEAR AS VARCHAR(4000) = '';

DECLARE @TABLE VARCHAR(50),
		@PD_METHOD VARCHAR(50),
		@COL_SEQUENCE VARCHAR(50),
		@COL_RATE VARCHAR(50),
		@COLUMNS VARCHAR(50)

SELECT @PD_METHOD = PD_METHOD FROM IFRS_PD_RULES_CONFIG WHERE PKID = @PD_RULE_ID

IF @PD_METHOD = 'MAA_CORP'
BEGIN
	SET @TABLE = 'IFRS_PD_MAA_CORP_RESULT'
	SET @COL_SEQUENCE = 'FL_SEQ'
	SET @COL_RATE = 'CUMULATIVE_PD_RATE'

	SELECT @MAX_SEQ_YEAR = MAX(FL_SEQ) 
	FROM IFRS_PD_MAA_CORP_RESULT 
	WHERE PD_RULE_ID = @PD_RULE_ID AND DOWNLOAD_DATE = @PERIOD
END
ELSE IF @PD_METHOD = 'EXT'
BEGIN
	SET @TABLE = 'IFRS_PD_EXTERNAL_TREASURY'
	SET @COL_SEQUENCE = 'REMAINING_TENOR_YEAR'
	SET @COL_RATE = 'CUMMULATIVE_PD'

	SELECT @MAX_SEQ_YEAR = MAX(REMAINING_TENOR_YEAR)
	FROM IFRS_PD_EXTERNAL_TREASURY A
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENT = B.SEGMENT and B.SEGMENT_TYPE = 'PD_SEGMENT'
	LEFT JOIN IFRS_PD_RULES_CONFIG C ON C.SEGMENTATION_ID = B.PKID and isnull(C.is_delete,0) = 0
	WHERE DOWNLOAD_DATE = @PERIOD
		AND C.PKID = @PD_RULE_ID
END
ELSE
BEGIN
	SET @TABLE = 'IFRS_PD_MAA_RESULT'
	SET @COL_SEQUENCE = 'FL_SEQ'
	SET @COL_RATE = 'CUMULATIVE_PD_RATE'

	SELECT @MAX_SEQ_YEAR = MAX(FL_SEQ) 
	FROM IFRS_PD_MAA_RESULT 
	WHERE PD_RULE_ID = @PD_RULE_ID AND DOWNLOAD_DATE = @PERIOD
END


SET @COUNT_YEAR = 1

WHILE @MAX_SEQ_YEAR >= @COUNT_YEAR
BEGIN
	IF @MAX_SEQ_YEAR = @COUNT_YEAR
	BEGIN
		SET @YEAR_TO_END = @YEAR_TO_END + 'SUM(CASE WHEN '+ @COL_SEQUENCE +' = ' + CONVERT(VARCHAR,@COUNT_YEAR) + ' THEN '+ @COL_RATE +' ELSE 0 END) AS YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)
		SET @COLUMN_YEAR = @COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ' [DECIMAL](32,6) NULL'
		SET @SUM_COLUMN_YEAR = @SUM_COLUMN_YEAR + 'SUM(YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ') *100' + ' AS ' + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)
		SET @GROUP_COLUMN_YEAR = @GROUP_COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)
	END
	ELSE
	BEGIN
		SET @YEAR_TO_END = @YEAR_TO_END + 'SUM(CASE WHEN '+ @COL_SEQUENCE +' = ' + CONVERT(VARCHAR,@COUNT_YEAR) + ' THEN '+ @COL_RATE +' ELSE 0 END) AS YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','
		SET @COLUMN_YEAR = @COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ' [DECIMAL](32,6) NULL,'
		SET @SUM_COLUMN_YEAR = @SUM_COLUMN_YEAR + 'SUM(YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ') *100' + ' AS ' + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','
		SET @GROUP_COLUMN_YEAR = @GROUP_COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','
	END

	SET @COUNT_YEAR = @COUNT_YEAR  + 1
END

DECLARE @QUERY AS VARCHAR(MAX) = '';

IF (@PD_METHOD != 'EXT')
BEGIN
SET @QUERY = '
CREATE TABLE #TEMP
(
[BUCKET] [VARCHAR](100) NULL,
[BUCKET_ID] [INT] NULL,'
+ @COLUMN_YEAR + 
') '

+ 'INSERT INTO #TEMP
	SELECT 
		B.BUCKET_NAME AS BUCKET,
		B.BUCKET_ID,'
		+ @YEAR_TO_END +
	' FROM '+@TABLE+' A 
	INNER JOIN (SELECT DISTINCT BUCKET_GROUP,BUCKET_ID,BUCKET_NAME FROM IFRS_BUCKET_DETAIL WHERE ISNULL(IS_DELETE, 0) = 0) B '
	+ 'ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_ID = B.BUCKET_ID 
	WHERE A.PD_RULE_ID = '+ CONVERT(VARCHAR,@PD_RULE_ID) +' 
		AND A.DOWNLOAD_DATE = ' + '''' +CONVERT(VARCHAR(10),@PERIOD,120) + '''' + '
	GROUP BY A.DOWNLOAD_DATE,B.BUCKET_NAME,A.CUMULATIVE_PD_RATE,B.BUCKET_ID '
	+

	'SELECT BUCKET AS [CPD(%)], BUCKET_ID,'
	+ @SUM_COLUMN_YEAR +
	' FROM #TEMP GROUP BY BUCKET,BUCKET_ID ORDER BY BUCKET_ID'--,' + @GROUP_COLUMN_YEAR
END
ELSE
BEGIN
SET @QUERY = '
CREATE TABLE #TEMP
(
[BUCKET] [VARCHAR](100) NULL,
[BUCKET_ID] [INT] NULL,'
+ @COLUMN_YEAR + 
') '

+ 'INSERT INTO #TEMP
	SELECT 
		RATING_CODE AS BUCKET,
		0 AS BUCKET_ID,'
		+ @YEAR_TO_END +
	' FROM '+@TABLE+' A 
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENT = B.SEGMENT and B.SEGMENT_TYPE = ''PD_SEGMENT''
	LEFT JOIN IFRS_PD_RULES_CONFIG C ON C.SEGMENTATION_ID = B.PKID and isnull(C.is_delete,0) = 0
	WHERE C.PKID = '+ CONVERT(VARCHAR,@PD_RULE_ID) +' 
		AND A.DOWNLOAD_DATE = ' + '''' +CONVERT(VARCHAR(10),@PERIOD,120) + '''' + '
	GROUP BY A.DOWNLOAD_DATE,A.RATING_CODE '
	+

	'SELECT BUCKET AS [CPD(%)],BUCKET_ID,'
	+ @SUM_COLUMN_YEAR +
	' FROM #TEMP GROUP BY BUCKET,BUCKET_ID ORDER BY BUCKET'--,' + @GROUP_COLUMN_YEAR
END

	IF ISNULL(@MAX_SEQ_YEAR,0) = 0
	BEGIN
		SELECT '' AS [CPD(%)], '' BUCKET_ID FROM IFRS_PD_MAA_RESULT WHERE DOWNLOAD_DATE = '01/01/2000'
	END
	ELSE
	BEGIN
		EXEC(@QUERY);
	END

	PRINT(@QUERY);

END

GO
