USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPDETERMINEID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPDETERMINEID]   
				                
as                  
        
begin                  
			SELECT CAST(PKID AS VARCHAR(100)) AS DETERMINEID, CAST(DESCRIPTION AS VARCHAR(100)) AS Answer
            FROM TBLM_COMMONCODEDETAIL where COMMONCODE = 'B38'            
end     

GO
