USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ACSPPIHEADER_HIST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_ACSPPIHEADER_HIST](          
@PKID bigint = 0)          
AS          
BEGIN          
     
SELECT    
 A.PKID,    
 A.CLASSNAME,    
 A.EFFECTIVE_DATE,  
 A.CREATEDDATE,  
 USERS.USERNAME,
 A.PRODUCT_CODE,
 A.OVERRIDE_FLG,    
 CASE WHEN A.SPPI_RSLT = 'NONSPPI'    
  THEN 'NON SPPI'    
  ELSE A.SPPI_RSLT    
 END AS SPPI_RSLT,    
 A.STATUS    
FROM           
 (SELECT       
 PKID,      
 CLASSNAME,      
 EFFECTIVE_DATE,  
 CREATEDDATE,  
 CREATEDBY,
 PRODUCT_CODE,
 OVERRIDE_FLG,      
 CASE WHEN OVERRIDE_FLG = 0      
  THEN SPPI_RSLT      
  ELSE OVERRIDE_RSLT      
 END AS SPPI_RSLT,      
 STATUS          
 FROM IFRS_AC_SPPI_HEADER_HIST          
 WHERE PKID_HEADER = @PKID) A  
 JOIN TBLM_USER USERS  
 ON A.CREATEDBY = USERS.PKID  
           
 ORDER BY A.PKID DESC          
          
END 
GO
