USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_TMPBOOTSTRAPMODEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_TMPBOOTSTRAPMODEL]
(
    @PKID BIGINT=0,
    @BOOTSTRAP_NAME VARCHAR(100),
    @BOOTSTRAP_SAMPLE SMALLINT,
    @BOOTSTRAP_POINT SMALLINT,
    @MODEL_ID BIGINT,
    @CreatedBy VARCHAR(36),
    @CreatedHost VARCHAR(36),
	@NewPKID bigint=0 OUT
)
AS
BEGIN

	Declare @v_Exist bigint;

	select @v_Exist = COUNT(*)
	from TMP_IFRS_PD_BOOTSTRAP_CONFIG
	where PKID = @PKID

	if @v_Exist = 0
	BEGIN
		
		INSERT INTO TMP_IFRS_PD_BOOTSTRAP_CONFIG
		(
			BOOTSTRAP_NAME,
			BOOTSTRAP_SAMPLE,
			BOOTSTRAP_POINT,
			MODEL_ID,
			CreatedBy,
			CreatedDate,
			CreatedHost
		)
		VALUES
		(
			@BOOTSTRAP_NAME,
			@BOOTSTRAP_SAMPLE,
			@BOOTSTRAP_POINT,
			@MODEL_ID,
			@CreatedBy,
			getdate(),
			@CreatedHost
		);

		SELECT @NewPKID = SCOPE_IDENTITY();

	END;
	ELSE
		BEGIN
			UPDATE TMP_IFRS_PD_BOOTSTRAP_CONFIG
			SET BOOTSTRAP_SAMPLE = @BOOTSTRAP_SAMPLE,
				BOOTSTRAP_NAME = @BOOTSTRAP_NAME,
				BOOTSTRAP_POINT = @BOOTSTRAP_POINT,
				MODEL_ID = @MODEL_ID,
				UPDATEDBY = @CreatedBy,
				UPDATEDDATE = getDate(),
				UPDATEDHOST = @CreatedHost
			WHERE PKID = @PKID

		END
END

GO
