USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMPDMODEL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPD_PARAMPDMODEL]      
(      
 @PKID BIGINT      
)      
AS      
BEGIN      
      
 --DELETE FROM     
 --UPDATE IFRS_PD_TRANS_MATRIX_CONFIG      
 --SET IS_DELETE=1    
 --WHERE PKID = @PKID; 
 
 UPDATE IFRS_PD_RULES_CONFIG   
 SET IS_DELETE = 1
 WHERE PKID = @PKID  
      
END;  

GO
