USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMMARKETRATELIST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_PARAMMARKETRATELIST]      
(        
 @Where VARCHAR(4000) = NULL,        
 @pageNumber int,        
 @pageSize int        
)      
AS      
BEGIN            
 DECLARE @Query VARCHAR (3000);        
       
 SET NOCOUNT ON;        
         
 SET @Query =      
  'SELECT *      
  FROM       
  (      
   SELECT ROW_NUMBER() OVER(ORDER BY [EFF_DATE], [PRD_CODE]) AS [ROW]      
    ,[PKID]          
    ,[EFF_DATE]      
    ,[PRD_CODE]      
    ,[CCY]      
    ,[MKT_RATE]      
    ,[CREATEDBY]          
    ,[CREATEDDATE]          
    ,[CREATEDHOST]          
    ,[UPDATEDBY]          
    ,[UPDATEDDATE]          
    ,[UPDATEDHOST]          
   FROM dbo.IFRS_MASTER_MARKETRATE_PARAM WHERE IS_DELETE = 0'      
   + CASE WHEN @Where IS NOT NULL      
    THEN ' AND ' + @Where      
    ELSE ''      
    END      
  + ') TableConstraint      
  WHERE [ROW] BETWEEN ' + cast(@pageNumber as varchar) + ' AND ' + cast(@pageSize as varchar)    
  + ' ORDER BY EFF_DATE DESC';        
      
 --PRINT @Query;      
 EXEC (@Query);      
      
END 
GO
