USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_VARIABLESELECTIONSAMPLEDATE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_VARIABLESELECTIONSAMPLEDATE]        
(        
	@VARIABLES VARCHAR(MAX)         
)        
AS                            
BEGIN
DECLARE @QUERY VARCHAR(MAX)         

SET @QUERY =
	'SELECT 
		MAX(X.MIN_PERIOD) MIN_PERIOD,
		MIN(X.MAX_PERIOD) MAX_PERIOD
	FROM
		(SELECT
			ME_CODE,
			MIN(ME_PERIOD) AS MIN_PERIOD,
			MAX(ME_PERIOD) AS MAX_PERIOD
		FROM IFRS_MACRO_ECONOMIC 
		WHERE ME_CODE IN ('+@VARIABLES+')
		GROUP BY ME_CODE) X'

PRINT (@QUERY)
EXEC (@QUERY)
                
END
GO
