USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IFRS_ME_FORECAST_TEMP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_IFRS_ME_FORECAST_TEMP]    
(    
 @ME_CODE AS VARCHAR(100),    
 @METHOD AS VARCHAR(20),    
 @FL_PERIOD AS INT = 0,  
 @FL_PERIOD_FROM AS DATE = '',  
 @FL_PERIOD_TO AS DATE = '',  
 @CreatedBy AS VARCHAR(100),  
 @CreatedHost AS VARCHAR(20)  
)    
AS     
BEGIN    
   
 DELETE FROM IFRS_ME_FORECAST_TEMP WHERE ME_CODE = @ME_CODE AND CREATEDBY = @CreatedBy
  
 INSERT INTO IFRS_ME_FORECAST_TEMP  
  (ME_CODE,  
  METHOD,  
  FL_PERIOD,  
  FL_PERIOD_FROM,  
  FL_PERIOD_TO,  
  CREATEDBY,  
  CREATEDDATE,  
  CREATEDHOST,  
  IS_DELETE)  
 VALUES  
  (@ME_CODE,  
  @METHOD,  
  @FL_PERIOD,  
  @FL_PERIOD_FROM,  
  @FL_PERIOD_TO,  
  @CreatedBy,  
  GETDATE(),  
  @CreatedHost,  
  0)  
  
END

GO
