USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_CCFANALYSIS]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_CCFANALYSIS](
@CCF_RULE_ID BIGINT = 0,
@DOWNLOAD_DATE DATE = '01/01/2000')  
AS  
BEGIN
	
	SELECT
		MASTERID AS "Account Number"
		,DEFAULT_DATE AS "Default Date"
		,FACILITY_NUMBER AS "Facility Number"
		,EQV_AT_DEFAULT AS "Outstanding at Default"
		,EQV_OS_12M_BEFORE_DEFAULT AS "Outstanding 12M before Default"
		,EQV_PLAFOND_12M_BEFORE_DEFAULT AS "Limit 12M before Default"
		,ISNULL(CCF,0) * 100 AS "CCF(%)"
	FROM IFRS_EAD_CCF_DETAIL
	WHERE CCF_RULE_ID = @CCF_RULE_ID
		AND DEFAULT_DATE <= @DOWNLOAD_DATE
	ORDER BY MASTERID,DEFAULT_DATE

END;

GO
