USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMMACROECONOMICBYID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMMACROECONOMICBYID]
(
	@PKID BIGINT = NULL
)
AS
BEGIN

	SELECT * 
	FROM tblM_Macro_Economic 
	WHERE PKID = @PKID;
      
END;

GO
