USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_ME_RESULT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_ECL_ME_RESULT]        
(      
@ECL_MODEL_ID int =0      
,@PD_RULE_ID int =0        
)      
AS      
IF @ECL_MODEL_ID > 0          
BEGIN      
 SELECT      
  0 RULE_ID      
  ,'NO MODEL' MODEL_NAME      
 UNION ALL      
 SELECT      
  DISTINCT B.PKID RULE_ID      
  ,MODEL_NAME      
 FROM IFRS_ME_SCALAR_HEADER A, IFRS_MACRO_ECONOMIC_MODEL B      
 WHERE A.MODEL_ID = B.PKID      
  AND A.RULE_ID = @PD_RULE_ID      
  AND A.SCALAR_APPLY = 'PD'  
  AND B.STATUS = 'M'      
  AND A.PKID NOT IN (SELECT ME_MODEL_ID FROM IFRS_ECL_MODEL_DETAIL_PD WHERE ECL_MODEL_ID = @ECL_MODEL_ID)      
 ORDER BY RULE_ID      
END      
ELSE      
BEGIN      
 SELECT      
  0 RULE_ID      
  ,'NO MODEL' MODEL_NAME      
 UNION ALL      
 SELECT      
  DISTINCT B.PKID RULE_ID      
  ,MODEL_NAME      
 FROM IFRS_ME_SCALAR_HEADER A, IFRS_MACRO_ECONOMIC_MODEL B      
 WHERE A.MODEL_ID = B.PKID      
  AND A.SCALAR_APPLY = 'PD'      
  AND A.RULE_ID = @PD_RULE_ID      
  AND B.STATUS = 'M'  
 ORDER BY RULE_ID      
      
END
GO
