USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_ECLAPPROVE_INSERT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_ECLAPPROVE_INSERT](    
 @PKID bigint,    
 @REMARK varchar(500),    
 @APPROVEDBY varchar(36),    
 @APPROVEDHOST varchar(36)    
)    
AS     
BEGIN    
-- get host, by , date     
 DECLARE @host varchar(50);    
 DECLARE @by varchar(50);    
 DECLARE @date datetime;    
 DECLARE @PKIDHeader bigint;    
 DECLARE @PKIDHist bigint;    
    
	select
		@host = CREATEDHOST,
		@by = CREATEDBY,
		@date = CREATEDDATE      
	from IFRS_ECL_MODEL_HEADER_PENDING    
	where PKID = @PKID    
    
	--INSERT HEADER HIST    
	INSERT INTO IFRS_ECL_MODEL_HEADER_HIST    
	(
		[ECL_MODEL_NAME],
		[DATA_DATE],
		[ACTIVE_STATUS],
		[RUN_STATUS],
		[APPROVAL_STATUS],
		[ACTION],
		[PKID_OLD],
		[ECL_MODEL_NAME_OLD],
		[DATA_DATE_OLD],
		[ACTIVE_STATUS_OLD],
		[RUN_STATUS_OLD],
		[REMARK],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)
	SELECT
		A.ECL_MODEL_NAME,
		A.DATA_DATE,
		A.ACTIVE_STATUS,
		A.RUN_STATUS,
		'A',
		'INSERT_WI_APPROVAL',
		A.PKID_OLD,
		NULL,
		NULL,
		NULL,
		NULL,
		@REMARK,
		A.CREATEDBY,
		A.CREATEDDATE,
		A.CREATEDHOST,
		NULL,
		NULL,
		NULL,
		@APPROVEDBY,
		GETDATE(),
		@APPROVEDHOST    
	FROM IFRS_ECL_MODEL_HEADER_PENDING A    
	WHERE A.PKID = @PKID AND ACTION = 'INSERT'    
     
	SELECT TOP 1 @PKIDHist = PKID FROM IFRS_ECL_MODEL_HEADER_HIST ORDER BY PKID DESC    
    
	--INSERT PF HIST    
	INSERT INTO IFRS_ECL_MODEL_DETAIL_PF_HIST    
	(
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[LT_RULE_ID],
		[SICR_RULE_ID],
		[UPSIDE_VALUE],
		[BASE_VALUE],
		[DOWNSIDE_VALUE],
		[UPSIDE_PROB_OUTCOME],
		[BASE_PROB_OUTCOME],
		[DOWNSIDE_PROB_OUTCOME],
		[OVERLAY_AMOUNT],
		[ECL_MODEL_ID_OLD],
		[IS_NEW],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[BUCKET_GROUP],
		[DEFAULT_RULE_ID]    
	)    
	SELECT    
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[LT_RULE_ID],
		[SICR_RULE_ID],
		[UPSIDE_VALUE],
		[BASE_VALUE],
		[DOWNSIDE_VALUE],
		[UPSIDE_PROB_OUTCOME],
		[BASE_PROB_OUTCOME],
		[DOWNSIDE_PROB_OUTCOME],
		[OVERLAY_AMOUNT],
		ECL_MODEL_ID,
		1,
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		NULL,
		NULL,
		NULL,
		[BUCKET_GROUP],
		[DEFAULT_RULE_ID]    
	FROM IFRS_ECL_MODEL_DETAIL_PF_PEND WHERE ECL_MODEL_ID = @PKID    
    
	--INSERT PD HIST    
	INSERT INTO IFRS_ECL_MODEL_DETAIL_PD_HIST    
	(
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[PD_MODEL_ID],
		[ME_MODEL_ID],
		[ECL_MODEL_ID_OLD],
		[EFF_DATE_OPTION],
		[EFF_DATE],
		[SCALAR_EFF_DATE_OPTION],
		[SCALAR_EFF_DATE],
		[IS_NEW],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST]    
	)    
	SELECT
		@PKIDHist,
		[SEGMENTATION_ID],
		[PD_MODEL_ID],
		[ME_MODEL_ID],
		0,
		[EFF_DATE_OPTION],
		CASE WHEN [EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(EFF_DATE) < 2000 THEN NULL
			ELSE [EFF_DATE] END EFF_DATE,
		[SCALAR_EFF_DATE_OPTION],
		CASE WHEN [SCALAR_EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [SCALAR_EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(SCALAR_EFF_DATE) < 2000 THEN NULL
			ELSE [SCALAR_EFF_DATE] END SCALAR_EFF_DATE,
		1,
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		NULL,
		NULL,
		NULL    
	FROM IFRS_ECL_MODEL_DETAIL_PD_PEND WHERE ECL_MODEL_ID = @PKID    
    
	--INSERT LGD HIST    
	INSERT INTO IFRS_ECL_MODEL_DETAIL_LGD_HIST    
	(
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[LGD_MODEL_ID],
		[ME_MODEL_ID],
		[ECL_MODEL_ID_OLD],
		[EFF_DATE_OPTION],
		[EFF_DATE],
		[IS_NEW],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST]    
	)    
	SELECT
		@PKIDHist,
		[SEGMENTATION_ID],
		[LGD_MODEL_ID],
		[ME_MODEL_ID],
		0,
		[EFF_DATE_OPTION],
		CASE WHEN [EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(EFF_DATE) < 2000 THEN NULL
			ELSE [EFF_DATE] END EFF_DATE,
		1,
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		NULL,
		NULL,
		NULL    
	FROM IFRS_ECL_MODEL_DETAIL_LGD_PEND WHERE ECL_MODEL_ID = @PKID    
    
	--INSERT EAD HIST    
	INSERT INTO IFRS_ECL_MODEL_DETAIL_EAD_HIST    
	(
		[ECL_MODEL_ID],
		[SEGMENTATION_ID],
		[EAD_MODEL_ID],
		[ECL_MODEL_ID_OLD],
		[IS_NEW],
		[CCF_MODEL_ID],
		[CCF_EFF_DATE_OPTION],
		[CCF_EFF_DATE],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST]    
	)    
	SELECT
		@PKIDHist,
		[SEGMENTATION_ID],
		[EAD_MODEL_ID],
		0,
		1,
		[CCF_MODEL_ID],
		[CCF_EFF_DATE_OPTION],
		CASE WHEN [CCF_EFF_DATE_OPTION] != 'SELECT_DATE' THEN NULL
			WHEN [CCF_EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(CCF_EFF_DATE) < 2000 THEN NULL
			ELSE [CCF_EFF_DATE] END CCF_EFF_DATE,
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		NULL,
		NULL,
		NULL    
	FROM IFRS_ECL_MODEL_DETAIL_EAD_PEND WHERE ECL_MODEL_ID = @PKID    
     
	--insert into ecl header    
	INSERT INTO IFRS_ECL_MODEL_HEADER
	(
		ECL_MODEL_NAME,
		DATA_DATE,
		ACTIVE_STATUS,
		RUN_STATUS,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)    
	select
		ECL_MODEL_NAME,
		DATA_DATE,
		ACTIVE_STATUS,
		RUN_STATUS,
		@by CREATEDBY,
		@date CREATEDDATE,
		@host CREATEDHOST    
	from IFRS_ECL_MODEL_HEADER_PENDING where PKID = @PKID    
    
	SELECT TOP 1 @PKIDHeader = PKID FROM IFRS_ECL_MODEL_HEADER ORDER BY PKID DESC    
    
	--insert into PF     
	INSERT  INTO IFRS_ECL_MODEL_DETAIL_PF
	(
		ECL_MODEL_ID,
		SEGMENTATION_ID,
		LT_RULE_ID,
		SICR_RULE_ID,
		UPSIDE_VALUE,
		BASE_VALUE,
		DOWNSIDE_VALUE,
		UPSIDE_PROB_OUTCOME,
		BASE_PROB_OUTCOME,
		DOWNSIDE_PROB_OUTCOME,
		OVERLAY_AMOUNT,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		BUCKET_GROUP,
		DEFAULT_RULE_ID
	)
	select
		@PKIDHeader,
		SEGMENTATION_ID,
		LT_RULE_ID,
		SICR_RULE_ID,
		UPSIDE_VALUE,
		BASE_VALUE,
		DOWNSIDE_VALUE,
		UPSIDE_PROB_OUTCOME,
		BASE_PROB_OUTCOME,
		DOWNSIDE_PROB_OUTCOME,
		OVERLAY_AMOUNT,
		@by CREATEDBY,
		@date CREATEDDATE,
		@host CREATEDHOST,
		BUCKET_GROUP,
		DEFAULT_RULE_ID     
	from IFRS_ECL_MODEL_DETAIL_PF_PEND where ECL_MODEL_ID = @PKID    
    
	--insert into PD    
	INSERT INTO IFRS_ECL_MODEL_DETAIL_PD
	(
		ECL_MODEL_ID,
		SEGMENTATION_ID,
		PD_MODEL_ID,
		ME_MODEL_ID,
		EFF_DATE_OPTION,
		EFF_DATE,
		SCALAR_EFF_DATE_OPTION,
		SCALAR_EFF_DATE,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)    
	select
		@PKIDHeader,
		SEGMENTATION_ID,
		PD_MODEL_ID,
		ME_MODEL_ID,
		EFF_DATE_OPTION,
		CASE WHEN EFF_DATE_OPTION != 'SELECT_DATE' THEN NULL
			WHEN [EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(EFF_DATE) < 2000 THEN NULL
			ELSE EFF_DATE END EFF_DATE,
		SCALAR_EFF_DATE_OPTION,
		CASE WHEN SCALAR_EFF_DATE_OPTION != 'SELECT_DATE' THEN NULL
			WHEN [SCALAR_EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(SCALAR_EFF_DATE) < 2000 THEN NULL
			ELSE SCALAR_EFF_DATE END SCALAR_EFF_DATE,
		@by CREATEDBY,
		@date CREATEDDATE,
		@host CREATEDHOST     
	from IFRS_ECL_MODEL_DETAIL_PD_PEND where ECL_MODEL_ID = @PKID    
    
	--insert into LGD    
	INSERT INTO IFRS_ECL_MODEL_DETAIL_LGD
	(
		ECL_MODEL_ID,
		SEGMENTATION_ID,
		LGD_MODEL_ID,
		ME_MODEL_ID,
		EFF_DATE_OPTION,
		EFF_DATE,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)    
	select
		@PKIDHeader,
		SEGMENTATION_ID,
		LGD_MODEL_ID,
		ME_MODEL_ID,
		EFF_DATE_OPTION,
		CASE WHEN EFF_DATE_OPTION != 'SELECT_DATE' THEN NULL
			WHEN [EFF_DATE_OPTION] = 'SELECT_DATE' AND YEAR(EFF_DATE) < 2000 THEN NULL
			ELSE EFF_DATE END EFF_DATE,
		@by CREATEDBY,
		@date CREATEDDATE,
		@host CREATEDHOST     
	from IFRS_ECL_MODEL_DETAIL_LGD_PEND where ECL_MODEL_ID = @PKID    
    
	--insert into EAD    
	INSERT  INTO IFRS_ECL_MODEL_DETAIL_EAD
	(
		ECL_MODEL_ID,
		SEGMENTATION_ID,
		EAD_MODEL_ID,
		CCF_MODEL_ID,
		CCF_EFF_DATE_OPTION,
		CCF_EFF_DATE,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)    
	select
		@PKIDHeader,
		SEGMENTATION_ID,
		EAD_MODEL_ID,
		CCF_MODEL_ID,
		CCF_EFF_DATE_OPTION,
		CASE WHEN CCF_EFF_DATE_OPTION != 'SELECT_DATE' THEN NULL
			WHEN CCF_EFF_DATE_OPTION = 'SELECT_DATE' AND YEAR(CCF_EFF_DATE) < 2000 THEN NULL
			ELSE CCF_EFF_DATE END CCF_EFF_DATE,
		@by CREATEDBY,
		@date CREATEDDATE,
		@host CREATEDHOST     
	from IFRS_ECL_MODEL_DETAIL_EAD_PEND where ECL_MODEL_ID = @PKID    
    
	-- update history pending ecl    
	UPDATE IFRS_ECL_MODEL_HEADER_PENDING     
		SET  APPROVAL_STATUS = 'A',    
			APPROVEDBY = @APPROVEDBY,    
			APPROVEDHOST = @APPROVEDHOST,    
			APPROVEDDATE = GETDATE()    
	WHERE PKID = @PKID    
    
	--INSERT AUDIT TRAIL    
	EXEC USPI_ACTIVITYLOGS @by,'INSERT_WI_APPROVAL','ECL_WIZARD','IFRS9',@host    
     
	DECLARE @PKIDActivity bigint    
	SELECT TOP 1 @PKIDActivity = PKID FROM TBLT_ACTIVITYLOGS WHERE SCREENID = 'ECL_WIZARD' ORDER BY PKID DESC    
     
	EXEC USPI_AUDITTRAIL @PKIDActivity,'ECL_MODEL_ID',NULL,@PKIDHeader    
    
END 
GO
