USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LBM_ACCT_EIR_GS_RANGE]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LBM_ACCT_EIR_GS_RANGE] (
	@ID1 BIGINT
	,@ID2 BIGINT
	)
AS
DECLARE @V_CURRDATE DATE
DECLARE @V_PREVDATE DATE

BEGIN
	SELECT @V_CURRDATE = MAX(CURRDATE)
		,@V_PREVDATE = MAX(PREVDATE)
	FROM IFRS_PRC_DATE_AMORT

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'START'
		,'SP_IFRS_LBM_ACCT_EIR_PAYM_GS_RANGE'
		,''
		)

	TRUNCATE TABLE IFRS_LBM_ACCT_EIR_PAYM_GS

	INSERT INTO IFRS_LBM_ACCT_EIR_PAYM_GS (
		MASTERID
		,N_INT_RATE
		,INTCALCCODE
		,PREV_PMT_DATE
		,PMT_DATE
		,I_DAYS
		,COUNTER
		,N_OSPRN_PREV
		,N_PRN_PAYMENT
		,N_INT_PAYMENT
		,N_OSPRN
		,DISB_PERCENTAGE
		,DISB_AMOUNT
		,N_CALC_MFLAT_INT_AMT
		,M
		,PERIOD
		)
	/*  BCA DISABLE BPI ,SPECIAL_FLAG --- BPI FLAG ONLY CTBC */
	SELECT A.MASTERID
		,A.N_INT_RATE
		,A.INTCALCCODE
		,A.PREV_PMT_DATE
		,A.PMT_DATE
		,A.I_DAYS
		,A.COUNTER
		,A.N_OSPRN_PREV
		,A.N_PRN_PAYMENT
		,A.N_INT_PAYMENT
		,A.N_OSPRN
		,A.DISB_PERCENTAGE
		,A.DISB_AMOUNT
		,A.N_CALC_MFLAT_INT_AMT
		,A.M
		,A.PERIOD
	/*  BCA DISABLE BPI ,A.SPECIAL_FLAG --- BPI FLAG ONLY CTBC */
	FROM IFRS_LBM_ACCT_EIR_PAYM A
	JOIN IFRS_LBM_GS_MASTERID B ON B.MASTERID = A.MASTERID
		AND B.ID >= @ID1
		AND B.ID <= @ID2
	WHERE A.PREV_PMT_DATE <> A.PMT_DATE

	TRUNCATE TABLE IFRS_LBM_ACCT_EIR_PAYM_GS_DATE

	INSERT INTO IFRS_LBM_ACCT_EIR_PAYM_GS_DATE (
		MASTERID
		,DTMIN
		,DTMAX
		,CNTMIN
		,CNTMAX
		,PERIOD
		)
	SELECT A.MASTERID
		,A.DTMIN
		,A.DTMAX
		,A.CNTMIN
		,A.CNTMAX
		,A.PERIOD
	FROM (
		SELECT MASTERID
			,MIN(PMT_DATE) DTMIN
			,MAX(PMT_DATE) DTMAX
			,MIN(COUNTER) CNTMIN
			,MAX(COUNTER) CNTMAX
			,MAX(PERIOD) PERIOD
		FROM IFRS_LBM_ACCT_EIR_PAYM_GS
		GROUP BY MASTERID
		) A

	INSERT INTO IFRS_AMORT_LOG (
		DOWNLOAD_DATE
		,DTM
		,OPS
		,PROCNAME
		,REMARK
		)
	VALUES (
		@V_CURRDATE
		,CURRENT_TIMESTAMP
		,'END'
		,'SP_IFRS_LBM_ACCT_EIR_PAYM_GS_RANGE'
		,''
		)
END

GO
