USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_EADDESCRIPTION12M]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_EADDESCRIPTION12M]
@id varchar(100)
AS

BEGIN 
	select (VALUE1 + ' : '+ DESCRIPTION) as description
	from TBLM_COMMONCODEDETAIL
	where COMMONCODE = 'EAD_DESC'
	and PARENTCOMMONCODEVALUE = @id
END

GO
