USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_TMP_LIGHT_PD_CONFIG]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPI_TMP_LIGHT_PD_CONFIG]
( 
	@PKID bigint = 0,
	@CreatedBy varchar(36)='',
	@CreatedHost varchar(36)=''
)
as 
begin

	EXEC USPD_TMP_LIGHT_PD_CONFIG @PKID;

	SET IDENTITY_INSERT TMP_IFRS_LIGHT_PD_CONFIG ON;
	INSERT INTO TMP_IFRS_LIGHT_PD_CONFIG
	(
		PKID,
		LIGHT_PD_MODEL_NAME,
		TM_RULE_ID,
		TM_PERIOD,
		BOOTSTRAP_RULE_ID,
		BUCKET_GROUP,
		LIGHT_GROUP,
		AVG_LIGHT_FROM,
		AVG_LIGHT_TO,
		FORECAST_DATA,
		ACTIVE_FLAG,
		PD_EFF_PERIOD
	)
	SELECT
		PKID,
		LIGHT_PD_MODEL_NAME,
		TM_RULE_ID,
		TM_PERIOD,
		BOOTSTRAP_RULE_ID,
		BUCKET_GROUP,
		LIGHT_GROUP,
		AVG_LIGHT_FROM,
		AVG_LIGHT_TO,
		FORECAST_DATA,
		ACTIVE_FLAG,
		PD_EFF_PERIOD
	FROM IFRS_LIGHT_PD_CONFIG
	WHERE PKID = @PKID;
	SET IDENTITY_INSERT TMP_IFRS_LIGHT_PD_CONFIG OFF;


	INSERT INTO TMP_IFRS_ME_FORECAST_DATA
	(
		LIGHT_PD_MODEL_ID,
		ME_CODE,
		FORECAST_YEAR,
		FORECAST_VAL
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		ME_CODE,
		FORECAST_YEAR,
		FORECAST_VAL
	FROM IFRS_ME_FORECAST_DATA
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LIGHT_AVG_DEF_RATE
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		DEFAULT_RATE,
		SAMPLES,
		OVERRIDE_DEFAULT_RATE
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		DEFAULT_RATE,
		SAMPLES,
		OVERRIDE_DEFAULT_RATE
	FROM IFRS_LIGHT_AVG_DEF_RATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_ME_SCORE_LIGHT
	(
		LIGHT_PD_MODEL_ID,
		ME_PERIOD,
		TOTAL_SCORE,
		LIGHT_ID,
		DEFAULT_RATE
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		ME_PERIOD,
		TOTAL_SCORE,
		LIGHT_ID,
		DEFAULT_RATE
	FROM IFRS_ME_SCORE_LIGHT
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_ME_SCORE_LIGHT_DETAIL
	(
		LIGHT_PD_MODEL_ID,
		ME_PERIOD,
		ME_CODE,
		SCORE
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		ME_PERIOD,
		ME_CODE,
		SCORE
	FROM IFRS_ME_SCORE_LIGHT_DETAIL
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LIGHT_AVG_HIST_ME
	(
		LIGHT_PD_MODEL_ID,
		AVG_SCORE,
		AVG_LIGHT_ID,
		OVERRIDE_AVG_LIGHT_ID
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		AVG_SCORE,
		AVG_LIGHT_ID,
		OVERRIDE_AVG_LIGHT_ID
	FROM IFRS_LIGHT_AVG_HIST_ME
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_ME_FORECAST_SCORE
	(
		LIGHT_PD_MODEL_ID,
		PERIOD,
		TOTAL_SCORE,
		LIGHT_ID,
		OVERRIDE_LIGHT_ID
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		PERIOD,
		TOTAL_SCORE,
		LIGHT_ID,
		OVERRIDE_LIGHT_ID
	FROM IFRS_ME_FORECAST_SCORE
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_ME_FORECAST_SCORE_DTL
	(
		LIGHT_PD_MODEL_ID,
		PERIOD,
		ME_CODE,
		SCORE
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		PERIOD,
		ME_CODE,
		SCORE
	FROM IFRS_ME_FORECAST_SCORE_DETAIL
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LIGHT_PD_FLOWRATE
	(
		LIGHT_PD_MODEL_ID,
		EFF_DATE,
		PD_RULE_ID,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		FLOWRATE	
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		EFF_DATE,
		PD_RULE_ID,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		FLOWRATE
	FROM IFRS_LIGHT_PD_FLOWRATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LIGHT_ADJUSTED_PD
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJUSTED_PD
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJUSTED_PD
	FROM IFRS_LIGHT_ADJUSTED_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LIGHT_ADJ_DR_RATIO
	(
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		ADJUSTED_DR_RATIO
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		ADJUSTED_DR_RATIO
	FROM IFRS_LIGHT_ADJ_DR_RATIO
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LIGHT_LOGODDS_ADJ_PD
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOGODDS_ADJUSTED_PD
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOGODDS_ADJUSTED_PD
	FROM IFRS_LIGHT_LOGODDS_ADJ_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LIGHT_ADJ_DR_AVG
	(
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		ADJUSTED_DR_AVG
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		ADJUSTED_DR_AVG
	FROM IFRS_LIGHT_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LOGODDS_ADJ_DR_AVG
	(
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		LOGODDS_ADJ_DR_AVG
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		DR_RULE_ID,
		BUCKET_ID,
		LOGODDS_ADJ_DR_AVG
	FROM IFRS_LIGHT_LOGODDS_ADJ_DR_AVG
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_ADJ_LOGODDS_ADJ_PD
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJ_LOGODDS_ADJ_PD
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		ADJ_LOGODDS_ADJ_PD
	FROM IFRS_LIGHT_ADJ_LOGODDS_ADJ_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LOGODDS_ADJ_LOGODDS_ADJ
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOGODDS_ADJ_LOGODDS_ADJ_PD	
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		LOGODDS_ADJ_LOGODDS_ADJ_PD
	FROM IFRS_LIGHT_LOGODDS_ADJ_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LIGHT_EXP_LOGODDS_ADJ
	(
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		EXP_LOGODDS_ADJ
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		LIGHT_ID,
		BUCKET_ID,
		EXP_LOGODDS_ADJ
	FROM IFRS_LIGHT_EXP_LOGODDS_ADJ
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LIGHT_TM_PD_FLOWRATE
	(
		LIGHT_PD_MODEL_ID,
		FORECAST_YEAR,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		FLOWRATE
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		FORECAST_YEAR,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		FLOWRATE
	FROM IFRS_LIGHT_TM_PD_FLOWRATE
	WHERE LIGHT_PD_MODEL_ID = @PKID;


	INSERT INTO TMP_IFRS_LIGHT_MMULT_TM_PD
	(
		LIGHT_PD_MODEL_ID,
		FORECAST_YEAR,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		MMULT	
	)
	SELECT
		LIGHT_PD_MODEL_ID,
		FORECAST_YEAR,
		BUCKET_GROUP,
		BUCKET_FROM,
		BUCKET_TO,
		MMULT
	FROM IFRS_LIGHT_MMULT_TM_PD
	WHERE LIGHT_PD_MODEL_ID = @PKID;

	INSERT INTO TMP_IFRS_LIGHT_PD_TERM_STRUC
	(
		EFF_DATE,
		LIGHT_PD_MODEL_ID,
		GROUP_REPORTING,
		TENOR,
		CUMMULATIVE_PD,
		ANNUALIZED_PD
	)
	SELECT
		A.EFF_DATE,
		A.LIGHT_PD_MODEL_ID,
		A.GROUP_REPORTING,
		A.TENOR,
		A.CUMMULATIVE_PD,
		A.ANNUALIZED_PD
	FROM IFRS_LIGHT_PD_TERM_STRUCTURE A
	JOIN IFRS_LIGHT_PD_CONFIG B
	ON A.LIGHT_PD_MODEL_ID = B.PKID
	AND A.LIGHT_PD_MODEL_ID = @PKID
	AND A.EFF_DATE = B.TM_PERIOD
	ORDER BY A.TENOR;


END


GO
