USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_ECL_RESULT_DETAIL]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_ECL_RESULT_DETAIL]      
@DOWNLOAD_DATE DATE = NULL,      
@MODEL_ID BIGINT = 0      
AS      
 DECLARE @V_CURRDATE DATE      
BEGIN       
 IF (@DOWNLOAD_DATE IS NULL)      
 BEGIN      
  SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE      
 END      
 ELSE      
 BEGIN      
  SELECT @V_CURRDATE =@DOWNLOAD_DATE      
 END      
      
 DELETE IFRS_ECL_RESULT_DETAIL WHERE EOMONTH(DOWNLOAD_DATE) = EOMONTH(@V_CURRDATE)      
 DELETE IFRS_ECL_RESULT_HEADER WHERE EOMONTH(DOWNLOAD_DATE) = EOMONTH(@V_CURRDATE)      
      
 DROP TABLE IF EXISTS #TMP_IFRS_ECL_MODEL      
      
 SELECT DISTINCT      
  A.PKID AS ECL_MODEL_ID,      
  B.EAD_MODEL_ID,      
  B.SEGMENTATION_ID,      
  C.CCF_FLAG,      
  B.CCF_MODEL_ID AS CCF_RULES_ID,      
  D.LGD_MODEL_ID,      
  CASE D.EFF_DATE_OPTION      
  WHEN 'LAST_MONTH' THEN EOMONTH(DATEADD(MONTH, -1, @V_CURRDATE))      
  WHEN 'LAST_QUARTER' THEN EOMONTH(DATEADD(QUARTER, DATEDIFF(QUARTER, 0, @V_CURRDATE) - 1, 0))      
  WHEN 'SELECT_DATE' THEN ISNULL(D.EFF_DATE ,@V_CURRDATE)      
  ELSE @V_CURRDATE       
  END AS LGD_DATE,      
  E.PD_MODEL_ID,      
  E.ME_MODEL_ID AS PD_ME_MODEL_ID,      
  CASE E.EFF_DATE_OPTION      
  WHEN 'LAST_MONTH' THEN EOMONTH(DATEADD(MONTH, -1, @V_CURRDATE))      
  WHEN 'LAST_QUARTER' THEN EOMONTH(DATEADD(QUARTER, DATEDIFF(QUARTER, 0, @V_CURRDATE) - 1, 0))      
  WHEN 'SELECT_DATE' THEN ISNULL(E.EFF_DATE, @V_CURRDATE)      
  ELSE @V_CURRDATE      
  END AS PD_DATE       
 INTO #TMP_IFRS_ECL_MODEL      
 FROM IFRS_ECL_MODEL_HEADER A      
 JOIN IFRS_ECL_MODEL_DETAIL_EAD B ON A.PKID = B.ECL_MODEL_ID      
 JOIN IFRS_EAD_RULES_CONFIG C ON B.EAD_MODEL_ID = C.PKID      
 JOIN IFRS_ECL_MODEL_DETAIL_LGD D ON A.PKID = D.ECL_MODEL_ID AND B.SEGMENTATION_ID = D.SEGMENTATION_ID      
 JOIN IFRS_ECL_MODEL_DETAIL_PD E ON A.PKID = E.ECL_MODEL_ID AND B.SEGMENTATION_ID = E.SEGMENTATION_ID      
 JOIN IFRS_ECL_MODEL_DETAIL_PF F ON A.PKID = F.ECL_MODEL_ID      
 WHERE A.IS_DELETE = 0      
 AND B.IS_DELETE = 0      
 AND C.IS_DELETE = 0      
 AND C.ACTIVE_FLAG = 1      
 AND ((@MODEL_ID = 0 AND A.ACTIVE_STATUS = 1) OR (A.PKID = @MODEL_ID))       
      
 DROP TABLE IF EXISTS #TMP_IFRS_ECL_PD_MONTHLY      
      
 SELECT      
  A.DOWNLOAD_DATE,      
  A.PD_RULE_ID,      
  A.MODEL_ID AS PD_ME_MODEL_ID,      
  A.BUCKET_GROUP,      
  A.BUCKET_ID,      
  A.FL_SEQ,      
  A.FL_YEAR,      
  A.FL_MONTH,      
  A.SCENARIO_NO,      
  A.PD_RATE AS PD      
 INTO #TMP_IFRS_ECL_PD_MONTHLY      
 FROM IFRS_PD_TERM_STRUCTURE_NOFL A (NOLOCK)      
 WHERE      
 A.PD_RATE >= 0      
 AND EXISTS      
 (      
  SELECT TOP 1 1      
  FROM #TMP_IFRS_ECL_MODEL X      
  WHERE X.PD_MODEL_ID = A.PD_RULE_ID      
  AND X.PD_DATE = A.DOWNLOAD_DATE      
 )      
        
 -------------- CREATE FOR PD FORWARD LOOKING MONTHLY ----------------------------      
 DROP TABLE IF EXISTS #TMP_IFRS_ECL_PD_FL_MONTHLY      
       
 SELECT      
  A.DOWNLOAD_DATE,      
  A.PD_RULE_ID,      
  A.ME_MODEL_ID AS PD_ME_MODEL_ID,      
  A.BUCKET_GROUP,      
  A.BUCKET_ID,      
  A.FL_SEQ,       
  A.FL_YEAR,      
  A.FL_MONTH,       
  A.PD_FINAL AS PD_FL,      
  A.SEGMENTATION_ID      
 INTO #TMP_IFRS_ECL_PD_FL_MONTHLY      
 FROM IFRS_IMP_PD_FL_TERM_STRUCTURE A (NOLOCK)       
 WHERE      
 A.PD_FINAL >= 0 AND A.DOWNLOAD_DATE= @V_CURRDATE      
 AND EXISTS      
 (      
  SELECT TOP 1 1      
  FROM #TMP_IFRS_ECL_MODEL X      
  WHERE X.PD_MODEL_ID = A.PD_RULE_ID      
  AND X.PD_DATE = A.PD_EFFECTIVE_DATE      
  AND X.SEGMENTATION_ID = A.SEGMENTATION_ID      
 )      
      
 --------------END CREATE FOR PD FOWRWARD LOOKING MONTHLY --------------------------------      
       
 DROP TABLE IF EXISTS #TMP_IFRS_ECL_PD_YEARLY      
      
 SELECT       
  A.DOWNLOAD_DATE,      
  A.CURR_DATE,      
  A.PD_RULE_ID,       
  A.BUCKET_GROUP,      
  A.BUCKET_ID,      
  A.FL_SEQ,      
  A.FL_YEAR,      
  A.PD_RATE AS PD,      
  A.CREATEDDATE       
 INTO #TMP_IFRS_ECL_PD_YEARLY      
 FROM IFRS_PD_TERM_STRUCTURE_NOFL_YEARLY A (NOLOCK)      
 WHERE      
 A.PD_RATE >= 0      
 AND EXISTS      
 (      
  SELECT TOP 1 1      
  FROM #TMP_IFRS_ECL_MODEL X      
  WHERE X.PD_MODEL_ID = A.PD_RULE_ID      
  AND X.PD_DATE = A.DOWNLOAD_DATE      
 ) AND A.FL_SEQ = 1      
 ORDER BY A.CURR_DATE, BUCKET_GROUP, BUCKET_ID, PD_RULE_ID      
      
 -------------- CREATE FOR PD FL FORWARD LOOKING YEARLY ----------------      
 DROP TABLE IF EXISTS #TMP_IFRS_ECL_PD_FL_YEARLY      
      
 SELECT      
  A.DOWNLOAD_DATE,      
  A.PD_RULE_ID,      
  A.ME_MODEL_ID AS PD_ME_MODEL_ID,      
  A.BUCKET_GROUP,      
  A.BUCKET_ID,      
  A.FL_SEQ,      
  A.FL_YEAR,       
  A.PD_FINAL AS PD_FL,      
  A.SEGMENTATION_ID       
 INTO #TMP_IFRS_ECL_PD_FL_YEARLY      
 FROM IFRS_IMP_PD_FL_TERM_YEARLY A (NOLOCK)       
 WHERE      
 A.PD_FINAL >= 0 AND A.FL_YEAR =1 AND A.DOWNLOAD_DATE = @V_CURRDATE      
 AND EXISTS      
 (      
  SELECT TOP 1 1      
  FROM #TMP_IFRS_ECL_MODEL X      
  WHERE X.PD_MODEL_ID = A.PD_RULE_ID      
  AND X.SEGMENTATION_ID = A.SEGMENTATION_ID      
 )      
 -------------- END CREATE FOR PD FOWRWARD LOOKING YEARLY----------------------------      
      
 DROP TABLE IF EXISTS #TMP_IFRS_ECL_LGD      
      
 SELECT A.DOWNLOAD_DATE,      
  A.LGD_RULE_ID,       
  A.FL_SEQ,      
  MAX(A.FL_SEQ) OVER(PARTITION BY A.LGD_RULE_ID, A.MODEL_ID) MAX_SEQ,      
  A.LGD      
 INTO #TMP_IFRS_ECL_LGD      
 FROM IFRS_LGD_TERM_STRUCTURE A      
 WHERE      
 A.LGD >= 0      
 AND EXISTS      
 (      
  SELECT TOP 1 1      
  FROM #TMP_IFRS_ECL_MODEL X      
  WHERE      
  X.LGD_MODEL_ID = A.LGD_RULE_ID      
  AND A.DOWNLOAD_DATE = X.LGD_DATE      
 )      
      
 INSERT INTO #TMP_IFRS_ECL_LGD (DOWNLOAD_DATE, LGD_RULE_ID, LGD) SELECT @V_CURRDATE, 99999, 1      
      
 INSERT INTO IFRS_ECL_RESULT_DETAIL      
 (      
  DOWNLOAD_DATE,      
  MASTERID,      
  GROUP_SEGMENT,      
  SEGMENT,      
  SUB_SEGMENT,      
  SEGMENTATION_ID,      
  ACCOUNT_NUMBER,      
  CUSTOMER_NUMBER,      
  LT_SEGMENT,      
  SICR_RULE_ID,      
  SICR_FLAG,      
  LIFETIME,      
  STAGE,      
  REVOLVING_FLAG,      
  PD_SEGMENT,      
  LGD_SEGMENT,      
  EAD_SEGMENT,      
  PREV_ECL_AMOUNT,      
  BUCKET_GROUP,      
  BUCKET_ID,      
  ECL_MODEL_ID,      
  EAD_MODEL_ID,      
  CCF_RULES_ID,      
  PD_MODEL_ID,      
  LGD_MODEL_ID,       
  SEQ,      
  FL_YEAR,      
  FL_MONTH,      
  OUTSTANDING,      
  UNAMORT_COST_AMT,       
  UNAMORT_FEE_AMT,      
  INTEREST_ACCRUED,      
  UNUSED_AMOUNT,       
  FAIR_VALUE_AMOUNT,       
  EAD_BALANCE,      
  PLAFOND,      
  EIR,      
  CCF,      
  EAD,      
  PD_BFL,      
  LGD,      
  DISC_EAD,      
  ECL,      
  ECL_BFL,      
  PD,      
  COLL_AMOUNT       
 )      
 SELECT      
  A.DOWNLOAD_DATE,      
  A.MASTERID,      
  A.GROUP_SEGMENT,      
  A.SEGMENT,      
  A.SUB_SEGMENT,      
  A.SEGMENTATION_ID,      
  A.ACCOUNT_NUMBER,      
  A.CUSTOMER_NUMBER,      
  A.LT_SEGMENT,      
  A.SICR_RULE_ID,      
  A.SICR_FLAG,      
  A.LIFETIME,      
  A.STAGE,      
  A.REVOLVING_FLAG,      
  A.PD_SEGMENT,      
  A.LGD_SEGMENT,      
  A.EAD_SEGMENT,      
  A.PREV_ECL_AMOUNT,      
  A.BUCKET_GROUP,      
  A.BUCKET_ID,      
  A.ECL_MODEL_ID,      
  A.EAD_MODEL_ID,       
  A.CCF_RULES_ID,      
  A.PD_MODEL_ID,      
  A.LGD_MODEL_ID,      
  A.SEQ,      
  A.FL_YEAR,      
  A.FL_MONTH,      
  A.OUTSTANDING,      
  A.UNAMORT_COST_AMT,       
  A.UNAMORT_FEE_AMT,       
  A.INTEREST_ACCRUED,      
  A.UNUSED_AMOUNT,       
  A.FAIR_VALUE_AMOUNT,       
  A.EAD_BALANCE,       
  A.PLAFOND,      
  A.EIR,      
  A.CCF,      
  A.EAD,      
  C.PD AS PD_BFL,      
  D.LGD,      
  CASE WHEN A.STAGE = 3 THEN A.EAD ELSE       
  [dbo].[FUTIL_PV](ISNULL(A.EIR, 0)/100/12, A.SEQ, A.EAD) END AS DISC_EAD,      
  (CASE WHEN A.STAGE = 3 THEN A.EAD ELSE       
  [dbo].[FUTIL_PV](ISNULL(A.EIR, 0)/100/12, A.SEQ, A.EAD) END) * ISNULL(E.PD_FL,C.PD) * ISNULL(D.LGD,1) AS ECL,       
   (CASE WHEN A.STAGE = 3 THEN A.EAD ELSE       
  [dbo].[FUTIL_PV](ISNULL(A.EIR, 0)/100/12, A.SEQ, A.EAD) END) * C.PD * ISNULL(D.LGD,1) AS ECL_BFL,      
  e.PD_FL ,      
  A.COLL_AMOUNT      
 FROM IFRS_EAD_RESULT_NONPRK A (NOLOCK)      
 JOIN #TMP_IFRS_ECL_MODEL B ON A.ECL_MODEL_ID = B.ECL_MODEL_ID AND A.SEGMENTATION_ID = B.SEGMENTATION_ID      
 JOIN #TMP_IFRS_ECL_PD_MONTHLY C ON      
 B.PD_MODEL_ID = C.PD_RULE_ID      
 AND A.BUCKET_ID = C.BUCKET_ID       
 AND A.SEQ = C.FL_SEQ      
 AND B.PD_DATE = C.DOWNLOAD_DATE       
 JOIN #TMP_IFRS_ECL_LGD D ON B.LGD_MODEL_ID = D.LGD_RULE_ID AND ISNULL(B.LGD_DATE,@V_CURRDATE) = D.DOWNLOAD_DATE       
 JOIN #TMP_IFRS_ECL_PD_FL_MONTHLY E ON B.PD_MODEL_ID = E.PD_RULE_ID AND A.BUCKET_ID = E.BUCKET_ID AND A.SEQ = E.FL_SEQ AND A.SEGMENTATION_ID= E.SEGMENTATION_ID       
 WHERE A.EAD > 0;       
      
 -- INSERT PRK YEARLY      
 INSERT INTO IFRS_ECL_RESULT_DETAIL      
 (      
  DOWNLOAD_DATE,      
  MASTERID,      
  GROUP_SEGMENT,      
  SEGMENT,      
  SUB_SEGMENT,      
  SEGMENTATION_ID,      
  ACCOUNT_NUMBER,      
  CUSTOMER_NUMBER,      
  LT_SEGMENT,      
  SICR_RULE_ID,      
  SICR_FLAG,      
  LIFETIME,      
  STAGE,      
  REVOLVING_FLAG,      
  PD_SEGMENT,      
  LGD_SEGMENT,      
  EAD_SEGMENT,      
  PREV_ECL_AMOUNT,      
  BUCKET_GROUP,      
  BUCKET_ID,      
  ECL_MODEL_ID,      
  EAD_MODEL_ID,      
  CCF_RULES_ID,      
  PD_MODEL_ID,       
  LGD_MODEL_ID,      
  SEQ,      
  FL_YEAR,      
  FL_MONTH,      
  OUTSTANDING,      
  UNAMORT_COST_AMT,       
  UNAMORT_FEE_AMT,       
  INTEREST_ACCRUED,      
  UNUSED_AMOUNT,       
  FAIR_VALUE_AMOUNT,       
  EAD_BALANCE,      
  PLAFOND,      
  EIR,      
  CCF,       
  EAD,      
  PD_BFL,      
  LGD,      
  DISC_EAD,      
  ECL,      
  ECL_BFL,       
  PD,      
  COLL_AMOUNT      
 )      
 SELECT       
  A.DOWNLOAD_DATE,      
  A.MASTERID,      
  A.GROUP_SEGMENT,      
  A.SEGMENT,      
  A.SUB_SEGMENT,      
  A.SEGMENTATION_ID,      
  A.ACCOUNT_NUMBER,      
  A.CUSTOMER_NUMBER,      
  A.LT_SEGMENT,      
  A.SICR_RULE_ID,      
  A.SICR_FLAG,      
  A.LIFETIME,      
  A.STAGE,      
  A.REVOLVING_FLAG,      
  A.PD_SEGMENT,      
  A.LGD_SEGMENT,      
  A.EAD_SEGMENT,      
  A.PREV_ECL_AMOUNT,      
  A.BUCKET_GROUP,      
  A.BUCKET_ID,      
  A.ECL_MODEL_ID,      
  A.EAD_MODEL_ID,      
  A.CCF_RULES_ID,      
  A.PD_MODEL_ID,      
  A.LGD_MODEL_ID,      
  A.SEQ,      
  C.FL_YEAR,      
  0 AS FL_MONTH,      
  A.OUTSTANDING,      
  A.UNAMORT_COST_AMT,       
  A.UNAMORT_FEE_AMT,       
  A.INTEREST_ACCRUED,      
  A.UNUSED_AMOUNT,       
  A.FAIR_VALUE_AMOUNT,      
  A.EAD_BALANCE,      
  A.PLAFOND,      
  A.EIR,      
  A.CCF,      
  A.EAD,      
  C.PD AS PD_BFL,      
  D.LGD,      
  [dbo].[FUTIL_PV](ISNULL(A.EIR, 0)/100, A.SEQ, A.EAD) AS DISC_EAD,      
  [dbo].[FUTIL_PV](ISNULL(A.EIR, 0)/100, A.SEQ, A.EAD) * ISNULL(E.PD_FL,C.PD) * ISNULL(D.LGD,1) AS ECL,      
  [dbo].[FUTIL_PV](ISNULL(A.EIR, 0)/100, A.SEQ, A.EAD) * C.PD * ISNULL(D.LGD,1) AS ECL_BFL,      
  E.PD_FL,      
  A.COLL_AMOUNT      
 FROM IFRS_EAD_RESULT_PRK A (NOLOCK)      
 JOIN #TMP_IFRS_ECL_MODEL B ON A.ECL_MODEL_ID = B.ECL_MODEL_ID       
 AND A.SEGMENTATION_ID = B.SEGMENTATION_ID       
 AND A.PD_MODEL_ID = B.PD_MODEL_ID       
 AND A.LGD_MODEL_ID = B.LGD_MODEL_ID      
 JOIN #TMP_IFRS_ECL_PD_YEARLY C ON B.PD_MODEL_ID = C.PD_RULE_ID       
 AND A.BUCKET_ID = C.BUCKET_ID      
 AND B.PD_DATE = C.DOWNLOAD_DATE       
 JOIN #TMP_IFRS_ECL_LGD D ON B.LGD_MODEL_ID = D.LGD_RULE_ID AND ISNULL(B.LGD_DATE,@V_CURRDATE) = D.DOWNLOAD_DATE       
 JOIN #TMP_IFRS_ECL_PD_FL_YEARLY E ON B.PD_MODEL_ID = E.PD_RULE_ID AND A.BUCKET_ID = E.BUCKET_ID AND A.SEGMENTATION_ID = E.SEGMENTATION_ID       
 WHERE A.EAD > 0;       
      
 -- INSERT PRK MONTHLY - RIS - 20201001      
 INSERT INTO IFRS_ECL_RESULT_DETAIL      
 (      
  DOWNLOAD_DATE,      
  MASTERID,      
  GROUP_SEGMENT,      
  SEGMENT,      
  SUB_SEGMENT,      
  SEGMENTATION_ID,      
  ACCOUNT_NUMBER,      
  CUSTOMER_NUMBER,      
  LT_SEGMENT,      
  SICR_RULE_ID,      
  SICR_FLAG,      
  LIFETIME,      
  STAGE,      
  REVOLVING_FLAG,      
  PD_SEGMENT,      
  LGD_SEGMENT,      
  EAD_SEGMENT,      
  PREV_ECL_AMOUNT,      
  BUCKET_GROUP,      
  BUCKET_ID,      
  ECL_MODEL_ID,      
  EAD_MODEL_ID,      
  CCF_RULES_ID,      
  PD_MODEL_ID,       
  LGD_MODEL_ID,      
  SEQ,      
  FL_YEAR,      
  FL_MONTH,      
  OUTSTANDING,      
  UNAMORT_COST_AMT,       
  UNAMORT_FEE_AMT,       
  INTEREST_ACCRUED,      
  UNUSED_AMOUNT,       
  FAIR_VALUE_AMOUNT,       
  EAD_BALANCE,      
  PLAFOND,      
  EIR,      
  CCF,       
  EAD,      
  PD_BFL,      
  LGD,      
  DISC_EAD,      
  ECL,      
  ECL_BFL,       
  PD,      
  COLL_AMOUNT      
 )      
 SELECT      
  A.DOWNLOAD_DATE,      
  A.MASTERID,      
  A.GROUP_SEGMENT,      
  A.SEGMENT,      
  A.SUB_SEGMENT,      
  A.SEGMENTATION_ID,      
  A.ACCOUNT_NUMBER,      
  A.CUSTOMER_NUMBER,      
  A.LT_SEGMENT,      
  A.SICR_RULE_ID,      
  A.SICR_FLAG,      
  A.LIFETIME,      
  A.STAGE,      
  A.REVOLVING_FLAG,      
  A.PD_SEGMENT,      
  A.LGD_SEGMENT,      
  A.EAD_SEGMENT,      
  A.PREV_ECL_AMOUNT,      
  A.BUCKET_GROUP,      
  A.BUCKET_ID,      
  A.ECL_MODEL_ID,      
  A.EAD_MODEL_ID,       
  A.CCF_RULES_ID,      
  A.PD_MODEL_ID,      
  A.LGD_MODEL_ID,      
  A.SEQ,      
  A.FL_YEAR,      
  A.FL_MONTH,      
  A.OUTSTANDING,      
  A.UNAMORT_COST_AMT,       
  A.UNAMORT_FEE_AMT,       
  A.INTEREST_ACCRUED,      
  A.UNUSED_AMOUNT,       
  A.FAIR_VALUE_AMOUNT,       
  A.EAD_BALANCE,       
  A.PLAFOND,      
  A.EIR,      
  A.CCF,      
  A.EAD,      
  C.PD AS PD_BFL,      
  D.LGD,      
  CASE WHEN A.STAGE = 3 THEN A.EAD ELSE       
  [dbo].[FUTIL_PV](ISNULL(A.EIR, 0)/100/12, A.SEQ, A.EAD) END AS DISC_EAD,      
  (CASE WHEN A.STAGE = 3 THEN A.EAD ELSE       
  [dbo].[FUTIL_PV](ISNULL(A.EIR, 0)/100/12, A.SEQ, A.EAD) END) * ISNULL(E.PD_FL,C.PD) * ISNULL(D.LGD,1) AS ECL,       
   (CASE WHEN A.STAGE = 3 THEN A.EAD ELSE       
  [dbo].[FUTIL_PV](ISNULL(A.EIR, 0)/100/12, A.SEQ, A.EAD) END) * C.PD * ISNULL(D.LGD,1) AS ECL_BFL,      
  e.PD_FL ,      
  A.COLL_AMOUNT      
 FROM IFRS_EAD_RESULT_PRK_MONTHLY A (NOLOCK)      
 JOIN #TMP_IFRS_ECL_MODEL B ON A.ECL_MODEL_ID = B.ECL_MODEL_ID AND A.SEGMENTATION_ID = B.SEGMENTATION_ID      
 JOIN #TMP_IFRS_ECL_PD_MONTHLY C ON      
 B.PD_MODEL_ID = C.PD_RULE_ID      
 AND A.BUCKET_ID = C.BUCKET_ID       
 AND A.SEQ = C.FL_SEQ      
 AND B.PD_DATE = C.DOWNLOAD_DATE       
 JOIN #TMP_IFRS_ECL_LGD D ON B.LGD_MODEL_ID = D.LGD_RULE_ID AND ISNULL(B.LGD_DATE,@V_CURRDATE) = D.DOWNLOAD_DATE       
 JOIN #TMP_IFRS_ECL_PD_FL_MONTHLY E ON B.PD_MODEL_ID = E.PD_RULE_ID AND A.BUCKET_ID = E.BUCKET_ID AND A.SEQ = E.FL_SEQ AND A.SEGMENTATION_ID= E.SEGMENTATION_ID       
 WHERE A.EAD > 0;       
        
 INSERT INTO IFRS_ECL_RESULT_HEADER      
 (      
  DOWNLOAD_DATE,       
  MASTERID,       
  ECL_AMOUNT,       
  ECL_AMOUNT_BFL      
 )      
 SELECT       
  DOWNLOAD_DATE,       
  MASTERID,       
  SUM(ECL) AS ECL_AMOUNT,       
  SUM(ECL_BFL) AS ECL_AMOUNT_BFL      
 FROM IFRS_ECL_RESULT_DETAIL      
 WHERE DOWNLOAD_DATE = @V_CURRDATE      
 GROUP BY DOWNLOAD_DATE, MASTERID      
      
END;
GO
