USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SETUPBMA]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SETUPBMA]
AS
BEGIN
    SELECT
		A.[PKID]
      ,[COMMONCODEID]
      ,[COMMONCODENAME]
      ,CAST([QUESTION_TYPE] AS VARCHAR(10)) + ' - ' + B.DESCRIPTION AS QUESTION_TYPE
      ,[QUESTION_DESC]
      ,[SUPPORTING_FLG]
      ,A.[SEQUENCE]
      ,[OPTION_NUMBER]
      ,A.[CREATEDBY]
      ,A.[CREATEDDATE]
      ,A.[CREATEDHOST]
      ,A.[UPDATEDBY]
      ,A.[UPDATEDDATE]
      ,A.[UPDATEDHOST]
	FROM [IFRS_AC_BM_QUEST] A
	LEFT JOIN TBLM_COMMONCODEDETAIL B ON A.QUESTION_TYPE = B.VALUE1 AND B.COMMONCODE='CA01'
	WHERE ISNULL(A.IS_DELETE,0) = 0
	ORDER BY SEQUENCE
              
END

GO
