USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALARINDVARIABLEHEXPORT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALARINDVARIABLEHEXPORT]  
(                
	@SCALAR_ID int  
)                
AS                
BEGIN

	SELECT
		DISTINCT SCENARIO_NO,
		SCENARIO_NAME,
		ME_CODE
	FROM IFRS_ME_COMPLETE
	WHERE SCALAR_ID = @SCALAR_ID
	ORDER BY SCENARIO_NO,ME_CODE

END
GO
