USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_JOBHISTSTEPNO]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_JOBHISTSTEPNO]
(
	@JobNo INT, 
    @Status VARCHAR(50), 
    @PeriodDate DATE
)
AS
BEGIN

    SET NOCOUNT ON

    IF @JobNo IS NULL
    BEGIN
        SELECT JobNo
        FROM dbo.tblT_JobHistory AS TTJH
        WHERE Status = @Status
			AND DATEDIFF(DAY, PeriodDate, @PeriodDate) = 0
    END
    ELSE
    BEGIN
        SELECT JobNo
        FROM dbo.tblT_JobHistory AS TTJH
        WHERE JobNo = @JobNo
			AND Status = @Status
			AND DATEDIFF(DAY, PeriodDate, @PeriodDate) = 0
    END

END

GO
