USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BUCKET_PD_ECL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_BUCKET_PD_ECL]      
      
AS      
BEGIN      
      
        SELECT DISTINCT
			A.PKID RULE_ID,
            A.BUCKET_GROUP,    
			BUCKET_DESCRIPTION,    
            COUNT(BUCKET_ID) COUNT_BUCKET,      
            0 AS ISSELECTION      
        FROM IFRS_BUCKET_HEADER A     
		JOIN IFRS_BUCKET_DETAIL B on A.BUCKET_GROUP = B.BUCKET_GROUP AND ISNULL(B.IS_DELETE, 0) = 0
		WHERE ISNULL(A.IS_DELETE, 0) = 0   
        GROUP BY A.PKID,
				A.BUCKET_GROUP,    
				BUCKET_DESCRIPTION    
        ORDER BY A.PKID;     
END; 

GO
