USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKDATAJOURNALPARAM]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKDATAJOURNALPARAM]  
(  
 @cekDataInstrumentClass varchar(100) = '',  
 @cekDataJournalType varchar(100) = '',  
 @cekDataRuleName varchar(100) = '',  
 @cekDataCCY varchar(100) = '',  
 @cekDataJournalCategory varchar(100) = '',  
 @cekDataDRCR varchar(100) = '',
 @cekDataTransactionCode varchar(100) = '',
 @cekPKID bigint = 0  
)  
AS  
BEGIN  
DECLARE @COUNT INT
DECLARE @COUNTPENDING INT

    SELECT @COUNT = COUNT(*)
    FROM IFRS_MASTER_JOURNAL_PARAM  
    WHERE UPPER(INST_CLS_VALUE) = UPPER(@cekDataInstrumentClass)  
        AND UPPER(IFRS_ACCT_TYPE) = UPPER(@cekDataJournalType)
        AND UPPER(GL_CONSTNAME) = UPPER(@cekDataRuleName)  
        AND UPPER(CCY) = UPPER(@cekDataCCY)  
        AND UPPER(IFRS_COST_VALUE) = UPPER(@cekDataJournalCategory)  
        AND UPPER(TXN_TYPE) = UPPER(@cekDataDRCR)  
        AND UPPER(TRX_CODE) = UPPER(@cekDataTransactionCode)  
        AND PKID <> @cekPKID;  

    SELECT @COUNTPENDING = COUNT(*) FROM
	(SELECT HEADERID, INST_CLS_VALUE, JOURNALCODE, GL_CONSTNAME, CCY, FLAG_CF, DRCR, TRX_CODE
    FROM
    (
    SELECT ISNULL(OLDVALUE,NEWVALUE) AS VALUE, FIELDNAME, HEADERID
    FROM TBLT_APPROVALDETAIL
    WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER
        WHERE SCREENID='PARAM_JOURNAL' AND STATUS='P')
    )d
    pivot
    (
    max(value)
	for FIELDNAME in (INST_CLS_VALUE, JOURNALCODE, GL_CONSTNAME, CCY, FLAG_CF, DRCR, TRX_CODE)
    ) piv)A
    WHERE INST_CLS_VALUE = @cekDataInstrumentClass
        AND JOURNALCODE = @cekDataJournalType
        AND GL_CONSTNAME = @cekDataRuleName
        AND CCY = @cekDataCCY
        AND FLAG_CF = @cekDataJournalCategory
        AND DRCR = @cekDataDRCR
        --AND GLNO = @cekDataGLCode
        AND TRX_CODE = @cekDataTransactionCode;
 
  SELECT @COUNT AS "COUNT", @COUNTPENDING AS "COUNTPENDING"

END;  
GO
