USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAPOVERRIDE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IAPOVERRIDE](
@CUSTOMER_NUMBER as varchar(100))  
AS  
BEGIN  
 
 SELECT *,CASE WHEN B.CIF_SEGMENT_PENDING IS NOT NULL THEN 'P' END "APPROVAL_STATUS" FROM
 (
 SELECT
	CUSTOMER_NUMBER + '_' + CAST(B.PKID AS varchar(10)) AS CIF_SEGMENT   
	,CUSTOMER_NUMBER
	,CUSTOMER_NAME
	,A.SUB_SEGMENT
	,DAY_PAST_DUE
	,BI_COLLECTABILITY
	,SUM(ISNULL(OUTSTANDING,0)) AS OUTSTANDING
 FROM IFRS_MASTER_ACCOUNT A
 LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.GROUP_SEGMENT = B.GROUP_SEGMENT
	AND A.SEGMENT = B.SEGMENT AND A.SUB_SEGMENT = B.SUB_SEGMENT
 RIGHT JOIN IFRS_IAP_PARAM C ON C.SEGMENTATION_ID = B.PKID
 WHERE DOWNLOAD_DATE = (SELECT CURRDATE FROM IFRS_PRC_DATE)
	AND CUSTOMER_NUMBER LIKE '%'+@CUSTOMER_NUMBER+'%'
 GROUP BY CUSTOMER_NUMBER,CUSTOMER_NAME,A.SUB_SEGMENT,DAY_PAST_DUE,BI_COLLECTABILITY,B.PKID
 --ORDER BY CUSTOMER_NUMBER, A.SUB_SEGMENT
 )A
 LEFT JOIN (SELECT
	STUFF((
        SELECT  '_' + CAST(NEWVALUE AS VARCHAR(255))
        FROM TBLT_APPROVALDETAIL f2
        WHERE f1.HEADERID = f2.HEADERID ---- string with grouping by fileid
        FOR XML PATH ('')), 1, 1, '') AS CIF_SEGMENT_PENDING
  FROM TBLT_APPROVALDETAIL F1 
  WHERE F1.HEADERID IN
  (SELECT PKID FROM TBLT_APPROVALHEADER WHERE SCREENID = 'IAP_OVERRIDE' AND STATUS = 'P')
 GROUP BY F1.HEADERID)B ON A.CIF_SEGMENT = B.CIF_SEGMENT_PENDING
 WHERE A.CUSTOMER_NUMBER NOT IN
	(SELECT DISTINCT CUSTOMER_NUMBER FROM IFRS_IAP_LIST WHERE DOWNLOAD_DATE = (SELECT CURRDATE FROM IFRS_PRC_DATE))
 ORDER BY A.CUSTOMER_NUMBER, A.SUB_SEGMENT

END

GO
