USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETDATAMAPPINGTABLE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETDATAMAPPINGTABLE]
(
	@UploadID BIGINT,
	@Columns VARCHAR(2000)
)
AS
BEGIN
	
	DECLARE @Query VARCHAR(5000);
	
	SET @Query = 'SELECT '
		+ @Columns
		+ ' FROM TBLU_DOC_TEMP_DETAIL
		WHERE UPLOADID = ' + CAST(@UploadID AS VARCHAR)
		+ ' ORDER BY PKID';
	
	EXEC (@Query);

END;

GO
