USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMMACROECONOMICD]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_PARAMMACROECONOMICD]   
(  
 @PKID BIGINT = 0  
)  
AS  
BEGIN  
  
 DELETE IFRS_Macro_Economic  
 WHERE PKID = @PKID;  
     
END;  
GO
