USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADDCFCALCULATION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_UPLOADDCFCALCULATION]        
(      
 @uploadID INT,    
 @flagImpairment VARCHAR(1),          
 @CreatedBy varchar(36),          
 @CreatedHost varchar(30)    
)          
AS        
BEGIN  
  
 DECLARE @CurrDate DATETIME          
         
 BEGIN TRAN    
      
  -- Generate Missing Months    
  EXEC USPP_GENERATEMISSDCFUPLOAD @uploadID, @CreatedBy, @CreatedHost     
        
  SELECT @CurrDate = CURRDATE FROM IFRS_PRC_DATE    
            
  -- if all data validated successfully, then insert validated data into table pending  
  INSERT INTO TBLT_PAYMENTEXPECTED_TEMP  
  (  
   DCFID,  
   UPLOADID,  
   TEMPID,  
   DOWNLOADDATE,  
   MASTERID,  
   CUSTOMER_NUMBER,  
   EFFECTIVE_DATE,  
   EFFECTIVE_DATE_FD,  
   EIR_PERCENT,  
   PRINCIPAL_PAYMENT,  
   CREATEDBY,  
   CREATEDDATE,  
   CREATEDHOST  
  )  
  SELECT DISTINCT a.DCFID,  
   a.UPLOADID,  
   a.TEMPID,  
   @CurrDate,  
   a.MASTERID,  
   ind.CUSTOMER_NUMBER,  
   a.EFFECTIVE_DATE,  
   EOMONTH(CAST(a.EFFECTIVE_DATE + '01' AS DATETIME)),  
   ROUND(a.EIR_PERCENT, 2),  
   ROUND(COALESCE(a.PRINCIPAL, 0) + COALESCE(a.INTEREST, 0) + COALESCE(a.UNPAID_INTEREST, 0) + (COALESCE(a.COLLATERAL, 0)- (COALESCE(a.COLLATERAL, 0) * COALESCE(a.COLLATERAL_COST, 0)/100)), 2) AS ESTIMATED_PRINCIPAL_PAYM,  
   --CASE  
   -- WHEN isnull(cast(A.EIR_PERCENT as float), 0) > 0 THEN ROUND(cast(A.EIR_PERCENT as float), 2)  
   -- WHEN ISNULL(pma.EIR, 0) > 0 THEN ROUND(ISNULL(pma.EIR, 0), 2)  
   -- WHEN ISNULL(pma.INTEREST_RATE, 0) > 0 THEN ROUND(pma.INTEREST_RATE, 2)  
   -- ELSE ROUND(pma.INTEREST_RATE, 2)  
   --END pma_ind_eir,  
   @CreatedBy,  
   GETDATE(),  
   @CreatedHost  
  FROM [dbo].[tblU_DCF_Detail] a  
   --LEFT JOIN IFRS_MASTER_ACCOUNT pma ON a.MASTERID = pma.MASTERID AND pma.DOWNLOAD_DATE = @CurrDate  
   LEFT JOIN IFRS_IMP_IA_MASTER ind ON a.MASTERID = ind.MASTERID  
  WHERE A.UploadID = @uploadID   
   --AND ind.EFFECTIVE_DATE = EOMONTH(@CurrDate)  
   ORDER BY A.EFFECTIVE_DATE
  
  --do first group of calculation  
  EXEC USPP_UPLOADDCFCALCULATION1 @uploadID;  
  
  --do second group of calculation  
  EXEC USPP_UPLOADDCFCALCULATION2 @uploadID;  
  
 if @@ERROR <> 0  
  rollback tran  
 else  
  commit tran  
  
END;
GO
