USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_THREADLOG]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPI_THREADLOG]
(
	@LogId varchar(50),  
	@JobId bigint,   
	@Status varchar(20),  
	@Description varchar(2000)  
)
AS
	
	IF NOT EXISTS (SELECT * FROM tblT_ApplicationLog WHERE JobId = @JobId)
	BEGIN
		INSERT INTO TblT_ApplicationLog (ThreadID, JobId, Message, Start, Status)  
		VALUES (@LogId, @JobId, @Description, GETDATE(), @Status)
	END

GO
