USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCREENGROUPH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_SCREENGROUPH]
(
    @Where VARCHAR(4000) = NULL
)
AS
BEGIN
    DECLARE @Query VARCHAR (3000);
 
	SET NOCOUNT ON;

    SET @Query =
		'SELECT PKID,
			SCREENGROUPID,
			COUNTRYID,
			MODULEID,
			[DESCRIPTION]
		FROM tblM_ScreenGroupHeader '
		+ CASE WHEN @Where IS NOT NULL
			THEN 'WHERE ' + @Where
			ELSE ''
		END;

    EXECUTE (@Query);

END;

GO
