USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKAPPROVEDREJECTEDUPL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_CHECKAPPROVEDREJECTEDUPL]
(
@UploadID int
,@Module varchar(50) = ''
)
AS
BEGIN
     IF @Module = 'MACRO'
	 BEGIN
		 SELECT * FROM TBLU_MACRO_ECONOMIC_INFO
		 WHERE UploadID = @UploadID
			AND STATUS = 'PENDING'
			AND MODULE = @Module
	 END
	 ELSE
	 BEGIN
		SELECT * FROM TBLU_FEECOST_INFO
		WHERE UploadID = @UploadID
			AND STATUS = 'PENDING'
			AND MODULE = @Module
	END

END

GO
