USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADBSLOANAMOUNT_ori]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOADBSLOANAMOUNT_ori]      
(      
	@PERIOD DATE='01-JAN-2000',      
	@DATA_SOURCE varchar(200) = '',
	@PRODUCT_GROUP VARCHAR(500) = '',
	@ACCOUNT_STATUS varchar(3)=''  
)      
AS      
BEGIN      
    
	DECLARE @Query VARCHAR(MAX);

	SET @Query = 
		'SELECT A.BRANCH_CODE "BRANCH ID",
			A.CUSTOMER_NUMBER "CUSTOMER NUMBER",     
			A.CUSTOMER_NAME "CUSTOMER NAME",     
			A.AO_CODE "AO CODE",     
			A.AO_NAME "AO NAME", 
			A.DATA_SOURCE "DATA SOURCE",
			CASE WHEN A.LOW_RISK_PORTFOLIO = 1 THEN  ''Y'' ELSE ''N'' END  "LOW RISK PORTFOLIO",
			A.PRODUCT_GROUP "PRODUCT GROUP",
			A.PRODUCT_CODE "PRODUCT CODE",
			B.PRD_DESC "PRODUCT NAME",
			A.ACCOUNT_NUMBER "ACCOUNT NUMBER",
			A.DAY_PAST_DUE "DPD",
			A.BI_COLLECTABILITY "BI COLLECTABILITY",			
			A.ACCOUNT_STATUS "ACCOUNT STATUS",
			A.CURRENCY "CURRENCY",
			ISNULL(A.OUTSTANDING,0) "OUTSTANDING",
			ISNULL(A.INTEREST_ACCRUED,0) "ACCRUED INTEREST",
			ISNULL(A.CA_UNWINDING_AMOUNT, 0) + ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0) "UNWINDING",
			ISNULL(A.UNAMORT_COST_AMT,0) "UNAMORTIZED COST",
			ISNULL(A.UNAMORT_FEE_AMT,0) "UNAMORTIZED FEE",
			ISNULL(A.MARKET_AMOUNT,0) "MARKET AMOUNT",
			ISNULL(A.UNREALIZED_GAIN_LOSS,0) "UNREALIZED P&L",
			ISNULL(A.LOAN_ACC,0) "LOAN ACC",
			ISNULL(A.EAD_AMOUNT,0) "EAD AMOUNT",
			ISNULL(A.ECL_AMOUNT,0) "ECL",
			((ISNULL(A.CA_UNWINDING_AMOUNT, 0)+ISNULL(A.IA_UNWINDING_SUM_AMOUNT, 0))-(ISNULL(C.CA_UNWINDING_AMOUNT, 0)+ISNULL(C.IA_UNWINDING_SUM_AMOUNT, 0))) * ISNULL(A.EXCHANGE_RATE, 0) AS "MTD UNWINDING in IDR",
			(ISNULL(A.UNAMORT_FEE_AMT, 0)- CASE WHEN ISNULL(C.UNAMORT_FEE_AMT, 0)=0 then ISNULL(A.UNAMORT_FEE_AMT, 0) else ISNULL(C.UNAMORT_FEE_AMT, 0) end) * ISNULL(A.EXCHANGE_RATE, 0) AS "MTD AMORTIZED Fee in IDR",
			(ISNULL(A.UNAMORT_COST_AMT, 0)- CASE WHEN ISNULL(C.UNAMORT_COST_AMT, 0)=0 then ISNULL(A.UNAMORT_COST_AMT, 0) else ISNULL(C.UNAMORT_COST_AMT, 0) end) * ISNULL(A.EXCHANGE_RATE, 0) AS "MTD AMORTIZED Cost in IDR",
			ISNULL(A.CHARGE,0) "CHARGE",
			ISNULL(A.WRITEBACK,0) "WRITEBACK",
			GLUWBS.GL_CODE as "GL UNWINDING BS",
			GLUWPL.GL_CODE as "GL UNWINDING PL",
			GLUBS.GL_CODE as "GL UNAMORTIZED BS",
			GLUPS.GL_CODE as "GL UNAMORTIZED PL",
			GLIPBS.GL_CODE as "GL IMPAIRMENT BS",
			GLIPBL.GL_CODE as "GL IMPAIRMENT PL"
		FROM IFRS_MASTER_ACCOUNT_MONTHLY A 
			LEFT JOIN 
			(
				select * from IFRS_MASTER_ACCOUNT_MONTHLY where DOWNLOAD_DATE = EOMONTH(''' + CAST(@PERIOD AS VARCHAR(500)) + ''', -1)
			) C
				on A.ACCOUNT_NUMBER = C.ACCOUNT_NUMBER 
			LEFT JOIN
			(
				select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''DB'' 
			) GLUWBS
				on case when a.IMPAIRED_FLAG=''I'' then ''BIUW'' else ''BKUW'' end = GLUWBS.IFRS_ACCT_TYPE
				and a.GL_CONSTNAME=GLUWBS.GL_CONSTNAME
			LEFT JOIN
			(
				select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''CR'' 
			) GLUWPL
				on case when a.IMPAIRED_FLAG=''I'' then ''BIUW'' else ''BKUW'' end = GLUWPL.IFRS_ACCT_TYPE
				and a.GL_CONSTNAME=GLUWPL.GL_CONSTNAME
			LEFT JOIN
			(
				select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''DB'' and IFRS_COST_VALUE = ''F''
			) GLUBS
				on case when a.AMORT_TYPE=''SL'' then ''ACCRU'' else ''ACCRU_SL'' end = GLUBS.IFRS_ACCT_TYPE
				and a.GL_CONSTNAME=GLUBS.GL_CONSTNAME
			LEFT JOIN
			(
				select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''CR'' AND IFRS_COST_VALUE = ''F''
			) GLUPS
				on case when a.AMORT_TYPE=''SL'' then ''ACCRU'' else ''ACCRU_SL'' end = GLUPS.IFRS_ACCT_TYPE
				and a.GL_CONSTNAME=GLUPS.GL_CONSTNAME
			LEFT JOIN
			(
				select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''CR'' 
			) GLIPBS
				on case when a.IMPAIRED_FLAG=''I'' then ''BKIP'' else ''BKPI'' end = GLIPBS.IFRS_ACCT_TYPE
				and a.GL_CONSTNAME=GLIPBS.GL_CONSTNAME
			LEFT JOIN
			(
				select IFRS_ACCT_TYPE,GL_CODE,GL_CONSTNAME from IFRS_JOURNAL_PARAM_TBL1 where TXN_TYPE=''DB'' 
			) GLIPBL
				on CASE WHEN a.IMPAIRED_FLAG = ''I'' THEN ''BKIP'' ELSE ''BKPI'' END = GLIPBL.IFRS_ACCT_TYPE
				AND a.GL_CONSTNAME=GLIPBL.GL_CONSTNAME
			

			LEFT JOIN IFRS_MASTER_PRODUCT_PARAMETER B ON A.DATA_SOURCE = B.DATA_SOURCE 
				AND A.PRODUCT_CODE = B.PRD_CODE
		WHERE A.DOWNLOAD_DATE = ''' + CAST(@PERIOD AS VARCHAR(500)) + ''''
			+ CASE WHEN ISNULL(@DATA_SOURCE, '') <> ''
				THEN ' AND A.DATA_SOURCE = ''' + CAST(@DATA_SOURCE AS VARCHAR(500)) + ''''
				ELSE ''
			END
			+ CASE WHEN ISNULL(@PRODUCT_GROUP, '') <> ''
				THEN ' AND A.PRODUCT_GROUP IN ( ' + @PRODUCT_GROUP  + ')'
				ELSE ''
			END
			+ CASE WHEN ISNULL(@ACCOUNT_STATUS, '') <> ''
				THEN ' AND A.ACCOUNT_STATUS IN ( ' + @ACCOUNT_STATUS  + ')'
				ELSE ''
			END
		+ '
		ORDER BY A.ACCOUNT_NUMBER ASC, 
			A.CUSTOMER_NUMBER';

	EXEC (@Query);

END;

GO
