USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_INSERT_ME_SIM_RESULT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_INSERT_ME_SIM_RESULT]
(
    @PKID BIGINT=0,
	@CreatedBy varchar(36),
	@CreatedHost varchar(36),
	@ErrCode SMALLINT=0 OUT
)
AS
BEGIN
	DECLARE @V_MODEL_ID BIGINT;
	DECLARE @V_EXISTS BIGINT;
    --DECLARE @CreatedBy varchar(36);
	DECLARE @CreatedDate datetime;
	--DECLARE @CreatedHost varchar(36);
	DECLARE @UpdatedBy varchar(36);
	DECLARE @UpdatedHost varchar(36);
	DECLARE @UpdatedDate datetime;
	
    SELECT @V_MODEL_ID = COUNT(PKID)  
    FROM IFRS_MACRO_ECONOMIC_MODEL
    WHERE PKID = @PKID;
    
	IF @V_MODEL_ID > 0 
	BEGIN
		SELECT @CreatedBy = CREATEDBY, @CreatedDate = CREATEDDATE, @CreatedHost = CREATEDHOST 
		FROM IFRS_MACRO_ECONOMIC_MODEL
		WHERE PKID = @PKID;

		SELECT @UpdatedBy = CREATEDBY, @UpdatedDate = GETDATE(), @UpdatedHost = CREATEDHOST
		FROM TMP_IFRS_MACRO_ECONOMIC_MODEL
		WHERE PKID = @PKID;
	END
	ELSE
		SELECT @CreatedBy = CREATEDBY, @CreatedDate = GETDATE(), @CreatedHost = CREATEDHOST
		FROM TMP_IFRS_MACRO_ECONOMIC_MODEL
		WHERE PKID = @PKID;

    --SELECT @V_MODEL_ID = ISNULL(IDENT_CURRENT('IFRS_MACRO_ECONOMIC_MODEL') + IDENT_INCR('IFRS_MACRO_ECONOMIC_MODEL'),1)

	IF @V_MODEL_ID > 0
	BEGIN
		
		UPDATE A 
			SET A.CORRELATION_PERIOD_FROM = B.CORRELATION_PERIOD_FROM,
			A.CORRELATION_PERIOD_END = B.CORRELATION_PERIOD_END,
			A.SEASONAL_ADJUSTMENT = B.SEASONAL_ADJUSTMENT,
			A.UPDATEDBY = B.CREATEDBY,
			A.UPDATEDDATE = GETDATE(),
			A.UPDATEDHOST = B.CREATEDHOST
		FROM IFRS_MACRO_ECONOMIC_MODEL A
		JOIN TMP_IFRS_MACRO_ECONOMIC_MODEL B
		ON A.PKID = B.PKID AND B.PKID = @PKID
		WHERE A.PKID = @PKID;

		SET @V_MODEL_ID = @PKID;
	END
	ELSE
	BEGIN
		SELECT @V_EXISTS = COUNT(*)
		FROM IFRS_MACRO_ECONOMIC_MODEL A
		JOIN TMP_IFRS_MACRO_ECONOMIC_MODEL B
		ON A.MODEL_NAME = B.MODEL_NAME
			AND B.PKID = @PKID
			AND A.PKID != @PKID;

		IF ( @V_EXISTS > 0)
		BEGIN
			--DELETE TMP_IFRS_MACRO_ECONOMIC_MODEL
			--WHERE PKID = @PKID;
            
			--DELETE TMP_IFRS_DEPENDENT_VARIABLE
			--WHERE MODEL_ID = @PKID;
            
			--DELETE TMP_IFRS_INDEPENDENT_VARIABLE
			--WHERE MODEL_ID = @PKID;
            
			SET @ErrCode = 1;
			RETURN;
			--RAISERROR (N'MODEL NAME ALREADY EXISTS', -- Message text.  
			--			10, -- Severity,  
			--			1); -- Second argument. 

		END;

		INSERT INTO IFRS_MACRO_ECONOMIC_MODEL 
		(
			MODEL_NAME, 
			CORRELATION_PERIOD_FROM,
			CORRELATION_PERIOD_END,
			SEASONAL_ADJUSTMENT,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST,
			UPDATEDBY,
			UPDATEDDATE,
			UPDATEDHOST
		)
		SELECT MODEL_NAME, 
			CORRELATION_PERIOD_FROM,
			CORRELATION_PERIOD_END,
			SEASONAL_ADJUSTMENT,
			@CreatedBy,
			@CreatedDate,
			@CreatedHost,
			@UpdatedBy,
			@UpdatedDate,
			@UpdatedHost
		FROM TMP_IFRS_MACRO_ECONOMIC_MODEL 
		WHERE PKID = @PKID;

		SET @V_MODEL_ID = ISNULL(SCOPE_IDENTITY(),@PKID);
	END;

	DELETE FROM IFRS_DEPENDENT_VARIABLE
	WHERE MODEL_ID = @PKID;

	INSERT INTO IFRS_DEPENDENT_VARIABLE
	(
		MODEL_ID,
		MACRO_ECONOMIC_CODE,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST
	)
	SELECT @V_MODEL_ID,
		B.MACRO_ECONOMIC_CODE,
		@CreatedBy,
		@CreatedDate,
		@CreatedHost,
		@UpdatedBy,
		@UpdatedDate,
		@UpdatedHost
	FROM TMP_IFRS_DEPENDENT_VARIABLE B
	WHERE B.MODEL_ID = @PKID;

	DELETE FROM IFRS_INDEPENDENT_VARIABLE
	WHERE MODEL_ID = @PKID;

	INSERT INTO IFRS_INDEPENDENT_VARIABLE
	(
		MODEL_ID,
		MACRO_ECONOMIC_CODE,
		IMPACT_TO_DEPENDENT,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST
	)
	SELECT @V_MODEL_ID,
		B.MACRO_ECONOMIC_CODE,
		B.IMPACT_TO_DEPENDENT,
		@CreatedBy,
		@CreatedDate,
		@CreatedHost,
		@UpdatedBy,
		@UpdatedDate,
		@UpdatedHost
	FROM TMP_IFRS_INDEPENDENT_VARIABLE B
	WHERE B.MODEL_ID = @PKID;


	DELETE TMP_IFRS_MACRO_ECONOMIC_MODEL
	WHERE PKID = @PKID;
    
	DELETE TMP_IFRS_DEPENDENT_VARIABLE
	WHERE MODEL_ID = @PKID;
    
	DELETE TMP_IFRS_INDEPENDENT_VARIABLE
	WHERE MODEL_ID = @PKID;
    
	DELETE IFRS_ME_MODEL_CORRELATION
	WHERE MODEL_ID = @PKID;
    
	INSERT INTO IFRS_ME_MODEL_CORRELATION
	(
		MODEL_ID,
		ME_CODE,
		DERIVED_TYPE,
		CORRELATION_VALUE,
		IS_CHOSEN,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST
	)
	SELECT 
		@V_MODEL_ID,
		ME_CODE,
		DERIVED_TYPE,
		CORRELATION_VALUE,
		IS_CHOSEN,
		@CreatedBy,
		@CreatedDate,
		@CreatedHost,
		@UpdatedBy,
		@UpdatedDate,
		@UpdatedHost
	FROM TMP_IFRS_ME_MODEL_CORRELATION
	WHERE MODEL_ID = @PKID;
    
	DELETE TMP_IFRS_ME_MODEL_CORRELATION
	WHERE MODEL_ID = @PKID;

	DELETE IFRS_ME_SEASONAL_ADJUSTMENT
	WHERE MODEL_ID = @PKID;
    
	INSERT INTO IFRS_ME_SEASONAL_ADJUSTMENT
	(
		MODEL_ID,
		ME_CODE,
		ME_PERIOD,
		DERIVED_TYPE,
		ME_VAL,
		SEASONAL_ADJUSTMENT,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST
	)
	SELECT 
		@V_MODEL_ID,
		ME_CODE,
		ME_PERIOD,
		DERIVED_TYPE,
		ME_VAL,
		SEASONAL_ADJUSTMENT,
		@CreatedBy,
		@CreatedDate,
		@CreatedHost,
		@UpdatedBy,
		@UpdatedDate,
		@UpdatedHost
	FROM TMP_IFRS_ME_SEASONAL_ADJ
	WHERE MODEL_ID = @PKID;

	DELETE TMP_IFRS_ME_SEASONAL_ADJ
	WHERE MODEL_ID = @PKID;
END;

GO
