USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPREPORTPRODUCTGROUP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPREPORTPRODUCTGROUP]
(
	@datasource VARCHAR(50) = ''
)
AS
BEGIN

	IF @datasource = ''
	BEGIN
		SELECT DISTINCT PRD_GROUP "PRODUCT_GROUP", 
			PRD_GROUP "ProductGroup" 
		FROM IFRS_MASTER_PRODUCT_PARAMETER;
	END
	ELSE
	BEGIN
		SELECT DISTINCT PRD_GROUP "PRODUCT_GROUP", 
			PRD_GROUP "ProductGroup" 
		FROM IFRS_MASTER_PRODUCT_PARAMETER
		WHERE DATA_SOURCE LIKE '%' + @datasource + '%';
	END;

END;

GO
