USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MECORRELATIONVAR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MECORRELATIONVAR](            
@MODEL_ID int            
,@IS_SIMULATION bit)            
AS            
BEGIN            
	
	IF (@IS_SIMULATION = 1)
	BEGIN
		SELECT            
			ParentId,
			PKID,
			FieldId,
			CASE WHEN val = 0 THEN NULL ELSE val END val,
			CASE WHEN PVALUE_NC = 0 THEN NULL ELSE PVALUE_NC END PVALUE_NC,
			CASE WHEN PVALUE_C = 0 THEN NULL ELSE PVALUE_C END PVALUE_C,
			CASE WHEN PVALUE_CT = 0 THEN NULL ELSE PVALUE_CT END PVALUE_CT            
		FROM            
		(
			SELECT DISTINCT
				'' ParentId,
				0 PKID,
				LOOKUPINITIAL FieldId,
				'' val,
				'' PVALUE_NC,
				'' PVALUE_C,
				'' PVALUE_CT               
			FROM TMP_IFRS_1MEVLM_RESULT_DTL               
			WHERE MODEL_ID = @MODEL_ID            
			GROUP BY LOOKUPINITIAL              
		
			UNION              
			SELECT            
				LOOKUPINITIAL ParentName,
				PKID,
				' '+VARIABLENAME FieldName,
				PROBT val,
				PVALUE_NC,
				PVALUE_C,
				PVALUE_CT           
			FROM TMP_IFRS_1MEVLM_RESULT_DTL               
			WHERE MODEL_ID = @MODEL_ID            
		)tab
	END
	ELSE
	BEGIN
		SELECT            
			ParentId,
			PKID,
			FieldId,
			CASE WHEN val = 0 THEN NULL ELSE val END val,
			CASE WHEN PVALUE_NC = 0 THEN NULL ELSE PVALUE_NC END PVALUE_NC,
			CASE WHEN PVALUE_C = 0 THEN NULL ELSE PVALUE_C END PVALUE_C,
			CASE WHEN PVALUE_CT = 0 THEN NULL ELSE PVALUE_CT END PVALUE_CT            
		FROM            
		(
			SELECT DISTINCT
				'' ParentId,
				0 PKID,
				LOOKUPINITIAL FieldId,
				'' val,
				'' PVALUE_NC,
				'' PVALUE_C,
				'' PVALUE_CT               
			FROM IFRS_1MEVLM_RESULT_DTL               
			WHERE MODEL_ID = @MODEL_ID            
			GROUP BY LOOKUPINITIAL              
		
			UNION              
			SELECT            
				LOOKUPINITIAL ParentName,
				PKID,
				' '+VARIABLENAME FieldName,
				PROBT val,
				PVALUE_NC,
				PVALUE_C,
				PVALUE_CT           
			FROM IFRS_1MEVLM_RESULT_DTL               
			WHERE MODEL_ID = @MODEL_ID            
		)tab
	END
            
END 
GO
