USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADPENDINGMACRO]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_UPLOADPENDINGMACRO]
(@UploadID int = 0)
AS
BEGIN
       
       SELECT
         ME_CODE
		,ME_PERIOD
		,ME_VAL
    FROM TBLU_MACRO_ECONOMIC_PENDING WHERE UPLOADID = @UploadID
       

END

GO
