USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUP_BIBRANCH]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUP_BIBRANCH]       
AS        
BEGIN      
  
	SELECT DISTINCT  
		BRANCH_CODE,
		BRANCH_CODE + ' - ' + BRANCH_DESC AS 'Branch Code'
	FROM IFRS_MASTER_BRANCH
	ORDER BY BRANCH_CODE  
      
END;

GO
