USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMMACROECONOMICD_EDIT]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPU_PARAMMACROECONOMICD_EDIT]
(
	@HeaderID bigint = 0
)
as
begin
	declare @tableName varchar(30);
	declare @colPeriod varchar(30);
	declare @colVal varchar(30);
	declare @me_code varchar(50);
	declare @UploadId bigint;
	declare @query varchar(max);

	select @tableName = ME_SOURCE_TABLE, 
		@colPeriod = ME_SOURCE_PERIOD_COLUMN,
		@colVal = ME_SOURCE_VALUE_COLUMN,
		@me_code = ME_CODE,
		@UploadId = UPLOADID
	from TBLM_MACRO_ECONOMIC
	where PKID = @HeaderID

	delete from IFRS_Macro_Economic where HEADERID = @HeaderID;

	set @query = 'Insert into IFRS_Macro_Economic (HEADERID, UPLOADID, ME_CODE, ME_PERIOD, ME_VAL)
			      SELECT ' + cast(@HeaderID as varchar) + ',' + cast(@UploadId as varchar) + ',''' + @me_code + ''' as ME_CODE,' + @colPeriod + ',' + @colVal + '
				  FROM ' + @tableName

	exec(@query);
	
end




GO
