USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPCMBLIST]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPCMBLIST]
(
    @value VARCHAR(100) = NULL,
    @text VARCHAR(100) = NULL
)
AS
    DECLARE @Query VARCHAR(2000);
    
    SET @Query =
        'SELECT VALUE AS "' + @value + '", 
            CASE WHEN ISNULL(DESCRIPTION, '' '') <> '' '' THEN 
                VALUE + '' - '' + DESCRIPTION
            ELSE
                VALUE
            END AS "' + @text + '" 
        FROM TBLM_DROPDOWNLIST
        WHERE COLUMN_NAME = ''' + @value + '''
        ORDER BY VALUE';
        
    exec(@Query);


GO
