USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRODCODEBYPRODUCTTYPE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPPRODCODEBYPRODUCTTYPE]
(
	@PRD_TYPE VARCHAR(100) = ''
)
AS
BEGIN

	SELECT DISTINCT PRD_CODE AS PRODUCT_CODE,  
		PRD_CODE "Product Code" 
	FROM IFRS_MASTER_PRODUCT_PARAM
	WHERE PRD_TYPE = @PRD_TYPE

END;


GO
