USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPTRADEFINPRODGROUP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPTRADEFINPRODGROUP]
(
	@datasource VARCHAR(50)
)
AS
BEGIN

	IF @datasource = ''
	BEGIN
		SELECT DISTINCT PRD_GROUP "PRODUCT_GROUP",
			PRD_GROUP "Product Group"
		FROM IFRS_MASTER_PRODUCT_PARAMETER
		WHERE DATA_SOURCE IN ('L/C','B/G','ACCEPTANCE');
	END
	ELSE
	BEGIN
		SELECT DISTINCT PRD_GROUP "PRODUCT_GROUP",  
			PRD_GROUP "Product Group"    
		FROM IFRS_MASTER_PRODUCT_PARAMETER
		WHERE DATA_SOURCE LIKE '%' + @datasource + '%';
	END;

END;

GO
