USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETHEADERIDBYDCFID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETHEADERIDBYDCFID]
(
	@DCFID INT
)
AS
BEGIN

	SELECT PKID FROM IFRS_FL_SCENARIO_IA_H_TEMP WHERE DCFID = @DCFID;

END;

GO
