USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SUM_DCFOVERFACUPLOADD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SUM_DCFOVERFACUPLOADD]
(    
	@DETAILPKID VARCHAR(100)    
)    
AS    
BEGIN    
        
	DECLARE @CurrDate DATETIME;  
	DECLARE @uploadID INT;    
    DECLARE @ScenarioNo INT;
	
	SELECT @uploadID = ISNULL(SUBSTRING(@DETAILPKID, 0, CHARINDEX('_', @DETAILPKID) - 1), @DETAILPKID);    
        
	SELECT @CurrDate = CURRDATE FROM IFRS_PRC_DATE;    
        
    SELECT @ScenarioNo = SCENARIONO 
	FROM IFRS_FL_SCENARIO_IA_H_TEMP A
	JOIN TBLT_PAYMENTEXPECTED_TEMP B ON CAST(B.UPLOADID AS VARCHAR) + '_' + B.FACILITY_NUMBER = @DETAILPKID     
		AND A.DCFID = B.DCFID
	
	IF @ScenarioNo = 1 
	BEGIN
	SELECT ESTIMATED_REALIZATION_DATE "Estimated Date",     
		SUM(ESTIMATED_PRINCIPAL_PAYM) "Principal Amount",
		SUM(ESTIMATED_INTEREST_PAYM) "Interest Amount",
		SUM(ESTIMATED_COLLATERAL_PAYM) "Collateral Amount",
		SUM(ESTIMATED_AMOUNT) "Installment",
		MAX(POS1) "Pos Rate 1",
		MAX(RR1) "Repayment Rate 1",
		SUM(DEFAULT1) "Default 1",
		MAX(INTERESTESTIMATED) "Discount Rate",
		SUM(PROBABILITY_WEIGHTED) "Probability Weighted",
		SUM(NPV) "NPV",
		SUM(INTERESTUNWINDING) "Unwinding",
		SUM(BEGINBALANCE) "Beginning Balance",
		SUM(ENDINGBALANCE) "Ending Balance"
	FROM TBLT_PAYMENTEXPECTED_TEMP
	WHERE CAST(UPLOADID AS VARCHAR) + '_' + FACILITY_NUMBER = @DETAILPKID    
	--CAST(UPLOADID AS VARCHAR) + '_' + FACILITY_NUMBER = @DETAILPKID   
	GROUP BY ESTIMATED_REALIZATION_DATE,NPV_Month 
	ORDER BY NPV_Month,
		ESTIMATED_REALIZATION_DATE;

    END;

	IF @ScenarioNo = 2 
	BEGIN
	SELECT ESTIMATED_REALIZATION_DATE "Estimated Date",     
		SUM(ESTIMATED_PRINCIPAL_PAYM) "Principal Amount",
		SUM(ESTIMATED_INTEREST_PAYM) "Interest Amount",
		SUM(ESTIMATED_COLLATERAL_PAYM) "Collateral Amount",
		SUM(ESTIMATED_AMOUNT) "Installment",
		MAX(POS1) "Pos Rate 1",
		MAX(RR1) "Repayment Rate 1",
		SUM(DEFAULT1) "Default 1",
		MAX(POS2) "Pos Rate 2",
		MAX(RR2) "Repayment Rate 2",
		SUM(DEFAULT2) "Default 2",
		MAX(INTERESTESTIMATED) "Discount Rate",
		SUM(PROBABILITY_WEIGHTED) "Probability Weighted",
		SUM(NPV) "NPV",
		SUM(INTERESTUNWINDING) "Unwinding",
		SUM(BEGINBALANCE) "Beginning Balance",
		SUM(ENDINGBALANCE) "Ending Balance"
	FROM TBLT_PAYMENTEXPECTED_TEMP
	WHERE CAST(UPLOADID AS VARCHAR) + '_' + FACILITY_NUMBER = @DETAILPKID    
	--CAST(UPLOADID AS VARCHAR) + '_' + FACILITY_NUMBER = @DETAILPKID     
	GROUP BY ESTIMATED_REALIZATION_DATE,NPV_Month 
	ORDER BY NPV_Month,
		ESTIMATED_REALIZATION_DATE;

    END;

	IF @ScenarioNo = 3
	BEGIN
	SELECT ESTIMATED_REALIZATION_DATE "Estimated Date",     
		SUM(ESTIMATED_PRINCIPAL_PAYM) "Principal Amount",
		SUM(ESTIMATED_INTEREST_PAYM) "Interest Amount",
		SUM(ESTIMATED_COLLATERAL_PAYM) "Collateral Amount",
		SUM(ESTIMATED_AMOUNT) "Installment",
		MAX(POS1) "Pos Rate 1",
		MAX(RR1) "Repayment Rate 1",
		SUM(DEFAULT1) "Default 1",
		MAX(POS2) "Pos Rate 2",
		MAX(RR2) "Repayment Rate 2",
		SUM(DEFAULT2) "Default 2",
		MAX(POS3) "Pos Rate 3",
		MAX(RR3) "Repayment Rate 3",
		SUM(DEFAULT3) "Default 3",
		MAX(INTERESTESTIMATED) "Discount Rate",
		SUM(PROBABILITY_WEIGHTED) "Probability Weighted",
		SUM(NPV) "NPV",
		SUM(INTERESTUNWINDING) "Unwinding",
		SUM(BEGINBALANCE) "Beginning Balance",
		SUM(ENDINGBALANCE) "Ending Balance"
	FROM TBLT_PAYMENTEXPECTED_TEMP
	WHERE  CAST(UPLOADID AS VARCHAR) + '_' + FACILITY_NUMBER = @DETAILPKID    
	--CAST(UPLOADID AS VARCHAR) + '_' + FACILITY_NUMBER = @DETAILPKID     
	GROUP BY ESTIMATED_REALIZATION_DATE,NPV_Month 
	ORDER BY NPV_Month,
		ESTIMATED_REALIZATION_DATE;

    END;

	IF @ScenarioNo = 4 
	BEGIN
	SELECT ESTIMATED_REALIZATION_DATE "Estimated Date",     
		SUM(ESTIMATED_PRINCIPAL_PAYM) "Principal Amount",
		SUM(ESTIMATED_INTEREST_PAYM) "Interest Amount",
		SUM(ESTIMATED_COLLATERAL_PAYM) "Collateral Amount",
		SUM(ESTIMATED_AMOUNT) "Installment",
		MAX(POS1) "Pos Rate 1",
		MAX(RR1) "Repayment Rate 1",
		SUM(DEFAULT1) "Default 1",
		MAX(POS2) "Pos Rate 2",
		MAX(RR2) "Repayment Rate 2",
		SUM(DEFAULT2) "Default 2",
		MAX(POS3) "Pos Rate 3",
		MAX(RR3) "Repayment Rate 3",
		SUM(DEFAULT3) "Default 3",
		MAX(POS4) "Pos Rate 4",
		MAX(RR4) "Repayment Rate 4",
		SUM(DEFAULT4) "Default 4",
		MAX(INTERESTESTIMATED) "Discount Rate",
		SUM(PROBABILITY_WEIGHTED) "Probability Weighted",
		SUM(NPV) "NPV",
		SUM(INTERESTUNWINDING) "Unwinding",
		SUM(BEGINBALANCE) "Beginning Balance",
		SUM(ENDINGBALANCE) "Ending Balance"
	FROM TBLT_PAYMENTEXPECTED_TEMP
	WHERE  CAST(UPLOADID AS VARCHAR) + '_' + FACILITY_NUMBER = @DETAILPKID    
	--CAST(UPLOADID AS VARCHAR) + '_' + FACILITY_NUMBER = @DETAILPKID     
	GROUP BY ESTIMATED_REALIZATION_DATE,NPV_Month 
	ORDER BY NPV_Month,
		ESTIMATED_REALIZATION_DATE;

    END;

	IF @ScenarioNo = 5 
	BEGIN
	SELECT ESTIMATED_REALIZATION_DATE "Estimated Date",     
		SUM(ESTIMATED_PRINCIPAL_PAYM) "Principal Amount",
		SUM(ESTIMATED_INTEREST_PAYM) "Interest Amount",
		SUM(ESTIMATED_COLLATERAL_PAYM) "Collateral Amount",
		SUM(ESTIMATED_AMOUNT) "Installment",
		MAX(POS1) "Pos Rate 1",
		MAX(RR1) "Repayment Rate 1",
		SUM(DEFAULT1) "Default 1",
		MAX(POS2) "Pos Rate 2",
		MAX(RR2) "Repayment Rate 2",
		SUM(DEFAULT2) "Default 2",
		MAX(POS3) "Pos Rate 3",
		MAX(RR3) "Repayment Rate 3",
		SUM(DEFAULT3) "Default 3",
		MAX(POS4) "Pos Rate 4",
		MAX(RR4) "Repayment Rate 4",
		SUM(DEFAULT4) "Default 4",
		MAX(POS5) "Pos Rate 5",
		MAX(RR5) "Repayment Rate 5",
		SUM(DEFAULT5) "Default 5",
		MAX(INTERESTESTIMATED) "Discount Rate",
		SUM(PROBABILITY_WEIGHTED) "Probability Weighted",
		SUM(NPV) "NPV",
		SUM(INTERESTUNWINDING) "Unwinding",
		SUM(BEGINBALANCE) "Beginning Balance",
		SUM(ENDINGBALANCE) "Ending Balance"
	FROM TBLT_PAYMENTEXPECTED_TEMP
	WHERE  CAST(UPLOADID AS VARCHAR) + '_' + FACILITY_NUMBER = @DETAILPKID    
	--CAST(UPLOADID AS VARCHAR) + '_' + FACILITY_NUMBER = @DETAILPKID     
	GROUP BY ESTIMATED_REALIZATION_DATE,NPV_Month 
	ORDER BY NPV_Month,
		ESTIMATED_REALIZATION_DATE;

    END;





END;

GO
