USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TRADEFINANCEHCOUNT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[USPS_TRADEFINANCEHCOUNT]
(
    @DOWNLOAD_DATE as date = '1-JAN-2000',
	@DATA_SOURCE as varchar(20)='',
	@PRODUCT_TYPE as varchar(20)='',
	@PRODUCT_CODE as varchar(20)='',
	@PRODUCT_GROUP as varchar(50)='',
	@FACILITY_NUMBER as varchar(50)='',
	@CUSTOMER_NUMBER as varchar(50)='',
    @ACCOUNT_NUMBER as varchar(50)='',
    @Where as VARCHAR(1000)=''
)
AS
   DECLARE @Query AS VARCHAR(3000);
   DECLARE @DOWNLOAD_DATE_DD AS DATE;
BEGIN

    IF (CONVERT(DATE,@DOWNLOAD_DATE) ='1-JAN-2000')
	BEGIN
		select @DOWNLOAD_DATE_DD = currdate from IFRS_PRC_DATE
	END
	ELSE
	BEGIN
		SELECT @DOWNLOAD_DATE_DD = CONVERT(date,@DOWNLOAD_DATE)
	END
    
    SET @Query =
        '
        SELECT COUNT(*) FROM IFRS_MASTER_ACCOUNT		
        WHERE '
        + 
		CASE WHEN @Where <> '' THEN
            @Where
        ELSE
            ' DOWNLOAD_DATE = '''+ CONVERT(varchar, @DOWNLOAD_DATE_DD, 120)  +  '''' +
                CASE WHEN @DATA_SOURCE <> '' 
					THEN 'AND DATA_SOURCE LIKE ''%' + LTRIM(RTRIM(@DATA_SOURCE)) + '%'' '
					ELSE 'AND DATA_SOURCE in (''L/C'',''B/G'',''ACCEPTANCE'') '
				END +
                CASE WHEN @PRODUCT_TYPE <> ' ' 
					THEN 'AND PRODUCT_TYPE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_TYPE)) + '%'' '
					ELSE ''
				END +
                CASE WHEN @PRODUCT_CODE <> ' ' 
					THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_CODE)) + '%'' '
					ELSE ''
				END +
				CASE WHEN @PRODUCT_GROUP <> ' ' 
					THEN 'AND PRODUCT_GROUP LIKE ''%' + LTRIM(RTRIM(@PRODUCT_GROUP)) + '%'' '
					ELSE ''
				END +
                CASE WHEN @FACILITY_NUMBER <> ' ' 
					THEN 'AND FACILITY_NUMBER LIKE ''%' + LTRIM(RTRIM(@FACILITY_NUMBER)) + '%'' '
					ELSE ''
				END +
                CASE WHEN @CUSTOMER_NUMBER <> ' ' 
					THEN 'AND CUSTOMER_NUMBER LIKE ''%' + LTRIM(RTRIM(@CUSTOMER_NUMBER)) + '%'''
					ELSE ''
				END +
                CASE WHEN @ACCOUNT_NUMBER <> ' ' 
					THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNT_NUMBER)) + '%'''
					ELSE ''
				END                
		END;

	EXEC (@Query)
	
	
END





GO
