USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKCOUNTLIGHTSCENARIO]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CHECKCOUNTLIGHTSCENARIO]
	@LIGHT_GROUP varchar(25)
AS
BEGIN

	SET NOCOUNT ON;
    SELECT COUNT(*) C
		FROM IFRS_IMP_LIGHT_SCEN_PARAM
		WHERE LIGHT_GROUP like '%_'+ @LIGHT_GROUP  + '%';
		
END


GO
