USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SCREENGROUPD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_SCREENGROUPD] 
	@HeaderID bigint = 0, 
	@ScreenID varchar(50) = '', 
	@CanView bit = 0, 
	@CanInsert bit = 0, 
	@CanUpdate bit = 0, 
	@CanDelete bit = 0, 
	@CanExport bit = 0, 
	@CanUpload bit = 0, 
	@NeedApproval bit = 0, 
	@UpdatedBy varchar(50) = '', 
	@UpdatedHost varchar(20) = ''
AS
	IF @HeaderID = 0            
	BEGIN
		SELECT @HeaderID = MAX(PKID) FROM tblM_ScreenGroupHeader               
	END
           
	IF NOT EXISTS (SELECT 1 FROM tblM_ScreenGroupDetail WITH (NOLOCK) WHERE ScreenID = @ScreenID AND ScreenGroupID = @HeaderID)
	BEGIN
		INSERT INTO tblM_ScreenGroupDetail (ScreenGroupID, ScreenID, CanView, CanInsert, CanUpdate, CanDelete, CanExport, CanUpload, NeedApproval, CreatedBy, CreatedHost, CreatedDate)                        
		VALUES (@HeaderID, @ScreenID, @CanView, @CanInsert, @CanUpdate, @CanDelete, @CanExport, @CanUpload, @NeedApproval, @UpdatedBy, @UpdatedHost, GETDATE())                     
	END
	ELSE
	BEGIN
		UPDATE tblM_ScreenGroupDetail                       
		SET CanView = @CanView,                      
			CanInsert = @CanInsert,                      
			CanUpdate = @CanUpdate,                      
			CanDelete = @CanDelete,                      
			CanExport = @CanExport,                      
			CanUpload = @CanUpload,                      
			NeedApproval = @NeedApproval,                      
			UpdatedBy = @UpdatedBy,                      
			UpdatedHost = @UpdatedHost,                      
			UpdatedDate = GETDATE()                      
		WHERE ScreenGroupID = @HeaderID 
			AND ScreenID = @ScreenID            
	END

GO
