USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPECLPRODUCTGROUP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPECLPRODUCTGROUP]    
(    
 @DATA_SOURCE VARCHAR(2000) = ''    
)    
AS    
BEGIN    
     
 DECLARE @Query VARCHAR(MAX);    
    
 SET @Query =    
  'SELECT DISTINCT PRD_GROUP "PRODUCT_GROUP",      
   REPLACE(PRD_GROUP, ''_'', '' '') "Product Group"        
  FROM IFRS_MASTER_PRODUCT_PARAM '    
  + CASE WHEN @DATA_SOURCE <> ''    
   THEN ' WHERE DATA_SOURCE IN (' + @DATA_SOURCE + ')'    
   ELSE ''    
  END;    
    
 EXEC (@Query);    
    
END; 
GO
