USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPUNPROCESSEDSPPIUP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPUNPROCESSEDSPPIUP](  
@SPPI_CLASS bigint = 0)  
AS  
BEGIN  
  
 SELECT PKID AS VALUEFIELD,CLASSNAME AS TEXTFIELD  
 FROM IFRS_AC_SPPI_HEADER   
 WHERE   PKID not in  
   (SELECT SPPI_CLASS FROM IFRS_AC_BM_HEADER WHERE SPPI_CLASS <> @SPPI_CLASS)  
 ORDER BY SPPI_RSLT  
  
END

GO
