USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SCALARAPPROVE]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_SCALARAPPROVE]  
 @SCALAR_ID int  
AS  
BEGIN  
 DECLARE @COUNT int;  
 DECLARE @ACTION varchar(2);  
   
 -- HEADER SP  
 SELECT @ACTION = [ACTION] FROM IFRS_ME_SCALAR_HEADER_PENDING WHERE PKID = @SCALAR_ID  
 IF @ACTION = 'D'  
 BEGIN  
  UPDATE IFRS_ME_SCALAR_HEADER SET IS_DELETE = 1 WHERE PKID = @SCALAR_ID  
 END  
 ELSE IF @ACTION = 'U'  
 BEGIN  
  DECLARE @CREATEDBY varchar(36);  
  DECLARE @CREATEDDATE date;  
  DECLARE @CREATEDHOST varchar(36);   
  
  SELECT @CREATEDBY = CREATEDBY, @CREATEDDATE = CREATEDDATE, @CREATEDHOST = CREATEDHOST FROM IFRS_ME_SCALAR_HEADER  WHERE PKID = @SCALAR_ID  
  DELETE FROM IFRS_ME_SCALAR_HEADER WHERE PKID = @SCALAR_ID  
    
  INSERT INTO IFRS_ME_SCALAR_HEADER(PKID,MODEL_ID,PERIOD,ADJ_TYPE,SCALAR_APPLY,RULE_ID,ACTIVE_FLAG, IS_DELETE,CREATEDBY,CREATEDDATE,CREATEDHOST,UPDATEDBY,UPDATEDDATE,UPDATEDHOST)  
  SELECT PKID,MODEL_ID,PERIOD,ADJ_TYPE,SCALAR_APPLY,RULE_ID, 0 ACTIVE_FLAG,0 IS_DELETE,@CREATEDBY,@CREATEDDATE,@CREATEDHOST, [BY], [DATE],[HOST] FROM IFRS_ME_SCALAR_HEADER_PENDING WHERE PKID = @SCALAR_ID  
 END  
 ELSE  
 BEGIN  
  INSERT INTO IFRS_ME_SCALAR_HEADER(PKID,MODEL_ID,PERIOD,ADJ_TYPE,SCALAR_APPLY,RULE_ID,ACTIVE_FLAG, IS_DELETE,CREATEDBY,CREATEDDATE,CREATEDHOST)  
  SELECT PKID,MODEL_ID,PERIOD,ADJ_TYPE,SCALAR_APPLY,RULE_ID, 0 ACTIVE_FLAG,0 IS_DELETE, [BY], [DATE],[HOST] FROM IFRS_ME_SCALAR_HEADER_PENDING WHERE PKID = @SCALAR_ID  
  
 END  
   
 -- DETAIL SP  
 DELETE FROM IFRS_ME_SCALAR_DETAIL  WHERE SCALAR_ID = @SCALAR_ID  
 INSERT INTO IFRS_ME_SCALAR_DETAIL (SCALAR_ID,SCENARIO_NO,SCENARIO_NAME,ADJUSTMENT_VALUE,ECONOMY_IMPACT)  
 SELECT SCALAR_ID,SCENARIO_NO,SCENARIO_NAME,ADJUSTMENT_VALUE,ECONOMY_IMPACT FROM IFRS_ME_SCALAR_DETAIL_PENDING WHERE SCALAR_ID = @SCALAR_ID  
   
 --CLEAR PENDING  
 DELETE FROM IFRS_ME_SCALAR_HEADER_PENDING WHERE PKID = @SCALAR_ID  
 DELETE FROM IFRS_ME_SCALAR_DETAIL_PENDING WHERE SCALAR_ID = @SCALAR_ID  
END
GO
