USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_SPPI_HEADER]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_SPPI_HEADER]                            
(                            
 @PKID_OLD bigint = 0,  
 @UPDATEDBY varchar(36) = '',               
 @UPDATEDHOST varchar(30) = ''               
)              
AS    
BEGIN    
  
 --DELETE SPPI HEADER  
 UPDATE IFRS_AC_SPPI_HEADER  
  SET IS_DELETE = 1, UPDATEDBY = @UPDATEDBY, UPDATEDDATE = GETDATE(), UPDATEDHOST = @UPDATEDHOST  
 WHERE PKID = @PKID_OLD  
  
 --DELETE SPPI DETAIL  
 UPDATE IFRS_AC_SPPI_DETAIL  
  SET IS_DELETE = 1, UPDATEDBY = @UPDATEDBY, UPDATEDDATE = GETDATE(), UPDATEDHOST = @UPDATEDHOST  
 WHERE CLASSID = @PKID_OLD  
  
END;

GO
