USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADMETEMP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[USPS_UPLOADMETEMP]   
(  
 @UploadID BIGINT = NULL  
)  
AS  
BEGIN  
  
  
 create table #temp(  
 upload_date date,  
 approved_date date,  
 upload_id int  
 )  
  
 insert into #temp  
  
 select CONVERT(date, UPDATEDDATE, 103) "UPLOAD_DATE", CONVERT(date, createddate, 103) "APPROVED_DATE", UPLOADID  
 from TBLU_MACRO_ECONOMIC_HIST group by UPLOADID, CONVERT(varchar(20), createddate, 103), CREATEDDATE, CONVERT(varchar(20), UPDATEDDATE, 103), UPDATEDDATE  
  
 insert into #temp  
 select CONVERT(date, UPDATEDDATE, 103) "UPLOAD_DATE", CONVERT(date, createddate, 103) "APPROVED_DATE", UPLOADID  
 from TBLU_MACRO_ECONOMIC_HIST group by UPLOADID, CONVERT(varchar(20), createddate, 103), CREATEDDATE, CONVERT(varchar(20), UPDATEDDATE, 103), UPDATEDDATE  
  
 select * from #temp group by upload_id, upload_date, approved_date order by upload_id desc  
  
 drop table #temp  
        
END;  
GO
