USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRODTYPEBYPRODUCTGROUP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPPRODTYPEBYPRODUCTGROUP]
(
	@PRD_GROUP VARCHAR(100) = ''
)
AS
BEGIN

	SELECT DISTINCT PRD_TYPE AS PRD_TYPE,  
		PRD_TYPE "Product Type" 
	FROM IFRS_MASTER_PRODUCT_PARAM
	WHERE PRD_GROUP = @PRD_GROUP

END;


GO
