USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRODUCTGROUP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPPRODUCTGROUP]
AS
BEGIN
SELECT 
VALUE1 AS PRD_GROUP,
IIF(DESCRIPTION = '',  VALUE1,
VALUE1 + ' - ' + DESCRIPTION
) 
AS [Product Group]
FROM
TBLM_COMMONCODEDETAIL 
WHERE COMMONCODE = 'B101' AND VALUE1 != 'ALL'
ORDER BY PRD_GROUP
END
GO
