USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SCENARIORULED]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_SCENARIORULED]

(

     @RULE_TYPE varchar(50)

	,@RULE_ID varchar(50)

	,@TABLE_NAME varchar(30)

	,@COLUMN_NAME varchar(100)

	,@DATA_TYPE varchar(15)=''

	,@OPERATOR varchar(10)=''

	,@VALUE1 varchar(MAX)

	,@VALUE2 varchar(MAX)

	,@AND_OR_CONDITION varchar(3)=''

	,@QUERY_GROUPING int=0

	,@SEQUENCE int=0

	,@STAGE_FROM varchar(50)=''

	,@STAGE_TO varchar(50)=''

	,@STAGE varchar(50)=''

	,@CreatedBy varchar(36)=''

	,@CreatedHost varchar(3)=''

)

AS

BEGIN

	IF @RULE_TYPE = 'SICR'

	BEGIN

		INSERT INTO [dbo].[IFRS_SCENARIO_RULES_DETAIL]

			   ([RULE_ID]

			   ,[TABLE_NAME]

			   ,[COLUMN_NAME]

			   ,[DATA_TYPE]

			   ,[OPERATOR]

			   ,[VALUE1]

			   ,[VALUE2]

			   ,[AND_OR_CONDITION]

			   ,[QUERY_GROUPING]

			   ,[SEQUENCE]

			   ,[CreatedBy]

			   ,[CreatedDate]

			   ,[CreatedHost]

			   ,[DETAIL_TYPE]

			   ,[STAGE_FROM]

			   ,[STAGE_TO]
			   
			   ,[IS_DELETE])

		 VALUES

			   (@RULE_ID

			   ,@TABLE_NAME

			   ,@COLUMN_NAME

			   ,@DATA_TYPE

			   ,@OPERATOR

			   ,@VALUE1

			   ,@VALUE2

			   ,@AND_OR_CONDITION

			   ,@QUERY_GROUPING

			   ,@SEQUENCE

			   ,@CreatedBy

			   ,GETDATE()

			   ,@CreatedHost

			   ,@RULE_TYPE

			   ,@STAGE_FROM

			   ,@STAGE_TO
			   
			   ,0)

	

	END

	ELSE IF @RULE_TYPE = 'STAGE'

	BEGIN

	INSERT INTO [dbo].[IFRS_SCENARIO_RULES_DETAIL]

			   ([RULE_ID]

			   ,[TABLE_NAME]

			   ,[COLUMN_NAME]

			   ,[DATA_TYPE]

			   ,[OPERATOR]

			   ,[VALUE1]

			   ,[VALUE2]

			   ,[AND_OR_CONDITION]

			   ,[QUERY_GROUPING]

			   ,[SEQUENCE]

			   ,[CreatedBy]

			   ,[CreatedDate]

			   ,[CreatedHost]

			   ,[DETAIL_TYPE]
			   
			   ,[IS_DELETE])

		 VALUES

			   (@RULE_ID

			   ,@TABLE_NAME

			   ,@COLUMN_NAME

			   ,@DATA_TYPE

			   ,@OPERATOR

			   ,@VALUE1

			   ,@VALUE2

			   ,@AND_OR_CONDITION

			   ,@QUERY_GROUPING

			   ,@SEQUENCE

			   ,@CreatedBy

			   ,GETDATE()

			   ,@CreatedHost

			   ,@STAGE

			   ,0)

	END

	ELSE

	BEGIN

		INSERT INTO [dbo].[IFRS_SCENARIO_RULES_DETAIL]

			   ([RULE_ID]

			   ,[TABLE_NAME]

			   ,[COLUMN_NAME]

			   ,[DATA_TYPE]

			   ,[OPERATOR]

			   ,[VALUE1]

			   ,[VALUE2]

			   ,[AND_OR_CONDITION]

			   ,[QUERY_GROUPING]

			   ,[SEQUENCE]

			   ,[CreatedBy]

			   ,[CreatedDate]

			   ,[CreatedHost]

			   ,[DETAIL_TYPE]
			   
			   ,[IS_DELETE])

		 VALUES

			   (@RULE_ID

			   ,@TABLE_NAME

			   ,@COLUMN_NAME

			   ,@DATA_TYPE

			   ,@OPERATOR

			   ,@VALUE1

			   ,@VALUE2

			   ,@AND_OR_CONDITION

			   ,@QUERY_GROUPING

			   ,@SEQUENCE

			   ,@CreatedBy

			   ,GETDATE()

			   ,@CreatedHost

			   ,@RULE_TYPE

			   ,0)

	END



END

GO
