USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_NFR_AVERAGEFLOWRATE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_NFR_AVERAGEFLOWRATE]  
(  
	@PD_RULE_ID AS BIGINT,  
	@PERIOD AS DATE  
)  
AS  
BEGIN  
  
	DECLARE @COLS AS VARCHAR(MAX)
	DECLARE @QUERY AS VARCHAR(MAX)

	SELECT @COLS = STUFF((SELECT ',' + QUOTENAME(X.DOWNLOAD_DATE) FROM 
						(SELECT DISTINCT(CONVERT(VARCHAR, A.DOWNLOAD_DATE, 106)) AS DOWNLOAD_DATE
						FROM IFRS_PD_NFR_FLOWTOLOSS A
						JOIN IFRS_BUCKET_DETAIL B
						ON A.BUCKET_GROUP = B.BUCKET_GROUP
						AND A.BUCKET_ID = B.BUCKET_ID
						WHERE A.PD_RULE_ID = @PD_RULE_ID
						AND A.DOWNLOAD_DATE <= @PERIOD
						GROUP BY
							A.PD_RULE_NAME,
							A.DOWNLOAD_DATE,
							B.BUCKET_NAME
						) X
						ORDER BY CONVERT(DATE, X.DOWNLOAD_DATE)
				FOR XML PATH(''), TYPE
				).value('.', 'VARCHAR(MAX)') 
			,1,1,'')

	--SELECT @COLS

	SET @QUERY = 'SELECT P.BUCKET_NAME, P.PD_RULE_NAME,' + @COLS + ' FROM 
				 (
					SELECT
						A.PD_RULE_NAME,
						A.DOWNLOAD_DATE,
						B.BUCKET_NAME,
						MAX(A.FLOW_TO_LOSS*100) AS AMOUNT
					FROM IFRS_PD_NFR_FLOWTOLOSS A
					JOIN IFRS_BUCKET_DETAIL B
					ON A.BUCKET_GROUP = B.BUCKET_GROUP
					AND A.BUCKET_ID = B.BUCKET_ID
					WHERE A.PD_RULE_ID = ' + CAST(@PD_RULE_ID AS VARCHAR(20)) + '
					AND A.DOWNLOAD_DATE <= ''' + CAST(@PERIOD AS VARCHAR(20)) + '''
					GROUP BY
						A.PD_RULE_NAME,
						A.DOWNLOAD_DATE,
						B.BUCKET_NAME 
				) X
				PIVOT 
				(
					SUM(X.AMOUNT)
					FOR X.DOWNLOAD_DATE IN (' + @COLS + ')
				) P 
				ORDER BY P.BUCKET_NAME'

	PRINT(@QUERY)
	EXEC(@QUERY)
  
END  


GO
