USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SETUPBMA]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPU_SETUPBMA]
(
	@PKID bigint=0
	,@QUESTION_DESC varchar(100)=''
	,@SUPPORTING_FLG bit=0
	,@SEQUENCE int=0
	,@OPTION_NUMBER int=0
	,@UpdatedBy varchar(36)=''
	,@UpdatedHost varchar(3)=''
)
AS
BEGIN
	UPDATE [IFRS_AC_BM_QUEST]
	SET [QUESTION_DESC]=@QUESTION_DESC
		   ,[SUPPORTING_FLG]=@SUPPORTING_FLG
           ,[SEQUENCE]=@SEQUENCE
		   ,[OPTION_NUMBER]=@OPTION_NUMBER
           ,[UPDATEDBY]=@UpdatedBy
           ,[CreatedDate]=GETDATE()
           ,[UPDATEDHOST]=@UpdatedHost
	where PKID=@PKID
	
	--delete [IFRS_AC_BM_MASTER_QUEST_D] where QUESTIONID=@PKID
END

GO
