USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMEADMODELHBYCODE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[USPS_PARAMEADMODELHBYCODE]  
(  
 @RULE_CODE VARCHAR = ''  
)  
as  
  
begin  
 select * from IFRS_EAD_RULES_CONFIG where PKID = @RULE_CODE  AND IS_DELETE =0 
end; 

GO
