USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOANMODULEBELOWMARKETCURRENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOANMODULEBELOWMARKETCURRENT]
(
    @DDATE_MAID VARCHAR(50) = ''
)
AS
BEGIN

	DECLARE @DATE DATE;
	DECLARE @DATE2 DATE;
	DECLARE @MASTERID VARCHAR(100);

	/*add */
	SET @DATE = CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID,1,10),111);          
	SET @MASTERID = SUBSTRING(@DDATE_MAID,11,len(@DDATE_MAID));

	SELECT @DATE2=MAX(DOWNLOAD_DATE)
	FROM IFRS_LBM_ACCT_EIR_ECF (NOLOCK) 
	WHERE MASTERID = @MASTERID       
	AND DOWNLOAD_DATE <= @DATE;

	IF (@DATE2 = NULL)
		SET @DATE2= '1900/01/01'

    SELECT PMT_DATE AS EFFDATE,
		COALESCE(N_PRN_PAYMENT, 0) AS "PRINCIPAL", 
		COALESCE(N_INT_PAYMENT, 0) AS "INTEREST", 
		COALESCE(N_OSPRN, 0) AS "OUTSTANDING", 
		COALESCE(N_INT_RATE, 0) AS "INT_RATE", 
		COALESCE(N_EFF_INT_RATE, 0) AS "EFF_INT_RATE", 
		COALESCE(N_EFF_INT_AMT,0) AS "EIR_AMOUNT", 
		COALESCE(N_AMORT_AMT,0) AS "AMORT_AMT_TOTAL", 
		COALESCE(N_UNAMORT_AMT,0) AS "UNAMORT_AMT_TOTAL", 
		COALESCE(N_FAIRVALUE,0) AS "CARR_AMT",    
		COALESCE(N_COST_AMORT_AMT,0) AS "AMORT_TXN_COST",    
		COALESCE(N_FEE_AMORT_AMT,0) AS "AMORT_ORG_FEE",    
		COALESCE(N_FEE_UNAMORT_AMT,0) AS "UNAMORT_ORG_FEE", 
		COALESCE(N_COST_UNAMORT_AMT,0) AS "UNAMORT_TXN_COST", 
        CASE WHEN NOCF_OSPRN IS NOT NULL THEN
            COALESCE(NOCF_OSPRN,0)
        ELSE
            COALESCE(N_OSPRN, 0)
        END 
        AS "NOCF_OSPRN",
        CASE WHEN NOCF_PRN_PAYMENT IS NOT NULL THEN
            COALESCE(NOCF_PRN_PAYMENT,0) - COALESCE(NOCF_EFF_INT_AMT,0)
        ELSE
            COALESCE(N_PRN_PAYMENT, 0)
        END AS "NOCF_PRN_PAYMENT",
        CASE WHEN NOCF_INT_RATE IS NOT NULL THEN
            COALESCE(NOCF_INT_RATE,0)
        ELSE
            COALESCE(N_INT_RATE, 0)
        END AS "NOCF_INT_RATE",
        COALESCE(NOCF_AMORT_AMT,0) AS "NOCF_AMORT_AMT",
		CASE WHEN NOCF_EFF_INT_AMT IS NOT NULL THEN
            COALESCE(NOCF_EFF_INT_AMT,0)
        ELSE
            COALESCE(N_INT_PAYMENT, 0)
        END AS "NOCF_EFF_INT_AMT"
    FROM IFRS_LBM_ACCT_EIR_ECF (NOLOCK) 
    WHERE MASTERID = @MASTERID
    AND DOWNLOAD_DATE = @DATE2
    /* remarks
        MASTERID = SUBSTR(v_DDATE_MAID,11,length(v_DDATE_MAID))
        AND AMORTSTOPDATE IS NULL
    */
    ORDER BY PMT_DATE ASC;

END

GO
