USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRODUCTCODE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPPRODUCTCODE]  
(  
@DATA_SOURCE VARCHAR(20)='',  
@PRD_TYPE VARCHAR(20)=''    
--@PRODUCT_TYPE_GROUP VARCHAR(100)='', 
--@GROUP VARCHAR(50)='', 
)  
as 
-- proc untuk get list lookup table destination list      
begin      
	
	select distinct PRD_CODE as "PRD_CODE", PRD_CODE +' - '+PRD_DESC AS "Product Code", PRD_DESC 
	from IFRS_MASTER_PRODUCT_PARAMETER  
	WHERE DATA_SOURCE = @DATA_SOURCE
	and PRD_TYPE = @PRD_TYPE
	--and PRODUCT_TYPE_GROUP = @PRODUCT_TYPE_GROUP
	--and [GROUP] = @GROUP
	order by PRD_CODE

end


GO
