USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERSCENARIODFACINIT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERSCENARIODFACINIT]
(
	@DCFID BIGINT
)
AS
BEGIN
	
	SELECT PERIODSTART,
		PERIODEND,
		RR1,
		RR2,
		RR3,
		RR4,
		RR5
	FROM IFRS_FL_SCENARIO_IA_D_TEMP A
		JOIN IFRS_FL_SCENARIO_IA_H_TEMP B ON A.HEADERID = B.PKID
	WHERE DCFID = @DCFID
	
END;

GO
