USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPMACROECOINDE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUPMACROECOINDE]     
(    
 @dependent  VARCHAR = NULL    
)    
AS    
BEGIN    
   DECLARE @v_Query VARCHAR(1000);    
    
   IF ISNULL(@dependent,' ') = ' '    
      SET @v_Query =    
         'SELECT
				ME_CODE AS "MACRO_ECONOMIC_CODE",
				ME_DESC AS "Variable Name"    
			FROM tblM_Macro_Economic
			where ME_CODE  not in (' + @dependent + ')
				AND ME_SOURCE = ''Upload''
				AND ME_TYPE = ''INDEPENDENT''';    
   ELSE    
      SET @v_Query =    
         'SELECT
				ME_CODE AS "MACRO_ECONOMIC_CODE",
				ME_DESC AS "Variable Name"    
			FROM tblM_Macro_Economic
			WHERE ME_SOURCE = ''Upload''
				AND ME_TYPE = ''INDEPENDENT''';    
    
   EXEC (@v_Query);
  
   --SELECT ME_CODE AS 'MACRO_ECONOMIC_CODE', ME_DESC AS 'Variable Name'  FROM TBLM_MACRO_ECONOMIC WHERE ME_SOURCE = 'Upload'  
END;

GO
