USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspD_MappingRulesH]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[uspD_MappingRulesH]
(@PKID int)
as
begin
	delete from TBLM_MAPPINGRULEHEADER_NEW where PKID = @PKID;
end

GO
