USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETIMASEGMENT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GETIMASEGMENT]  
AS  
BEGIN  
   
 SELECT DISTINCT SEGMENT   
 FROM IFRS_MSTR_SEGMENT_RULES_HEADER   
 WHERE SEGMENT IS NOT NULL AND IS_DELETE = 0 
  
END;  



  
GO
