USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKPENDINGSCALAR]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_CHECKPENDINGSCALAR]  
 @PKID INT  
AS  
BEGIN  
 SELECT * FROM IFRS_ME_SCALAR_HEADER_PENDING WHERE PKID= @PKID  
END
GO
