USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPMENU]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPMENU]  
AS  
BEGIN  
 SELECT '' 'ScreenID', '--ALL--' 'Title'  
  UNION  
 SELECT ScreenID, Title  
 FROM tblM_Screen  where Active = 1 and ISMENU = 1
 ORDER BY Title  
END  

GO
