USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_PD_SCENARIO_DATA_NOLAG]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SP_IFRS_IMPCR_PD_SCENARIO_DATA_NOLAG]
  @DOWNLOAD_DATE DATE = '',
  @MODEL_ID BIGINT = 0,
  @RULE_ID BIGINT = 0
AS
BEGIN
  DECLARE @V_CURRDATE   DATE
  DECLARE @V_PREVDATE   DATE
  DECLARE @V_PREVMONTH DATE
  DECLARE @V_STR_SQL    VARCHAR(MAX)
  DECLARE @V_STR_SQL_RULE  VARCHAR(MAX)
  DECLARE @PD_RULE_ID  VARCHAR(50)
  DECLARE @DEFAULT_RULE_ID VARCHAR(50)
  DECLARE @RULE_TYPE  VARCHAR(50)
  DECLARE @SEGMENT VARCHAR(100)
  DECLARE @SUB_SEGMENT VARCHAR(100)
  DECLARE @GROUP_SEGMENT VARCHAR(100)
  DECLARE @CONDITION  VARCHAR(4000)
  DECLARE @IA_FLAG VARCHAR(1)

  IF @DOWNLOAD_DATE <> ''              
BEGIN
    SET @V_CURRDATE = EOMONTH(@DOWNLOAD_DATE)
    ---- NOLAG      
    SET @V_PREVDATE = DATEADD(DAY,-1,@DOWNLOAD_DATE)
    SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE))
  END              
ELSE           
BEGIN
    SELECT @V_CURRDATE = EOMONTH(CURRDATE)
    FROM IFRS_PRC_DATE
    SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)
    SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))
  END

  TRUNCATE TABLE TMP_IFRS_PD_SCENARIO_DATA_NOLAG

  SET @V_STR_SQL = ''

  DECLARE SEG1                       
  CURSOR FOR                 
  SELECT A.PKID, B.SEGMENT, B.SUB_SEGMENT, B.GROUP_SEGMENT, B.CONDITION, A.IA_FLAG
  FROM IFRS_PD_RULES_CONFIG A INNER JOIN IFRS_SCENARIO_SEGMENT_GENERATE_QUERY B ON A.SEGMENTATION_ID= B.RULE_ID AND B.SEGMENT_TYPE = 'PD_SEGMENT'
  WHERE IS_DELETE = 0 AND ACTIVE_FLAG = 1 AND A.CUT_OFF_DATE <= @V_CURRDATE AND LAG_1MONTH_FLAG = 0 AND PKID = @RULE_ID
  ORDER BY PKID
  OPEN SEG1;
  FETCH SEG1 INTO @PD_RULE_ID, @SEGMENT,@SUB_SEGMENT,@GROUP_SEGMENT,@CONDITION ,@IA_FLAG
  WHILE @@FETCH_STATUS=0                                                                              
   BEGIN
    SET @V_STR_SQL = ''

    SET @V_STR_SQL = '              
INSERT INTO TMP_IFRS_PD_SCENARIO_DATA_NOLAG (DOWNLOAD_DATE              
,PD_RULE_ID              
,PD_RULE_NAME              
,DEFAULT_RULE_ID              
,BUCKET_GROUP              
,MASTERID               
,CUSTOMER_NUMBER              
,SEGMENT              
,SUB_SEGMENT              
,GROUP_SEGMENT              
,PD_METHOD              
,PD_UNIQUE_ID              
,CALC_METHOD              
,CALC_AMOUNT              
,BUCKET_ID              
,OUTSTANDING              
,IMPAIRED_FLAG              
,DEFAULT_FLAG              
,LIFETIME              
,FAIR_VALUE_AMOUNT              
,BI_COLLECTABILITY              
,RATING_CODE              
,DAY_PAST_DUE            
,DPD_CIF              
,CREATEDBY              
,CREATEDDATE)              
 SELECT DOWNLOAD_DATE              
 ,B.PKID AS PD_RULE_ID              
 ,B.TM_RULE_NAME AS PD_RULE_NAME              
 ,B.DEFAULT_RULE_ID              
 ,B.BUCKET_GROUP              
 ,A.MASTERID               
 ,A.CUSTOMER_NUMBER              
 ,'''+@SEGMENT+''' AS SEGMENT              
 ,'''+@SUB_SEGMENT+''' AS SUB_SEGMENT              
 ,'''+@GROUP_SEGMENT+''' AS GROUP_SEGMENT              
 ,PD_METHOD              
 ,CASE WHEN CALC_METHOD IN (''CNOC'', ''COS'', ''CVS'')  THEN CUSTOMER_NUMBER ELSE MASTERID END  AS PD_UNIQUE_ID              
 ,CALC_METHOD              
 ,0 AS CALC_AMOUNT              
 ,BUCKET_ID     
 ,OUTSTANDING*ISNULL(EXCHANGE_RATE,1) AS OUTSTANDING              
 ,IMPAIRED_FLAG              
 ,DEFAULT_FLAG              
 ,LIFETIME AS LIFETIME              
 ,FAIR_VALUE_AMOUNT*ISNULL(EXCHANGE_RATE,1) AS FAIR_VALUE_AMOUNT              
 ,BI_COLLECTABILITY              
 ,A.RATING_CODE AS RATING_CODE              
 ,DAY_PAST_DUE              
 ,DPD_CIF             ,''SYSTEM''  AS CREATEDBY              
 ,GETDATE () AS CREATEDDATE               
 FROM IFRS_MASTER_ACCOUNT A              
 JOIN IFRS_PD_RULES_CONFIG B ON B.PKID = '+@PD_RULE_ID+'               
 WHERE A.DOWNLOAD_DATE =  ''' + CONVERT(VARCHAR(10),@V_CURRDATE,112) + '''
 '+ CASE WHEN @GROUP_SEGMENT LIKE '%JENIUS%' THEN ' AND A.CUSTOMER_NUMBER NOT IN (SELECT DISTINCT CUSTOMER_NUMBER FROM IFRS_EXCLUDE_JENIUS)' ELSE '' END +'
 AND '+@CONDITION+' '
    ---+ CASE WHEN @IA_FLAG = 0 THEN ' AND ISNULL(IMPAIRED_FLAG,C) = ''C''' ELSE '' END         -- NO NEED INDIVIDUAL FLAG REMARK BY SAID 20190705      

    -- PRINT  (@V_STR_SQL)              
    EXEC (@V_STR_SQL)

    FETCH NEXT FROM SEG1 INTO @PD_RULE_ID, @SEGMENT,@SUB_SEGMENT,@GROUP_SEGMENT,@CONDITION ,@IA_FLAG
  --,@HISTORICAL_DATA,@DEFAULT_FLAG                             
  END
  CLOSE SEG1;
  DEALLOCATE SEG1;

  IF OBJECT_ID('TEMPDB.DBO.#DEFAULT') IS NOT NULL DROP TABLE #DEFAULT
  SELECT *
  INTO #DEFAULT
  FROM IFRS_DEFAULT_NOLAG
  WHERE DOWNLOAD_DATE = @V_CURRDATE


  -- UPDATE BUCKET               
  UPDATE A               
  SET A.BUCKET_ID = E.BUCKET_ID,        
  A.BUCKET_ID_ORIG =  E.BUCKET_ID              
  FROM TMP_IFRS_PD_SCENARIO_DATA_NOLAG A
    INNER JOIN IFRS_BUCKET_HEADER C ON A.BUCKET_GROUP = C.BUCKET_GROUP AND C.IS_DELETE = 0
    INNER JOIN IFRS_BUCKET_DETAIL E ON A.BUCKET_GROUP = E.BUCKET_GROUP AND E.IS_DELETE = 0 AND ((CASE              
                                                            WHEN C.OPTION_GROUPING = 'DPD'              
                                                            THEN A.DAY_PAST_DUE              
                                                            WHEN C.OPTION_GROUPING = 'DPD_CIF'              
                                                            THEN A.DPD_CIF              
                                                            WHEN C.OPTION_GROUPING = 'BIC'              
                                                            THEN A.BI_COLLECTABILITY              
                                                        END) BETWEEN E.RANGE_START AND E.RANGE_END
      OR
      C.OPTION_GROUPING  IN ('IR') AND
      E.SUB_BUCKET_GROUP = A.RATING_CODE )   
               WHERE A.PD_RULE_ID = @RULE_ID

  IF OBJECT_ID ('TEMPDB.DBO.#MAX_BUCKET') IS NOT NULL DROP TABLE #MAX_BUCKET
  SELECT BUCKET_GROUP, MAX(BUCKET_ID) AS MAX_BUCKET
  INTO #MAX_BUCKET
  FROM IFRS_BUCKET_DETAIL
  GROUP BY BUCKET_GROUP

  --UPDATE DEFAULT DATA AND UPDATE BUCKET ID FOR DEFAULT ACCOUNT              
  UPDATE A               
SET A.DEFAULT_FLAG = CASE WHEN B.MASTERID IS NOT NULL THEN 1 ELSE 0 END,              
A.BUCKET_ID  = CASE WHEN B.MASTERID IS NOT NULL THEN  C.MAX_BUCKET ELSE A.BUCKET_ID END,        
A.BUCKET_ID_ORIG  = CASE WHEN B.MASTERID IS NOT NULL THEN  C.MAX_BUCKET ELSE A.BUCKET_ID END                  
FROM TMP_IFRS_PD_SCENARIO_DATA_NOLAG A
    LEFT JOIN #DEFAULT B ON A.DEFAULT_RULE_ID = B.RULE_ID AND A.MASTERID = B.MASTERID
    JOIN #MAX_BUCKET C ON C.BUCKET_GROUP = A.BUCKET_GROUP
WHERE A.PD_RULE_ID = @RULE_ID

  /* NO FP FOR NO LAG      
-- UPDATE FP FLAG               
IF OBJECT_ID ('TEMPDB.DBO.#FP_ACCOUNT') IS NOT NULL DROP TABLE #FP_ACCOUNT              
SELECT * INTO #FP_ACCOUNT FROM  IFRS_IMP_DEFAULT_STATUS  WHERE DOWNLOAD_DATE = @V_CURRDATE AND FP_FLAG = 1              
              
UPDATE A              
SET A.BUCKET_ID = 0               
FROM TMP_IFRS_PD_SCENARIO_DATA A               
INNER JOIN #FP_ACCOUNT B ON A.MASTERID = B.MASTERID --AND A.DONWLOAD_DATE = B.DOWNLOAD_DATE            
INNER JOIN IFRS_BUCKET_HEADER C ON A.BUCKET_GROUP = C.BUCKET_GROUP AND IS_DELETE = 0 AND INCLUDE_FULLYPAID_FLAG = 1          
    */

  --INSERT INTO TABLE SCENARIO DATA              
  DELETE IFRS_PD_SCENARIO_DATA_NOLAG WHERE DOWNLOAD_DATE = @V_CURRDATE AND PD_RULE_ID = @RULE_ID

  INSERT INTO IFRS_PD_SCENARIO_DATA_NOLAG
  SELECT *
  FROM TMP_IFRS_PD_SCENARIO_DATA_NOLAG
  WHERE PD_RULE_ID = @RULE_ID


  -- UPDATE 12M_DEFAULT FLAG FOR LAST YEAR DATA              
  DECLARE @LAST_YEAR DATE
  SET @LAST_YEAR = EOMONTH(DATEADD(YEAR,-1,@V_CURRDATE))

  IF OBJECT_ID ('TEMPDB.DBO.#PD_DATA_12M') IS NOT NULL DROP TABLE #PD_DATA_12M
  SELECT PD_UNIQUE_ID, PD_RULE_ID, MAX(CASE WHEN DEFAULT_FLAG = 1 THEN 1 ELSE 0 END) AS MAX_DEFAULT_FLAG
  INTO #PD_DATA_12M
  FROM IFRS_PD_SCENARIO_DATA_NOLAG
  WHERE DOWNLOAD_DATE BETWEEN EOMONTH(DATEADD(M,1,@LAST_YEAR)) AND EOMONTH(@V_CURRDATE  ) AND PD_RULE_ID = @RULE_ID
  GROUP BY PD_UNIQUE_ID,PD_RULE_ID

  UPDATE A              
SET NEXT_12M_DEFAULT_FLAG = B.MAX_DEFAULT_FLAG        
--, A.BUCKET_ID = CASE WHEN B.MAX_DEFAULT_FLAG = 1 THEN A.BUCKET_ID_ORIG ELSE A.BUCKET_ID END               
FROM IFRS_PD_SCENARIO_DATA_NOLAG A
    JOIN #PD_DATA_12M B ON A.PD_RULE_ID = B.PD_RULE_ID AND A.PD_UNIQUE_ID = B.PD_UNIQUE_ID              
 WHERE A.DOWNLOAD_DATE = @LAST_YEAR AND A.PD_RULE_ID = @RULE_ID


END 

GO
