USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADFORECASTRESULTCHECKERROR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOADFORECASTRESULTCHECKERROR]            
(         
 @ME_CODE VARCHAR(100)--,
 --@CREATEDBY VARCHAR(36)
)            
AS            
BEGIN            
    
	SELECT *
	FROM
	(
		SELECT       
			CASE WHEN ME_CODE <> ME_CODE_UPLOAD THEN 'Variable does not exist' END AS STATUS
		FROM IFRS_ME_FORECAST_DETAIL_TEMP A
		WHERE ME_CODE = @ME_CODE
			--AND CREATEDBY = @CREATEDBY
	)A
	WHERE STATUS <> ''
		
END; 
GO
