USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKEFFDTSETDUPDATA]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKEFFDTSETDUPDATA]  
(  
  @PERIOD DATETIME ,  
 @LGD_EFF_DATE DATETIME,  
 @PD_EFF_DATE DATETIME
)  
AS  
BEGIN  
  
 SELECT *   
 FROM IFRS_ECL_EFFECTIVE_DATE_CTBC   
 WHERE PERIOD = @PERIOD  
  AND PD_EFF_DATE = @PD_EFF_DATE
  AND LGD_EFF_DATE = @LGD_EFF_DATE
 ;
  
END;

GO
