USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADHISTORICALDATAD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADHISTORICALDATAD]  
(  
 @UploadID BIGINT  
)  
AS  
BEGIN  
 DECLARE @ColumnName VARCHAR(50);  
 DECLARE @ColumnList VARCHAR(MAX);  
 DECLARE @Query VARCHAR(MAX);  
 DECLARE @i INT;  
 SET @i=1;  
 SET @ColumnList='';  
   
 DECLARE c_column CURSOR   
 FOR  
 SELECT COLUMN_NAME from TBLU_DOC_TEMP_HEADER   
  WHERE [UploadID]=@uploadID;    
  
 OPEN c_column;  
     
 FETCH NEXT FROM c_column INTO @ColumnName;    
   
 WHILE @@FETCH_STATUS = 0    
 BEGIN    
  SET @ColumnList += '[COLUMN_' + CONVERT(VARCHAR(10),@i) + '] AS "' + @ColumnName + '",'  
  SET @i+=1  
 FETCH NEXT FROM c_column INTO @ColumnName;  
 END  
    
 CLOSE c_column;    
 DEALLOCATE c_column;   
  
 SET @ColumnList = SUBSTRING(@ColumnList,0,LEN(@ColumnList))  
  
 SET @Query =  
  'SELECT ' + @ColumnList + '   
  FROM TBLU_DOC_TEMP_DETAIL   
  WHERE UPLOADID = ' + CAST(@UploadID AS VARCHAR(50));  
   
   
 PRINT @Query;  
  
 EXEC(@Query);  
  
END;  
GO
