USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADREJECT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADREJECT]
(
	@UploadID BIGINT,
	@UpdatedBy VARCHAR(36),
	@UpdatedHost VARCHAR(30)
)
AS
BEGIN

	UPDATE TBLT_UPLOAD_POOL
	SET STATUS = 'REJECTED',
		UPDATEDBY = @UpdatedBy,
		UPDATEDHOST = @UpdatedHost,
		APPROVEDBY = @UpdatedBy,
		APPROVEDDATE = GETDATE(),
		UPDATEDDATE = GETDATE()
	WHERE UPLOADID = @UploadID;

END;

GO
