USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_USER]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_USER]              
 @PKID varchar(50)
 --uniqueidentifier,              
 --@UserName varchar(50),      
-- @UpdatedBy varchar(50),              
 --@UpdatedHost varchar(20)              
as              
          
          
begin tran          
   --delete tblM_User where PKID=@PKID    
         
 update tblM_User              
  set IsUserActive = 0--,              
   --UpdatedDate = GETDATE(),              
   --UpdatedBy = @UpdatedBy,              
   --UpdatedHost = @UpdatedHost              
 where --UserName=@UserName       
  PKID = @PKID              
             
  update tblm_reportto            
  set active = 0--,            
   --UpdatedDate = GETDATE(),            
   --UpdatedBy = @UpdatedBy,            
   --UpdatedHost = @UpdatedHost            
  where userid = @PKID or ReportTo = @PKID        
           
 --delete from tblM_UserModule          
 --where UserID=@PKID          
           
 if @@ERROR <> 0           
 rollback tran          
 else          
    commit tran  

GO
