USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETSPPICLASS]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_GETSPPICLASS]  
 @CLASSNAME varchar(100) = '',  
 @EFFECTIVE_DATE date = '2000/01/01',  
 @PKID bigint = 0  
AS  
BEGIN  
   
 SELECT * FROM IFRS_AC_BM_HEADER  
 WHERE SPPI_CLASS = @CLASSNAME  
  AND EFFECTIVE_DATE = @EFFECTIVE_DATE  
  AND PKID <> @PKID  
  AND ISNULL(IS_DELETE,0) = 0
  
END

GO
