USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_CORP_PERIOD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_ECL_CORP_PERIOD]
as
begin

	select distinct DOWNLOAD_DATE,  
			LTRIM(RTRIM(UPPER(datename(MONTH, download_date)) + ' ' + Cast(YEAR(download_date) as varchar(4)))) AS DESCRIPTION
	from IFRS_MASTER_ACCOUNT_MONTHLY
	ORDER BY DOWNLOAD_DATE DESC;

end

GO
