USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADDCFVALIDATION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPP_UPLOADDCFVALIDATION]            
(            
 @uploadID  INT,           
 @custnum  VARCHAR(50),          
 @accnum   VARCHAR(100),          
 @flagImpairment VARCHAR(1),            
 @dcfid   INT,          
 @collateral  INT,
 @masterID   VARCHAR(100)          
)          
AS          
 DECLARE @CurrDate DATETIME;          
 DECLARE @FIRSSTDATE DATETIME;          
 DECLARE @EIRCOUNT INT;            
 DECLARE @ACCNUMCOUNT INT;          
 DECLARE @TRIGGERCOUNT INT;          
 DECLARE @DATECOUNT INT;          
 --BEGIN TRAN          
 SET @TRIGGERCOUNT = 0;          
          
 SELECT @CurrDate = CURRDATE           
 FROM IFRS_PRC_DATE          
             
 --delete table tampung upload supaya bisa upload lagi untuk user yg sama.            
 DELETE FROM TBLU_DCF_MESSAGEERROR WHERE DCFID = @dcfid          
                
           
 --1. Checking: CUSTOMER_NUMBER null          
 INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)            
 SELECT ROW_NUMBER, 'CUSTOMER_NUMBER', 'CUSTOMER NUMBER must be filled', @dcfid            
 FROM tblT_PaymentExpectedH_TEMP          
 WHERE DCFID = @dcfid           
  AND UPLOADID = @uploadID          
  AND CUSTOMER_NUMBER = ''          
            
 --2. Checking: CUSTOMER_NUMBER not exist in IFRS_MASTER_ACCOUNT            
 INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)            
 SELECT ROW_NUMBER, 'CUSTOMER_NUMBER', 'CUSTOMER NUMBER is not found on IFRS_MASTER_ACCOUNT', @dcfid            
 FROM tblT_PaymentExpectedH_TEMP            
 WHERE DCFID = @dcfid          
  AND UPLOADID = @uploadID          
  AND CUSTOMER_NUMBER NOT IN             
  (          
   SELECT DISTINCT CUSTOMER_NUMBER          
   FROM IFRS_IMP_IA_MASTER --IFRS_MASTER_ACCOUNT             
   --COMMENT BY SEPTIAN 20190416 WHERE DOWNLOAD_DATE = @CurrDate          
  )          
          
 --3. Checking: ACCOUNT_NUMBER null          
 INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)            
 SELECT ROW_NUMBER, 'ACCOUNT_NUMBER', 'ACCOUNT NUMBER is null', @dcfid            
 FROM tblT_PaymentExpectedH_TEMP            
 WHERE DCFID = @dcfid          
  AND UPLOADID = @uploadID          
  AND MASTERID = ''          
          

  --XX. Checking: SAME DOWNLOAD_DATE in TBLT_PAYMENTEXPECTEDH_TEMP            
 INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)            
 SELECT ROW_NUMBER, 'EFFECTIVE_DATE', 'Cannot Insert Same EFFECTIVE_DATE', @dcfid            
 FROM tblT_PaymentExpectedH_TEMP            
 WHERE DCFID = @dcfid   
  AND UPLOADID = (SELECT MAX(UPLOADID) FROM TBLT_PAYMENTEXPECTEDH_TEMP WHERE DCFID = @dcfid)       
  AND 1 < (SELECT MAX(X.CNT) FROM  
  (          
   SELECT COUNT(1) AS CNT, EFFECTIVE_DATE, UPLOADID
   FROM TBLT_PAYMENTEXPECTEDH_TEMP WHERE DCFID = @dcfid GROUP BY EFFECTIVE_DATE, UPLOADID         
  ) X WHERE X.UPLOADID = (SELECT MAX(UPLOADID) FROM TBLT_PAYMENTEXPECTEDH_TEMP WHERE DCFID = @dcfid))
  AND EFFECTIVE_DATE IN (SELECT X.EFFECTIVE_DATE FROM  
  (          
   SELECT COUNT(1) AS CNT, EFFECTIVE_DATE, UPLOADID
   FROM TBLT_PAYMENTEXPECTEDH_TEMP WHERE DCFID = @dcfid GROUP BY EFFECTIVE_DATE, UPLOADID         
  ) X WHERE X.UPLOADID = (SELECT MAX(UPLOADID) FROM TBLT_PAYMENTEXPECTEDH_TEMP WHERE DCFID = @dcfid) AND X.CNT > 1)
  
            
 --4. Checking: ACCOUNT_NUMBER not exist in IFRS_MASTER_ACCOUNT           
 INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)            
 SELECT ROW_NUMBER, 'ACCOUNT_NUMBER', 'ACCOUNT NUMBER is not found on IFRS_MASTER_ACCOUNT', @dcfid            
 FROM tblT_PaymentExpectedH_TEMP            
 WHERE DCFID = @dcfid          
  AND UPLOADID = @uploadID          
  AND MASTERID NOT IN             
  (          
   SELECT DISTINCT MASTERID          
   FROM IFRS_IMP_IA_MASTER --IFRS_MASTER_ACCOUNT             
   --COMMENT BY SEPTIAN 20190416 WHERE DOWNLOAD_DATE = @CurrDate          
  )          
          
 --Checking: ACCOUNT_NUMBER does not member of the customer number          
 INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)            
 SELECT ROW_NUMBER, 'ACCOUNT_NUMBER', 'ACCOUNT NUMBER does not member of CUSTOMER NUMBER', @dcfid            
 FROM tblT_PaymentExpectedH_TEMP            
 WHERE DCFID = @dcfid          
  AND UPLOADID = @uploadID          
  AND MASTERID NOT IN             
  (          
   SELECT DISTINCT MASTERID          
   FROM IFRS_IMP_IA_MASTER --IFRS_MASTER_ACCOUNT          
   WHERE   
   --COMMENT BY SEPTIAN 20190416 DOWNLOAD_DATE = @CurrDate AND   
   CUSTOMER_NUMBER = @custnum          
  )          
          
  --SELECT DISTINCT MASTERID, DOWNLOAD_DATE          
  -- FROM IFRS_MASTER_ACCOUNT             
  -- WHERE ACCOUNT_NUMBER = 'AA.004.000008'          
  -- and DOWNLOAD_DATE = '2017-06-30'          
          
            
             
 --5. Checking: EFFECTIVEDATE is blank             
 INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)            
 SELECT ROW_NUMBER, 'EFFECTIVEDATE', 'EFFECTIVE DATE must be filled', @dcfid            
 FROM tblT_PaymentExpectedH_TEMP      
 WHERE DCFID = @dcfid          
  AND UPLOADID = @uploadID          
  AND EFFECTIVE_DATE IS NULL          
            
 --6. Checking: EFFECTIVEDATE before current date AND SAME WITH CURRENT DATE (MUST AFTER CURRENT DATE)         
 INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)            
 SELECT ROW_NUMBER, 'EFFECTIVEDATE', 'EFFECTIVE DATE must be after current process date', @dcfid            
 FROM tblT_PaymentExpectedH_TEMP          
 WHERE DCFID = @dcfid           
  AND UPLOADID = @uploadID          
  AND EOMONTH(EFFECTIVE_DATE) <= EOMONTH(@CurrDate)          
              
 --7. Checking: EFFECTIVEDATE double input          
 INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)          
 SELECT ROW_NUMBER, 'EFFECTIVEDATE', 'same date (EFFECTIVE DATE) is inputted more than once', @dcfid          
 FROM tblT_PaymentExpectedH_TEMP          
 WHERE DCFID = @dcfid          
  AND UPLOADID = @uploadID          
 GROUP BY EFFECTIVE_DATE, ROW_NUMBER          
 HAVING COUNT(*) > 1          
           
 --8. Checking: Total CASHFLOW uploaded is more than Account cashflow          
 --IF @collateral = 0          
 --BEGIN          
  DECLARE @Outstanding DECIMAL(32, 6);          
  SELECT @Outstanding = OUTSTANDING           
  FROM IFRS_IMP_IA_MASTER          
  WHERE   
  --COMMENT BY SEPTIAN 20190416 DOWNLOAD_DATE = @CurrDate AND   
   CUSTOMER_NUMBER = @custnum          
   AND MASTERID = @accnum          
  /*          
  INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)          
  SELECT 0, 'CASHFLOW', 'Sum of inputted CASHFLOW is greater than outstanding account', @dcfid          
  FROM tblT_PaymentExpected_TEMP --change tblT_PaymentExpectedH_TEMP          
  WHERE DCFID = @dcfid          
   AND UPLOADID = @uploadID          
  GROUP BY DCFID,           
   UPLOADID          
  HAVING SUM(NPV) > @Outstanding*/          
 --END          
          
 --9 Checking EIR has multiple value           
           
 SELECT @EIRCOUNT=SUM(X) FROM(          
 SELECT  COUNT(A.Z) X  FROM (          
  SELECT COUNT(*) AS Z          
  FROM tblT_PaymentExpectedH_TEMP          
  WHERE DCFID = @dcfid          
  AND UPLOADID = @uploadID          
  AND MASTERID = @accnum          
  GROUP BY EIR_PERCENT          
 ) A          
 GROUP BY Z          
 ) Y          
          
 IF (@EIRCOUNT > 1)          
 BEGIN          
  INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID,FIELD_NAME, ERROR_MSG, DCFID)          
  SELECT '','EIR_PERCENT','EIR Has different value',@dcfid          
 END          
          
 --10 Checking upload has multiple Account Number          
           
 SELECT @ACCNUMCOUNT=SUM(X) FROM(          
 SELECT  COUNT(A.Z) X  FROM (          
  SELECT COUNT(*) AS Z          
  FROM tblT_PaymentExpectedH_TEMP          
  WHERE DCFID = @dcfid          
  AND UPLOADID = @uploadID          
  --AND MASTERID = @accnum          
  GROUP BY MASTERID          
 ) A          
 GROUP BY Z          
 ) Y          
 /*          
 SELECT COUNT(*) AS X          
 FROM tblT_PaymentExpectedH_TEMP          
 WHERE DCFID = @dcfid          
 AND UPLOADID = @uploadID          
 GROUP BY MASTERID          
 HAVING COUNT(*)>1          
 */          
 IF (@ACCNUMCOUNT > 1)          
 BEGIN          
  INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID,FIELD_NAME, ERROR_MSG, DCFID)          
  SELECT '1','ACCOUNT_NUMBER','Excel has multiple account number',@dcfid          
 END          
          
          
 --11 Checking upload has TRIGGER ACCOUNT          
           
 --SELECT @TRIGGERCOUNT=COUNT(*) FROM IFRS_IMP_OVERRIDETRIGGERH_TEMP WHERE CUSTOMER_NUMBER = @custnum;          
          
 --IF (@TRIGGERCOUNT=0)          
 --BEGIN          
 -- INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID,FIELD_NAME, ERROR_MSG, DCFID)          
 -- SELECT '','TRIGGER EVENT','Trigger Event is null',@dcfid          
 --END          
          
           
 --12 Checking upload has same date          
 SELECT @DATECOUNT=COUNT(*)          
 FROM tblT_PaymentExpectedH_TEMP          
 WHERE DCFID = @dcfid          
 AND UPLOADID = @uploadID          
 GROUP BY EFFECTIVE_DATE          
          
 IF (@DATECOUNT > 1)          
 BEGIN          
  INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID,FIELD_NAME, ERROR_MSG, DCFID)          
  SELECT '1','Estimated Realization Date','Date has duplicate value',@dcfid          
 END 
 
 --Checking: MASTERID not exist in IFRS_MASTER_ACCOUNT           
IF NOT EXISTS(SELECT DISTINCT MASTERID FROM tblT_PaymentExpectedH_TEMP WHERE DCFID = @dcfid AND UPLOADID = @uploadID AND MASTERID = @masterID)
BEGIN
 INSERT INTO TBLU_DCF_MESSAGEERROR(TEMP_ID, FIELD_NAME, ERROR_MSG, DCFID)            
 SELECT ROW_NUMBER, 'MASTERID', 'MASTERID does not match with the data selected', @dcfid            
 FROM tblT_PaymentExpectedH_TEMP            
 WHERE DCFID = @dcfid          
  AND UPLOADID = @uploadID  
END       
          
 -- Return Total Violates          
 SELECT COUNT (*) as countInvalid             
 FROM tblU_DCF_MessageError e           
  LEFT JOIN tblU_DCF_Detail d ON e.DCFID = d.DCFID            
   AND TEMP_ID = ROW_NUMBER          
 WHERE e.DCFID = @dcfid   
 
 
              
 --IF @@ERROR <> 0                              
 -- ROLLBACK TRAN          
 --ELSE          
 -- COMMIT TRAN         

GO
