USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PENDING_ECL_MODEL_D_PF]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_PENDING_ECL_MODEL_D_PF]    
(    
 @ECL_MODEL_ID BIGINT,    
 @PF_SEGMENT_ID BIGINT,    
 --@LT_RULE_ID BIGINT,    
 @SICR_RULE_ID BIGINT,  
 @BUCKET_GROUP VARCHAR(30),
 @DEFAULT_RULE_ID BIGINT,    
 --@UPSIDE_VALUE FLOAT,    
 --@BASE_VALUE FLOAT,    
 --@DOWNSIDE_VALUE FLOAT,    
 --@UPSIDE_PROB_OUTCOME FLOAT,    
 --@BASE_PROB_OUTCOME FLOAT,    
 --@DOWNSIDE_PROB_OUTCOME FLOAT,    
 --@OVERLAY_AMOUNT FLOAT,    
 @CREATEDBY  VARCHAR(36),    
 @CREATEDHOST VARCHAR(36)    
 )    
AS    
BEGIN    
    
 INSERT IFRS_ECL_MODEL_DETAIL_PF_PEND(    
  [ECL_MODEL_ID],    
  [SEGMENTATION_ID],    
  --[LT_RULE_ID],    
  [SICR_RULE_ID],    
  --[UPSIDE_VALUE],    
  --[BASE_VALUE],    
  --[DOWNSIDE_VALUE],    
  --[UPSIDE_PROB_OUTCOME],    
  --[BASE_PROB_OUTCOME],    
  --[DOWNSIDE_PROB_OUTCOME],    
  --[OVERLAY_AMOUNT],    
  [CREATEDBY],    
  [CREATEDDATE],    
  [CREATEDHOST],  
  [BUCKET_GROUP],
  [DEFAULT_RULE_ID])    
 VALUES(    
  @ECL_MODEL_ID,    
  @PF_SEGMENT_ID,    
  --@LT_RULE_ID,    
  @SICR_RULE_ID,    
  --@UPSIDE_VALUE,    
  --@BASE_VALUE,    
  --@DOWNSIDE_VALUE,    
  --@UPSIDE_PROB_OUTCOME,    
  --@BASE_PROB_OUTCOME,    
  --@DOWNSIDE_PROB_OUTCOME,    
  --@OVERLAY_AMOUNT,    
  @CREATEDBY,    
  GETDATE(),    
  @CREATEDHOST,  
  @BUCKET_GROUP,
  @DEFAULT_RULE_ID)    
    
END; 
GO
