USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRODUCTTYPEGROUP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPPRODUCTTYPEGROUP]  
(  
@PRD_GROUP VARCHAR(30)=''
)  
as      
-- proc untuk get list lookup table destination list      
begin      

	SELECT DISTINCT VALUE1 AS [PRD_TYPE], DESCRIPTION AS [Product Type]
	FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE='B100'
	AND PARENTCOMMONCODEVALUE like @PRD_GROUP 

end

GO
