USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_FL_ME_DERIVED]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_FL_ME_DERIVED] @DOWNLOAD_DATE DATE = NULL, @MODEL_ID INT = 35 
AS
BEGIN 
DECLARE @V_CURRDATE DATE 

IF @DOWNLOAD_DATE = NULL 
SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE
ELSE 
SET @V_CURRDATE = @DOWNLOAD_DATE


DELETE  [IFRS_ME_COMPLETE_DERIVED] WHERE MODEL_ID = @MODEL_ID

IF OBJECT_ID ('TEMPDB.DBO.#MASTER_ME') IS NOT NULL DROP TABLE  #MASTER_ME
SELECT * INTO #MASTER_ME FROM IFRS_ME_COMPLETE WHERE MODEL_ID = @MODEL_ID 


---------------------- INSERT NORMAL NON DERIVED DATA ------------------
INSERT INTO  [IFRS_ME_COMPLETE_DERIVED] (
 SCALAR_ID
, MODEL_ID
, SCENARIO_NO
, SCENARIO_NAME
, ME_CODE
, DERIVED_TYPE
, ME_PERIOD
, ME_VAL
, CREATEDBY
,CREATEDDATE
,ME_CODE_ORIG
,FORECAST_FLAG
,ME_TIME_SERIES)
SELECT 
 SCALAR_ID
, MODEL_ID
, SCENARIO_NO
, SCENARIO_NAME
, ME_CODE
, 'Original' AS DERIVED_TYPE
, ME_PERIOD
, ME_VAL
, 'SYSTEM' AS CREATEDBY
, GETDATE () AS CREATEDDATE
,ME_CODE_ORIG
,FORECAST_FLAG
,ME_TIME_SERIES
FROM #MASTER_ME 

---------------------- INSERT NORMAL NON DERIVED DATA ------------------


---------------------- INSERT  LOG (LN)  ------------------

INSERT INTO  [IFRS_ME_COMPLETE_DERIVED] (
 SCALAR_ID
, MODEL_ID
, SCENARIO_NO
, SCENARIO_NAME
, ME_CODE
, DERIVED_TYPE
, ME_PERIOD
, ME_VAL
, CREATEDBY
,CREATEDDATE
,ME_CODE_ORIG
,FORECAST_FLAG
,ME_TIME_SERIES)
SELECT 
 SCALAR_ID
, MODEL_ID
, SCENARIO_NO
, SCENARIO_NAME
, ME_CODE+'_LN'
, 'Log' AS DERIVED_TYPE
, ME_PERIOD
, LOG(ME_VAL)  as ME_VAL
, 'SYSTEM' AS CREATEDBY
, GETDATE () AS CREATEDDATE
,ME_CODE_ORIG
,FORECAST_FLAG
,ME_TIME_SERIES
FROM #MASTER_ME
WHERE ME_CODE NOT IN (SELECT DISTINCT ME_CODE FROM IFRS_ME_COMPLETE WHERE MODEL_ID = @MODEL_ID AND ME_VAL <= 0)
---------------------- INSERTLOG (LN)  ------------------


---------------------- INSERT Year on Year Change (C) ------------------

INSERT INTO  [IFRS_ME_COMPLETE_DERIVED] (
 SCALAR_ID
, MODEL_ID
, SCENARIO_NO
, SCENARIO_NAME
, ME_CODE
, DERIVED_TYPE
, ME_PERIOD
, ME_VAL
, CREATEDBY
,CREATEDDATE
,ME_CODE_ORIG
,FORECAST_FLAG
,ME_TIME_SERIES)
SELECT 
 A.SCALAR_ID
, A.MODEL_ID
, A.SCENARIO_NO
, A.SCENARIO_NAME
, A.ME_CODE+'_C'
, 'YOYChange' AS DERIVED_TYPE
, A.ME_PERIOD
, CASE WHEN ISNULL(B.ME_VAL,0) =0  THEN 0 ELSE (A.ME_VAL/B.ME_VAL) - 1 END  as ME_VAL
, 'SYSTEM' AS CREATEDBY
, GETDATE () AS CREATEDDATE
,A.ME_CODE_ORIG
,A.FORECAST_FLAG
,A.ME_TIME_SERIES
FROM IFRS_ME_COMPLETE A
INNER JOIN #MASTER_ME B ON A.MODEL_ID = B.MODEL_ID AND A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = EOMONTH(DATEADD(YEAR,1,B.ME_PERIOD)) AND A.SCENARIO_NO = B.SCENARIO_NO
WHERE A.MODEL_ID = @MODEL_ID
---------------------- INSERT Year on Year Change (C) ------------------

---------------------- INSERT Year on Year different (diff6) ------------------
INSERT INTO  [IFRS_ME_COMPLETE_DERIVED] (
 SCALAR_ID
, MODEL_ID
, SCENARIO_NO
, SCENARIO_NAME
, ME_CODE
, DERIVED_TYPE
, ME_PERIOD
, ME_VAL
, CREATEDBY
,CREATEDDATE
,ME_CODE_ORIG
,FORECAST_FLAG
,ME_TIME_SERIES)
SELECT 
 A.SCALAR_ID
, A.MODEL_ID
, A.SCENARIO_NO
, A.SCENARIO_NAME
, A.ME_CODE+'_DIFF6'
, 'YOYDiff' AS DERIVED_TYPE
, A.ME_PERIOD
, ISNULL(A.ME_VAL,0) - ISNULL(B.ME_VAL,0)  as ME_VAL
, 'SYSTEM' AS CREATEDBY
, GETDATE () AS CREATEDDATE
,A.ME_CODE_ORIG
,A.FORECAST_FLAG
,A.ME_TIME_SERIES
FROM IFRS_ME_COMPLETE A
inner JOIN #MASTER_ME B ON A.MODEL_ID = B.MODEL_ID AND A.ME_CODE = B.ME_CODE AND A.ME_PERIOD = EOMONTH(DATEADD(YEAR,1,B.ME_PERIOD)) AND A.SCENARIO_NO = B.SCENARIO_NO
WHERE A.MODEL_ID = @MODEL_ID
---------------------- INSERT Year on Year different (diff6) ------------------


--- FOR QUARTERLY LAG APPLY TO ALL DERIVED COLUMN ------
IF OBJECT_ID ('TEMPDB.DBO.#MASTER_DERIVED1') IS NOT NULL DROP TABLE #MASTER_DERIVED1
SELECT * INTO #MASTER_DERIVED1  FROM  [IFRS_ME_COMPLETE_DERIVED] WHERE MODEL_ID = @MODEL_ID


---------------------- INSERT QUERTERLY LAG1  ------------------
INSERT INTO  [IFRS_ME_COMPLETE_DERIVED] (
 SCALAR_ID
, MODEL_ID
, SCENARIO_NO
, SCENARIO_NAME
, ME_CODE
, DERIVED_TYPE
, ME_PERIOD
, ME_VAL
, CREATEDBY
,CREATEDDATE
,ME_CODE_ORIG
,FORECAST_FLAG
,ME_TIME_SERIES)
SELECT 
 A.SCALAR_ID
, A.MODEL_ID
, A.SCENARIO_NO
, A.SCENARIO_NAME
, A.ME_CODE+'_LG1'
, CASE WHEN A.DERIVED_TYPE = 'Original' then 'Lag1' else  A.DERIVED_TYPE+'_Lag1' end AS DERIVED_TYPE
, CASE WHEN ISNULL(A.ME_TIME_SERIES,'MONTHLY') = 'MONTHLY' THEN EOMONTH(DATEADD(MONTH,3,A.ME_PERIOD)) ELSE   EOMONTH(DATEADD(YEAR,1,A.ME_PERIOD)) END 
, A.ME_VAL  
, 'SYSTEM' AS CREATEDBY
, GETDATE () AS CREATEDDATE
,A.ME_CODE_ORIG
,A.FORECAST_FLAG
,A.ME_TIME_SERIES
FROM #MASTER_DERIVED1 A

---------------------- INSERT QUERTERLY LAG1  ------------------

---------------------- INSERT QUERTERLY LAG2  ------------------
INSERT INTO  [IFRS_ME_COMPLETE_DERIVED] (
 SCALAR_ID
, MODEL_ID
, SCENARIO_NO
, SCENARIO_NAME
, ME_CODE
, DERIVED_TYPE
, ME_PERIOD
, ME_VAL
, CREATEDBY
,CREATEDDATE
,ME_CODE_ORIG
,FORECAST_FLAG
,ME_TIME_SERIES)
SELECT 
 A.SCALAR_ID
, A.MODEL_ID
, A.SCENARIO_NO
, A.SCENARIO_NAME
, A.ME_CODE+'_LG2'
, CASE WHEN A.DERIVED_TYPE = 'Original' then 'Lag2' else  A.DERIVED_TYPE+'_Lag2' end AS DERIVED_TYPE
, CASE WHEN ISNULL(A.ME_TIME_SERIES,'MONTHLY') = 'MONTHLY' THEN EOMONTH(DATEADD(MONTH,6,A.ME_PERIOD)) ELSE   EOMONTH(DATEADD(YEAR,2,A.ME_PERIOD)) END 
, A.ME_VAL  as ME_VAL
, 'SYSTEM' AS CREATEDBY
, GETDATE () AS CREATEDDATE
,A.ME_CODE_ORIG
,A.FORECAST_FLAG
,A.ME_TIME_SERIES
FROM #MASTER_DERIVED1 A

---------------------- INSERT QUERTERLY LAG2  ------------------


---------------------- INSERT QUERTERLY LAG3  ------------------
INSERT INTO  [IFRS_ME_COMPLETE_DERIVED] (
 SCALAR_ID
, MODEL_ID
, SCENARIO_NO
, SCENARIO_NAME
, ME_CODE
, DERIVED_TYPE
, ME_PERIOD
, ME_VAL
, CREATEDBY
,CREATEDDATE
,ME_CODE_ORIG
,FORECAST_FLAG
,ME_TIME_SERIES)
SELECT 
 A.SCALAR_ID
, A.MODEL_ID
, A.SCENARIO_NO
, A.SCENARIO_NAME
, A.ME_CODE+'_LG3'
, CASE WHEN A.DERIVED_TYPE = 'Original' then 'Lag3' else  A.DERIVED_TYPE+'_Lag3' end AS DERIVED_TYPE
, CASE WHEN ISNULL(A.ME_TIME_SERIES,'MONTHLY') = 'MONTHLY' THEN EOMONTH(DATEADD(MONTH,9,A.ME_PERIOD)) ELSE   EOMONTH(DATEADD(YEAR,3,A.ME_PERIOD)) END 
, A.ME_VAL  as ME_VAL
, 'SYSTEM' AS CREATEDBY
, GETDATE () AS CREATEDDATE
,A.ME_CODE_ORIG
,A.FORECAST_FLAG
,A.ME_TIME_SERIES
FROM #MASTER_DERIVED1 A

---------------------- INSERT QUERTERLY LAG3  ------------------


---------------------- INSERT QUERTERLY LAG4  ------------------
INSERT INTO  [IFRS_ME_COMPLETE_DERIVED] (
 SCALAR_ID
, MODEL_ID
, SCENARIO_NO
, SCENARIO_NAME
, ME_CODE
, DERIVED_TYPE
, ME_PERIOD
, ME_VAL
, CREATEDBY
,CREATEDDATE
,ME_CODE_ORIG
,FORECAST_FLAG
,ME_TIME_SERIES)
SELECT 
 A.SCALAR_ID
, A.MODEL_ID
, A.SCENARIO_NO
, A.SCENARIO_NAME
, A.ME_CODE+'_LG4'
, CASE WHEN A.DERIVED_TYPE = 'Original' then 'Lag4' else  A.DERIVED_TYPE+'_Lag4' end AS DERIVED_TYPE
, CASE WHEN ISNULL(A.ME_TIME_SERIES,'MONTHLY') = 'MONTHLY' THEN EOMONTH(DATEADD(MONTH,12,A.ME_PERIOD)) ELSE   EOMONTH(DATEADD(YEAR,4,A.ME_PERIOD)) END 
, A.ME_VAL  as ME_VAL
, 'SYSTEM' AS CREATEDBY
, GETDATE () AS CREATEDDATE
,A.ME_CODE_ORIG
,A.FORECAST_FLAG
,A.ME_TIME_SERIES
FROM #MASTER_DERIVED1 A

---------------------- INSERT QUERTERLY LAG4  ------------------

END 

GO
