USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPROVALDLISTGROUP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_APPROVALDLISTGROUP]      
(  
 @headerid bigint  
)      
as      
BEGIN      
 SELECT      
  RowSequence,HeaderID       
 FROM tblT_ApprovalDetail D      
 INNER JOIN tblt_ApprovalHeader H ON D.HeaderID = H.PKID      
 WHERE MasterID = @headerid OR H.PKID=@headerid      
 GROUP BY RowSequence,HeaderID;      
END;  






GO
