USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PSAKGLGROUPPARAM]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_PSAKGLGROUPPARAM]                          
(                       
	 @GL_GROUP varchar(100) = '',
	 @JOURNAL_TYPE varchar(50) = '',
	 @ACOD_DB varchar(7) = '',
	 @ACOD_CR varchar(7) = '',
	 @CreatedBy varchar(36) = '',               
	 @CreatedHost varchar(30) = ''                     
)            
AS  
BEGIN       
            
	INSERT INTO [dbo].[IFRS_GLGROUP_PSAK_PARAM]            
	(         
		  [GL_GROUP]            
		, [JOURNAL_TYPE]
		, [ACOD_DB]
		, [ACOD_CR]
		, [CreatedBy]            
		, [CreatedDate]              
		, [CreatedHost]                 
	)                          
	VALUES                          
	(            
		 @GL_GROUP
		,@JOURNAL_TYPE
		,@ACOD_DB
		,@ACOD_CR
		,@CreatedBy              
		,GETDATE()              
		,@CreatedHost              
	)  
  
END;

GO
