USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_EXCEPTION_REPORT]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_EXCEPTION_REPORT]           
@DOWNLOAD_DATE DATE = NULL,          
@FLAG CHAR(1) = 'A' -- A: AMORT / I: IMPAIR          
AS          
DECLARE @V_CURRDATE DATE, @V_PREVDATE DATE   
BEGIN          
    IF @DOWNLOAD_DATE IS NULL          
    BEGIN          
        IF @FLAG = 'A'          
        BEGIN          
            SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE_AMORT          
        END          
        ELSE          
        BEGIN          
            SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE          
        END          
    END          
    ELSE          
    BEGIN          
        SET @V_CURRDATE = @DOWNLOAD_DATE          
    END          
    SET @V_PREVDATE = DATEADD(DD, -1, @V_CURRDATE)          
  
    DELETE  IFRS_EXCEPTION_ACCOUNT   
    WHERE   DOWNLOAD_DATE = @V_CURRDATE AND FLAG = @FLAG          

    IF @FLAG = 'A'          
    BEGIN
        -- product parameter not defined yet      
		DELETE A   
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'IMA_PRODUCT'   
		JOIN IFRS_PRODUCT_PARAM D (NOLOCK) ON A.VALUE = D.PRD_CODE  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT
        (
          DOWNLOAD_DATE,
          DATA_SOURCE,             
          EXCEPTION_ID, 
          TABLE_NAME,  
          FIELD_NAME,   
          VALUE,          
          FLAG   
        )   
        SELECT DISTINCT            
            A.DOWNLOAD_DATE,
            A.DATA_SOURCE, 
            ISNULL(C.PKID,0),
            'IFRS_MASTER_PRODUCT_PARAM',
            'PRD_CODE',
            A.PRODUCT_CODE,          
            @FLAG          
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'IMA_PRODUCT'
        LEFT JOIN IFRS_PRODUCT_PARAM D (NOLOCK) ON A.DATA_SOURCE = D.DATA_SOURCE
        AND A.PRODUCT_TYPE = D.PRD_TYPE AND A.PRODUCT_CODE = D.PRD_CODE
        AND (A.CURRENCY = D.CCY  OR D.CCY = 'ALL')            
        WHERE D.PRD_CODE IS NULL            
        AND A.PRODUCT_CODE NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'IMA_PRODUCT')            
        AND A.DOWNLOAD_DATE = @V_CURRDATE            
            
        -- transaction parameter not defined yet    
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_TRANSACTION_PARAM B (NOLOCK) ON A.VALUE = B.TRX_CODE            
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_TRX01'  
    
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
          DOWNLOAD_DATE,
          DATA_SOURCE,
          EXCEPTION_ID,  
          TABLE_NAME,   
          FIELD_NAME,   
          VALUE,          
          FLAG   
        )
        SELECT DISTINCT           
            X.DOWNLOAD_DATE,
            X.DATA_SOURCE,
            ISNULL(C.PKID,0),
            'IFRS_TRANSACTION_PARAM',
            'TRX_CODE', 
            X.TRX_CODE,          
            @FLAG  
        FROM IFRS_TRANSACTION_DAILY X (NOLOCK)   
        LEFT JOIN IFRS_TRANSACTION_PARAM B (NOLOCK) ON (x.DATA_SOURCE = B.DATA_SOURCE OR ISNULL(B.DATA_SOURCE, 'ALL') = 'ALL') 
        AND (X.PRD_CODE = B.PRD_CODE  OR ISNULL(B.PRD_CODE, 'ALL') = 'ALL')
        AND x.TRX_CODE = b.TRX_CODE
        AND (x.CCY = b.CCY  OR B.CCY = 'ALL')
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_TRX01'
        WHERE X.DOWNLOAD_DATE = @V_CURRDATE            
        AND X.TRX_CODE NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON       X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_TRX01')            
        AND B.TRX_CODE IS NULL
        GROUP BY X.DOWNLOAD_DATE, ISNULL(C.PKID,0), X.TRX_CODE, X.DATA_SOURCE  
        
        -- JOURNAL parameter not defined yet EIR ACCRU DEBIT FEE  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'D' AND B.JOURNALCODE = 'ACCRU' 
        AND B.FLAG_CF = 'F'
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_DB_FEE'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (     
         DOWNLOAD_DATE,
         DATA_SOURCE,  
         EXCEPTION_ID,
         TABLE_NAME,   
         FIELD_NAME,   
		 VALUE,          
         FLAG   
        )   
        SELECT DISTINCT            
          A.DOWNLOAD_DATE,
          A.DATA_SOURCE,
          ISNULL(C.PKID,0),             
		  'IFRS_JOURNAL_PARAM',   
          'GL_CONSTNAME',   
          A.GL_CONSTNAME,          
          @FLAG  
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_DB_FEE'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE = 'ACCRU' 
        AND D.FLAG_CF = 'F' 
        WHERE A.AMORT_TYPE = 'EIR'             
        AND D.GL_CONSTNAME IS NULL             
        AND A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON
		X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_DB_FEE')            
        AND A.DOWNLOAD_DATE = @V_CURRDATE
   
        -- JOURNAL parameter not defined yet EIR ACCRU CREDIT FEE     
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'C' AND B.JOURNALCODE = 'ACCRU'   
        AND B.FLAG_CF = 'F'
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_CR_FEE'  
 
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
          DOWNLOAD_DATE,
          DATA_SOURCE,   
          EXCEPTION_ID,
          TABLE_NAME,  
          FIELD_NAME,   
          VALUE,          
          FLAG
        )   
         SELECT DISTINCT             
          A.DOWNLOAD_DATE,
          A.DATA_SOURCE,
          COALESCE(C.PKID,0),             
          'IFRS_JOURNAL_PARAM',   
          'GL_CONSTNAME',   
          A.GL_CONSTNAME,          
          @FLAG  
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_CR_FEE'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE = 'ACCRU'   
        AND D.FLAG_CF = 'F'
		WHERE             
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_CR_FEE')            
        AND A.AMORT_TYPE = 'EIR'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE

        -- JOURNAL parameter not defined yet EIR ACCRU DEBIT COST  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'D' AND B.JOURNALCODE = 'ACCRU'   
        AND B.FLAG_CF = 'C'
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_DB_COST'  
    
		INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
          DOWNLOAD_DATE,
          DATA_SOURCE,   
          EXCEPTION_ID,
          TABLE_NAME,   
          FIELD_NAME,   
          VALUE,          
          FLAG
        )   
        SELECT DISTINCT            
          A.DOWNLOAD_DATE,
          A.DATA_SOURCE,
          ISNULL(C.PKID,0),
          'IFRS_JOURNAL_PARAM',  
          'GL_CONSTNAME',    
          A.GL_CONSTNAME,          
          @FLAG 
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_DB_COST'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE = 'ACCRU'   
        AND D.FLAG_CF = 'C'
        WHERE             
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_DB_COST')            
        AND A.AMORT_TYPE = 'EIR'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE 

        -- JOURNAL parameter not defined yet EIR ACCRU CREDIT COST   
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'C' AND B.JOURNALCODE = 'ACCRU'   
        AND B.FLAG_CF = 'C'
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_CR_COST'  
   
        INSERT INTO IFRS_EXCEPTION_ACCOUNT
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,   
         EXCEPTION_ID,  
         TABLE_NAME,   
         FIELD_NAME,   
         VALUE,          
         FLAG   
        )            
        SELECT DISTINCT            
          A.DOWNLOAD_DATE, 
          A.DATA_SOURCE,  
          ISNULL(C.PKID,0),
          'IFRS_JOURNAL_PARAM',   
          'GL_CONSTNAME',   
          A.GL_CONSTNAME,          
          @FLAG   
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_CR_COST'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE = 'ACCRU'   
        AND D.FLAG_CF = 'C'
        WHERE             
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_CR_COST')            
		AND A.AMORT_TYPE = 'EIR'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE     

        -- JOURNAL parameter not defined yet SL ACCRU DEBIT FEE   
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'D' AND B.JOURNALCODE = 'ACCRU_SL'   
        AND B.FLAG_CF = 'F'
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_DB_FEE'  
    
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,   
         EXCEPTION_ID, 
         TABLE_NAME,   
         FIELD_NAME,   
         VALUE,          
         FLAG            
        )   
        SELECT DISTINCT            
          A.DOWNLOAD_DATE,
          A.DATA_SOURCE,
          ISNULL(C.PKID,0),
          'IFRS_JOURNAL_PARAM',   
          'GL_CONSTNAME',   
          A.GL_CONSTNAME,          
          @FLAG   
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_DB_FEE'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE = 'ACCRU_SL'   
        AND D.FLAG_CF = 'F'
        WHERE
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_DB_FEE')            
        AND A.AMORT_TYPE = 'SL'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE 
         
        -- JOURNAL parameter not defined yet SL ACCRU CREDIT FEE    
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'C' AND B.JOURNALCODE = 'ACCRU_SL'   
        AND B.FLAG_CF = 'F'
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_CR_FEE'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,
         EXCEPTION_ID, 
         TABLE_NAME,   
         FIELD_NAME,   
         VALUE,          
         FLAG
        )   
        SELECT DISTINCT            
          A.DOWNLOAD_DATE,
          A.DATA_SOURCE,
          ISNULL(C.PKID,0),  
          'IFRS_JOURNAL_PARAM',   
          'GL_CONSTNAME',   
          A.GL_CONSTNAME,          
          @FLAG  
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_CR_FEE' 
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE = 'ACCRU_SL'   
        AND D.FLAG_CF = 'F'
        WHERE             
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_CR_FEE')            
        AND A.AMORT_TYPE = 'SL'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE  
   
        -- JOURNAL parameter not defined yet SL ACCRU DEBIT COST     
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'D' AND B.JOURNALCODE = 'ACCRU_SL'   
        AND B.FLAG_CF = 'C'            
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_DB_COST'  
 
        INSERT INTO IFRS_EXCEPTION_ACCOUNT
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,
         EXCEPTION_ID, 
         TABLE_NAME,   
         FIELD_NAME,   
         VALUE,          
         FLAG   
        )
        SELECT DISTINCT
          A.DOWNLOAD_DATE, 
          A.DATA_SOURCE, ISNULL(C.PKID,0),            
          'IFRS_JOURNAL_PARAM',   
          'GL_CONSTNAME',   
          A.GL_CONSTNAME,          
          @FLAG          
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_DB_COST'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE = 'ACCRU_SL'
        AND D.FLAG_CF = 'C'
        WHERE            
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_DB_COST')            
        AND A.AMORT_TYPE = 'SL'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE       
 
        -- JOURNAL parameter not defined yet SL ACCRU CREDIT COST    
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'C' AND B.JOURNALCODE = 'ACCRU_SL'   
        AND B.FLAG_CF = 'C'           
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_CR_COST'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,   
         EXCEPTION_ID,
         TABLE_NAME,   
         FIELD_NAME,   
         VALUE,          
         FLAG   
        )
        SELECT DISTINCT             
         A.DOWNLOAD_DATE,
         A.DATA_SOURCE, 
         ISNULL(C.PKID,0),
         'IFRS_JOURNAL_PARAM',   
         'GL_CONSTNAME',   
         A.GL_CONSTNAME,          
         @FLAG   
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_CR_COST'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE = 'ACCRU_SL'   
        AND D.FLAG_CF = 'C'
        WHERE             
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ACCRU_SL_CR_COST')            
        AND A.AMORT_TYPE = 'SL'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE

        -- JOURNAL parameter not defined yet SL ITCRG DEBIT FEE  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'D' AND B.JOURNALCODE LIKE 'ITRCG_SL'
        AND B.FLAG_CF = 'F'           
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_DB_FEE'  
             
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
          DOWNLOAD_DATE,
          DATA_SOURCE, 
          EXCEPTION_ID,
          TABLE_NAME,   
          FIELD_NAME,   
          VALUE,          
          FLAG   
        )
        SELECT DISTINCT            
            A.DOWNLOAD_DATE, 
            A.DATA_SOURCE,  
            ISNULL(C.PKID,0),
            'IFRS_JOURNAL_PARAM',   
            'GL_CONSTNAME',   
            A.GL_CONSTNAME,          
            @FLAG   
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK) 
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_DB_FEE' 
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE LIKE 'ITRCG_SL'
        AND D.FLAG_CF = 'F'
        WHERE            
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_DB_FEE')            
        AND A.AMORT_TYPE = 'SL'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE

        -- JOURNAL parameter not defined yet SL ITCRG CREDIT FEE        
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'C' AND B.JOURNALCODE LIKE 'ITRCG_SL'   
        AND B.FLAG_CF = 'F'
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_CR_FEE'  
             
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
            DOWNLOAD_DATE,
            DATA_SOURCE,   
            EXCEPTION_ID,
            TABLE_NAME,   
            FIELD_NAME,   
            VALUE,          
            FLAG   
        )
        SELECT DISTINCT            
         A.DOWNLOAD_DATE,
         A.DATA_SOURCE,
         ISNULL(C.PKID,0),
         'IFRS_JOURNAL_PARAM',   
         'GL_CONSTNAME',   
         A.GL_CONSTNAME,          
         @FLAG   
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_CR_FEE'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE LIKE 'ITRCG_SL'   
        AND D.FLAG_CF = 'F' 
        WHERE            
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_CR_FEE')            
        AND A.AMORT_TYPE = 'SL'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE             
   
        -- JOURNAL parameter not defined yet SL ITCRG DEBIT COST    
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'D' AND B.JOURNALCODE LIKE 'ITRCG_SL'
        AND B.FLAG_CF = 'C'       
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_DB_COST'  
     
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
         DOWNLOAD_DATE, 
         DATA_SOURCE,  
         EXCEPTION_ID,
         TABLE_NAME,   
         FIELD_NAME,   
         VALUE,          
         FLAG 
        )
        SELECT DISTINCT            
         A.DOWNLOAD_DATE,
         A.DATA_SOURCE,
         ISNULL(C.PKID,0),
         'IFRS_JOURNAL_PARAM',   
		 'GL_CONSTNAME',   
         A.GL_CONSTNAME,          
         @FLAG             
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK) 
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_DB_COST'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE LIKE 'ITRCG_SL'
        AND D.FLAG_CF = 'C'
        WHERE             
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_DB_COST')            
        AND A.AMORT_TYPE = 'SL'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE
   
        -- JOURNAL parameter not defined yet SL ITCRG CREDIT COST   
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'C' AND B.JOURNALCODE LIKE 'ITRCG_SL'
        AND B.FLAG_CF = 'C'            
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_CR_COST'  
   
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
          DOWNLOAD_DATE, 
          DATA_SOURCE,  
          EXCEPTION_ID,
          TABLE_NAME,   
          FIELD_NAME,   
          VALUE,          
          FLAG   
        )
        SELECT DISTINCT
          A.DOWNLOAD_DATE,
          A.DATA_SOURCE,
          ISNULL(C.PKID,0),
          'IFRS_JOURNAL_PARAM',   
          'GL_CONSTNAME',   
          A.GL_CONSTNAME,          
		  @FLAG  
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_CR_COST'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE LIKE 'ITRCG_SL'
        AND D.FLAG_CF = 'C'
        WHERE            
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_SL_CR_COST')            
        AND A.AMORT_TYPE = 'SL'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE             
   
        -- JOURNAL parameter not defined yet EIR ITCRG DEBIT FEE  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'D' AND B.JOURNALCODE LIKE 'ITRCG'   
        AND B.FLAG_CF = 'F'
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_DB_FEE'  
     
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
            DOWNLOAD_DATE,
            DATA_SOURCE,   
            EXCEPTION_ID,
            TABLE_NAME,   
            FIELD_NAME,   
            VALUE,          
			FLAG   
        )
        SELECT DISTINCT            
         A.DOWNLOAD_DATE, 
         A.DATA_SOURCE,  
         ISNULL(C.PKID,0),
         'IFRS_JOURNAL_PARAM',   
         'GL_CONSTNAME',   
         A.GL_CONSTNAME,          
         @FLAG  
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_DB_FEE'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE LIKE 'ITRCG'   
        AND D.FLAG_CF = 'F'
        WHERE            
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_DB_FEE')            
        AND A.AMORT_TYPE = 'EIR'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE  
   
        -- JOURNAL parameter not defined yet EIR ITCRG CREDIT FEE    
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'C' AND B.JOURNALCODE LIKE 'ITRCG'
        AND B.FLAG_CF = 'F' 
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_CR_FEE'  
 
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
            DOWNLOAD_DATE,
            DATA_SOURCE,   
            EXCEPTION_ID, 
            TABLE_NAME,   
            FIELD_NAME,   
            VALUE,          
            FLAG   
        )
        SELECT
         A.DOWNLOAD_DATE,
         A.DATA_SOURCE, 
         ISNULL(C.PKID,0), 
         'IFRS_JOURNAL_PARAM',   
         'GL_CONSTNAME',   
         A.GL_CONSTNAME,          
         @FLAG   
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_CR_FEE'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE LIKE 'ITRCG'
        AND D.FLAG_CF = 'F'
        WHERE            
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_CR_FEE')            
        AND A.AMORT_TYPE = 'EIR'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE
   
        -- JOURNAL parameter not defined yet EIR ITCRG DEBIT COST   
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'D' AND B.JOURNALCODE LIKE 'ITRCG'   
        AND B.FLAG_CF = 'C'
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_DB_COST'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
            DOWNLOAD_DATE,
            DATA_SOURCE,  
			EXCEPTION_ID,
            TABLE_NAME,   
            FIELD_NAME,   
            VALUE,          
            FLAG   
        )
        SELECT DISTINCT            
            A.DOWNLOAD_DATE, 
            A.DATA_SOURCE,  
            ISNULL(C.PKID,0),
            'IFRS_JOURNAL_PARAM',   
            'GL_CONSTNAME',   
            A.GL_CONSTNAME,          
            @FLAG   
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_DB_COST'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'D' AND D.JOURNALCODE LIKE 'ITRCG'   
        AND D.FLAG_CF = 'C'
        WHERE             
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_DB_COST')            
        AND A.AMORT_TYPE = 'EIR'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE
   
        -- JOURNAL parameter not defined yet EIR ITCRG CREDIT COST   
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A  
		JOIN IFRS_JOURNAL_PARAM B (NOLOCK) ON A.VALUE = B.GL_CONSTNAME AND B.DRCR = 'C' AND B.JOURNALCODE LIKE 'ITRCG'   
        AND B.FLAG_CF = 'C'            
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_CR_COST'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
            DOWNLOAD_DATE,
            DATA_SOURCE,
            EXCEPTION_ID,
            TABLE_NAME,   
            FIELD_NAME,   
            VALUE,          
            FLAG   
        )
        SELECT DISTINCT            
            A.DOWNLOAD_DATE,
            A.DATA_SOURCE,   
          ISNULL(C.PKID,0),
            'IFRS_JOURNAL_PARAM',   
            'GL_CONSTNAME',   
            A.GL_CONSTNAME,          
            @FLAG          
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_CR_COST'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME   
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.DRCR = 'C' AND D.JOURNALCODE LIKE 'ITRCG'   
        AND D.FLAG_CF = 'C'           
        WHERE            
        A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_ITRCG_CR_COST')            
        AND A.AMORT_TYPE = 'EIR'             
        AND D.GL_CONSTNAME IS NULL            
        AND A.DOWNLOAD_DATE = @V_CURRDATE 
 
        -- -- MasterID Hilang   
        -- INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        -- (
        --      DOWNLOAD_DATE,
        --      EXCEPTION_ID,
        --      MASTERID,
        --      ACCOUNT_NUMBER,
        --      TABLE_NAME,   
        --      FIELD_NAME,   
        --      VALUE,          
        --      FLAG   
        -- )   
        -- SELECT 
        --      @V_CURRDATE AS DOWNLOAD_DATE,
        --      coalesce(C.PKID,0),
        --      A.MASTERID,
        --      A.ACCOUNT_NUMBER,
        --      'IFRS_IMA_AMORT_CURR',   
        --      'MASTERID',   
        --      A.MASTERID,          
        --      @FLAG   
        -- FROM
        -- (
        --  SELECT *
        --  FROM IFRS_IMA_AMORT_PREV
        --  WHERE DOWNLOAD_DATE = @V_PREVDATE   
        --AND LOAN_DUE_DATE > @V_PREVDATE   
        -- ) A   
        -- LEFT JOIN
        -- (
        --  SELECT  MASTERID   
        --	FROM IFRS_IMA_AMORT_CURR   
        --	WHERE DOWNLOAD_DATE = @V_CURRDATE   
        -- ) B ON A.MASTERID = B.MASTERID   
        --   LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'IMA1'   
        --   WHERE   B.MASTERID IS NULL   
  
        -- FEE/COST NOT PROCESS  
		-- DELETE A  
		-- FROM IFRS_EXCEPTION_ACCOUNT A         
        -- JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_TRX02'  
        -- 
        -- INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        -- (
        --     DOWNLOAD_DATE,
        --     DATA_SOURCE,
		-- 	EXCEPTION_ID,
        --     TABLE_NAME,   
        --     FIELD_NAME,   
        --     VALUE,          
        --     FLAG   
        -- )   
        -- SELECT DISTINCT            
        --     X.DOWNLOAD_DATE,
        --     X.DATASOURCE,
        --     coalesce(C.PKID,0),            
        --     'IFRS_ACCT_COST_FEE',   
        --     'STATUS',
        --     X.STATUS,          
        --     @FLAG   
        -- FROM IFRS_ACCT_COST_FEE X   
        -- LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_TRX02'   
        -- WHERE X.STATUS NOT IN ('ACT','PNL','PRO')             
        -- AND X.STATUS NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_TRX02') 
        -- AND X.DOWNLOAD_DATE = @V_CURRDATE             
      
        -- AMT_IFRS9_CLASS IS null  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A         
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_IFRS9_CLASS'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,
         EXCEPTION_ID,          
         TABLE_NAME,   
         FIELD_NAME,
         VALUE,          
		 FLAG   
        )
        SELECT DISTINCT             
         DOWNLOAD_DATE,
         A.DATA_SOURCE,
         ISNULL(C.PKID,0),       
         'IFRS_MASTER_ACCOUNT',
         'IFRS9_CLASS',
         IFRS9_CLASS,          
         @FLAG          
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_IFRS9_CLASS'
        WHERE A.IFRS9_CLASS IS NULL
        AND A.MASTERID NOT IN (SELECT MASTERID FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON  X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_IFRS9_CLASS')             
        AND A.DOWNLOAD_DATE = @V_CURRDATE      
		AND A.DATA_SOURCE <> 'LIMIT'          
        GROUP BY DOWNLOAD_DATE, ISNULL(C.PKID,0), IFRS9_CLASS, A.DATA_SOURCE

        -- IMA_GL_CONSTNAME IS null  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A         
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'IMA_GL_CONSTNAME'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
         DOWNLOAD_DATE, 
         DATA_SOURCE,  
         EXCEPTION_ID,           
         TABLE_NAME,   
         FIELD_NAME,   
         VALUE,          
         FLAG 
        )
        SELECT
         A.DOWNLOAD_DATE,
         A.DATA_SOURCE,
         ISNULL(C.PKID,0),       
         'IFRS_MASTER_ACCOUNT',
         'GL_CONSTNAME',
         A.GL_CONSTNAME,          
         @FLAG             
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'IMA_GL_CONSTNAME'
        WHERE A.GL_CONSTNAME IS NULL            
        AND A.MASTERID NOT IN (SELECT MASTERID FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'IMA_GL_CONSTNAME')             
        AND A.DOWNLOAD_DATE = @V_CURRDATE             
        GROUP BY A.DOWNLOAD_DATE, ISNULL(C.PKID,0), A.GL_CONSTNAME, A.DATA_SOURCE

        -- AMT_JOURNAL_RCLS  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A         
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_RCLS'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,
         EXCEPTION_ID,          
         TABLE_NAME,   
         FIELD_NAME,
         VALUE,          
         FLAG  
        )
        SELECT
         A.DOWNLOAD_DATE,
         A.DATA_SOURCE,
         ISNULL(C.PKID,0),        
         'IFRS_JOURNAL_PARAM',
         'GL_CONSTNAME',
         A.GL_CONSTNAME,          
         @FLAG             
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_RCLS'
		LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME
          AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.JOURNALCODE = 'RCLS'
        WHERE D.GL_CONSTNAME IS NULL
        AND A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_RCLS')             
        AND A.DOWNLOAD_DATE = @V_CURRDATE            
        GROUP BY A.DOWNLOAD_DATE, ISNULL(C.PKID,0), A.GL_CONSTNAME, A.DATA_SOURCE
  
        -- AMT_JOURNAL_RCLV  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A         
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'AMT_JOURNAL_RCLV'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,
         EXCEPTION_ID,         
         TABLE_NAME,   
         FIELD_NAME,
         VALUE,          
         FLAG   
        )
        SELECT
         A.DOWNLOAD_DATE,
         A.DATA_SOURCE,
         ISNULL(C.PKID,0),  
         'IFRS_JOURNAL_PARAM',
         'GL_CONSTNAME',
         A.GL_CONSTNAME,          
         @FLAG 
        FROM IFRS_IMA_AMORT_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'AMT_JOURNAL_RCLV'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') AND D.JOURNALCODE = 'RCLV'
        WHERE D.GL_CONSTNAME IS NULL
        AND A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'AMT_JOURNAL_RCLV')            
        AND A.DOWNLOAD_DATE = @V_CURRDATE            
        GROUP BY A.DOWNLOAD_DATE, ISNULL(C.PKID,0), A.GL_CONSTNAME, A.DATA_SOURCE
    END          
    ELSE IF @FLAG = 'I'          
    BEGIN           
        -- IMPAIRMENT PART 
        -- SEGMENT Still NULL  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A         
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'SEGMENT'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,
         EXCEPTION_ID,
         MASTERID,
         TABLE_NAME,   
         FIELD_NAME,
         VALUE,          
         FLAG        
        )
        SELECT
         A.DOWNLOAD_DATE,
         A.DATA_SOURCE,
         ISNULL(C.PKID,0),
         MASTERID, 
         'IFRS_MASTER_ACCOUNT',
         'SEGMENT',
         A.SEGMENT,          
         @FLAG            
        FROM IFRS_IMA_IMP_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'SEGMENT' 
        WHERE A.SEGMENT IS NULL
        AND A.MASTERID NOT IN (SELECT MASTERID FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'SEGMENT')            
        AND A.DOWNLOAD_DATE = @V_CURRDATE 
      
        -- EIR_SEGMENT Still NULL  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A         
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'EIR_SEGMENT'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT   
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,
         EXCEPTION_ID,
         MASTERID,
         TABLE_NAME,   
         FIELD_NAME,
         VALUE,          
         FLAG        
        )
        SELECT
         A.DOWNLOAD_DATE,
         A.DATA_SOURCE,
         ISNULL(C.PKID,0),
         MASTERID, 
         'IFRS_MASTER_ACCOUNT',
         'EIR_SEGMENT',
         A.EIR_SEGMENT,          
         @FLAG      
        FROM IFRS_IMA_IMP_CURR A (NOLOCK)   
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'EIR_SEGMENT'
        WHERE A.EIR_SEGMENT IS NULL            
        AND A.MASTERID NOT IN (SELECT MASTERID FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'EIR_SEGMENT')            
        AND A.DOWNLOAD_DATE = @V_CURRDATE             
      
        -- JOURNAL Parameter not defined yet BIUW  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A         
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'IMP_JOUNAL_BIUW'  
   
        INSERT INTO IFRS_EXCEPTION_ACCOUNT
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,   
         EXCEPTION_ID,             
         TABLE_NAME,   
         FIELD_NAME,   
         VALUE,          
         FLAG        
        )
        SELECT DISTINCT
          A.DOWNLOAD_DATE, 
          A.DATA_SOURCE,  
          ISNULL(C.PKID,0),             
          'IFRS_IMP_JOURNAL_DATA',   
          'GL_CONSTNAME',   
          A.GL_CONSTNAME,          
          @FLAG        
        FROM IFRS_IMA_IMP_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'IMP_JOUNAL_BIUW'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME AND JOURNALCODE IN ('BIUW')     
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') 
        WHERE D.GL_CONSTNAME IS NULL             
        AND A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'IMP_JOUNAL_BIUW')            
        AND A.DOWNLOAD_DATE = @V_CURRDATE           
      
		-- JOURNAL Parameter not defined yet BKIP  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A         
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'IMP_JOUNAL_BKIP'  
  
        INSERT INTO IFRS_EXCEPTION_ACCOUNT
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,  
         EXCEPTION_ID,
         TABLE_NAME,   
         FIELD_NAME,   
         VALUE,          
         FLAG        
        )          
        SELECT DISTINCT
          A.DOWNLOAD_DATE, 
          A.DATA_SOURCE, 
          ISNULL(C.PKID,0),
          'IFRS_IMP_JOURNAL_DATA',   
          'GL_CONSTNAME',   
          A.GL_CONSTNAME,          
		  @FLAG        
        FROM IFRS_IMA_IMP_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'IMP_JOUNAL_BKIP'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME AND JOURNALCODE IN ('BKIP')          
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') 
        WHERE           
        D.GL_CONSTNAME IS NULL             
        AND A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'IMP_JOUNAL_BKIP')            
        AND A.DOWNLOAD_DATE = @V_CURRDATE           
      
        -- JOURNAL Parameter not defined yet BKPI  
		DELETE A  
		FROM IFRS_EXCEPTION_ACCOUNT A         
        JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON A.EXCEPTION_ID = C.PKID AND C.EXCEPTION_CODE = 'IMP_JOUNAL_BKPI'  
    
		INSERT INTO IFRS_EXCEPTION_ACCOUNT
        (
         DOWNLOAD_DATE,
         DATA_SOURCE,   
         EXCEPTION_ID,             
         TABLE_NAME,   
         FIELD_NAME,   
         VALUE,          
         FLAG        
        )
        SELECT DISTINCT
          A.DOWNLOAD_DATE, 
          A.DATA_SOURCE,  
          ISNULL(C.PKID,0),            
          'IFRS_IMP_JOURNAL_DATA',   
          'GL_CONSTNAME',   
          A.GL_CONSTNAME,          
          @FLAG        
        FROM IFRS_IMA_IMP_CURR A (NOLOCK)
        LEFT JOIN IFRS_MASTER_EXCEPTION C (NOLOCK) ON C.EXCEPTION_CODE = 'IMP_JOUNAL_BKPI'
        LEFT JOIN IFRS_JOURNAL_PARAM D (NOLOCK) ON A.GL_CONSTNAME = D.GL_CONSTNAME AND JOURNALCODE IN ('BKPI')          
        AND (A.CURRENCY = D.CCY OR D.CCY = 'ALL') 
        WHERE D.GL_CONSTNAME IS NULL           
        AND A.GL_CONSTNAME NOT IN (SELECT VALUE FROM IFRS_EXCEPTION_ACCOUNT X JOIN IFRS_MASTER_EXCEPTION Y ON X.EXCEPTION_ID = Y.PKID WHERE Y.EXCEPTION_CODE = 'IMP_JOUNAL_BKPI')            
        AND A.DOWNLOAD_DATE = @V_CURRDATE          
    END  
END
GO
