USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TMPMODELMEINDEPENDENT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_TMPMODELMEINDEPENDENT]              
(              
    @PKID BIGINT              
)        
AS              
BEGIN              
              
DECLARE @IN_SAMPLE_START DATE          
DECLARE @IN_SAMPLE_END DATE          
          
SELECT          
 @IN_SAMPLE_START = MAX(C.ME_PERIOD)          
FROM (          
 SELECT           
  MIN(B.ME_PERIOD) AS ME_PERIOD,           
  B.ME_CODE           
 FROM IFRS_MACRO_ECONOMIC B          
 WHERE B.ME_CODE IN (          
  SELECT          
   A.MACRO_ECONOMIC_CODE             
  FROM TMP_IFRS_INDEPENDENT_VARIABLE A             
  WHERE A.MODEL_ID = @PKID)          
 GROUP BY B.ME_CODE) C          
          
SELECT          
 @IN_SAMPLE_END = MIN(C.ME_PERIOD)          
FROM (          
 SELECT           
  MAX(B.ME_PERIOD) AS ME_PERIOD,           
  B.ME_CODE           
 FROM IFRS_MACRO_ECONOMIC B          
 WHERE B.ME_CODE IN (          
  SELECT          
   A.MACRO_ECONOMIC_CODE             
  FROM TMP_IFRS_INDEPENDENT_VARIABLE A             
  WHERE A.MODEL_ID = @PKID)          
 GROUP BY B.ME_CODE) C          
          
 SELECT *--, @IN_SAMPLE_START AS IN_SAMPLE_START, @IN_SAMPLE_END AS IN_SAMPLE_END              
 FROM TMP_IFRS_INDEPENDENT_VARIABLE              
 WHERE MODEL_ID = @PKID           
                     
END;
GO
