USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SETUPBMABYID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SETUPBMABYID]
(@PKID bigint=0)
AS
BEGIN
    SELECT * FROM [IFRS_AC_BM_QUEST] where PKID=@PKID
              
END

GO
