USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKSCREENGROUP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CHECKSCREENGROUP]      
(      
	@PKID BIGINT      
)      
AS      
BEGIN      
    
	DECLARE @STAT INT
	 
	SELECT @STAT = COUNT(*) FROM (SELECT * FROM TBLM_SCREENGROUPHEADER WHERE SCREENGROUPID IN (SELECT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'IND001')) X WHERE X.PKID = @PKID
	
	SELECT @STAT AS STAT

END; 
GO
