USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPROVALHISTORYHBYUSER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_APPROVALHISTORYHBYUSER](
 @userid varchar(50),                  
 --@status varchar(10),                
 @module varchar(50),
 @adm varchar(1)=0)

as                  
 --declare @userid varchar(50)
 --set @userid = '195C1AE7-541A-436C-8C80-1DD3CC8F49BD'--'020C1419-FC8A-4F65-AF36-AF7B85672095'
BEGIN
	if (@adm=1) /*for admin can view all without filter userid*/
	BEGIN
		
		select H.PKID, ModuleName = M.Description, S.Title, H.Action,
			(Case when H.Status = 'A' then 'Approved' 
				else case when H.Status='R' then 'Rejected' else 'Pending' end 
				end
				)Status,
			H.Note, 
			(select UserName from tblm_user where PKID = H.CreatedBy) CreatedBy
			, H.CreatedDate,
			(case when H.UpdatedBy is not null then (select UserName from tblm_user where PKID = H.UpdatedBy)
			else (dbo.fn_GetReportName (H.CreatedBy) )
			END ) UpdatedBy,
			H.UpdatedDate
		from tblt_approvalheader H
			join tblM_Screen S on H.ScreenID = S.ScreenID
			join tblM_Module M on S.ModuleID = M.ModuleID
		where H.MasterID = 0  
		order by H.CreatedDate desc
	END
	ELSE
	BEGIN
		select H.PKID, ModuleName = M.Description, S.Title, H.Action,
			Case when H.Status = 'A' then 'Approved' else 'Rejected' end Status,
			H.Note, 
			(select UserName from tblm_user where PKID = H.CreatedBy) CreatedBy
			, H.CreatedDate,
			(select UserName from tblm_user where PKID = H.UpdatedBy) UpdatedBy,
			H.UpdatedDate
		from tblt_approvalheader H
			join tblM_Screen S on H.ScreenID = S.ScreenID
			join tblM_Module M on S.ModuleID = M.ModuleID
		where (H.createdby = @userid or H.UpdatedBy = @userid)
			and Status in ('A','R')
			and H.MasterID = 0  
		order by H.CreatedDate desc
	END

END

GO
