USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_ECL_DETAIL_PD]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[USPI_ECL_DETAIL_PD]      
(      
 @ECL_MODEL_ID int = 0,      
 @RULE_ID int,    
 @SEGMENTATION_ID int,      
 @CreatedBy varchar(36)='',      
 @CreatedHost varchar(36)=''      
)      
as      
begin      
      
 INSERT INTO IFRS_ECL_MODEL_DETAIL_PD      
  (ECL_MODEL_ID,SEGMENTATION_ID, PD_MODEL_ID, CREATEDBY, CREATEDDATE, CREATEDHOST)      
 VALUES       
  (@ECL_MODEL_ID,@SEGMENTATION_ID, @RULE_ID, @CreatedBy, getdate(), @CreatedHost)      
       
end





GO
