USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMJFPORTION]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPD_PARAMJFPORTION]                 
(                  
	 @PKID bigint  

)
AS
BEGIN

	DELETE FROM IFRS_JF_PORTION_PARAM                
	WHERE PKID = @PKID 
 
	--exec SP_IFRS_DROPDOWNLIST              
              
END
GO
