USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_REVIEW_INDIVIDUAL_IMPAIR_APPROVE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_REVIEW_INDIVIDUAL_IMPAIR_APPROVE](                              
	@MASTERID VARCHAR(100),                
	@DCFID BIGINT,
	@APPROVEDBY VARCHAR(36),
	@APPROVEDHOST VARCHAR(30)
)
AS                
BEGIN                

DECLARE @DCFIDOLD BIGINT
DECLARE @CREATEDBY VARCHAR(36)
DECLARE @CREATEDHOST VARCHAR(30)
DECLARE @PKIDActivity bigint
DECLARE @PKIDApproval bigint

	SELECT TOP 1 @DCFIDOLD = DCFID FROM IFRS_IMP_IA_MASTER WHERE MASTERID = @MASTERID ORDER BY DCFID DESC
	SELECT TOP 1 @CREATEDBY = CREATEDBY, @CREATEDHOST = @CREATEDHOST FROM IFRS_IMP_IA_MASTER_PEND WHERE MASTERID = @MASTERID AND DCFID = @DCFID
         
	--Update IFRS_IMP_IA_MASTER from IFRS_IMP_IA_MASTER_PEND                
	UPDATE A
	SET
		MASTERID = @MASTERID,                
		DCFID = B.DCFID,                
		DOWNLOAD_DATE = B.DOWNLOAD_DATE,                
		EFFECTIVE_DATE = B.EFFECTIVE_DATE,                
		CUSTOMER_NUMBER = B.CUSTOMER_NUMBER,                
		CUSTOMER_NAME = B.CUSTOMER_NAME,                
		PRODUCT_GROUP = B.PRODUCT_GROUP,        
		PRODUCT_CODE = B.PRODUCT_CODE,                
		MATURITY_DATE = B.MATURITY_DATE,                
		CURRENCY = B.CURRENCY,                
		INTEREST_RATE = B.INTEREST_RATE,                
		EIR = B.EIR,                
		OUTSTANDING = B.OUTSTANDING,                
		PLAFOND = B.PLAFOND,                
		DAY_PAST_DUE = B.DAY_PAST_DUE,                
		BI_COLLECTABILITY = B.BI_COLLECTABILITY,                
		IMPAIRED_FLAG = B.IMPAIRED_FLAG,        
		DPD_CIF = B.DPD_CIF,        
		RESTRUCTURE_COLLECT_FLAG = B.RESTRUCTURE_COLLECT_FLAG,        
		BI_COLLECT_CIF = B.BI_COLLECT_CIF,                
		METHOD = B.METHOD,                
		REMARKS = B.REMARKS,                
		MANAGER_NAME = B.MANAGER_NAME,                
		MANAGER_TELEPHONE = B.MANAGER_TELEPHONE,                
		MANAGER_HANDPHONE = B.MANAGER_HANDPHONE,                
		REMARKS_A = B.REMARKS_A,                
		REMARKS_B = B.REMARKS_B,                
		REMARKS_C = B.REMARKS_C,                
		REMARKS_D = B.REMARKS_D,                
		REMARKS_E = B.REMARKS_E,                
		REMARKS_E1 = B.REMARKS_E1,                
		REMARKS_E2 = B.REMARKS_E2,                
		REMARKS_F = B.REMARKS_F,                
		REMARKS_F1 = B.REMARKS_F1,                
		STATUS = 'APPROVE_REVIEW',                
		BEING_EDITED = '0',                
		OVERRIDE_FLAG = B.OVERRIDE_FLAG,                
		NPV_AMOUNT = B.NPV_AMOUNT,                
		ECL_AMOUNT = B.ECL_AMOUNT,                
		UNWINDING_AMOUNT = B.UNWINDING_AMOUNT,                
		CREATEDBY = B.CREATEDBY,                
		CREATEDDATE = B.CREATEDDATE,                
		CREATEDHOST = B.CREATEDHOST,                
		UPDATEDBY = B.UPDATEDBY,                
		UPDATEDDATE = B.UPDATEDDATE,                
		UPDATEDHOST = B.UPDATEDHOST                
	FROM IFRS_IMP_IA_MASTER A    
	JOIN IFRS_IMP_IA_MASTER_PEND B     
	ON A.MASTERID = B.MASTERID AND A.EFFECTIVE_DATE = B.EFFECTIVE_DATE               
	WHERE B.DCFID = @DCFID AND B.MASTERID = @MASTERID                
                
	--Insert IFRS_IMP_IA_MASTER_HIST from IFRS_IMP_IA_MASTER                
	INSERT INTO IFRS_IMP_IA_MASTER_HIST
	(
		MASTERID,                
		DCFID,                
		DOWNLOAD_DATE,                
		EFFECTIVE_DATE,                
		CUSTOMER_NUMBER,                
		CUSTOMER_NAME,                
		PRODUCT_GROUP,        
		PRODUCT_CODE,                
		MATURITY_DATE,                
		CURRENCY,                
		INTEREST_RATE,                
		EIR,                
		OUTSTANDING,                
		PLAFOND,                
		DAY_PAST_DUE,                
		BI_COLLECTABILITY,                
		IMPAIRED_FLAG,         
		DPD_CIF,        
		RESTRUCTURE_COLLECT_FLAG,        
		BI_COLLECT_CIF,               
		METHOD,                
		REMARKS,                
		MANAGER_NAME,                
		MANAGER_TELEPHONE,                
		MANAGER_HANDPHONE,                
		REMARKS_A,                
		REMARKS_B,                
		REMARKS_C,                
		REMARKS_D,                
		REMARKS_E,                
		REMARKS_E1,                
		REMARKS_E2,                
		REMARKS_F,                
		REMARKS_F1,                
		STATUS,                
		BEING_EDITED,                
		OVERRIDE_FLAG,                
		NPV_AMOUNT,                
		ECL_AMOUNT,                
		UNWINDING_AMOUNT,                
		CREATEDBY,                
		CREATEDDATE,                
		CREATEDHOST,                
		UPDATEDBY,                
		UPDATEDDATE,                
		UPDATEDHOST
	)
	SELECT                 
		MASTERID,                
		DCFID,                
		DOWNLOAD_DATE,                
		EFFECTIVE_DATE,                
		CUSTOMER_NUMBER,                
		CUSTOMER_NAME,                
		PRODUCT_GROUP,        
		PRODUCT_CODE,                
		MATURITY_DATE,                
		CURRENCY,                
		INTEREST_RATE,                
		EIR,                
		OUTSTANDING,                
		PLAFOND,         
		DAY_PAST_DUE,                
		BI_COLLECTABILITY,                
		IMPAIRED_FLAG,          
		DPD_CIF,        
		RESTRUCTURE_COLLECT_FLAG,        
		BI_COLLECT_CIF,              
		METHOD,                
		REMARKS,                
		MANAGER_NAME,                
		MANAGER_TELEPHONE,                
		MANAGER_HANDPHONE,                
		REMARKS_A,                
		REMARKS_B,                
		REMARKS_C,                
		REMARKS_D,                
		REMARKS_E,                
		REMARKS_E1,                
		REMARKS_E2,                
		REMARKS_F,                
		REMARKS_F1,                
		STATUS,                
		BEING_EDITED,                
		OVERRIDE_FLAG,                
		NPV_AMOUNT,                
		ECL_AMOUNT,                
		UNWINDING_AMOUNT,                
		CREATEDBY,                
		CREATEDDATE,                
		CREATEDHOST,                
		UPDATEDBY,                
		UPDATEDDATE,                
		UPDATEDHOST                
	FROM IFRS_IMP_IA_MASTER WHERE MASTERID = @MASTERID AND DCFID = @DCFID                
                
	--Delete IFRS_IMP_IA_MASTER_PEND                
	DELETE FROM IFRS_IMP_IA_MASTER_PEND WHERE MASTERID = @MASTERID AND DCFID = @DCFID                          
                 
	--Delete TBLT_PAYMENTEXPECTEDH
	DELETE TBLT_PAYMENTEXPECTEDH WHERE MASTERID = @MASTERID
 
	--Insert TBLT_PAYMENTEXPECTEDH from TBLT_PAYMENTEXPECTEDH_PENDING                
	INSERT INTO TBLT_PAYMENTEXPECTEDH
	(
		DCFID,                
		UPLOADID,                    
		ROW_NUMBER,                    
		CUSTOMER_NUMBER,                    
		MASTERID,                    
		FACILITY_NUMBER,                    
		EFFECTIVE_DATE,                    
		EIR_PERCENT,                    
		PRINCIPAL,                    
		INTEREST,                    
		UNPAID_INTEREST,                    
		COLLATERAL,                    
		COLLATERAL_COST,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST
	)
	SELECT                 
		DCFID,                
		UPLOADID,                    
		ROW_NUMBER,                    
		CUSTOMER_NUMBER,                    
		MASTERID,                    
		FACILITY_NUMBER,                    
		EFFECTIVE_DATE,                    
		EIR_PERCENT,                    
		PRINCIPAL,                    
		INTEREST,                    
		UNPAID_INTEREST,                    
		COLLATERAL,                    
		COLLATERAL_COST,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST                
	FROM TBLT_PAYMENTEXPECTEDH_PENDING WHERE MASTERID = @MASTERID AND DCFID = @DCFID                
                
	--Insert TBLT_PAYMENTEXPECTEDH_HIST from TBLT_PAYMENTEXPECTEDH_PENDING                
	INSERT INTO TBLT_PAYMENTEXPECTEDH_HIST
	(
		DCFID,                
		UPLOADID,                    
		ROW_NUMBER,                    
		CUSTOMER_NUMBER,                    
		MASTERID,                    
		FACILITY_NUMBER,                    
		EFFECTIVE_DATE,                    
		EIR_PERCENT,                    
		PRINCIPAL,                    
		INTEREST,                    
		UNPAID_INTEREST,                    
		COLLATERAL,                    
		COLLATERAL_COST,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST
	)
	SELECT                 
		DCFID,                
		UPLOADID,                    
		ROW_NUMBER,                    
		CUSTOMER_NUMBER,                    
		MASTERID,                    
		FACILITY_NUMBER,                    
		EFFECTIVE_DATE,                    
		EIR_PERCENT,                    
		PRINCIPAL,                    
		INTEREST,                    
		UNPAID_INTEREST,                    
		COLLATERAL,                    
		COLLATERAL_COST,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST                
	FROM TBLT_PAYMENTEXPECTEDH_PENDING WHERE MASTERID = @MASTERID AND DCFID = @DCFID                
                
	--Delete TBLT_PAYMENTEXPECTEDH_PENDING                
	DELETE FROM TBLT_PAYMENTEXPECTEDH_PENDING WHERE MASTERID = @MASTERID AND DCFID = @DCFID
                
	--Delete TBLT_PAYMENTEXPECTED
	DELETE TBLT_PAYMENTEXPECTED WHERE MASTERID = @MASTERID
 
	--Insert TBLT_PAYMENTEXPECTED from TBLT_PAYMENTEXPECTED_PENDING                
	INSERT INTO TBLT_PAYMENTEXPECTED
	(
		DCFID,                    
		TEMPID,                    
		UPLOADID,                    
		DOWNLOADDATE,                    
		MASTERID,                    
		CUSTOMER_NUMBER,                    
		EFFECTIVE_DATE,                    
		EFFECTIVE_DATE_FD,                    
		EIR_PERCENT,                    
		PRINCIPAL_PAYMENT,                    
		NPV_MONTH,                    
		NPV,                    
		BEGINNING_BALANCE,                       
		ENDING_BALANCE,                    
		UNWINDING_AMOUNT,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST
	)
	SELECT                 
		DCFID,                    
		TEMPID,                    
		UPLOADID,                    
		DOWNLOADDATE,                    
		MASTERID,                    
		CUSTOMER_NUMBER,                    
		EFFECTIVE_DATE,                    
		EFFECTIVE_DATE_FD,                    
		EIR_PERCENT,                    
		PRINCIPAL_PAYMENT,                    
		NPV_MONTH,                    
		NPV,                    
		BEGINNING_BALANCE,                 
		ENDING_BALANCE,                    
		UNWINDING_AMOUNT,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST                
	FROM TBLT_PAYMENTEXPECTED_PENDING WHERE MASTERID = @MASTERID AND DCFID = @DCFID                
                
	--Insert TBLT_PAYMENTEXPECTED_HIST from TBLT_PAYMENTEXPECTED_PENDING                
	INSERT INTO TBLT_PAYMENTEXPECTED_HIST
	(
		DCFID,                    
		TEMPID,                    
		UPLOADID,                    
		DOWNLOADDATE,                    
		MASTERID,                    
		CUSTOMER_NUMBER,                    
		EFFECTIVE_DATE,                    
		EFFECTIVE_DATE_FD,                    
		EIR_PERCENT,                    
		PRINCIPAL_PAYMENT,                    
		NPV_MONTH,                    
		NPV,                    
		BEGINNING_BALANCE,                       
		ENDING_BALANCE,                    
		UNWINDING_AMOUNT,                    
		CREATEDBY,                
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST
	)
	SELECT                 
		DCFID,                    
		TEMPID,                    
		UPLOADID,                    
		DOWNLOADDATE,                    
		MASTERID,                    
		CUSTOMER_NUMBER,                    
		EFFECTIVE_DATE,                    
		EFFECTIVE_DATE_FD,                    
		EIR_PERCENT,                    
		PRINCIPAL_PAYMENT,                    
		NPV_MONTH,                    
		NPV,                    
		BEGINNING_BALANCE,                        
		ENDING_BALANCE,                    
		UNWINDING_AMOUNT,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST                
	FROM TBLT_PAYMENTEXPECTED_PENDING WHERE MASTERID = @MASTERID AND DCFID = @DCFID                
                
	--Delete TBLT_PAYMENTEXPECTED_PENDING                
	DELETE FROM TBLT_PAYMENTEXPECTED_PENDING WHERE MASTERID = @MASTERID AND DCFID = @DCFID
  
	--Delete IFRS_IMP_OVERRIDE_COLLATERAL
	DELETE IFRS_IMP_OVERRIDE_COLLATERAL WHERE MASTERID = @MASTERID
 
	--Insert IFRS_IMP_OVERRIDE_COLLATERAL from IFRS_IMP_OVERRIDE_COLLATERAL_PEND                
	INSERT INTO IFRS_IMP_OVERRIDE_COLLATERAL
	(
		DCFID,                    
		MASTERID,                    
		INFORMATION,                    
		COLLATERAL_TYPE,                    
		MARKET_VALUE,                    
		LIQUIDATED_VALUE,                    
		REMARKS,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST
	)
	SELECT                 
		DCFID,                    
		MASTERID,                    
		INFORMATION,                    
		COLLATERAL_TYPE,                    
		MARKET_VALUE,                    
		LIQUIDATED_VALUE,                    
		REMARKS,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST                
	FROM IFRS_IMP_OVERRIDE_COLLATERAL_PEND WHERE MASTERID = @MASTERID AND DCFID = @DCFID                
                
	--Insert IFRS_IMP_OVERRIDE_COLLATERAL_HIST from IFRS_IMP_OVERRIDE_COLLATERAL_PEND                
	INSERT INTO IFRS_IMP_OVERRIDE_COLLATERAL_HIST
	(
		DCFID,                    
		MASTERID,                    
		INFORMATION,                    
		COLLATERAL_TYPE,                    
		MARKET_VALUE,                    
		LIQUIDATED_VALUE,                    
		REMARKS,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST
	)
	SELECT                 
		DCFID,                    
		MASTERID,                    
		INFORMATION,                    
		COLLATERAL_TYPE,                    
		MARKET_VALUE,                    
		LIQUIDATED_VALUE,                    
		REMARKS,                    
		CREATEDBY,                    
		CREATEDDATE,                    
		CREATEDHOST,                    
		UPDATEDBY,                    
		UPDATEDDATE,                    
		UPDATEDHOST                
	FROM IFRS_IMP_OVERRIDE_COLLATERAL_PEND WHERE MASTERID = @MASTERID AND DCFID = @DCFID       
  
	--Delete IFRS_IMP_OVERRIDE_COLLATERAL_PEND                
	DELETE FROM IFRS_IMP_OVERRIDE_COLLATERAL_PEND WHERE MASTERID = @MASTERID AND DCFID = @DCFID
  
	TRUNCATE TABLE TBLT_PAYMENTEXPECTED_TEMP      
	TRUNCATE TABLE TBLT_PAYMENTEXPECTEDH_TEMP
	TRUNCATE TABLE IFRS_IMP_OVERRIDE_COLLATERAL_TEMP    

	--INSERT ACTIVITYLOG    
	EXEC uspI_ActivityLogs @CREATEDBY,'UPDATE_WI_APPROVAL','IND_IMP_REVIEW','IFRS9',@CREATEDHOST

	SELECT TOP 1 @PKIDActivity = PKID FROM TBLT_ACTIVITYLOGS WHERE SCREENID = 'IND_IMP_REVIEW' ORDER BY PKID DESC    
     
	EXEC USPI_AUDITTRAIL @PKIDActivity,'MASTERID',@MASTERID,@MASTERID
	EXEC USPI_AUDITTRAIL @PKIDActivity,'DCFID',@DCFIDOLD,@DCFID

	--INSERT APPROVALLOG
	EXEC USPI_APPROVALH 0,'IND_IMP_REVIEW','UPDATE','A',NULL,'','IFRS9','ID',@CREATEDBY,@CREATEDHOST
	
	SELECT TOP 1 @PKIDApproval = PKID FROM TBLT_APPROVALHEADER WHERE SCREENID = 'IND_IMP_REVIEW' ORDER BY PKID DESC    

	UPDATE TBLT_APPROVALHEADER
		SET UPDATEDDATE = GETDATE(),          
			UPDATEDHOST = @APPROVEDHOST,          
			UPDATEDBY = @APPROVEDBY          
	WHERE PKID = @PKIDApproval

	EXEC USPI_APPROVALD @PKIDApproval,NULL,'MASTERID',@MASTERID,@MASTERID,0
	EXEC USPI_APPROVALD @PKIDApproval,NULL,'DCFID',@DCFIDOLD,@DCFID,0

END

GO
