USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_AC_CORPORATECOUNT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_AC_CORPORATECOUNT]
(
    @DOWNLOAD_DATE as date = '1/1/1900',    
    @BUSINESS_UNIT as varchar(20)='',    
    @Where as VARCHAR(1000)=''
)
AS
   DECLARE @Query AS VARCHAR(3000);

BEGIN
	
SET @Query =
	'SELECT COUNT(*) FROM IFRS_MASTER_ACCOUNT A (NOLOCK)		
		LEFT JOIN IFRS_ASSET_CLASSIFICATION_CORP B (NOLOCK) ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE AND A.FACILITY_NUMBER = B.FACILITY_NUMBER
        WHERE '
        +' A.DOWNLOAD_DATE = ''' + CAST(@DOWNLOAD_DATE AS varchar(20))  +  ''''    
		+' AND A.DATA_SOURCE IN (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''B1031'' AND PARENTCOMMONCODEVALUE = ''' + @BUSINESS_UNIT  +  ''' AND ISNULL(IS_DELETE,0) = 0) '
		+ CASE WHEN @Where <> '' THEN ' WHERE ' + @Where    
			ELSE '' END       
		    
print @Query
EXEC (@Query)	
	
END

GO
