USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SETUP_SPPI]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SETUP_SPPI]
        
AS    
BEGIN    

   SELECT
		A.PKID,          
		--A.SECTIONNAME,   
		A.SECTIONID,
		"Section ID" = (select DESCRIPTION from TBLM_COMMONCODEDETAIL D where D.VALUE1 = A.SECTIONID and COMMONCODE = 'B108'),
		A.SEQUENCE "ORDER",  
		A.THRESHOLD,  
		A.[RULE],  
		A.DETERMINEID, 
		B.DESCRIPTION "ANSWER",
		QUESTION = (select count (*) from IFRS_AC_SPPI_QUESTIONS C WHERE C.SECTIONID = A.SECTIONID AND C.IS_DELETE = 0),
		A.CreatedBy,          
		A.CreatedDate,          
		A.CreatedHost,          
		A.UpdatedBy,          
		A.UpdatedDate,          
		A.UpdatedHost                    
   FROM IFRS_AC_SPPI_SECTION A join TBLM_COMMONCODEDETAIL B on a.DETERMINEID = b.PKID   
   WHERE ISNULL(A.IS_DELETE,0) = 0
   ORDER BY A.SEQUENCE
   
    
END;

GO
