USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKDATAITEMCODE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKDATAITEMCODE]    
(    
 @cekItemCode varchar(100) = '',
 @cekPKID bigint = 0    
)    
AS    
BEGIN    
DECLARE @CountItemCode AS INT
DECLARE @CountItemCodePending AS INT

	SELECT
		@CountItemCode = COUNT(ITEMCODE)
	FROM IFRS_AC_SPPI_QUESTIONS
	WHERE RTRIM(LTRIM(UPPER(ITEMCODE))) = @cekItemCode
		AND PKID <> @cekPKID
		AND IS_DELETE = 0
	
	SELECT
		@CountItemCodePending = COUNT(COALESCE(NEWVALUE,OLDVALUE))
	FROM TBLT_APPROVALDETAIL  
	WHERE HEADERID IN (SELECT
							PKID
						FROM TBLT_APPROVALHEADER
						WHERE SCREENID = 'SPPI_QUESTION_SETUP'
							AND STATUS='P')
		AND FIELDNAME = 'ITEMCODE'
		AND RTRIM(LTRIM(COALESCE(NEWVALUE,OLDVALUE))) = @cekItemCode
	
	
	SELECT @CountItemCode AS "ITEMCODE"
		,@CountItemCodePending AS "ITEMCODE_PENDING"
  
END;

GO
