USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TREASURYMODULECONTATTR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_TREASURYMODULECONTATTR]  
(  
 @DDATE_MAID VARCHAR(100) = ''  
)  
AS  
BEGIN  
  
 SELECT REPLACE(CONVERT(VARCHAR, IMA.DOWNLOAD_DATE, 106), ' ', '-') DOWNLOAD_DATE,  
  IMA.PRODUCT_ENTITY ENTITY,  
        IMA.DATA_SOURCE,  
        IMA.CUSTOMER_NAME,  
        IMA.CUSTOMER_NUMBER,  
        IMA.ACCOUNT_NUMBER,  
  IMA.ASSET_TYPE_PRODUCT1,  
  IMA.ASSET_TYPE_PRODUCT2,  
  IMA.CUSTOMER_TYPE,  
  IMA.LOW_RISK_PORTFOLIO,  
        IMA.ACCOUNT_STATUS,  
        REPLACE(CONVERT(VARCHAR, IMA.LOAN_START_DATE, 106), ' ', '-') LOAN_START_DATE,  
        REPLACE(CONVERT(VARCHAR, IMA.LOAN_DUE_DATE, 106), ' ', '-') LOAN_DUE_DATE,  
        IMA.ORIGINAL_TENOR,  
  IMA.RESIDUAL_TENOR,  
  REPLACE(CONVERT(VARCHAR, IMA.NEXT_PAYMENT_DATE, 106), ' ', '-') NEXT_PAYMENT_DATE,  
        TC.VALUE2 AS BRANCH_DESC,  
  IMA.BRANCH_CODE,  
  IMA.PRODUCT_GROUP,  
        IMA.PRODUCT_TYPE,  
        IMA.PRODUCT_CODE,  
  IMA.CURRENCY,  
        CASE WHEN IMA.INTEREST_RATE <> 0  
            THEN ISNULL(IMA.INTEREST_RATE, 0)  
            ELSE '0'  
        END INTEREST_RATE,  
        CASE WHEN IMA.OUTSTANDING <> 0  
            THEN ISNULL(IMA.OUTSTANDING, 0)  
            ELSE '0'  
        END OUTSTANDING,  
  CASE WHEN IMA.PURCHASE_AMOUNT <> 0  
   THEN ISNULL(IMA.PURCHASE_AMOUNT, 0)  
            ELSE '0'  
  END PURCHASE_AMOUNT,  
  CASE WHEN IMA.DISCOUNT_PREMIUM_AMOUNT <> 0  
   THEN ISNULL(IMA.DISCOUNT_PREMIUM_AMOUNT, 0)  
   ELSE '0'  
  END DISCOUNT_PREMIUM_AMOUNT,  
  CASE WHEN IMA.MARKET_AMOUNT <> 0  
   THEN ISNULL(IMA.MARKET_AMOUNT, 0)  
   ELSE '0'  
  END MARKET_AMOUNT,  
  IMA.ORR_INITIAL,  
        IMA.ORR_REPORTING,  
        IMA.RATING_CODE,  
  IMA.EXTERNAL_RATING_REPORTING,  
        IMA.ORIGINAL_COLLECTABILITY,  
        IMA.BI_COLLECTABILITY,  
        IMA.INITIAL_STAGE,  
        IMA.STAGE,  
        IMA.FINAL_GROUP_REPORTING  
    FROM IFRS_MASTER_ACCOUNT IMA  
        LEFT JOIN IFRS_MASTER_PRODUCT_PARAMETER PROD ON IMA.PRODUCT_CODE = PROD.PRD_CODE  
  LEFT JOIN (SELECT * FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B10')TC ON TC.VALUE1 = IMA.BRANCH_CODE  
    WHERE IMA.MASTER_ACCOUNT_ID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))  
        AND IMA.DOWNLOAD_DATE = CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10) , 111);  
  
END;  
GO
