USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_BOOTSTRAP_MODEL_RESULT]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_BOOTSTRAP_MODEL_RESULT]
(
    @PKID bigint=0,
	@MODEL_ID bigint,
	@ME_CODE VARCHAR(50),
	@RANK_SCORE smallint,
	@PERCENTILE_PERIOD_FROM float,
	@PERCENTILE_PERIOD_TO float,
	@CreatedBy VARCHAR(36),
	@CreatedHost VARCHAR(36)
)
AS
BEGIN
	SET NOCOUNT ON;

	DELETE TMP_IFRS_PD_BOOTSTRAP
	WHERE BOOTSTRAP_ID = @PKID
	AND ME_CODE = @ME_CODE
	AND RANK_SCORE = @RANK_SCORE;
    
	INSERT INTO TMP_IFRS_PD_BOOTSTRAP
	(
		BOOTSTRAP_ID,
		MODEL_ID,
		ME_CODE,
		PERCENTILE_PERIOD_FROM,
		PERCENTILE_PERIOD_TO,
		RANK_SCORE
	)
	VALUES
	(
		@PKID,
		@MODEL_ID,
		@ME_CODE,
		@PERCENTILE_PERIOD_FROM,
		@PERCENTILE_PERIOD_TO,
		@RANK_SCORE
	)
END;


GO
