USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_EXPORTFILEMONITORING]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_EXPORTFILEMONITORING]
(@CreatedBy varchar(36))        
AS
	SELECT a.*,
		s.title as Screen,   
		CreatedUser=c.UserName,
		a.ShortMessage  as FullFileName,
		(select ParameterValue from tblT_ServiceJobsDetail where ParameterName = 'PARAMETER' and HeaderID = a.PKID) ParameterValue
	FROM tblT_ServiceJobsHeader a with (nolock)   
	left join tblT_ServiceJobsDetail b with (nolock) on a.pkid=b.HeaderID and b.ParameterName = 'screen_id'
	left join tblM_Screen s with (nolock) on b.ParameterValue=s.ScreenID
	inner join dbo.tblM_user c with (nolock) on c.PKID = a.CreatedBy    
	--where a.jobname='EXPORT_FILE' and a.CreatedBy=@CreatedBy
	ORDER BY a.PKID DESC 


GO
