USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MONMARKETMODULEHCOUNT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_MONMARKETMODULEHCOUNT]
(
    @DOWNLOAD_DATE date = '1/1/1900',
    --@PRODUCT_TYPE varchar(50)='',
	@PRODUCT_CODE varchar(20)='',
	@ACCOUNT_NUMBER VARCHAR(50)='',
    @Where VARCHAR(1000)=''
)
AS
BEGIN

	DECLARE @Query AS VARCHAR(3000);
	DECLARE @DOWNLOAD_DATE_DD AS DATE;
 
	IF (CONVERT(DATE,@DOWNLOAD_DATE) ='1-JAN-2000')
	BEGIN
		select @DOWNLOAD_DATE_DD = currdate from IFRS_PRC_DATE
	END
	ELSE
	BEGIN
		SELECT @DOWNLOAD_DATE_DD = CONVERT(date,@DOWNLOAD_DATE)
	END
    
    SET @Query =
		'SELECT COUNT(*)
		FROM IFRS_MASTER_ACCOUNT
		WHERE '
		+ CASE WHEN @Where <> '' THEN
			@Where
        ELSE
			' DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE_DD, 120)  +  '''
			AND DATA_SOURCE IN (''FCUB'')'
			+ CASE WHEN @PRODUCT_CODE <> '' 
				THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_CODE)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @ACCOUNT_NUMBER <> '' 
				THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNT_NUMBER)) + '%'' '
				ELSE ''
			END			
		END;

	EXEC (@Query);
              
END;

GO
