USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BI_SEGMENTPSAK55]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_BI_SEGMENTPSAK55]                  
AS
BEGIN

	SELECT                         
		PKID,
		SEGMENT_PSAK55,
		PRODUCT_CODE
	FROM PRODUCT_SEGMENT_PSAK55
	WHERE IS_DELETE = 0
	ORDER BY SEGMENT_PSAK55

END

GO
