USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMMACROECONOMICBYMECD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PARAMMACROECONOMICBYMECD](  
@ME_CODE varchar(100) = ''  
,@PKID bigint = 0)  
AS  
BEGIN  
  
    SELECT * FROM TBLM_MACRO_ECONOMIC  
 WHERE ME_CODE = @ME_CODE  
  AND PKID <> @PKID  
      
END;  
GO
