USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKDATATRANSACTIONPARAM]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKDATATRANSACTIONPARAM]  
(  
 @cekDataInstrumentClass varchar(100) = '',  
 @cekDataSource varchar(100) = '',  
 @cekDataCode varchar(100) = '',  
 @cekDataType varchar(100) = '',  
 @cekDataTransactionCode varchar(100) = '',  
 @cekPKID bigint = 0  
)  
AS  
BEGIN  
DECLARE @COUNT INT  
DECLARE @COUNTPENDING INT  
  
 SELECT @COUNT = COUNT(*)  
 FROM IFRS_MASTER_TRANS_PARAM  
 WHERE UPPER(INST_CLS_VALUE) = UPPER(@cekDataInstrumentClass)  
 AND UPPER(DATA_SOURCE) = UPPER(@cekDataSource)  
 AND UPPER(PRD_CODE) = UPPER(@cekDataCode)  
 AND UPPER(PRD_TYPE) = UPPER(@cekDataType)  
 AND UPPER(TRX_CODE) = UPPER(@cekDataTransactionCode)  
 AND PKID <> @cekPKID
 AND IS_DELETE != 1;  
   
 SELECT @COUNTPENDING = COUNT(*) FROM  
 (SELECT HEADERID, INST_CLS_VALUE, DATA_SOURCE, PRD_CODE, PRD_TYPE, TRX_CODE  FROM  (   SELECT ISNULL(OLDVALUE,NEWVALUE) AS VALUE, FIELDNAME, HEADERID   FROM TBLT_APPROVALDETAIL    WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER   WHERE SCREENID='
PARAM_TRANSACTION' AND STATUS='P')  )d  pivot  (   max(value)   for FIELDNAME in (INST_CLS_VALUE, DATA_SOURCE, PRD_CODE, PRD_TYPE, TRX_CODE)   ) piv)A  
  WHERE INST_CLS_VALUE = @cekDataInstrumentClass  
 AND DATA_SOURCE = @cekDataSource  
 AND PRD_CODE = @cekDataCode  
 AND PRD_TYPE = @cekDataType  
 AND TRX_CODE = @cekDataTransactionCode  
    
  SELECT @COUNT AS "COUNT", @COUNTPENDING AS "COUNTPENDING"  
  
END;  
GO
