USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SIMULATE_PENDING_TO_RUN]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_SIMULATE_PENDING_TO_RUN]                      
  @PKID BIGINT,    
  @CONFIG VARCHAR(5),  
  @CreatedBy VARCHAR(100),  
  @CreatedHost VARCHAR(100)  
AS                   
BEGIN      
      
  IF(@CONFIG = 'PD')    
  BEGIN    
 UPDATE IFRS_PD_RULES_CONFIG SET RUNNING_STATUS = 'PENDING' WHERE PKID = @PKID    
  END    
  ELSE    
  IF(@CONFIG = 'LGD')    
  BEGIN    
 UPDATE IFRS_LGD_RULES_CONFIG SET RUNNING_STATUS = 'PENDING' WHERE PKID = @PKID    
  END    
  ELSE    
  IF(@CONFIG = 'CCF')    
  BEGIN    
 UPDATE IFRS_CCF_RULES_CONFIG SET RUNNING_STATUS = 'PENDING' WHERE PKID = @PKID    
  END    
       
END
GO
