USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_MOVE_MODEL_SELECTION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_MOVE_MODEL_SELECTION](      
@MODEL_ID BIGINT = 0  
,@MODEL_SEQ INT = 0  
,@CREATED_BY VARCHAR(36)=''  
,@CREATED_HOST VARCHAR(30)='')  
AS      
BEGIN      

	DELETE FROM IFRS_ME_MODEL_SCENARIO WHERE MODEL_ID = @MODEL_ID
	INSERT INTO IFRS_ME_MODEL_SCENARIO
	(
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[MODEL_FORMULA]
	)
	SELECT
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[MODEL_FORMULA]
	FROM TMP_IFRS_ME_MODEL_SCENARIO
	WHERE MODEL_ID = @MODEL_ID
	DELETE FROM TMP_IFRS_ME_MODEL_SCENARIO WHERE MODEL_ID = @MODEL_ID

	DELETE FROM IFRS_MULT_LINEAR_REGR_COEF WHERE MODEL_ID = @MODEL_ID    
	INSERT INTO IFRS_MULT_LINEAR_REGR_COEF
	(    
		MODEL_ID  
	  ,MODEL_SEQ  
	  ,COEFF_NAME  
	  ,ESTIMATE_VAL  
	  ,STD_ERROR  
	  ,T_VALUE  
	  ,PR_GT_T_VAL  
	  ,SIG_FLAG  
	  ,SIG_LEVEL
	 )    
	SELECT  
	  MODEL_ID  
	  ,MODEL_SEQ  
	  ,COEFF_NAME  
	  ,ESTIMATE_VAL  
	  ,STD_ERROR  
	  ,T_VALUE  
	  ,PR_GT_T_VAL  
	  ,SIG_FLAG  
	  ,SIG_LEVEL    
	FROM TMP_IFRS_MULT_LINEAR_REGR_COEF    
	WHERE MODEL_ID = @MODEL_ID    
	DELETE FROM TMP_IFRS_MULT_LINEAR_REGR_COEF WHERE MODEL_ID = @MODEL_ID    
		
	DELETE FROM IFRS_MULT_LINEAR_REGR_RESULT WHERE MODEL_ID = @MODEL_ID      
	INSERT INTO IFRS_MULT_LINEAR_REGR_RESULT
	(      
		MODEL_ID  
	   ,MODEL_SEQ  
	   ,RESIDUAL_STD_ERR  
	   ,DEG_OF_FREEDOM  
	   ,MULT_R_SQUARED  
	   ,ADJ_R_SQUARED  
	   ,F_STATISTIC  
	   ,P_VALUE  
	   ,RESIDUAL_MIN  
	   ,RESIDUAL_1Q   
	   ,RESIDUAL_MEDIAN  
	   ,RESIDUAL_3Q      
	   ,RESIDUAL_MAX  
	   ,DF_REGR      
	   ,DF_RESD      
	   ,DF_TOTAL  
	   ,SUM_OF_SQR_REGR      
	   ,SUM_OF_SQR_RESD      
	   ,SUM_OF_SQR_TOTAL   
	   ,MEAN_SUM_OF_SQR_REGR  
	   ,MEAN_SUM_OF_SQR_RESD  
	   ,SELECTED_FLAG  
	)      
	SELECT      
		  A.MODEL_ID  
		  ,A.MODEL_SEQ  
		  ,RESIDUAL_STD_ERR  
		  ,DEG_OF_FREEDOM  
		  ,MULT_R_SQUARED  
		  ,ADJ_R_SQUARED  
		  ,F_STATISTIC  
		  ,P_VALUE  
		  ,RESIDUAL_MIN  
		  ,RESIDUAL_1Q  
		  ,RESIDUAL_MEDIAN  
		  ,RESIDUAL_3Q  
		  ,RESIDUAL_MAX  
		  ,DF_REGR  
		  ,DF_RESD  
		  ,DF_TOTAL  
		  ,SUM_OF_SQR_REGR  
		  ,SUM_OF_SQR_RESD  
		  ,SUM_OF_SQR_TOTAL  
		  ,MEAN_SUM_OF_SQR_REGR  
		  ,MEAN_SUM_OF_SQR_RESD  
		  ,0 AS SELECTED_FLAG  
	FROM IFRS_MULT_LINEAR_REGR_RESULT_TEMP A    
	WHERE A.MODEL_ID = @MODEL_ID      
	DELETE FROM IFRS_MULT_LINEAR_REGR_RESULT_TEMP WHERE MODEL_ID = @MODEL_ID    
  
	 --UPDATE SELECTED_FLAG  
	 UPDATE IFRS_MULT_LINEAR_REGR_RESULT SET SELECTED_FLAG = 1 WHERE MODEL_ID = @MODEL_ID AND MODEL_SEQ = @MODEL_SEQ 
	 
	 DELETE FROM IFRS_LINREG_STATS WHERE MODEL_ID =  @MODEL_ID  
	INSERT INTO IFRS_LINREG_STATS  
	(  
		[MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[TEST_NAME]
		  ,[TEST_DESCR]
		  ,[STATS_VALUE]
		  ,[P_VALUE]
		  ,[NULL_HYPOTHESIS]
		  ,[ALTER_HYPOTHESIS]
		  ,[FINAL_RESULT]
	)  
	SELECT  
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[TEST_NAME]
      ,[TEST_DESCR]
      ,[STATS_VALUE]
      ,[P_VALUE]
      ,[NULL_HYPOTHESIS]
      ,[ALTER_HYPOTHESIS]
      ,[FINAL_RESULT]
	FROM TMP_IFRS_LINREG_STATS WHERE MODEL_ID = @MODEL_ID  
	DELETE FROM TMP_IFRS_LINREG_STATS WHERE MODEL_ID = @MODEL_ID   
  
	DELETE FROM IFRS_LINREG_VIF_DTL WHERE MODEL_ID = @MODEL_ID  
	INSERT INTO IFRS_LINREG_VIF_DTL
	(  
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[VARNAME]
      ,[VIFVALUE]
	)  
   SELECT  
		[MODEL_ID]
      ,[MODEL_SEQ]
      ,[VARNAME]
      ,[VIFVALUE]
	FROM TMP_IFRS_LINREG_VIF_DTL WHERE MODEL_ID = @MODEL_ID  
	DELETE FROM TMP_IFRS_LINREG_VIF_DTL WHERE MODEL_ID = @MODEL_ID  
  
	 DELETE FROM IFRS_BACKTEST_INS_ME_DTL WHERE MODEL_ID = @MODEL_ID  
	 INSERT INTO IFRS_BACKTEST_INS_ME_DTL
	 (
			[MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[COEFF_NAME]
		  ,[ESTIMATE_VAL]
		  ,[VIF_VALUE]  
	 )  
	 SELECT  
		   [MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[COEFF_NAME]
		  ,[ESTIMATE_VAL]
		  ,[VIF_VALUE]
	 FROM TMP_IFRS_BACKTEST_INS_ME_DTL WHERE MODEL_ID = @MODEL_ID  
	 DELETE FROM TMP_IFRS_BACKTEST_INS_ME_DTL WHERE MODEL_ID = @MODEL_ID  
  
	 DELETE FROM IFRS_BACKTEST_IN_SAMPLE WHERE MODEL_ID = @MODEL_ID  
	 INSERT INTO IFRS_BACKTEST_IN_SAMPLE
	 (
			[MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[AVG_FITTED_PD_LOG]
		  ,[SD_FITTED_PD_LOG]
		  ,[COR_PD_LOG]
		  ,[MIN_FITTED_PD_LOG]
		  ,[MAX_FITTED_PD_LOG]
		  ,[SUM_PDLOG_SQRDERR]
		  ,[MSE_PD_LOG]
		  ,[NORM_MSE]
		  ,[AVG_ACTUAL_PD_LOG]
		  ,[SD_ACTUAL_PD_LOG]
		  ,[MIN_ACTUAL_PD_LOG]
		  ,[MAX_ACTUAL_PD_LOG]
		  ,[AVG_FITTED_PD_RATE]
		  ,[SD_FITTED_PD_RATE]
		  ,[COR_PD_RATE]
		  ,[MIN_FITTED_PD_RATE]
		  ,[MAX_FITTED_PD_RATE]
		  ,[SUM_PDRATE_SQRDERR]
		  ,[MSE_PD_RATE]
		  ,[AVG_ACTUAL_PD_RATE]
		  ,[SD_ACTUAL_PD_RATE]
		  ,[MIN_ACTUAL_PD_RATE]
		  ,[MAX_ACTUAL_PD_RATE]
		  ,[PDLOG_MAPE]
		  ,[PDRATE_MAPE]  
	 )  
	 SELECT  
			[MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[AVG_FITTED_PD_LOG]
		  ,[SD_FITTED_PD_LOG]
		  ,[COR_PD_LOG]
		  ,[MIN_FITTED_PD_LOG]
		  ,[MAX_FITTED_PD_LOG]
		  ,[SUM_PDLOG_SQRDERR]
		  ,[MSE_PD_LOG]
		  ,[NORM_MSE]
		  ,[AVG_ACTUAL_PD_LOG]
		  ,[SD_ACTUAL_PD_LOG]
		  ,[MIN_ACTUAL_PD_LOG]
		  ,[MAX_ACTUAL_PD_LOG]
		  ,[AVG_FITTED_PD_RATE]
		  ,[SD_FITTED_PD_RATE]
		  ,[COR_PD_RATE]
		  ,[MIN_FITTED_PD_RATE]
		  ,[MAX_FITTED_PD_RATE]
		  ,[SUM_PDRATE_SQRDERR]
		  ,[MSE_PD_RATE]
		  ,[AVG_ACTUAL_PD_RATE]
		  ,[SD_ACTUAL_PD_RATE]
		  ,[MIN_ACTUAL_PD_RATE]
		  ,[MAX_ACTUAL_PD_RATE]
		  ,[PDLOG_MAPE]
		  ,[PDRATE_MAPE]
	 FROM TMP_IFRS_BACKTEST_IN_SAMPLE WHERE MODEL_ID = @MODEL_ID  
	 DELETE FROM TMP_IFRS_BACKTEST_IN_SAMPLE WHERE MODEL_ID = @MODEL_ID  
  
	 DELETE FROM IFRS_BACKTEST_INS_DTL WHERE MODEL_ID = @MODEL_ID  
	 INSERT INTO IFRS_BACKTEST_INS_DTL
	 (
			[MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[PERIOD]
		  ,[FITTED_PD_LOG]
		  ,[ACTUAL_PD_LOG]
		  ,[PDLOG_SQRD_ERR]
		  ,[FITTED_PD_RATE]
		  ,[ACTUAL_PD_RATE]
		  ,[PDRATE_SQRD_ERR]
		  ,[PDLOG_MAPE]
		  ,[PDRATE_MAPE]  
	 )  
	 SELECT  
			[MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[PERIOD]
		  ,[FITTED_PD_LOG]
		  ,[ACTUAL_PD_LOG]
		  ,[PDLOG_SQRD_ERR]
		  ,[FITTED_PD_RATE]
		  ,[ACTUAL_PD_RATE]
		  ,[PDRATE_SQRD_ERR]
		  ,[PDLOG_MAPE]
		  ,[PDRATE_MAPE] 
	 FROM TMP_IFRS_BACKTEST_INS_DTL WHERE MODEL_ID = @MODEL_ID  
	 DELETE FROM TMP_IFRS_BACKTEST_INS_DTL WHERE MODEL_ID = @MODEL_ID  
  
	 DELETE FROM IFRS_BACKTEST_OOS_ME_DTL WHERE MODEL_ID = @MODEL_ID  
	 INSERT INTO IFRS_BACKTEST_OOS_ME_DTL  
	 (  
			[MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[COEFF_NAME]
		  ,[ESTIMATE_VAL]
		  ,[VIF_VALUE]
	 )  
	 SELECT  
			[MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[COEFF_NAME]
		  ,[ESTIMATE_VAL]
		  ,[VIF_VALUE]  
	 FROM TMP_IFRS_BACKTEST_OOS_ME_DTL WHERE MODEL_ID = @MODEL_ID  
	 DELETE FROM TMP_IFRS_BACKTEST_OOS_ME_DTL WHERE MODEL_ID = @MODEL_ID  
  
	 DELETE FROM IFRS_BACKTEST_OOS_DTL WHERE MODEL_ID = @MODEL_ID  
	 INSERT INTO IFRS_BACKTEST_OOS_DTL  
	 (  
			[MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[PERIOD]
		  ,[FITTED_PD_LOG]
		  ,[ACTUAL_PD_LOG]
		  ,[PDLOG_SQRD_ERR]
		  ,[FITTED_PD_RATE]
		  ,[ACTUAL_PD_RATE]
		  ,[PDRATE_SQRD_ERR]
		  ,[PDLOG_MAPE]
		  ,[PDRATE_MAPE]  
	 )  
	 SELECT  
		  [MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[PERIOD]
		  ,[FITTED_PD_LOG]
		  ,[ACTUAL_PD_LOG]
		  ,[PDLOG_SQRD_ERR]
		  ,[FITTED_PD_RATE]
		  ,[ACTUAL_PD_RATE]
		  ,[PDRATE_SQRD_ERR]
		  ,[PDLOG_MAPE]
		  ,[PDRATE_MAPE] 
	 FROM TMP_IFRS_BACKTEST_OOS_DTL WHERE MODEL_ID = @MODEL_ID  
	 DELETE FROM TMP_IFRS_BACKTEST_OOS_DTL WHERE MODEL_ID = @MODEL_ID  
  
	 DELETE FROM IFRS_BACKTEST_OUT_SAMPLE WHERE MODEL_ID = @MODEL_ID  
	 INSERT INTO IFRS_BACKTEST_OUT_SAMPLE  
	 (  
		  [MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[SUM_PDLOG_SQRD_ERR]
		  ,[SUM_PDRATE_SQRD_ERR]
		  ,[AVG_PDLOG_SQRD_ERR]
		  ,[AVG_PDRATE_SQRD_ERR]
		  ,[AVG_PDLOG_MAPE]
		  ,[AVG_PDRATE_MAPE]
	 )  
	 SELECT  
		  [MODEL_ID]
		  ,[MODEL_SEQ]
		  ,[SUM_PDLOG_SQRD_ERR]
		  ,[SUM_PDRATE_SQRD_ERR]
		  ,[AVG_PDLOG_SQRD_ERR]
		  ,[AVG_PDRATE_SQRD_ERR]
		  ,[AVG_PDLOG_MAPE]
		  ,[AVG_PDRATE_MAPE]
	 FROM TMP_IFRS_BACKTEST_OUT_SAMPLE WHERE MODEL_ID = @MODEL_ID  
	 DELETE FROM TMP_IFRS_BACKTEST_OUT_SAMPLE WHERE MODEL_ID = @MODEL_ID   
  
END  
GO
