USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPRETENTIONFIELD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPRETENTIONFIELD]
(  
@source varchar(100)=''  
--,@catalog varchar(100)=''  
--,@schema varchar(100)=''  
)  
as
    declare @sqlchar varchar(max)
    declare @dbname varchar(50)
begin        
    drop table if exists #table
    create table #table
    (
        catalog varchar(50), 
        [schema] varchar(50), 
        tbl_name varchar(100), 
        "SPECIFY COLUMN NAME" varchar(max), 
        "COL_NAME_DATE" varchar(max)
    )
    DECLARE SEG1                            
    CURSOR FOR 
        select name from sys.databases where name not in ('master', 'tempdb', 'model', 'msdb')             
    OPEN seg1;                               
    FETCH seg1 INTO @dbname                            
    WHILE @@FETCH_STATUS = 0                            
    BEGIN               

        set @sqlchar = 'insert into #table([catalog], [schema], tbl_name, [SPECIFY COLUMN NAME], [COL_NAME_DATE])
        SELECT [table_catalog], [table_schema], [table_name], [COLUMN_NAME], [COLUMN_NAME]
        FROM "'+@dbname+'".INFORMATION_SCHEMA.COLUMNS
        WHERE TABLE_NAME='''+@source+''''
        
        --print @sqlchar
        exec (@sqlchar)

        FETCH NEXT FROM seg1 INTO @dbname   
    END                               
    CLOSE seg1;                            
    DEALLOCATE seg1;  

    select [SPECIFY COLUMN NAME], [COL_NAME_DATE] from #table
end
GO
