USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADFEECOSTMONITORING]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADFEECOSTMONITORING]
(
@Upload_From date = '01/01/2000'
,@Upload_To date = '01/01/2000'
)
AS
BEGIN

	SELECT
		A.[DATA_SOURCE]
		,A.[ACCOUNT_NUMBER]
		,A.[PRD_CODE]
		,A.[TRX_CODE]
		,A.[FACILITY_NUMBER]
		,A.[TRANSACTION_DATE]
		,A.[EFFECTIVE_DATE]
		,A.[CURRENCY]
		,A.[DEBIT_CREDIT_FLAG]
		,TRY_CONVERT(FLOAT, A.[TRANSACTION_AMOUNT]) AS TRANSACTION_AMOUNT
		,CONVERT(varchar(20),A.CREATEDDATE,113) AS CREATEDDATE
		,(select fullname from tblM_User where CAST(PKID AS varchar(50)) = A.CreatedBy) as CREATEDBY
		,CONVERT(varchar(20),A.UPDATEDDATE,113) AS UPDATEDDATE
		,(select fullname from tblM_User where CAST(PKID AS varchar(50)) = A.UpdatedBy) as UPDATEDBY
	FROM TBLU_TRANS_ASSET A
	WHERE CAST(A.CreatedDate AS DATE) between @Upload_From and @Upload_To
	order by A.TRANSACTION_DATE desc

END

GO
