USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_UDCONFIGURATION]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[USPD_UDCONFIGURATION]  
(  
 @PKID BIGINT  
)  
AS  
BEGIN  
  
 --DELETE FROM 
 UPDATE IFRS_EAD_UD_RULES_CONFIG  
 SET ACTIVE_FLAG='0'
 WHERE PKID = @PKID;  
  
END;  

GO
