USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOGTIMEOUT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOGTIMEOUT]        
(        
 @UserId varchar(36)        
 ,@Host varchar(20)        
)         
AS
	SELECT TOP 1*           
	FROM TBLT_ACTIVITYLOGS           
	WHERE USERID = @UserId        
		AND CREATEDHOST = @Host          
		AND DATEDIFF(mi, CREATEDDATE, GETDATE()) > 
			(SELECT ISNULL(CommonUsage, 20) FROM tblM_CommonCodeHeader WHERE CommonCode = 'AP012')
--kalau dia ada data dia timeout





GO
