USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_SHRINKLOG]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SHRINKLOG] @DB_NAME  VARCHAR(50) 
AS 
BEGIN

declare @rec_model VARCHAR(50)
DECLARE @QUERY varchar(2000)  = ''

SELECT  @rec_model = recovery_model_desc  
   FROM sys.databases  
      WHERE name = @DB_NAME ;  


IF @rec_model = 'FULL'
BEGIN
SET @QUERY = 'USE '+@DB_NAME + ';
backup log ' + @DB_NAME + ' to disk = ''nul'' ;
dbcc shrinkfile ('''+@DB_NAME+'_log'')'
END

IF @rec_model = 'SIMPLE'
BEGIN
SET @QUERY = 'USE '+@DB_NAME + ';
dbcc shrinkfile ('''+@DB_NAME+'_log'')'
END


--print @QUERY

exec (@QUERY)

END 


GO
