USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_PD_NFR_FLOWRATE]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_IMP_PD_NFR_FLOWRATE] @DOWNLOAD_DATE DATE =''
AS 
BEGIN
 DECLARE @V_CURRDATE   DATE                                                                      
 DECLARE @V_PREVDATE   DATE        
 DECLARE @V_PREVMONTH DATE 
 DECLARE @LAST_YEAR DATE    

  IF @DOWNLOAD_DATE <> ''      
BEGIN       
SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN      
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)      
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))     
SET @LAST_YEAR =  EOMONTH(DATEADD(MONTH,-12, @V_CURRDATE)) 
END      
ELSE       
BEGIN       
SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE) )        
FROM IFRS_PRC_DATE      
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)      
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE)) 
SET @LAST_YEAR =  EOMONTH(DATEADD(MONTH,-12, @V_CURRDATE)) 
END      

IF OBJECT_ID ('TEMPDB.DBO.#ENR_CURR') IS NOT NULL DROP TABLE #ENR_CURR
SELECT DOWNLOAD_DATE
,PD_RULE_ID
,PD_RULE_NAME
,BUCKET_GROUP
,BUCKET_ID-1 AS BUCKET_ID
,CALC_AMOUNT
,CALC_METHOD
,CREATEDBY
,CREATEDDATE  INTO #ENR_CURR FROM IFRS_PD_NFR_ENR (NOLOCK) WHERE DOWNLOAD_DATE = @V_CURRDATE AND BUCKET_ID > 1

IF OBJECT_ID ('TEMPDB.DBO.#ENR_PREV') IS NOT NULL DROP TABLE #ENR_PREV
SELECT BUCKET_ID,PD_RULE_ID,CALC_AMOUNT  INTO #ENR_PREV FROM IFRS_PD_NFR_ENR (NOLOCK) WHERE DOWNLOAD_DATE = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))  

DELETE [IFRS_PD_NFR_FLOWRATE] WHERE DOWNLOAD_DATE = @V_CURRDATE 
INSERT INTO [IFRS_PD_NFR_FLOWRATE] (DOWNLOAD_DATE
,PD_RULE_ID
,PD_RULE_NAME
,BUCKET_GROUP
,BUCKET_ID
,CALC_METHOD
,FLOW_RATE
,CREATEDBY
,CREATEDDATE)
SELECT @V_CURRDATE AS DOWNLOAD_DATE
,A.PD_RULE_ID
,A.PD_RULE_NAME
,A.BUCKET_GROUP
,A.BUCKET_ID
,A.CALC_METHOD
,CASE WHEN B.CALC_AMOUNT = 0 THEN 0 ELSE CAST (A.CALC_AMOUNT AS FLOAT)/CAST(B.CALC_AMOUNT AS FLOAT) END AS   FLOW_RATE
,'SP_IFRS_IMP_PD_NFR_FLOWRATE' AS CREATEDBY
,GETDATE() AS CREATEDDATE
FROM #ENR_CURR A 
INNER JOIN #ENR_PREV B ON A.PD_RULE_ID = B.PD_RULE_ID AND A.BUCKET_ID = B.BUCKET_ID
INNER JOIN IFRS_PD_RULES_CONFIG C ON A.PD_RULE_ID = C.PKID AND IS_DELETE = 0  
WHERE C.CUT_OFF_DATE < @V_CURRDATE

UPDATE [IFRS_PD_NFR_FLOWRATE]
SET FLOW_RATE = 1 
WHERE DOWNLOAD_DATE  = @V_CURRDATE AND FLOW_RATE >= 1 
----- INSERT FOR LAST BUCKET WITH DEFAULT 100%

DECLARE @BUCKET_GROUP VARCHAR(100)
DECLARE @PD_RULE_ID INT 

DECLARE LOOP1           
  CURSOR FOR SELECT DISTINCT PD_RULE_ID, BUCKET_GROUP FROM [IFRS_PD_NFR_FLOWRATE] WHERE DOWNLOAD_DATE = @V_CURRDATE
  OPEN LOOP1    
  FETCH LOOP1 INTO @PD_RULE_ID, @BUCKET_GROUP 
  WHILE @@FETCH_STATUS = 0     
 BEGIN    

 INSERT INTO [IFRS_PD_NFR_FLOWRATE] (DOWNLOAD_DATE
,PD_RULE_ID
,PD_RULE_NAME
,BUCKET_GROUP
,BUCKET_ID
,CALC_METHOD
,FLOW_RATE
,CREATEDBY
,CREATEDDATE)
SELECT @V_CURRDATE AS DOWNLOAD_DATE
,A.PKID AS PD_RULE_ID
,A.TM_RULE_NAME AS PD_RULE_NAME
,A.BUCKET_GROUP
,B.MAX_BUCKET_ID AS  BUCKET_ID
,A.CALC_METHOD
,1 AS FLOW_RATE
,'SP_IFRS_IMP_PD_NFR_FLOWRATE' AS CREATEDBY
,GETDATE() AS CREATEDDATE 
FROM IFRS_PD_RULES_CONFIG A 
INNER JOIN VW_IFRS_MAX_BUCKET B ON A.BUCKET_GROUP = B.BUCKET_GROUP
WHERE A.PKID = @PD_RULE_ID 

  FETCH NEXT FROM LOOP1 INTO  @PD_RULE_ID, @BUCKET_GROUP   
 END     
CLOSE LOOP1    
DEALLOCATE LOOP1 

END
GO
