USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKCUSTNUMB_OVERPENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_CEKCUSTNUMB_OVERPENDING]
as
begin

--select * from IFRS_IMP_OVERRIDE_PENDING WHERE DCFSTATUS != 'A' ;
select * from IFRS_IMP_OVERRIDE_PENDING WHERE DCFSTATUS NOT IN  ('A','R') ;

end;

GO
