USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDEHISTORY]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERRIDEHISTORY]     
(    
 @CIF VARCHAR(50) = NULL  
 --@DCFID VARCHAR(50) = NULL    
)    
AS    
BEGIN    
    
      
 SELECT C.*    
 FROM     
 (    
 SELECT B.CUSTOMER_NUMBER,     
  B.CUSTOMER_NUMBER AS "CIF",  
  B.CUSTOMER_NUMBER + '/' + CONVERT(VARCHAR,B.CREATEDDATE) + '/FNL/' + CONVERT(VARCHAR,B.PKID) NUMBER_DATE,   
  --BP.UPLOADID,  
  B.FLAG_IMPAIRMENT,    
  B.OUTSTANDING,    
  TU.FULLNAME AS CREATEDBY,  
  B.CREATEDDATE,    
  B.DCFID,    
  B.DOWNLOAD_DATE    
 FROM IFRS_IMP_OVERRIDE B  
  --JOIN TBLT_PAYMENTEXPECTED BP ON B.CUSTOMER_NUMBER = BP.CUSTOMER_NUMBER  
  --JOIN DBO.TBLU_DCF_INFO BP ON B.DCFID=BP.DCFID  
  JOIN DBO.TBLM_USER TU ON B.CREATEDBY=TU.PKID  
 WHERE B.CUSTOMER_NUMBER =@CIF    
  UNION    
 SELECT A.CUSTOMER_NUMBER,     
  A.CUSTOMER_NUMBER AS "CIF",    
  A.CUSTOMER_NUMBER + '/' + CONVERT(VARCHAR,A.CREATEDDATE) + '/HIST/' + CONVERT(VARCHAR,A.PKID) NUMBER_DATE,   
  --AP.UPLOADID,   
  A.FLAG_IMPAIRMENT,    
  A.OUTSTANDING,    
  TU2.FULLNAME AS CREATEDBY,--A.CREATEDBY,    
  A.CREATEDDATE,    
  A.DCFID,    
  A.DOWNLOAD_DATE    
 FROM IFRS_IMP_OVERRIDE_HIST A    
  --JOIN TBLT_PAYMENTEXPECTED_HIST AP ON A.CUSTOMER_NUMBER = AP.CUSTOMER_NUMBER  
  --JOIN DBO.TBLU_DCF_INFO AP ON A.DCFID=AP.DCFID  
  JOIN DBO.TBLM_USER TU2 ON A.CREATEDBY=TU2.PKID  
 WHERE A.CUSTOMER_NUMBER =@CIF  
 ) C    
 ORDER BY C.CREATEDDATE,     
  C.DCFID;  
    
END;    
  
  
  
GO
