USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LIGHT_PD_TERM_STRUCTURE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LIGHT_PD_TERM_STRUCTURE](@PKID BIGINT=0)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT EFF_DATE ,
		GROUP_REPORTING,
		TENOR,
		CUMMULATIVE_PD,
		ANNUALIZED_PD
	FROM TMP_IFRS_LIGHT_PD_TERM_STRUC
	WHERE LIGHT_PD_MODEL_ID = @PKID;
END;

GO
