USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADSPPIREVIEWPENDING]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOADSPPIREVIEWPENDING]    
 @CLASSID int =0    
AS    
BEGIN    
    
   SELECT A.SECTIONID,ITEMCODE, QUESTION, B.DESCRIPTION,C.SELECTED_VALUE,'' REMARK,SCOREYES,SCORENO,A.[RULE],A.THRESHOLD    
     ,D.VALUE1 RES,B.PKID,C.CLASSID,E.CLASSNAME,E.SPPI_RSLT,E.OVERRIDE_FLG,E.OVERRIDE_RSLT,E.OVERRIDE_REMARKS, E.PKID_OLD    
   from IFRS_AC_SPPI_SECTION A    
   JOIN IFRS_AC_SPPI_QUESTIONS B    
   ON  A.SECTIONID = B.SECTIONID    
   JOIN IFRS_AC_SPPI_DETAIL_PENDING C    
   ON  B.PKID = C.QUESTIONID    
   JOIN TBLM_COMMONCODEDETAIL D    
   ON  A.DETERMINEID = D.PKID    
   JOIN IFRS_AC_SPPI_HEADER_PENDING E    
   ON  C.CLASSID = E.PKID    
   WHERE CLASSID = @CLASSID    
   AND A.IS_DELETE = 0    
   AND B.IS_DELETE = 0    
   order by A.SECTIONID, B.PKID, ITEMCODE    
    
END 
GO
