USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_LGD_CURE_LGL_DETAIL]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_IMP_LGD_CURE_LGL_DETAIL]             
@DOWNLOAD_DATE DATE = NULL,         
@RULE_ID BIGINT = 0         
AS           
 DECLARE @V_CURRDATE DATE           
 DECLARE @V_PREVDATE DATE           
 DECLARE @V_PREVMONTH DATE           
BEGIN           
 IF(@DOWNLOAD_DATE IS NULL)           
 BEGIN           
    SELECT @V_CURRDATE = EOMONTH(CURRDATE),           
    @V_PREVDATE = DATEADD(DD, -1, EOMONTH(CURRDATE)),           
    @V_PREVMONTH = EOMONTH(DATEADD(MM, -1, CURRDATE))           
    FROM IFRS_PRC_DATE           
 END           
 ELSE           
 BEGIN           
    SET @V_CURRDATE = EOMONTH(@DOWNLOAD_DATE)           
    SELECT @V_PREVDATE = DATEADD(DD, -1, EOMONTH(@DOWNLOAD_DATE))           
    SELECT @V_PREVMONTH = EOMONTH(DATEADD(MM, -1, @DOWNLOAD_DATE))        
 END         
           
 DELETE A           
 FROM IFRS_LGD_CURE_LGL_DETAIL A (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID         
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END
 -- ADD ACTIVE FLAG
 AND B.ACTIVE_FLAG = 1         
 AND B.IS_DELETE = 0       
 -- GET CURRENT MONTH DATA           
 DROP TABLE IF EXISTS #CURRENT           
        
 SELECT           
 X.DOWNLOAD_DATE           
 ,X.LGD_RULE_ID           
 ,MAX(Y.LGD_RULE_NAME) AS LGD_RULE_NAME           
 ,X.DEFAULT_RULE_ID           
 ,X.SEGMENT           
 ,X.SUB_SEGMENT           
 ,X.GROUP_SEGMENT           
 ,X.EIR_SEGMENT           
 ,X.LGD_METHOD           
 ,X.CALC_METHOD           
 ,X.CALC_AMOUNT           
 ,MAX(CAST(X.DEFAULT_FLAG AS CHAR(1))) AS DEFAULT_FLAG           
 ,SUM(X.FAIR_VALUE_AMOUNT) AS FAIR_VALUE_AMOUNT           
 ,MAX(X.BI_COLLECTABILITY) AS BI_COLLECTABILITY           
 ,MAX(X.RATING_CODE) AS RATING_CODE           
 ,MIN(X.LOAN_START_DATE) AS LOAN_START_DATE           
 ,MAX(X.DAY_PAST_DUE) AS DAY_PAST_DUE           
 ,MAX(X.DPD_CIF) AS DPD_CIF           
 ,MAX(X.DPD_FINAL) AS DPD_FINAL           
 ,MAX(X.DPD_FINAL_CIF) AS DPD_FINAL_CIF           
 ,SUM(X.OUTSTANDING) AS OUTSTANDING          
 ,X.LGD_UNIQUE_ID           
 ,AVG(X.AVG_EIR) AS AVG_EIR        
 ,MAX(CAST(X.RESTRU_SIFAT_FLAG AS INT)) AS RESTRU_SIFAT_FLAG        
 ,MAX(CAST(X.WO_FLAG AS INT)) AS WO_FLAG        
 ,MIN(CAST(X.FP_FLAG_ORIG AS CHAR(1))) AS FP_FLAG_ORIG          
 INTO #CURRENT           
 FROM IFRS_LGD_SCENARIO_DATA X (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG Y (NOLOCK)           
 ON X.LGD_RULE_ID = Y.PKID AND X.DEFAULT_RULE_ID = Y.DEFAULT_RULE_ID           
 WHERE X.DOWNLOAD_DATE = CASE WHEN Y.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END 
 AND Y.ACTIVE_FLAG = 1  
 AND Y.IS_DELETE = 0
 GROUP BY        
 X.DOWNLOAD_DATE           
 ,X.LGD_RULE_ID          
 ,X.DEFAULT_RULE_ID           
 ,X.SEGMENT          
 ,X.SUB_SEGMENT           
 ,X.GROUP_SEGMENT           
 ,X.EIR_SEGMENT           
 ,X.LGD_METHOD           
 ,X.CALC_METHOD           
 ,X.CALC_AMOUNT        
 ,X.LGD_UNIQUE_ID        
           
 -- GET PREVIOUS MONTH DATA        
 DROP TABLE IF EXISTS #PREVIOUS           
           
 SELECT A.*, CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END REC_WO_DATE           
 INTO #PREVIOUS           
 FROM IFRS_LGD_CURE_LGL_DETAIL A (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID           
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_PREVMONTH)) ELSE @V_PREVMONTH END
 AND B.ACTIVE_FLAG = 1     
 AND B.IS_DELETE = 0
 
  CREATE NONCLUSTERED INDEX #PREVIOUS_IDX ON #PREVIOUS
(
	[DOWNLOAD_DATE] ASC,
	[LGD_RULE_ID] ASC,
	[DEFAULT_RULE_ID] ASC,
	[LGD_UNIQUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
           
 DROP TABLE IF EXISTS #WO           
           
 SELECT        
    A.DOWNLOAD_DATE AS DOWNLOAD_DATE          
    ,SUM(A.OUTSTANDING_WO) AS OUTSTANDING_WO         
    ,MIN(A.WRITEOFF_DATE) AS WRITEOFF_DATE        
    ,A.LGD_UNIQUE_ID         
    ,A.LGD_RULE_ID           
 INTO #WO         
 FROM IFRS_WO_SCENARIO_DATA A (NOLOCK)           
 JOIN #PREVIOUS B (NOLOCK)           
 ON A.DOWNLOAD_DATE = B.REC_WO_DATE AND A.LGD_UNIQUE_ID = B.LGD_UNIQUE_ID         
 AND A.LGD_RULE_ID = B.LGD_RULE_ID --20221118 FOR ISSUE DOUBLE WO          
 JOIN IFRS_LGD_RULES_CONFIG C (NOLOCK)        
 ON B.LGD_RULE_ID = C.PKID AND B.DEFAULT_RULE_ID = C.DEFAULT_RULE_ID           
 WHERE A.DOWNLOAD_DATE = CASE WHEN C.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END
 AND C.ACTIVE_FLAG = 1      
 AND C.IS_DELETE = 0
 GROUP BY A.DOWNLOAD_DATE, A.LGD_UNIQUE_ID, A.LGD_RULE_ID             
        
 DROP TABLE IF EXISTS #REC           
           
 SELECT           
    A.DOWNLOAD_DATE         
    ,A.LGD_UNIQUE_ID           
    ,SUM(A.RECOVERY_AMOUNT) AS RECOVERY_AMOUNT         
    ,A.LGD_RULE_ID           
 INTO #REC           
 FROM IFRS_RECOVERY_SCENARIO_DATA A (NOLOCK)           
 --JOIN #PREVIOUS B (NOLOCK)           
 --ON A.DOWNLOAD_DATE = B.REC_WO_DATE AND A.LGD_UNIQUE_ID = B.LGD_UNIQUE_ID          
 JOIN IFRS_LGD_RULES_CONFIG C (NOLOCK)           
 ON A.LGD_RULE_ID = C.PKID AND A.DEFAULT_RULE_ID = C.DEFAULT_RULE_ID           
 WHERE A.DOWNLOAD_DATE = CASE WHEN C.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END
 AND C.ACTIVE_FLAG = 1
 AND C.IS_DELETE = 0
 GROUP BY A.DOWNLOAD_DATE, A.LGD_UNIQUE_ID, A.LGD_RULE_ID          
           
 SELECT * INTO #CURE_LGL FROM IFRS_LGD_CURE_LGL_DETAIL (NOLOCK) WHERE 1 = 2        
          
 -- GET DATA FROM PREV MONTH JOIN WITH CURRENT MONTH           
 INSERT INTO #CURE_LGL           
 (           
  DOWNLOAD_DATE           
  ,LGD_RULE_ID           
  ,LGD_RULE_NAME           
  ,DEFAULT_RULE_ID           
  ,LGD_UNIQUE_ID        
  ,SEGMENT           
  ,SUB_SEGMENT             
  ,GROUP_SEGMENT           
  ,EIR_SEGMENT           
  ,CALC_METHOD        
  ,LOAN_START_DATE           
  ,WO_DATE           
  ,LAST_SNAPSHOT_DATE           
  ,LAST_DPD           
  ,DEFAULT_FLAG           
  ,DEFAULT_DATE           
  ,DEFAULT_MOVEMENT           
  ,OS_AT_DEFAULT         
  ,OS_LAST_DEFAULT           
  ,LAST_OS           
  ,AVG_EIR           
  ,WO_AMOUNT             
  ,RECOVERY_WO_MTD         
  ,RECOVERY_WO           
  ,DISC_RECOVERY_WO_MTD           
  ,DISC_RECOVERY_WO           
  ,RESTRU_SIFAT_FLAG         
  ,CURE_FLAG         
  ,LIQUIDATED_FLAG          
  ,LAST_DEFAULT_DATE          
  ,LAST_CURE_DATE        
  ,WO_FLAG            
  ,FP_FLAG_ORIG          
 )           
 SELECT           
  CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END AS DOWNLOAD_DATE        
  ,PREV.LGD_RULE_ID           
  ,MAX(B.LGD_RULE_NAME) AS LGD_RULE_NAME          
  ,PREV.DEFAULT_RULE_ID           
  ,PREV.LGD_UNIQUE_ID           
  ,PREV.SEGMENT           
  ,PREV.SUB_SEGMENT           
  ,PREV.GROUP_SEGMENT           
  ,PREV.EIR_SEGMENT           
  ,PREV.CALC_METHOD         
  ,MIN(PREV.LOAN_START_DATE) AS LOAN_START_DATE           
  ,CASE        
    WHEN WO.WRITEOFF_DATE IS NOT NULL THEN WO.WRITEOFF_DATE        
    ELSE PREV.WO_DATE           
  END AS WO_DATE             
  ,CASE           
    WHEN CURR.DOWNLOAD_DATE IS NOT NULL AND RIGHT(PREV.DEFAULT_MOVEMENT, 1) <> '2' THEN         
  CASE        
  WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE))        
  ELSE @V_CURRDATE        
  END           
    ELSE PREV.LAST_SNAPSHOT_DATE           
   END AS LAST_SNAPSHOT_DATE           
  ,CASE        
    WHEN CURR.LGD_UNIQUE_ID IS NULL THEN PREV.LAST_DPD        
    ELSE        
  CASE CURR.CALC_METHOD          
  WHEN 'ACCOUNT' THEN CURR.DAY_PAST_DUE        
  WHEN 'CUSTOMER' THEN CURR.DPD_CIF        
  END        
   END AS LAST_DPD           
  ,CASE             
    WHEN CURR.DOWNLOAD_DATE IS NULL OR PREV.WO_DATE IS NOT NULL THEN CAST(PREV.DEFAULT_FLAG AS CHAR(1))          
    ELSE CAST(ISNULL(CURR.DEFAULT_FLAG, '0') AS CHAR(1))           
   END AS DEFAULT_FLAG           
  ,PREV.DEFAULT_DATE           
  ,CONCAT(PREV.DEFAULT_MOVEMENT,        
   CASE        
    WHEN WO.WRITEOFF_DATE IS NOT NULL OR RIGHT(PREV.DEFAULT_MOVEMENT, 1) = '2' OR (CURR.DOWNLOAD_DATE IS NULL AND WO.WRITEOFF_DATE IS NULL) THEN '2'         
    ELSE CAST(ISNULL(CURR.DEFAULT_FLAG, '0') AS CHAR(1))          
   END) AS DEFAULT_MOVEMENT           
  ,PREV.OS_AT_DEFAULT         
  ,CASE        
   WHEN RIGHT(CONCAT(PREV.DEFAULT_MOVEMENT,        
    CASE        
  WHEN WO.WRITEOFF_DATE IS NOT NULL OR RIGHT(PREV.DEFAULT_MOVEMENT, 1) = '2' OR (CURR.DOWNLOAD_DATE IS NULL AND WO.WRITEOFF_DATE IS NULL) THEN '2'         
  ELSE CAST(ISNULL(CURR.DEFAULT_FLAG, '0') AS CHAR(1))        
    END), 2) = '01'             
   THEN CURR.OUTSTANDING             
   ELSE PREV.OS_LAST_DEFAULT        
   END AS OS_LAST_DEFAULT             
  ,CASE        
    WHEN WO.WRITEOFF_DATE IS NOT NULL OR RIGHT(PREV.DEFAULT_MOVEMENT, 1) = '2' OR (CURR.DOWNLOAD_DATE IS NULL AND MIN(WO.DOWNLOAD_DATE) IS NULL) THEN PREV.LAST_OS         
    ELSE CURR.OUTSTANDING             
   END AS LAST_OS           
  ,PREV.AVG_EIR           
  ,CASE        
    WHEN WO.WRITEOFF_DATE IS NOT NULL THEN WO.OUTSTANDING_WO ELSE PREV.WO_AMOUNT         
   END AS WO_AMOUNT           
  ,ISNULL(REC.RECOVERY_AMOUNT, 0) AS RECOVERY_WO_MTD           
  ,ISNULL(PREV.RECOVERY_WO, 0) + ISNULL(REC.RECOVERY_AMOUNT, 0) AS RECOVERY_WO            
  ,CASE         
    WHEN DBO.FN_DATEDIFF_M(PREV.DEFAULT_DATE, REC.DOWNLOAD_DATE) <= 12         
    THEN ISNULL(REC.RECOVERY_AMOUNT, 0)         
    ELSE          
  CAST((CAST(ISNULL(REC.RECOVERY_AMOUNT, 0) AS FLOAT) / CAST(POWER((1 + PREV.AVG_EIR), CAST(DBO.FN_DATEDIFF_M(PREV.DEFAULT_DATE, REC.DOWNLOAD_DATE) AS FLOAT) / 12.00) AS FLOAT)) AS FLOAT)         
    END AS DISC_RECOVERY_WO_MTD             
  ,ISNULL(PREV.DISC_RECOVERY_WO, 0) + ISNULL(CASE         
    WHEN DBO.FN_DATEDIFF_M(PREV.DEFAULT_DATE, REC.DOWNLOAD_DATE) <= 12         
    THEN ISNULL(REC.RECOVERY_AMOUNT, 0)         
    ELSE         
  CAST((CAST(ISNULL(REC.RECOVERY_AMOUNT, 0) AS FLOAT) / CAST(POWER((1 + PREV.AVG_EIR), CAST(DBO.FN_DATEDIFF_M(PREV.DEFAULT_DATE, REC.DOWNLOAD_DATE) AS FLOAT) / 12.00) AS FLOAT)) AS FLOAT)         
    END,0) AS DISC_RECOVERY_WO           
  ,CASE WHEN ISNULL(PREV.RESTRU_SIFAT_FLAG, 0) = 1 THEN 1 ELSE ISNULL(PREV.RESTRU_SIFAT_FLAG, 0) END AS RESTRU_SIFAT_FLAG         
  ,PREV.CURE_FLAG         
  ,PREV.LIQUIDATED_FLAG          
  ,CASE        
   WHEN RIGHT(CONCAT(PREV.DEFAULT_MOVEMENT,        
    CASE        
  WHEN WO.WRITEOFF_DATE IS NOT NULL OR RIGHT(PREV.DEFAULT_MOVEMENT, 1) = '2' OR (CURR.DOWNLOAD_DATE IS NULL AND WO.WRITEOFF_DATE IS NULL) THEN '2'         
  ELSE CAST(ISNULL(CURR.DEFAULT_FLAG, '0') AS CHAR(1))        
    END), 2) = '01'             
   THEN CURR.DOWNLOAD_DATE             
   ELSE PREV.LAST_DEFAULT_DATE        
   END AS LAST_DEFAULT_DATE          
   ,PREV.LAST_CURE_DATE AS LAST_CURE_DATE        
   ,CASE WHEN ISNULL(PREV.WO_FLAG, 0) = 1 THEN 1 ELSE ISNULL(PREV.WO_FLAG, 0) END AS WO_FLAG        
   ,MIN(CAST(CURR.FP_FLAG_ORIG AS CHAR(1))) AS FP_FLAG_ORIG          
 FROM #PREVIOUS PREV (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK) ON PREV.LGD_RULE_ID = B.PKID AND PREV.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID           
 LEFT JOIN #CURRENT CURR (NOLOCK) ON PREV.DOWNLOAD_DATE = EOMONTH(DATEADD(MM, -1, CURR.DOWNLOAD_DATE)) AND PREV.LGD_UNIQUE_ID = CURR.LGD_UNIQUE_ID         
 LEFT JOIN #WO WO (NOLOCK) ON PREV.DOWNLOAD_DATE = EOMONTH(DATEADD(MM, -1, WO.DOWNLOAD_DATE))          
 AND PREV.LGD_UNIQUE_ID = WO.LGD_UNIQUE_ID AND PREV.LGD_RULE_ID = WO.LGD_RULE_ID          
 LEFT JOIN #REC REC (NOLOCK) ON PREV.DOWNLOAD_DATE = EOMONTH(DATEADD(MM, -1, REC.DOWNLOAD_DATE)) AND PREV.LGD_UNIQUE_ID = REC.LGD_UNIQUE_ID AND PREV.LGD_RULE_ID = REC.LGD_RULE_ID         
 WHERE PREV.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_PREVMONTH)) ELSE @V_PREVMONTH END        
 AND B.ACTIVE_FLAG = 1  AND B.IS_DELETE = 0  
 GROUP BY           
 B.LAG_1MONTH_FLAG           
 ,PREV.LGD_RULE_ID          
 ,PREV.DEFAULT_RULE_ID           
 ,PREV.LGD_UNIQUE_ID          
 ,PREV.SEGMENT           
 ,PREV.SUB_SEGMENT        
 ,PREV.GROUP_SEGMENT           
 ,PREV.EIR_SEGMENT        
 ,PREV.CALC_METHOD           
 ,PREV.WO_DATE          
 ,CURR.DOWNLOAD_DATE          
 ,PREV.DEFAULT_MOVEMENT           
 ,PREV.LAST_SNAPSHOT_DATE          
 ,CURR.LGD_UNIQUE_ID          
 ,PREV.LAST_DPD           
 ,CURR.CALC_METHOD        
 ,CURR.DAY_PAST_DUE           
 ,CURR.DPD_CIF            
 ,CURR.DEFAULT_FLAG           
 ,PREV.DEFAULT_FLAG           
 ,PREV.DEFAULT_DATE        
 ,PREV.OS_AT_DEFAULT           
 ,PREV.OS_LAST_DEFAULT        
 ,PREV.LAST_OS        
 ,CURR.OUTSTANDING          
 ,PREV.AVG_EIR        
 ,PREV.WO_AMOUNT         
 ,ISNULL(REC.RECOVERY_AMOUNT, 0)          
 ,REC.DOWNLOAD_DATE          
 ,ISNULL(PREV.RECOVERY_WO, 0)           
 ,ISNULL(PREV.RESTRU_SIFAT_FLAG, 0)           
 ,ISNULL(PREV.DISC_RECOVERY_WO, 0)             
 ,WO.DOWNLOAD_DATE             
 ,WO.LGD_RULE_ID             
 ,WO.LGD_UNIQUE_ID          
 ,WO.OUTSTANDING_WO         
 ,WO.WRITEOFF_DATE         
 ,PREV.CURE_FLAG         
 ,PREV.LIQUIDATED_FLAG          
 ,PREV.LAST_DEFAULT_DATE          
 ,PREV.LAST_CURE_DATE           
 ,ISNULL(PREV.WO_FLAG, 0)         
  
   CREATE NONCLUSTERED INDEX #CURE_LGL_IDX ON #CURE_LGL
(
	[DOWNLOAD_DATE] ASC,
	[LGD_RULE_ID] ASC,
	[DEFAULT_RULE_ID] ASC,
	[LGD_UNIQUE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
           
 -- GET CURRENT MONTH DATA JUST FOR REAL NEW DEFAULT             
 DROP TABLE IF EXISTS #CURR_CURE_RATE           
 SELECT           
  X.DOWNLOAD_DATE,           
  X.LGD_RULE_ID,           
  X.DEFAULT_RULE_ID,           
  X.LGD_UNIQUE_ID,           
  X.DEFAULT_MOVEMENT,          
  Y.LAG_1MONTH_FLAG           
 INTO #CURR_CURE_RATE            
 FROM #CURE_LGL X (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG Y (NOLOCK)           
 ON X.LGD_RULE_ID = Y.PKID AND X.DEFAULT_RULE_ID = Y.DEFAULT_RULE_ID           
 WHERE X.DOWNLOAD_DATE = CASE WHEN Y.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE EOMONTH(@V_CURRDATE) END 
 AND Y.ACTIVE_FLAG = 1           
 AND Y.IS_DELETE = 0             
 -- GET REAL NEW DATA           
 INSERT INTO #CURE_LGL           
 (         
  DOWNLOAD_DATE           
  ,LGD_RULE_ID           
  ,LGD_RULE_NAME           
  ,DEFAULT_RULE_ID           
  ,LGD_UNIQUE_ID           
  ,SEGMENT          
  ,SUB_SEGMENT           
  ,GROUP_SEGMENT           
  ,EIR_SEGMENT           
  ,CALC_METHOD           
  ,LOAN_START_DATE           
  ,WO_DATE           
  ,LAST_SNAPSHOT_DATE           
  ,LAST_DPD           
  ,DEFAULT_FLAG           
  ,DEFAULT_DATE           
  ,DEFAULT_MOVEMENT           
  ,OS_AT_DEFAULT        
  ,OS_LAST_DEFAULT           
  ,LAST_OS           
  ,AVG_EIR       ,RESTRU_SIFAT_FLAG          
  ,LAST_DEFAULT_DATE         
  ,WO_FLAG          
  ,FP_FLAG_ORIG        
  ,RECOVERY_WO_MTD -- ADDED BY SAID          
  /* ADDED FD 30072019 TO MAKE SURE ALL RECOVERY WO AND DISC RECOVERY WO SI CALCULATED EVEN IN CURRENT DATA */             
  ,RECOVERY_WO          
  ,DISC_RECOVERY_WO_MTD          
  ,DISC_RECOVERY_WO         
 )           
 SELECT           
  A.DOWNLOAD_DATE           
  ,A.LGD_RULE_ID           
  ,A.LGD_RULE_NAME           
  ,A.DEFAULT_RULE_ID           
  ,A.LGD_UNIQUE_ID           
  ,A.SEGMENT           
  ,A.SUB_SEGMENT           
  ,A.GROUP_SEGMENT           
  ,A.EIR_SEGMENT           
  ,UPPER(A.CALC_METHOD) AS CALC_METHOD           
  ,A.LOAN_START_DATE           
  ,NULL AS WO_DATE           
  ,A.DOWNLOAD_DATE AS LAST_SNAPSHOT_DATE           
  ,CASE A.CALC_METHOD WHEN 'ACCOUNT' THEN A.DAY_PAST_DUE WHEN 'CUSTOMER' THEN A.DPD_CIF END AS LAST_DPD           
  ,A.DEFAULT_FLAG           
  ,A.DOWNLOAD_DATE AS DEFAULT_DATE           
  ,'1' AS DEFAULT_MOVEMENT             
  ,OUTSTANDING AS OS_AT_DEFAULT          
  ,OUTSTANDING AS OS_LAST_DEFAULT           
  ,OUTSTANDING AS LAST_OS           
  ,A.AVG_EIR           
  ,A.RESTRU_SIFAT_FLAG          
  ,A.DOWNLOAD_DATE AS LAST_DEFAULT_DATE        
  ,A.WO_FLAG            
  ,A.FP_FLAG_ORIG           
  ,ISNULL(REC.RECOVERY_AMOUNT, 0) AS RECOVERY_WO_MTD           
    /* ADDED FD 30072019 TO MAKE SURE ALL RECOVERY WO AND DISC RECOVERY WO SI CALCULATED EVEN IN CURRENT DATA */         
  ,ISNULL(REC.RECOVERY_AMOUNT, 0) AS RECOVERY_WO            
  ,ISNULL(CASE         
    WHEN DBO.FN_DATEDIFF_M(A.DOWNLOAD_DATE, REC.DOWNLOAD_DATE) <= 12         
    THEN ISNULL(REC.RECOVERY_AMOUNT, 0)         
    ELSE          
  CAST((CAST(ISNULL(REC.RECOVERY_AMOUNT, 0) AS FLOAT) / CAST(POWER((1 + A.AVG_EIR), CAST(DBO.FN_DATEDIFF_M(A.DOWNLOAD_DATE, REC.DOWNLOAD_DATE) AS FLOAT) / 12.00) AS FLOAT)) AS FLOAT)         
    END,0) AS DISC_RECOVERY_WO_MTD             
  ,ISNULL(CASE         
    WHEN DBO.FN_DATEDIFF_M(A.DOWNLOAD_DATE, REC.DOWNLOAD_DATE) <= 12         
    THEN ISNULL(REC.RECOVERY_AMOUNT, 0)         
    ELSE         
  CAST((CAST(ISNULL(REC.RECOVERY_AMOUNT, 0) AS FLOAT) / CAST(POWER((1 + A.AVG_EIR), CAST(DBO.FN_DATEDIFF_M(A.DOWNLOAD_DATE, REC.DOWNLOAD_DATE) AS FLOAT) / 12.00) AS FLOAT)) AS FLOAT)         
    END,0) AS DISC_RECOVERY_WO           
 FROM #CURRENT (NOLOCK) A           
 JOIN IFRS_LGD_RULES_CONFIG C (NOLOCK)           
 ON A.LGD_RULE_ID = C.PKID AND A.DEFAULT_RULE_ID = C.DEFAULT_RULE_ID           
 LEFT JOIN #CURR_CURE_RATE D (NOLOCK)           
 ON A.DOWNLOAD_DATE = D.DOWNLOAD_DATE AND A.LGD_UNIQUE_ID = D.LGD_UNIQUE_ID AND A.LGD_RULE_ID = D.LGD_RULE_ID             
 LEFT JOIN  #REC REC       
 ON A.DOWNLOAD_DATE = REC.DOWNLOAD_DATE  AND A.LGD_UNIQUE_ID = REC.LGD_UNIQUE_ID AND A.LGD_RULE_ID = REC.LGD_RULE_ID        
 WHERE A.DOWNLOAD_DATE = CASE WHEN C.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END        
 AND A.DEFAULT_FLAG = 1 AND D.LGD_UNIQUE_ID IS NULL   
 AND C.ACTIVE_FLAG = 1       
 AND C.IS_DELETE = 0  
 -- UPDATE FOR LAST DEFAULT STATUS IS NOT 2(CLOSE/WO/RESTRU) AND LAST LIQUIDATED FLAG =1, CHANGE LIQUIDATED FLAG BACK TO =0        
 UPDATE A           
 SET A.LIQUIDATED_FLAG = 0           
 FROM #CURE_LGL A (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID        
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END        
 AND (RIGHT(DEFAULT_MOVEMENT, 1) <> 2 AND LIQUIDATED_FLAG=1)
 AND B.ACTIVE_FLAG = 1        
 AND B.IS_DELETE = 0            
 -- LIQUIDATED           
 UPDATE A           
 SET A.LIQUIDATED_FLAG = 1           
 FROM #CURE_LGL A (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID        
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END        
 AND (DEFAULT_MOVEMENT LIKE '%12%' OR (LAST_DPD > 180 AND RIGHT(DEFAULT_MOVEMENT, 1) = 1 AND (ISNULL(WO_FLAG,0)=1 OR ISNULL(RESTRU_SIFAT_FLAG,0)=1 OR ISNULL(FP_FLAG_ORIG,0)=1)  )           
 OR ((DEFAULT_MOVEMENT LIKE '%02%' OR RIGHT(DEFAULT_MOVEMENT, 1) = 0) AND LAST_DPD>90))           
 AND B.ACTIVE_FLAG = 1          
 AND B.IS_DELETE = 0  
 -- PENDING          
  ALTER TABLE #CURE_LGL ADD MOD INT            
             
  UPDATE A             
  SET MOD = FLOOR(ABS(DATEDIFF(MM, A.DOWNLOAD_DATE, A.LOAN_START_DATE)) % B.CURED_DEFINITION) + 1            
  FROM #CURE_LGL A (NOLOCK)           
  JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)         
  ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID
  WHERE B.ACTIVE_FLAG = 1  AND B.IS_DELETE = 0  
         
        
 UPDATE A           
 SET A.PENDING_FLAG = 1           
 FROM #CURE_LGL A (NOLOCK)         
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID        
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END
 AND B.ACTIVE_FLAG = 1    AND B.IS_DELETE = 0        
 AND           
 (           
    (ISNULL(A.LAST_CURE_DATE,CONVERT(DATE,'20000131'))<A.LAST_DEFAULT_DATE AND RIGHT(DEFAULT_MOVEMENT, 1) = 0 AND A.MOD < B.CURED_DEFINITION) OR         
    (RIGHT(DEFAULT_MOVEMENT, 1) = 1)           
 )            
 AND ISNULL(LIQUIDATED_FLAG, 0) <> '1'           
          
 -- CURE           
 UPDATE A           
 SET A.CURE_FLAG = 1           
 FROM #CURE_LGL A (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID        
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END
 AND B.ACTIVE_FLAG = 1        AND B.IS_DELETE = 0    
 AND            
 (          
    (           
 (A.DEFAULT_MOVEMENT LIKE '%10%')           
 AND A.LAST_DPD <= 90          
 AND ISNULL(A.PENDING_FLAG,0)=0        
    )           
    OR (DEFAULT_MOVEMENT LIKE '%02%' AND LAST_DPD <= 90)         
 )          
 AND     
 ISNULL(A.LIQUIDATED_FLAG,0)=0        
         
 -- FINAL STATUS           
 UPDATE A           
 SET A.FINAL_STATUS =        
 CASE        
  WHEN ISNULL(LIQUIDATED_FLAG, 0) = 1 AND ISNULL(CURE_FLAG, 0) = 0 AND ISNULL(PENDING_FLAG, 0) = 0 THEN 'LIQUIDATED'        
  WHEN ISNULL(LIQUIDATED_FLAG, 0) = 0 AND ISNULL(CURE_FLAG, 0) = 1 AND ISNULL(PENDING_FLAG, 0) = 0 THEN 'CURE'             
  WHEN ISNULL(LIQUIDATED_FLAG, 0) = 0 AND ISNULL(CURE_FLAG, 0) = 0 AND ISNULL(PENDING_FLAG, 0) = 1 THEN 'PENDING'          
  WHEN ISNULL(LIQUIDATED_FLAG, 0) = 0 AND ISNULL(CURE_FLAG, 0) = 1 AND ISNULL(PENDING_FLAG, 0) = 1 THEN 'CURE & PENDING'          
  WHEN ISNULL(LIQUIDATED_FLAG, 0) = 1 AND ISNULL(CURE_FLAG, 0) = 1 AND ISNULL(PENDING_FLAG, 0) = 0 THEN 'CURE & LIQUIDATED'        
 END,             
 A.LAST_CURE_DATE =        
 CASE        
  WHEN ISNULL(CURE_FLAG, 0) = 1 AND ISNULL(PENDING_FLAG, 0) = 0 AND ISNULL(LIQUIDATED_FLAG, 0) = 0 THEN A.DOWNLOAD_DATE        
  ELSE A.LAST_CURE_DATE          
 END             
 FROM #CURE_LGL A (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID        
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END
 AND B.ACTIVE_FLAG = 1       AND B.IS_DELETE = 0     
        
 -- UPDATING MOVEMENT_OS        
 UPDATE A           
 SET A.MOVEMENT_OS = CASE WHEN (ISNULL(A.OS_LAST_DEFAULT, 0) - ISNULL(A.LAST_OS, 0)) <= 0 THEN 0 ELSE ISNULL(A.OS_LAST_DEFAULT, 0) - ISNULL(A.LAST_OS, 0) END           
 FROM #CURE_LGL A (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID         
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END        
 AND A.FINAL_STATUS NOT IN ('CURE')          
 AND ((ISNULL(B.EXCLUDE_RESTRUCTURE_FLAG, 0) = 1 AND ISNULL(A.RESTRU_SIFAT_FLAG, 0) <> 1) OR (ISNULL(B.EXCLUDE_RESTRUCTURE_FLAG, 0) = 0))
 AND B.ACTIVE_FLAG = 1       AND B.IS_DELETE = 0        
           
 -- UPDATING RECOVERY_FP         
 UPDATE A           
 SET A.RECOVERY_FP = CASE WHEN (ISNULL(A.LAST_OS, 0) - ISNULL(A.WO_AMOUNT, 0)) <= 0 THEN 0 ELSE ISNULL(A.LAST_OS, 0) - ISNULL(A.WO_AMOUNT, 0) END          
 FROM #CURE_LGL A (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID         
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END        
 AND A.LAST_DPD <= 180           
 AND A.WO_DATE IS NULL           
 AND FINAL_STATUS IN ('CURE & LIQUIDATED', 'LIQUIDATED')           
 AND ((ISNULL(B.EXCLUDE_RESTRUCTURE_FLAG, 0) = 1 AND ISNULL(A.RESTRU_SIFAT_FLAG, 0) <> 1) OR (ISNULL(B.EXCLUDE_RESTRUCTURE_FLAG, 0) = 0))
 AND B.ACTIVE_FLAG = 1   AND B.IS_DELETE = 0            
             
 -- UPDATING RECOVERY_LOS_WO           
 UPDATE A           
 SET A.RECOVERY_LOS_WO = CASE WHEN (ISNULL(A.LAST_OS, 0) - ISNULL(A.WO_AMOUNT, 0)) <= 0 THEN 0 ELSE ISNULL(A.LAST_OS, 0) - ISNULL(A.WO_AMOUNT, 0) END         
 FROM #CURE_LGL A (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID         
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END        
 AND A.WO_DATE IS NOT NULL        
 AND FINAL_STATUS NOT IN ('CURE')
 AND B.ACTIVE_FLAG = 1        AND B.IS_DELETE = 0    
           
 -- UPDATE TOTAL_RECOVERY, LGL, DISC_MOVEMENT_OS, DISC_RECOVERY_FP, DISC_RECOVERY_LOS_WO, DISC_TOTAL_RECOVERY          
 UPDATE A           
 SET         
    A.TOTAL_RECOVERY = ISNULL(A.MOVEMENT_OS, 0) + ISNULL(RECOVERY_FP, 0) + ISNULL(RECOVERY_LOS_WO, 0) + ISNULL(RECOVERY_WO, 0),         
--UPDATE CASE WHEN OS_AT_DEFAULT<=0  CR RESTRU COVID PHASE 2 INDRA   
    A.LGL = CASE WHEN A.OS_AT_DEFAULT <= 0 THEN 0 ELSE CAST(1.00 - (CAST((ISNULL(A.MOVEMENT_OS, 0) + ISNULL(RECOVERY_FP, 0) + ISNULL(RECOVERY_LOS_WO, 0) + ISNULL(RECOVERY_WO, 0)) AS FLOAT) / CAST(ISNULL(A.OS_AT_DEFAULT, 0) AS FLOAT)) AS FLOAT) END,      
    
--UPDATE CR RESTRU COVID PHASE 2 INDRA   
    A.DISC_MOVEMENT_OS =        
    CAST(CASE        
  WHEN (DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) <= 12) THEN A.MOVEMENT_OS             
  ELSE CAST(CAST(A.MOVEMENT_OS AS FLOAT) / CAST((POWER((1.00 + A.AVG_EIR), (CAST(DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) AS FLOAT) / 12.00))) AS FLOAT) AS FLOAT)          
    END AS FLOAT),           
    A.DISC_RECOVERY_FP =        
    CAST(CASE         
  WHEN (DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) <= 12) THEN A.RECOVERY_FP        
  ELSE CAST(A.RECOVERY_FP AS FLOAT) / CAST((POWER((1.00 + A.AVG_EIR), (CAST(DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) AS FLOAT) / 12.00))) AS FLOAT)           
    END AS FLOAT),           
    A.DISC_RECOVERY_LOS_WO =        
    CAST(CASE        
  WHEN (DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) <= 12) THEN A.RECOVERY_LOS_WO          
  ELSE CAST(CAST(A.RECOVERY_LOS_WO AS FLOAT) / CAST((POWER((1.00 + A.AVG_EIR),(CAST(DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) AS FLOAT) / 12.00))) AS FLOAT) AS FLOAT)         
    END AS FLOAT),           
    A.DISC_TOTAL_RECOVERY =          
    CAST(ISNULL(CASE          
  WHEN (DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) <= 12) THEN A.MOVEMENT_OS          
  ELSE CAST(CAST(A.MOVEMENT_OS AS FLOAT)/ CAST((POWER((1.00 + A.AVG_EIR),(CAST(DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) AS FLOAT) / 12.00))) AS FLOAT) AS FLOAT)           
    END, 0) AS FLOAT) +         
    CAST(ISNULL(CASE          
  WHEN (DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) <= 12) THEN A.RECOVERY_FP           
  ELSE CAST(CAST(A.RECOVERY_FP AS FLOAT) / CAST((POWER((1.00 + A.AVG_EIR),(CAST(DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) AS FLOAT) / 12.00))) AS FLOAT) AS FLOAT)           
    END, 0) AS FLOAT) +         
    CAST(ISNULL(CASE        
  WHEN (DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) <= 12) THEN A.RECOVERY_LOS_WO           
  ELSE CAST(CAST(A.RECOVERY_LOS_WO AS FLOAT) / CAST((POWER((1.00 + A.AVG_EIR),(CAST(DBO.FN_DATEDIFF_M(A.DEFAULT_DATE, LAST_SNAPSHOT_DATE) AS FLOAT) / 12.00))) AS FLOAT) AS FLOAT)           
    END, 0) AS FLOAT) + ISNULL(A.DISC_RECOVERY_WO, 0)           
 FROM #CURE_LGL A (NOLOCK)           
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)           
 ON A.LGD_RULE_ID = B.PKID AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID         
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END 
 AND B.ACTIVE_FLAG = 1         AND B.IS_DELETE = 0  
          
 INSERT INTO IFRS_LGD_CURE_LGL_DETAIL           
 (           
    DOWNLOAD_DATE             
    ,LGD_RULE_ID         
    ,LGD_RULE_NAME             
    ,DEFAULT_RULE_ID             
    ,LGD_UNIQUE_ID             
    ,SEGMENT             
    ,SUB_SEGMENT             
    ,GROUP_SEGMENT             
    ,EIR_SEGMENT             
    ,CALC_METHOD             
    ,LOAN_START_DATE             
    ,RESTRU_SIFAT_FLAG             
    ,WO_DATE             
    ,WO_AMOUNT             
    ,RECOVERY_WO_MTD             
    ,RECOVERY_WO             
    ,OS_AT_DEFAULT          
    ,OS_LAST_DEFAULT             
    ,LAST_OS             
    ,LAST_SNAPSHOT_DATE             
    ,LAST_DPD             
    ,AVG_EIR             
    ,DEFAULT_FLAG             
    ,DEFAULT_DATE             
    ,DEFAULT_MOVEMENT             
    ,CURE_FLAG             
    ,LIQUIDATED_FLAG        
    ,PENDING_FLAG             
    ,FINAL_STATUS             
    ,MOVEMENT_OS             
    ,RECOVERY_FP             
    ,RECOVERY_LOS_WO             
    ,TOTAL_RECOVERY             
    ,LGL             
    ,DISC_MOVEMENT_OS             
    ,DISC_RECOVERY_FP             
    ,DISC_RECOVERY_LOS_WO             
    ,DISC_RECOVERY_WO_MTD          
    ,DISC_RECOVERY_WO             
    ,DISC_TOTAL_RECOVERY             
    ,DISC_LGL          
    ,LAST_DEFAULT_DATE          
    ,LAST_CURE_DATE        
    ,WO_FLAG         
    ,FP_FLAG_ORIG          
 )           
 SELECT        
    DOWNLOAD_DATE             
    ,LGD_RULE_ID             
    ,LGD_RULE_NAME             
    ,DEFAULT_RULE_ID             
    ,LGD_UNIQUE_ID             
    ,SEGMENT             
    ,SUB_SEGMENT             
    ,GROUP_SEGMENT             
    ,EIR_SEGMENT             
    ,CALC_METHOD             
    ,LOAN_START_DATE             
    ,RESTRU_SIFAT_FLAG             
    ,WO_DATE          
    ,ISNULL(WO_AMOUNT, 0) AS WO_AMOUNT            
    ,ISNULL(RECOVERY_WO_MTD, 0) AS RECOVERY_WO_MTD         
    ,ISNULL(RECOVERY_WO, 0) AS RECOVERY_WO            
    ,OS_AT_DEFAULT        
    ,OS_LAST_DEFAULT             
    ,LAST_OS             
    ,LAST_SNAPSHOT_DATE             
    ,LAST_DPD             
    ,AVG_EIR             
    ,DEFAULT_FLAG             
    ,DEFAULT_DATE             
    ,DEFAULT_MOVEMENT         
    ,ISNULL(CURE_FLAG, 0) AS CURE_FLAG             
    ,ISNULL(LIQUIDATED_FLAG, 0) AS LIQUIDATED_FLAG             
    ,ISNULL(PENDING_FLAG, 0) AS PENDING_FLAG             
    ,FINAL_STATUS             
    ,ISNULL(MOVEMENT_OS, 0) AS MOVEMENT_OS             
    ,ISNULL(RECOVERY_FP, 0) AS RECOVERY_FP             
    ,ISNULL(RECOVERY_LOS_WO, 0) AS RECOVERY_LOS_WO             
    ,ISNULL(TOTAL_RECOVERY, 0) AS TOTAL_RECOVERY             
    ,CASE WHEN ISNULL(LGL, 0) < 0 THEN 0 ELSE CASE WHEN ISNULL(LGL, 0) > 1 THEN 1 ELSE ISNULL(LGL, 0) END END AS LGL          
    ,ISNULL(DISC_MOVEMENT_OS, 0) AS DISC_MOVEMENT_OS             
    ,ISNULL(DISC_RECOVERY_FP, 0) AS DISC_RECOVERY_FP             
    ,ISNULL(DISC_RECOVERY_LOS_WO, 0) AS DISC_RECOVERY_LOS_WO             
    ,ISNULL(DISC_RECOVERY_WO_MTD, 0) AS DISC_RECOVERY_WO_MTD             
    ,ISNULL(DISC_RECOVERY_WO, 0) AS DISC_RECOVERY_WO             
    ,ISNULL(DISC_TOTAL_RECOVERY, 0) AS DISC_TOTAL_RECOVERY       
 --UPDATE CASE WHEN OS_AT_DEFAULT<=0 CR RESTRU COVID PHASE 2 INDRA         
    ,CASE  
  WHEN OS_AT_DEFAULT <= 0 THEN 0   
  WHEN CAST(1 - CAST((CAST(DISC_TOTAL_RECOVERY AS FLOAT) / CAST(OS_AT_DEFAULT AS FLOAT)) AS FLOAT) AS FLOAT) < 0 THEN 0   
  ELSE CASE   
    WHEN CAST(1 - CAST((CAST(DISC_TOTAL_RECOVERY AS FLOAT) / CAST(OS_AT_DEFAULT AS FLOAT)) AS FLOAT) AS FLOAT) > 1 THEN 1   
    ELSE CAST(1 - CAST((CAST(DISC_TOTAL_RECOVERY AS FLOAT) / CAST(OS_AT_DEFAULT AS FLOAT)) AS FLOAT) AS FLOAT)   
    END   
  END AS DISC_LGL        
 --UPDATE CR RESTRU COVID PHASE 2 INDRA   
    ,LAST_DEFAULT_DATE             
    ,LAST_CURE_DATE         
    ,WO_FLAG         
 ,FP_FLAG_ORIG            
 FROM #CURE_LGL           
             
END  
GO
