USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCREENDBYGROUP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_SCREENDBYGROUP] (@ScreenGroup bigint)            
AS            
SELECT SCREEN.SCREENID, SCREEN.ModuleID, SCREEN.Title ,SCREEN.PageAuthUrl, DETAIL.PKID,  
 SCREEN.Url, CanView, CanInsert, CanUpdate, CanDelete, CanExport, CanUpload, NeedApproval  ,
 SCREEN.PageTitle,     ISNULL(SCREEN.ParentID, '') AS ParentID 
FROM tblM_Screen SCREEN            
INNER JOIN tblM_ScreenGroupDetail DETAIL            
 ON screen.screenid = detail.ScreenID            
WHERE detail.ScreenGroupID = @ScreenGroup      
AND CanView = 'true'        
ORDER BY screen.Sequence






GO
