USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SEGMENTATIONSETTINGSD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SEGMENTATIONSETTINGSD]  
(  
 @RULE_ID VARCHAR(50)=0  
)  
AS  
BEGIN  
  SELECT *   
        FROM IFRS_MSTR_SEGMENT_RULES_DETAIL   
        WHERE RULE_ID = @RULE_ID  
        ORDER BY QUERY_GROUPING, SEQUENCE;  
END
GO
