USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETDEPENDONRECURSIVE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETDEPENDONRECURSIVE]
(
	@module VARCHAR(20), 
	@step INT
)
AS
BEGIN
      
	WITH DEPEND AS
	(
		SELECT StepSequence, 
			DependOnStep
		FROM dbo.tblM_JobDependency
		WHERE DependOnStep = @step
			AND Module = @module
				UNION ALL
       	SELECT a.StepSequence, 
			a.DependOnStep
		FROM dbo.tblM_JobDependency a 
			JOIN DEPEND b ON a.DependOnStep = b.StepSequence
				AND Module = @module
	)
	
	SELECT DISTINCT stepsequence FROM DEPEND;

END;

GO
