USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPROCESSEDSPPIGRID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPPROCESSEDSPPIGRID] 
 @PKID BIGINT  
AS
BEGIN  
select PKID,
CLASSNAME,
PRODUCT_CODE,
CASE   
       WHEN OVERRIDE_FLG = 0  THEN SPPI_RSLT
	   WHEN OVERRIDE_FLG = ''  THEN SPPI_RSLT  
       WHEN OVERRIDE_FLG = 1 THEN OVERRIDE_RSLT  
       END AS SPPI_RSLT  
from [IFRS_AC_SPPI_HEADER] A  
JOIN (SELECT VALUE FROM dbo.STRING_SPLIT((SELECT SPPI_CLASS FROM IFRS_AC_BM_HEADER WHERE PKID = @PKID), ','))B ON A.PKID = B.Value  
WHERE ISNULL(A.IS_DELETE,0) = 0 
END 
GO
