USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFTRIGGERTEMP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFTRIGGERTEMP]    
(    
 @DCFID INT = NULL    
)    
AS  
BEGIN  
  
 SET NOCOUNT ON;  
  
 SELECT PKID,  
  CUSTOMER_NUMBER,    
  FACILITY_NUMBER,    
  MASTER_ACCOUNT_ID,    
  PERIOD,    
  (CASE WHEN FLAG_TRIGGERED = 1 THEN 'True' ELSE 'False' END) AS "FLAG_TRIGGERED",    
  REMARKS,    
  DCFID,    
  CREATEDDATE    
 FROM IFRS_IMP_OVERRIDETRIGGERH_TEMP     
 WHERE DCFID = @DCFID;    
          
END;  
GO
