USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspU_MappingRulesH]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspU_MappingRulesH]  
(  
 @MappingName varchar(100)='',  
 @Description varchar(200)='',  
 @TableName varchar(50)='',  
 @MapType varchar(50)='',  
 @FileType varchar(20)='',  
 @FileName varchar(500)='',  
 @NeedApproved bit,
 @userID varchar(36) = '',  
 @UpdatedBy varchar(36)='',  
 @UpdatedHost varchar(30)='',  
 @KeyHistory varchar(100)='',  
 @PKID int  
)  
AS  
BEGIN  
   
 UPDATE TBLM_MAPPINGRULEHEADER_NEW  
 SET MAPPINGNAME = @MappingName,  
  MAPPINGDESCRIPTION = @Description,  
  TABLEDESTINATION = @TableName,  
  MAPPINGTYPE = @MapType,  
  FILETYPE = @FileType,  
  FILENAME = @FileName,  
  NEEDAPPROVAL = @NeedApproved,  
  KEYHISTORY = @KeyHistory,  
  UPDATEDBY = @UpdatedBy,  
  UPDATEDDATE = getdate(),  
  UPDATEDHOST = @UpdatedHost  
 WHERE PKID = @PKID  
  
END  
GO
