USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPLOANDATASOURCE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUPLOANDATASOURCE]
(
	@DDATE_MAID VARCHAR(100) = ''
)
AS
BEGIN

	SELECT DISTINCT DATA_SOURCE,  
		DATA_SOURCE "Data Source",
		INST_CLS_VALUE
	FROM IFRS_MASTER_PRODUCT_PARAM
	WHERE ISNULL(IS_DELETE, 0) = 0
	ORDER BY DATA_SOURCE

END;

GO
