USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_PD_MAA_CORP_ENR]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_IMP_PD_MAA_CORP_ENR] @DOWNLOAD_DATE DATE =''
AS 
BEGIN
 DECLARE @V_CURRDATE   DATE                                                                      
 DECLARE @V_PREVDATE   DATE        
 DECLARE @V_PREVMONTH DATE 
 DECLARE @V_CURRDATE_NOLAG   DATE                                                                      
 DECLARE @V_PREVDATE_NOLAG   DATE        
 DECLARE @V_PREVMONTH_NOLAG DATE   

  IF @DOWNLOAD_DATE <> ''      
BEGIN       
SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN      
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)      
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))      

SET @V_CURRDATE_NOLAG = EOMONTH(@DOWNLOAD_DATE) -- NO LAG      
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)      
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))      
END      
ELSE       
BEGIN       
SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE) )        
FROM IFRS_PRC_DATE      
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)      
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE)) 

SELECT @V_CURRDATE_NOLAG =  EOMONTH(CURRDATE)  FROM IFRS_PRC_DATE         
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)      
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))      
END      
      
DELETE A FROM [IFRS_PD_MAA_CORP_ENR] A INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID
WHERE TO_DATE = @V_CURRDATE_NOLAG
AND B.ACTIVE_FLAG = 1 AND B.IS_DELETE = 0


INSERT INTO [dbo].[IFRS_PD_MAA_CORP_ENR] (DOWNLOAD_DATE
,BASE_DATE
,TO_DATE
,PD_RULE_ID
,PD_RULE_NAME
,BUCKET_GROUP
,BUCKET_FROM
,BUCKET_TO
,CALC_AMOUNT
,CALC_METHOD
,CREATEDBY
,CREATEDDATE)
SELECT DOWNLOAD_DATE
,BASE_DATE
,@V_CURRDATE_NOLAG AS TO_DATE
,PD_RULE_ID
,MAX(A.PD_RULE_NAME)
,MAX(A.BUCKET_GROUP)
,BUCKET_FROM
,BUCKET_TO
,SUM(A.CALC_AMOUNT) AS CALC_AMOUNT
,MAX(A.CALC_METHOD)
,'SP_IFRS_IMP_PD_MAA_ENR' AS  CREATEDBY
,GETDATE() AS CREATEDDATE FROM [IFRS_PD_MAA_CORP_DETAIL] A
INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID
 WHERE TO_DATE = @V_CURRDATE_NOLAG 
--	FOR CORPORATE BUCKET ID 0 NOT COUNT IN POPULATION
AND BUCKET_FROM <> 0 AND BUCKET_TO <> 0 
AND B.ACTIVE_FLAG = 1 AND B.IS_DELETE = 0
GROUP BY DOWNLOAD_DATE,BASE_DATE,TO_DATE,PD_RULE_ID,BUCKET_FROM,BUCKET_TO
ORDER BY DOWNLOAD_DATE, PD_RULE_ID, BUCKET_FROM, BUCKET_TO

--- UPDATE PERCENTAGE
IF OBJECT_ID ('TEMPDB.DBO.#TOTAL_COUNT') IS NOT NULL DROP TABLE #TOTAL_COUNT
SELECT DOWNLOAD_DATE, PD_RULE_ID,BUCKET_FROM, SUM(CALC_AMOUNT) AS TOTAL_ACCOUNT INTO #TOTAL_COUNT 
FROM [IFRS_PD_MAA_CORP_ENR] WHERE TO_DATE = @V_CURRDATE_NOLAG
GROUP BY DOWNLOAD_DATE, PD_RULE_ID,BUCKET_FROM

UPDATE A 
SET A.[PERCENTAGE] = CASE WHEN B.TOTAL_ACCOUNT = 0 THEN NULL ELSE  CAST(A.CALC_AMOUNT AS FLOAT)/CAST(B.TOTAL_ACCOUNT AS FLOAT) END,
 A.TOTAL_ACCOUNT = B.TOTAL_ACCOUNT
FROM [IFRS_PD_MAA_CORP_ENR] A
INNER JOIN #TOTAL_COUNT B ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE AND A.PD_RULE_ID = B.PD_RULE_ID AND A.BUCKET_FROM = B.BUCKET_FROM 
INNER JOIN IFRS_PD_RULES_CONFIG C ON A.PD_RULE_ID = C.PKID
WHERE A.TO_DATE = @V_CURRDATE_NOLAG
AND C.ACTIVE_FLAG = 1 AND C.IS_DELETE = 0
--- INSERT TO MAA_ENR FOR NO MOVEMENT BUCKET 

IF OBJECT_ID ('TEMPDB.DBO.#ENR_CURR') IS NOT NULL DROP TABLE #ENR_CURR
SELECT * INTO #ENR_CURR FROM [IFRS_PD_MAA_CORP_ENR] WHERE TO_DATE = @V_CURRDATE_NOLAG

DECLARE @BUCKET_GROUP VARCHAR(100)
DECLARE @PD_RULE_ID INT 

DECLARE LOOP1           
  CURSOR FOR SELECT DISTINCT PD_RULE_ID, BUCKET_GROUP FROM #ENR_CURR
  OPEN LOOP1    
  FETCH LOOP1 INTO @PD_RULE_ID, @BUCKET_GROUP 
  WHILE @@FETCH_STATUS = 0     
 BEGIN    
    
IF OBJECT_ID ('TEMPDB.DBO.#NOT_FOUND_BUCKET') IS NOT NULL DROP TABLE #NOT_FOUND_BUCKET
SELECT @PD_RULE_ID AS PD_RULE_ID, A.BUCKET_GROUP, A.BUCKET_FROM, A.BUCKET_TO  INTO #NOT_FOUND_BUCKET FROM [VW_MAA_FULL_BUCKET] A 
LEFT JOIN #ENR_CURR B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_FROM= B.BUCKET_FROM AND A.BUCKET_TO = B.BUCKET_TO AND B.PD_RULE_ID = @PD_RULE_ID
WHERE A.BUCKET_GROUP = @BUCKET_GROUP  AND B.BUCKET_FROM IS NULL 
ORDER BY A.BUCKET_FROM, A.BUCKET_TO

IF OBJECT_ID ('TEMPDB.DBO.#ENR_MAA_BASE') IS NOT NULL DROP TABLE #ENR_MAA_BASE
SELECT DOWNLOAD_DATE
,BASE_DATE
,TO_DATE
,PD_RULE_ID
,PD_RULE_NAME
,BUCKET_GROUP
,BUCKET_FROM
,0 AS CALC_AMOUNT
,TOTAL_ACCOUNT
,CALC_METHOD
,0 AS PERCENTAGE
,MAX(CREATEDBY) AS CREATEDBY
,MAX(CREATEDDATE) AS CREATEDDATE
INTO #ENR_MAA_BASE
FROM #ENR_CURR WHERE PD_RULE_ID = @PD_RULE_ID  GROUP BY DOWNLOAD_DATE
,BASE_DATE
,TO_DATE
,PD_RULE_ID
,PD_RULE_NAME
,BUCKET_GROUP
,BUCKET_FROM,TOTAL_ACCOUNT
,CALC_METHOD

---- INSEERT DATA NOT COMPLETED BUCKET TO 
INSERT INTO [IFRS_PD_MAA_CORP_ENR]
(DOWNLOAD_DATE
,BASE_DATE
,TO_DATE
,PD_RULE_ID
,PD_RULE_NAME
,BUCKET_GROUP
,BUCKET_FROM
,BUCKET_TO
,CALC_AMOUNT
,TOTAL_ACCOUNT
,CALC_METHOD
,PERCENTAGE
,CREATEDBY
,CREATEDDATE)
SELECT EOMONTH(DATEADD(MONTH,C.INCREMENT_PERIOD*-1,@V_CURRDATE_NOLAG)) AS DOWNLOAD_DATE
,EOMONTH(DATEADD(MONTH,C.INCREMENT_PERIOD*-1,@V_CURRDATE_NOLAG))  AS BASE_DATE
,@V_CURRDATE_NOLAG AS TO_DATE
,A.PD_RULE_ID
,C.TM_RULE_NAME
,A.BUCKET_GROUP
,A.BUCKET_FROM
,A.BUCKET_TO
,ISNULL(B.CALC_AMOUNT,0)
,ISNULL(B.TOTAL_ACCOUNT,0)
,C.CALC_METHOD
,CASE WHEN ISNULL(B.TOTAL_ACCOUNT,0) = 0 THEN NULL ELSE 0 END AS [PERCENTAGE]
,'SP_IFRS_IMP_PD_MAA_ENR' AS CREATEDBY
,GETDATE() AS CREATEDDATE
FROM #NOT_FOUND_BUCKET A
INNER JOIN IFRS_PD_RULES_CONFIG C ON A.PD_RULE_ID = C.PKID
LEFT JOIN #ENR_MAA_BASE B ON A.BUCKET_FROM = B.BUCKET_FROM AND A.PD_RULE_ID = B.PD_RULE_ID
WHERE C.ACTIVE_FLAG = 1 AND C.IS_DELETE = 0

 FETCH NEXT FROM LOOP1 INTO  @PD_RULE_ID, @BUCKET_GROUP   
 END     
CLOSE LOOP1    
DEALLOCATE LOOP1    

--- END INSERT TO MAA_ENR FOR NO MOVEMENT BUCKET 

END 

GO
