USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETPRCDATEGL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETPRCDATEGL]
AS
BEGIN

	SELECT * FROM GL_PRC_DATE

END

GO
