USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ME_MODEL_SCALING_FACTOR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ME_MODEL_SCALING_FACTOR]
(
    @MODEL_ID BIGINT
)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @count int;
	select	@count = COUNT(MODEL_ID)
	FROM	IFRS_ME_MODEL_SCALING_FACTOR A
	WHERE	A.MODEL_ID = @MODEL_ID AND IS_SELECTED = 1
	
	IF @count > 0 
		SELECT	A.MODEL_SEQ "KEY_SELECT",
				A.MODEL_SEQ "MEV_Model", 
				A.SCALING_FACTOR "Scaling_Factor",
				B.PREDICTED_PD "Predicted_PD" 
		FROM	IFRS_ME_MODEL_SCALING_FACTOR A
		JOIN	IFRS_ME_MODEL_PREDICTED_PD B
		ON		A.MODEL_ID = B.MODEL_ID
		AND		A.MODEL_SEQ = B.MODEL_SEQ
		WHERE	A.MODEL_ID = @MODEL_ID AND IS_SELECTED = 1

	ELSE 
		SELECT DISTINCT A.IS_SELECTED "#", 
			A.MODEL_SEQ "KEY_SELECT",
			A.MODEL_SEQ "MEV_Model", 
			A.SCALING_FACTOR "Scaling_Factor",
			B.PREDICTED_PD "Predicted_PD"
		FROM TMP_IFRS_ME_MODEL_SCALING_FACT A
		JOIN TMP_IFRS_ME_MODEL_PREDICTED_PD B
		ON A.MODEL_ID = B.MODEL_ID
		AND A.MODEL_SEQ = B.MODEL_SEQ
		WHERE A.MODEL_ID = @MODEL_ID
        
END;

GO
