USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TEMP_CHOOSEN_VARIABLE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[USPS_TEMP_CHOOSEN_VARIABLE]
 @modelId bigint  
AS  
BEGIN  
 select LOOKUPINITIAL, VARIABLENAME, CORRELATION_VAL
 from TMP_IFRS_MODEL_FILTER_CORTEST
 where MODEL_ID  = @modelId and VARIABLE_SELECTION = 1   
END

GO
