USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_VALIDATELOGINUSER]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPP_VALIDATELOGINUSER]              
(          
	@PKID varchar( 36 ) = ''              
)              
AS              
-- proc untuk validate login user              
BEGIN              
	declare @UserName varchar( 50 )              
	declare @LastLoginDate datetime              
	declare @ErrorStatusPasswordIsExpired varchar( 50 )              
	declare @ErrorStatusUserIsExpired varchar( 50 )              
	declare @ErrorStatusPasswordLock varchar( 50 )        
	declare @ErrorMessagePasswordIsExpired varchar( 500 )              
	declare @ErrorMessageUserIsExpired varchar( 100 )              
	declare @ErrorMessagePasswordLocked varchar( 100 )        
	declare @PassExpDate datetime            
	declare @PassLastUpd datetime        
	declare @PassAttemptCounter int        
	declare @ErrorStatus varchar( 50 )              
	declare @ErrorMessage varchar( 500 )              
	declare @IsUserExpired bit              
	declare @IsPasswordExpired bit        
	declare @PasswordExpiredInterval int              
	declare @UserExpiredInterval int              
	declare @PasswordAttempt int        
        
	-- set nilai awal              
	set @ErrorStatus = ''              
	set @ErrorMessage = ''              
        
	--select * from tblm_user        
        
	-- get (Last Login Date), (Status Expired), (User Group)              
	-- dari User yang mau login              
	SELECT         
	@PassAttemptCounter = isnull([PasswordAttemptCounter],0)        
	,@UserName = isNull( UserName, '' )         
	,@PassExpDate =  isnull([PasswordExpiredDate], '1-Jan-2000')                 
	,@PassLastUpd =  isNull( [PasswordLastUpdatedDatetime], '1-Jan-2000')              
	,@IsPasswordExpired = [IsPasswordExpired]        
	,@LastLoginDate = isNull( [LastLoginDate], '1-Jan-2000')              
	,@IsUserExpired = [IsUserExpired]              
	-- ,[IsUserLocked]               
	FROM [dbo].[tblM_User]              
	where PKID= @PKID             
        
	-- get change password interval              
	select @PasswordExpiredInterval = convert( int, isnull(CommonUsage,30) ) from tblM_CommonCodeHeader  where CommonCode = 'AP090'          
        
	-- get automatic disable period interval              
	select @UserExpiredInterval = convert( int, isnull(CommonUsage,0) ) from tblM_CommonCodeHeader  where CommonCode = 'AP015'          
         
	-- get password attempt counter        
	select @PasswordAttempt = convert( int, isnull(CommonUsage,0) ) from tblM_CommonCodeHeader  where CommonCode = 'AP011'          
         
	-- set error status              
	set @ErrorStatusPasswordIsExpired = 'PASSWORD_IS_EXPIRED'              
	set @ErrorStatusUserIsExpired = 'USER_IS_EXPIRED'              
	set @ErrorStatusPasswordLock = 'PASSWORD_IS_LOCKED'              
        
	-- set error message              
	set @ErrorMessagePasswordIsExpired = 'The Password is expired'              
	set @ErrorMessageUserIsExpired = 'This user is expired, last login date > '+ CAST(@UserExpiredInterval AS VARCHAR(3)) +' days. Please contact your administrator'              
	set @ErrorMessagePasswordLocked = 'This user is locked'        
        
	if( @IsUserExpired = 1 )              -- jika user is expired              
	begin              
	-- set error status & message              
	set @ErrorStatus = @ErrorStatusUserIsExpired              
	set @ErrorMessage = @ErrorMessageUserIsExpired              
	end              
	else if( datediff( day, @LastLoginDate, getDate() ) > @UserExpiredInterval )    -- jika terakhir login > ( 60 hari yang lalu )         
	begin              
	-- set error status & message              
	set @ErrorStatus = @ErrorStatusUserIsExpired              
	set @ErrorMessage = @ErrorMessageUserIsExpired              
        
	-- update user status jadi EXPIRED              
	UPDATE [dbo].[tblM_User]              
	SET  [IsUserExpired] = 1               
	,[UpdatedBy] = @PKID              
	,[UpdatedDate] = getDate()              
	WHERE PKID = @PKID
		AND SCREENGROUPID <> 1              
	end              
        
	if( @IsPasswordExpired = 1 )     -- jika user is expired   
	begin              
	-- set error status & message              
	set @ErrorStatus = @ErrorStatusPasswordIsExpired              
	set @ErrorMessage =  'Password is expired, please change password\n' +              
		'Password Expired Date: ' + convert( varchar( 50 ), @PassExpDate ) + '\n' +             
		'Last Password Change: '+  convert( varchar( 50 ), @PassLastUpd )         
	end          
	else if (@PassExpDate<= GETDATE())    -- jika password expired date lewat        
	begin              
	-- set error status & message              
	set @ErrorStatus = @ErrorStatusPasswordIsExpired              
	set @ErrorMessage = 'Password is expired, please change password\n' +              
		'Password Expired Date: ' + convert( varchar( 50 ), @PassExpDate ) + '\n' +              
		'Last Password Changed: '+  convert( varchar( 50 ), @PassLastUpd )         
         
	-- update password status jadi EXPIRED              
	UPDATE [dbo].[tblM_User]              
	SET  [IsPasswordExpired] = 1               
	,[UpdatedBy] = @PKID              
	,[UpdatedDate] = getDate()              
	WHERE PKID = @PKID  
		AND SCREENGROUPID <> 1                                
	end              
	else if( datediff( day, @PassLastUpd, getDate() ) > @PasswordExpiredInterval ) -- terakhir login > (30 hari yang lalu)            -- jika terakhir login > (30 hari yang lalu)              
	begin              
	-- set error status & message              
	set @ErrorStatus = @ErrorStatusPasswordIsExpired              
	set @ErrorMessage = 'Password is expired, please change password\n' +              
		'Password Expired Date: ' + CONVERT( varchar(50), DATEADD(day,@PasswordExpiredInterval,@PassLastUpd) ) + '\n' +                  
		'Last Password Changed: ' +  convert( varchar( 50 ), @PassLastUpd )              
         
	-- update password status jadi EXPIRED              
	UPDATE [dbo].[tblM_User]              
	SET  [IsPasswordExpired] = 1               
	,[PasswordExpiredDate] = dateadd(day,@PasswordExpiredInterval,[PasswordLastUpdatedDatetime])        
	,[UpdatedBy] = @PKID              
	,[UpdatedDate] = getDate()              
	WHERE PKID = @PKID                    
		AND SCREENGROUPID <> 1              
	end              
        
	if (@PassAttemptCounter>=@PasswordAttempt)        
	begin        
	-- set error status & message              
	set @ErrorStatus = @ErrorStatusPasswordLock              
	set @ErrorMessage = @ErrorMessagePasswordLocked              
        
	-- update user status jadi EXPIRED              
	UPDATE [dbo].[tblM_User]              
	SET  [IsUserLocked] = 1               
	,[UpdatedBy] = @PKID              
	,[UpdatedDate] = getDate()              
	WHERE PKID = @PKID              
		AND SCREENGROUPID <> 1              
	end        
        
	/*      
	-- select results ----> used in .NET Websites              
	select @ErrorStatus [ErrorStatus],              
	@ErrorMessage [ErrorMessage],              
	@LastLoginDate [LastLoginDate],              
	@PasswordExpiredInterval [ChangePasswordInterval]              
        
	-- for debug only              
	print @ErrorStatus              
	print @ErrorMessage       
	*/             
END 

GO
