USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_AC_BMAHEADERPENDING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_AC_BMAHEADERPENDING]
(  
 @PKID bigint = 0
)  
AS  
BEGIN
	
	DECLARE @SPPI_CLASS_NEW VARCHAR(1000);
	DECLARE @SPPI_CLASS_OLD VARCHAR(1000);
	DECLARE @SPPI_CLASS_NEW_TEMP VARCHAR(1000);
	DECLARE @SPPI_CLASS_OLD_TEMP VARCHAR(1000);
	
	CREATE TABLE #TABLE_NEW
	(
	  SPPI_CLASS VARCHAR(MAX)
	)
	 
	CREATE TABLE #TABLE_OLD
	(
	  SPPI_CLASS VARCHAR(MAX)
	) 
	
	SELECT @SPPI_CLASS_NEW_TEMP = SPPI_CLASS FROM IFRS_AC_BM_HEADER_PENDING WHERE PKID = @PKID  

    SELECT @SPPI_CLASS_OLD_TEMP = SPPI_CLASS_OLD FROM IFRS_AC_BM_HEADER_PENDING WHERE PKID = @PKID
	
	INSERT INTO #TABLE_NEW
	SELECT
		CLASSNAME
	FROM IFRS_AC_SPPI_HEADER
	WHERE PKID IN (SELECT CAST(VALUE AS INT) FROM STRING_SPLIT(@SPPI_CLASS_NEW_TEMP	,','))
		AND IS_DELETE = 0
	
	INSERT INTO #TABLE_OLD
	SELECT
		CLASSNAME
	FROM IFRS_AC_SPPI_HEADER
	WHERE PKID IN (SELECT CAST(VALUE AS INT) FROM STRING_SPLIT(@SPPI_CLASS_OLD_TEMP	,','))
		AND IS_DELETE = 0

	SELECT @SPPI_CLASS_NEW = STUFF((SELECT ', ' + SPPI_CLASS FROM #TABLE_NEW FOR XML PATH('')),1,2,'')

	SELECT @SPPI_CLASS_OLD = STUFF((SELECT ', ' + SPPI_CLASS FROM #TABLE_OLD FOR XML PATH('')),1,2,'')

	SELECT
		KET,
		NEWVALUE,
		OLDVALUE,
		ACTION
	FROM
	(
		SELECT
			'BM Classification :' AS KET,
			BM_NAME AS NEWVALUE,
			BM_NAME_OLD AS OLDVALUE,
			PKID,
			ACTION
		FROM IFRS_AC_BM_HEADER_PENDING WHERE PKID = @PKID
		
		UNION ALL
		SELECT
			'SPPI Classification :' AS KET,
			--(SELECT CLASSNAME FROM IFRS_AC_SPPI_HEADER WHERE PKID IN (SELECT CAST(VALUE AS INT) FROM STRING_SPLIT(A.SPPI_CLASS,','))) SPPI_CLASS
			@SPPI_CLASS_NEW AS NEWVALUE,
			--(SELECT CLASSNAME FROM IFRS_AC_SPPI_HEADER WHERE PKID = A.SPPI_CLASS_OLD) 
			@SPPI_CLASS_OLD AS OLDVALUE,
			A.PKID,
			ACTION 
		FROM IFRS_AC_BM_HEADER_PENDING A WHERE PKID = @PKID
		
		UNION ALL
		SELECT
			'Created Date :' AS KET,
			CONVERT(VARCHAR(20),ISNULL(UPDATEDDATE,CREATEDDATE),113) AS NEWVALUE,
			(SELECT CONVERT(VARCHAR(20),ISNULL(UPDATEDDATE,CREATEDDATE),113) FROM IFRS_AC_BM_HEADER WHERE PKID = PKID_OLD) AS OLDVALUE,
			PKID,
			ACTION
		FROM IFRS_AC_BM_HEADER_PENDING WHERE PKID = @PKID
		
		UNION ALL
		SELECT
			'BM Result :' AS KET,
			CASE BM_RSLT
				WHEN 'AFS' THEN 'Hold to Collect and Sell'
				WHEN 'HTM' THEN 'Hold to Collect'
				WHEN 'TRADE' THEN 'Others'
			END AS NEWVALUE,
			CASE BM_RSLT_OLD
				WHEN 'AFS' THEN 'Hold to Collect and Sell'
				WHEN 'HTM' THEN 'Hold to Collect'
				WHEN 'TRADE' THEN 'Others'
			END AS OLDVALUE,
			PKID,
			ACTION
		FROM IFRS_AC_BM_HEADER_PENDING WHERE PKID = @PKID

		UNION ALL
		SELECT
			'Remarks :' AS KET,
			REMARKS AS NEWVALUE,
			REMARKS_OLD AS OLDVALUE,
			PKID,
			ACTION
		FROM IFRS_AC_BM_HEADER_PENDING WHERE PKID = @PKID
	)A WHERE A.PKID = @PKID
	
	DROP TABLE #TABLE_NEW
	DROP TABLE #TABLE_OLD
END
GO
