USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_PAYM_SCHD_SRC]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_PAYM_SCHD_SRC]  
AS      
DECLARE @V_CALC_IDAYS INT = 1       
  ,@V_CURRDATE DATE   
  ,@V_PREVDATE DATE       
  ,@PARAM_CALC_TO_LASTPAYMENT INT    
  ,@V_PARAM_EIR_THRESHOLD INT = 0    
  ,@V_PARAM_INT_THRESHOLD INT = 0    
BEGIN  
   
  SELECT @V_PARAM_EIR_THRESHOLD = COMMONUSAGE    
  FROM TBLM_COMMONCODEHEADER     
  WHERE COMMONCODE = 'SCM009'                         
   
  SELECT @V_PARAM_INT_THRESHOLD = COMMONUSAGE    
  FROM TBLM_COMMONCODEHEADER     
  WHERE COMMONCODE = 'SCM015'   
      
DECLARE  @TMP1 TABLE  (MASTERID VARCHAR(100))       
 ---- INTEREST CALCULATION CODE = 6 ===> 30 /360       
 ---- O  =  30  
 ---- 1  =  WITH FUCTION FN_CNT_DAYS_30_360 (COUNTER 1 ALWAYS ACTUAL)   
   
 SELECT @V_CURRDATE = CURRDATE   
  ,@V_PREVDATE = PREVDATE   
 FROM IFRS_PRC_DATE_AMORT;   
       
  SELECT @V_CALC_IDAYS = COMMONUSAGE    
 FROM TBLM_COMMONCODEHEADER     
 WHERE COMMONCODE = 'SCM002'   
       
  SELECT @PARAM_CALC_TO_LASTPAYMENT = CASE    
   WHEN COMMONUSAGE = 'Y'   
    THEN 1   
   ELSE 0   
   END   
 FROM TBLM_COMMONCODEHEADER   
 WHERE COMMONCODE = 'SCM005'   
    
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'START', 'SP_IFRS_PAYM_SCHD_SRC', 'DELETE IFRS_PAYM_SCHD'   
   
 /*******   DELETE IFRS_PAYM_SCHD  *******/   
  DELETE       
  FROM IFRS_PAYM_SCHD       
  WHERE  DOWNLOAD_DATE = @V_CURRDATE  
  AND MASTERID IN   
  (   
 SELECT DISTINCT MASTERID    
 FROM IFRS_STG_PAYM_SCHD (NOLOCK)      
    WHERE DOWNLOAD_DATE = @V_CURRDATE   
   )     
      
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'END', 'SP_IFRS_PAYM_SCHD_SRC', 'DELETE IFRS_PAYM_SCHD'     
       
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'START', 'SP_IFRS_PAYM_SCHD_SRC', 'RESET HISTORY'   
   
/*******   RESET HISTORY  *******/   
  DELETE   
  FROM [DBO].[IFRS_PAYM_SCHD_ALL]   
  WHERE DOWNLOAD_DATE >= @V_CURRDATE   
           
  UPDATE [DBO].[IFRS_PAYM_SCHD_ALL]   
  SET STATUS = 'A'           
   ,END_DATE = NULL   
  WHERE END_DATE >= @V_CURRDATE       
                          
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'END', 'SP_IFRS_PAYM_SCHD_SRC', 'RESET HISTORY'     
    
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'START', 'SP_IFRS_PAYM_SCHD_SRC', 'UPDATE STATUS TO CLOSE'   
   
 /*******   UPDATE STATUS TO CLOSE  *******/  
  DELETE FROM @TMP1      
  INSERT INTO @TMP1 (MASTERID)   
  SELECT DISTINCT MASTERID   
  FROM [DBO].[IFRS_PAYM_SCHD] (NOLOCK)   
  WHERE DOWNLOAD_DATE = @V_CURRDATE   
  ORDER BY MASTERID ASC   
   
  UPDATE [DBO].[IFRS_PAYM_SCHD_ALL]   
  SET STATUS = 'C'   
   ,END_DATE = @V_CURRDATE   
   ,CREATED_DATE = GETDATE()   
  WHERE MASTERID IN (   
    SELECT MASTERID   
    FROM @TMP1   
    )   
   AND END_DATE IS NULL   
       
       
    /*******   UPDATE STATUS TO CLOSE  *******/       
  DELETE FROM @TMP1  
  INSERT INTO @TMP1 (MASTERID)   
  SELECT DISTINCT MASTERID   
  FROM [DBO].[IFRS_STG_PAYM_SCHD] (NOLOCK)  
  WHERE DOWNLOAD_DATE = @V_CURRDATE   
  ORDER BY MASTERID ASC   
  
  UPDATE [DBO].[IFRS_PAYM_SCHD_ALL]   
  SET STATUS = 'C'   
   ,END_DATE = @V_CURRDATE   
   ,CREATED_DATE = GETDATE()   
  WHERE MASTERID IN (   
    SELECT MASTERID   
    FROM @TMP1   
    )   
   AND END_DATE IS NULL     
      
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'END', 'SP_IFRS_PAYM_SCHD_SRC', 'UPDATE STATUS TO CLOSE'    
    
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'START', 'SP_IFRS_PAYM_SCHD_SRC', 'INSERT INTO HISTORY'       
       
 /*******   INSERT INTO HISTORY  *******/  
       
  INSERT INTO [DBO].[IFRS_PAYM_SCHD_ALL] (   
    [DOWNLOAD_DATE]   
   ,[MASTERID]   
   ,[PMTDATE]   
   ,[INTEREST_RATE]   
   ,[OSPRN]   
   ,[PRINCIPAL]   
   ,[INTEREST]  
   ,[DISB_PERCENTAGE]   
   ,[DISB_AMOUNT]   
   ,[PLAFOND]   
   ,[I_DAYS]                     
   ,[COUNTER]   
   ,[ICC]   
   ,[OUTSTANDING]   
   ,[SOURCE_PROCESS]   
   ,[SCH_FLAG]            
   ,[GRACE_DATE]   
   ,[STATUS]   
   ,[CREATED_DATE]   
   )   
  SELECT [DOWNLOAD_DATE]   
   ,[MASTERID]                    
   ,[PMTDATE]   
   ,[INTEREST_RATE]   
   ,[OSPRN]   
   ,[PRINCIPAL]   
   ,[INTEREST]   
   ,[DISB_PERCENTAGE]   
 ,[DISB_AMOUNT]   
   ,[PLAFOND]   
   ,[I_DAYS]   
   ,[COUNTER]   
   ,[ICC]   
   ,[OUTSTANDING]   
   ,[SOURCE_PROCESS]   
,[SCH_FLAG]   
   ,[GRACE_DATE]   
   ,'A'   
   ,GETDATE()   
  FROM [DBO].[IFRS_PAYM_SCHD] (NOLOCK)   
  WHERE DOWNLOAD_DATE = @V_CURRDATE     
    
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_PAYM_SCHD_SRC', 'INSERT INTO HISTORY 1'     
       
  INSERT INTO [DBO].[IFRS_PAYM_SCHD_ALL]       
  (       
     [DOWNLOAD_DATE]                        
    ,[MASTERID]       
    ,[PMTDATE]       
    ,[INTEREST_RATE]       
    ,[OSPRN]       
    ,[PRINCIPAL]       
    ,[INTEREST]       
    ,[DISB_PERCENTAGE]       
    ,[DISB_AMOUNT]       
    ,[PLAFOND]       
    ,[I_DAYS]       
    ,[COUNTER]       
    ,[ICC]       
    ,[OUTSTANDING]       
    ,[SOURCE_PROCESS]       
    ,[SCH_FLAG]       
    ,[GRACE_DATE]       
    ,[STATUS]   
    ,[CREATED_DATE]  
  )       
  SELECT A.DOWNLOAD_DATE   
   ,A.[MASTERID]       
   ,A.[PMTDATE] [PMT_DATE]       
   ,B.INTEREST_RATE [INTEREST_RATE]       
   ,A.[OSPRN]       
   ,A.[PRINCIPAL]       
   ,A.[INTEREST]       
   ,0.000000 [DISB_PERCENTAGE]       
 ,0.000000 [DISB_AMOUNT]       
   ,B.PLAFOND [PLAFOND]       
   ,CASE  
    WHEN B.INTEREST_CALCULATION_CODE = 6       
     THEN CASE  
       WHEN @V_CALC_IDAYS = 0       
        THEN CASE  
          WHEN (       
            ROW_NUMBER() OVER (PARTITION BY A.MASTERID ORDER BY PMTDATE) - 1) = 1       
           THEN CASE  
             WHEN DATEDIFF(MONTH, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE) = 0       
             THEN 30       
             ELSE DATEDIFF(MONTH, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE) * 30       
        END       
          ELSE DATEDIFF(MONTH, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE) * 30       
          END       
       WHEN @V_CALC_IDAYS = 1       
        THEN DBO.FN_CNT_DAYS_30_360(ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE)       
       ELSE DBO.FN_CNT_DAYS_30_360(ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE)       
       END       
    ELSE ISNULL(DATEDIFF(DAY, ISNULL(LAG(A.PMTDATE) OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY A.PMTDATE), A.PMTDATE), A.PMTDATE),0)       
    END [I_DAYS]       
   ,(ROW_NUMBER() OVER (PARTITION BY A.DOWNLOAD_DATE,A.MASTERID ORDER BY PMTDATE)) [COUNTER]       
   ,B.INTEREST_CALCULATION_CODE [ICC]       
   ,B.OUTSTANDING [OUTSTANDING]       
   ,'DWH' [SOURCE_PROCESS]       
   ,'Y'  [SCH_FLAG]                
   ,NULL [GRACE_DATE]       
   ,'A'  [STATUS]   
   ,GETDATE() [CREATED_DATE]  
  FROM IFRS_STG_PAYM_SCHD A (NOLOCK)      
  INNER JOIN IFRS_IMA_AMORT_CURR B (NOLOCK) ON A.MASTERID = B.MASTERID       
  AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE       
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE       
                
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_PAYM_SCHD_SRC', 'INSERT INTO HISTORY 2'    
       
  /*******  INSERT TO AMORTISASI  *******/  
  INSERT INTO [DBO].[IFRS_PAYM_SCHD]       
   ([DOWNLOAD_DATE]       
      ,[MASTERID]       
      ,[PMTDATE]                               
      ,[INTEREST_RATE]       
      ,[OSPRN]       
      ,[PRINCIPAL]       
      ,[INTEREST]       
      ,[DISB_PERCENTAGE]       
      ,[DISB_AMOUNT]       
      ,[PLAFOND]       
      ,[I_DAYS]       
      ,[COUNTER]       
      ,[ICC]       
      ,[OUTSTANDING]       
      ,[SOURCE_PROCESS]       
      ,[SCH_FLAG]       
      ,[GRACE_DATE])       
   SELECT  
    @V_CURRDATE   
      ,A.[MASTERID]       
      ,A.[PMTDATE]       
      ,A.[INTEREST_RATE]       
      ,A.[OSPRN]       
      ,A.[PRINCIPAL]       
      ,A.[INTEREST]       
      ,A.[DISB_PERCENTAGE]       
      ,A.[DISB_AMOUNT]          
      ,A.[PLAFOND]       
      ,A.[I_DAYS]    
      ,A.[COUNTER]       
      ,A.[ICC]       
      ,A.[OUTSTANDING]       
      ,A.[SOURCE_PROCESS]       
      ,A.[SCH_FLAG]       
      ,A.[GRACE_DATE]       
  FROM IFRS_PAYM_SCHD_ALL A (NOLOCK)       
  INNER JOIN IFRS_IMA_AMORT_CURR B (NOLOCK)       
  ON A.MASTERID = B.MASTERID AND A.STATUS = 'A'       
  LEFT JOIN IFRS_PAYM_SCHD C (NOLOCK)       
  ON A.MASTERID = C.MASTERID AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE       
  WHERE  C.MASTERID IS NULL AND B.ECF_STATUS = 'Y'       
  AND A.PMTDATE > @V_CURRDATE    
       
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_PAYM_SCHD_SRC', 'INSERT INTO AMORT'       
       
  DECLARE @TMP3 TABLE       
 (   
 DOWNLOAD_DATE DATE,   
 MASTERID VARCHAR(100),    
 START_AMORTIZATION_DATE  DATE   
 )   
                    
--- GET LAST PAYM DATE TEMP----      
DROP TABLE IF EXISTS #SCHD1       
SELECT MASTERID, MAX(PMTDATE)  AS LAST_PAYMENT_DATE_PYM      
INTO #SCHD1       
FROM IFRS_PAYM_SCHD_ALL (NOLOCK)      
WHERE PMTDATE <= @V_CURRDATE      
GROUP BY MASTERID      
    
--- GET NEXT PAYM DATE TEMP----      
DROP TABLE IF EXISTS #SCHD2      
SELECT MASTERID, MIN(PMTDATE)  AS NEXT_PAYMENT_DATE_PYM      
INTO #SCHD2       
FROM IFRS_PAYM_SCHD_ALL (NOLOCK)      
WHERE PMTDATE > @V_CURRDATE      
GROUP BY MASTERID      
      
------------ UPDATE LAST PAYMENT DATE ---------------------      
      
UPDATE A SET A.LAST_PAYMENT_DATE = B.LAST_PAYMENT_DATE_PYM      
FROM IFRS_IMA_AMORT_CURR A (NOLOCK)      
JOIN #SCHD1 B      
ON A.MASTERID = B.MASTERID      
WHERE A.DOWNLOAD_DATE = @V_CURRDATE      
      
UPDATE A SET A.LAST_PAYMENT_DATE = B.LAST_PAYMENT_DATE_PYM      
FROM IFRS_MASTER_ACCOUNT A (NOLOCK)      
JOIN #SCHD1 B      
ON A.MASTERID = B.MASTERID      
WHERE A.DOWNLOAD_DATE = @V_CURRDATE      
------------ UPDATE LAST PAYMENT DATE ---------------------      
      
------------ UPDATE NEXT PAYMENT DATE ---------------------      
      
UPDATE A SET A.NEXT_PAYMENT_DATE = B.NEXT_PAYMENT_DATE_PYM      
FROM IFRS_IMA_AMORT_CURR A (NOLOCK)      
JOIN #SCHD2 B      
ON A.MASTERID = B.MASTERID      
WHERE A.DOWNLOAD_DATE = @V_CURRDATE      
      
UPDATE A SET A.NEXT_PAYMENT_DATE = B.NEXT_PAYMENT_DATE_PYM      
FROM IFRS_MASTER_ACCOUNT A (NOLOCK)      
JOIN #SCHD2 B      
ON A.MASTERID = B.MASTERID      
WHERE A.DOWNLOAD_DATE = @V_CURRDATE      
------------ UPDATE NEXT PAYMENT DATE ---------------------      
                           
 DELETE FROM @TMP3       
 INSERT INTO @TMP3       
 SELECT PMA.DOWNLOAD_DATE,PMA.MASTERID,CASE    
    WHEN @PARAM_CALC_TO_LASTPAYMENT = 0   
  THEN @V_CURRDATE   
    ELSE  
 CASE    
   WHEN PYM.MASTERID IS NOT NULL   
    THEN PYM.LAST_PAYMENT_DATE_PYM   
   ELSE CASE    
     WHEN ISNULL(PMA.LAST_PAYMENT_DATE, PMA.LOAN_START_DATE) <=  PMA.LOAN_START_DATE      
   THEN  PMA.LOAN_START_DATE   
     WHEN PMV.MASTERID IS NULL   
   THEN PMA.LOAN_START_DATE   
     ELSE CASE    
    WHEN PMA.LAST_PAYMENT_DATE >= ISNULL(PMA.LOAN_END_AMORTIZATION, PMA.LOAN_DUE_DATE)     
     THEN DATEADD(MONTH, - 1, ISNULL(PMA.LOAN_END_AMORTIZATION, PMA.LOAN_DUE_DATE))  
    ELSE PMA.LAST_PAYMENT_DATE   
    END   
     END   
   END   
    END START_AMORTIZATION_DATE   
    FROM IFRS_MASTER_ACCOUNT AS PMA (NOLOCK)   
   INNER JOIN IFRS_IMA_AMORT_CURR PMC (NOLOCK)   
  ON PMA.MASTERID = PMC.MASTERID AND PMA.DOWNLOAD_DATE = PMC.DOWNLOAD_DATE       
   LEFT JOIN IFRS_IMA_AMORT_PREV PMV (NOLOCK)   
  ON PMC.MASTERID = PMV.MASTERID AND PMV.DOWNLOAD_DATE = @V_PREVDATE   
   LEFT JOIN #SCHD1 PYM ON PYM.MASTERID = PMA.MASTERID   
   WHERE PMA.DOWNLOAD_DATE = @V_CURRDATE   
   AND PMC.ECF_STATUS = 'Y'   
   AND PMA.ACCOUNT_STATUS = 'A'                          
   AND PMA.IAS_CLASS IN ('A', 'O')  
   AND PMA.LOAN_DUE_DATE > @V_CURRDATE   
   AND PMA.AMORT_TYPE = 'EIR'   
       
   --DELETE TOP       
   DELETE FROM IFRS_PAYM_SCHD       
   WHERE PMTDATE <= @V_CURRDATE       
       
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_PAYM_SCHD_SRC', 'DELETE IFRS_PAYM_SCHD BEFORE'      
   
   --DELETE BOTTOM       
   DELETE A       
   FROM IFRS_PAYM_SCHD A       
   INNER JOIN  
  (SELECT MASTERID, MIN(PMTDATE) AS MAX_PMTDATE    
  FROM IFRS_PAYM_SCHD (NOLOCK)   
  WHERE OSPRN = 0 GROUP BY MASTERID) B       
  ON A.MASTERID = B.MASTERID       
  AND A.PMTDATE > B.MAX_PMTDATE    
                               
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_PAYM_SCHD_SRC', 'DELETE IFRS_PAYM_SCHD AFTER'       
       
 --INSERT INITIAL       
   INSERT INTO [DBO].[IFRS_PAYM_SCHD]       
   ([DOWNLOAD_DATE]       
    ,[MASTERID]       
    ,[PMTDATE]       
    ,[INTEREST_RATE]       
    ,[OSPRN]       
    ,[PRINCIPAL]       
    ,[INTEREST]       
 ,[DISB_PERCENTAGE]       
    ,[DISB_AMOUNT]       
    ,[PLAFOND]       
    ,[I_DAYS]       
    ,[COUNTER]       
    ,[ICC]       
    ,[OUTSTANDING]       
    ,[SOURCE_PROCESS]       
    ,[SCH_FLAG]       
    ,[GRACE_DATE])       
  SELECT  
     A.[DOWNLOAD_DATE]       
    ,A.[MASTERID]   
 ,C.START_AMORTIZATION_DATE [PMTDATE]       
    ,A.[INTEREST_RATE]       
    ,(A.[OSPRN]  +  A.[PRINCIPAL] ) AS OSPRN       
    ,0.000000 AS [PRINCIPAL]       
    ,0.000000 AS [INTEREST]       
    ,0.000000 AS [DISB_PERCENTAGE]       
    ,(A.[OSPRN]  +  A.[PRINCIPAL] ) AS [DISB_AMOUNT]       
    ,A.[PLAFOND]       
    ,0 AS [I_DAYS]       
    ,0 AS [COUNTER]       
    ,A.[ICC]       
    ,A.[OUTSTANDING]       
    ,A.[SOURCE_PROCESS]       
    ,A.[SCH_FLAG]       
    ,A.[GRACE_DATE]                              
   FROM IFRS_PAYM_SCHD A (NOLOCK)   
   INNER JOIN IFRS_IMA_AMORT_CURR B (NOLOCK) ON A.MASTERID = B.MASTERID  AND B.ECF_STATUS = 'Y'       
   INNER JOIN @TMP3 C ON A.MASTERID = C.MASTERID AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE       
   INNER JOIN  
   (   
 SELECT MASTERID, MIN(COUNTER) COUNTER   
 FROM IFRS_PAYM_SCHD (NOLOCK)  
 GROUP BY MASTERID   
   )D ON A.MASTERID = D.MASTERID AND A.COUNTER = D.COUNTER      
      
     
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_PAYM_SCHD_SRC', 'INSERT INITIAL'     
       
  DECLARE @TMP4 TABLE       
  (                             
 DOWNLOAD_DATE DATE,   
 MASTERID VARCHAR(100),                               
 EXPECTED_DATE DATE   
  )       
       
              
 DELETE FROM @TMP4       
 INSERT INTO @TMP4       
 SELECT A.DOWNLOAD_DATE,A.MASTERID,       
 CASE WHEN TENOR_TYPE = 'E' AND DATEADD(MONTH,B.EXPECTED_LIFE,A.LOAN_START_DATE) > @V_CURRDATE --ADDED FOR EXPECTED DATE ALREADY PAST CURRENT DATE     
 THEN DATEADD(MONTH,B.EXPECTED_LIFE,A.LOAN_START_DATE)      
  ELSE A.LOAN_DUE_DATE END AS EXPECTED_DATE       
 FROM IFRS_IMA_AMORT_CURR A (NOLOCK)   
 LEFT JOIN IFRS_PRODUCT_PARAM B (NOLOCK)   
 ON (A.PRODUCT_CODE = B.PRD_CODE OR B.PRD_CODE = 'ALL')       
     AND (A.CURRENCY = B.CCY OR B.CCY = 'ALL')       
 WHERE A.ECF_STATUS = 'Y'       
       
 --INSERT PAYM_CORE_SRC       
 TRUNCATE TABLE IFRS_PAYM_CORE_SRC       
       
 INSERT INTO IFRS_PAYM_CORE_SRC (   
    MASTERID   
   ,PREV_PMT_DATE   
   ,PMT_DATE   
,INTEREST_RATE   
   ,I_DAYS   
   ,PRN_AMT   
   ,INT_AMT   
   ,DISB_PERCENTAGE   
   ,DISB_AMOUNT   
   ,PLAFOND                             
   ,OS_PRN_PREV   
   ,OS_PRN   
   ,COUNTER   
   ,ICC   
   ,GRACE_DATE   
   )    
 SELECT                       
    SCH.MASTERID    
   ,ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE)   
   ,SCH.PMTDATE   
   ,SCH.INTEREST_RATE   
   ,--SCH.I_DAYS       
    CASE  
   WHEN SCH.ICC  = 6       
     THEN CASE  
       WHEN @V_CALC_IDAYS = 0       
        THEN CASE  
          WHEN (       
  ROW_NUMBER() OVER (PARTITION BY SCH.MASTERID ORDER BY PMTDATE) - 1) = 1        
           THEN CASE  
             WHEN DATEDIFF(MONTH, ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE) = 0 THEN 30       
             ELSE DATEDIFF(MONTH, ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE) * 30       
             END       
          ELSE DATEDIFF(MONTH, ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE) * 30       
          END       
       WHEN @V_CALC_IDAYS = 1       
        THEN DBO.FN_CNT_DAYS_30_360(ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE)       
       ELSE DBO.FN_CNT_DAYS_30_360(ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE)       
       END       
    ELSE ISNULL(DATEDIFF(DAY, ISNULL(LAG(SCH.PMTDATE) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.PMTDATE), SCH.PMTDATE),0)       
    END [I_DAYS]     
   ,CASE  
  WHEN SCH.COUNTER = MAX(SCH.COUNTER) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID)       
  THEN  LAG(SCH.OSPRN) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID ORDER BY SCH.PMTDATE)   
  ELSE SCH.PRINCIPAL  END NEW_PRINCIPAL   
   , SCH.INTEREST  AS INTEREST  
   ,SCH.DISB_PERCENTAGE   
   ,SCH.DISB_AMOUNT AS DISB_AMOUNT   
   ,SCH.PLAFOND   
   ,ISNULL(LAG(SCH.OSPRN) OVER (PARTITION BY SCH.MASTERID ORDER BY SCH.PMTDATE), SCH.OSPRN)   
   ,CASE    
  WHEN SCH.COUNTER = MAX(SCH.COUNTER) OVER (PARTITION BY SCH.DOWNLOAD_DATE,SCH.MASTERID)       
  THEN  0  ELSE  SCH.OSPRN  END OSPRN   
   ,  (ROW_NUMBER () OVER (PARTITION BY SCH.MASTERID ORDER BY SCH.PMTDATE) -1)   COUNTER  
   ,SCH.ICC   
   ,SCH.GRACE_DATE       
 FROM IFRS_PAYM_SCHD SCH (NOLOCK)       
 INNER JOIN  @TMP4 B       
 ON  SCH.MASTERID = B.MASTERID  
 /*LEFT JOIN (   
   SELECT DISTINCT MASTERID   
   FROM IFRS_EXCEPTION_DETAILS (NOLOCK)   
   WHERE EXCEPTION_CODE = 'V-2'   
    AND DOWNLOAD_DATE = @V_CURRDATE   
   ) EX ON SCH.MASTERID = EX.MASTERID   REMARK BY SAID TUNING BTPN  
 WHERE EX.MASTERID IS NULL AND */                            
 WHERE  SCH.PMTDATE <= B.EXPECTED_DATE       
    
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_PAYM_SCHD_SRC', 'INSERT IFRS_SCHD_PAYM_CORE'    
   
   
                           
   
   --- UPDATE PAYM SRC TO CUT INTEREST AT EVENT DATE   
    IF @PARAM_CALC_TO_LASTPAYMENT = 0      
    BEGIN      
        IF OBJECT_ID ('TEMPDB.DBO.#LAST_PAYM_DATE') IS NOT NULL DROP TABLE #LAST_PAYM_DATE    
            
        SELECT DOWNLOAD_DATE,MASTERID,   
        CASE WHEN ISNULL(LAST_PAYMENT_DATE,'1900-01-01') = '1900-01-01' THEN LOAN_START_DATE ELSE LAST_PAYMENT_DATE END AS LAST_PAYM_DATE,    
        NEXT_PAYMENT_DATE      
        INTO #LAST_PAYM_DATE    
        FROM IFRS_IMA_AMORT_CURR   
     
        UPDATE A     
        SET INT_AMT =    
        CASE WHEN A.ICC IN ('1','2')    
        THEN OS_PRN_PREV * CAST(A.I_DAYS AS FLOAT)  * INTEREST_RATE / CASE WHEN A.ICC = 1 THEN 36000 ELSE 36500 END --(CAST(A.I_DAYS AS FLOAT)/CAST(CASE WHEN DATEDIFF(DAY,LAST_PAYM_DATE,NEXT_PAYMENT_DATE) = 0 THEN 1 ELSE     DATEDIFF   (DAY,LAST_PAYM_DATE,NEXT_PAYMENT_DATE) END AS FLOAT)) * INT_AMT                
        ELSE (CAST(A.I_DAYS AS FLOAT)/CAST([DBO].[FN_CNT_DAYS_30_360] (LAST_PAYM_DATE, NEXT_PAYMENT_DATE)   AS   FLOAT)) * INT_AMT END                    
        FROM IFRS_PAYM_CORE_SRC A (NOLOCK)   
        INNER JOIN #LAST_PAYM_DATE B ON A.MASTERID = B.MASTERID     
        WHERE A.[COUNTER] = 1   AND RIGHT(A.MASTERID,3) NOT IN   (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE  COMMONCODE = 'SCM010' )  
    END      
    --- END UPDATE PAYM SRC TO CUT INTEREST AT EVENT DATE          
       
 UPDATE A   
 SET I_DAYS = CASE WHEN  DATEDIFF(MONTH,@V_CURRDATE,NEXT_PAYMENT_DATE)-1 >= VALUE2       
    THEN CASE WHEN A.ICC IN ('1','2') THEN DATEDIFF(DAY,DATEADD(MONTH,B.VALUE2*-1,A.PMT_DATE),A.PMT_DATE)   
      ELSE 30*VALUE2 END       
    ELSE I_DAYS END ,       
 INT_AMT =  CASE WHEN  DATEDIFF(MONTH,@V_CURRDATE,NEXT_PAYMENT_DATE)-1 < VALUE2       
     THEN     CASE WHEN A.ICC IN ('1','2')    
        THEN (CAST(A.I_DAYS AS FLOAT)/CAST(CASE WHEN DATEDIFF(DAY,LAST_PAYM_DATE,NEXT_PAYMENT_DATE) = 0 THEN 1 ELSE DATEDIFF(DAY,LAST_PAYM_DATE,NEXT_PAYMENT_DATE) END AS FLOAT)) * INT_AMT                
        ELSE (CAST(A.I_DAYS AS FLOAT)/CAST(((([DBO].[FN_CNT_DAYS_30_360] (LAST_PAYM_DATE, NEXT_PAYMENT_DATE)-1)/30)+1)*30 AS FLOAT)) * INT_AMT END         
    ELSE INT_AMT END                 
 FROM IFRS_PAYM_CORE_SRC A    
 INNER JOIN (SELECT * FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'SCM010') B ON RIGHT(A.MASTERID,3)  = VALUE1         
 LEFT JOIN #LAST_PAYM_DATE C ON A.MASTERID = C.MASTERID      
 WHERE A.[COUNTER] = 1        
      
 UPDATE A   
 SET I_DAYS = CASE WHEN A.ICC IN ('1','2') THEN DATEDIFF(DAY,DATEADD(MONTH,B.VALUE2*-1,A.PMT_DATE),A.PMT_DATE)   
    ELSE 30*VALUE2 END                              
 FROM IFRS_PAYM_CORE_SRC A    
 INNER JOIN (SELECT * FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'SCM010') B ON RIGHT(A.MASTERID,3)  = VALUE1         
 LEFT JOIN #LAST_PAYM_DATE C ON A.MASTERID = C.MASTERID      
 WHERE A.[COUNTER] >= 2         
      
 /*      
  ----  UPDATE FOR PCN PRODUCT GRACE PERIOD BTPN           
   UPDATE A     
 SET INT_AMT =    
 CASE WHEN A.ICC IN ('1','2')    
 THEN (CAST(A.I_DAYS AS FLOAT)/CAST(CASE WHEN DATEDIFF(DAY,LAST_PAYM_DATE,NEXT_PAYMENT_DATE) = 0 THEN 1 ELSE DATEDIFF(DAY,LAST_PAYM_DATE,NEXT_PAYMENT_DATE) END AS FLOAT)) * INT_AMT                
 ELSE (CAST(A.I_DAYS AS FLOAT)/CAST(((([DBO].[FN_CNT_DAYS_30_360] (LAST_PAYM_DATE, NEXT_PAYMENT_DATE)-1)/30)+1)*30 AS FLOAT)) * INT_AMT END                    
 FROM IFRS_PAYM_CORE_SRC A (NOLOCK)   
 INNER JOIN #LAST_PAYM_DATE B ON A.MASTERID = B.MASTERID     
 WHERE A.[COUNTER] = 1   AND RIGHT(A.MASTERID,3)  IN   (SELECT DISTINCT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'SCM010' )  
 END                      
                       
-- WHERE I_DAYS > 30   
  --- END  UPDATE FOR PCN BTPN                               
  */                               
   
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'DEBUG', 'SP_IFRS_PAYM_SCHD_SRC', 'CUT INTEREST ON EVENT DATE'    
   
                              
 TRUNCATE TABLE TMP_T1     
     
 INSERT INTO TMP_T1 (MASTERID)     
 SELECT MASTERID     
 FROM IFRS_PAYM_SCHD (NOLOCK)             
 WHERE DOWNLOAD_DATE = @V_CURRDATE     
 GROUP BY MASTERID                         
            
     
 UPDATE IFRS_ACCT_COST_FEE     
 SET STATUS = 'FRZPYM'     
 WHERE DOWNLOAD_DATE = @V_CURRDATE     
 AND STATUS = 'ACT'     
 AND METHOD = 'EIR'     
 AND FLAG_AL = 'A'     
 AND MASTERID NOT IN (SELECT MASTERID FROM TMP_T1)                         
                 
             
 TRUNCATE TABLE TMP_T2;            
     
 INSERT INTO TMP_T2 (MASTERID)     
 SELECT MASTERID     
 FROM IFRS_ACCT_COST_FEE (NOLOCK)   
 WHERE DOWNLOAD_DATE = @V_CURRDATE AND STATUS IN ('FRZPYM','FRZNF')     
 GROUP BY MASTERID                         
            
 -- KARENA HARUSNYA UPDATE CF STATUS DI SP_IFRS_ACCT_COST_FEE_STATUS, TAPI PENGECUALIAN UNTUK BTPN CASE 20180221              
 DELETE IFRS_ACCT_COST_FEE_SUMM                 
 WHERE MASTERID  IN (SELECT MASTERID FROM TMP_T2)                 
 AND DOWNLOAD_DATE = @V_CURRDATE                         
 -- UPDATE STATUS COST_FEE IF PAYM SCHEDULE NOT EXISTS (BTPN ONLY)  
   
 INSERT INTO IFRS_AMORT_LOG (DOWNLOAD_DATE, DTM, OPS, PROCNAME, REMARK)   
 SELECT @V_CURRDATE, GETDATE(), 'END', 'SP_IFRS_PAYM_SCHD_SRC', 'FRZPYM'  
  
 -- ADD BY RIS 20181218 | UPDATE COST_FEE TO PNL IF ABOVE EIR & INT THRESHOLD  
 SELECT DOWNLOAD_DATE, MASTERID, C, F  
 INTO #TRANS  
 FROM  
 (  
 SELECT DOWNLOAD_DATE, MASTERID, AMOUNT, FLAG_CF  
  FROM IFRS_ACCT_COST_FEE (NOLOCK)  
  WHERE DOWNLOAD_DATE = @V_CURRDATE AND FLAG_REVERSE = 'N'  
 ) D  
 PIVOT  
 (  
  SUM(AMOUNT)  
  FOR FLAG_CF IN (C, F)  
 ) PIV  
                      
 --SELECT SCHD.PMTDATE, SCHD.MASTERID, SCHD.OSPRN, TRANS.AMOUNT, (TRANS.AMOUNT/SCHD.OSPRN)*100 COUNTER, 'PNL' STATUS, 'ABS_EIR_THRESHOLD' CREATEDBY  
 UPDATE FEE  
 SET STATUS = 'PNL',  
  CREATEDBY = 'ABS_EIR_THRESHOLD'  
 FROM IFRS_ACCT_COST_FEE FEE  
 JOIN IFRS_PAYM_SCHD SCHD ON FEE.DOWNLOAD_DATE = SCHD.PMTDATE AND FEE.MASTERID = SCHD.MASTERID  
 JOIN  
 (  
  SELECT A.DOWNLOAD_DATE, A.MASTERID, ABS(C * C.RATE_AMOUNT - F * C.RATE_AMOUNT) AS AMOUNT, B.CURRENCY, C.RATE_AMOUNT  
  FROM  
  (  
   SELECT DOWNLOAD_DATE, MASTERID, ISNULL(C, 0) AS C, ISNULL(F, 0) AS F  
   FROM #TRANS  
  ) A  
  JOIN IFRS_IMA_AMORT_CURR B (NOLOCK) ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE  
  JOIN IFRS_MASTER_EXCHANGE_RATE C (NOLOCK) ON B.CURRENCY = C.CURRENCY AND B.DOWNLOAD_DATE = C.DOWNLOAD_DATE  
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE  
 ) TRANS  
 ON SCHD.PMTDATE = TRANS.DOWNLOAD_DATE AND SCHD.MASTERID = TRANS.MASTERID  
 WHERE SCHD.PMTDATE = @V_CURRDATE  
 AND (TRANS.AMOUNT/(SCHD.OSPRN * TRANS.RATE_AMOUNT))*100 > = @V_PARAM_EIR_THRESHOLD  
 AND FEE.STATUS = 'ACT'  
 -- END BY RIS 20181218 | UPDATE COST_FEE TO PNL IF ABOVE EIR THRESHOLD                      
                       
 --SELECT SCHD.MASTERID, TRANS.AMOUNT, INT_AMT_TRSHLD, 'PNL' STATUS, 'ABS_INT_THRESHOLD' CREATEDBY  
 UPDATE FEE  
 SET STATUS = 'PNL',  
  CREATEDBY = 'ABS_INT_THRESHOLD'            
 FROM IFRS_ACCT_COST_FEE FEE  
 JOIN                   
 (                  
 SELECT @V_CURRDATE AS DOWNLOAD_DATE, MASTERID, SUM(INT_AMT) AS INT_AMT, SUM(INT_AMT) * @V_PARAM_INT_THRESHOLD AS INT_AMT_TRSHLD                   
 FROM IFRS_PAYM_CORE_SRC                   
 GROUP BY MASTERID                  
 ) SCHD ON FEE.MASTERID = SCHD.MASTERID AND FEE.DOWNLOAD_DATE = SCHD.DOWNLOAD_DATE  
 JOIN  
 (  
  SELECT A.DOWNLOAD_DATE, A.MASTERID, ABS(C * C.RATE_AMOUNT - F * C.RATE_AMOUNT) AS AMOUNT, B.CURRENCY, C.RATE_AMOUNT  
  FROM  
  (  
   SELECT DOWNLOAD_DATE, MASTERID, ISNULL(C, 0) AS C, ISNULL(F, 0) AS F  
   FROM #TRANS  
  ) A  
  JOIN IFRS_IMA_AMORT_CURR B (NOLOCK) ON A.MASTERID = B.MASTERID AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE   AND B.INTEREST_RATE <> 0  
  JOIN IFRS_MASTER_EXCHANGE_RATE C (NOLOCK) ON B.CURRENCY = C.CURRENCY AND B.DOWNLOAD_DATE = C.DOWNLOAD_DATE  
  WHERE A.DOWNLOAD_DATE = @V_CURRDATE                            
 ) TRANS        
 ON FEE.DOWNLOAD_DATE = TRANS.DOWNLOAD_DATE AND FEE.MASTERID = TRANS.MASTERID                   
 WHERE FEE.DOWNLOAD_DATE = @V_CURRDATE  
 AND TRANS.AMOUNT >= (SCHD.INT_AMT_TRSHLD * TRANS.RATE_AMOUNT)                     
 AND FEE.STATUS = 'ACT'  
 -- END BY RIS 20190206 | UPDATE COST_FEE TO PNL IF ABOVE INT THRESHOLD    
       
END
GO
