USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPRDTYPE1BYINSTCLASS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPPRDTYPE1BYINSTCLASS]  
(  
 @INST_CLS_VALUE VARCHAR(10) = ''  
)  
AS  
BEGIN  
  
 SELECT DISTINCT PRD_TYPE_1 AS ASSET_TYPE_PRODUCT1,    
  PRD_TYPE_1 AS "Product Type 1"   
 FROM IFRS_MASTER_PRODUCT_PARAM  
 WHERE INST_CLS_VALUE = @INST_CLS_VALUE  
  
END  

GO
