USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_PD_CHR_GAMMA_DIST]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_IFRS_IMPCR_PD_CHR_GAMMA_DIST]   
@DOWNLOAD_DATE DATE = '',  
@RULE_ID BIGINT = 0   
AS    
    DECLARE @V_CURRDATE DATE  
    DECLARE @V_PREVDATE DATE  
    DECLARE @V_PREVMONTH DATE   
    DECLARE @LAST_YEAR DATE  
    DECLARE @PD_RULE_ID INT    
    DECLARE @EXEC_R_SCRIPT varchar(2000)     
    DECLARE @R_PATH varchar(1000)  =  (SELECT VALUE2 FROM  TBLM_COMMONCODEDETAIL  WHERE COMMONCODE  = 'ETL006' AND VALUE1 = 'R_PATH')    
    DECLARE @FILE_PATH varchar(1000) = (SELECT VALUE2 FROM  TBLM_COMMONCODEDETAIL  WHERE COMMONCODE  = 'ETL006' AND VALUE1 = 'FILE_PATH')    
    DECLARE @FILE_NAME VARCHAR(100) = (SELECT VALUE2 FROM  TBLM_COMMONCODEDETAIL  WHERE COMMONCODE  = 'ETL006' AND VALUE1 = 'FILE_NAME')    
    DECLARE @SERVER_IP VARCHAR (500) = (SELECT VALUE2 FROM  TBLM_COMMONCODEDETAIL  WHERE COMMONCODE  = 'ETL006' AND VALUE1 = 'SERVER_IP')    
    DECLARE @DB_NAME VARCHAR(100) = (SELECT VALUE2 FROM  TBLM_COMMONCODEDETAIL  WHERE COMMONCODE  = 'ETL006' AND VALUE1 = 'DB_NAME')    
    DECLARE @USER VARCHAR(100) = (SELECT VALUE2 FROM  TBLM_COMMONCODEDETAIL  WHERE COMMONCODE  = 'ETL006' AND VALUE1 = 'USER')    
    DECLARE @PASSWORD VARCHAR(100)  = (SELECT VALUE2 FROM  TBLM_COMMONCODEDETAIL  WHERE COMMONCODE  = 'ETL006' AND VALUE1 = 'PASSWORD')    
    DECLARE @VERBOSE_FLAG CHAR(1) = 'T'    
    DECLARE @CM_FLAG CHAR(1)   = (SELECT VALUE2 FROM  TBLM_COMMONCODEDETAIL  WHERE COMMONCODE  = 'ETL006' AND VALUE1 = 'CM_FLAG')    
    DECLARE @INCREMENT_PERIOD BIGINT  
BEGIN    
  
    IF @DOWNLOAD_DATE <> ''    
    BEGIN     
        SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN    
        SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)    
        SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))        
        SET @LAST_YEAR =   EOMONTH(DATEADD(YEAR,-1,@V_CURRDATE ))    
    END    
    ELSE     
    BEGIN   
        SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE)) FROM IFRS_PRC_DATE  
        SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)  
        SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))     
        SET @LAST_YEAR =   EOMONTH(DATEADD(YEAR,-1,@V_CURRDATE ))    
    END  
    
    IF OBJECT_ID ('TEMPDB.DBO.#GAMMA') IS NOT NULL DROP TABLE #GAMMA    
    SELECT DISTINCT PD_RULE_ID,INCREMENT_PERIOD   
    INTO #GAMMA   
    FROM IFRS_PD_CHR_RESULT_YEARLY A     
    INNER JOIN IFRS_PD_RULES_CONFIG B   
    ON A.PD_RULE_ID = B.PKID   
    WHERE   
        DOWNLOAD_DATE = EOMONTH(DATEADD(MONTH, B.INCREMENT_PERIOD*-1, @V_CURRDATE))   
        AND A.PD_RULE_ID = @RULE_ID   
    
    DECLARE LOOP1        
    CURSOR FOR    
        SELECT PD_RULE_ID, INCREMENT_PERIOD   
        FROM #GAMMA  
    OPEN LOOP1  
    FETCH LOOP1 INTO @PD_RULE_ID, @INCREMENT_PERIOD  
      
    WHILE @@FETCH_STATUS = 0   
    BEGIN        
    
        SET @EXEC_R_SCRIPT = @R_PATH    
        SET @EXEC_R_SCRIPT = @EXEC_R_SCRIPT+' '+@FILE_PATH+@FILE_NAME    
        SET @EXEC_R_SCRIPT = @EXEC_R_SCRIPT+' '+CAST(@PD_RULE_ID AS VARCHAR(10))    
        SET @EXEC_R_SCRIPT = @EXEC_R_SCRIPT+' '+@SERVER_IP    
        SET @EXEC_R_SCRIPT = @EXEC_R_SCRIPT+' '+@DB_NAME    
        SET @EXEC_R_SCRIPT = @EXEC_R_SCRIPT+' '+@USER    
        SET @EXEC_R_SCRIPT = @EXEC_R_SCRIPT+' '+@PASSWORD    
        SET @EXEC_R_SCRIPT = @EXEC_R_SCRIPT+' '+@VERBOSE_FLAG    
        SET @EXEC_R_SCRIPT = @EXEC_R_SCRIPT+' '+CONVERT(VARCHAR(8),EOMONTH(DATEADD(MONTH,@INCREMENT_PERIOD*-1,@V_CURRDATE)),112)    
        SET @EXEC_R_SCRIPT = @EXEC_R_SCRIPT+' '+@CM_FLAG    
    
        EXEC master..xp_CMDShell @EXEC_R_SCRIPT    
        --print @EXEC_R_SCRIPT    
    
        INSERT INTO IFRS_MPD_CHR_RESULT_YEARLY
        (
            DOWNLOAD_DATE  
            ,PROJECTION_DATE  
            ,PD_RULE_ID  
            ,PD_RULE_NAME  
            ,SEGMENT  
            ,CALC_METHOD  
            ,BUCKET_GROUP  
            ,BUCKET_ID  
            ,BUCKET_NAME  
            ,SEQ_YEAR  
            ,CUMULATIVE_PD_RATE  
            ,MARGINAL_PD_RATE
        )  
        SELECT 
            DOWNLOAD_DATE  
            ,PROJECTION_DATE  
            ,PD_RULE_ID  
            ,PD_RULE_NAME  
            ,SEGMENT  
            ,CALC_METHOD  
            ,A.BUCKET_GROUP  
            ,MAX_BUCKET_ID  
            ,'NPL' AS BUCKET_NAME  
            ,SEQ_YEAR  
            ,1  AS CUMULATIVE_PD_RATE  
            ,CASE WHEN SEQ_YEAR = 1 THEN 1 ELSE 0 END AS MARGINAL_PD_RATE   
        FROM IFRS_MPD_CHR_RESULT_YEARLY A  
        INNER JOIN VW_IFRS_MAX_BUCKET B ON A.BUCKET_GROUP = B.BUCKET_GROUP  
        WHERE DOWNLOAD_DATE = EOMONTH(DATEADD(MONTH,@INCREMENT_PERIOD*-1,@V_CURRDATE)) 
        AND A.PD_RULE_ID = @PD_RULE_ID 
        AND BUCKET_ID = 1

        FETCH NEXT FROM LOOP1 INTO @PD_RULE_ID, @INCREMENT_PERIOD        
    END  
    CLOSE LOOP1  
    DEALLOCATE LOOP1  
    
END 


GO
