USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEREGRESSIONRESULTD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_MEREGRESSIONRESULTD](    
@MODEL_ID BIGINT = 0    
,@MODEL_SEQ INT = 0    
,@IS_SIMULATION BIT)    
AS    
BEGIN    
    
	IF (@IS_SIMULATION = 1)    
	BEGIN    
		SELECT
			A.COEFF_NAME,
			A.ESTIMATE_VAL,
			A.SIG_LEVEL,
			B.VIFVALUE,
			D.IMPACT_TO_DEPENDENT,
			CASE WHEN (IMPACT_TO_DEPENDENT = '+' AND ESTIMATE_VAL >= 0) 
				OR (IMPACT_TO_DEPENDENT = '+/-' ) 
				OR (IMPACT_TO_DEPENDENT = '-' AND ESTIMATE_VAL < 0) THEN 'PASS'
			ELSE 'FAILED' END 'EXPECTED_TREND_TEST'
		FROM TMP_IFRS_MULT_LINEAR_REGR_COEF A
		JOIN TMP_IFRS_LINREG_VIF_DTL B ON A.MODEL_ID = B.MODEL_ID AND A.MODEL_SEQ = B.MODEL_SEQ AND A.COEFF_NAME = B.VARNAME
		LEFT JOIN (SELECT DISTINCT ME_CODE, DERIVED_TYPE FROM IFRS_ME_DERIVED_VARIABLE) C ON A.COEFF_NAME = C.DERIVED_TYPE
		LEFT JOIN IFRS_INDEPENDENT_VARIABLE D ON A.MODEL_ID = D.MODEL_ID AND C.ME_CODE = D.MACRO_ECONOMIC_CODE
		WHERE A.MODEL_ID = @MODEL_ID
			AND A.MODEL_SEQ = @MODEL_SEQ
	END    
	ELSE    
	BEGIN    
		SELECT
			A.COEFF_NAME,
			A.ESTIMATE_VAL,
			A.SIG_LEVEL,
			B.VIFVALUE,
			D.IMPACT_TO_DEPENDENT,
			CASE WHEN (IMPACT_TO_DEPENDENT = '+' AND ESTIMATE_VAL >= 0) 
				OR (IMPACT_TO_DEPENDENT = '+/-' ) 
				OR (IMPACT_TO_DEPENDENT = '-' AND ESTIMATE_VAL < 0) THEN 'PASS'
			ELSE 'FAILED' END 'EXPECTED_TREND_TEST'
		FROM IFRS_MULT_LINEAR_REGR_COEF A
		JOIN IFRS_LINREG_VIF_DTL B ON A.MODEL_ID = B.MODEL_ID AND A.MODEL_SEQ = B.MODEL_SEQ AND A.COEFF_NAME = B.VARNAME
		LEFT JOIN (SELECT DISTINCT ME_CODE, DERIVED_TYPE FROM IFRS_ME_DERIVED_VARIABLE) C ON A.COEFF_NAME = C.DERIVED_TYPE
		LEFT JOIN IFRS_INDEPENDENT_VARIABLE D ON A.MODEL_ID = D.MODEL_ID AND C.ME_CODE = D.MACRO_ECONOMIC_CODE
		WHERE A.MODEL_ID = @MODEL_ID
			AND A.MODEL_SEQ = @MODEL_SEQ
	END    
    
END

GO
