USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_DUPLICATEIV]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_DUPLICATEIV]
(
	@PKID BIGINT,
	@NEW_PKID BIGINT
)
AS
BEGIN
	DECLARE @count int;
	SELECT @count = count(pkid) from IFRS_INDEPENDENT_VARIABLE where MODEL_ID = @PKID
	if @count > 0
	BEGIN
		INSERT INTO TMP_IFRS_INDEPENDENT_VARIABLE (
				MODEL_ID,MACRO_ECONOMIC_CODE, IMPACT_TO_DEPENDENT,LAG_VARIABLE,
				CREATEDBY,CREATEDDATE,CREATEDHOST,
				UPDATEDBY,UPDATEDDATE,UPDATEDHOST)
		SELECT	@NEW_PKID MODEL_ID,MACRO_ECONOMIC_CODE, IMPACT_TO_DEPENDENT,LAG_VARIABLE,
				CREATEDBY,CREATEDDATE,CREATEDHOST,
				UPDATEDBY,UPDATEDDATE,UPDATEDHOST
		FROM	IFRS_INDEPENDENT_VARIABLE
		WHERE	MODEL_ID = @PKID 
	END
	ELSE
	BEGIN
		INSERT INTO TMP_IFRS_INDEPENDENT_VARIABLE (
				MODEL_ID,MACRO_ECONOMIC_CODE, IMPACT_TO_DEPENDENT,LAG_VARIABLE,
				CREATEDBY,CREATEDDATE,CREATEDHOST,
				UPDATEDBY,UPDATEDDATE,UPDATEDHOST)
		SELECT	@NEW_PKID MODEL_ID,MACRO_ECONOMIC_CODE, IMPACT_TO_DEPENDENT,LAG_VARIABLE,
				CREATEDBY,CREATEDDATE,CREATEDHOST,
				UPDATEDBY,UPDATEDDATE,UPDATEDHOST
		FROM	TMP_IFRS_INDEPENDENT_VARIABLE
		WHERE	MODEL_ID = @PKID 
	END
END

GO
