USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_BONDSMODULEH]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_BONDSMODULEH]
(
    @DOWNLOAD_DATE date = '1/1/1900',
    --@PRODUCT_TYPE varchar(50)='',
	@PRODUCT_CODE varchar(20)='',
	@ACCOUNT_NUMBER VARCHAR(50)='',
    @Where VARCHAR(1000)='',
    @pageNumber INT,
    @pageSize INT,
    @SortColumn varchar(100)=''
)
AS
BEGIN

	DECLARE @Query AS VARCHAR(3000);
	DECLARE @DOWNLOAD_DATE_DD AS DATE;
 
	IF @SortColumn = ''
	BEGIN
		SET @SortColumn = 'MASTER_ACCOUNT_CODE';
	END
 
	IF @pageSize = 0
	BEGIN
		SET @pageSize = 1
	END
 
    IF (CONVERT(DATE, @DOWNLOAD_DATE) ='1/1/1900')
    BEGIN
		SELECT @DOWNLOAD_DATE_DD = currdate FROM IFRS_PRC_DATE
    END
    ELSE
    BEGIN
        SELECT @DOWNLOAD_DATE_DD = CONVERT(DATE, @DOWNLOAD_DATE)
    END
    
    SET @Query =
		'SELECT
			CONVERT(varchar(50), DOWNLOAD_DATE, 111) + ACCOUNT_NUMBER DDATE_MAID,
			DOWNLOAD_DATE,
			DATA_SOURCE,
			MASTER_ACCOUNT_CODE, 
			ACCOUNT_NUMBER,
			RESERVED_VARCHAR_16,
			BRANCH_CODE,
			CUSTOMER_NUMBER,
			CUSTOMER_NAME,
			PRODUCT_CODE,
			CURRENCY,
			OUTSTANDING,
			ACCOUNT_STATUS
		FROM IFRS_MASTER_ACCOUNT
		WHERE '
		+ CASE WHEN @Where <> '' THEN
			@Where
        ELSE
			' DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE_DD, 120)  +  ''''
			+ CASE WHEN @PRODUCT_CODE <> '' 
				THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_CODE)) + '%'' '
				ELSE ''
			END
			+ CASE WHEN @ACCOUNT_NUMBER <> '' 
				THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNT_NUMBER)) + '%'' '
				ELSE ''
			END
		END
		+ '
		ORDER BY ' + @SortColumn + '
		OFFSET ' + CAST(@pageNumber AS VARCHAR) + ' ROWS
		FETCH NEXT ' + CAST(@pageSize AS VARCHAR) + ' ROWS ONLY OPTION (RECOMPILE);';

	EXEC (@Query);
    PRINT (@Query);          
END;

GO
