USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GLCHECKISRUNNING]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GLCHECKISRUNNING]
AS
BEGIN

	DECLARE @Count int

	SELECT @Count = COUNT(*) FROM GL_STATISTIC WHERE ISCOMPLETE = 'N' AND UPPER(REMARK) NOT LIKE '%ERROR%'

	IF @Count = 0
	BEGIN
		SELECT @Count = COUNT(*) FROM GL_PRC_DATE_MANUAL WHERE UPPER(BATCH_STATUS) NOT LIKE '%FINISH%' AND UPPER(BATCH_STATUS) NOT LIKE '%ERROR%'

		IF @Count = 0
		BEGIN
			SELECT @Count = COUNT(*) FROM GL_PRC_DATE WHERE UPPER(BATCH_STATUS) NOT LIKE '%FINISH%' AND UPPER(BATCH_STATUS) NOT LIKE '%ERROR%'
		END
	END
	
	SELECT @Count AS CountRunning

END

GO
