USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_LookupException]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[uspS_LookupException]    
(    
 @value VARCHAR(250) = NULL,    
 @text VARCHAR(250) = NULL,
 @source VARCHAR(10) = ''
)    
AS    
BEGIN    
    
 DECLARE @Query VARCHAR(3000);    
    
 --SET @Query = 'SELECT A.EXCEPTION_CODE AS "' + isnull(@value, '') + '"     
 -- , ( A.EXCEPTION_CODE + '' - '' + A.EXCEPTION_DESC ) AS "' + isnull(@text, '') + '"      
 -- FROM IFRS_MASTER_EXCEPTION A   
 -- WHERE (SELECT COUNT(*) FROM IFRS_MASTER_EXCEPTION WHERE EXCEPTION_CODE = A.EXCEPTION_CODE) > 0    
 -- ORDER BY EXCEPTION_CODE' ;    

IF @source = 'ASSET'
SET @Query = 'SELECT
	DISTINCT(B.EXCEPTION_ID),
	C.CODE AS "' + isnull(@value, '') + '",
	C.VAL AS "' + isnull(@text, '') + '"
FROM IFRS_EXCEPTION_ACCOUNT B
JOIN 
	(SELECT 
		DISTINCT(A.EXCEPTION_CODE) CODE,
		(A.EXCEPTION_CODE + '' - '' + A.EXCEPTION_DESC) AS VAL,  
		A.PKID
	FROM IFRS_MASTER_EXCEPTION A
	GROUP BY 
		A.PKID, 
		A.EXCEPTION_CODE, 
		A.EXCEPTION_DESC) C
ON B.EXCEPTION_ID = C.PKID
GROUP BY 
	B.EXCEPTION_ID,
	C.CODE,
	C.VAL
ORDER BY B.EXCEPTION_ID'

--UNION ALL
ELSE
SET @Query = '
SELECT
	DISTINCT(B.EXCEPTION_ID),
	C.CODE AS "' + isnull(@value, '') + '",
	C.VAL AS "' + isnull(@text, '') + '"
FROM IFRS_LI_EXCEPTION_ACCOUNT B
JOIN 
	(SELECT 
		DISTINCT(A.EXCEPTION_CODE) CODE,
		(A.EXCEPTION_CODE + '' - '' + A.EXCEPTION_DESC) AS VAL,  
		A.PKID
	FROM IFRS_LI_MASTER_EXCEPTION A
	GROUP BY 
		A.PKID, 
		A.EXCEPTION_CODE, 
		A.EXCEPTION_DESC) C
ON B.EXCEPTION_ID = C.PKID
GROUP BY 
	B.EXCEPTION_ID,
	C.CODE,
	C.VAL
ORDER BY B.EXCEPTION_ID'
       
    EXECUTE (@Query);    
	PRINT (@Query);
    
END;

GO
