USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PIVOTCOLUMNPARAMS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PIVOTCOLUMNPARAMS]    
(    
 @pivotid varchar(50)      
)    
AS    
begin     
 

 SELECT * FROM tblS_PivotColumnsParam nolock where PivotID = @pivotid  
         

end





GO
