USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_BI_GEOGRAPHICALSECTORS]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPU_BI_GEOGRAPHICALSECTORS](
@PKID BIGINT = 0,
@PULAU_NAMA VARCHAR(30) = '',
@PROVINSI_NAMA VARCHAR(40) = '',
@KABUPATEN_NAMA VARCHAR(70) = '',
@BRANCH_CODE VARCHAR(6) = '',
@UpdatedBy varchar(36) = '',               
@UpdatedHost varchar(30) = ''
)               
AS
BEGIN

	UPDATE IFRS_DIM_GEOGRAPHICAL_SECTORS
	SET
		GEOGRAPHICAL_ID = CAST((SELECT SEQUENCE FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'BI005' AND VALUE1 = @PULAU_NAMA) AS varchar(10)) + '-'
		+ CAST((SELECT VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'BI006' AND VALUE1 = @PROVINSI_NAMA) AS varchar(10)) + '-'
		+ CAST((SELECT VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'BI007' AND VALUE1 = @KABUPATEN_NAMA) AS varchar(10)) + '-'
		+ CAST(@BRANCH_CODE AS varchar(10)),
		PULAU_ID = (SELECT SEQUENCE FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'BI005' AND VALUE1 = @PULAU_NAMA),
		PULAU_NAMA = @PULAU_NAMA,
		PROVINSI_ID = (SELECT VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'BI006' AND VALUE1 = @PROVINSI_NAMA),
		PROVINSI_NAMA = @PROVINSI_NAMA,
		KABUPATEN_ID = (SELECT VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'BI007' AND VALUE1 = @KABUPATEN_NAMA),
		KABUPATEN_NAMA = @KABUPATEN_NAMA,
		BRANCH_CODE = @BRANCH_CODE,
		UPDATEDBY = @UpdatedBy,
		UPDATEDDATE = GETDATE(),
		UPDATEDHOST = @UpdatedHost
	WHERE PKID = @PKID
		
	TRUNCATE TABLE IFRS9_REPORT.DBO.IFRS_DIM_GEOGRAPHICAL_SECTORS

	INSERT INTO IFRS9_REPORT.DBO.IFRS_DIM_GEOGRAPHICAL_SECTORS
	(
		GEOGRAPHICAL_ID,
		PULAU_ID,
		PULAU_NAMA,
		PROVINSI_ID,
		PROVINSI_NAMA,
		KABUPATEN_ID,
		KABUPATEN_NAMA,
		BRANCH_CODE
	)
	SELECT
		GEOGRAPHICAL_ID,
		PULAU_ID,
		PULAU_NAMA,
		PROVINSI_ID,
		PROVINSI_NAMA,
		KABUPATEN_ID,
		KABUPATEN_NAMA,
		BRANCH_CODE
	FROM IFRS_DIM_GEOGRAPHICAL_SECTORS
	WHERE ISNULL(IS_DELETE, 0) = 0
	ORDER BY PKID

END

GO
