USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADDCFCALCULATION2]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_UPLOADDCFCALCULATION2]  
(
	@uploadID int
) 
AS
BEGIN

	DECLARE @masterId VARCHAR(100)
	DECLARE @effectiveDate DATETIME
	DECLARE @npv NUMERIC(32,6)
	DECLARE @npvMonth INT
	DECLARE @principalPayment NUMERIC(32,6)
	DECLARE @eirPercent NUMERIC(32,6)
	DECLARE @beginningBal NUMERIC(32,6)
	DECLARE @endingBal NUMERIC(32,6)
	DECLARE @eirAmount NUMERIC(32,6)
	DECLARE @count INT
	DECLARE @countloop INT

	BEGIN TRAN
  
		DECLARE c_masterId_tab CURSOR 
		FOR
			SELECT DISTINCT([MASTERID])  
			FROM [dbo].[TBLT_PAYMENTEXPECTED_TEMP]  
			WHERE [UPLOADID] = @uploadID;  

		OPEN c_masterId_tab;
	  
		FETCH NEXT FROM c_masterId_tab INTO @masterId;  
	
		WHILE @@FETCH_STATUS = 0
		BEGIN
			--init variable(s)
			SET @endingBal = 0
			SET @countloop = 0
			SELECT @count = COUNT (1)
			FROM [dbo].[TBLT_PAYMENTEXPECTED_TEMP]
			WHERE [MASTERID] = @masterId 
				AND [UPLOADID] = @uploadID;

			DECLARE c_calc_tab CURSOR
			FOR --c_calc_tab is
				SELECT [EFFECTIVE_DATE_FD], 
					[NPV_MONTH], 
					ISNULL (ROUND ([NPV],2), 0) AS NPV, 
					ISNULL (ROUND ([PRINCIPAL_PAYMENT], 2), 0) AS PRINCIPAL_PAYMENT, 
					ISNULL (ROUND ([EIR_PERCENT], 2), 0) AS EIR_PERCENT 
				FROM [TBLT_PAYMENTEXPECTED_TEMP]   
				WHERE [UPLOADID] = @uploadID 
					AND [MASTERID] = @masterId  
				ORDER BY [EFFECTIVE_DATE_FD], 
					[NPV_MONTH];
		
			OPEN c_calc_tab;
			FETCH NEXT FROM c_calc_tab INTO @effectiveDate, 
				@npvMonth, 
				@npv, 
				@principalPayment, 
				@eirPercent
			WHILE @@FETCH_STATUS = 0
			BEGIN 
				SET @countloop = @countloop + 1

				IF (@npvMonth = 1)
				BEGIN
					-- set interest eir amount = 0 if npv month = 1
					--COMMENT BY SEPTIAN 20190417 SET @eirAmount = 0;

					-- beginning balance at period 0 (npv month = 1) is total npv
					SELECT @beginningBal = SUM (ROUND ([NPV], 2)) 
					FROM [tblT_PaymentExpected_TEMP] 
					WHERE [UploadID] = @uploadID 
						AND [MASTERID] = @masterId;

					SET @eirAmount = ROUND (@eirPercent / 100 / 12 * @beginningBal, 2);	
				END
				ELSE
				BEGIN
					-- set interest eir amount
					SET @eirAmount = ROUND (@eirPercent / 100 / 12 * @beginningBal, 2);
				END

				--ending balance calculation
				SET @endingBal = ROUND(@beginningBal + @eirAmount - @principalPayment, 2);

				--supaya ending terakhir jadi 0 atau tidak ada minus  
				IF @countloop = @count
				BEGIN
					SET @endingBal = 0
				END
                    
				--update calculated values into table  
				UPDATE [dbo].[TBLT_PAYMENTEXPECTED_TEMP]   
				SET [UNWINDING_AMOUNT] = @eirAmount, 
					[BEGINNING_BALANCE] = @beginningBal,   
					[ENDING_BALANCE] = @endingBal
				WHERE [UploadID] = @uploadID 
					AND [MASTERID] = @masterId 
					AND [NPV_MONTH] = @npvMonth;
       
				--beginning balance of next period is ending balance of previous period  
				SET @beginningBal = @endingBal
            
			FETCH NEXT FROM c_calc_tab INTO @effectiveDate, 
				@npvMonth, 
				@npv, 
				@principalPayment, 
				@eirPercent
			END;

			CLOSE c_calc_tab;
			DEALLOCATE c_calc_tab;
    
		FETCH NEXT FROM c_masterId_tab INTO @masterId;
		END;

		CLOSE c_masterId_tab;
		DEALLOCATE c_masterId_tab;

	IF @@ERROR <> 0
		ROLLBACK;
	ELSE
		COMMIT;

END;
GO
