USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_TREASURY_NOMINATIF]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[SP_IFRS_TREASURY_NOMINATIF]    
AS    
BEGIN    
  
 DECLARE @V_CURRDATE DATE  
    
 SELECT @V_CURRDATE = MAX(CURRDATE)    
 FROM IFRS_PRC_DATE_AMORT;    
   
 DELETE IFRS_NOMINATIF_TRS  
 WHERE DOWNLOAD_DATE = @V_CURRDATE  
   
 INSERT INTO IFRS_NOMINATIF_TRS (  
  DOWNLOAD_DATE  
  ,MASTERID  
  ,CURRENCY  
  ,OUTSTANDING_IDR  
  ,PIP_AMOUNT  
  ,PIP_AMOUNT_ORI  
  ,DATA_SOURCE  
  )    
 SELECT @V_CURRDATE  
  ,IMA.MASTER_ACCOUNT_CODE  
  ,IMA.CURRENCY  
  ,IMA.OUTSTANDING * IMA.EXCHANGE_RATE AS OUTSTANDING_IDR  
  ,CASE WHEN IMA.IMPAIRED_FLAG = 'C'  
 THEN IMA.ECL_AMOUNT * IMA.EXCHANGE_RATE  
  ELSE 0  
 END AS PIP_AMOUNT  
  ,CASE WHEN IMA.IMPAIRED_FLAG = 'C'  
 THEN IMA.ECL_AMOUNT  
  ELSE 0  
 END AS PIP_AMOUNT_ORI  
  ,IMA.DATA_SOURCE  
 FROM IFRS_MASTER_ACCOUNT IMA  
 INNER JOIN TBLM_COMMONCODEDETAIL CCD ON IMA.DATA_SOURCE = CCD.VALUE1  
 WHERE IMA.DOWNLOAD_DATE = @V_CURRDATE   
 AND IAS_CLASS = 'A'  
 AND CCD.COMMONCODE = 'S1003'  
  
END;    
  
  
  
  

GO
