USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IAP]
AS
BEGIN
	
	SELECT distinct
		A.PKID,
		D.SUB_SEGMENT,
		A.MIN_OS_VALUE,
		A.COLLECTION_COST,
		A.WORKOUT_PERIOD_MODE,
		A.WORKOUT_PERIOD,
		C.LGD_RULE_NAME
	FROM IFRS_IAP_PARAM A
	join IFRS_IAP_PARAM_SCENARIO B on A.PKID = B.HEADER_ID
	join IFRS_LGD_RULES_CONFIG C on A.LGD_RULE_ID = C.PKID
	JOIN IFRS_MSTR_SEGMENT_RULES_HEADER D ON A.SEGMENTATION_ID = D.PKID
	WHERE A.IS_DELETE = 0
	
END

GO
