USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_IA_CASHFLOW_MONITORING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_IA_CASHFLOW_MONITORING]  
(      
	@CUSTOMER_NUMBER VARCHAR(100)
)                                          
AS                                          
BEGIN                                          
    
	SELECT    
              A.MASTERID,   
              A.CUSTOMER_NUMBER,   
              A.CUSTOMER_NAME,   
              A.CURRENCY,   
              A.DOWNLOAD_DATE AS DCF_UPLOAD_DATE,   
              B.OUTSTANDING AS EAD_AMOUNT_AT_DCF_UPLOADED,   
              A.OUTSTANDING AS CURRENT_EAD_AMOUNT,   
              B.OUTSTANDING-A.OUTSTANDING AS MOVEMENT_EAD_AMOUNT,   
              SUM(C.PRINCIPAL_PAYMENT) AS EXPECTED_CASHFLOW_UNTIL_CURRDATE,  
              (B.OUTSTANDING-A.OUTSTANDING)-SUM(C.PRINCIPAL_PAYMENT) AS DIFFERENCE_OF_MOVEMENT_EAD_AND_EXPECTED_CASHFLOW
       FROM IFRS_IMP_IA_MASTER A   
       LEFT JOIN IFRS_IMP_IA_MASTER_HIST B
       ON A.MASTERID = B.MASTERID   
       LEFT JOIN TBLT_PAYMENTEXPECTED C   
       ON A.MASTERID = C.MASTERID AND A.DCFID = C.DCFID
       AND C.EFFECTIVE_DATE_FD <=(SELECT CURRDATE FROM IFRS_PRC_DATE)
       WHERE A.CUSTOMER_NUMBER LIKE '%'+@CUSTOMER_NUMBER+'%'
       AND B.DCFID IN (
       SELECT DISTINCT(A.DCFID) FROM IFRS_IMP_IA_MASTER_HIST A INNER JOIN (
       SELECT MAX(DCFID) DCFID,MASTERID FROM IFRS_IMP_IA_MASTER_HIST GROUP BY MASTERID) B ON A.DCFID = B.DCFID
       )
       GROUP BY   
              A.MASTERID,   
              A.CUSTOMER_NUMBER,   
              A.CUSTOMER_NAME,   
              A.CURRENCY,   
              A.DOWNLOAD_DATE,
              B.OUTSTANDING,   
              A.OUTSTANDING

END

GO
