USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PDFORWARDLOOKING]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_PDFORWARDLOOKING]        
(          
	@PD_FL_MODEL_NAME VARCHAR(100)='',             
    @PD_RULE_ID bigint = 0,
	@ME_MODEL_ID bigint = 0,
    @PD_TERM_STRUCTURE_METHOD VARCHAR(100)='',
	@INTERPOLATION_METHOD VARCHAR(100)='',                
	@CreatedBy VARCHAR(36),        
    @CreatedHost VARCHAR(30)        
)        
AS        
BEGIN            

		INSERT INTO IFRS_PD_FORWARD_LOOKING_CONFIG        
		(        
			[PD_FL_MODEL_NAME]
           ,[PD_RULE_ID]
		   ,[ME_MODEL_ID]
           ,[PD_TERM_STRUCTURE_METHOD]
		   ,[INTERPOLATION_METHOD]
           ,CREATEDBY
		   ,CREATEDDATE
		   ,CREATEDHOST        
		)        
		VALUES        
		(        
			@PD_FL_MODEL_NAME,        
			@PD_RULE_ID,
			--(select pkid from IFRS_MASTER_SEGMENT_RULES_HEADER where SUB_SEGMENT = @UD_SEGMENT_ID and SEGMENT_TYPE = 'UD_SEGMENT'),
			@ME_MODEL_ID,
			@PD_TERM_STRUCTURE_METHOD,
			@INTERPOLATION_METHOD,
			@CreatedBy,        
			GETDATE(),        
			@CreatedHost        
		);
END



GO
