USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_TMP_FCAST_LIGHT_OVERRIDE]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPU_TMP_FCAST_LIGHT_OVERRIDE]
(
	@LightPDModelId bigint = 0,
	@Period smallint=0,
	@OverrideLightId smallint=0,
	@UpdatedBy varchar(36)='',
	@UpdatedHost varchar(36)=''
)
as
begin
	update TMP_IFRS_ME_FORECAST_SCORE
	set OVERRIDE_LIGHT_ID = @OverrideLightId
	where LIGHT_PD_MODEL_ID = @LightPDModelId
	and PERIOD = @Period 
end

GO
