USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_ECLMODELRESULTSUMMARY]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPR_ECLMODELRESULTSUMMARY]           
(        
 @DATA_SOURCE VARCHAR(100),        
 @SEGMENT VARCHAR(100),        
 @DOWNLOAD_DATE DATE        
)        
AS             
BEGIN       

IF @SEGMENT = 'ALL'
	SET @SEGMENT = ''  
           
	SELECT          
		A.GROUP_SEGMENT,          
		 A.SEGMENT,          
		 A.SUB_SEGMENT,          
		 B.TM_RULE_NAME,          
		 C.LGD_RULE_NAME,          
		 D.EAD_RULE_NAME,          
		 A.STAGE,    
		 E.BUCKET_ID,          
		 E.BUCKET_NAME,  
		 ISNULL(A.IMPAIRED_FLAG, 'C') AS IMPAIRED_FLAG,          
		 COUNT(1) AS NOA,          
		 SUM(CASE WHEN IMPAIRED_FLAG='C' then ISNULL(EAD_AMOUNT,0) else 
			CASE WHEN DATA_SOURCE IN ('LIMIT', 'LIMIT_T24') THEN ISNULL(UNUSED_AMOUNT,0) ELSE ISNULL(OUTSTANDING,0) END 
			* ISNULL(A.EXCHANGE_RATE,1) END) 
		 AS EAD_LOCAL_CCY,          
		 SUM(ISNULL(A.ECL_AMOUNT_BFL,0) * ISNULL(A.EXCHANGE_RATE,1)) AS ECL_BEFORE_FL_LOCAL_CCY,          
		 SUM(ISNULL(A.ECL_AMOUNT,0) * ISNULL(A.EXCHANGE_RATE,1)) AS ECL_LOCAL_CCY,
		 SUM(ISNULL(A.ECL_AMOUNT,0) - ISNULL(A.IA_UNWINDING_AMOUNT,0)) AS ECL_NET_ORI_CCY,
		 SUM((ISNULL(A.ECL_AMOUNT,0) * ISNULL(A.EXCHANGE_RATE,1)) - (ISNULL(A.IA_UNWINDING_AMOUNT,0) * ISNULL(A.EXCHANGE_RATE,1))) AS ECL_NET_LOCAL_CCY,
		 SUM(ISNULL(A.IA_UNWINDING_AMOUNT,0) * ISNULL(A.EXCHANGE_RATE,1)) AS UNWINDING_AMOUNT_LOCAL_CCY,
		 CASE WHEN (F.DOWNLOAD_DATE) IS NULL THEN 'N' ELSE 'Y' END AS EXCLUSION_FLAG          
	FROM IFRS_MASTER_ACCOUNT_MONTHLY A          
	LEFT JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID          
	LEFT JOIN IFRS_LGD_RULES_CONFIG C ON A.LGD_RULE_ID = C.PKID          
	LEFT JOIN IFRS_EAD_RULES_CONFIG D ON A.EAD_RULE_ID = D.PKID          
	LEFT JOIN (SELECT DISTINCT BUCKET_GROUP, BUCKET_ID, BUCKET_NAME FROM IFRS_BUCKET_DETAIL WHERE ISNULL(IS_DELETE, 0) = 0) E ON A.BUCKET_GROUP = E.BUCKET_GROUP AND A.BUCKET_ID = E.BUCKET_ID
	LEFT JOIN IFRS_ECL_EXCLUSION F ON A.DOWNLOAD_DATE = F.DOWNLOAD_DATE AND A.MASTERID = F.MASTERID
	WHERE A.DATA_SOURCE = @DATA_SOURCE         
		AND (A.SEGMENT = @SEGMENT OR A.SEGMENT LIKE '%'+@SEGMENT+'%')
		AND A.DOWNLOAD_DATE = @DOWNLOAD_DATE          
	GROUP BY          
		A.GROUP_SEGMENT,          
		A.SEGMENT,          
		A.SUB_SEGMENT,          
		B.TM_RULE_NAME,          
		C.LGD_RULE_NAME,          
		D.EAD_RULE_NAME,          
		A.STAGE,     
		E.BUCKET_ID,         
		E.BUCKET_NAME,  
		A.IMPAIRED_FLAG,
		F.DOWNLOAD_DATE
	ORDER BY IMPAIRED_FLAG,
		GROUP_SEGMENT,
		SEGMENT,
		SUB_SEGMENT,
		TM_RULE_NAME,
		LGD_RULE_NAME,
		EAD_RULE_NAME,
		STAGE
        
END;
GO
