USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_NCDCONTRACTATTR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_NCDCONTRACTATTR]
(
	@DDATE_MAID VARCHAR(100) = ''
)
AS
BEGIN
 
    SELECT REPLACE(CONVERT(VARCHAR, IMA.DOWNLOAD_DATE, 106), ' ', '-')		DOWNLOAD_DATE,
		IMA.CURRENCY,
		IMA.DATA_SOURCE,
		IMA.RESERVED_AMOUNT_18 as AMOUNT,
		IMA.CUSTOMER_NUMBER,
		IMA.INTEREST_RATE,
		IMA.CUSTOMER_NAME,
		0 as EIR,
		'' as ISSUER,
		IMA.MASTER_ACCOUNT_CODE,
		IMA.RESERVED_VARCHAR_2 as RESIDENT_GROUP,
		IMA.BRANCH_CODE,
		'' as [START_DATE],
		IMA.PRODUCT_CODE,
		'' as MATURITY_DATE,
		IMA.PRODUCT_TYPE,
		PROD.PRD_TYPE_1
		
    FROM IFRS_MASTER_ACCOUNT IMA
        LEFT JOIN IFRS_MASTER_PRODUCT_PARAM PROD ON IMA.PRODUCT_CODE = PROD.PRD_CODE AND PROD.INST_CLS_VALUE = 'A'
		
    WHERE IMA.MASTER_ACCOUNT_CODE = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))
        AND IMA.DOWNLOAD_DATE = CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10) , 111)

END;

GO
