USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETFORECASTFROMUPLOAD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_GETFORECASTFROMUPLOAD]                
(              
 @ME_CODE VARCHAR(200),
 @ME_PERIOD_FROM DATE,
 @ME_PERIOD_TO DATE    
)              
AS              
BEGIN              
     
 SELECT 
	ROW_NUMBER() OVER(ORDER BY ME_PERIOD) AS NO, 
	ME_PERIOD AS FL_PERIOD,
	ME_CODE,
	ME_VAL AS FL_VAL
 FROM IFRS_MACRO_ECONOMIC
 WHERE ME_CODE = @ME_CODE
 AND ME_PERIOD BETWEEN @ME_PERIOD_FROM AND @ME_PERIOD_TO
            
END
GO
