USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TMPMODELMEDEPENDENTV]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_TMPMODELMEDEPENDENTV]  
(  
    @PKID BIGINT  
)  
AS  
BEGIN  
 DECLARE @count int;  
 SELECT @count = count(PKID) FROM IFRS_MACRO_ECONOMIC_MODEL  
 WHERE PKID = @PKID  
  
 IF @count > 0  
 BEGIN  
  SELECT A.PD_RULE_ID as MACRO_ECONOMIC_CODE, B.TM_RULE_NAME AS "Variable Name"  
  FROM IFRS_DEPENDENT_VARIABLE A  
  JOIN IFRS_PD_RULES_CONFIG B  
  ON A.PD_RULE_ID = B.PKID  
  WHERE B.IS_DELETE = 0 AND MODEL_ID = @PKID ;  
    END  
 ELSE  
 BEGIN  
  SELECT A.PD_RULE_ID as MACRO_ECONOMIC_CODE, B.TM_RULE_NAME AS "Variable Name"  
  FROM TMP_IFRS_DEPENDENT_VARIABLE A  
  JOIN IFRS_PD_RULES_CONFIG B  
  ON A.PD_RULE_ID = B.PKID  
  WHERE B.IS_DELETE = 0 AND MODEL_ID = @PKID;  
 END      
END;

GO
