USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DETAIL_PORTFOLIO_ECL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_DETAIL_PORTFOLIO_ECL]        
(        
 @ECL_MODEL_ID int =0        
)        
AS        
IF @ECL_MODEL_ID > 0          
BEGIN      
 SELECT      
  B.PKID AS RULE_ID      
  ,A.ECL_MODEL_ID      
  ,A.SEGMENTATION_ID AS PF_SEGMENT_ID      
  --,A.LT_RULE_ID      
  ,A.SICR_RULE_ID      
  ,B.GROUP_SEGMENT      
  ,B.SEGMENT      
  ,B.SUB_SEGMENT      
  --,A.UPSIDE_VALUE      
  --,A.BASE_VALUE      
  --,A.DOWNSIDE_VALUE      
  --,A.UPSIDE_PROB_OUTCOME      
  --,A.BASE_PROB_OUTCOME      
  --,A.DOWNSIDE_PROB_OUTCOME      
  --,A.OVERLAY_AMOUNT      
  --,C.LIFETIME_RULE_NAME      
  --,C.EXP_LIFE      
  ,D.RULE_NAME  
  ,A.BUCKET_GROUP  
  ,E.RULE_NAME "DEFAULT_RULE_NAME"     
  ,E.PKID AS DEFAULT_RULE_ID
 FROM IFRS_ECL_MODEL_DETAIL_PF A      
 LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID      
 --LEFT JOIN IFRS_LIFETIME_RULES_CONFIG C ON A.LT_RULE_ID = C.PKID      
 LEFT JOIN IFRS_SCENARIO_RULES_HEADER D ON A.SICR_RULE_ID = D.PKID    
 LEFT JOIN IFRS_SCENARIO_RULES_HEADER E ON A.DEFAULT_RULE_ID = E.PKID  
 WHERE A.ECL_MODEL_ID = @ECL_MODEL_ID      
END      
ELSE      
BEGIN      
 SELECT      
  B.PKID AS RULE_ID      
  ,A.ECL_MODEL_ID      
  ,A.SEGMENTATION_ID AS PF_SEGMENT_ID      
  --,A.LT_RULE_ID      
  ,A.SICR_RULE_ID      
  ,B.GROUP_SEGMENT      
  ,B.SEGMENT      
  ,B.SUB_SEGMENT      
  --,A.UPSIDE_VALUE      
  --,A.BASE_VALUE      
  --,A.DOWNSIDE_VALUE      
  --,A.UPSIDE_PROB_OUTCOME      
  --,A.BASE_PROB_OUTCOME      
  --,A.DOWNSIDE_PROB_OUTCOME      
  --,A.OVERLAY_AMOUNT      
  --,C.LIFETIME_RULE_NAME      
  --,C.EXP_LIFE      
  ,D.RULE_NAME  
  ,A.BUCKET_GROUP  
  ,E.RULE_NAME AS "DEFAULT_RULE_NAME"  
  ,E.PKID AS DEFAULT_RULE_ID
 FROM IFRS_ECL_MODEL_DETAIL_PF A      
 LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID      
 --LEFT JOIN IFRS_LIFETIME_RULES_CONFIG C ON A.LT_RULE_ID = C.PKID      
 LEFT JOIN IFRS_SCENARIO_RULES_HEADER D ON A.SICR_RULE_ID = D.PKID  
 LEFT JOIN IFRS_SCENARIO_RULES_HEADER E ON A.DEFAULT_RULE_ID = E.PKID      
 WHERE A.ECL_MODEL_ID = 0      
END
GO
