USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMCOAOFFBS]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPU_PARAMCOAOFFBS]          
(
@PKID bigint = 0,
@GLCode varchar(9)='',
@GLName varchar(200)='',
@FSCodePositive varchar(200)='',
@FSCodeNegative varchar(200)='',
@NormalPos char(2)='',
@Rule integer=0,
@UpdatedBy varchar(36)='',         
@UpdatedHost varchar(30)=''
)          
AS
BEGIN  

UPDATE [dbo].[GL_PARAM_COA_OFF_BS]
	SET [GLName] = @GLName
		,[FSCodePositive] = @FSCodePositive
		,[FSCodeNegative] = @FSCodeNegative
		,[NormalPos] = @NormalPos
		,[Rule] = @Rule
		,[UpdatedBy] = @UpdatedBy
		,[UpdatedDate] = GETDATE()
		,[UpdatedHost] = @UpdatedHost
WHERE PKID = @PKID

END

GO
