USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_PDYEARLYFL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_PDYEARLYFL](
@SEGMENTATION_ID bigint = 0,
@DOWNLOAD_DATE date)
AS        
BEGIN      

DECLARE @QUERY NVARCHAR(MAX)
DECLARE @V_ColumnName VARCHAR(MAX);    
DECLARE @V_ColumnNameAS VARCHAR(MAX);    

SELECT @V_ColumnNameAS = COALESCE(@V_ColumnNameAS + ',', '') + '[' + CAST(FL_YEAR AS varchar(10)) + ']' + ' AS [Year ' + CAST(FL_YEAR AS varchar(10)) + ']',  
	@V_ColumnName = COALESCE(@V_ColumnName + ',', '') + '[' + CAST(FL_YEAR AS varchar(10)) + ']'
 FROM   
 (SELECT DISTINCT FL_YEAR
    FROM IFRS_IMP_PD_FL_TERM_YEARLY PD
	WHERE SEGMENTATION_ID = @SEGMENTATION_ID) A  
ORDER BY FL_YEAR

--SELECT @V_ColumnNameAS
--SELECT @V_ColumnName

SET @QUERY = ''  
SET @QUERY = @QUERY + 'SELECT BUCKET_NAME AS ''Bucket'', '  
SET @QUERY = @QUERY + @V_ColumnNameAS
SET @QUERY = @QUERY + 'FROM(SELECT BUCKET_NAME, '  
SET @QUERY = @QUERY + @V_ColumnName
SET @QUERY = @QUERY + 'FROM(SELECT BUCKET_NAME, FL_YEAR, '  
SET @QUERY = @QUERY + 'ISNULL(PD_FINAL,0) * 100 AS AMOUNT '  
SET @QUERY = @QUERY + 'FROM IFRS_IMP_PD_FL_TERM_YEARLY '  
SET @QUERY = @QUERY + 'WHERE SEGMENTATION_ID = ' + CAST(@SEGMENTATION_ID AS VARCHAR(20)) + ' '
SET @QUERY = @QUERY + ' AND DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(12),EOMONTH(@DOWNLOAD_DATE),112) + ''')TMP '  
SET @QUERY = @QUERY + 'pivot(sum(AMOUNT) for FL_YEAR IN ('+ @V_ColumnName +'))PVT '  
SET @QUERY = @QUERY + ')A '  

--PRINT(@QUERY)
EXEC(@QUERY)      
END;   
GO
