USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_BMA_HEADER]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_BMA_HEADER]  
(    
 @PKID_OLD bigint = 0,    
 @SPPI_CLASS varchar(1000) = '', 
 @BMNAME VARCHAR(100) = '',   
 @EFFECTIVE_DATE date = '2000/01/01',    
 @STATUS varchar(50) = '',    
 @BM_RSLT varchar(50) = '',    
 @REMARKS varchar(max) = '',
 @ACTION varchar(10) = '',    
 @UPDATEDBY varchar(36) = '',                 
 @UPDATEDHOST varchar(30) = ''    
)    
AS    
BEGIN  
DECLARE @BMID bigint = 0  
  
	--UPDATE BMA HEADER  
	UPDATE A  
		SET [COMMONCODEID] = NULL,
			[BM_NAME] = @BMNAME,
			[SPPI_CLASS] = @SPPI_CLASS,
			[EFFECTIVE_DATE] = @EFFECTIVE_DATE,
			[STATUS] = 'APPROVED',
			[BM_RSLT] = @BM_RSLT,
			[REMARKS] = @REMARKS,
			[UPDATEDBY] = @UPDATEDBY,
			[UPDATEDDATE] = GETDATE(),
			[UPDATEDHOST] = @UPDATEDHOST
	FROM IFRS_AC_BM_HEADER A
	WHERE A.PKID = @PKID_OLD 
  
	--INSERT INTO BMA HEADER HISTORY  
	INSERT INTO IFRS_AC_BM_HEADER_HIST
	(
		[PKID_HEADER],
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],
		[STATUS],
		[BM_RSLT],
		[REMARKS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)  
	SELECT
		@PKID_OLD,
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],'
		APPROVED',
		[BM_RSLT],
		@REMARKS,
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]  
	FROM IFRS_AC_BM_HEADER WHERE PKID = @PKID_OLD  
 
	SELECT @PKID_OLD AS PKID

END  
GO
