USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMEADUDRULEBYCODE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USPS_PARAMEADUDRULEBYCODE]  
(  
 @RULE_CODE bigint = 0  
)  
as  
  
begin  
 select * from IFRS_EAD_UD_RULES_CONFIG where IS_DELETE = 0 AND PKID = @RULE_CODE  
end;

GO
