USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_SYNC_TRANS_PARAM]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LI_SYNC_TRANS_PARAM]
AS 

BEGIN

declare @v_currdate   DATE
declare @v_prevdate   DATE

SELECT @v_currdate=currdate, @v_prevdate=prevdate FROM IFRS_LI_PRC_DATE_AMORT

INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE,DTM,OPS,PROCNAME,REMARK)
VALUES (@v_currdate,CURRENT_TIMESTAMP,'START','SP_IFRS_SYNC_TRANSACTION_PARAM','')

TRUNCATE TABLE IFRS_LI_TRANSACTION_PARAM

INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE,DTM,OPS,PROCNAME,REMARK)
VALUES (@v_currdate,CURRENT_TIMESTAMP,'DEBUG','SP_IFRS_SYNC_TRANSACTION_PARAM','INSERT TRANS PARAM')


        INSERT  INTO IFRS_LI_TRANSACTION_PARAM
                (	DATA_SOURCE
					,PRD_TYPE
					,PRD_CODE
					,TRX_CODE
					,CCY
					,IFRS_TXN_CLASS
					,AMORTIZATION_FLAG
					,AMORT_TYPE
					,GL_CODE
					,TENOR_AMORTIZATION
					,FEE_MAT_TYPE
					,FEE_MAT_AMT
					,COST_MAT_TYPE
					,COST_MAT_AMT
					,SL_EXP_LIFE
                )
                SELECT  DATA_SOURCE
						,PRD_TYPE
						,PRD_CODE
						,TRX_CODE
						,CCY
						,IFRS_TXN_CLASS
						,CASE WHEN AMORTIZATION_FLAG = 1
							THEN 'Y'
								ELSE 'N'
							END
						,AMORT_TYPE
						,GL_CODE
						,TENOR_AMORTIZATION
						,ORG_FEE_MAT_TYPE
						,ORG_FEE_MAT_AMT
						,TXN_COST_MAT_TYPE
						,TXN_COST_MAT_AMT
						,SL_EXP_LIFE
                FROM    IFRS_MASTER_TRANS_PARAM
				WHERE INST_CLS_VALUE = 'L'AND IS_DELETE = 0

INSERT INTO IFRS_LI_AMORT_LOG (DOWNLOAD_DATE,DTM,OPS,PROCNAME,REMARK)
VALUES (@v_currdate,CURRENT_TIMESTAMP,'END','SP_IFRS_SYNC_TRANSACTION_PARAM','')

    END






GO
