USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspP_CancelUploadDCF]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspP_CancelUploadDCF]  
(      
 @CIF VARCHAR(50),  
 @DCFID VARCHAR(50)  
)      
AS      
BEGIN      
DECLARE @CREATEDBY VARCHAR(36);  
  
  
SELECT @CREATEDBY=PKID FROM TBLM_USER WHERE UPPER(USERNAME)='AUTO'  
      
  
 DELETE TBLU_DCF_MESSAGEERROR WHERE DCFID = @DCFID;          
 DELETE TBLU_DCF_INFO WHERE DCFID = @DCFID --AND UPDATEDBY <> @CREATEDBY;          
 DELETE TBLU_DCF_DETAIL WHERE DCFID = @DCFID;      
    DELETE FROM TBLT_PAYMENTEXPECTEDMASTER WHERE CUSTOMER_NUMBER = @CIF;  
 DELETE TBLT_PAYMENTEXPECTEDH_TEMP WHERE DCFID = @DCFID;      
 DELETE TBLT_PAYMENTEXPECTED_TEMP WHERE DCFID = @DCFID;      
          
 DELETE IFRS_IMP_OVERRIDETRIGGERH_TEMP WHERE DCFID = @DCFID;      
 DELETE IFRS_IMP_OVERRIDETRIGGERD_TEMP WHERE DCFID = @DCFID;  
   
  
 DELETE IFRS_IMP_OVERRIDE_TEMP WHERE DCFID = @DCFID;  
 DELETE IFRS_IMP_OVERRIDE_DETAIL_TEMP WHERE DCFID = @DCFID;  
      
 DELETE IFRS_IMP_IMPAIRFLAG_TEMP WHERE CIF = @CIF;  
END;  
  
GO
