USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MIGRATION_FLOW_RATE_MAA]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_MIGRATION_FLOW_RATE_MAA]
(
@PD_RULE_ID AS BIGINT,
@PERIOD AS DATE
)
AS
BEGIN

DECLARE @TABLE VARCHAR(50)
DECLARE @PD_METHOD VARCHAR(50)

SELECT @PD_METHOD = PD_METHOD FROM IFRS_PD_RULES_CONFIG WHERE PKID = @PD_RULE_ID

IF @PD_METHOD = 'MAA_CORP'
	SET @TABLE = 'IFRS_PD_MAA_CORP_ENR'
ELSE
	SET @TABLE = 'IFRS_PD_MAA_ENR'

DECLARE @V_Query   VARCHAR(MAX);      
DECLARE @V_ColumnName VARCHAR(MAX);    
DECLARE @V_ColumnNameIsnull VARCHAR(MAX);    
     
SELECT @V_ColumnNameIsnull = COALESCE(@V_ColumnNameIsnull + ',', '') + 'ISNULL([' + BUCKET_NAME+'(%)' + '], 0) AS [' + BUCKET_NAME+'(%)' + ']',  
       @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + '[' + BUCKET_NAME+'(%)' + ']'    
FROM   
(SELECT
	DISTINCT 0 BUCKET_ID,
	'FP' BUCKET_NAME  
  FROM IFRS_PD_RULES_CONFIG PD  
  INNER JOIN IFRS_BUCKET_DETAIL BUCKET ON PD.BUCKET_GROUP = BUCKET.BUCKET_GROUP  
  WHERE PD.PKID = @PD_RULE_ID  
  UNION  
  SELECT
	BUCKET.BUCKET_ID,
	BUCKET_NAME   
  FROM IFRS_PD_RULES_CONFIG PD  
  INNER JOIN IFRS_BUCKET_DETAIL BUCKET ON PD.BUCKET_GROUP = BUCKET.BUCKET_GROUP  
  WHERE PD.PKID = @PD_RULE_ID) A  
ORDER BY BUCKET_ID   
  
IF (@V_ColumnName IS NULL)    
BEGIN  
SET @V_Query =     
 'SELECT TOP 0 '''' AS "PD Model Name",'''' AS "Snapshot",'''' AS "Bucket Name" FROM IFRS_PRC_DATE'  
END  
ELSE  
BEGIN  
SET @V_Query = ''  
SET @V_Query = @V_Query + 'SELECT A.TM_RULE_NAME AS ''PD Model Name'',A.DOWNLOAD_DATE AS ''Snapshot'' ,A.BUCKET_FROM AS ''Bucket Name'', '  
SET @V_Query = @V_Query + @V_ColumnName + ', TOTAL AS ''TOTAL(%)'' '  
SET @V_Query = @V_Query + 'FROM(SELECT TM_RULE_NAME,DOWNLOAD_DATE,BUCKET_ID,BUCKET_FROM, '  
SET @V_Query = @V_Query + @V_ColumnNameIsnull + ',TOTAL '  
SET @V_Query = @V_Query + 'FROM(SELECT A.DOWNLOAD_DATE,B.BUCKET_NAME as BUCKET_FROM,B.BUCKET_ID, '  
SET @V_Query = @V_Query + 'CASE WHEN (A.BUCKET_TO=0) THEN ''FP''+''(%)'' ELSE C.BUCKET_NAME+''(%)'' END BUCKET_TO, '  
SET @V_Query = @V_Query + 'ISNULL(A.PERCENTAGE,0) * 100 AS CALC_AMOUNT,SUM(ISNULL(A.PERCENTAGE,0) * 100) OVER(PARTITION BY A.BUCKET_FROM,A.DOWNLOAD_DATE) AS TOTAL,D.TM_RULE_NAME '  
SET @V_Query = @V_Query + 'FROM '+@TABLE+' A INNER JOIN IFRS_PD_RULES_CONFIG D ON A.PD_RULE_ID = D.PKID '  
SET @V_Query = @V_Query + 'LEFT JOIN (SELECT DISTINCT BUCKET_GROUP,BUCKET_ID,BUCKET_NAME FROM IFRS_BUCKET_DETAIL) B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_FROM = B.BUCKET_ID '  
SET @V_Query = @V_Query + 'LEFT JOIN (SELECT DISTINCT BUCKET_GROUP,BUCKET_ID,BUCKET_NAME FROM IFRS_BUCKET_DETAIL) C ON A.BUCKET_GROUP = C.BUCKET_GROUP AND A.BUCKET_TO = C.BUCKET_ID '  
SET @V_Query = @V_Query + 'WHERE A.PD_RULE_ID = ' + CAST(@PD_RULE_ID AS VARCHAR(20)) + ' '  
SET @V_Query = @V_Query + 'AND A.DOWNLOAD_DATE <=''' + CONVERT(VARCHAR(8),@Period,112) + ''')TMP '  
SET @V_Query = @V_Query + 'pivot(sum(CALC_AMOUNT) for BUCKET_TO IN ('+ @V_ColumnName +'))PVT '  
SET @V_Query = @V_Query + ')A ORDER BY DOWNLOAD_DATE,BUCKET_ID '  
END

--print (@V_Query);      
exec (@V_Query);

END

GO
