USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_LIFETIME_MODEL_ECL_TOP]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_LIFETIME_MODEL_ECL_TOP](  
@MODEL_NAME VARCHAR(250),          
 @SEGMENTATION_ID int,        
 @SEGMENT VARCHAR(100),          
 @EXPECTED_LIFE INT = NULL,          
 @HISTORICAL_DATA INT,          
 @DEFAULT_RULE_ID BIGINT,    
 @DEFAULT_RULE VARCHAR(100),            
 @CUT_OFF_DATE DATE,    
 @INCREMENT_PERIOD INT,          
 @BUCKET_GROUP VARCHAR(30)='',  
 @PKID BIGINT,  
 @UpdatedBy VARCHAR(50),  
 @UpdatedHost VARCHAR(50))  
AS  
BEGIN  
   
 UPDATE IFRS_LIFETIME_RULES_CONFIG  
 SET LIFETIME_RULE_NAME = @MODEL_NAME,  
  SEGMENTATION_ID = @SEGMENTATION_ID,  
  EXP_LIFE = @EXPECTED_LIFE,  
  HISTORICAL_DATA = @HISTORICAL_DATA,  
  CUT_OFF_DATE = @CUT_OFF_DATE,  
  INCREMENT_PERIOD=@INCREMENT_PERIOD,  
  BUCKET_GROUP = @BUCKET_GROUP,  
  DEFAULT_RULE_ID = @DEFAULT_RULE_ID,  
  UpdatedBy = @UpdatedBy,  
  UpdatedHost = @UpdatedHost  
 WHERE PKID = @PKID;  
  
END; 
GO
