USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMMARKETRATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_PARAMMARKETRATE]              
(              
	 @EFF_DATE DATE=''        
	,@PRD_CODE varchar(20)='' 
	,@CCY varchar(5)=''
	,@MKT_RATE float=0
	,@CreatedBy varchar(36)=''              
	,@CreatedHost varchar(30)=''
)           
AS              
BEGIN      
INSERT INTO dbo.[IFRS_MASTER_MARKETRATE_PARAM]             
            ([EFF_DATE]
			,[PRD_CODE]     
			,[CCY]
			,[MKT_RATE]
			,[CREATEDBY]            
			,[CREATEDDATE]
			,[CREATEDHOST]   
			,[IS_DELETE]           
           )              
     VALUES              
           (        
			 @EFF_DATE
			,@PRD_CODE
			,@CCY
			,@MKT_RATE
			,@CreatedBy              
		    ,GETDATE()              
		    ,@CreatedHost  
			,0            
           )                
END

GO
