USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMCOAOFFBSBYPKID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_PARAMCOAOFFBSBYPKID](
@PKID bigint = 0)
AS
BEGIN

 SELECT
	C.GLCode
	,C.GLName
	,C.FSCodePositive
	,C.FSCodeNegative
	,C.NormalPos
	,C.[Rule]
	,CAST(H.GEN1_CODE AS varchar(10)) +' - '+ GEN1_DESC "GEN1_CODE"
	,CAST(H.GEN2_CODE AS varchar(10)) +' - '+ GEN2_DESC "GEN2_CODE"
	,CAST(H.GEN3_CODE AS varchar(10)) +' - '+ GEN3_DESC "GEN3_CODE"
	,CAST(H.GEN4_CODE AS varchar(10)) +' - '+ GEN4_DESC "GEN4_CODE"
	,CAST(H.GEN5_CODE AS varchar(10)) +' - '+ GEN5_DESC "GEN5_CODE"
	,CAST(H.GEN6_CODE AS varchar(10)) +' - '+ GEN6_DESC "GEN6_CODE"
	,CAST(H.GEN7_CODE AS varchar(10)) +' - '+ GEN7_DESC "GEN7_CODE"
	,CAST(H.GEN8_CODE AS varchar(10)) +' - '+ GEN8_DESC "GEN8_CODE"
	,case when FSCodePositive <> '' then len(FSCodePositive)-len(replace(FSCodePositive, '-','')) + 1 end "CountLevelPos"
	,case when FSCodeNegative <> '' then len(FSCodeNegative)-len(replace(FSCodeNegative, '-','')) + 1 end "CountLevelNeg" 
    FROM GL_PARAM_COA_OFF_BS C
	left join GL_PARAM_HIERARCHY H
	on C.FSCodePositive = H.ITEM_CODE
	WHERE C.PKID = @PKID
    ORDER BY C.GLCode;

END

GO
