USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMLGDMODEL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_PARAMLGDMODEL](                  
@Where VARCHAR = '')                  
AS                  
BEGIN                  
                  
DECLARE @Query VARCHAR (3000);                  
              
IF @Where IS NOT NULL              
BEGIN              
	SET @Where = REPLACE(@Where,'CUT_OFF_DATE','REPLACE(CONVERT(VARCHAR(20),[CUT_OFF_DATE],106), '' '',''-'')')              
END              
              
SET @Query = '                        
	SELECT DISTINCT                   
		A.PKID,                  
		LGD_RULE_NAME,                  
		B.SUB_SEGMENT AS SEGMENTATION_ID,              
		LGD_METHOD,                  
		DEFAULT_RULE_ID,            
		C.RULE_NAME,              
		POW_HISTORICAL_DATA,              
		CURED_DEFINITION,              
		WORKOUT_PERIOD,              
		MIN_VALUE,              
		MAX_VALUE,              
		--RECOVERY_SEGMENT = (select SUB_SEGMENT from IFRS_MSTR_SEGMENT_RULES_HEADER where PKID = RECOVERY_SEGMENT_ID),                  
		--CRR_SEGMENT = (select SUB_SEGMENT from IFRS_MSTR_SEGMENT_RULES_HEADER where PKID = CRR_SEGMENT_ID),                  
		--URR_SEGMENT = (select SUB_SEGMENT from IFRS_MSTR_SEGMENT_RULES_HEADER where PKID = URR_SEGMENT_ID),                  
		--CURE_RATE_SEGMENT = (select SUB_SEGMENT from IFRS_MSTR_SEGMENT_RULES_HEADER where PKID = CURE_RATE_SEGMENT_ID),                  
		LGW_HISTORICAL_DATA,                  
		--PERIOD_OBSERVATION,                  
		CASE WHEN CUT_OFF_DATE = ''1900-01-01'' THEN NULL ELSE CUT_OFF_DATE END CUT_OFF_DATE
		--,              
		--COLLECTION_COST,              
		--CASE WHEN LOCAL_CURRENCY = 1                  
		--    THEN ''True''                  
		--    ELSE ''False''                  
		--   END USE_LOCAL_CURRENCY,          
		,CASE WHEN EXCLUDE_RESTRUCTURE_FLAG = 1 THEN ''Yes'' ELSE ''No'' END EXCLUDE_RESTRUCTURE_FLAG
		,CALC_METHOD
		,A.RUNNING_STATUS
		,A.LAG_1MONTH_FLAG                  
	from  IFRS_LGD_RULES_CONFIG A              
	LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID            
	LEFT JOIN IFRS_SCENARIO_RULES_HEADER C ON A.DEFAULT_RULE_ID = C.PKID              
	WHERE ISNULL(A.IS_DELETE,0)=''0''              
 '                  
	+CASE WHEN @Where <> ' ' THEN 'AND ' + @Where ELSE '' END                  
 + ' ORDER BY LGD_METHOD;';                  
                      
 EXECUTE (@Query);                  
 PRINT(@QUERY);                

END

GO
