USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_PF_CONFIG_ECL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LGD_PF_CONFIG_ECL]    
 (    
 @ECL_MODEL_ID int =0    
 )    
AS    
IF @ECL_MODEL_ID > 0      
BEGIN  
 SELECT  
  A.PKID RULE_ID  
  ,GROUP_SEGMENT  
  ,SEGMENT  
  ,SUB_SEGMENT  
 FROM IFRS_MSTR_SEGMENT_RULES_HEADER A  
 LEFT JOIN IFRS_ECL_MODEL_DETAIL_LGD B ON A.PKID = B.LGD_MODEL_ID  
 WHERE SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'  
  AND ISNULL(A.IS_DELETE,0)=0  
  AND A.PKID NOT IN (SELECT LGD_MODEL_ID FROM IFRS_ECL_MODEL_DETAIL_LGD WHERE ECL_MODEL_ID = @ECL_MODEL_ID)  
 ORDER BY RULE_ID  
END  
ELSE   
BEGIN  
 SELECT  
  A.PKID RULE_ID  
  ,GROUP_SEGMENT  
  ,SEGMENT  
  ,SUB_SEGMENT  
 FROM IFRS_MSTR_SEGMENT_RULES_HEADER A  
 LEFT JOIN IFRS_ECL_MODEL_DETAIL_LGD B ON A.PKID = B.LGD_MODEL_ID  
 WHERE SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'  
  AND ISNULL(A.IS_DELETE,0)=0  
 ORDER BY RULE_ID  
END
GO
