USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMGLRECONCILE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[USPI_PARAMGLRECONCILE]                            
(                            
 @ACOD varchar(5) = '',               
 @GL_NAME varchar(200) = '',               
 @GROUP_ACOD varchar(20) = '',                   
 @ACOD_PRINCIPAL varchar(5) = '',            
 @ABS_AMT bit=0,                            
 @CreatedBy varchar(36) = '',               
 @CreatedHost varchar(30) = ''               
)              
AS    
BEGIN 

DECLARE @ACOD_PRINCIPAL_INSERT varchar(5)
IF @ACOD_PRINCIPAL = ''
BEGIN
	SET @ACOD_PRINCIPAL_INSERT = LTRIM(RTRIM(@ACOD))
END
ELSE
	SET @ACOD_PRINCIPAL_INSERT = LTRIM(RTRIM(@ACOD_PRINCIPAL))
END        
INSERT INTO [dbo].[IFRS_MASTER_SAPGL_RECONCILE]
	          ([ACOD]
           ,[GL_NAME]
           ,[GROUP_ACOD]
           ,[ACOD_PRINCIPAL]
           ,[ABS_AMT]
           ,[CreatedBy]
           ,[CreatedDate]
           ,[CreatedHost])
     VALUES
           (
		   LTRIM(RTRIM(@ACOD))
           ,@GL_NAME
		   ,@GROUP_ACOD
           ,@ACOD_PRINCIPAL_INSERT
           ,@ABS_AMT
           ,@CreatedBy
           ,GETDATE()
           ,@CreatedHost
		   )
 --exec SP_IFRS_DROPDOWNLIST

GO
