USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_IAP]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_IAP]    
(    
	@SUB_SEGMENT VARCHAR(100),   
	@MIN_THRESHOLD INT,    
	@COST INT,
	@PERIOD_MODE VARCHAR(100),
	@PERIOD_MONTH INT,
	@LGD VARCHAR(100),    
	@CreatedBy VARCHAR(36),    
	@CreatedHost VARCHAR(30)    
)    
AS    
BEGIN

   
	INSERT INTO IFRS_IAP_PARAM    
	(    
		SEGMENTATION_ID,    
		MIN_OS_VALUE,    
		COLLECTION_COST,    
		WORKOUT_PERIOD_MODE,    
		WORKOUT_PERIOD,    
		LGD_RULE_ID,
		CreatedBy,    
		CreatedDate,    
		CreatedHost    
	)    
	VALUES    
	(    
		@SUB_SEGMENT,    
		@MIN_THRESHOLD,    
		@COST,    
		@PERIOD_MODE,    
		@PERIOD_MONTH,    
		@LGD,
		@CreatedBy,    
		GETDATE(),    
		@CreatedHost    
	)    
    
END

GO
