USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FUNDINGMODULEJOURNALEIR]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_FUNDINGMODULEJOURNALEIR]
(
    @DDATE_MAID VARCHAR(50)=''
)
AS
BEGIN

        SELECT A.DOWNLOAD_DATE,
            ACCTNO AS ACCOUNT_NUMBER,
			BRANCH,
			PRDCODE,
			TRXCODE,
			B.EXCHANGE_RATE,
            FLAG_CF,
            GLNO AS GL_ACCOUNT, --GLNO + '-' + BRANCH + '-00' AS GL_ACCOUNT,  --> SMI
            CASE WHEN JOURNALCODE = 'AMORT' THEN
                JOURNALCODE
            ELSE
                JOURNALCODE2
            END AS JOURNAL_TYPE,
            JOURNAL_DESC,
            CCY,
            DRCR AS DB_CR,
            REVERSE,
            N_AMOUNT AS AMOUNT,
			N_AMOUNT_IDR AS AMOUNT_BASE,
            A.MASTERID AS MASTER_ACCOUNT_ID
        FROM IFRS_LI_ACCT_JOURNAL_DATA A (NOLOCK)
		LEFT JOIN IFRS_MASTER_ACCOUNT B (NOLOCK) ON B.MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))
			AND A.DOWNLOAD_DATE = B.DOWNLOAD_DATE
			AND A.MASTERID = B.MASTERID
        WHERE A.MASTERID = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))
            AND A.DOWNLOAD_DATE <= CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10), 111)
        ORDER BY  A.download_date,JOURNAL_TYPE DESC, FLAG_CF DESC, reverse DESC,
         NOREF ASC; 
		 
END;
GO
