USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PROCESSJOBMONITORINGDAILYD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_PROCESSJOBMONITORINGDAILYD]
(
	@jobid VARCHAR(100)
)
AS
BEGIN

	SELECT a.*, 
		b.ProcessName, 
		b.ProcessDescription 
	FROM tblT_ProcessTransformDetail a (NOLOCK)
		LEFT JOIN tblM_CommonTableDetail b ON a.ReportID = b.ProcessID
	WHERE JobID = @jobid;
     
END;

GO
