USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECLRESULT_PRODGROUP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[USPS_ECLRESULT_PRODGROUP]
(
	@DataSource varchar(50)=''
)
as
Begin
	SELECT distinct PRD_GROUP, PRD_GROUP as "Product Group"
	FROM IFRS_MASTER_PRODUCT_PARAMETER  
	where DATA_SOURCE = @DataSource
	AND ISNULL(CUSTOMER_TYPE, '') <> 'RETAIL'
End

GO
