USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMJOURNAL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPD_PARAMJOURNAL]   
(   
 -- parameter input untuk kolom helper  
 @PKID bigint = 0  
)   
AS   
BEGIN   
 -- proc untuk delete 1 row dari table ?  
 UPDATE IFRS_MASTER_JOURNAL_PARAM set IS_DELETE = 1
 WHERE PKID = @PKID  
 
END

GO
