USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FACILITY]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_FACILITY]
(  
	@DCFID BIGINT = null,
	@DDATE_UID VARCHAR(100) = null
)  
AS  
BEGIN  

	DECLARE @Query VARCHAR(MAX);
	DECLARE @CurrDate DATE;  
	DECLARE @UploadID BIGINT;

	IF @DDATE_UID IS NOT NULL AND @DDATE_UID <> ''
	BEGIN
		SET @CurrDate = CAST(SUBSTRING(@DDATE_UID, 1, 10) AS DATE);
		SET @UploadID = CAST(SUBSTRING(@DDATE_UID, 12, LEN(@DDATE_UID)) AS BIGINT);
	END
	ELSE
	BEGIN
		SELECT @CurrDate = CURRDATE FROM IFRS_PRC_DATE;
	END

	SET @Query =
		'SELECT IMA.DOWNLOAD_DATE,  
			IMA.CUSTOMER_NUMBER,  
			IMA.CUSTOMER_NAME,   
			IMA.FACILITY_NUMBER,  
			IMA.CURRENCY,   
			MAX(IIO.OUTSTANDING) OUTSTANDING, 
			MAX(IIO.EAD_AMOUNT) EAD_AMOUNT,   
			MAX(IIO.BI_COLLECT_IMPAIR) BI_COLLECTABILITY,
			IIL.START_DATE,
			IIL.DUE_DATE,
			MAX(DATEDIFF(DAY,CAST(IIL.START_DATE AS DATE) ,IIL.DUE_DATE)) AS TENOR,
			IIO.ORR_REPORTING
		FROM IFRS_MASTER_ACCOUNT IMA '
			+ CASE WHEN @UploadID IS NOT NULL AND @UploadID <> 0
				THEN ' INNER JOIN IFRS_IMP_OVERRIDE_HISTORY IIO ON IIO.FACILITY_NUMBER = IMA.FACILITY_NUMBER
					AND IIO.DOWNLOAD_DATE = IMA.DOWNLOAD_DATE 
					AND IIO.DCFSTATUS = ''A'''
				ELSE ' INNER JOIN IFRS_IMP_OVERRIDE IIO ON IIO.FACILITY_NUMBER = IMA.FACILITY_NUMBER
					AND IIO.DOWNLOAD_DATE = IMA.DOWNLOAD_DATE '
				END
			+ CASE WHEN @UploadID IS NOT NULL AND @UploadID <> 0
				THEN ' INNER JOIN (SELECT DISTINCT DCFID, UPLOADID, ESTIMATED_REALIZATION_DATE, FACILITY_NUMBER, CURRENCY from TBLT_PAYMENTEXPECTED_HIST) BP ON IIO.FACILITY_NUMBER = BP.FACILITY_NUMBER
					AND EOMONTH(IIO.DOWNLOAD_DATE) = ESTIMATED_REALIZATION_DATE
					AND UPLOADID = ' + CAST(@UploadID AS VARCHAR(50))
				ELSE ''
			END
			+ ' LEFT JOIN 
				(
					SELECT MAX(DOWNLOAD_DATE) AS DOWNLOAD_DATE,
						ACCOUNT_NUMBER,
						START_DATE,
						DUE_DATE
						FROM IFRS_IMA_LIMIT  
						WHERE ACCOUNT_NUMBER IS NOT NULL
						AND (START_DATE IS NOT NULL OR DUE_DATE IS NOT NULL) 
						GROUP BY
						ACCOUNT_NUMBER,
						START_DATE,
						DUE_DATE
				) IIL ON IIO.FACILITY_NUMBER = IIL.ACCOUNT_NUMBER
		WHERE IMA.DOWNLOAD_DATE = ''' + CAST(@CurrDate AS VARCHAR(20)) + ''''
			+ CASE WHEN @DCFID IS NOT NULL AND @DCFID <> 0
				THEN ' AND IIO.DCFID = ' + CAST(@DCFID AS VARCHAR(50))
				ELSE ''
			END
			+ CASE WHEN @UploadID IS NOT NULL AND @UploadID <> 0
				THEN ' AND UPLOADID = ' + CAST(@UploadID AS VARCHAR(50))
				ELSE ''
			END
		+ ' 
		GROUP BY IMA.DOWNLOAD_DATE, 
			IMA.CUSTOMER_NUMBER, 
			IMA.CUSTOMER_NAME, 
			IMA.FACILITY_NUMBER, 
			IMA.CURRENCY, 
			IIL.START_DATE, 
			IIL.DUE_DATE, 
			IIO.ORR_REPORTING';
	
	EXEC (@Query);

END;

GO
