USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADPENDINGFEECOST]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_UPLOADPENDINGFEECOST]
(@UploadID int = 0)
AS
BEGIN
       
    SELECT
         DATA_SOURCE,
		 ACCOUNT_NUMBER,
		 PRD_CODE,
		 TRX_CODE,
		 FACILITY_NUMBER,
		 TRANSACTION_DATE,
		 EFFECTIVE_DATE,
		 CURRENCY,
		 DEBIT_CREDIT_FLAG,
		 TRY_CONVERT(FLOAT, TRANSACTION_AMOUNT) AS TRANSACTION_AMOUNT
    FROM TBLU_TRANS_ASSET_PENDING WHERE UPLOADID = @UploadID
       

END

GO
