USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_LookupECLDataSource]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[uspS_LookupECLDataSource]  
AS  
BEGIN  
      SELECT DISTINCT   
            DATA_SOURCE,  
            DATA_SOURCE "Data Source" 
        FROM IFRS_MASTER_PRODUCT_PARAMETER  
END; 

GO
