USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_LOGEDINUSER]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPD_LOGEDINUSER](@UserId varchar(36)) 
AS
DELETE FROM tblT_LogedInUser WHERE UserId = @UserId






GO
