USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PARAMCCFMODELBYPKID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_PARAMCCFMODELBYPKID]      
(      
    @PKID BIGINT = 0
)      
AS      
BEGIN      

	SELECT
		CCF_RULE_NAME,
		SEGMENTATION_ID,
		CALC_METHOD,
		AVERAGE_METHOD,
		DEFAULT_RULE_ID,
		CUT_OFF_DATE,
		CCF_OVERRIDE,
		ACTIVE_FLAG,
		LAG_1MONTH_FLAG,
		OBSERV_PERIOD_MOVING,
		OS_DEF_ZERO_EXCLUDE,
		HEADROOM_ZERO_EXCLUDE
	FROM IFRS_CCF_RULES_CONFIG
	WHERE PKID = @PKID      
  
END

GO
