USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKPENDINGFORECAST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_CHECKPENDINGFORECAST]
	@ME_CODE VARCHAR(100) = ''
AS
BEGIN
	
	SELECT * FROM IFRS_ME_FORECAST_PEND WHERE ME_CODE = @ME_CODE

END
GO
