USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_BI_SEGMENTPSAK55]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_BI_SEGMENTPSAK55](
@SEGMENT_PSAK55 VARCHAR(50) = '',
@PRODUCT_CODE VARCHAR(20) = '',
@CreatedBy varchar(36) = '',               
@CreatedHost varchar(30) = ''
)               
AS
BEGIN

	INSERT INTO PRODUCT_SEGMENT_PSAK55
	(
		SEGMENT_PSAK55,
		PRODUCT_CODE,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST
	)
	VALUES
	(
		LTRIM(RTRIM(@SEGMENT_PSAK55)),
		@PRODUCT_CODE,
		@CreatedBy,
		GETDATE(),
		@CreatedHost
	)

	--TRANSFER TO IFRS9_REPORT
	TRUNCATE TABLE IFRS9_REPORT.DBO.PRODUCT_SEGMENT_PSAK55

	INSERT INTO IFRS9_REPORT.DBO.PRODUCT_SEGMENT_PSAK55(PRD_CODE,SEGMENT_PSAK55,SEGMENT_PSAK55_ID)
	SELECT value AS PRD_CODE, SEGMENT_PSAK55, PKID AS SEGMENT_PSAK55_ID
	FROM PRODUCT_SEGMENT_PSAK55
	CROSS APPLY STRING_SPLIT(PRODUCT_CODE,';')
	WHERE IS_DELETE = 0
	ORDER BY PKID

END

GO
