USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_PD_NFR_ENR]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROC [dbo].[SP_IFRS_IMPCR_PD_NFR_ENR] 
@DOWNLOAD_DATE DATE ='',
@RULE_ID BIGINT = 0
AS   
BEGIN  
    DECLARE @V_CURRDATE DATE                                                                        
    DECLARE @V_PREVDATE DATE          
    DECLARE @V_PREVMONTH DATE   
    DECLARE @LAST_YEAR DATE      
  
    IF @DOWNLOAD_DATE <> ''        
    BEGIN         
        SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN        
        SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
        SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))       
        SET @LAST_YEAR =  EOMONTH(DATEADD(MONTH,-12, @V_CURRDATE))   
    END        
    ELSE         
    BEGIN         
        SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE)) FROM IFRS_PRC_DATE        
        SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
        SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))   
        SET @LAST_YEAR =  EOMONTH(DATEADD(MONTH,-12, @V_CURRDATE))   
    END        
   
    DELETE [IFRS_PD_NFR_ENR] 
    WHERE DOWNLOAD_DATE = @V_CURRDATE AND PD_RULE_ID = @RULE_ID
  
    INSERT INTO [IFRS_PD_NFR_ENR]
    (
        DOWNLOAD_DATE  
        ,PD_RULE_ID  
        ,PD_RULE_NAME  
        ,BUCKET_GROUP  
        ,BUCKET_ID  
        ,CALC_AMOUNT  
        ,CALC_METHOD  
        ,CREATEDBY  
        ,CREATEDDATE
    )  
    SELECT 
        DOWNLOAD_DATE  
        ,PD_RULE_ID  
        ,MAX(PD_RULE_NAME) AS PD_RULE_NAME  
        ,MAX(BUCKET_GROUP) AS BUCKET_GROUP  
        ,BUCKET_ID  
        ,CASE WHEN MAX(CALC_METHOD) IN ('AOS','COS') THEN SUM(CALC_AMOUNT) ELSE COUNT(1) END AS CALC_AMOUNT  
        ,MAX(CALC_METHOD) AS CALC_METHOD  
        ,MAX(CREATEDBY) AS CREATEDBY  
        ,GETDATE() AS CREATEDDATE    
    FROM   
    (
        SELECT 
            DOWNLOAD_DATE  
            ,PD_RULE_ID  
            ,PD_UNIQUE_ID  
            ,MAX(PD_RULE_NAME) as PD_RULE_NAME  
            ,MAX(A.BUCKET_GROUP) as BUCKET_GROUP  
            ,MAX(BUCKET_ID) as BUCKET_ID  
            ,CASE WHEN MAX(A.CALC_METHOD) IN ('COS','AOS') THEN SUM(A.OUTSTANDING) ELSE 1 END AS CALC_AMOUNT  
            ,MAX(A.CALC_METHOD) as CALC_METHOD  
            ,'SP_IFRS_IMP_PD_NFR_ENR'  AS CREATEDBY  
            ,GETDATE() AS CREATEDDATE   
        FROM IFRS_PD_SCENARIO_DATA  A   
        INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID   
        WHERE DOWNLOAD_DATE = @V_CURRDATE AND B.PD_METHOD = 'NFR' AND B.CUT_OFF_DATE <= @V_CURRDATE --and A.BUCKET_ID <> 0   
        AND A.PD_RULE_ID = @RULE_ID
        GROUP BY DOWNLOAD_DATE, PD_RULE_ID, A.PD_UNIQUE_ID  
     ) X   
    GROUP BY DOWNLOAD_DATE,PD_RULE_ID,BUCKET_ID   
   
    -- INSERT NOT FOUND BUCKET         
    IF OBJECT_ID ('TEMPDB.DBO.#CURR_ENR_NFR') IS NOT NULL DROP TABLE #CURR_ENR_NFR  
    SELECT * 
    INTO #CURR_ENR_NFR 
    FROM [IFRS_PD_NFR_ENR] 
    WHERE DOWNLOAD_DATE = @V_CURRDATE 
    AND PD_RULE_ID = @RULE_ID
      
    DECLARE @BUCKET_GROUP VARCHAR(100)  
    DECLARE @PD_RULE_ID INT   
  
    DECLARE LOOP1             
    CURSOR FOR 
        SELECT DISTINCT PD_RULE_ID, BUCKET_GROUP 
        FROM #CURR_ENR_NFR
        WHERE PD_RULE_ID = @RULE_ID
    OPEN LOOP1      
    FETCH LOOP1 INTO @PD_RULE_ID, @BUCKET_GROUP   
  
    WHILE @@FETCH_STATUS = 0       
    BEGIN      
  
        IF OBJECT_ID ('TEMPDB.DBO.#NOT_FOUND') IS NOT NULL DROP TABLE #NOT_FOUND  
        SELECT A.BUCKET_GROUP, A.BUCKET_ID INTO #NOT_FOUND  
        FROM IFRS_BUCKET_DETAIL A LEFT JOIN  #CURR_ENR_NFR B ON A.BUCKET_GROUP  = B.BUCKET_GROUP AND A.BUCKET_ID = B.BUCKET_ID AND B.PD_RULE_ID = @PD_RULE_ID  
        WHERE A.BUCKET_GROUP = @BUCKET_GROUP  AND B.BUCKET_ID IS NULL  
  
        INSERT INTO [IFRS_PD_NFR_ENR]
        (
            DOWNLOAD_DATE  
            ,PD_RULE_ID  
            ,PD_RULE_NAME  
            ,BUCKET_GROUP  
            ,BUCKET_ID  
            ,CALC_AMOUNT  
            ,CALC_METHOD  
            ,CREATEDBY  
            ,CREATEDDATE
        )  
        SELECT 
            @V_CURRDATE AS DOWNLOAD_DATE  
            ,A.PKID AS PD_RULE_ID  
            ,A.TM_RULE_NAME AS PD_RULE_NAME  
            ,A.BUCKET_GROUP  
            ,B.BUCKET_ID  
            ,0 AS CALC_AMOUNT  
            ,A.CALC_METHOD  
            ,'SP_IFRS_IMP_PD_NFR_ENR' AS CREATEDBY  
            ,GETDATE() AS CREATEDDATE  
        FROM IFRS_PD_RULES_CONFIG A 
        INNER JOIN #NOT_FOUND B 
        ON A.BUCKET_GROUP = B.BUCKET_GROUP    
        WHERE A.PKID = @PD_RULE_ID  
  
        FETCH NEXT FROM LOOP1 INTO  @PD_RULE_ID, @BUCKET_GROUP     
    END       
    CLOSE LOOP1      
    DEALLOCATE LOOP1      
  
END 

GO
