USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_APPROVALDLIST]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_APPROVALDLIST]
(
	@headerid bigint        
)
AS        
BEGIN            

	SELECT (CONVERT(VARCHAR(10),HeaderID) + '-' + '' + '-' + '') AS Title,
		FieldName,
		CASE WHEN FieldName IN ('CreatedBy','UpdatedBy', 'ReportTo') 
			THEN (SELECT UserName FROM tblm_user WHERE UPPER(cast(pkid as varchar(36))) = UPPER(NewValue))
			ELSE NewValue 
		END FieldValue, 
		CASE WHEN FieldName IN ('CreatedBy','UpdatedBy', 'ReportTo') 
			THEN (SELECT UserName FROM tblm_user WHERE UPPER(cast(pkid as varchar(36))) = UPPER(OLDVALUE))
			ELSE OldValue 
		END OldValue,
		RowSequence,
        D.Headerid
	FROM tblT_ApprovalDetail D        
		INNER JOIN tblt_ApprovalHeader H ON D.HeaderID = H.PKID            
    WHERE MasterID = @headerid OR H.PKID = @headerid;   
	     
END

GO
