USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_TMP_PD_LIGHT_HEADER]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPU_TMP_PD_LIGHT_HEADER]
(
	@TMRuleId int = 0,
	@TMPeriod date='1900-01-01',
	@BootstrapID int = 0,
	@LightGroup varchar(30)='',
	@AvgLightFrom date='1900-01-01',
	@AvgLightTo date='1900-01-01',
	@PDEffPeriod date='1990-01-01',
	@UpdatedBy varchar(36)='',
	@UpdatedHost varchar(36)='',
	@PKID bigint=0,
	@IsActive bit=0
)
as
begin

	IF @IsActive > 0
	begin
		Update TMP_IFRS_LIGHT_PD_CONFIG 
			SET ACTIVE_FLAG = 0
	end

	Update TMP_IFRS_LIGHT_PD_CONFIG
	set TM_RULE_ID = @TMRuleId,
		TM_PERIOD = EOMONTH(@TMPeriod),
		BOOTSTRAP_RULE_ID = @BootstrapID,
		LIGHT_GROUP = @LightGroup,
		AVG_LIGHT_FROM = @AvgLightFrom,
		AVG_LIGHT_TO = @AvgLightTo,
		PD_EFF_PERIOD = EOMONTH(@PDEffPeriod),
		ACTIVE_FLAG = @IsActive,
		UPDATEDBY = @UpdatedBy,
		UPDATEDDATE = getdate(),
		UPDATEDHOST = @UpdatedHost
	where PKID = @PKID

End

GO
