USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOGODDS_ADJ_PD_LIGHT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOGODDS_ADJ_PD_LIGHT](@PKID BIGINT=0)
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE	@V_Query   VARCHAR(MAX);
	DECLARE @V_ColumnName VARCHAR(MAX);

	SELECT @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + SUB_BUCKET_GROUP
	FROM TMP_IFRS_LIGHT_PD_CONFIG A
	JOIN IFRS_PD_TRANS_MATRIX_CONFIG B
	ON A.PKID = @PKID
		AND A.TM_RULE_ID = B.PKID
	JOIN IFRS_IMPC_BUCKET_PARAM C
	ON B.BUCKET_GROUP = C.BUCKET_GROUP 
	JOIN VW_IFRS_MAX_BUCKET D
	ON C.BUCKET_GROUP = D.BUCKET_GROUP
		AND C.BUCKET_ID < D.MAX_BUCKET_ID
	GROUP BY SUB_BUCKET_GROUP
	ORDER BY SUB_BUCKET_GROUP;

	SET @V_Query = 'SELECT * FROM 
					(
						SELECT D.SUB_BUCKET_GROUP, 
							A.LIGHT_ID "Light",
							E.IMAGE_URL LIGHT_COLOR,
							A.LOGODDS_ADJUSTED_PD 
						FROM TMP_IFRS_LIGHT_LOGODDS_ADJ_PD A
						JOIN TMP_IFRS_LIGHT_PD_CONFIG B
						ON A.LIGHT_PD_MODEL_ID = B.PKID
							AND A.LIGHT_PD_MODEL_ID = ' + CAST(@PKID AS varchar(max)) + '
						JOIN IFRS_PD_TRANS_MATRIX_CONFIG C
						ON B.TM_RULE_ID = C.PKID
						JOIN IFRS_IMPC_BUCKET_PARAM D
						ON C.BUCKET_GROUP = D.BUCKET_GROUP
							AND A.BUCKET_ID = D.BUCKET_ID
						JOIN IFRS_IMP_LIGHT_SCEN_PARAM E
						ON B.LIGHT_GROUP = E.LIGHT_GROUP
							AND A.LIGHT_ID = E.LIGHT_ID
					) TMP
					PIVOT
					(
						MAX(LOGODDS_ADJUSTED_PD)
						FOR SUB_BUCKET_GROUP IN ('+ @V_ColumnName +')
					) PVT';

	exec (@V_Query);
END;

GO
