USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETTRANSFORMDEPEND]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETTRANSFORMDEPEND]
( 
	@Module VARCHAR(20)  
	,@PeriodeDate DATETIME  
	,@JobNo VARCHAR(20)
)
AS  
BEGIN

	SET NOCOUNT ON

	DECLARE @STEPSEQ INT
	SELECT @STEPSEQ=STEPSEQUENCE
		FROM TBLM_COMMONTABLE
		WHERE JOBNO=@JobNo

	  
	CREATE TABLE #stephistoryall (  
	 step_no INT  
	 ,STATUS VARCHAR(50)  
	 ,lastupdateddate DATETIME  
	 )  
  
	INSERT INTO #stephistoryall  
	SELECT JobNo  
	 ,STATUS  
	 ,UpdatedDate  
	FROM tblT_JobHistory WITH (NOLOCK)  
	WHERE datediff(day, PeriodDate, @PeriodeDate) = 0  
  
	SELECT step_no  
	 ,max(lastupdateddate) AS lastupdateddate  
	INTO #stephistory  
	FROM #stephistoryall  
	GROUP BY step_no  
  
	-- START : get data depend            
	DECLARE @step_seq INT  
  
	SELECT @step_seq = stepsequence  
	FROM tblM_CommonTable WITH (NOLOCK)  
	WHERE JobNo = @JobNo;  
  
	WITH DEPEND_TAB  
	AS 
	(  
		SELECT StepSequence  
			,DependOnStep  
		FROM tblM_JobDependency WITH (NOLOCK)  
		WHERE StepSequence = @step_seq  
			AND module = @module  

		UNION ALL  

		SELECT a.StepSequence  
			,a.DependOnStep  
		FROM tblM_JobDependency a WITH (NOLOCK)  
			INNER JOIN DEPEND_TAB b ON a.StepSequence = b.DependOnStep  
				AND module = @module  
	)  
	SELECT DISTINCT cast(b.JobNo AS VARCHAR(100)) AS JobNo  
	INTO #depend  
	FROM DEPEND_TAB a WITH (NOLOCK)  
	INNER JOIN tblM_CommonTable b WITH (NOLOCK) ON a.dependonstep = b.stepsequence  
  
	-- END : get data depend            
	SELECT a.JobNo  
	FROM tblT_ServiceJobsHeader a WITH (NOLOCK)  
	INNER JOIN tblT_ServiceJobsDetail c WITH (NOLOCK) ON a.PKID = c.HeaderID  
		AND c.ParameterName = 'PARAM_DATE'  
	WHERE a.JobNo IN 
	(  
		SELECT JobNo  
		FROM #depend  
	)  
		AND a.JobName = @module  
		AND a.STATUS IN ('Queued', 'Executed')  
		AND datediff(day, c.ParameterValue, @PeriodeDate) = 0  
  
	UNION  
  
	SELECT cast(c.JobNo AS VARCHAR(100)) AS JobNo  
	FROM tblM_CommonTable c  
		INNER JOIN #stephistoryall a ON c.JobNo = a.step_no  
		INNER JOIN #stephistory b ON a.step_no = b.step_no  
			AND a.lastupdateddate = b.lastupdateddate  
	WHERE a.STATUS IN 
	(  
		'Fail'  
		,'Failed'  
		,'Progress'  
		,'Failed Validation'  
		,'Cancel'  
	)  
		AND c.JobNo IN 
		(  
			SELECT JobNo  
			FROM #depend  
		)  
  
	DROP TABLE #stephistoryall  
  
	DROP TABLE #stephistory  
  
	DROP TABLE #depend  
  
	SET NOCOUNT OFF

END

GO
