USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAPLISTBYDATECIFCOLLOVRD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IAPLISTBYDATECIFCOLLOVRD](
@DATE_CIF_SEGMENT varchar(100) = '')
AS
BEGIN
	
	IF NOT EXISTS(SELECT * FROM IFRS_IAP_LIST_PENDING WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT AND APPROVAL_STATUS = 'I')
	BEGIN
		SELECT
			B.MASTER_ACCOUNT_CODE
			,A.MASTERID
			,A.CUSTOMER_NUMBER
			,A.CUSTOMER_NAME
			,A.BI_COLLECTABILITY
			,A.GROUP_SEGMENT
			,A.SUB_SEGMENT
			,A.IAP_PARAM_HEADERID
			,ISNULL(B.COLLATERAL_LIQUIDATION_VALUE,0) AS IMA_COLLATERAL_LIQUIDATION_VALUE
			,ISNULL(A.COLLATERAL_LIQUIDATION_VALUE, 0) AS COLLATERAL_LIQUIDATION_VALUE
			,ISNULL(A.OUTSTANDING, 0) AS OUTSTANDING
			,ISNULL(A.EIR, 0) AS EIR
			,ISNULL(A.IIP_AMOUNT,0) AS IIP_AMOUNT
			,ISNULL(A.DISC_CASH_FLOW,0) AS DISC_CASH_FLOW
		FROM IFRS_IAP_LIST A
		INNER JOIN IFRS_MASTER_ACCOUNT B ON A.MASTERID = B.MASTERID AND B.DOWNLOAD_DATE = EOMONTH(CONVERT(VARCHAR, SUBSTRING(@DATE_CIF_SEGMENT, 1, 10), 111))
		LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER C ON A.SUB_SEGMENT = C.SUB_SEGMENT
			AND IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
		WHERE A.IMPAIRED_FLAG = 'I'
			AND A.IAP_EXCLUSION_FLAG = 0
			AND CAST(A.DOWNLOAD_DATE AS varchar(10)) + '_' + A.CUSTOMER_NUMBER + '_' + CAST(C.PKID AS varchar(10)) = @DATE_CIF_SEGMENT
	END
	ELSE
	BEGIN
		SELECT
			B.MASTER_ACCOUNT_CODE
			,A.MASTERID
			,A.CUSTOMER_NUMBER
			,A.CUSTOMER_NAME
			,A.BI_COLLECTABILITY
			,A.GROUP_SEGMENT
			,A.SUB_SEGMENT
			,A.IAP_PARAM_HEADERID
			,ISNULL(B.COLLATERAL_LIQUIDATION_VALUE,0) AS IMA_COLLATERAL_LIQUIDATION_VALUE
			,ISNULL(ISNULL(A.COLLATERAL_LIQUIDATION_VALUE_OVERRIDE, A.COLLATERAL_LIQUIDATION_VALUE),0) AS COLLATERAL_LIQUIDATION_VALUE
			,ISNULL(A.OUTSTANDING, 0) AS OUTSTANDING
			,ISNULL(A.EIR, 0) AS EIR
			,ISNULL(A.IIP_AMOUNT, 0) AS IIP_AMOUNT
			,ISNULL(A.IIP_AMOUNT_OVERRIDE, 0) AS IIP_AMOUNT_OVERRIDE
			,ISNULL(A.DISC_CASH_FLOW, 0) AS DISC_CASH_FLOW
			,ISNULL(A.DISC_CASH_FLOW_OVERRIDE, 0) AS DISC_CASH_FLOW_OVERRIDE
		FROM IFRS_IAP_LIST_PENDING A
		INNER JOIN IFRS_MASTER_ACCOUNT B ON A.MASTERID = B.MASTERID AND B.DOWNLOAD_DATE = EOMONTH(CONVERT(VARCHAR, SUBSTRING(@DATE_CIF_SEGMENT, 1, 10), 111))
		LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER C ON A.SUB_SEGMENT = C.SUB_SEGMENT
			AND IS_DELETE = 0 AND SEGMENT_TYPE = 'PORTFOLIO_SEGMENT'
		WHERE A.IMPAIRED_FLAG = 'I'
			AND A.IAP_EXCLUSION_FLAG = 0
			AND CAST(A.DOWNLOAD_DATE AS varchar(10)) + '_' + A.CUSTOMER_NUMBER + '_' + CAST(C.PKID AS varchar(10)) = @DATE_CIF_SEGMENT
			AND APPROVAL_STATUS = 'I'
			AND ID = (SELECT MAX(ID) FROM IFRS_IAP_LIST_PENDING WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT AND APPROVAL_STATUS = 'I')
	END

END

GO
