USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDEACCUPLOADD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERRIDEACCUPLOADD]    
(    
 @DETAILPKID VARCHAR(100)    
)    
AS    
BEGIN    
        
 DECLARE @CurrDate DATETIME;  
 DECLARE @uploadID INT;    
        
 SELECT @uploadID = ISNULL(SUBSTRING(@DETAILPKID, 0, CHARINDEX('_', @DETAILPKID) - 1), @DETAILPKID);    
        
 SELECT @CurrDate = CURRDATE FROM IFRS_PRC_DATE;    
        
 SELECT MASTERID "Master ID",     
  estimated_realization_date_fd "Estimated Realization Date",     
  --principal "Principal",     
  estimated_principal_paym "Estimated Principal Payment",     
  npv "NPV",     
  npv_month "NPV Month",   
  eir_amount "Unwinding",     
  beginning_balance "Beginning Balance",     
  ending_balance "Ending Balance",  
  REMARKS "Remarks"  
 FROM tblT_PaymentExpected_TEMP     
 --WHERE CAST(UPLOADID AS VARCHAR) + '_' + Master_Account_ID = @DETAILPKID     
 WHERE CAST(DCFID AS VARCHAR) + '_' + MasterID = @DETAILPKID     
 ORDER BY NPV_Month,estimated_realization_date_fd;    
        
END;  
GO
