USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FUNDINGMODULEH]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_FUNDINGMODULEH]  
(  
    @DOWNLOAD_DATE date = '1/1/1900',  
    @PRODUCT_TYPE varchar(50)='',  
	@PRODUCT_CODE varchar(20)='',  
	@ACCOUNT_NUMBER VARCHAR(50)='',  
    @Where VARCHAR(1000)='',  
    @pageNumber INT,  
    @pageSize INT,  
    @SortColumn varchar(100)=''  
)  
AS  
BEGIN  
  
 DECLARE @Query AS VARCHAR(3000);  
 DECLARE @DOWNLOAD_DATE_DD AS DATE;  
   
 IF @SortColumn = ''  
 BEGIN  
  SET @SortColumn = 'MASTER_ACCOUNT_CODE';  
 END  
   
 IF @pageSize = 0  
 BEGIN  
  SET @pageSize = 1  
 END  

IF @Where IS NOT NULL
BEGIN
	SET @Where = REPLACE(@Where,'DOWNLOAD_DATE','REPLACE(CONVERT(VARCHAR(20),[DOWNLOAD_DATE],106), '' '',''-'')')
	SET @Where = REPLACE(@Where,'LOAN_START_DATE','REPLACE(CONVERT(VARCHAR(20),[LOAN_START_DATE],106), '' '',''-'')')
	SET @Where = REPLACE(@Where,'LOAN_DUE_DATE','REPLACE(CONVERT(VARCHAR(20),[LOAN_DUE_DATE],106), '' '',''-'')')
END 
   
IF (CONVERT(DATE, @DOWNLOAD_DATE) ='1/1/1900')  
BEGIN  
  SELECT @DOWNLOAD_DATE_DD = currdate FROM IFRS_PRC_DATE  
END  
ELSE  
BEGIN  
	SELECT @DOWNLOAD_DATE_DD = CONVERT(DATE, @DOWNLOAD_DATE)  
END  
      
SET @Query =  
'SELECT * FROM (
	SELECT CONVERT(varchar(50), DOWNLOAD_DATE, 111) + ACCOUNT_NUMBER DDATE_MAID,  
		DOWNLOAD_DATE,  
		MASTER_ACCOUNT_CODE,
		A.DATA_SOURCE,  
		PRODUCT_TYPE,  
		B.PRD_TYPE_1 AS ASSET_TYPE_PRODUCT1,
		A.PRODUCT_GROUP,  
		BRANCH_CODE,  
		ACCOUNT_NUMBER,   
		CUSTOMER_NUMBER,  
		CUSTOMER_NAME,  
		LOAN_START_DATE,  
		LOAN_DUE_DATE,  
		PRODUCT_CODE,  
		CURRENCY,  
		ISNULL(OUTSTANDING,0) AS OUTSTANDING,  
		ACCOUNT_STATUS,  
		ISNULL(INITIAL_UNAMORT_ORG_FEE, 0) AS INITIAL_UNAMORT_ORG_FEE,  
		ISNULL(INITIAL_UNAMORT_TXN_COST, 0) AS INITIAL_UNAMORT_TXN_COST,  
		ISNULL(UNAMORT_FEE_AMT,0) AS UNAMORT_FEE_AMT,  
		ISNULL(UNAMORT_COST_AMT,0) AS UNAMORT_COST_AMT,
		CASE WHEN A.INTEREST_RATE <> 0 THEN ISNULL(A.INTEREST_RATE, 0) ELSE ''0'' END INTEREST_RATE,    
        CASE WHEN A.EIR <> 0 THEN ISNULL(A.EIR, 0) ELSE ''0'' END EIR
	FROM IFRS_LI_MASTER_ACCOUNT A (NOLOCK)  
	LEFT JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)
		ON A.DATA_SOURCE = B.DATA_SOURCE AND A.PRODUCT_TYPE = B.PRD_TYPE AND A.PRODUCT_CODE = B.PRD_CODE  
  WHERE '  
	+' DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE_DD, 120)  +  ''''  
	+ CASE WHEN @PRODUCT_TYPE <> '' THEN 'AND PRODUCT_TYPE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_TYPE)) + '%'' '  
    ELSE '' END  
	+ CASE WHEN @PRODUCT_CODE <> '' THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_CODE)) + '%'' '  
    ELSE '' END  
	+ CASE WHEN @ACCOUNT_NUMBER <> '' THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNT_NUMBER)) + '%'' '  
    ELSE '' END + ') X'
	+ CASE WHEN @Where <> '' THEN ' WHERE ' + @Where    
        ELSE '' END
	+ '  
  ORDER BY ' + @SortColumn + '  
  OFFSET ' + CAST(@pageNumber AS VARCHAR) + ' ROWS  
  FETCH NEXT ' + CAST(@pageSize AS VARCHAR) + ' ROWS ONLY OPTION (RECOMPILE);';  
  
EXEC (@Query);  
PRINT (@Query);            

END;  

GO
