USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TMPGETNEXTMODELREGISPKID]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_TMPGETNEXTMODELREGISPKID]
AS
BEGIN
    --SELECT ISNULL(IDENT_CURRENT('TMP_IFRS_MACRO_ECONOMIC_MODEL') + IDENT_INCR('TMP_IFRS_MACRO_ECONOMIC_MODEL'),1)    

	Update TBLM_SEQUENCE
	set SEQUENCES = SEQUENCES + 1
	where SEQUENCE_NAME = 'ME_MODEL_REGIS' 

	select SEQUENCES from TBLM_SEQUENCE
	where SEQUENCE_NAME = 'ME_MODEL_REGIS'

END;

GO
