USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_REVIEW_LEGAL_CONDITION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_REVIEW_LEGAL_CONDITION](        
 @MASTERID VARCHAR(75),    
 @INFORMATION VARCHAR(100),    
 @COLLATERAL_TYPE VARCHAR(20),    
 @MARKET_VALUE DECIMAL(32, 6),    
 @LIQUIDATED_VALUE DECIMAL(32, 6),    
 @REMARKS VARCHAR(100),  
 @CreatedBy VARCHAR(100),    
 @CreatedHost VARCHAR(100)  
)        
AS        
BEGIN        
    
 INSERT INTO IFRS_IMP_OVERRIDE_COLLATERAL (    
  MASTERID,    
  INFORMATION,    
  COLLATERAL_TYPE,    
  MARKET_VALUE,    
  LIQUIDATED_VALUE,    
  REMARKS,
  CREATEDBY,
  CREATEDHOST,
  CREATEDDATE)    
 VALUES (    
  @MASTERID,    
  @INFORMATION,    
  @COLLATERAL_TYPE,    
  @MARKET_VALUE,    
  @LIQUIDATED_VALUE,    
  @REMARKS,
  @CreatedBy,
  @CreatedHost,
  GETDATE())    
        
END
GO
