USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MODELLED_PD_INTERPOLATED_COHORT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_MODELLED_PD_INTERPOLATED_COHORT]  
(  
 @PD_RULE_ID AS BIGINT,  
 @PERIOD AS DATE  
  
)  
AS  
BEGIN  

DECLARE @TABLE VARCHAR(50)
DECLARE @PD_METHOD VARCHAR(50)

SELECT @PD_METHOD = PD_METHOD FROM IFRS_PD_RULES_CONFIG WHERE PKID = @PD_RULE_ID

DECLARE @V_Query   VARCHAR(MAX);      
DECLARE @V_ColumnName VARCHAR(MAX);    
DECLARE @V_ColumnNameIsnull VARCHAR(MAX);    

IF @PD_METHOD = 'MAA_CORP'
BEGIN
	SELECT @V_ColumnNameIsnull = COALESCE(@V_ColumnNameIsnull + ',', '') + 'ISNULL([' + BUCKET_NAME + '], 0) AS [' + BUCKET_NAME + ']',  
		   @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + '[' + BUCKET_NAME + ']'    
	FROM   
	(SELECT DISTINCT
		BUCKET.BUCKET_ID,
		BUCKET_NAME   
	  FROM IFRS_PD_RULES_CONFIG PD  
	  INNER JOIN IFRS_BUCKET_DETAIL BUCKET ON PD.BUCKET_GROUP2 = BUCKET.BUCKET_GROUP  
	  WHERE PD.PKID = @PD_RULE_ID) A  
	ORDER BY BUCKET_ID
END
ELSE
BEGIN
	SELECT @V_ColumnNameIsnull = COALESCE(@V_ColumnNameIsnull + ',', '') + 'ISNULL([' + BUCKET_NAME + '], 0) AS [' + BUCKET_NAME + ']',  
		   @V_ColumnName = COALESCE(@V_ColumnName + ',', '') + '[' + BUCKET_NAME + ']'    
	FROM   
	(SELECT DISTINCT
		BUCKET.BUCKET_ID,
		BUCKET_NAME   
	  FROM IFRS_PD_RULES_CONFIG PD  
	  INNER JOIN IFRS_BUCKET_DETAIL BUCKET ON PD.BUCKET_GROUP = BUCKET.BUCKET_GROUP  
	  WHERE PD.PKID = @PD_RULE_ID) A  
	ORDER BY BUCKET_ID
END   
  
IF (@V_ColumnName IS NULL)    
BEGIN  
SET @V_Query =     
 'SELECT TOP 0 '''' AS "Month" FROM IFRS_PRC_DATE'  
END  
ELSE  
BEGIN  
SET @V_Query = ''  
SET @V_Query = @V_Query + 'SELECT FL_SEQ AS [Month], '  
SET @V_Query = @V_Query + @V_ColumnName
SET @V_Query = @V_Query + 'FROM(SELECT FL_SEQ,PD_RATE * 100 AS PD_RATE , BUCKET_NAME '
SET @V_Query = @V_Query + 'FROM IFRS_PD_TERM_STRUCTURE_NOFL '
SET @V_Query = @V_Query + 'WHERE PD_RULE_ID = ' + CAST(@PD_RULE_ID AS VARCHAR(20)) + ' '
SET @V_Query = @V_Query + 'AND DOWNLOAD_DATE =''' + CONVERT(VARCHAR(8),@Period,112) + ''') AS SOURCETABLE '
SET @V_Query = @V_Query + 'pivot(SUM(PD_RATE) FOR BUCKET_NAME IN ('+ @V_ColumnName +'))PVT ' 
SET @V_Query = @V_Query + 'ORDER BY FL_SEQ '
END

print (@V_Query);      
exec (@V_Query); 
  
END

GO
