USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCRN_GROUPNAME]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_SCRN_GROUPNAME]   
(    
 @screenGroupId BIGINT    
)    
AS    
BEGIN    
    
 select SCREENGROUPID from TBLM_SCREENGROUPHEADER where PKID=@screenGroupId  
       
END

GO
