USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_FILL_SIT_MIGA_FRANS_SEQUENCE]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[EXEC_FILL_SIT_MIGA_FRANS_SEQUENCE] @START date, @END date, @SEGMENT varchar(50), @PD_NAME varchar(100)
AS
BEGIN

  DECLARE @CURRDATE date
  DECLARE @PREVDATE date
  DECLARE @NEXTDATE date
  DECLARE @DEFAULTRULEID int
  SET @DEFAULTRULEID = (SELECT
    default_rule_id
  FROM IFRS_PD_RULES_CONFIG
  WHERE tm_rule_name = @PD_NAME)
  WHILE @START <= @END
  BEGIN
    SET @CURRDATE = EOMONTH(@START)
    SET @PREVDATE = eomonth(DATEADD(MONTH, -12, @START))
    SET @NEXTDATE = eomonth(DATEADD(MONTH, 12, @START))
    PRINT @start

    DELETE FRANS_SIT_MIGA
    WHERE snapshot = @CURRDATE
      AND segment = @SEGMENT;

    INSERT INTO FRANS_SIT_MIGA (segment, snapshot, snapshot_12m, mia, mia_12m, noa)
      SELECT
        @SEGMENT AS SEGMENT,
        A.SNAPSHOT,
        @NEXTDATE AS SNAPSHOT_12M,
        MIA,
        case when MIA='NPL' then 'NPL' when MIA='FP' then 'FP' else MIA_12M end as MIA_12M,
        COUNT(*) AS NOA
      FROM (SELECT
        a.DOWNLOAD_DATE AS SNAPSHOT,
        e.download_date AS SNAPSHOT_12M,
        a.masterid,
        CASE
          WHEN c.fp_flag = 1 AND
            a.DAY_PAST_DUE <= 180 THEN 'FP'
          WHEN d.masterid IS NOT NULL THEN 'NPL'
          ELSE b.BUCKET_NAME
        END
        AS MIA,
        CASE
           WHEN EXISTS (SELECT
              1
            FROM IFRS_IMP_DEFAULT_STATUS_FRANS_SIT
            WHERE (
            (a.GROUP_SEGMENT IN ('PURNA BAKTI', 'CONSUMER FINANCE')
            AND DEFAULT_PDLGD_PUR_CF = 1)
            OR (a.GROUP_SEGMENT IN ('MITRA BISNIS')
            AND DEFAULT_PDLGD_MB = 1)
            OR (a.GROUP_SEGMENT IN ('MITRA USAHA RAKYAT')
            AND DEFAULT_PDLGD_MUR = 1)
            )
            AND MASTERID = a.MASTERID
            AND DOWNLOAD_DATE = @CURRDATE) THEN 'NPL'
          WHEN g.FP_FLAG = 1 AND
            e.DAY_PAST_DUE <= 180 THEN 'FP'

          ELSE ISNULL(f.BUCKET_NAME, 'FP')
        END
        AS MIA_12M
      FROM (SELECT
        *
      FROM ifrs_master_account_monthly WITH (NOLOCK)
      WHERE DOWNLOAD_DATE = @CURRDATE
      AND SEGMENT = @SEGMENT) a
      LEFT JOIN IFRS_BUCKET_DETAIL b WITH (NOLOCK)
        ON b.BUCKET_GROUP = 'DPD_5_001'
        AND (
        (
        a.segment = 'MB'
        AND a.DPD_CIF BETWEEN b.RANGE_START AND b.RANGE_END
        )
        OR (
        a.segment <> 'MB'
        AND a.DAY_PAST_DUE BETWEEN b.RANGE_START AND b.RANGE_END
        )
        )
      LEFT JOIN IFRS_IMP_DEFAULT_STATUS c WITH (NOLOCK)
        ON a.DOWNLOAD_DATE = c.DOWNLOAD_DATE
        AND a.MASTERID = c.MASTERID
      LEFT JOIN IFRS_DEFAULT d WITH (NOLOCK)
        ON a.MASTERID = d.MASTERID
        AND a.DOWNLOAD_DATE = d.DOWNLOAD_DATE
        AND d.RULE_ID = @DEFAULTRULEID
      LEFT JOIN (SELECT
        *
      FROM ifrs_master_account_monthly WITH (NOLOCK)
      WHERE DOWNLOAD_DATE = @NEXTDATE) e
        ON a.MASTERID = e.MASTERID
        AND a.SEGMENT = e.SEGMENT
      LEFT JOIN IFRS_BUCKET_DETAIL f WITH (NOLOCK)
        ON f.BUCKET_GROUP = 'DPD_5_001'
        AND (	
        (
        e.segment = 'MB'
        AND e.DPD_CIF BETWEEN f.RANGE_START AND f.RANGE_END
        )
        OR (
        e.segment <> 'MB'
        AND e.DAY_PAST_DUE BETWEEN f.RANGE_START AND f.RANGE_END
        )
        )
      LEFT JOIN IFRS_IMP_DEFAULT_STATUS g WITH (NOLOCK)
        ON e.DOWNLOAD_DATE = g.DOWNLOAD_DATE
        AND e.MASTERID = g.MASTERID) A
      GROUP BY 
	  A.SNAPSHOT,
               MIA,
case when MIA='NPL' then 'NPL' when MIA='FP' then 'FP' else MIA_12M end 

    SET @START = EOMONTH(DATEADD(M, 1, @START))

  END

END
GO
