USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_IAMOVEMENTCOMPARATIVE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPR_IAMOVEMENTCOMPARATIVE]
(
	@Download_Date as date = '01-Jan-2000'
)
AS
BEGIN

		SELECT
		IIO.DOWNLOAD_DATE AS "Download Date",
		IIO.FACILITY_NUMBER AS "Facility Number",
		IIO.CUSTOMER_NAME AS "Customer Name",
		IIO.CURRENCY AS "Currency",
		IIO.BI_COLLECT_IMPAIR AS "BI Collect",
		ISNULL(EAD.EAD_AMOUNT,0) AS "EAD Amount Uploaded by Date",
		ISNULL(TMP.EAD_AMOUNT,0) AS "EAD Amount Current",
		ISNULL(TMP.ECL_AMOUNT,0) AS "Individual Provision",
		abs(isnull(TMP.EAD_AMOUNT,0) - isnull(IIO.EAD_AMOUNT,0)) "Movement EAD Amount",
		--ABS(ISNULL(TMP.ECL_AMOUNT, 0) - ISNULL(IIO.EAD_AMOUNT, 0)) "Diff ECL - EAD",
		--ABS(ROUND(CASE WHEN TP.ESTIMATED_REALIZATION_DATE = (SELECT CURRDATE FROM IFRS_PRC_DATE) THEN (ISNULL(IMA.ECL_AMOUNT, 0) - ISNULL(IMA.OUTSTANDING, 0)) ELSE NULL END, 2)) "Diff ECL - OS",
		ISNULL(TP.ESTIMATED_AMOUNT,0) AS "Recovery Cashflow"
		FROM IFRS_IMP_OVERRIDE IIO 
				LEFT JOIN
					(SELECT
							IMA.DOWNLOAD_DATE,
							IMA.FACILITY_NUMBER,
							IMA.CURRENCY,
							SUM(ISNULL(IMA.EAD_AMOUNT,0)) AS EAD_AMOUNT,
							SUM(ISNULL(IMA.ECL_AMOUNT,IIIM.IIP_AMOUNT)) AS ECL_AMOUNT
							FROM IFRS_MASTER_ACCOUNT IMA
							LEFT JOIN IFRS_IMP_IA_MASTER IIIM
							ON IMA.MASTER_ACCOUNT_ID = IIIM.MASTER_ACCOUNT_ID
							AND IMA.DOWNLOAD_DATE = IIIM.DOWNLOAD_DATE
							AND IMA.IMPAIRED_FLAG = 'I'
							AND IMA.DATA_SOURCE = 'LOAN'
							AND IMA.SEGMENT <> 'RETAIL'
							WHERE IMA.DOWNLOAD_DATE = @Download_Date
							GROUP BY 
							IMA.DOWNLOAD_DATE,
							IMA.FACILITY_NUMBER,
							IMA.CURRENCY) TMP
					ON IIO.FACILITY_NUMBER = TMP.FACILITY_NUMBER
					AND IIO.CURRENCY = TMP.CURRENCY
				LEFT JOIN (
						SELECT 
							FACILITY_NUMBER,
							CURRENCY,
							SUM(ISNULL(PROBABILITY_WEIGHTED,0)) AS ESTIMATED_AMOUNT,
							MAX(ESTIMATED_REALIZATION_DATE) AS ESTIMATED_REALIZATION_DATE
							FROM TBLT_PAYMENTEXPECTED
							WHERE ESTIMATED_REALIZATION_DATE <= EOMONTH(@Download_Date)
							GROUP BY 
							FACILITY_NUMBER,
							CURRENCY
							)TP
					ON TP.CURRENCY = IIO.CURRENCY
					AND IIO.FACILITY_NUMBER = TP.FACILITY_NUMBER
				LEFT JOIN (
						SELECT X.DCFID, X.DOWNLOAD_DATE, X.FACILITY_NUMBER, X.CURRENCY, X.EAD_AMOUNT FROM IFRS_IMP_OVERRIDE X
							INNER JOIN (
							SELECT DCFID, MAX(DOWNLOAD_DATE) MAX_DOWNLOAD_DATE FROM IFRS_IMP_IA_MASTER 
							GROUP BY DCFID)Y
							ON X.DCFID =  Y.DCFID
							AND X.DOWNLOAD_DATE = Y.MAX_DOWNLOAD_DATE
								)EAD
					ON IIO.FACILITY_NUMBER = EAD.FACILITY_NUMBER
					AND IIO.CURRENCY = EAD.CURRENCY
				WHERE IIO.DOWNLOAD_DATE = @Download_Date;



END

GO
