USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_TMPMODELMEDEPENDENT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_TMPMODELMEDEPENDENT]    
(    
    @PKID BIGINT    
)    
AS    
BEGIN    
    
    /*SELECT *    
    FROM TMP_IFRS_DEPENDENT_VARIABLE    
    WHERE MODEL_ID = @PKID;  */  
  
 SELECT '2 - STAFF LOAN' AS MACRO_ECONOMIC_CODE, '25' AS RECESSION, '60' AS BASE, 15 AS BOOM  
           
END;    
GO
