USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALARINDEPENDENTVARIABLE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALARINDEPENDENTVARIABLE]  
(                
	@SCALAR_ID int  
)                
AS                
BEGIN                

--select 
--0 as ParentID,
--0 as FieldID,
--0 as ME_PERIOD,
--0 as ME_VAL


	SELECT
		X.ParentId,
		X.FieldId,
		X.ME_PERIOD,
		X.ME_VAL
	FROM
		(SELECT 
			'' AS ParentId,
			A.FieldId,
			NULL AS ME_PERIOD,
			NULL AS ME_VAL
		FROM
			(SELECT
				DISTINCT(SCENARIO_NAME) AS FieldId
			FROM
				IFRS_ME_SCALAR_DETAIL
			WHERE 
				SCALAR_ID = @SCALAR_ID) A

		UNION ALL

		SELECT
			B.SCENARIO_NAME AS ParentId,
			B.ME_CODE_ORIG+'('+B.SCENARIO_NAME+')' AS FieldId,
			NULL AS ME_PERIOD,
			NULL AS ME_VAL
		FROM
			(SELECT
				DISTINCT(ME_CODE_ORIG),
				SCENARIO_NAME
			FROM
				IFRS_ME_COMPLETE
			WHERE 
				SCALAR_ID = @SCALAR_ID) B

		UNION ALL

		SELECT
			C.ME_CODE_ORIG AS ParentId,
			C.ME_CODE AS FieldId,
			C.ME_PERIOD,
			C.ME_VAL
		FROM
			(SELECT
				ME_CODE_ORIG+'('+SCENARIO_NAME+')' AS ME_CODE_ORIG,
				ME_PERIOD,
				ME_CODE+'('+SCENARIO_NAME+')'+'('+CONVERT(VARCHAR(MAX), ME_PERIOD, 105)+')' AS ME_CODE,
				ME_VAL
			FROM 
				IFRS_ME_COMPLETE_DERIVED
			WHERE
				SCALAR_ID = @SCALAR_ID) C) X
	ORDER BY
		X.ParentId,
		X.ME_PERIOD

END 
GO
