USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_POW_D]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LGD_POW_D]
(
	@Period          DATE='1900-01-01',  
	@ProdGroup       int=0,
    @DefaultDate     DATE='1900-01-01'
)
AS
BEGIN
	select  
		MASTER_ACCOUNT_CODE "Account Number", 
		A.EQV_AT_DEFAULT "Outstanding at Default",
		case when CURE_FLAG = 1 THEN
			'Yes' 
			else 'No'
		END as Cured
		from IFRS_LGD_POW_DETAIL A join IFRS_MASTER_ID B on A.MASTERID = B.MASTERID
	where A.EFF_DATE = @Period and A.LGD_RULE_ID = @ProdGroup and DEFAULT_DATE = @DefaultDate

END

GO
