USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_DELETEME]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPD_DELETEME]
	@PKID bigint
AS
BEGIN
	UPDATE TMP_IFRS_MACRO_ECONOMIC_MODEL SET IS_DELETED = 1 WHERE PKID = @PKID
	UPDATE IFRS_MACRO_ECONOMIC_MODEL SET IS_DELETED = 1 WHERE PKID = @PKID
END

GO
