USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_DCFMASTERID]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPI_DCFMASTERID]           
(          
	@DCFBY VARCHAR(20) = NULL,          
	@CUSTOMER_NUMBER VARCHAR(50) = NULL,   
	@MASTERID VARCHAR(100) = NULL,         
	@CreatedBy VARCHAR(36) = NULL,          
	@CreatedHost VARCHAR(30) = NULL          
)          
AS          
BEGIN          

	DECLARE @dcfid             INTEGER;          
	DECLARE @headeridtrigger   INTEGER;          
          
	BEGIN TRAN      
      
	-- Get DCFID from Master        
	INSERT INTO tblT_PaymentExpectedMaster           
	(          
		CreatedBy,          
		CreatedDate,          
		CreatedHost,          
		DCFBY,          
		CUSTOMER_NUMBER,  
		MASTERID          
	)          
	VALUES           
	(          
		@CreatedBy,          
		GETDATE(),          
		@CreatedHost,          
		@DCFBY,          
		@CUSTOMER_NUMBER,  
		@MASTERID      
	);
              
	SELECT @dcfid = MAX (PKID)          
	FROM tblT_PaymentExpectedMaster          
	--WHERE CreatedBy = @CreatedBy AND CreatedHost = @CreatedHost;          

	-- Insert to PaymentExpected temporary upload DCF by account        
	INSERT INTO tblT_PaymentExpectedH_TEMP           
	(
		DCFID, 
		UPLOADID,          
		ROW_NUMBER,          
		CUSTOMER_NUMBER,          
		MASTERID,          
		EFFECTIVE_DATE,          
		EIR_PERCENT,          
		PRINCIPAL,          
		INTEREST,
		UNPAID_INTEREST, 
		COLLATERAL,
		COLLATERAL_COST,          
		CREATEDBY,          
		CREATEDDATE,          
		CREATEDHOST          
	)          
	SELECT @dcfid, 
		UPLOADID,          
		ROW_NUMBER,          
		CUSTOMER_NUMBER,          
		MASTERID,          
		EFFECTIVE_DATE,          
		EIR_PERCENT,          
		PRINCIPAL,          
		INTEREST,
		UNPAID_INTEREST, 
		COLLATERAL,
		COLLATERAL_COST,    
		@CreatedBy,          
		GETDATE(),          
		@CreatedHost  
	FROM tblT_PaymentExpectedH          
	WHERE MASTERID = @MASTERID;
   
	INSERT INTO tblT_PaymentExpected_TEMP          
	(      
		DCFID,  
		TEMPID,  
		UPLOADID,  
		DOWNLOADDATE,  
		MASTERID,  
		CUSTOMER_NUMBER,  
		EFFECTIVE_DATE,  
		EFFECTIVE_DATE_FD,  
		EIR_PERCENT,  
		PRINCIPAL_PAYMENT,  
		NPV_MONTH,      
		NPV,  
		BEGINNING_BALANCE,      
		UNWINDING_AMOUNT,       
		ENDING_BALANCE,  
		CREATEDBY,            
		CREATEDDATE,          
		CREATEDHOST   
	)      
	SELECT       
		DCFID,  
		TEMPID,  
		UPLOADID,  
		DOWNLOADDATE,  
		MASTERID,  
		CUSTOMER_NUMBER,  
		EFFECTIVE_DATE,  
		EFFECTIVE_DATE_FD,  
		EIR_PERCENT,  
		PRINCIPAL_PAYMENT,  
		1,      
		NPV,  
		BEGINNING_BALANCE,      
		UNWINDING_AMOUNT,          
		ENDING_BALANCE,  
		@CreatedBy,          
		GETDATE(),          
		@CreatedHost
	FROM tblT_PaymentExpected
	WHERE MASTERID = @MASTERID;

	select @dcfid;          
      
	IF @@ERROR <> 0                          
		ROLLBACK      
	ELSE                  
		COMMIT      
        
END; 
GO
