USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_PD_MAA_AVERAGE]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_IMP_PD_MAA_AVERAGE] @DOWNLOAD_DATE DATE =''
AS 
BEGIN
 DECLARE @V_CURRDATE   DATE                                                                      
 DECLARE @V_PREVDATE   DATE        
 DECLARE @V_PREVMONTH DATE     

  IF @DOWNLOAD_DATE <> ''      
BEGIN       
SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN      
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)      
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))      
END      
ELSE       
BEGIN       
SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE) )        
FROM IFRS_PRC_DATE      
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)      
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE)) 
END      
       

DELETE A
FROM IFRS_PD_MAA_AVERAGE A
INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID
WHERE TO_DATE = @V_CURRDATE
AND B.ACTIVE_FLAG = 1 AND B.IS_DELETE = 0

INSERT INTO [IFRS_PD_MAA_AVERAGE] (DOWNLOAD_DATE
,BASE_DATE
,TO_DATE
,PD_RULE_ID
,PD_RULE_NAME
,BUCKET_GROUP
,BUCKET_FROM
,BUCKET_TO
,CALC_METHOD
,AVERAGE_RATE
,CREATEDBY
,CREATEDDATE)
SELECT 
MAX(DOWNLOAD_DATE) AS DOWNLOAD_DATE
,MAX(BASE_DATE) AS BASE_DATE
,@V_CURRDATE AS TO_DATE
,PD_RULE_ID
,MAX(PD_RULE_NAME)
,MAX(A.BUCKET_GROUP)
,BUCKET_FROM
,BUCKET_TO
,MAX(A.CALC_METHOD)
,AVG([PERCENTAGE]) AS AVERAGE_RATE
,'SP_IFRS_IMP_PD_MAA_AVERAGE' AS CREATEDBY
,GETDATE() AS CREATEDDATE
FROM IFRS_PD_MAA_ENR A INNER JOIN IFRS_PD_RULES_CONFIG B ON A.PD_RULE_ID = B.PKID
 WHERE TO_DATE <= @V_CURRDATE AND TO_DATE >= EOMONTH(DATEADD(MONTH,B.HISTORICAL_DATA*-1,@V_CURRDATE)) AND DOWNLOAD_DATE >= B.CUT_OFF_DATE  
AND B.ACTIVE_FLAG = 1 AND B.IS_DELETE = 0
GROUP BY PD_RULE_ID ,BUCKET_FROM,BUCKET_TO

-- UPDATE FOR BUCKET NPL 
UPDATE A
SET AVERAGE_RATE =  CASE WHEN A.BUCKET_TO = B.MAX_BUCKET_ID THEN 1 ELSE 0 END
FROM IFRS_PD_MAA_AVERAGE A 
INNER JOIN [dbo].[VW_IFRS_MAX_BUCKET] B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_FROM = B.MAX_BUCKET_ID
INNER JOIN [dbo].[IFRS_PD_RULES_CONFIG] C ON A.PD_RULE_ID = C.PKID
WHERE TO_DATE = @V_CURRDATE
AND C.ACTIVE_FLAG = 1 AND C.IS_DELETE = 0 
END

GO
