USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADBMAREVIEW_HIST]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOADBMAREVIEW_HIST]  
 @BMID int =0  
AS  
BEGIN  
   
	SELECT  
		B.QUESTION_TYPE,
		B.QUESTION_DESC,
		B.PKID,
		B.SUPPORTING_FLG,
		B.VALUE,
		ISNULL(A.OPTION_DESC,B.VALUE) AS OPTION_DESC,
		B.SPPI_CLASS,
		B.SPPI_CLASS2,
		B.BM_RSLT,
		B.PKID_DETAIL,
		B.PKID_HEADER,
		B.SUPPORTING_DOC,
		A.BM_NAME,
		A.EFFECTIVE_DATE,
		A.REMARK,
		A.REMARKS
	FROM  
	(  
		SELECT
			QUESTION_TYPE,
			CAST(ROW_NUMBER() OVER(ORDER BY A.PKID ASC) AS varchar(10))+'. '+QUESTION_DESC AS QUESTION_DESC,
			B.PKID,
			SUPPORTING_FLG,
			A.VALUE,
			C.OPTION_DESC,  
			CASE WHEN (SELECT CLASSNAME FROM IFRS_AC_SPPI_HEADER WHERE PKID = D.SPPI_CLASS) = '' THEN		
				(SELECT DISTINCT CLASSNAME FROM IFRS_AC_SPPI_HEADER_HIST WHERE PKID_HEADER = D.SPPI_CLASS) ELSE   
				(SELECT CLASSNAME FROM IFRS_AC_SPPI_HEADER WHERE PKID = D.SPPI_CLASS) END AS SPPI_CLASS,
			D.SPPI_CLASS as SPPI_CLASS2,
			--F.VALUE1 + ' - ' + F.DESCRIPTION AS BM_RSLT,
			F.VALUE1 AS BM_RSLT,
			A.PKID AS PKID_DETAIL,
			D.PKID_HEADER AS PKID_HEADER,
			A.SUPPORTING_DOC,
			B.SEQUENCE,
			D.BM_NAME,
			D.EFFECTIVE_DATE,
			A.REMARK,
			D.REMARKS  
		FROM IFRS_AC_BM_DETAIL_HIST A  
		JOIN IFRS_AC_BM_QUEST B ON A.QUESTIONID = B.PKID  
		JOIN IFRS_AC_BM_MASTER_QUEST_D C ON CAST(A.value AS VARCHAR(MAX)) = CAST(C.PKID AS VARCHAR(MAX))  
		JOIN IFRS_AC_BM_HEADER_HIST D ON A.BMID = D.PKID  
		--JOIN IFRS_AC_SPPI_HEADER E ON D.SPPI_CLASS = E.PKID  
		LEFT JOIN TBLM_COMMONCODEDETAIL F ON F.VALUE1 = D.BM_RSLT AND F.COMMONCODE = 'CA02'  
		WHERE D.PKID =  @BMID  
	)A  
	RIGHT JOIN  
	(  
		SELECT
			QUESTION_TYPE,
			CAST(ROW_NUMBER() OVER(ORDER BY A.PKID ASC) AS varchar(10))+'. '+QUESTION_DESC AS QUESTION_DESC,
			B.PKID,
			SUPPORTING_FLG,
			A.VALUE,
			'' OPTION_DESC,
			--CASE WHEN (SELECT CLASSNAME FROM IFRS_AC_SPPI_HEADER WHERE PKID = D.SPPI_CLASS) = '' THEN  
			--(SELECT DISTINCT CLASSNAME FROM IFRS_AC_SPPI_HEADER_HIST WHERE PKID_HEADER = D.SPPI_CLASS) ELSE   
			--(SELECT CLASSNAME FROM IFRS_AC_SPPI_HEADER WHERE PKID = D.SPPI_CLASS) END AS SPPI_CLASS 
			D.SPPI_CLASS,
			D.SPPI_CLASS as SPPI_CLASS2,
			--F.VALUE1 + ' - ' + F.DESCRIPTION AS BM_RSLT,
			F.VALUE1 AS BM_RSLT,
			A.PKID AS PKID_DETAIL,
			D.PKID_HEADER AS PKID_HEADER,
			A.SUPPORTING_DOC,
			B.SEQUENCE,
			A.REMARK  
		FROM IFRS_AC_BM_DETAIL_HIST A  
		JOIN IFRS_AC_BM_QUEST B ON A.QUESTIONID = B.PKID  
		--JOIN IFRS_AC_BM_MASTER_QUEST_D C ON CAST(A.value AS VARCHAR(MAX)) = CAST(C.PKID AS VARCHAR(MAX))  
		JOIN IFRS_AC_BM_HEADER_HIST D ON A.BMID = D.PKID  
		--JOIN IFRS_AC_SPPI_HEADER E ON D.SPPI_CLASS = E.PKID  
		LEFT JOIN TBLM_COMMONCODEDETAIL F ON F.VALUE1 = D.BM_RSLT AND F.COMMONCODE = 'CA02'  
		WHERE D.PKID =  @BMID  
	)B  
	ON A.PKID = B.PKID  
	ORDER BY B.SEQUENCE  
    
END
GO
