USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_ACCT_JRNL_DATA_MTM]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_ACCT_JRNL_DATA_MTM]
AS
DECLARE @V_CURRDATE DATE
	,@V_PREVDATE DATE
	,@V_PREVMONTH DATE
	,@V_CURRMONTH DATE

BEGIN
	SELECT @V_CURRDATE = MAX(CURRDATE)
		,@V_PREVDATE = MAX(PREVDATE)
	FROM IFRS_PRC_DATE_AMORT

	SET @V_CURRMONTH = EOMONTH(@V_CURRDATE)
	SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH, - 1, @V_CURRDATE))
	

	IF @V_CURRDATE = @V_CURRMONTH
	BEGIN

	-------------------------	NO RECLASS	   ---------------------------------

	-------------------------      PLMTM	   ---------------------------------

	DELETE IFRS_ACCT_JOURNAL_DATA
	WHERE JOURNALCODE = 'PLMTM'
	AND DOWNLOAD_DATE = @V_CURRMONTH;

	INSERT INTO IFRS_ACCT_JOURNAL_DATA (
			DOWNLOAD_DATE
			,MASTERID
			,FACNO
			,CIFNO
			,ACCTNO
			,DATASOURCE
			,PRDTYPE
			,PRDCODE
			,TRXCODE
			,CCY
			,JOURNALCODE
			,STATUS
			,REVERSE
			,FLAG_CF
			,DRCR
			,GLNO
			,N_AMOUNT
			,N_AMOUNT_IDR
			,SOURCEPROCESS
			,INTMID
			,CREATEDDATE
			,CREATEDBY
			,BRANCH
			,JOURNALCODE2
			,JOURNAL_DESC
			,NOREF
			,VALCTR_CODE
			,GL_INTERNAL_CODE
			,METHOD
			  ,ACCOUNT_TYPE  
			,CUSTOMER_TYPE   
			)
		SELECT A.DOWNLOAD_DATE
			,A.MASTERID
			,IMC.FACILITY_NUMBER
			,IMC.CUSTOMER_NUMBER
			,A.ACCOUNT_NUMBER
			,IMC.DATA_SOURCE
			,IMC.PRODUCT_TYPE
			,IMC.PRODUCT_CODE
			,B.TRX_CODE
			,IMC.CURRENCY
			,B.JOURNALCODE
			,'ACT' STATUS
			,'N' REVERSE
			,B.FLAG_CF
			,CASE WHEN A.TOT_ADJUST >= 0  THEN B.DRCR    
                    ELSE CASE WHEN B.DRCR = 'D' THEN 'C' ELSE 'D' END  
			END
			,B.GLNO
			,ABS(A.TOT_ADJUST)
			,ABS(A.TOT_ADJUST * COALESCE(IMC.EXCHANGE_RATE, 1))
			,'PLMTM' AS SOURCEPROCESS
			,NULL
			,CURRENT_TIMESTAMP
			,'SP_JOURNAL_DATA2'
			,IMC.BRANCH_CODE
			,NULL JOURNALCODE2
			,B.JOURNAL_DESC
			,B.JOURNALCODE
			,B.COSTCENTER + '-' + COALESCE(IMC.APPLICATION_NO, '')
			,B.GL_INTERNAL_CODE
			,NULL METHOD
			,IMC.ACCOUNT_TYPE AS ACCOUNT_TYPE  
			,IMC.CUSTOMER_TYPE AS CUSTOMER_TYPE 
		FROM IFRS_EIR_ADJUSTMENT A
		INNER JOIN IFRS_IMA_AMORT_CURR IMC ON A.MASTERID = IMC.MASTERID AND A.DOWNLOAD_DATE = IMC.DOWNLOAD_DATE
		JOIN IFRS_JOURNAL_PARAM B
			ON B.JOURNALCODE = 'PLMTM'
			AND B.GL_CONSTNAME = COALESCE(IMC.GL_CONSTNAME, '')
		WHERE A.DOWNLOAD_DATE = @V_CURRMONTH AND IMC.IFRS9_CLASS = 'FVTPL'
		


		--REVERSE
		INSERT INTO IFRS_ACCT_JOURNAL_DATA (
			DOWNLOAD_DATE
			,MASTERID
			,FACNO
			,CIFNO
			,ACCTNO
			,DATASOURCE
			,PRDTYPE
			,PRDCODE
			,TRXCODE
			,CCY
			,JOURNALCODE
			,STATUS
			,REVERSE
			,FLAG_CF
			,DRCR
			,GLNO
			,N_AMOUNT
			,N_AMOUNT_IDR
			,SOURCEPROCESS
			,INTMID
			,CREATEDDATE
			,CREATEDBY
			,BRANCH
			,JOURNALCODE2
			,JOURNAL_DESC
			,NOREF
			,VALCTR_CODE
			,GL_INTERNAL_CODE
			,METHOD
			  ,ACCOUNT_TYPE  
			,CUSTOMER_TYPE   
			)
		SELECT IMC.DOWNLOAD_DATE
			,A.MASTERID
			,A.FACNO
			,A.CIFNO
			,A.ACCTNO
			,A.DATASOURCE
			,A.PRDTYPE
			,A.PRDCODE
			,A.TRXCODE
			,A.CCY
			,A.JOURNALCODE
			,A.STATUS
			,'Y' REVERSE
			,A.FLAG_CF
			,CASE WHEN A.DRCR = 'D' 
				THEN 'C'
				ELSE 'D'
			 END AS DRCR
			,A.GLNO
			,A.N_AMOUNT
			,A.N_AMOUNT_IDR
			,A.SOURCEPROCESS
			,A.INTMID
			,CURRENT_TIMESTAMP
			,'SP_JOURNAL_DATA_REV'
			,A.BRANCH
			,A.JOURNALCODE2
			,A.JOURNAL_DESC
			,A.NOREF
			,A.VALCTR_CODE
			,A.GL_INTERNAL_CODE
			,A.METHOD
			,IMC.ACCOUNT_TYPE AS ACCOUNT_TYPE  
			,IMC.CUSTOMER_TYPE AS CUSTOMER_TYPE 
		FROM IFRS_ACCT_JOURNAL_DATA A
			INNER JOIN IFRS_IMA_AMORT_CURR IMC ON A.MASTERID = IMC.MASTERID
		WHERE IMC.DOWNLOAD_DATE = @V_CURRMONTH AND IMC.IFRS9_CLASS = 'FVTPL'
			AND A.DOWNLOAD_DATE = @V_PREVMONTH AND A.REVERSE = 'N'  AND  JOURNALCODE = 'PLMTM'



		-------------------------      OCIMTM	   ---------------------------------

	DELETE IFRS_ACCT_JOURNAL_DATA
	WHERE JOURNALCODE = 'OCIMTM'
	AND DOWNLOAD_DATE = @V_CURRMONTH;

	INSERT INTO IFRS_ACCT_JOURNAL_DATA (
			DOWNLOAD_DATE
			,MASTERID
			,FACNO
			,CIFNO
			,ACCTNO
			,DATASOURCE
			,PRDTYPE
			,PRDCODE
			,TRXCODE
			,CCY
			,JOURNALCODE
			,STATUS
			,REVERSE
			,FLAG_CF
			,DRCR
			,GLNO
			,N_AMOUNT
			,N_AMOUNT_IDR
			,SOURCEPROCESS
			,INTMID
			,CREATEDDATE
			,CREATEDBY
			,BRANCH
			,JOURNALCODE2
			,JOURNAL_DESC
			,NOREF
			,VALCTR_CODE
			,GL_INTERNAL_CODE
			,METHOD
			  ,ACCOUNT_TYPE  
,CUSTOMER_TYPE   
			)
		SELECT A.DOWNLOAD_DATE
			,A.MASTERID
			,IMC.FACILITY_NUMBER
			,IMC.CUSTOMER_NUMBER
			,A.ACCOUNT_NUMBER
			,IMC.DATA_SOURCE
			,IMC.PRODUCT_TYPE
			,IMC.PRODUCT_CODE
			,B.TRX_CODE
			,IMC.CURRENCY
			,B.JOURNALCODE
			,'ACT' STATUS
			,'N' REVERSE
			,B.FLAG_CF
			,CASE WHEN A.TOT_ADJUST >= 0  THEN B.DRCR    
                    ELSE CASE WHEN B.DRCR = 'D' THEN 'C' ELSE 'D' END  
			END
			,B.GLNO
			,ABS(A.TOT_ADJUST)
			,ABS(A.TOT_ADJUST * COALESCE(IMC.EXCHANGE_RATE, 1))
			,'OCIMTM' AS SOURCEPROCESS
			,NULL
			,CURRENT_TIMESTAMP
			,'SP_JOURNAL_DATA2'
			,IMC.BRANCH_CODE
			,NULL JOURNALCODE2
			,B.JOURNAL_DESC
			,B.JOURNALCODE
			,B.COSTCENTER + '-' + COALESCE(IMC.APPLICATION_NO, '')
			,B.GL_INTERNAL_CODE
			,NULL METHOD
			  ,IMC.ACCOUNT_TYPE AS ACCOUNT_TYPE  
  ,IMC.CUSTOMER_TYPE AS CUSTOMER_TYPE 
		FROM IFRS_EIR_ADJUSTMENT A
		INNER JOIN IFRS_IMA_AMORT_CURR IMC ON A.MASTERID = IMC.MASTERID AND A.DOWNLOAD_DATE = IMC.DOWNLOAD_DATE
		JOIN IFRS_JOURNAL_PARAM B
			ON B.JOURNALCODE = 'OCIMTM'
			AND B.GL_CONSTNAME = COALESCE(IMC.GL_CONSTNAME, '')
		WHERE A.DOWNLOAD_DATE = @V_CURRMONTH AND IMC.IFRS9_CLASS = 'FVOCI'


		--REVERSE
		INSERT INTO IFRS_ACCT_JOURNAL_DATA (
			DOWNLOAD_DATE
			,MASTERID
			,FACNO
			,CIFNO
			,ACCTNO
			,DATASOURCE
			,PRDTYPE
			,PRDCODE
			,TRXCODE
			,CCY
			,JOURNALCODE
			,STATUS
			,REVERSE
			,FLAG_CF
			,DRCR
			,GLNO
			,N_AMOUNT
			,N_AMOUNT_IDR
			,SOURCEPROCESS
			,INTMID
			,CREATEDDATE
			,CREATEDBY
			,BRANCH
			,JOURNALCODE2
			,JOURNAL_DESC
			,NOREF
			,VALCTR_CODE
			,GL_INTERNAL_CODE
			,METHOD
			  ,ACCOUNT_TYPE  
,CUSTOMER_TYPE   
			)
		SELECT IMC.DOWNLOAD_DATE
			,A.MASTERID
			,A.FACNO
			,A.CIFNO
			,A.ACCTNO
			,A.DATASOURCE
			,A.PRDTYPE
			,A.PRDCODE
			,A.TRXCODE
			,A.CCY
			,A.JOURNALCODE
			,A.STATUS
			,'Y' REVERSE
			,A.FLAG_CF
			,CASE WHEN A.DRCR = 'D' 
				THEN 'C'
				ELSE 'D'
			 END AS DRCR
			,A.GLNO
			,A.N_AMOUNT
			,A.N_AMOUNT_IDR
			,A.SOURCEPROCESS
			,A.INTMID
			,CURRENT_TIMESTAMP
			,'SP_JOURNAL_DATA_REV'
			,A.BRANCH
			,A.JOURNALCODE2
			,A.JOURNAL_DESC
			,A.NOREF
			,A.VALCTR_CODE
			,A.GL_INTERNAL_CODE
			,A.METHOD
			  ,IMC.ACCOUNT_TYPE AS ACCOUNT_TYPE  
  ,IMC.CUSTOMER_TYPE AS CUSTOMER_TYPE 
		FROM IFRS_ACCT_JOURNAL_DATA A
			INNER JOIN IFRS_IMA_AMORT_CURR IMC ON A.MASTERID = IMC.MASTERID
		WHERE IMC.DOWNLOAD_DATE = @V_CURRMONTH AND IMC.IFRS9_CLASS = 'FVOCI'
			AND A.DOWNLOAD_DATE = @V_PREVMONTH AND A.REVERSE = 'N'  AND  JOURNALCODE = 'FVOCI'


			
	--/************************    ITRCG     ********************************/

	--/********************************
	--	1. FVTPL : ITRCG1 
	--*********************************/

	--DELETE IFRS_ACCT_JOURNAL_DATA
	--WHERE JOURNALCODE = 'ITRCG1_ACPL'
	--AND DOWNLOAD_DATE = @V_CURRMONTH;

	--INSERT INTO IFRS_ACCT_JOURNAL_DATA (
	--		DOWNLOAD_DATE
	--		,MASTERID
	--		,FACNO
	--		,CIFNO
	--		,ACCTNO
	--		,DATASOURCE
	--		,PRDTYPE
	--		,PRDCODE
	--		,TRXCODE
	--		,CCY
	--		,JOURNALCODE
	--		,STATUS
	--		,REVERSE
	--		,FLAG_CF
	--		,DRCR
	--		,GLNO
	--		,N_AMOUNT
	--		,N_AMOUNT_IDR
	--		,SOURCEPROCESS
	--		,INTMID
	--		,CREATEDDATE
	--		,CREATEDBY
	--		,BRANCH
	--		,JOURNALCODE2
	--		,JOURNAL_DESC
	--		,NOREF
	--		,VALCTR_CODE
	--		,GL_INTERNAL_CODE
	--		,METHOD
	--		)
	--	SELECT A.DOWNLOAD_DATE
	--		,A.MASTERID
	--		,A.FACILITY_NUMBER
	--		,A.CUSTOMER_NUMBER
	--		,A.ACCOUNT_NUMBER
	--		,A.DATA_SOURCE
	--		,A.PRODUCT_TYPE
	--		,A.PRODUCT_CODE
	--		,C.TRX_CODE
	--		,A.CURRENCY
	--		,C.JOURNALCODE
	--		,'ACT' STATUS
	--		,'N' REVERSE
	--		,C.FLAG_CF
	--		,C.DRCR
	--		,C.GLNO
	--		,A.OUTSTANDING
	--		,A.OUTSTANDING * COALESCE(A.EXCHANGE_RATE, 1)
	--		,'IFRS9 RECLASS' AS SOURCEPROCESS
	--		,NULL
	--		,CURRENT_TIMESTAMP
	--		,'SP_JOURNAL_DATA2'
	--		,A.BRANCH_CODE
	--		,NULL JOURNALCODE2
	--		,C.JOURNAL_DESC
	--		,C.JOURNALCODE                 
	--		,C.COSTCENTER + '-' + COALESCE(A.APPLICATION_NO, '')
	--		,C.GL_INTERNAL_CODE
	--		,NULL METHOD
	--	FROM IFRS_IMA_AMORT_CURR A 
	--	JOIN IFRS_IMA_AMORT_PREV B
	--		ON A.MASTERID = B.MASTERID 
	--		AND B.DOWNLOAD_DATE = @V_PREVMONTH AND  B.IFRS9_CLASS = 'Amortized Cost'
	--	JOIN IFRS_JOURNAL_PARAM C
	--		ON C.JOURNALCODE = 'ITRCG1_ACPL'
	--		AND C.GL_CONSTNAME = COALESCE(A.GL_CONSTNAME, '')
	--	WHERE A.DOWNLOAD_DATE = @V_CURRMONTH AND A.IFRS9_CLASS = 'FVTPL'

	--/********************************
	-- 2. FVTPL : ITRCG2
	--*********************************/

	--DELETE IFRS_ACCT_JOURNAL_DATA
	--WHERE JOURNALCODE = 'ITRCG2_ACPL'
	--AND DOWNLOAD_DATE = @V_CURRDATE;

	--	INSERT INTO IFRS_ACCT_JOURNAL_DATA (
	--		DOWNLOAD_DATE
	--		,MASTERID
	--		,FACNO
	--		,CIFNO
	--		,ACCTNO
	--		,DATASOURCE
	--		,PRDTYPE
	--		,PRDCODE
	--		,TRXCODE
	--		,CCY
	--		,JOURNALCODE
	--		,STATUS
	--		,REVERSE
	--		,FLAG_CF
	--		,DRCR
	--		,GLNO
	--		,N_AMOUNT
	--		,N_AMOUNT_IDR
	--		,SOURCEPROCESS
	--		,INTMID
	--		,CREATEDDATE
	--		,CREATEDBY
	--		,BRANCH
	--		,JOURNALCODE2
	--		,JOURNAL_DESC
	--		,NOREF
	--		,VALCTR_CODE
	--		,GL_INTERNAL_CODE
	--		,METHOD
	--		)
	--	SELECT A.DOWNLOAD_DATE
	--		,A.MASTERID
	--		,A.FACILITY_NUMBER
	--		,A.CUSTOMER_NUMBER
	--		,A.ACCOUNT_NUMBER
	--		,A.DATA_SOURCE
	--		,A.PRODUCT_TYPE
	--		,A.PRODUCT_CODE
	--		,C.TRX_CODE
	--		,A.CURRENCY
	--		,C.JOURNALCODE
	--		,'ACT' STATUS
	--		,'N' REVERSE
	--		,C.FLAG_CF
	--		,C.DRCR
	--		,C.GLNO
	--		,A.UNAMORT_FEE_AMT * -1
	--		,A.UNAMORT_FEE_AMT * COALESCE(A.EXCHANGE_RATE, 1) * -1
	--		,'IFRS9 RECLASS' AS SOURCEPROCESS
	--		,NULL
	--		,CURRENT_TIMESTAMP
	--		,'SP_JOURNAL_DATA2'
	--		,A.BRANCH_CODE
	--		,NULL JOURNALCODE2
	--		,C.JOURNAL_DESC
	--		,C.JOURNALCODE
	--		,C.COSTCENTER + '-' + COALESCE(A.APPLICATION_NO, '')
	--		,C.GL_INTERNAL_CODE
	--		,NULL METHOD
	--	FROM IFRS_IMA_AMORT_CURR A 
	--	JOIN IFRS_IMA_AMORT_PREV B
	--		ON A.MASTERID = B.MASTERID 
	--		AND B.DOWNLOAD_DATE = @V_PREVMONTH AND  B.IFRS9_CLASS = 'Amortized Cost'
	--	JOIN IFRS_JOURNAL_PARAM C
	--		ON C.JOURNALCODE = 'ITRCG2_ACPL'
	--		AND C.GL_CONSTNAME = COALESCE(A.GL_CONSTNAME, '')
	--	WHERE A.DOWNLOAD_DATE = @V_CURRMONTH AND A.IFRS9_CLASS = 'FVTPL'


	--/********************************
	-- 3. FVOCI : ITRCG
	--*********************************/

	--DELETE IFRS_ACCT_JOURNAL_DATA
	--WHERE JOURNALCODE = 'ITRCG_ACOCI'
	--AND DOWNLOAD_DATE = @V_CURRDATE;

	--INSERT INTO IFRS_ACCT_JOURNAL_DATA (
	--		DOWNLOAD_DATE
	--		,MASTERID
	--		,FACNO
	--		,CIFNO
	--		,ACCTNO
	--		,DATASOURCE
	--		,PRDTYPE
	--		,PRDCODE
	--		,TRXCODE
	--		,CCY
	--		,JOURNALCODE
	--		,STATUS
	--		,REVERSE
	--		,FLAG_CF
	--		,DRCR
	--		,GLNO
	--		,N_AMOUNT
	--		,N_AMOUNT_IDR
	--		,SOURCEPROCESS
	--		,INTMID
	--		,CREATEDDATE
	--		,CREATEDBY
	--		,BRANCH
	--		,JOURNALCODE2
	--		,JOURNAL_DESC
	--		,NOREF
	--		,VALCTR_CODE
	--		,GL_INTERNAL_CODE
	--		,METHOD
	--		)
	--	SELECT A.DOWNLOAD_DATE
	--		,A.MASTERID
	--		,A.FACILITY_NUMBER
	--		,A.CUSTOMER_NUMBER
	--		,A.ACCOUNT_NUMBER
	--		,A.DATA_SOURCE
	--		,A.PRODUCT_TYPE
	--		,A.PRODUCT_CODE
	--		,C.TRX_CODE
	--		,A.CURRENCY
	--		,C.JOURNALCODE
	--		,'ACT' STATUS
	--		,'N' REVERSE
	--		,C.FLAG_CF
	--		,C.DRCR
	--		,C.GLNO
	--		,A.OUTSTANDING
	--		,A.OUTSTANDING * COALESCE(A.EXCHANGE_RATE, 1)
	--		,'IFRS9 RECLASS' AS SOURCEPROCESS
	--		,NULL
	--		,CURRENT_TIMESTAMP
	--		,'SP_JOURNAL_DATA2'
	--		,A.BRANCH_CODE
	--		,NULL JOURNALCODE2
	--		,C.JOURNAL_DESC
	--		,C.JOURNALCODE
	--		,C.COSTCENTER + '-' + COALESCE(A.APPLICATION_NO, '')
	--		,C.GL_INTERNAL_CODE
	--		,NULL METHOD
	--	FROM IFRS_IMA_AMORT_CURR A 
	--	JOIN IFRS_IMA_AMORT_PREV B
	--		ON A.MASTERID = B.MASTERID 
	--		AND B.DOWNLOAD_DATE = @V_PREVMONTH AND  B.IFRS9_CLASS = 'Amortized Cost'
	--	JOIN IFRS_JOURNAL_PARAM C
	--		ON C.JOURNALCODE = 'ITRCG_ACOCI'
	--		AND C.GL_CONSTNAME = COALESCE(A.GL_CONSTNAME, '')
	--	WHERE A.DOWNLOAD_DATE = @V_CURRMONTH AND A.IFRS9_CLASS = 'FVOCI'

	
	--/******************** GAIN LOSS **************/

	--/********************************
	-- 1. FVTPL : GAIN LOSS
	--****************************/

	--DELETE IFRS_ACCT_JOURNAL_DATA
	--WHERE JOURNALCODE = 'PLMTM'
	--AND DOWNLOAD_DATE = @V_CURRDATE;

	--INSERT INTO IFRS_ACCT_JOURNAL_DATA (
	--		DOWNLOAD_DATE
	--		,MASTERID
	--		,FACNO
	--		,CIFNO
	--		,ACCTNO
	--		,DATASOURCE
	--		,PRDTYPE
	--		,PRDCODE
	--		,TRXCODE
	--		,CCY
	--		,JOURNALCODE
	--		,STATUS
	--		,REVERSE
	--		,FLAG_CF
	--		,DRCR
	--		,GLNO
	--		,N_AMOUNT
	--		,N_AMOUNT_IDR
	--		,SOURCEPROCESS
	--		,INTMID
	--		,CREATEDDATE
	--		,CREATEDBY
	--		,BRANCH
	--		,JOURNALCODE2
	--		,JOURNAL_DESC
	--		,NOREF
	--		,VALCTR_CODE
	--		,GL_INTERNAL_CODE
	--		,METHOD
	--		)
	--	SELECT A.DOWNLOAD_DATE
	--		,A.MASTERID
	--		,A.FACILITY_NUMBER
	--		,A.CUSTOMER_NUMBER
	--		,A.ACCOUNT_NUMBER
	--		,A.DATA_SOURCE
	--		,A.PRODUCT_TYPE
	--		,A.PRODUCT_CODE
	--		,C.TRX_CODE
	--		,A.CURRENCY
	--		,C.JOURNALCODE
	--		,'ACT' STATUS
	--		,'N' REVERSE
	--		,C.FLAG_CF
	--		,C.DRCR
	--		,C.GLNO
	--		,A.INITIAL_UNAMORT_ORG_FEE *-1
	--		,A.INITIAL_UNAMORT_ORG_FEE * COALESCE(A.EXCHANGE_RATE, 1) *-1
	--		,'IFRS9 RECLASS' AS SOURCEPROCESS
	--		,NULL
	--		,CURRENT_TIMESTAMP
	--		,'SP_JOURNAL_DATA2'
	--		,A.BRANCH_CODE
	--		,NULL JOURNALCODE2
	--		,C.JOURNAL_DESC
	--		,C.JOURNALCODE
	--		,C.COSTCENTER + '-' + COALESCE(A.APPLICATION_NO, '')
	--		,C.GL_INTERNAL_CODE
	--		,NULL METHOD
	--	FROM IFRS_IMA_AMORT_CURR A 
	--	JOIN IFRS_IMA_AMORT_PREV B
	--		ON A.MASTERID = B.MASTERID 
	--		AND B.DOWNLOAD_DATE = @V_PREVMONTH AND  B.IFRS9_CLASS = 'AMORTIZED COST'
	--	JOIN IFRS_JOURNAL_PARAM C
	--		ON C.JOURNALCODE = 'PLMTM'
	--		AND C.GL_CONSTNAME = COALESCE(A.GL_CONSTNAME, '')
	--	WHERE A.DOWNLOAD_DATE = @V_CURRMONTH AND A.IFRS9_CLASS = 'FVTPL'


	--/********************************
	-- 2. FVTPL : UNAMORT
	--****************************/
	--DELETE IFRS_ACCT_JOURNAL_DATA
	--WHERE JOURNALCODE = 'PLMTM_ACPL'
	--AND DOWNLOAD_DATE = @V_CURRDATE;

	--INSERT INTO IFRS_ACCT_JOURNAL_DATA (
	--		DOWNLOAD_DATE
	--		,MASTERID
	--		,FACNO
	--		,CIFNO
	--		,ACCTNO
	--		,DATASOURCE
	--		,PRDTYPE
	--		,PRDCODE
	--		,TRXCODE
	--		,CCY
	--		,JOURNALCODE
	--		,STATUS
	--		,REVERSE
	--		,FLAG_CF
	--		,DRCR
	--		,GLNO
	--		,N_AMOUNT
	--		,N_AMOUNT_IDR
	--		,SOURCEPROCESS
	--		,INTMID
	--		,CREATEDDATE
	--		,CREATEDBY
	--		,BRANCH
	--		,JOURNALCODE2
	--		,JOURNAL_DESC
	--		,NOREF
	--		,VALCTR_CODE
	--		,GL_INTERNAL_CODE
	--		,METHOD
	--		)
	--	SELECT A.DOWNLOAD_DATE
	--		,A.MASTERID
	--		,A.FACILITY_NUMBER
	--		,A.CUSTOMER_NUMBER
	--		,A.ACCOUNT_NUMBER
	--		,A.DATA_SOURCE
	--		,A.PRODUCT_TYPE
	--		,A.PRODUCT_CODE
	--		,C.TRX_CODE
	--		,A.CURRENCY
	--		,C.JOURNALCODE
	--		,'ACT' STATUS
	--		,'N' REVERSE
	--		,C.FLAG_CF
	--		,C.DRCR
	--		,C.GLNO
	--		,A.UNAMORT_FEE_AMT * -1
	--		,A.UNAMORT_FEE_AMT * COALESCE(A.EXCHANGE_RATE, 1) * -1
	--		,'IFRS9 RECLASS' AS SOURCEPROCESS
	--		,NULL
	--		,CURRENT_TIMESTAMP
	--		,'SP_JOURNAL_DATA2'
	--		,A.BRANCH_CODE
	--		,NULL JOURNALCODE2
	--		,C.JOURNAL_DESC
	--		,C.JOURNALCODE
	--		,C.COSTCENTER + '-' + COALESCE(A.APPLICATION_NO, '')
	--		,C.GL_INTERNAL_CODE
	--		,NULL METHOD
	--	FROM IFRS_IMA_AMORT_CURR A 
	--	JOIN IFRS_IMA_AMORT_PREV B
	--		ON A.MASTERID = B.MASTERID 
	--		AND B.DOWNLOAD_DATE = @V_PREVMONTH AND  B.IFRS9_CLASS = 'Amortized Cost'
	--	JOIN IFRS_JOURNAL_PARAM C
	--		ON C.JOURNALCODE = 'PLMTM_ACPL'
	--		AND C.GL_CONSTNAME = COALESCE(A.GL_CONSTNAME, '')
	--	WHERE A.DOWNLOAD_DATE = @V_CURRMONTH AND A.IFRS9_CLASS = 'FVTPL'

	
	--/********************************
	-- 3. FVOCI : GAIN LOSS
	--****************************/

	--	DELETE IFRS_ACCT_JOURNAL_DATA
	--	WHERE JOURNALCODE = 'OCIMTM'
	--	AND DOWNLOAD_DATE = @V_CURRDATE;
 
	--	INSERT INTO IFRS_ACCT_JOURNAL_DATA (
	--		DOWNLOAD_DATE
	--		,MASTERID
	--		,FACNO
	--		,CIFNO
	--		,ACCTNO
	--		,DATASOURCE
	--		,PRDTYPE
	--		,PRDCODE
	--		,TRXCODE
	--		,CCY
	--		,JOURNALCODE
	--		,STATUS
	--		,REVERSE
	--		,FLAG_CF
	--		,DRCR
	--		,GLNO
	--		,N_AMOUNT
	--		,N_AMOUNT_IDR
	--		,SOURCEPROCESS
	--		,INTMID
	--		,CREATEDDATE
	--		,CREATEDBY
	--		,BRANCH
	--		,JOURNALCODE2
	--		,JOURNAL_DESC
	--		,NOREF
	--		,VALCTR_CODE
	--		,GL_INTERNAL_CODE
	--		,METHOD
	--		)
	--	SELECT A.DOWNLOAD_DATE
	--		,A.MASTERID
	--		,IMC.FACILITY_NUMBER
	--		,IMC.CUSTOMER_NUMBER
	--		,A.ACCOUNT_NUMBER
	--		,IMC.DATA_SOURCE
	--		,IMC.PRODUCT_TYPE
	--		,IMC.PRODUCT_CODE
	--		,B.TRX_CODE
	--		,IMC.CURRENCY
	--		,B.JOURNALCODE
	--		,'ACT' STATUS
	--		,'N' REVERSE
	--		,B.FLAG_CF
	--		,CASE WHEN A.TOT_ADJUST >= 0  THEN B.DRCR    
 --                   ELSE CASE WHEN B.DRCR = 'D' THEN 'C' ELSE 'D' END  
	--		END
	--		,B.GLNO
	--		,ABS(A.TOT_ADJUST)
	--		,ABS(A.TOT_ADJUST * COALESCE(IMC.EXCHANGE_RATE, 1))
	--		,'IFRS9 RECLASS' AS SOURCEPROCESS
	--		,NULL
	--		,CURRENT_TIMESTAMP
	--		,'SP_JOURNAL_DATA2'
	--		,IMC.BRANCH_CODE
	--		,NULL JOURNALCODE2
	--		,B.JOURNAL_DESC
	--		,B.JOURNALCODE
	--		,B.COSTCENTER + '-' + COALESCE(IMC.APPLICATION_NO, '')
	--		,B.GL_INTERNAL_CODE
	--		,NULL METHOD
	--	FROM IFRS_EIR_ADJUSTMENT A
	--	INNER JOIN IFRS_IMA_AMORT_CURR IMC ON A.MASTERID = IMC.MASTERID
	--	JOIN IFRS_IMA_AMORT_PREV IMV
	--		ON A.MASTERID = IMV.MASTERID 
	--		AND IMV.DOWNLOAD_DATE = @V_PREVMONTH AND  IMV.IFRS9_CLASS = 'AMORTIZED COST'
	--	JOIN IFRS_JOURNAL_PARAM B
	--		ON B.JOURNALCODE = 'OCIMTM'
	--		AND B.GL_CONSTNAME = COALESCE(IMC.GL_CONSTNAME, '')
	--	WHERE A.DOWNLOAD_DATE = @V_CURRMONTH AND IMC.IFRS9_CLASS = 'FVOCI'


	--	/********************* REVERSE ********************/

	--	DELETE IFRS_ACCT_JOURNAL_DATA
	--	WHERE JOURNALCODE IN ('OCIMTM',  'PLMTM')
	--	AND DOWNLOAD_DATE = @V_CURRMONTH;

	--	INSERT INTO IFRS_ACCT_JOURNAL_DATA (
	--		DOWNLOAD_DATE
	--		,MASTERID
	--		,FACNO
	--		,CIFNO
	--		,ACCTNO
	--		,DATASOURCE
	--		,PRDTYPE
	--		,PRDCODE
	--		,TRXCODE
	--		,CCY
	--		,JOURNALCODE
	--		,STATUS
	--		,REVERSE
	--		,FLAG_CF
	--		,DRCR
	--		,GLNO
	--		,N_AMOUNT
	--		,N_AMOUNT_IDR
	--		,SOURCEPROCESS
	--		,INTMID
	--		,CREATEDDATE
	--		,CREATEDBY
	--		,BRANCH
	--		,JOURNALCODE2
	--		,JOURNAL_DESC
	--		,NOREF
	--		,VALCTR_CODE
	--		,GL_INTERNAL_CODE
	--		,METHOD
	--		)
	--	SELECT @V_CURRDATE DOWNLOAD_DATE
	--		,A.MASTERID
	--		,FACNO
	--		,CIFNO
	--		,ACCTNO
	--		,DATASOURCE
	--		,PRDTYPE
	--		,PRDCODE
	--		,TRXCODE
	--		,CCY
	--		,JOURNALCODE
	--		,STATUS
	--		,'Y' REVERSE
	--		,FLAG_CF
	--		,CASE 
	--			WHEN DRCR = 'D'
	--				THEN 'C'
	--			ELSE 'D'
	--			END DRCR
	--		,GLNO
	--		,N_AMOUNT
	--		,N_AMOUNT_IDR
	--		,SOURCEPROCESS
	--		,INTMID
	--		,CREATEDDATE
	--		,CREATEDBY
	--		,BRANCH
	--		,JOURNALCODE2
	--		,JOURNAL_DESC
	--		,NOREF
	--		,VALCTR_CODE
	--		,GL_INTERNAL_CODE
	--		,METHOD
	--	FROM IFRS_ACCT_JOURNAL_DATA A
	--	INNER JOIN (
	--		SELECT  MASTERID,MAX(DOWNLOAD_DATE) DOWNLOAD_DATE
	--		FROM IFRS_ACCT_JOURNAL_DATA A
	--		WHERE A.JOURNALCODE IN('OCIMTM',  'PLMTM')
	--		   AND A.REVERSE = 'N'
	--		   AND DOWNLOAD_DATE < @V_CURRMONTH
	--		   GROUP BY  MASTERID,DOWNLOAD_DATE) B
	--	ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE





	--/************************    CKPN     ********************************/

	-- /***********************
	--	1. FVTPL : CKPN PREVMONTH
	-- ***********************/
	--DELETE IFRS_IMP_JOURNAL_DATA
	--WHERE JOURNAL_TYPE = 'BKPIP_ACPL'
	--AND DOWNLOAD_DATE = @V_CURRMONTH;

	--INSERT INTO IFRS_IMP_JOURNAL_DATA (
	--	 DOWNLOAD_DATE
	--	,ACCOUNT_NUMBER
	--	,JOURNAL_REF_NUM
	--	,JOURNAL_TYPE
	--	,DATA_SOURCE
	--	,PRD_TYPE
	--	,PRD_CODE
	--	,BRANCH_CODE
	--	,CURRENCY
	--	,TXN_TYPE
	--	,AMOUNT
	--	,AMOUNT_IDR
	--	,GL_ACCOUNT
	--	,GL_CORE
	--	,JOURNAL_DESC
	--	,REVERSAL_FLAG
	--	,SEGMENT
	--	,CUSTOMER_NUMBER
	--	)

	--SELECT @V_CURRMONTH DOWNLOAD_DATE
	--	,PMA.MASTERID
	--	,GL.JOURNALCODE AS JOURNAL_REF_NUM
	--	,GL.JOURNALCODE AS JOURNAL_TYPE
	--	,PMA.DATA_SOURCE
	--	,PMA.PRODUCT_TYPE
	--	,PMA.PRODUCT_CODE
	--	,PMA.BRANCH_CODE
	--	,PMA.CURRENCY
	--	,GL.DRCR
	--	,ISNULL(PMA.ECL_AMOUNT, 0) AS AMOUNT
	--	,(ISNULL(PMA.ECL_AMOUNT, 0) * ISNULL(PMA.EXCHANGE_RATE, 1)) AS AMOUNT_IDR
	--	,GL.GL_INTERNAL_CODE  AS GL_CODE
	--	,GL.GL_INTERNAL_CODE
	--	,GL.JOURNAL_DESC
	--	,'N' AS REVERSAL_FLAG
	--	,PMA.SEGMENT
	--	,PMA.CUSTOMER_NUMBER
	--	FROM IFRS_MASTER_ACCOUNT PMA (NOLOCK) 
	--	INNER JOIN IFRS_IMA_AMORT_CURR  B (NOLOCK)
	--		ON PMA.MASTERID = B.MASTERID 
	--		AND B.DOWNLOAD_DATE = @V_CURRMONTH AND B.IFRS9_CLASS = 'FVTPL'
	--	INNER JOIN IFRS_JOURNAL_PARAM GL (NOLOCK)
	--		ON GL.JOURNALCODE = 'BKPIP_ACPL'
	--		AND GL.GL_CONSTNAME = COALESCE(PMA.GL_CONSTNAME, '')
	--	WHERE (PMA.DOWNLOAD_DATE = @V_PREVMONTH AND PMA.IFRS9_CLASS = 'AMORTIZED COST')
 --        AND PMA.ECL_AMOUNT > 0

	-- /***********************
	--	2.FVOCI : CKPN PREVMONTH
	-- ***********************/

	--DELETE IFRS_IMP_JOURNAL_DATA
	--WHERE JOURNAL_TYPE = 'BKIIP_ACOCI'
	--AND DOWNLOAD_DATE = @V_CURRMONTH;

	--INSERT INTO IFRS_IMP_JOURNAL_DATA (
	--	 DOWNLOAD_DATE
	--	,ACCOUNT_NUMBER
	--	,JOURNAL_REF_NUM
	--	,JOURNAL_TYPE
	--	,DATA_SOURCE
	--	,PRD_TYPE
	--	,PRD_CODE
	--	,BRANCH_CODE
	--	,CURRENCY
	--	,TXN_TYPE
	--	,AMOUNT
	--	,AMOUNT_IDR
	--	,GL_ACCOUNT
	--	,GL_CORE
	--	,JOURNAL_DESC
	--	,REVERSAL_FLAG
	--	,SEGMENT
	--	,CUSTOMER_NUMBER
	--	)

	--SELECT @V_CURRMONTH DOWNLOAD_DATE
	--	,PMA.MASTERID
	--	,GL.JOURNALCODE AS JOURNAL_REF_NUM
	--	,GL.JOURNALCODE AS JOURNAL_TYPE
	--	,PMA.DATA_SOURCE
	--	,PMA.PRODUCT_TYPE
	--	,PMA.PRODUCT_CODE
	--	,PMA.BRANCH_CODE
	--	,PMA.CURRENCY
	--	,GL.DRCR
	--	,ISNULL(PMA.ECL_AMOUNT, 0) AS AMOUNT
	--	,(ISNULL(PMA.ECL_AMOUNT, 0) * ISNULL(PMA.EXCHANGE_RATE, 1)) AS AMOUNT_IDR
	--	,GL.GL_INTERNAL_CODE  AS GL_CODE
	--	,GL.GL_INTERNAL_CODE
	--	,GL.JOURNAL_DESC
	--	,'N' AS REVERSAL_FLAG
	--	,PMA.SEGMENT
	--	,PMA.CUSTOMER_NUMBER
	--	FROM IFRS_MASTER_ACCOUNT PMA (NOLOCK) 
	--	INNER JOIN IFRS_IMA_AMORT_CURR  B (NOLOCK)
	--		ON PMA.MASTERID = B.MASTERID 
	--		AND B.DOWNLOAD_DATE = @V_CURRMONTH AND B.IFRS9_CLASS = 'FVOCI'
	--	INNER JOIN IFRS_JOURNAL_PARAM GL (NOLOCK)
	--		ON GL.JOURNALCODE = 'BKIIP_ACOCI'
	--		AND GL.GL_CONSTNAME = COALESCE(PMA.GL_CONSTNAME, '')
	--	WHERE (PMA.DOWNLOAD_DATE = @V_PREVMONTH AND PMA.IFRS9_CLASS = 'AMORTIZED COST')
 --        AND PMA.ECL_AMOUNT > 0

	-- /***********************
	--	3. FVOCI : CKPN CURRMONTH
	-- ***********************/

	--DELETE IFRS_IMP_JOURNAL_DATA
	--WHERE JOURNAL_TYPE = 'BKIIP_OCI'
	--AND DOWNLOAD_DATE = @V_CURRMONTH;

	--INSERT INTO IFRS_IMP_JOURNAL_DATA (
	--	 DOWNLOAD_DATE
	--	,ACCOUNT_NUMBER
	--	,JOURNAL_REF_NUM
	--	,JOURNAL_TYPE
	--	,DATA_SOURCE
	--	,PRD_TYPE
	--	,PRD_CODE
	--	,BRANCH_CODE
	--	,CURRENCY
	--	,TXN_TYPE
	--	,AMOUNT
	--	,AMOUNT_IDR
	--	,GL_ACCOUNT
	--	,GL_CORE
	--	,JOURNAL_DESC
	--	,REVERSAL_FLAG
	--	,SEGMENT
	--	,CUSTOMER_NUMBER
	--	)

	--SELECT @V_CURRMONTH DOWNLOAD_DATE
	--	,PMA.MASTERID
	--	,GL.JOURNALCODE AS JOURNAL_REF_NUM
	--	,GL.JOURNALCODE AS JOURNAL_TYPE
	--	,PMA.DATA_SOURCE
	--	,PMA.PRODUCT_TYPE
	--	,PMA.PRODUCT_CODE
	--	,PMA.BRANCH_CODE
	--	,PMA.CURRENCY
	--	,GL.DRCR
	--	,ISNULL(PMA.ECL_AMOUNT, 0) AS AMOUNT
	--	,(ISNULL(PMA.ECL_AMOUNT, 0) * ISNULL(PMA.EXCHANGE_RATE, 1)) AS AMOUNT_IDR
	--	,GL.GL_INTERNAL_CODE  AS GL_CODE
	--	,GL.GL_INTERNAL_CODE
	--	,GL.JOURNAL_DESC
	--	,'N' AS REVERSAL_FLAG
	--	,PMA.SEGMENT
	--	,PMA.CUSTOMER_NUMBER
	--	FROM IFRS_MASTER_ACCOUNT PMA (NOLOCK) 
	--	INNER JOIN IFRS_IMA_AMORT_PREV  B (NOLOCK)
	--		ON PMA.MASTERID = B.MASTERID 
	--		AND (B.DOWNLOAD_DATE = @V_PREVMONTH AND B.IFRS9_CLASS = 'AMORTIZED COST')
	--	INNER JOIN IFRS_JOURNAL_PARAM GL (NOLOCK)
	--		ON GL.JOURNALCODE = 'BKIIP_OCI'
	--		AND GL.GL_CONSTNAME = COALESCE(PMA.GL_CONSTNAME, '')
	--	WHERE (PMA.DOWNLOAD_DATE = @V_CURRMONTH AND PMA.IFRS9_CLASS = 'FVOCI')
 --        AND PMA.ECL_AMOUNT > 0

	END

END

GO
