USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALAR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALAR]      
AS      
BEGIN      
 SELECT A.PKID, B.MODEL_NAME, PERIOD,    
 CASE WHEN ADJ_TYPE = 'PCTG'    
 THEN     
 'PERCENTAGE'    
 ELSE     
 'PERCENTILE'    
 END ADJ_TYPE,    
 SCALAR_APPLY,    
 CASE WHEN SCALAR_APPLY = 'LGD'    
 THEN    
 (SELECT LGD_RULE_NAME  FROM  IFRS_LGD_RULES_CONFIG WHERE IFRS_LGD_RULES_CONFIG.PKID = A.RULE_ID)    
 ELSE    
 (SELECT  TM_RULE_NAME FROM  IFRS_PD_RULES_CONFIG WHERE IFRS_PD_RULES_CONFIG.PKID = A.RULE_ID)    
     
 END RULE_NAME     
 FROM IFRS_ME_SCALAR_HEADER A JOIN IFRS_MACRO_ECONOMIC_MODEL B ON A.MODEL_ID = B.PKID 
 WHERE A.IS_DELETE = 0     
      
END
GO
