USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_DEFRATE_RATIO]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_PD_DEFRATE_RATIO]
(
	@RuleID int=0,
	@Period date = '1900-01-01'
)
as
begin
	Select DISTINCT A.EFF_DATE PERIOD,
		ISNULL(B.SUB_BUCKET_GROUP, B.BUCKET_NAME) BUCKET,
		A.DEFAULT_RATE_RATIO * 100 as RATIO
	FROM IFRS_PD_DEFAULT_RATE_RATIO A	
	JOIN IFRS_IMPC_BUCKET_PARAM B	
	ON A.BUCKET_GROUP = B.BUCKET_GROUP	
	AND A.BUCKET_ID = B.BUCKET_ID	
	AND A.DR_RULE_ID = @RuleID	
	AND A.EFF_DATE = @Period	
end

GO
