USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEBACKTESTRESULTINSAMPLED]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MEBACKTESTRESULTINSAMPLED](    
@MODEL_ID bigint    
,@MODEL_SEQ int    
,@IS_SIMULATION bit)    
AS    
BEGIN    
    
	IF (@IS_SIMULATION = 1)    
	BEGIN    
		SELECT 
			MODEL_ID,
			MODEL_SEQ,
			EOMONTH(PERIOD) AS PERIOD,
			FITTED_PD_LOG,
			ACTUAL_PD_LOG,
			PDLOG_SQRD_ERR,
			PDLOG_MAPE,
			FITTED_PD_RATE,
			ACTUAL_PD_RATE,
			PDRATE_SQRD_ERR,
			PDRATE_MAPE
		FROM TMP_IFRS_BACKTEST_INS_DTL
		WHERE MODEL_ID = @MODEL_ID
		AND MODEL_SEQ = @MODEL_SEQ
	END    
	ELSE    
	BEGIN    
		SELECT 
			MODEL_ID,
			MODEL_SEQ,
			EOMONTH(PERIOD) AS PERIOD,
			FITTED_PD_LOG,
			ACTUAL_PD_LOG,
			PDLOG_SQRD_ERR,
			PDLOG_MAPE,
			FITTED_PD_RATE,
			ACTUAL_PD_RATE,
			PDRATE_SQRD_ERR,
			PDRATE_MAPE
		FROM IFRS_BACKTEST_INS_DTL
		WHERE MODEL_ID = @MODEL_ID
		AND MODEL_SEQ = @MODEL_SEQ
	END
    
END 
GO
