USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_SYNC_FACILITY]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_IFRS_SYNC_FACILITY] @V_CURRDATE DATE = NULL
AS
BEGIN
	IF @V_CURRDATE IS NULL
	BEGIN
		SELECT @V_CURRDATE = CURRDATE FROM DBO.IFRS_PRC_DATE_AMORT 
	END

	BEGIN TRANSACTION 
		DELETE IFRS_TRX_FACILITY_HEADER WHERE DOWNLOAD_DATE = @V_CURRDATE AND CREATEDBY <> 'TBLU_TRANS_ASSET'
       
		INSERT INTO IFRS_TRX_FACILITY_HEADER
		( 
			DOWNLOAD_DATE,  
			TRX_DATE,  
			FACILITY_NUMBER,          
			CUSTOMER_NUMBER,    
			GL_CONSTNAME,  
			BRANCH_CODE,  
			TRX_CODE,             
			DATA_SOURCE,  
			PRD_TYPE,  
			PRD_CODE,  
			TRX_DR_CR,  
			CCY,  
			MATURITY_DATE,  
			EXCHANGE_RATE,  
			METHOD,  
			STATUS,  
			FLAG_CF,  
			PLAFOND,  
			TRX_AMOUNT,  
			ALOC,  
			UNALOC
		) 
		SELECT  
			A.DOWNLOAD_DATE,  
			A.DOWNLOAD_DATE TRX_DATE, 
			A.FACILITY_NUMBER,           
			A.CUSTOMER_NUMBER,    
			'' GL_CONSTNAME, 
			A.BRANCH_CODE,  
			A.TRX_CODE,         
			A.DATA_SOURCE,  
			B.PRD_TYPE , 
			A.PRD_CODE , 
			A.DEBET_CREDIT_FLAG,  
			A.CCY, 
			A.MATURITY_DATE,  
			C.RATE_AMOUNT, 
			B.AMORT_TYPE,  
			'ACT' STATUS, 
			SUBSTRING(COALESCE(B.IFRS_TXN_CLASS, 'F'), 1, 1) FLAG_CF, 
			NULL, 
			ORG_CCY_AMT, 
			0, 
			0  
		FROM IFRS_TRANSACTION_DAILY A
		JOIN 
		(
			SELECT DISTINCT
				DATA_SOURCE
				,AMORT_TYPE 
				,PRD_TYPE
				,PRD_CODE
				,TRX_CODE
				,CCY
				,IFRS_TXN_CLASS
			FROM IFRS_MASTER_TRANS_PARAM
			WHERE IFRS_TXN_CLASS IN ('FEE', 'COST')
			AND AMORTIZATION_FLAG = 1  
			AND  INST_CLS_VALUE = 'A'
			AND IS_DELETE = 0    
		) B
		ON (B.DATA_SOURCE = A.DATA_SOURCE OR ISNULL(B.DATA_SOURCE, 'ALL') = 'ALL') 
		AND (B.PRD_CODE = A.PRD_CODE OR ISNULL(B.PRD_CODE, 'ALL') = 'ALL')
		AND B.TRX_CODE = A.TRX_CODE
		AND (B.CCY = A.CCY OR B.CCY = 'ALL')
		INNER JOIN IFRS_MASTER_EXCHANGE_RATE C ON A.CCY = C.CURRENCY  AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE
		WHERE A.DOWNLOAD_DATE = @V_CURRDATE AND ISNULL(A.MASTERID, '') = ''  
 
	COMMIT TRANSACTION
END
/**/
GO
