USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETMODULEBYGROUP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_GETMODULEBYGROUP]  
 @GroupID bigint,  
 @UserID varchar(36)          
as          
 select ModuleID into #temp from tblM_UserModule with (nolock)  
 where UserID = @UserID  
   
 select c.FrontPageUrl,c.ModuleID, c.Description as ModuleName   
 from dbo.tblM_ScreenGroupDetail a with (nolock)          
 inner join tblM_Screen b with (nolock)          
 on a.ScreenID = b.ScreenID          
 inner join tblM_Module c with (nolock)          
 on c.ModuleID = b.ModuleID          
 where a.CanView = 1          
 and a.ScreenGroupID = @GroupID  
 and c.ModuleID in ( select ModuleID from #temp )           
 and b.Active = 1        
       
 group by c.ModuleID, c.Description,c.FrontPageUrl         
 order by ModuleName    
   
 drop table #temp






GO
