USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_TMP_IFRS_SEASON_ADJ]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPU_TMP_IFRS_SEASON_ADJ]
(
	@Season_Adj float=0,
	@Derived_Type varchar(30)='',
	@Period date='1900-01-01',
	@UpdatedBy varchar(36)='',
	@UpdatedHost varchar(36)='',
	@Model_ID int=0
)
as
begin
	update TMP_IFRS_ME_SEASONAL_ADJ
	set SEASONAL_ADJUSTMENT = @Season_Adj
	where DERIVED_TYPE = @Derived_Type
	and ME_PERIOD = @Period
	and MODEL_ID = @Model_ID;
end

GO
