USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_PD_MAA_DETAIL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[SP_IFRS_IMPCR_PD_MAA_DETAIL] 
@DOWNLOAD_DATE DATE ='',
@RULE_ID BIGINT = 0
AS   
BEGIN  
    DECLARE @V_CURRDATE DATE                                                                        
    DECLARE @V_PREVDATE DATE          
    DECLARE @V_PREVMONTH DATE       
  
    IF @DOWNLOAD_DATE <> ''        
    BEGIN         
        SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN        
        SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
        SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))        
    END        
    ELSE         
    BEGIN         
        SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE)) FROM IFRS_PRC_DATE        
        SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
        SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))   
    END        
        
    IF OBJECT_ID ('TEMPDB.DBO.#RULES_CONFIG') IS NOT NULL DROP TABLE #RULES_CONFIG  
    SELECT * 
    INTO #RULES_CONFIG 
    FROM IFRS_PD_RULES_CONFIG 
    WHERE 
        PKID = @RULE_ID
        AND PD_METHOD = 'MAA' 
        AND ACTIVE_FLAG = 1 
        AND IS_DELETE = 0 
        AND CUT_OFF_DATE <= @V_CURRDATE  
  
    IF OBJECT_ID ('TEMPDB.DBO.#MAA_CURR') IS NOT NULL DROP TABLE #MAA_CURR  
    SELECT 
        A.DOWNLOAD_DATE  
        ,A.PD_RULE_ID  
        ,MAX(A.PD_RULE_NAME) AS PD_RULE_NAME  
        ,MAX(A.BUCKET_GROUP) AS BUCKET_GROUP  
        ,MAX(A.SEGMENT) AS SEGMENT  
        ,MAX(A.PD_METHOD) AS PD_METHOD  
        ,MAX(B.CALC_METHOD) AS CALC_METHOD  
        ,CASE WHEN MAX(B.CALC_METHOD) IN ('AOS','COS') THEN SUM(A.OUTSTANDING) ELSE 1 END  AS CALC_AMOUNT   
        ,MAX(A.BUCKET_ID) AS BUCKET_ID  
        ,SUM(A.OUTSTANDING) AS OUTSTANDING  
        ,A.PD_UNIQUE_ID  
        ,MAX(CASE WHEN A.NEXT_12M_DEFAULT_FLAG = 1 THEN 1 ELSE 0 END) AS NEXT_DEFAULT_FLAG  
    INTO #MAA_CURR 
    FROM IFRS_PD_SCENARIO_DATA A  
    INNER JOIN #RULES_CONFIG B 
    ON A.PD_RULE_ID = B.PKID 
    WHERE DOWNLOAD_DATE = @V_CURRDATE AND A.PD_RULE_ID = @RULE_ID
    GROUP BY PD_RULE_ID, PD_UNIQUE_ID, DOWNLOAD_DATE  
  
    IF OBJECT_ID ('TEMPDB.DBO.#MAA_BASE') IS NOT NULL DROP TABLE #MAA_BASE  
    SELECT
        A.DOWNLOAD_DATE  
        ,A.PD_RULE_ID  
        ,MAX(A.PD_RULE_NAME) AS PD_RULE_NAME  
        ,MAX(A.BUCKET_GROUP) AS BUCKET_GROUP  
        ,MAX(A.SEGMENT) AS SEGMENT  
        ,MAX(A.PD_METHOD) AS PD_METHOD  
        ,MAX(B.CALC_METHOD) AS CALC_METHOD  
        ,CASE WHEN MAX(B.CALC_METHOD) IN ('AOS','COS') THEN SUM(A.OUTSTANDING) ELSE 1 END AS CALC_AMOUNT   
        ,MAX(A.BUCKET_ID) AS BUCKET_ID  
        ,SUM(A.OUTSTANDING) AS OUTSTANDING  
        ,A.PD_UNIQUE_ID  
        ,MAX(CASE WHEN A.NEXT_12M_DEFAULT_FLAG = 1 THEN 1 ELSE 0 END ) AS NEXT_DEFAULT_FLAG  
    INTO #MAA_BASE 
    FROM IFRS_PD_SCENARIO_DATA  A  
    INNER JOIN #RULES_CONFIG B ON A.PD_RULE_ID = B.PKID 
    WHERE DOWNLOAD_DATE = EOMONTH(DATEADD(MONTH,B.INCREMENT_PERIOD*-1,@V_CURRDATE ))  
    AND A.BUCKET_ID <> 0 -- FOR BASE DATA NO NEED TO 
    AND A.PD_RULE_ID = @RULE_ID   
    GROUP BY PD_RULE_ID,PD_UNIQUE_ID,DOWNLOAD_DATE  
  
    TRUNCATE TABLE [TMP_IFRS_PD_MAA_DETAIL]  
  
    INSERT INTO [dbo].[TMP_IFRS_PD_MAA_DETAIL] 
    (
        DOWNLOAD_DATE  
        ,BASE_DATE  
        ,TO_DATE  
        ,PD_RULE_ID  
        ,PD_RULE_NAME  
        ,SEGMENT  
        ,BUCKET_GROUP  
        ,PD_UNIQUE_ID  
        ,BUCKET_FROM  
        ,BUCKET_TO  
        ,CALC_METHOD  
        ,CALC_AMOUNT  
        ,OUTSTANDING  
        ,BUCKET_TO_ORIG  
        ,BUCKET_FROM_NAME  
        ,BUCKET_TO_NAME  
        ,NEXT_DEFAULT_FLAG  
        ,CREATEDBY  
        ,CREATEDDATE  
    )  
    SELECT 
        A.DOWNLOAD_DATE AS DOWNLOAD_DATE  
        ,A.DOWNLOAD_DATE AS BASE_DATE  
        ,@V_CURRDATE AS TO_DATE  
        ,A.PD_RULE_ID  
        ,A.PD_RULE_NAME  
        ,A.SEGMENT  
        ,A.BUCKET_GROUP  
        ,A.PD_UNIQUE_ID  
        ,A.BUCKET_ID AS BUCKET_FROM  
        ,CASE WHEN ISNULL(A.BUCKET_ID,0) = C.MAX_BUCKET_ID THEN C.MAX_BUCKET_ID  
         WHEN  A.NEXT_DEFAULT_FLAG = 1 THEN C.MAX_BUCKET_ID  
         WHEN ISNUll(B.BUCKET_ID,0) = 0  THEN 0   
         ELSE B.BUCKET_ID END AS  BUCKET_TO  
        ,A.CALC_METHOD  
        ,A.CALC_AMOUNT   
        ,A.OUTSTANDING  
        ,B.BUCKET_ID AS BUCKET_TO_ORIG  
        ,NULL AS BUCKET_FROM_NAME  
        ,NULL AS BUCKET_TO_NAME  
        ,A.NEXT_DEFAULT_FLAG  
        ,'SYSTEM' AS CREATEDBY  
        ,GETDATE() AS CREATEDDATE  
    FROM #MAA_BASE A   
    LEFT JOIN #MAA_CURR B ON A.PD_RULE_ID = B.PD_RULE_ID AND A.PD_UNIQUE_ID = B.PD_UNIQUE_ID  
    LEFT JOIN [dbo].[VW_IFRS_MAX_BUCKET] C ON A.BUCKET_GROUP  = C.BUCKET_GROUP 
    WHERE A.PD_RULE_ID = @RULE_ID 
  
    DELETE [IFRS_PD_MAA_DETAIL]
    WHERE 
        TO_DATE = @V_CURRDATE 
        AND PD_RULE_ID = @RULE_ID
     
    INSERT INTO [IFRS_PD_MAA_DETAIL]  
    SELECT * 
    FROM [TMP_IFRS_PD_MAA_DETAIL]  
    WHERE PD_RULE_ID = @RULE_ID

END    

GO
