USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_FL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_LGD_FL]      
AS    
BEGIN

 SELECT
	99999 AS RULE_ID,
	'LGD_100%' AS RULE_NAME,
	'LGD_100%' AS LGD_SEGMENT
 UNION ALL    
 SELECT    
  A.PKID RULE_ID    
  ,A.LGD_RULE_NAME RULE_NAME    
  ,B.SUB_SEGMENT LGD_SEGMENT    
 FROM IFRS_LGD_RULES_CONFIG A, IFRS_MSTR_SEGMENT_RULES_HEADER B    
 WHERE A.SEGMENTATION_ID = B.PKID    
  AND A.IS_DELETE = 0    
 --ORDER BY RULE_ID 
    
END
GO
