USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_TMPBOOTSTRAPMODEL]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_TMPBOOTSTRAPMODEL]
(
    @PKID BIGINT
)
AS
BEGIN
	SET NOCOUNT ON;

    DELETE FROM TMP_IFRS_PD_BOOTSTRAP_CONFIG
    WHERE PKID = @PKID;
    
    DELETE FROM TMP_IFRS_PD_BOOTSTRAP_DETAIL
    WHERE MODEL_ID = @PKID;
    
    DELETE FROM TMP_IFRS_PD_BOOTSTRAP
    WHERE MODEL_ID = @PKID;
END;

GO
