USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_QUESTION_SPPI]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_QUESTION_SPPI]    
            
AS        
BEGIN        
    
   SELECT    
  A.PKID,                 
  A.SECTIONID,    
  "Section" = (select DESCRIPTION from TBLM_COMMONCODEDETAIL D where D.VALUE1 = A.SECTIONID and COMMONCODE = 'B108'),    
  --B.SECTIONNAME "Section",    
  A.ITEMCODE,    
  A.QUESTION,      
  A.DESCRIPTION,      
  A.SCOREYES,      
  A.SCORENO,     
  CASE WHEN A.REQUIRED = 1    
  THEN 'True'    
  ELSE 'False'    
  END AS REQUIRED,    
  A.CreatedBy,              
  A.CreatedDate,              
  A.CreatedHost,              
  A.UpdatedBy,              
  A.UpdatedDate,              
  A.UpdatedHost,
  CAST(SUBSTRING(A.ITEMCODE,3,1000) AS INT) AS SORTITEM                        
   FROM IFRS_AC_SPPI_QUESTIONS A join IFRS_AC_SPPI_SECTION B on a.SECTIONID = B.SECTIONID    
   WHERE ISNULL(A.IS_DELETE,0) = 0  AND ISNULL(B.IS_DELETE,0) = 0  
   ORDER BY A.SECTIONID ,SORTITEM ASC

       
        
END;    
GO
