USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUP_COLLGRP_MODEL_ECL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUP_COLLGRP_MODEL_ECL]
AS
BEGIN

      SELECT DISTINCT 
            VALUE1 AS "CODE"  ,
            DESCRIPTION AS "DESC"  
        FROM TBLM_COMMONCODEDETAIL
        WHERE COMMONCODE =  'B28';
END;

GO
