USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADDCFVALIDATIONFIRSTDATE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPP_UPLOADDCFVALIDATIONFIRSTDATE]            
(            
 @uploadID  INT,           
 @custnum  VARCHAR(50),          
 @accnum   VARCHAR(100),          
 @flagImpairment VARCHAR(1),            
 @dcfid   INT,          
 @collateral  INT          
)          
AS          
 DECLARE @CEK INT = 0;  
 DECLARE @FIRSTDATE DATE;  
 DECLARE @CURRDATE DATE;  
  
 SELECT @FIRSTDATE = MIN(EFFECTIVE_DATE) FROM TBLT_PAYMENTEXPECTEDH_TEMP WHERE DCFID = @dcfid AND UPLOADID = @uploadID;  
 SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE;  
  
 IF(EOMONTH(@FIRSTDATE) > EOMONTH(DATEADD(month, 1, @CURRDATE)))  
 SELECT @CEK = 1;  
   
 SELECT @CEK AS countInvalid;
GO
