USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPLEVEL8CODEITEM]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_LOOKUPLEVEL8CODEITEM]
(
	@GEN1_CODE decimal(32,6)
	,@GEN2_CODE decimal(32,6)
	,@GEN3_CODE decimal(32,6)
	,@GEN4_CODE decimal(32,6)
	,@GEN5_CODE decimal(32,6)
	,@GEN6_CODE decimal(32,6)
	,@GEN7_CODE decimal(32,6)
	,@GEN8_CODE decimal(32,6)
)
AS
BEGIN

	SELECT distinct cast(GEN8_CODE as int) "GEN8_CODE"
		,cast(CAST(GEN8_CODE as int) as varchar(50)) + ' - ' + GEN8_DESC "GEN8_DESC"
		,substring(ITEM_CODE,1,len(cast(GEN1_CODE as int)) + 1 + len(cast(GEN2_CODE as int)) + 1 + len(cast(GEN3_CODE as int)) + 1 + len(cast(GEN4_CODE as int)) + 1 + len(cast(GEN5_CODE as int)) + 1 + len(cast(GEN6_CODE as int)) + 1 + len(cast(GEN7_CODE as int)) + 1 + len(cast(GEN8_CODE as int))) "ITEM_CODE_END"
	FROM GL_PARAM_HIERARCHY_HO
	WHERE GEN1_CODE = @GEN1_CODE
		AND GEN2_CODE = @GEN2_CODE
		AND GEN3_CODE = @GEN3_CODE
		AND GEN4_CODE = @GEN4_CODE
		AND GEN5_CODE = @GEN5_CODE
		AND GEN6_CODE = @GEN6_CODE
		AND GEN7_CODE = @GEN7_CODE
		AND GEN8_CODE = @GEN8_CODE
 
END

GO
