USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LIGHTPARAMBYBUCK]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LIGHTPARAMBYBUCK]
(
	@LIGHT_GROUP varchar(25) = ''
)
AS
BEGIN

	SELECT LIGHT_GROUP,
		LIGHT_DESCRIPTION, 
		COUNT(LIGHT_GROUP) "CNT"
	FROM IFRS_IMP_LIGHT_SCEN_PARAM
	WHERE LIGHT_GROUP = @LIGHT_GROUP
	GROUP BY LIGHT_GROUP,LIGHT_DESCRIPTION
	ORDER BY LIGHT_GROUP ASC

END


GO
