USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ME_MODEL_CORRELATION]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ME_MODEL_CORRELATION]
(
    @PKID BIGINT
)
AS
BEGIN

    SELECT A.PKID,
		B.ME_CODE,
        B.ME_DESC VARIABLE,
        DERIVED_TYPE,
        CORRELATION_VALUE,
        IS_CHOSEN
    FROM TMP_IFRS_ME_MODEL_CORRELATION A
	JOIN TBLM_MACRO_ECONOMIC B
	ON A.ME_CODE = B.ME_CODE
    WHERE A.MODEL_ID = @PKID;
        
END;

GO
