USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_UploadMEMessageError]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_UploadMEMessageError]
(
	@UploadID BIGINT = 0
)
AS
BEGIN

	SELECT a.MSG_ID as "Msg_ID"  ,
		a.FIELD_NAME as "Field_Name"  ,
		a.ERROR_MSG as "Error_Msg"  ,
		a.TEMP_ID as "Row_Number"  ,
		a.UPLOAD_ID as "UploadID"  
	FROM tblU_ME_MessageError a
	WHERE a.UPLOAD_ID = @UploadID
	ORDER BY a.TEMP_ID ASC;
      
END;

GO
