USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPGLDATE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPGLDATE]
AS
BEGIN
	
	create table #GLDate
	(
		[GLDate] varchar(10)
	)

	INSERT INTO #GLDate
	SELECT DISTINCT CONVERT(varchar(10), DOWNLOAD_DATE,120) AS GLdate
	FROM GL_STATISTIC
	WHERE DOWNLOAD_DATE = EOMONTH(DOWNLOAD_DATE)

	SELECT * FROM #GLDate
	ORDER BY GLDate DESC

	DROP TABLE #GLDate

END

GO
