USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_THREADLOG]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_THREADLOG]
(
	@LogId varchar(50),   
	@Status varchar(20),  
	@Desc varchar(2000)  
)
AS
BEGIN

	UPDATE TblT_ApplicationLog  
	SET Status = @Status,  
		Message = @Desc,  
		Finish = GETDATE()  
	WHERE ThreadID=@LogId

END

GO
