USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CUSTOMER]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CUSTOMER]
(
	@CID VARCHAR(50) = NULL
)
AS
BEGIN

	DECLARE @CurrDate DATETIME;
    DECLARE @COMMONCODE VARCHAR(20);
 	
	SELECT @CurrDate = CURRDATE FROM IFRS_PRC_DATE;
	SELECT @COMMONCODE = COMMONUSAGE FROM TBLM_COMMONCODEHEADER WHERE COMMONCODE = 'B87';

	SELECT DISTINCT A.CUSTOMER_NUMBER,
		A.DOWNLOAD_DATE,
		A.CUSTOMER_NAME,
		MAX(A.BI_COLLECT_IMPAIR) AS BI_COLLECTABILITY,
		SUM((A.OUTSTANDING * B.RATE_AMOUNT) / D.RATE_AMOUNT) AS OUTSTANDING,
		SUM((A.EAD_AMOUNT * B.RATE_AMOUNT) / D.RATE_AMOUNT) AS EAD_AMOUNT,
		@COMMONCODE AS CURRENCY
	FROM IFRS_IMP_OVERRIDE A
		JOIN IFRS_MASTER_EXCHANGE_RATE B ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE
			AND A.CURRENCY = B.CURRENCY
		JOIN (SELECT DOWNLOAD_DATE, RATE_AMOUNT FROM IFRS_MASTER_EXCHANGE_RATE C WHERE C.CURRENCY = @COMMONCODE) D ON A.DOWNLOAD_DATE = D.DOWNLOAD_DATE
	WHERE A.DOWNLOAD_DATE = @currDate  
		AND A.CHECKLISTID = @CID
	GROUP BY A.CUSTOMER_NUMBER,
		A.DOWNLOAD_DATE,
		A.CUSTOMER_NAME;
	
END;

GO
