USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADFORECASTRESULTBYPKID]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOADFORECASTRESULTBYPKID]            
(         
 @PKID BIGINT,
 @ISVIEW BIT--,
 --@CREATEDBY VARCHAR(36)
)            
AS            
BEGIN            

	IF @ISVIEW = 1
    BEGIN
		SELECT       
			ROW_NUMBER() OVER(ORDER BY FL_PERIOD) AS NO,      
			FL_PERIOD AS FL_PERIOD,      
			ME_CODE AS ME_CODE,      
			FL_VAL AS FL_VAL       
		FROM IFRS_ME_FORECAST_DETAIL
		WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID)        
	END
	ELSE
	BEGIN
		
		DELETE FROM IFRS_ME_FORECAST_DETAIL_TEMP WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID) --AND CREATEDBY = @CREATEDBY
		 
		INSERT INTO IFRS_ME_FORECAST_DETAIL_TEMP
		(
			[ME_CODE],
			[FL_PERIOD],
			[FL_VAL],
			[REMARKS]--,
			--[CREATEDBY]
		)
		SELECT
			[ME_CODE],
			[FL_PERIOD],
			[FL_VAL],
			[REMARKS]--,
			--@CREATEDBY
		FROM IFRS_ME_FORECAST_DETAIL
		WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID) 
		
		SELECT       
			ROW_NUMBER() OVER(ORDER BY FL_PERIOD) AS NO,      
			FL_PERIOD AS FL_PERIOD,      
			ME_CODE AS ME_CODE,      
			FL_VAL AS FL_VAL       
		FROM IFRS_ME_FORECAST_DETAIL_TEMP
		WHERE ME_CODE = (SELECT ME_CODE FROM IFRS_ME_FORECAST WHERE PKID = @PKID)
			--AND CREATEDBY = @CREATEDBY

	END
            
END;
GO
