USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GENFORMULALOG]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GENFORMULALOG]
(
	@DownloadDate date
)
AS
BEGIN

	SELECT *
	FROM Tbl_GenFormula_Log (nolock)
	WHERE DATEDIFF(d, Download_date, @DownloadDate) = 0

END

GO
