USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_SELLINGFINANCIALASSET]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_SELLINGFINANCIALASSET]    
(    
@PERIOD date = '1/1/2000'  
)    
AS    
BEGIN    

	SELECT
		'' AS "Master Account ID"
		,'' AS "Customer Number"
		,'' AS "Customer Name"
		,'' AS "Product Code"
		,'' AS "Segment"
		,'' AS "Stage(H-1)"
		,'' AS "Date of Sell"
		,'' AS "ET Reaseon Value"
		,'' AS "Outstanding IDR"
		,'' AS "Book Value"
		,'' AS "Fair Value"
		,'' AS "PIP Amount"
		,'' AS "IIP Amount"

END

GO
