USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GRIDH]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GRIDH]    
(    
 @gridid varchar(50)      
)    
AS    
begin     
   
 SELECT * FROM tblS_GridHeader nolock where GridID = @gridid  
           
end

GO
