USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_PD_MAA_CORP_FITTED]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[SP_IFRS_IMPCR_PD_MAA_CORP_FITTED] 
@DOWNLOAD_DATE DATE ='',
@RULE_ID BIGINT = 0  
AS   
BEGIN  
 DECLARE @V_CURRDATE   DATE                                                                        
 DECLARE @V_PREVDATE   DATE          
 DECLARE @V_PREVMONTH DATE       
 DECLARE @V_CURRDATE_NOLAG   DATE                                                                        
 DECLARE @V_PREVDATE_NOLAG   DATE          
 DECLARE @V_PREVMONTH_NOLAG DATE     
  
  IF @DOWNLOAD_DATE <> ''        
BEGIN         
SET @V_CURRDATE = EOMONTH(DATEADD(MONTH,-1,@DOWNLOAD_DATE)) -- LAG -1 MONTH BTPN        
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))        
  
SET @V_CURRDATE_NOLAG = EOMONTH(@DOWNLOAD_DATE) -- NO LAG        
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)        
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))        
END        
ELSE         
BEGIN         
SELECT @V_CURRDATE = EOMONTH(DATEADD(M,-1,CURRDATE) )          
FROM IFRS_PRC_DATE        
SET @V_PREVDATE = DATEADD(DAY,-1,@V_CURRDATE)        
SET @V_PREVMONTH = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE))   
  
SELECT @V_CURRDATE_NOLAG =  EOMONTH(CURRDATE)  FROM IFRS_PRC_DATE           
SET @V_PREVDATE_NOLAG = DATEADD(DAY,-1,@V_CURRDATE_NOLAG)        
SET @V_PREVMONTH_NOLAG = EOMONTH(DATEADD(MONTH,-1,@V_CURRDATE_NOLAG))        
END        
  
DELETE [IFRS_PD_MAA_CORP_FITTED] WHERE TO_DATE  = @V_CURRDATE_NOLAG  AND PD_RULE_ID = @RULE_ID
  
INSERT INTO [IFRS_PD_MAA_CORP_FITTED] (DOWNLOAD_DATE  
,BASE_DATE  
,TO_DATE  
,PD_RULE_ID  
,PD_RULE_NAME  
,BUCKET_GROUP  
,BUCKET_ID  
,BUCKET_NAME  
,DEFAULT_RATE  
,ADJUSTED_DEFAULT_RATE  
,FITTED_DEFAULT_RATE  
,RESIDUAL  
,SQUARED_RESIDUAL  
,LCL  
,UCL  
,CREATEDBY  
,CREATEDDATE)  
SELECT DOWNLOAD_DATE  AS DOWNLOAD_DATE  
,BASE_DATE AS BASE_DATE  
,TO_DATE AS TO_DATE  
,PD_RULE_ID  
,PD_RULE_NAME  
,A.BUCKET_GROUP  
,BUCKET_FROM AS BUCKET_ID  
,NULL AS BUCKET_NAME  
,AVERAGE_RATE AS DEFAULT_RATE  
,NULL AS ADJUSTED_DEFAULT_RATE  
,NULL AS FITTED_DEFAULT_RATE  
,NULL AS RESIDUAL  
,NULL AS SQUARED_RESIDUAL  
,NULL AS LCL  
,NULL AS UCL  
,'SP_IFRS_IMPCR_PD_MAA_CORP_FITTED' AS CREATEDBY  
,GETDATE() AS CREATEDDATE FROM IFRS_PD_MAA_CORP_AVERAGE A  
INNER JOIN VW_IFRS_MAX_BUCKET B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND  A.BUCKET_TO = B.MAX_BUCKET_ID  
INNER JOIN IFRS_PD_RULES_CONFIG C ON A.PD_RULE_ID = C.PKID  
WHERE TO_DATE = @V_CURRDATE_NOLAG AND A.PD_RULE_ID = @RULE_ID 
  
  
UPDATE [IFRS_PD_MAA_CORP_FITTED]  
SET ADJUSTED_DEFAULT_RATE = CASE WHEN DEFAULT_RATE = 0 THEN 0.0003 ELSE DEFAULT_RATE END   
WHERE TO_DATE  = @V_CURRDATE_NOLAG  AND PD_RULE_ID = @RULE_ID
  
  
DECLARE @PD_RULE_ID INT  
                
 DECLARE SEG1                         
  CURSOR FOR                   
  SELECT PKID FROM IFRS_PD_RULES_CONFIG WHERE PD_METHOD = 'MAA_CORP' AND ACTIVE_FLAG = 1 AND IS_DELETE = 0 AND PKID = @RULE_ID  ORDER BY PKID               
   OPEN seg1;                                                             
   FETCH seg1 INTO @PD_RULE_ID                    
   WHILE @@FETCH_STATUS=0                                                                                
   BEGIN                    
  
   TRUNCATE TABLE CF  
  
  
   INSERT INTO CF (X,Y)  
   SELECT BUCKET_ID, ADJUSTED_DEFAULT_RATE FROM  [IFRS_PD_MAA_CORP_FITTED] WHERE TO_DATE = @V_CURRDATE_NOLAG AND PD_RULE_ID = @PD_RULE_ID ORDER BY BUCKET_ID   
     
   -- UPDATE CURVED FITTING EXPONENTIAL  
  
   IF OBJECT_ID ('TEMPDB.DBO.#CURVE') IS NOT NULL DROP TABLE #CURVE   
   SELECT @PD_RULE_ID AS PD_RULE_ID, * INTO #CURVE FROM fnCurveFitting(2)  
  
   UPDATE X  
   SET X.A = Y.A  
 ,X.B = Y.B  
 ,X.R2 =  Y.R2  
 ,X.FITTED_DEFAULT_RATE = CASE WHEN Z.MAX_BUCKET_ID IS NOT NULL  THEN 1   
       WHEN Y.A * EXP(Y.b*CAST(X.BUCKET_ID AS FLOAT)) <= 0.0003 THEN 0.0003   
        ELSE  Y.A * EXP(Y.b*CAST(X.BUCKET_ID AS FLOAT)) END   
   FROM [IFRS_PD_MAA_CORP_FITTED] X   
   LEFT JOIN #CURVE Y  ON X.PD_RULE_ID = Y.PD_RULE_ID  
   LEFT JOIN VW_IFRS_MAX_BUCKET Z ON X.BUCKET_GROUP = Z.BUCKET_GROUP AND X.BUCKET_ID  = Z.MAX_BUCKET_ID  
   WHERE X.TO_DATE = @V_CURRDATE_NOLAG AND X.PD_RULE_ID = @PD_RULE_ID  
     
   UPDATE  [IFRS_PD_MAA_CORP_FITTED]   
   SET RESIDUAL =  ISNULL(DEFAULT_RATE,0) - ISNULL(FITTED_DEFAULT_RATE,0)  
   ,SQUARED_RESIDUAL =  POWER(ISNULL(DEFAULT_RATE,0) - ISNULL(FITTED_DEFAULT_RATE,0),2)  
   WHERE TO_DATE = @V_CURRDATE_NOLAG AND PD_RULE_ID = @PD_RULE_ID  
                   
   FETCH NEXT FROM seg1 INTO @PD_RULE_ID                            
   END                                                                             
   CLOSE seg1;                                                                                
   DEALLOCATE seg1;         
  

--- UPDATE
UPDATE IFRS_PD_MAA_CORP_AVERAGE 
SET AVERAGE_RATE_FINAL = AVERAGE_RATE
WHERE TO_DATE = @V_CURRDATE_NOLAG AND PD_RULE_ID = @RULE_ID
  
----- UPDATE FINAL AVERAGE FOR NON MAX BUCKET   
IF OBJECT_ID ('TEMPDB.DBO.#TOTAL_AVERAGE_PERF') IS NOT NULL DROP TABLE #TOTAL_AVERAGE_PERF  
SELECT  TO_DATE,PD_RULE_ID, BUCKET_FROM, SUM (AVERAGE_RATE) AS TOTAL_AVG INTO #TOTAL_AVERAGE_PERF FROM IFRS_PD_MAA_CORP_AVERAGE A   
INNER JOIN VW_IFRS_MAX_BUCKET B ON A.BUCKET_GROUP = B.BUCKET_GROUP AND A.BUCKET_FROM <> B.MAX_BUCKET_ID AND A.BUCKET_TO <> B.MAX_BUCKET_ID  
WHERE TO_DATE = @V_CURRDATE_NOLAG AND A.PD_RULE_ID = @PD_RULE_ID 
GROUP BY TO_DATE,PD_RULE_ID, BUCKET_FROM  
  
  
UPDATE A   
SET A.AVERAGE_RATE_FINAL = ISNULL(A.AVERAGE_RATE,0) +  ((CASE WHEN ISNULL(B.TOTAL_AVG,0) = 0 THEN 0 ELSE ISNULL(A.AVERAGE_RATE,0)/ISNULL(B.TOTAL_AVG,0) END) * (isnull(c.DEFAULT_RATE,0) - isnull(C.FITTED_DEFAULT_RATE,0) ))  
FROM IFRS_PD_MAA_CORP_AVERAGE A   
INNER JOIN #TOTAL_AVERAGE_PERF B ON A.TO_DATE = B.TO_DATE  AND A.PD_RULE_ID= B.PD_RULE_ID AND A.BUCKET_FROM = B.BUCKET_FROM  
INNER JOIN [IFRS_PD_MAA_CORP_FITTED]  C ON A.TO_DATE = C.TO_DATE AND A.BUCKET_FROM = C.BUCKET_ID AND A.PD_RULE_ID = C.PD_RULE_ID  
WHERE A.TO_DATE = @V_CURRDATE_NOLAG AND A.PD_RULE_ID = @RULE_ID  
  
--- UPDATE FINAL AVERAGE FOR MAX BUCKET   
UPDATE A   
SET AVERAGE_RATE_FINAL = C.FITTED_DEFAULT_RATE  
FROM IFRS_PD_MAA_CORP_AVERAGE A   
INNER JOIN VW_IFRS_MAX_BUCKET B ON A.BUCKET_GROUP  = B.BUCKET_GROUP AND A.BUCKET_TO = B.MAX_BUCKET_ID  
INNER JOIN [IFRS_PD_MAA_CORP_FITTED]  C ON A.TO_DATE = C.TO_DATE AND A.BUCKET_FROM = C.BUCKET_ID AND A.PD_RULE_ID = C.PD_RULE_ID  
WHERE A.TO_DATE = @V_CURRDATE_NOLAG AND A.PD_RULE_ID = @RULE_ID  


   

  
  
  
END  

GO
