USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_PD_TERM_STRUCTURE_FL_YEAR]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_PD_TERM_STRUCTURE_FL_YEAR] (
   @Period          DATE='1900-01-01',
   @ProdGroup       int=0
   )
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 'All Years' AS PERIOD
	UNION ALL
	SELECT DISTINCT CAST(YEAR(FL_DATE) AS varchar) AS PERIOD
	FROM IFRS_PD_TERM_STRUCTURE
	WHERE PD_RULE_ID = @ProdGroup
		AND EFF_DATE = @Period
	ORDER BY PERIOD

END

GO
