USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_APPROVEDFORECASTRESULT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPP_APPROVEDFORECASTRESULT]
(         
 @ME_CODE VARCHAR(100),
 @REMARKS VARCHAR(MAX),
 @APPROVEDBY VARCHAR(36),
 @APPROVEDHOST VARCHAR(30)
)            
AS            
BEGIN
DECLARE @INPUT INT

SET @INPUT = (SELECT ISNULL(MAX(INPUT), 0) + 1 FROM IFRS_ME_FORECAST_HIST WHERE ME_CODE = @ME_CODE)
	
	IF EXISTS(SELECT * FROM IFRS_ME_FORECAST_PEND WHERE ME_CODE = @ME_CODE AND ACTION != 'DELETE_WI_APPROVAL')
	BEGIN   
		IF EXISTS(SELECT * FROM IFRS_ME_FORECAST WHERE ME_CODE = @ME_CODE AND ISNULL(IS_DELETE, 0) = 0)
		BEGIN
			UPDATE A
				SET METHOD = B.METHOD,
				FL_PERIOD = B.FL_PERIOD,
				FL_PERIOD_FROM = B.FL_PERIOD_FROM,
				FL_PERIOD_TO = B.FL_PERIOD_TO,
				UPDATEDBY = B.CREATEDBY,
				UPDATEDDATE = B.CREATEDDATE,
				UPDATEDHOST = B.CREATEDHOST
			FROM IFRS_ME_FORECAST A
			LEFT JOIN IFRS_ME_FORECAST_PEND B ON A.ME_CODE = B.ME_CODE
			WHERE A.ME_CODE = @ME_CODE

			DELETE FROM IFRS_ME_FORECAST_DETAIL WHERE ME_CODE = @ME_CODE
			INSERT INTO IFRS_ME_FORECAST_DETAIL
			(
				[ME_CODE],
				[FL_PERIOD],
				[FL_VAL],
				[REMARKS],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			)
			SELECT
				[ME_CODE],
				[FL_PERIOD],
				[FL_VAL],
				[REMARKS],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			FROM IFRS_ME_FORECAST_DETAIL_PEND
			WHERE ME_CODE = @ME_CODE
			ORDER BY FL_PERIOD
		END
		ELSE
		BEGIN
			DELETE FROM IFRS_ME_FORECAST WHERE ME_CODE = @ME_CODE
			INSERT INTO IFRS_ME_FORECAST
			(
				[ME_CODE],
				[METHOD],
				[FL_PERIOD],
				[FL_PERIOD_FROM],
				[FL_PERIOD_TO],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			)
			SELECT
				[ME_CODE],
				[METHOD],
				[FL_PERIOD],
				[FL_PERIOD_FROM],
				[FL_PERIOD_TO],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			FROM IFRS_ME_FORECAST_PEND
			WHERE ME_CODE = @ME_CODE

			--HIST
			INSERT INTO IFRS_ME_FORECAST_HIST
			(
				[ME_CODE],
				[METHOD],
				[FL_PERIOD],
				[FL_PERIOD_FROM],
				[FL_PERIOD_TO],
				[INPUT],
				[APPROVAL_REMARKS],
				[STATUS],
				[ACTION],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST],
				[UPDATEDBY],
				[UPDATEDDATE],
				[UPDATEDHOST],
				[APPROVEDBY],
				[APPROVEDDATE],
				[APPROVEDHOST]
			)
			SELECT
				A.[ME_CODE],
				A.[METHOD],
				A.[FL_PERIOD],
				A.[FL_PERIOD_FROM],
				A.[FL_PERIOD_TO],
				@INPUT,
				@REMARKS,
				'APPROVED',
				ACTION,
				A.[CREATEDBY],
				A.[CREATEDDATE],
				A.[CREATEDHOST],
				A.[UPDATEDBY],
				A.[UPDATEDDATE],
				A.[UPDATEDHOST],
				@APPROVEDBY,
				GETDATE(),
				@APPROVEDHOST
			FROM IFRS_ME_FORECAST_PEND A
			WHERE A.ME_CODE = @ME_CODE

			DELETE FROM IFRS_ME_FORECAST_DETAIL WHERE ME_CODE = @ME_CODE
			INSERT INTO IFRS_ME_FORECAST_DETAIL
			(
				[ME_CODE],
				[FL_PERIOD],
				[FL_VAL],
				[REMARKS],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			)
			SELECT
				[ME_CODE],
				[FL_PERIOD],
				[FL_VAL],
				[REMARKS],
				[CREATEDBY],
				[CREATEDDATE],
				[CREATEDHOST]
			FROM IFRS_ME_FORECAST_DETAIL_PEND
			WHERE ME_CODE = @ME_CODE
			ORDER BY FL_PERIOD
		END
	END
	ELSE
	BEGIN
		UPDATE IFRS_ME_FORECAST SET IS_DELETE = 1 WHERE ME_CODE = @ME_CODE
		UPDATE IFRS_ME_FORECAST_DETAIL SET IS_DELETE = 1 WHERE ME_CODE = @ME_CODE
	END

	--INSERT HISTORY
	INSERT INTO IFRS_ME_FORECAST_HIST
	(
		[ME_CODE],
		[METHOD],
		[FL_PERIOD],
		[FL_PERIOD_FROM],
		[FL_PERIOD_TO],
		[INPUT],
		[APPROVAL_REMARKS],
		[STATUS],
		[ACTION],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)
	SELECT
		A.[ME_CODE],
		A.[METHOD],
		A.[FL_PERIOD],
		A.[FL_PERIOD_FROM],
		A.[FL_PERIOD_TO],
		@INPUT,
		@REMARKS,
		'APPROVED',
		ACTION,
		A.[CREATEDBY],
		A.[CREATEDDATE],
		A.[CREATEDHOST],
		B.[CREATEDBY],
		B.[CREATEDDATE],
		B.[CREATEDHOST],
		@APPROVEDBY,
		GETDATE(),
		@APPROVEDHOST
	FROM IFRS_ME_FORECAST_PEND A
	LEFT JOIN IFRS_ME_FORECAST B ON A.ME_CODE = B.ME_CODE
	WHERE A.ME_CODE = @ME_CODE

	INSERT INTO IFRS_ME_FORECAST_DETAIL_HIST
	(
		[ME_CODE],
		[FL_PERIOD],
		[FL_VAL],
		[REMARKS],
		[INPUT],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	)
	SELECT
		[ME_CODE],
		[FL_PERIOD],
		[FL_VAL],
		[REMARKS],
		@INPUT,
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	FROM IFRS_ME_FORECAST_DETAIL_PEND
	WHERE ME_CODE = @ME_CODE
	ORDER BY FL_PERIOD

	--DELETE PENDING
	DELETE FROM IFRS_ME_FORECAST_PEND WHERE ME_CODE = @ME_CODE
	DELETE FROM IFRS_ME_FORECAST_DETAIL_PEND WHERE ME_CODE = @ME_CODE
            
END; 
GO
