USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETSOURCEJOB]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETSOURCEJOB]
(
	@JobNo int
)
AS 
BEGIN 
    
	SET NOCOUNT ON;

    SELECT Stag 
    FROM vStep_Sources 
    WHERE CT = @JobNo 
	    AND Stag IS NOT NULL;

END

GO
