USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADDCFCALCULATION1]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPP_UPLOADDCFCALCULATION1]    
(
	@uploadID INT  
)  
AS  
BEGIN  
  
	BEGIN TRAN  
  
	MERGE INTO TBLT_PAYMENTEXPECTED_TEMP n  
	USING  
	(  
		SELECT [PKID],  
			[TempID],  
			[UPLOADID],  
			[MASTERID],  
			[EFFECTIVE_DATE],  
			[EFFECTIVE_DATE_FD],  
			ROUND([EIR_PERCENT], 2) AS EIR_PERCENT,  
			ROUND([PRINCIPAL_PAYMENT], 2) AS PRINCIPAL_PAYMENT,  
			ROUND([PRINCIPAL_AMOUNT], 2) AS PRINCIPAL_AMOUNT,  
			(ROW_NUMBER() OVER (PARTITION BY [MASTERID] ORDER BY [MASTERID], [EFFECTIVE_DATE_FD])) NPV_MONTH,   
			ROUND([PRINCIPAL_PAYMENT] * (1 / power ((1 + ((CAST ([EIR_PERCENT] AS FLOAT) / 12) / 100)), ROW_NUMBER() OVER (PARTITION BY [MASTERID] ORDER BY [MASTERID], [EFFECTIVE_DATE_FD]))), 2) AS NPV_AMOUNT  
		FROM  
		(  
			SELECT a.[UPLOADID],  
				a.[PKID],   
				a.[TEMPID],   
				a.[MASTERID],  
				a.[EFFECTIVE_DATE],   
				a.[EFFECTIVE_DATE_FD],  
				ROUND(a.[EIR_PERCENT], 2) AS EIR_PERCENT,  
				ROUND(a.[PRINCIPAL_PAYMENT], 2) AS PRINCIPAL_PAYMENT,   
				ROUND (SUM   
				(  
					a.[PRINCIPAL_PAYMENT]) OVER (PARTITION BY a.[MASTERID]) - SUM (a.[PRINCIPAL_PAYMENT]) OVER (PARTITION BY a.[MASTERID] ORDER BY a.[MASTERID],    
					a.[EFFECTIVE_DATE_FD]  
				), 2) AS PRINCIPAL_AMOUNT  
			FROM [tblT_PaymentExpected_TEMP] a  
			JOIN IFRS_IMA_AMORT_CURR d ON a.[MASTERID] = d.[MASTERID] AND EOMONTH(d.[DOWNLOAD_DATE]) = EOMONTH((SELECT CURRDATE FROM IFRS_PRC_DATE))
			WHERE a.[UploadID] = @uploadID   
				AND (CASE WHEN d.DATA_SOURCE = 'LIMIT_T24' THEN d.UNUSED_AMOUNT ELSE d.[OUTSTANDING] END) > 0  
				--COMMENT BY SEPTIAN 20190416
				--AND d.[DOWNLOAD_DATE] = (SELECT CURRDATE FROM IFRS_PRC_DATE)    
			GROUP BY a.[PKID],  
				a.[TEMPID],  
				a.[MASTERID],  
				a.[EFFECTIVE_DATE],  
				a.[EIR_PERCENT],    
				a.[PRINCIPAL_PAYMENT],    
				a.[EFFECTIVE_DATE_FD],    
				a.[UPLOADID]  
		) SUB --end select outer query    
	) p --end using    
	ON (n.[PKID] = p.[PKID])    
	WHEN MATCHED THEN UPDATE   
	SET n.[NPV] = p.npv_amount,  
		n.[CREATEDDATE] = GETDATE(),  
		n.[PRINCIPAL_PAYMENT] = p.PRINCIPAL_PAYMENT,    
		n.[NPV_MONTH] = p.NPV_MONTH;    

	IF @@ERROR <> 0  
		ROLLBACK;  
	ELSE  
		COMMIT;  
  
END;

GO
