USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_SEGMENTATIONSETTINGS]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_SEGMENTATIONSETTINGS]                            
(           
  @PKID bigint,  
  @GROUP_SEGMENT varchar(50) = '',      
  @SEGMENT varchar(50) = '',      
  @SUB_SEGMENT varchar(50) = '',      
  @SEGMENT_TYPE varchar(50) = '',  
  --@SEQUENCE int = 0,  
  @UpdatedBy varchar(36) = '',                 
  @UpdatedHost varchar(30) = ''                       
)              
AS    
BEGIN         
              
 UPDATE [IFRS_MSTR_SEGMENT_RULES_HEADER]                     
 SET           
   [GROUP_SEGMENT] = @GROUP_SEGMENT  
  ,[SEGMENT] = @SEGMENT  
  ,[SUB_SEGMENT] = @SUB_SEGMENT  
  ,[SEGMENT_TYPE] = @SEGMENT_TYPE  
  --,[SEQUENCE] = @SEQUENCE  
  ,[UpdatedBy] = @UpdatedBy                        
  ,[UpdatedDate] = GETDATE()                        
  ,[UpdatedHost] = @UpdatedHost                        
    WHERE PKID = @PKID                          
     
END;
GO
