USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPLEVEL1CODE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_LOOKUPLEVEL1CODE]
(
	@Part varchar(2)
)
AS
BEGIN     

	if (@Part = 'BS')
	BEGIN
		SELECT distinct cast(GEN1_CODE as int) "GEN1_CODE"
			,cast(CAST(GEN1_CODE as int) as varchar(50)) + ' - ' + GEN1_DESC "GEN1_DESC"
			,substring(ITEM_CODE,1,len(cast(GEN1_CODE as int))) "ITEM_CODE"
		FROM GL_PARAM_HIERARCHY_HO
		WHERE GEN1_CODE in (1,2)
		ORDER BY GEN1_CODE;
	END
	else if (@Part = 'PL')
	BEGIN
		SELECT distinct cast(GEN1_CODE as int) "GEN1_CODE"
			,cast(CAST(GEN1_CODE as int) as varchar(50)) + ' - ' + GEN1_DESC "GEN1_DESC"
			,substring(ITEM_CODE,1,len(cast(GEN1_CODE as int))) "ITEM_CODE"
		FROM GL_PARAM_HIERARCHY_HO
		WHERE GEN1_CODE = 3
		ORDER BY GEN1_CODE;
	END
	else
	BEGIN
		SELECT distinct cast(GEN1_CODE as int) "GEN1_CODE"
			,cast(CAST(GEN1_CODE as int) as varchar(50)) + ' - ' + GEN1_DESC "GEN1_DESC"
			,substring(ITEM_CODE,1,len(cast(GEN1_CODE as int))) "ITEM_CODE"
		FROM GL_PARAM_HIERARCHY_HO
		WHERE GEN1_CODE = 4
		ORDER BY GEN1_CODE;
	END;

END

GO
