USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GET_DV_VALUE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GET_DV_VALUE]
(
@model_id int
)
AS 
BEGIN
SELECT
B.ME_SOURCE_TABLE,
B.ME_SOURCE_FILTER,
C.BUCKET_GROUP
FROM IFRS_MACRO_ECONOMIC_MODEL A
INNER JOIN TBLM_MACRO_ECONOMIC B ON A.DV_VALUE = B.ME_CODE
LEFT JOIN IFRS_PD_RULES_CONFIG C ON B.ME_SOURCE_FILTER = C.PKID
WHERE A.PKID = @model_id
END
GO
