USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_AC_APPROVEBMA_INSERT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPP_AC_APPROVEBMA_INSERT]
(  
 @PKID bigint = 0,
 @APPROVAL_REMARKS varchar(2000) = '',
 @APPROVEDBY varchar(36) = '',
 @APPROVEDHOST varchar(30) = ''
)  
AS  
BEGIN
DECLARE @BMID bigint = 0
DECLARE @BMIDHIST bigint = 0


	--INSERT INTO BMA HEADER
	INSERT INTO IFRS_AC_BM_HEADER
	(
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],
		[STATUS],
		[BM_RSLT],
		[REMARKS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)
	SELECT
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],
		'APPROVED',
		[BM_RSLT],
		[REMARKS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		@APPROVEDBY,
		GETDATE(),
		@APPROVEDHOST
	FROM IFRS_AC_BM_HEADER_PENDING WHERE PKID = @PKID

	--GET BMID
	SELECT @BMID = MAX(PKID) FROM IFRS_AC_BM_HEADER

	--INSERT INTO BMA HEADER HISTORY
	INSERT INTO IFRS_AC_BM_HEADER_HIST
	(
		[PKID_HEADER],
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],
		[STATUS],
		[BM_RSLT],
		[REMARKS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		[APPROVEDBY],
		[APPROVEDDATE],
		[APPROVEDHOST]
	)
	SELECT
		@BMID,
		[COMMONCODEID],
		[BM_NAME],
		[SPPI_CLASS],
		[EFFECTIVE_DATE],
		'APPROVED',
		[BM_RSLT],
		[REMARKS],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST],
		[UPDATEDBY],
		[UPDATEDDATE],
		[UPDATEDHOST],
		@APPROVEDBY,
		GETDATE(),
		@APPROVEDHOST
	FROM IFRS_AC_BM_HEADER_PENDING WHERE PKID = @PKID
	
	--GET BMID HIST
	SELECT @BMIDHIST = MAX(PKID) FROM IFRS_AC_BM_HEADER_HIST

	--INSERT INTO BMA DETAIL
	INSERT INTO IFRS_AC_BM_DETAIL
	(
		[BMID],
		[QUESTIONID],
		[VALUE],
		[REMARK],
		[SUPPORTING_DOC],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	)
    SELECT
		@BMID,
		[QUESTIONID],
		[VALUE],
		[REMARK],
		[SUPPORTING_DOC],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	FROM IFRS_AC_BM_DETAIL_PENDING WHERE BMID = @PKID

	--INSERT INTO BMA DETAIL HISTORY
	INSERT INTO IFRS_AC_BM_DETAIL_HIST
	(
		[BMID],
		[QUESTIONID],
		[VALUE],
		[REMARK],
		[SUPPORTING_DOC],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	)
    SELECT
		@BMIDHIST,
		[QUESTIONID],
		[VALUE],
		[REMARK],
		[SUPPORTING_DOC],
		[CREATEDBY],
		[CREATEDDATE],
		[CREATEDHOST]
	FROM IFRS_AC_BM_DETAIL_PENDING WHERE BMID =  @PKID

	--GENERATE RESULT
	EXEC SP_IFRS_AC_GENERATE_RESULT @BMID
	PRINT 'A'
	--UPDATE STATUS PENDING
	UPDATE IFRS_AC_BM_HEADER_PENDING
		SET STATUS = 'APPROVED'
			,APPROVAL_REMARKS = @APPROVAL_REMARKS
			,APPROVEDBY = @APPROVEDBY
			,APPROVEDDATE = GETDATE()
			,APPROVEDHOST = @APPROVEDHOST
		WHERE PKID = @PKID

END
GO
