USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADMETEMP2]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_UPLOADMETEMP2]   
(  
 @UploadID BIGINT = NULL  
)  
AS  
BEGIN  
  
 SELECT  
  ME_CODE  
  ,ME_PERIOD  
  ,ME_VAL  
  ,STATUS  
 FROM TBLU_MACRO_ECONOMIC_TEMP  
 WHERE UPLOADID = @UploadID  
        
END;  
GO
