USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPP_UPLOADDCFCANCEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPP_UPLOADDCFCANCEL]
(
	@DCFID BIGINT,
	@UPLOADID BIGINT
)
AS
BEGIN

	DELETE IFRS_FL_SCENARIO_IA_D_TEMP WHERE HEADERID = (SELECT MAX(PKID) FROM IFRS_FL_SCENARIO_IA_H_TEMP WHERE DCFID = @DCFID);
	DELETE IFRS_FL_SCENARIO_IA_H_TEMP WHERE DCFID = @DCFID;
    
	DELETE TBLU_DCF_MESSAGEERROR WHERE DCFID = @DCFID;
	DELETE TBLU_DCF_INFO WHERE DCFID = @DCFID AND UPLOADID = @UPLOADID;
	DELETE TBLU_DCF_DETAIL WHERE DCFID = @DCFID AND UPLOADID = @UPLOADID;
    
	DELETE TBLT_PAYMENTEXPECTEDH_TEMP WHERE DCFID = @DCFID AND UPLOADID = @UPLOADID;
	DELETE TBLT_PAYMENTEXPECTED_TEMP WHERE DCFID = @DCFID AND UPLOADID = @UPLOADID;

	DELETE IFRS_IMP_OVERRIDE_TEMP WHERE DCFID = @DCFID;
    
END;

GO
