USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PDFORWARDLOOKING]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPD_PDFORWARDLOOKING]  
(  
 @PKID BIGINT  
)  
AS  
BEGIN  
  
 DELETE FROM IFRS_PD_FORWARD_LOOKING_CONFIG where PKID = @PKID
  
END;  

GO
