USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MODELLED_PD_EXTRA_CUMULATIVE_COHORT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_MODELLED_PD_EXTRA_CUMULATIVE_COHORT]  
(  
 @PD_RULE_ID AS BIGINT,  
 @PERIOD AS DATE  
  
)  
AS  
BEGIN  
  
DECLARE @MAX_SEQ_YEAR AS INT,  
  @COUNT_YEAR AS INT,  
  @YEAR_TO_END AS VARCHAR(MAX) = '',
  @COLUMN_YEAR AS VARCHAR(MAX) = '',    
  @MAX_COLUMN_YEAR AS VARCHAR(MAX) = '',    
  @GROUP_COLUMN_YEAR AS VARCHAR(MAX) = '';  
  
  
SELECT @MAX_SEQ_YEAR = MAX(SEQ_YEAR) FROM IFRS_MPD_CHR_RESULT_YEARLY WHERE PD_RULE_ID = @PD_RULE_ID 
  
SET @COUNT_YEAR = 1  
  
WHILE @MAX_SEQ_YEAR >= @COUNT_YEAR  
BEGIN  
 IF @MAX_SEQ_YEAR = @COUNT_YEAR  
 BEGIN  
  SET @YEAR_TO_END = @YEAR_TO_END + 'MAX(CASE WHEN SEQ_YEAR = ' + CONVERT(VARCHAR,@COUNT_YEAR) + ' THEN CONVERT(DECIMAL(32,6),CUMULATIVE_PD_RATE) ELSE 0 END) AS YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)
  SET @COLUMN_YEAR = @COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ' [DECIMAL](32,6) NULL'    
  SET @MAX_COLUMN_YEAR = @MAX_COLUMN_YEAR + 'MAX(YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ')*100 ' + ' AS ' + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)   
  SET @GROUP_COLUMN_YEAR = @GROUP_COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR)  
 END  
 ELSE  
 BEGIN  
  SET @YEAR_TO_END = @YEAR_TO_END + 'MAX(CASE WHEN SEQ_YEAR = ' + CONVERT(VARCHAR,@COUNT_YEAR) + ' THEN CONVERT(DECIMAL(32,6),CUMULATIVE_PD_RATE) ELSE 0 END) AS YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','
  SET @COLUMN_YEAR = @COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ' [DECIMAL](32,6) NULL,'    
  SET @MAX_COLUMN_YEAR = @MAX_COLUMN_YEAR + 'MAX(YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ')*100 ' + ' AS ' + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','    
  SET @GROUP_COLUMN_YEAR = @GROUP_COLUMN_YEAR + 'YEAR' + CONVERT(VARCHAR,@COUNT_YEAR) + ','  
 END  
      
 SET @COUNT_YEAR = @COUNT_YEAR  + 1  
END  
  
  
DECLARE @QUERY AS VARCHAR(MAX) = '';  
  
SET @QUERY = '
CREATE TABLE #TEMP(    
[BUCKET] [VARCHAR](100) NULL,'    
+    
@COLUMN_YEAR    
+    
')'    
+
'
INSERT INTO #TEMP SELECT    
BUCKET_NAME AS BUCKET,'  
+ @YEAR_TO_END +  
' FROM IFRS_MPD_CHR_RESULT_YEARLY  
WHERE   
PD_RULE_ID = '+ CONVERT(VARCHAR,@PD_RULE_ID) +' AND  
DOWNLOAD_DATE = ' + '''' +CONVERT(VARCHAR(10),@PERIOD,120) + '''' + '  
GROUP BY BUCKET_NAME,CUMULATIVE_PD_RATE '
+
'  
SELECT BUCKET,  
'  
+    
@MAX_COLUMN_YEAR    
+  
' FROM #TEMP GROUP BY BUCKET'
  
IF ISNULL(@MAX_SEQ_YEAR,0) = 0
BEGIN 
	 SELECT 'No data'
END 
ELSE
BEGIN
	EXEC(@QUERY);
	
END
PRINT(@QUERY);
  
END 

GO
