USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPGETREPORTTOAPPRUPL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_LOOKUPGETREPORTTOAPPRUPL]
(
@UploadID int
,@Module varchar(50) = ''
,@UserID varchar(36) = ''
)
AS
BEGIN
DECLARE @CreatedBy as varchar(36)
		
		IF @module = 'MACRO'
		BEGIN
			SELECT @CreatedBy = CreatedBy FROM TBLU_MACRO_ECONOMIC_INFO
		    WHERE UploadID = @UploadID
			AND MODULE = @Module
		END
		ELSE
		BEGIN
			SELECT @CreatedBy = CreatedBy FROM TBLU_FEECOST_INFO
			WHERE UploadID = @UploadID
				AND MODULE = @Module
       END

       SELECT
			(SELECT FullName FROM TBLM_USER WHERE PKID = ReportTo) AS ReportTo
		FROM TBLM_REPORTTO
		WHERE UserID = @CreatedBy
			AND REPORTTO = @UserID

END

GO
