USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DATA_CUST_HISTORY_DCF]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DATA_CUST_HISTORY_DCF](  
 @CIF VARCHAR(100)  
)  
AS  
BEGIN  
 SELECT   
  IMP.DOWNLOAD_DATE,  
  IMP.CUSTOMER_NUMBER,  
  IMP.CUSTOMER_NAME,  
  IMP.OUTSTANDING,  
  BI_COLLECT_IMPAIR,  
  MAX(BI_COLLECTABILITY) BI_COLLECT_CURRENT,  
  SUM(PLAFOND_IMPAIR*EXCHANGE_RATE) PLAFOND_IMPAIR  
 FROM IFRS_IMP_OVERRIDE_HIST IMP  
 LEFT JOIN IFRS_MASTER_ACCOUNT PMA ON PMA.CUSTOMER_NUMBER = IMP.CUSTOMER_NUMBER  
 WHERE IMP.CUSTOMER_NUMBER = @CIF  
 AND PMA.DOWNLOAD_DATE = IMP.DOWNLOAD_DATE  
 --AND FACILITY_FLAG = 'N'  
 GROUP BY IMP.DOWNLOAD_DATE,IMP.CUSTOMER_NUMBER,IMP.CUSTOMER_NAME,BI_COLLECT_IMPAIR,PLAFOND_IMPAIR,IMP.OUTSTANDING  
END  


GO
