USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_IAPLISTBYDATECIFSCENOVRD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_IAPLISTBYDATECIFSCENOVRD](
@DATE_CIF_SEGMENT varchar(100) = '')
AS
BEGIN
	
	IF NOT EXISTS(SELECT * FROM IFRS_IAP_LIST_PENDING WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT AND APPROVAL_STATUS = 'I')
	BEGIN
		SELECT
			A.SCENARIO_ID
			,A.SCENARIO_NAME
			,ISNULL(A.RECOVERY_RATE, 0) AS RECOVERY_RATE
			,ISNULL(A.PROBABILITY_OUTCOME, 0) AS PROBABILITY_OUTCOME
			,ISNULL(A.PROBABILITY_OUTCOME, 0) AS PROBABILITY_OUTCOME_OVERRIDE
			,A.IAP_PARAM_HEADERID
		FROM IFRS_IAP_LIST_SCENARIO A
		LEFT JOIN IFRS_IAP_PARAM_SCENARIO B ON A.IAP_PARAM_HEADERID = B.HEADER_ID
			AND A.SCENARIO_ID = B.SCENARIO_ID
		LEFT JOIN IFRS_IAP_PARAM C ON B.HEADER_ID = C.PKID
		WHERE CAST(A.DOWNLOAD_DATE AS varchar(10)) + '_' + A.CUSTOMER_NUMBER + '_' + CAST(C.SEGMENTATION_ID AS varchar(10)) = @DATE_CIF_SEGMENT
		ORDER BY A.SCENARIO_ID ASC
	END
	ELSE
	BEGIN
		SELECT
			A.SCENARIO_ID
			,A.SCENARIO_NAME
			,ISNULL(A.RECOVERY_RATE, 0) AS RECOVERY_RATE
			,ISNULL(A.PROBABILITY_OUTCOME, 0) AS PROBABILITY_OUTCOME
			,ISNULL(A.PROBABILITY_OUTCOME_OVERRIDE, 0) AS PROBABILITY_OUTCOME_OVERRIDE
			,A.IAP_PARAM_HEADERID
		FROM IFRS_IAP_LIST_SCENARIO_PENDING A
		LEFT JOIN IFRS_IAP_PARAM_SCENARIO C ON A.IAP_PARAM_HEADERID = C.HEADER_ID
			AND A.SCENARIO_ID = C.SCENARIO_ID
		LEFT JOIN IFRS_IAP_PARAM D ON C.HEADER_ID = D.PKID
		WHERE CAST(A.DOWNLOAD_DATE AS varchar(10)) + '_' + A.CUSTOMER_NUMBER + '_' +
				CAST(D.SEGMENTATION_ID AS varchar(10)) = @DATE_CIF_SEGMENT
			AND A.ID = (SELECT MAX(ID) FROM IFRS_IAP_LIST_PENDING
					WHERE DATE_CIF_SEGMENT = @DATE_CIF_SEGMENT AND APPROVAL_STATUS = 'I')
		ORDER BY A.SCENARIO_ID ASC
	END

END

GO
