USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_MODELHEADER]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ECL_MODELHEADER]      
as      
BEGIN      
SELECT       
  PKID,      
        ECL_MODEL_NAME,      
        case       
  when ACTIVE_STATUS = 0       
  then 'No'      
  else 'Yes'       
  end ACTIVE_STATUS,
  CASE
	when RUN_STATUS = 0 then 'Not Started'
	WHEN RUN_STATUS = 1 then 'Running'
	ELSE 'Completed'       
  end RUN_STATUS,        
        DATA_DATE      
FROM IFRS_ECL_MODEL_HEADER     
WHERE IS_DELETE =0     
ORDER BY ACTIVE_STATUS, RUN_STATUS, ECL_MODEL_NAME      
END 

GO
