USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_CCFANALYSIS_H]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_CCFANALYSIS_H](  
@CCF_RULE_ID BIGINT = 0,  
@DOWNLOAD_DATE DATE = '01/01/2000')    
AS    
BEGIN  
   
 SELECT  
  ISNULL(CCF,0) * 100 AS CCF  
 FROM IFRS_EAD_CCF_HEADER  
 WHERE CCF_RULE_ID = @CCF_RULE_ID  
  AND EFF_DATE = @DOWNLOAD_DATE  
  
END;
GO
