USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_JOBHISTORYPROCESS]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPU_JOBHISTORYPROCESS]
(
	@JobNo INT, 
	@Status CHAR(1), 
	@PeriodDate DATE, 
	@Msg VARCHAR(MAX) = '', 
	@UserID VARCHAR(50) = '', 
	@UserHost VARCHAR(20) = '', 
	@JobID BIGINT = null 
)
AS
BEGIN

	DECLARE @statusmsg VARCHAR(20);
	DECLARE @period VARCHAR(10);
	SET @statusmsg = '';
   
	IF @Status = 'P'
	BEGIN
		SET @statusmsg = 'Progress';
	END
	ELSE IF @Status = 'S'
	BEGIN
		SET @statusmsg = 'Success';
	END
	ELSE IF @Status = 'F'
	BEGIN
		SET @statusmsg = 'Fail';
	END
   
	SELECT @period = Period 
	FROM tblM_Job WITH (NOLOCK) 
	WHERE JobNo = @JobNo;
   
	IF EXISTS (SELECT 1 FROM tblT_JobHistory WITH (NOLOCK) WHERE JobNo = @JobNo AND DATEDIFF(DAY, PeriodDate, @PeriodDate) = 0)
	BEGIN
		UPDATE tblT_JobHistory  
		SET Status = @statusmsg,  
			Msg = @Msg,  
			UpdatedBy = CASE WHEN ISNULL(@UserID, '') = '' THEN NULL ELSE @UserID END,  
			UpdatedDate = GETDATE(),  
			UpdatedHost = CASE WHEN ISNULL(@UserHost, '') = '' THEN NULL ELSE @UserHost END
		WHERE JobNo = @JobNo
		AND DATEDIFF(DAY, PeriodDate, @PeriodDate) = 0;
	END 
	ELSE
	BEGIN
		INSERT INTO tblT_JobHistory (JobNo, PeriodDate, Period, Status, Msg, JobId, CreatedBy, CreatedDate, CreatedHost)
		VALUES (@JobNo, @PeriodDate, @period, @statusmsg, @Msg, @JobID, @UserID, GETDATE(), @UserHost);
	END

END;

GO
