USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMRETENTION]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_PARAMRETENTION]        
(        
    @TABLE_SRC varchar(100)=''    
    ,@CATALOG_SRC varchar(100)=''       
    ,@SCHEMA_SRC varchar(100)=''      
    ,@CATALOG_DEST varchar(100)=''       
    ,@SCHEMA_DEST varchar(100)=''        
    ,@RETENTION_DAYS int = 0      
    ,@COL_NAME_DATE varchar(50)= ''    
    ,@EOM BIT = 0 
    ,@LAG_1MONTH_FLAG BIT = 0     
    ,@CreatedBy varchar(36)=''        
    ,@CreatedHost varchar(30)=''        
)        
AS        
BEGIN        
        
    INSERT INTO [dbo].[IFRS_ARCHIVE_MASTER]        
    (      
        TABLE_SRC    
        ,CATALOG_SRC    
        ,SCHEMA_SRC    
        ,TABLE_DEST    
        ,CATALOG_DEST    
        ,SCHEMA_DEST    
        ,COL_NAME_DATE    
        ,RETENTION_DAYS    
        ,EOM 
        ,LAG_1MONTH_FLAG   
        ,IS_DELETE    
        ,CREATEDBY    
        ,CREATEDHOST    
    )        
    VALUES        
    (    
        @TABLE_SRC   
        ,@CATALOG_SRC  
        ,@SCHEMA_SRC  
        ,@TABLE_SRC + '_ACV'    
        ,@CATALOG_SRC  
        ,@SCHEMA_DEST  
        ,@COL_NAME_DATE    
        ,@RETENTION_DAYS    
        ,@EOM
        ,@LAG_1MONTH_FLAG    
        ,0    
        ,@CreatedBy    
        ,@CreatedHost    
    )        
END 
GO
