USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_LOANREPORT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_LOANREPORT]
(            
    @DOWNLOAD_DATE DATE,
    @CURRENCY VARCHAR(5) = '',
	--@ASSET_TYPE_PRODUCT1 VARCHAR(2000) = '',
	--@ASSET_TYPE_PRODUCT2 VARCHAR(2000) = '',
	@SEGMENT VARCHAR(100) = ''
)
AS
BEGIN

	DECLARE @query varchar(max)

	IF @CURRENCY = 'ALL'
		SET @CURRENCY = ''

	SET @query = '
		SELECT  ISNULL(TC.VALUE2,IMA.BRANCH_CODE) "Branch",
			IMA.DATA_SOURCE "Data Source",
			IMA.PRODUCT_TYPE "Product Type",
			IMA.SEGMENT "Segment",
			IMA.IMPAIRED_FLAG "Impaired Flag",
			IMA.CURRENCY "Currency",
			IMA.ACCOUNT_STATUS "Account Status",
			ISNULL(IMA.ECL_AMOUNT,0) * ISNULL(IMA.EXCHANGE_RATE,0) "ECL in Local CCY",
			IMA.PRODUCT_CODE "Product Code",
			--IMA.ASSET_TYPE_PRODUCT1 "Asset Product Type 1",
			--IMA.ASSET_TYPE_PRODUCT2 "Asset Product Type 2",
			ISNULL(IMA.EAD_AMOUNT,0) * ISNULL(IMA.EXCHANGE_RATE,0) "EAD in Local CCY",
			IMA.CUSTOMER_NUMBER "Customer Number",
			IMA.CUSTOMER_NAME "Customer Name",
			ISNULL(IMA.OUTSTANDING,0) "Outstanding",
			ISNULL(IMA.OUTSTANDING,0) * ISNULL(IMA.EXCHANGE_RATE,0) "Outstanding in Local CCY",
			ISNULL(IMA.PLAFOND,0) "Loan Limit",
			ISNULL(IMA.PLAFOND,0) * ISNULL(IMA.EXCHANGE_RATE,0)  "Loan Limit in Local CCY",
			REPLACE(CONVERT(VARCHAR, IMA.DOWNLOAD_DATE, 106), '' '', ''-'') "Download Date"
		FROM IFRS_MASTER_ACCOUNT_MONTHLY IMA
		LEFT JOIN (SELECT * FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''B10'')TC ON TC.VALUE1 = IMA.BRANCH_CODE
		WHERE IMA.DOWNLOAD_DATE = ''' +  CAST(@Download_Date AS VARCHAR(10)) + ''''
		+ CASE WHEN @Currency <> ''
			THEN ' AND IMA.CURRENCY = ''' + @Currency + ''''
			ELSE ''
		END
		--+ CASE WHEN @ASSET_TYPE_PRODUCT2 <> ''
		--	THEN ' AND IMA.ASSET_TYPE_PRODUCT2 IN (' + @ASSET_TYPE_PRODUCT2 +')'
		--	ELSE ''
		--END
		--+ CASE WHEN @ASSET_TYPE_PRODUCT1 <> ''
		--	THEN ' AND IMA.ASSET_TYPE_PRODUCT1 IN (' + @ASSET_TYPE_PRODUCT1 +')'
		--	ELSE ''
		--END
		+ CASE WHEN @Segment <> ''
			THEN ' AND IMA.SEGMENT IN (' + @Segment +')'
			ELSE ''
		END;
  
	EXEC (@query)
	PRINT @query

END;

GO
