USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ACBMHEADERBYCLASSID]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_ACBMHEADERBYCLASSID](
@CLASSID varchar(1000) = '')
AS
BEGIN
	
	SELECT *
	FROM IFRS_AC_BM_HEADER A
	LEFT JOIN IFRS_AC_BM_HEADER_PENDING B ON A.SPPI_CLASS = B.SPPI_CLASS AND B.STATUS = 'PENDING'
	WHERE A.SPPI_CLASS = @CLASSID
		AND ISNULL(A.IS_DELETE,0) = 0

END
GO
