USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_QUERYFIELDSETTINGS]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_QUERYFIELDSETTINGS]
(
	@PKID FLOAT = NULL ,
	@CountryID VARCHAR(4000) = ' ' ,
	@ModuleID VARCHAR(4000) = ' ' ,
	@QueryID VARCHAR(4000) = ' ' ,
	@RptColumns VARCHAR(4000) = ' ' ,
	@RptArea VARCHAR(4000) = ' ' ,
	@SummaryType VARCHAR(4000) = ' ' ,
	@FormatString VARCHAR(4000) = ' ' ,
	@FieldIndex FLOAT = 0 ,
	@UpdatedBy VARCHAR(4000) = ' ' ,
	@UpdatedHost VARCHAR(4000) = ' ' 
)
AS
BEGIN

	UPDATE tblM_QueryFieldSettings
    SET CountryID = @CountryID,
        ModuleID = @ModuleID,
        QueryID = @QueryID,
        RptColumns = @RptColumns,
        RptArea = @RptArea,
        SummaryType = @SummaryType,
        FormatString = @FormatString,
        FieldIndex = @FieldIndex,
        UpdatedBy = @UpdatedBy,
        UpdatedDate = GETDATE(),
        UpdatedHost = @UpdatedHost
    WHERE PKID = @PKID;

END;

GO
