USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MONMARKETJOURNAL]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_MONMARKETJOURNAL]  
(  
    @DDATE_MAID VARCHAR(50)=''  
)  
AS  
BEGIN  
     
 SELECT A.DOWNLOAD_DATE,  
        B.MASTER_ACCOUNT_CODE,  
		GL_ACCOUNT,  
		JOURNAL_TYPE,  
		JOURNAL_DESC, 
		A.CURRENCY as CCY,
		TXN_TYPE AS DB_CR_FLAG,  
		REVERSAL_FLAG,
		AMOUNT

        FROM IFRS_IMP_JOURNAL_DATA A  
  LEFT JOIN IFRS_MASTER_ACCOUNT B ON B.MASTER_ACCOUNT_CODE = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))  
   AND B.DOWNLOAD_DATE <= CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10), 111)  
   AND A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER  
        WHERE A.ACCOUNT_NUMBER = SUBSTRING(@DDATE_MAID, 11, LEN(@DDATE_MAID))  
            AND A.DOWNLOAD_DATE <= CONVERT(VARCHAR,SUBSTRING(@DDATE_MAID, 1, 10), 111)  
    ORDER BY DOWNLOAD_DATE,JOURNAL_TYPE,CCY,REVERSAL_FLAG DESC,DB_CR_FLAG DESC;   
      
END;  
  

GO
