USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLFACFEECOSTPENDWITHAPPR]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_UPLFACFEECOSTPENDWITHAPPR](  
 @UploadID as int)  
as   
begin   
   
 INSERT INTO TBLU_FACILITY_FEECOST_PENDING(  
  FACILITY_NUMBER  
  ,PRD_CODE  
  ,TRX_CODE  
  ,TRANSACTION_DATE  
  ,CCY  
  ,DEBIT_CREDIT_FLAG  
  ,TRANSACTION_AMOUNT  
  ,CreatedBy  
  ,CreatedDate  
  ,CreatedHost  
  ,UPLOADID)  
 SELECT  
	FACILITY_NUMBER  
  ,PRD_CODE  
  ,TRX_CODE  
  ,CONVERT(date,TRANSACTION_DATE,103)  
  ,CCY  
  ,DEBIT_CREDIT_FLAG  
  ,TRANSACTION_AMOUNT  
  ,CreatedBy  
  ,CreatedDate  
  ,CreatedHost  
  ,UPLOADID  
 FROM TBLU_FACILITY_FEECOST_TEMP P  
 WHERE P.UPLOADID = @UploadID  
 ORDER BY ROW_NUMBER  
  
 DELETE FROM TBLU_FACILITY_FEECOST_TEMP WHERE UPLOADID = @UploadID  
  
 UPDATE TBLU_FEECOST_INFO set Status = 'PENDING' WHERE UploadID = @UploadID AND MODULE = 'FACILITY_FEECOST'  
  
end  
GO
