USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LGD_LGW_DETAIL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LGD_LGW_DETAIL](  
   @Period          DATE='1900-01-01',  
   @ProdGroup       int=0,
   @DefaultDate     DATE='1900-01-01'
   )  
AS  
BEGIN  
	SET NOCOUNT ON;  
	DECLARE @V_Query   VARCHAR(MAX);
	DECLARE @month as int
	DECLARE @counter as int
	DECLARE @V_ColumnName VARCHAR(MAX); 
	SET @counter = 0;
	SET @month = (select workout_period from IFRS_LGD_RULES_CONFIG where PKID = @ProdGroup)

	WHILE @counter < @month
	BEGIN
		SET @counter = @counter+1
		SET @V_ColumnName = COALESCE(+@V_ColumnName + ',', '') + '['+CONVERT(varchar, @counter)+']'
	END

	SET @V_Query = 
	'
		select * from(
			select DEFAULT_DATE as [Default Date], c.MASTERID [Master ID], D.MASTER_ACCOUNT_CODE [Master Account Code], CAST(EQV_AT_DEFAULT as decimal(32, 2)) as "Outstanding at Default", 
			--ISNULL(REC_OS,0) AS REC_OS,
			cast(REC_OS as decimal(32, 2)) REC_OS, 
			SEQ 
				from IFRS_LGD_REC_DETAIL A 
				join IFRS_LGD_RULES_CONFIG B on A.RULE_ID = B.DEFAULT_RULE_ID 
				join IFRS_LGD_LGW_DETAIL C on B.PKID = c.LGD_RULE_ID and C.MASTERID = A.MASTERID 
				join IFRS_MASTER_ID D on C.MASTERID = D.MASTERID where B.PKID = 3 and C.EFF_DATE = '''+CAST(@Period AS VARCHAR(10))+''' and DEFAULT_DATE = '''+CAST(@DefaultDate AS VARCHAR(10))+''') temp

				pivot(
				sum(rec_os) for seq in('+@V_ColumnName+')
				)pvt
	';

	exec (@V_Query)
	print (@V_Query)

END  

GO
