USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_NFR_PDRESULT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_NFR_PDRESULT]  
(  
	@PD_RULE_ID AS BIGINT,  
	@PERIOD AS DATE  
)  
AS  
BEGIN  
  
	SELECT 
		A.PD_RULE_NAME,
		B.BUCKET_NAME,
		A.PD_RATE*100 AS PD_RATE
	FROM IFRS_PD_NFR_RESULT A
	JOIN IFRS_BUCKET_DETAIL B
	ON A.BUCKET_GROUP = B.BUCKET_GROUP
	AND A.BUCKET_ID = B.BUCKET_ID
	WHERE A.PD_RULE_ID = @PD_RULE_ID
	AND A.DOWNLOAD_DATE = @PERIOD
	ORDER BY 
		A.DOWNLOAD_DATE,
		A.BUCKET_ID
  
END  


GO
