USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CHECKMODELUSAGE]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[USPS_CHECKMODELUSAGE]  
 @PKID int  
AS  
BEGIN  
 SELECT  
  A.PKID  
 FROM IFRS_MACRO_ECONOMIC_MODEL A  
 JOIN IFRS_ME_SCALAR_HEADER B ON A.PKID = B.MODEL_ID  
 WHERE A.PKID = @PKID   
END  
GO
