USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_QUERYDATA]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[USPI_QUERYDATA]  
    @CountryID VARCHAR(10) ='',  
    @ModuleID VARCHAR(50) ='',  
    @QueryID VARCHAR(100) ='',  
    @ObjectName VARCHAR(50) ='',  
    @SelectQuery VARCHAR(1000) ='',  
    @CreatedBy VARCHAR(36) ='',  
    @CreatedHost VARCHAR(30)  =''
AS   
    SET NOCOUNT ON        INSERT  INTO [dbo].[tblM_QueryData]  
            ( [CountryID] ,  
              [ModuleID] ,  
              [QueryID] ,  
              [ObjectName] ,  
              [SelectQuery] ,  
              [CreatedBy] ,  
              [CreatedDate] ,  
              [CreatedHost]  
            )  
            SELECT  @CountryID ,  
                    @ModuleID ,  
                    @QueryID ,  
                    @ObjectName ,  
                    @SelectQuery ,  
                    @CreatedBy ,  
                    getdate() ,  
                    @CreatedHost







GO
