USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_IFRSTOTEMPBOOTSTRAPMODEL]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPU_IFRSTOTEMPBOOTSTRAPMODEL]
(
    @PKID bigint=0,
	@UpdatedBy varchar(36),
	@UpdatedHost varchar(36),
	@Message smallint = 0 out
)
AS
BEGIN
	SET NOCOUNT ON;

	--DELETE EXISTING DATA FIRST
    DELETE TMP_IFRS_PD_BOOTSTRAP_CONFIG
    WHERE PKID = @PKID
    
    DELETE TMP_IFRS_PD_BOOTSTRAP_DETAIL
    WHERE BOOTSTRAP_ID = @PKID;
    
    DELETE TMP_IFRS_PD_BOOTSTRAP
    WHERE BOOTSTRAP_ID = @PKID;
    
    --INSERT INTO TEMPORARY TABLES
	SET IDENTITY_INSERT TMP_IFRS_PD_BOOTSTRAP_CONFIG ON
    INSERT INTO TMP_IFRS_PD_BOOTSTRAP_CONFIG
	(
		PKID,
		BOOTSTRAP_NAME,
		BOOTSTRAP_SAMPLE,
		BOOTSTRAP_POINT,
		MODEL_ID,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST
	)
    SELECT 
		PKID,
		BOOTSTRAP_NAME,
		BOOTSTRAP_SAMPLE,
		BOOTSTRAP_POINT,
		MODEL_ID,
		CREATEDBY,
		CREATEDDATE,
		CREATEDHOST,
		UPDATEDBY,
		UPDATEDDATE,
		UPDATEDHOST
    FROM IFRS_PD_BOOTSTRAP_CONFIG
    WHERE PKID = @PKID;
	SET IDENTITY_INSERT TMP_IFRS_PD_BOOTSTRAP_CONFIG OFF
    
	IF EXISTS (
		SELECT TOP 1 1 FROM
		(
			SELECT AA.ME_CODE, BB.DERIVED_TYPE 
			FROM IFRS_PD_BOOTSTRAP_DETAIL_CONF  AA
			FULL OUTER JOIN 
			(
				SELECT DISTINCT AAA.DERIVED_TYPE 
				FROM IFRS_ME_MODEL_CORRELATION AAA
				JOIN IFRS_PD_BOOTSTRAP_CONFIG BBB
				ON AAA.MODEL_ID = BBB.MODEL_ID
				AND AAA.IS_CHOSEN = 1
				AND BBB.PKID = @PKID
			) BB
			ON AA.ME_CODE = BB.DERIVED_TYPE
			WHERE AA.BOOTSTRAP_ID = @PKID
		) A WHERE ME_CODE IS NULL OR DERIVED_TYPE IS NULL
	)
		BEGIN
			INSERT INTO TMP_IFRS_PD_BOOTSTRAP_DETAIL
			(
				BOOTSTRAP_ID,
				MODEL_ID,
				ME_CODE,
				BOOTSTRAP_PERIOD_FROM,
				BOOTSTRAP_PERIOD_TO
			)
			SELECT B.PKID,
			    B.MODEL_ID,
				A.DERIVED_TYPE,
				MIN(C.ME_PERIOD),
				MAX(C.ME_PERIOD) 
			FROM IFRS_ME_MODEL_CORRELATION A
			JOIN IFRS_PD_BOOTSTRAP_CONFIG B
			ON A.MODEL_ID = B.MODEL_ID
				AND A.IS_CHOSEN = 1
				AND B.PKID = @PKID
			JOIN IFRS_ME_SEASONAL_ADJUSTMENT C
			ON A.MODEL_ID = C.MODEL_ID
				AND A.DERIVED_TYPE = C.DERIVED_TYPE
				AND C.SEASONAL_ADJUSTMENT IS NOT NULL
			GROUP BY B.PKID,
			    B.MODEL_ID,
				A.DERIVED_TYPE;
			
			SET @Message = 1;--'Selected Macro Economic Variable has been changed from previous data. System Automatically Take The Updated Variables';
		END;
	ELSE
		BEGIN
			--SET IDENTITY_INSERT TMP_IFRS_PD_BOOTSTRAP_DETAIL ON

			INSERT INTO TMP_IFRS_PD_BOOTSTRAP_DETAIL
			(
			--	PKID,
				BOOTSTRAP_ID,
				MODEL_ID,
				ME_CODE,
				BOOTSTRAP_PERIOD_FROM,
				BOOTSTRAP_PERIOD_TO
			)
			SELECT 
			--	PKID,
				BOOTSTRAP_ID,
				MODEL_ID,
				ME_CODE,
				BOOTSTRAP_PERIOD_FROM,
				BOOTSTRAP_PERIOD_TO
			FROM IFRS_PD_BOOTSTRAP_DETAIL_CONF
			WHERE BOOTSTRAP_ID = @PKID;

			--SET IDENTITY_INSERT TMP_IFRS_PD_BOOTSTRAP_DETAIL OFF
    
		END;
	
	--SET IDENTITY_INSERT TMP_IFRS_PD_BOOTSTRAP ON
    INSERT INTO TMP_IFRS_PD_BOOTSTRAP
	(
		--PKID,
		BOOTSTRAP_ID,
		MODEL_ID,
		ME_CODE,
		PERCENTILE_PERIOD_FROM,
		PERCENTILE_PERIOD_TO,
		RANK_SCORE
	)
    SELECT 
		--PKID,
		BOOTSTRAP_ID,
		MODEL_ID,
		ME_CODE,
		PERCENTILE_PERIOD_FROM,
		PERCENTILE_PERIOD_TO,
		RANK_SCORE
    FROM IFRS_PD_BOOTSTRAP
    WHERE BOOTSTRAP_ID = @PKID;
	--SET IDENTITY_INSERT TMP_IFRS_PD_BOOTSTRAP OFF

END;

GO
