USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSCREENGROUPH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPSCREENGROUPH]    
as      
 select Cast([PKID] as varchar(10))+'-'+[ScreenGroupID] as [Screen Group] ,SCREENGROUPID = PKID from tblM_ScreenGroupHeader


GO
