USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SPPIRESULT]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[USPS_SPPIRESULT]    
AS    
 SELECT VALUE1 VALUEFIELD,VALUE1 TEXTFIELD from TBLM_COMMONCODEDETAIL where PKID in (    
  select DISTINCT DETERMINEID PKID from IFRS_AC_SPPI_SECTION     
 ) 
GO
