USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPERIODDISCLOSUREFIN]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPPERIODDISCLOSUREFIN]  
AS  
BEGIN  

 SELECT DISTINCT DOWNLOAD_DATE A
	, REPLACE(CONVERT(VARCHAR, DOWNLOAD_DATE, 106), ' ', '-') DOWNLOAD_DATE
 FROM IFRS_MASTER_ACCOUNT
 UNION ALL
 SELECT DISTINCT DOWNLOAD_DATE A
	, REPLACE(CONVERT(VARCHAR, DOWNLOAD_DATE, 106), ' ', '-') DOWNLOAD_DATE
 FROM IFRS_LI_MASTER_ACCOUNT
 ORDER BY A DESC;  
      
END;  

GO
