USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[uspS_MappingRulesH]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspS_MappingRulesH]  
AS   
    BEGIN  

	--SELECT  [PKID] ,  
 --               [MappingName] ,  
 --               [CountryID] ,  
 --               [ModuleID] ,  
 --               [MappingDescription] ,  
 --               [TableSchema] ,  
 --               [TableDestination] ,  
 --               [MappingType] ,  
 --               [FileType] ,  
 --               [FileName] ,  
 --               [CreatedBy] ,  
 --               [CreatedDate] ,  
 --               [CreatedHost] ,  
 --               [UpdatedBy] ,  
 --               [UpdatedDate] ,  
 --               [UpdatedHost]  
 --       FROM    [dbo].[tblM_MappingRulesHeader]  

			SELECT  A.[PKID] ,  
                A.MAPPINGNAME ,  
                A.MAPPINGDESCRIPTION ,  
                A.TABLEDESTINATION ,  
                B.DESCRIPTION MAPPINGTYPE ,  
                C.DESCRIPTION FILETYPE ,  
                FILENAME,
				A.KEYHISTORY,
				A.NEEDAPPROVAL
        FROM    [dbo].TBLM_MAPPINGRULEHEADER_NEW  A
		JOIN TBLM_COMMONCODEDETAIL B ON A.MAPPINGTYPE = B.VALUE1
		JOIN TBLM_COMMONCODEDETAIL C ON A.FILETYPE = C.VALUE1

	END


GO
