USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_UPLOADDATAFEECOSTTEMP]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_UPLOADDATAFEECOSTTEMP](
@UploadID int = 0
,@Module varchar(20) = ''
,@UserID varchar(36) = '')
AS
BEGIN
DECLARE @Count int
	
	SELECT @Count = Count(*) from TBLU_FEECOST_MESSAGEERROR WHERE UPLOAD_ID = @UploadID AND CREATEDBY = @UserID AND MODULE = @Module
	if @Count > 0
		Set @UploadID = 0
	
	IF (@Module = 'LIABILITIES')
	BEGIN
		SELECT 
			DATA_SOURCE,
			ACCOUNT_NUMBER,
			PRD_CODE,
			TRX_CODE,
			TRX_REF_NUMBER,
			TRANSACTION_DATE,
			EFFECTIVE_DATE,
			END_DATE,
			CURRENCY,
			DEBIT_CREDIT_FLAG,
			TRY_CONVERT(FLOAT, INITIAL_COST_AMOUNT) AS TRANSACTION_AMOUNT
		FROM [dbo].[TBLU_TRANS_LIAB_TEMP]
		WHERE UploadID=@uploadID
		ORDER BY [ROW_NUMBER]
	END
	ELSE IF (@Module = 'LENDING')
	BEGIN
		SELECT 
			DATA_SOURCE,
			ACCOUNT_NUMBER,
			PRD_CODE,
			TRX_CODE,
			FACILITY_NUMBER,
			TRANSACTION_DATE,
			EFFECTIVE_DATE,
			CURRENCY,
			DEBIT_CREDIT_FLAG,
			TRY_CONVERT(FLOAT, TRANSACTION_AMOUNT) AS TRANSACTION_AMOUNT
		FROM [dbo].[TBLU_TRANS_ASSET_TEMP]
		WHERE UploadID=@uploadID
		ORDER BY [ROW_NUMBER]
	END
	ELSE IF (@Module = 'FACILITY_FEECOST')
	BEGIN
		SELECT 
			FACILITY_NUMBER,
			PRD_CODE,
			TRX_CODE,
			TRANSACTION_DATE,
			CCY,
			DEBIT_CREDIT_FLAG,
			TRY_CONVERT(FLOAT, TRANSACTION_AMOUNT) AS TRANSACTION_AMOUNT
		FROM [dbo].[TBLU_FACILITY_FEECOST_TEMP]
		WHERE UploadID=@uploadID
		ORDER BY [ROW_NUMBER]
	END

END
GO
