USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETTAGGINGBYDCFIDACC]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_GETTAGGINGBYDCFIDACC]
(
	@DCFID INT,
	@ACC VARCHAR(50)
)
AS
BEGIN

	DECLARE @DOWNLOAD_DATE DATE;

	SELECT @DOWNLOAD_DATE = CURRDATE FROM IFRS_PRC_DATE;

	SELECT METHOD,
		REMARK
	FROM IFRS_IMP_OVERRIDE_DETAIL_TEMP
	WHERE DCFID = @DCFID
		AND MASTER_ACCOUNT_ID = @ACC
		AND DOWNLOAD_DATE = @DOWNLOAD_DATE

END;

GO
