USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPLEVEL6CODE]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPS_LOOKUPLEVEL6CODE]
(
	@GEN1_CODE decimal(32,6)
	,@GEN2_CODE decimal(32,6)
	,@GEN3_CODE decimal(32,6)
	,@GEN4_CODE decimal(32,6)
	,@GEN5_CODE decimal(32,6)
)
AS
BEGIN

	SELECT distinct cast(GEN5_CODE as int) "GEN5_CODE"
		,cast(CAST(GEN5_CODE as int) as varchar(50)) + ' - ' + GEN5_DESC "GEN5_DESC"
		,substring(ITEM_CODE,1,len(cast(GEN1_CODE as int)) + 1 + len(cast(GEN2_CODE as int)) + 1 + len(cast(GEN3_CODE as int)) + 1 + len(cast(GEN4_CODE as int)) + 1 + len(cast(GEN5_CODE as int))) "ITEM_CODE_END"
		,cast(GEN6_CODE as int) "GEN6_CODE"
		,cast(CAST(GEN6_CODE as int) as varchar(50)) + ' - ' + GEN6_DESC "GEN6_DESC"
		,substring(ITEM_CODE,1,len(cast(GEN1_CODE as int)) + 1 + len(cast(GEN2_CODE as int)) + 1 + len(cast(GEN3_CODE as int)) + 1 + len(cast(GEN4_CODE as int)) + 1 + len(cast(GEN5_CODE as int)) + 1 + len(cast(GEN6_CODE as int))) "ITEM_CODE"
	FROM GL_PARAM_HIERARCHY_HO
	WHERE GEN1_CODE =  @GEN1_CODE
		AND GEN2_CODE = @GEN2_CODE
		AND GEN3_CODE = @GEN3_CODE
		AND GEN4_CODE = @GEN4_CODE
		AND GEN5_CODE = @GEN5_CODE
 
END

GO
