USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCALARINDEPENDENTVARIABLED1]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_SCALARINDEPENDENTVARIABLED1]  
(                
	@SCALAR_ID int,
	@SCENARIO_NO int
)                
AS                
BEGIN

	SELECT DISTINCT ME_CODE,
		SCENARIO_NO,
		ME_CODE AS "Variable"
	FROM IFRS_ME_COMPLETE
	WHERE SCALAR_ID = @SCALAR_ID
		AND SCENARIO_NO = @SCENARIO_NO
	ORDER BY ME_CODE

END
GO
