USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_AC_SYNC_LIST_VALUE]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_IFRS_AC_SYNC_LIST_VALUE]  
AS  
BEGIN   
DECLARE @TABLE_NAME VARCHAR(100)  
DECLARE @FIELD_NAME VARCHAR(100)  
DECLARE @DATA_SOURCE VARCHAR(100)  
DECLARE @SCRIPT VARCHAR(MAX)  
DECLARE @CURRDATE DATE   
  
SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE_AMORT  
  
TRUNCATE TABLE IFRS_AC_SYNC_LIST_VALUE  
  
INSERT INTO IFRS_AC_SYNC_LIST_VALUE (DATA_SOURCE  
,TABLE_NAME  
,SPPI_LEVEL  
,KEY_VALUE  
,INFO1  
,INFO2  
,INFO3  
,INFO4  
,INFO5  
,INST_CLS_VALUE  
,CREATEDDATE  
,CREATEDBY)  
SELECT DISTINCT DATA_SOURCE  
,'IFRS_MASTER_PRODUCT_PARAM' AS TABLE_NAME  
,'PRD_CODE' AS SPPI_LEVEL  
,PRD_CODE AS KEY_VALUE  
,PRD_TYPE AS INFO1  
,PRD_GROUP AS INFO2  
,PRD_DESC AS INFO3  
,PRD_CODE AS INFO4  
,NULL AS INFO5  
,INST_CLS_VALUE  
,CREATEDDATE  
,CREATEDBY FROM IFRS_MASTER_PRODUCT_PARAM  
WHERE ISNULL(IS_DELETE,0) = 0  
  
END 
GO
