USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_IA_MONITORING_REPORT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPR_IA_MONITORING_REPORT](             
 @DOWNLOAD_DATE DATE = ''             
 --@MASTERID VARCHAR(100) = '',            
 --@CUSTOMER_NUMBER VARCHAR(100) = ''           
)                                              
AS                                              
BEGIN                                              
            
 --DECLARE @QUERY VARCHAR(2000) = 'SELECT        
 -- DOWNLOAD_DATE,        
 -- MASTERID,        
 -- CUSTOMER_NUMBER,        
 -- CUSTOMER_NAME,        
 -- LOAN_DUE_DATE,        
 -- CURRENCY,        
 -- OUTSTANDING,        
 -- PLAFOND,        
 -- PLAFOND_CIF,        
 -- BI_COLLECTABILITY,        
 -- BI_COLLECT_CIF,        
 -- DAY_PAST_DUE,        
 -- DPD_CIF,        
 -- RESTRUCTURE_COLLECT_FLAG,      
 -- ECL_AMOUNT      
 --FROM IFRS_MASTER_ACCOUNT_MONTHLY NOLOCK'        
        
        
 --DECLARE @WHERE VARCHAR(1000) = ''     
 --SET @WHERE = ' WHERE IMPAIRED_FLAG = ''I'' AND PRODUCT_GROUP LIKE (SELECT VALUE1 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = ''' + 'B152' + ''') AND '     
        
 ----IF(@DOWNLOAD_DATE <> '' OR @MASTERID <> '' OR @CUSTOMER_NUMBER <> '')        
 ----BEGIN         
 ---- SET @WHERE = ' AND '        
 ----END        
         
 --IF(@DOWNLOAD_DATE <> '')        
 --BEGIN         
 -- SET @WHERE = @WHERE + 'DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE, 23) + ''' AND '        
 --END        
        
 --IF(@MASTERID <> '')        
 --BEGIN         
 -- SET @WHERE = @WHERE + 'MASTERID = ''' + @MASTERID + ''' AND '        
 --END        
        
 --IF(@CUSTOMER_NUMBER <> '')        
 --BEGIN         
 -- SET @WHERE = @WHERE + 'CUSTOMER_NUMBER = ''' + @CUSTOMER_NUMBER + ''''        
 --END        
 --ELSE        
 --BEGIN        
 -- IF(@WHERE <> '')        
 -- BEGIN        
 --  SELECT @WHERE = LEFT(@WHERE, LEN(@WHERE)-3)        
 -- END        
 --END        
        
 --SET @QUERY = @QUERY+@WHERE     
 --PRINT(@QUERY)       
 --EXEC(@QUERY)
 
	SELECT 
		DOWNLOAD_DATE,
		MASTERID,
		CUSTOMER_NUMBER,
		CUSTOMER_NAME,
		LOAN_DUE_DATE,
		CURRENCY,
		OUTSTANDING,
		PLAFOND,
		PLAFOND_CIF,
		BI_COLLECTABILITY,
		BI_COLLECT_CIF,
		DAY_PAST_DUE,
		DPD_CIF,
		RESTRUCTURE_COLLECT_FLAG,
		ECL_AMOUNT
	FROM IFRS_MASTER_ACCOUNT
	WHERE IMPAIRED_FLAG = 'I'
	AND DOWNLOAD_DATE = @DOWNLOAD_DATE        
                                  
END
GO
