USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_UPLOADDCFDACC]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPI_UPLOADDCFDACC]                      
(                      
 @DCFID              INT,                      
 @uploadID           INT,                      
 @xlsRowNum          INT,                      
 --@custnum            VARCHAR(100),                      
 @MASTERID    VARCHAR(100),                      
 @EFFECTIVE_DATE   VARCHAR(100)=0,                      
 @EIR      VARCHAR(100)=0,                      
 @PRINCIPAL     VARCHAR(100)=0,            
 --@principal     VARCHAR(100)=0,              
 @INTEREST     VARCHAR(100)=0,             
 @UNPAID_INTEREST     VARCHAR(100)=0,                   
 @CreatedBy          VARCHAR(36),                      
 @CreatedHost        VARCHAR(30),                      
 @Remarks         VARCHAR(100) = '',                
 @COLLATERAL   VARCHAR(100)=0,             
 @COLLATERAL_COST   VARCHAR(100)=0,                   
 @intContractual     VARCHAR(100)=0                      
)                  
AS                  
BEGIN                  
                      
 DECLARE @currdate                DATETIME;                      
 DECLARE @mastAccID               VARCHAR (100);                      
    DECLARE @custnum     VARCHAR(100);                
 DECLARE @sumoutstanding          NUMERIC (32, 6);                      
 DECLARE @lastoutstanding         NUMERIC (32, 6);                      
 DECLARE @outstandingbymast       NUMERIC (32, 6);                      
    DECLARE @facilitynum    VARCHAR(100);                
                   
 DECLARE @countmastid             INT;                      
 DECLARE @loopmastid              INT;                      
 DECLARE @estPayment              NUMERIC (32, 6);                      
 DECLARE @intContractualProrate   NUMERIC (32, 6);                      
 DECLARE @intContractualLast      NUMERIC (32, 6);                      
    /*                   
 IF (@xlsRowNum = 1)                     
 BEGIN                      
  DELETE tblT_PaymentExpectedH_TEMP WHERE DCFID = @DCFID;                      
  DELETE tblT_PaymentExpected_TEMP WHERE DCFID = @DCFID;                      
  DELETE tblU_DCF_Detail WHERE DCFID = @DCFID;                      
 END                       
    */                
                 
 SELECT DISTINCT @custnum=CUSTOMER_NUMBER FROM /*IFRS_MASTER_ACCOUNT*/ IFRS_IMA_AMORT_CURR WHERE /*DOWNLOAD_DATE = (SELECT CURRDATE FROM IFRS_PRC_DATE) AND*/ MASTERID = @MASTERID                
 SELECT DISTINCT @facilitynum=FACILITY_NUMBER FROM /*IFRS_MASTER_ACCOUNT*/ IFRS_IMA_AMORT_CURR WHERE /*DOWNLOAD_DATE = (SELECT CURRDATE FROM IFRS_PRC_DATE) AND*/ MASTERID = @MASTERID                
     
 print  @COLLATERAL_COST     
 INSERT INTO tblT_PaymentExpectedH_TEMP                
 (                  
  DCFID,                      
  UPLOADID,                      
  [ROW_NUMBER],                      
  MASTERID,                      
  CUSTOMER_NUMBER,                      
  FACILITY_NUMBER,                      
  EFFECTIVE_DATE,                      
  EIR_PERCENT,                      
  --Outstanding,                
  --Interest_Contractual,                      
  CreatedBy,                      
  CreatedDate,                      
  CreatedHost,                
  --Remarks,            
  PRINCIPAL,            
  INTEREST,            
  UNPAID_INTEREST,            
  COLLATERAL,            
  COLLATERAL_COST                      
 )                      
 VALUES                       
 (                      
  @DCFID,                      
  @uploadID,                      
  @xlsRowNum,                      
  @MASTERID,                      
  @custnum,                      
  @facilitynum,                      
  CAST((@EFFECTIVE_DATE + '01') AS DATE),                       
  CAST (@EIR AS FLOAT),                      
  --CAST (@estOutstanding AS DECIMAL (32, 6)),                    
  --CAST (@intContractual AS DECIMAL (32, 6)),                      
  @CreatedBy,                      
  GETDATE(),                      
  @CreatedHost,                
  --@Remarks,           
  CAST (@PRINCIPAL AS DECIMAL (32, 6)),            
  CAST (@INTEREST AS DECIMAL (32, 6)),            
  CAST (@UNPAID_INTEREST AS DECIMAL (32, 6)),            
  CAST (@COLLATERAL AS DECIMAL (32, 6)),            
  CAST (@COLLATERAL_COST AS float)               
 );                                   
 SELECT @currdate = CURRDATE FROM IFRS_PRC_DATE;                      
                      
 SELECT @sumoutstanding = SUM (CASE WHEN DATA_SOURCE = 'LIMIT_T24' THEN UNUSED_AMOUNT ELSE OUTSTANDING END)
 FROM IFRS_MASTER_ACCOUNT                      
 WHERE DOWNLOAD_DATE = @currdate                      
  AND CUSTOMER_NUMBER = @custnum                      
  AND MASTERID = @MASTERID                      
  AND (CASE WHEN DATA_SOURCE = 'LIMIT_T24' THEN UNUSED_AMOUNT ELSE outstanding END) > 0
 GROUP BY DATA_SOURCE;
                  
 SELECT @countmastid = COUNT (DISTINCT MASTERID)                      
 FROM IFRS_MASTER_ACCOUNT                      
 WHERE DOWNLOAD_DATE = @currdate                      
  AND CUSTOMER_NUMBER = @custnum                      
  AND MASTERID = @MASTERID                      
  AND (CASE WHEN DATA_SOURCE = 'LIMIT_T24' THEN UNUSED_AMOUNT ELSE outstanding END) > 0;                      
                
 SET @loopmastid = 1;                      
 SET @lastoutstanding = 0;                      
 SET @intContractualLast = 0;                   
                
 DECLARE cursor_dcf CURSOR LOCAL                      
 FOR                      
  SELECT DISTINCT MASTERID                      
  FROM IFRS_MASTER_ACCOUNT                      
  WHERE DOWNLOAD_DATE = @currdate                      
   AND       
   CUSTOMER_NUMBER = @custnum                      
   AND MASTERID = @MASTERID                      
   AND (CASE WHEN DATA_SOURCE = 'LIMIT_T24' THEN UNUSED_AMOUNT ELSE outstanding END) > 0;                      
                
 BEGIN                      
  OPEN cursor_dcf;                      
                     
  FETCH NEXT FROM cursor_dcf INTO @mastAccID;                      
                     
  WHILE @@FETCH_STATUS = 0                      
  BEGIN   
    
                       
   SELECT @outstandingbymast = (CASE WHEN DATA_SOURCE = 'LIMIT_T24' THEN UNUSED_AMOUNT ELSE OUTSTANDING END)                      
   FROM IFRS_MASTER_ACCOUNT                     
   WHERE DOWNLOAD_DATE = @currdate                      
    AND MASTERID = @mastAccID;                      
                      
                
   IF @loopmastid < @countmastid                      
   BEGIN                      
    SET @estPayment = @PRINCIPAL * ROUND ( (@outstandingbymast / @sumoutstanding), 2);                      
    SET @intContractualProrate = @intContractual * ROUND ( (@outstandingbymast / @sumoutstanding), 2);                      
   END                      
   ELSE BEGIN                      
    SET @estPayment = @PRINCIPAL - @lastoutstanding;                      
    SET @intContractualProrate = @intContractual - @intContractualLast;                      
   END                       
                   
      
   INSERT INTO tblU_DCF_Detail                       
   (                      
    DCFID,                      
    UPLOADID,                      
    ROW_NUMBER,                      
    MASTERID,                     
    EFFECTIVE_DATE,         
    EIR_PERCENT,        
    PRINCIPAL,        
 INTEREST,        
 UNPAID_INTEREST,        
 COLLATERAL,        
 COLLATERAL_COST,        
 STATUS,        
 CREATEDBY,        
 CREATEDDATE,        
 CREATEDHOST                     
   )                      
   VALUES                       
   (                      
    @DCFID,                      
    @uploadID,                      
    @xlsRowNum,                      
    @MASTERID,                      
    @EFFECTIVE_DATE,                      
    @EIR,            
 @PRINCIPAL,                  
    @INTEREST,        
 @UNPAID_INTEREST,        
 @COLLATERAL,        
 @COLLATERAL_COST,        
 'INVALID',                   
    @CreatedBy,                      
    GETDATE(),                      
    @CreatedHost                   
   );                      
                            
                           
   SET @lastoutstanding = @lastoutstanding + @estPayment;                      
   SET @loopmastid = @loopmastid + 1;                      
   SET @intContractualLast = @intContractualLast + @intContractualProrate;                      
                      
   FETCH cursor_dcf INTO @mastAccID;                      
  END;                      
                          
  SELECT MAX(TempID) AS TempID                   
  FROM tblU_DCF_Detail                   
  WHERE UPLOADID = @uploadID;                     
                        
  CLOSE cursor_dcf;                      
 DEALLOCATE cursor_dcf;                
 END;                
END;  
  

GO
