USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFSUSPECTCIF]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFSUSPECTCIF]            
(            
 @Download_Date datetime='01/01/2000'      
)            
AS      
    DECLARE @PlafondLow DECIMAL(32,6)      
    DECLARE @PlafondHigh DECIMAL(32,6)      
    DECLARE @BiCollectLow INT      
    DECLARE @BiCollectHigh INT      
    DECLARE @DpdLow  INT      
    DECLARE @DpdHigh  INT      
       
       
BEGIN         
 SET @PlafondLow = 0      
 SET @PlafondHigh = 0      
 SET @BiCollectLow = 0      
 SET @BiCollectHigh = 0      
 SET @DpdLow = 0      
 SET @DpdHigh = 0      
       
 SELECT @PlafondLow = VALUE1,@PlafondHigh = VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B06'; --AND VALUE1 = 'PLAFOND';      
    SELECT @BiCollectLow = VALUE1, @BiCollectHigh = VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B05'; --AND VALUE1 = 'BI_COLLECTABILITY';      
    SELECT @DpdLow = VALUE1 ,@DpdHigh = VALUE2 FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B04'; --AND VALUE1 = 'DPD';      
         
 SELECT      
  DOWNLOAD_DATE,      
        CUSTOMER_NUMBER,      
  CUSTOMER_NUMBER as "CUSTNO",      
        CUSTOMER_NAME,      
  --PRODUCT_TYPE_GROUP,      
  CURRENCY,      
  SUM(OUTSTANDING * EXCHANGE_RATE) AS "OUTSTANDING",       
        SUM(PLAFOND) AS "PLAFOND",       
        MAX(DAY_PAST_DUE) AS "DAY_PAST_DUE",       
        MAX(BI_COLLECTABILITY) AS "BI_COLLECTABILITY"       
        --MAX(STAGE) AS "STAGE",      
        --MAX(RATING_CODE) AS "RATING"      
        FROM IFRS_MASTER_ACCOUNT      
    WHERE 
	DOWNLOAD_DATE = @Download_Date
	AND
	CUSTOMER_NUMBER NOT IN (SELECT DISTINCT CUSTOMER_NUMBER FROM IFRS_IMP_OVERRIDE)       
        AND PLAFOND BETWEEN @PlafondLow AND @PlafondHigh        
        --AND DAY_PAST_DUE BETWEEN @DpdLow AND @DpdHigh      
              
  AND BI_COLLECTABILITY BETWEEN @BICollectLow AND @BICollectHigh       
        GROUP BY DOWNLOAD_DATE,       
            CUSTOMER_NUMBER,       
            CUSTOMER_NAME,       
            --PRODUCT_TYPE_GROUP,      
            CURRENCY      
  ORDER BY CUSTOMER_NUMBER      
END 

GO
