USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMP_SYNC_RESTRU_COVID]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IFRS_IMP_SYNC_RESTRU_COVID]
@DOWNLOAD_DATE DATE = NULL
AS
DECLARE @V_CURRDATE DATE
BEGIN

    IF @DOWNLOAD_DATE IS NULL
    BEGIN
        SELECT @V_CURRDATE = CURRDATE FROM IFRS_PRC_DATE
    END
    ELSE
    BEGIN
        SET @V_CURRDATE = @DOWNLOAD_DATE
    END

    DELETE IFRS_MASTER_RESTRU_COVID WHERE DOWNLOAD_DATE = @V_CURRDATE

    INSERT INTO IFRS_MASTER_RESTRU_COVID
    (
        DOWNLOAD_DATE
        ,MASTERID
        ,PREV_MASTERID
        ,CUSTOMER_NUMBER
        ,ACCOUNT_NUMBER
        ,PREV_ACCOUNT_NUMBER
        ,PRODUCT_CODE
        ,PREV_PRODUCT_CODE
        ,STAGE
        ,BUCKET_NAME
        ,SOURCE_SYSTEM
        ,CREATEDBY
        ,CREATEDDATE
        ,CREATEDHOST
    )
    SELECT 
        LTRIM(RTRIM(BUSS_DATE)) AS DOWNLOAD_DATE
        ,CASE 
            --WHEN LTRIM(RTRIM(SOURCE_SYSTEM)) = 'T24' THEN LTRIM(RTRIM(NEW_DEAL_REF)) 
			WHEN LTRIM(RTRIM(SOURCE_SYSTEM)) IN ('LIQ', 'DOKA', 'TIS','TRSUPL','T24') THEN LTRIM(RTRIM(NEW_DEAL_REF)) 
            ELSE CONCAT(LTRIM(RTRIM(CIF)), '_', LTRIM(RTRIM(NEW_DEAL_REF)), '_', LTRIM(RTRIM(NEW_DEAL_TYPE)))
        END AS MASTERID
        ,CASE 
            --WHEN LTRIM(RTRIM(SOURCE_SYSTEM)) = 'T24' THEN LTRIM(RTRIM(OLD_DEAL_REF))
			WHEN LTRIM(RTRIM(SOURCE_SYSTEM)) IN ('LIQ', 'DOKA', 'TIS','TRSUPL','T24') THEN LTRIM(RTRIM(OLD_DEAL_REF))  
            ELSE CONCAT(LTRIM(RTRIM(CIF)), '_', LTRIM(RTRIM(OLD_DEAL_REF)), '_', LTRIM(RTRIM(OLD_DEAL_TYPE)))
        END AS PREV_MASTERID
        ,LTRIM(RTRIM(CIF)) AS CUSTOMER_NUMBER
        ,LTRIM(RTRIM(NEW_DEAL_REF)) AS ACCOUNT_NUMBER
        ,LTRIM(RTRIM(OLD_DEAL_REF)) AS PREV_ACCOUNT_NUMBER
        ,LTRIM(RTRIM(NEW_DEAL_TYPE)) AS PRODUCT_CODE
        ,LTRIM(RTRIM(OLD_DEAL_TYPE)) AS PREV_PRODUCT_CODE
        ,LTRIM(RTRIM(STAGE)) AS STAGE
        ,LTRIM(RTRIM(BUCKET)) AS BUCKET_NAME
        ,LTRIM(RTRIM(SOURCE_SYSTEM)) AS SOURCE_SYSTEM
        ,CREATEDBY
        ,CREATEDDATE
        ,CREATEDHOST
    FROM TBLU_RESTRU_COVID
    WHERE LTRIM(RTRIM(BUSS_DATE)) = @V_CURRDATE
END
GO
