USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SETUP_SPPI]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_SETUP_SPPI]                          
(                          
 --@SECTIONNAME varchar(50) = '',   
 @SECTIONID varchar(50) = '',          
 @ORDER varchar(50) = '',
 @THRESHOLD varchar(50) = '',
 @RULE varchar(100) = '',
 @DETERMINEID varchar(50) = '',
 @CreatedBy varchar(36) = '',             
 @CreatedHost varchar(30) = ''             
)            
AS  
BEGIN       
            
 INSERT INTO [dbo].[IFRS_AC_SPPI_SECTION]            
 (            
    --SECTIONNAME,
	TEMPLATEID,
	SECTIONID,
	SEQUENCE,
	THRESHOLD,
	[RULE],
	DETERMINEID,
    CREATEDBY,
    CREATEDDATE,
    CREATEDHOST
 )                          
 VALUES                          
 (     
	 --@SECTIONNAME
	 0
	,@SECTIONID
	,@ORDER
	,@THRESHOLD
	,@RULE
	,@DETERMINEID
	,@CreatedBy            
	,GETDATE()            
	,@CreatedHost            
 )  

  
END;


GO
