USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_SYNC_TRANS_UPLOAD]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_IFRS_SYNC_TRANS_UPLOAD] AS

BEGIN

	DECLARE @CURRDATE DATE

	SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE_AMORT
	
	BEGIN TRANSACTION

		DELETE FROM DBO.IFRS_STG_TRANSACTION_DAILY
		WHERE DOWNLOAD_DATE >= @CURRDATE AND SOURCE_PROCESS = 'SP_SYNC_TRANS_UPLOAD'

		INSERT INTO IFRS_STG_TRANSACTION_DAILY(
		DOWNLOAD_DATE
		,DATA_SOURCE
		,PRD_CODE
		,TRX_CODE
		,BRANCH_CODE
		,FACILITY_NUMBER
		,MASTER_ACCOUNT_ID
		,CURRENCY
		,AL_FLAG
		,DEBIT_CREDIT_FLAG
		,AMOUNT
		,DEPT_UNIT
		,RESIDENT_GROUP
		,BI_CODE
		,SOURCE_PROCESS
		,TRANSACTION_DATE
		,EFFECTIVE_DATE
		)
		SELECT
		A.DOWNLOAD_DATE
		,B.DATA_SOURCE
		,A.PRD_CODE
		,A.TRX_CODE
		,B.BRANCH_CODE
		,A.FACILITY_NUMBER
		,A.ACCOUNT_NUMBER
		,A.CURRENCY
		,A.AL_FLAG
		,A.DEBIT_CREDIT_FLAG
		,A.TRANSACTION_AMOUNT
		,B.DEPT_UNIT
		,B.RESIDENT_GROUP
		,B.BI_CODE
		,'SP_SYNC_TRANS_UPLOAD' AS SOURCE_PROCESS
		,TRANSACTION_DATE
		,EFFECTIVE_DATE
		FROM TBLU_TRANS_ASSET A
			LEFT JOIN IFRS_STG_MASTER_ACCOUNT B
				ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE AND A.ACCOUNT_NUMBER = B.ACCOUNT_NUMBER
		WHERE A.DOWNLOAD_DATE = @CURRDATE


	COMMIT TRANSACTION

END

/**/




GO
