USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_PDMONTHLYFL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPR_PDMONTHLYFL](
@SEGMENTATION_ID bigint = 0,
@DOWNLOAD_DATE date)
AS        
BEGIN      

DECLARE @QUERY NVARCHAR(MAX)
DECLARE @V_ColumnName VARCHAR(MAX);    
DECLARE @V_ColumnNameAS VARCHAR(MAX);    

SELECT @V_ColumnNameAS = COALESCE(@V_ColumnNameAS + ',', '') + '[' + BUCKET_NAME + ']' + ' AS [' + BUCKET_NAME + ']',  
	@V_ColumnName = COALESCE(@V_ColumnName + ',', '') + '[' + BUCKET_NAME + ']'
 FROM   
 (SELECT DISTINCT BUCKET_NAME,BUCKET_ID
    FROM IFRS_IMP_PD_FL_TERM_STRUCTURE PD
	WHERE SEGMENTATION_ID = @SEGMENTATION_ID) A  
ORDER BY BUCKET_ID

--SELECT @V_ColumnNameAS
--SELECT @V_ColumnName

SET @QUERY = ''  
SET @QUERY = @QUERY + 'SELECT FL_YEAR AS ''Year'', FL_MONTH AS ''Month'', '  
SET @QUERY = @QUERY + @V_ColumnNameAS
SET @QUERY = @QUERY + 'FROM(SELECT FL_YEAR, FL_MONTH, '  
SET @QUERY = @QUERY + @V_ColumnName
SET @QUERY = @QUERY + 'FROM(SELECT FL_YEAR, FL_MONTH, BUCKET_NAME, '  
SET @QUERY = @QUERY + 'ISNULL(PD_FINAL,0) * 100 AS AMOUNT '  
SET @QUERY = @QUERY + 'FROM IFRS_IMP_PD_FL_TERM_STRUCTURE '  
SET @QUERY = @QUERY + 'WHERE SEGMENTATION_ID = ' + CAST(@SEGMENTATION_ID AS VARCHAR(20)) + ' '  
SET @QUERY = @QUERY + 'AND DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(12),EOMONTH(@DOWNLOAD_DATE),112) + ''')TMP '  
SET @QUERY = @QUERY + 'pivot(sum(AMOUNT) for BUCKET_NAME IN ('+ @V_ColumnName +'))PVT '  
SET @QUERY = @QUERY + ')A ORDER BY A.FL_YEAR, A.FL_MONTH'  

PRINT(@QUERY)
EXEC(@QUERY)      
END;   

GO
