USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ME_COLUMN_SELECTION]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_ME_COLUMN_SELECTION]
(
	@TableName varchar(30)='',
	@DataType varchar(25)=''
)
as
begin

	select COLUMN_NAME from INFORMATION_SCHEMA.COLUMNS 
	where TABLE_NAME = @TableName
	and data_type = @DataType 
end

GO
