USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKIMPCBUCKETPARAMTABEL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKIMPCBUCKETPARAMTABEL]        
(        
  @BUCKET_ID INT,        
 @BUCKET_NAME VARCHAR(100),        
 @SUB_BUCKET_NAME VARCHAR(30),        
 @BUCKET_DESCRIPTION VARCHAR(200),        
 @OPTION_GROUP VARCHAR(10),        
 @BUCKET_GROUP VARCHAR(25),        
 @RANGE_START INT,        
 @RANGE_END INT,        
 @FLAG_DEFAULT CHAR(1),        
 @PD_DEFAULT NUMERIC(9, 6)        
 --@IsEdit    
--,@cekSource varchar(100) = ''        
--,@cekDestination varchar(100) = ''        
        
)        
AS        
BEGIN        
        
SELECT *         
 FROM IFRS_IMPC_BUCKET_PARAM         
 WHERE  BUCKET_NAME = @BUCKET_NAME  --  and SUB_BUCKET_GROUP=@SUB_BUCKET_NAME    
       
          
        
END;  
    

GO
