USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_SYNC_JOURNAL_PARAM]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_SYNC_JOURNAL_PARAM]  
AS  
DECLARE @V_CURRDATE DATE  
 ,@V_PREVDATE DATE  
  
BEGIN  
 SELECT @V_CURRDATE = MAX(CURRDATE)  
  ,@V_PREVDATE = MAX(PREVDATE)  
 FROM IFRS_PRC_DATE_AMORT  
  
 INSERT INTO IFRS_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'START'  
  ,'SP_IFRS_SYNC_JOURNAL_PARAM'  
  ,''  
  );  
  
  --20180925 hapus  
 ---- UPDATE FOR TRX_TYPE DEBET CHANGE TO DB  
 --UPDATE IFRS_MASTER_JOURNAL_PARAM  
 --SET TXN_TYPE = 'DB'  
 --WHERE SUBSTRING(TXN_TYPE, 1, 1) = 'D'  
  
 TRUNCATE TABLE IFRS_JOURNAL_PARAM  
  
 INSERT INTO IFRS_JOURNAL_PARAM (  
  JOURNALCODE  
  ,GL_CONSTNAME  
  ,TRX_CODE  
  ,COSTCENTER  
  ,CCY  
  ,FLAG_CF  
  ,DRCR  
  ,GLNO  
  ,JOURNAL_DESC  
  ,GL_INTERNAL_CODE  
  )  
 SELECT IFRS_ACCT_TYPE  
  ,GL_CONSTNAME  
  ,TRX_CODE  
  ,'000' AS COST_CENTER  
  ,CCY  
  ,IFRS_COST_VALUE  
  ,SUBSTRING(TXN_TYPE, 1, 1)  
  ,GL_CODE  
  ,REMARKS  
  ,GL_INTERNAL_CODE  
 FROM IFRS_MASTER_JOURNAL_PARAM  
 WHERE INST_CLS_VALUE IN ('A', 'O') AND IS_DELETE = 0  
  
 INSERT INTO IFRS_AMORT_LOG (  
  DOWNLOAD_DATE  
  ,DTM  
  ,OPS  
  ,PROCNAME  
  ,REMARK  
  )  
 VALUES (  
  @V_CURRDATE  
  ,CURRENT_TIMESTAMP  
  ,'END'  
  ,'SP_IFRS_SYNC_JOURNAL_PARAM'  
  ,''  
  )  
END  
GO
