USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_PARAMPRODUCT]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPI_PARAMPRODUCT]                            
(                            
 @DATA_SOURCE varchar(20) = '',               
 @PRD_CODE varchar(20) = '',  
 @PRD_TYPE varchar(50) = '',
 @PRD_TYPE_1 VARCHAR(20) = '',  
 @PRODUCT_CATEGORY varchar(100) = '',  
 @PRD_DESC varchar(100) = '',  
 @PRD_GROUP varchar(30) = '',  
 @AMORT_TYPE VARCHAR(10) = '',  
 @CCY varchar(5) = '',  
 @EXP_LIFE varchar,   
 @INST_CLS_VALUE varchar(10) = '',                            
 @REPAY_TYPE_VALUE varchar(10) = '',  
 @TENOR_TYPE char(1) = '',  
 @ORG_FEE_MAT_TYPE VARCHAR(10) = '',  
 @ORG_FEE_MAT_AMT VARCHAR(40) = 0,  
 @TXN_COST_MAT_TYPE VARCHAR(10) = '',  
 @TXN_COST_MAT_AMT VARCHAR(40) = 0,           
 @MKT_INT_RATE float = 0,  
 @WORKING_PERIOD int = 0,  
 @IS_IMPAIRED bit = 0,                             
 @STAFF_LOAN_IND bit = 0,                   
 @LIABILITES_CLASSIFICATION varchar(20) = '',  
 @SMBC_GROUP_SEGMENT varchar(50) = '',
 @CreatedBy varchar(36) = '',               
 @CreatedHost varchar(30) = ''               
)              
AS    
BEGIN         
              
 INSERT INTO [dbo].[IFRS_MASTER_PRODUCT_PARAM]              
 (              
	DATA_SOURCE,  
	PRD_CODE,  
	PRD_TYPE,  
	PRD_TYPE_1,  
	PRD_DESC,  
	PRD_GROUP,  
	AMORT_TYPE,  
	CCY,  
	INST_CLS_VALUE,  
	REPAY_TYPE_VALUE,  
	TENOR_TYPE,  
	EXP_LIFE,  
	ORG_FEE_MAT_TYPE,  
	ORG_FEE_MAT_AMT,  
	TXN_COST_MAT_TYPE,  
	TXN_COST_MAT_AMT,  
	MKT_INT_RATE,  
	WORKING_PERIOD,  
	IS_IMPAIRED,  
	IS_DELETE,  
	STAFF_LOAN_IND,  
	LIABILITES_CLASSIFICATION,  
	SMBC_GROUP_SEGMENT,
    CREATEDBY,  
    CREATEDDATE,  
    CREATEDHOST  
 )                            
 VALUES                            
 (       
	@DATA_SOURCE              
	,LTRIM(RTRIM(@PRD_CODE))    
	,LTRIM(RTRIM(@PRD_TYPE))              
	,LTRIM(RTRIM(@PRD_TYPE_1))   
	,LTRIM(RTRIM(@PRD_DESC))  
	,LTRIM(RTRIM(@PRD_GROUP))  
	,LTRIM(RTRIM(@AMORT_TYPE))   
	,@CCY                      
	,@INST_CLS_VALUE             
	,CASE WHEN @REPAY_TYPE_VALUE = '0' THEN '' ELSE @REPAY_TYPE_VALUE END  
	,CASE WHEN @TENOR_TYPE = '0' THEN '' ELSE @TENOR_TYPE END  
	,CONVERT(smallint, @EXP_LIFE)  
	,LTRIM(RTRIM(@ORG_FEE_MAT_TYPE))  
	,CAST(REPLACE(@ORG_FEE_MAT_AMT,',','.') AS DECIMAL(32,6))  
	,LTRIM(RTRIM(@TXN_COST_MAT_TYPE))  
	,CAST(REPLACE(@TXN_COST_MAT_AMT,',','.') AS DECIMAL(32,6))  
	,@MKT_INT_RATE  
	,@WORKING_PERIOD  
	,@IS_IMPAIRED  
	,0  
	,@STAFF_LOAN_IND         
	,CASE WHEN @LIABILITES_CLASSIFICATION = '0' THEN '' ELSE @LIABILITES_CLASSIFICATION END  
	,@SMBC_GROUP_SEGMENT
	,@CreatedBy              
	,GETDATE()              
	,@CreatedHost              
 )    
   
   EXEC [dbo].[SP_IFRS_AC_SYNC_LIST_VALUE_MASTER_PRODUCT]
 --exec SP_IFRS_DROPDOWNLIST  
    
END;

GO
