USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_EXCUNPROCESSED]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPR_EXCUNPROCESSED]
(
	@EXCEPTION_CODE VARCHAR(50) = ' ',
	@DOWNLOAD_DATE DATETIME = '01/01/2000',
	@PARAM_ASSET_LIAB VARCHAR(50) = ''
)
AS
BEGIN

/*
   DECLARE @EXC1 VARCHAR(50);
   DECLARE @EXC2 VARCHAR(50);

   -- EXLUDE VALUE UN1, BG, LC
   SELECT @EXC1 = VALUE1	FROM TBLM_COMMONCODEDETAIL	WHERE COMMONCODE = 'B21';

   -- EXCLUDE DATA SOURCE : LIMIT AND ASSET TYPE PRODUCT1 = UNUSED NON-COMMITMENT
   SELECT @EXC2 = VALUE2	FROM TBLM_COMMONCODEDETAIL	WHERE COMMONCODE = 'B52';
*/
	IF @PARAM_ASSET_LIAB = 'ASSET'
	BEGIN
    SELECT 
		A.DOWNLOAD_DATE "Download Date",
		A.DATA_SOURCE "Data Source",
		A.PRODUCT_GROUP	"Product Group"	,
        A.EXCEPTION_ID "ID Exception",
        b.EXCEPTION_DESC "Description",
        A.MASTERID "Master Account ID",
        A.ACCOUNT_NUMBER "Account Number",
        A.TABLE_NAME "Table Name",
        A.FIELD_NAME "Field Name",
        A.VALUE "Value",
		A.CUSTOMER_NAME "Customer Name"	  
    FROM IFRS_EXCEPTION_ACCOUNT a
		JOIN IFRS_MASTER_EXCEPTION b ON A.EXCEPTION_ID = b.PKID
		--JOIN IFRS_MASTER_ACCOUNT C ON A.MASTER_ACCOUNT_ID = C.MASTER_ACCOUNT_ID AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE
    WHERE --A.DOWNLOAD_DATE = @DOWNLOAD_DATE AND
        B.EXCEPTION_CODE LIKE RTRIM(LTRIM(ISNULL(@EXCEPTION_CODE, ''))) + '%'
	--	AND ISNULL(A.VALUE,'') <> @EXC1
	--	AND C.ASSET_TYPE_PRODUCT1 <> @EXC2
    ORDER BY a.DOWNLOAD_DATE, a.CREATEDDATE;
	END
	ELSE
	BEGIN
	-- LIABILITIES
	SELECT 
		A.DOWNLOAD_DATE "Download Date",
		A.DATA_SOURCE "Data Source",
		A.PRODUCT_GROUP	"Product Group"	,
        A.EXCEPTION_ID "ID Exception",
        b.EXCEPTION_DESC "Description",
        A.MASTERID "Master Account ID",
        A.ACCOUNT_NUMBER "Account Number",
        A.TABLE_NAME "Table Name",
        A.FIELD_NAME "Field Name",
        A.VALUE "Value",
		A.CUSTOMER_NAME "Customer Name"	  
    FROM IFRS_LI_EXCEPTION_ACCOUNT a
		JOIN IFRS_LI_MASTER_EXCEPTION b ON A.EXCEPTION_ID = b.PKID
		--JOIN IFRS_MASTER_ACCOUNT C ON A.MASTER_ACCOUNT_ID = C.MASTER_ACCOUNT_ID AND A.DOWNLOAD_DATE = C.DOWNLOAD_DATE
    WHERE --A.DOWNLOAD_DATE = @DOWNLOAD_DATE AND 
        B.EXCEPTION_CODE LIKE RTRIM(LTRIM(ISNULL(@EXCEPTION_CODE, ''))) + '%'
	--	AND ISNULL(A.VALUE,'') <> @EXC1
	--	AND C.ASSET_TYPE_PRODUCT1 <> @EXC2
    ORDER BY a.DOWNLOAD_DATE, a.CREATEDDATE;

	END
    
END;

GO
