USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_PARAMCOAOFFBS]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROC [dbo].[USPD_PARAMCOAOFFBS]          
(
@PKID bigint = 0
)          
AS
BEGIN  

	DELETE FROM [dbo].[GL_PARAM_COA_OFF_BS]
	WHERE PKID = @PKID

END


GO
