USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_QUERYFIELDSETTINGSBYFKEY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_QUERYFIELDSETTINGSBYFKEY]  
    @CountryID VARCHAR(10) ,  
    @ModuleID VARCHAR(50) ,  
    @QueryID VARCHAR(100)  
AS   
    SET NOCOUNT ON       SELECT  [PKID] ,  
            [CountryID] ,  
            [ModuleID] ,  
            [QueryID] ,  
            [RptColumns] ,  
            [RptArea] ,  
            [SummaryType] ,  
            [FormatString] ,  
            [FieldIndex] ,  
            [CreatedBy] ,  
            [CreatedDate] ,  
            [CreatedHost] ,  
            [UpdatedBy] ,  
            [UpdatedDate] ,  
            [UpdatedHost]  
    FROM    [dbo].[tblM_QueryFieldSettings]  
    WHERE   ( [CountryID] = @CountryID  
              AND [ModuleID] = @ModuleID  
              AND [QueryID] = @QueryID  
            )






GO
