USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPPERIOD_MA_MONTHLY]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPPERIOD_MA_MONTHLY]
AS
BEGIN
    
	SELECT DISTINCT DOWNLOAD_DATE A, REPLACE(CONVERT(VARCHAR, DOWNLOAD_DATE, 106), ' ', '-') DOWNLOAD_DATE FROM IFRS_MASTER_ACCOUNT_MONTHLY
	ORDER BY A DESC;
    
END;

GO
