USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETPDAFTERFL]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_GETPDAFTERFL](
@SEGMENTATION_ID bigint = 0,
@DOWNLOAD_DATE date)
AS        
BEGIN      
      
	SELECT
		B.TM_RULE_NAME,
		DOWNLOAD_DATE,
		B.BUCKET_GROUP,
		(SELECT DISTINCT DESCRIPTION FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B13' AND VALUE1 = B.PD_METHOD) AS PD_METHOD,
		(SELECT DISTINCT DESCRIPTION FROM TBLM_COMMONCODEDETAIL WHERE COMMONCODE = 'B91' AND VALUE1 = B.CALC_METHOD) AS CALC_METHOD,
		C.MODEL_NAME,
		PD_EFF_DATE
	FROM IFRS_ECL_MODEL_CONFIG_HIST A
	JOIN IFRS_PD_RULES_CONFIG B ON A.PD_MODEL_ID = B.PKID
	JOIN IFRS_MACRO_ECONOMIC_MODEL C ON A.PD_ME_MODEL_ID = C.PKID
	WHERE A.SEGMENTATION_ID = @SEGMENTATION_ID
		AND DOWNLOAD_DATE = EOMONTH(@DOWNLOAD_DATE)
    
END;   

GO
