USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPUSERNAME]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPUSERNAME]
AS
BEGIN
	SELECT '' 'UserID', '--ALL--' 'Username' 
		UNION
	SELECT UserName, UserName + '-' + FullName 'Username'
	FROM tblM_User
	ORDER BY Username
END

GO
