USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FORWARDLOOKINGMODELCOEFF]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_FORWARDLOOKINGMODELCOEFF](    
@MODEL_ID bigint=0  
)    
AS    
BEGIN    
SET NOCOUNT ON;    
     
 SELECT  
  COEFF_NAME AS "Variable Name"  
  ,ESTIMATE_VAL AS "Coefficient"  
 FROM IFRS_MULT_LINEAR_REGR_COEF  
 WHERE MODEL_ID = @MODEL_ID  
    
END 
GO
