USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERRIDECIF]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERRIDECIF]        
AS        
BEGIN  
      
 ;WITH cte AS  
 (  
  SELECT IIO.DCFID,        
   IIO.DOWNLOAD_DATE,        
   IIO.CUSTOMER_NUMBER,        
   IIO.CUSTOMER_NAME,        
   FLAG_IMPAIRMENT,        
   DPD_CURRENT,        
   BEING_EDITED,  
   UPLOADID,   
   ROW_NUMBER() OVER (PARTITION BY IIO.DCFID ORDER BY IIO.DCFID) AS rn  
  FROM IFRS_IMP_OVERRIDE IIO  
   JOIN TBLT_PAYMENTEXPECTED TPE ON IIO.DCFID = TPE.DCFID  
 )  
 SELECT *   
 FROM cte   
 WHERE rn = 1;  
  
END;  

  

  
  
GO
