USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_IMPCR_LGD_CURE_LGL_HEADER]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE   PROCEDURE [dbo].[SP_IFRS_IMPCR_LGD_CURE_LGL_HEADER]  
@DOWNLOAD_DATE DATE = NULL,  
@RULE_ID BIGINT = 0  
AS   
 DECLARE @V_CURRDATE DATE   
 DECLARE @V_PREVDATE DATE   
 DECLARE @V_PREVMONTH DATE   
BEGIN   
  IF (@DOWNLOAD_DATE IS NULL)   
  BEGIN   
   SELECT   
  @V_CURRDATE = EOMONTH(CURRDATE),   
  @V_PREVDATE = DATEADD(DD, -1, EOMONTH(CURRDATE)),   
  @V_PREVMONTH = EOMONTH(DATEADD(MM, -1, CURRDATE))   
   FROM IFRS_PRC_DATE   
  END   
  ELSE   
  BEGIN   
  SET @V_CURRDATE = EOMONTH(@DOWNLOAD_DATE)     
  SELECT @V_PREVDATE = DATEADD(DD, -1, EOMONTH(@DOWNLOAD_DATE))   
  SELECT @V_PREVMONTH = EOMONTH(DATEADD(MM, -1, @DOWNLOAD_DATE))      
  END  
  
 DROP TABLE IF EXISTS #HEADER  
 SELECT * INTO #HEADER FROM IFRS_LGD_CURE_LGL_HEADER (NOLOCK) WHERE 1 = 2      
       
 INSERT INTO #HEADER      
 (      
    DOWNLOAD_DATE      
    ,LGD_RULE_ID      
    ,LGD_RULE_NAME      
    ,DEFAULT_RULE_ID      
 )      
 SELECT      
    A.DOWNLOAD_DATE      
    ,A.LGD_RULE_ID      
    ,A.LGD_RULE_NAME      
    ,A.DEFAULT_RULE_ID      
 FROM IFRS_LGD_CURE_LGL_DETAIL A (NOLOCK)  
 JOIN IFRS_LGD_RULES_CONFIG B  
 ON A.LGD_RULE_ID = B.PKID  
 AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID  
 WHERE A.DEFAULT_DATE >= B.CUT_OFF_DATE  
 AND A.DEFAULT_DATE >= EOMONTH(DATEADD(MM, -1 * B.LGW_HISTORICAL_DATA, CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END ))      
 AND A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END  
 AND A.LGD_RULE_ID = @RULE_ID  
 GROUP BY   
 A.DOWNLOAD_DATE  
 ,A.LGD_RULE_ID  
 ,A.LGD_RULE_NAME  
 ,A.DEFAULT_RULE_ID  
    
 UPDATE A   
 SET A.CURE_COUNT = B.CURE_COUNT  
 FROM #HEADER A       
 JOIN  
 (         
    SELECT  
       A.DOWNLOAD_DATE  
       ,A.LGD_RULE_ID  
       ,A.LGD_RULE_NAME  
       ,A.DEFAULT_RULE_ID  
       ,COUNT(1) AS CURE_COUNT  
    FROM IFRS_LGD_CURE_LGL_DETAIL A (NOLOCK)  
    JOIN IFRS_LGD_RULES_CONFIG B  
    ON A.LGD_RULE_ID = B.PKID  
    AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID  
    WHERE A.DEFAULT_DATE >= B.CUT_OFF_DATE    
    AND A.DEFAULT_DATE >= EOMONTH(DATEADD(MM, -1 * B.LGW_HISTORICAL_DATA, CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END ))  
    AND A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END  
    AND A.FINAL_STATUS LIKE '%CURE%'  
    AND A.LGD_RULE_ID = @RULE_ID  
    GROUP BY   
    A.DOWNLOAD_DATE  
    ,A.LGD_RULE_ID  
    ,A.LGD_RULE_NAME  
    ,A.DEFAULT_RULE_ID  
 ) B ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE  
 AND A.LGD_RULE_ID = B.LGD_RULE_ID  
 AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID       
 AND A.LGD_RULE_ID = @RULE_ID  
  
 UPDATE A   
 SET A.LIQPEN_COUNT = B.LIQPEN_COUNT  
 FROM #HEADER A  
 JOIN  
 (  
    SELECT  
   A.DOWNLOAD_DATE  
   ,A.LGD_RULE_ID  
   ,A.LGD_RULE_NAME  
   ,A.DEFAULT_RULE_ID  
   ,COUNT(1) AS LIQPEN_COUNT         
  FROM IFRS_LGD_CURE_LGL_DETAIL A (NOLOCK)  
  JOIN IFRS_LGD_RULES_CONFIG B  
  ON A.LGD_RULE_ID = B.PKID  
  AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID  
  WHERE A.DEFAULT_DATE >= B.CUT_OFF_DATE    
  AND A.DEFAULT_DATE >= EOMONTH(DATEADD(MM, -1 * B.LGW_HISTORICAL_DATA, CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END ))   
  AND A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END  
  AND A.FINAL_STATUS IN ('LIQUIDATED', 'PENDING', 'CURE & LIQUIDATED', 'CURE & PENDING')  
  AND ((ISNULL(B.EXCLUDE_RESTRUCTURE_FLAG, 0) = 1 AND ISNULL(A.RESTRU_SIFAT_FLAG, 0) <> 1) OR (ISNULL(B.EXCLUDE_RESTRUCTURE_FLAG, 0) = 0))      
  AND A.LGD_RULE_ID = @RULE_ID  
  GROUP BY   
  A.DOWNLOAD_DATE  
  ,A.LGD_RULE_ID  
  ,A.LGD_RULE_NAME  
  ,A.DEFAULT_RULE_ID  
 ) B ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE  
 AND A.LGD_RULE_ID = B.LGD_RULE_ID  
 AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID  
 AND A.LGD_RULE_ID = @RULE_ID  
    
 UPDATE A   
 SET   
    A.AVG_LGL = B.AVG_LGL  
    ,A.DISC_AVG_LGL = B.DISC_AVG_LGL  
 FROM #HEADER A  
 JOIN  
 (  
    SELECT DOWNLOAD_DATE, LGD_RULE_ID, DEFAULT_RULE_ID, AVG_LGL, DISC_AVG_LGL  
    FROM  
    (  
   SELECT  
       A.DOWNLOAD_DATE  
       ,A.LGD_RULE_ID  
       ,A.DEFAULT_RULE_ID  
       ,AVG(LGL) AS AVG_LGL  
       ,AVG(DISC_LGL) AS DISC_AVG_LGL  
   FROM IFRS_LGD_CURE_LGL_DETAIL A (NOLOCK)  
   JOIN IFRS_LGD_RULES_CONFIG B  
   ON A.LGD_RULE_ID = B.PKID  
   AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID  
   WHERE A.DEFAULT_DATE >= B.CUT_OFF_DATE     
   AND A.DEFAULT_DATE >= EOMONTH(DATEADD(MM, -1 * B.LGW_HISTORICAL_DATA, CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END ))      
   AND A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END  
   AND ((ISNULL(B.EXCLUDE_RESTRUCTURE_FLAG, 0) = 1 AND ISNULL(A.RESTRU_SIFAT_FLAG, 0) <> 1) OR (ISNULL(B.EXCLUDE_RESTRUCTURE_FLAG, 0) = 0))      
   AND REPLACE(A.LGD_UNIQUE_ID, '_', '') NOT IN (SELECT BUYBACK_AGREE_ID FROM IFRS_LGD_BUYBACK)  
   AND A.DEFAULT_DATE <= EOMONTH(DATEADD(MM, -1 * CASE WHEN ISNULL(B.WORKOUT_PERIOD, 0) <> 0 THEN B.WORKOUT_PERIOD ELSE 0 END, A.DOWNLOAD_DATE))  
   AND ISNULL(B.WORKOUT_PERIOD, 0) <> 0  
   AND A.FINAL_STATUS NOT IN ('CURE')  
   AND A.LGD_RULE_ID = @RULE_ID  
   GROUP BY   
   A.DOWNLOAD_DATE  
   ,A.LGD_RULE_ID  
   ,A.LGD_RULE_NAME  
   ,A.DEFAULT_RULE_ID  
   UNION ALL  
   SELECT  
       A.DOWNLOAD_DATE  
       ,A.LGD_RULE_ID  
       ,A.DEFAULT_RULE_ID  
       ,AVG(LGL) AS AVG_LGL  
       ,AVG(DISC_LGL) AS DISC_AVG_LGL  
   FROM IFRS_LGD_CURE_LGL_DETAIL A (NOLOCK)  
   JOIN IFRS_LGD_RULES_CONFIG B  
   ON A.LGD_RULE_ID = B.PKID  
   AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID  
   WHERE A.DEFAULT_DATE >= B.CUT_OFF_DATE     
   AND A.DEFAULT_DATE >= EOMONTH(DATEADD(MM, -1 * B.LGW_HISTORICAL_DATA, CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END ))  
   AND A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END  
   AND ((ISNULL(B.EXCLUDE_RESTRUCTURE_FLAG, 0) = 1 AND ISNULL(A.RESTRU_SIFAT_FLAG, 0) <> 1) OR (ISNULL(B.EXCLUDE_RESTRUCTURE_FLAG, 0) = 0))      
   AND REPLACE(A.LGD_UNIQUE_ID, '_', '') NOT IN (SELECT BUYBACK_AGREE_ID FROM IFRS_LGD_BUYBACK)  
   AND ISNULL(B.WORKOUT_PERIOD, 0) = 0  
   AND A.FINAL_STATUS NOT IN ('CURE')  
   AND A.LGD_RULE_ID = @RULE_ID  
   GROUP BY   
   A.DOWNLOAD_DATE  
   ,A.LGD_RULE_ID  
   ,A.LGD_RULE_NAME  
   ,A.DEFAULT_RULE_ID  
  ) X GROUP BY DOWNLOAD_DATE, LGD_RULE_ID, DEFAULT_RULE_ID, AVG_LGL, DISC_AVG_LGL  
 ) B ON A.DOWNLOAD_DATE = B.DOWNLOAD_DATE  
 AND A.LGD_RULE_ID = B.LGD_RULE_ID  
 AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID  
 AND A.LGD_RULE_ID = @RULE_ID  
  
 DELETE A   
 FROM IFRS_LGD_CURE_LGL_HEADER A  
 JOIN IFRS_LGD_RULES_CONFIG B  
 ON A.LGD_RULE_ID = B.PKID     
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END    
 AND A.LGD_RULE_ID = @RULE_ID  
  
 INSERT INTO IFRS_LGD_CURE_LGL_HEADER  
 (  
    DOWNLOAD_DATE  
    ,LGD_RULE_ID  
    ,LGD_RULE_NAME  
    ,DEFAULT_RULE_ID  
    ,CURE_COUNT  
    ,LIQPEN_COUNT  
    ,TOTAL_CURE_LIQPEN  
    ,CURE_RATE  
    ,AVG_LGL  
    ,DISC_AVG_LGL  
    ,LGD  
 )  
 SELECT  
    DOWNLOAD_DATE  
    ,LGD_RULE_ID  
    ,LGD_RULE_NAME  
    ,DEFAULT_RULE_ID  
    ,ISNULL(CURE_COUNT, 0) AS CURE_COUNT    
    ,ISNULL(LIQPEN_COUNT, 0) LIQPEN_COUNT    
    ,(ISNULL(LIQPEN_COUNT, 0) + ISNULL(CURE_COUNT, 0)) AS TOTAL_CURE_LIQPEN  
    ,CAST(ISNULL(CURE_COUNT, 0) AS FLOAT) / CAST((ISNULL(LIQPEN_COUNT, 0) + ISNULL(CURE_COUNT, 0)) AS FLOAT) AS CURE_RATE  
    ,AVG_LGL  
    ,DISC_AVG_LGL  
    ,(1 - CAST(ISNULL(CURE_COUNT, 0) AS FLOAT) / CAST((ISNULL(LIQPEN_COUNT, 0) + ISNULL(CURE_COUNT, 0)) AS FLOAT)) * DISC_AVG_LGL AS LGD  
 FROM #HEADER     
     
 DELETE A   
 FROM IFRS_LGD_TERM_STRUCTURE A  
 JOIN IFRS_LGD_RULES_CONFIG B  
 ON A.LGD_RULE_ID = B.PKID  
 AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID  
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END   AND B.LGD_METHOD = 'CR x LGL'      
 AND A.LGD_RULE_ID = @RULE_ID  
  
 INSERT INTO IFRS_LGD_TERM_STRUCTURE     
 (     
  DOWNLOAD_DATE     
  ,LGD_RULE_ID     
  ,LGD_RULE_NAME     
  ,DEFAULT_RULE_ID     
  ,LGD     
 )     
 SELECT     
  DOWNLOAD_DATE     
  ,A.LGD_RULE_ID     
  ,A.LGD_RULE_NAME     
  ,A.DEFAULT_RULE_ID     
  ,LGD     
 FROM IFRS_LGD_CURE_LGL_HEADER A (NOLOCK)   
 JOIN IFRS_LGD_RULES_CONFIG B (NOLOCK)   
 ON A.LGD_RULE_ID = B.PKID  
 AND A.DEFAULT_RULE_ID = B.DEFAULT_RULE_ID  
 WHERE A.DOWNLOAD_DATE = CASE WHEN B.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END    
 AND A.LGD_RULE_ID = @RULE_ID  
 -- COMBINE WITH UPLOADED TREASURY LGD    
 UNION ALL    
 SELECT     
  A.DOWNLOAD_DATE,     
  C.PKID AS LGD_RULE_ID,     
  C.LGD_RULE_NAME,     
  C.DEFAULT_RULE_ID,     
  (1 - RECOVERY_RATE) AS LGD    
 FROM IFRS_RECOVERY_RATE_TREASURY A    
 JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENT = B.SEGMENT AND B.SEGMENT_TYPE = 'LGD_SEGMENT'    
 JOIN IFRS_LGD_RULES_CONFIG C ON B.PKID = C.SEGMENTATION_ID    
 WHERE C.LGD_METHOD = 'EXTERNAL' AND A.DOWNLOAD_DATE = CASE WHEN C.LAG_1MONTH_FLAG = 1 THEN EOMONTH(DATEADD(MM, -1, @V_CURRDATE)) ELSE @V_CURRDATE END    
 AND C.PKID = @RULE_ID  
END 
GO
