USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_FUNDINGMODULEHCOUNT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[USPS_FUNDINGMODULEHCOUNT]
(
    @DOWNLOAD_DATE date = '1/1/1900',
    @PRODUCT_TYPE varchar(50)='',
	@PRODUCT_CODE varchar(20)='',
	@ACCOUNT_NUMBER VARCHAR(50)='',
    @Where VARCHAR(1000)=''
)
AS
BEGIN

DECLARE @Query AS VARCHAR(3000);
DECLARE @DOWNLOAD_DATE_DD AS DATE;

IF @Where IS NOT NULL
BEGIN
	SET @Where = REPLACE(@Where,'DOWNLOAD_DATE','REPLACE(CONVERT(VARCHAR(20),[DOWNLOAD_DATE],106), '' '',''-'')')
	SET @Where = REPLACE(@Where,'LOAN_START_DATE','REPLACE(CONVERT(VARCHAR(20),[LOAN_START_DATE],106), '' '',''-'')')
	SET @Where = REPLACE(@Where,'LOAN_DUE_DATE','REPLACE(CONVERT(VARCHAR(20),[LOAN_DUE_DATE],106), '' '',''-'')')
END
 
IF (CONVERT(DATE,@DOWNLOAD_DATE) ='1-JAN-2000')
BEGIN
	SELECT @DOWNLOAD_DATE_DD = CURRDATE FROM IFRS_PRC_DATE
END
ELSE
BEGIN
	SELECT @DOWNLOAD_DATE_DD = CONVERT(date,@DOWNLOAD_DATE)
END
    
SET @Query =
	'SELECT COUNT(*) FROM (
		SELECT A.* FROM IFRS_LI_MASTER_ACCOUNT A (NOLOCK)  
		LEFT JOIN IFRS_MASTER_PRODUCT_PARAM B (NOLOCK)
			ON A.DATA_SOURCE = B.DATA_SOURCE AND A.PRODUCT_TYPE = B.PRD_TYPE AND A.PRODUCT_CODE = B.PRD_CODE 
		WHERE '
		+' DOWNLOAD_DATE = ''' + CONVERT(VARCHAR, @DOWNLOAD_DATE_DD, 120)  +  ''''  
		+ CASE WHEN @PRODUCT_TYPE <> '' THEN 'AND PRODUCT_TYPE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_TYPE)) + '%'' '  
			ELSE '' END  
		+ CASE WHEN @PRODUCT_CODE <> '' THEN 'AND PRODUCT_CODE LIKE ''%' + LTRIM(RTRIM(@PRODUCT_CODE)) + '%'' '  
			ELSE '' END  
		+ CASE WHEN @ACCOUNT_NUMBER <> '' THEN 'AND ACCOUNT_NUMBER LIKE ''%' + LTRIM(RTRIM(@ACCOUNT_NUMBER)) + '%'' '  
			ELSE '' END + ') X'
		+ CASE WHEN @Where <> '' THEN ' WHERE ' + @Where    
			ELSE '' END

EXEC (@Query);
PRINT @Query
              
END;


GO
