USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DCFOVERFACUPLOADH]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_DCFOVERFACUPLOADH]
(  
	@UploadId FLOAT = NULL  
)  
AS  
BEGIN

	--Remarks by JU
	DECLARE @CURRDATE DATETIME;  
	
	SELECT @CURRDATE = CURRDATE FROM IFRS_PRC_DATE;  
	

	SELECT DETAILPKID,
		EFFECTIVE_DATE AS "Effective Date",
		MASTER_ACCOUNT_ID AS "Account Number",
		FACILITY_NUMBER AS "Facility Number",
		CUSTOMER_NUMBER AS "Customer Number", 
		CUSTOMER_NAME AS "Customer Name",
		CURRENCY AS "Currency",
		OUTSTANDING AS "Outstanding",
		EAD_AMOUNT AS "EAD Amount",
		EAD_AMOUNT - SUM(NPV) AS "ECL Amount"
		--EAD_AMOUNT - SUM(ECL_LIFETIME_AMOUNT) AS "ECL Amount"
	FROM
	(
		SELECT DISTINCT CONVERT(VARCHAR, @UploadId) + '_' + PMA.MASTER_ACCOUNT_ID  "DETAILPKID",  
			--SELECT DISTINCT CONVERT(VARCHAR, @UploadId) + '_' + PMA.FACILITY_NUMBER  "DETAILPKID",   
			--ISNULL (ISNULL (IND.EFFECTIVE_DATE, IND2.EFFECTIVE_DATE), (SELECT EOMONTH(CURRDATE) FROM IFRS_PRC_DATE)) "Effective Date",   
			(SELECT EOMONTH(CURRDATE) FROM IFRS_PRC_DATE) AS EFFECTIVE_DATE,
			PMA.MASTER_ACCOUNT_ID, 
			PMA.FACILITY_NUMBER,
			PMA.CUSTOMER_NUMBER,   
			PMA.CUSTOMER_NAME,
			PMA.CURRENCY,   
			--PDG.INTERESTESTIMATED "Interest Rate",   
			PMA.OUTSTANDING,
			PMA.EAD_AMOUNT,
			--PMA.OUTSTANDING - PDG.ECL_LIFETIME_AMOUNT "ECL Amount"
			PDG.NPV 
		FROM IFRS_MASTER_ACCOUNT PMA  
			INNER JOIN TBLT_PAYMENTEXPECTED_TEMP PDG ON PMA.FACILITY_NUMBER = PDG.FACILITY_NUMBER
				AND PMA.MASTER_ACCOUNT_ID = PDG.MASTER_ACCOUNT_ID
				AND PMA.CURRENCY = PDG.CURRENCY 
		WHERE PMA.DOWNLOAD_DATE = @CURRDATE AND PDG.UPLOADID = @UploadId 
	)X
	GROUP BY DETAILPKID,
		EFFECTIVE_DATE,
		MASTER_ACCOUNT_ID,
		FACILITY_NUMBER,
		CUSTOMER_NUMBER,
		CUSTOMER_NAME,
		CURRENCY,
		OUTSTANDING,
		EAD_AMOUNT

	/* -- REMARKS YOSY -- 20171205
	SELECT CONVERT(VARCHAR, @UploadId) + '_' + PMA.FACILITY_NUMBER "DETAILPKID",   
		--ISNULL (ISNULL (IND.EFFECTIVE_DATE, IND2.EFFECTIVE_DATE), (SELECT EOMONTH(CURRDATE) FROM IFRS_PRC_DATE)) "Effective Date",   
		(SELECT EOMONTH(CURRDATE) FROM IFRS_PRC_DATE) "Effective Date", 
		PMA.FACILITY_NUMBER "Facility Number",
		PMA.CUSTOMER_NUMBER "Customer Number",   
		PMA.CUSTOMER_NAME "Customer Name",
		PMA.CURRENCY "Currency",   
		--PDG.INTERESTESTIMATED "Interest Rate",   
		PMA.OUTSTANDING "Outstanding",
		PMA.EAD_AMOUNT "EAD Amount",
		PMA.OUTSTANDING - PDG.ECL_LIFETIME_AMOUNT "ECL Amount"
		FROM IFRS_MASTER_ACCOUNT PMA  
		INNER JOIN TBLT_PAYMENTEXPECTED_TEMP PDG ON PMA.FACILITY_NUMBER = PDG.FACILITY_NUMBER 
		AND PMA.MASTER_ACCOUNT_ID = PDG.MASTER_ACCOUNT_ID
		AND PMA.CURRENCY = PDG.CURRENCY 
	/*	LEFT JOIN IFRS_IMP_IA_MASTER IND ON PMA.FACILITY_NUMBER = IND.FACILITY_NUMBER  
			AND IND.UNWINDING_FLAG = 'Y'  
			AND IND.IMP_STATUS = 'N'  
		LEFT JOIN IFRS_IMP_IA_MASTER IND2 ON PMA.FACILITY_NUMBER = IND2.FACILITY_NUMBER  
			AND IND2.UNWINDING_FLAG = 'Y'  
			AND IND2.IMP_STATUS = 'A'  */
	WHERE PMA.DOWNLOAD_DATE = @CURRDATE AND PDG.UPLOADID = @UploadId  
	GROUP BY PMA.FACILITY_NUMBER,
		--PMA.MASTER_ACCOUNT_ID,   
		PMA.CURRENCY,   
		--PDG.INTERESTESTIMATED,   
		PMA.CUSTOMER_NUMBER,   
		PMA.CUSTOMER_NAME,   
		PMA.OUTSTANDING, 
		PMA.EAD_AMOUNT;
	--	PDG.ECL_12M_AMOUNT,   
	--	PDG.ECL_LIFETIME_AMOUNT; 
		--IND.EFFECTIVE_DATE,   
		--IND2.EFFECTIVE_DATE,   
		--PMA.FAIR_VALUE_AMOUNT;

	*/

END;



GO
