USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DERIVEDLGDRULENAME2]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_DERIVEDLGDRULENAME2]
(
	@RuleName VARCHAR(100) = ''   
)  
AS
BEGIN

	create table #DerivedLGD    
	(
	    [PKID] bigint,
		[LGD_RULE_NAME] varchar(50)
	)

	INSERT INTO #DerivedLGD ([PKID], [LGD_RULE_NAME]) values (0, '')

	insert into #DerivedLGD    
		 select PKID, LGD_RULE_NAME from IFRS_LGD_RULES_CONFIG_9 order by PKID

    select * from #DerivedLGD 
	  

END;


GO
