USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADDATAAMORT]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_LOADDATAAMORT]
(
	@GL_DATE DATE = '1-JAN-2000',
	@DATA_SOURCE VARCHAR(200) = '',
	@PRD_GROUP VARCHAR(MAX) = ''
)
AS
BEGIN

	DECLARE @Query VARCHAR(MAX);

	SET @Query = '
		SELECT IAJD.DOWNLOAD_DATE AS "GL Date",
			IAJD.BRANCH AS "Branch ID",
			TCD.VALUE2 AS "Branch Desc",
			IAJD.CIFNO AS "Customer Number",
			IAJD.ACCTNO AS "Account Number",
			IAJD.PRDCODE AS "Product Code",
			IMPP.PRD_GROUP AS "Product Group",
			IAJD.GLNO AS "Debit GL",
			IAJDC.GLNO AS "Credit GL",
			ISNULL(IAJD.JOURNALCODE2,IAJD.JOURNALCODE) AS "Journal Type",
			IAJD.JOURNAL_DESC AS "Journal Decs Debit",
			IAJDC.JOURNAL_DESC AS "Journal Desc Credit",
			IAJD.REVERSE AS "Reversal Flag",
			IAJD.CCY AS "Currency",
			CASE WHEN N_AMOUNT <> 0 
				THEN IAJD.N_AMOUNT_IDR/IAJD.N_AMOUNT  
				ELSE 0
			END AS "Exchange Rate",
			IAJD.N_AMOUNT AS "Amount ORI",
			IAJD.N_AMOUNT_IDR AS "Amount IDR"
		FROM IFRS_ACCT_JOURNAL_DATA IAJD
			JOIN TBLM_COMMONCODEDETAIL TCD ON IAJD.BRANCH = TCD.VALUE1
				AND COMMONCODE = ''B10''
			LEFT JOIN 
			(
				SELECT DISTINCT DATA_SOURCE,
					PRD_CODE,
					PRD_GROUP,
					CCY
				FROM IFRS_MASTER_PRODUCT_PARAMETER 
			) IMPP ON IAJD.DATASOURCE = IMPP.DATA_SOURCE
				AND IAJD.PRDCODE = IMPP.PRD_CODE
				AND (IMPP.CCY=''ALL'' or IAJD.CCY=IMPP.CCY)
			JOIN 
			(
				SELECT DISTINCT GLNO,
					JOURNAL_DESC,
					DOWNLOAD_DATE, 
					ISNULL(JOURNALCODE2,JOURNALCODE) as JOURNALCODE2,
					REVERSE, 
					FLAG_CF, 
					ACCTNO, 
					TRXCODE,
					CCY
				FROM IFRS_ACCT_JOURNAL_DATA 
				WHERE DRCR = ''C''
				AND DOWNLOAD_DATE = ''' + CAST(@GL_DATE AS VARCHAR(20)) + ''' 
			) IAJDC ON IAJD.DOWNLOAD_DATE = IAJDC.DOWNLOAD_DATE
				AND ISNULL(IAJD.JOURNALCODE2,IAJD.JOURNALCODE) = IAJDC.JOURNALCODE2
				AND IAJD.REVERSE = IAJDC.REVERSE
				AND IAJD.FLAG_CF = IAJDC.FLAG_CF
				AND IAJD.ACCTNO = IAJDC.ACCTNO
				AND IAJD.TRXCODE = IAJDC.TRXCODE
				AND IAJD.CCY = IAJDC.CCY
		WHERE DRCR = ''D''
			AND IAJD.DOWNLOAD_DATE = ''' + CAST(@GL_DATE AS VARCHAR(20)) + ''' '
			+ CASE WHEN @DATA_SOURCE <> ''
				THEN 'AND IAJD.DATASOURCE = ''' + @DATA_SOURCE + ''' '
				ELSE ''
			END
			+ CASE WHEN @PRD_GROUP <> ''
				THEN 'AND IMPP.PRD_GROUP IN (' + @PRD_GROUP + ') '
				ELSE ''
			END;

	EXEC(@Query);
	PRINT(@QUERY);
END;

GO
