USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SCRN_GROUP_MAPPINGRULE]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_SCRN_GROUP_MAPPINGRULE]  
(  
 @MappingRuleId int=0  
)   
as  
begin  
 select * from dbo.TBLM_MAPPING_RULE_SCREENGROUP  
 where MappingRuleId = @MappingRuleId  
end  
GO
