USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADBMAREVIEW]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_LOADBMAREVIEW]          
 @BMID int =0          
AS          
BEGIN          
	IF @BMID =0          
	BEGIN          
		SELECT
			QUESTION_TYPE,
			CAST(ROW_NUMBER() OVER(ORDER BY SEQUENCE ASC) AS varchar(10))+'. '+QUESTION_DESC AS QUESTION_DESC,
			PKID,
			SUPPORTING_FLG,
			-1 AS [VALUE],
			'' AS OPTION_DESC,
			0 AS PKID_DETAIL,
			IS_DELETE        
		FROM IFRS_AC_BM_QUEST        
		WHERE ISNULL(IS_DELETE,0) = 0        
		ORDER BY SEQUENCE ASC        
	END          
	ELSE          
	BEGIN      
        
		DECLARE @CREATEDBY AS VARCHAR(100)        
		DECLARE @CREATEDHOST AS VARCHAR(100)        
		DECLARE @UPDATEDBY AS VARCHAR(100)        
		DECLARE @UPDATEDHOST AS VARCHAR(100)          
            
		SELECT TOP 1         
			@CREATEDBY =  CREATEDBY,        
			@CREATEDHOST = CREATEDHOST,        
			@UPDATEDBY = UPDATEDBY,        
			@UPDATEDHOST = UPDATEDHOST         
		FROM IFRS_AC_BM_DETAIL         
		WHERE BMID = @BMID      
      
		MERGE IFRS_AC_BM_DETAIL AS TARGET      
		USING (
				SELECT * FROM IFRS_AC_BM_QUEST WHERE IS_DELETE = 0
			) AS SOURCE       
		ON(TARGET.QUESTIONID = SOURCE.PKID AND TARGET.BMID = @BMID)      
		WHEN NOT MATCHED BY TARGET THEN       
		INSERT
		(
			BMID,
			QUESTIONID,
			VALUE,
			REMARK,
			SUPPORTING_DOC,
			CREATEDBY,
			CREATEDDATE,
			CREATEDHOST,
			UPDATEDBY,
			UPDATEDDATE,
			UPDATEDHOST,
			IS_DELETE
		)      
		VALUES
		(
			@BMID,
			SOURCE.PKID,
			'-1',
			'',
			'',
			@CREATEDBY,
			GETDATE(),
			@CREATEDHOST,
			@UPDATEDBY,
			GETDATE(),
			@UPDATEDHOST,
			0
		);      
      
		UPDATE IFRS_AC_BM_DETAIL        
		SET IS_DELETE = 1        
		WHERE QUESTIONID IN (SELECT PKID FROM IFRS_AC_BM_QUEST WHERE IS_DELETE = 1)        
			AND BMID = @BMID          
        
		SELECT
			B.QUESTION_TYPE,
			B.QUESTION_DESC,
			B.PKID,
			B.SUPPORTING_FLG,
			B.VALUE,
			ISNULL(A.OPTION_DESC,B.VALUE) AS OPTION_DESC,
			B.SPPI_CLASS,
			B.SPPI_CLASS2,--c.pkid,
			B.BM_RSLT,
			B.PKID_DETAIL,
			B.SUPPORTING_DOC,
			B.EFFECTIVE_DATE,
			B.IS_DELETE,
			ISNULL(A.BM_NAME, B.BM_NAME) AS BM_NAME,
			A.REMARK,
			A.REMARKS
		FROM          
		(SELECT
			QUESTION_TYPE,
			CAST(ROW_NUMBER() OVER(ORDER BY A.PKID ASC) AS varchar(10))+'. '+QUESTION_DESC AS QUESTION_DESC,
			B.PKID,
			SUPPORTING_FLG,
			A.VALUE,
			C.OPTION_DESC, 
			D.SPPI_CLASS AS SPPI_CLASS,
			D.SPPI_CLASS as SPPI_CLASS2,--c.pkid,F.VALUE1 + ' - ' + F.DESCRIPTION AS BM_RSLT,
			F.VALUE1 AS BM_RSLT,
			A.PKID AS PKID_DETAIL,
			A.SUPPORTING_DOC,
			B.SEQUENCE,
			D.EFFECTIVE_DATE,
			B.IS_DELETE,
			D.BM_NAME,
			A.REMARK,
			D.REMARKS   
		FROM IFRS_AC_BM_DETAIL A          
		JOIN IFRS_AC_BM_QUEST B ON A.QUESTIONID = B.PKID          
		JOIN IFRS_AC_BM_MASTER_QUEST_D C ON CAST(A.value AS VARCHAR(MAX)) = CAST(C.PKID AS VARCHAR(MAX))          
		JOIN IFRS_AC_BM_HEADER D ON A.BMID = D.PKID          
		--JOIN IFRS_AC_SPPI_HEADER E ON D.SPPI_CLASS = E.PKID          
		LEFT JOIN TBLM_COMMONCODEDETAIL F ON F.VALUE1 = D.BM_RSLT AND F.COMMONCODE = 'CA02'          
		WHERE D.PKID =  @BMID
			AND ISNULL(A.IS_DELETE, 0) = 0) A          
		RIGHT JOIN          
		(SELECT
			QUESTION_TYPE,CAST(ROW_NUMBER() OVER(ORDER BY A.PKID ASC) AS varchar(10))+'. '+QUESTION_DESC AS QUESTION_DESC,
			B.PKID,SUPPORTING_FLG,A.VALUE,
			'' OPTION_DESC,
			D.SPPI_CLASS AS SPPI_CLASS,
			D.SPPI_CLASS as SPPI_CLASS2,--c.pkid,F.VALUE1 + ' - ' + F.DESCRIPTION AS BM_RSLT,    
			F.VALUE1 AS BM_RSLT,    
			A.PKID AS PKID_DETAIL,
			A.SUPPORTING_DOC,
			B.SEQUENCE,
			D.EFFECTIVE_DATE,
			B.IS_DELETE,
			A.REMARK,
			D.BM_NAME     
		FROM IFRS_AC_BM_DETAIL A          
		JOIN IFRS_AC_BM_QUEST B ON A.QUESTIONID = B.PKID          
		--JOIN IFRS_AC_BM_MASTER_QUEST_D C ON CAST(A.value AS VARCHAR(MAX)) = CAST(C.PKID AS VARCHAR(MAX))          
		JOIN IFRS_AC_BM_HEADER D ON A.BMID = D.PKID          
		--JOIN IFRS_AC_SPPI_HEADER E ON D.SPPI_CLASS = E.PKID          
		LEFT JOIN TBLM_COMMONCODEDETAIL F ON F.VALUE1 = D.BM_RSLT AND F.COMMONCODE = 'CA02'          
		WHERE D.PKID =  @BMID)B          
		ON A.PKID = B.PKID    
		WHERE B.IS_DELETE = 0      
		ORDER BY B.SEQUENCE        
        
		--ORDER BY TABLE_RESULT.SEQUENCE        
	END          
END

GO
