USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_RATING_EXTRA_MAR_PD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_RATING_EXTRA_MAR_PD]
(
@PD_RULE_ID AS BIGINT,
@PERIOD AS DATE
)
AS
BEGIN

DECLARE @QUERY NVARCHAR(MAX)
DECLARE @V_ColumnName VARCHAR(MAX);    
DECLARE @V_ColumnNameAS VARCHAR(MAX);    

SELECT @V_ColumnNameAS = COALESCE(@V_ColumnNameAS + ',', '') + '[' + CAST(FL_SEQ AS varchar(10)) + ']' + ' AS [Year ' + CAST(FL_SEQ AS varchar(10)) + ']',  
	@V_ColumnName = COALESCE(@V_ColumnName + ',', '') + '[' + CAST(FL_SEQ AS varchar(10)) + ']'
 FROM   
 (SELECT DISTINCT FL_SEQ
    FROM IFRS_PD_MAA_CORP_EXTRAPOLATION PD
	WHERE PD_RULE_ID = @PD_RULE_ID
		AND DOWNLOAD_DATE = @PERIOD) A  
ORDER BY FL_SEQ

--SELECT @V_ColumnNameAS
--SELECT @V_ColumnName

SET @QUERY = ''  
SET @QUERY = @QUERY + 'SELECT BUCKET_NAME AS ''MPD (%)'', '  
SET @QUERY = @QUERY + @V_ColumnNameAS
SET @QUERY = @QUERY + 'FROM(SELECT BUCKET_NAME, '  
SET @QUERY = @QUERY + @V_ColumnName
SET @QUERY = @QUERY + 'FROM(SELECT BUCKET_NAME, FL_SEQ, '  
SET @QUERY = @QUERY + 'MAX(ISNULL(MARGINAL_PD_RATE,0)) * 100 AS AMOUNT '  
SET @QUERY = @QUERY + 'FROM IFRS_PD_MAA_CORP_EXTRAPOLATION '  
SET @QUERY = @QUERY + 'WHERE PD_RULE_ID = ' + CAST(@PD_RULE_ID AS VARCHAR(20)) + ' '
SET @QUERY = @QUERY + ' AND DOWNLOAD_DATE = ''' + CONVERT(VARCHAR(12),EOMONTH(@PERIOD),112) + ''' '
SET @QUERY = @QUERY + ' GROUP BY BUCKET_NAME, FL_SEQ )TMP '  
SET @QUERY = @QUERY + 'pivot(sum(AMOUNT) for FL_SEQ IN ('+ @V_ColumnName +'))PVT '  
SET @QUERY = @QUERY + ')A '  

PRINT(@QUERY)
EXEC(@QUERY)      

END

GO
