USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_RETAIL_EAD_CHART]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[USPS_ECL_RETAIL_EAD_CHART]
(
	@Period datetime='1900-01-01',
	@ProdType varchar(50)='',
	@Tenor int=0
)
as
BEGIN

	select EAD_YEAR, EAD_RATE * 100 as EAD_RATE
	from IFRS_EAD_TERM_STRUCTURE_RETAIL
	where PRODUCT_TYPE = @ProdType
	AND REMAINING_TENOR = @Tenor
	and EAD_DATE = @Period

END
 

GO
