USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKSEGMENTPSAK55]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_CEKSEGMENTPSAK55]  
(  
 @cekSegmentPSAK55 varchar(50) = '',
 @cekProductCode varchar(20) = '',   
 @cekPKID bigint = 0  
)  
AS  
BEGIN
  
	SELECT
	(SELECT SEGMENT_PSAK55
	FROM PRODUCT_SEGMENT_PSAK55  
	WHERE UPPER(SEGMENT_PSAK55) = UPPER(LTRIM(RTRIM(@cekSegmentPSAK55)))
		AND PKID <> @cekPKID  
		AND ISNULL(IS_DELETE,0) = 0) AS SEGMENT_PSAK55,
	
	(SELECT value AS PRODUCT_CODE
	FROM PRODUCT_SEGMENT_PSAK55
	CROSS APPLY STRING_SPLIT(PRODUCT_CODE,';')
	WHERE value IN (SELECT VALUE FROM dbo.STRING_SPLIT((@cekProductCode), ';'))
		AND PKID <> @cekPKID
		AND ISNULL(IS_DELETE, 0) = 0) AS PRODUCT_CODE,
	
	(SELECT SEGMENT_PSAK55 FROM  
	(SELECT HEADERID, SEGMENT_PSAK55
		FROM  (SELECT ISNULL(NEWVALUE,OLDVALUE) AS VALUE, FIELDNAME, HEADERID  
				FROM TBLT_APPROVALDETAIL  WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER   WHERE SCREENID = 'SEGMENT_PSAK55_PARAMETER' 
		AND STATUS='P') )d  pivot  (max(value) for FIELDNAME in (SEGMENT_PSAK55)) piv)A  
	WHERE SEGMENT_PSAK55 = @cekSegmentPSAK55) AS SEGMENT_PSAK55_PENDING,

	(SELECT TOP 1 VALUE FROM
	(SELECT *
		FROM  (SELECT ISNULL(NEWVALUE,OLDVALUE) AS VALUE, FIELDNAME, HEADERID  
				FROM TBLT_APPROVALDETAIL  WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER   WHERE SCREENID = 'SEGMENT_PSAK55_PARAMETER'
		AND STATUS='P') )d  pivot  (max(value) for FIELDNAME in (PRODUCT_CODE)) piv CROSS APPLY STRING_SPLIT(PRODUCT_CODE,';')) A
	WHERE VALUE IN (SELECT VALUE FROM dbo.STRING_SPLIT((@cekProductCode), ';'))) AS PRODUCT_CODE_PENDING
  
END;

GO
