USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_ECL_DETAIL_LGD]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_ECL_DETAIL_LGD]      
(      
 @ECL_MODEL_ID INT = 0      
)      
AS    
BEGIN    
    
SELECT    
	B.PKID RULE_ID    
	,GROUP_SEGMENT    
	,SEGMENT    
	,B.SUB_SEGMENT    
	,A.SEGMENTATION_ID    
	,A.LGD_MODEL_ID AS LGD_RULE_ID
	,CASE WHEN LGD_MODEL_ID = 99999 THEN 'LGD_100%' ELSE C.LGD_RULE_NAME END AS RULE_NAME    
	,A.LGD_MODEL_ID AS LGD_MODEL_ID    
	,A.ME_MODEL_ID AS ME_MODEL_ID    
	,CASE WHEN LGD_MODEL_ID = 99999 THEN 'LGD_100%' ELSE SUBTABLE.SUB_SEGMENT END AS LGD_SEGMENT    
	,CASE WHEN (A.ME_MODEL_ID = 0) THEN 'NO MODEL' ELSE D.MODEL_NAME END AS MODEL_NAME    
	,A.EFF_DATE_OPTION    
	,CONVERT(VARCHAR(20),A.EFF_DATE,113) EFF_DATE    
FROM IFRS_ECL_MODEL_DETAIL_LGD A
LEFT JOIN IFRS_MSTR_SEGMENT_RULES_HEADER B ON A.SEGMENTATION_ID = B.PKID
LEFT JOIN IFRS_LGD_RULES_CONFIG C ON A.LGD_MODEL_ID = C.PKID      
LEFT JOIN (SELECT SUB_SEGMENT,PKID FROM IFRS_MSTR_SEGMENT_RULES_HEADER WHERE ISNULL(IS_DELETE, 0) = 0) SUBTABLE ON  SUBTABLE.PKID = C.SEGMENTATION_ID    
LEFT JOIN IFRS_MACRO_ECONOMIC_MODEL D ON A.ME_MODEL_ID = C.PKID    
WHERE A.ECL_MODEL_ID = @ECL_MODEL_ID
AND ISNULL(A.IS_DELETE, 0) = 0 
--- ADD SORT ECL WIZARD  
ORDER BY GROUP_SEGMENT,SEGMENT,B.SUB_SEGMENT
END

GO
