USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_SETUPBMADETAIL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPI_SETUPBMADETAIL] 
(
	@QUESTION_TYPE int=0
	,@QUESTION_DESC varchar(100)=''
	,@OPTION_NUMBER int=0 
	,@OPTION_ID bigint=0
	,@OPTION_DESC varchar(100)=''
	,@CreatedBy varchar(50) = ''
	,@CreatedHost varchar(20) = ''
)
AS
BEGIN
	DECLARE @QUESTIONID bigint
	SELECT @QUESTIONID = MAX(PKID) FROM [IFRS_AC_BM_QUEST]  where  [QUESTION_TYPE]=@QUESTION_TYPE  and [QUESTION_DESC]=@QUESTION_DESC  and [OPTION_NUMBER]=@OPTION_NUMBER
	       
	INSERT INTO [IFRS_AC_BM_MASTER_QUEST_D] ([QUESTIONID], [OPTION_ID], [OPTION_DESC], CreatedBy, CreatedHost, CreatedDate)                        
	VALUES (@QUESTIONID, @OPTION_ID, @OPTION_DESC, @CreatedBy, @CreatedHost, GETDATE())                     
END

GO
