USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_SETUP_CLASSIFICATION]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_SETUP_CLASSIFICATION]      
              
AS          
BEGIN          
      
      
  select       
  a.PKID,      
  c.BM_NAME,      
  a.SPPIID,       
  b.CLASSNAME,      
  a.SPPI_RSLT,      
  CASE a.BM_RSLT
  WHEN 'AFS' THEN 'Hold to Collect and Sell'
  WHEN 'HTM' THEN 'Hold to Collect'
  WHEN 'TRADE' THEN 'Others'
  END AS BM_RSLT,      
  CASE WHEN a.FV_OPTION = 1      
  THEN 'True'      
  ELSE 'False'      
  END AS FV_OPTION,      
  a.ASSET_CLASS,      
  a.EFF_DATE,
  CASE WHEN a.UPDATEDDATE IS NULL THEN a.CREATEDDATE
  ELSE a.UPDATEDDATE
  END AS CREATEDDATE,
  USERS.USERNAME AS CREATEDBY 
 from IFRS_AC_MAPPING a     
 join IFRS_AC_SPPI_HEADER B ON A.SPPIID = B.PKID    
 join IFRS_AC_BM_HEADER c     
 on a.BMID = c.PKID    
 left join TBLM_USER USERS
 on USERS.PKID = a.createdby
    
 WHERE ISNULL(a.IS_DELETE,0) = 0     
 ORDER BY CREATEDDATE DESC  
    
         
END; 
GO
