USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LIGHTPDMODELH]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LIGHTPDMODELH]
as  
begin  
 SELECT
	A.PKID,
	LIGHT_PD_MODEL_NAME,
	PD_EFF_PERIOD,
	BOOTSTRAP_NAME,
	TM_RULE_NAME,
	ISNULL(A.ACTIVE_FLAG,0) ACTIVE
 FROM IFRS_LIGHT_PD_CONFIG A
 LEFT JOIN IFRS_PD_BOOTSTRAP_CONFIG B ON A.BOOTSTRAP_RULE_ID = B.PKID
 LEFT JOIN IFRS_PD_TRANS_MATRIX_CONFIG C ON A.TM_RULE_ID = C.PKID
end 



GO
