USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_DBR_EIR_IFRS9_DTLTWO]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_DBR_EIR_IFRS9_DTLTWO]
(
    @DownloadDate DATE, 
	@AmortMethod VARCHAR(20), 
    @ProductCode VARCHAR(20),
	@Screen VARCHAR(20)
) 
AS 
BEGIN
    
	IF @Screen = 'A'
	BEGIN
	SELECT CONVERT(VARCHAR(6), DOWNLOAD_DATE, 112) AS DOWNLOAD_DATE,
		@AmortMethod,
		PRODUCT_CODE,
		MASTERID,
		SUM(INITIAL_FEE) AS "INITIAL_FEE",
		SUM(INITIAL_COST) AS "INITIAL_COST",
		SUM(UNAMORT_FEE) AS "UNAMORT_FEE",
		SUM(UNAMORT_COST) AS "UNAMORT_COST",
		SUM(AMORT_FEE) AS "AMORT_FEE",
		SUM(AMORT_COST) AS "AMORT_COST",
		SUM(AMORT_FEE_MTD) AS "AMORT_FEE_MTD",
		SUM(AMORT_COST_MTD) AS "AMORT_COST_MTD",
		SUM(AMORT_FEE_YTD) AS "AMORT_FEE_YTD",
		SUM(AMORT_COST_YTD) AS "AMORT_COST_YTD"
	FROM IFRS_NOMINATIF_MONTHLY
	WHERE CONVERT(VARCHAR(6), DOWNLOAD_DATE, 112) = CONVERT(VARCHAR(6), @DownloadDate, 112)
		AND PRODUCT_CODE = @ProductCode
		AND AMORT_TYPE = @AmortMethod
	GROUP BY MASTERID,
		DOWNLOAD_DATE,
		PRODUCT_CODE
	HAVING SUM(INITIAL_FEE) <> 0
		OR SUM(INITIAL_COST) <> 0
		--AND SUM(INITIAL_COST) > 0
	ORDER BY MASTERID;
	END

	ELSE IF @Screen = 'L'
	BEGIN
		SELECT CONVERT(VARCHAR(6), DOWNLOAD_DATE, 112) AS DOWNLOAD_DATE,
		@AmortMethod,
		PRODUCT_CODE,
		MASTERID,
		SUM(INITIAL_FEE) AS "INITIAL_FEE",
		SUM(INITIAL_COST) AS "INITIAL_COST",
		SUM(UNAMORT_FEE) AS "UNAMORT_FEE",
		SUM(UNAMORT_COST) AS "UNAMORT_COST",
		SUM(AMORT_FEE) AS "AMORT_FEE",
		SUM(AMORT_COST) AS "AMORT_COST",
		SUM(AMORT_FEE_MTD) AS "AMORT_FEE_MTD",
		SUM(AMORT_COST_MTD) AS "AMORT_COST_MTD",
		SUM(AMORT_FEE_YTD) AS "AMORT_FEE_YTD",
		SUM(AMORT_COST_YTD) AS "AMORT_COST_YTD"
	FROM IFRS_LI_NOMINATIF_MONTHLY
	WHERE CONVERT(VARCHAR(6), DOWNLOAD_DATE, 112) = CONVERT(VARCHAR(6), @DownloadDate, 112)
		AND PRODUCT_CODE = @ProductCode
		AND AMORT_TYPE = @AmortMethod
	GROUP BY MASTERID,
		DOWNLOAD_DATE,
		PRODUCT_CODE
	HAVING SUM(INITIAL_FEE) <> 0
		OR SUM(INITIAL_COST) <> 0
		--AND SUM(INITIAL_COST) > 0
	ORDER BY MASTERID;
	END

END;
GO
