USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETMODULEDCHILDBYGROUP]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USPS_GETMODULEDCHILDBYGROUP]      
 @ModuleID varchar(50),      
 @GroupID bigint,      
 @ParentID varchar(100)=''      
as       
 select c.ModuleID, a.ScreenID, c.Url, c.Title from dbo.tblM_ScreenGroupDetail a with (nolock)      
 inner join tblM_ScreenGroupHeader b with (nolock)      
 on b.PKID = a.ScreenGroupID      
 inner join tblM_Screen c with (nolock)      
 on c.ScreenID = a.ScreenID       
 where c.ModuleID = @ModuleID      
  and isnull(c.ParentID,'') = @ParentID      
  and b.PKID = @GroupID      
  and c.IsMenu = 1      
  and c.Active = 1    
  and a.CanView = 1  
 order by c.Sequence






GO
