USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPI_INDIVIDUAL_REVIEW_COLLATERAL]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPI_INDIVIDUAL_REVIEW_COLLATERAL](                             
 @MASTERID VARCHAR(100),      
 @INFORMATION VARCHAR(100),      
 @COLLATERAL_TYPE VARCHAR(100),      
 @MARKET_VALUE DECIMAL(32,3),      
 @LIQUIDATED_VALUE DECIMAL(32,3),      
 @REMARKS VARCHAR(400),      
 @CreatedBy VARCHAR(50),      
 @CreatedHost VARCHAR(50)                        
)                                    
AS                                    
BEGIN                                    
      
 INSERT INTO IFRS_IMP_OVERRIDE_COLLATERAL_TEMP(      
 DCFID,      
 MASTERID,      
 INFORMATION,      
 COLLATERAL_TYPE,      
 MARKET_VALUE,      
 LIQUIDATED_VALUE,      
 REMARKS,      
 CREATEDBY,      
 CREATEDDATE,      
 CREATEDHOST)      
  VALUES(      
 0,      
 @MASTERID,      
 @INFORMATION,      
 @COLLATERAL_TYPE,      
 @MARKET_VALUE,      
 @LIQUIDATED_VALUE,      
 @REMARKS,      
 @CreatedBy,      
 GETDATE(),      
 @CreatedHost)      
                        
END

GO
