USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_COMMONTABLEBYJOBNO]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_COMMONTABLEBYJOBNO]
(
	@JobNo varchar(50)
)
AS
BEGIN

	SELECT a.*, c.DatabaseName 
	FROM tblM_CommonTable a WITH (NOLOCK) 
		JOIN tblM_Job b WITH (NOLOCK) ON a.JobNo = b.JobNo
		JOIN tblM_Module c WITH (NOLOCK) ON c.ModuleID = b.ModuleID
	WHERE a.JobNo = @JobNo;

END;

GO
