USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSNAPSHOTPDMAA]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USPS_LOOKUPSNAPSHOTPDMAA]
(
@PD_RULE_ID AS BIGINT,
@PERIOD AS DATE
)
AS
BEGIN
DECLARE @TABLE VARCHAR(50)
DECLARE @PD_METHOD VARCHAR(50)

SELECT @PD_METHOD = PD_METHOD FROM IFRS_PD_RULES_CONFIG WHERE PKID = @PD_RULE_ID

IF @PD_METHOD = 'MAA_CORP'
BEGIN
	SELECT DISTINCT FL_SEQ 
	FROM IFRS_PD_MAA_CORP_MMULT 
	WHERE PD_RULE_ID = @PD_RULE_ID
		AND DOWNLOAD_DATE = @PERIOD
	ORDER BY FL_SEQ ASC
END
ELSE
BEGIN
	SELECT DISTINCT FL_SEQ 
	FROM IFRS_PD_MAA_MMULT 
	WHERE PD_RULE_ID = @PD_RULE_ID
		AND DOWNLOAD_DATE = @PERIOD
	ORDER BY FL_SEQ ASC
END
END

GO
