USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPSEARCHDATA]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOOKUPSEARCHDATA]
    @grid_name varchar(50)
AS
BEGIN
        SELECT FIELDNAME, COLUMNTYPE
        FROM TBLS_GRIDCOLUMNS
        WHERE SHOWSELECT = '1' AND
            COLUMNTYPE <> 'HYPERLINK' AND
            COLUMNTYPE <> 'CHECK' AND
            GRIDID = @grid_name
            
END

GO
