USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPU_PARAMTRANS]    Script Date: 14/06/2024 06:32:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPU_PARAMTRANS]              
(              
@PKID bigint
,@INST_CLS_VALUE varchar(10)=''        
,@DATA_SOURCE varchar(20)='' 
,@PRD_CODE varchar(20)=''
,@PRD_TYPE varchar(50)=''
,@TRANSACTION_DESC varchar(50)=''
,@ASSET_TYPE_PRODUCT1 varchar(100)=''
,@TRX_CODE varchar(20)=''
,@IFRS_TXN_CLASS varchar(5)=''
,@AMORTIZATION_FLAG bit=0
,@CCY varchar(5)=''
,@AMORT_TYPE varchar(10)=''
,@GL_CODE VARCHAR(50) = ''
--,@TXN_COST_MAT_TYPE varchar(10)=''
--,@TXN_COST_MAT_AMT varchar(38)='0'
--,@ORG_FEE_MAT_TYPE varchar(10)=''
--,@ORG_FEE_MAT_AMT varchar(38)='0'
--,@TENOR_AMORTIZATION int=0
--,@SL_EXP_LIFE int=0
,@UpdatedBy varchar(36)=''              
,@UpdatedHost varchar(30)=''
)              
AS              
BEGIN   
              
UPDATE [dbo].[IFRS_MASTER_TRANS_PARAM]              
   SET [INST_CLS_VALUE] = @INST_CLS_VALUE
		,[DATA_SOURCE] = @DATA_SOURCE
		,[PRD_CODE] = @PRD_CODE
		,[PRD_TYPE] = @PRD_TYPE
		,[TRANSACTION_DESC] = LTRIM(RTRIM(@TRANSACTION_DESC))
		,[PRD_TYPE_1] = @ASSET_TYPE_PRODUCT1
		,[TRX_CODE] = LTRIM(RTRIM(@TRX_CODE))
		,[IFRS_TXN_CLASS] = @IFRS_TXN_CLASS        
		,[AMORTIZATION_FLAG] = @AMORTIZATION_FLAG
		,[CCY] = @CCY
		,[AMORT_TYPE] = @AMORT_TYPE
		,[GL_CODE]  = LTRIM(RTRIM(@GL_CODE))       
		--,[TXN_COST_MAT_TYPE] = @TXN_COST_MAT_TYPE
		--,[TXN_COST_MAT_AMT] = REPLACE(@TXN_COST_MAT_AMT,',','.')
		--,[ORG_FEE_MAT_TYPE] = @ORG_FEE_MAT_TYPE
		--,[ORG_FEE_MAT_AMT] = REPLACE(@ORG_FEE_MAT_AMT,',','.')
		--,[TENOR_AMORTIZATION] = CASE WHEN @TENOR_AMORTIZATION = '0' THEN '' ELSE @TENOR_AMORTIZATION END
		--,[SL_EXP_LIFE] = @SL_EXP_LIFE
		,[UPDATEDBY] = @UpdatedBy              
		,[UPDATEDDATE] = GETDATE()              
		,[UPDATEDHOST] = @UpdatedHost              
 WHERE PKID = @PKID AND IS_DELETE = 0
              
END



GO
