USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETKEYDATA]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETKEYDATA]
(
	@Key varchar(200)
)
AS
BEGIN

    SET NOCOUNT ON;
  
    SELECT CommonTableName,   
        Information,   
        JobNo,   
        PackageName  
    FROM dbo.tblM_CommonTable
    WHERE CommonTableName = @Key;
  
END

GO
