USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOOKUPBRANCHH]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_LOOKUPBRANCHH]    
as    
 select Cast([PKID] as varchar(10))+'-'+Name as [Branch Group] , BranchGroupID=PKID from tblM_BranchGroupHeader   
 order by Name





GO
