USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_CEKDATAJFPORTIONPARAM]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_CEKDATAJFPORTIONPARAM]
(
 @cekDataCode varchar(100) = '',
 @cekPKID bigint = 0
)
AS
BEGIN
DECLARE @COUNT INT
DECLARE @COUNTPENDING INT

 SELECT @COUNT = COUNT(*)
 FROM IFRS_JF_PORTION_PARAM
 WHERE UPPER(PRODUCT_CODE) = UPPER(@cekDataCode) AND PKID <> @cekPKID;
 
 SELECT @COUNTPENDING = COUNT(*) FROM
 (SELECT HEADERID, PRODUCT_CODE, PRINCIPAL_PORTION, INTEREST_PORTION, TRANSACTION_PORTION
 FROM
 (
  SELECT ISNULL(OLDVALUE,NEWVALUE) AS VALUE, FIELDNAME, HEADERID
  FROM TBLT_APPROVALDETAIL 
  WHERE HEADERID IN (SELECT PKID FROM TBLT_APPROVALHEADER
		WHERE SCREENID='PARAM_JOIN_FINANCE_PORTION' AND STATUS='P')
 )d
 pivot
 (
  max(value)
  for FIELDNAME in (PRODUCT_CODE, PRINCIPAL_PORTION, INTEREST_PORTION, TRANSACTION_PORTION)
  ) piv)A
  WHERE 
  PRODUCT_CODE = @cekDataCode
  
  SELECT @COUNT AS "COUNT", @COUNTPENDING AS "COUNTPENDING"

END;
GO
