USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPD_TmpModelMEDependent]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- USPD_TMPMODELMEDEPENDENT  (Procedure) 
--
CREATE PROCEDURE [dbo].[USPD_TmpModelMEDependent]
(
   @PKID int = 0
)
AS
BEGIN

    DELETE TMP_IFRS_DEPENDENT_VARIABLE
    WHERE PKID = @PKID;
    
END;

GO
