USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GRIDCOLUMNS]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_GRIDCOLUMNS]    
(    
 @gridid varchar(50)      
)    
AS    
begin     
   
 SELECT * FROM tblS_GridColumns nolock where GridID = @gridid  order by sequence
           
end


GO
