USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPR_TRANSFER_CRITERIA]    Script Date: 14/06/2024 06:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPR_TRANSFER_CRITERIA]
(
	@DOWNLOAD_DATE date = '01/01/2000',
	@STAGE bigint = 0,
	@SUB_SEGMENT varchar(100) = ''
)
AS
BEGIN
SET NOCOUNT ON; 
DECLARE @V_QUERY varchar(max);
DECLARE @COLUMNS varchar(max);
DECLARE @COLUMNS2 varchar(max);

SET @COLUMNS = ''

SELECT @COLUMNS = @COLUMNS + COLUMN_NAME + ' AS ['+DESCRIPTION+'], ' FROM IFRS_SCENARIO_RULES_DETAIL A
LEFT JOIN TBLM_COMMONCODEDETAIL C ON A.COLUMN_NAME = C.VALUE1 AND C.COMMONCODE='B31'
WHERE DETAIL_TYPE='SICR'
	AND STAGE_TO = @STAGE
GROUP BY COLUMN_NAME, DESCRIPTION

--SELECT SUBSTRING(@COLUMNS, 0, LEN(@COLUMNS))

--SET @COLUMNS2 = (SELECT SUBSTRING(@COLUMNS, 0, LEN(@COLUMNS)))

--SELECT @COLUMNS2

SET @V_QUERY =
	'SELECT
		ACCOUNT_NUMBER "Account Number"
		,DAY_PAST_DUE "DPD"
		,'+@COLUMNS+'
		CASE WHEN SICR_FLAG = 1 THEN ''Yes'' ELSE ''No'' END AS "SICR"
		,STAGE
	FROM IFRS_MASTER_ACCOUNT_MONTHLY
	WHERE DOWNLOAD_DATE = '''+CONVERT(varchar(20),@DOWNLOAD_DATE,120)+''' 
		AND STAGE = '+CAST(@STAGE AS varchar(10))+' 
		AND SUB_SEGMENT = '''+@SUB_SEGMENT+'''
	';

PRINT (@V_QUERY);
EXEC (@V_QUERY);

END

GO
