USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_LI_SYNC_UPLOAD_TRAN_DAILY]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IFRS_LI_SYNC_UPLOAD_TRAN_DAILY] AS      
      
BEGIN      
      
 DECLARE @V_CURRDATE DATE      
      
 SELECT @V_CURRDATE = CURRDATE FROM DBO.IFRS_LI_PRC_DATE_AMORT      
       
 BEGIN TRANSACTION      

DELETE IFRS_LI_TRANSACTION_DAILY WHERE DOWNLOAD_DATE = @V_CURRDATE AND SOURCE_TABLE = 'TBLU_TRANS_LIAB'      

  INSERT INTO IFRS_LI_TRANSACTION_DAILY (    
 DOWNLOAD_DATE,    
 EFFECTIVE_DATE,    
 MATURITY_DATE,    
 MASTERID,    
 ACCOUNT_NUMBER,    
 FACILITY_NUMBER,    
 CUSTOMER_NUMBER,    
 BRANCH_CODE,    
 DATA_SOURCE,    
 PRD_TYPE,    
 PRD_CODE,    
 TRX_CODE,    
 CCY,    
 EVENT_CODE,    
 TRX_REFERENCE_NUMBER,    
 ORG_CCY_AMT,    
 EQV_LCY_AMT,    
 DEBET_CREDIT_FLAG,    
 TRX_SOURCE,    
 INTERNAL_NO,    
 REVOLVING_FLAG,    
 CREATED_DATE,    
 SOURCE_TABLE,    
 TRX_LEVEL    
  )      
  SELECT A.TRANSACTION_DATE AS DOWNLOAD_DATE,      
    A.TRANSACTION_DATE AS EFFECTIVE_DATE,      
    C.LOAN_DUE_DATE AS MATURITY_DATE,      
    C.MASTERID,      
    A.ACCOUNT_NUMBER,      
    NULL AS FACILITY_NUMBER,      
    C.CUSTOMER_NUMBER,      
    C.BRANCH_CODE,      
    C.DATA_SOURCE,      
    C.PRODUCT_TYPE,      
    A.PRD_CODE,      
    A.TRX_CODE,      
    A.CURRENCY,      
    NULL AS EVENT_CODE,      
    NULL AS TRX_REFERENCE_NUMBER,      
    A.INITIAL_COST_AMOUNT AS ORG_CCY_AMT,      
    A.INITIAL_COST_AMOUNT * C.EXCHANGE_RATE AS EQV_LCY_AMT,      
    A.DEBIT_CREDIT_FLAG,      
    NULL AS TRX_SOURCE,      
    NULL AS INTERNAL_NO,      
    NULL AS REVOLVING_FLAG,      
    GETDATE(),    
    'TBLU_TRANS_LIAB' AS SOURCE_TABLE,      
    NULL AS TRX_LEVEL      
  FROM TBLU_TRANS_LIAB A    
  JOIN IFRS_LI_MASTER_ACCOUNT C ON A.ACCOUNT_NUMBER = C.MASTERID AND CAST(A.TRANSACTION_DATE AS DATE) = C.DOWNLOAD_DATE    
  JOIN IFRS_MASTER_TRANS_PARAM D ON (A.PRD_CODE = D.PRD_CODE OR D.PRD_CODE = 'ALL') AND A.TRX_CODE = D.TRX_CODE       
  WHERE D.INST_CLS_VALUE = 'L' AND CAST(A.TRANSACTION_DATE AS DATE) = @V_CURRDATE   
      
 COMMIT TRANSACTION      
      
END 
GO
