USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[SP_IFRS_SYNC_HOLIDAY]    Script Date: 14/06/2024 06:32:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_IFRS_SYNC_HOLIDAY] AS

BEGIN

	DECLARE @CURRDATE DATE

	SELECT @CURRDATE = CURRDATE FROM DBO.IFRS_PRC_DATE_AMORT
	
	BEGIN TRANSACTION

		INSERT INTO dbo.IFRS_HOLIDAY (HOLIDAY_DATE,INSERTDATE,DESCRIPTION,DOWNLOAD_DATE)
		SELECT	CONVERT(DATE, A.HOLIDAY_DATE),
				GETDATE(),
				A.DESCRIPTION,
				CONVERT(DATE, A.DOWNLOAD_DATE)
		FROM DBO.IFRS_STG_HOLIDAY A
		WHERE A.DOWNLOAD_DATE = @CURRDATE

	COMMIT TRANSACTION

END

/**/




GO
