USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_LOADCOMBOUDCONFIG]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USPS_LOADCOMBOUDCONFIG]      
      
AS      
BEGIN      
      
     
    SELECT DISTINCT      
            PKID [UD_SEGMENT_ID],    
   SUB_SEGMENT [UD Sub Segment]    
        FROM IFRS_MSTR_SEGMENT_RULES_HEADER where SEGMENT_TYPE = 'UD_SEGMENT'    
  AND IS_DELETE=0  
         
END;    
GO
