USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_MEVARCLUSTERD]    Script Date: 14/06/2024 06:32:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USPS_MEVARCLUSTERD](  
@MODEL_ID int  
,@IS_SIMULATION bit  
,@CLUSTER bigint)  
AS  
BEGIN  
   
 IF (@IS_SIMULATION = 1)  
 BEGIN  
  SELECT  
   VARIABLENAME  
   ,R_SQUARE_OWN  
   ,R_SQUARE_NEXT  
   ,R_SQUARE_RATIO  
  FROM TMP_IFRS_VARCLUS_CLUSTER_DTL  
  WHERE MODEL_ID = @MODEL_ID  
   AND CLUSTER = @CLUSTER  
  ORDER BY VARIABLENAME  
 END  
 ELSE  
 BEGIN  
  SELECT  
   VARIABLENAME  
   ,R_SQUARE_OWN  
   ,R_SQUARE_NEXT  
   ,R_SQUARE_RATIO  
  FROM IFRS_VARCLUS_CLUSTER_DTL  
  WHERE MODEL_ID = @MODEL_ID  
   AND CLUSTER = @CLUSTER  
  ORDER BY VARIABLENAME  
 END  
  
END  
GO
