USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[EXEC_FILL_AVG_EIR_FRANS]    Script Date: 14/06/2024 06:32:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[EXEC_FILL_AVG_EIR_FRANS] @START DATE, @END DATE , @SOURCEDATE DATE,@EIR_SEGMENT varchar(100)
AS     
BEGIN     
    
  DECLARE @CURRDATE DATE

 WHILE @START <= @END    
 BEGIN        
  SET @CURRDATE = EOMONTH(@START)
    
		print @start

delete IFRS_IMP_AVG_EIR where download_date=@CURRDATE and EIR_SEGMENT=@EIR_SEGMENT;

insert into IFRS_IMP_AVG_EIR
(DOWNLOAD_DATE,EIR_SEGMENT,avg_eir,CREATEDBY,CREATEDATE)
select @CURRDATE,EIR_SEGMENT,AVG_EIR,CREATEDBY,getdate() from IFRS_IMP_AVG_EIR
where EIR_SEGMENT=@EIR_SEGMENT
and DOWNLOAD_DATE=@SOURCEDATE

    
  SET @START = EOMONTH(DATEADD(M,1,@START))    
    
 END     
    
END


GO
