USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETACTIONSTATUS]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETACTIONSTATUS]
(
	@PKID INT
)          
AS
BEGIN
  
	select ACTIONS AS ActionStatus 
	from IFRS_ASSET_CLASS_HEADER_PEND
	WHERE PKID = @PKID;

END

GO
