USE [IFRS9]
GO
/****** Object:  StoredProcedure [dbo].[USPS_GETJOBHISTSTATUS]    Script Date: 14/06/2024 06:32:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[USPS_GETJOBHISTSTATUS]
(
	@JobNo INT,   
    @PeriodDateBegin DATE,   
    @PeriodDateEnd DATE,   
    @Period VARCHAR(10)
)
AS  
BEGIN  

    SET NOCOUNT ON;
  
    SELECT Status  
    FROM dbo.tblT_JobHistory  
    WHERE JobNo = @JobNo  
		AND PeriodDate >= @PeriodDateBegin  
		AND PeriodDate < @PeriodDateEnd  
		AND Period = @Period;
  
END;

GO
